driver-tests/bpelse/scalability/Test2/ScalabilityTest2BP/src/Partners/AlarmIRP/AlarmIRPPortType.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/fm" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/fm" name="AlarmIRP">
    
    <types>
        <xsd:schema>
            <xsd:import namespace="http://services/fm" schemaLocation="AlarmIRPPortType_xsd_1.xsd"></xsd:import>
        </xsd:schema>
    </types>
    
    <message name="getAlarmsBySeverity10x1k">
        <part name="parameters" element="tns:getAlarmsBySeverity10x1k"></part>
    </message>
    <message name="getAlarmsBySeverity10x1kResponse">
        <part name="parameters" element="tns:getAlarmsBySeverity10x1kResponse"></part>
    </message>
    <message name="getAlarmsBySeverity1000x1k">
        <part name="parameters" element="tns:getAlarmsBySeverity1000x1k"></part>
    </message>
    <message name="getAlarmsBySeverity1000x1kResponse">
        <part name="parameters" element="tns:getAlarmsBySeverity1000x1kResponse"></part>
    </message>
    <message name="getAlarmsBySeverity10000x1k">
        <part name="parameters" element="tns:getAlarmsBySeverity10000x1k"></part>
    </message>
    <message name="getAlarmsBySeverity10000x1kResponse">
        <part name="parameters" element="tns:getAlarmsBySeverity10000x1kResponse"></part>
    </message>
    <portType name="AlarmIRPPortType">
        <operation name="getAlarmsBySeverity10x1k">
            <input message="tns:getAlarmsBySeverity10x1k"></input>
            <output message="tns:getAlarmsBySeverity10x1kResponse"></output>
        </operation>
        <operation name="getAlarmsBySeverity1000x1k">
            <input message="tns:getAlarmsBySeverity1000x1k"></input>
            <output message="tns:getAlarmsBySeverity1000x1kResponse"></output>
        </operation>            
        <operation name="getAlarmsBySeverity10000x1k">
            <input message="tns:getAlarmsBySeverity10000x1k"></input>
            <output message="tns:getAlarmsBySeverity10000x1kResponse"></output>
        </operation>
    </portType>
    <binding name="AlarmIRPPortTypePortBinding" type="tns:AlarmIRPPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="getAlarmsBySeverity10x1k">
            <wsp:PolicyReference URI="#AlarmIRPPortTypePortBinding_getAlarmsBySeverity10x1k_WSAT_Policy"></wsp:PolicyReference>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getAlarmsBySeverity1000x1k">
            <wsp:PolicyReference URI="#AlarmIRPPortTypePortBinding_getAlarmsBySeverity1000x1k_WSAT_Policy"></wsp:PolicyReference>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getAlarmsBySeverity10000x1k">
            <wsp:PolicyReference URI="#AlarmIRPPortTypePortBinding_getAlarmsBySeverity10000x1k_WSAT_Policy"></wsp:PolicyReference>
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="AlarmIRP">
        <port name="AlarmIRPPortTypePort" binding="tns:AlarmIRPPortTypePortBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/AlarmIRP/AlarmIRPPortType"></soap:address>
        </port>
    </service>
    <wsp:UsingPolicy></wsp:UsingPolicy>
    <wsp:Policy wsu:Id="AlarmIRPPortTypePortBinding_getAlarmsBySeverity10000x1k_WSAT_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <ns16:ATAlwaysCapability xmlns:ns16="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsp:Optional="false"></ns16:ATAlwaysCapability>
                <ns17:ATAssertion xmlns:ns18="http://schemas.xmlsoap.org/ws/2002/12/policy" xmlns:ns17="http://schemas.xmlsoap.org/ws/2004/10/wsat" ns18:Optional="true" wsp:Optional="true"></ns17:ATAssertion>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="AlarmIRPPortTypePortBinding_getAlarmsBySeverity1000x1k_WSAT_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <ns31:ATAlwaysCapability xmlns:ns31="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsp:Optional="false"></ns31:ATAlwaysCapability>
                <ns32:ATAssertion xmlns:ns33="http://schemas.xmlsoap.org/ws/2002/12/policy" xmlns:ns32="http://schemas.xmlsoap.org/ws/2004/10/wsat" ns33:Optional="true" wsp:Optional="true"></ns32:ATAssertion>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="AlarmIRPPortTypePortBinding_getAlarmsBySeverity10x1k_WSAT_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <ns46:ATAlwaysCapability xmlns:ns46="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsp:Optional="false"></ns46:ATAlwaysCapability>
                <ns47:ATAssertion xmlns:ns48="http://schemas.xmlsoap.org/ws/2002/12/policy" xmlns:ns47="http://schemas.xmlsoap.org/ws/2004/10/wsat" ns48:Optional="true" wsp:Optional="true"></ns47:ATAssertion>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>