driver-tests/sqlse/db2/SqlSE1059_DB2/SelectOneParamViewJbi/src/jbiServiceUnits/SelectOneParamViewSql/SelectOneParamViewSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SelectOneParamViewSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="SelectOneParamViewRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="SelectOneParamViewResponse"><xsd:complexType><xsd:sequence><xsd:element name="EMPID" type="xsd:int"/><xsd:element name="ENAME" type="xsd:string"/><xsd:element name="DEPTID" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="SelectOneParamViewRequest">
    <part name="SelectOneParamViewRequestPart" element="tns:SelectOneParamViewRequest"/>
  </message>
  <message name="SelectOneParamViewResponse">
    <part name="SelectOneParamViewResponsePart" element="tns:SelectOneParamViewResponse"/>
  </message>
  <portType name="SelectOneParamViewSql_sqlsePortType">
    <operation name="SelectOneParamView">
      <input name="SelectOneParamViewRequest" message="tns:SelectOneParamViewRequest"/>
      <output name="SelectOneParamViewResponse" message="tns:SelectOneParamViewResponse"/>
    </operation>
  </portType>
  <binding name="SelectOneParamViewSqlBinding" type="tns:SelectOneParamViewSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SelectOneParamView">
      <soap:operation/>
      <input name="SelectOneParamViewRequest">
        <soap:body/>
      </input>
      <output name="SelectOneParamViewResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="SelectOneParamViewSql_sqlseService">
    <port name="SelectOneParamViewSql_sqlsePort" binding="tns:SelectOneParamViewSqlBinding">
      <soap:address location="http://localhost:18181/SelectOneParamViewSql/SelectOneParamViewSql/SelectOneParamViewSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="SelectOneParamViewSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="SelectOneParamViewSql_myrole" portType="tns:SelectOneParamViewSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
