driver-tests/bpelse/SchemaElemDecl/BPwithNestedElemQualified/src/BPwithNestedElemQualified.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/BPwithNestedElemQualified"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/BPwithNestedElemQualified" name="BPwithNestedElemQualified" xmlns:ns="http://xml.netbeans.org/schema/BPwithNestedElemQualifiedSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <wsdl:types>
        <xsd:schema targetNamespace="http://xml.netbeans.org/schema/BPwithNestedElemQualifiedSchema" 
                    xmlns:tns1="http://xml.netbeans.org/schema/BPwithNestedElemQualifiedSchema"
                    elementFormDefault="qualified">
            <xsd:complexType name="MsgType">
                <xsd:sequence>
                    <xsd:element name="msgId" type="xsd:int"></xsd:element>
                    <xsd:element name="msgStr" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="NestedMsgType">
                <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string"></xsd:element>
                    <xsd:element name="msg" type="tns1:MsgType"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="NestedMsgElem" type="tns1:NestedMsgType"></xsd:element>
        </xsd:schema>    
    </wsdl:types>
    <wsdl:message name="InboundMsg">
        <wsdl:part name="part1" element="ns:NestedMsgElem"/>
    </wsdl:message>
    <wsdl:message name="OutboundMsg">
        <wsdl:part name="part1" element="ns:NestedMsgElem"/>
    </wsdl:message>
    <wsdl:portType name="ExtPT">
        <wsdl:operation name="ExtPTOper">
            <wsdl:input name="input1" message="tns:InboundMsg"/>
            <wsdl:output name="output1" message="tns:OutboundMsg"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ExtBind" type="tns:ExtPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ExtPTOper">
            <wsdl:input name="input1">
                <soap:body parts="part1" use="literal"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body parts="part1" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="nestElemQualService">
        <wsdl:port name="nestElemQualSerPort" binding="tns:ExtBind">
            <soap:address location="http://localhost:${HttpDefaultPort}/BPwithNestedElemQualified/BPwithNestedElemQualified/nestElemQualSerPort"/>
        </wsdl:port>
    </wsdl:service>
    <plnk:partnerLinkType name="BPwithNestedElemQualifiedPartner">
        <!-- partnerLinkType are automatically generated when a new portType is added. partnerLinkType are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="ExtPTRole" portType="tns:ExtPT"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="BPwithNestedElemQualifiedPartner1">
        <!-- partnerLinkType are automatically generated when a new portType is added. partnerLinkType are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="ExtPTRole" portType="tns:ExtPT"/>
    </plnk:partnerLinkType>    
</definitions>
