driver-tests/sqlse/db2/SqlSE1102_DB2/InsertOneValOneParamTableJbi/src/jbiServiceUnits/InsertOneValOneParamTableSql/InsertOneValOneParamTableSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="InsertOneValOneParamTableSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="InsertOneValOneParamTableRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="InsertOneValOneParamTableRequest">
    <part name="InsertOneValOneParamTableRequestPart" element="tns:InsertOneValOneParamTableRequest"/>
  </message>
  <message name="InsertOneValOneParamTableResponse">
    <part name="InsertOneValOneParamTableResponsePart" element="tns:numRowsEffected"/>
  </message>
  <portType name="InsertOneValOneParamTableSql_sqlsePortType">
    <operation name="InsertOneValOneParamTable">
      <input name="InsertOneValOneParamTableRequest" message="tns:InsertOneValOneParamTableRequest"/>
      <output name="InsertOneValOneParamTableResponse" message="tns:InsertOneValOneParamTableResponse"/>
    </operation>
  </portType>
  <binding name="InsertOneValOneParamTableSqlBinding" type="tns:InsertOneValOneParamTableSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="InsertOneValOneParamTable">
      <soap:operation/>
      <input name="InsertOneValOneParamTableRequest">
        <soap:body/>
      </input>
      <output name="InsertOneValOneParamTableResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="InsertOneValOneParamTableSql_sqlseService">
    <port name="InsertOneValOneParamTableSql_sqlsePort" binding="tns:InsertOneValOneParamTableSqlBinding">
      <soap:address location="http://localhost:18181/InsertOneValOneParamTableSql/InsertOneValOneParamTableSql/InsertOneValOneParamTableSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="InsertOneValOneParamTableSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="InsertOneValOneParamTableSql_myrole" portType="tns:InsertOneValOneParamTableSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
