driver-tests/httpsoapbc/HttpBCTests/HttpBCBpelPostUrlEncoded/src/HttpPostInOut.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="HttpPostInOut" targetNamespace="http://j2ee.netbeans.org/wsdl/HttpPostInOut"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/HttpPostInOut" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://xml.netbeans.org/schema/HttpPostInOut/Schema1">
    <types>
        <xsd:schema targetNamespace="http://xml.netbeans.org/schema/HttpPostInOut/Schema1" xmlns:tns1="http://xml.netbeans.org/schema/HttpPostInOut/Schema1">
            <xsd:complexType name="PayloadType">
                <xsd:sequence>
                    <xsd:element name="Datum1" type="xsd:string"></xsd:element>
                    <xsd:element name="Datum2" type="xsd:string"></xsd:element>
                    <xsd:element name="Datum3" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Payload" type="tns1:PayloadType"></xsd:element>
        </xsd:schema>
    </types>
    <message name="HttpPostInOutOperationRequest">
        <part name="part1" element="ns0:Payload"/>
    </message>
    <message name="HttpPostInOutOperationReply">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="HttpPostInOutOpertionRequestSimple">
        <wsdl:part name="part1" type="xsd:string"/>
    </message>
    <message name="HttpPostInOutOperationReplyComplex">
        <wsdl:part name="part1" element="ns0:Payload"/>
    </message>
    <portType name="HttpPostInOutPortType">
        <wsdl:operation name="HttpPostInOutOperation">
            <wsdl:input name="input1" message="tns:HttpPostInOutOperationRequest"/>
            <wsdl:output name="output1" message="tns:HttpPostInOutOperationReply"/>
        </wsdl:operation>
    </portType>
    <portType name="HttpPostInOutPortType2">
        <wsdl:operation name="HttpPostInOutOperation2">
            <wsdl:input name="input1" message="tns:HttpPostInOutOpertionRequestSimple"/>
            <wsdl:output name="output1" message="tns:HttpPostInOutOperationReplyComplex"/>
        </wsdl:operation>
    </portType>
    <binding name="HttpPostInOutBinding" type="tns:HttpPostInOutPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="HttpPostInOutOperation">
            <http:operation location="submit"/>
            <wsdl:input name="input1">
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output name="output1"/>
        </wsdl:operation>
    </binding>
    <binding name="HttpPostInOutBinding2" type="tns:HttpPostInOutPortType2">
        <http:binding verb="GET"/>
        <wsdl:operation name="HttpPostInOutOperation2">
            <http:operation location="submit"/>
            <wsdl:input name="input1">
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output name="output1"/>
        </wsdl:operation>
    </binding>
    <service name="HttpPostInOutService">
        <wsdl:port name="HttpPostInOutPort" binding="tns:HttpPostInOutBinding">
            <http:address location="http://localhost:${HttpDefaultPort}/HttpPostInOut/HttpPostInOutPort"/>
        </wsdl:port>
    </service>
    <service name="HttpPostInOutService2">
        <wsdl:port name="HttpPostInOutPort2" binding="tns:HttpPostInOutBinding2">
            <http:address location="http://localhost:${HttpDefaultPort}/HttpPostInOutService2/HttpPostInOutPort2"/>
        </wsdl:port>
    </service>
    <plnk:partnerLinkType name="HttpPostInOut1">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="HttpPostInOutPortTypeRole" portType="tns:HttpPostInOutPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="HttpPostInOut2">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="HttpPostInOutPortType2Role" portType="tns:HttpPostInOutPortType2"/>
    </plnk:partnerLinkType>
</definitions>
