contrib-imola/corba-bc/integration-test/test-provider-consumer-multipleidl-complex/provider-consumer-multipleidl-complex-http-consumer/src/main/resources/EchoSharedHTTPConsumer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EchoShared" targetNamespace="http://it.imolinfo.jbi4corba.test.testsharedprovidercomplex.EchoShared" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://it.imolinfo.jbi4corba.test.testsharedprovidercomplex.EchoShared" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://it.imolinfo.jbi4corba.test.testsharedprovidercomplex.EchoShared" xmlns="http://it.imolinfo.jbi4corba.test.testsharedprovidercomplex.EchoShared" xmlns:ns1="http://testsharedprovidercomplex.test.jbi4corba.imolinfo.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://testsharedprovidercomplex.test.jbi4corba.imolinfo.it/" schemaLocation="TypeDef_testsharedprovidercomplex.test.jbi4corba.imolinfo.it.xsd"/>
    <xs:element name="echo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="sname" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="return" type="ns1:sharedStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="echo">
    <wsdl:part name="parameters" element="tns:echo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part name="parameters" element="tns:echoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EchoShared">
    <wsdl:operation name="echo">
      <wsdl:input name="echo" message="tns:echo">
    </wsdl:input>
      <wsdl:output name="echoResponse" message="tns:echoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
    <wsdl:binding name="EchoSharedHttpBinding" type="tns:EchoShared">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="echo">
            <soap:operation/>
            <wsdl:input name="echo">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EchoSharedHTTPConsumerService">
        <wsdl:port name="EchoSharedBindingPort" binding="tns:EchoSharedHttpBinding">
            <soap:address location="http://localhost:8192/service/EchoShared"/>
        </wsdl:port>
    </wsdl:service>
    <plnk:partnerLinkType name="EchoShared">
<plnk:role name="EchoSharedPortTypeRole" portType="tns:EchoShared"/>
</plnk:partnerLinkType>
</wsdl:definitions>
