contrib-imola/corba-bc/integration-test/test-provider-consumer-multipleidl-complex/provider-consumer-multipleidl-complex-http-consumer/src/main/resources/TypeDef_testsharedprovidercomplex.test.jbi4corba.imolinfo.it.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://testsharedprovidercomplex.test.jbi4corba.imolinfo.it/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://testsharedprovidercomplex.test.jbi4corba.imolinfo.it/">
    <xs:complexType name="sharedStruct">
        <xs:sequence>
            <xs:element name="fieldName" type="xs:string"/>
            <xs:element name="fieldSName" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>