driver-tests/sqlse/sqlserver/Sqlse1607_SQL/JoinQueryWrongJbi/src/jbiServiceUnits/JoinQueryWrongSql/JoinQueryWrongSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="JoinQueryWrongSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="JoinQueryWrongRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="JoinQueryWrongResponse"><xsd:complexType><xsd:sequence><xsd:element name="empid" type="xsd:int"/><xsd:element name="empname" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="JoinQueryWrongResponse">
    <part name="JoinQueryWrongResponsePart" element="tns:JoinQueryWrongResponse"/>
  </message>
  <message name="JoinQueryWrongRequest">
    <part name="JoinQueryWrongRequestPart" element="tns:JoinQueryWrongRequest"/>
  </message>
  <portType name="JoinQueryWrongSql_sqlsePortType">
    <operation name="JoinQueryWrong">
      <input name="JoinQueryWrongRequest" message="tns:JoinQueryWrongRequest"/>
      <output name="JoinQueryWrongResponse" message="tns:JoinQueryWrongResponse"/>
    </operation>
  </portType>
  <binding name="JoinQueryWrongSqlBinding" type="tns:JoinQueryWrongSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="JoinQueryWrong">
      <soap:operation/>
      <input name="JoinQueryWrongRequest">
        <soap:body/>
      </input>
      <output name="JoinQueryWrongResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="JoinQueryWrongSql_sqlseService">
    <port name="JoinQueryWrongSql_sqlsePort" binding="tns:JoinQueryWrongSqlBinding">
      <soap:address location="http://localhost:18181/JoinQueryWrongSql/JoinQueryWrongSql/JoinQueryWrongSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="JoinQueryWrongSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="JoinQueryWrongSql_myrole" portType="tns:JoinQueryWrongSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
