driver-tests/bpelse/misc/MiscBpel/src/prjTask/SunService.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<wsdl:definitions targetNamespace="http://localhost/prjTask/SunService"
                  name="SunService"
                  xmlns:tns="http://localhost/prjTask/SunService"
                  xmlns:rsvztype="http://fgov.be/rsvz/definitions"
                  xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:type="http://localhost/prjTask/SunService"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <plink:partnerLinkType name="SunServiceSEIPartnerLink">
        <plink:role portType="tns:SunServiceSEI"
                    name="SunServiceSEIRole"></plink:role>
    </plink:partnerLinkType>
    <wsdl:types>
        <xsd:schema targetNamespace="http://localhost/prjTask/SunService"
                    xmlns:tns="http://localhost/prjTask/SunService"
                    xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
                    xmlns:rsvztype="http://fgov.be/rsvz/definitions"
                    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                    xmlns:type="http://localhost/prjTask/SunService"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            
            
            
                    
            
            
            
            
            
            
            
            
            
                    
            
            
            
            
            
            
            
            
            
            
                    <xsd:import namespace="http://fgov.be/rsvz/definitions"
                        schemaLocation="B503_Affiliation.xsd"></xsd:import>
            <xsd:element type="type:BeoordeelAansluitingRequest"
                         name="BeoordeelAansluitingRequest"></xsd:element>
            <xsd:element type="xsd:string"
                         name="SetStartProcessResponse"></xsd:element>
            <xsd:element type="type:BeoordeelAansluitingResponse"
                         name="BeoordeelAansluitingResponse"></xsd:element>
            <xsd:element name="VentourisWSException">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:string"
                                     nillable="true"
                                     name="message"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element type="xsd:string"
                         name="SetStartProcessRequest"></xsd:element>
            <xsd:element type="xsd:string"
                         name="SetTaakVerwerktRequest"></xsd:element>
            <xsd:element type="type:SetTaakVerwerktResponse"
                         name="SetTaakVerwerktResponse"></xsd:element>
            <xsd:complexType name="BeoordeelAansluitingRequest">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                                 name="processId"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BeoordeelAansluitingResponse">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                                     name="value"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SetTaakVerwerktResponse">
                <xsd:sequence></xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="BeoordeelAansluitingRequest">
        <wsdl:part name="BeoordeelAansluitingRequest"
                   element="type:BeoordeelAansluitingRequest"/>
    </wsdl:message>
    <wsdl:message name="BeoordeelAansluitingResponse">
        <wsdl:part name="BeoordeelAansluitingResponse"
                   element="type:BeoordeelAansluitingResponse"/>
    </wsdl:message>
    <wsdl:message name="BeoordeelAansluiting_VentourisWSException">
        <wsdl:part name="BeoordeelAansluiting_VentourisWSException"
                   element="type:VentourisWSException"/>
    </wsdl:message>
    <wsdl:message name="SetTaakVerwerktRequest">
        <wsdl:part name="SetTaakVerwerktRequest"
                   element="type:SetTaakVerwerktRequest"/>
    </wsdl:message>
    <wsdl:message name="SetTaakVerwerktResponse">
        <wsdl:part name="SetTaakVerwerktResponse"
                   element="type:SetTaakVerwerktResponse"/>
    </wsdl:message>
    <wsdl:message name="SetTaakVerwerkt_VentourisWSException">
        <wsdl:part name="SetTaakVerwerkt_VentourisWSException"
                   element="type:VentourisWSException"/>
    </wsdl:message>
    <wsdl:message name="SetStartProcessRequest">
        <wsdl:part name="SetStartProcessRequest"
                   element="type:SetStartProcessRequest"/>
    </wsdl:message>
    <wsdl:message name="SetStartProcessResponse">
        <wsdl:part name="SetStartProcessResponse"
                   element="type:SetStartProcessResponse"/>
    </wsdl:message>
    <wsdl:message name="SetStartProcess_VentourisWSException">
        <wsdl:part name="SetStartProcess_VentourisWSException"
                   element="type:VentourisWSException"/>
    </wsdl:message>
    <wsdl:portType name="SunServiceSEI">
        <wsdl:operation name="beoordeelAansluiting">
            <wsdl:input message="tns:BeoordeelAansluitingRequest"/>
            <wsdl:output message="tns:BeoordeelAansluitingResponse"/>
            <wsdl:fault name="BeoordeelAansluiting_VentourisWSException"
                        message="tns:BeoordeelAansluiting_VentourisWSException"/>
        </wsdl:operation>
        <wsdl:operation name="setStartProcess">
            <wsdl:input message="tns:SetStartProcessRequest"/>
            <wsdl:output message="tns:SetStartProcessResponse"/>
            <wsdl:fault name="SetStartProcess_VentourisWSException"
                        message="tns:SetStartProcess_VentourisWSException"/>
        </wsdl:operation>
        <wsdl:operation name="setTaakVerwerkt">
            <wsdl:input message="tns:SetTaakVerwerktRequest"/>
            <wsdl:output message="tns:SetTaakVerwerktResponse"/>
            <wsdl:fault name="SetTaakVerwerkt_VentourisWSException"
                        message="tns:SetTaakVerwerkt_VentourisWSException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SunServiceSEIBinding"
                  type="tns:SunServiceSEI">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="beoordeelAansluiting">
            <soap:operation soapAction="beoordeel"/>
            <wsdl:input>
                <soap:body parts="BeoordeelAansluitingRequest"
                           use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="BeoordeelAansluitingResponse"
                           use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BeoordeelAansluiting_VentourisWSException">
                <soap:fault name="BeoordeelAansluiting_VentourisWSException"
                            use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setStartProcess">
            <soap:operation soapAction="setStart"/>
            <wsdl:input>
                <soap:body parts="SetStartProcessRequest"
                           use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="SetStartProcessResponse"
                           use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SetStartProcess_VentourisWSException">
                <soap:fault name="SetStartProcess_VentourisWSException"
                            use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="setTaakVerwerkt">
            <soap:operation soapAction="setTaak"/>
            <wsdl:input>
                <soap:body parts="SetTaakVerwerktRequest"
                           use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="SetTaakVerwerktResponse"
                           use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SetTaakVerwerkt_VentourisWSException">
                <soap:fault name="SetTaakVerwerkt_VentourisWSException"
                            use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SunService">
        <wsdl:port name="SunServiceSEI"
                   binding="tns:SunServiceSEIBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/SunService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
