driver-tests/cluster/InOutService/src/calcPOTotalValue.wsdl

<?xml version="1.0" encoding="windows-1252"?>
<definitions name="calcPOTotalValue" targetNamespace="http://j2ee.netbeans.org/wsdl/InOutService/calcPOTotalValue"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://j2ee.netbeans.org/wsdl/InOutService/calcPOTotalValue"
    xmlns:ns="http://xml.netbeans.org/schema/POSchema"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/InOutService/calcPOTotalValue">
            <xsd:import namespace="http://xml.netbeans.org/schema/POSchema" schemaLocation="POSchema.xsd"/>
        </xsd:schema>
    </types>
    <message name="poMsg">
        <part name="part1" element="ns:order"/>
    </message>
    <portType name="calcPOTotalValuePortType">
        <operation name="calcPOTotalValueOperation">
            <input name="input1" message="tns:poMsg"/>
            <output name="output1" message="tns:poMsg"/>
        </operation>
        <operation name="approveCalcPOTotalValue">
            <input name="input2" message="tns:poMsg"/>
        </operation>
    </portType>
    <portType name="submitCalcTotalValuePO">
        <operation name="calcPOTotalValueOperation">
            <input name="input1" message="tns:poMsg"/>
        </operation>
        <operation name="approveCalcPOTotalValue">
            <input name="input2" message="tns:poMsg"/>
        </operation>
    </portType>
    <portType name="callbackCalcTotalValuePO">
        <operation name="getPO">
            <input name="input1" message="tns:poMsg"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="calcPOTotalValue">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="calcPOTotalValuePortTypeRole" portType="tns:calcPOTotalValuePortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="AsyncCalcTotalValuePOPLT">
        <plnk:role name="provider" portType="tns:submitCalcTotalValuePO"/>
        <plnk:role name="consumer" portType="tns:callbackCalcTotalValuePO"/>
    </plnk:partnerLinkType>
</definitions>
