ojc-core/bpelse/bpelcore/test/com/sun/jbi/engine/bpel/core/test/modelparsing/bpel/correlation/invoke2/request-response-initiatejoin/request-response-initiatejoin_parent.wsdl

<definitions targetNamespace="request-response-initiatejoinParent"
             name="request-response-initiatejoinParent"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="request-response-initiatejoinParent"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="request-response-initiatejoinParentServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
                   portType="tns:request-response-initiatejoinParentPortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="request-response-initiatejoinParentServiceLinkType1"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
                   portType="tns:request-response-initiatejoinParentPortType1"></plnk:role>
    </plnk:partnerLinkType>
    <vprop:property name="property"
                   type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:property"
                        messageType="tns:request-response-initiatejoinParentMessage"
                        part="request-response-initiatejoinParentPart">
            <vprop:query>/request-response-initiatejoinParentElement/string</vprop:query>
    </vprop:propertyAlias> 
     <vprop:propertyAlias propertyName="tns:property"
                        messageType="tns:request-response-initiatejoinParentMessage1"
                        part="request-response-initiatejoinParentPart">
            <vprop:query>/request-response-initiatejoinParentElement/string</vprop:query>
    </vprop:propertyAlias>
    
    <types>
        <xsd:schema targetNamespace="request-response-initiatejoinParent"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
                    xmlns:tns="request-response-initiatejoinParent"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
                    <xsd:element type="tns:request-response-initiatejoinParentType"
                         name="request-response-initiatejoinParentElement"></xsd:element>
            <xsd:complexType name="request-response-initiatejoinParentType">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="request-response-initiatejoinParentMessage">
        <part name="request-response-initiatejoinParentPart"
              element="tns:request-response-initiatejoinParentElement"></part>
    </message>
    <message name="request-response-initiatejoinParentMessage1">
        <part name="request-response-initiatejoinParentPart"
              element="tns:request-response-initiatejoinParentElement"></part>
    </message>
    <portType name="request-response-initiatejoinParentPortType">
        <operation name="request-response-initiatejoinParentOperation">
            <input message="tns:request-response-initiatejoinParentMessage"></input>
            <output message="tns:request-response-initiatejoinParentMessage"></output>
        </operation>
    </portType>
    <portType name="request-response-initiatejoinParentPortType1">
        <operation name="request-response-initiatejoinParentOperation1">
            <input message="tns:request-response-initiatejoinParentMessage1"></input>
        </operation>
    </portType>
    <binding name="request-response-initiatejoinParentBinding"
             type="tns:request-response-initiatejoinParentPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="request-response-initiatejoinParentOperation">
            <soap:operation soapAction="request-response-initiatejoinParentOperation"/>
            <input>
                <soap:body parts="request-response-initiatejoinParentPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="request-response-initiatejoinParentPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="request-response-initiatejoinParentBinding1"
             type="tns:request-response-initiatejoinParentPortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="request-response-initiatejoinParentOperation1">
            <soap:operation soapAction="request-response-initiatejoinParentOperation1"/>
            <input>
                <soap:body parts="request-response-initiatejoinParentPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="request-response-initiatejoinParentService">
        <port name="request-response-initiatejoinParentPort"
              binding="tns:request-response-initiatejoinParentBinding">
            <soap:address location="http://localhost:12100/service/request-response-initiatejoinParentService"/>
        </port>
        <port name="request-response-initiatejoinParentPort1"
              binding="tns:request-response-initiatejoinParentBinding1">
            <soap:address location="http://localhost:12100/service/request-response-initiatejoinParentService1"/>
        </port>
    </service>
</definitions>
