driver-tests/bpelse/dynamicpartnerlink/correlation/CorrelationOnePropBPEL/src/EventHandler/InvokeAndReply/EvHdlr_InvAndRep_subBPWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/EvHdlr_InvAndRep_subBPWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/EvHdlr_InvAndRep_subBPWSDL" name="EvHdlr_InvAndRep_subBPWSDL" xmlns:ns="http://xml.netbeans.org/schema/dataTypes.xsd" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <wsdl:types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/EvHdlr_InvAndRep_subBPWSDL">
            <xsd:import namespace="http://xml.netbeans.org/schema/dataTypes.xsd" schemaLocation="../../dataTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="EvHdlr_InvAndRep_subBPWSDLOperationRequest">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="EvHdlr_InvAndRep_subBPWSDLOperationRequest1">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:portType name="EvHdlr_InvAndRep_subBPWSDLPortType">
        <wsdl:operation name="EvHdlr_InvAndRep_subBPWSDLOperation">
            <wsdl:input name="input1" message="tns:EvHdlr_InvAndRep_subBPWSDLOperationRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="EvHdlr_InvAndRep_subBPWSDLPortType1">
        <wsdl:operation name="EvHdlr_InvAndRep_subBPWSDLOperation1">
            <wsdl:input name="input1" message="tns:EvHdlr_InvAndRep_subBPWSDLOperationRequest1"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EvHdlr_InvAndRep_subBPWSDLBinding" type="tns:EvHdlr_InvAndRep_subBPWSDLPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="EvHdlr_InvAndRep_subBPWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EvHdlr_InvAndRep_subBPWSDLBinding1" type="tns:EvHdlr_InvAndRep_subBPWSDLPortType1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="EvHdlr_InvAndRep_subBPWSDLOperation1">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>    
    <wsdl:service name="EvHdlr_InvAndRep_subBPWSDLService">
        <wsdl:port name="EvHdlr_InvAndRep_subBPWSDLPort" binding="tns:EvHdlr_InvAndRep_subBPWSDLBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/EvHdlr_InvAndRep_subBPWSDLService/EvHdlr_InvAndRep_subBPWSDLPort"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="EvHdlr_InvAndRep_subBPWSDLService1">
        <wsdl:port name="EvHdlr_InvAndRep_subBPWSDLPort" binding="tns:EvHdlr_InvAndRep_subBPWSDLBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/EvHdlr_InvAndRep_subBPWSDLService/EvHdlr_InvAndRep_subBPWSDLPort1"/>
        </wsdl:port>
    </wsdl:service>    
    <plnk:partnerLinkType name="EvHdlr_InvAndRep_subBPWSDLPartner">
        <!-- partnerLinkType are automatically generated when a new portType is added. partnerLinkType are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="EvHdlr_InvAndRep_subBPWSDLPortTypeRole" portType="tns:EvHdlr_InvAndRep_subBPWSDLPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="EvHdlr_InvAndRep_subBPWSDLPartner1">
        <!-- partnerLinkType are automatically generated when a new portType is added. partnerLinkType are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="EvHdlr_InvAndRep_subBPWSDLPortType1Role" portType="tns:EvHdlr_InvAndRep_subBPWSDLPortType1"/>
    </plnk:partnerLinkType>
</definitions>
