driver-tests/bpelse/benchmark/Ericsson/AlarmIRPBpel2/src/Partners/AlarmIRP/AlarmIRPPortType_xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:tns="http://services/fm" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/fm">

<xs:element name="getAlarmsBySeverity10000x10k" type="tns:getAlarmsBySeverity10000x10k"></xs:element>

<xs:element name="getAlarmsBySeverity10000x10kResponse" type="tns:getAlarmsBySeverity10000x10kResponse"></xs:element>

<xs:element name="getAlarmsBySeverity10000x1k" type="tns:getAlarmsBySeverity10000x1k"></xs:element>

<xs:element name="getAlarmsBySeverity10000x1kResponse" type="tns:getAlarmsBySeverity10000x1kResponse"></xs:element>

<xs:element name="getAlarmsBySeverity10000x2k" type="tns:getAlarmsBySeverity10000x2k"></xs:element>

<xs:element name="getAlarmsBySeverity10000x2kResponse" type="tns:getAlarmsBySeverity10000x2kResponse"></xs:element>

<xs:element name="getAlarmsBySeverity10000x5k" type="tns:getAlarmsBySeverity10000x5k"></xs:element>

<xs:element name="getAlarmsBySeverity10000x5kResponse" type="tns:getAlarmsBySeverity10000x5kResponse"></xs:element>

<xs:element name="getAlarmsBySeverity1000x10k" type="tns:getAlarmsBySeverity1000x10k"></xs:element>

<xs:element name="getAlarmsBySeverity1000x10kResponse" type="tns:getAlarmsBySeverity1000x10kResponse"></xs:element>

<xs:element name="getAlarmsBySeverity1000x1k" type="tns:getAlarmsBySeverity1000x1k"></xs:element>

<xs:element name="getAlarmsBySeverity1000x1kResponse" type="tns:getAlarmsBySeverity1000x1kResponse"></xs:element>

<xs:element name="getAlarmsBySeverity1000x2k" type="tns:getAlarmsBySeverity1000x2k"></xs:element>

<xs:element name="getAlarmsBySeverity1000x2kResponse" type="tns:getAlarmsBySeverity1000x2kResponse"></xs:element>

<xs:element name="getAlarmsBySeverity1000x5k" type="tns:getAlarmsBySeverity1000x5k"></xs:element>

<xs:element name="getAlarmsBySeverity1000x5kResponse" type="tns:getAlarmsBySeverity1000x5kResponse"></xs:element>

<xs:element name="getAlarmsBySeverity100x10k" type="tns:getAlarmsBySeverity100x10k"></xs:element>

<xs:element name="getAlarmsBySeverity100x10kResponse" type="tns:getAlarmsBySeverity100x10kResponse"></xs:element>

<xs:element name="getAlarmsBySeverity100x1k" type="tns:getAlarmsBySeverity100x1k"></xs:element>

<xs:element name="getAlarmsBySeverity100x1kResponse" type="tns:getAlarmsBySeverity100x1kResponse"></xs:element>

<xs:element name="getAlarmsBySeverity100x2k" type="tns:getAlarmsBySeverity100x2k"></xs:element>

<xs:element name="getAlarmsBySeverity100x2kResponse" type="tns:getAlarmsBySeverity100x2kResponse"></xs:element>

<xs:element name="getAlarmsBySeverity100x5k" type="tns:getAlarmsBySeverity100x5k"></xs:element>

<xs:element name="getAlarmsBySeverity100x5kResponse" type="tns:getAlarmsBySeverity100x5kResponse"></xs:element>

<xs:element name="getAlarmsBySeverity10x10k" type="tns:getAlarmsBySeverity10x10k"></xs:element>

<xs:element name="getAlarmsBySeverity10x10kResponse" type="tns:getAlarmsBySeverity10x10kResponse"></xs:element>

<xs:element name="getAlarmsBySeverity10x1k" type="tns:getAlarmsBySeverity10x1k"></xs:element>

<xs:element name="getAlarmsBySeverity10x1kResponse" type="tns:getAlarmsBySeverity10x1kResponse"></xs:element>

<xs:element name="getAlarmsBySeverity10x2k" type="tns:getAlarmsBySeverity10x2k"></xs:element>

<xs:element name="getAlarmsBySeverity10x2kResponse" type="tns:getAlarmsBySeverity10x2kResponse"></xs:element>

<xs:element name="getAlarmsBySeverity10x5k" type="tns:getAlarmsBySeverity10x5k"></xs:element>

<xs:element name="getAlarmsBySeverity10x5kResponse" type="tns:getAlarmsBySeverity10x5kResponse"></xs:element>

<xs:element name="getVersion" type="tns:getVersion"></xs:element>

<xs:element name="getVersionResponse" type="tns:getVersionResponse"></xs:element>

<xs:element name="info10k" type="tns:info10k"></xs:element>

<xs:element name="info10kResponse" type="tns:info10kResponse"></xs:element>

<xs:element name="info1k" type="tns:info1k"></xs:element>

<xs:element name="info1kResponse" type="tns:info1kResponse"></xs:element>

<xs:element name="info2k" type="tns:info2k"></xs:element>

<xs:element name="info2kResponse" type="tns:info2kResponse"></xs:element>

<xs:element name="info5k" type="tns:info5k"></xs:element>

<xs:element name="info5kResponse" type="tns:info5kResponse"></xs:element>

<xs:complexType name="getAlarmsBySeverity1000x10k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity1000x10kResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarmInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alarmInformation">
<xs:sequence>
<xs:element name="ackState" type="xs:boolean"></xs:element>
<xs:element name="ackTime" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="ackUserId" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="additionalInformation" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="additionalText" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="alarmChangedTime" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="alarmClearedTime" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="alarmId" type="xs:int"></xs:element>
<xs:element name="alarmRaisedTime" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="eventType" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="notificationId" type="xs:int"></xs:element>
<xs:element name="perceivedSeverity" type="xs:int"></xs:element>
<xs:element name="probableCause" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="specificProblem" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="targetObject" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="info5k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="info5kResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="info2k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="info2kResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity100x2k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity100x2kResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarmInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity1000x1k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity1000x1kResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarmInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="info10k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="info10kResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity10000x5k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity10000x5kResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarmInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity1000x2k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity1000x2kResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarmInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity100x1k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity100x1kResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarmInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity10000x2k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity10000x2kResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarmInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="info1k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="info1kResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity100x5k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity100x5kResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarmInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity10000x1k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity10000x1kResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarmInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity100x10k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity100x10kResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarmInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVersion">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getVersionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity10x5k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity10x5kResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarmInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity10000x10k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity10000x10kResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarmInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity10x1k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity10x1kResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarmInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity1000x5k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity1000x5kResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarmInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity10x2k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity10x2kResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarmInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity10x10k">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsBySeverity10x10kResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarmInformation" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>