contrib-imola/cics-bc/integration-test/test-vinci-wsdl/su1-wsdl/src/main/resources/VinciTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wsdl.vinci.test.jbi4cics.imolinfo.it" xmlns:bean="http://vinci.test.jbi4cics.imolinfo.it" xmlns:imolacics="uri://schemas.imola.it/jbi/wsdl-extensions/cics/" xmlns:tns="http://wsdl.vinci.test.jbi4cics.imolinfo.it" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://vinci.test.jbi4cics.imolinfo.it">
<xsd:complexType name="InputOutputBean">
<xsd:sequence>
<xsd:element minOccurs="0" name="binStrlen" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="compStrlen" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="inputString" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="plusZonedStrlen" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="signedZonedStrlen" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="strlen" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="zonedStrlen" nillable="true" type="xsd:decimal"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://wsdl.vinci.test.jbi4cics.imolinfo.it">
<xsd:element name="vinciOperation">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="bean:InputOutputBean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="vinciOperationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="bean:InputOutputBean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>


  </wsdl:types>
  <wsdl:message name="vinciOperationResponse">
    <wsdl:part name="parameters" element="tns:vinciOperationResponse"/>
  </wsdl:message>
  <wsdl:message name="vinciOperationRequest">
    <wsdl:part name="parameters" element="tns:vinciOperation"/>
  </wsdl:message>
  <wsdl:portType name="VinciServiceWSDLPortType">
    <wsdl:operation name="vinciOperation">
      <wsdl:input name="vinciOperationRequest" message="tns:vinciOperationRequest"/>
      <wsdl:output name="vinciOperationResponse" message="tns:vinciOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="VinciServiceCICSBinding" type="tns:VinciServiceWSDLPortType">
  
  	<imolacics:binding servicePackageName="it.imolinfo.jbi4cics.test.vinci" codePage="CP037">
		<imolacics:copyCobol>02 inputString       PIC X(30)       DISPLAY.
02 strlen            PIC 9(10)       DISPLAY.
02 compStrlen        PIC s9(9)       COMP-3.
02 binStrlen         PIC S9(4)       COMP.
02 zonedStrlen       PIC 9(15)V999   DISPLAY.
02 signedZonedStrlen PIC S9(15)V9(3) DISPLAY.
02 plusZonedStrlen   PIC +9(15)V999  DISPLAY.</imolacics:copyCobol>
		</imolacics:binding>  
  
    <wsdl:operation name="vinciOperation">
      <wsdl:input name="vinciOperationRequest"/>
      <wsdl:output name="vinciOperationResponse"/>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VinciService">
    <wsdl:port name="VinciServiceCICSPort" binding="tns:VinciServiceCICSBinding">
		<imolacics:address 
			username="xxxxx" 
			password="xxxxx"
			connectionType="CICS"
			JNDIConnectionName="eis/jbi4cics-cics"			
			programName="MCBRMTS9"
			transactionName="MCT0"
			tpn="true"	
			/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>