driver-tests/bpelse/blueprints/bp5/BluePrint5/src/CarReservation.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<definitions targetNamespace="http://localhost/BluePrint5/CarReservation"
             name="CarReservation"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="http://localhost/BluePrint5/CarReservation"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:ns="http://ReservationSystem.org/xsd/reserve"
             xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:res="http://localhost/BluePrint5/Reservation">
    <import location="Reservation.wsdl" namespace="http://localhost/BluePrint5/Reservation"/>
    <types>
        <xsd:schema targetNamespace="http://localhost/BluePrint5/AirLineReservation">
            <xsd:import schemaLocation="reservaton.xsd" namespace="http://ReservationSystem.org/xsd/reserve"/>
        </xsd:schema>
    </types> 
    <message name="CarReservation">
        <part name="reserveCarPart"
              element="ns:reserve"></part>
    </message>
    <message name="CarReservationStatus">
        <part name="status"
              element="ns:reserveStatus"></part>
    </message>
    <portType name="CarReservationPortType">
        <operation name="reserveCar">
            <input name="reserveMesg"
                   message="tns:CarReservation"></input>
        </operation>
    </portType>
    <portType name="CarStatusPortType">
        <operation name="sendCarStatus">
            <input name="statusMesg"
                   message="tns:CarReservationStatus"></input>
        </operation>
    </portType>
    <binding name="CarReservationBinding"
             type="tns:CarReservationPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="reserveCar">
            <soap:operation style="document"/>
            <input name="reserveMesg">
                <soap:body parts="reserveCarPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="CarReservationStatusBinding"
             type="tns:CarStatusPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sendCarStatus">
            <soap:operation style="document"/>
            <input name="statusMesg">
                <soap:body parts="status"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="CarService">
        <port name="CarServicePort"
              binding="tns:CarReservationBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/wsdl/CarService/ServiceLocation"/>
        </port>
    </service>
    <service name="CarStatusService">
        <port name="CarStatusServicePort"
              binding="tns:CarReservationStatusBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/wsdl/CarStatusService/ServiceLocation"/>
        </port>
    </service>       

    <plink:partnerLinkType name="CarReservationPLinkType">
        <plink:role portType="tns:CarReservationPortType"
                    name="reservingRole"></plink:role>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="CarReservStatusPLinkType">
        <plink:role portType="tns:CarStatusPortType"
                    name="statusReceivingRole"></plink:role>
    </plink:partnerLinkType>
    <vprop:propertyAlias part="status"
                        propertyName="res:reservationID"
                        messageType="tns:CarReservationStatus">
        <vprop:query>/reserveStatus/reservationID</vprop:query>
    </vprop:propertyAlias>    

</definitions>
