driver-tests/bpelse/misc/MiscBpel/src/nonExistSoapAddr/nonExistSoapAddr.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:nonExistSoapAddrTargetNamespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="nonExistSoapAddrDefinition" targetNamespace="urn:nonExistSoapAddrTargetNamespace">
    <types>
        <xsd:schema xmlns:ns1="urn:nonExistSoapAddrTargetNamespace" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:nonExistSoapAddrTargetNamespace">
            
                    <xsd:complexType name="nonExistSoapAddrType">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="nonExistSoapAddrMessage">
        <part name="nonExistSoapAddrPart" type="tns:nonExistSoapAddrType"/>
    </message>
    <portType name="nonExistSoapAddrPortType">
        <operation name="nonExistSoapAddrOperation">
            <input message="tns:nonExistSoapAddrMessage"/>
            <output message="tns:nonExistSoapAddrMessage"/>
        </operation>
    </portType>
    <portType name="nonExistSoapAddrPortType2">
        <operation name="nonExistSoapAddrOperation2">
            <input message="tns:nonExistSoapAddrMessage"/>
        </operation>
    </portType>
    <binding name="nonExistSoapAddrBinding" type="tns:nonExistSoapAddrPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="nonExistSoapAddrOperation">
            <soap:operation soapAction="nonExistSoapAddrOperation"/>
            <input>
                <soap:body parts="nonExistSoapAddrPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="nonExistSoapAddrPart" use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="nonExistSoapAddrBinding2" type="tns:nonExistSoapAddrPortType2">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="nonExistSoapAddrOperation2">
            <soap:operation soapAction="nonExistSoapAddrOperation2"/>
            <input>
                <soap:body parts="nonExistSoapAddrPart" use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="nonExistSoapAddrService">
        <port binding="tns:nonExistSoapAddrBinding" name="nonExistSoapAddrPort">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/nonExistSoapAddr"/>
        </port>
    </service>
    <service name="nonExistSoapAddrService2">
        <port binding="tns:nonExistSoapAddrBinding2" name="nonExistSoapAddrPort2">
            <soap:address location="http://zyx/12345456245/xyz"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="nonExistSoapAddrServiceLinkType">
        <plnk:role name="nonExistSoapAddrServerRole" portType="tns:nonExistSoapAddrPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="nonExistSoapAddrServiceLinkType1">
        <plnk:role name="nonExistSoapAddrServerRole" portType="tns:nonExistSoapAddrPortType2"/>
    </plnk:partnerLinkType>
</definitions>
