driver-tests/bpelse/eventHandlers/onAlarmWithFH/src/FaultSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://xml.netbeans.org/schema/FaultSchema"
    xmlns:tns="http://xml.netbeans.org/schema/FaultSchema"
    elementFormDefault="qualified">
    <xsd:complexType name="msgType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"></xsd:element>
            <xsd:element name="name" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="msgElem" type="tns:msgType"></xsd:element>
</xsd:schema>