driver-tests/httpsoapbc/i18n/HttpSoapBCJbi/src/jbiServiceUnits/HttpSoapBCBpel/bank.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:bank" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="bankWs" targetNamespace="urn:bank" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:intf="http://example.com" elementFormDefault="qualified" targetNamespace="urn:bank">
			<element name="withdraw">
				<complexType>
					<sequence>
						<element name="account" type="xsd:string"/>
						<element name="amount" type="xsd:int"/>
					</sequence>
				</complexType>
			</element>
			<element name="withdrawResponse">
				<complexType>
					<sequence>
						<element name="accepted" type="xsd:boolean"/>
					</sequence>
				</complexType>
			</element>
			<element name="AccountNotExistFault">
				<complexType>
					<sequence/>
				</complexType>
			</element>
			<complexType name="InsufficientFundFaultType">
				<sequence>
					<element name="balance" type="xsd:int"/>
					<element name="requestedFund" type="xsd:int"/>
				</sequence>
			</complexType>
			<complexType name="AccountInsufficientFundFaultType">
				<complexContent>
					<extension base="tns:InsufficientFundFaultType">
						<sequence>
							<element name="account" type="xsd:string"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<element name="InsufficientFundFault" type="tns:InsufficientFundFaultType"/>
			<element name="AccountInsufficientFundFault" type="tns:AccountInsufficientFundFaultType"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="withdrawRequest">
		<wsdl:part element="tns:withdraw" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="withdrawResponse">
		<wsdl:part element="tns:withdrawResponse" name="return"/>
	</wsdl:message>
	<wsdl:message name="InsufficientFundFaultMessage">
		<wsdl:part element="tns:InsufficientFundFault" name="fault"/>
	</wsdl:message>
	<wsdl:message name="AccountNotExistFaultMessage">
		<wsdl:part element="tns:AccountNotExistFault" name="fault"/>
	</wsdl:message>
	<wsdl:portType name="Bank">
		<wsdl:operation name="withdraw">
			<wsdl:input message="tns:withdrawRequest" name="withdrawRequest"/>
			<wsdl:output message="tns:withdrawResponse" name="withdrawResponse"/>
			<wsdl:fault message="tns:InsufficientFundFaultMessage" name="InsufficientFundException"/>
			<wsdl:fault message="tns:AccountNotExistFaultMessage" name="AccountNotExistException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BankSoapBinding" type="tns:Bank">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="withdraw">
			<soap:operation soapAction=""/>
			<wsdl:input name="withdrawRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="withdrawResponse">
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="InsufficientFundException">
				<soap:fault name="InsufficientFundException" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="AccountNotExistException">
				<soap:fault name="AccountNotExistException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BankService">
		<wsdl:port binding="tns:BankSoapBinding" name="Bank">
			<soap:address location="http://localhost:12100/service/Bank_i18n"/>
		</wsdl:port>
	</wsdl:service>
   <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="BankServiceLink">
	<plnk:role name="BankRole" portType="tns:Bank"/>
   </plnk:partnerLinkType>

</wsdl:definitions>
