driver-tests/recovery/hardCrash/hardCrashBPEL/src/hardcrash_2w.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:hardcrash_2wTargetNamespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="hardcrash_2wDefinition" targetNamespace="urn:hardcrash_2wTargetNamespace">
    <types>
        <xsd:schema xmlns:ns1="urn:hardcrash_2wTargetNamespace" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:hardcrash_2wTargetNamespace">
            <xsd:complexType name="hardcrash_2wType">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="hardcrash_2wMessage">
        <part name="hardcrash_2wPart" type="tns:hardcrash_2wType"/>
    </message>
    <portType name="hardcrash_2wPortType">
        <operation name="hardcrash_2wOperation">
            <input message="tns:hardcrash_2wMessage"/>
            <output message="tns:hardcrash_2wMessage"/>
        </operation>
        <operation name="hardcrash_2wUntilOperation">
            <input message="tns:hardcrash_2wMessage"/>
            <output message="tns:hardcrash_2wMessage"/>
        </operation>
    </portType>
    <binding name="hardcrash_2wBinding" type="tns:hardcrash_2wPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="hardcrash_2wOperation">
            <soap:operation soapAction="hardcrash_2wOperation"/>
            <input>
                <soap:body parts="hardcrash_2wPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="hardcrash_2wPart" use="literal"/>
            </output>
        </operation>
        <operation name="hardcrash_2wUntilOperation">
            <soap:operation soapAction="hardcrash_2wUntilOperation"/>
            <input>
                <soap:body parts="hardcrash_2wPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="hardcrash_2wPart" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="hardcrash_2wService">
        <port binding="tns:hardcrash_2wBinding" name="hardcrash_2wPort">
            <soap:address location="http://localhost:12100/service/hardcrash_2w"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="hardcrash_2wServiceLinkType">
	<plnk:role name="hardcrash_2wServerRole" portType="hardcrash_2wPortType"/>
   </plnk:partnerLinkType>
</definitions>
