driver-tests/bpelse/assign/CopyByValue/CopyByValueBpel/src/OutboundVariables/wsdl.wsdl

<?xml version="1.0" encoding="windows-1252"?>
<definitions name="wsdl" targetNamespace="http://j2ee.netbeans.org/bpelse/assign/VarialbleConsistencyTestAfterReplyAndInvoke/wsdl/wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/bpelse/assign/VarialbleConsistencyTestAfterReplyAndInvoke/wsdl/wsdl" xmlns:ns="http://xml.netbeans.org/schema/bpelse/assign/VarialbleConsistencyTestAfterReplyAndInvoke/XmlSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/bpelse/assign/VarialbleConsistencyTestAfterReplyAndInvoke/wsdl/wsdl">
            <xsd:import namespace="http://xml.netbeans.org/schema/bpelse/assign/VarialbleConsistencyTestAfterReplyAndInvoke/XmlSchema" schemaLocation="XmlSchema.xsd"/>
        </xsd:schema>
    </types>
    <message name="mainOperationRequest">
        <part name="input" element="ns:Message"/>
    </message>
    <message name="mainOperationResponse">
        <part name="output" element="ns:Message"/>
    </message>
    <portType name="mainPortType">
        <operation name="mainOperation">
            <input name="input1" message="tns:mainOperationRequest"/>
            <output name="output1" message="tns:mainOperationResponse"/>
        </operation>
    </portType>
    <portType name="subBPPortType">
        <operation name="subBPOperation">
            <input name="input1" message="tns:mainOperationRequest"/>
            <output name="output1" message="tns:mainOperationResponse"/>
        </operation>
    </portType>
    <portType name="subBPOneWayPortType">
        <operation name="subBPOneWayOperation">
            <input name="input1" message="tns:mainOperationResponse"/>
        </operation>
    </portType>
    <portType name="subBPOneWayNextPortType">
        <operation name="subBPOneWayNextOperation">
            <input name="input1" message="tns:mainOperationResponse"/>
        </operation>
    </portType>
    <binding name="mainBinding" type="tns:mainPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="mainOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="subBPPortTypeBinding" type="tns:subBPPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="subBPOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="subBPOneWayPortTypeBinding" type="tns:subBPOneWayPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="subBPOneWayOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="subBPOneWayNextPortTypeBinding" type="tns:subBPOneWayNextPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="subBPOneWayNextOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="mainService">
        <port name="mainPort" binding="tns:mainBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/mainService/mainPort"/>
        </port>
        <port name="subBPPortTypeBindingPort" binding="tns:subBPPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/mainService/subBPPortTypeBindingPort"/>
        </port>
        <port name="subBPOneWayPortTypeBindingPort" binding="tns:subBPOneWayPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/mainService/subBPOneWayPortTypeBindingPort"/>
        </port>
        <port name="subBPOneWayNextPortTypeBindingPort" binding="tns:subBPOneWayNextPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/mainService/subBPOneWayNextPortTypeBindingPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="main">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="mainPortTypeRole" portType="tns:mainPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="subBP">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="subBPPortTypeRole" portType="tns:subBPPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="subBPOneWay">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="subBPOneWayPortTypeRole" portType="tns:subBPOneWayPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="corr" type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:corr" messageType="tns:mainOperationRequest" part="input">
        <vprop:query>ns:Id</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:corr" messageType="tns:mainOperationResponse" part="output">
        <vprop:query>ns:Id</vprop:query>
    </vprop:propertyAlias>
    <plnk:partnerLinkType name="subBPOneWayNext">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="subBPOneWayNextPortTypeRole" portType="tns:subBPOneWayNextPortType"/>
    </plnk:partnerLinkType>
</definitions>
