driver-tests/httpsoapbc/HttpSoapBCTests/HttpSoapBCJbi/src/jbiServiceUnits/HttpSoapBCBpel/schipol/Client.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Client" targetNamespace="http://j2ee.netbeans.org/wsdl/Client"
    xmlns:tns="http://j2ee.netbeans.org/wsdl/Client"
    xmlns:ns1="http://j2ee.netbeans.org/wsdl/Client/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:getBag="http://getBagItem.demo.sun.com/" 
    xmlns:ns="http://beltDetail.demo.sun.com/">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/Client" 
    xmlns:beltDetail="http://beltDetail.demo.sun.com/">
      <xsd:import schemaLocation="GetBagItem.xsd" namespace="http://getBagItem.demo.sun.com/"/>
      <xsd:import schemaLocation="BeltDetail.xsd" namespace="http://beltDetail.demo.sun.com/"/>
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="ClientRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="ClientResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="ClientError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="ClientPortType">
    <operation name="ClientOperation">
      <input message="tns:ClientRequest"/>
      <output message="tns:ClientResponse"/>
      <fault message="tns:ClientError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="ClientBinding" type="tns:ClientPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="ClientOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="ClientService">
    <port name="ClientPort" binding="tns:ClientBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <message name="InputMessage">
        <part name="inputPart" element="getBag:getBag"/>
    </message>
    <message name="outputMessage">
        <part name="outputPart" element="ns:getBeltDetailResponse"/>
    </message>
    <portType name="IBeltService">
        <operation name="operation1">
            <input name="input1" message="tns:InputMessage"/>
            <output name="output1" message="tns:outputMessage"/>
        </operation>
    </portType>
    <binding name="binding1" type="tns:IBeltService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="operation1">
        <input name="input1">
          <soap:body use="literal"/>
        </input><output name="output1">
    <soap:body use="literal"/>
</output>
        </operation>
    </binding>
    <service name="service1">
        <port name="port1" binding="tns:binding1">
            <soap:address location="http://localhost:9093/SchipolService"/>
        </port>
    </service>
</definitions>
