driver-tests/httpsoapbc/HttpSoapBCTests/HttpSoapBCJbi/src/jbiServiceUnits/HttpSoapBCBpel/schipol/SchipolWrapper.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SchipolWrapper" targetNamespace="http://j2ee.netbeans.org/wsdl/SchipolWrapper"
    xmlns:tns="http://j2ee.netbeans.org/wsdl/SchipolWrapper"
    xmlns:ns1="http://j2ee.netbeans.org/wsdl/SchipolWrapper/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:beltDetail="http://beltDetail.demo.sun.com/" xmlns:client="http://j2ee.netbeans.org/wsdl/Client" xmlns:flightJourney="http://flightJourney.demo.sun.com/" xmlns:getBagItem="http://getBagItem.demo.sun.com/" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <!-- Type definitions -->
    <import location="BeltDetail.wsdl" namespace="http://beltDetail.demo.sun.com/"/>
    <import location="Client.wsdl" namespace="http://j2ee.netbeans.org/wsdl/Client"/>
    <import location="FlightJourney.wsdl" namespace="http://flightJourney.demo.sun.com/"/>
    <import location="GetBagItem.wsdl" namespace="http://getBagItem.demo.sun.com/"/>
    <types>
    <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/SchipolWrapper/types">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="SchipolWrapperRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="SchipolWrapperResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="SchipolWrapperError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="SchipolWrapperPortType">
    <operation name="SchipolWrapperOperation">
      <input message="tns:SchipolWrapperRequest"/>
      <output message="tns:SchipolWrapperResponse"/>
      <fault message="tns:SchipolWrapperError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="SchipolWrapperBinding" type="tns:SchipolWrapperPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="SchipolWrapperOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="SchipolWrapperService">
    <port name="SchipolWrapperPort" binding="tns:SchipolWrapperBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <plink:partnerLinkType name="getBagPartnerlinktype">
        <plink:role name="getBagPartnerlinktyperole" portType="getBagItem:GetBagItemEJB"/>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="flightJourneyPartnerlinktype">
        <plink:role name="flightJourneyPartnerlinktyperole" portType="flightJourney:FlightJourneyEJB"/>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="beltDetailPartnerlinktype">
        <plink:role name="beltDetailPartnerlinktyperole" portType="beltDetail:BeltDetailEJB"/>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="clientPartnerlinktype">
        <plink:role name="clientPartnerlinktyperole" portType="client:IBeltService"/>
    </plink:partnerLinkType>
</definitions>
