contrib-imola/corba-bc/integration-test/test-provider-complex-out/provider-complex-out-jbi4corba-provider/src/main/resources/EchoComplexOut.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EchoComplexOut" targetNamespace="http://it.imolinfo.jbi4corba.test.testprovidercomplexout.EchoComplexOut" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:imolacorba="uri://schemas.imola.it/jbi/wsdl-extensions/corba/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://it.imolinfo.jbi4corba.test.testprovidercomplexout.EchoComplexOut" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://it.imolinfo.jbi4corba.test.testprovidercomplexout.EchoComplexOut" xmlns="http://it.imolinfo.jbi4corba.test.testprovidercomplexout.EchoComplexOut" xmlns:ns1="http://testprovidercomplexout.test.jbi4corba.imolinfo.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://testprovidercomplexout.test.jbi4corba.imolinfo.it/" schemaLocation="TypeDef_testprovidercomplexout.test.jbi4corba.imolinfo.it.xsd"/>
    <xs:element name="echo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="input" type="ns1:echoStruct"/>
                <xs:element name="output" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="return" type="ns1:echoStruct"/>
                <xs:element name="output" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="echo">
    <wsdl:part name="parameters" element="tns:echo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part name="parameters" element="tns:echoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EchoComplexOut">
    <wsdl:operation name="echo">
      <wsdl:input name="echo" message="tns:echo">
    </wsdl:input>
      <wsdl:output name="echoResponse" message="tns:echoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EchoComplexOutCorbaBinding" type="tns:EchoComplexOut">
<imolacorba:binding>
<imolacorba:idl>
//IDL
module it{
	module imolinfo{
		module jbi4corba{
			module test{
				module testprovidercomplexout{


        					
                            	  // struct
           				
 			              struct EchoStruct {
                                boolean            fieldBoolean;
                                char               fieldChar;
                                wchar              fieldWChar;
                                string             fieldString;
                                wstring            fieldWString;
                                short              fieldShort;
                                unsigned short     fieldUnsignedShort;
                                long               fieldLong;
                                unsigned long      fieldUnsignedLong;
                                long long          fieldLongLong;
                                unsigned long long fieldUnsignedLongLong;
                                float              fieldFloat;
                                double             fieldDouble;

                               };
    
               			                            
                               interface EchoComplexOut {

    						EchoStruct echo(in EchoStruct input,out EchoStruct output);
    
    					 };
				};
			};
		};
	};
};
</imolacorba:idl>
</imolacorba:binding>
    <wsdl:operation name="echo">
      <wsdl:input name="echo">
      </wsdl:input>
      <wsdl:output name="echoResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EchoComplexOut">
    <wsdl:port name="EchoComplexOutCorbaPort" binding="tns:EchoComplexOutCorbaBinding">
<imolacorba:address name="EchoComplexOut" localizationType="NameService">
<imolacorba:orb>
<imolacorba:property name="org.omg.CORBA.ORBInitialPort" value="1050"/>
<imolacorba:property name="org.omg.CORBA.ORBClass" value="com.sun.corba.ee.impl.orb.ORBImpl"/>
<imolacorba:property name="org.omg.CORBA.ORBInitialHost" value="localhost"/>
</imolacorba:orb>
</imolacorba:address>
    </wsdl:port>
  </wsdl:service>
<plnk:partnerLinkType name="EchoComplexOut">
<plnk:role name="EchoComplexOutPortTypeRole" portType="tns:EchoComplexOut"/>
</plnk:partnerLinkType>
</wsdl:definitions>
