driver-tests/bpelse/misc/MiscBpel/src/wsRPCLiteral/zenquote.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<definitions targetNamespace="http://services.opensoap.jp/samples/SimpleCalc/"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
              xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:y="http://services.opensoap.jp/samples/SimpleCalc/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plink:partnerLinkType name="operatorsLinkType">
        <plink:role portType="y:SimpleCalcPortType"
                    name="TestOperatorsRole"></plink:role>
    </plink:partnerLinkType>
    <message name="AddResponse">
        <part name="return"
              type="xs:double"></part>
    </message>
    <message name="Add">
        <part name="A"
              type="xs:double"></part>
        <part name="B"
              type="xs:double"></part>
    </message>
    <message name="Subtract">
        <part name="A"
              type="xs:double"></part>
        <part name="B"
              type="xs:double"></part>
    </message>
    <message name="SubtractResponse">
        <part name="return"
              type="xs:double"></part>
    </message>
    <message name="Multiply">
        <part name="A"
              type="xs:double"></part>
        <part name="B"
              type="xs:double"></part>
    </message>
    <message name="MultiplyResponse">
        <part name="return"
              type="xs:double"></part>
    </message>
    <message name="Divide">
        <part name="A"
              type="xs:double"></part>
        <part name="B"
              type="xs:double"></part>
    </message>
    <message name="DivideResponse">
        <part name="return"
              type="xs:double"></part>
    </message>
    <portType name="SimpleCalcPortType">
        <operation name="Add">
            <input message="y:Add"></input>
            <output message="y:AddResponse"></output>
        </operation>
        <operation name="Subtract">
            <input message="y:Subtract"></input>
            <output message="y:SubtractResponse"></output>
        </operation>
        <operation name="Multiply">
            <input message="y:Multiply"></input>
            <output message="y:MultiplyResponse"></output>
        </operation>
        <operation name="Divide">
            <input message="y:Divide"></input>
            <output message="y:DivideResponse"></output>
        </operation>
    </portType>
    <binding name="SimpleCalcBinding"
             type="y:SimpleCalcPortType">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Add">
            <soap:operation soapAction="Add"
                            style="rpc"/>
            <input>
                <soap:body use="literal"
                           namespace="http://services.opensoap.jp/samples/SimpleCalc/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://services.opensoap.jp/samples/SimpleCalc/"/>
            </output>
            </operation>
        <operation name="Subtract">
            <soap:operation soapAction="Subtract"/>
            <input>
                <soap:body use="literal"
                           namespace="http://services.opensoap.jp/samples/SimpleCalc/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://services.opensoap.jp/samples/SimpleCalc/"/>
            </output>
            </operation>
        <operation name="Multiply">
            <soap:operation soapAction="Multiply"/>
            <input>
                <soap:body use="literal"
                           namespace="http://services.opensoap.jp/samples/SimpleCalc/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://services.opensoap.jp/samples/SimpleCalc/"/>
            </output>
            </operation>
        <operation name="Divide">
            <soap:operation soapAction="Divide"/>
            <input>
                <soap:body use="literal"
                           namespace="http://services.opensoap.jp/samples/SimpleCalc/"/>
            </input>
            <output>
                <soap:body use="literal"
                           namespace="http://services.opensoap.jp/samples/SimpleCalc/"/>
            </output>
            </operation>
    </binding>
    <service name="SimpleCalcService">
        <port name="SimpleCalcPort"
              binding="y:SimpleCalcBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/OperatorTest"/>
        </port>
    </service>
</definitions>
