driver-tests/sqlse/derby/insertwrongBPEL/src/insertwrongbpelSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="insertwrongbpelSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="insertwrongsqlRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:string"/><xsd:element name="param2" type="xsd:decimal"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="insertwrongsqlResponse">
    <part name="insertwrongsqlResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="insertwrongsqlRequest">
    <part name="insertwrongsqlRequestPart" element="tns:insertwrongsqlRequest"/>
  </message>
  <portType name="insertwrongbpelSQL_sqlsePortType">
    <operation name="insertwrongsql">
      <input name="insertwrongsqlRequest" message="tns:insertwrongsqlRequest"/>
      <output name="insertwrongsqlResponse" message="tns:insertwrongsqlResponse"/>
    </operation>
  </portType>
  <binding name="insertwrongbpelSQLBinding" type="tns:insertwrongbpelSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="insertwrongsql">
      <soap:operation style="document"/>
      <input name="insertwrongsqlRequest">
        <soap:body use="literal"/>
      </input>
      <output name="insertwrongsqlResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="insertwrongbpelSQL_sqlseService">
    <port name="insertwrongbpelSQL_sqlsePort" binding="tns:insertwrongbpelSQLBinding">
      <soap:address location="http://localhost:18181/insertwrongbpelSQL/insertwrongbpelSQL/insertwrongbpelSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="insertwrongbpelSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="insertwrongbpelSQL_myrole" portType="tns:insertwrongbpelSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
