ojc-core/bpelse/bpelcore/test/com/sun/jbi/engine/bpel/core/test/modelparsing/bpel/correlation/invoke2/invoke_response_join/invoke_response_join_parent.wsdl

<definitions targetNamespace="invoke_response_joinParent"
             name="invoke_response_joinParent"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="invoke_response_joinParent"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="invoke_response_joinParentServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
                   portType="tns:invoke_response_joinParentPortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="invoke_response_joinParentServiceLinkType1"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
                   portType="tns:invoke_response_joinParentPortType1"></plnk:role>
    </plnk:partnerLinkType>
    <vprop:property name="property"
                   type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:property"
                        messageType="tns:invoke_response_joinParentMessage"
                        part="invoke_response_joinParentPart">
            <vprop:query>/invoke_response_joinParentElement/string</vprop:query>
    </vprop:propertyAlias>
     <vprop:propertyAlias propertyName="tns:property"
                        messageType="tns:invoke_response_joinParentMessage1"
                        part="invoke_response_joinParentPart">
            <vprop:query>/invoke_response_joinParentElement/string</vprop:query>
    </vprop:propertyAlias>
    <types>
        <xsd:schema targetNamespace="invoke_response_joinParent"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
                    xmlns:tns="invoke_response_joinParent"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
                    <xsd:element type="tns:invoke_response_joinParentType"
                         name="invoke_response_joinParentElement"></xsd:element>
            <xsd:complexType name="invoke_response_joinParentType">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="invoke_response_joinParentMessage">
        <part name="invoke_response_joinParentPart"
              element="tns:invoke_response_joinParentElement"></part>
    </message>
    <message name="invoke_response_joinParentMessage1">
        <part name="invoke_response_joinParentPart"
              element="tns:invoke_response_joinParentElement"></part>
    </message>
    <portType name="invoke_response_joinParentPortType">
        <operation name="invoke_response_joinParentOperation">
            <input message="tns:invoke_response_joinParentMessage"></input>
            <output message="tns:invoke_response_joinParentMessage"></output>
        </operation>
    </portType>
    <portType name="invoke_response_joinParentPortType1">
        <operation name="invoke_response_joinParentOperation1">
            <input message="tns:invoke_response_joinParentMessage1"></input>
        </operation>
    </portType>
    <binding name="invoke_response_joinParentBinding"
             type="tns:invoke_response_joinParentPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="invoke_response_joinParentOperation">
            <soap:operation soapAction="invoke_response_joinParentOperation"/>
            <input>
                <soap:body parts="invoke_response_joinParentPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="invoke_response_joinParentPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="invoke_response_joinParentBinding1"
             type="tns:invoke_response_joinParentPortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="invoke_response_joinParentOperation1">
            <soap:operation soapAction="invoke_response_joinParentOperation1"/>
            <input>
                <soap:body parts="invoke_response_joinParentPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="invoke_response_joinParentService">
        <port name="invoke_response_joinParentPort"
              binding="tns:invoke_response_joinParentBinding">
            <soap:address location="http://localhost:12100/service/invoke_response_joinParentService"/>
        </port>
        <port name="invoke_response_joinParentPort1"
              binding="tns:invoke_response_joinParentBinding1">
            <soap:address location="http://localhost:12100/service/invoke_response_joinParentService1"/>
        </port>
    </service>
</definitions>
