driver-tests/encoder/EncoderTests/TestHL7EncoderBP/src/DecodeEncode/OutputEnvelope.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://xml.netbeans.org/schema/TestHL7Encoder/OutputEnvelope"
    xmlns:tns="http://xml.netbeans.org/schema/TestHL7Encoder/OutputEnvelope"
    elementFormDefault="qualified">
    <xsd:element name="Envelope">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Action" type="xsd:string">
                </xsd:element>
                <xsd:element name="Payload" type="xsd:string">
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
