driver-tests/sqlse/db2/SqlSE1109_DB2/DeleteWithMultiParamJbi/src/jbiServiceUnits/DeleteWithMultiParamSql/DeleteWithMultiParamSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="DeleteWithMultiParamSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="DeleteWithMultiParamRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/><xsd:element name="param2" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="DeleteWithMultiParamRequest">
    <part name="DeleteWithMultiParamRequestPart" element="tns:DeleteWithMultiParamRequest"/>
  </message>
  <message name="DeleteWithMultiParamResponse">
    <part name="DeleteWithMultiParamResponsePart" element="tns:numRowsEffected"/>
  </message>
  <portType name="DeleteWithMultiParamSql_sqlsePortType">
    <operation name="DeleteWithMultiParam">
      <input name="DeleteWithMultiParamRequest" message="tns:DeleteWithMultiParamRequest"/>
      <output name="DeleteWithMultiParamResponse" message="tns:DeleteWithMultiParamResponse"/>
    </operation>
  </portType>
  <binding name="DeleteWithMultiParamSqlBinding" type="tns:DeleteWithMultiParamSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="DeleteWithMultiParam">
      <soap:operation/>
      <input name="DeleteWithMultiParamRequest">
        <soap:body/>
      </input>
      <output name="DeleteWithMultiParamResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="DeleteWithMultiParamSql_sqlseService">
    <port name="DeleteWithMultiParamSql_sqlsePort" binding="tns:DeleteWithMultiParamSqlBinding">
      <soap:address location="http://localhost:18181/DeleteWithMultiParamSql/DeleteWithMultiParamSql/DeleteWithMultiParamSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="DeleteWithMultiParamSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="DeleteWithMultiParamSql_myrole" portType="tns:DeleteWithMultiParamSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
