driver-tests/bpelse/repeatuntil/RepeatUntilBpel/src/RepeatUntilAssign/RepeatUntilAssign.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="RepeatUntilAssign" targetNamespace="http://localhost/RepeatUntilBPEL/RepeatUntilAssign"
    xmlns:ns1="urn:WS/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost/RepeatUntilBPEL/RepeatUntilAssign" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://localhost/RepeatUntilBPEL/RepeatUntilAssign" xmlns:tns="http://localhost/RepeatUntilBPEL/RepeatUntilAssign">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="RepeatUntilAssignRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="RepeatUntilAssignResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="RepeatUntilAssignError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="RepeatUntilAssignPortType">
    <operation name="RepeatUntilAssignOperation">
      <input message="tns:RepeatUntilAssignRequest"/>
      <output message="tns:RepeatUntilAssignResponse"/>
      <fault message="tns:RepeatUntilAssignError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="RepeatUntilAssignBinding" type="tns:RepeatUntilAssignPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="RepeatUntilAssignOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="RepeatUntilAssignService">
    <port name="RepeatUntilAssignPort" binding="tns:RepeatUntilAssignBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <message name="AssignMsg1">
        <part name="string" type="xsd:string"/>
        <part name="int" type="xsd:int"/>
        <part name="bool" type="xsd:boolean"/>
        <part name="duration" type="xsd:duration"/>
        <part name="negInt" type="xsd:nonNegativeInteger"/>
        <part name="double" type="xsd:double"/>
    </message>
    <portType name="AssignPortType1">
        <operation name="operation1">
            <input name="input1" message="tns:AssignMsg1"/>
            <output name="output1" message="tns:AssignMsg1"/>
        </operation>
    </portType>
    <binding name="AssignBinding1" type="tns:AssignPortType1">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="operation1">
        <input name="input1">
          <soap:body/>
        </input><output name="output1">
    <soap:body/>
</output>
        </operation>
    </binding>
    <service name="AssignService1">
        <port name="AssignPort1" binding="tns:AssignBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/RepeatUntilAssign/AssignService1"/>
        </port>
    </service>
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="partnerlinktyperole1" portType="tns:AssignPortType1"/>
    </plink:partnerLinkType>
</definitions>
