driver-tests/bpelse/eventHandlers/onEventJBI/src/bindingComponentASA/EventHandler2.wsdl

<definitions targetNamespace="EventHandler2"
    name="EventHandler2"
    xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
    xmlns:tns="EventHandler2"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
             
    <plnk:partnerLinkType name="EventHandler2NormalServiceLinkType"
        xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
        portType="tns:NormalOperationPortType"></plnk:role>
    </plnk:partnerLinkType>
    
    <plnk:partnerLinkType name="EventHandler2NormalServiceLinkType2"
        xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
        portType="tns:NormalOperationPortType2"></plnk:role>
    </plnk:partnerLinkType>
    
    <plnk:partnerLinkType name="EventHandler2OnEventonProcessServiceLinkType"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name="Server"
    portType="tns:OnEventOnProcess1PortType"></plnk:role>
    </plnk:partnerLinkType>
 
    <vprop:property name="property"
    type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:property"
        messageType="tns:EventHandler2Message"
        part="EventHandler2Part">
        <vprop:query>/EventHandler2Element/string</vprop:query>
    </vprop:propertyAlias>        
	<vprop:propertyAlias propertyName="tns:property"
        messageType="tns:EventHandler2Message2"
        part="EventHandler2Part">
        <vprop:query>/EventHandler2Element/string</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property"
        messageType="tns:OnEventMessage"
        part="EventHandler2Part2">
        <vprop:query>/EventHandler2Element2/string2</vprop:query>
    </vprop:propertyAlias>


    <types>
        <xsd:schema targetNamespace="EventHandler2"
            attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
            xmlns:tns="EventHandler2"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://schemas.xmlsoap.org/wsdl/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
            
            <xsd:element type="tns:EventHandler2Type"
            name="EventHandler2Element"></xsd:element>
                         
            <xsd:element type="tns:EventHandler2Type2"            
            name="EventHandler2Element2"></xsd:element>   
            
            <xsd:element type="tns:Invoke1childType"            
            name="Invoke1childElement"></xsd:element>
            
            <xsd:element name="item">
	                    <xsd:complexType>
	                        <xsd:sequence>
	                            <xsd:element name="value" type="xsd:decimal"/>
	                        </xsd:sequence>
	                    </xsd:complexType>
            </xsd:element>
            
            
            <xsd:complexType name="EventHandler2Type">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                    name="string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="Invoke1childType">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                    name="string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>            
            
            <xsd:complexType name="EventHandler2Type2">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                    name="string2"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>            
        </xsd:schema>
    </types>
    
    <message name="EventHandler2Message">
        <part name="EventHandler2Part"
        element="tns:EventHandler2Element"></part>
    </message>
    
    <message name="EventHandler2Message2">
        <part name="EventHandler2Part"
        element="tns:EventHandler2Element"></part>
    </message>
    
    <message name="OnEventMessage">
        <part name="EventHandler2Part2"
        element="tns:EventHandler2Element2"></part>
    </message>

    <portType name="NormalOperationPortType">
        <operation name="NormalOperation">
            <input message="tns:EventHandler2Message"></input>
            <output message="tns:EventHandler2Message"></output>
        </operation>
    </portType>
    
    <portType name="NormalOperationPortType2">
        <operation name="NormalOperation2">
            <input message="tns:EventHandler2Message2"></input>
            <output message="tns:EventHandler2Message2"></output>
        </operation>
    </portType>

    <portType name="OnEventOnProcess1PortType">
        <operation name="OnEventOnProcess1">
            <input message="tns:OnEventMessage"></input>
            <output message="tns:OnEventMessage"></output>
        </operation>
    </portType>
  
    <binding name="NormalOperationPortTypeBinding"
        type="tns:NormalOperationPortType">
        <soap:binding style="document"
        transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="NormalOperation">
            <soap:operation soapAction="NormalOperation"/>
            <input>
                <soap:body parts="EventHandler2Part"
                use="literal"/>
            </input>
            <output>
                <soap:body parts="EventHandler2Part"
                use="literal"/>
            </output>
        </operation>
    </binding>
    
    <binding name="NormalOperationPortTypeBinding2"
        type="tns:NormalOperationPortType2">
        <soap:binding style="document"
        transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="NormalOperation2">
            <soap:operation soapAction="NormalOperation2"/>
            <input>
                <soap:body parts="EventHandler2Part"
                use="literal"/>
            </input>
            <output>
                <soap:body parts="EventHandler2Part"
                use="literal"/>
            </output>            
        </operation>
    </binding>    
    
    <binding name="OnEventOnProcess1PortTypeBinding"
        type="tns:OnEventOnProcess1PortType">
        <soap:binding style="document"
        transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="OnEventOnProcess1">
            <soap:operation soapAction="OnEventOnProcess1"/>
            <input>
                <soap:body parts="EventHandler2Part2"
                use="literal"/>
            </input>
            <output>
                <soap:body parts="EventHandler2Part2"
                use="literal"/>
            </output>            
        </operation>
    </binding>

    <service name="EventHandler2Service">
        <port name="EventHandlerNormalPort"
            binding="tns:NormalOperationPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/EventHandler2Normal1Service"/>
        </port>
        <port name="EventHandlerNormalPort2"
            binding="tns:NormalOperationPortTypeBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/EventHandler2Normal1Service2"/>
        </port>
        <port name="OnEventOnProcess1Port"
            binding="tns:OnEventOnProcess1PortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/EventHandler2OnEventOnProcess1Service"/>
        </port>
    </service>
</definitions>
