ojc-core/bpelse/bpelcore/test/com/sun/jbi/engine/bpel/core/test/modelparsing/bpel/correlation/flowmodel/correlatiingReceiveWithinFlow.wsdl

<definitions targetNamespace="urn:correlatiingReceiveWithinFlowTargetNamespace"
             name="correlatiingReceiveWithinFlowDefinition"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="urn:correlatiingReceiveWithinFlowTargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="twoWayOperPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="correlatiingReceiveWithinFlowServerRole"
                   portType="tns:correlatiingReceiveWithinFlowPortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="oneWayOperPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="correlatiingReceiveWithinFlowServerRole1"
                   portType="tns:correlatiingReceiveWithinFlowPortType1"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="ThirdPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="ThirdRole"
                   portType="tns:ThirdPortType"></plnk:role>
    </plnk:partnerLinkType>        
    <plnk:partnerLinkType name="FourthPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="FourthRole"
                   portType="tns:FourthPortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="FifthPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="FifthRole"
                   portType="tns:FifthPortType"></plnk:role>
    </plnk:partnerLinkType>
                         
    <vprop:property type="xsd:string"
                   name="propertyName1"></vprop:property>
    <vprop:propertyAlias part="correlatiingReceiveWithinFlowPart"
                        propertyName="tns:propertyName1"
                        messageType="tns:correlatiingReceiveWithinFlowMessage">
        <vprop:query>string</vprop:query>
    </vprop:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:correlatiingReceiveWithinFlowTargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:correlatiingReceiveWithinFlowTargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:correlatiingReceiveWithinFlowTargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

                    <xsd:complexType name="correlatiingReceiveWithinFlowType">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="correlatiingReceiveWithinFlowMessage">
        <part name="correlatiingReceiveWithinFlowPart"
              type="tns:correlatiingReceiveWithinFlowType"></part>
    </message>
    <portType name="correlatiingReceiveWithinFlowPortType">
        <operation name="correlatiingReceiveWithinFlowOperation">
            <input message="tns:correlatiingReceiveWithinFlowMessage"></input>
            <output message="tns:correlatiingReceiveWithinFlowMessage"></output>
        </operation>
    </portType>
    <portType name="correlatiingReceiveWithinFlowPortType1">
        <operation name="correlatiingReceiveWithinFlowOperation1">
            <input message="tns:correlatiingReceiveWithinFlowMessage"></input>
        </operation>
    </portType>
    <portType name="ThirdPortType">
        <operation name="ThirdPortTypeOperation">
            <input message="tns:correlatiingReceiveWithinFlowMessage"></input>
        </operation>
    </portType>    
    <portType name="FourthPortType">
        <operation name="FourthPortTypeOperation">
            <input message="tns:correlatiingReceiveWithinFlowMessage"></input>
        </operation>
    </portType>    
    <portType name="FifthPortType">
        <operation name="FifthPortTypeOperation">
            <input message="tns:correlatiingReceiveWithinFlowMessage"></input>
        </operation>
    </portType> 
    <binding name="correlatiingReceiveWithinFlowBinding"
             type="tns:correlatiingReceiveWithinFlowPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="correlatiingReceiveWithinFlowOperation">
            <soap:operation soapAction="correlatiingReceiveWithinFlowOperation"/>
            <input>
                <soap:body parts="correlatiingReceiveWithinFlowPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="correlatiingReceiveWithinFlowPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="correlatiingReceiveWithinFlowBinding1"
             type="tns:correlatiingReceiveWithinFlowPortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="correlatiingReceiveWithinFlowOperation1">
            <soap:operation soapAction="correlatiingReceiveWithinFlowOperation1"/>
            <input>
                <soap:body parts="correlatiingReceiveWithinFlowPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="correlatiingReceiveWithinFlowService">
        <port name="correlatiingReceiveWithinFlowPort"
              binding="tns:correlatiingReceiveWithinFlowBinding">
            <soap:address location="http://localhost:12100/service/correlatiingReceiveWithinFlowPort"/>
        </port>
        <port name="correlatiingReceiveWithinFlowPort1"
              binding="tns:correlatiingReceiveWithinFlowBinding1">
            <soap:address location="http://localhost:12100/service/correlatiingReceiveWithinFlowPort1"/>
        </port>
    </service>
</definitions>
