ojc-core/bpelse/bpelcore/test/com/sun/jbi/engine/bpel/core/test/modelparsing/bpel/correlation/flowmodel/creatingReceiveWithinFlow.wsdl

<definitions targetNamespace="urn:creatingReceiveWithinFlowTargetNamespace"
             name="creatingReceiveWithinFlowDefinition"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="urn:creatingReceiveWithinFlowTargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="twoWayOperPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="creatingReceiveWithinFlowServerRole"
                   portType="tns:creatingReceiveWithinFlowPortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="oneWayOperPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="creatingReceiveWithinFlowServerRole1"
                   portType="tns:creatingReceiveWithinFlowPortType1"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="ThirdPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="ThirdRole"
                   portType="tns:ThirdPortType"></plnk:role>
    </plnk:partnerLinkType>        
    <plnk:partnerLinkType name="FourthPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="FourthRole"
                   portType="tns:FourthPortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="tns:FifthPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="FifthRole"
                   portType="tns:FifthPortType"></plnk:role>
    </plnk:partnerLinkType>
                         
    <vprop:property type="xsd:string"
                   name="propertyName1"></vprop:property>
    <vprop:propertyAlias part="creatingReceiveWithinFlowPart"
                        propertyName="tns:propertyName1"
                        messageType="tns:creatingReceiveWithinFlowMessage">
        <vprop:query>string</vprop:query>
    </vprop:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:creatingReceiveWithinFlowTargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:creatingReceiveWithinFlowTargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:creatingReceiveWithinFlowTargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

                    <xsd:complexType name="creatingReceiveWithinFlowType">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="creatingReceiveWithinFlowMessage">
        <part name="creatingReceiveWithinFlowPart"
              type="tns:creatingReceiveWithinFlowType"></part>
    </message>
    <portType name="creatingReceiveWithinFlowPortType">
        <operation name="creatingReceiveWithinFlowOperation">
            <input message="tns:creatingReceiveWithinFlowMessage"></input>
            <output message="tns:creatingReceiveWithinFlowMessage"></output>
        </operation>
    </portType>
    <portType name="creatingReceiveWithinFlowPortType1">
        <operation name="creatingReceiveWithinFlowOperation1">
            <input message="tns:creatingReceiveWithinFlowMessage"></input>
        </operation>
    </portType>
    <portType name="ThirdPortType">
        <operation name="ThirdPortTypeOperation">
            <input message="tns:creatingReceiveWithinFlowMessage"></input>
        </operation>
    </portType>    
    <portType name="FourthPortType">
        <operation name="FourthPortTypeOperation">
            <input message="tns:creatingReceiveWithinFlowMessage"></input>
        </operation>
    </portType>    
    <portType name="FifthPortType">
        <operation name="FifthPortTypeOperation">
            <input message="tns:creatingReceiveWithinFlowMessage"></input>
        </operation>
    </portType> 
    <binding name="creatingReceiveWithinFlowBinding"
             type="tns:creatingReceiveWithinFlowPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="creatingReceiveWithinFlowOperation">
            <soap:operation soapAction="creatingReceiveWithinFlowOperation"/>
            <input>
                <soap:body parts="creatingReceiveWithinFlowPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="creatingReceiveWithinFlowPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="creatingReceiveWithinFlowBinding1"
             type="tns:creatingReceiveWithinFlowPortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="creatingReceiveWithinFlowOperation1">
            <soap:operation soapAction="creatingReceiveWithinFlowOperation1"/>
            <input>
                <soap:body parts="creatingReceiveWithinFlowPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="creatingReceiveWithinFlowService">
        <port name="creatingReceiveWithinFlowPort"
              binding="tns:creatingReceiveWithinFlowBinding">
            <soap:address location="http://localhost:12100/service/creatingReceiveWithinFlowPort"/>
        </port>
        <port name="creatingReceiveWithinFlowPort1"
              binding="tns:creatingReceiveWithinFlowBinding1">
            <soap:address location="http://localhost:12100/service/creatingReceiveWithinFlowPort1"/>
        </port>
    </service>
</definitions>
