ojc-core/bpelse/bpelcore/test/com/sun/jbi/engine/bpel/core/test/modelparsing/bpel/correlation/flowmodel/createOrCorrelateReceive.wsdl

<definitions targetNamespace="urn:createOrCorrelateReceiveTargetNamespace"
             name="createOrCorrelateReceiveDefinition"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="urn:createOrCorrelateReceiveTargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="twoWayOperPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="createOrCorrelateReceiveServerRole"
                   portType="tns:createOrCorrelateReceivePortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="oneWayOperPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="createOrCorrelateReceiveServerRole1"
                   portType="tns:createOrCorrelateReceivePortType1"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="ThirdPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="ThirdRole"
                   portType="tns:ThirdPortType"></plnk:role>
    </plnk:partnerLinkType>        
    <plnk:partnerLinkType name="FourthPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="FourthRole"
                   portType="tns:FourthPortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="FifthPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="FifthRole"
                   portType="tns:FifthPortType"></plnk:role>
    </plnk:partnerLinkType>
                         
    <vprop:property type="xsd:string"
                   name="propertyName1"></vprop:property>
    <vprop:propertyAlias part="createOrCorrelateReceivePart"
                        propertyName="tns:propertyName1"
                        messageType="tns:createOrCorrelateReceiveMessage">
        <vprop:query>string</vprop:query>
    </vprop:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:createOrCorrelateReceiveTargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:createOrCorrelateReceiveTargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:createOrCorrelateReceiveTargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

                    <xsd:complexType name="createOrCorrelateReceiveType">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="createOrCorrelateReceiveMessage">
        <part name="createOrCorrelateReceivePart"
              type="tns:createOrCorrelateReceiveType"></part>
    </message>
    <portType name="createOrCorrelateReceivePortType">
        <operation name="createOrCorrelateReceiveOperation">
            <input message="tns:createOrCorrelateReceiveMessage"></input>
            <output message="tns:createOrCorrelateReceiveMessage"></output>
        </operation>
    </portType>
    <portType name="createOrCorrelateReceivePortType1">
        <operation name="createOrCorrelateReceiveOperation1">
            <input message="tns:createOrCorrelateReceiveMessage"></input>
        </operation>
    </portType>
    <portType name="ThirdPortType">
        <operation name="ThirdPortTypeOperation">
            <input message="tns:createOrCorrelateReceiveMessage"></input>
        </operation>
    </portType>    
    <portType name="FourthPortType">
        <operation name="FourthPortTypeOperation">
            <input message="tns:createOrCorrelateReceiveMessage"></input>
        </operation>
    </portType>    
    <portType name="FifthPortType">
        <operation name="FifthPortTypeOperation">
            <input message="tns:createOrCorrelateReceiveMessage"></input>
        </operation>
    </portType> 
    <binding name="createOrCorrelateReceiveBinding"
             type="tns:createOrCorrelateReceivePortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createOrCorrelateReceiveOperation">
            <soap:operation soapAction="createOrCorrelateReceiveOperation"/>
            <input>
                <soap:body parts="createOrCorrelateReceivePart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="createOrCorrelateReceivePart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="createOrCorrelateReceiveBinding1"
             type="tns:createOrCorrelateReceivePortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createOrCorrelateReceiveOperation1">
            <soap:operation soapAction="createOrCorrelateReceiveOperation1"/>
            <input>
                <soap:body parts="createOrCorrelateReceivePart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="createOrCorrelateReceiveService">
        <port name="createOrCorrelateReceivePort"
              binding="tns:createOrCorrelateReceiveBinding">
            <soap:address location="http://localhost:12100/service/createOrCorrelateReceivePort"/>
        </port>
        <port name="createOrCorrelateReceivePort1"
              binding="tns:createOrCorrelateReceiveBinding1">
            <soap:address location="http://localhost:12100/service/createOrCorrelateReceivePort1"/>
        </port>
    </service>
</definitions>
