ojc-core/bpelse/bpelcore/test/com/sun/jbi/engine/bpel/core/test/modelparsing/bpel/correlation/flowmodel/creatingReceiveWithinFlow4.wsdl

<definitions targetNamespace="urn:creatingReceiveWithinFlow4TargetNamespace"
             name="creatingReceiveWithinFlow4Definition"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="urn:creatingReceiveWithinFlow4TargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="twoWayOperPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="creatingReceiveWithinFlow4ServerRole"
                   portType="tns:creatingReceiveWithinFlow4PortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="oneWayOperPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="creatingReceiveWithinFlow4ServerRole1"
                   portType="tns:creatingReceiveWithinFlow4PortType1"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="ThirdPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="ThirdRole"
                   portType="tns:ThirdPortType"></plnk:role>
    </plnk:partnerLinkType>        
    <plnk:partnerLinkType name="FourthPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="FourthRole"
                   portType="tns:FourthPortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="FifthPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="FifthRole"
                   portType="tns:FifthPortType"></plnk:role>
    </plnk:partnerLinkType>
                         
    <vprop:property type="xsd:string"
                   name="propertyName1"></vprop:property>
    <vprop:propertyAlias part="creatingReceiveWithinFlow4Part"
                        propertyName="tns:propertyName1"
                        messageType="tns:creatingReceiveWithinFlow4Message">
        <vprop:query>string</vprop:query>
    </vprop:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:creatingReceiveWithinFlow4TargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:creatingReceiveWithinFlow4TargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:creatingReceiveWithinFlow4TargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

                    <xsd:complexType name="creatingReceiveWithinFlow4Type">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="creatingReceiveWithinFlow4Message">
        <part name="creatingReceiveWithinFlow4Part"
              type="tns:creatingReceiveWithinFlow4Type"></part>
    </message>
    <portType name="creatingReceiveWithinFlow4PortType">
        <operation name="creatingReceiveWithinFlow4Operation">
            <input message="tns:creatingReceiveWithinFlow4Message"></input>
            <output message="tns:creatingReceiveWithinFlow4Message"></output>
        </operation>
    </portType>
    <portType name="creatingReceiveWithinFlow4PortType1">
        <operation name="creatingReceiveWithinFlow4Operation1">
            <input message="tns:creatingReceiveWithinFlow4Message"></input>
        </operation>
    </portType>
    <portType name="ThirdPortType">
        <operation name="ThirdPortTypeOperation">
            <input message="tns:creatingReceiveWithinFlow4Message"></input>
        </operation>
    </portType>    
    <portType name="FourthPortType">
        <operation name="FourthPortTypeOperation">
            <input message="tns:creatingReceiveWithinFlow4Message"></input>
        </operation>
    </portType>    
    <portType name="FifthPortType">
        <operation name="FifthPortTypeOperation">
            <input message="tns:creatingReceiveWithinFlow4Message"></input>
        </operation>
    </portType> 
    <binding name="creatingReceiveWithinFlow4Binding"
             type="tns:creatingReceiveWithinFlow4PortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="creatingReceiveWithinFlow4Operation">
            <soap:operation soapAction="creatingReceiveWithinFlow4Operation"/>
            <input>
                <soap:body parts="creatingReceiveWithinFlow4Part"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="creatingReceiveWithinFlow4Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="creatingReceiveWithinFlow4Binding1"
             type="tns:creatingReceiveWithinFlow4PortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="creatingReceiveWithinFlow4Operation1">
            <soap:operation soapAction="creatingReceiveWithinFlow4Operation1"/>
            <input>
                <soap:body parts="creatingReceiveWithinFlow4Part"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="creatingReceiveWithinFlow4Service">
        <port name="creatingReceiveWithinFlow4Port"
              binding="tns:creatingReceiveWithinFlow4Binding">
            <soap:address location="http://localhost:12100/service/creatingReceiveWithinFlow4Port"/>
        </port>
        <port name="creatingReceiveWithinFlow4Port1"
              binding="tns:creatingReceiveWithinFlow4Binding1">
            <soap:address location="http://localhost:12100/service/creatingReceiveWithinFlow4Port1"/>
        </port>
    </service>
</definitions>
