driver-tests/sqlse/db2/SqlSE1051_DB2/SelectAllRowsTableSql/src/SelectAllRowsTableSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SelectAllRowsTableSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="SelectAllRowsTableRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="SelectAllRowsTableResponse"><xsd:complexType><xsd:sequence><xsd:element name="EMPID" type="xsd:int"/><xsd:element name="ENAME" type="xsd:string"/><xsd:element name="DEPTID" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="SelectAllRowsTableRequest">
    <part name="SelectAllRowsTableRequestPart" element="tns:SelectAllRowsTableRequest"/>
  </message>
  <message name="SelectAllRowsTableResponse">
    <part name="SelectAllRowsTableResponsePart" element="tns:SelectAllRowsTableResponse"/>
  </message>
  <portType name="SelectAllRowsTableSql_sqlsePortType">
    <operation name="SelectAllRowsTable">
      <input name="SelectAllRowsTableRequest" message="tns:SelectAllRowsTableRequest"/>
      <output name="SelectAllRowsTableResponse" message="tns:SelectAllRowsTableResponse"/>
    </operation>
  </portType>
  <binding name="SelectAllRowsTableSqlBinding" type="tns:SelectAllRowsTableSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SelectAllRowsTable">
      <soap:operation/>
      <input name="SelectAllRowsTableRequest">
        <soap:body/>
      </input>
      <output name="SelectAllRowsTableResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="SelectAllRowsTableSql_sqlseService">
    <port name="SelectAllRowsTableSql_sqlsePort" binding="tns:SelectAllRowsTableSqlBinding">
      <soap:address location="http://localhost:18181/SelectAllRowsTableSql/SelectAllRowsTableSql/SelectAllRowsTableSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="SelectAllRowsTableSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="SelectAllRowsTableSql_myrole" portType="tns:SelectAllRowsTableSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
