contrib-imola/corba-bc/integration-test/test-provider-complex-IntType/provider-complex-IntType-http-consumer/src/main/resources/TestM_expected5.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Echo6" targetNamespace="http://it.imolinfo.jbi4corba.test.webservice.generator.complexintType.Echo6" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://it.imolinfo.jbi4corba.test.webservice.generator.complexintType.Echo6">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.w3.org/2005/08/addressing" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://it.imolinfo.jbi4corba.test.webservice.generator.complexintType.Echo6" xmlns="http://it.imolinfo.jbi4corba.test.webservice.generator.complexintType.Echo6">
<xs:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="http://www.w3.org/2006/03/addressing/ws-addr.xsd"/>
<xs:element name="echo">
<xs:complexType>
<xs:sequence>
<xs:element name="num" type="xs:int"/>
<xs:element minOccurs="0" name="msg" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="echoResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:EndpointReferenceType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="echoResponse">
    <wsdl:part name="parameters" element="tns:echoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo">
    <wsdl:part name="parameters" element="tns:echo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Echo6">
    <wsdl:operation name="echo">
      <wsdl:input name="echo" message="tns:echo">
    </wsdl:input>
      <wsdl:output name="echoResponse" message="tns:echoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Echo6CorbaBinding" type="tns:Echo6">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="echo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Echo6">
    <wsdl:port name="Echo6Port" binding="tns:Echo6CorbaBinding">
      <soap:address location="http://localhost:8192/Service/test-provider-complex-IntType-Echo6/"/>
    </wsdl:port>
  </wsdl:service>
<plnk:partnerLinkType name="Echo6">
        <plnk:role name="Echo6PortTypeRole" portType="tns:Echo6"/>
</plnk:partnerLinkType>
</wsdl:definitions>