contrib-imola/corba-bc/integration-test/test-provider-complex-IntType/provider-complex-IntType-http-consumer/src/main/resources/TestM_expected6.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Echo7" targetNamespace="http://it.imolinfo.jbi4corba.test.webservice.generator.complexintType.Echo7" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://it.imolinfo.jbi4corba.test.webservice.generator.complexintType.Echo7">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.w3.org/2005/08/addressing" xmlns:tns="http://complexintType.generator.webservice.test.jbi4corba.imolinfo.it/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://complexintType.generator.webservice.test.jbi4corba.imolinfo.it/">
<xs:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="http://www.w3.org/2006/03/addressing/ws-addr.xsd"/>
<xs:complexType name="intfStruct">
<xs:sequence>
<xs:element minOccurs="0" name="fieldEchostruct" type="tns:echoStruct"/>
<xs:element minOccurs="0" name="fieldEcho2" type="ns1:EndpointReferenceType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="echoStruct">
<xs:sequence>
<xs:element minOccurs="0" name="fieldEcho2" type="ns1:EndpointReferenceType"/>
<xs:element minOccurs="0" name="persona" type="tns:persona"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="persona">
<xs:sequence>
<xs:element minOccurs="0" name="echopersona" type="ns1:EndpointReferenceType"/>
<xs:element minOccurs="0" name="nome" type="xs:string"/>
<xs:element minOccurs="0" name="cognome" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://complexintType.generator.webservice.test.jbi4corba.imolinfo.it/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://it.imolinfo.jbi4corba.test.webservice.generator.complexintType.Echo7" xmlns="http://it.imolinfo.jbi4corba.test.webservice.generator.complexintType.Echo7">
<xs:import namespace="http://complexintType.generator.webservice.test.jbi4corba.imolinfo.it/"/>
<xs:element name="echo">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="mystruct" type="ns1:intfStruct"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="echoResponse">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:intfStruct"/>
<xs:element minOccurs="0" name="mystruct" type="ns1:intfStruct"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="echoResponse">
    <wsdl:part name="parameters" element="tns:echoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo">
    <wsdl:part name="parameters" element="tns:echo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Echo7">
    <wsdl:operation name="echo">
      <wsdl:input name="echo" message="tns:echo">
    </wsdl:input>
      <wsdl:output name="echoResponse" message="tns:echoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Echo7CorbaBinding" type="tns:Echo7">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="echo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Echo7">
    <wsdl:port name="Echo7Port" binding="tns:Echo7CorbaBinding">
      <soap:address location="http://localhost:8192/Service/test-provider-complex-IntType-Echo7/"/>
    </wsdl:port>
  </wsdl:service>
<plnk:partnerLinkType name="Echo7">
        <plnk:role name="Echo7PortTypeRole" portType="tns:Echo7"/>
</plnk:partnerLinkType>
</wsdl:definitions>