driver-tests/bpelse/JavaEEIntegration/JavaEEToBP/ProdMngmntSamples/CreditApplicationProcessorApplication/src/jbiasa/LoanApprover.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" 
targetNamespace="http://approver.fs.com/" 
xmlns:tns="http://approver.fs.com/" 
xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="getDecision" type="tns:getDecision"/>

  <xs:element name="getDecisionResponse" type="tns:getDecisionResponse"/>

  <xs:complexType name="getDecision">
    <xs:sequence>
      <xs:element name="report" type="xs:string" minOccurs="0"/>
    </xs:sequence>

  </xs:complexType>

  <xs:complexType name="getDecisionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
