contrib-imola/corba-bc/integration-test/test-provider-complex-mult-interface/provider-complex-mult-interface-http-consumer/src/main/resources/EchoComplexMultInterface1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EchoComplex2" targetNamespace="http://it.imolinfo.jbi4corba.test.testprovidercomplexmult.EchoComplex2" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://it.imolinfo.jbi4corba.test.testprovidercomplexmult.EchoComplex2">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://it.imolinfo.jbi4corba.test.testprovidercomplexmult.EchoComplex2" xmlns:ns1="http://testprovidercomplexmult.test.jbi4corba.imolinfo.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://it.imolinfo.jbi4corba.test.testprovidercomplexmult.EchoComplex2">
    <xs:import namespace="http://testprovidercomplexmult.test.jbi4corba.imolinfo.it/" schemaLocation="TypeDef_testprovidercomplexmult.test.jbi4corba.imolinfo.it.xsd"/>
    <xs:element name="echo2">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="msg" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echo2Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoExceptionNotThrown2">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="es" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoExceptionNotThrown2Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoExceptionThrown2">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="es" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoExceptionThrown2Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoSequence2">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="es" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoSequence2Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoSequenceSeqEchoStruct2">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="es" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoSequenceSeqEchoStruct2Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoSequenceSeqMySequence2">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="es" type="ns1:mySequence"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoSequenceSeqMySequence2Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:mySequence"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoSequenceValueType2">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="es" type="ns1:mySequence"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoSequenceValueType2Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:mySequence"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoStruct2">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="es" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoStruct2Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoStructOfStruct2">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="v" type="ns1:structOfStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoStructOfStruct2Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:structOfStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoStructOfValuetype2">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="v" type="ns1:structOfValuetype"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoStructOfValuetype2Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:structOfValuetype"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoVTPrimi2">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="v" type="ns1:vtPrimi"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoVTPrimi2Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:vtPrimi"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoVTPrimiSeq2">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="v" type="ns1:vtPrimiSeq"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoVTPrimiSeq2Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:vtPrimiSeq"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueBoxedTypeComplex2">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="e" type="ns1:mySequence"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueBoxedTypeComplex2Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:mySequence"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueBoxedTypePrimitive2">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="e" type="ns1:myLong"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueBoxedTypePrimitive2Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:myLong"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueType2">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="e" type="ns1:echoVT"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueType2Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:echoVT"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueTypeOfStruct2">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="v" type="ns1:valueTypeOfStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueTypeOfStruct2Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:valueTypeOfStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueTypeOfValueType2">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="v" type="ns1:valueTypeOfValueType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueTypeOfValueType2Response">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:valueTypeOfValueType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="EchoComplexException" type="EchoComplexException"/>
    <xs:complexType name="EchoComplexException">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="reason" type="ns1:echoStruct"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="echoVTPrimiSeq2">
    <wsdl:part name="parameters" element="tns:echoVTPrimiSeq2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoVTPrimiSeq2Response">
    <wsdl:part name="parameters" element="tns:echoVTPrimiSeq2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequenceSeqMySequence2Response">
    <wsdl:part name="parameters" element="tns:echoSequenceSeqMySequence2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequence2Response">
    <wsdl:part name="parameters" element="tns:echoSequence2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequenceSeqMySequence2">
    <wsdl:part name="parameters" element="tns:echoSequenceSeqMySequence2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueBoxedTypeComplex2">
    <wsdl:part name="parameters" element="tns:echoValueBoxedTypeComplex2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueBoxedTypeComplex2Response">
    <wsdl:part name="parameters" element="tns:echoValueBoxedTypeComplex2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoStructOfStruct2">
    <wsdl:part name="parameters" element="tns:echoStructOfStruct2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueTypeOfValueType2">
    <wsdl:part name="parameters" element="tns:echoValueTypeOfValueType2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequenceSeqEchoStruct2">
    <wsdl:part name="parameters" element="tns:echoSequenceSeqEchoStruct2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoStructOfStruct2Response">
    <wsdl:part name="parameters" element="tns:echoStructOfStruct2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo2Response">
    <wsdl:part name="parameters" element="tns:echo2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequenceValueType2Response">
    <wsdl:part name="parameters" element="tns:echoSequenceValueType2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EchoComplexException">
    <wsdl:part name="EchoComplexException" element="tns:EchoComplexException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueBoxedTypePrimitive2">
    <wsdl:part name="parameters" element="tns:echoValueBoxedTypePrimitive2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoVTPrimi2Response">
    <wsdl:part name="parameters" element="tns:echoVTPrimi2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoExceptionNotThrown2">
    <wsdl:part name="parameters" element="tns:echoExceptionNotThrown2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequenceValueType2">
    <wsdl:part name="parameters" element="tns:echoSequenceValueType2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequence2">
    <wsdl:part name="parameters" element="tns:echoSequence2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo2">
    <wsdl:part name="parameters" element="tns:echo2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueTypeOfStruct2">
    <wsdl:part name="parameters" element="tns:echoValueTypeOfStruct2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueType2Response">
    <wsdl:part name="parameters" element="tns:echoValueType2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoExceptionThrown2">
    <wsdl:part name="parameters" element="tns:echoExceptionThrown2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoStruct2Response">
    <wsdl:part name="parameters" element="tns:echoStruct2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoExceptionNotThrown2Response">
    <wsdl:part name="parameters" element="tns:echoExceptionNotThrown2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoVTPrimi2">
    <wsdl:part name="parameters" element="tns:echoVTPrimi2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoExceptionThrown2Response">
    <wsdl:part name="parameters" element="tns:echoExceptionThrown2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoStruct2">
    <wsdl:part name="parameters" element="tns:echoStruct2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueTypeOfValueType2Response">
    <wsdl:part name="parameters" element="tns:echoValueTypeOfValueType2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoStructOfValuetype2Response">
    <wsdl:part name="parameters" element="tns:echoStructOfValuetype2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueBoxedTypePrimitive2Response">
    <wsdl:part name="parameters" element="tns:echoValueBoxedTypePrimitive2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueType2">
    <wsdl:part name="parameters" element="tns:echoValueType2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoStructOfValuetype2">
    <wsdl:part name="parameters" element="tns:echoStructOfValuetype2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequenceSeqEchoStruct2Response">
    <wsdl:part name="parameters" element="tns:echoSequenceSeqEchoStruct2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueTypeOfStruct2Response">
    <wsdl:part name="parameters" element="tns:echoValueTypeOfStruct2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EchoComplex2">
    <wsdl:operation name="echoValueTypeOfStruct2">
      <wsdl:input name="echoValueTypeOfStruct2" message="tns:echoValueTypeOfStruct2">
    </wsdl:input>
      <wsdl:output name="echoValueTypeOfStruct2Response" message="tns:echoValueTypeOfStruct2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoValueType2">
      <wsdl:input name="echoValueType2" message="tns:echoValueType2">
    </wsdl:input>
      <wsdl:output name="echoValueType2Response" message="tns:echoValueType2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoSequenceSeqEchoStruct2">
      <wsdl:input name="echoSequenceSeqEchoStruct2" message="tns:echoSequenceSeqEchoStruct2">
    </wsdl:input>
      <wsdl:output name="echoSequenceSeqEchoStruct2Response" message="tns:echoSequenceSeqEchoStruct2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoSequence2">
      <wsdl:input name="echoSequence2" message="tns:echoSequence2">
    </wsdl:input>
      <wsdl:output name="echoSequence2Response" message="tns:echoSequence2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoVTPrimiSeq2">
      <wsdl:input name="echoVTPrimiSeq2" message="tns:echoVTPrimiSeq2">
    </wsdl:input>
      <wsdl:output name="echoVTPrimiSeq2Response" message="tns:echoVTPrimiSeq2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStructOfStruct2">
      <wsdl:input name="echoStructOfStruct2" message="tns:echoStructOfStruct2">
    </wsdl:input>
      <wsdl:output name="echoStructOfStruct2Response" message="tns:echoStructOfStruct2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStructOfValuetype2">
      <wsdl:input name="echoStructOfValuetype2" message="tns:echoStructOfValuetype2">
    </wsdl:input>
      <wsdl:output name="echoStructOfValuetype2Response" message="tns:echoStructOfValuetype2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoExceptionNotThrown2">
      <wsdl:input name="echoExceptionNotThrown2" message="tns:echoExceptionNotThrown2">
    </wsdl:input>
      <wsdl:output name="echoExceptionNotThrown2Response" message="tns:echoExceptionNotThrown2Response">
    </wsdl:output>
      <wsdl:fault name="EchoComplexException" message="tns:EchoComplexException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="echoValueBoxedTypePrimitive2">
      <wsdl:input name="echoValueBoxedTypePrimitive2" message="tns:echoValueBoxedTypePrimitive2">
    </wsdl:input>
      <wsdl:output name="echoValueBoxedTypePrimitive2Response" message="tns:echoValueBoxedTypePrimitive2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoExceptionThrown2">
      <wsdl:input name="echoExceptionThrown2" message="tns:echoExceptionThrown2">
    </wsdl:input>
      <wsdl:output name="echoExceptionThrown2Response" message="tns:echoExceptionThrown2Response">
    </wsdl:output>
      <wsdl:fault name="EchoComplexException" message="tns:EchoComplexException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="echoValueTypeOfValueType2">
      <wsdl:input name="echoValueTypeOfValueType2" message="tns:echoValueTypeOfValueType2">
    </wsdl:input>
      <wsdl:output name="echoValueTypeOfValueType2Response" message="tns:echoValueTypeOfValueType2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo2">
      <wsdl:input name="echo2" message="tns:echo2">
    </wsdl:input>
      <wsdl:output name="echo2Response" message="tns:echo2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStruct2">
      <wsdl:input name="echoStruct2" message="tns:echoStruct2">
    </wsdl:input>
      <wsdl:output name="echoStruct2Response" message="tns:echoStruct2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoSequenceSeqMySequence2">
      <wsdl:input name="echoSequenceSeqMySequence2" message="tns:echoSequenceSeqMySequence2">
    </wsdl:input>
      <wsdl:output name="echoSequenceSeqMySequence2Response" message="tns:echoSequenceSeqMySequence2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoSequenceValueType2">
      <wsdl:input name="echoSequenceValueType2" message="tns:echoSequenceValueType2">
    </wsdl:input>
      <wsdl:output name="echoSequenceValueType2Response" message="tns:echoSequenceValueType2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoVTPrimi2">
      <wsdl:input name="echoVTPrimi2" message="tns:echoVTPrimi2">
    </wsdl:input>
      <wsdl:output name="echoVTPrimi2Response" message="tns:echoVTPrimi2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoValueBoxedTypeComplex2">
      <wsdl:input name="echoValueBoxedTypeComplex2" message="tns:echoValueBoxedTypeComplex2">
    </wsdl:input>
      <wsdl:output name="echoValueBoxedTypeComplex2Response" message="tns:echoValueBoxedTypeComplex2Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
    <wsdl:binding name="EchoComplex2CorbaBinding" type="tns:EchoComplex2">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="echoValueTypeOfStruct2">
            <soap:operation/>
            <wsdl:input name="echoValueTypeOfStruct2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoValueTypeOfStruct2Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueType2">
            <soap:operation/>
            <wsdl:input name="echoValueType2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoValueType2Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSequenceSeqEchoStruct2">
            <soap:operation/>
            <wsdl:input name="echoSequenceSeqEchoStruct2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSequenceSeqEchoStruct2Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSequence2">
            <soap:operation/>
            <wsdl:input name="echoSequence2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSequence2Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoVTPrimiSeq2">
            <soap:operation/>
            <wsdl:input name="echoVTPrimiSeq2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoVTPrimiSeq2Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoStructOfStruct2">
            <soap:operation/>
            <wsdl:input name="echoStructOfStruct2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoStructOfStruct2Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoStructOfValuetype2">
            <soap:operation/>
            <wsdl:input name="echoStructOfValuetype2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoStructOfValuetype2Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoExceptionNotThrown2">
            <soap:operation/>
            <wsdl:input name="echoExceptionNotThrown2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoExceptionNotThrown2Response">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EchoComplexException">
                <soap:fault name="EchoComplexException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="echoValueBoxedTypePrimitive2">
            <soap:operation/>
            <wsdl:input name="echoValueBoxedTypePrimitive2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoValueBoxedTypePrimitive2Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoExceptionThrown2">
            <soap:operation/>
            <wsdl:input name="echoExceptionThrown2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoExceptionThrown2Response">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EchoComplexException">
                <soap:fault use="literal" name="EchoComplexException"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="echoValueTypeOfValueType2">
            <soap:operation/>
            <wsdl:input name="echoValueTypeOfValueType2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoValueTypeOfValueType2Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo2">
            <soap:operation/>
            <wsdl:input name="echo2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echo2Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoStruct2">
            <soap:operation/>
            <wsdl:input name="echoStruct2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoStruct2Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSequenceSeqMySequence2">
            <soap:operation/>
            <wsdl:input name="echoSequenceSeqMySequence2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSequenceSeqMySequence2Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSequenceValueType2">
            <soap:operation/>
            <wsdl:input name="echoSequenceValueType2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSequenceValueType2Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoVTPrimi2">
            <soap:operation/>
            <wsdl:input name="echoVTPrimi2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoVTPrimi2Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueBoxedTypeComplex2">
            <soap:operation/>
            <wsdl:input name="echoValueBoxedTypeComplex2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoValueBoxedTypeComplex2Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EchoComplex2">
    <wsdl:port name="EchoComplex2CorbaPort" binding="tns:EchoComplex2CorbaBinding">

        <soap:address location="http://localhost:8192/Service/test-provider-complex-mult-interface2/"/>
    </wsdl:port>
  </wsdl:service>
<plnk:partnerLinkType name="EchoComplex2">
<plnk:role name="EchoComplex2PortTypeRole" portType="tns:EchoComplex2"/>
</plnk:partnerLinkType>
</wsdl:definitions>

