driver-tests/sqlse/sqlserver/Sqlse1103_SQL/InsertParamSql/src/InsertParamSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="InsertParamSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="InsertParamRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:string"/><xsd:element name="param2" type="xsd:int"/><xsd:element name="param3" type="xsd:string"/><xsd:element name="param4" type="xsd:string"/><xsd:element name="param5" type="xsd:string"/><xsd:element name="param6" type="xsd:double"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="InsertParamResponse">
    <part name="InsertParamResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="InsertParamRequest">
    <part name="InsertParamRequestPart" element="tns:InsertParamRequest"/>
  </message>
  <portType name="InsertParamSql_sqlsePortType">
    <operation name="InsertParam">
      <input name="InsertParamRequest" message="tns:InsertParamRequest"/>
      <output name="InsertParamResponse" message="tns:InsertParamResponse"/>
    </operation>
  </portType>
  <binding name="InsertParamSqlBinding" type="tns:InsertParamSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="InsertParam">
      <soap:operation/>
      <input name="InsertParamRequest">
        <soap:body/>
      </input>
      <output name="InsertParamResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="InsertParamSql_sqlseService">
    <port name="InsertParamSql_sqlsePort" binding="tns:InsertParamSqlBinding">
      <soap:address location="http://localhost:18181/InsertParamSql/InsertParamSql/InsertParamSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="InsertParamSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="InsertParamSql_myrole" portType="tns:InsertParamSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
