driver-tests/bpelse/JavaEEIntegration/JavaEEToBP/FaultTest/webCallGreetSvc/web/WEB-INF/wsdl/TestDriverWS/TestDriver.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/TestDriver"
    xmlns:ns1="#TARGET_NAMESPACE/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/TestDriver" name="TestDriver" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://sun.com/TestDriver/001/" xmlns:ns1="http://sun.com/TestDriver/001/">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="#SERVICE_NAMERequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="#SERVICE_NAMEResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="#SERVICE_NAMEError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="#SERVICE_NAMEPortType">
    <operation name="#SERVICE_NAMEOperation">
      <input message="tns:#SERVICE_NAMERequest"/>
      <output message="tns:#SERVICE_NAMEResponse"/>
      <fault message="tns:#SERVICE_NAMEError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="#SERVICE_NAMEBinding" type="tns:#SERVICE_NAMEPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="#SERVICE_NAMEOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="#SERVICE_NAMEService">
    <port name="#SERVICE_NAMEPort" binding="tns:#SERVICE_NAMEBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <message name="TestDriverOperationRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="TestDriverOperationReply">
        <part name="part1" type="xsd:string"/>
    </message>
    <portType name="TestDriverPortType">
        <wsdl:operation name="TestDriverOperation">
            <wsdl:input name="input1" message="tns:TestDriverOperationRequest"/>
            <wsdl:output name="output1" message="tns:TestDriverOperationReply"/>
        </wsdl:operation>
    </portType>
    <binding name="TestDriverBinding" type="tns:TestDriverPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="TestDriverOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TestDriver"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/TestDriver"/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <service name="TestDriverService">
        <wsdl:port name="TestDriverPort" binding="tns:TestDriverBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/TestDriverService/TestDriverPort"/>
        </wsdl:port>
    </service>
    <plnk:partnerLinkType name="TestDriverPartner">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TestDriverPortTypeRole" portType="tns:TestDriverPortType"/>
    </plnk:partnerLinkType>
</definitions>
