driver-tests/bpelse/systemicqualities/Redelivery/RedeliveryRedirectToBP-503/DPL_OneWayBpelService1Bpel/src/OneWayBpelService1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="OneWayBpelService1" targetNamespace="http://j2ee.netbeans.org/wsdl/OneWayBpelService1"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/OneWayBpelService1" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types/>
    <message name="OneWayBpelService1InOperationRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="OneWayBpelService1OutOperationRequest">
        <part name="part2" type="xsd:string"/>
    </message>
    <portType name="OneWayBpelService1InPortType">
        <operation name="OneWayBpelService1InOperation">
            <input name="input1" message="tns:OneWayBpelService1InOperationRequest"/>
        </operation>
    </portType>
    <portType name="OneWayBpelService1OutPortType">
        <operation name="OneWayBpelService1OutOperation">
            <input name="input1" message="tns:OneWayBpelService1OutOperationRequest"/>
        </operation>
    </portType>
    <binding name="OneWayBpelService1InBinding" type="tns:OneWayBpelService1InPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="OneWayBpelService1InOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/OneWayBpelService1WSDL"/>
            </input>
        </operation>
    </binding>
    <binding name="OneWayBpelService1OutBinding" type="tns:OneWayBpelService1OutPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="OneWayBpelService1OutOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/OneWayBpelService1WSDL"/>
            </input>
        </operation>
    </binding>
    <service name="OneWayBpelService1InService">
        <port name="OneWayBpelService1InPort" binding="tns:OneWayBpelService1InBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/OneWayBpelService1InService/OneWayBpelService1InPort"/>
        </port>
    </service>
    <service name="OneWayBpelService1OutService">
        <port name="OneWayBpelService1OutPort" binding="tns:OneWayBpelService1OutBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/OneWayBpelService1OutService/OneWayBpelService1OutPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="OneWayBpelService1In">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="OneWayBpelService1InPortTypeRole" portType="tns:OneWayBpelService1InPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="OneWayBpelService1Out">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="OneWayBpelService1OutPortTypeRole" portType="tns:OneWayBpelService1OutPortType"/>
    </plnk:partnerLinkType>
</definitions>
