driver-tests/bpelse/assign/AssignNamespaces/src/multiNSelementFormDefaultUnqualified/a.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/multiNSelementFormDefaultUnqualified/address"
            xmlns:tns="http://xml.netbeans.org/schema/multiNSelementFormDefaultUnqualified/address">
    <xsd:element name="address">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Street" type="xsd:string"></xsd:element>
                <xsd:element name="city" type="xsd:string"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
