driver-tests/sqlse/derby/selectmultiparamviewfullqualSQL/src/selectmultiparamviewfullqualSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="selectmultiparamviewfullqualSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="selectmultiparamviewfullqualRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="selectmultiparamviewfullqualResponse"><xsd:complexType><xsd:sequence><xsd:element name="CUSTOMER_NUM" type="xsd:int"/><xsd:element name="DISCOUNT_CODE" type="xsd:string"/><xsd:element name="ZIP" type="xsd:string"/><xsd:element name="NAME" type="xsd:string"/><xsd:element name="ADDR_LN1" type="xsd:string"/><xsd:element name="ADDR_LN2" type="xsd:string"/><xsd:element name="CITY" type="xsd:string"/><xsd:element name="STATE" type="xsd:string"/><xsd:element name="PHONE" type="xsd:string"/><xsd:element name="FAX" type="xsd:string"/><xsd:element name="EMAIL" type="xsd:string"/><xsd:element name="CREDIT_LIMIT" type="xsd:int"/><xsd:element name="LAST_SALE_DATE" type="xsd:string"/><xsd:element name="LAST_SALE_TIME" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="selectmultiparamviewfullqualResponse">
    <part name="selectmultiparamviewfullqualResponsePart" element="tns:selectmultiparamviewfullqualResponse"/>
  </message>
  <message name="selectmultiparamviewfullqualRequest">
    <part name="selectmultiparamviewfullqualRequestPart" element="tns:selectmultiparamviewfullqualRequest"/>
  </message>
  <portType name="selectmultiparamviewfullqualSQL_sqlsePortType">
    <operation name="selectmultiparamviewfullqual">
      <input name="selectmultiparamviewfullqualRequest" message="tns:selectmultiparamviewfullqualRequest"/>
      <output name="selectmultiparamviewfullqualResponse" message="tns:selectmultiparamviewfullqualResponse"/>
    </operation>
  </portType>
  <binding name="selectmultiparamviewfullqualSQLBinding" type="tns:selectmultiparamviewfullqualSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="selectmultiparamviewfullqual">
      <soap:operation style="document"/>
      <input name="selectmultiparamviewfullqualRequest">
        <soap:body use="literal"/>
      </input>
      <output name="selectmultiparamviewfullqualResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="selectmultiparamviewfullqualSQL_sqlseService">
    <port name="selectmultiparamviewfullqualSQL_sqlsePort" binding="tns:selectmultiparamviewfullqualSQLBinding">
      <soap:address location="http://localhost:18181/selectmultiparamviewfullqualSQL/selectmultiparamviewfullqualSQL/selectmultiparamviewfullqualSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="selectmultiparamviewfullqualSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="selectmultiparamviewfullqualSQL_myrole" portType="tns:selectmultiparamviewfullqualSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
