driver-tests/bpelse/dynamicpartnerlink/correlation/MatchingInstanceTwoCorrBPEL/src/RepRecRecInFlowInitJoin/RepRecRecInFlowInitJoin_ParentWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/RepRecRecInFlowInitJoin_ParentWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/RepRecRecInFlowInitJoin_ParentWSDL" name="RepRecRecInFlowInitJoin_ParentWSDL" xmlns:ns="http://xml.netbeans.org/schema/dataTypes.xsd" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/" xmlns:ftp="http://schemas.sun.com/jbi/wsdl-extensions/ftp/" xmlns:msmq="http://schemas.sun.com/jbi/wsdl-extensions/msmq/" xmlns:hl7="http://schemas.sun.com/jbi/wsdl-extensions/hl7/" xmlns:smtp="http://schemas.sun.com/jbi/wsdl-extensions/smtp/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mq="http://schemas.sun.com/jbi/wsdl-extensions/mq/" xmlns:jms="http://schemas.sun.com/jbi/wsdl-extensions/jms/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/RepRecRecInFlowInitJoin_ParentWSDL">
            <xsd:import namespace="http://xml.netbeans.org/schema/dataTypes.xsd" schemaLocation="../dataTypes.xsd"/>
        </xsd:schema>
    </types>
    <message name="RepRecRecInFlowInitJoin_ParentWSDLOperationRequest">
        <part name="part1" element="ns:helloObj"/>
    </message>
    <message name="RepRecRecInFlowInitJoin_ParentWSDLOperationReply">
        <part name="part1" element="ns:helloObj"/>
    </message>
    <portType name="RepRecRecInFlowInitJoin_ParentWSDLPortType1">
        <wsdl:operation name="RepRecRecInFlowInitJoin_ParentWSDLOperation1">
            <wsdl:input name="input1" message="tns:RepRecRecInFlowInitJoin_ParentWSDLOperationRequest"/>
            <wsdl:output name="output1" message="tns:RepRecRecInFlowInitJoin_ParentWSDLOperationReply"/>
        </wsdl:operation>
    </portType>
    <portType name="RepRecRecInFlowInitJoin_ParentWSDLPortType2">
        <wsdl:operation name="RepRecRecInFlowInitJoin_ParentWSDLOperation2">
            <wsdl:input name="input1" message="tns:RepRecRecInFlowInitJoin_ParentWSDLOperationRequest"/>
        </wsdl:operation>
    </portType>
    <portType name="RepRecRecInFlowInitJoin_ParentWSDLPortType3">
        <wsdl:operation name="RepRecRecInFlowInitJoin_ParentWSDLOperation3">
            <wsdl:input name="input1" message="tns:RepRecRecInFlowInitJoin_ParentWSDLOperationRequest"/>
            <wsdl:output name="output1" message="tns:RepRecRecInFlowInitJoin_ParentWSDLOperationReply"/>
        </wsdl:operation>
    </portType>
    <binding name="RepRecRecInFlowInitJoin_ParentWSDLBinding1" type="tns:RepRecRecInFlowInitJoin_ParentWSDLPortType1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RepRecRecInFlowInitJoin_ParentWSDLOperation1">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <binding name="RepRecRecInFlowInitJoin_ParentWSDLBinding2" type="tns:RepRecRecInFlowInitJoin_ParentWSDLPortType2">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="RepRecRecInFlowInitJoin_ParentWSDLOperation2">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body/>
            </wsdl:input>
        </wsdl:operation>
    </binding>
    <binding name="RepRecRecInFlowInitJoin_ParentWSDLBinding3" type="tns:RepRecRecInFlowInitJoin_ParentWSDLPortType3">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="RepRecRecInFlowInitJoin_ParentWSDLOperation3">
            <wsdl:input name="input1">
                <soap:body/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <service name="RepRecRecInFlowInitJoin_ParentWSDLService1">
        <port name="RepRecRecInFlowInitJoin_ParentWSDLPort1" binding="tns:RepRecRecInFlowInitJoin_ParentWSDLBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/RepRecRecInFlowInitJoin_ParentWSDLService/RepRecRecInFlowInitJoin_ParentWSDLPort1"/>
        </port>
    </service>
    <service name="RepRecRecInFlowInitJoin_ParentWSDLService2">
        <port name="RepRecRecInFlowInitJoin_ParentWSDLPort2" binding="tns:RepRecRecInFlowInitJoin_ParentWSDLBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/RepRecRecInFlowInitJoin_ParentWSDLService/RepRecRecInFlowInitJoin_ParentWSDLPort2"/>
        </port>
    </service>
    <service name="RepRecRecInFlowInitJoin_ParentWSDLService3">
        <port name="RepRecRecInFlowInitJoin_ParentWSDLPort3" binding="tns:RepRecRecInFlowInitJoin_ParentWSDLBinding3">
            <soap:address location="http://localhost:${HttpDefaultPort}/RepRecRecInFlowInitJoin_ParentWSDLService/RepRecRecInFlowInitJoin_ParentWSDLPort3"/>
        </port>
    </service>
    <plnk:partnerLinkType name="RepRecRecInFlowInitJoin_ParentWSDLPartner1">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="RepRecRecInFlowInitJoin_ParentWSDLPortType1Role" portType="tns:RepRecRecInFlowInitJoin_ParentWSDLPortType1"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="RepRecRecInFlowInitJoin_ParentWSDLPartner2">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="RepRecRecInFlowInitJoin_ParentWSDLPortType2Role" portType="tns:RepRecRecInFlowInitJoin_ParentWSDLPortType2"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="RepRecRecInFlowInitJoin_ParentWSDLPartner3">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="RepRecRecInFlowInitJoin_ParentWSDLPortType3Role" portType="tns:RepRecRecInFlowInitJoin_ParentWSDLPortType3"/>
    </plnk:partnerLinkType>
    <vprop:property name="property" type="xsd:string"/>
    <vprop:propertyAlias messageType="tns:RepRecRecInFlowInitJoin_ParentWSDLOperationRequest" part="part1" propertyName="tns:property">
        <vprop:query>/ns:helloObj/ns:string</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias messageType="tns:RepRecRecInFlowInitJoin_ParentWSDLOperationReply" part="part1" propertyName="tns:property">
        <vprop:query>/ns:helloObj/ns:string</vprop:query>
    </vprop:propertyAlias>
</definitions>
