driver-tests/bpelse/dynamicpartnerlink/correlation/CorrelationOnePropBPEL/src/EventHandler/Receive/EventHandlerRecInitNo.wsdl

<definitions targetNamespace="http://enterprise.netbeans.org/wsdl/corrEventHandlerRecInitNo"
             name="corrEventHandlerRecInitNo"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="http://enterprise.netbeans.org/wsdl/corrEventHandlerRecInitNo"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:dataType="http://xml.netbeans.org/schema/dataTypes.xsd"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="corrEventHandlerRecPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="corrEventHandlerRecPLinkRole" portType="tns:CorrelationPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="corrEventHandlerRecPLinkType2"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="corrEventHandlerRecPLinkRole2" portType="tns:CorrelationPortType2"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="corrEventHandlerRecPLinkType3"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="corrEventHandlerRecPLinkRole3" portType="tns:CorrelationPortType3"/>
    </plnk:partnerLinkType>
    <vprop:property type="xsd:string" name="prop1"/>
    <vprop:property type="xsd:string" name="prop2"/>
    <vprop:propertyAlias part="data"
                         propertyName="tns:prop1"
                         messageType="tns:CorrelationMessage">
        <vprop:query>string</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias part="data"
                         propertyName="tns:prop2"
                         messageType="tns:CorrelationMessage">
        <vprop:query>string</vprop:query>
    </vprop:propertyAlias>
    <types>
        <xsd:schema targetNamespace="http://enterprise.netbeans.org/wsdl/corrEventHandlerRecInitNo">
            <xsd:import namespace="http://xml.netbeans.org/schema/dataTypes.xsd" schemaLocation="../../dataTypes.xsd"/>
        </xsd:schema>
    </types>

    <message name="CorrelationMessage">
        <part name="data" element="dataType:helloObj"/>
    </message>
    <portType name="CorrelationPortType">
        <operation name="CorrelationOperation">
            <input name="input1" message="tns:CorrelationMessage"></input>
            <output name="output1" message="tns:CorrelationMessage"></output>
        </operation>
    </portType>
    <portType name="CorrelationPortType2">
        <operation name="CorrelationOperation2">
            <input name="input1" message="tns:CorrelationMessage"/>
        </operation>
    </portType>
    <portType name="CorrelationPortType3">
        <operation name="CorrelationOperation3">
            <input name="input1" message="tns:CorrelationMessage"/>
        </operation>
    </portType>
    <binding name="CorrelationBinding" type="tns:CorrelationPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CorrelationOperation">
            <input name="input1"><soap:body/></input>
     	    <output name="output1"><soap:body/></output>
        </operation>
    </binding>
    <binding name="CorrelationBinding2" type="tns:CorrelationPortType2">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CorrelationOperation2">
            <input name="input1"><soap:body/></input>
        </operation>
    </binding>
    <binding name="CorrelationBinding3" type="tns:CorrelationPortType3">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CorrelationOperation3">
            <input name="input1"><soap:body/></input>
        </operation>
    </binding>
    <service name="CorrelationService">
        <port name="CorrelationPort" binding="tns:CorrelationBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrEventHandlerRecInitNo"/>
        </port>
        <port name="CorrelationPort2" binding="tns:CorrelationBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrEventHandlerRecInitNo2"/>
        </port>
        <port name="CorrelationPort3" binding="tns:CorrelationBinding3">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrEventHandlerRecInitNo3"/>
        </port>
    </service>
</definitions>
