driver-tests/sqlse/derby/selectallBPEL/src/selectallbpelSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="selectallbpelSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="selectallsqlbpelRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="selectallsqlbpelResponse"><xsd:complexType><xsd:sequence><xsd:element name="DISCOUNT_CODE" type="xsd:string"/><xsd:element name="RATE" type="xsd:decimal"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="selectallsqlbpelRequest">
    <part name="selectallsqlbpelRequestPart" element="tns:selectallsqlbpelRequest"/>
  </message>
  <message name="selectallsqlbpelResponse">
    <part name="selectallsqlbpelResponsePart" element="tns:selectallsqlbpelResponse"/>
  </message>
  <portType name="selectallbpelSQL_sqlsePortType">
    <operation name="selectallsqlbpel">
      <input name="selectallsqlbpelRequest" message="tns:selectallsqlbpelRequest"/>
      <output name="selectallsqlbpelResponse" message="tns:selectallsqlbpelResponse"/>
    </operation>
  </portType>
  <binding name="selectallbpelSQLBinding" type="tns:selectallbpelSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="selectallsqlbpel">
      <soap:operation style="document"/>
      <input name="selectallsqlbpelRequest">
        <soap:body use="literal"/>
      </input>
      <output name="selectallsqlbpelResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="selectallbpelSQL_sqlseService">
    <port name="selectallbpelSQL_sqlsePort" binding="tns:selectallbpelSQLBinding">
      <soap:address location="http://localhost:18181/selectallbpelSQL/selectallbpelSQL/selectallbpelSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="selectallbpelSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="selectallbpelSQL_myrole" portType="tns:selectallbpelSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
