driver-tests/wlmse/Basic_User_Group/PurchaseOrderCompositeApp/src/jbiasa/PurchaseOrderCompositeApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="PurchaseOrderCompositeApp"
             xmlns:tns="PurchaseOrderCompositeApp" xmlns:ns="http://jbi.com.sun/wfse/wsdl/TaskCommon" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <import namespace="http://jbi.com.sun/wfse/wsdl/TaskCommon" location="../jbiServiceUnits/PurchaseOrderWorklistApp/TaskCommon.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:TaskCommonPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetTaskList">
            <soap:operation/>
            <input name="GetTaskListRequest">
                <soap:body use="literal" namespace="PurchaseOrderCompositeApp"/>
            </input>
            <output name="GetTaskListResponse">
                <soap:body use="literal" namespace="PurchaseOrderCompositeApp"/>
            </output>
            <fault name="fault1">
                <soap:fault use="literal" name="fault1" namespace="PurchaseOrderCompositeApp"/>
            </fault>
        </operation>
        <operation name="ClaimTask">
            <soap:operation/>
            <input name="ClaimTaskRequest">
                <soap:body use="literal" namespace="PurchaseOrderCompositeApp"/>
            </input>
            <output name="ClaimTaskResponse">
                <soap:body use="literal" namespace="PurchaseOrderCompositeApp"/>
            </output>
            <fault name="fault1">
                <soap:fault use="literal" name="fault1" namespace="PurchaseOrderCompositeApp"/>
            </fault>
        </operation>
        <operation name="RevokeTask">
            <soap:operation/>
            <input name="RevokeTaskRequest">
                <soap:body use="literal" namespace="PurchaseOrderCompositeApp"/>
            </input>
            <output name="RevokeTaskResponse">
                <soap:body use="literal" namespace="PurchaseOrderCompositeApp"/>
            </output>
            <fault name="fault1">
                <soap:fault use="literal" name="fault1" namespace="PurchaseOrderCompositeApp"/>
            </fault>
        </operation>
        <operation name="CompleteTask">
            <soap:operation/>
            <input name="CompleteTaskRequest">
                <soap:body use="literal" namespace="PurchaseOrderCompositeApp"/>
            </input>
            <output name="CompleteTaskResponse">
                <soap:body use="literal" namespace="PurchaseOrderCompositeApp"/>
            </output>
            <fault name="fault1">
                <soap:fault use="literal" name="fault1" namespace="PurchaseOrderCompositeApp"/>
            </fault>
        </operation>
        <operation name="ReassignTask">
            <soap:operation/>
            <input name="ReassignTaskRequest">
                <soap:body use="literal" namespace="PurchaseOrderCompositeApp"/>
            </input>
            <output name="ReassignTaskResponse">
                <soap:body use="literal" namespace="PurchaseOrderCompositeApp"/>
            </output>
            <fault name="fault1">
                <soap:fault use="literal" name="fault1" namespace="PurchaseOrderCompositeApp"/>
            </fault>
        </operation>
        <operation name="GetTaskInput">
            <soap:operation/>
            <input name="GetTaskInputRequest">
                <soap:body use="literal" namespace="PurchaseOrderCompositeApp"/>
            </input>
            <output name="GetTaskInputResponse">
                <soap:body use="literal" namespace="PurchaseOrderCompositeApp"/>
            </output>
            <fault name="fault1">
                <soap:fault use="literal" name="fault1" namespace="PurchaseOrderCompositeApp"/>
            </fault>
        </operation>
        <operation name="GetTaskOutput">
            <soap:operation/>
            <input name="GetTaskOutputRequest">
                <soap:body use="literal" namespace="PurchaseOrderCompositeApp"/>
            </input>
            <output name="GetTaskOutputResponse">
                <soap:body use="literal" namespace="PurchaseOrderCompositeApp"/>
            </output>
            <fault name="fault1">
                <soap:fault use="literal" name="fault1" namespace="PurchaseOrderCompositeApp"/>
            </fault>
        </operation>
        <operation name="SetTaskOutput">
            <soap:operation/>
            <input name="SetTaskOutputRequest">
                <soap:body use="literal" namespace="PurchaseOrderCompositeApp"/>
            </input>
            <output name="SetTaskOutputResponse">
                <soap:body use="literal" namespace="PurchaseOrderCompositeApp"/>
            </output>
            <fault name="fault1">
                <soap:fault use="literal" name="fault1" namespace="PurchaseOrderCompositeApp"/>
            </fault>
        </operation>
        <operation name="GetTaskXForm">
            <soap:operation/>
            <input name="GetTaskXFormRequest">
                <soap:body use="literal" namespace="PurchaseOrderCompositeApp"/>
            </input>
            <output name="GetTaskXFormResponse">
                <soap:body use="literal" namespace="PurchaseOrderCompositeApp"/>
            </output>
            <fault name="fault1">
                <soap:fault use="literal" name="fault1" namespace="PurchaseOrderCompositeApp"/>
            </fault>
        </operation>
    </binding>
    <service name="casaService1">
        <port name="casaPort_Basic_User_Group" binding="tns:casaBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/casaService_BasicUserGroup/casaPort1"/>
        </port>
    </service>
</definitions>
