driver-tests/recovery/RecoveryTesting/JMSBased/CrashAndRecovery/JavaService1/src/conf/wsdl/JavaService1/JavaService1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="JavaService1" targetNamespace="http://j2ee.netbeans.org/wsdl/JavaService1"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/JavaService1" xmlns:ns0="http://j2ee.netbeans.org/wsdl/MessageTypes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/JavaService1" xmlns:tns="http://j2ee.netbeans.org/wsdl/MessageTypes">
            <xsd:element name="MessageElement1">
                <xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                    <xsd:sequence>
                        <xsd:element name="Counter" type="xsd:long"></xsd:element>
                        <xsd:element name="Text" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="message1">
        <wsdl:part name="part1" element="tns:MessageElement1"/>
    </message>
    <portType name="JavaService1PortType">
        <wsdl:operation name="JavaService1Operation">
            <wsdl:input name="input1" message="tns:message1"/>
        </wsdl:operation>
    </portType>
    <binding name="binding1" type="tns:JavaService1PortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="JavaService1Operation">
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </binding>
    <service name="service1">
        <wsdl:port name="port1" binding="tns:binding1">
            <soap:address location="http://localhost:18181/CrashAndRecoveryBpel/JavaService1/port1"/>
        </wsdl:port>
    </service>
    <plnk:partnerLinkType name="JavaService1PLT">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="provider" portType="tns:JavaService1PortType"/>
    </plnk:partnerLinkType>
</definitions>
