contrib-imola/corba-bc/integration-test/test-provider-anytypes/provider-anytypes-jbi4corba-provider/src/main/resources/EchoAnyTypes_test-provider-anytypes_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://it.imolinfo.jbi4corba.test.testprovideranytypes.EchoAnyTypes" xmlns:ns1="http://testprovideranytypes.test.jbi4corba.imolinfo.it/" xmlns:ns2="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://it.imolinfo.jbi4corba.test.testprovideranytypes.EchoAnyTypes">
<xs:import namespace="http://testprovideranytypes.test.jbi4corba.imolinfo.it/" schemaLocation="EchoAnyTypes_test-provider-anytypes_1.xsd"/>
<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="EchoAnyTypes_test-provider-anytypes_array.xsd"/>
<xs:element name="echo1">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="msg" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="echo1Response">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string"/>
<xs:element minOccurs="0" name="msg" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="echo2">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="msg" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="echo2Response">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="echo3">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="msg" type="ns1:TempUnion"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="echo3Response">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="return" type="ns1:complexStruct1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="echo4">
<xs:complexType>
<xs:sequence>
<xs:element minOccurs="0" name="msg" type="ns1:complexStruct1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="echo4Response">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:anyTypeArray"/>
<xs:element minOccurs="0" name="msg" type="ns1:complexStruct1"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="EchoAnyException" type="EchoAnyException"/>
<xs:complexType name="EchoAnyException">
<xs:sequence>
<xs:element name="reason" nillable="true" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:schema>