contrib-imola/corba-bc/integration-test/test-provider-anytypes/provider-anytypes-jbi4corba-provider/src/main/resources/EchoAnyTypes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EchoAnyTypes" targetNamespace="http://it.imolinfo.jbi4corba.test.testprovideranytypes.EchoAnyTypes" xmlns:tns1="http://testprovideranytypes.test.jbi4corba.imolinfo.it/" xmlns:imolacorba="uri://schemas.imola.it/jbi/wsdl-extensions/corba/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://it.imolinfo.jbi4corba.test.testprovideranytypes.EchoAnyTypes">
  <wsdl:types>
    
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:import namespace="http://it.imolinfo.jbi4corba.test.testprovideranytypes.EchoAnyTypes" schemaLocation="EchoAnyTypes_test-provider-anytypes_2.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EchoAnyException">
    <wsdl:part name="EchoAnyException" element="tns:EchoAnyException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo2Response">
    <wsdl:part name="parameters" element="tns:echo2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo3">
    <wsdl:part name="parameters" element="tns:echo3">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo1">
    <wsdl:part name="parameters" element="tns:echo1">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo3Response">
    <wsdl:part name="parameters" element="tns:echo3Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo1Response">
    <wsdl:part name="parameters" element="tns:echo1Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo4">
    <wsdl:part name="parameters" element="tns:echo4">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo2">
    <wsdl:part name="parameters" element="tns:echo2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo4Response">
    <wsdl:part name="parameters" element="tns:echo4Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EchoAnyTypes">
    <wsdl:operation name="echo4">
      <wsdl:input name="echo4" message="tns:echo4">
    </wsdl:input>
      <wsdl:output name="echo4Response" message="tns:echo4Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo1">
      <wsdl:input name="echo1" message="tns:echo1">
    </wsdl:input>
      <wsdl:output name="echo1Response" message="tns:echo1Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo2">
      <wsdl:input name="echo2" message="tns:echo2">
    </wsdl:input>
      <wsdl:output name="echo2Response" message="tns:echo2Response">
    </wsdl:output>
      <wsdl:fault name="EchoAnyException" message="tns:EchoAnyException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="echo3">
      <wsdl:input name="echo3" message="tns:echo3">
    </wsdl:input>
      <wsdl:output name="echo3Response" message="tns:echo3Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EchoAnyTypesCorbaBinding" type="tns:EchoAnyTypes">
<imolacorba:binding>
<imolacorba:idl>
module it{
module imolinfo{
module jbi4corba{
module test{
module testprovideranytypes {
	
	union TempUnion switch (short){
		case 1: long numeric;
		case 2: string alfanumeric;
		default: any two_format;
	};
	
	struct ComplexStruct1 {
		boolean          fieldBoolean;
		char               fieldChar;
	        sequence&lt;any&gt;    fieldAny;
	};
	
	typedef any ArrayOfAny[2][3];
	// exception
	exception EchoAnyException {
	any reason;
	};  
	
	interface EchoAnyTypes {
		string echo1(inout any msg);
		any echo2(in any msg) raises(EchoAnyException);
		ComplexStruct1 echo3(in TempUnion msg);
		ArrayOfAny echo4(inout ComplexStruct1 msg);
		};
};};};};};
</imolacorba:idl>
</imolacorba:binding>
    <wsdl:operation name="echo1">
      <wsdl:input name="echo1">
      </wsdl:input>
      <wsdl:output name="echo1Response">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo4">
      <wsdl:input name="echo4">
      </wsdl:input>
      <wsdl:output name="echo4Response">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo2">
      <wsdl:input name="echo2">
      </wsdl:input>
      <wsdl:output name="echo2Response">
      </wsdl:output>
      <wsdl:fault name="EchoAnyException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="echo3">
      <wsdl:input name="echo3">
      </wsdl:input>
      <wsdl:output name="echo3Response">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EchoAnyTypes">
    <wsdl:port name="EchoAnyTypesCorbaPort" binding="tns:EchoAnyTypesCorbaBinding">
<imolacorba:address name="EchoAnyTypes" localizationType="NameService">
<imolacorba:orb>
<imolacorba:property name="org.omg.CORBA.ORBInitialPort" value="1050"/>
<imolacorba:property name="org.omg.CORBA.ORBClass" value="com.sun.corba.ee.impl.orb.ORBImpl"/>
<imolacorba:property name="org.omg.CORBA.ORBInitialHost" value="localhost"/>
</imolacorba:orb>
</imolacorba:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
