driver-tests/sqlse/db2/SqlSE1202_DB2/SelectTwoColTableFullJbi/src/jbiServiceUnits/SelectTwoColTableFullBpel/DRIVERTEST_EMP.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://j2ee.netbeans.org/xsd/tableSchema" xmlns="http://j2ee.netbeans.org/xsd/tableSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="DRIVERTEST_EMP" type="DRIVERTEST_EMP"></xsd:element>
    <xsd:complexType name="DRIVERTEST_EMP">
      <xsd:sequence maxOccurs="unbounded">
        <xsd:element name="EMPID" type="xsd:int"></xsd:element>
        <xsd:element name="DEPTID" type="xsd:int"></xsd:element>
        <xsd:element name="ENAME" type="xsd:string"></xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:schema>