driver-tests/sqlse/db2/SqlSE1163_DB2/SelectWithXParTableFullSql/src/SelectWithXParTableFullSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SelectWithXParTableFullSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="SelectWithXParTableFullRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="SelectWithXParTableFullResponse"><xsd:complexType><xsd:sequence><xsd:element name="EMPID" type="xsd:int"/><xsd:element name="ENAME" type="xsd:string"/><xsd:element name="DEPTID" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="SelectWithXParTableFullResponse">
    <part name="SelectWithXParTableFullResponsePart" element="tns:SelectWithXParTableFullResponse"/>
  </message>
  <message name="SelectWithXParTableFullRequest">
    <part name="SelectWithXParTableFullRequestPart" element="tns:SelectWithXParTableFullRequest"/>
  </message>
  <portType name="SelectWithXParTableFullSql_sqlsePortType">
    <operation name="SelectWithXParTableFull">
      <input name="SelectWithXParTableFullRequest" message="tns:SelectWithXParTableFullRequest"/>
      <output name="SelectWithXParTableFullResponse" message="tns:SelectWithXParTableFullResponse"/>
    </operation>
  </portType>
  <binding name="SelectWithXParTableFullSqlBinding" type="tns:SelectWithXParTableFullSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SelectWithXParTableFull">
      <soap:operation/>
      <input name="SelectWithXParTableFullRequest">
        <soap:body/>
      </input>
      <output name="SelectWithXParTableFullResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="SelectWithXParTableFullSql_sqlseService">
    <port name="SelectWithXParTableFullSql_sqlsePort" binding="tns:SelectWithXParTableFullSqlBinding">
      <soap:address location="http://localhost:18181/SelectWithXParTableFullSql/SelectWithXParTableFullSql/SelectWithXParTableFullSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="SelectWithXParTableFullSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="SelectWithXParTableFullSql_myrole" portType="tns:SelectWithXParTableFullSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
