ojc-core/bpelse/system-test/test/com/sun/jbi/engine/bpel/jbiadaptor/test/bpeldebugger/bpels/correlation/CorrelationRecRec/deployedFolder/correlation.wsdl

<definitions targetNamespace="urn:correlationRecRecTargetNamespace"
             name="correlationRecRecDefinition"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="urn:correlationRecRecTargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="correlationRecRecServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="correlationRecRecServerRole"
                   portType="tns:correlationRecRecPortType"></plnk:role>
    </plnk:partnerLinkType>
    <slnk:partnerLinkType name="correlationRecRecServiceLinkType1">
        <slnk:role name="correlationRecRecServerRole1" portType="tns:correlationRecRecPortType1"/>
    </slnk:partnerLinkType>    
    <vprop:property type="xsd:string"
                   name="propertyName1"></vprop:property>
    <vprop:propertyAlias part="correlationRecRecPart"
                        propertyName="tns:propertyName1"
                        messageType="tns:correlationRecRecMessage">
        <vprop:query>string</vprop:query>
    </vprop:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:correlationRecRecTargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:correlationRecRecTargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:correlationRecRecTargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

                    <xsd:complexType name="correlationRecRecType">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="correlationRecRecMessage">
        <part name="correlationRecRecPart"
              type="tns:correlationRecRecType"></part>
    </message>
    <portType name="correlationRecRecPortType">
        <operation name="correlationRecRecOperation">
            <input message="tns:correlationRecRecMessage"></input>
        </operation>
    </portType>
    <portType name="correlationRecRecPortType1">
        <operation name="correlationRecRecOperation1">
            <input message="tns:correlationRecRecMessage"></input>
        </operation>
    </portType>
    <binding name="correlationRecRecBinding"
             type="tns:correlationRecRecPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="correlationRecRecOperation">
            <soap:operation soapAction="correlationRecRecOperation"/>
            <input>
                <soap:body parts="correlationRecRecPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="correlationRecRecBinding1"
             type="tns:correlationRecRecPortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="correlationRecRecOperation1">
            <soap:operation soapAction="correlationRecRecOperation1"/>
            <input>
                <soap:body parts="correlationRecRecPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="correlationRecRecService">
        <port name="correlationRecRecPort"
              binding="tns:correlationRecRecBinding">
            <soap:address location="http://localhost:12100/service/correlationRecRecPort"/>
        </port>
        <port name="correlationRecRecPort1"
              binding="tns:correlationRecRecBinding1">
            <soap:address location="http://localhost:12100/service/correlationRecRecPort1"/>
        </port>
    </service>
</definitions>
