driver-tests/bpelse/correlation/correlationJBI/src/bindingComponentASA/correlation/onMessage/TestCaseOnMessageSimpleC5.wsdl

<definitions targetNamespace="urn:corrOnMsgSimpleC5TargetNamespace"
             name="corrOnMsgSimpleC5Definition"
             xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
             xmlns:tns="urn:corrOnMsgSimpleC5TargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
    <plnk:partnerLinkType name="corrOnMsgSimpleC5ServiceLinkType"
                          xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="corrOnMsgSimpleC5ServerRole"
                   portType="tns:corrOnMsgSimpleC5PortType"></plnk:role>
        <plnk:role name="corrOnMsgSimpleC5ServerRole1"
                   portType="tns:corrOnMsgSimpleC5PortType1"></plnk:role>
    </plnk:partnerLinkType>
    <bpws:property type="xsd:string"
                   name="propertyName1"></bpws:property>
    <bpws:propertyAlias part="corrOnMsgSimpleC5Part"
                        propertyName="tns:propertyName1"
                        messageType="tns:corrOnMsgSimpleC5Message">
        <bpws:query>string</bpws:query>
    </bpws:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:corrOnMsgSimpleC5TargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:corrOnMsgSimpleC5TargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:corrOnMsgSimpleC5TargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">

                    <xsd:complexType name="corrOnMsgSimpleC5Type">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="corrOnMsgSimpleC5Message">
        <part name="corrOnMsgSimpleC5Part"
              type="tns:corrOnMsgSimpleC5Type"></part>
    </message>
    <portType name="corrOnMsgSimpleC5PortType">
        <operation name="corrOnMsgSimpleC5Operation">
            <input message="tns:corrOnMsgSimpleC5Message"></input>
            <output message="tns:corrOnMsgSimpleC5Message"></output>
        </operation>
    </portType>
    <portType name="corrOnMsgSimpleC5PortType1">
        <operation name="corrOnMsgSimpleC5Operation1">
            <input message="tns:corrOnMsgSimpleC5Message"></input>
        </operation>
    </portType>
    <binding name="corrOnMsgSimpleC5Binding"
             type="tns:corrOnMsgSimpleC5PortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrOnMsgSimpleC5Operation">
            <soap:operation soapAction="corrOnMsgSimpleC5Operation"/>
            <input>
                <soap:body parts="corrOnMsgSimpleC5Part"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="corrOnMsgSimpleC5Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="corrOnMsgSimpleC5Binding1"
             type="tns:corrOnMsgSimpleC5PortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrOnMsgSimpleC5Operation1">
            <soap:operation soapAction="corrOnMsgSimpleC5Operation1"/>
            <input>
                <soap:body parts="corrOnMsgSimpleC5Part"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="corrOnMsgSimpleC5Service">
        <port name="corrOnMsgSimpleC5Port"
              binding="tns:corrOnMsgSimpleC5Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrOnMsgSimpleC5Port"/>
        </port>
        <port name="corrOnMsgSimpleC5Port1"
              binding="tns:corrOnMsgSimpleC5Binding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrOnMsgSimpleC5Port1"/>
        </port>
    </service>
</definitions>