driver-tests/filebc/FileBCTests/FileBCJbi/src/jbiServiceUnits/FileBCBpel/SingleBindingInOut/FileInTest.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:FooBar3" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileHelloService1" targetNamespace="urn:FooBar3">
    <types>
        <xsd:schema xmlns:ns1="urn:FooBar3" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:FooBar3">
            
            
                    
            
                    
            
                    
            
                    
            
                    
            
                    
            
                    
            
                    
            
                    
            
                    <xsd:element name="helloObj" type="tns:helloObjType"/>
            <xsd:complexType name="helloObjType">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                    <xsd:element name="nonNegativeInteger" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="byte" type="xsd:byte"/>
                    <xsd:element name="short" type="xsd:short"/>
                    <xsd:element name="int" type="xsd:int"/>
                    <xsd:element name="long" type="xsd:long"/>
                    <xsd:element name="negativeInteger" type="xsd:negativeInteger"/>
                    <xsd:element name="dateTime" type="xsd:dateTime"/>
                    <xsd:element name="nonPositiveInteger" type="xsd:nonPositiveInteger"/>
                    <xsd:element name="duration" type="xsd:duration"/>
                    <xsd:element name="ENTITIES" type="xsd:ENTITIES"/>
                    <xsd:element name="double" type="xsd:double"/>
                    <xsd:element name="ENTITY" type="xsd:ENTITY"/>
                    <xsd:element name="float" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="HelloIF_sayHello">
        <part element="tns:helloObj" name="body"/>
    </message>
    <message name="HelloIF_sayHelloResponse">
        <part element="tns:helloObj" name="result"/>
    </message>
    <portType name="FileHelloIF">
        <operation name="sayHello">
            <input message="tns:HelloIF_sayHello"/>
            <output message="tns:HelloIF_sayHelloResponse"/>
        </operation>
    </portType>
    <binding name="HelloDocElem2DocElemIFBinding" type="tns:FileHelloIF">
        <file:binding/>
        <operation name="sayHello">
            <file:operation/>
            <input>
                <file:message fileType="text" use="literal" fileName="Input.xml" pollingInterval="1000"/>
            </input>
            <output>
                <file:message fileType="text" fileName="Output.xml" multipleRecordsPerFile="false" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="FileHelloService1">
        <port binding="tns:HelloDocElem2DocElemIFBinding" name="HelloDocElem2DocElemIFPort">
            <file:address fileDirectory="@drivertest_dir@/filebc/FileBCTests/FileBCJbi/test/FileBCInbound_Feed/test"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="FileHelloIFServiceLink">
        <plnk:role name="FileHelloIFRole" portType="tns:FileHelloIF"/>
    </plnk:partnerLinkType>
</definitions>
