driver-tests/sqlse/db2/SqlSE1174_DB2/UpdateWithOneParamFullJbi/src/jbiServiceUnits/UpdateWithOneParamFullSql/UpdateWithOneParamFullSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="UpdateWithOneParamFullSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="UpdateWithOneParamFullRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="UpdateWithOneParamFullResponse">
    <part name="UpdateWithOneParamFullResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="UpdateWithOneParamFullRequest">
    <part name="UpdateWithOneParamFullRequestPart" element="tns:UpdateWithOneParamFullRequest"/>
  </message>
  <portType name="UpdateWithOneParamFullSql_sqlsePortType">
    <operation name="UpdateWithOneParamFull">
      <input name="UpdateWithOneParamFullRequest" message="tns:UpdateWithOneParamFullRequest"/>
      <output name="UpdateWithOneParamFullResponse" message="tns:UpdateWithOneParamFullResponse"/>
    </operation>
  </portType>
  <binding name="UpdateWithOneParamFullSqlBinding" type="tns:UpdateWithOneParamFullSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="UpdateWithOneParamFull">
      <soap:operation/>
      <input name="UpdateWithOneParamFullRequest">
        <soap:body/>
      </input>
      <output name="UpdateWithOneParamFullResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="UpdateWithOneParamFullSql_sqlseService">
    <port name="UpdateWithOneParamFullSql_sqlsePort" binding="tns:UpdateWithOneParamFullSqlBinding">
      <soap:address location="http://localhost:18181/UpdateWithOneParamFullSql/UpdateWithOneParamFullSql/UpdateWithOneParamFullSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="UpdateWithOneParamFullSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="UpdateWithOneParamFullSql_myrole" portType="tns:UpdateWithOneParamFullSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
