contrib-imola/corba-bc/integration-test/test-consumer-fromidl-complex/consumer-fromidl-complex-jbi4corba-provider/src/main/resources/EchoComplex_test-consumer-fromidl-complex.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://testconsumerfromidlcomplex.test.jbi4corba.imolinfo.it/" xmlns:tns="urn:jbi4corba/test-consumer-fromidl-complex" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:jbi4corba/test-consumer-fromidl-complex">
    <xsd:import namespace="http://testconsumerfromidlcomplex.test.jbi4corba.imolinfo.it/" schemaLocation="EchoComplex_testconsumerfromidlcomplex.test.jbi4corba.imolinfo.it.xsd"/>
    <xsd:element name="EchoComplexException" type="tns:EchoComplexException"/>
    <xsd:complexType name="EchoComplexException">
        <xsd:sequence>
            <xsd:element name="reason" nillable="true" type="ns0:echoStructArray"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="echoValueTypeOfStruct">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="v" type="ns0:valueTypeOfStruct"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoValueTypeOfStructResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="ns0:valueTypeOfStruct"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoValueType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="e" type="ns0:echoVT"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoValueTypeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="ns0:echoVT"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSequenceSeqEchoStruct">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="es" type="ns0:echoStruct"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSequenceSeqEchoStructResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns0:echoStruct"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoValueTypeOfValueType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="v" type="ns0:valueTypeOfValueType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoValueTypeOfValueTypeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="ns0:valueTypeOfValueType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoStructOfValuetype">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="v" type="ns0:structOfValuetype"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoStructOfValuetypeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="ns0:structOfValuetype"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoVTPrimiSeq">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="v" type="ns0:vtPrimiSeq"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoVTPrimiSeqResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="ns0:vtPrimiSeq"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoStruct">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="es" type="ns0:echoStruct"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoStructResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="ns0:echoStruct"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoExceptionNotThrown">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="es" type="ns0:echoStruct"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoExceptionNotThrownResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="ns0:echoStruct"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSequenceSeqMySequence">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="es" type="ns0:mySequence"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSequenceSeqMySequenceResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns0:mySequence"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSequence">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="es" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSequenceResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="return" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoValueBoxedTypePrimitive">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="e" type="ns0:myLong"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoValueBoxedTypePrimitiveResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="ns0:myLong"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSequenceValueType">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="es" type="ns0:mySequence"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSequenceValueTypeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="ns0:mySequence"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoVTPrimi">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="v" type="ns0:vtPrimi"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoVTPrimiResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="ns0:vtPrimi"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoValueBoxedTypeComplex">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="e" type="ns0:mySequence"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoValueBoxedTypeComplexResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="ns0:mySequence"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoExceptionThrown">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="es" type="ns0:echoStruct"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoExceptionThrownResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="ns0:echoStruct"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoStructOfStruct">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="v" type="ns0:structOfStruct"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoStructOfStructResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="ns0:structOfStruct"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="msg" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>