driver-tests/sqlse/derby/selectallviewfullqualJbi/src/jbiServiceUnits/selectallviewfullqualSQL/selectallviewfullqualSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="selectallviewfullqualSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="selectallviewfullqualRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="selectallviewfullqualResponse"><xsd:complexType><xsd:sequence><xsd:element name="CUSTOMER_ID" type="xsd:int"/><xsd:element name="DISCOUNT_CODE" type="xsd:string"/><xsd:element name="ZIP" type="xsd:string"/><xsd:element name="NAME" type="xsd:string"/><xsd:element name="ADDRESSLINE1" type="xsd:string"/><xsd:element name="ADDRESSLINE2" type="xsd:string"/><xsd:element name="CITY" type="xsd:string"/><xsd:element name="STATE" type="xsd:string"/><xsd:element name="PHONE" type="xsd:string"/><xsd:element name="FAX" type="xsd:string"/><xsd:element name="EMAIL" type="xsd:string"/><xsd:element name="CREDIT_LIMIT" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="selectallviewfullqualRequest">
    <part name="selectallviewfullqualRequestPart" element="tns:selectallviewfullqualRequest"/>
  </message>
  <message name="selectallviewfullqualResponse">
    <part name="selectallviewfullqualResponsePart" element="tns:selectallviewfullqualResponse"/>
  </message>
  <portType name="selectallviewfullqualSQL_sqlsePortType">
    <operation name="selectallviewfullqual">
      <input name="selectallviewfullqualRequest" message="tns:selectallviewfullqualRequest"/>
      <output name="selectallviewfullqualResponse" message="tns:selectallviewfullqualResponse"/>
    </operation>
  </portType>
  <binding name="selectallviewfullqualSQLBinding" type="tns:selectallviewfullqualSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="selectallviewfullqual">
      <soap:operation style="document"/>
      <input name="selectallviewfullqualRequest">
        <soap:body use="literal"/>
      </input>
      <output name="selectallviewfullqualResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="selectallviewfullqualSQL_sqlseService">
    <port name="selectallviewfullqualSQL_sqlsePort" binding="tns:selectallviewfullqualSQLBinding">
      <soap:address location="http://localhost:18181/selectallviewfullqualSQL/selectallviewfullqualSQL/selectallviewfullqualSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="selectallviewfullqualSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="selectallviewfullqualSQL_myrole" portType="tns:selectallviewfullqualSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
