driver-tests/httpsoapbc/HttpSoapBCTests/HttpSoapBCBpel/src/MultiOp_UserTestCase.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:tns1="http://types" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<!--WSDL created by Apache Axis version: 1.2.1
Built on Jun 14, 2005 (09:15:57 EDT)-->
<wsdl:types>
<schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
<import namespace="http://types"/>
<element name="loadEcore">
<complexType>
<sequence>
<element name="ecoreId" type="xsd:long"/>
</sequence>
</complexType>
</element>
<element name="loadEcoreResponse">
<complexType>
<sequence>
<element name="loadEcoreReturn" type="xsd:base64Binary"/>
</sequence>
</complexType>
</element>
<element name="loadInstance">
<complexType>
<sequence>
<element name="instanceId" type="xsd:long"/>
</sequence>
</complexType>
</element>
<element name="loadInstanceResponse">
<complexType>
<sequence>
<element name="loadInstanceReturn" type="xsd:base64Binary"/>
</sequence>
</complexType>
</element>
<element name="loadInstanceForProject">
<complexType>
<sequence>
<element name="instanceId" type="xsd:long"/>
</sequence>
</complexType>
</element>
<element name="loadInstanceForProjectResponse">
<complexType>
<sequence>
<element name="loadInstanceForProjectReturn" type="xsd:base64Binary"/>
</sequence>
</complexType>
</element>
<element name="deleteInstance">
<complexType>
<sequence>
<element name="instanceId" type="xsd:long"/>
</sequence>
</complexType>
</element>
<element name="deleteInstanceResponse">
<complexType>
<sequence>
<element name="deleteInstanceReturn" type="xsd:boolean"/>
</sequence>
</complexType>
</element>
<element name="getAllInstancesFromDB">
<complexType/>
</element>
<element name="getAllInstancesFromDBResponse">
<complexType>
<sequence>
<element maxOccurs="unbounded" name="getAllInstancesFromDBReturn" type="tns1:InstancePackageValueBean"/>
</sequence>
</complexType>
</element>
<element name="saveInstance">
<complexType>
<sequence>
<element name="resourceBytes" type="xsd:base64Binary"/>
<element name="fileName" type="xsd:string"/>
</sequence>
</complexType>
</element>
<element name="saveInstanceResponse">
<complexType>
<sequence>
<element name="saveInstanceReturn" type="xsd:boolean"/>
</sequence>
</complexType>
</element>
</schema>
<schema elementFormDefault="qualified" targetNamespace="http://types" xmlns="http://www.w3.org/2001/XMLSchema">
<complexType name="InstancePackageValueBean">
<sequence>
<element name="ecoreId" type="xsd:long"/>
<element name="fileName" nillable="true" type="xsd:string"/>
<element name="id" type="xsd:long"/>
<element name="name" nillable="true" type="xsd:string"/>
<element name="usedModels" nillable="true" type="xsd:string"/>
</sequence>
</complexType>
</schema>
</wsdl:types>

<wsdl:message name="loadEcoreRequest">

<wsdl:part element="impl:loadEcore" name="parameters"/>

</wsdl:message>

<wsdl:message name="loadEcoreResponse">

<wsdl:part element="impl:loadEcoreResponse" name="parameters"/>

</wsdl:message>

<wsdl:message name="saveInstanceResponse">

<wsdl:part element="impl:saveInstanceResponse" name="parameters"/>

</wsdl:message>

<wsdl:message name="loadInstanceForProjectResponse">

<wsdl:part element="impl:loadInstanceForProjectResponse" name="parameters"/>

</wsdl:message>

<wsdl:message name="loadInstanceResponse">

<wsdl:part element="impl:loadInstanceResponse" name="parameters"/>

</wsdl:message>

<wsdl:message name="getAllInstancesFromDBRequest">

<wsdl:part element="impl:getAllInstancesFromDB" name="parameters"/>

</wsdl:message>

<wsdl:message name="loadInstanceRequest">

<wsdl:part element="impl:loadInstance" name="parameters"/>

</wsdl:message>

<wsdl:message name="getAllInstancesFromDBResponse">

<wsdl:part element="impl:getAllInstancesFromDBResponse" name="parameters"/>

</wsdl:message>

<wsdl:message name="loadInstanceForProjectRequest">

<wsdl:part element="impl:loadInstanceForProject" name="parameters"/>

</wsdl:message>

<wsdl:message name="saveInstanceRequest">

<wsdl:part element="impl:saveInstance" name="parameters"/>

</wsdl:message>

<wsdl:message name="deleteInstanceRequest">

<wsdl:part element="impl:deleteInstance" name="parameters"/>

</wsdl:message>

<wsdl:message name="deleteInstanceResponse">

<wsdl:part element="impl:deleteInstanceResponse" name="parameters"/>

</wsdl:message>

<wsdl:portType name="UseRepository">

<wsdl:operation name="loadEcore">

<wsdl:input message="impl:loadEcoreRequest" name="loadEcoreRequest"/>

<wsdl:output message="impl:loadEcoreResponse" name="loadEcoreResponse"/>

</wsdl:operation>

<wsdl:operation name="loadInstance">

<wsdl:input message="impl:loadInstanceRequest" name="loadInstanceRequest"/>

<wsdl:output message="impl:loadInstanceResponse" name="loadInstanceResponse"/>

</wsdl:operation>

<wsdl:operation name="loadInstanceForProject">

<wsdl:input message="impl:loadInstanceForProjectRequest" name="loadInstanceForProjectRequest"/>

<wsdl:output message="impl:loadInstanceForProjectResponse" name="loadInstanceForProjectResponse"/>

</wsdl:operation>

<wsdl:operation name="deleteInstance">

<wsdl:input message="impl:deleteInstanceRequest" name="deleteInstanceRequest"/>

<wsdl:output message="impl:deleteInstanceResponse" name="deleteInstanceResponse"/>

</wsdl:operation>

<wsdl:operation name="getAllInstancesFromDB">

<wsdl:input message="impl:getAllInstancesFromDBRequest" name="getAllInstancesFromDBRequest"/>

<wsdl:output message="impl:getAllInstancesFromDBResponse" name="getAllInstancesFromDBResponse"/>

</wsdl:operation>

<wsdl:operation name="saveInstance">

<wsdl:input message="impl:saveInstanceRequest" name="saveInstanceRequest"/>

<wsdl:output message="impl:saveInstanceResponse" name="saveInstanceResponse"/>

</wsdl:operation>

</wsdl:portType>

<wsdl:binding name="UseRepositorySoapBinding" type="impl:UseRepository">

<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

<wsdl:operation name="loadEcore">

<wsdlsoap:operation soapAction=""/>

<wsdl:input name="loadEcoreRequest">

<wsdlsoap:body use="literal"/>

</wsdl:input>

<wsdl:output name="loadEcoreResponse">

<wsdlsoap:body use="literal"/>

</wsdl:output>

</wsdl:operation>

<wsdl:operation name="loadInstance">

<wsdlsoap:operation soapAction=""/>

<wsdl:input name="loadInstanceRequest">

<wsdlsoap:body use="literal"/>

</wsdl:input>

<wsdl:output name="loadInstanceResponse">

<wsdlsoap:body use="literal"/>

</wsdl:output>

</wsdl:operation>

<wsdl:operation name="loadInstanceForProject">

<wsdlsoap:operation soapAction=""/>

<wsdl:input name="loadInstanceForProjectRequest">

<wsdlsoap:body use="literal"/>

</wsdl:input>

<wsdl:output name="loadInstanceForProjectResponse">

<wsdlsoap:body use="literal"/>

</wsdl:output>

</wsdl:operation>

<wsdl:operation name="deleteInstance">

<wsdlsoap:operation soapAction=""/>

<wsdl:input name="deleteInstanceRequest">

<wsdlsoap:body use="literal"/>

</wsdl:input>

<wsdl:output name="deleteInstanceResponse">

<wsdlsoap:body use="literal"/>

</wsdl:output>

</wsdl:operation>

<wsdl:operation name="getAllInstancesFromDB">

<wsdlsoap:operation soapAction=""/>

<wsdl:input name="getAllInstancesFromDBRequest">

<wsdlsoap:body use="literal"/>

</wsdl:input>

<wsdl:output name="getAllInstancesFromDBResponse">

<wsdlsoap:body use="literal"/>

</wsdl:output>

</wsdl:operation>

<wsdl:operation name="saveInstance">

<wsdlsoap:operation soapAction=""/>

<wsdl:input name="saveInstanceRequest">

<wsdlsoap:body use="literal"/>

</wsdl:input>

<wsdl:output name="saveInstanceResponse">

<wsdlsoap:body use="literal"/>

</wsdl:output>

</wsdl:operation>

</wsdl:binding>

<wsdl:service name="UseRepositoryService">

<wsdl:port binding="impl:UseRepositorySoapBinding" name="UseRepository">

<wsdlsoap:address location="http://localhost:${HttpDefaultPort}/service/repository"/>

</wsdl:port>

</wsdl:service>

	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="MultiOp_UserTestCasePartnerLinkType">
            
        <plnk:role name="MultiOp_UserTestCaseRole"
                    portType="impl:UseRepository"
        ></plnk:role>
            
            
        </plnk:partnerLinkType>

</wsdl:definitions>

 

 
