driver-tests/iepse/IEPUnionAll/UnionAllIep/src/TupleBasedWindowInput/TupleBasedWindowInput.wsdl

<definitions targetNamespace="TupleBasedWindowInput.TupleBasedWindowInput_iep"
             xmlns:tns="TupleBasedWindowInput.TupleBasedWindowInput_iep"
             xmlns:typens="TupleBasedWindowInput.TupleBasedWindowInput_iep"
             xmlns:defns="TupleBasedWindowInput.TupleBasedWindowInput_iep"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
    <xsd:schema targetNamespace="TupleBasedWindowInput.TupleBasedWindowInput_iep" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="StreamInput0_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="SInteger" type="xsd:int"/>
                    <xsd:element name="SDouble" type="xsd:double"/>
                    <xsd:element name="SBigint" type="xsd:long"/>
                    <xsd:element name="SDate" type="xsd:date"/>
                    <xsd:element name="STime" type="xsd:string"/>
                    <xsd:element name="STimestamp" type="xsd:dateTime"/>
                    <xsd:element name="SDesc" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamInput0Batch_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="StreamInput0_MsgObj" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="SInteger" type="xsd:int"/>
                    <xsd:element name="SDouble" type="xsd:double"/>
                    <xsd:element name="SBigint" type="xsd:long"/>
                    <xsd:element name="SDate" type="xsd:date"/>
                    <xsd:element name="STime" type="xsd:string"/>
                    <xsd:element name="STimestamp" type="xsd:dateTime"/>
                    <xsd:element name="SDesc" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamInput1_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="SInteger" type="xsd:int"/>
                    <xsd:element name="SDouble" type="xsd:double"/>
                    <xsd:element name="SBigint" type="xsd:long"/>
                    <xsd:element name="SDate" type="xsd:date"/>
                    <xsd:element name="STime" type="xsd:string"/>
                    <xsd:element name="STimestamp" type="xsd:dateTime"/>
                    <xsd:element name="SDesc" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamInput1Batch_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="StreamInput1_MsgObj" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="SInteger" type="xsd:int"/>
                    <xsd:element name="SDouble" type="xsd:double"/>
                    <xsd:element name="SBigint" type="xsd:long"/>
                    <xsd:element name="SDate" type="xsd:date"/>
                    <xsd:element name="STime" type="xsd:string"/>
                    <xsd:element name="STimestamp" type="xsd:dateTime"/>
                    <xsd:element name="SDesc" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamInput2_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="SInteger" type="xsd:int"/>
                    <xsd:element name="SDouble" type="xsd:double"/>
                    <xsd:element name="SBigint" type="xsd:long"/>
                    <xsd:element name="SDate" type="xsd:date"/>
                    <xsd:element name="STime" type="xsd:string"/>
                    <xsd:element name="STimestamp" type="xsd:dateTime"/>
                    <xsd:element name="SDesc" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamInput2Batch_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="StreamInput2_MsgObj" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="SInteger" type="xsd:int"/>
                    <xsd:element name="SDouble" type="xsd:double"/>
                    <xsd:element name="SBigint" type="xsd:long"/>
                    <xsd:element name="SDate" type="xsd:date"/>
                    <xsd:element name="STime" type="xsd:string"/>
                    <xsd:element name="STimestamp" type="xsd:dateTime"/>
                    <xsd:element name="SDesc" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamOutput0_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="LastName" type="xsd:string"/>
                   <xsd:element name="SInteger" type="xsd:int"/>
                   <xsd:element name="SDouble" type="xsd:double"/>
                   <xsd:element name="SBigint" type="xsd:long"/>
                   <xsd:element name="SDate" type="xsd:date"/>
                   <xsd:element name="STime" type="xsd:string"/>
                   <xsd:element name="STimestamp" type="xsd:dateTime"/>
                   <xsd:element name="SDesc" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamOutput1_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="LastName" type="xsd:string"/>
                   <xsd:element name="SInteger" type="xsd:int"/>
                   <xsd:element name="SDouble" type="xsd:double"/>
                   <xsd:element name="SBigint" type="xsd:long"/>
                   <xsd:element name="SDate" type="xsd:date"/>
                   <xsd:element name="STime" type="xsd:string"/>
                   <xsd:element name="STimestamp" type="xsd:dateTime"/>
                   <xsd:element name="SDesc" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamOutput2_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="LastName" type="xsd:string"/>
                   <xsd:element name="SInteger" type="xsd:int"/>
                   <xsd:element name="SDouble" type="xsd:double"/>
                   <xsd:element name="SBigint" type="xsd:long"/>
                   <xsd:element name="SDate" type="xsd:date"/>
                   <xsd:element name="STime" type="xsd:string"/>
                   <xsd:element name="STimestamp" type="xsd:dateTime"/>
                   <xsd:element name="SDesc" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamOutput3_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="LastName" type="xsd:string"/>
                   <xsd:element name="SInteger" type="xsd:int"/>
                   <xsd:element name="SDouble" type="xsd:double"/>
                   <xsd:element name="SBigint" type="xsd:long"/>
                   <xsd:element name="SDate" type="xsd:date"/>
                   <xsd:element name="STime" type="xsd:string"/>
                   <xsd:element name="STimestamp" type="xsd:dateTime"/>
                   <xsd:element name="SDesc" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
    </xsd:schema>
</types>

<message name="StreamInput0_Msg">
    <part name="input" element="typens:StreamInput0_MsgObj"/>
</message>
<message name="StreamInput0Batch_Msg">
    <part name="input" element="typens:StreamInput0Batch_MsgObj"/>
</message>
<message name="StreamInput1_Msg">
    <part name="input" element="typens:StreamInput1_MsgObj"/>
</message>
<message name="StreamInput1Batch_Msg">
    <part name="input" element="typens:StreamInput1Batch_MsgObj"/>
</message>
<message name="StreamInput2_Msg">
    <part name="input" element="typens:StreamInput2_MsgObj"/>
</message>
<message name="StreamInput2Batch_Msg">
    <part name="input" element="typens:StreamInput2Batch_MsgObj"/>
</message>
<message name="StreamOutput0_Msg">
    <part name="output" element="typens:StreamOutput0_MsgObj"/>
</message>
<message name="StreamOutput1_Msg">
    <part name="output" element="typens:StreamOutput1_MsgObj"/>
</message>
<message name="StreamOutput2_Msg">
    <part name="output" element="typens:StreamOutput2_MsgObj"/>
</message>
<message name="StreamOutput3_Msg">
    <part name="output" element="typens:StreamOutput3_MsgObj"/>
</message>

<portType name="InputPt">
    <operation name="StreamInput0">
        <input message="tns:StreamInput0_Msg"/>
    </operation>
    <operation name="StreamInput0Batch">
        <input message="tns:StreamInput0Batch_Msg"/>
    </operation>
    <operation name="StreamInput1">
        <input message="tns:StreamInput1_Msg"/>
    </operation>
    <operation name="StreamInput1Batch">
        <input message="tns:StreamInput1Batch_Msg"/>
    </operation>
    <operation name="StreamInput2">
        <input message="tns:StreamInput2_Msg"/>
    </operation>
    <operation name="StreamInput2Batch">
        <input message="tns:StreamInput2Batch_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_StreamOutput0">
    <operation name="StreamOutput0">
        <input message="tns:StreamOutput0_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_StreamOutput1">
    <operation name="StreamOutput1">
        <input message="tns:StreamOutput1_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_StreamOutput2">
    <operation name="StreamOutput2">
        <input message="tns:StreamOutput2_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_StreamOutput3">
    <operation name="StreamOutput3">
        <input message="tns:StreamOutput3_Msg"/>
    </operation>
</portType>

<plnk:partnerLinkType name="InputPlt" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "InputRn" portType="tns:InputPt"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_StreamOutput0" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_StreamOutput0" portType="tns:OutputPt_StreamOutput0"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_StreamOutput1" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_StreamOutput1" portType="tns:OutputPt_StreamOutput1"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_StreamOutput2" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_StreamOutput2" portType="tns:OutputPt_StreamOutput2"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_StreamOutput3" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_StreamOutput3" portType="tns:OutputPt_StreamOutput3"/>
</plnk:partnerLinkType>
<!-- input binding -->
<binding name="InputBinding" type="defns:InputPt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="StreamInput0">
        <soap:operation soapAction="StreamInput0"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
    <operation name="StreamInput0Batch">
        <soap:operation soapAction="StreamInput0Batch"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
    <operation name="StreamInput1">
        <soap:operation soapAction="StreamInput1"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
    <operation name="StreamInput1Batch">
        <soap:operation soapAction="StreamInput1Batch"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
    <operation name="StreamInput2">
        <soap:operation soapAction="StreamInput2"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
    <operation name="StreamInput2Batch">
        <soap:operation soapAction="StreamInput2Batch"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<!-- input service -->
<service name="InputService">
    <port name="InputPort" binding="tns:InputBinding">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/TupleBasedWindowInput.TupleBasedWindowInput_iep"/>
    </port>
</service>

<!-- http output binding and service
<binding name="OutputBinding_StreamOutput0" type="defns:OutputPt_StreamOutput0">
    <operation name="StreamOutput0">
        <soap:operation soapAction="StreamOutput0"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_StreamOutput1" type="defns:OutputPt_StreamOutput1">
    <operation name="StreamOutput1">
        <soap:operation soapAction="StreamOutput1"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_StreamOutput2" type="defns:OutputPt_StreamOutput2">
    <operation name="StreamOutput2">
        <soap:operation soapAction="StreamOutput2"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_StreamOutput3" type="defns:OutputPt_StreamOutput3">
    <operation name="StreamOutput3">
        <soap:operation soapAction="StreamOutput3"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<service name="OutputService_StreamOutput0">
    <port name="OutputPort_StreamOutput0" binding="tns:OutputBinding_StreamOutput0">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/TupleBasedWindowInput.TupleBasedWindowInput_iep_StreamOutput0_callee"/>
    </port>
</service>
<service name="OutputService_StreamOutput1">
    <port name="OutputPort_StreamOutput1" binding="tns:OutputBinding_StreamOutput1">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/TupleBasedWindowInput.TupleBasedWindowInput_iep_StreamOutput1_callee"/>
    </port>
</service>
<service name="OutputService_StreamOutput2">
    <port name="OutputPort_StreamOutput2" binding="tns:OutputBinding_StreamOutput2">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/TupleBasedWindowInput.TupleBasedWindowInput_iep_StreamOutput2_callee"/>
    </port>
</service>
<service name="OutputService_StreamOutput3">
    <port name="OutputPort_StreamOutput3" binding="tns:OutputBinding_StreamOutput3">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/TupleBasedWindowInput.TupleBasedWindowInput_iep_StreamOutput3_callee"/>
    </port>
</service>
 end of http output binding and service -->

<!-- file output binding and service -->
<binding name="OutputBinding_StreamOutput0" type="defns:OutputPt_StreamOutput0">
    <file:binding/>
    <operation name="StreamOutput0">
        <file:operation/>
        <input>
            <file:message fileName="StreamOutput0.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_StreamOutput1" type="defns:OutputPt_StreamOutput1">
    <file:binding/>
    <operation name="StreamOutput1">
        <file:operation/>
        <input>
            <file:message fileName="StreamOutput1.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_StreamOutput2" type="defns:OutputPt_StreamOutput2">
    <file:binding/>
    <operation name="StreamOutput2">
        <file:operation/>
        <input>
            <file:message fileName="StreamOutput2.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_StreamOutput3" type="defns:OutputPt_StreamOutput3">
    <file:binding/>
    <operation name="StreamOutput3">
        <file:operation/>
        <input>
            <file:message fileName="StreamOutput3.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal"/>
        </input>
    </operation>
</binding>
<service name="OutputService_StreamOutput0">
    <port name="OutputPort_StreamOutput0" binding="tns:OutputBinding_StreamOutput0">
        <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPUnionAll/UnionAllApp/test/TupleBasedWindowInput"/>
    </port>
</service>
<service name="OutputService_StreamOutput1">
    <port name="OutputPort_StreamOutput1" binding="tns:OutputBinding_StreamOutput1">
        <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPUnionAll/UnionAllApp/test/TupleBasedWindowInput"/>
    </port>
</service>
<service name="OutputService_StreamOutput2">
    <port name="OutputPort_StreamOutput2" binding="tns:OutputBinding_StreamOutput2">
        <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPUnionAll/UnionAllApp/test/TupleBasedWindowInput"/>
    </port>
</service>
<service name="OutputService_StreamOutput3">
    <port name="OutputPort_StreamOutput3" binding="tns:OutputBinding_StreamOutput3">
        <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPUnionAll/UnionAllApp/test/TupleBasedWindowInput"/>
    </port>
</service>
<!-- end of file output binding and service -->
</definitions>
