driver-tests/sqlse/db2/SqlSE1105_DB2/UpdateWithOneParamSql/src/UpdateWithOneParamSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="UpdateWithOneParamSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="UpdateWithOneParamRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="UpdateWithOneParamResponse">
    <part name="UpdateWithOneParamResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="UpdateWithOneParamRequest">
    <part name="UpdateWithOneParamRequestPart" element="tns:UpdateWithOneParamRequest"/>
  </message>
  <portType name="UpdateWithOneParamSql_sqlsePortType">
    <operation name="UpdateWithOneParam">
      <input name="UpdateWithOneParamRequest" message="tns:UpdateWithOneParamRequest"/>
      <output name="UpdateWithOneParamResponse" message="tns:UpdateWithOneParamResponse"/>
    </operation>
  </portType>
  <binding name="UpdateWithOneParamSqlBinding" type="tns:UpdateWithOneParamSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="UpdateWithOneParam">
      <soap:operation/>
      <input name="UpdateWithOneParamRequest">
        <soap:body/>
      </input>
      <output name="UpdateWithOneParamResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="UpdateWithOneParamSql_sqlseService">
    <port name="UpdateWithOneParamSql_sqlsePort" binding="tns:UpdateWithOneParamSqlBinding">
      <soap:address location="http://localhost:18181/UpdateWithOneParamSql/UpdateWithOneParamSql/UpdateWithOneParamSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="UpdateWithOneParamSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="UpdateWithOneParamSql_myrole" portType="tns:UpdateWithOneParamSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
