driver-tests/sqlse/db2/SqlSE1106_DB2/UpdateWithMultiParamSql/src/UpdateWithMultiParamSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="UpdateWithMultiParamSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="UpdateWithMultiParamRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/><xsd:element name="param2" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="UpdateWithMultiParamResponse">
    <part name="UpdateWithMultiParamResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="UpdateWithMultiParamRequest">
    <part name="UpdateWithMultiParamRequestPart" element="tns:UpdateWithMultiParamRequest"/>
  </message>
  <portType name="UpdateWithMultiParamSql_sqlsePortType">
    <operation name="UpdateWithMultiParam">
      <input name="UpdateWithMultiParamRequest" message="tns:UpdateWithMultiParamRequest"/>
      <output name="UpdateWithMultiParamResponse" message="tns:UpdateWithMultiParamResponse"/>
    </operation>
  </portType>
  <binding name="UpdateWithMultiParamSqlBinding" type="tns:UpdateWithMultiParamSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="UpdateWithMultiParam">
      <soap:operation/>
      <input name="UpdateWithMultiParamRequest">
        <soap:body/>
      </input>
      <output name="UpdateWithMultiParamResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="UpdateWithMultiParamSql_sqlseService">
    <port name="UpdateWithMultiParamSql_sqlsePort" binding="tns:UpdateWithMultiParamSqlBinding">
      <soap:address location="http://localhost:18181/UpdateWithMultiParamSql/UpdateWithMultiParamSql/UpdateWithMultiParamSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="UpdateWithMultiParamSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="UpdateWithMultiParamSql_myrole" portType="tns:UpdateWithMultiParamSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
