driver-tests/sqlse/derby/deletemultiparamfullqualJbi/src/jbiServiceUnits/deletemultiparamfullqualSQL/deletemultiparamfullqualSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="deletemultiparamfullqualSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="deletemultiparamfullqualRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/><xsd:element name="param2" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="deletemultiparamfullqualResponse">
    <part name="deletemultiparamfullqualResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="deletemultiparamfullqualRequest">
    <part name="deletemultiparamfullqualRequestPart" element="tns:deletemultiparamfullqualRequest"/>
  </message>
  <portType name="deletemultiparamfullqualSQL_sqlsePortType">
    <operation name="deletemultiparamfullqual">
      <input name="deletemultiparamfullqualRequest" message="tns:deletemultiparamfullqualRequest"/>
      <output name="deletemultiparamfullqualResponse" message="tns:deletemultiparamfullqualResponse"/>
    </operation>
  </portType>
  <binding name="deletemultiparamfullqualSQLBinding" type="tns:deletemultiparamfullqualSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="deletemultiparamfullqual">
      <soap:operation style="document"/>
      <input name="deletemultiparamfullqualRequest">
        <soap:body use="literal"/>
      </input>
      <output name="deletemultiparamfullqualResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="deletemultiparamfullqualSQL_sqlseService">
    <port name="deletemultiparamfullqualSQL_sqlsePort" binding="tns:deletemultiparamfullqualSQLBinding">
      <soap:address location="http://localhost:18181/deletemultiparamfullqualSQL/deletemultiparamfullqualSQL/deletemultiparamfullqualSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="deletemultiparamfullqualSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="deletemultiparamfullqualSQL_myrole" portType="tns:deletemultiparamfullqualSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
