driver-tests/sqlse/sqlserver/Sqlse1603_SQL/SubQueryJbi/src/jbiServiceUnits/SubQuerySql/SubQuerySql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SubQuerySql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="SubQueryRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="SubQueryResponse"><xsd:complexType><xsd:sequence><xsd:element name="empid" type="xsd:int"/><xsd:element name="empname" type="xsd:string"/><xsd:element name="deptid" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="SubQueryRequest">
    <part name="SubQueryRequestPart" element="tns:SubQueryRequest"/>
  </message>
  <message name="SubQueryResponse">
    <part name="SubQueryResponsePart" element="tns:SubQueryResponse"/>
  </message>
  <portType name="SubQuerySql_sqlsePortType">
    <operation name="SubQuery">
      <input name="SubQueryRequest" message="tns:SubQueryRequest"/>
      <output name="SubQueryResponse" message="tns:SubQueryResponse"/>
    </operation>
  </portType>
  <binding name="SubQuerySqlBinding" type="tns:SubQuerySql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SubQuery">
      <soap:operation/>
      <input name="SubQueryRequest">
        <soap:body/>
      </input>
      <output name="SubQueryResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="SubQuerySql_sqlseService">
    <port name="SubQuerySql_sqlsePort" binding="tns:SubQuerySqlBinding">
      <soap:address location="http://localhost:18181/SubQuerySql/SubQuerySql/SubQuerySql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="SubQuerySql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="SubQuerySql_myrole" portType="tns:SubQuerySql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
