driver-tests/bpelse/TerminationHandler/TerminationHandlerBpel/src/UnhandledFaultInTH/IOWSDL4.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="IOWSDL4" targetNamespace="http://j2ee.netbeans.org/wsdl/IOWSDL4"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://j2ee.netbeans.org/wsdl/IOWSDL4" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types/>
    <message name="IOWSDL4OperationRequest">
        <part name="InputPart" type="xsd:string"/>
    </message>
    <message name="IOWSDL4OperationReply">
        <part name="OutputPart" type="xsd:string"/>
    </message>
    <message name="SubBPWSDLOperationRequest">
        <part name="InputPart" type="xsd:string"/>
    </message>
    <message name="MainBPOneWayRequest">
        <wsdl:part name="InputPart" type="xsd:string"/>
    </message>
    <portType name="IOWSDL4PortType">
        <wsdl:operation name="IOWSDL4Operation">
            <wsdl:input name="input1" message="tns:IOWSDL4OperationRequest"/>
            <wsdl:output name="output1" message="tns:IOWSDL4OperationReply"/>
        </wsdl:operation>
    </portType>
    <portType name="SubBPWSDLPortType">
        <wsdl:operation name="SubBPWSDLOperation">
            <wsdl:input name="input1" message="tns:SubBPWSDLOperationRequest"/>
        </wsdl:operation>
    </portType>
    <portType name="MainBPOneWayWSDLPortType">
        <wsdl:operation name="MainBPOneWayWSDLOperation">
            <wsdl:input name="input1" message="tns:MainBPOneWayRequest"/>
        </wsdl:operation>
    </portType>
    <binding name="IOWSDL4Binding" type="tns:IOWSDL4PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="IOWSDL4Operation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/IOWSDL4"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/IOWSDL4"/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <binding name="SubBPWSDLBinding" type="tns:SubBPWSDLPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SubBPWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/IOWSDL4"/>
            </wsdl:input>
        </wsdl:operation>
    </binding>
    <binding name="MainBPOneWayBinding" type="tns:MainBPOneWayWSDLPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="MainBPOneWayWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/IOWSDL4"/>
            </wsdl:input>
        </wsdl:operation>
    </binding>
    <service name="IOWSDL4Service">
        <wsdl:port name="IOWSDL4Port" binding="tns:IOWSDL4Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/TerminationHandlerBpel/UnhandledFaultInTH/IOWSDL4Service/IOWSDL4Port"/>
        </wsdl:port>
    </service>
    <service name="SubBPWSDLService">
        <wsdl:port name="SubBPWSDLPort" binding="tns:SubBPWSDLBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/TerminationHandlerBpel/UnhandledFaultInTH/IOWSDL4/SubBPWSDLPort"/>
        </wsdl:port>
    </service>
    <service name="MainBPOneWayService">
        <wsdl:port name="MainBPOneWayPort" binding="tns:MainBPOneWayBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/TerminationHandlerBpel/UnhandledFaultInTH/IOWSDL4/MainBPOneWayPort"/>
        </wsdl:port>
    </service>
    <plnk:partnerLinkType name="MainBPIOPLink">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="IOWSDL4PortTypeRole" portType="tns:IOWSDL4PortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="SubBPPLink">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="SubBPWSDLPortTypeRole" portType="tns:SubBPWSDLPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="MainBPOneWayPLink">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="MainBPOneWayWSDLPortTypeRole" portType="tns:MainBPOneWayWSDLPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="CorrelationVariable" type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:CorrelationVariable" messageType="tns:SubBPWSDLOperationRequest" part="InputPart"/>
    <vprop:propertyAlias propertyName="tns:CorrelationVariable" messageType="tns:MainBPOneWayRequest" part="InputPart"/>
</definitions>
