driver-tests/etlse/requestReplyBpel/RequestReplyBpelBpel/src/collab2_engine.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="collab2_engine" targetNamespace="http://com.sun.jbi/etl/etlengine" xmlns:tns="http://com.sun.jbi/etl/etlengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/etl/etlengine">
			<xsd:element name="item">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
  </types>
  <message name="output">
    <part name="part" element="tns:item"/>
  </message>
  <message name="input">
    <part name="part" element="tns:item"/>
  </message>
  <portType name="collab2_engine_etlPortType">
    <operation name="execute">
      <input name="inputMsg" message="tns:input"/>
      <output name="outputMsg" message="tns:output"/>
    </operation>
  </portType>
  <binding name="Binding" type="tns:collab2_engine_etlPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="execute">
      <soap:operation soapAction="execute"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="collab2_engine_etlService">
    <port name="collab2_engine_etlPort" binding="tns:Binding">
      <soap:address location="http://localhost:12033/etlengine/collab2_engine"/>
    </port>
  </service>
    <plink:partnerLinkType xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="collab2_engine_etlPartnerLinkType">
        <plink:role name="collab2_engine_myrole" portType="tns:collab2_engine_etlPortType"/>
    </plink:partnerLinkType>
</definitions>
