driver-tests/etlse/requestReplyBpel/RequestReplyBpelBpel/src/invokeEtl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="collab2_engine" targetNamespace="http://com.sun.jbi/etl/etlengine" xmlns:tns="http://com.sun.jbi/etl/etlengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:tns1="http://com.sun.jbi/etl/etlengine/invokeEtl" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/etl/etlengine/invokeEtl" xmlns:tns1="http://com.sun.jbi/etl/etlengine/invokeEtl">
			<xsd:element name="item">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
  </types>
  <message name="invokeEtlOutput">
    <part name="part" element="tns1:item"/>
  </message>
  <message name="invokeEtlInput">
    <part name="part" element="tns1:item"/>
  </message>
  <portType name="invoke_etlPortType">
    <operation name="execute">
      <input name="inputMsg" message="tns:invokeEtlInput"/>
      <output name="outputMsg" message="tns:invokeEtlOutput"/>
    </operation>
  </portType>
  <binding name="Binding" type="tns:invoke_etlPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="execute">
      <soap:operation soapAction="execute"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="invoke_etlService">
    <port name="invoke_etlPort" binding="tns:Binding">
      <soap:address location="http://localhost:12033/etlengine/invokeEtl"/>
    </port>
  </service>
    <plink:partnerLinkType xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="invoke_etlPartnerLinkType">
        <plink:role name="invoke_etl_Myrole" portType="tns:invoke_etlPortType"/>
    </plink:partnerLinkType>
</definitions>
