ojc-core/encodersl/encoder-coco/test/data/use72column/IGS-Unit_Gas_exceed72column.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>false</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="WS-NEWRCD">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName>WS-NEWRCD</coco:originalName>
                <coco:displayCharEncoding>Cp037</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="WS-NEWRCD-TYPE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>WS-NEWRCD-TYPE</coco:originalName>
                            <coco:picture>X(4)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WS-NEWRCD-ORG" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>WS-NEWRCD-ORG</coco:originalName>
                            <coco:picture>X(4)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WS-NEWRCD-DISTR-CHAN" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>WS-NEWRCD-DISTR-CHAN</coco:originalName>
                            <coco:picture>XX</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WS-NEWRCD-DIV1" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>WS-NEWRCD-DIV1</coco:originalName>
                            <coco:picture>X</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WS-NEWRCD-OFC" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>WS-NEWRCD-OFC</coco:originalName>
                            <coco:picture>XXX</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WS-NEWRCD-SLS-GRP" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>WS-NEWRCD-SLS-GRP</coco:originalName>
                            <coco:picture>XXX</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WS-NEWRCD-MTL" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>WS-NEWRCD-MTL</coco:originalName>
                            <coco:picture>X(18)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WS-NEWRCD-QTY" minOccurs="1" maxOccurs="1" type="xs:decimal">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>WS-NEWRCD-QTY</coco:originalName>
                            <coco:picture>9(9)V99</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WS-NEWRCD-AMT-SIGN" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>WS-NEWRCD-AMT-SIGN</coco:originalName>
                            <coco:picture>X</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WS-NEWRCD-COND-TYPE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>WS-NEWRCD-COND-TYPE</coco:originalName>
                            <coco:picture>X(4)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WS-NEWRCD-COND-VALUE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>WS-NEWRCD-COND-VALUE</coco:originalName>
                            <coco:picture>X(4)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WS-NEWRCD-PARTN-ROLE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>WS-NEWRCD-PARTN-ROLE</coco:originalName>
                            <coco:picture>XX</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WS-NEWRCD-PARTN-NUMB" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>WS-NEWRCD-PARTN-NUMB</coco:originalName>
                            <coco:picture>X(11)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WS-NEWRCD-SALES-DOC" minOccurs="1" maxOccurs="1" type="xs:int">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>WS-NEWRCD-SALES-DOC</coco:originalName>
                            <coco:picture>9(5)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WS-NEWRCD-CUST-NAME" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>WS-NEWRCD-CUST-NAME</coco:originalName>
                            <coco:picture>X(30)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WS-NEWRCD-INVOICE-NO" minOccurs="1" maxOccurs="1" type="xs:int">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>WS-NEWRCD-INVOICE-NO</coco:originalName>
                            <coco:picture>S9(9)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WS-NEWRCD-VOLUME" minOccurs="1" maxOccurs="1" type="xs:int">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>WS-NEWRCD-VOLUME</coco:originalName>
                            <coco:picture>9(9)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WS-NEWRCD-VOL-SIGN" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>WS-NEWRCD-VOL-SIGN</coco:originalName>
                            <coco:picture>X</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>