driver-tests/iepse/IEPTupleSerialCorrelation/TupleSerialCorrelationIep/src/DeleteStreamInput/DeleteStreamInput.wsdl

<definitions targetNamespace="DeleteStreamInput.DeleteStreamInput_iep"
             xmlns:tns="DeleteStreamInput.DeleteStreamInput_iep"
             xmlns:typens="DeleteStreamInput.DeleteStreamInput_iep"
             xmlns:defns="DeleteStreamInput.DeleteStreamInput_iep"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
    <xsd:schema targetNamespace="DeleteStreamInput.DeleteStreamInput_iep" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="StreamInput0_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="aInt1" type="xsd:int"/>
                    <xsd:element name="aBigint1" type="xsd:long"/>
                    <xsd:element name="double1" type="xsd:double"/>
                    <xsd:element name="date1" type="xsd:date"/>
                    <xsd:element name="ts1" type="xsd:dateTime"/>
                    <xsd:element name="varchar1" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamInput0Batch_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="StreamInput0_MsgObj" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                    <xsd:element name="aInt1" type="xsd:int"/>
                    <xsd:element name="aBigint1" type="xsd:long"/>
                    <xsd:element name="double1" type="xsd:double"/>
                    <xsd:element name="date1" type="xsd:date"/>
                    <xsd:element name="ts1" type="xsd:dateTime"/>
                    <xsd:element name="varchar1" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="TripleEventSizeOutput_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="aInt1_0" type="xsd:int"/>
                   <xsd:element name="aBigint1_0" type="xsd:long"/>
                   <xsd:element name="double1_0" type="xsd:double"/>
                   <xsd:element name="date1_0" type="xsd:date"/>
                   <xsd:element name="ts1_0" type="xsd:dateTime"/>
                   <xsd:element name="varchar1_0" type="xsd:string"/>
                   <xsd:element name="aInt1_1" type="xsd:int"/>
                   <xsd:element name="aBigint1_1" type="xsd:long"/>
                   <xsd:element name="double1_1" type="xsd:double"/>
                   <xsd:element name="date1_1" type="xsd:date"/>
                   <xsd:element name="ts1_1" type="xsd:dateTime"/>
                   <xsd:element name="varchar1_1" type="xsd:string"/>
                   <xsd:element name="aInt1_2" type="xsd:int"/>
                   <xsd:element name="aBigint1_2" type="xsd:long"/>
                   <xsd:element name="double1_2" type="xsd:double"/>
                   <xsd:element name="date1_2" type="xsd:date"/>
                   <xsd:element name="ts1_2" type="xsd:dateTime"/>
                   <xsd:element name="varchar1_2" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="HalfSchemaSend5thOutput_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="aInt1_0" type="xsd:int"/>
                   <xsd:element name="aBigint1_0" type="xsd:long"/>
                   <xsd:element name="double1_0" type="xsd:double"/>
                   <xsd:element name="date1_0" type="xsd:date"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="HalfSchemaDoubleSend3rdOutput_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="date1_0" type="xsd:date"/>
                   <xsd:element name="ts1_0" type="xsd:dateTime"/>
                   <xsd:element name="varchar1_0" type="xsd:string"/>
                   <xsd:element name="date1_1" type="xsd:date"/>
                   <xsd:element name="ts1_1" type="xsd:dateTime"/>
                   <xsd:element name="varchar1_1" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
    </xsd:schema>
</types>

<message name="StreamInput0_Msg">
    <part name="input" element="typens:StreamInput0_MsgObj"/>
</message>
<message name="StreamInput0Batch_Msg">
    <part name="input" element="typens:StreamInput0Batch_MsgObj"/>
</message>
<message name="TripleEventSizeOutput_Msg">
    <part name="output" element="typens:TripleEventSizeOutput_MsgObj"/>
</message>
<message name="HalfSchemaSend5thOutput_Msg">
    <part name="output" element="typens:HalfSchemaSend5thOutput_MsgObj"/>
</message>
<message name="HalfSchemaDoubleSend3rdOutput_Msg">
    <part name="output" element="typens:HalfSchemaDoubleSend3rdOutput_MsgObj"/>
</message>

<portType name="InputPt">
    <operation name="StreamInput0">
        <input message="tns:StreamInput0_Msg"/>
    </operation>
    <operation name="StreamInput0Batch">
        <input message="tns:StreamInput0Batch_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_TripleEventSizeOutput">
    <operation name="TripleEventSizeOutput">
        <input message="tns:TripleEventSizeOutput_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_HalfSchemaSend5thOutput">
    <operation name="HalfSchemaSend5thOutput">
        <input message="tns:HalfSchemaSend5thOutput_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_HalfSchemaDoubleSend3rdOutput">
    <operation name="HalfSchemaDoubleSend3rdOutput">
        <input message="tns:HalfSchemaDoubleSend3rdOutput_Msg"/>
    </operation>
</portType>

<plnk:partnerLinkType name="InputPlt" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "InputRn" portType="tns:InputPt"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_TripleEventSizeOutput" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_TripleEventSizeOutput" portType="tns:OutputPt_TripleEventSizeOutput"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_HalfSchemaSend5thOutput" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_HalfSchemaSend5thOutput" portType="tns:OutputPt_HalfSchemaSend5thOutput"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_HalfSchemaDoubleSend3rdOutput" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_HalfSchemaDoubleSend3rdOutput" portType="tns:OutputPt_HalfSchemaDoubleSend3rdOutput"/>
</plnk:partnerLinkType>
</definitions>
