driver-tests/jmsbc/i18n/JMSBCJbi/src/jbiServiceUnits/JMSBCBpel/JMSEncoderTest/UD1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by ХeniaContext -->

<xs:schema id="fogZBT634KK7db34qyiBD" targetNamespace="http://www.seebeyond.com/encoder/UD1/_1012836547" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.seebeyond.com/encoder/UD1/_1012836547">
 <xs:annotation>
  <xs:documentation><![CDATA[ξεν́ια:1:<?xml version="1.0" encoding="UTF-8"?>
<fog otdType="com/sun/encoder/ud1/fog/UD1Head.xml">
 <order main="1" state="ntype" otdType="com/sun/encoder/ud1/fog/UD1Head.xml" identifier="UD1/_1012836547">
  <enum id="43" name="delimTerm" size="4">
   <item name="never" value="0"/>
   <item name="allow" value="1"/>
   <item name="cheer" value="2"/>
   <item name="force" value="3"/>
  </enum>
  <enum id="44" name="align" size="7">
   <item name="blind" value="0"/>
   <item name="begin" value="1"/>
   <item name="exact" value="2"/>
   <item name="final" value="3"/>
   <item name="inter" value="4"/>
   <item name="oneof" value="5"/>
   <item name="super" value="6"/>
  </enum>
  <enum id="45" name="nodeType" size="6">
   <item name="alter" value="0"/>
   <item name="array" value="1"/>
   <item name="delim" value="2"/>
   <item name="fixed" value="3"/>
   <item name="group" value="4"/>
   <item name="trans" value="5"/>
  </enum>
  <enum id="46" name="order" size="3">
   <item name="seq" value="0"/>
   <item name="any" value="1"/>
   <item name="mix" value="2"/>
  </enum>
  <enum id="47" name="delimKind" size="3">
   <item name="escape" value="0"/>
   <item name="normal" value="1"/>
   <item name="repeat" value="2"/>
  </enum>
  <overlay type="structure">
   <class id="19" name="com.sun.encoder.runtime.OtdInputStream" java="com.sun.encoder.runtime.OtdInputStream" type="baseclass"/>
   <class id="9" name="array of java.lang.String" java="java.lang.String[]" type="arraytype" base="8"/>
   <class id="8" name="string" java="java.lang.String" type="baseclass"/>
   <class id="23" name="byte" java="byte" type="primitive"/>
   <class id="11" name="void" java="void" type="primitive"/>
   <class id="6" java="com.stc.UD11364253723.Env1.Root" type="nodeclass"/>
   <class id="14" name="com.sun.encoder.runtime.OtdOutputStream" java="com.sun.encoder.runtime.OtdOutputStream" type="baseclass"/>
   <class id="24" name="array of byte" java="byte[]" type="arraytype" base="23"/>
   <class id="7" java="com.stc.UD11364253723.Root" type="nodeclass">
    <method id="41" name="setEncoding" java="setEncoding" result="11">
     <param id="42" name="code" java="code" type="8"/>
    </method>
    <method id="39" name="setDecoding" java="setDecoding" result="11">
     <param id="40" name="code" java="code" type="8"/>
    </method>
    <method id="12" name="reset" java="reset" result="11"/>
    <method id="35" name="unmarshalFromString" java="unmarshalFromString" result="11">
     <param id="36" name="in" java="in" type="8"/>
     <throw id="37" name="java.io.IOException" java="java.io.IOException"/>
     <throw id="38" name="com.sun.encoder.runtime.UnmarshalException" java="com.sun.encoder.runtime.UnmarshalException"/>
    </method>
    <method id="32" name="marshalToString" java="marshalToString" result="8">
     <throw id="33" name="java.io.IOException" java="java.io.IOException"/>
     <throw id="34" name="com.sun.encoder.runtime.MarshalException" java="com.sun.encoder.runtime.MarshalException"/>
    </method>
    <method id="25" name="marshalToBytes" java="marshalToBytes" result="24">
     <throw id="26" name="java.io.IOException" java="java.io.IOException"/>
     <throw id="27" name="com.sun.encoder.runtime.MarshalException" java="com.sun.encoder.runtime.MarshalException"/>
    </method>
    <method id="28" name="unmarshalFromBytes" java="unmarshalFromBytes" result="11">
     <param id="29" name="in" java="in" type="24"/>
     <throw id="30" name="java.io.IOException" java="java.io.IOException"/>
     <throw id="31" name="com.sun.encoder.runtime.UnmarshalException" java="com.sun.encoder.runtime.UnmarshalException"/>
    </method>
    <method id="18" name="unmarshal" java="unmarshal" result="11">
     <param id="20" name="in" java="in" type="19"/>
     <throw id="22" name="com.sun.encoder.runtime.UnmarshalException" java="com.sun.encoder.runtime.UnmarshalException"/>
     <throw id="21" name="java.io.IOException" java="java.io.IOException"/>
    </method>
    <method id="10" name="check" java="check" result="9"/>
    <method id="13" name="marshal" java="marshal" result="11">
     <param id="15" name="out" java="out" type="14"/>
     <throw id="17" name="com.sun.encoder.runtime.MarshalException" java="com.sun.encoder.runtime.MarshalException"/>
     <throw id="16" name="java.io.IOException" java="java.io.IOException"/>
    </method>
   </class>
   <class id="0" name="string" java="java.lang.String" type="baseclass"/>
   <node id="1" type="choice">
    <ref node="2" name="root" javaName="Root" access="modify"/>
   </node>
   <node id="2" type="group" javaType="6" rootType="7">
    <prop name="public" type="boolean" value="false"/>
    <prop name="top" type="boolean" value="true"/>
    <ref node="3" name="subj" javaName="Subj" access="modify"/>
    <ref node="4" name="verb" javaName="Verb" access="modify"/>
    <ref node="5" name="noun" javaName="Noun" access="modify"/>
   </node>
   <node id="4" type="simple" javaType="0"/>
   <node id="3" type="simple" javaType="0"/>
   <node id="5" type="simple" javaType="0"/>
  </overlay>
  <overlay type="document"/>
  <overlay type="origin">
   <node id="1">
    <prop name="classNameBase" value="C__TEMP_demo_ffd"/>
    <prop name="mainPackage" value="com.stc.UD11364253723."/>
   </node>
   <node id="2">
    <prop name="nodeType" type="enum:array,delim,fixed,group,trans" value="group"/>
    <prop name="order" type="46" value="seq"/>
    <prop name="rootClassName" value="com.stc.UD11364253723.C__TEMP_demo_ffdMainImpl.Root2"/>
   </node>
   <node id="3">
    <prop name="align" type="44" value="blind"/>
    <prop name="length" type="integer" value="4"/>
    <prop name="nodeType" type="enum:array,delim,fixed,trans" value="fixed"/>
   </node>
   <node id="4">
    <prop name="align" type="44" value="blind"/>
    <prop name="length" type="integer" value="13"/>
    <prop name="nodeType" type="enum:array,delim,fixed,trans" value="fixed"/>
   </node>
   <node id="5">
    <prop name="align" type="44" value="blind"/>
    <prop name="length" type="integer" value="4"/>
    <prop name="nodeType" type="enum:array,delim,fixed,trans" value="fixed"/>
   </node>
  </overlay>
 </order>
</fog>
]]>
  </xs:documentation>
 </xs:annotation>
 <xs:element name="root">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="subj" type="xs:string"/>
    <xs:element name="verb" type="xs:string"/>
    <xs:element name="noun" type="xs:string"/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
</xs:schema>
