ojc-core/mqbc/mqbcimpl/test/com/sun/jbi/mqbc/packaging/MQOutOneWay/SoapInOut.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SoapInOut" targetNamespace="http://j2ee.netbeans.org/wsdl/SoapInOut"
    xmlns:tns="http://j2ee.netbeans.org/wsdl/SoapInOut"
    xmlns:ns1="http://j2ee.netbeans.org/wsdl/SoapInOut/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/SoapInOut/types">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="SoapInOutRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="SoapInOutResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="SoapInOutError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="SoapInOutPortType">
    <operation name="SoapInOutOperation">
      <input message="tns:SoapInOutRequest"/>
      <output message="tns:SoapInOutResponse"/>
      <fault message="tns:SoapInOutError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="SoapInOutBinding" type="tns:SoapInOutPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="SoapInOutOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="SoapInOutService">
    <port name="SoapInOutPort" binding="tns:SoapInOutBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
  <message name="SoapRecvMsg">
    <part name="strvalueIn" type="xsd:string"/>
  </message>
  <message name="SoapRespMsg">
    <part name="strvalueOut" type="xsd:string"/>
  </message>
  <portType name="SoapInOutStrPortType">
    <operation name="soapInOutOpration">
      <input name="SoapInReq" message="tns:SoapRecvMsg"/>
      <output name="SoapOutResp" message="tns:SoapRespMsg"/>
    </operation>
  </portType>
  <binding name="SoapInOutStrBinding" type="tns:SoapInOutStrPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="soapInOutOpration">
      <soap:operation soapAction="SoapStrEcho"/>
      <input name="SoapInReq">
        <soap:body use="literal" parts="strvalueIn"/>
      </input>
      <output name="SoapOutResp">
        <soap:body use="literal" parts="strvalueOut"/>
      </output>
    </operation>
  </binding>
  <service name="SoapEchoService">
    <port name="soapechoServiceport" binding="tns:SoapInOutStrBinding">
      <soap:address location="http://localhost:18181/service/MQBCJbi/SaopInOut"/>
    </port>
  </service>
  <plink:partnerLinkType name="partnerlinktypeSaopInOut">
    <plink:role name="partnerlinktyperoleSoapInOut" portType="tns:SoapInOutStrPortType"/>
  </plink:partnerLinkType>
</definitions>
