driver-tests/bpelse/correlation/correlationJBI/src/bindingComponentASA/correlation/invoke1/Invoke1parent.wsdl

<definitions targetNamespace="Invoke1parent"
             name="Invoke1parent"
             xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
             xmlns:tns="Invoke1parent"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
    <plnk:partnerLinkType name="Invoke1parentServiceLinkType"
                          xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="Server"
                   portType="tns:Invoke1parentPortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="Invoke1parentServiceLinkType1"
                          xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="Server"
                   portType="tns:Invoke1parentPortType1"></plnk:role>
    </plnk:partnerLinkType>
    <bpws:property name="property"
                   type="xsd:string"/>
    <bpws:propertyAlias propertyName="tns:property"
                        messageType="tns:Invoke1parentMessage"
                        part="Invoke1parentPart">
            <bpws:query>/Invoke1parentElement/string</bpws:query>
    </bpws:propertyAlias>
    <bpws:property name="property1"
                   type="xsd:string"/>
    <bpws:propertyAlias propertyName="tns:property1"
                        messageType="tns:Invoke1parentMessage1"
                        part="Invoke1parentPart">
            <bpws:query>/Invoke1parentElement/string</bpws:query>
    </bpws:propertyAlias>
    <types>
        <xsd:schema targetNamespace="Invoke1parent"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
                    xmlns:tns="Invoke1parent"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
                    <xsd:element type="tns:Invoke1parentType"
                         name="Invoke1parentElement"></xsd:element>
            <xsd:complexType name="Invoke1parentType">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="Invoke1parentMessage">
        <part name="Invoke1parentPart"
              element="tns:Invoke1parentElement"></part>
    </message>
    <message name="Invoke1parentMessage1">
        <part name="Invoke1parentPart"
              element="tns:Invoke1parentElement"></part>
    </message>
    <portType name="Invoke1parentPortType">
        <operation name="Invoke1parentOperation">
            <input message="tns:Invoke1parentMessage"></input>
            <output message="tns:Invoke1parentMessage"></output>
        </operation>
    </portType>
    <portType name="Invoke1parentPortType1">
        <operation name="Invoke1parentOperation1">
            <input message="tns:Invoke1parentMessage1"></input>
        </operation>
    </portType>
    <binding name="Invoke1parentBinding"
             type="tns:Invoke1parentPortType">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Invoke1parentOperation">
            <soap:operation soapAction="Invoke1parentOperation"/>
            <input>
                <soap:body parts="Invoke1parentPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="Invoke1parentPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="Invoke1parentBinding1"
             type="tns:Invoke1parentPortType1">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Invoke1parentOperation1">
            <soap:operation soapAction="Invoke1parentOperation1"/>
            <input>
                <soap:body parts="Invoke1parentPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="Invoke1parentService">
        <port name="Invoke1parentPort"
              binding="tns:Invoke1parentBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/Invoke1parentService"/>
        </port>
        <port name="Invoke1parentPort1"
              binding="tns:Invoke1parentBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/Invoke1parentService1"/>
        </port>
    </service>
</definitions>