driver-tests/bpelse/correlation/MatchingInstanceTwoCorrBPEL/src/pick_pick_correlate_invoke/parentWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/parentWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/parentWSDL" name="parentWSDL" xmlns:ns="http://xml.netbeans.org/schema/dataTypes.xsd" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:ns2="http://j2ee.netbeans.org/wsdl/subBPWSDL">
    <wsdl:import location="../pick_pick_correlate_invoke/subBPWSDL.wsdl" namespace="http://j2ee.netbeans.org/wsdl/subBPWSDL"/>
    <wsdl:types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/parentWSDL">
            <xsd:import namespace="http://xml.netbeans.org/schema/dataTypes.xsd" schemaLocation="../dataTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="parentWSDLOperationRequest">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="parentWSDLOperationReply">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="parentWSDLOperationRequest1">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:portType name="parentWSDLPortType">
        <wsdl:operation name="parentWSDLOperation">
            <wsdl:input name="input1" message="tns:parentWSDLOperationRequest"/>
            <wsdl:output name="output1" message="tns:parentWSDLOperationReply"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="parentWSDLPortType1">
        <wsdl:operation name="parentWSDLOperation">
            <wsdl:input name="input1" message="tns:parentWSDLOperationRequest1"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="parentWSDLBinding" type="tns:parentWSDLPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="parentWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="parentWSDLService">
        <wsdl:port name="parentWSDLPort" binding="tns:parentWSDLBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/parentWSDLService/parentWSDLPort"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:binding name="parentWSDLBinding1" type="tns:parentWSDLPortType1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="parentWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="parentWSDLService1">
        <wsdl:port name="parentWSDLPort1" binding="tns:parentWSDLBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/parentWSDLService/parentWSDLPort1"/>
        </wsdl:port>
    </wsdl:service>    
    <plnk:partnerLinkType name="parentWSDLPartner">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="parentWSDLPortTypeRole" portType="tns:parentWSDLPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="parentWSDLPartner1">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="parentWSDLPortType1Role" portType="tns:parentWSDLPortType1"/>
    </plnk:partnerLinkType>
    
    <vprop:property name="property" type="xsd:float"/>
    <vprop:propertyAlias propertyName="tns:property"
        messageType="tns:parentWSDLOperationRequest" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:float</vprop:query>
    </vprop:propertyAlias> 
    <vprop:propertyAlias propertyName="tns:property"
        messageType="tns:parentWSDLOperationReply" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:float</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property"
        messageType="tns:parentWSDLOperationRequest1" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:float</vprop:query>
    </vprop:propertyAlias> 

    <vprop:propertyAlias propertyName="tns:property"
        messageType="ns2:subBPWSDLOperationRequest" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:float</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property"
        messageType="ns2:subBPWSDLOperationReply" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:float</vprop:query>
    </vprop:propertyAlias>    
</definitions>
