ojc-core/hl7bc/hl7bcimpl/src/com/sun/jbi/hl7bc/extservice/ack/schemas/hl7_22_xsd/datatypes.xsd

<?xml version ="1.0" encoding="UTF-8"?>
<!-- 
 # BEGIN_HEADER - DO NOT EDIT
 # 
 # The contents of this file are subject to the terms
 # of the Common Development and Distribution License
 # (the "License").  You may not use this file except
 # in compliance with the License.
 #
 # You can obtain a copy of the license at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # See the License for the specific language governing
 # permissions and limitations under the License.
 #
 # When distributing Covered Code, include this CDDL
 # HEADER in each file and include the License file at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # If applicable add the following below this CDDL HEADER,
 # with the fields enclosed by brackets "[]" replaced with
 # your own identifying information: Portions Copyright
 # [year] [name of copyright owner]
-->

<!-- 
 # @(#)datatypes.xsd 
 #
 # Copyright 2004-2007 Sun Microsystems, Inc. All Rights Reserved.
 # 
 # END_HEADER - DO NOT EDIT
-->

<!--
    v2.xml Message Definitions Version v2.2  - data types
    Copyright (C) Sun Microsystems. All rights reserved.
-->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:hl7-org:v2xml"
    xmlns:hl7="urn:hl7-org:v2xml"
    targetNamespace="urn:hl7-org:v2xml">

    <!--
        COMPOSITE DATATYPE CE
    -->
    <xsd:complexType name="CE">
        <xsd:sequence>
            <xsd:element ref="CE.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.3" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.4" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.5" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.6" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--
        COMPOSITE DATATYPE CM_ELD
    -->
    <xsd:complexType name="CM_ELD">
        <xsd:sequence>
            <xsd:element ref="CM_ELD.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CM_ELD.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CM_ELD.3" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CM_ELD.4" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
      <!--
        COMPOSITE DATATYPE CM_MSG
 -->
    <xsd:complexType name="CM_MSG">
        <xsd:sequence>
            <xsd:element ref="CM_MSG.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CM_MSG.2" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <!--
        PRIMITIVE DATATYPE DT
    -->
    <xsd:simpleType name="DT">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        PRIMITIVE DATATYPE ID
    -->
    <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        PRIMITIVE DATATYPE NM
    -->
    <xsd:simpleType name="NM">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        PRIMITIVE DATATYPE ST
    -->
    <xsd:simpleType name="ST">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        COMPOSITE DATATYPE TS
    -->
    <xsd:complexType name="TS">
        <xsd:sequence>
            <xsd:element ref="TS.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="TS.2" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--
        COMPONENT CE.1
    -->
    <xsd:attributeGroup name="CE.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="identifier"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">identifier</xsd:documentation>
            <xsd:appinfo>
                <hl7:Type>ID</hl7:Type>
                <hl7:LongName>identifier</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="CE.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.1" type="CE.1.CONTENT"/>
    <!--
        COMPONENT CE.2
    -->
    <xsd:attributeGroup name="CE.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="text"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">text</xsd:documentation>
            <xsd:appinfo>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>text</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CE.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.2" type="CE.2.CONTENT"/>
    <!--
        COMPONENT CE.3
    -->
    <xsd:attributeGroup name="CE.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="name of coding system"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">name of coding system</xsd:documentation>
            <xsd:appinfo>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>name of coding system</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CE.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.3" type="CE.3.CONTENT"/>
    <!--
        COMPONENT CE.4
    -->
    <xsd:attributeGroup name="CE.4.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="alternate identifier"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">alternate identifier</xsd:documentation>
            <xsd:appinfo>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>alternate identifier</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CE.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.4" type="CE.4.CONTENT"/>
    <!--
        COMPONENT CE.5
    -->
    <xsd:attributeGroup name="CE.5.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="alternate text"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.5.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">alternate text</xsd:documentation>
            <xsd:appinfo>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>alternate text</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CE.5.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.5" type="CE.5.CONTENT"/>
    <!--
        COMPONENT CE.6
    -->
    <xsd:attributeGroup name="CE.6.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="name of alternate coding system"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.6.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">name of alternate coding system</xsd:documentation>
            <xsd:appinfo>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>name of alternate coding system</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CE.6.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.6" type="CE.6.CONTENT"/>

     <!--
        COMPONENT CM_ELD.1
    -->
    <xsd:attributeGroup name="CM_ELD.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Segment-ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CM_ELD.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Segment-ID</xsd:documentation>
            <xsd:appinfo>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Segment-ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CM_ELD.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_ELD.1" type="CM_ELD.1.CONTENT"/>
    <!--
        COMPONENT CM_ELD.2
    -->
    <xsd:attributeGroup name="CM_ELD.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Sequence"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CM_ELD.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Sequence</xsd:documentation>
            <xsd:appinfo>
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>Sequence</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="CM_ELD.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_ELD.2" type="CM_ELD.2.CONTENT"/>
    <!--
        COMPONENT CM_ELD.3
    -->
    <xsd:attributeGroup name="CM_ELD.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Field-Position"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CM_ELD.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Field-Position</xsd:documentation>
            <xsd:appinfo>
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>Field-Position</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="CM_ELD.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_ELD.3" type="CM_ELD.3.CONTENT"/>
    <!--
        COMPONENT CM_ELD.4
    -->
    <xsd:attributeGroup name="CM_ELD.4.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="CE"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Code Identifying Error"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CM_ELD.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Code Identifying Error</xsd:documentation>
            <xsd:appinfo>
                <hl7:Type>CE</hl7:Type>
                <hl7:LongName>Code Identifying Error</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="CE">
                <xsd:attributeGroup ref="CM_ELD.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_ELD.4" type="CM_ELD.4.CONTENT"/>
    <!--
        COMPONENT CM_MSG.1
    -->
    <xsd:attributeGroup name="CM_MSG.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="message type"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CM_MSG.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">message type</xsd:documentation>
            <xsd:appinfo>
                <hl7:Type>ID</hl7:Type>
                <hl7:LongName>message type</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="CM_MSG.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_MSG.1" type="CM_MSG.1.CONTENT"/>
    <!--
        COMPONENT CM_MSG.2
    -->
    <xsd:attributeGroup name="CM_MSG.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Trigger Event"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CM_MSG.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Trigger Event</xsd:documentation>
            <xsd:appinfo>
                <hl7:Type>ID</hl7:Type>
                <hl7:LongName>Trigger Event</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="CM_MSG.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_MSG.2" type="CM_MSG.2.CONTENT"/>
    <!--
        COMPONENT TS.1
    -->
    <xsd:attributeGroup name="TS.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="time of an event"/>
    </xsd:attributeGroup>
    <xsd:complexType name="TS.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">time of an event</xsd:documentation>
            <xsd:appinfo>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>time of an event</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="TS.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TS.1" type="TS.1.CONTENT"/>
    <!--
        COMPONENT TS.2
    -->
    <xsd:attributeGroup name="TS.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="degree of precision"/>
    </xsd:attributeGroup>
    <xsd:complexType name="TS.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">degree of precision</xsd:documentation>
            <xsd:appinfo>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>degree of precision</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="TS.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TS.2" type="TS.2.CONTENT"/>
</xsd:schema>
