ojc-core/hl7bc/hl7bcimpl/src/com/sun/jbi/hl7bc/extservice/ack/schemas/hl7_22_xsd/fields.xsd

<?xml version ="1.0" encoding="UTF-8"?>
<!-- 
 # BEGIN_HEADER - DO NOT EDIT
 # 
 # The contents of this file are subject to the terms
 # of the Common Development and Distribution License
 # (the "License").  You may not use this file except
 # in compliance with the License.
 #
 # You can obtain a copy of the license at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # See the License for the specific language governing
 # permissions and limitations under the License.
 #
 # When distributing Covered Code, include this CDDL
 # HEADER in each file and include the License file at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # If applicable add the following below this CDDL HEADER,
 # with the fields enclosed by brackets "[]" replaced with
 # your own identifying information: Portions Copyright
 # [year] [name of copyright owner]
-->

<!-- 
 # @(#)fields.xsd 
 #
 # Copyright 2004-2007 Sun Microsystems, Inc. All Rights Reserved.
 # 
 # END_HEADER - DO NOT EDIT
-->

<!--
    v2.xml Message Definitions Version v2.2  - fields
    Copyright (C) Sun Microsystems. All rights reserved.
-->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:hl7-org:v2xml"
    xmlns:hl7="urn:hl7-org:v2xml"
    targetNamespace="urn:hl7-org:v2xml">

    <!-- include datatypes definitions for version v2.2 -->
    <xsd:include schemaLocation="datatypes.xsd"/>

    <!--
        FIELD ERR.1
    -->
    <xsd:attributeGroup name="ERR.1.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="24"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="CM"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70060"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Error Code and Location"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERR.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Error Code and Location</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>24</hl7:Item>
                <hl7:Type>CM</hl7:Type>
                <hl7:Table>HL70060</hl7:Table>
                <hl7:LongName>Error Code and Location</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="CM_ELD">
                <xsd:attributeGroup ref="ERR.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="ERR.1" type="ERR.1.CONTENT"/>
    <!--
        FIELD MSA.1
    -->
    <xsd:attributeGroup name="MSA.1.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="18"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70008"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Acknowledgement code"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSA.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Acknowledgement code</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>18</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70008</hl7:Table>
                <hl7:LongName>Acknowledgement code</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSA.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSA.1" type="MSA.1.CONTENT"/>
    <!--
        FIELD MSA.2
    -->
    <xsd:attributeGroup name="MSA.2.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="10"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Message Control ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSA.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Message Control ID</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>10</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Message Control ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSA.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSA.2" type="MSA.2.CONTENT"/>
    <!--
        FIELD MSA.3
    -->
    <xsd:attributeGroup name="MSA.3.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="20"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Text Message"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSA.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Text Message</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>20</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Text Message</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSA.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSA.3" type="MSA.3.CONTENT"/>
    <!--
        FIELD MSA.4
    -->
    <xsd:attributeGroup name="MSA.4.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="21"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Expected Sequence Number"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSA.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Expected Sequence Number</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>21</hl7:Item>
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>Expected Sequence Number</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="MSA.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSA.4" type="MSA.4.CONTENT"/>
    <!--
        FIELD MSA.5
    -->
    <xsd:attributeGroup name="MSA.5.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="22"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70102"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Delayed Acknowledgement type"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSA.5.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Delayed Acknowledgement type</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>22</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70102</hl7:Table>
                <hl7:LongName>Delayed Acknowledgement type</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSA.5.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSA.5" type="MSA.5.CONTENT"/>
    <!--
        FIELD MSA.6
    -->
    <xsd:attributeGroup name="MSA.6.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="23"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="CE"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Error Condition"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSA.6.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Error Condition</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>23</hl7:Item>
                <hl7:Type>CE</hl7:Type>
                <hl7:LongName>Error Condition</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="CE">
                <xsd:attributeGroup ref="MSA.6.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="MSA.6" type="MSA.6.CONTENT"/>
    <!--
        FIELD MSH.1
    -->
    <xsd:attributeGroup name="MSH.1.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Field separator"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Field separator</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>1</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Field separator</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.1" type="MSH.1.CONTENT"/>
    <!--
        FIELD MSH.2
    -->
    <xsd:attributeGroup name="MSH.2.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="2"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Encoding characters"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Encoding characters</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>2</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Encoding characters</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.2" type="MSH.2.CONTENT"/>
    <!--
        FIELD MSH.3
    -->
    <xsd:attributeGroup name="MSH.3.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="3"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Sending application"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Sending application</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>3</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Sending application</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.3" type="MSH.3.CONTENT"/>
    <!--
        FIELD MSH.4
    -->
    <xsd:attributeGroup name="MSH.4.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="4"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Sending facility"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Sending facility</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>4</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Sending facility</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.4" type="MSH.4.CONTENT"/>
    <!--
        FIELD MSH.5
    -->
    <xsd:attributeGroup name="MSH.5.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="5"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Receiving application"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.5.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Receiving application</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>5</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Receiving application</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.5.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.5" type="MSH.5.CONTENT"/>
    <!--
        FIELD MSH.6
    -->
    <xsd:attributeGroup name="MSH.6.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="6"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Receiving facility"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.6.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Receiving facility</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>6</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Receiving facility</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.6.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.6" type="MSH.6.CONTENT"/>
    <!--
        FIELD MSH.7
    -->
    <xsd:attributeGroup name="MSH.7.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="7"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="TS"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Date / Time of message"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.7.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Date / Time of message</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>7</hl7:Item>
                <hl7:Type>TS</hl7:Type>
                <hl7:LongName>Date / Time of message</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="TS">
                <xsd:attributeGroup ref="MSH.7.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="MSH.7" type="MSH.7.CONTENT"/>
    <!--
        FIELD MSH.8
    -->
    <xsd:attributeGroup name="MSH.8.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="8"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Security"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.8.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Security</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>8</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Security</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.8.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.8" type="MSH.8.CONTENT"/>
    <!--
        FIELD MSH.9
    -->
    <xsd:attributeGroup name="MSH.9.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="9"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="CM"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70076"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Message type"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.9.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Message type</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>9</hl7:Item>
                <hl7:Type>CM</hl7:Type>
                <hl7:Table>HL70076</hl7:Table>
                <hl7:LongName>Message type</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="CM_MSG">
                <xsd:attributeGroup ref="MSH.9.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="MSH.9" type="MSH.9.CONTENT"/>
    <!--
        FIELD MSH.10
    -->
    <xsd:attributeGroup name="MSH.10.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="10"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Message Control ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.10.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Message Control ID</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>10</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Message Control ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.10.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.10" type="MSH.10.CONTENT"/>
    <!--
        FIELD MSH.11
    -->
    <xsd:attributeGroup name="MSH.11.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="11"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70103"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Processing ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.11.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Processing ID</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>11</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70103</hl7:Table>
                <hl7:LongName>Processing ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSH.11.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.11" type="MSH.11.CONTENT"/>
    <!--
        FIELD MSH.12
    -->
    <xsd:attributeGroup name="MSH.12.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="12"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70104"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Version ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.12.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Version ID</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>12</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70104</hl7:Table>
                <hl7:LongName>Version ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSH.12.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.12" type="MSH.12.CONTENT"/>
    <!--
        FIELD MSH.13
    -->
    <xsd:attributeGroup name="MSH.13.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="13"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Sequence number"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.13.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Sequence number</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>13</hl7:Item>
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>Sequence number</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="MSH.13.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.13" type="MSH.13.CONTENT"/>
    <!--
        FIELD MSH.14
    -->
    <xsd:attributeGroup name="MSH.14.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="14"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Continuation pointer"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.14.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Continuation pointer</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>14</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Continuation pointer</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.14.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.14" type="MSH.14.CONTENT"/>
    <!--
        FIELD MSH.15
    -->
    <xsd:attributeGroup name="MSH.15.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="15"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70155"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Accept acknowledgement type"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.15.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Accept acknowledgement type</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>15</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70155</hl7:Table>
                <hl7:LongName>Accept acknowledgement type</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSH.15.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.15" type="MSH.15.CONTENT"/>
    <!--
        FIELD MSH.16
    -->
    <xsd:attributeGroup name="MSH.16.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="16"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70155"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Application acknowledgement type"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.16.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Application acknowledgement type</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>16</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70155</hl7:Table>
                <hl7:LongName>Application acknowledgement type</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSH.16.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.16" type="MSH.16.CONTENT"/>
    <!--
        FIELD MSH.17
    -->
    <xsd:attributeGroup name="MSH.17.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="17"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Country code"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.17.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Country code</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>17</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:LongName>Country code</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSH.17.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.17" type="MSH.17.CONTENT"/>
</xsd:schema>
