driver-tests/bpelse/flow/FlowBpel/src/FlowRepeatUntil/FlowRepeatUntil.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="FlowRepeatUntil" targetNamespace="http://j2ee.netbeans.org/wsdl/FlowRepeatUntil"
    xmlns:tns="http://j2ee.netbeans.org/wsdl/FlowRepeatUntil"
    xmlns:ns1="http://j2ee.netbeans.org/wsdl/FlowRepeatUntil/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/FlowRepeatUntil/types">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="FlowRepeatUntilRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="FlowRepeatUntilResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="FlowRepeatUntilError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="FlowRepeatUntilPortType">
    <operation name="FlowRepeatUntilOperation">
      <input message="tns:FlowRepeatUntilRequest"/>
      <output message="tns:FlowRepeatUntilResponse"/>
      <fault message="tns:FlowRepeatUntilError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="FlowRepeatUntilBinding" type="tns:FlowRepeatUntilPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="FlowRepeatUntilOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="FlowRepeatUntilService">
    <port name="FlowRepeatUntilPort" binding="tns:FlowRepeatUntilBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <message name="FlowRepeatUntilMessage">
        <part name="branch1" type="xsd:string"/>
        <part name="branch2" type="xsd:string"/>
        <part name="counter" type="xsd:int"/>
    </message>
    <portType name="FlowRepeatUntilPortType">
        <operation name="FlowRepeatUntilOperation">
            <input name="input1" message="tns:FlowRepeatUntilMessage"/>
            <output name="output1" message="tns:FlowRepeatUntilMessage"/>
        </operation>
    </portType>
    <binding name="FlowRepeatUntilBinding" type="tns:FlowRepeatUntilPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="FlowRepeatUntilOperation">
            <input name="input1">
                <soap:body/>
            </input>
            <output name="output1">
                <soap:body/>
            </output>
        </operation>
    </binding>
    <service name="FlowRepeatUntilService">
        <port name="FlowRepeatUntilPort" binding="tns:FlowRepeatUntilBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/FlowRepeatUntil"/>
        </port>
    </service>
    <plink:partnerLinkType name="FlowRepeatUntilPLT">
        <plink:role name="FlowRepeatUntilPLTRole" portType="tns:FlowRepeatUntilPortType"/>
    </plink:partnerLinkType>
</definitions>
