driver-tests/bpelse/repeatuntil/RepeatUntilBpel/src/RepeatUntilNested/RepeatUntilNested.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="RepeatUntilNested" targetNamespace="http://j2ee.netbeans.org/wsdl/RepeatUntilNested"
    xmlns:tns="http://j2ee.netbeans.org/wsdl/RepeatUntilNested"
    xmlns:ns1="http://j2ee.netbeans.org/wsdl/RepeatUntilNested/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/RepeatUntilNested/types">
                <xsd:element name="item">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="value" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="RepeatUntilNestedRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="RepeatUntilNestedResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="RepeatUntilNestedError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="RepeatUntilNestedPortType">
    <operation name="RepeatUntilNestedOperation">
      <input message="tns:RepeatUntilNestedRequest"/>
      <output message="tns:RepeatUntilNestedResponse"/>
      <fault message="tns:RepeatUntilNestedError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="RepeatUntilNestedBinding" type="tns:RepeatUntilNestedPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="RepeatUntilNestedOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="RepeatUntilNestedService">
    <port name="RepeatUntilNestedPort" binding="tns:RepeatUntilNestedBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <message name="testMsg">
        <part element="ns1:item" name="part"/>
    </message>
    <portType name="testRepeatUntilPort">
        <operation name="testRepeatUntilOperation">
            <input message="tns:testMsg"/>
            <output message="tns:testMsg"/>
        </operation>
    </portType>
    <binding name="Binding" type="tns:testRepeatUntilPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="testRepeatUntilOperation">
            <soap:operation soapAction="testRepeatUntilOperation"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="BPELRepeatUntilNestedService">
        <port binding="tns:Binding" name="port">
            <soap:address location="http://localhost:${HttpDefaultPort}/BPELRepeatUntilNestedService"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="SLT">
        <plnk:role name="RepeatUntilNestedserver" portType="tns:testRepeatUntilPort"/>
    </plnk:partnerLinkType>    
</definitions>
