driver-tests/recovery/RecoveryTesting/JMSBased/BPELProject/src/JdbcOutboundReliabilityTest1/JMSMSGCOUNTER.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://j2ee.netbeans.org/xsd/tableSchema" xmlns="http://j2ee.netbeans.org/xsd/tableSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="JMSMSGCOUNTER" type="JMSMSGCOUNTER"></xsd:element>
    <xsd:complexType name="JMSMSGCOUNTER">
      <xsd:sequence maxOccurs="unbounded">
        <xsd:element name="IDPROPERTY" type="xsd:int"></xsd:element>
        <xsd:element name="JMSMSG" type="xsd:string"></xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:schema>