ojc-core/httpsoapbc/httpsoapbcimpl/test/java/com/sun/jbi/httpsoapbc/soap12/validator/HelloService.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://sample.sun.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sample.sun.com/">

<xs:element name="SampleException" type="tns:SampleException"></xs:element>

<xs:element name="addNumbers" type="tns:addNumbers"></xs:element>

<xs:element name="addNumbersResponse" type="tns:addNumbersResponse"></xs:element>

<xs:element name="myheader" nillable="true" type="xs:string"></xs:element>

<xs:element name="test" type="tns:test"></xs:element>

<xs:element name="test1" type="tns:test1"></xs:element>

<xs:element name="test1Response" type="tns:test1Response"></xs:element>

<xs:element name="test2" type="tns:test2"></xs:element>

<xs:element name="test2Response" type="tns:test2Response"></xs:element>

<xs:element name="test3" type="tns:test3"></xs:element>

<xs:element name="test4" type="tns:test4"></xs:element>

<xs:element name="test4Response" type="tns:test4Response"></xs:element>

<xs:element name="testResponse" type="tns:testResponse"></xs:element>

<xs:complexType name="test2">
<xs:sequence>
<xs:element name="parameter" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="test2Response">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SampleException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="test3">
<xs:sequence>
<xs:element name="parameter" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNumbers">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
<xs:element name="arg1" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNumbersResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="test4">
<xs:sequence>
<xs:element name="parameter1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="test4Response">
<xs:sequence>
<xs:element name="parameter2" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="test1">
<xs:sequence>
<xs:element name="parameter" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="test1Response">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="test">
<xs:sequence>
<xs:element name="parameter" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="testResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>