driver-tests/sqlse/derby/insertonevaloneparamJbi/src/jbiServiceUnits/insertonevaloneparamSQL/insertonevaloneparamSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="insertonevaloneparamSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="insertonevaloneparamRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:string"/><xsd:element name="param2" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="insertonevaloneparamRequest">
    <part name="insertonevaloneparamRequestPart" element="tns:insertonevaloneparamRequest"/>
  </message>
  <message name="insertonevaloneparamResponse">
    <part name="insertonevaloneparamResponsePart" element="tns:numRowsEffected"/>
  </message>
  <portType name="insertonevaloneparamSQL_sqlsePortType">
    <operation name="insertonevaloneparam">
      <input name="insertonevaloneparamRequest" message="tns:insertonevaloneparamRequest"/>
      <output name="insertonevaloneparamResponse" message="tns:insertonevaloneparamResponse"/>
    </operation>
  </portType>
  <binding name="insertonevaloneparamSQLBinding" type="tns:insertonevaloneparamSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="insertonevaloneparam">
      <soap:operation style="document"/>
      <input name="insertonevaloneparamRequest">
        <soap:body use="literal"/>
      </input>
      <output name="insertonevaloneparamResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="insertonevaloneparamSQL_sqlseService">
    <port name="insertonevaloneparamSQL_sqlsePort" binding="tns:insertonevaloneparamSQLBinding">
      <soap:address location="http://localhost:18181/insertonevaloneparamSQL/insertonevaloneparamSQL/insertonevaloneparamSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="insertonevaloneparamSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="insertonevaloneparamSQL_myrole" portType="tns:insertonevaloneparamSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
