contrib-imola/corba-bc/integration-test/test-consumer-complex/consumer-complex-http-consumer/src/main/resources/EchoComplex.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EchoComplex" targetNamespace="urn:jbi4corba/test-consumer-complex" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:jbi4corba/test-consumer-complex" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://test_consumer_complex.jbi4corba/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://test_consumer_complex.jbi4corba/">
            <xs:complexType name="tResSeq">
                <xs:sequence>
                    <xs:element name="dataBoolean" type="xs:boolean"/>
                    <xs:element name="dataDouble" type="xs:double"/>
                    <xs:element name="dataFloat" type="xs:float"/>
					<xs:element name="dataInt" type="xs:int"/>
					<xs:element name="dataLong" type="xs:long"/>
					<xs:element name="dataUByte" type="xs:short"/>
                    <xs:element name="dataUInt" type="xs:long"/>
                    <xs:element name="dataUShort" type="xs:int"/>
                    <xs:element minOccurs="0" name="dataAnyURI" type="xs:string"/>					  
					<xs:element minOccurs="0" name="dataENTITY" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataID" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataLanguage" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNCName" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNMTOKEN" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataName" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNormalizedString" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataString" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="tReqSC">
                <xs:sequence>
                    <xs:element name="dataBoolean" type="xs:boolean"/>
                    <xs:element name="dataDouble" type="xs:double"/>
                    <xs:element name="dataFloat" type="xs:float"/>
					<xs:element name="dataInt" type="xs:int"/>
					<xs:element name="dataLong" type="xs:long"/>
					<xs:element name="dataUByte" type="xs:short"/>
                    <xs:element name="dataUInt" type="xs:long"/>
                    <xs:element name="dataUShort" type="xs:int"/>
                    <xs:element minOccurs="0" name="dataAnyURI" type="xs:string"/>					  
					<xs:element minOccurs="0" name="dataENTITY" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataID" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataLanguage" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNCName" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNMTOKEN" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataName" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNormalizedString" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataString" type="xs:string"/>
					<xs:element minOccurs="0" name="dataToken" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="tResSC">
                <xs:sequence>
                    <xs:element name="dataBoolean" type="xs:boolean"/>
                    <xs:element name="dataDouble" type="xs:double"/>
                    <xs:element name="dataFloat" type="xs:float"/>
					<xs:element name="dataInt" type="xs:int"/>
					<xs:element name="dataLong" type="xs:long"/>
					<xs:element name="dataUByte" type="xs:short"/>
                    <xs:element name="dataUInt" type="xs:long"/>
                    <xs:element name="dataUShort" type="xs:int"/>
                    <xs:element minOccurs="0" name="dataAnyURI" type="xs:string"/>					  
					<xs:element minOccurs="0" name="dataENTITY" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataID" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataLanguage" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNCName" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNMTOKEN" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataName" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNormalizedString" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataString" type="xs:string"/>
					<xs:element minOccurs="0" name="dataToken" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="tResAll">
                <xs:sequence>
                    <xs:element name="dataBoolean" type="xs:boolean"/>
                    <xs:element name="dataDouble" type="xs:double"/>
                    <xs:element name="dataFloat" type="xs:float"/>
					<xs:element name="dataInt" type="xs:int"/>
					<xs:element name="dataLong" type="xs:long"/>
					<xs:element name="dataUByte" type="xs:short"/>
                    <xs:element name="dataUInt" type="xs:long"/>
                    <xs:element name="dataUShort" type="xs:int"/>
                    <xs:element minOccurs="0" name="dataAnyURI" type="xs:string"/>					  
					<xs:element minOccurs="0" name="dataENTITY" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataID" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataLanguage" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNCName" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNMTOKEN" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataName" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNormalizedString" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataString" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="tReqAll">
                <xs:sequence>
                    <xs:element name="dataBoolean" type="xs:boolean"/>
                    <xs:element name="dataDouble" type="xs:double"/>
                    <xs:element name="dataFloat" type="xs:float"/>
					<xs:element name="dataInt" type="xs:int"/>
					<xs:element name="dataLong" type="xs:long"/>
					<xs:element name="dataUByte" type="xs:short"/>
                    <xs:element name="dataUInt" type="xs:long"/>
                    <xs:element name="dataUShort" type="xs:int"/>
                    <xs:element minOccurs="0" name="dataAnyURI" type="xs:string"/>					  
					<xs:element minOccurs="0" name="dataENTITY" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataID" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataLanguage" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNCName" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNMTOKEN" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataName" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNormalizedString" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataString" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="tResCC">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataComplex" type="tns:dComplex"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="dComplex">
                <xs:sequence>
                    <xs:element name="dataBoolean" type="xs:boolean"/>
                    <xs:element name="dataDouble" type="xs:double"/>
                    <xs:element name="dataFloat" type="xs:float"/>
					<xs:element name="dataInt" type="xs:int"/>
					<xs:element name="dataLong" type="xs:long"/>
					<xs:element name="dataUByte" type="xs:short"/>
                    <xs:element name="dataUInt" type="xs:long"/>
                    <xs:element name="dataUShort" type="xs:int"/>
                    <xs:element minOccurs="0" name="dataAnyURI" type="xs:string"/>					  
					<xs:element minOccurs="0" name="dataENTITY" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataID" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataLanguage" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNCName" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNMTOKEN" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataName" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNormalizedString" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataString" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="tReqCC">
                <xs:sequence>
                    <xs:element minOccurs="0" name="dataComplex" type="tns:dComplex"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="tReqSeq">
                <xs:sequence>
                    <xs:element name="dataBoolean" type="xs:boolean"/>
                    <xs:element name="dataDouble" type="xs:double"/>
                    <xs:element name="dataFloat" type="xs:float"/>
					<xs:element name="dataInt" type="xs:int"/>
					<xs:element name="dataLong" type="xs:long"/>
					<xs:element name="dataUByte" type="xs:short"/>
                    <xs:element name="dataUInt" type="xs:long"/>
                    <xs:element name="dataUShort" type="xs:int"/>
                    <xs:element minOccurs="0" name="dataAnyURI" type="xs:string"/>					  
					<xs:element minOccurs="0" name="dataENTITY" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataID" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataLanguage" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNCName" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNMTOKEN" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataName" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNormalizedString" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataString" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="tReqGroup">
                <xs:sequence>
                    <xs:element name="dataBoolean" type="xs:boolean"/>
                    <xs:element name="dataDouble" type="xs:double"/>
                    <xs:element name="dataFloat" type="xs:float"/>
					<xs:element name="dataInt" type="xs:int"/>
					<xs:element name="dataLong" type="xs:long"/>
					<xs:element name="dataUByte" type="xs:short"/>
                    <xs:element name="dataUInt" type="xs:long"/>
                    <xs:element name="dataUShort" type="xs:int"/>
                    <xs:element minOccurs="0" name="dataAnyURI" type="xs:string"/>					  
					<xs:element minOccurs="0" name="dataENTITY" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataID" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataLanguage" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNCName" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNMTOKEN" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataName" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNormalizedString" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataString" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="tResGroup">
                <xs:sequence>
                    <xs:element name="dataBoolean" type="xs:boolean"/>
                    <xs:element name="dataDouble" type="xs:double"/>
                    <xs:element name="dataFloat" type="xs:float"/>
					<xs:element name="dataInt" type="xs:int"/>
					<xs:element name="dataLong" type="xs:long"/>
					<xs:element name="dataUByte" type="xs:short"/>
                    <xs:element name="dataUInt" type="xs:long"/>
                    <xs:element name="dataUShort" type="xs:int"/>
                    <xs:element minOccurs="0" name="dataAnyURI" type="xs:string"/>					  
					<xs:element minOccurs="0" name="dataENTITY" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataID" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataLanguage" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNCName" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNMTOKEN" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataName" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataNormalizedString" type="xs:string"/>
                    <xs:element minOccurs="0" name="dataString" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://test_consumer_complex.jbi4corba/" xmlns:tns="urn:jbi4corba/test-consumer-complex" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:jbi4corba/test-consumer-complex">
            <xsd:import namespace="http://test_consumer_complex.jbi4corba/"/>
            <xsd:element name="echoSimpleToken">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleTokenResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoAll">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="arg0" type="ns0:tReqAll"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoAllResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="ns0:tResAll"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleUByte">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="arg0" type="xsd:short"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleUByteResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="xsd:short"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleLanguage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleLanguageResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleNMTOKEN">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleNMTOKENResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleNCName">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleNCNameResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleAnyURI">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleAnyURIResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSC">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="arg0" type="ns0:tReqSC"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSCResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="ns0:tResSC"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleENTITY">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleENTITYResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSeq">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="arg0" type="ns0:tReqSeq"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSeqResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="ns0:tResSeq"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleUShort">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="arg0" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleUShortResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleID">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleIDResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleLong">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="arg0" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleLongResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoCC">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="arg0" type="ns0:tReqCC"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoCCResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="ns0:tResCC"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoGroup">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="arg0" type="ns0:tReqGroup"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoGroupResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="ns0:tResGroup"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleInt">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="arg0" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleIntResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleFloat">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="arg0" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleFloatResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="xsd:float"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleUInt">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="arg0" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleUIntResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="xsd:long"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleString">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleStringResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleBoolean">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="arg0" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleBooleanResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleDouble">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="arg0" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleDoubleResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleName">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleNameResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleNormalizedString">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSimpleNormalizedStringResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="echoSimpleLanguage">
        <wsdl:part name="parameters" element="tns:echoSimpleLanguage">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSeqResponse">
        <wsdl:part name="parameters" element="tns:echoSeqResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleNCName">
        <wsdl:part name="parameters" element="tns:echoSimpleNCName">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleLanguageResponse">
        <wsdl:part name="parameters" element="tns:echoSimpleLanguageResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleUByte">
        <wsdl:part name="parameters" element="tns:echoSimpleUByte">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoGroupResponse">
        <wsdl:part name="parameters" element="tns:echoGroupResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoAll">
        <wsdl:part name="parameters" element="tns:echoAll">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleNameResponse">
        <wsdl:part name="parameters" element="tns:echoSimpleNameResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleUByteResponse">
        <wsdl:part name="parameters" element="tns:echoSimpleUByteResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleNMTOKENResponse">
        <wsdl:part name="parameters" element="tns:echoSimpleNMTOKENResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleIDResponse">
        <wsdl:part name="parameters" element="tns:echoSimpleIDResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleStringResponse">
        <wsdl:part name="parameters" element="tns:echoSimpleStringResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleBoolean">
        <wsdl:part name="parameters" element="tns:echoSimpleBoolean">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleAnyURIResponse">
        <wsdl:part name="parameters" element="tns:echoSimpleAnyURIResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleNormalizedStringResponse">
        <wsdl:part name="parameters" element="tns:echoSimpleNormalizedStringResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleUShortResponse">
        <wsdl:part name="parameters" element="tns:echoSimpleUShortResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSC">
        <wsdl:part name="parameters" element="tns:echoSC">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleUInt">
        <wsdl:part name="parameters" element="tns:echoSimpleUInt">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleENTITYResponse">
        <wsdl:part name="parameters" element="tns:echoSimpleENTITYResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleNormalizedString">
        <wsdl:part name="parameters" element="tns:echoSimpleNormalizedString">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleENTITY">
        <wsdl:part name="parameters" element="tns:echoSimpleENTITY">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleInt">
        <wsdl:part name="parameters" element="tns:echoSimpleInt">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoAllResponse">
        <wsdl:part name="parameters" element="tns:echoAllResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleDouble">
        <wsdl:part name="parameters" element="tns:echoSimpleDouble">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoGroup">
        <wsdl:part name="parameters" element="tns:echoGroup">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleAnyURI">
        <wsdl:part name="parameters" element="tns:echoSimpleAnyURI">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleLong">
        <wsdl:part name="parameters" element="tns:echoSimpleLong">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleNMTOKEN">
        <wsdl:part name="parameters" element="tns:echoSimpleNMTOKEN">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleToken">
        <wsdl:part name="parameters" element="tns:echoSimpleToken">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoCC">
        <wsdl:part name="parameters" element="tns:echoCC">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleNCNameResponse">
        <wsdl:part name="parameters" element="tns:echoSimpleNCNameResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleBooleanResponse">
        <wsdl:part name="parameters" element="tns:echoSimpleBooleanResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleDoubleResponse">
        <wsdl:part name="parameters" element="tns:echoSimpleDoubleResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleIntResponse">
        <wsdl:part name="parameters" element="tns:echoSimpleIntResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleFloatResponse">
        <wsdl:part name="parameters" element="tns:echoSimpleFloatResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleUShort">
        <wsdl:part name="parameters" element="tns:echoSimpleUShort">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleName">
        <wsdl:part name="parameters" element="tns:echoSimpleName">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSCResponse">
        <wsdl:part name="parameters" element="tns:echoSCResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleUIntResponse">
        <wsdl:part name="parameters" element="tns:echoSimpleUIntResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleString">
        <wsdl:part name="parameters" element="tns:echoSimpleString">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSeq">
        <wsdl:part name="parameters" element="tns:echoSeq">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoCCResponse">
        <wsdl:part name="parameters" element="tns:echoCCResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleTokenResponse">
        <wsdl:part name="parameters" element="tns:echoSimpleTokenResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleFloat">
        <wsdl:part name="parameters" element="tns:echoSimpleFloat">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleLongResponse">
        <wsdl:part name="parameters" element="tns:echoSimpleLongResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSimpleID">
        <wsdl:part name="parameters" element="tns:echoSimpleID">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EchoComplexPortTypeCorbaInterfaceOperations">
        <wsdl:operation name="echoSimpleToken">
            <wsdl:input name="echoSimpleToken" message="tns:echoSimpleToken">
            </wsdl:input>
            <wsdl:output name="echoSimpleTokenResponse" message="tns:echoSimpleTokenResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoAll">
            <wsdl:input name="echoAll" message="tns:echoAll">
            </wsdl:input>
            <wsdl:output name="echoAllResponse" message="tns:echoAllResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleUByte">
            <wsdl:input name="echoSimpleUByte" message="tns:echoSimpleUByte">
            </wsdl:input>
            <wsdl:output name="echoSimpleUByteResponse" message="tns:echoSimpleUByteResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleLanguage">
            <wsdl:input name="echoSimpleLanguage" message="tns:echoSimpleLanguage">
            </wsdl:input>
            <wsdl:output name="echoSimpleLanguageResponse" message="tns:echoSimpleLanguageResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleNMTOKEN">
            <wsdl:input name="echoSimpleNMTOKEN" message="tns:echoSimpleNMTOKEN">
            </wsdl:input>
            <wsdl:output name="echoSimpleNMTOKENResponse" message="tns:echoSimpleNMTOKENResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleNCName">
            <wsdl:input name="echoSimpleNCName" message="tns:echoSimpleNCName">
            </wsdl:input>
            <wsdl:output name="echoSimpleNCNameResponse" message="tns:echoSimpleNCNameResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleAnyURI">
            <wsdl:input name="echoSimpleAnyURI" message="tns:echoSimpleAnyURI">
            </wsdl:input>
            <wsdl:output name="echoSimpleAnyURIResponse" message="tns:echoSimpleAnyURIResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSC">
            <wsdl:input name="echoSC" message="tns:echoSC">
            </wsdl:input>
            <wsdl:output name="echoSCResponse" message="tns:echoSCResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleENTITY">
            <wsdl:input name="echoSimpleENTITY" message="tns:echoSimpleENTITY">
            </wsdl:input>
            <wsdl:output name="echoSimpleENTITYResponse" message="tns:echoSimpleENTITYResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSeq">
            <wsdl:input name="echoSeq" message="tns:echoSeq">
            </wsdl:input>
            <wsdl:output name="echoSeqResponse" message="tns:echoSeqResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleUShort">
            <wsdl:input name="echoSimpleUShort" message="tns:echoSimpleUShort">
            </wsdl:input>
            <wsdl:output name="echoSimpleUShortResponse" message="tns:echoSimpleUShortResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleID">
            <wsdl:input name="echoSimpleID" message="tns:echoSimpleID">
            </wsdl:input>
            <wsdl:output name="echoSimpleIDResponse" message="tns:echoSimpleIDResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleLong">
            <wsdl:input name="echoSimpleLong" message="tns:echoSimpleLong">
            </wsdl:input>
            <wsdl:output name="echoSimpleLongResponse" message="tns:echoSimpleLongResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoCC">
            <wsdl:input name="echoCC" message="tns:echoCC">
            </wsdl:input>
            <wsdl:output name="echoCCResponse" message="tns:echoCCResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoGroup">
            <wsdl:input name="echoGroup" message="tns:echoGroup">
            </wsdl:input>
            <wsdl:output name="echoGroupResponse" message="tns:echoGroupResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleInt">
            <wsdl:input name="echoSimpleInt" message="tns:echoSimpleInt">
            </wsdl:input>
            <wsdl:output name="echoSimpleIntResponse" message="tns:echoSimpleIntResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleFloat">
            <wsdl:input name="echoSimpleFloat" message="tns:echoSimpleFloat">
            </wsdl:input>
            <wsdl:output name="echoSimpleFloatResponse" message="tns:echoSimpleFloatResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleUInt">
            <wsdl:input name="echoSimpleUInt" message="tns:echoSimpleUInt">
            </wsdl:input>
            <wsdl:output name="echoSimpleUIntResponse" message="tns:echoSimpleUIntResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleString">
            <wsdl:input name="echoSimpleString" message="tns:echoSimpleString">
            </wsdl:input>
            <wsdl:output name="echoSimpleStringResponse" message="tns:echoSimpleStringResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleBoolean">
            <wsdl:input name="echoSimpleBoolean" message="tns:echoSimpleBoolean">
            </wsdl:input>
            <wsdl:output name="echoSimpleBooleanResponse" message="tns:echoSimpleBooleanResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleDouble">
            <wsdl:input name="echoSimpleDouble" message="tns:echoSimpleDouble">
            </wsdl:input>
            <wsdl:output name="echoSimpleDoubleResponse" message="tns:echoSimpleDoubleResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleName">
            <wsdl:input name="echoSimpleName" message="tns:echoSimpleName">
            </wsdl:input>
            <wsdl:output name="echoSimpleNameResponse" message="tns:echoSimpleNameResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleNormalizedString">
            <wsdl:input name="echoSimpleNormalizedString" message="tns:echoSimpleNormalizedString">
            </wsdl:input>
            <wsdl:output name="echoSimpleNormalizedStringResponse" message="tns:echoSimpleNormalizedStringResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EchoComplexCorbaBinding" type="tns:EchoComplexPortTypeCorbaInterfaceOperations">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="echoSimpleToken">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSimpleToken">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSimpleTokenResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoAll">
            <wsdlsoap:operation/>
            <wsdl:input name="echoAll">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoAllResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleUByte">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSimpleUByte">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSimpleUByteResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleLanguage">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSimpleLanguage">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSimpleLanguageResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleNMTOKEN">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSimpleNMTOKEN">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSimpleNMTOKENResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleAnyURI">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSimpleAnyURI">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSimpleAnyURIResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleNCName">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSimpleNCName">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSimpleNCNameResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSC">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSC">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSCResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleENTITY">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSimpleENTITY">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSimpleENTITYResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSeq">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSeq">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSeqResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleUShort">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSimpleUShort">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSimpleUShortResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleID">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSimpleID">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSimpleIDResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleLong">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSimpleLong">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSimpleLongResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoCC">
            <wsdlsoap:operation/>
            <wsdl:input name="echoCC">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoCCResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoGroup">
            <wsdlsoap:operation/>
            <wsdl:input name="echoGroup">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoGroupResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleFloat">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSimpleFloat">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSimpleFloatResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleInt">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSimpleInt">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSimpleIntResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleUInt">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSimpleUInt">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSimpleUIntResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleString">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSimpleString">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSimpleStringResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleBoolean">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSimpleBoolean">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSimpleBooleanResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleDouble">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSimpleDouble">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSimpleDoubleResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleName">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSimpleName">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSimpleNameResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSimpleNormalizedString">
            <wsdlsoap:operation/>
            <wsdl:input name="echoSimpleNormalizedString">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSimpleNormalizedStringResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EchoComplex">
        <wsdl:port name="EchoComplexPortTypeCorbaInterfaceOperationsPort" binding="tns:EchoComplexCorbaBinding">
            <wsdlsoap:address location="http://localhost:8192/Service/test-consumer-complex/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
