ojc-core/bpelse/bpelcore/test/com/sun/jbi/engine/bpel/core/test/modelparsing/bpel/echo.wsdl

<definitions targetNamespace="urn:Foo"
             name="MyHelloService"
             xmlns:tns="urn:Foo"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="urn:Foo"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:Foo"
                    xmlns:ns1="urn:Foo"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
            <xsd:element type="tns:helloObjType"
                         name="helloObj">
            </xsd:element>
            <xsd:complexType name="helloObjType">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                    <xsd:element name="nonNegativeInteger" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="byte" type="xsd:byte"/>
                    <xsd:element name="short" type="xsd:short"/>
                    <xsd:element name="int" type="xsd:int"/>
                    <xsd:element name="long" type="xsd:long"/>
                    <xsd:element name="negativeInteger" type="xsd:negativeInteger"/>
                    <xsd:element name="dateTime" type="xsd:dateTime"/>
                    <xsd:element name="nonPositiveInteger" type="xsd:nonPositiveInteger"/>
                    <xsd:element name="duration" type="xsd:duration"/>
                    <xsd:element name="ENTITIES" type="xsd:ENTITIES"/>
                    <xsd:element name="double" type="xsd:double"/>
                    <xsd:element name="ENTITY" type="xsd:ENTITY"/>
                    <xsd:element name="float" type="xsd:float"/>
                    <!--
                    <xsd:element name="Element30" type="xsd:IDREFS"/>
                    <xsd:element name="Element5" type="xsd:integer"/>
                    <xsd:element name="Element4" type="xsd:decimal"/>
                    <xsd:element name="Element3" type="xsd:boolean"/>
                    <xsd:element name="Element2" type="xsd:normalizedString"/>
                    <xsd:element name="Element1" type="xsd:string"/>
                    <xsd:element name="Element29" type="xsd:IDREF"/>
                    <xsd:element name="Element28" type="xsd:ID"/>
                    <xsd:element name="Element27" type="xsd:NCName"/>
                    <xsd:element name="Element26" type="xsd:Name"/>
                    <xsd:element name="Element25" type="xsd:NMTOKENS"/>
                    <xsd:element name="Element24" type="xsd:NMTOKEN"/>
                    <xsd:element name="Element23" type="xsd:language"/>
                    <xsd:element name="Element22" type="xsd:token"/>
                    <xsd:element name="Element21" type="xsd:NOTATION"/>
                    <xsd:element name="Element20" type="xsd:QName"/>
                    <xsd:element name="Element19" type="xsd:anyURI"/>
                    <xsd:element name="Element18" type="xsd:base64Binary"/>
                    <xsd:element name="Element17" type="xsd:hexBinary"/>
                    <xsd:element name="Element16" type="xsd:gMonth"/>
                    <xsd:element name="Element15" type="xsd:gDay"/>
                    <xsd:element name="Element14" type="xsd:gMonthDay"/>
                    <xsd:element name="Element13" type="xsd:gYear"/>
                    <xsd:element name="Element12" type="xsd:gYearMonth"/>
                    <xsd:element name="Element11" type="xsd:date"/>
                    <xsd:element name="Element10" type="xsd:time"/>
                    -->
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="HelloIF_sayHello">
        <part name="body"
              element="tns:helloObj"/>
    </message>
    <message name="HelloIF_sayHelloResponse">
        <part name="result"
              element="tns:helloObj"/>
    </message>
    <portType name="HelloIF">
        <operation name="sayHello">
            <input message="tns:HelloIF_sayHello"/>
            <output message="tns:HelloIF_sayHelloResponse"/>
        </operation>
        <operation name="sayHello1">
            <input message="tns:HelloIF_sayHello"/>
            <output message="tns:HelloIF_sayHelloResponse"/>
        </operation>
    </portType>
    <binding name="HelloIFBinding"
             type="tns:HelloIF">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sayHello">
            <soap:operation soapAction="sayHello"/>
            <input>
                <soap:body parts="body"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="result"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="MyHelloService">
        <port name="HelloIFPort"
              binding="tns:HelloIFBinding">
            <soap:address location="http://localhost:12100/service/Hello"/>
        </port>
    </service>
    
   <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloIFServiceLink">
	<plnk:role name="HelloIFRole" portType="tns:HelloIF"/>
   </plnk:partnerLinkType>
</definitions>
