contrib-imola/corba-bc/integration-test/test-consumer-fromidl-complex-anytypes/consumer-fromidl-complex-anytypes-bpel-provider/src/main/resources/EchoAnyTypes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="urn:jbi4corba/test-consumer-fromidl-complex-anytypes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:imolacorba="uri://schemas.imola.it/jbi/wsdl-extensions/corba/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="EchoAnyTypes" targetNamespace="urn:jbi4corba/test-consumer-fromidl-complex-anytypes">
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://jaxb.dev.java.net/array" xmlns="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType final="#all" name="anyTypeArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://testconsumerfromidlanytypes.test.jbi4corba.imolinfo.it/" xmlns="http://testconsumerfromidlanytypes.test.jbi4corba.imolinfo.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="complexStruct1">
                <xs:sequence>
                    <xs:element name="fieldBoolean" type="xs:boolean"/>
                    <xs:element name="fieldChar" type="xs:unsignedShort"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="fieldAny" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TempUnion">
                <xs:sequence>
                    <xs:choice minOccurs="0">
                        <xs:element name="alfanumeric" type="xs:string"/>
                        <xs:element name="numeric" type="xs:int"/>
                        <xs:element name="two_format" type="xs:anyType"/>
                    </xs:choice>
                </xs:sequence>
            </xs:complexType>
            
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:jbi4corba/test-consumer-fromidl-complex-anytypes" xmlns="urn:jbi4corba/test-consumer-fromidl-complex-anytypes" xmlns:ns1="http://testconsumerfromidlanytypes.test.jbi4corba.imolinfo.it/" xmlns:ns2="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://testconsumerfromidlanytypes.test.jbi4corba.imolinfo.it/"/>
            <xs:import namespace="http://jaxb.dev.java.net/array"/>
            <xs:element name="echo1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="msg" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echo1Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:string"/>
                        <xs:element minOccurs="0" name="msg" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echo2">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="msg" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echo2Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:anyType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echo3">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="msg" type="ns1:TempUnion"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echo3Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="ns1:complexStruct1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echo4">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="msg" type="ns1:complexStruct1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echo4Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns2:anyTypeArray"/>
                        <xs:element minOccurs="0" name="msg" type="ns1:complexStruct1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="EchoAnyException" type="EchoAnyException"/>
            <xs:complexType name="EchoAnyException">
                <xs:sequence>
                    <xs:element name="reason" nillable="true" type="xs:anyType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="EchoAnyException">
        <wsdl:part name="EchoAnyException" element="tns:EchoAnyException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo2Response">
        <wsdl:part name="parameters" element="tns:echo2Response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo3">
        <wsdl:part name="parameters" element="tns:echo3">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo1">
        <wsdl:part name="parameters" element="tns:echo1">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo3Response">
        <wsdl:part name="parameters" element="tns:echo3Response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo1Response">
        <wsdl:part name="parameters" element="tns:echo1Response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo4">
        <wsdl:part name="parameters" element="tns:echo4">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo2">
        <wsdl:part name="parameters" element="tns:echo2">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo4Response">
        <wsdl:part name="parameters" element="tns:echo4Response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EchoAnyTypesPortType">
        <wsdl:operation name="echo4">
            <wsdl:input name="echo4" message="tns:echo4">
            </wsdl:input>
            <wsdl:output name="echo4Response" message="tns:echo4Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo1">
            <wsdl:input name="echo1" message="tns:echo1">
            </wsdl:input>
            <wsdl:output name="echo1Response" message="tns:echo1Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo2">
            <wsdl:input name="echo2" message="tns:echo2">
            </wsdl:input>
            <wsdl:output name="echo2Response" message="tns:echo2Response">
            </wsdl:output>
            <wsdl:fault name="EchoAnyException" message="tns:EchoAnyException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="echo3">
            <wsdl:input name="echo3" message="tns:echo3">
            </wsdl:input>
            <wsdl:output name="echo3Response" message="tns:echo3Response">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EchoAnyTypesCorbaBinding" type="tns:EchoAnyTypesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="echo1">
            <soap:operation/>
            <wsdl:input name="echo1">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echo1Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo4">
            <soap:operation/>
            <wsdl:input name="echo4">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echo4Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo2">
            <soap:operation/>
            <wsdl:input name="echo2">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echo2Response">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EchoAnyException">
                <soap:fault name="EchoAnyException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="echo3">
            <soap:operation/>
            <wsdl:input name="echo3">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echo3Response">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EchoAnyTypes">
        <wsdl:port name="EchoAnyTypesPort" binding="tns:EchoAnyTypesCorbaBinding">
            <soap:address location="http://localhost:8192/Service/test-consumer-fromidl-complex-anytypes/"/>
        </wsdl:port>
    </wsdl:service>
    <plnk:partnerLinkType name="echoAnyTypesProcess">
        <plnk:role name="echoAnyTypesProcess" portType="tns:EchoAnyTypesPortType"/>
    </plnk:partnerLinkType>

</wsdl:definitions>
