driver-tests/bpelse/correlation/correlationJBI/src/bindingComponentASA/correlation/dupOperations/corrDupOper1Way.wsdl

<definitions targetNamespace="urn:corrDupOper1WayTargetNamespace"
             name="corrDupOper1WayDefinition"
             xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
             xmlns:tns="urn:corrDupOper1WayTargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
    <plnk:partnerLinkType name="corrDupOper1WayServiceLinkType"
                          xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="corrDupOper1WayServerRole1"
                   portType="tns:corrDupOper1WayPortType1"></plnk:role>
    </plnk:partnerLinkType>
    <bpws:property type="xsd:string"
                   name="propertyName1"></bpws:property>
    <bpws:property type="xsd:string"
                   name="propertyName2"></bpws:property>
    <bpws:propertyAlias part="corrDupOper1WayPart"
                        propertyName="tns:propertyName1"
                        messageType="tns:corrDupOper1WayMessage">
        <bpws:query>string</bpws:query>
    </bpws:propertyAlias>
    <bpws:propertyAlias part="corrDupOper1WayPart"
                        propertyName="tns:propertyName2"
                        messageType="tns:corrDupOper1WayMessage1">
        <bpws:query>string</bpws:query>
    </bpws:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:corrDupOper1WayTargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:corrDupOper1WayTargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:corrDupOper1WayTargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">

                    <xsd:complexType name="corrDupOper1WayType">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="corrDupOper1WayMessage">
        <part name="corrDupOper1WayPart"
              type="tns:corrDupOper1WayType"></part>
    </message>
    <message name="corrDupOper1WayMessage1">
        <part name="corrDupOper1WayPart1"
              type="tns:corrDupOper1WayType"></part>
    </message>
    <portType name="corrDupOper1WayPortType">
        <operation name="corrDupOper1WayOperation">
            <input message="tns:corrDupOper1WayMessage"></input>
            <output message="tns:corrDupOper1WayMessage"></output>
        </operation>
    </portType>
    <portType name="corrDupOper1WayPortType1">
        <operation name="corrDupOper1WayOperation1">
            <input message="tns:corrDupOper1WayMessage1"></input>
        </operation>
    </portType>
    <binding name="corrDupOper1WayBinding"
             type="tns:corrDupOper1WayPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrDupOper1WayOperation">
            <soap:operation soapAction="corrDupOper1WayOperation"/>
            <input>
                <soap:body parts="corrDupOper1WayPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="corrDupOper1WayPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="corrDupOper1WayBinding1"
             type="tns:corrDupOper1WayPortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrDupOper1WayOperation1">
            <soap:operation soapAction="corrDupOper1WayOperation1"/>
            <input>
                <soap:body parts="corrDupOper1WayPart1"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="corrDupOper1WayService">
        <port name="corrDupOper1WayPort"
              binding="tns:corrDupOper1WayBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrDupOper1WayPort"/>
        </port>
        <port name="corrDupOper1WayPort1"
              binding="tns:corrDupOper1WayBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrDupOper1WayPort1"/>
        </port>
    </service>
</definitions>