ojc-core/hl7bc/hl7bcimpl/src/com/sun/jbi/hl7bc/extservice/ack/schemas/hl7_21_xsd/datatypes.xsd

<?xml version ="1.0" encoding="UTF-8"?>
<!-- 
 # BEGIN_HEADER - DO NOT EDIT
 # 
 # The contents of this file are subject to the terms
 # of the Common Development and Distribution License
 # (the "License").  You may not use this file except
 # in compliance with the License.
 #
 # You can obtain a copy of the license at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # See the License for the specific language governing
 # permissions and limitations under the License.
 #
 # When distributing Covered Code, include this CDDL
 # HEADER in each file and include the License file at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # If applicable add the following below this CDDL HEADER,
 # with the fields enclosed by brackets "[]" replaced with
 # your own identifying information: Portions Copyright
 # [year] [name of copyright owner]
-->

<!-- 
 # @(#)datatypes.xsd 
 #
 # Copyright 2004-2007 Sun Microsystems, Inc. All Rights Reserved.
 # 
 # END_HEADER - DO NOT EDIT
-->

<!--
    v2.xml Message Definitions Version v2.1  - data types
    Copyright (C) Sun Microsystems. All rights reserved.
-->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:hl7-org:v2xml"
    xmlns:hl7="urn:hl7-org:v2xml"
    targetNamespace="urn:hl7-org:v2xml">

    <!--
        PRIMITIVE DATATYPE CM
    -->
    <xsd:simpleType name="CM">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        PRIMITIVE DATATYPE ID
    -->
    <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        PRIMITIVE DATATYPE NM
    -->
    <xsd:simpleType name="NM">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        PRIMITIVE DATATYPE ST
    -->
    <xsd:simpleType name="ST">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        PRIMITIVE DATATYPE TS
    -->
    <xsd:simpleType name="TS">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
</xsd:schema>
