ojc-core/hl7bc/hl7bcimpl/src/com/sun/jbi/hl7bc/extservice/ack/schemas/hl7_21_xsd/fields.xsd

<?xml version ="1.0" encoding="UTF-8"?>
<!-- 
 # BEGIN_HEADER - DO NOT EDIT
 # 
 # The contents of this file are subject to the terms
 # of the Common Development and Distribution License
 # (the "License").  You may not use this file except
 # in compliance with the License.
 #
 # You can obtain a copy of the license at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # See the License for the specific language governing
 # permissions and limitations under the License.
 #
 # When distributing Covered Code, include this CDDL
 # HEADER in each file and include the License file at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # If applicable add the following below this CDDL HEADER,
 # with the fields enclosed by brackets "[]" replaced with
 # your own identifying information: Portions Copyright
 # [year] [name of copyright owner]
-->

<!-- 
 # @(#)fields.xsd 
 #
 # Copyright 2004-2007 Sun Microsystems, Inc. All Rights Reserved.
 # 
 # END_HEADER - DO NOT EDIT
-->

<!--
    v2.xml Message Definitions Version v2.1  - fields
    Copyright (C) Sun Microsystems. All rights reserved.
-->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:hl7-org:v2xml"
    xmlns:hl7="urn:hl7-org:v2xml"
    targetNamespace="urn:hl7-org:v2xml">

    <!-- include datatypes definitions for version v2.1 -->
    <xsd:include schemaLocation="datatypes.xsd"/>

    <!--
        FIELD ERR.1
    -->
    <xsd:attributeGroup name="ERR.1.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="80"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70060"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="ERROR CODE AND LOCATION"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERR.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">ERROR CODE AND LOCATION</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>80</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70060</hl7:Table>
                <hl7:LongName>ERROR CODE AND LOCATION</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="ERR.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="ERR.1" type="ERR.1.CONTENT"/>
    <!--
        FIELD MSA.1
    -->
    <xsd:attributeGroup name="MSA.1.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="2"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70008"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="ACKNOWLEDGMENT CODE"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSA.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">ACKNOWLEDGMENT CODE</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>2</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70008</hl7:Table>
                <hl7:LongName>ACKNOWLEDGMENT CODE</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSA.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSA.1" type="MSA.1.CONTENT"/>
    <!--
        FIELD MSA.2
    -->
    <xsd:attributeGroup name="MSA.2.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="3"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="MESSAGE CONTROL ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSA.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">MESSAGE CONTROL ID</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>3</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>MESSAGE CONTROL ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSA.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSA.2" type="MSA.2.CONTENT"/>
    <!--
        FIELD MSA.3
    -->
    <xsd:attributeGroup name="MSA.3.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="4"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="TEXT MESSAGE"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSA.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">TEXT MESSAGE</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>4</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>TEXT MESSAGE</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSA.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSA.3" type="MSA.3.CONTENT"/>
    <!--
        FIELD MSA.4
    -->
    <xsd:attributeGroup name="MSA.4.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="598"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="EXPECTED SEQUENCE NUMBER"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSA.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">EXPECTED SEQUENCE NUMBER</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>598</hl7:Item>
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>EXPECTED SEQUENCE NUMBER</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="MSA.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSA.4" type="MSA.4.CONTENT"/>
    <!--
        FIELD MSA.5
    -->
    <xsd:attributeGroup name="MSA.5.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="632"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70102"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="DELAYED ACKNOWLEDGMENT TYPE"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSA.5.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">DELAYED ACKNOWLEDGMENT TYPE</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>632</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70102</hl7:Table>
                <hl7:LongName>DELAYED ACKNOWLEDGMENT TYPE</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSA.5.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSA.5" type="MSA.5.CONTENT"/>
    <!--
        FIELD MSH.1
    -->
    <xsd:attributeGroup name="MSH.1.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="5"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="FIELD SEPARATOR"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">FIELD SEPARATOR</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>5</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>FIELD SEPARATOR</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.1" type="MSH.1.CONTENT"/>
    <!--
        FIELD MSH.2
    -->
    <xsd:attributeGroup name="MSH.2.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="509"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="ENCODING CHARACTERS"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">ENCODING CHARACTERS</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>509</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>ENCODING CHARACTERS</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.2" type="MSH.2.CONTENT"/>
    <!--
        FIELD MSH.3
    -->
    <xsd:attributeGroup name="MSH.3.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="6"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="SENDING APPLICATION"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">SENDING APPLICATION</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>6</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>SENDING APPLICATION</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.3" type="MSH.3.CONTENT"/>
    <!--
        FIELD MSH.4
    -->
    <xsd:attributeGroup name="MSH.4.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="512"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="SENDING FACILITY"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">SENDING FACILITY</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>512</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>SENDING FACILITY</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.4" type="MSH.4.CONTENT"/>
    <!--
        FIELD MSH.5
    -->
    <xsd:attributeGroup name="MSH.5.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="9"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="RECEIVING APPLICATION"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.5.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">RECEIVING APPLICATION</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>9</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>RECEIVING APPLICATION</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.5.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.5" type="MSH.5.CONTENT"/>
    <!--
        FIELD MSH.6
    -->
    <xsd:attributeGroup name="MSH.6.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="513"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="RECEIVING FACILITY"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.6.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">RECEIVING FACILITY</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>513</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>RECEIVING FACILITY</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.6.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.6" type="MSH.6.CONTENT"/>
    <!--
        FIELD MSH.7
    -->
    <xsd:attributeGroup name="MSH.7.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="10"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="TS"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="DATE/TIME OF MESSAGE"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.7.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">DATE/TIME OF MESSAGE</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>10</hl7:Item>
                <hl7:Type>TS</hl7:Type>
                <hl7:LongName>DATE/TIME OF MESSAGE</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="TS">
                <xsd:attributeGroup ref="MSH.7.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.7" type="MSH.7.CONTENT"/>
    <!--
        FIELD MSH.8
    -->
    <xsd:attributeGroup name="MSH.8.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="8"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Security"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.8.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Security</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>8</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Security</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.8.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.8" type="MSH.8.CONTENT"/>
    <!--
        FIELD MSH.9
    -->
    <xsd:attributeGroup name="MSH.9.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="12"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70076"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="MESSAGE TYPE"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.9.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">MESSAGE TYPE</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>12</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70076</hl7:Table>
                <hl7:LongName>MESSAGE TYPE</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSH.9.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.9" type="MSH.9.CONTENT"/>
    <!--
        FIELD MSH.10
    -->
    <xsd:attributeGroup name="MSH.10.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="13"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="MESSAGE CONTROL ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.10.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">MESSAGE CONTROL ID</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>13</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>MESSAGE CONTROL ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.10.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.10" type="MSH.10.CONTENT"/>
    <!--
        FIELD MSH.11
    -->
    <xsd:attributeGroup name="MSH.11.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="14"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70103"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="PROCESSING ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.11.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">PROCESSING ID</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>14</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70103</hl7:Table>
                <hl7:LongName>PROCESSING ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSH.11.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.11" type="MSH.11.CONTENT"/>
    <!--
        FIELD MSH.12
    -->
    <xsd:attributeGroup name="MSH.12.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="15"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70104"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="VERSION ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.12.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">VERSION ID</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>15</hl7:Item>
                <hl7:Type>NM</hl7:Type>
                <hl7:Table>HL70104</hl7:Table>
                <hl7:LongName>VERSION ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="MSH.12.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.12" type="MSH.12.CONTENT"/>
    <!--
        FIELD MSH.13
    -->
    <xsd:attributeGroup name="MSH.13.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="633"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="SEQUENCE NUMBER"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.13.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">SEQUENCE NUMBER</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>633</hl7:Item>
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>SEQUENCE NUMBER</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="MSH.13.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.13" type="MSH.13.CONTENT"/>
    <!--
        FIELD MSH.14
    -->
    <xsd:attributeGroup name="MSH.14.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="699"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="CONTINUATION POINTER"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.14.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">CONTINUATION POINTER</xsd:documentation>
            <xsd:appinfo>
                <hl7:Item>699</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>CONTINUATION POINTER</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.14.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.14" type="MSH.14.CONTENT"/>
</xsd:schema>
