driver-tests/mqbc/MQBCTests/MQBCBpel/src/MQInOut/ExternalOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/ExternalOrder"
            xmlns:tns="http://xml.netbeans.org/schema/ExternalOrder"
            elementFormDefault="qualified">
    <xsd:complexType name="ExtrenalOrderTypes">
        <xsd:sequence>
            <xsd:element name="OrderInitiator" type="xsd:string"></xsd:element>
            <xsd:element name="OrderDescription" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ExtOrderElem" type="tns:ExtrenalOrderTypes"></xsd:element>
</xsd:schema>
