driver-tests/mqbc/MQBCTests/MQBCBpel/src/MQInOut/InterOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/InterOrderXMLSchema"
            xmlns:tns="http://xml.netbeans.org/schema/InterOrderXMLSchema"
            elementFormDefault="qualified">
    <xsd:complexType name="InternalOrderTypes">
        <xsd:sequence>
            <xsd:element name="OrinigalExternalOrder" type="xsd:string"></xsd:element>
            <xsd:element name="OrderResolution" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="InterOrderElem" type="tns:InternalOrderTypes"></xsd:element>
</xsd:schema>
