driver-tests/sqlse/derby/selectwrongparamvalviewfullqualJbi/src/jbiServiceUnits/selectwrongparamvalviewfullqualSQL/selectwrongparamvalviewfullqualSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="selectwrongparamvalviewfullqualSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="selectwrongparamvalviewfullqualRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="selectwrongparamvalviewfullqualResponse"><xsd:complexType><xsd:sequence><xsd:element name="CUSTOMER_NUM" type="xsd:int"/><xsd:element name="DISCOUNT_CODE" type="xsd:string"/><xsd:element name="ZIP" type="xsd:string"/><xsd:element name="NAME" type="xsd:string"/><xsd:element name="ADDR_LN1" type="xsd:string"/><xsd:element name="ADDR_LN2" type="xsd:string"/><xsd:element name="CITY" type="xsd:string"/><xsd:element name="STATE" type="xsd:string"/><xsd:element name="PHONE" type="xsd:string"/><xsd:element name="FAX" type="xsd:string"/><xsd:element name="EMAIL" type="xsd:string"/><xsd:element name="CREDIT_LIMIT" type="xsd:int"/><xsd:element name="LAST_SALE_DATE" type="xsd:string"/><xsd:element name="LAST_SALE_TIME" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="selectwrongparamvalviewfullqualResponse">
    <part name="selectwrongparamvalviewfullqualResponsePart" element="tns:selectwrongparamvalviewfullqualResponse"/>
  </message>
  <message name="selectwrongparamvalviewfullqualRequest">
    <part name="selectwrongparamvalviewfullqualRequestPart" element="tns:selectwrongparamvalviewfullqualRequest"/>
  </message>
  <portType name="selectwrongparamvalviewfullqualSQL_sqlsePortType">
    <operation name="selectwrongparamvalviewfullqual">
      <input name="selectwrongparamvalviewfullqualRequest" message="tns:selectwrongparamvalviewfullqualRequest"/>
      <output name="selectwrongparamvalviewfullqualResponse" message="tns:selectwrongparamvalviewfullqualResponse"/>
    </operation>
  </portType>
  <binding name="selectwrongparamvalviewfullqualSQLBinding" type="tns:selectwrongparamvalviewfullqualSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="selectwrongparamvalviewfullqual">
      <soap:operation style="document"/>
      <input name="selectwrongparamvalviewfullqualRequest">
        <soap:body use="literal"/>
      </input>
      <output name="selectwrongparamvalviewfullqualResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="selectwrongparamvalviewfullqualSQL_sqlseService">
    <port name="selectwrongparamvalviewfullqualSQL_sqlsePort" binding="tns:selectwrongparamvalviewfullqualSQLBinding">
      <soap:address location="http://localhost:18181/selectwrongparamvalviewfullqualSQL/selectwrongparamvalviewfullqualSQL/selectwrongparamvalviewfullqualSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="selectwrongparamvalviewfullqualSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="selectwrongparamvalviewfullqualSQL_myrole" portType="tns:selectwrongparamvalviewfullqualSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
