driver-tests/bpelse/assign/predicates/src/xpathAsPredicate/xpathAsPredicate.xsd

<?xml version="1.0" encoding="windows-1252"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://xml.netbeans.org/schema/xpathAsPredicate"
    xmlns:tns="http://xml.netbeans.org/schema/xpathAsPredicate"
    elementFormDefault="qualified">
    <xsd:element name="newElement">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Item" maxOccurs="5" type="xsd:string"/>
                <xsd:element name="importantItem" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>