driver-tests/sqlse/db2/SqlSE1178_DB2/DeleteWithMultiParamFullJbi/src/jbiServiceUnits/DeleteWithMultiParamFullSql/DeleteWithMultiParamFullSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="DeleteWithMultiParamFullSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="DeleteWithMultiParamFullRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/><xsd:element name="param2" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="DeleteWithMultiParamFullRequest">
    <part name="DeleteWithMultiParamFullRequestPart" element="tns:DeleteWithMultiParamFullRequest"/>
  </message>
  <message name="DeleteWithMultiParamFullResponse">
    <part name="DeleteWithMultiParamFullResponsePart" element="tns:numRowsEffected"/>
  </message>
  <portType name="DeleteWithMultiParamFullSql_sqlsePortType">
    <operation name="DeleteWithMultiParamFull">
      <input name="DeleteWithMultiParamFullRequest" message="tns:DeleteWithMultiParamFullRequest"/>
      <output name="DeleteWithMultiParamFullResponse" message="tns:DeleteWithMultiParamFullResponse"/>
    </operation>
  </portType>
  <binding name="DeleteWithMultiParamFullSqlBinding" type="tns:DeleteWithMultiParamFullSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="DeleteWithMultiParamFull">
      <soap:operation/>
      <input name="DeleteWithMultiParamFullRequest">
        <soap:body/>
      </input>
      <output name="DeleteWithMultiParamFullResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="DeleteWithMultiParamFullSql_sqlseService">
    <port name="DeleteWithMultiParamFullSql_sqlsePort" binding="tns:DeleteWithMultiParamFullSqlBinding">
      <soap:address location="http://localhost:18181/DeleteWithMultiParamFullSql/DeleteWithMultiParamFullSql/DeleteWithMultiParamFullSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="DeleteWithMultiParamFullSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="DeleteWithMultiParamFullSql_myrole" portType="tns:DeleteWithMultiParamFullSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
