driver-tests/bpelse/pick/PickBpel/src/pick/pick1.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:pick1TargetNamespace0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="pick1Definition" targetNamespace="urn:pick1TargetNamespace0">
    <types>
        <xsd:schema xmlns:ns1="urn:pick1TargetNamespace0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:pick1TargetNamespace0">
            
                    <xsd:complexType name="pick1Type">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                    <xsd:element name="nonNegativeInteger" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="byte" type="xsd:byte"/>
                    <xsd:element name="short" type="xsd:short"/>
                    <xsd:element name="int" type="xsd:int"/>
                    <xsd:element name="long" type="xsd:long"/>
                    <xsd:element name="negativeInteger" type="xsd:negativeInteger"/>
                    <xsd:element name="dateTime" type="xsd:dateTime"/>
                    <xsd:element name="nonPositiveInteger" type="xsd:nonPositiveInteger"/>
                    <xsd:element name="duration" type="xsd:duration"/>
                    <xsd:element name="ENTITIES" type="xsd:ENTITIES"/>
                    <xsd:element name="double" type="xsd:double"/>
                    <xsd:element name="ENTITY" type="xsd:ENTITY"/>
                    <xsd:element name="float" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="pick1Message">
        <part name="pick1Part" type="tns:pick1Type"/>
    </message>
    <portType name="pick1PortType">
        <operation name="pick1Operation">
            <input message="tns:pick1Message"/>
            <output message="tns:pick1Message"/>
        </operation>
    </portType>
    <binding name="pick1Binding" type="tns:pick1PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="pick1Operation">
            <soap:operation soapAction="pick1Operation"/>
            <input>
                <soap:body parts="pick1Part" use="literal"/>
            </input>
            <output>
                <soap:body parts="pick1Part" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="pick1Service">
        <port binding="tns:pick1Binding" name="pick1Port">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/pick1"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="pick1ServiceLinkType">
        <plnk:role name="pick1ServerRole" portType="tns:pick1PortType"/>
    </plnk:partnerLinkType>
</definitions>
