driver-tests/bpelse/pick/PickBpel/src/pick/pickTimer.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:pickTimerTargetNamespace0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="pickTimerDefinition" targetNamespace="urn:pickTimerTargetNamespace0">
    <types>
        <xsd:schema xmlns:ns1="urn:pickTimerTargetNamespace0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:pickTimerTargetNamespace0">
            
                    <xsd:complexType name="pickTimerType">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                    <xsd:element name="nonNegativeInteger" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="byte" type="xsd:byte"/>
                    <xsd:element name="short" type="xsd:short"/>
                    <xsd:element name="int" type="xsd:int"/>
                    <xsd:element name="long" type="xsd:long"/>
                    <xsd:element name="negativeInteger" type="xsd:negativeInteger"/>
                    <xsd:element name="dateTime" type="xsd:dateTime"/>
                    <xsd:element name="nonPositiveInteger" type="xsd:nonPositiveInteger"/>
                    <xsd:element name="duration" type="xsd:duration"/>
                    <xsd:element name="ENTITIES" type="xsd:ENTITIES"/>
                    <xsd:element name="double" type="xsd:double"/>
                    <xsd:element name="ENTITY" type="xsd:ENTITY"/>
                    <xsd:element name="float" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="pickTimerMessage">
        <part name="pickTimerPart" type="tns:pickTimerType"/>
    </message>
    <portType name="pickTimerPortType">
        <operation name="pickTimerOperation">
            <input message="tns:pickTimerMessage"/>
            <output message="tns:pickTimerMessage"/>
        </operation>
    </portType>
    <binding name="pickTimerBinding" type="tns:pickTimerPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="pickTimerOperation">
            <soap:operation soapAction="pickTimerOperation"/>
            <input>
                <soap:body parts="pickTimerPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="pickTimerPart" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="pickTimerService">
        <port binding="tns:pickTimerBinding" name="pickTimerPort">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/pickTimer"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="pickTimerServiceLinkType">
        <plnk:role name="pickTimerServerRole" portType="tns:pickTimerPortType"/>
    </plnk:partnerLinkType>
</definitions>
