driver-tests/bpelse/pick/PickBpel/src/pick/pick.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:pickTargetNamespace0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="pickDefinition" targetNamespace="urn:pickTargetNamespace0">
    <types>
        <xsd:schema xmlns:ns1="urn:pickTargetNamespace0" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:pickTargetNamespace0">
            
                    <xsd:complexType name="pickType">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                    <xsd:element name="nonNegativeInteger" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="byte" type="xsd:byte"/>
                    <xsd:element name="short" type="xsd:short"/>
                    <xsd:element name="int" type="xsd:int"/>
                    <xsd:element name="long" type="xsd:long"/>
                    <xsd:element name="negativeInteger" type="xsd:negativeInteger"/>
                    <xsd:element name="dateTime" type="xsd:dateTime"/>
                    <xsd:element name="nonPositiveInteger" type="xsd:nonPositiveInteger"/>
                    <xsd:element name="duration" type="xsd:duration"/>
                    <xsd:element name="ENTITIES" type="xsd:ENTITIES"/>
                    <xsd:element name="double" type="xsd:double"/>
                    <xsd:element name="ENTITY" type="xsd:ENTITY"/>
                    <xsd:element name="float" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="pickMessage">
        <part name="pickPart" type="tns:pickType"/>
    </message>
    <portType name="pickPortType">
        <operation name="pickOperation">
            <input message="tns:pickMessage"/>
            <output message="tns:pickMessage"/>
        </operation>
        <operation name="pickOperation2">
            <input message="tns:pickMessage"/>
            <output message="tns:pickMessage"/>
        </operation>
    </portType>
    <binding name="pickBinding" type="tns:pickPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="pickOperation">
            <soap:operation soapAction="pickOperation"/>
            <input>
                <soap:body parts="pickPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="pickPart" use="literal"/>
            </output>
        </operation>
        <operation name="pickOperation2">
            <soap:operation soapAction="pickOperation2"/>
            <input>
                <soap:body parts="pickPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="pickPart" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="pickService">
        <port binding="tns:pickBinding" name="pickPort">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/pick"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="pickServiceLinkType">
        <plnk:role name="pickServerRole" portType="tns:pickPortType"/>
    </plnk:partnerLinkType>
</definitions>
