driver-tests/bpelse/pick/PickBpel/src/pick/pickStart.wsdl

<definitions targetNamespace="urn:pickStartTargetNamespace"
             name="pickStartDefinition"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="urn:pickStartTargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="pickStartServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="pickStartServerRole"
                   portType="tns:pickStartPortType"></plnk:role>
        <plnk:role name="pickStartServerRole1"
                   portType="tns:pickStartPortType1"></plnk:role>
    </plnk:partnerLinkType>
    <types>
        <xsd:schema targetNamespace="urn:pickStartTargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:pickStartTargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:pickStartTargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

                    <xsd:complexType name="pickStartType">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="pickStartMessage">
        <part name="pickStartPart"
              type="tns:pickStartType"></part>
    </message>
    <portType name="pickStartPortType">
        <operation name="pickStartOperation">
            <input message="tns:pickStartMessage"></input>
            <output message="tns:pickStartMessage"></output>
        </operation>
    </portType>
    <portType name="pickStartPortType1">
        <operation name="pickStartOperation1">
            <input message="tns:pickStartMessage"></input>
            <output message="tns:pickStartMessage"></output>
        </operation>
    </portType>
    <binding name="pickStartBinding"
             type="tns:pickStartPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="pickStartOperation">
            <soap:operation soapAction="pickStartOperation"/>
            <input>
                <soap:body parts="pickStartPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="pickStartPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="pickStartBinding1"
             type="tns:pickStartPortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="pickStartOperation1">
            <soap:operation soapAction="pickStartOperation1"/>
            <input>
                <soap:body parts="pickStartPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="pickStartPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="pickStartService">
        <port name="pickStartPort"
              binding="tns:pickStartBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/pickStartPort"/>
        </port>
        <port name="pickStartPort1"
              binding="tns:pickStartBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/pickStartPort1"/>
        </port>
    </service>
</definitions>
