driver-tests/bpelse/nmproperty/FromToPropertySpecJBI/src/jbiasa/FromToPropertySpec/inLineSyntax/InLinedFromPropSpec.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="InLinedFromPropSpec" targetNamespace="http://j2ee.netbeans.org/wsdl/InLinedFromPropSpec"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://j2ee.netbeans.org/wsdl/InLinedFromPropSpec" 
    xmlns:ns0="http://j2ee.netbeans.org/schema/FromSpecSchema" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/schema/FromSpecSchema" 
        xmlns:tns="http://j2ee.netbeans.org/schema/FromSpecSchema">
            <xsd:complexType name="compType">
                <xsd:sequence>
                    <xsd:element name="intElem" type="xsd:int"></xsd:element>
                    <xsd:element name="strElem" type="xsd:string"></xsd:element>
                    <xsd:element name="boolElem" type="xsd:boolean"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="globalElem" type="tns:compType"></xsd:element>
            <xsd:element name="IntegerElem" type="xsd:int"></xsd:element>
        </xsd:schema>
    </types>
    <message name="message">
        <part name="part1" element="ns0:globalElem"/>
    </message>
    <message name="intMsg">
        <part name="intPart" element="ns0:IntegerElem"/>
    </message>
    <portType name="InLinedFromPropSpecPortType">
        <operation name="InLinedFromPropSpecOperation">
            <input name="input1" message="tns:message"/>
            <output name="output1" message="tns:message"/>
        </operation>
    </portType>
    <binding name="InLinedFromPropSpecPortTypeBinding" type="tns:InLinedFromPropSpecPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="InLinedFromPropSpecOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" parts="part1"/>
            </input>
            <output name="output1">
                <soap:body use="literal" parts="part1"/>
            </output>
        </operation>
    </binding>
    <service name="InLinedFromPropSpecService">
        <port name="InLinedFromPropSpecPortTypeBindingPort" binding="tns:InLinedFromPropSpecPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/InLinedFromPropSpecService/InLinedFromPropSpecPortTypeBindingPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="InLinedFromPropSpecPLT">
        <plnk:role name="InLinedFromPropSpecPortTypeRole" portType="tns:InLinedFromPropSpecPortType"/>
    </plnk:partnerLinkType>
<!--    <vprop:property name="intProp" type="xsd:int"/>
    <vprop:propertyAlias propertyName="tns:intProp" messageType="tns:message" part="part1">
        <vprop:query>/ns0:globalElem/intElem</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:intProp" type="xsd:int"/>
    <vprop:propertyAlias propertyName="tns:intProp" element="ns0:globalElem">
        <vprop:query>/ns0:globalElem/intElem</vprop:query>
    </vprop:propertyAlias>
    
    <vprop:property name="jmsProp" type="xsd:int"/>
    
    <vprop:propertyAlias propertyName="tns:jmsProp"
                                 nmProperty="com.sun.jms.transport.properties.corrID"/>
                                 
    <vprop:property name="fileProp" type="xsd:string"/>
    
    <vprop:propertyAlias propertyName="tns:fileProp"
                                 nmProperty="com.sun.file.transport.properties.fileName"/>
                                      
-->
<!--
    <vprop:propertyAlias propertyName="tns:strProp2"
                                 nmProperty="com.sun.file.transport.properties.fileNameRead"/>
    <vprop:propertyAlias propertyName="tns:strProp2"
                                 nmProperty="com.sun.jbi.headers.soap::{namespace}localpart"/>
-->                                     
</definitions>
