driver-tests/bpelse/assign/AssignNamespaces/src/attributeTest/attrQnameAssign_withStructPart.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="attrQnameAssign_withStructPart" targetNamespace="http://j2ee.netbeans.org/wsdl/attrQnameAssign_withStructPart"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/attrQnameAssign_withStructPart" xmlns:ns="http://xml.netbeans.org/schema/dataTypes.xsd" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/attrQnameAssign_withStructPart" attributeFormDefault="qualified" elementFormDefault="qualified">
            <xsd:element name="partElement">
                <xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                    <xsd:sequence>
                        <xsd:element name="newElement" type="xsd:string"></xsd:element>
                        <xsd:element name="nestedElement" minOccurs="0">
                            <xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                                <xsd:sequence/>
                                <xsd:attribute name="newAttribute" type="xsd:QName"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="newAttribute" type="xsd:QName"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="attrQnameAssign_withStructPartOperationRequest">
        <part name="part1" element="tns:partElement"/>
    </message>
    <message name="attrQnameAssign_withStructPartOperationReply">
        <part name="part1" element="tns:partElement"/>
    </message>
    <portType name="attrQnameAssign_withStructPartPortType">
        <wsdl:operation name="attrQnameAssign_withStructPartOperation">
            <wsdl:input name="input1" message="tns:attrQnameAssign_withStructPartOperationRequest"/>
            <wsdl:output name="output1" message="tns:attrQnameAssign_withStructPartOperationReply"/>
        </wsdl:operation>
    </portType>
    <binding name="attrQnameAssign_withStructPartBinding" type="tns:attrQnameAssign_withStructPartPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="attrQnameAssign_withStructPartOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <service name="attrQnameAssign_withStructPartService">
        <wsdl:port name="attrQnameAssign_withStructPartPort" binding="tns:attrQnameAssign_withStructPartBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/attrQnameAssign_withStructPartService/attrQnameAssign_withStructPartPort"/>
        </wsdl:port>
    </service>
    <plnk:partnerLinkType name="attrQnameAssign_withStructPart1">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="attrQnameAssign_withStructPartPortTypeRole" portType="tns:attrQnameAssign_withStructPartPortType"/>
    </plnk:partnerLinkType>
</definitions>
