ojc-core/bpelse/bpelcore/test/com/sun/jbi/engine/bpel/core/test/xpath/dom/simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ns0="http://localhost/myXpathTest" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://localhost/myXpathTest">
  
  <xs:element name="rootelement" type="xs:boolean"/>
    
  <xs:element name="rootelementComplexType" type="ns0:booleanComplexType"/>
  
  <xs:element name="birthdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="month" type="xs:string"/>
        <xs:element name="day" type="xs:int"/>
        <xs:element name="year" type="xs:int"/>
        <xs:element name="booleanTrueData" type="xs:boolean"/>
        <xs:element name="booleanFalseData" type="xs:boolean"/>
        <!-- xs:element name="name" type="ns0:ct"/ -->        
        <xs:element maxOccurs="3" minOccurs="0" name="note" type="xs:string"/>
            </xs:sequence>  
    </xs:complexType>
	</xs:element>

     <xs:complexType name="ct">
    	<xs:sequence>
    		<xs:element name="abc" type="ns0:ct"/>
    	</xs:sequence>
    </xs:complexType> 
        <xs:complexType name="booleanComplexType">
        <xs:sequence>
            <xs:element name="booleanElement" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    </xs:schema>
