driver-tests/jmsbc/i18n/JMSBCBpel/src/JMSInTest/JMSInTestJMSSend.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:jms="http://schemas.sun.com/jbi/wsdl-extensions/jms/" xmlns:slink="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/JMS/JMSInTestJMSSend" xmlns:tns0="http://localhost/JMS/JMSInTestJMSSend" xmlns:tns1="http://localhost/JMS/JMSInTestJMSSend" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JMSInTestJMSSend" targetNamespace="http://localhost/JMS/JMSInTestJMSSend">
    <types>
        <xsd:schema xmlns:ns1="http://localhost/JMS/JMSInTestJMSSend" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://localhost/JMS/JMSInTestJMSSend">                   
            <xsd:element name="helloObj" type="tns1:helloObjType"/>
            <xsd:complexType name="helloObjType">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                    <xsd:element name="nonNegativeInteger" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="byte" type="xsd:byte"/>
                    <xsd:element name="short" type="xsd:short"/>
                    <xsd:element name="int" type="xsd:int"/>
                    <xsd:element name="long" type="xsd:long"/>
                    <xsd:element name="negativeInteger" type="xsd:negativeInteger"/>
                    <xsd:element name="dateTime" type="xsd:dateTime"/>
                    <xsd:element name="nonPositiveInteger" type="xsd:nonPositiveInteger"/>
                    <xsd:element name="duration" type="xsd:duration"/>
                    <xsd:element name="ENTITIES" type="xsd:ENTITIES"/>
                    <xsd:element name="double" type="xsd:double"/>
                    <xsd:element name="ENTITY" type="xsd:ENTITY"/>
                    <xsd:element name="float" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="messageJMS">
        <part element="tns:helloObj" name="partJMS"/>
    </message>
    <portType name="portTypeJMSOut">
        <operation name="operationJMSOut">
            <input message="tns:messageJMS" name="input"/>
        </operation>
    </portType>
    <binding name="bindingJMSOut" type="tns:portTypeJMSOut">
        <jms:binding/>
        <operation name="operationJMSOut">
            <jms:operation destination="InTestDestination" destinationType="Topic" transaction="NoTransaction" deliveryMode="NON_PERSISTENT" disableMessageTimeStamp="true" disableMessageID="true" priority="4" />
            <input name="input">
                <jms:message messageType="TextMessage" textPart="partJMS" />
            </input>
        </operation>
    </binding>
    <service name="serviceJMSOut">
        <port binding="tns:bindingJMSOut" name="portJMSOut">
            <jms:address connectionURL="mq://localhost:7676" username="admin" password="admin"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="JMSOutSvcLNK">
        <plnk:role name="JMSOutClient" portType="tns:portTypeJMSOut"/>
    </plnk:partnerLinkType>
</definitions>
