driver-tests/jmsbc/i18n/JMSBCBpel/src/JMSInTest/JMSInTestWriter.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/" xmlns:slink="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/JMS/JMSInTestWriter" xmlns:tns0="http://localhost/JMS/JMSInTestWriter" xmlns:tns1="http://localhost/JMS/JMSInTestWriter" xmlns:tns2="http://localhost/JMS/JMSInTestWriter" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="JMSInTestWriter" targetNamespace="http://localhost/JMS/JMSInTestWriter">
    <types>
        <xsd:schema xmlns:ns1="http://localhost/JMS/JMSInTestWriter" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://localhost/JMS/JMSInTestWriter">


















                    <xsd:element name="helloObj" type="tns1:helloObjType"/>
            <xsd:complexType name="helloObjType">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                    <xsd:element name="nonNegativeInteger" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="byte" type="xsd:byte"/>
                    <xsd:element name="short" type="xsd:short"/>
                    <xsd:element name="int" type="xsd:int"/>
                    <xsd:element name="long" type="xsd:long"/>
                    <xsd:element name="negativeInteger" type="xsd:negativeInteger"/>
                    <xsd:element name="dateTime" type="xsd:dateTime"/>
                    <xsd:element name="nonPositiveInteger" type="xsd:nonPositiveInteger"/>
                    <xsd:element name="duration" type="xsd:duration"/>
                    <xsd:element name="ENTITIES" type="xsd:ENTITIES"/>
                    <xsd:element name="double" type="xsd:double"/>
                    <xsd:element name="ENTITY" type="xsd:ENTITY"/>
                    <xsd:element name="float" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="messageFileOut">
        <part element="tns:helloObj" name="partFileOut"/>
    </message>
    <portType name="portTypeFileOut">
        <operation name="operationWriteFile">
            <input message="tns:messageFileOut" name="input"/>
        </operation>
    </portType>
    <binding name="bindingFileOut" type="tns:portTypeFileOut">
        <file:binding/>
        <operation name="operationWriteFile">
            <file:operation/>
            <input name="input">
                <file:message use="literal" addEOL="false" multipleRecordsPerFile="false" fileName="Output.xml"/>
            </input>
        </operation>
    </binding>
    <service name="serviceFileOut">
        <port binding="tns:bindingFileOut" name="portFileOut">
            <file:address fileDirectory="@drivertest_dir@/jmsbc/JMSBCTests/JMSBCJbi/test/JMSInTest_Feed/testrunoutput"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="FileOutSvcLNK">
        <plnk:role name="FileOutClient" portType="tns:portTypeFileOut"/>
    </plnk:partnerLinkType>
</definitions>
