driver-tests/bpelse/correlation/correlationJBI/src/bindingComponentASA/correlation/corrInvOnMsg_parent.wsdl

<definitions targetNamespace="corrInvOnMsgParent"
             name="corrInvOnMsgParent"
             xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
             xmlns:tns="corrInvOnMsgParent"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
    <plnk:partnerLinkType name="corrInvOnMsgParentServiceLinkType"
                          xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="Server"
                   portType="tns:corrInvOnMsgParentPortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="corrInvOnMsgParentServiceLinkType1"
                          xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="Server"
                   portType="tns:corrInvOnMsgParentPortType1"></plnk:role>
    </plnk:partnerLinkType>
    <bpws:property name="property"
                   type="xsd:string"/>
    <bpws:propertyAlias propertyName="tns:property"
                        messageType="tns:corrInvOnMsgParentMessage"
                        part="corrInvOnMsgParentPart">
            <bpws:query>/corrInvOnMsgParentElement/string</bpws:query>
    </bpws:propertyAlias>
 
    <types>
        <xsd:schema targetNamespace="corrInvOnMsgParent"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
                    xmlns:tns="corrInvOnMsgParent"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
                    <xsd:element type="tns:corrInvOnMsgParentType"
                         name="corrInvOnMsgParentElement"></xsd:element>
            <xsd:complexType name="corrInvOnMsgParentType">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="corrInvOnMsgParentMessage">
        <part name="corrInvOnMsgParentPart"
              element="tns:corrInvOnMsgParentElement"></part>
    </message>
    <message name="corrInvOnMsgParentMessage1">
        <part name="corrInvOnMsgParentPart"
              element="tns:corrInvOnMsgParentElement"></part>
    </message>
    <portType name="corrInvOnMsgParentPortType">
        <operation name="corrInvOnMsgParentOperation">
            <input message="tns:corrInvOnMsgParentMessage"></input>
            <output message="tns:corrInvOnMsgParentMessage"></output>
        </operation>
    </portType>
    <portType name="corrInvOnMsgParentPortType1">
        <operation name="corrInvOnMsgParentOperation1">
            <input message="tns:corrInvOnMsgParentMessage1"></input>
        </operation>
    </portType>
    <binding name="corrInvOnMsgParentBinding"
             type="tns:corrInvOnMsgParentPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrInvOnMsgParentOperation">
            <soap:operation soapAction="corrInvOnMsgParentOperation"/>
            <input>
                <soap:body parts="corrInvOnMsgParentPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="corrInvOnMsgParentPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="corrInvOnMsgParentBinding1"
             type="tns:corrInvOnMsgParentPortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrInvOnMsgParentOperation1">
            <soap:operation soapAction="corrInvOnMsgParentOperation1"/>
            <input>
                <soap:body parts="corrInvOnMsgParentPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="corrInvOnMsgParentService">
        <port name="corrInvOnMsgParentPort"
              binding="tns:corrInvOnMsgParentBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrInvOnMsgParentService"/>
        </port>
        <port name="corrInvOnMsgParentPort1"
              binding="tns:corrInvOnMsgParentBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrInvOnMsgParentService1"/>
        </port>
    </service>
</definitions>