driver-tests/bpelse/correlation/correlationJBI/src/bindingComponentASA/correlation/correlationWithFlow3.wsdl

<definitions targetNamespace="urn:correlationWithFlow3TargetNamespace"
             name="correlationWithFlow3Definition"
             xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
             xmlns:tns="urn:correlationWithFlow3TargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
    <plnk:partnerLinkType name="correlationWithFlow3ServiceLinkType"
                          xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="correlationWithFlow3ServerRole"
                   portType="tns:correlationWithFlow3PortType"></plnk:role>
        <plnk:role name="correlationWithFlow3ServerRole1"
                   portType="tns:correlationWithFlow3PortType1"></plnk:role>
    </plnk:partnerLinkType>
    <bpws:property type="xsd:string"
                   name="propertyName1"></bpws:property>
    <bpws:propertyAlias part="correlationWithFlow3Part"
                        propertyName="tns:propertyName1"
                        messageType="tns:correlationWithFlow3Message">
        <bpws:query>string</bpws:query>
    </bpws:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:correlationWithFlow3TargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:correlationWithFlow3TargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:correlationWithFlow3TargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">

                    <xsd:complexType name="correlationWithFlow3Type">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="correlationWithFlow3Message">
        <part name="correlationWithFlow3Part"
              type="tns:correlationWithFlow3Type"></part>
    </message>
    <portType name="correlationWithFlow3PortType">
        <operation name="correlationWithFlow3Operation">
            <input message="tns:correlationWithFlow3Message"></input>
            <output message="tns:correlationWithFlow3Message"></output>
        </operation>
    </portType>
    <portType name="correlationWithFlow3PortType1">
        <operation name="correlationWithFlow3Operation1">
            <input message="tns:correlationWithFlow3Message"></input>
        </operation>
    </portType>
    <binding name="correlationWithFlow3Binding"
             type="tns:correlationWithFlow3PortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="correlationWithFlow3Operation">
            <soap:operation soapAction="correlationWithFlow3Operation"/>
            <input>
                <soap:body parts="correlationWithFlow3Part"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="correlationWithFlow3Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="correlationWithFlow3Binding1"
             type="tns:correlationWithFlow3PortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="correlationWithFlow3Operation1">
            <soap:operation soapAction="correlationWithFlow3Operation1"/>
            <input>
                <soap:body parts="correlationWithFlow3Part"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="correlationWithFlow3Service">
        <port name="correlationWithFlow3Port"
              binding="tns:correlationWithFlow3Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/correlationWithFlow3Port"/>
        </port>
        <port name="correlationWithFlow3Port1"
              binding="tns:correlationWithFlow3Binding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/correlationWithFlow3Port1"/>
        </port>
    </service>
</definitions>