driver-tests/bpelse/correlation/correlationJBI/src/bindingComponentASA/correlation/correlationWithFlow2.wsdl

<definitions targetNamespace="urn:correlationWithFlow2TargetNamespace"
             name="correlationWithFlow2Definition"
             xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
             xmlns:tns="urn:correlationWithFlow2TargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
    <plnk:partnerLinkType name="correlationWithFlow2ServiceLinkType"
                          xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="correlationWithFlow2ServerRole"
                   portType="tns:correlationWithFlow2PortType"></plnk:role>
        <plnk:role name="correlationWithFlow2ServerRole1"
                   portType="tns:correlationWithFlow2PortType1"></plnk:role>
    </plnk:partnerLinkType>
    <bpws:property type="xsd:string"
                   name="propertyName1"></bpws:property>
    <bpws:propertyAlias part="correlationWithFlow2Part"
                        propertyName="tns:propertyName1"
                        messageType="tns:correlationWithFlow2Message">
        <bpws:query>string</bpws:query>
    </bpws:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:correlationWithFlow2TargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:correlationWithFlow2TargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:correlationWithFlow2TargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">

                    <xsd:complexType name="correlationWithFlow2Type">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="correlationWithFlow2Message">
        <part name="correlationWithFlow2Part"
              type="tns:correlationWithFlow2Type"></part>
    </message>
    <portType name="correlationWithFlow2PortType">
        <operation name="correlationWithFlow2Operation">
            <input message="tns:correlationWithFlow2Message"></input>
            <output message="tns:correlationWithFlow2Message"></output>
        </operation>
    </portType>
    <portType name="correlationWithFlow2PortType1">
        <operation name="correlationWithFlow2Operation1">
            <input message="tns:correlationWithFlow2Message"></input>
        </operation>
    </portType>
    <binding name="correlationWithFlow2Binding"
             type="tns:correlationWithFlow2PortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="correlationWithFlow2Operation">
            <soap:operation soapAction="correlationWithFlow2Operation"/>
            <input>
                <soap:body parts="correlationWithFlow2Part"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="correlationWithFlow2Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="correlationWithFlow2Binding1"
             type="tns:correlationWithFlow2PortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="correlationWithFlow2Operation1">
            <soap:operation soapAction="correlationWithFlow2Operation1"/>
            <input>
                <soap:body parts="correlationWithFlow2Part"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="correlationWithFlow2Service">
        <port name="correlationWithFlow2Port"
              binding="tns:correlationWithFlow2Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/correlationWithFlow2Port"/>
        </port>
        <port name="correlationWithFlow2Port1"
              binding="tns:correlationWithFlow2Binding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/correlationWithFlow2Port1"/>
        </port>
    </service>
</definitions>