driver-tests/bpelse/correlation/correlationJBI/src/bindingComponentASA/correlation/CorrelationOnMessageN5.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<definitions targetNamespace="urn:correlationOnMessageFirstN5"
             name="correlationOnMessageFirstN5Definition"
             xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
             xmlns:tns="urn:correlationOnMessageFirstN5"
             xmlns:slnk1="http://schemas.xmlsoap.org/ws/2004/03/partner-link/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/">
    <plnk:partnerLinkType name="correlationOnMessageFirstN5LinkType"
                          xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="correlationOnMessageFirstN5ServerRole"
                   portType="tns:correlationOnMessageFirstN5PortType"></plnk:role>
        <plnk:role name="correlationOnMessageFirstN5ServerRole1"
                   portType="tns:correlationOnMessageFirstN5PortType1"></plnk:role>
    </plnk:partnerLinkType>
    <bpws:property type="xsd:string" name="msgProp"></bpws:property>
    <bpws:propertyAlias part="correlationOnMessageFirstN5Part"
			propertyName="tns:msgProp"
                        messageType="tns:correlationOnMessageFirstN5Message">
        <bpws:query>xsd_string</bpws:query>
    </bpws:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:correlationOnMessageFirstN5"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:correlationOnMessageFirstN5"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:correlationOnMessageFirstN5"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="urn:correlationOnMessageFirstN5"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
                
                    <xsd:complexType name="correlationOnMessageType">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                                 name="xsd_string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="correlationOnMessageFirstN5Message">
        <part name="correlationOnMessageFirstN5Part"
              type="tns:correlationOnMessageType"></part>
    </message>
    <portType name="correlationOnMessageFirstN5PortType">
        <operation name="correlationOnMessageFirstN5Operation">
            <input message="tns:correlationOnMessageFirstN5Message"></input>
            <output message="tns:correlationOnMessageFirstN5Message"></output>
        </operation>
    </portType>
    <portType name="correlationOnMessageFirstN5PortType1">
        <operation name="correlationOnMessageFirstN5Operation1">
            <input message="tns:correlationOnMessageFirstN5Message"></input>
        </operation>
    </portType>
    <binding name="correlationOnMessageFirstN5Binding"
             type="tns:correlationOnMessageFirstN5PortType">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="correlationOnMessageFirstN5Operation">
            <soap:operation soapAction="correlationOnMessageFirstN5Operation"/>
            <input>
                <soap:body parts="correlationOnMessageFirstN5Part"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="correlationOnMessageFirstN5Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="correlationOnMessageFirstN5Binding1"
             type="tns:correlationOnMessageFirstN5PortType1">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="correlationOnMessageFirstN5Operation1">
            <soap:operation soapAction="correlationOnMessageFirstN5Operation1"/>
            <input>
                <soap:body parts="correlationOnMessageFirstN5Part"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="correlationOnMessageFirstN5Service">
        <port name="correlationOnMessageFirstN5PortType"
              binding="tns:correlationOnMessageFirstN5Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/correlation/correlationOnMessageFirstN5"/>
        </port>
        <port name="correlationOnMessageFirstN5PortType1"
              binding="tns:correlationOnMessageFirstN5Binding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/correlation/correlationOnMessageFirstN51"/>
        </port>
    </service>
</definitions>