driver-tests/bpelse/correlation/correlationJBI/src/bindingComponentASA/correlation/corrReplyRecB7.wsdl

<definitions targetNamespace="urn:corrReplyRecB7TargetNamespace"
             name="corrReplyRecB7Definition"
             xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
             xmlns:tns="urn:corrReplyRecB7TargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
    <plnk:partnerLinkType name="corrReplyRecB7ServiceLinkType"
                          xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="corrReplyRecB7ServerRole"
                   portType="tns:corrReplyRecB7PortType"></plnk:role>
        <plnk:role name="corrReplyRecB7ServerRole1"
                   portType="tns:corrReplyRecB7PortType1"></plnk:role>
    </plnk:partnerLinkType>
    <bpws:property type="xsd:string"
                   name="propertyName1"></bpws:property>
    <bpws:propertyAlias part="corrReplyRecB7Part"
                        propertyName="tns:propertyName1"
                        messageType="tns:corrReplyRecB7Message">
        <bpws:query>string</bpws:query>
    </bpws:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:corrReplyRecB7TargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:corrReplyRecB7TargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:corrReplyRecB7TargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">

                    <xsd:complexType name="corrReplyRecB7Type">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="corrReplyRecB7Message">
        <part name="corrReplyRecB7Part"
              type="tns:corrReplyRecB7Type"></part>
    </message>
    <portType name="corrReplyRecB7PortType">
        <operation name="corrReplyRecB7Operation">
            <input message="tns:corrReplyRecB7Message"></input>
            <output message="tns:corrReplyRecB7Message"></output>
        </operation>
    </portType>
    <portType name="corrReplyRecB7PortType1">
        <operation name="corrReplyRecB7Operation1">
            <input message="tns:corrReplyRecB7Message"></input>
            <output message="tns:corrReplyRecB7Message"></output>
        </operation>
    </portType>
    <binding name="corrReplyRecB7Binding"
             type="tns:corrReplyRecB7PortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrReplyRecB7Operation">
            <soap:operation soapAction="corrReplyRecB7Operation"/>
            <input>
                <soap:body parts="corrReplyRecB7Part"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="corrReplyRecB7Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="corrReplyRecB7Binding1"
             type="tns:corrReplyRecB7PortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrReplyRecB7Operation1">
            <soap:operation soapAction="corrReplyRecB7Operation1"/>
            <input>
                <soap:body parts="corrReplyRecB7Part"
                           use="literal"/>
            </input>
             <output>
                <soap:body parts="corrReplyRecB7Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="corrReplyRecB7Service">
        <port name="corrReplyRecB7Port"
              binding="tns:corrReplyRecB7Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrReplyRecB7Port"/>
        </port>
        <port name="corrReplyRecB7Port1"
              binding="tns:corrReplyRecB7Binding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrReplyRecB7Port1"/>
        </port>
    </service>
</definitions>