driver-tests/bpelse/correlation/correlationJBI/src/bindingComponentASA/correlation/corrOnMesgFlow.wsdl

<definitions targetNamespace="urn:corrOnMesgFlowTargetNamespace"
             name="corrOnMesgFlowDefinition"
             xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
             xmlns:tns="urn:corrOnMesgFlowTargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
    <plnk:partnerLinkType name="corrOnMesgFlowServiceLinkType"
                          xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="corrOnMesgFlowServerRole"
                   portType="tns:corrOnMesgFlowPortType"></plnk:role>
        <plnk:role name="corrOnMesgFlowServerRole1"
                   portType="tns:corrOnMesgFlowPortType1"></plnk:role>
    </plnk:partnerLinkType>
    <bpws:property type="xsd:string"
                   name="propertyName1"></bpws:property>
    <bpws:propertyAlias part="corrOnMesgFlowPart"
                        propertyName="tns:propertyName1"
                        messageType="tns:corrOnMesgFlowMessage">
        <bpws:query>string</bpws:query>
    </bpws:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:corrOnMesgFlowTargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:corrOnMesgFlowTargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:corrOnMesgFlowTargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">

                    <xsd:complexType name="corrOnMesgFlowType">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="corrOnMesgFlowMessage">
        <part name="corrOnMesgFlowPart"
              type="tns:corrOnMesgFlowType"></part>
    </message>
    <portType name="corrOnMesgFlowPortType">
        <operation name="corrOnMesgFlowOperation">
            <input message="tns:corrOnMesgFlowMessage"></input>
            <output message="tns:corrOnMesgFlowMessage"></output>
        </operation>
    </portType>
    <portType name="corrOnMesgFlowPortType1">
        <operation name="corrOnMesgFlowOperation1">
            <input message="tns:corrOnMesgFlowMessage"></input>
        </operation>
    </portType>
    <binding name="corrOnMesgFlowBinding"
             type="tns:corrOnMesgFlowPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrOnMesgFlowOperation">
            <soap:operation soapAction="corrOnMesgFlowOperation"/>
            <input>
                <soap:body parts="corrOnMesgFlowPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="corrOnMesgFlowPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="corrOnMesgFlowBinding1"
             type="tns:corrOnMesgFlowPortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrOnMesgFlowOperation1">
            <soap:operation soapAction="corrOnMesgFlowOperation1"/>
            <input>
                <soap:body parts="corrOnMesgFlowPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="corrOnMesgFlowService">
        <port name="corrOnMesgFlowPort"
              binding="tns:corrOnMesgFlowBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrOnMesgFlowPort"/>
        </port>
        <port name="corrOnMesgFlowPort1"
              binding="tns:corrOnMesgFlowBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrOnMesgFlowPort1"/>
        </port>
    </service>
</definitions>