driver-tests/bpelse/correlation/correlationJBI/src/bindingComponentASA/correlation/corrReplyFlowF7.wsdl

<definitions targetNamespace="urn:corrReplyFlowF7TargetNamespace"
             name="corrReplyFlowF7Definition"
             xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
             xmlns:tns="urn:corrReplyFlowF7TargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
    <plnk:partnerLinkType name="corrReplyFlowF7ServiceLinkType"
                          xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="corrReplyFlowF7ServerRole"
                   portType="tns:corrReplyFlowF7PortType"></plnk:role>
        <plnk:role name="corrReplyFlowF7ServerRole1"
                   portType="tns:corrReplyFlowF7PortType1"></plnk:role>
    </plnk:partnerLinkType>
    <bpws:property type="xsd:string"
                   name="propertyName1"></bpws:property>
    <bpws:propertyAlias part="corrReplyFlowF7Part"
                        propertyName="tns:propertyName1"
                        messageType="tns:corrReplyFlowF7Message">
        <bpws:query>string</bpws:query>
    </bpws:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:corrReplyFlowF7TargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:corrReplyFlowF7TargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:corrReplyFlowF7TargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">

                    <xsd:complexType name="corrReplyFlowF7Type">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="corrReplyFlowF7Message">
        <part name="corrReplyFlowF7Part"
              type="tns:corrReplyFlowF7Type"></part>
    </message>
    <portType name="corrReplyFlowF7PortType">
        <operation name="corrReplyFlowF7Operation">
            <input message="tns:corrReplyFlowF7Message"></input>
            <output message="tns:corrReplyFlowF7Message"></output>
        </operation>
    </portType>
    <portType name="corrReplyFlowF7PortType1">
        <operation name="corrReplyFlowF7Operation1">
            <input message="tns:corrReplyFlowF7Message"></input>
            <output message="tns:corrReplyFlowF7Message"></output>
        </operation>
    </portType>
    <binding name="corrReplyFlowF7Binding"
             type="tns:corrReplyFlowF7PortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrReplyFlowF7Operation">
            <soap:operation soapAction="corrReplyFlowF7Operation"/>
            <input>
                <soap:body parts="corrReplyFlowF7Part"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="corrReplyFlowF7Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="corrReplyFlowF7Binding1"
             type="tns:corrReplyFlowF7PortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrReplyFlowF7Operation1">
            <soap:operation soapAction="corrReplyFlowF7Operation1"/>
            <input>
                <soap:body parts="corrReplyFlowF7Part"
                           use="literal"/>
            </input>
             <output>
                <soap:body parts="corrReplyFlowF7Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="corrReplyFlowF7Service">
        <port name="corrReplyFlowF7Port"
              binding="tns:corrReplyFlowF7Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrReplyFlowF7Port"/>
        </port>
        <port name="corrReplyFlowF7Port1"
              binding="tns:corrReplyFlowF7Binding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrReplyFlowF7Port1"/>
        </port>
    </service>
</definitions>