driver-tests/bpelse/correlation/correlationJBI/src/bindingComponentASA/correlation/corrRecFlowF4.wsdl

<definitions targetNamespace="urn:corrRecFlowF4TargetNamespace"
             name="corrRecFlowF4Definition"
             xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
             xmlns:tns="urn:corrRecFlowF4TargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
    <plnk:partnerLinkType name="corrRecFlowF4ServiceLinkType"
                          xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="corrRecFlowF4ServerRole"
                   portType="tns:corrRecFlowF4PortType"></plnk:role>
        <plnk:role name="corrRecFlowF4ServerRole1"
                   portType="tns:corrRecFlowF4PortType1"></plnk:role>
    </plnk:partnerLinkType>
    <bpws:property type="xsd:string"
                   name="propertyName1"></bpws:property>
    <bpws:propertyAlias part="corrRecFlowF4Part"
                        propertyName="tns:propertyName1"
                        messageType="tns:corrRecFlowF4Message">
        <bpws:query>string</bpws:query>
    </bpws:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:corrRecFlowF4TargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:corrRecFlowF4TargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:corrRecFlowF4TargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">

                    <xsd:complexType name="corrRecFlowF4Type">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="corrRecFlowF4Message">
        <part name="corrRecFlowF4Part"
              type="tns:corrRecFlowF4Type"></part>
    </message>
    <portType name="corrRecFlowF4PortType">
        <operation name="corrRecFlowF4Operation">
            <input message="tns:corrRecFlowF4Message"></input>
            <output message="tns:corrRecFlowF4Message"></output>
        </operation>
    </portType>
    <portType name="corrRecFlowF4PortType1">
        <operation name="corrRecFlowF4Operation1">
            <input message="tns:corrRecFlowF4Message"></input>
        </operation>
    </portType>
    <binding name="corrRecFlowF4Binding"
             type="tns:corrRecFlowF4PortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrRecFlowF4Operation">
            <soap:operation soapAction="corrRecFlowF4Operation"/>
            <input>
                <soap:body parts="corrRecFlowF4Part"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="corrRecFlowF4Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="corrRecFlowF4Binding1"
             type="tns:corrRecFlowF4PortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrRecFlowF4Operation1">
            <soap:operation soapAction="corrRecFlowF4Operation1"/>
            <input>
                <soap:body parts="corrRecFlowF4Part"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="corrRecFlowF4Service">
        <port name="corrRecFlowF4Port"
              binding="tns:corrRecFlowF4Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrRecFlowF4Port"/>
        </port>
        <port name="corrRecFlowF4Port1"
              binding="tns:corrRecFlowF4Binding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrRecFlowF4Port1"/>
        </port>
    </service>
</definitions>