driver-tests/bpelse/correlation/correlationJBI/src/bindingComponentASA/correlation/correlationWithFlow.wsdl

<definitions targetNamespace="urn:correlationWithFlowTargetNamespace"
             name="correlationWithFlowDefinition"
             xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
             xmlns:tns="urn:correlationWithFlowTargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
    <plnk:partnerLinkType name="correlationWithFlowServiceLinkType"
                          xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="correlationWithFlowServerRole"
                   portType="tns:correlationWithFlowPortType"></plnk:role>
        <plnk:role name="correlationWithFlowServerRole1"
                   portType="tns:correlationWithFlowPortType1"></plnk:role>
    </plnk:partnerLinkType>
    <bpws:property type="xsd:string"
                   name="propertyName1"></bpws:property>
    <bpws:propertyAlias part="correlationWithFlowPart"
                        propertyName="tns:propertyName1"
                        messageType="tns:correlationWithFlowMessage">
        <bpws:query>string</bpws:query>
    </bpws:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:correlationWithFlowTargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:correlationWithFlowTargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:correlationWithFlowTargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">

                    <xsd:complexType name="correlationWithFlowType">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="correlationWithFlowMessage">
        <part name="correlationWithFlowPart"
              type="tns:correlationWithFlowType"></part>
    </message>
    <portType name="correlationWithFlowPortType">
        <operation name="correlationWithFlowOperation">
            <input message="tns:correlationWithFlowMessage"></input>
            <output message="tns:correlationWithFlowMessage"></output>
        </operation>
    </portType>
    <portType name="correlationWithFlowPortType1">
        <operation name="correlationWithFlowOperation1">
            <input message="tns:correlationWithFlowMessage"></input>
        </operation>
    </portType>
    <binding name="correlationWithFlowBinding"
             type="tns:correlationWithFlowPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="correlationWithFlowOperation">
            <soap:operation soapAction="correlationWithFlowOperation"/>
            <input>
                <soap:body parts="correlationWithFlowPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="correlationWithFlowPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="correlationWithFlowBinding1"
             type="tns:correlationWithFlowPortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="correlationWithFlowOperation1">
            <soap:operation soapAction="correlationWithFlowOperation1"/>
            <input>
                <soap:body parts="correlationWithFlowPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="correlationWithFlowService">
        <port name="correlationWithFlowPort"
              binding="tns:correlationWithFlowBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/correlationWithFlowPort"/>
        </port>
        <port name="correlationWithFlowPort1"
              binding="tns:correlationWithFlowBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/correlationWithFlowPort1"/>
        </port>
    </service>
</definitions>