driver-tests/bpelse/correlation/correlationJBI/src/bindingComponentASA/correlation/corrReplyRecD7.wsdl

<definitions targetNamespace="urn:corrReplyRecD7TargetNamespace"
             name="corrReplyRecD7Definition"
             xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
             xmlns:tns="urn:corrReplyRecD7TargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
    <plnk:partnerLinkType name="corrReplyRecD7ServiceLinkType"
                          xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="corrReplyRecD7ServerRole"
                   portType="tns:corrReplyRecD7PortType"></plnk:role>
        <plnk:role name="corrReplyRecD7ServerRole1"
                   portType="tns:corrReplyRecD7PortType1"></plnk:role>
    </plnk:partnerLinkType>
    <bpws:property type="xsd:string"
                   name="propertyName1"></bpws:property>
    <bpws:propertyAlias part="corrReplyRecD7Part"
                        propertyName="tns:propertyName1"
                        messageType="tns:corrReplyRecD7Message">
        <bpws:query>string</bpws:query>
    </bpws:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:corrReplyRecD7TargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:corrReplyRecD7TargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:corrReplyRecD7TargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">

                    <xsd:complexType name="corrReplyRecD7Type">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="corrReplyRecD7Message">
        <part name="corrReplyRecD7Part"
              type="tns:corrReplyRecD7Type"></part>
    </message>
    <portType name="corrReplyRecD7PortType">
        <operation name="corrReplyRecD7Operation">
            <input message="tns:corrReplyRecD7Message"></input>
            <output message="tns:corrReplyRecD7Message"></output>
        </operation>
    </portType>
    <portType name="corrReplyRecD7PortType1">
        <operation name="corrReplyRecD7Operation1">
            <input message="tns:corrReplyRecD7Message"></input>
            <output message="tns:corrReplyRecD7Message"></output>
        </operation>
    </portType>
    <binding name="corrReplyRecD7Binding"
             type="tns:corrReplyRecD7PortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrReplyRecD7Operation">
            <soap:operation soapAction="corrReplyRecD7Operation"/>
            <input>
                <soap:body parts="corrReplyRecD7Part"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="corrReplyRecD7Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="corrReplyRecD7Binding1"
             type="tns:corrReplyRecD7PortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrReplyRecD7Operation1">
            <soap:operation soapAction="corrReplyRecD7Operation1"/>
            <input>
                <soap:body parts="corrReplyRecD7Part"
                           use="literal"/>
            </input>
             <output>
                <soap:body parts="corrReplyRecD7Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="corrReplyRecD7Service">
        <port name="corrReplyRecD7Port"
              binding="tns:corrReplyRecD7Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrReplyRecD7Port"/>
        </port>
        <port name="corrReplyRecD7Port1"
              binding="tns:corrReplyRecD7Binding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrReplyRecD7Port1"/>
        </port>
    </service>
</definitions>