driver-tests/bpelse/correlation/MatchingInstanceTwoCorrBPEL/src/pick_pick_correlate_receive/parentBPWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/parentBPWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/parentBPWSDL" name="parentBPWSDL" xmlns:ns="http://xml.netbeans.org/schema/dataTypes.xsd" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <wsdl:types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/parentBPWSDL">
            <xsd:import namespace="http://xml.netbeans.org/schema/dataTypes.xsd" schemaLocation="../dataTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="parentBPWSDLOperationRequest">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="parentBPWSDLOperationReply">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="callBackParentBPEL">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:portType name="parentBPWSDLPortType">
        <wsdl:operation name="parentBPWSDLOperation">
            <wsdl:input name="input1" message="tns:parentBPWSDLOperationRequest"/>
            <wsdl:output name="output1" message="tns:parentBPWSDLOperationReply"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="parentBPWSDLPortType1">
        <wsdl:operation name="parentBPWSDLOperation">
            <wsdl:input name="input1" message="tns:callBackParentBPEL"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="parentBPWSDLBinding" type="tns:parentBPWSDLPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="parentBPWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="parentBPWSDLService">
        <wsdl:port name="parentBPWSDLPort" binding="tns:parentBPWSDLBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/parentBPWSDLService/parentBPWSDLPort"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:binding name="parentBPWSDLBinding1" type="tns:parentBPWSDLPortType1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="parentBPWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="parentBPWSDLService1">
        <wsdl:port name="parentBPWSDLPort1" binding="tns:parentBPWSDLBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/parentBPWSDLService/parentBPWSDLPor1t"/>
        </wsdl:port>
    </wsdl:service>    
    <plnk:partnerLinkType name="parentBPWSDLPartner">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="parentBPWSDLPortTypeRole" portType="tns:parentBPWSDLPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="parentBPWSDLPartner1">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="parentBPWSDLPortType1Role" portType="tns:parentBPWSDLPortType1"/>
    </plnk:partnerLinkType>
    <vprop:property name="parentProperty" type="xsd:ID"/>
    <vprop:propertyAlias propertyName="tns:parentProperty"
        messageType="tns:parentBPWSDLOperationRequest" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:recursive/ns:Element28</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:parentProperty"
        messageType="tns:callBackParentBPEL" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:recursive/ns:Element28</vprop:query>
    </vprop:propertyAlias>
</definitions>
