driver-tests/bpelse/correlation/MatchingInstanceTwoCorrBPEL/src/pick_pick_correlate_receive/subBPWSDLReceive.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/subBPWSDLReceive"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/subBPWSDLReceive" name="subBPWSDLReceive" xmlns:ns="http://xml.netbeans.org/schema/dataTypes.xsd" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <wsdl:types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/subBPWSDLReceive">
            <xsd:import namespace="http://xml.netbeans.org/schema/dataTypes.xsd" schemaLocation="../dataTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="subBPWSDLReceiveOperationRequest">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="subBPWSDLReceiveOperationRequest1">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="subBPWSDLReceiveOperationRequest2">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="subBPWSDLFlowInReceiveOperationRequest">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="subBPWSDLPickOperationRequest">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="subBPWSDLEvtHdlrOperationRequest">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:portType name="subBPWSDLReceivePortType">
        <wsdl:operation name="subBPWSDLReceiveOperation">
            <wsdl:input name="input1" message="tns:subBPWSDLReceiveOperationRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="subBPWSDLReceivePortType1">
        <wsdl:operation name="subBPWSDLReceiveOperation">
            <wsdl:input name="input1" message="tns:subBPWSDLReceiveOperationRequest1"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="subBPWSDLReceivePortType2">
        <wsdl:operation name="subBPWSDLReceiveOperation">
            <wsdl:input name="input1" message="tns:subBPWSDLReceiveOperationRequest2"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="subBPWSDLFlowInReceivePortType">
        <wsdl:operation name="subBPWSDLFlowInReceiveOperation">
            <wsdl:input name="input1" message="tns:subBPWSDLFlowInReceiveOperationRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="subBPWSDLPickPortType">
        <wsdl:operation name="subBPWSDLPickOperation">
            <wsdl:input name="input1" message="tns:subBPWSDLPickOperationRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="subBPWSDLEvtHdlrPortType">
        <wsdl:operation name="subBPWSDLEvtHdlrOperation">
            <wsdl:input name="input1" message="tns:subBPWSDLEvtHdlrOperationRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="subBPWSDLReceiveBinding" type="tns:subBPWSDLReceivePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="subBPWSDLReceiveOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="subBPWSDLReceiveService">
        <wsdl:port name="subBPWSDLReceivePort" binding="tns:subBPWSDLReceiveBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/subBPWSDLReceiveService/subBPWSDLReceivePort"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:binding name="subBPWSDLReceiveBinding1" type="tns:subBPWSDLReceivePortType1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="subBPWSDLReceiveOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="subBPWSDLReceiveService1">
        <wsdl:port name="subBPWSDLReceivePort1" binding="tns:subBPWSDLReceiveBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/subBPWSDLReceiveService/subBPWSDLReceivePort1"/>
        </wsdl:port>
    </wsdl:service>    
    <wsdl:binding name="subBPWSDLReceiveBinding2" type="tns:subBPWSDLReceivePortType2">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="subBPWSDLReceiveOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="subBPWSDLReceiveService2">
        <wsdl:port name="subBPWSDLReceivePort2" binding="tns:subBPWSDLReceiveBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/subBPWSDLReceiveService/subBPWSDLReceivePort2"/>
        </wsdl:port>
    </wsdl:service>    
    <wsdl:binding name="subBPWSDLFlowInReceiveBinding" type="tns:subBPWSDLFlowInReceivePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="subBPWSDLFlowInReceiveOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="subBPWSDLFlowInReceiveService">
        <wsdl:port name="subBPWSDLFlowInReceivePort" binding="tns:subBPWSDLFlowInReceiveBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/subBPWSDLReceiveService/subBPWSDLFlowInReceivePort"/>
        </wsdl:port>
    </wsdl:service> 
    <wsdl:binding name="subBPWSDLPickOperationBinding" type="tns:subBPWSDLPickPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="subBPWSDLPickOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="subBPWSDLPickService">
        <wsdl:port name="subBPWSDLPickPort" binding="tns:subBPWSDLPickOperationBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/subBPWSDLReceiveService/subBPWSDLPickPort"/>
        </wsdl:port>
    </wsdl:service>      
    <wsdl:binding name="subBPWSDLEvtHdlrOperationBinding" type="tns:subBPWSDLEvtHdlrPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="subBPWSDLEvtHdlrOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="subBPWSDLEvtHdlrService">
        <wsdl:port name="subBPWSDLEvtHdlrPort" binding="tns:subBPWSDLEvtHdlrOperationBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/subBPWSDLReceiveService/subBPWSDLEvtHdlr"/>
        </wsdl:port>
    </wsdl:service>    
    <plnk:partnerLinkType name="subBPWSDLReceivePartner">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="subBPWSDLReceivePortTypeRole" portType="tns:subBPWSDLReceivePortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="subBPWSDLReceivePartner1">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="subBPWSDLReceivePortType1Role" portType="tns:subBPWSDLReceivePortType1"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="subBPWSDLReceivePartner2">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="subBPWSDLReceivePortType2Role" portType="tns:subBPWSDLReceivePortType2"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="subBPWSDLReceivePartner3">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="subBPWSDLFlowInReceivePortTypeRole" portType="tns:subBPWSDLFlowInReceivePortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="subBPWSDLReceivePartner4">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="subBPWSDLPickPortTypeRole" portType="tns:subBPWSDLPickPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="subBPWSDLReceivePartner5">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="subBPWSDLEvtHdlrPortTypeRole" portType="tns:subBPWSDLEvtHdlrPortType"/>
    </plnk:partnerLinkType>
    
    <vprop:property name="property" type="xsd:ID"/>
    <vprop:propertyAlias propertyName="tns:property"
        messageType="tns:subBPWSDLReceiveOperationRequest" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:recursive/ns:recursive/ns:Element28</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property"
        messageType="tns:subBPWSDLReceiveOperationRequest1" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:recursive/ns:recursive/ns:Element28</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property"
        messageType="tns:subBPWSDLReceiveOperationRequest2" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:recursive/ns:recursive/ns:Element28</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property"
        messageType="tns:subBPWSDLFlowInReceiveOperationRequest" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:recursive/ns:recursive/ns:Element28</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property"
        messageType="tns:subBPWSDLPickOperationRequest" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:recursive/ns:recursive/ns:Element28</vprop:query>
    </vprop:propertyAlias>    
    <vprop:propertyAlias propertyName="tns:property"
        messageType="tns:subBPWSDLEvtHdlrOperationRequest" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:recursive/ns:recursive/ns:Element28</vprop:query>
    </vprop:propertyAlias>     
    
    <vprop:property name="property1" type="xsd:unsignedLong"/>
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:subBPWSDLReceiveOperationRequest" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:recursive/ns:Element28</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:subBPWSDLReceiveOperationRequest1" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:recursive/ns:Element28</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:subBPWSDLReceiveOperationRequest2" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:recursive/ns:Element28</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:subBPWSDLFlowInReceiveOperationRequest" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:recursive/ns:Element28</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:subBPWSDLPickOperationRequest" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:recursive/ns:Element28</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:subBPWSDLEvtHdlrOperationRequest" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:recursive/ns:Element28</vprop:query>
    </vprop:propertyAlias> 
    
</definitions>
