driver-tests/bpelse/blueprints/cmdLine/soa/bpel/BluePrint4/src/POStatus.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<definitions targetNamespace="http://localhost:12100/wsdl/purchase/PurchaseOrderStatus/bp4"
             name="POStatus"
             xmlns:tns="http://localhost:12100/wsdl/purchase/PurchaseOrderStatus/bp4"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:ns="http://manufacturing.org/wsdl/purchase/bp4"
             xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:sns="http://manufacturing.org/xsd/purchase">
    <import namespace="http://manufacturing.org/wsdl/purchase/bp4"
            location="POService.wsdl"></import>
    <types>
        <xsd:schema targetNamespace="http://localhost:12100/wsdl/purchase/PurchaseOrderStatus/bp4">
            <xsd:import schemaLocation="purchaseOrder.xsd" namespace="http://manufacturing.org/xsd/purchase"/>
        </xsd:schema>
    </types>
    <message name="POConfirmMesg">
        <part name="purchaseOrder"
              element="sns:purchaseOrder"></part>
    </message>
    <message name="POCancelMesg">
        <part name="purchaseOrder"
              element="sns:purchaseOrder"></part>
    </message>    
    <message name="POStatusMesg">
        <part name="status"
              type="xsd:boolean"></part>
    </message>
            
    <portType name="POConfirmPortType">
        <operation name="confirmPO">
            <input name="confirmPO"
                   message="tns:POConfirmMesg"></input>
            <output name="confirmPOStatus"
                    message="tns:POStatusMesg"></output>
            <fault name="confirmPOFault"
                   message="ns:orderFaultType"></fault>
        </operation>
    </portType>
    <portType name="POCancelPortType">
        <operation name="cancelPO">
            <input name="cancelPO"
                   message="tns:POCancelMesg"></input>
            <output name="cancelPOStatus"
                    message="tns:POStatusMesg"></output>
            <fault name="cancelPOFault"
                   message="ns:orderFaultType"></fault>
        </operation>
    </portType>    
    <binding name="POConfirmBinding"
             type="tns:POConfirmPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="confirmPO">
            <soap:operation soapAction="confirmPO"/>            
            <input name="confirmPO">
                <soap:body parts="purchaseOrder"
                           use="literal"/>
            </input>
            <output name="confirmPOStatus">
                <soap:body parts="status"
                           use="literal"/>
            </output>
            <fault name="confirmPOFault">
                <soap:fault name="confirmPOFault"
                            use="literal"/>
            </fault>
        </operation>
    </binding>
    <binding name="POCancelBinding"
             type="tns:POCancelPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="cancelPO">
            <soap:operation soapAction="cancelPO"/>
            <input name="cancelPO">
                <soap:body parts="purchaseOrder"
                           use="literal"/>
            </input>
            <output name="cancelPOStatus">
                <soap:body parts="status"
                           use="literal"/>
            </output>
            <fault name="cancelPOFault">
                <soap:fault name="cancelPOFault"
                            use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="POStatusService">
        <port name="POConfirmPort"
              binding="tns:POConfirmBinding">
              <soap:address location="http://localhost:${HttpDefaultPort}/wsdl/purchase/PurchaseOrderStatus/Servicelocation/confirm/bp4"/>
        </port>
        <port name="POCancelPort"
              binding="tns:POCancelBinding">
              <soap:address location="http://localhost:${HttpDefaultPort}/wsdl/purchase/PurchaseOrderStatus/Servicelocation/cancel/bp4"/>
        </port>
    </service>
    <plink:partnerLinkType name="confirmPOLinkType">
        <plink:role name="confirmPORole"
                    portType="tns:POConfirmPortType"></plink:role>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="cancelPOLinkType">
        <plink:role name="cancelPORole"
                    portType="tns:POCancelPortType"></plink:role>
    </plink:partnerLinkType>    
    <vprop:property name="OrderID"
                   type="xsd:int"/>
    <vprop:propertyAlias part="purchaseOrder"
                        propertyName="tns:OrderID"
                        messageType="tns:POConfirmMesg">
        <vprop:query>/purchaseOrder/orderId</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias part="purchaseOrder"
                        propertyName="tns:OrderID"
                        messageType="tns:POCancelMesg">
        <vprop:query>/purchaseOrder/orderId</vprop:query>
    </vprop:propertyAlias>    
    <vprop:propertyAlias part="purchaseOrder"
                        propertyName="tns:OrderID"
                        messageType="ns:POMessage">
        <vprop:query>/purchaseOrder/orderId</vprop:query>
    </vprop:propertyAlias>      
</definitions>
