driver-tests/sqlse/db2/SqlSE1166_DB2/SelectWithXParViewFullSql/src/SelectWithXParViewFullSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SelectWithXParViewFullSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="SelectWithXParViewFullRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="SelectWithXParViewFullResponse"><xsd:complexType><xsd:sequence><xsd:element name="EMPID" type="xsd:int"/><xsd:element name="ENAME" type="xsd:string"/><xsd:element name="DEPTID" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="SelectWithXParViewFullResponse">
    <part name="SelectWithXParViewFullResponsePart" element="tns:SelectWithXParViewFullResponse"/>
  </message>
  <message name="SelectWithXParViewFullRequest">
    <part name="SelectWithXParViewFullRequestPart" element="tns:SelectWithXParViewFullRequest"/>
  </message>
  <portType name="SelectWithXParViewFullSql_sqlsePortType">
    <operation name="SelectWithXParViewFull">
      <input name="SelectWithXParViewFullRequest" message="tns:SelectWithXParViewFullRequest"/>
      <output name="SelectWithXParViewFullResponse" message="tns:SelectWithXParViewFullResponse"/>
    </operation>
  </portType>
  <binding name="SelectWithXParViewFullSqlBinding" type="tns:SelectWithXParViewFullSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SelectWithXParViewFull">
      <soap:operation/>
      <input name="SelectWithXParViewFullRequest">
        <soap:body/>
      </input>
      <output name="SelectWithXParViewFullResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="SelectWithXParViewFullSql_sqlseService">
    <port name="SelectWithXParViewFullSql_sqlsePort" binding="tns:SelectWithXParViewFullSqlBinding">
      <soap:address location="http://localhost:18181/SelectWithXParViewFullSql/SelectWithXParViewFullSql/SelectWithXParViewFullSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="SelectWithXParViewFullSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="SelectWithXParViewFullSql_myrole" portType="tns:SelectWithXParViewFullSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
