driver-tests/sqlse/db2/SqlSE1180_DB2/InsertRowWithWrongNoValFullJbi/src/jbiServiceUnits/InsertRowWithWrongNoValFullSql/InsertRowWithWrongNoValFullSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="InsertRowWithWrongNoValFullSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="InsertRowWithWrongNoValFullRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:string"/><xsd:element name="param2" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="InsertRowWithWrongNoValFullResponse">
    <part name="InsertRowWithWrongNoValFullResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="InsertRowWithWrongNoValFullRequest">
    <part name="InsertRowWithWrongNoValFullRequestPart" element="tns:InsertRowWithWrongNoValFullRequest"/>
  </message>
  <portType name="InsertRowWithWrongNoValFullSql_sqlsePortType">
    <operation name="InsertRowWithWrongNoValFull">
      <input name="InsertRowWithWrongNoValFullRequest" message="tns:InsertRowWithWrongNoValFullRequest"/>
      <output name="InsertRowWithWrongNoValFullResponse" message="tns:InsertRowWithWrongNoValFullResponse"/>
    </operation>
  </portType>
  <binding name="InsertRowWithWrongNoValFullSqlBinding" type="tns:InsertRowWithWrongNoValFullSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="InsertRowWithWrongNoValFull">
      <soap:operation/>
      <input name="InsertRowWithWrongNoValFullRequest">
        <soap:body/>
      </input>
      <output name="InsertRowWithWrongNoValFullResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="InsertRowWithWrongNoValFullSql_sqlseService">
    <port name="InsertRowWithWrongNoValFullSql_sqlsePort" binding="tns:InsertRowWithWrongNoValFullSqlBinding">
      <soap:address location="http://localhost:18181/InsertRowWithWrongNoValFullSql/InsertRowWithWrongNoValFullSql/InsertRowWithWrongNoValFullSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="InsertRowWithWrongNoValFullSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="InsertRowWithWrongNoValFullSql_myrole" portType="tns:InsertRowWithWrongNoValFullSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
