contrib-imola/corba-bc/integration-test/test-consumer-fromidl-complex-inout/consumer-fromidl-complex-inout-jbi4corba-provider/src/main/resources/EchoComplexInOut.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EchoComplexInOut" targetNamespace="urn:jbi4corba/test-consumer-fromidl-complex-inout" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:imolacorba="uri://schemas.imola.it/jbi/wsdl-extensions/corba/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:jbi4corba/test-consumer-fromidl-complex-inout" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="urn:jbi4corba/test-consumer-fromidl-complex-inout" schemaLocation="EchoComplexInOut_test-consumer-fromidl-complex-inout.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="echoStructOfValuetypeResponse">
        <wsdl:part name="parameters" element="tns:echoStructOfValuetypeResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueTypeResponse">
        <wsdl:part name="parameters" element="tns:echoValueTypeResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoStructOfStructResponse">
        <wsdl:part name="parameters" element="tns:echoStructOfStructResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSequenceSeqMySequenceResponse">
        <wsdl:part name="parameters" element="tns:echoSequenceSeqMySequenceResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueTypeOfValueType">
        <wsdl:part name="parameters" element="tns:echoValueTypeOfValueType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo">
        <wsdl:part name="parameters" element="tns:echo">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoStructResponse">
        <wsdl:part name="parameters" element="tns:echoStructResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoVTPrimiResponse">
        <wsdl:part name="parameters" element="tns:echoVTPrimiResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSequenceValueTypeResponse">
        <wsdl:part name="parameters" element="tns:echoSequenceValueTypeResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSequenceValueType">
        <wsdl:part name="parameters" element="tns:echoSequenceValueType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueBoxedTypePrimitive">
        <wsdl:part name="parameters" element="tns:echoValueBoxedTypePrimitive">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueBoxedTypePrimitiveResponse">
        <wsdl:part name="parameters" element="tns:echoValueBoxedTypePrimitiveResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoVTPrimiSeq">
        <wsdl:part name="parameters" element="tns:echoVTPrimiSeq">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoVTPrimi">
        <wsdl:part name="parameters" element="tns:echoVTPrimi">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoResponse">
        <wsdl:part name="parameters" element="tns:echoResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoStruct">
        <wsdl:part name="parameters" element="tns:echoStruct">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSequenceResponse">
        <wsdl:part name="parameters" element="tns:echoSequenceResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueBoxedTypeComplexResponse">
        <wsdl:part name="parameters" element="tns:echoValueBoxedTypeComplexResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueTypeOfStruct">
        <wsdl:part name="parameters" element="tns:echoValueTypeOfStruct">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueBoxedTypeComplex">
        <wsdl:part name="parameters" element="tns:echoValueBoxedTypeComplex">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueTypeOfValueTypeResponse">
        <wsdl:part name="parameters" element="tns:echoValueTypeOfValueTypeResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoVTPrimiSeqResponse">
        <wsdl:part name="parameters" element="tns:echoVTPrimiSeqResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoStructOfValuetype">
        <wsdl:part name="parameters" element="tns:echoStructOfValuetype">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoStructOfStruct">
        <wsdl:part name="parameters" element="tns:echoStructOfStruct">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSequenceSeqEchoStructResponse">
        <wsdl:part name="parameters" element="tns:echoSequenceSeqEchoStructResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSequenceSeqEchoStruct">
        <wsdl:part name="parameters" element="tns:echoSequenceSeqEchoStruct">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSequence">
        <wsdl:part name="parameters" element="tns:echoSequence">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSequenceSeqMySequence">
        <wsdl:part name="parameters" element="tns:echoSequenceSeqMySequence">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueType">
        <wsdl:part name="parameters" element="tns:echoValueType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueTypeOfStructResponse">
        <wsdl:part name="parameters" element="tns:echoValueTypeOfStructResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EchoComplexInOutPortType">
        <wsdl:operation name="echoSequence">
            <wsdl:input name="echoSequence" message="tns:echoSequence">
            </wsdl:input>
            <wsdl:output name="echoSequenceResponse" message="tns:echoSequenceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueTypeOfStruct">
            <wsdl:input name="echoValueTypeOfStruct" message="tns:echoValueTypeOfStruct">
            </wsdl:input>
            <wsdl:output name="echoValueTypeOfStructResponse" message="tns:echoValueTypeOfStructResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoStruct">
            <wsdl:input name="echoStruct" message="tns:echoStruct">
            </wsdl:input>
            <wsdl:output name="echoStructResponse" message="tns:echoStructResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueTypeOfValueType">
            <wsdl:input name="echoValueTypeOfValueType" message="tns:echoValueTypeOfValueType">
            </wsdl:input>
            <wsdl:output name="echoValueTypeOfValueTypeResponse" message="tns:echoValueTypeOfValueTypeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoStructOfStruct">
            <wsdl:input name="echoStructOfStruct" message="tns:echoStructOfStruct">
            </wsdl:input>
            <wsdl:output name="echoStructOfStructResponse" message="tns:echoStructOfStructResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueBoxedTypePrimitive">
            <wsdl:input name="echoValueBoxedTypePrimitive" message="tns:echoValueBoxedTypePrimitive">
            </wsdl:input>
            <wsdl:output name="echoValueBoxedTypePrimitiveResponse" message="tns:echoValueBoxedTypePrimitiveResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoVTPrimiSeq">
            <wsdl:input name="echoVTPrimiSeq" message="tns:echoVTPrimiSeq">
            </wsdl:input>
            <wsdl:output name="echoVTPrimiSeqResponse" message="tns:echoVTPrimiSeqResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoVTPrimi">
            <wsdl:input name="echoVTPrimi" message="tns:echoVTPrimi">
            </wsdl:input>
            <wsdl:output name="echoVTPrimiResponse" message="tns:echoVTPrimiResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSequenceSeqEchoStruct">
            <wsdl:input name="echoSequenceSeqEchoStruct" message="tns:echoSequenceSeqEchoStruct">
            </wsdl:input>
            <wsdl:output name="echoSequenceSeqEchoStructResponse" message="tns:echoSequenceSeqEchoStructResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSequenceValueType">
            <wsdl:input name="echoSequenceValueType" message="tns:echoSequenceValueType">
            </wsdl:input>
            <wsdl:output name="echoSequenceValueTypeResponse" message="tns:echoSequenceValueTypeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueType">
            <wsdl:input name="echoValueType" message="tns:echoValueType">
            </wsdl:input>
            <wsdl:output name="echoValueTypeResponse" message="tns:echoValueTypeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSequenceSeqMySequence">
            <wsdl:input name="echoSequenceSeqMySequence" message="tns:echoSequenceSeqMySequence">
            </wsdl:input>
            <wsdl:output name="echoSequenceSeqMySequenceResponse" message="tns:echoSequenceSeqMySequenceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoStructOfValuetype">
            <wsdl:input name="echoStructOfValuetype" message="tns:echoStructOfValuetype">
            </wsdl:input>
            <wsdl:output name="echoStructOfValuetypeResponse" message="tns:echoStructOfValuetypeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <wsdl:input name="echo" message="tns:echo">
            </wsdl:input>
            <wsdl:output name="echoResponse" message="tns:echoResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueBoxedTypeComplex">
            <wsdl:input name="echoValueBoxedTypeComplex" message="tns:echoValueBoxedTypeComplex">
            </wsdl:input>
            <wsdl:output name="echoValueBoxedTypeComplexResponse" message="tns:echoValueBoxedTypeComplexResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EchoComplexInOutCorbaBinding" type="tns:EchoComplexInOutPortType">
        <imolacorba:binding>
            <imolacorba:idl>
//IDL
module it{
	module imolinfo{
		module jbi4corba{
			module test{
				module testconsumerfromidlcomplexinout{


        					// value type
        					valuetype EchoVT {
        						public  short publicShort;
        						private long  privateLong;
        				    };

                            // value type (boxed) - primitive
        					valuetype MyLong {
            					public long data;
        				    };
    
            			    // value type (boxed) - complex
        					valuetype MySequence {
            					public sequence&lt;long&gt; data;
        				    };

            				// abstract value type
            				// UNSUPPORTED : abstract valuetype AFoo {};
    

// =============================================================================
// IDL Type            | Java type                  | Exceptions
// =============================================================================
// boolean             | boolean                    |
// char                | char                       | CORBA::DATA_CONVERSION
// wchar               | char                       | CORBA::DATA_CONVERSION
// octet               | byte                       |
// -----------------------------------------------------------------------------
// string              | String                     | CORBA::MARSHAL
//                     |                            | CORBA::DATA_CONVERSION
// -----------------------------------------------------------------------------
// wstring             | String                     | CORBA::MARSHAL
//                     |                            | CORBA::DATA_CONVERSION
// -----------------------------------------------------------------------------
// short               | short                      |
// unsigned short      | short                      |
// long                | int                        |
// unsigned long       | int                        |
// long long           | long                       |
// unsigned long  long | long                       |
// float               | float                      |
// double              | double                     |
// fixed               | java.math.BigDecimal       |CORBA::DATA_CONVERSION
// =============================================================================
// long double         | not available at this time |
// =============================================================================

                            // struct
           					struct EchoStruct {
                                boolean            fieldBoolean;
                                char               fieldChar;
                                wchar              fieldWChar;

                                // http://jira.codehaus.org/browse/XFIRE-462
                                octet              fieldOctet;

                                string             fieldString;
                                wstring            fieldWString;
                                short              fieldShort;
                                unsigned short     fieldUnsignedShort;
                                long               fieldLong;
                                unsigned long      fieldUnsignedLong;
                                long long          fieldLongLong;
                                unsigned long long fieldUnsignedLongLong;
                                float              fieldFloat;
                                double             fieldDouble;

                                // UNSUPPORTED
                                // The fixed IDL type is not supported by idlj
                                // http://java.sun.com/j2se/1.4.2/docs/guide/rmi-iiop/toJavaPortableUG.html
                                //fixed              fieldFixed;
               				};
    
               				// sequence + typedef
               				typedef sequence&lt;long&gt; SeqLong;

               				// sequence + typedef
               				typedef sequence&lt;MySequence&gt; SeqMySequence;

               				// sequence + typedef
               				typedef sequence&lt;EchoStruct&gt; SeqEchoStruct;

    
               				// exception
        					exception EchoComplexException {
            					SeqEchoStruct reason;
            				};           				

            				// enum
            				// FIXME: enum is unsupported
            				// enum EchoComplexEnum {E1, E2, E3};
    
            				// FIXME: array is unsupported
            				// array
            				//typedef long ArrayLong[10];
    
               				// array of struct
        					//typedef long ArrayOfEchoStruct[10];


                            // StructOfStruct
           					struct StructOfStruct {
               					EchoStruct internalStruct;
               				};

        					// value type
        					valuetype VTPrimi {
                                public boolean            fieldBoolean;
                                public char               fieldChar;
                                public wchar              fieldWChar;

                                // http://jira.codehaus.org/browse/XFIRE-462
                                public octet              fieldOctet;

                                public string             fieldString;
                                public wstring            fieldWString;
                                public short              fieldShort;
                                public unsigned short     fieldUnsignedShort;
                                public long               fieldLong;
                                public unsigned long      fieldUnsignedLong;
                                public long long          fieldLongLong;
                                public unsigned long long fieldUnsignedLongLong;
                                public float              fieldFloat;
                                public double             fieldDouble;
        				    };

        					valuetype VTPrimiSeq {
            					public sequence&lt;VTPrimi&gt; data;
        				    };

        					valuetype ValueTypeOfValueType {
            					public VTPrimi data;
        				    };

        					valuetype ValueTypeOfStruct {
            					public EchoStruct data;
        				    };

                            // StructOfStruct
           					struct StructOfValuetype {
               					VTPrimi data;
               				};


        					//==================================================
        					//                                         INTERFACE
        					//==================================================
    						interface EchoComplexInOut {

    							string echo(inout string msg);
    
    							EchoVT echoValueType(inout EchoVT e);
    
    							MyLong echoValueBoxedTypePrimitive(inout MyLong e);

    							MySequence echoValueBoxedTypeComplex(inout MySequence e);
    
    							EchoStruct echoStruct(inout EchoStruct es);
    
    							SeqLong echoSequence(inout SeqLong es);

    							MySequence echoSequenceValueType(inout MySequence es);

    							SeqEchoStruct echoSequenceSeqEchoStruct(inout SeqEchoStruct es);

    							SeqMySequence echoSequenceSeqMySequence(inout SeqMySequence es);
    
    							StructOfStruct echoStructOfStruct(inout StructOfStruct v);

    							VTPrimi echoVTPrimi(inout VTPrimi v);

    							VTPrimiSeq echoVTPrimiSeq(inout VTPrimiSeq v);

    							ValueTypeOfValueType echoValueTypeOfValueType(inout ValueTypeOfValueType v);

    							ValueTypeOfStruct echoValueTypeOfStruct(inout ValueTypeOfStruct v);

    							StructOfValuetype echoStructOfValuetype(inout StructOfValuetype v);
					};
				};
			};
		};
	};
};
            </imolacorba:idl>
        </imolacorba:binding>
        <wsdl:operation name="echoSequence">
            <wsdl:input name="echoSequence">
            </wsdl:input>
            <wsdl:output name="echoSequenceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueTypeOfStruct">
            <wsdl:input name="echoValueTypeOfStruct">
            </wsdl:input>
            <wsdl:output name="echoValueTypeOfStructResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoStruct">
            <wsdl:input name="echoStruct">
            </wsdl:input>
            <wsdl:output name="echoStructResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueTypeOfValueType">
            <wsdl:input name="echoValueTypeOfValueType">
            </wsdl:input>
            <wsdl:output name="echoValueTypeOfValueTypeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoStructOfStruct">
            <wsdl:input name="echoStructOfStruct">
            </wsdl:input>
            <wsdl:output name="echoStructOfStructResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueBoxedTypePrimitive">
            <wsdl:input name="echoValueBoxedTypePrimitive">
            </wsdl:input>
            <wsdl:output name="echoValueBoxedTypePrimitiveResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoVTPrimiSeq">
            <wsdl:input name="echoVTPrimiSeq">
            </wsdl:input>
            <wsdl:output name="echoVTPrimiSeqResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoVTPrimi">
            <wsdl:input name="echoVTPrimi">
            </wsdl:input>
            <wsdl:output name="echoVTPrimiResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSequenceSeqEchoStruct">
            <wsdl:input name="echoSequenceSeqEchoStruct">
            </wsdl:input>
            <wsdl:output name="echoSequenceSeqEchoStructResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSequenceValueType">
            <wsdl:input name="echoSequenceValueType">
            </wsdl:input>
            <wsdl:output name="echoSequenceValueTypeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueType">
            <wsdl:input name="echoValueType">
            </wsdl:input>
            <wsdl:output name="echoValueTypeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSequenceSeqMySequence">
            <wsdl:input name="echoSequenceSeqMySequence">
            </wsdl:input>
            <wsdl:output name="echoSequenceSeqMySequenceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoStructOfValuetype">
            <wsdl:input name="echoStructOfValuetype">
            </wsdl:input>
            <wsdl:output name="echoStructOfValuetypeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <wsdl:input name="echo">
            </wsdl:input>
            <wsdl:output name="echoResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueBoxedTypeComplex">
            <wsdl:input name="echoValueBoxedTypeComplex">
            </wsdl:input>
            <wsdl:output name="echoValueBoxedTypeComplexResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EchoComplexInOut">
        <wsdl:port name="EchoComplexInOutCorbaPort" binding="tns:EchoComplexInOutCorbaBinding">
            <imolacorba:address name="EchoComplexInOut" localizationType="NameService">
                <imolacorba:orb>
                    <imolacorba:property name="org.omg.CORBA.ORBInitialPort" value="1050"/>
                    <imolacorba:property name="org.omg.CORBA.ORBClass" value="com.sun.corba.ee.impl.orb.ORBImpl"/>
                    <imolacorba:property name="org.omg.CORBA.ORBInitialHost" value="localhost"/>
                </imolacorba:orb>
            </imolacorba:address>
        </wsdl:port>
    </wsdl:service>
    <plnk:partnerLinkType name="EchoComplexInOut">
        <plnk:role name="EchoComplexInOutPortTypeRole" portType="tns:EchoComplexInOutPortType"/>
    </plnk:partnerLinkType>
</wsdl:definitions>
