driver-tests/sqlse/db2/SqlSE1179_DB2/InsertRowWithWrongTypeFullSql/src/InsertRowWithWrongTypeFullSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="InsertRowWithWrongTypeFullSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="InsertRowWithWrongTypeFullRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="InsertRowWithWrongTypeFullResponse">
    <part name="InsertRowWithWrongTypeFullResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="InsertRowWithWrongTypeFullRequest">
    <part name="InsertRowWithWrongTypeFullRequestPart" element="tns:InsertRowWithWrongTypeFullRequest"/>
  </message>
  <portType name="InsertRowWithWrongTypeFullSql_sqlsePortType">
    <operation name="InsertRowWithWrongTypeFull">
      <input name="InsertRowWithWrongTypeFullRequest" message="tns:InsertRowWithWrongTypeFullRequest"/>
      <output name="InsertRowWithWrongTypeFullResponse" message="tns:InsertRowWithWrongTypeFullResponse"/>
    </operation>
  </portType>
  <binding name="InsertRowWithWrongTypeFullSqlBinding" type="tns:InsertRowWithWrongTypeFullSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="InsertRowWithWrongTypeFull">
      <soap:operation/>
      <input name="InsertRowWithWrongTypeFullRequest">
        <soap:body/>
      </input>
      <output name="InsertRowWithWrongTypeFullResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="InsertRowWithWrongTypeFullSql_sqlseService">
    <port name="InsertRowWithWrongTypeFullSql_sqlsePort" binding="tns:InsertRowWithWrongTypeFullSqlBinding">
      <soap:address location="http://localhost:18181/InsertRowWithWrongTypeFullSql/InsertRowWithWrongTypeFullSql/InsertRowWithWrongTypeFullSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="InsertRowWithWrongTypeFullSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="InsertRowWithWrongTypeFullSql_myrole" portType="tns:InsertRowWithWrongTypeFullSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
