driver-tests/pojose/wikiSamples/05_POJO2BPEL_CBR/bpelWWOrderProcessor/src/wwOrderProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="wwOrderProcess" targetNamespace="wwOrderProcessNS"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:tns="wwOrderProcessNS">
    <types>
        <xsd:schema targetNamespace="wwOrderProcessNS" xmlns:tns="wwOrderProcessNS">
            <xsd:element name="order">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="fulfillmentLocation" type="xsd:string"></xsd:element>
                        <xsd:element name="orderPayload" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ack" type="xsd:string"></xsd:element>
        </xsd:schema>
    </types>
    <message name="wwOrderProcessOperationRequest">
        <part name="part1" element="tns:order"/>
    </message>
    <message name="wwOrderProcessOperationResponse">
        <part name="part1" element="tns:ack"/>
    </message>
    <portType name="wwOrderProcessPortType">
        <operation name="wwOrderProcessOperation">
            <input name="input1" message="tns:wwOrderProcessOperationRequest"/>
            <output name="output1" message="tns:wwOrderProcessOperationResponse"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="wwOrderProcess">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="wwOrderProcessPortTypeRole" portType="tns:wwOrderProcessPortType"/>
    </plnk:partnerLinkType>
</definitions>
