driver-tests/bpelse/PartnerLinks/SinglePartnerLink/src/singlePartnerLink.wsdl

<definitions targetNamespace="urn:singlePartnerLinkTargetNamespace"
             name="singlePartnerLinkDefinition"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="urn:singlePartnerLinkTargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="singlePartnerLinkServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="singlePartnerLinkServerRole"
                   portType="tns:singlePartnerLinkPortType"></plnk:role>
    </plnk:partnerLinkType>
    <types>
        <xsd:schema targetNamespace="urn:singlePartnerLinkTargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:singlePartnerLinkTargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:singlePartnerLinkTargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

                    <xsd:complexType name="singlePartnerLinkType">
                        <xsd:sequence>
	                        <xsd:element type="xsd:string" name="id"></xsd:element>                        
	                        <xsd:element type="xsd:string" name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="singlePartnerLinkMessage">
        <part name="singlePartnerLinkPart" type="tns:singlePartnerLinkType"></part>
    </message>
    <message name="singlePartnerLinkMessage1">
        <part name="singlePartnerLinkPart1" type="tns:singlePartnerLinkType"></part>
    </message>    
    <portType name="singlePartnerLinkPortType">
        <operation name="singlePartnerLinkOperation">
            <input message="tns:singlePartnerLinkMessage"></input>
            <output message="tns:singlePartnerLinkMessage"></output>
        </operation>
        <operation name="singlePartnerLinkOperation1">
            <input message="tns:singlePartnerLinkMessage1"></input>
            <output message="tns:singlePartnerLinkMessage1"></output>
        </operation>
    </portType>
    <binding name="singlePartnerLinkBinding"
             type="tns:singlePartnerLinkPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="singlePartnerLinkOperation">
            <soap:operation soapAction="singlePartnerLinkOperation"/>
            <input>
                <soap:body parts="singlePartnerLinkPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="singlePartnerLinkPart"
                           use="literal"/>
            </output>
        </operation>
        <operation name="singlePartnerLinkOperation1">
            <soap:operation soapAction="singlePartnerLinkOperation1"/>
            <input>
                <soap:body parts="singlePartnerLinkPart1"
                           use="literal"/>
            </input>
             <output>
                <soap:body parts="singlePartnerLinkPart1"
                           use="literal"/>
            </output>
        </operation>

       </binding>
       <binding name="singlePartnerLinkBinding1"
             type="tns:singlePartnerLinkPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="singlePartnerLinkOperation">
            <soap:operation soapAction="singlePartnerLinkOperation"/>
            <input>
                <soap:body parts="singlePartnerLinkPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="singlePartnerLinkPart"
                           use="literal"/>
            </output>
        </operation>
        <operation name="singlePartnerLinkOperation1">
            <soap:operation soapAction="singlePartnerLinkOperation1"/>
            <input>
                <soap:body parts="singlePartnerLinkPart1"
                           use="literal"/>
            </input>
             <output>
                <soap:body parts="singlePartnerLinkPart1"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="singlePartnerLinkService">
        <port name="singlePartnerLinkPort"
              binding="tns:singlePartnerLinkBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/singlePartnerLinkPort"/>
        </port>
        <port name="singlePartnerLinkPort1"
              binding="tns:singlePartnerLinkBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/singlePartnerLinkPort1"/>
        </port>
    </service>
</definitions>
