driver-tests/sqlse/db2/SqlSE1053_DB2/SelectMultiParamTableJbi/src/jbiServiceUnits/SelectMultiParamTableSql/SelectMultiParamTableSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SelectMultiParamTableSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="SelectMultiParamTableRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/><xsd:element name="param2" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="SelectMultiParamTableResponse"><xsd:complexType><xsd:sequence><xsd:element name="EMPID" type="xsd:int"/><xsd:element name="ENAME" type="xsd:string"/><xsd:element name="DEPTID" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="SelectMultiParamTableRequest">
    <part name="SelectMultiParamTableRequestPart" element="tns:SelectMultiParamTableRequest"/>
  </message>
  <message name="SelectMultiParamTableResponse">
    <part name="SelectMultiParamTableResponsePart" element="tns:SelectMultiParamTableResponse"/>
  </message>
  <portType name="SelectMultiParamTableSql_sqlsePortType">
    <operation name="SelectMultiParamTable">
      <input name="SelectMultiParamTableRequest" message="tns:SelectMultiParamTableRequest"/>
      <output name="SelectMultiParamTableResponse" message="tns:SelectMultiParamTableResponse"/>
    </operation>
  </portType>
  <binding name="SelectMultiParamTableSqlBinding" type="tns:SelectMultiParamTableSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SelectMultiParamTable">
      <soap:operation/>
      <input name="SelectMultiParamTableRequest">
        <soap:body/>
      </input>
      <output name="SelectMultiParamTableResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="SelectMultiParamTableSql_sqlseService">
    <port name="SelectMultiParamTableSql_sqlsePort" binding="tns:SelectMultiParamTableSqlBinding">
      <soap:address location="http://localhost:18181/SelectMultiParamTableSql/SelectMultiParamTableSql/SelectMultiParamTableSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="SelectMultiParamTableSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="SelectMultiParamTableSql_myrole" portType="tns:SelectMultiParamTableSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
