driver-tests/sqlse/db2/SqlSE1183_DB2/DeleteWithFalseConFullSql/src/DeleteWithFalseConFullSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="DeleteWithFalseConFullSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="DeleteWithFalseConFullRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="DeleteWithFalseConFullResponse">
    <part name="DeleteWithFalseConFullResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="DeleteWithFalseConFullRequest">
    <part name="DeleteWithFalseConFullRequestPart" element="tns:DeleteWithFalseConFullRequest"/>
  </message>
  <portType name="DeleteWithFalseConFullSql_sqlsePortType">
    <operation name="DeleteWithFalseConFull">
      <input name="DeleteWithFalseConFullRequest" message="tns:DeleteWithFalseConFullRequest"/>
      <output name="DeleteWithFalseConFullResponse" message="tns:DeleteWithFalseConFullResponse"/>
    </operation>
  </portType>
  <binding name="DeleteWithFalseConFullSqlBinding" type="tns:DeleteWithFalseConFullSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="DeleteWithFalseConFull">
      <soap:operation/>
      <input name="DeleteWithFalseConFullRequest">
        <soap:body/>
      </input>
      <output name="DeleteWithFalseConFullResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="DeleteWithFalseConFullSql_sqlseService">
    <port name="DeleteWithFalseConFullSql_sqlsePort" binding="tns:DeleteWithFalseConFullSqlBinding">
      <soap:address location="http://localhost:18181/DeleteWithFalseConFullSql/DeleteWithFalseConFullSql/DeleteWithFalseConFullSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="DeleteWithFalseConFullSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="DeleteWithFalseConFullSql_myrole" portType="tns:DeleteWithFalseConFullSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
