driver-tests/bpelse/flow/FlowBpel/src/FlowFault/FlowFault.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="FlowFault" targetNamespace="http://j2ee.netbeans.org/wsdl/FlowFault"
    xmlns:tns="http://j2ee.netbeans.org/wsdl/FlowFault"
    xmlns:ns1="http://j2ee.netbeans.org/wsdl/FlowFault/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/FlowFault/types">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="FlowFaultRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="FlowFaultResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="FlowFaultError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="FlowFaultPortType">
    <operation name="FlowFaultOperation">
      <input message="tns:FlowFaultRequest"/>
      <output message="tns:FlowFaultResponse"/>
      <fault message="tns:FlowFaultError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="FlowFaultBinding" type="tns:FlowFaultPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="FlowFaultOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="FlowFaultService">
    <port name="FlowFaultPort" binding="tns:FlowFaultBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <message name="InputMessage">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="OutputMessage">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="FaultMessage">
        <part name="part1" type="xsd:string"/>
    </message>
    <portType name="FlowFaultPortType">
        <operation name="FlowFaultOperation">
            <input name="input1" message="tns:InputMessage"/>
            <output name="output1" message="tns:OutputMessage"/>
            <fault name="fault1" message="tns:FaultMessage"/>
        </operation>
    </portType>
    <binding name="FlowFaultBinding" type="tns:FlowFaultPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="FlowFaultOperation">
            <input name="input1">
                <soap:body/>
            </input>
            <output name="output1">
                <soap:body/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1"/>
            </fault>
        </operation>
    </binding>
    <service name="FlowFaultService">
        <port name="FlowFaultPort" binding="tns:FlowFaultBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/FlowFault"/>
        </port>
    </service>
    <plink:partnerLinkType name="FlowFaultPLT">
        <plink:role name="FlowFaultPLTRole" portType="tns:FlowFaultPortType"/>
    </plink:partnerLinkType>
</definitions>
