ojc-core/component-common/bpelmodel/test/com/sun/bpel/model/dupGlobalElemTest/globalsmspro2_5.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:si="http://www.strikeiron.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.strikeiron.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.strikeiron.com">
      <s:element name="SendMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisteredUserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMessageResult" type="si:SMSTextMessageTargetStatus" />
            <s:element name="SISubscriptionInfo" type="si:SISubscriptionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SMSTextMessageTargetStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ToNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TrackingTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MessageStatus" type="si:MessageStatus" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MessageStatus">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="StatusCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusExtra" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ResponseInfo" type="si:ResponseInfo" />
      <s:complexType name="ResponseInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ResponseCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Response" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMessagesBulk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisteredUserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToNumbers" type="si:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="FromNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FromName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMessagesBulkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMessagesBulkResult" type="si:ArrayOfSMSTextMessageTargetStatus" />
            <s:element name="SISubscriptionInfo" type="si:SISubscriptionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSMSTextMessageTargetStatus">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SMSTextMessageTargetStatus" nillable="true" type="si:SMSTextMessageTargetStatus" />
        </s:sequence>
      </s:complexType>
      <s:element name="TrackMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisteredUserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TrackingTag" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrackMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackMessageResult" type="si:SMSTextMessageTargetStatus" />
            <s:element name="SISubscriptionInfo" type="si:SISubscriptionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrackMessagesBulk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisteredUserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TrackingTags" type="si:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TrackMessagesBulkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TrackMessagesBulkResult" type="si:ArrayOfSMSTextMessageTargetStatus" />
            <s:element name="SISubscriptionInfo" type="si:SISubscriptionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSupportedCarriers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisteredUserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSupportedCarriersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSupportedCarriersResult" type="si:ArrayOfCarrier" />
            <s:element name="SISubscriptionInfo" type="si:SISubscriptionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCarrier">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Carrier" nillable="true" type="si:Carrier" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Carrier">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CarrierID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CarrierName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxTextLength" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NetworkStandard" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCountryCodes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnregisteredUserEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCountryCodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCountryCodesResult" type="si:ArrayOfCountryCode" />
            <s:element name="SISubscriptionInfo" type="si:SISubscriptionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCountryCode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CountryCode" nillable="true" type="si:CountryCode" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CountryCode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SILicenseInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UnregisteredUserEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SILicenseInfo" type="si:SILicenseInfo" />
      <s:complexType name="SISubscriptionInfo">
        <s:sequence>
          <s:element name="LicenseStatusCode" type="s:int" />
          <s:element minOccurs="0" name="LicenseStatus" type="s:string" />
          <s:element name="LicenseActionCode" type="s:int" />
          <s:element minOccurs="0" name="LicenseAction" type="s:string" />
          <s:element name="RemainingHits" type="s:int" />
          <s:element name="Amount" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="SISubscriptionInfo" type="si:SISubscriptionInfo" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMessageSoapIn">
    <wsdl:part name="parameters" element="si:SendMessage" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
    <wsdl:part name="parameters" element="si:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageResponseInfo">
    <wsdl:part name="ResponseInfo" element="si:ResponseInfo" />
  </wsdl:message>
  <wsdl:message name="SendMessagesBulkSoapIn">
    <wsdl:part name="parameters" element="si:SendMessagesBulk" />
  </wsdl:message>
  <wsdl:message name="SendMessagesBulkSoapOut">
    <wsdl:part name="parameters" element="si:SendMessagesBulkResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessagesBulkResponseInfo">
    <wsdl:part name="ResponseInfo" element="si:ResponseInfo" />
  </wsdl:message>
  <wsdl:message name="TrackMessageSoapIn">
    <wsdl:part name="parameters" element="si:TrackMessage" />
  </wsdl:message>
  <wsdl:message name="TrackMessageSoapOut">
    <wsdl:part name="parameters" element="si:TrackMessageResponse" />
  </wsdl:message>
  <wsdl:message name="TrackMessageResponseInfo">
    <wsdl:part name="ResponseInfo" element="si:ResponseInfo" />
  </wsdl:message>
  <wsdl:message name="TrackMessagesBulkSoapIn">
    <wsdl:part name="parameters" element="si:TrackMessagesBulk" />
  </wsdl:message>
  <wsdl:message name="TrackMessagesBulkSoapOut">
    <wsdl:part name="parameters" element="si:TrackMessagesBulkResponse" />
  </wsdl:message>
  <wsdl:message name="TrackMessagesBulkResponseInfo">
    <wsdl:part name="ResponseInfo" element="si:ResponseInfo" />
  </wsdl:message>
  <wsdl:message name="GetSupportedCarriersSoapIn">
    <wsdl:part name="parameters" element="si:GetSupportedCarriers" />
  </wsdl:message>
  <wsdl:message name="GetSupportedCarriersSoapOut">
    <wsdl:part name="parameters" element="si:GetSupportedCarriersResponse" />
  </wsdl:message>
  <wsdl:message name="GetCountryCodesSoapIn">
    <wsdl:part name="parameters" element="si:GetCountryCodes" />
  </wsdl:message>
  <wsdl:message name="GetCountryCodesSoapOut">
    <wsdl:part name="parameters" element="si:GetCountryCodesResponse" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapIn">
    <wsdl:part name="parameters" element="si:SILicenseInfo" />
  </wsdl:message>
  <wsdl:message name="GetRemainingHitsSoapOut">
    <wsdl:part name="parameters" element="si:SISubscriptionInfo" />
  </wsdl:message>
  <wsdl:portType name="SMSTextMessagingSoap">
    <wsdl:operation name="SendMessage">
      <wsdl:input message="si:SendMessageSoapIn" />
      <wsdl:output message="si:SendMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessagesBulk">
      <wsdl:input message="si:SendMessagesBulkSoapIn" />
      <wsdl:output message="si:SendMessagesBulkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TrackMessage">
      <wsdl:input message="si:TrackMessageSoapIn" />
      <wsdl:output message="si:TrackMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TrackMessagesBulk">
      <wsdl:input message="si:TrackMessagesBulkSoapIn" />
      <wsdl:output message="si:TrackMessagesBulkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportedCarriers">
      <wsdl:input message="si:GetSupportedCarriersSoapIn" />
      <wsdl:output message="si:GetSupportedCarriersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCountryCodes">
      <wsdl:input message="si:GetCountryCodesSoapIn" />
      <wsdl:output message="si:GetCountryCodesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <wsdl:input message="si:GetRemainingHitsSoapIn" />
      <wsdl:output message="si:GetRemainingHitsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SMSTextMessagingSoap" type="si:SMSTextMessagingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://www.strikeiron.com/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SendMessageResponseInfo" part="ResponseInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessagesBulk">
      <soap:operation soapAction="http://www.strikeiron.com/SendMessagesBulk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:SendMessagesBulkResponseInfo" part="ResponseInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackMessage">
      <soap:operation soapAction="http://www.strikeiron.com/TrackMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:TrackMessageResponseInfo" part="ResponseInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TrackMessagesBulk">
      <soap:operation soapAction="http://www.strikeiron.com/TrackMessagesBulk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="si:TrackMessagesBulkResponseInfo" part="ResponseInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportedCarriers">
      <soap:operation soapAction="http://www.strikeiron.com/GetSupportedCarriers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountryCodes">
      <soap:operation soapAction="http://www.strikeiron.com/GetCountryCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemainingHits">
      <soap:operation soapAction="http://wsparam.strikeiron.com/StrikeIron/globalsmspro2_5/SMSTextMessaging/GetRemainingHits" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SMSTextMessaging">
    <wsdl:port name="SMSTextMessagingSoap" binding="si:SMSTextMessagingSoap">
      <soap:address location="http://wsparam.strikeiron.com/StrikeIron/globalsmspro2_5/SMSTextMessaging" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>