contrib-imola/corba-bc/integration-test/test-provider-fault/provider-fault-http-consumer/src/main/resources/TypeDef_testproviderfault.test.jbi4corba.imolinfo.it.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://testproviderfault.test.jbi4corba.imolinfo.it/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://testproviderfault.test.jbi4corba.imolinfo.it/">
<xs:complexType name="echoStruct">
<xs:sequence>
<xs:element name="fieldBoolean" type="xs:boolean"/>
<xs:element name="fieldChar" type="xs:unsignedShort"/>
<xs:element minOccurs="0" name="fieldString" type="xs:string"/>
<xs:element name="fieldLong" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>