driver-tests/jdbcbc/i18n/InsertBpel/src/InsertTable.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="jdbcwsdl" targetNamespace="http://j2ee.netbeans.org/wsdl/jdbcbc" xmlns:tns="http://j2ee.netbeans.org/wsdl/jdbcbc" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" xmlns:ns="http://j2ee.netbeans.org/xsd/tableSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://j2ee.netbeans.org/wsdl/jdbcbc">
            
	<xsd:import namespace="http://j2ee.netbeans.org/xsd/tableSchema" schemaLocation="TestTable.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="inputMsg">
    <part element="ns:テストテーブル" name="part"/>
  </wsdl:message>
  <wsdl:message name="insertRetMsg">
    <wsdl:part name="part" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="outputMsg">
    <part element="ns:テストテーブル" name="part"/>
  </wsdl:message>
  <wsdl:portType name="jdbcPortType">
    <wsdl:operation name="insert">
      <wsdl:input name="inputInsert" message="tns:inputMsg"/>
      <wsdl:output name="outputInsert" message="tns:insertRetMsg"/>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input name="inputUpdate" message="tns:inputMsg"/>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input name="inputDelete" message="tns:inputMsg"/>
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input name="inputFind" message="tns:inputMsg"/>
      <wsdl:output name="outputFind" message="tns:outputMsg"/>
    </wsdl:operation>
    <wsdl:operation name="pollrecords">
      <wsdl:input name="inputPoll" message="tns:inputMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="binding" type="tns:jdbcPortType">
    <jdbc:binding xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
    <wsdl:operation name="insert">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputInsert">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" PKName="テストID" TableName="APP.テストテーブル" Transaction="NOTransaction" operationType="insert" paramOrder="テストSal,テストID,テストフラグ,テスト名" sql="insert into &quot;APP&quot;.&quot;テストテーブル&quot; (&quot;テストSal&quot;,&quot;テストID&quot;,&quot;テストフラグ&quot;,&quot;テスト名&quot;) values (?,?,?,?)"/>
      </wsdl:input>
      <wsdl:output name="outputInsert">
    <jdbc:output xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" returnPartName="part"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputUpdate">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" PKName="テストID" TableName="APP.テストテーブル" Transaction="NOTransaction" operationType="update" paramOrder="テストSal,テストID,テストフラグ,テスト名" sql="update &quot;APP&quot;.&quot;テストテーブル&quot; set &quot;テストテーブル&quot;.&quot;テストSal&quot;  = ?,&quot;テストテーブル&quot;.&quot;テストID&quot;  = ?,&quot;テストテーブル&quot;.&quot;テストフラグ&quot;  = ?,&quot;テストテーブル&quot;.&quot;テスト名&quot;  = ?"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="delete">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputDelete">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" PKName="テストID" TableName="APP.テストテーブル" Transaction="NOTransaction" operationType="delete" paramOrder="" sql="delete from &quot;APP&quot;.&quot;テストテーブル&quot;"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="find">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputFind">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" PKName="テストID" TableName="APP.テストテーブル" Transaction="NOTransaction" operationType="find" paramOrder="" sql="select &quot;テストSal&quot;,&quot;テストID&quot;,&quot;テストフラグ&quot;,&quot;テスト名&quot; from &quot;APP&quot;.&quot;テストテーブル&quot;"/>
      </wsdl:input>
      <wsdl:output name="outputFind">
    <jdbc:output xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" returnPartName="part"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pollrecords">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputPoll">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" PKName="テストID" PollingPostProcessing="Delete" TableName="APP.テストテーブル" Transaction="NOTransaction" operationType="poll" paramOrder="" sql="select &quot;テストSal&quot;,&quot;テストID&quot;,&quot;テストフラグ&quot;,&quot;テスト名&quot; from &quot;APP&quot;.&quot;テストテーブル&quot;"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="port" binding="tns:binding">
    <jdbc:address xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" jndiName="jdbc/__defaultDS" dbURL="jdbc:derby://localhost:1527/sample" driverClassName="org.apache.derby.jdbc.ClientDriver" userName="app" password="app"/>
    </wsdl:port>
  </wsdl:service>
    <plink:partnerLinkType xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="jdbcpartner">
        <plink:role name="jdbcPortTypeRole" portType="tns:jdbcPortType"/>
    </plink:partnerLinkType>
</wsdl:definitions>
