driver-tests/sqlse/sqlserver/Sqlse1209_SQL/SelectFalseCondJbi/src/jbiServiceUnits/SelectFalseCondBpel/EMPLOYEE.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://j2ee.netbeans.org/xsd/tableSchema" xmlns="http://j2ee.netbeans.org/xsd/tableSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="EMPLOYEE" type="EMPLOYEE"></xsd:element>
    <xsd:complexType name="EMPLOYEE">
      <xsd:sequence maxOccurs="unbounded">
        <xsd:element name="empid" type="xsd:int"></xsd:element>
        <xsd:element name="deptid" type="xsd:int"></xsd:element>
        <xsd:element name="empname" type="xsd:string"></xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:schema>