driver-tests/sqlse/sqlserver/Sqlse1209_SQL/SelectFalseCondJbi/src/jbiServiceUnits/SelectFalseCondBpel/SelectFalseCondSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SelectFalseCondSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="SelectFalseCondRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="SelectFalseCondResponse"><xsd:complexType><xsd:sequence><xsd:element name="empid" type="xsd:int"/><xsd:element name="empname" type="xsd:string"/><xsd:element name="deptid" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="SelectFalseCondResponse">
    <part name="SelectFalseCondResponsePart" element="tns:SelectFalseCondResponse"/>
  </message>
  <message name="SelectFalseCondRequest">
    <part name="SelectFalseCondRequestPart" element="tns:SelectFalseCondRequest"/>
  </message>
  <portType name="SelectFalseCondSql_sqlsePortType">
    <operation name="SelectFalseCond">
      <input name="SelectFalseCondRequest" message="tns:SelectFalseCondRequest"/>
      <output name="SelectFalseCondResponse" message="tns:SelectFalseCondResponse"/>
    </operation>
  </portType>
  <binding name="SelectFalseCondSqlBinding" type="tns:SelectFalseCondSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SelectFalseCond">
      <soap:operation/>
      <input name="SelectFalseCondRequest">
        <soap:body/>
      </input>
      <output name="SelectFalseCondResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="SelectFalseCondSql_sqlseService">
    <port name="SelectFalseCondSql_sqlsePort" binding="tns:SelectFalseCondSqlBinding">
      <soap:address location="http://localhost:18181/SelectFalseCondSql/SelectFalseCondSql/SelectFalseCondSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="SelectFalseCondSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="SelectFalseCondSql_myrole" portType="tns:SelectFalseCondSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
