driver-tests/bpelse/assign/AssignBpel/src/Assign/CopyDataType.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="urn:DataType" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:CopyDataTypeTNS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CopyDataTypeWsdl" targetNamespace="urn:CopyDataTypeTNS">
    <import location="MostDataType.xsd" namespace="urn:DataType"/>
    <message name="anyURIMessage">
        <part element="ns:anyURIPart" name="anyURIPart"/>
    </message>
    <message name="base64BinaryMessage">
        <part element="ns:base64BinaryPart" name="base64BinaryPart"/>
    </message>
    <message name="booleanMessage">
        <part element="ns:booleanPart" name="booleanPart"/>
    </message>
    <message name="byteMessage">
        <part element="ns:bytePart" name="bytePart"/>
    </message>
    <message name="dateMessage">
        <part element="ns:datePart" name="datePart"/>
    </message>
    <message name="dateTimeMessage">
        <part element="ns:dateTimePart" name="dateTimePart"/>
    </message>
    <message name="decimalMessage">
        <part element="ns:decimalPart" name="decimalPart"/>
    </message>
    <message name="doubleMessage">
        <part element="ns:doublePart" name="doublePart"/>
    </message>
    <message name="durationMessage">
        <part element="ns:durationPart" name="durationPart"/>
    </message>
    <message name="floatMessage">
        <part element="ns:floatPart" name="floatPart"/>
    </message>
    <message name="gDayMessage">
        <part element="ns:gDayPart" name="gDayPart"/>
    </message>
    <message name="gMonthMessage">
        <part element="ns:gMonthPart" name="gMonthPart"/>
    </message>
    <message name="gMonthDayMessage">
        <part element="ns:gMonthDayPart" name="gMonthDayPart"/>
    </message>
    <message name="gYearMessage">
        <part element="ns:gYearPart" name="gYearPart"/>
    </message>
    <message name="gYearMonthMessage">
        <part element="ns:gYearMonthPart" name="gYearMonthPart"/>
    </message>
    <message name="hexBinaryMessage">
        <part element="ns:hexBinaryPart" name="hexBinaryPart"/>
    </message>
    <message name="intMessage">
        <part element="ns:intPart" name="intPart"/>
    </message>
    <message name="integerMessage">
        <part element="ns:integerPart" name="integerPart"/>
    </message>
    <message name="languageMessage">
        <part element="ns:languagePart" name="languagePart"/>
    </message>
    <message name="longMessage">
        <part element="ns:longPart" name="longPart"/>
    </message>
    <message name="NameMessage">
        <part element="ns:NamePart" name="NamePart"/>
    </message>
    <message name="NCNameMessage">
        <part element="ns:NCNamePart" name="NCNamePart"/>
    </message>
    <message name="negativeIntegerMessage">
        <part element="ns:negativeIntegerPart" name="negativeIntegerPart"/>
    </message>
    <message name="normalizedStringMessage">
        <part element="ns:normalizedStringPart" name="normalizedStringPart"/>
    </message>
    <message name="positiveIntegerMessage">
        <part element="ns:positiveIntegerPart" name="positiveIntegerPart"/>
    </message>
    <message name="QNameMessage">
        <part element="ns:QNamePart" name="QNamePart"/>
    </message>
    <message name="shortMessage">
        <part element="ns:shortPart" name="shortPart"/>
    </message>
    <message name="stringMessage">
        <part element="ns:stringPart" name="stringPart"/>
    </message>
    <message name="timeMessage">
        <part element="ns:timePart" name="timePart"/>
    </message>
    <message name="unsignedByteMessage">
        <part element="ns:unsignedBytePart" name="unsignedBytePart"/>
    </message>
    <message name="unsignedIntMessage">
        <part element="ns:unsignedIntPart" name="unsignedIntPart"/>
    </message>
    <message name="unsignedLongMessage">
        <part element="ns:unsignedLongPart" name="unsignedLongPart"/>
    </message>
    <message name="unsignedShortMessage">
        <part element="ns:unsignedShortPart" name="unsignedShortPart"/>
    </message>
    <portType name="CopyDataTypePortType">
        <operation name="anyURIOperation">
            <input message="tns:anyURIMessage"/>
            <output message="tns:anyURIMessage"/>
        </operation>
        <operation name="base64BinaryOperation">
            <input message="tns:base64BinaryMessage"/>
            <output message="tns:base64BinaryMessage"/>
        </operation>
        <operation name="booleanOperation">
            <input message="tns:booleanMessage"/>
            <output message="tns:booleanMessage"/>
        </operation>
        <operation name="byteOperation">
            <input message="tns:byteMessage"/>
            <output message="tns:byteMessage"/>
        </operation>
        <operation name="dateOperation">
            <input message="tns:dateMessage"/>
            <output message="tns:dateMessage"/>
        </operation>
        <operation name="dateTimeOperation">
            <input message="tns:dateTimeMessage"/>
            <output message="tns:dateTimeMessage"/>
        </operation>
        <operation name="decimalOperation">
            <input message="tns:decimalMessage"/>
            <output message="tns:decimalMessage"/>
        </operation>
        <operation name="doubleOperation">
            <input message="tns:doubleMessage"/>
            <output message="tns:doubleMessage"/>
        </operation>
        <operation name="durationOperation">
            <input message="tns:durationMessage"/>
            <output message="tns:durationMessage"/>
        </operation>
        <operation name="floatOperation">
            <input message="tns:floatMessage"/>
            <output message="tns:floatMessage"/>
        </operation>
        <operation name="gDayOperation">
            <input message="tns:gDayMessage"/>
            <output message="tns:gDayMessage"/>
        </operation>
        <operation name="gMonthOperation">
            <input message="tns:gMonthMessage"/>
            <output message="tns:gMonthMessage"/>
        </operation>
        <operation name="gMonthDayOperation">
            <input message="tns:gMonthDayMessage"/>
            <output message="tns:gMonthDayMessage"/>
        </operation>
        <operation name="gYearOperation">
            <input message="tns:gYearMessage"/>
            <output message="tns:gYearMessage"/>
        </operation>
        <operation name="gYearMonthOperation">
            <input message="tns:gYearMonthMessage"/>
            <output message="tns:gYearMonthMessage"/>
        </operation>
        <operation name="hexBinaryOperation">
            <input message="tns:hexBinaryMessage"/>
            <output message="tns:hexBinaryMessage"/>
        </operation>
        <operation name="intOperation">
            <input message="tns:intMessage"/>
            <output message="tns:intMessage"/>
        </operation>
        <operation name="integerOperation">
            <input message="tns:integerMessage"/>
            <output message="tns:integerMessage"/>
        </operation>
        <operation name="languageOperation">
            <input message="tns:languageMessage"/>
            <output message="tns:languageMessage"/>
        </operation>
        <operation name="longOperation">
            <input message="tns:longMessage"/>
            <output message="tns:longMessage"/>
        </operation>
        <operation name="NameOperation">
            <input message="tns:NameMessage"/>
            <output message="tns:NameMessage"/>
        </operation>
        <operation name="NCNameOperation">
            <input message="tns:NCNameMessage"/>
            <output message="tns:NCNameMessage"/>
        </operation>
        <operation name="negativeIntegerOperation">
            <input message="tns:negativeIntegerMessage"/>
            <output message="tns:negativeIntegerMessage"/>
        </operation>
        <operation name="normalizedStringOperation">
            <input message="tns:normalizedStringMessage"/>
            <output message="tns:normalizedStringMessage"/>
        </operation>
        <operation name="positiveIntegerOperation">
            <input message="tns:positiveIntegerMessage"/>
            <output message="tns:positiveIntegerMessage"/>
        </operation>
        <operation name="QNameOperation">
            <input message="tns:QNameMessage"/>
            <output message="tns:QNameMessage"/>
        </operation>
        <operation name="shortOperation">
            <input message="tns:shortMessage"/>
            <output message="tns:shortMessage"/>
        </operation>
        <operation name="stringOperation">
            <input message="tns:stringMessage"/>
            <output message="tns:stringMessage"/>
        </operation>
        <operation name="timeOperation">
            <input message="tns:timeMessage"/>
            <output message="tns:timeMessage"/>
        </operation>
        <operation name="unsignedByteOperation">
            <input message="tns:unsignedByteMessage"/>
            <output message="tns:unsignedByteMessage"/>
        </operation>
        <operation name="unsignedIntOperation">
            <input message="tns:unsignedIntMessage"/>
            <output message="tns:unsignedIntMessage"/>
        </operation>
        <operation name="unsignedLongOperation">
            <input message="tns:unsignedLongMessage"/>
            <output message="tns:unsignedLongMessage"/>
        </operation>
        <operation name="unsignedShortOperation">
            <input message="tns:unsignedShortMessage"/>
            <output message="tns:unsignedShortMessage"/>
        </operation>
    </portType>
    <binding name="CopyDataTypeBinding" type="tns:CopyDataTypePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="anyURIOperation">
            <soap:operation soapAction="anyURIOperation"/>
            <input>
                <soap:body parts="anyURIPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="anyURIPart" use="literal"/>
            </output>
        </operation>
        <operation name="base64BinaryOperation">
            <soap:operation soapAction="base64BinaryOperation"/>
            <input>
                <soap:body parts="base64BinaryPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="base64BinaryPart" use="literal"/>
            </output>
        </operation>
        <operation name="booleanOperation">
            <soap:operation soapAction="booleanOperation"/>
            <input>
                <soap:body parts="booleanPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="booleanPart" use="literal"/>
            </output>
        </operation>
        <operation name="byteOperation">
            <soap:operation soapAction="byteOperation"/>
            <input>
                <soap:body parts="bytePart" use="literal"/>
            </input>
            <output>
                <soap:body parts="bytePart" use="literal"/>
            </output>
        </operation>
        <operation name="dateOperation">
            <soap:operation soapAction="dateOperation"/>
            <input>
                <soap:body parts="datePart" use="literal"/>
            </input>
            <output>
                <soap:body parts="datePart" use="literal"/>
            </output>
        </operation>
        <operation name="dateTimeOperation">
            <soap:operation soapAction="dateTimeOperation"/>
            <input>
                <soap:body parts="dateTimePart" use="literal"/>
            </input>
            <output>
                <soap:body parts="dateTimePart" use="literal"/>
            </output>
        </operation>
        <operation name="decimalOperation">
            <soap:operation soapAction="decimalOperation"/>
            <input>
                <soap:body parts="decimalPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="decimalPart" use="literal"/>
            </output>
        </operation>
        <operation name="doubleOperation">
            <soap:operation soapAction="doubleOperation"/>
            <input>
                <soap:body parts="doublePart" use="literal"/>
            </input>
            <output>
                <soap:body parts="doublePart" use="literal"/>
            </output>
        </operation>
        <operation name="durationOperation">
            <soap:operation soapAction="durationOperation"/>
            <input>
                <soap:body parts="durationPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="durationPart" use="literal"/>
            </output>
        </operation>
        <operation name="floatOperation">
            <soap:operation soapAction="floatOperation"/>
            <input>
                <soap:body parts="floatPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="floatPart" use="literal"/>
            </output>
        </operation>
        <operation name="gDayOperation">
            <soap:operation soapAction="gDayOperation"/>
            <input>
                <soap:body parts="gDayPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="gDayPart" use="literal"/>
            </output>
        </operation>
        <operation name="gMonthOperation">
            <soap:operation soapAction="gMonthOperation"/>
            <input>
                <soap:body parts="gMonthPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="gMonthPart" use="literal"/>
            </output>
        </operation>
        <operation name="gMonthDayOperation">
            <soap:operation soapAction="gMonthDayOperation"/>
            <input>
                <soap:body parts="gMonthDayPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="gMonthDayPart" use="literal"/>
            </output>
        </operation>
        <operation name="gYearOperation">
            <soap:operation soapAction="gYearOperation"/>
            <input>
                <soap:body parts="gYearPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="gYearPart" use="literal"/>
            </output>
        </operation>
        <operation name="gYearMonthOperation">
            <soap:operation soapAction="gYearMonthOperation"/>
            <input>
                <soap:body parts="gYearMonthPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="gYearMonthPart" use="literal"/>
            </output>
        </operation>
        <operation name="hexBinaryOperation">
            <soap:operation soapAction="hexBinaryOperation"/>
            <input>
                <soap:body parts="hexBinaryPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="hexBinaryPart" use="literal"/>
            </output>
        </operation>
        <operation name="intOperation">
            <soap:operation soapAction="intOperation"/>
            <input>
                <soap:body parts="intPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="intPart" use="literal"/>
            </output>
        </operation>
        <operation name="integerOperation">
            <soap:operation soapAction="integerOperation"/>
            <input>
                <soap:body parts="integerPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="integerPart" use="literal"/>
            </output>
        </operation>
        <operation name="languageOperation">
            <soap:operation soapAction="languageOperation"/>
            <input>
                <soap:body parts="languagePart" use="literal"/>
            </input>
            <output>
                <soap:body parts="languagePart" use="literal"/>
            </output>
        </operation>
        <operation name="longOperation">
            <soap:operation soapAction="longOperation"/>
            <input>
                <soap:body parts="longPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="longPart" use="literal"/>
            </output>
        </operation>
        <operation name="NameOperation">
            <soap:operation soapAction="NameOperation"/>
            <input>
                <soap:body parts="NamePart" use="literal"/>
            </input>
            <output>
                <soap:body parts="NamePart" use="literal"/>
            </output>
        </operation>
        <operation name="NCNameOperation">
            <soap:operation soapAction="NCNameOperation"/>
            <input>
                <soap:body parts="NCNamePart" use="literal"/>
            </input>
            <output>
                <soap:body parts="NCNamePart" use="literal"/>
            </output>
        </operation>
        <operation name="negativeIntegerOperation">
            <soap:operation soapAction="negativeIntegerOperation"/>
            <input>
                <soap:body parts="negativeIntegerPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="negativeIntegerPart" use="literal"/>
            </output>
        </operation>
        <operation name="normalizedStringOperation">
            <soap:operation soapAction="normalizedStringOperation"/>
            <input>
                <soap:body parts="normalizedStringPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="normalizedStringPart" use="literal"/>
            </output>
        </operation>
        <operation name="positiveIntegerOperation">
            <soap:operation soapAction="positiveIntegerOperation"/>
            <input>
                <soap:body parts="positiveIntegerPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="positiveIntegerPart" use="literal"/>
            </output>
        </operation>
        <operation name="QNameOperation">
            <soap:operation soapAction="QNameOperation"/>
            <input>
                <soap:body parts="QNamePart" use="literal"/>
            </input>
            <output>
                <soap:body parts="QNamePart" use="literal"/>
            </output>
        </operation>
        <operation name="shortOperation">
            <soap:operation soapAction="shortOperation"/>
            <input>
                <soap:body parts="shortPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="shortPart" use="literal"/>
            </output>
        </operation>
        <operation name="stringOperation">
            <soap:operation soapAction="stringOperation"/>
            <input>
                <soap:body parts="stringPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="stringPart" use="literal"/>
            </output>
        </operation>
        <operation name="timeOperation">
            <soap:operation soapAction="timeOperation"/>
            <input>
                <soap:body parts="timePart" use="literal"/>
            </input>
            <output>
                <soap:body parts="timePart" use="literal"/>
            </output>
        </operation>
        <operation name="unsignedByteOperation">
            <soap:operation soapAction="unsignedByteOperation"/>
            <input>
                <soap:body parts="unsignedBytePart" use="literal"/>
            </input>
            <output>
                <soap:body parts="unsignedBytePart" use="literal"/>
            </output>
        </operation>
        <operation name="unsignedIntOperation">
            <soap:operation soapAction="unsignedIntOperation"/>
            <input>
                <soap:body parts="unsignedIntPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="unsignedIntPart" use="literal"/>
            </output>
        </operation>
        <operation name="unsignedLongOperation">
            <soap:operation soapAction="unsignedLongOperation"/>
            <input>
                <soap:body parts="unsignedLongPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="unsignedLongPart" use="literal"/>
            </output>
        </operation>
        <operation name="unsignedShortOperation">
            <soap:operation soapAction="unsignedShortOperation"/>
            <input>
                <soap:body parts="unsignedShortPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="unsignedShortPart" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="CopyDataTypeService">
        <port binding="tns:CopyDataTypeBinding" name="CopyDataTypePort">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/CopyDataType"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="CopyDataTypePLT">
        <plnk:role name="server" portType="tns:CopyDataTypePortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="CopyDataTypePLT2">
        <plnk:role name="server" portType="tns:CopyDataTypePortType"/>
    </plnk:partnerLinkType>
</definitions>
