driver-tests/bpelse/assign/AssignBpel/src/Assign/copyRepeatingNodesUsingPredicate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="copyRepeatingNodesUsingPredicate" targetNamespace="http://j2ee.netbeans.org/wsdl/copyRepeatingNodesUsingPredicate"
    xmlns:tns="http://j2ee.netbeans.org/wsdl/copyRepeatingNodesUsingPredicate"
    xmlns:ns1="urn:WS/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://xml.netbeans.org/examples/EmployeeNS" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/copyRepeatingNodesUsingPredicate">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
      <xsd:import schemaLocation="schema/Employee.xsd" namespace="http://xml.netbeans.org/examples/EmployeeNS"/>
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="copyRepeatingNodesUsingPredicateRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="copyRepeatingNodesUsingPredicateResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="copyRepeatingNodesUsingPredicateError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="copyRepeatingNodesUsingPredicatePortType">
    <operation name="copyRepeatingNodesUsingPredicateOperation">
      <input message="tns:copyRepeatingNodesUsingPredicateRequest"/>
      <output message="tns:copyRepeatingNodesUsingPredicateResponse"/>
      <fault message="tns:copyRepeatingNodesUsingPredicateError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="copyRepeatingNodesUsingPredicateBinding" type="tns:copyRepeatingNodesUsingPredicatePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="copyRepeatingNodesUsingPredicateOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="copyRepeatingNodesUsingPredicateService">
    <port name="copyRepeatingNodesUsingPredicatePort" binding="tns:copyRepeatingNodesUsingPredicateBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <message name="input">
        <part name="part1" element="ns:Employee"/>
    </message>
    <message name="output">
        <part name="part1" element="ns:Employee"/>
    </message>
    <portType name="portType1">
        <operation name="operation1">
            <input name="input1" message="tns:input"/>
            <output name="output1" message="tns:output"/>
        </operation>
    </portType>
    <binding name="RepeatingNodeExampleBinding" type="tns:portType1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="operation1">
            <soap:operation soapAction="Operation1"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="RepeatingNodeExampleService">
        <port binding="tns:RepeatingNodeExampleBinding" name="RepeatingNodeExamplePort">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/RepeatingNodeExample"/>
        </port>
    </service>
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="partnerlinktyperole1" portType="tns:portType1"/>
    </plink:partnerLinkType>
</definitions>
