driver-tests/bpelse/assign/AssignBpel/src/Assign/echoNegativeIntegerDataType.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://stc.com/echoNegativeIntegerDataType" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="echoNegativeIntegerDataType" targetNamespace="http://stc.com/echoNegativeIntegerDataType">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://stc.com/echoNegativeIntegerDataType">
            <xsd:element name="item">
                <xsd:complexType>
           	    <xsd:sequence>
			<xsd:element name="string" type="xsd:string"/>
                    	<xsd:element name="normalizedString" type="xsd:normalizedString"/>
                    	<xsd:element name="token" type="xsd:token"/>
                    	<xsd:element name="base64Binary" type="xsd:base64Binary"/>
                    	<xsd:element name="hexBinary" type="xsd:hexBinary"/>
                    	<xsd:element name="integer" type="xsd:integer"/>
                    	<xsd:element name="positiveInteger" type="xsd:positiveInteger"/>
                    	<xsd:element name="negativeInteger" type="xsd:negativeInteger"/>
                    	<xsd:element name="nonNegativeInteger" type="xsd:nonNegativeInteger"/>
                    	<xsd:element name="nonPositiveInteger" type="xsd:nonPositiveInteger"/>
                    	<xsd:element name="long" type="xsd:long"/>
                    	<xsd:element name="unsignedLong" type="xsd:unsignedLong"/>
                    	<xsd:element name="int" type="xsd:int"/>
                    	<xsd:element name="unsignedInt" type="xsd:unsignedInt"/>
                    	<xsd:element name="short" type="xsd:short"/>
                    	<xsd:element name="unsignedShort" type="xsd:unsignedShort"/>
                    	<xsd:element name="byte" type="xsd:byte"/>
                    	<xsd:element name="unsignedByte" type="xsd:unsignedByte"/>
                    	<xsd:element name="decimal" type="xsd:decimal"/>
                    	<xsd:element name="float" type="xsd:float"/>
                    	<xsd:element name="double" type="xsd:double"/>
                    	<xsd:element name="boolean" type="xsd:boolean"/>
                    	<xsd:element name="duration" type="xsd:duration"/>
                    	<xsd:element name="dateTime" type="xsd:dateTime"/>
                    	<xsd:element name="date" type="xsd:date"/>
                    	<xsd:element name="time" type="xsd:time"/>
                    	<xsd:element name="gYear" type="xsd:gYear"/>
                    	<xsd:element name="gYearMonth" type="xsd:gYearMonth"/>
                    	<xsd:element name="gMonth" type="xsd:gMonth"/>
                    	<xsd:element name="gMonthDay" type="xsd:gMonthDay"/>
                    	<xsd:element name="gDay" type="xsd:gDay"/>
                    	<xsd:element name="Name" type="xsd:Name"/>
                    	<xsd:element name="QName" type="xsd:QName"/>
                    	<xsd:element name="NCName" type="xsd:NCName"/>
                    	<xsd:element name="anyURI" type="xsd:anyURI"/>
                    	<xsd:element name="language" type="xsd:language"/>
                    	<xsd:element name="ID" type="xsd:ID"/>
                    	<xsd:element name="IDREF" type="xsd:IDREF"/>
                    	<xsd:element name="IDREFS" type="xsd:IDREFS"/>
                    	<xsd:element name="ENTITY" type="xsd:ENTITY"/>
                    	<xsd:element name="ENTITIES" type="xsd:ENTITIES"/>
                    	<xsd:element name="NMTOKEN" type="xsd:NMTOKEN"/>
                    	<xsd:element name="NMTOKENS" type="xsd:NMTOKENS"/> 
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="echoNegativeIntegerDataType">
        <part element="tns:item" name="part"/>
    </message>
    <portType name="echoNegativeIntegerDataType">
        <operation name="echoNegativeIntegerDataType">
            <input message="tns:echoNegativeIntegerDataType"/>
            <output message="tns:echoNegativeIntegerDataType"/>
        </operation>
    </portType>
    <binding name="Binding" type="tns:echoNegativeIntegerDataType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="echoNegativeIntegerDataType">
            <soap:operation soapAction="echoNegativeIntegerDataType"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="echoNegativeIntegerDataTypeService">
        <port binding="tns:Binding" name="port">
            <soap:address location="http://localhost:${HttpDefaultPort}/echoNegativeIntegerDataType"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="SLT">
        <plnk:role name="server" portType="tns:echoNegativeIntegerDataType"/>
    </plnk:partnerLinkType>
</definitions>
