contrib-imola/corba-bc/integration-test/test-consumer-fromidl-complex-fault/consumer-fromidl-complex-fault-jbi4corba-consumer/src/main/resources/EchoFault.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EchoFault" targetNamespace="urn:jbi4corba/test-consumer-fromidl-complex-fault" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:jbi4corba/test-consumer-fromidl-complex-fault" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:imolacorba="uri://schemas.imola.it/jbi/wsdl-extensions/corba/">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://testconsumerfromidlfault.test.jbi4corba.imolinfo.it/" xmlns="http://testconsumerfromidlfault.test.jbi4corba.imolinfo.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="echoStruct">
                <xs:sequence>
                    <xs:element name="fieldBoolean" type="xs:boolean"/>
                    <xs:element name="fieldChar" type="xs:unsignedShort"/>
                    <xs:element name="fieldLong" type="xs:int"/>
                    <xs:element minOccurs="0" name="fieldString" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:jbi4corba/test-consumer-fromidl-complex-fault" xmlns:ns0="http://testconsumerfromidlfault.test.jbi4corba.imolinfo.it/" xmlns:tns="urn:jbi4corba/test-consumer-fromidl-complex-fault" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://testconsumerfromidlfault.test.jbi4corba.imolinfo.it/"/>
            <xsd:element name="EchoSimpleException" type="tns:EchoSimpleException"/>
            <xsd:complexType name="EchoSimpleException">
                <xsd:sequence>
                    <xsd:element name="reason" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="EchoComplexException" type="tns:EchoComplexException"/>
            <xsd:complexType name="EchoComplexException">
                <xsd:sequence>
                    <xsd:element name="reason" nillable="true" type="ns0:echoStruct"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="echo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="msg" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="EchoComplexException">
        <wsdl:part name="EchoComplexException" element="tns:EchoComplexException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="EchoSimpleException">
        <wsdl:part name="EchoSimpleException" element="tns:EchoSimpleException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo">
        <wsdl:part name="parameters" element="tns:echo">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoResponse">
        <wsdl:part name="parameters" element="tns:echoResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EchoFaultOperations">
        <wsdl:operation name="echo">
            <wsdl:input name="echo" message="tns:echo">
            </wsdl:input>
            <wsdl:output name="echoResponse" message="tns:echoResponse">
            </wsdl:output>
            <wsdl:fault name="EchoComplexException" message="tns:EchoComplexException">
            </wsdl:fault>
            <wsdl:fault name="EchoSimpleException" message="tns:EchoSimpleException">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EchoFaultOperationsCorbaBinding" type="tns:EchoFaultOperations">
        <imolacorba:binding>
            <imolacorba:idl>
//IDL
module it{
	module imolinfo{
		module jbi4corba{
			module test{
				module testconsumerfromidlfault{
		
                                    struct EchoStruct {
                                        boolean            fieldBoolean;
                                        char               fieldChar;
                                        string             fieldString;
                                        long               fieldLong;
                                    };								            				
		            				
                                    exception EchoComplexException {
            				EchoStruct reason;
                                    };       		       
            				
                                    exception EchoSimpleException {
            				string reason;
                                    };       				

                                    interface EchoFault {
					string echo(in string msg) raises (EchoSimpleException, EchoComplexException);
                                    };
				};
			};
		};
	};
};
            </imolacorba:idl>
        </imolacorba:binding>
        <wsdl:operation name="echo">
            <wsdl:input name="echo">
            </wsdl:input>
            <wsdl:output name="echoResponse">
            </wsdl:output>
            <wsdl:fault name="EchoComplexException">
            </wsdl:fault>
            <wsdl:fault name="EchoSimpleException">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EchoFault">
        <wsdl:port name="EchoFaultOperationsPort" binding="tns:EchoFaultOperationsCorbaBinding">
            <imolacorba:address name="EchoFault" localizationType="NameService">
                <imolacorba:orb>
                    <imolacorba:property name="org.omg.CORBA.ORBInitialPort" value="1050"/>
                    <imolacorba:property name="org.omg.CORBA.ORBClass" value="com.sun.corba.ee.impl.orb.ORBImpl"/>
                    <imolacorba:property name="org.omg.CORBA.ORBInitialHost" value="localhost"/>
                </imolacorba:orb>
            </imolacorba:address>
        </wsdl:port>
    </wsdl:service>
    <plnk:partnerLinkType name="EchoFaultOperations">
        <plnk:role name="EchoFaultOperationsPortTypeRole" portType="tns:EchoFaultOperations"/>
    </plnk:partnerLinkType>
</wsdl:definitions>
