ojc-core/encodersl/encoder-coco/test/data/JCAPS51/BXCFTLCP.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="BXCFTLCP">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName>BXCFTLCP</coco:originalName>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="HLQ1-CP-COMMON-DATA" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>:FTL:-CP-COMMON-DATA</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="HLQ1-CP-REC-TYPE" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-CP-REC-TYPE</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-CP-VIC" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-CP-VIC</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-CP-DATE-YYDDD" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-CP-DATE-YYDDD</coco:originalName>
                                        <coco:picture>S9(005)</coco:picture>
                                        <coco:usage>
                                            <coco:comp-3/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-CP-TIME-HHMMSS" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-CP-TIME-HHMMSS</coco:originalName>
                                        <coco:picture>S9(006)</coco:picture>
                                        <coco:usage>
                                            <coco:comp-3/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-CP-SRCE-STATION" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-CP-SRCE-STATION</coco:originalName>
                                        <coco:picture>S9(006)</coco:picture>
                                        <coco:usage>
                                            <coco:comp-3/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="HLQ1-CP-PCR-DATA-PCR-RECORD" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>:FTL:-CP-PCR-DATA-PCR-RECORD</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="HLQ1-CP-PCR-DATA" minOccurs="8" maxOccurs="8">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-CP-PCR-DATA</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="HLQ1-CP-PCR-PCR" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-CP-PCR-PCR</coco:originalName>
                                                    <coco:picture>X(04)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-CP-PCR-HIGH-DIV-LVL" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-CP-PCR-HIGH-DIV-LVL</coco:originalName>
                                                    <coco:picture>X(02)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-CP-PCR-DEB-VOL" minOccurs="1" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-CP-PCR-DEB-VOL</coco:originalName>
                                                    <coco:picture>S9(09)</coco:picture>
                                                    <coco:usage>
                                                        <coco:comp-3/>
                                                    </coco:usage>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-CP-PCR-ACQ-VOL" minOccurs="1" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-CP-PCR-ACQ-VOL</coco:originalName>
                                                    <coco:picture>S9(09)</coco:picture>
                                                    <coco:usage>
                                                        <coco:comp-3/>
                                                    </coco:usage>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-CP-PCR-FM-VOL" minOccurs="1" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-CP-PCR-FM-VOL</coco:originalName>
                                                    <coco:picture>S9(09)</coco:picture>
                                                    <coco:usage>
                                                        <coco:comp-3/>
                                                    </coco:usage>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-CP-PCR-ADV-VOL" minOccurs="1" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-CP-PCR-ADV-VOL</coco:originalName>
                                                    <coco:picture>S9(09)</coco:picture>
                                                    <coco:usage>
                                                        <coco:comp-3/>
                                                    </coco:usage>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-CP-PCR-OTH-VOL" minOccurs="1" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-CP-PCR-OTH-VOL</coco:originalName>
                                                    <coco:picture>S9(09)</coco:picture>
                                                    <coco:usage>
                                                        <coco:comp-3/>
                                                    </coco:usage>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="FILLER1" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:nameFiller/>
                                                    <coco:picture>X(04)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>