ojc-core/encodersl/encoder-coco/test/data/JCAPS51/BXCFTLS1.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="BXCFTLS1">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName>BXCFTLS1</coco:originalName>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="HLQ1-S1-COMMON-DATA" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>:FTL:-S1-COMMON-DATA</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="HLQ1-S1-REC-TYPE" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-S1-REC-TYPE</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-S1-VIC" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-S1-VIC</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-S1-DATE-YYDDD" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-S1-DATE-YYDDD</coco:originalName>
                                        <coco:picture>S9(005)</coco:picture>
                                        <coco:usage>
                                            <coco:comp-3/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-S1-TIME-HHMMSS" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-S1-TIME-HHMMSS</coco:originalName>
                                        <coco:picture>S9(006)</coco:picture>
                                        <coco:usage>
                                            <coco:comp-3/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-S1-SRCE-STATION" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-S1-SRCE-STATION</coco:originalName>
                                        <coco:picture>S9(006)</coco:picture>
                                        <coco:usage>
                                            <coco:comp-3/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="HLQ1-S1-ONUS-STATS" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>:FTL:-S1-ONUS-STATS</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="HLQ1-S1-TRAN-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-S1-TRAN-CODE</coco:originalName>
                                        <coco:picture>X(002)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-S1-DATA" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-S1-DATA</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="HLQ1-S1-ACQ-PCR" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-S1-ACQ-PCR</coco:originalName>
                                                    <coco:picture>X(004)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-S1-ON-US-COUNT-VISA" minOccurs="1" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-S1-ON-US-COUNT-VISA</coco:originalName>
                                                    <coco:picture>9(005)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-S1-ON-US-COUNT-MC" minOccurs="1" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-S1-ON-US-COUNT-MC</coco:originalName>
                                                    <coco:picture>9(005)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-S1-ON-US-COUNT-OTHERS" minOccurs="1" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-S1-ON-US-COUNT-OTHERS</coco:originalName>
                                                    <coco:picture>9(005)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-S1-LCS-FILE-UPDATES" minOccurs="1" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-S1-LCS-FILE-UPDATES</coco:originalName>
                                                    <coco:picture>9(006)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-S1-SPOOL-BLOCKS-SENT" minOccurs="1" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-S1-SPOOL-BLOCKS-SENT</coco:originalName>
                                                    <coco:picture>9(005)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-S1-ACQ-PCR-COUNTRY" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-S1-ACQ-PCR-COUNTRY</coco:originalName>
                                                    <coco:picture>9(003)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-S1-ACQ-PCR-REGION" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-S1-ACQ-PCR-REGION</coco:originalName>
                                                    <coco:picture>X(001)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>