ojc-core/encodersl/encoder-coco/test/data/JCAPS51/BXCFTLFM.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="BXCFTLFM">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName>BXCFTLFM</coco:originalName>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="HLQ1-FM-COMMON-DATA" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>:FTL:-FM-COMMON-DATA</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="HLQ1-FM-REC-TYPE" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-REC-TYPE</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-VIC" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-VIC</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-DATE-YYDDD" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-DATE-YYDDD</coco:originalName>
                                        <coco:picture>S9(005)</coco:picture>
                                        <coco:usage>
                                            <coco:comp-3/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-TIME-HHMMSS" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-TIME-HHMMSS</coco:originalName>
                                        <coco:picture>S9(006)</coco:picture>
                                        <coco:usage>
                                            <coco:comp-3/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-SRCE-STATION" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-SRCE-STATION</coco:originalName>
                                        <coco:picture>S9(006)</coco:picture>
                                        <coco:usage>
                                            <coco:comp-3/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="HLQ1-FILE-MAINTENCE-RECORD" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>:FTL:-FILE-MAINTENCE-RECORD</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="HLQ1-FM-DEST-STATION" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-DEST-STATION</coco:originalName>
                                        <coco:picture>S9(006)</coco:picture>
                                        <coco:usage>
                                            <coco:comp-3/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-UPDT-STATUS" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-UPDT-STATUS</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-TRAN-CODE" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-TRAN-CODE</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="HLQ1-FM-TRAN-CODE-1" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-TRAN-CODE-1</coco:originalName>
                                                    <coco:picture>X(001)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-FM-TRAN-CODE-2" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-TRAN-CODE-2</coco:originalName>
                                                    <coco:picture>X(001)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="HLQ1-FM-CARD-NUMBER" minOccurs="0" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-CARD-NUMBER</coco:originalName>
                                        <coco:picture>X(028)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-MCFS-KEY-DATA" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-MCFS-KEY-DATA</coco:originalName>
                                        <coco:redefine>HLQ1-FM-CARD-NUMBER</coco:redefine>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="HLQ1-FM-MCFS-KEY" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-MCFS-KEY</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="HLQ1-FM-MCFS-CRDACCPT-ID-F42" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-FM-MCFS-CRDACCPT-ID-F42</coco:originalName>
                                                                <coco:picture>X(15)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="HLQ1-FM-MCFS-CRDACPT-TRMID-F41" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-FM-MCFS-CRDACPT-TRMID-F41</coco:originalName>
                                                                <coco:picture>X(08)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="FILLER1" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:nameFiller/>
                                                    <coco:picture>X(05)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="HLQ1-FM-CARDTYPE" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-CARDTYPE</coco:originalName>
                                        <coco:picture>X(01)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-OPER-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-OPER-ID</coco:originalName>
                                        <coco:picture>X(003)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-TEXT-DATA" minOccurs="0" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-TEXT-DATA</coco:originalName>
                                        <coco:picture>X(025)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="FILLER2" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:nameFiller/>
                                        <coco:redefine>HLQ1-FM-TEXT-DATA</coco:redefine>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="HLQ1-FM-ERROR-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-ERROR-CODE</coco:originalName>
                                                    <coco:picture>X(002)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-FM-ERROR-MSG" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-ERROR-MSG</coco:originalName>
                                                    <coco:picture>X(023)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="HLQ1-FM-ISS-BIN" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-ISS-BIN</coco:originalName>
                                        <coco:picture>S9(006)</coco:picture>
                                        <coco:usage>
                                            <coco:comp-3/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-ISS-PCR" minOccurs="0" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-ISS-PCR</coco:originalName>
                                        <coco:picture>X(004)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-UPDATING-PCR" minOccurs="0" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-UPDATING-PCR</coco:originalName>
                                        <coco:redefine>HLQ1-FM-ISS-PCR</coco:redefine>
                                        <coco:picture>X(004)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-ISS-REGION" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-ISS-REGION</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-FILETYPE" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-FILETYPE</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-PURGE-DATE-YYDDD" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-PURGE-DATE-YYDDD</coco:originalName>
                                        <coco:picture>S9(005)</coco:picture>
                                        <coco:usage>
                                            <coco:comp-3/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-EXC-DATA" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-EXC-DATA</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="HLQ1-FM-REGIONS" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-REGIONS</coco:originalName>
                                                    <coco:picture>X(016)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-FM-ACTION-CODE" minOccurs="2" maxOccurs="2">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-ACTION-CODE</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="HLQ1-FM-ACT-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-FM-ACT-CODE</coco:originalName>
                                                                <coco:picture>X(002)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="HLQ1-FM-ISS-INST-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-ISS-INST-ID</coco:originalName>
                                        <coco:picture>X(011)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-UPDT-MODE" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-UPDT-MODE</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-UPDT-FMT" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-UPDT-FMT</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-CRB-SUB-REGIONS" minOccurs="0" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-CRB-SUB-REGIONS</coco:originalName>
                                        <coco:picture>X(006)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-CRB-SUBREG-REDEF" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-CRB-SUBREG-REDEF</coco:originalName>
                                        <coco:redefine>HLQ1-FM-CRB-SUB-REGIONS</coco:redefine>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="HLQ1-FM-CRB-SUB-REGA" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-CRB-SUB-REGA</coco:originalName>
                                                    <coco:picture>X(001)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-FM-CRB-SUB-REGB" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-CRB-SUB-REGB</coco:originalName>
                                                    <coco:picture>X(001)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-FM-CRB-SUB-REGC" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-CRB-SUB-REGC</coco:originalName>
                                                    <coco:picture>X(001)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-FM-CRB-SUB-REGD" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-CRB-SUB-REGD</coco:originalName>
                                                    <coco:picture>X(001)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-FM-CRB-SUB-REGE" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-CRB-SUB-REGE</coco:originalName>
                                                    <coco:picture>X(001)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-FM-CRB-SUB-REGF" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-CRB-SUB-REGF</coco:originalName>
                                                    <coco:picture>X(001)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="HLQ1-FM-EXC-FLAG" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-EXC-FLAG</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-PIN-ALG" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-PIN-ALG</coco:originalName>
                                        <coco:picture>X(002)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-FILE-NAME" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-FILE-NAME</coco:originalName>
                                        <coco:picture>X(002)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-TELECODE" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-TELECODE</coco:originalName>
                                        <coco:picture>X(004)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-VBOC-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-VBOC-ID</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-AVS-POST-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-AVS-POST-CODE</coco:originalName>
                                        <coco:picture>X(009)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-AVS-RESERV-ADDR-VER" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-AVS-RESERV-ADDR-VER</coco:originalName>
                                        <coco:picture>X(005)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-PIN-KEY-INDEX" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-PIN-KEY-INDEX</coco:originalName>
                                        <coco:picture>X(002)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-PIN-VERIF-VALUE" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-PIN-VERIF-VALUE</coco:originalName>
                                        <coco:picture>X(004)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-HIST-ACDB-UPD-SOURCE" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-HIST-ACDB-UPD-SOURCE</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-HIST-OTHER-UPD-SOURCE" minOccurs="0" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-HIST-OTHER-UPD-SOURCE</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-MCFS-HIST-UPD-SOURCE" minOccurs="0" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-MCFS-HIST-UPD-SOURCE</coco:originalName>
                                        <coco:redefine>HLQ1-FM-HIST-OTHER-UPD-SOURCE</coco:redefine>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-AVS-HIST-UPD-SOURCE" minOccurs="0" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-AVS-HIST-UPD-SOURCE</coco:originalName>
                                        <coco:redefine>HLQ1-FM-HIST-OTHER-UPD-SOURCE</coco:redefine>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-LAST-NON-APPR-UPD-SRCE" minOccurs="0" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-LAST-NON-APPR-UPD-SRCE</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-LAST-TELE-UPD-SRCE" minOccurs="0" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-LAST-TELE-UPD-SRCE</coco:originalName>
                                        <coco:redefine>HLQ1-FM-LAST-NON-APPR-UPD-SRCE</coco:redefine>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-AVS-LAST-UPD-SRCE" minOccurs="0" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-AVS-LAST-UPD-SRCE</coco:originalName>
                                        <coco:redefine>HLQ1-FM-LAST-NON-APPR-UPD-SRCE</coco:redefine>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-MCFS-LAST-UPD-SRCE" minOccurs="0" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-MCFS-LAST-UPD-SRCE</coco:originalName>
                                        <coco:redefine>HLQ1-FM-LAST-NON-APPR-UPD-SRCE</coco:redefine>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-I110R-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-I110R-CODE</coco:originalName>
                                        <coco:picture>X(002)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-ISSUING-PCR" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-ISSUING-PCR</coco:originalName>
                                        <coco:picture>X(004)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-MCFS-MEM-IN-TRN-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-MCFS-MEM-IN-TRN-CODE</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-MCFS-F42-LGTH" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-MCFS-F42-LGTH</coco:originalName>
                                        <coco:picture>9(002)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-MCFS-F41-LGTH" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-MCFS-F41-LGTH</coco:originalName>
                                        <coco:picture>9(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-MCFS-SERVICE-TYPE" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-MCFS-SERVICE-TYPE</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-MCFS-ERR-DATA" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-MCFS-ERR-DATA</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="HLQ1-FM-MCFS-ERR-ACQ-BIN-LGTH" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-MCFS-ERR-ACQ-BIN-LGTH</coco:originalName>
                                                    <coco:picture>X(002)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-FM-MCFS-ERR-ACQ-BIN" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-MCFS-ERR-ACQ-BIN</coco:originalName>
                                                    <coco:picture>X(011)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-FM-MCFS-ERR-UPDATE-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-MCFS-ERR-UPDATE-CODE</coco:originalName>
                                                    <coco:picture>X(001)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-FM-MCFS-ERR-PURGE-DATE" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-MCFS-ERR-PURGE-DATE</coco:originalName>
                                                    <coco:picture>X(006)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-FM-MCFS-ERRU-SVCDATA" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-MCFS-ERRU-SVCDATA</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="HLQ1-FM-MCFS-ERRU-MCC-F18" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-FM-MCFS-ERRU-MCC-F18</coco:originalName>
                                                                <coco:picture>X(004)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="HLQ1-FM-MCFS-ERRU-NAME-LOC-F43" minOccurs="1" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-FM-MCFS-ERRU-NAME-LOC-F43</coco:originalName>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="HLQ1-FM-MCFS-ERRU-NAME-F43" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>20</coco:level>
                                                                            <coco:originalName>:FTL:-FM-MCFS-ERRU-NAME-F43</coco:originalName>
                                                                            <coco:picture>X(025)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="HLQ1-FM-MCFS-ERRU-CITY-F43" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>20</coco:level>
                                                                            <coco:originalName>:FTL:-FM-MCFS-ERRU-CITY-F43</coco:originalName>
                                                                            <coco:picture>X(013)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="HLQ1-FM-MCFS-ERRU-CTRY-F43" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>20</coco:level>
                                                                            <coco:originalName>:FTL:-FM-MCFS-ERRU-CTRY-F43</coco:originalName>
                                                                            <coco:picture>X(002)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="HLQ1-FM-MCFS-ERRU-F59-LGTH" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-FM-MCFS-ERRU-F59-LGTH</coco:originalName>
                                                                <coco:picture>X(002)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="HLQ1-FM-MCFS-ERRU-USA-F59" minOccurs="0" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-FM-MCFS-ERRU-USA-F59</coco:originalName>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="HLQ1-FM-MCFS-ERRU-USA-STATE-F59" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>20</coco:level>
                                                                            <coco:originalName>:FTL:-FM-MCFS-ERRU-USA-STATE-F59</coco:originalName>
                                                                            <coco:picture>X(002)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="HLQ1-FM-MCFS-ERRU-USA-CNTY-F59" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>20</coco:level>
                                                                            <coco:originalName>:FTL:-FM-MCFS-ERRU-USA-CNTY-F59</coco:originalName>
                                                                            <coco:picture>X(003)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="HLQ1-FM-MCFS-ERRU-USA-ZIP-F59" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>20</coco:level>
                                                                            <coco:originalName>:FTL:-FM-MCFS-ERRU-USA-ZIP-F59</coco:originalName>
                                                                            <coco:picture>X(009)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="HLQ1-FM-MCFS-ERRU-CAN-F59" minOccurs="0" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-FM-MCFS-ERRU-CAN-F59</coco:originalName>
                                                                <coco:redefine>HLQ1-FM-MCFS-ERRU-USA-F59</coco:redefine>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="HLQ1-FM-MCFS-ERRU-CAN-PROV-F59" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>20</coco:level>
                                                                            <coco:originalName>:FTL:-FM-MCFS-ERRU-CAN-PROV-F59</coco:originalName>
                                                                            <coco:picture>X(002)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="FILLER3" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>20</coco:level>
                                                                            <coco:nameFiller/>
                                                                            <coco:picture>X(012)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="HLQ1-FM-MCFS-ERRU-WRLD-F59" minOccurs="0" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-FM-MCFS-ERRU-WRLD-F59</coco:originalName>
                                                                <coco:redefine>HLQ1-FM-MCFS-ERRU-USA-F59</coco:redefine>
                                                                <coco:picture>X(014)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="HLQ1-FM-MCFS-ERRV-SVCDATA" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-MCFS-ERRV-SVCDATA</coco:originalName>
                                                    <coco:redefine>HLQ1-FM-MCFS-ERRU-SVCDATA</coco:redefine>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="HLQ1-FM-MCFS-ERRV-MCC" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-FM-MCFS-ERRV-MCC</coco:originalName>
                                                                <coco:picture>X(004)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="FILLER4" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:nameFiller/>
                                                                <coco:picture>X(056)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="HLQ1-FM-MCFS-ERRX-ERR-SVCDATA" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-MCFS-ERRX-ERR-SVCDATA</coco:originalName>
                                                    <coco:redefine>HLQ1-FM-MCFS-ERRU-SVCDATA</coco:redefine>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="HLQ1-FM-MCFS-ERRX-TERMID" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-FM-MCFS-ERRX-TERMID</coco:originalName>
                                                                <coco:picture>X(015)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="FILLER5" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:nameFiller/>
                                                                <coco:picture>X(045)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="HLQ1-FM-MCFS-ERRD-ERR-SVCDATA" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-MCFS-ERRD-ERR-SVCDATA</coco:originalName>
                                                    <coco:redefine>HLQ1-FM-MCFS-ERRU-SVCDATA</coco:redefine>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="HLQ1-FM-MCFS-ERRD-TERMID" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-FM-MCFS-ERRD-TERMID</coco:originalName>
                                                                <coco:picture>X(015)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="FILLER6" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:nameFiller/>
                                                                <coco:picture>X(045)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="HLQ1-FM-MCFS-ERRA-SVCDATA" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-MCFS-ERRA-SVCDATA</coco:originalName>
                                                    <coco:redefine>HLQ1-FM-MCFS-ERRU-SVCDATA</coco:redefine>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="HLQ1-FM-MCFS-ERRA-TERMID" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-FM-MCFS-ERRA-TERMID</coco:originalName>
                                                                <coco:picture>X(015)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="HLQ1-FM-MCFS-ERRA-VENDID" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-FM-MCFS-ERRA-VENDID</coco:originalName>
                                                                <coco:picture>X(01)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="FILLER7" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:nameFiller/>
                                                                <coco:picture>X(044)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="HLQ1-FM-MCFS-ERRM-ERR-SVCDATA" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-FM-MCFS-ERRM-ERR-SVCDATA</coco:originalName>
                                                    <coco:redefine>HLQ1-FM-MCFS-ERRU-SVCDATA</coco:redefine>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="HLQ1-FM-MCFS-ERRM-MCC" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-FM-MCFS-ERRM-MCC</coco:originalName>
                                                                <coco:picture>X(004)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="HLQ1-FM-MCFS-ERRM-POST-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-FM-MCFS-ERRM-POST-CODE</coco:originalName>
                                                                <coco:picture>X(009)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="HLQ1-FM-MCFS-ERRM-NAME-F43" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-FM-MCFS-ERRM-NAME-F43</coco:originalName>
                                                                <coco:picture>X(025)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="HLQ1-FM-MCFS-ERRM-CITY-F43" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-FM-MCFS-ERRM-CITY-F43</coco:originalName>
                                                                <coco:picture>X(013)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="HLQ1-FM-MCFS-ERRM-CTRY-F43" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-FM-MCFS-ERRM-CTRY-F43</coco:originalName>
                                                                <coco:picture>X(002)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="FILLER8" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:nameFiller/>
                                                                <coco:picture>X(007)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="HLQ1-FM-AVS-UPDATE-IND" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-AVS-UPDATE-IND</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-PVV-UPDATE-IND" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-PVV-UPDATE-IND</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-STATION-PCR" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-STATION-PCR</coco:originalName>
                                        <coco:picture>X(004)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-FM-STATION-VAP" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-FM-STATION-VAP</coco:originalName>
                                        <coco:picture>X(006)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>