ojc-core/encodersl/encoder-coco/test/data/JCAPS51/BXCFTLMS.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="BXCFTLMS">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName>BXCFTLMS</coco:originalName>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="HLQ1-MS-COMMON-DATA" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>:FTL:-MS-COMMON-DATA</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="HLQ1-MS-REC-TYPE" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-MS-REC-TYPE</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-MS-VIC" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-MS-VIC</coco:originalName>
                                        <coco:picture>X(001)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-MS-DATE-YYDDD" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-MS-DATE-YYDDD</coco:originalName>
                                        <coco:picture>S9(005)</coco:picture>
                                        <coco:usage>
                                            <coco:comp-3/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-MS-TIME-HHMMSS" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-MS-TIME-HHMMSS</coco:originalName>
                                        <coco:picture>S9(006)</coco:picture>
                                        <coco:usage>
                                            <coco:comp-3/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="HLQ1-MS-SRCE-STATION" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-MS-SRCE-STATION</coco:originalName>
                                        <coco:picture>S9(006)</coco:picture>
                                        <coco:usage>
                                            <coco:comp-3/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="HLQ1-MS-BILLING-STATS-RECORD" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>:FTL:-MS-BILLING-STATS-RECORD</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="HLQ1-MS-BILLING-DATA" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>:FTL:-MS-BILLING-DATA</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="HLQ1-MS-ACQ-PCR" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-MS-ACQ-PCR</coco:originalName>
                                                    <coco:picture>X(004)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-MS-BILLING-COUNTS" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-MS-BILLING-COUNTS</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="HLQ1-MS-COUNT" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-MS-COUNT</coco:originalName>
                                                                <coco:picture>S9(004)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:binary/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="HLQ1-MS-ISS-BIN" minOccurs="1" maxOccurs="1" type="xs:int">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-MS-ISS-BIN</coco:originalName>
                                                                <coco:picture>S9(006)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:comp-3/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="HLQ1-MS-ISS-INST-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-MS-ISS-INST-ID</coco:originalName>
                                                                <coco:picture>X(011)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="HLQ1-MS-ACQ-PCR-COUNTRY" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-MS-ACQ-PCR-COUNTRY</coco:originalName>
                                                    <coco:picture>9(003)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-MS-ACQ-PCR-REGION" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-MS-ACQ-PCR-REGION</coco:originalName>
                                                    <coco:picture>X(001)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-MS-TOD" minOccurs="0" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-MS-TOD</coco:originalName>
                                                    <coco:picture>X(012)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-MS-TOD-REDEF" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-MS-TOD-REDEF</coco:originalName>
                                                    <coco:redefine>HLQ1-MS-TOD</coco:redefine>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="HLQ1-MS-TOD-MMDDYY" minOccurs="1" maxOccurs="1" type="xs:int">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-MS-TOD-MMDDYY</coco:originalName>
                                                                <coco:picture>9(006)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="HLQ1-MS-TOD-HHMMSS" minOccurs="1" maxOccurs="1" type="xs:int">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-MS-TOD-HHMMSS</coco:originalName>
                                                                <coco:picture>9(006)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="HLQ1-MS-BLK" minOccurs="0" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-MS-BLK</coco:originalName>
                                                    <coco:picture>X(002)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="HLQ1-MS-BLK-REDEF" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>:FTL:-MS-BLK-REDEF</coco:originalName>
                                                    <coco:redefine>HLQ1-MS-BLK</coco:redefine>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="HLQ1-MS-BLK-NUM" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>:FTL:-MS-BLK-NUM</coco:originalName>
                                                                <coco:picture>9(004)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:binary/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>