ojc-core/encodersl/encoder-coco/test/data/JCAPS51/cferrecr.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="FILLER">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName xsi:nil="true"/>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ECR-KEY" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>ECR-KEY</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ECR-PZ-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ECR-PZ-ID</coco:originalName>
                                        <coco:picture>XX</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ECR-CI-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ECR-CI-ID</coco:originalName>
                                        <coco:picture>XX</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ECR-REC-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ECR-REC-ID</coco:originalName>
                                        <coco:picture>XX</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ECR-KEY1" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ECR-KEY1</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ECR-PA-KEY1" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>ECR-PA-KEY1</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ECR-ME-KEY1" minOccurs="1" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>ECR-ME-KEY1</coco:originalName>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="ECR-PA-GROUP" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>ECR-PA-GROUP</coco:originalName>
                                                                            <coco:picture>X(08)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="ECR-PA-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>ECR-PA-ID</coco:originalName>
                                                                            <coco:picture>X(09)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="ECR-PA-REL-NAME" minOccurs="1" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>ECR-PA-REL-NAME</coco:originalName>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="ECR-PA-REL" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>ECR-PA-REL</coco:originalName>
                                                                            <coco:picture>X</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="ECR-PA-ID-NAME" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>ECR-PA-ID-NAME</coco:originalName>
                                                                            <coco:picture>X(06)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="ECR-SYS-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>ECR-SYS-ID</coco:originalName>
                                                    <coco:picture>X</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="ECR-CL-KEY1" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>ECR-CL-KEY1</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="ECR-CL-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>ECR-CL-ID</coco:originalName>
                                                                <coco:picture>X(09)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="ECR-CL-GEN-X" minOccurs="1" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>ECR-CL-GEN-X</coco:originalName>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="ECR-CL-GEN" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>ECR-CL-GEN</coco:originalName>
                                                                            <coco:picture>99</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ECR-KEY-FIL" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ECR-KEY-FIL</coco:originalName>
                                        <coco:picture>XX</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ECR-ODO-CTRS" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>ECR-ODO-CTRS</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ECR-C-ODO-CTR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ECR-C-ODO-CTR</coco:originalName>
                                        <coco:picture>S9(4)</coco:picture>
                                        <coco:usage>
                                            <coco:binary/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ECR-CL-NFD-ODO-CTR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ECR-CL-NFD-ODO-CTR</coco:originalName>
                                        <coco:picture>S9(4)</coco:picture>
                                        <coco:usage>
                                            <coco:binary/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ECR-CL-FILL-ODO-CTR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ECR-CL-FILL-ODO-CTR</coco:originalName>
                                        <coco:picture>S9(4)</coco:picture>
                                        <coco:usage>
                                            <coco:binary/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ECR-CL-CUST-ODO-CTR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ECR-CL-CUST-ODO-CTR</coco:originalName>
                                        <coco:picture>S9(4)</coco:picture>
                                        <coco:usage>
                                            <coco:binary/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ECR-NFD-ODO-CTR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ECR-NFD-ODO-CTR</coco:originalName>
                                        <coco:picture>S9(4)</coco:picture>
                                        <coco:usage>
                                            <coco:binary/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ECR-FILL-ODO-CTR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ECR-FILL-ODO-CTR</coco:originalName>
                                        <coco:picture>S9(4)</coco:picture>
                                        <coco:usage>
                                            <coco:binary/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ECR-CUST-ODO-CTR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ECR-CUST-ODO-CTR</coco:originalName>
                                        <coco:picture>S9(4)</coco:picture>
                                        <coco:usage>
                                            <coco:binary/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ECR-CL-FIXED-DATA" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>ECR-CL-FIXED-DATA</coco:originalName>
                            <coco:picture>X(570)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ECR-C-INFO-G" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>ECR-C-INFO-G</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ECR-C-INFO" minOccurs="0" maxOccurs="3" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ECR-C-INFO</coco:originalName>
                                        <coco:picture>X(102)</coco:picture>
                                        <coco:occursDependOn>
                                            <coco:topElement>FILLER</coco:topElement>
                                            <coco:path>ECR-ODO-CTRS/ECR-C-ODO-CTR</coco:path>
                                        </coco:occursDependOn>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ECR-CL-NON-FIXED-DATA" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>ECR-CL-NON-FIXED-DATA</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ECR-CL-NFD-BYTE" minOccurs="0" maxOccurs="3262" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ECR-CL-NFD-BYTE</coco:originalName>
                                        <coco:picture>X</coco:picture>
                                        <coco:occursDependOn>
                                            <coco:topElement>FILLER</coco:topElement>
                                            <coco:path>ECR-ODO-CTRS/ECR-CL-NFD-ODO-CTR</coco:path>
                                        </coco:occursDependOn>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ECR-CL-FILL-AREA-G" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>ECR-CL-FILL-AREA-G</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ECR-CL-FILL-BYTE" minOccurs="0" maxOccurs="402" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ECR-CL-FILL-BYTE</coco:originalName>
                                        <coco:picture>X</coco:picture>
                                        <coco:occursDependOn>
                                            <coco:topElement>FILLER</coco:topElement>
                                            <coco:path>ECR-ODO-CTRS/ECR-CL-FILL-ODO-CTR</coco:path>
                                        </coco:occursDependOn>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ECR-CL-CUST-AREA-G" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>ECR-CL-CUST-AREA-G</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ECR-CL-CUST-BYTE" minOccurs="0" maxOccurs="100" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ECR-CL-CUST-BYTE</coco:originalName>
                                        <coco:picture>X</coco:picture>
                                        <coco:occursDependOn>
                                            <coco:topElement>FILLER</coco:topElement>
                                            <coco:path>ECR-ODO-CTRS/ECR-CL-CUST-ODO-CTR</coco:path>
                                        </coco:occursDependOn>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ECR-FIXED-DATA" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>ECR-FIXED-DATA</coco:originalName>
                            <coco:picture>X(1064)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ECR-NON-FIXED-DATA" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>ECR-NON-FIXED-DATA</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ECR-NFD-BYTE" minOccurs="0" maxOccurs="9636" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ECR-NFD-BYTE</coco:originalName>
                                        <coco:picture>X</coco:picture>
                                        <coco:occursDependOn>
                                            <coco:topElement>FILLER</coco:topElement>
                                            <coco:path>ECR-ODO-CTRS/ECR-NFD-ODO-CTR</coco:path>
                                        </coco:occursDependOn>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ECR-FILL-AREA-G" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>ECR-FILL-AREA-G</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ECR-FILL-BYTE" minOccurs="0" maxOccurs="600" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ECR-FILL-BYTE</coco:originalName>
                                        <coco:picture>X</coco:picture>
                                        <coco:occursDependOn>
                                            <coco:topElement>FILLER</coco:topElement>
                                            <coco:path>ECR-ODO-CTRS/ECR-FILL-ODO-CTR</coco:path>
                                        </coco:occursDependOn>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ECR-CUST-AREA-G" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>ECR-CUST-AREA-G</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ECR-CUST-BYTE" minOccurs="0" maxOccurs="100" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ECR-CUST-BYTE</coco:originalName>
                                        <coco:picture>X</coco:picture>
                                        <coco:occursDependOn>
                                            <coco:topElement>FILLER</coco:topElement>
                                            <coco:path>ECR-ODO-CTRS/ECR-CUST-ODO-CTR</coco:path>
                                        </coco:occursDependOn>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>