ojc-core/encodersl/encoder-coco/test/data/JCAPS51/DI-RESPONSE.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="DI-RESPONSE">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName>DI-RESPONSE</coco:originalName>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DI-REPLY-LAYOUT-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-REPLY-LAYOUT-ID</coco:originalName>
                            <coco:picture>X(5)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-EXT-TRANSACTION-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-EXT-TRANSACTION-CODE</coco:originalName>
                            <coco:picture>X(4)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-RETURN-CODE" minOccurs="1" maxOccurs="1" type="xs:short">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-RETURN-CODE</coco:originalName>
                            <coco:picture>9(1)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-ERROR-CODE" minOccurs="1" maxOccurs="1" type="xs:short">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-ERROR-CODE</coco:originalName>
                            <coco:picture>9(4)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-TELLER-NUMBER" minOccurs="1" maxOccurs="1" type="xs:int">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-TELLER-NUMBER</coco:originalName>
                            <coco:picture>9(6)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-TRN-SEQUENCE-NO" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-TRN-SEQUENCE-NO</coco:originalName>
                            <coco:picture>X(6)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-AM-PM-FLAG" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-AM-PM-FLAG</coco:originalName>
                            <coco:picture>X(1)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-APPLICATION-CODE" minOccurs="1" maxOccurs="1" type="xs:short">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-APPLICATION-CODE</coco:originalName>
                            <coco:picture>9(2)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-ACCOUNT-NUMBER" minOccurs="1" maxOccurs="1" type="xs:long">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-ACCOUNT-NUMBER</coco:originalName>
                            <coco:picture>9(16)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-CURRENCY-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-CURRENCY-CODE</coco:originalName>
                            <coco:picture>X(3)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-STOP-PAYMENT-INDICATOR" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-STOP-PAYMENT-INDICATOR</coco:originalName>
                            <coco:picture>X(1)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-ACCOUNT-STATUS-INDICATOR" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-ACCOUNT-STATUS-INDICATOR</coco:originalName>
                            <coco:picture>X(1)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-CURRENT-BALANCE" minOccurs="1" maxOccurs="1" type="xs:decimal">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-CURRENT-BALANCE</coco:originalName>
                            <coco:picture>S9(13)V9(2)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-AVAILABLE-BALANCE" minOccurs="1" maxOccurs="1" type="xs:decimal">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-AVAILABLE-BALANCE</coco:originalName>
                            <coco:picture>S9(13)V9(2)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-TODAY-ACTIVITY" minOccurs="1" maxOccurs="1" type="xs:decimal">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-TODAY-ACTIVITY</coco:originalName>
                            <coco:picture>S9(13)V9(2)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-DI-BUSINESS-DAY" minOccurs="1" maxOccurs="1" type="xs:int">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-DI-BUSINESS-DAY</coco:originalName>
                            <coco:picture>9(8)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-HOLDS-TOTAL" minOccurs="1" maxOccurs="1" type="xs:decimal">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-HOLDS-TOTAL</coco:originalName>
                            <coco:picture>S9(11)V9(2)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-ACCOUNT-TYPE" minOccurs="1" maxOccurs="1" type="xs:short">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-ACCOUNT-TYPE</coco:originalName>
                            <coco:picture>9(4)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-BRANCH-NO" minOccurs="1" maxOccurs="1" type="xs:short">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-BRANCH-NO</coco:originalName>
                            <coco:picture>9(4)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-INTEREST-RATE" minOccurs="1" maxOccurs="1" type="xs:decimal">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-INTEREST-RATE</coco:originalName>
                            <coco:picture>S9(3)V9(8)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DI-END-OF-REPLY-RECORD" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>DI-END-OF-REPLY-RECORD</coco:originalName>
                            <coco:picture>X(3)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>