ojc-core/encodersl/encoder-coco/test/data/JCAPS51/DMPLUS12-RECORD.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="DMPLUS12-RECORD">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName>DMPLUS12-RECORD</coco:originalName>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DMPLUS12-ORIGIN-HOST-NAME" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-ORIGIN-HOST-NAME</coco:originalName>
                            <coco:picture>X(20)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-TRANSACTION-DATE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-TRANSACTION-DATE</coco:originalName>
                            <coco:picture>X(14)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-TRANSACTION-SEQ" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-TRANSACTION-SEQ</coco:originalName>
                            <coco:picture>X(08)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-TRANSACTION-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-TRANSACTION-CODE</coco:originalName>
                            <coco:picture>X(10)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-TRANSACTION-VERSION" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-TRANSACTION-VERSION</coco:originalName>
                            <coco:picture>X(04)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-TRANSACTION-SEGMENT" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-TRANSACTION-SEGMENT</coco:originalName>
                            <coco:picture>X(04)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-TRANSACTION-ACTION" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-TRANSACTION-ACTION</coco:originalName>
                            <coco:picture>X(02)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-ORDER-NUMBER" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-ORDER-NUMBER</coco:originalName>
                            <coco:picture>X(30)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-ORDER-TYPE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-ORDER-TYPE</coco:originalName>
                            <coco:picture>X(04)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-ADDRESS-TYPE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-ADDRESS-TYPE</coco:originalName>
                            <coco:picture>X(01)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-ADDRESS-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-ADDRESS-ID</coco:originalName>
                            <coco:picture>X(30)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-NAME" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-NAME</coco:originalName>
                            <coco:picture>X(40)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-ADDRESS-LINE-1" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-ADDRESS-LINE-1</coco:originalName>
                            <coco:picture>X(40)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-ADDRESS-LINE-2" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-ADDRESS-LINE-2</coco:originalName>
                            <coco:picture>X(40)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-ADDRESS-LINE-3" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-ADDRESS-LINE-3</coco:originalName>
                            <coco:picture>X(40)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-CITY" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-CITY</coco:originalName>
                            <coco:picture>X(25)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-STATE-PROVINCE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-STATE-PROVINCE</coco:originalName>
                            <coco:picture>X(02)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-COUNTY-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-COUNTY-CODE</coco:originalName>
                            <coco:picture>X(03)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-COUNTRY-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-COUNTRY-CODE</coco:originalName>
                            <coco:picture>X(10)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-POSTAL-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-POSTAL-CODE</coco:originalName>
                            <coco:picture>X(10)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-ATTENTION-NAME" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-ATTENTION-NAME</coco:originalName>
                            <coco:picture>X(40)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-ATTENTION-TELEPHONE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-ATTENTION-TELEPHONE</coco:originalName>
                            <coco:picture>X(20)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-CONTACT-NAME" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-CONTACT-NAME</coco:originalName>
                            <coco:picture>X(40)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-CONTACT-TELEPHONE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-CONTACT-TELEPHONE</coco:originalName>
                            <coco:picture>X(20)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-FAX-NUMBER" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-FAX-NUMBER</coco:originalName>
                            <coco:picture>X(20)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-SECOND-CONTACT-NAME" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-SECOND-CONTACT-NAME</coco:originalName>
                            <coco:picture>X(40)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-SECOND-CONTACT-PHONE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-SECOND-CONTACT-PHONE</coco:originalName>
                            <coco:picture>X(20)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-BUYER-CONTACT-NAME" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-BUYER-CONTACT-NAME</coco:originalName>
                            <coco:picture>X(40)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-BUYER-CONTACT-PHONE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-BUYER-CONTACT-PHONE</coco:originalName>
                            <coco:picture>X(20)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-TEMPORARY-FLAG" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-TEMPORARY-FLAG</coco:originalName>
                            <coco:picture>X(01)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS12-ADDRESS-LINE-4" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS12-ADDRESS-LINE-4</coco:originalName>
                            <coco:picture>X(40)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>