ojc-core/encodersl/encoder-coco/test/data/JCAPS51/DMPLUS35-RECORD.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="DMPLUS35-RECORD">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName>DMPLUS35-RECORD</coco:originalName>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DMPLUS35-ORIGIN-HOST-NAME" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-ORIGIN-HOST-NAME</coco:originalName>
                            <coco:picture>X(20)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-TRANSACTION-DATE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-TRANSACTION-DATE</coco:originalName>
                            <coco:picture>X(14)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-TRANSACTION-SEQ" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-TRANSACTION-SEQ</coco:originalName>
                            <coco:picture>X(08)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-TRANSACTION-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-TRANSACTION-CODE</coco:originalName>
                            <coco:picture>X(10)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-TRANSACTION-VERSION" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-TRANSACTION-VERSION</coco:originalName>
                            <coco:picture>X(04)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-TRANSACTION-SEGMENT" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-TRANSACTION-SEGMENT</coco:originalName>
                            <coco:picture>X(04)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-TRANSACTION-ACTION" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-TRANSACTION-ACTION</coco:originalName>
                            <coco:picture>X(02)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-ORDER-NUMBER" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-ORDER-NUMBER</coco:originalName>
                            <coco:picture>X(30)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-ORDER-TYPE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-ORDER-TYPE</coco:originalName>
                            <coco:picture>X(04)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-DTL-LINE-NUM" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-DTL-LINE-NUM</coco:originalName>
                            <coco:picture>X(04)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-DTL-NUMERIC" minOccurs="0" maxOccurs="1" type="xs:short">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-DTL-NUMERIC</coco:originalName>
                            <coco:redefine>DMPLUS35-DTL-LINE-NUM</coco:redefine>
                            <coco:picture>9(04)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-SEQUENCE-NUM" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-SEQUENCE-NUM</coco:originalName>
                            <coco:picture>X(04)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-SEQUENCE-NUMERIC" minOccurs="0" maxOccurs="1" type="xs:short">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-SEQUENCE-NUMERIC</coco:originalName>
                            <coco:redefine>DMPLUS35-SEQUENCE-NUM</coco:redefine>
                            <coco:picture>9(04)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-ORDER-DTL-QTY" minOccurs="1" maxOccurs="1" type="xs:decimal">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-ORDER-DTL-QTY</coco:originalName>
                            <coco:picture>9(08)V999</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-PACKAGE-ITM-NUM" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-PACKAGE-ITM-NUM</coco:originalName>
                            <coco:picture>X(30)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-PACKAGE-QTY" minOccurs="0" maxOccurs="1" type="xs:decimal">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-PACKAGE-QTY</coco:originalName>
                            <coco:picture>9(08)V999</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-PACKAGE-QTY-ALF" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-PACKAGE-QTY-ALF</coco:originalName>
                            <coco:redefine>DMPLUS35-PACKAGE-QTY</coco:redefine>
                            <coco:picture>X(11)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-PKG-CUSTOMER-SKU" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-PKG-CUSTOMER-SKU</coco:originalName>
                            <coco:picture>X(30)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-PICKING-LINE-DTL-ID" minOccurs="0" maxOccurs="1" type="xs:long">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-PICKING-LINE-DTL-ID</coco:originalName>
                            <coco:picture>9(10)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-PICKING-LINE-DTL-ID-A" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-PICKING-LINE-DTL-ID-A</coco:originalName>
                            <coco:redefine>DMPLUS35-PICKING-LINE-DTL-ID</coco:redefine>
                            <coco:picture>X(10)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-DELIVERY-ID" minOccurs="0" maxOccurs="1" type="xs:long">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-DELIVERY-ID</coco:originalName>
                            <coco:picture>9(10)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS35-DELIVERY-ID-A" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS35-DELIVERY-ID-A</coco:originalName>
                            <coco:redefine>DMPLUS35-DELIVERY-ID</coco:redefine>
                            <coco:picture>X(10)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>