ojc-core/encodersl/encoder-coco/test/data/JCAPS51/DMPLUS13-RECORD.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="DMPLUS13-RECORD">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName>DMPLUS13-RECORD</coco:originalName>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DMPLUS13-ORIGIN-HOST-NAME" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-ORIGIN-HOST-NAME</coco:originalName>
                            <coco:picture>X(20)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-TRANSACTION-DATE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-TRANSACTION-DATE</coco:originalName>
                            <coco:picture>X(14)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-TRANSACTION-SEQ" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-TRANSACTION-SEQ</coco:originalName>
                            <coco:picture>X(08)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-TRANSACTION-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-TRANSACTION-CODE</coco:originalName>
                            <coco:picture>X(10)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-TRANSACTION-VERSION" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-TRANSACTION-VERSION</coco:originalName>
                            <coco:picture>X(04)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-TRANSACTION-SEGMENT" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-TRANSACTION-SEGMENT</coco:originalName>
                            <coco:picture>X(04)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-TRANSACTION-ACTION" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-TRANSACTION-ACTION</coco:originalName>
                            <coco:picture>X(02)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-ORDER-NUMBER" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-ORDER-NUMBER</coco:originalName>
                            <coco:picture>X(30)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-ORDER-TYPE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-ORDER-TYPE</coco:originalName>
                            <coco:picture>X(04)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-LINE-NUMBER" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-LINE-NUMBER</coco:originalName>
                            <coco:picture>X(04)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-LINE-NUMBER-NUMERIC" minOccurs="0" maxOccurs="1" type="xs:short">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-LINE-NUMBER-NUMERIC</coco:originalName>
                            <coco:redefine>DMPLUS13-LINE-NUMBER</coco:redefine>
                            <coco:picture>9(04)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-ITEM-NUMBER" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-ITEM-NUMBER</coco:originalName>
                            <coco:picture>X(30)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-INVENTORY-STATUS" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-INVENTORY-STATUS</coco:originalName>
                            <coco:picture>X(04)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-LOT-NUMBER" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-LOT-NUMBER</coco:originalName>
                            <coco:picture>X(12)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-PLATFORM" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-PLATFORM</coco:originalName>
                            <coco:picture>X(04)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-PRODUCT-SOURCE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-PRODUCT-SOURCE</coco:originalName>
                            <coco:picture>X(01)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-ORDER-QUANTITY" minOccurs="1" maxOccurs="1" type="xs:decimal">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-ORDER-QUANTITY</coco:originalName>
                            <coco:picture>9(06)V999</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-CUSTOMER-LINE-NUMBER" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-CUSTOMER-LINE-NUMBER</coco:originalName>
                            <coco:picture>X(04)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-MERCH-COD-VALIDATION" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-MERCH-COD-VALIDATION</coco:originalName>
                            <coco:picture>X(09)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-MERCH-INS-VALIDATION" minOccurs="0" maxOccurs="1" type="xs:decimal">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-MERCH-INS-VALIDATION</coco:originalName>
                            <coco:picture>9(06)V999</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-MERCH-INS-VLDTN" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-MERCH-INS-VLDTN</coco:originalName>
                            <coco:redefine>DMPLUS13-MERCH-INS-VALIDATION</coco:redefine>
                            <coco:picture>X(09)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-ORDER-CATCH-QUANTITY" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-ORDER-CATCH-QUANTITY</coco:originalName>
                            <coco:picture>X(09)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-MINIMUM-CATCH-QTY" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-MINIMUM-CATCH-QTY</coco:originalName>
                            <coco:picture>X(09)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-MAXIMUM-CATCH-QTY" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-MAXIMUM-CATCH-QTY</coco:originalName>
                            <coco:picture>X(09)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-UNIT-DOLLAR-AMOUNT" minOccurs="1" maxOccurs="1" type="xs:decimal">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-UNIT-DOLLAR-AMOUNT</coco:originalName>
                            <coco:picture>9(08)V999</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-SERIAL-NO-CAPT-FLAG" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-SERIAL-NO-CAPT-FLAG</coco:originalName>
                            <coco:picture>X(01)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-CUSTOMER-SKU" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-CUSTOMER-SKU</coco:originalName>
                            <coco:picture>X(30)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-CUSTOMER-ORD-QTY" minOccurs="1" maxOccurs="1" type="xs:decimal">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-CUSTOMER-ORD-QTY</coco:originalName>
                            <coco:picture>9(08)V999</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-PICKING-LINE-DTL-ID" minOccurs="0" maxOccurs="1" type="xs:long">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-PICKING-LINE-DTL-ID</coco:originalName>
                            <coco:picture>9(10)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-PICKING-LINE-DTL-ID-A" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-PICKING-LINE-DTL-ID-A</coco:originalName>
                            <coco:redefine>DMPLUS13-PICKING-LINE-DTL-ID</coco:redefine>
                            <coco:picture>X(10)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-DELIVERY-ID" minOccurs="0" maxOccurs="1" type="xs:long">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-DELIVERY-ID</coco:originalName>
                            <coco:picture>9(10)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-DELIVERY-ID-A" minOccurs="0" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-DELIVERY-ID-A</coco:originalName>
                            <coco:redefine>DMPLUS13-DELIVERY-ID</coco:redefine>
                            <coco:picture>X(10)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-ORACLE1-ITEM-NUM" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-ORACLE1-ITEM-NUM</coco:originalName>
                            <coco:picture>X(30)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-HOST-ROUTING" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-HOST-ROUTING</coco:originalName>
                            <coco:picture>X(30)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-ASSET-OWNER" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-ASSET-OWNER</coco:originalName>
                            <coco:picture>X(30)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DMPLUS13-LOGICAL-WAREHOUSE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DMPLUS13-LOGICAL-WAREHOUSE</coco:originalName>
                            <coco:picture>X(30)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>