ojc-core/encodersl/encoder-coco/test/data/JCAPS51/g5xrmkb0.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="FILLER">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName xsi:nil="true"/>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MK-KEY" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>MK-KEY</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MK-PZ-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MK-PZ-ID</coco:originalName>
                                        <coco:picture>X(02)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MK-CI-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MK-CI-ID</coco:originalName>
                                        <coco:picture>X(02)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MK-REC-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MK-REC-ID</coco:originalName>
                                        <coco:picture>X(02)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MK-KEY1" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MK-KEY1</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MK-GR-ID" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MK-GR-ID</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="MK-GR-ID-PFX" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-GR-ID-PFX</coco:originalName>
                                                                <coco:picture>X(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MK-GR-ID-SFX" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-GR-ID-SFX</coco:originalName>
                                                                <coco:picture>X(06)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MK-DV-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MK-DV-ID</coco:originalName>
                                                    <coco:picture>X(04)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MK-MM-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MK-MM-ID</coco:originalName>
                                                    <coco:picture>X(09)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MK-KEY-FIL" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MK-KEY-FIL</coco:originalName>
                                        <coco:picture>X(05)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MK-ODO-CTRS" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>MK-ODO-CTRS</coco:originalName>
                            <coco:usage>
                                <coco:binary/>
                            </coco:usage>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MK-SK-CTR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MK-SK-CTR</coco:originalName>
                                        <coco:picture>S9(04)</coco:picture>
                                        <coco:usage>
                                            <coco:binary/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MK-FILL-ODO-CTR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MK-FILL-ODO-CTR</coco:originalName>
                                        <coco:picture>S9(04)</coco:picture>
                                        <coco:usage>
                                            <coco:binary/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MK-CUST-ODO-CTR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MK-CUST-ODO-CTR</coco:originalName>
                                        <coco:picture>S9(04)</coco:picture>
                                        <coco:usage>
                                            <coco:binary/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MK-SYSTEM-DATA" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>MK-SYSTEM-DATA</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MK-LAST-UPD-DATA" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MK-LAST-UPD-DATA</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MK-LAST-UPD-ONLINE-DATA" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MK-LAST-UPD-ONLINE-DATA</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="MK-LAST-UPD-DATE" minOccurs="0" maxOccurs="1" type="xs:int">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-LAST-UPD-DATE</coco:originalName>
                                                                <coco:picture>9(08)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MK-LAST-UPD-DATE-X" minOccurs="0" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-LAST-UPD-DATE-X</coco:originalName>
                                                                <coco:redefine>MK-LAST-UPD-DATE</coco:redefine>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="MK-LAST-UPD-CC" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-LAST-UPD-CC</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MK-LAST-UPD-DT" minOccurs="0" maxOccurs="1" type="xs:int">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-LAST-UPD-DT</coco:originalName>
                                                                            <coco:picture>9(06)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MK-LAST-UPD-DT-X" minOccurs="0" maxOccurs="1">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-LAST-UPD-DT-X</coco:originalName>
                                                                            <coco:redefine>MK-LAST-UPD-DT</coco:redefine>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="MK-LAST-UPD-YY" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>30</coco:level>
                                                                                        <coco:originalName>MK-LAST-UPD-YY</coco:originalName>
                                                                                        <coco:picture>X(02)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="MK-LAST-UPD-MM" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>30</coco:level>
                                                                                        <coco:originalName>MK-LAST-UPD-MM</coco:originalName>
                                                                                        <coco:picture>X(02)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="MK-LAST-UPD-DD" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>30</coco:level>
                                                                                        <coco:originalName>MK-LAST-UPD-DD</coco:originalName>
                                                                                        <coco:picture>X(02)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="MK-GF-LAST-UPD-DT" minOccurs="0" maxOccurs="1" type="xs:int">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-GF-LAST-UPD-DT</coco:originalName>
                                                                <coco:redefine>MK-LAST-UPD-DATE</coco:redefine>
                                                                <coco:picture>9(08)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MK-GF-LAST-UPD-DT-X" minOccurs="0" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-GF-LAST-UPD-DT-X</coco:originalName>
                                                                <coco:redefine>MK-LAST-UPD-DATE</coco:redefine>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="MK-GF-LAST-UPD-YY" minOccurs="0" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-GF-LAST-UPD-YY</coco:originalName>
                                                                            <coco:picture>9(04)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MK-GF-LAST-UPD-YY-X" minOccurs="0" maxOccurs="1">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-GF-LAST-UPD-YY-X</coco:originalName>
                                                                            <coco:redefine>MK-GF-LAST-UPD-YY</coco:redefine>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="MK-GF-LAST-UPD-CC" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>30</coco:level>
                                                                                        <coco:originalName>MK-GF-LAST-UPD-CC</coco:originalName>
                                                                                        <coco:picture>9(02)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="MK-GF-LAST-UPD-YY2" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>30</coco:level>
                                                                                        <coco:originalName>MK-GF-LAST-UPD-YY2</coco:originalName>
                                                                                        <coco:picture>9(02)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="MK-GF-LAST-UPD-MM" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-GF-LAST-UPD-MM</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MK-GF-LAST-UPD-DD" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-GF-LAST-UPD-DD</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="MK-LAST-UPD-TIME" minOccurs="0" maxOccurs="1" type="xs:int">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-LAST-UPD-TIME</coco:originalName>
                                                                <coco:picture>9(06)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MK-LAST-UPD-TIME-X" minOccurs="0" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-LAST-UPD-TIME-X</coco:originalName>
                                                                <coco:redefine>MK-LAST-UPD-TIME</coco:redefine>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="MK-LAST-UPD-TIME-HH" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-LAST-UPD-TIME-HH</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MK-LAST-UPD-TIME-MM" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-LAST-UPD-TIME-MM</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MK-LAST-UPD-TIME-SS" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-LAST-UPD-TIME-SS</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="MK-LAST-UPD-US-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-LAST-UPD-US-ID</coco:originalName>
                                                                <coco:picture>X(10)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MK-LOCK-SW" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-LOCK-SW</coco:originalName>
                                                                <coco:picture>X(01)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MK-LAST-UPD-PC-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-LAST-UPD-PC-ID</coco:originalName>
                                                                <coco:picture>X(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MK-LAST-UPD-REL" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-LAST-UPD-REL</coco:originalName>
                                                                <coco:picture>X(03)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MK-LAST-UPD-BATCH-DATA" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MK-LAST-UPD-BATCH-DATA</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="MK-LAST-UPD-BATCH-DT" minOccurs="0" maxOccurs="1" type="xs:int">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-LAST-UPD-BATCH-DT</coco:originalName>
                                                                <coco:picture>9(08)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MK-LAST-UPD-BATCH-DT-X" minOccurs="0" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-LAST-UPD-BATCH-DT-X</coco:originalName>
                                                                <coco:redefine>MK-LAST-UPD-BATCH-DT</coco:redefine>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="MK-LAST-UPD-BATCH-YY" minOccurs="0" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-LAST-UPD-BATCH-YY</coco:originalName>
                                                                            <coco:picture>9(04)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MK-LAST-UPD-BATCH-YY-X" minOccurs="0" maxOccurs="1">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-LAST-UPD-BATCH-YY-X</coco:originalName>
                                                                            <coco:redefine>MK-LAST-UPD-BATCH-YY</coco:redefine>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="MK-LAST-UPD-BATCH-CC" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>30</coco:level>
                                                                                        <coco:originalName>MK-LAST-UPD-BATCH-CC</coco:originalName>
                                                                                        <coco:picture>9(02)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="MK-LAST-UPD-BATCH-YY2" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>30</coco:level>
                                                                                        <coco:originalName>MK-LAST-UPD-BATCH-YY2</coco:originalName>
                                                                                        <coco:picture>9(02)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="MK-LAST-UPD-BATCH-MM" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-LAST-UPD-BATCH-MM</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MK-LAST-UPD-BATCH-DD" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-LAST-UPD-BATCH-DD</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="MK-LAST-UPD-BATCH-PROG-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-LAST-UPD-BATCH-PROG-ID</coco:originalName>
                                                                <coco:picture>X(08)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MK-LAST-UPD-BATCH-FIL" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-LAST-UPD-BATCH-FIL</coco:originalName>
                                                                <coco:picture>X(04)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MK-USER-AREA-TBL" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MK-USER-AREA-TBL</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MK-USER-AREA-ITEM" minOccurs="3" maxOccurs="3" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MK-USER-AREA-ITEM</coco:originalName>
                                                    <coco:picture>X(10)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MK-INDIC-DATA" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>MK-INDIC-DATA</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MK-UNUSED-FIL" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MK-UNUSED-FIL</coco:originalName>
                                        <coco:picture>X(60)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MK-SUBS-KEYS-TBL" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>MK-SUBS-KEYS-TBL</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MK-SK-ITEM" minOccurs="27" maxOccurs="27">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MK-SK-ITEM</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MK-SK-KEY1" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MK-SK-KEY1</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="MK-SK-GR-ID" minOccurs="1" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-SK-GR-ID</coco:originalName>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="MK-SK-GR-ID-PFX" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-SK-GR-ID-PFX</coco:originalName>
                                                                            <coco:picture>X(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MK-SK-GR-ID-SFX" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-SK-GR-ID-SFX</coco:originalName>
                                                                            <coco:picture>X(06)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="MK-SK-DV-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-SK-DV-ID</coco:originalName>
                                                                <coco:picture>X(04)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MK-SK-MM-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-SK-MM-ID</coco:originalName>
                                                                <coco:picture>X(09)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MK-SK-KEY-FIL" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MK-SK-KEY-FIL</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MK-SK-CHNG-EFF-DT" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MK-SK-CHNG-EFF-DT</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="MK-SK-CHNG-EFF-YY" minOccurs="1" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-SK-CHNG-EFF-YY</coco:originalName>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="MK-SK-CHNG-EFF-CC" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-SK-CHNG-EFF-CC</coco:originalName>
                                                                            <coco:picture>X(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MK-SK-CHNG-EFF-YY2" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-SK-CHNG-EFF-YY2</coco:originalName>
                                                                            <coco:picture>X(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="MK-SK-CHNG-EFF-MM" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-SK-CHNG-EFF-MM</coco:originalName>
                                                                <coco:picture>X(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MK-SK-CHNG-EFF-DD" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-SK-CHNG-EFF-DD</coco:originalName>
                                                                <coco:picture>X(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MK-SK-TRANSFER-RSN" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MK-SK-TRANSFER-RSN</coco:originalName>
                                                    <coco:picture>X(20)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MK-SK-EFF-OR-SYS-DT" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MK-SK-EFF-OR-SYS-DT</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="MK-SK-EFF-OR-SYS-YY" minOccurs="1" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-SK-EFF-OR-SYS-YY</coco:originalName>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="MK-SK-EFF-OR-SYS-CC" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-SK-EFF-OR-SYS-CC</coco:originalName>
                                                                            <coco:picture>X(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MK-SK-EFF-OR-SYS-YY2" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-SK-EFF-OR-SYS-YY2</coco:originalName>
                                                                            <coco:picture>X(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="MK-SK-EFF-OR-SYS-MM" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-SK-EFF-OR-SYS-MM</coco:originalName>
                                                                <coco:picture>X(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MK-SK-EFF-OR-SYS-DD" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-SK-EFF-OR-SYS-DD</coco:originalName>
                                                                <coco:picture>X(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MK-SK-ACT-DT" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MK-SK-ACT-DT</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="MK-SK-ACT-YY" minOccurs="1" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-SK-ACT-YY</coco:originalName>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="MK-SK-ACT-CC" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-SK-ACT-CC</coco:originalName>
                                                                            <coco:picture>X(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MK-SK-ACT-YY2" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MK-SK-ACT-YY2</coco:originalName>
                                                                            <coco:picture>X(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="MK-SK-ACT-MM" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-SK-ACT-MM</coco:originalName>
                                                                <coco:picture>X(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MK-SK-ACT-DD" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MK-SK-ACT-DD</coco:originalName>
                                                                <coco:picture>X(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MK-SK-UNUSED-FIL" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MK-SK-UNUSED-FIL</coco:originalName>
                                                    <coco:picture>X(20)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>