ojc-core/encodersl/encoder-coco/test/data/JCAPS51/g5xrmpb0.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="FILLER">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName xsi:nil="true"/>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MP-KEY" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>MP-KEY</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MP-PZ-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MP-PZ-ID</coco:originalName>
                                        <coco:picture>X(02)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MP-CI-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MP-CI-ID</coco:originalName>
                                        <coco:picture>X(02)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MP-REC-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MP-REC-ID</coco:originalName>
                                        <coco:picture>X(02)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MP-KEY1" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MP-KEY1</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MP-GR-DV-MM" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-GR-DV-MM</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="MP-GR-DV" minOccurs="1" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-GR-DV</coco:originalName>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="MP-GR-ID" minOccurs="1" maxOccurs="1">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MP-GR-ID</coco:originalName>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="MP-GR-ID-PFX" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>30</coco:level>
                                                                                        <coco:originalName>MP-GR-ID-PFX</coco:originalName>
                                                                                        <coco:picture>X(02)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="MP-GR-ID-SFX" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>30</coco:level>
                                                                                        <coco:originalName>MP-GR-ID-SFX</coco:originalName>
                                                                                        <coco:picture>X(06)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="MP-DV-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MP-DV-ID</coco:originalName>
                                                                            <coco:picture>X(04)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="MP-MM-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-MM-ID</coco:originalName>
                                                                <coco:picture>X(09)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MP-KEY1-FIL" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-KEY1-FIL</coco:originalName>
                                                    <coco:picture>X</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MP-SUB-REC-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MP-SUB-REC-ID</coco:originalName>
                                        <coco:picture>XX</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MP-KEY-FIL" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MP-KEY-FIL</coco:originalName>
                                        <coco:picture>X(02)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MP-ODO-CTRS" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>MP-ODO-CTRS</coco:originalName>
                            <coco:usage>
                                <coco:binary/>
                            </coco:usage>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MP-FILL-ODO-CTR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MP-FILL-ODO-CTR</coco:originalName>
                                        <coco:picture>S9(04)</coco:picture>
                                        <coco:usage>
                                            <coco:binary/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MP-CUST-ODO-CTR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MP-CUST-ODO-CTR</coco:originalName>
                                        <coco:picture>S9(04)</coco:picture>
                                        <coco:usage>
                                            <coco:binary/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MP-SYSTEM-DATA" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>MP-SYSTEM-DATA</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MP-LAST-UPD-DATA" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MP-LAST-UPD-DATA</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MP-LAST-UPD-ONLINE-DATA" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-LAST-UPD-ONLINE-DATA</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="MP-LAST-UPD-DATE" minOccurs="0" maxOccurs="1" type="xs:int">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-LAST-UPD-DATE</coco:originalName>
                                                                <coco:picture>9(08)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MP-LAST-UPD-DATE-X" minOccurs="0" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-LAST-UPD-DATE-X</coco:originalName>
                                                                <coco:redefine>MP-LAST-UPD-DATE</coco:redefine>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="MP-LAST-UPD-CC" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MP-LAST-UPD-CC</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MP-LAST-UPD-DT" minOccurs="0" maxOccurs="1" type="xs:int">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MP-LAST-UPD-DT</coco:originalName>
                                                                            <coco:picture>9(06)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MP-LAST-UPD-DT-X" minOccurs="0" maxOccurs="1">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MP-LAST-UPD-DT-X</coco:originalName>
                                                                            <coco:redefine>MP-LAST-UPD-DT</coco:redefine>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="MP-LAST-UPD-YY" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>30</coco:level>
                                                                                        <coco:originalName>MP-LAST-UPD-YY</coco:originalName>
                                                                                        <coco:picture>X(02)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="MP-LAST-UPD-MM" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>30</coco:level>
                                                                                        <coco:originalName>MP-LAST-UPD-MM</coco:originalName>
                                                                                        <coco:picture>X(02)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="MP-LAST-UPD-DD" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>30</coco:level>
                                                                                        <coco:originalName>MP-LAST-UPD-DD</coco:originalName>
                                                                                        <coco:picture>X(02)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="MP-GF-LAST-UPD-DT" minOccurs="0" maxOccurs="1" type="xs:int">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-GF-LAST-UPD-DT</coco:originalName>
                                                                <coco:redefine>MP-LAST-UPD-DATE</coco:redefine>
                                                                <coco:picture>9(08)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MP-GF-LAST-UPD-DT-X" minOccurs="0" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-GF-LAST-UPD-DT-X</coco:originalName>
                                                                <coco:redefine>MP-LAST-UPD-DATE</coco:redefine>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="MP-GF-LAST-UPD-YY" minOccurs="0" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MP-GF-LAST-UPD-YY</coco:originalName>
                                                                            <coco:picture>9(04)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MP-GF-LAST-UPD-YY-X" minOccurs="0" maxOccurs="1">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MP-GF-LAST-UPD-YY-X</coco:originalName>
                                                                            <coco:redefine>MP-GF-LAST-UPD-YY</coco:redefine>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="MP-GF-LAST-UPD-CC" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>30</coco:level>
                                                                                        <coco:originalName>MP-GF-LAST-UPD-CC</coco:originalName>
                                                                                        <coco:picture>9(02)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="MP-GF-LAST-UPD-YY2" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>30</coco:level>
                                                                                        <coco:originalName>MP-GF-LAST-UPD-YY2</coco:originalName>
                                                                                        <coco:picture>9(02)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="MP-GF-LAST-UPD-MM" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MP-GF-LAST-UPD-MM</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MP-GF-LAST-UPD-DD" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MP-GF-LAST-UPD-DD</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="MP-LAST-UPD-TIME" minOccurs="0" maxOccurs="1" type="xs:int">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-LAST-UPD-TIME</coco:originalName>
                                                                <coco:picture>9(06)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MP-LAST-UPD-TIME-X" minOccurs="0" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-LAST-UPD-TIME-X</coco:originalName>
                                                                <coco:redefine>MP-LAST-UPD-TIME</coco:redefine>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="MP-LAST-UPD-TIME-HH" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MP-LAST-UPD-TIME-HH</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MP-LAST-UPD-TIME-MM" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MP-LAST-UPD-TIME-MM</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MP-LAST-UPD-TIME-SS" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MP-LAST-UPD-TIME-SS</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="MP-LAST-UPD-US-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-LAST-UPD-US-ID</coco:originalName>
                                                                <coco:picture>X(10)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MP-LOCK-SW" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-LOCK-SW</coco:originalName>
                                                                <coco:picture>X(01)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MP-LAST-UPD-PC-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-LAST-UPD-PC-ID</coco:originalName>
                                                                <coco:picture>X(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MP-LAST-UPD-REL" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-LAST-UPD-REL</coco:originalName>
                                                                <coco:picture>X(03)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MP-LAST-UPD-BATCH-DATA" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-LAST-UPD-BATCH-DATA</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="MP-LAST-UPD-BATCH-DT" minOccurs="0" maxOccurs="1" type="xs:int">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-LAST-UPD-BATCH-DT</coco:originalName>
                                                                <coco:picture>9(08)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MP-LAST-UPD-BATCH-DT-X" minOccurs="0" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-LAST-UPD-BATCH-DT-X</coco:originalName>
                                                                <coco:redefine>MP-LAST-UPD-BATCH-DT</coco:redefine>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="MP-LAST-UPD-BATCH-YY" minOccurs="0" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MP-LAST-UPD-BATCH-YY</coco:originalName>
                                                                            <coco:picture>9(04)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MP-LAST-UPD-BATCH-YY-X" minOccurs="0" maxOccurs="1">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MP-LAST-UPD-BATCH-YY-X</coco:originalName>
                                                                            <coco:redefine>MP-LAST-UPD-BATCH-YY</coco:redefine>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="MP-LAST-UPD-BATCH-CC" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>30</coco:level>
                                                                                        <coco:originalName>MP-LAST-UPD-BATCH-CC</coco:originalName>
                                                                                        <coco:picture>9(02)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="MP-LAST-UPD-BATCH-YY2" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>30</coco:level>
                                                                                        <coco:originalName>MP-LAST-UPD-BATCH-YY2</coco:originalName>
                                                                                        <coco:picture>9(02)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="MP-LAST-UPD-BATCH-MM" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MP-LAST-UPD-BATCH-MM</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MP-LAST-UPD-BATCH-DD" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MP-LAST-UPD-BATCH-DD</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="MP-LAST-UPD-BATCH-PROG-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-LAST-UPD-BATCH-PROG-ID</coco:originalName>
                                                                <coco:picture>X(08)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MP-LAST-UPD-BATCH-FIL" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-LAST-UPD-BATCH-FIL</coco:originalName>
                                                                <coco:picture>X(04)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MP-INDIC-DATA" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>MP-INDIC-DATA</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MP-USE-CTR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MP-USE-CTR</coco:originalName>
                                        <coco:picture>S9(03)</coco:picture>
                                        <coco:usage>
                                            <coco:comp-3/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MP-OPTIONS" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MP-OPTIONS</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MP-OPT1" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-OPT1</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MP-OPT2" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-OPT2</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MP-OPT3" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-OPT3</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MP-OPT4" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-OPT4</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MP-OPT5" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-OPT5</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MP-OPT6" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-OPT6</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MP-OPT7" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-OPT7</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MP-OPT8" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-OPT8</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MP-GEN-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MP-GEN-ID</coco:originalName>
                                        <coco:picture>X(12)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MP-NM-N-ADR" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MP-NM-N-ADR</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MP-ADDR-OPTIONS" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-ADDR-OPTIONS</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="MP-ADDR-OPT" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-ADDR-OPT</coco:originalName>
                                                                <coco:picture>X(01)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MP-ADDR-OPT2" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-ADDR-OPT2</coco:originalName>
                                                                <coco:picture>X(01)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MP-ADDR-OPT3" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-ADDR-OPT3</coco:originalName>
                                                                <coco:picture>X(01)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MP-ADDR-OPT4" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-ADDR-OPT4</coco:originalName>
                                                                <coco:picture>X(01)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MP-ADDR-OPT-FIL" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-ADDR-OPT-FIL</coco:originalName>
                                                                <coco:picture>X(04)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MP-NAME" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-NAME</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="MP-NAME1" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-NAME1</coco:originalName>
                                                                <coco:picture>X(30)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MP-NAME2" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-NAME2</coco:originalName>
                                                                <coco:picture>X(30)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MP-CONTACT" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-CONTACT</coco:originalName>
                                                    <coco:picture>X(30)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MP-ADDRESS" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-ADDRESS</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="MP-ADDR1" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-ADDR1</coco:originalName>
                                                                <coco:picture>X(30)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MP-ADDR2" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-ADDR2</coco:originalName>
                                                                <coco:picture>X(30)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MP-ADDR3" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-ADDR3</coco:originalName>
                                                                <coco:picture>X(30)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="MP-ADDR4" minOccurs="1" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-ADDR4</coco:originalName>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="MP-CITY" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MP-CITY</coco:originalName>
                                                                            <coco:picture>X(19)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MP-STATE" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MP-STATE</coco:originalName>
                                                                            <coco:picture>X(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MP-ZIP" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>MP-ZIP</coco:originalName>
                                                                            <coco:picture>X(11)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="MP-COUNTRY" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>MP-COUNTRY</coco:originalName>
                                                                <coco:picture>X(03)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MP-PHONE" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MP-PHONE</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="FILLER1" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:nameFiller/>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MP-PHONE-AREA" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-PHONE-AREA</coco:originalName>
                                                    <coco:picture>X(03)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MP-PHONE-EXCHANGE" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-PHONE-EXCHANGE</coco:originalName>
                                                    <coco:picture>X(03)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MP-PHONE-NUMBER" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-PHONE-NUMBER</coco:originalName>
                                                    <coco:picture>X(04)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MP-UNUSED-FIL2" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MP-UNUSED-FIL2</coco:originalName>
                                        <coco:picture>X(30)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MP-GENERAL-FIELDS" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MP-GENERAL-FIELDS</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MP-GEN-FLD-1" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-GEN-FLD-1</coco:originalName>
                                                    <coco:picture>X(30)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MP-GEN-FLD-2" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-GEN-FLD-2</coco:originalName>
                                                    <coco:picture>X(16)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MP-GEN-FLD-3" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-GEN-FLD-3</coco:originalName>
                                                    <coco:picture>X(16)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MP-GEN-FLD-4" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-GEN-FLD-4</coco:originalName>
                                                    <coco:picture>X(16)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MP-GEN-FLD-5" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>MP-GEN-FLD-5</coco:originalName>
                                                    <coco:picture>X(16)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MP-UNUSED-FIL3" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>MP-UNUSED-FIL3</coco:originalName>
                                        <coco:picture>X(34)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>