ojc-core/encodersl/encoder-coco/test/data/JCAPS51/GDS7001A.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="GDS-INPUT-BUFFER">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName>GDS-INPUT-BUFFER</coco:originalName>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GDSI-HEADER" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>GDSI-HEADER</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="GDSI-BUFFER-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-BUFFER-ID</coco:originalName>
                                        <coco:picture>X(06)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-FROM-SYSTEM" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-FROM-SYSTEM</coco:originalName>
                                        <coco:picture>X(06)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-FROM-SUBSYSTEM" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-FROM-SUBSYSTEM</coco:originalName>
                                        <coco:picture>X(06)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-KEY-PASSED" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-KEY-PASSED</coco:originalName>
                                        <coco:picture>X(08)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="GDSI-DATA-AREA" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>GDSI-DATA-AREA</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="GDSI-PU-PRIMARY-KEY" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-PU-PRIMARY-KEY</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="GDSI-PU-COUNTRY" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>GDSI-PU-COUNTRY</coco:originalName>
                                                    <coco:picture>X(02)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="GDSI-PU-STATE" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>GDSI-PU-STATE</coco:originalName>
                                                    <coco:picture>X(02)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="GDSI-PU-CITY" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>GDSI-PU-CITY</coco:originalName>
                                                    <coco:picture>X(03)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="GDSI-PU-LOC" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>GDSI-PU-LOC</coco:originalName>
                                                    <coco:picture>9(02)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="GDSI-PU-AREA" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-PU-AREA</coco:originalName>
                                        <coco:picture>9(05)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-PU-GEO-POOL-NUM" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-PU-GEO-POOL-NUM</coco:originalName>
                                        <coco:picture>9(03)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-PU-GEO-POOL-IND" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-PU-GEO-POOL-IND</coco:originalName>
                                        <coco:picture>X(02)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-PU-NTRL-LOC-NBR" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-PU-NTRL-LOC-NBR</coco:originalName>
                                        <coco:picture>9(05)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-PU-BOOKING-SYSDATE" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-PU-BOOKING-SYSDATE</coco:originalName>
                                        <coco:picture>9(06)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-PU-PICKUP-SYSDATE" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-PU-PICKUP-SYSDATE</coco:originalName>
                                        <coco:picture>9(06)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-PU-INVOICE-SYSDT" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-PU-INVOICE-SYSDT</coco:originalName>
                                        <coco:picture>9(06)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-PU-TAX-EXMPT-NBR" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-PU-TAX-EXMPT-NBR</coco:originalName>
                                        <coco:picture>X(06)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-PU-VEH-CD" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-PU-VEH-CD</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="GDSI-PU-VEH-CLASS" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>GDSI-PU-VEH-CLASS</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="GDSI-PU-VEH-DOORS" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>GDSI-PU-VEH-DOORS</coco:originalName>
                                                    <coco:picture>9(04)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="GDSI-PU-UPG-PROMO-VEH-TBL" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-PU-UPG-PROMO-VEH-TBL</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="GDSI-PU-UPG-PROMO-VEH-CD" minOccurs="5" maxOccurs="5">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>GDSI-PU-UPG-PROMO-VEH-CD</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="GDSI-PU-UPG-PROMO-VEH-CLASS" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>GDSI-PU-UPG-PROMO-VEH-CLASS</coco:originalName>
                                                                <coco:picture>X(01)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="GDSI-PU-UPG-PROMO-VEH-DOORS" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>GDSI-PU-UPG-PROMO-VEH-DOORS</coco:originalName>
                                                                <coco:picture>9(04)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="GDSI-AGE-NBR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-AGE-NBR</coco:originalName>
                                        <coco:picture>9(02)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-RENT-DAYS-NBR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-RENT-DAYS-NBR</coco:originalName>
                                        <coco:picture>9(02)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-INS-CHG-DAYS-NBR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-INS-CHG-DAYS-NBR</coco:originalName>
                                        <coco:picture>9(02)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-ARR-DAY-OF-WK-NBR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-ARR-DAY-OF-WK-NBR</coco:originalName>
                                        <coco:picture>9(01)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-VARIABLE-REQUEST-AREA" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-VARIABLE-REQUEST-AREA</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="GDSI-REQUEST-TABLE" minOccurs="25" maxOccurs="25">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>GDSI-REQUEST-TABLE</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="GDSI-REQUEST-CD" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>GDSI-REQUEST-CD</coco:originalName>
                                                                <coco:picture>X(03)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="GDSI-DP-PRIMARY-KEY" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-DP-PRIMARY-KEY</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="GDSI-DP-COUNTRY" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>GDSI-DP-COUNTRY</coco:originalName>
                                                    <coco:picture>X(02)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="GDSI-DP-STATE" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>GDSI-DP-STATE</coco:originalName>
                                                    <coco:picture>X(02)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="GDSI-DP-CITY" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>GDSI-DP-CITY</coco:originalName>
                                                    <coco:picture>X(03)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="GDSI-DP-LOC" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>GDSI-DP-LOC</coco:originalName>
                                                    <coco:picture>9(02)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="GDSI-DP-AREA" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-DP-AREA</coco:originalName>
                                        <coco:picture>9(05)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-DP-GEO-POOL-NUM" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-DP-GEO-POOL-NUM</coco:originalName>
                                        <coco:picture>9(03)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-DP-GEO-POOL-IND" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-DP-GEO-POOL-IND</coco:originalName>
                                        <coco:picture>X(02)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-DP-NTRL-LOC-NBR" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-DP-NTRL-LOC-NBR</coco:originalName>
                                        <coco:picture>9(05)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-GREGORIAN-DATE" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-GREGORIAN-DATE</coco:originalName>
                                        <coco:picture>X(10)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GDSI-ZIP-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>GDSI-ZIP-CODE</coco:originalName>
                                        <coco:picture>X(10)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="FILLER1" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:nameFiller/>
                                        <coco:picture>X(90)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>