ojc-core/encodersl/encoder-coco/test/data/JCAPS51/INLS047O.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="FILLER">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName xsi:nil="true"/>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="OUTPUT-DATA" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>OUTPUT-DATA</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="STATUSCODES" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>4</coco:level>
                                        <coco:originalName>STATUSCODES</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="RETURNCODE" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>RETURNCODE</coco:originalName>
                                                    <coco:picture>S9(4)</coco:picture>
                                                    <coco:usage>
                                                        <coco:binary/>
                                                    </coco:usage>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="REASONCODE" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>REASONCODE</coco:originalName>
                                                    <coco:picture>S9(4)</coco:picture>
                                                    <coco:usage>
                                                        <coco:binary/>
                                                    </coco:usage>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="CONCURRENCY-TIME" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>CONCURRENCY-TIME</coco:originalName>
                                                    <coco:picture>X(14)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="O-INLS047O" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>4</coco:level>
                                        <coco:originalName>O-INLS047O</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="O-INRG047" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>O-INRG047</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="O-KUGSKAT-BRT" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>7</coco:level>
                                                                <coco:originalName>O-KUGSKAT-BRT</coco:originalName>
                                                                <coco:picture>S9(13)V9(2)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:comp-3/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="O-KUGSKAT-NET" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>7</coco:level>
                                                                <coco:originalName>O-KUGSKAT-NET</coco:originalName>
                                                                <coco:picture>S9(13)V9(2)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:comp-3/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="O-1-YDELSE-F-SKAT" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>7</coco:level>
                                                                <coco:originalName>O-1-YDELSE-F-SKAT</coco:originalName>
                                                                <coco:picture>S9(13)V9(2)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:comp-3/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="O-1-YDELSE-E-SKAT" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>7</coco:level>
                                                                <coco:originalName>O-1-YDELSE-E-SKAT</coco:originalName>
                                                                <coco:picture>S9(13)V9(2)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:comp-3/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="O-NUVAERDI-YDELSER" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>7</coco:level>
                                                                <coco:originalName>O-NUVAERDI-YDELSER</coco:originalName>
                                                                <coco:picture>S9(13)V9(2)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:comp-3/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="O-EFK-RT-FOER-SKAT" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>7</coco:level>
                                                                <coco:originalName>O-EFK-RT-FOER-SKAT</coco:originalName>
                                                                <coco:picture>S9(13)V9(2)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:comp-3/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="O-EFK-RT-EFT-SKAT" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>7</coco:level>
                                                                <coco:originalName>O-EFK-RT-EFT-SKAT</coco:originalName>
                                                                <coco:picture>S9(13)V9(2)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:comp-3/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="O-OVRFRT-KUF" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>7</coco:level>
                                                                <coco:originalName>O-OVRFRT-KUF</coco:originalName>
                                                                <coco:picture>S9(13)V9(2)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:comp-3/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="O-MISTET-KUF" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>7</coco:level>
                                                                <coco:originalName>O-MISTET-KUF</coco:originalName>
                                                                <coco:picture>S9(13)V9(2)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:comp-3/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="O-DISKONT-FAKTOR-BRF" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>7</coco:level>
                                                                <coco:originalName>O-DISKONT-FAKTOR-BRF</coco:originalName>
                                                                <coco:picture>S9(13)V9(2)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:comp-3/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="O-SAMLET-LAANE-PRO" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>7</coco:level>
                                                                <coco:originalName>O-SAMLET-LAANE-PRO</coco:originalName>
                                                                <coco:picture>S9(13)V9(2)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:comp-3/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="O-DISKONT-FAKTOR-DEB" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>7</coco:level>
                                                                <coco:originalName>O-DISKONT-FAKTOR-DEB</coco:originalName>
                                                                <coco:picture>S9(13)V9(2)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:comp-3/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="O-BRF-NPV" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>7</coco:level>
                                                                <coco:originalName>O-BRF-NPV</coco:originalName>
                                                                <coco:picture>S9(13)V9(2)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:comp-3/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="O-NUTIDVRD-AF-BDRG" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>7</coco:level>
                                                                <coco:originalName>O-NUTIDVRD-AF-BDRG</coco:originalName>
                                                                <coco:picture>S9(13)V9(2)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:comp-3/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="O-NETTO-HUSLEJE" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>7</coco:level>
                                                                <coco:originalName>O-NETTO-HUSLEJE</coco:originalName>
                                                                <coco:picture>S9(13)V9(2)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:comp-3/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="O-BRUTTO-HUSLEJE" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>7</coco:level>
                                                                <coco:originalName>O-BRUTTO-HUSLEJE</coco:originalName>
                                                                <coco:picture>S9(13)V9(2)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:comp-3/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="O-UGAR-TERMBET" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>7</coco:level>
                                                                <coco:originalName>O-UGAR-TERMBET</coco:originalName>
                                                                <coco:picture>S9(13)V9(2)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:comp-3/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="O-UGAR-KONTVAERDI" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>7</coco:level>
                                                                <coco:originalName>O-UGAR-KONTVAERDI</coco:originalName>
                                                                <coco:picture>S9(13)V9(2)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:comp-3/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="O-VALUTA-KD" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>O-VALUTA-KD</coco:originalName>
                                                    <coco:picture>X(3)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="O-ANTAL-ADVARSLER" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>O-ANTAL-ADVARSLER</coco:originalName>
                                                    <coco:picture>S9(4)</coco:picture>
                                                    <coco:usage>
                                                        <coco:comp-3/>
                                                    </coco:usage>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="O-NZRG074" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>O-NZRG074</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="O-ADVARSEL-KODE" minOccurs="10" maxOccurs="10" type="xs:int">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>7</coco:level>
                                                                <coco:originalName>O-ADVARSEL-KODE</coco:originalName>
                                                                <coco:picture>9(5)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>