ojc-core/encodersl/encoder-coco/test/data/JCAPS51/lespfrcp.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="FILLER">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName xsi:nil="true"/>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PFRCP-RECORD" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>PFRCP-RECORD</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="PFRCP-KEY" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>PFRCP-KEY</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PFRCP-CELL" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>PFRCP-CELL</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="PFRCP-CELL-GROUP" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>PFRCP-CELL-GROUP</coco:originalName>
                                                                <coco:picture>X(01)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-CELL-SEGMENT" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>PFRCP-CELL-SEGMENT</coco:originalName>
                                                                <coco:picture>X(04)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PFRCP-CELL-DELIM" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>PFRCP-CELL-DELIM</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-DATE" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>PFRCP-DATE</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="PFRCP-TRANS-DATE" minOccurs="0" maxOccurs="1" type="xs:int">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>PFRCP-TRANS-DATE</coco:originalName>
                                                                <coco:picture>9(08)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-TRANS-D-R" minOccurs="0" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>PFRCP-TRANS-D-R</coco:originalName>
                                                                <coco:redefine>PFRCP-TRANS-DATE</coco:redefine>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="PFRCP-TRANS-YR" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>6</coco:level>
                                                                            <coco:originalName>PFRCP-TRANS-YR</coco:originalName>
                                                                            <coco:picture>9(04)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="PFRCP-TRANS-MNTH" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>6</coco:level>
                                                                            <coco:originalName>PFRCP-TRANS-MNTH</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="PFRCP-TRANS-DAY" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>6</coco:level>
                                                                            <coco:originalName>PFRCP-TRANS-DAY</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PFRCP-DATE-DELIM" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>PFRCP-DATE-DELIM</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-PATH" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>PFRCP-PATH</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="PFRCP-AGENCY-SEC-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>PFRCP-AGENCY-SEC-CODE</coco:originalName>
                                                                <coco:picture>X(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-AGENT-NO" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>PFRCP-AGENT-NO</coco:originalName>
                                                                <coco:picture>X(03)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-POL-NO" minOccurs="0" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>PFRCP-POL-NO</coco:originalName>
                                                                <coco:picture>X(07)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-POL-NO-R" minOccurs="0" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>PFRCP-POL-NO-R</coco:originalName>
                                                                <coco:redefine>PFRCP-POL-NO</coco:redefine>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="PFRCP-POL-NO-PFX" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>6</coco:level>
                                                                            <coco:originalName>PFRCP-POL-NO-PFX</coco:originalName>
                                                                            <coco:picture>X(01)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="PFRCP-POL-NO-SFX" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>6</coco:level>
                                                                            <coco:originalName>PFRCP-POL-NO-SFX</coco:originalName>
                                                                            <coco:picture>X(06)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PFRCP-PATH-R" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>PFRCP-PATH-R</coco:originalName>
                                                    <coco:redefine>PFRCP-PATH</coco:redefine>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="PFRCP-AGENT-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>PFRCP-AGENT-CODE</coco:originalName>
                                                                <coco:picture>X(05)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-POL-NO-R7" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>PFRCP-POL-NO-R7</coco:originalName>
                                                                <coco:picture>X(07)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PFRCP-SEQN" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>PFRCP-SEQN</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="PFRCP-REC-TYPE" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>PFRCP-REC-TYPE</coco:originalName>
                                                                <coco:picture>X(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-POL-TRAN-AGENT" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>PFRCP-POL-TRAN-AGENT</coco:originalName>
                                                                <coco:picture>9(04)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="PFRCP-DATA" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>PFRCP-DATA</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PFRCP-PROD-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-PROD-ID</coco:originalName>
                                                    <coco:picture>X(05)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-COMPANY-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-COMPANY-CODE</coco:originalName>
                                                    <coco:picture>X(02)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-LINE-BUSINESS" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-LINE-BUSINESS</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-REC-IND" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-REC-IND</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-PA-CODE" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-PA-CODE</coco:originalName>
                                                    <coco:picture>X(02)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-INIT-PREM-IND" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-INIT-PREM-IND</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-GOM-IND" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-GOM-IND</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-PREMIUM" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-PREMIUM</coco:originalName>
                                                    <coco:picture>S9(8)V99</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-PREM-FROM-DATE" minOccurs="0" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-PREM-FROM-DATE</coco:originalName>
                                                    <coco:picture>9(08)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-PREM-FROM-D-R" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-PREM-FROM-D-R</coco:originalName>
                                                    <coco:redefine>PFRCP-PREM-FROM-DATE</coco:redefine>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="PFRCP-PREM-FROM-YR" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-PREM-FROM-YR</coco:originalName>
                                                                <coco:picture>9(04)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-PREM-FROM-MNTH" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-PREM-FROM-MNTH</coco:originalName>
                                                                <coco:picture>9(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-PREM-FROM-DAY" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-PREM-FROM-DAY</coco:originalName>
                                                                <coco:picture>9(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PFRCP-PREM-TO-DATE" minOccurs="0" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-PREM-TO-DATE</coco:originalName>
                                                    <coco:picture>9(08)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-PREM-TO-D-R" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-PREM-TO-D-R</coco:originalName>
                                                    <coco:redefine>PFRCP-PREM-TO-DATE</coco:redefine>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="PFRCP-PREM-TO-YR" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-PREM-TO-YR</coco:originalName>
                                                                <coco:picture>9(04)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-PREM-TO-MNTH" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-PREM-TO-MNTH</coco:originalName>
                                                                <coco:picture>9(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-PREM-TO-DAY" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-PREM-TO-DAY</coco:originalName>
                                                                <coco:picture>9(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PFRCP-EFF-DATE" minOccurs="0" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-EFF-DATE</coco:originalName>
                                                    <coco:picture>9(08)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-EFF-D-R" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-EFF-D-R</coco:originalName>
                                                    <coco:redefine>PFRCP-EFF-DATE</coco:redefine>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="PFRCP-EFF-YR" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-EFF-YR</coco:originalName>
                                                                <coco:picture>9(04)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-EFF-MNTH" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-EFF-MNTH</coco:originalName>
                                                                <coco:picture>9(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-EFF-DAY" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-EFF-DAY</coco:originalName>
                                                                <coco:picture>9(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PFRCP-TERMIN-DATE" minOccurs="0" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-TERMIN-DATE</coco:originalName>
                                                    <coco:picture>9(08)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-TERMIN-D-R" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-TERMIN-D-R</coco:originalName>
                                                    <coco:redefine>PFRCP-TERMIN-DATE</coco:redefine>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="PFRCP-TERMIN-YR" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-TERMIN-YR</coco:originalName>
                                                                <coco:picture>9(04)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-TERMIN-MNTH" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-TERMIN-MNTH</coco:originalName>
                                                                <coco:picture>9(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-TERMIN-DAY" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-TERMIN-DAY</coco:originalName>
                                                                <coco:picture>9(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PFRCP-LPC-FCTR" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-LPC-FCTR</coco:originalName>
                                                    <coco:picture>9(02)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-LPC-COMP" minOccurs="1" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-LPC-COMP</coco:originalName>
                                                    <coco:picture>S9(9)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-UNADJ-H-IND" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-UNADJ-H-IND</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-UNADJ-H-RATE" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-UNADJ-H-RATE</coco:originalName>
                                                    <coco:picture>S9(1)V999</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-UNADJ-H-AMT" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-UNADJ-H-AMT</coco:originalName>
                                                    <coco:picture>S9(8)V99</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-P-G-F" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-P-G-F</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-PGF-IND" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-PGF-IND</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-PGF-RATE" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-PGF-RATE</coco:originalName>
                                                    <coco:picture>S9(1)V999</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-PGF-RATE-GRP" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-PGF-RATE-GRP</coco:originalName>
                                                    <coco:picture>X(03)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-PGF-AMT" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-PGF-AMT</coco:originalName>
                                                    <coco:picture>S9(8)V99</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-FR-MTD-LPC" minOccurs="1" maxOccurs="1" type="xs:long">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-FR-MTD-LPC</coco:originalName>
                                                    <coco:picture>S9(11)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-FR-MTD-UNH" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-FR-MTD-UNH</coco:originalName>
                                                    <coco:picture>S9(8)V99</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-FR-MTD-PGF" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-FR-MTD-PGF</coco:originalName>
                                                    <coco:picture>S9(8)V99</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-GROUP-TYPE" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-GROUP-TYPE</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-GROUP-MODE" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-GROUP-MODE</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-GROUP-PAYTS" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-GROUP-PAYTS</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-GROUP-ADD-ISSUE" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-GROUP-ADD-ISSUE</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-GROUP-ACCTG-DATE" minOccurs="0" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-GROUP-ACCTG-DATE</coco:originalName>
                                                    <coco:picture>9(08)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-GROUP-ACCTG-D-R" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-GROUP-ACCTG-D-R</coco:originalName>
                                                    <coco:redefine>PFRCP-GROUP-ACCTG-DATE</coco:redefine>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="PFRCP-GROUP-ACCTG-YR" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-GROUP-ACCTG-YR</coco:originalName>
                                                                <coco:picture>9(04)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-GROUP-ACCTG-MNTH" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-GROUP-ACCTG-MNTH</coco:originalName>
                                                                <coco:picture>9(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-GROUP-ACCTG-DAY" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-GROUP-ACCTG-DAY</coco:originalName>
                                                                <coco:picture>9(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PFRCP-SP-VALID-CR" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-SP-VALID-CR</coco:originalName>
                                                    <coco:picture>S9(8)V99</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-HLT-PERS-FEE" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-HLT-PERS-FEE</coco:originalName>
                                                    <coco:picture>S9(8)V99</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-POL-ISS-DATE" minOccurs="0" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-POL-ISS-DATE</coco:originalName>
                                                    <coco:picture>9(08)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-POL-ISS-D-R" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-POL-ISS-D-R</coco:originalName>
                                                    <coco:redefine>PFRCP-POL-ISS-DATE</coco:redefine>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="PFRCP-POL-ISS-YR" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-POL-ISS-YR</coco:originalName>
                                                                <coco:picture>9(04)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-POL-ISS-MNTH" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-POL-ISS-MNTH</coco:originalName>
                                                                <coco:picture>9(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-POL-ISS-DAY" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-POL-ISS-DAY</coco:originalName>
                                                                <coco:picture>9(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PFRCP-FAS-POL-DUR" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-FAS-POL-DUR</coco:originalName>
                                                    <coco:picture>9(02)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-QRRSS" minOccurs="0" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-QRRSS</coco:originalName>
                                                    <coco:picture>9(07)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-QRRSS-R" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-QRRSS-R</coco:originalName>
                                                    <coco:redefine>PFRCP-QRRSS</coco:redefine>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="PFRCP-Q" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-Q</coco:originalName>
                                                                <coco:picture>9(01)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-RR" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-RR</coco:originalName>
                                                                <coco:picture>9(03)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="PFRCP-SS" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>6</coco:level>
                                                                <coco:originalName>PFRCP-SS</coco:originalName>
                                                                <coco:picture>9(03)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="PFRCP-FORM-NO" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-FORM-NO</coco:originalName>
                                                    <coco:picture>9(03)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-FORM-SUFF" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-FORM-SUFF</coco:originalName>
                                                    <coco:picture>9(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="PFRCP-STATS" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>PFRCP-STATS</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PFRCP-UNUSED" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-UNUSED</coco:originalName>
                                                    <coco:picture>X(19)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-LRECL" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-LRECL</coco:originalName>
                                                    <coco:picture>9(03)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PFRCP-TALLY" minOccurs="1" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>5</coco:level>
                                                    <coco:originalName>PFRCP-TALLY</coco:originalName>
                                                    <coco:picture>9(06)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>