ojc-core/encodersl/encoder-coco/test/data/JCAPS51/LZCDIS00.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="REC">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName>REC</coco:originalName>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="LAENGE-GES" minOccurs="1" maxOccurs="1" type="xs:short">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>LAENGE-GES</coco:originalName>
                            <coco:picture>S9(4)</coco:picture>
                            <coco:usage>
                                <coco:binary/>
                            </coco:usage>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IMS" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>IMS</coco:originalName>
                            <coco:picture>XX</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="LAST-TRC" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>LAST-TRC</coco:originalName>
                            <coco:picture>X(8)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SCHLUESSEL" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>SCHLUESSEL</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="EMPFAENGER" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>EMPFAENGER</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="EMP-UN" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>EMP-UN</coco:originalName>
                                                    <coco:picture>99</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="EMP-BST" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>EMP-BST</coco:originalName>
                                                    <coco:picture>999</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="EMP-KZ-MASCHINE" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>EMP-KZ-MASCHINE</coco:originalName>
                                                    <coco:picture>X</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ABSENDER" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>ABSENDER</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="ABS-UN" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>ABS-UN</coco:originalName>
                                                    <coco:picture>99</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="ABS-BST" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>ABS-BST</coco:originalName>
                                                    <coco:picture>999</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="ABS-KZ-MASCHINE" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>ABS-KZ-MASCHINE</coco:originalName>
                                                    <coco:picture>X</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="SA-KEY" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>SA-KEY</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="SA" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>SA</coco:originalName>
                                                    <coco:picture>999</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="UEB-GR" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>UEB-GR</coco:originalName>
                                                    <coco:picture>9</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="LAENGENFELDER" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>LAENGENFELDER</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="LAENGE-LRN" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>LAENGE-LRN</coco:originalName>
                                                    <coco:picture>S9(4)</coco:picture>
                                                    <coco:usage>
                                                        <coco:binary/>
                                                    </coco:usage>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="LAENGE-NLRN" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>LAENGE-NLRN</coco:originalName>
                                                    <coco:picture>S9(4)</coco:picture>
                                                    <coco:usage>
                                                        <coco:binary/>
                                                    </coco:usage>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="LAENGE-LRA" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>LAENGE-LRA</coco:originalName>
                                                    <coco:picture>S9(4)</coco:picture>
                                                    <coco:usage>
                                                        <coco:binary/>
                                                    </coco:usage>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="LAENGE-NLRA" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>LAENGE-NLRA</coco:originalName>
                                                    <coco:picture>S9(4)</coco:picture>
                                                    <coco:usage>
                                                        <coco:binary/>
                                                    </coco:usage>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="DATENTEIL" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>DATENTEIL</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="DATEN-NEU-LAGER" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>DATEN-NEU-LAGER</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="LAGERREL-NEU" minOccurs="0" maxOccurs="1000" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>LAGERREL-NEU</coco:originalName>
                                                    <coco:picture>X</coco:picture>
                                                    <coco:occursDependOn>
                                                        <coco:topElement>REC</coco:topElement>
                                                        <coco:path>SCHLUESSEL/LAENGENFELDER/LAENGE-LRN</coco:path>
                                                    </coco:occursDependOn>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="DATEN-NEU-NICHT-LAGER" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>DATEN-NEU-NICHT-LAGER</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NICHT-NEU" minOccurs="0" maxOccurs="1000" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>NICHT-NEU</coco:originalName>
                                                    <coco:picture>X</coco:picture>
                                                    <coco:occursDependOn>
                                                        <coco:topElement>REC</coco:topElement>
                                                        <coco:path>SCHLUESSEL/LAENGENFELDER/LAENGE-NLRN</coco:path>
                                                    </coco:occursDependOn>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="DATEN-ALT-LAGER" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>DATEN-ALT-LAGER</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="LAGERREL-ALT" minOccurs="0" maxOccurs="1000" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>LAGERREL-ALT</coco:originalName>
                                                    <coco:picture>X</coco:picture>
                                                    <coco:occursDependOn>
                                                        <coco:topElement>REC</coco:topElement>
                                                        <coco:path>SCHLUESSEL/LAENGENFELDER/LAENGE-LRA</coco:path>
                                                    </coco:occursDependOn>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="DATEN-ALT-NICHT-LAGER" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>DATEN-ALT-NICHT-LAGER</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NICHT-LAGER-ALT" minOccurs="0" maxOccurs="1000" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>NICHT-LAGER-ALT</coco:originalName>
                                                    <coco:picture>X</coco:picture>
                                                    <coco:occursDependOn>
                                                        <coco:topElement>REC</coco:topElement>
                                                        <coco:path>SCHLUESSEL/LAENGENFELDER/LAENGE-NLRA</coco:path>
                                                    </coco:occursDependOn>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>