ojc-core/encodersl/encoder-coco/test/data/JCAPS51/o2xx.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="OUT2-RECORD">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName>OUT2-RECORD</coco:originalName>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="OUT2-FILE-ID" minOccurs="1" maxOccurs="1" type="xs:short">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>OUT2-FILE-ID</coco:originalName>
                            <coco:picture>9</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OUT2-RECORD-ID" minOccurs="1" maxOccurs="1" type="xs:int">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>OUT2-RECORD-ID</coco:originalName>
                            <coco:picture>9999999</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OUT2-DATE" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>OUT2-DATE</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="OUT2-MM" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>OUT2-MM</coco:originalName>
                                        <coco:picture>99</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="OUT2-DD" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>OUT2-DD</coco:originalName>
                                        <coco:picture>99</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="OUT2-YEAR" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>OUT2-YEAR</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="OUT2-CC" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>7</coco:level>
                                                    <coco:originalName>OUT2-CC</coco:originalName>
                                                    <coco:picture>99</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="OUT2-YY" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>7</coco:level>
                                                    <coco:originalName>OUT2-YY</coco:originalName>
                                                    <coco:picture>99</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="OUT2-TIME" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>OUT2-TIME</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="OUT2-HOURS" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>OUT2-HOURS</coco:originalName>
                                        <coco:picture>99</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="OUT2-MINUTES" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>OUT2-MINUTES</coco:originalName>
                                        <coco:picture>99</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="OUT2-SECONDS" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>OUT2-SECONDS</coco:originalName>
                                        <coco:picture>99</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="OUT2-ALPHA-1-M1" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>OUT2-ALPHA-1-M1</coco:originalName>
                            <coco:picture>X(16)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OUT2-VAR-X-OCCURS" minOccurs="1" maxOccurs="1" type="xs:short">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>OUT2-VAR-X-OCCURS</coco:originalName>
                            <coco:picture>9</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OUT2-VAR-X-MESSAGE1" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>OUT2-VAR-X-MESSAGE1</coco:originalName>
                            <coco:picture>X(20)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OUT2-VAR-X-MESSAGE2" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>OUT2-VAR-X-MESSAGE2</coco:originalName>
                            <coco:picture>X(20)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OUT2-VAR-X-MESSAGE3" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>OUT2-VAR-X-MESSAGE3</coco:originalName>
                            <coco:picture>X(20)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>