ojc-core/encodersl/encoder-coco/test/data/JCAPS51/otdAccountInfoRequest_corrected.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="X30338F-FUNCTION-SEG">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName>X30338F-FUNCTION-SEG</coco:originalName>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="X30338F-MSG-LL" minOccurs="1" maxOccurs="1" type="xs:short">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>X30338F-MSG-LL</coco:originalName>
                            <coco:picture>S9(04)</coco:picture>
                            <coco:usage>
                                <coco:binary/>
                            </coco:usage>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="X30338F-FUNC-TAG" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>X30338F-FUNC-TAG</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="X30338F-FUNC-DESC" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>X30338F-FUNC-DESC</coco:originalName>
                                        <coco:picture>X(3)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="X30338F-FUNC-PGMID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>X30338F-FUNC-PGMID</coco:originalName>
                                        <coco:picture>X(4)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="X30338F-FUNC-IN-OUT" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>X30338F-FUNC-IN-OUT</coco:originalName>
                                        <coco:picture>X</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="X30338F-INPUT-DATA" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>3</coco:level>
                            <coco:originalName>X30338F-INPUT-DATA</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="X30338F-PROFILE-METHOD" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>X30338F-PROFILE-METHOD</coco:originalName>
                                        <coco:picture>X(01)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="X30338F-ACT-KEY" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>X30338F-ACT-KEY</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="X30338F-ACT-COID" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>X30338F-ACT-COID</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="X30338F-ACT-COID-N" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>X30338F-ACT-COID-N</coco:originalName>
                                                                <coco:picture>9(04)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="X30338F-ACT-PRDCT" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>X30338F-ACT-PRDCT</coco:originalName>
                                                    <coco:picture>X(03)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="X30338F-ACT-NUMBER" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>X30338F-ACT-NUMBER</coco:originalName>
                                                    <coco:picture>X(23)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="X30338F-CARD-KEY" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>X30338F-CARD-KEY</coco:originalName>
                                        <coco:redefine>X30338F-ACT-KEY</coco:redefine>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="X30338F-CARD-COID" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>X30338F-CARD-COID</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="X30338F-CARD-COID-N" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>X30338F-CARD-COID-N</coco:originalName>
                                                                <coco:picture>9(04)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="FILLER1" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:nameFiller/>
                                                                <coco:picture>X(09)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="X30338F-CARD-PLASTIC-NBR" minOccurs="1" maxOccurs="1" type="xs:long">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>X30338F-CARD-PLASTIC-NBR</coco:originalName>
                                                                <coco:picture>9(17)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="X30338F-UCN-KEY" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>X30338F-UCN-KEY</coco:originalName>
                                        <coco:redefine>X30338F-ACT-KEY</coco:redefine>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="X30338F-UCN-COID" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>X30338F-UCN-COID</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="X30338F-UCN-COID-N" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>X30338F-UCN-COID-N</coco:originalName>
                                                                <coco:picture>9(04)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="X30338F-CUSTOMER-NO" minOccurs="1" maxOccurs="1" type="xs:long">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>X30338F-CUSTOMER-NO</coco:originalName>
                                                    <coco:picture>9(15)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="FILLER2" minOccurs="1" maxOccurs="1" type="xs:long">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:nameFiller/>
                                                    <coco:picture>9(11)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="X30338F-CIF-KEY" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>X30338F-CIF-KEY</coco:originalName>
                                        <coco:redefine>X30338F-ACT-KEY</coco:redefine>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="X30338F-CIF-COID" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>X30338F-CIF-COID</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="X30338F-CIF-COID-N" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>X30338F-CIF-COID-N</coco:originalName>
                                                                <coco:picture>9(04)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="X30338F-CIF-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>X30338F-CIF-ID</coco:originalName>
                                                    <coco:picture>X(09)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="X30338F-CIF-TIE-BREAKER" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:originalName>X30338F-CIF-TIE-BREAKER</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="X30338F-CIF-TIE-BREAKER-N" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>15</coco:level>
                                                                <coco:originalName>X30338F-CIF-TIE-BREAKER-N</coco:originalName>
                                                                <coco:picture>9(04)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="FILLER3" minOccurs="1" maxOccurs="1" type="xs:long">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>10</coco:level>
                                                    <coco:nameFiller/>
                                                    <coco:picture>9(13)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="X30338F-NEXT-ACT-SEQ" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>5</coco:level>
                                        <coco:originalName>X30338F-NEXT-ACT-SEQ</coco:originalName>
                                        <coco:picture>X(30)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>