ojc-core/encodersl/encoder-coco/test/data/JCAPS51/SA161.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="SA161">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName>SA161</coco:originalName>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="IBM-161" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>IBM-161</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="LIEFP-KEY" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>LIEFP-KEY</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="EMPFAENGER" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>EMPFAENGER</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="UN-BST-ABT-EMPF" minOccurs="1" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>UN-BST-ABT-EMPF</coco:originalName>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="UN-BST" minOccurs="1" maxOccurs="1">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>6</coco:level>
                                                                            <coco:originalName>UN-BST</coco:originalName>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="UN" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>7</coco:level>
                                                                                        <coco:originalName>UN</coco:originalName>
                                                                                        <coco:picture>9(02)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="BST" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>7</coco:level>
                                                                                        <coco:originalName>BST</coco:originalName>
                                                                                        <coco:picture>9(03)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="ABT" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>6</coco:level>
                                                                            <coco:originalName>ABT</coco:originalName>
                                                                            <coco:picture>9(03)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="LIEFERANT-NR" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>LIEFERANT-NR</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="LIEF-BBN" minOccurs="1" maxOccurs="1" type="xs:int">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>LIEF-BBN</coco:originalName>
                                                                <coco:picture>9(08)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="LIEF-REST" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>LIEF-REST</coco:originalName>
                                                                <coco:picture>X(05)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="ILN" minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>ILN</coco:originalName>
                                                    <coco:redefine>LIEFERANT-NR</coco:redefine>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="BBN-OHNE-PRUEFZIFFER" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>BBN-OHNE-PRUEFZIFFER</coco:originalName>
                                                                <coco:picture>X(7)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="ILN-REST" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>ILN-REST</coco:originalName>
                                                                <coco:picture>X(5)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="ILN-PRUEFZIFFER" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>ILN-PRUEFZIFFER</coco:originalName>
                                                                <coco:picture>X(1)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="LIEFER-AVIS" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>LIEFER-AVIS</coco:originalName>
                                                    <coco:picture>X(10)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="DAT-ERSTELLUNG" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>DAT-ERSTELLUNG</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="JAHRHUNDERT" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>JAHRHUNDERT</coco:originalName>
                                                                <coco:picture>9(02)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="JJMMTT" minOccurs="1" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>JJMMTT</coco:originalName>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="JAHR" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>6</coco:level>
                                                                            <coco:originalName>JAHR</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="MONAT" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>6</coco:level>
                                                                            <coco:originalName>MONAT</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="TAG" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>6</coco:level>
                                                                            <coco:originalName>TAG</coco:originalName>
                                                                            <coco:picture>9(02)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="LIEFP-ALT-KEY-1" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>LIEFP-ALT-KEY-1</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="S-UN-BST-ABT" minOccurs="1" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>S-UN-BST-ABT</coco:originalName>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="UN-BST" minOccurs="1" maxOccurs="1">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>6</coco:level>
                                                                            <coco:originalName>UN-BST</coco:originalName>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="UN" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>7</coco:level>
                                                                                        <coco:originalName>UN</coco:originalName>
                                                                                        <coco:picture>9(02)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                            <xs:element name="BST" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                                <xs:annotation>
                                                                                    <xs:appinfo source="urn:com.sun:encoder">
                                                                                        <coco:level>7</coco:level>
                                                                                        <coco:originalName>BST</coco:originalName>
                                                                                        <coco:picture>9(03)</coco:picture>
                                                                                    </xs:appinfo>
                                                                                </xs:annotation>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="ABT" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>6</coco:level>
                                                                            <coco:originalName>ABT</coco:originalName>
                                                                            <coco:picture>9(03)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="BEPO" minOccurs="1" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>BEPO</coco:originalName>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="WG" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>6</coco:level>
                                                                            <coco:originalName>WG</coco:originalName>
                                                                            <coco:picture>X(01)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="ART-GR-9" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>6</coco:level>
                                                                            <coco:originalName>ART-GR-9</coco:originalName>
                                                                            <coco:picture>9(01)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="BEPO-NR" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>6</coco:level>
                                                                            <coco:originalName>BEPO-NR</coco:originalName>
                                                                            <coco:picture>9(04)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="BEPO-PRUEFZIFFER" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>6</coco:level>
                                                                            <coco:originalName>BEPO-PRUEFZIFFER</coco:originalName>
                                                                            <coco:picture>9(01)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="GROESSE" minOccurs="1" maxOccurs="1" type="xs:int">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>GROESSE</coco:originalName>
                                                                <coco:picture>9(07)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="LIEFP-ALT-KEY-2" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>LIEFP-ALT-KEY-2</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="EAN" minOccurs="1" maxOccurs="1" type="xs:long">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>EAN</coco:originalName>
                                                    <coco:picture>9(13)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MENGE-VE-LIEFERSCHEIN" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>MENGE-VE-LIEFERSCHEIN</coco:originalName>
                                        <coco:picture>9(07)V9(02)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="VK" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>VK</coco:originalName>
                                        <coco:picture>S9(07)V9(02)</coco:picture>
                                        <coco:sign>
                                            <coco:leading/>
                                            <coco:separate/>
                                        </coco:sign>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AUFTRAGSNR" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>AUFTRAGSNR</coco:originalName>
                                        <coco:picture>X(12)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AVIS-TYP" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>AVIS-TYP</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="KENNZ-AVIS-TYP" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>KENNZ-AVIS-TYP</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="EK" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>EK</coco:originalName>
                                        <coco:picture>9(07)V9(03)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AP" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>AP</coco:originalName>
                                        <coco:picture>9(07)V9(03)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="FIL-VK" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>FIL-VK</coco:originalName>
                                        <coco:picture>9(07)V9(03)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="NVE" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>NVE</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="KZ-VERPACKUNG" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>KZ-VERPACKUNG</coco:originalName>
                                                    <coco:picture>9(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="BBN-OHNE-PRUEFZIFFER" minOccurs="1" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>BBN-OHNE-PRUEFZIFFER</coco:originalName>
                                                    <coco:picture>9(07)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="NVE-LFD-NR" minOccurs="1" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>NVE-LFD-NR</coco:originalName>
                                                    <coco:picture>9(09)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="PRUEF-ZIFF" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>PRUEF-ZIFF</coco:originalName>
                                                    <coco:picture>9(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="KZ-HAENGEWARE" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>KZ-HAENGEWARE</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="KENNZ-HAENGE-LIEGEWARE" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>KENNZ-HAENGE-LIEGEWARE</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="LAENGE-HAENGEWARE" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>LAENGE-HAENGEWARE</coco:originalName>
                                        <coco:picture>9(04)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="KZ-PREISBINDUNG" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>KZ-PREISBINDUNG</coco:originalName>
                                        <coco:picture>X</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="KONTONUMMER" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>KONTONUMMER</coco:originalName>
                                        <coco:picture>X(06)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="BEPO-BEZ" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>BEPO-BEZ</coco:originalName>
                                        <coco:picture>X(20)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="TEXT-BEPO-LIEFER" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>TEXT-BEPO-LIEFER</coco:originalName>
                                        <coco:picture>X(20)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ART-BEZ" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>ART-BEZ</coco:originalName>
                                        <coco:picture>X(20)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="TEXT-ART-LIEFER" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>TEXT-ART-LIEFER</coco:originalName>
                                        <coco:picture>X(20)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="SERIEN-BEZ" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>SERIEN-BEZ</coco:originalName>
                                        <coco:picture>X(20)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="TEXT-SERIE-LIEFER" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>TEXT-SERIE-LIEFER</coco:originalName>
                                        <coco:picture>X(20)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="GROESSEN-BEZ" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>GROESSEN-BEZ</coco:originalName>
                                        <coco:picture>X(20)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="KOMMISSIONSWARE" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>KOMMISSIONSWARE</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="KOMMISSIONSWARE-DEF" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>KOMMISSIONSWARE-DEF</coco:originalName>
                                                    <coco:picture>X(01)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="VE-EINHEIT-JE-LHM" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>VE-EINHEIT-JE-LHM</coco:originalName>
                                        <coco:picture>9(06)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="VE-LAENGE" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>VE-LAENGE</coco:originalName>
                                        <coco:picture>9(04)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="VE-BREITE" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>VE-BREITE</coco:originalName>
                                        <coco:picture>9(04)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="VE-HOEHE" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>VE-HOEHE</coco:originalName>
                                        <coco:picture>9(04)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="VE-GEWICHT" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>VE-GEWICHT</coco:originalName>
                                        <coco:picture>9(07)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AUSZEICHNER-BEPO" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>AUSZEICHNER-BEPO</coco:originalName>
                                        <coco:picture>X(01)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AUSZEICHNER-PREIS" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>AUSZEICHNER-PREIS</coco:originalName>
                                        <coco:picture>X(01)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AUSZEICHNER-EAN" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>AUSZEICHNER-EAN</coco:originalName>
                                        <coco:picture>X(01)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AUSZEICHNER-PLU" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>AUSZEICHNER-PLU</coco:originalName>
                                        <coco:picture>X(01)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="KZ-BERLIN-NBG" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>KZ-BERLIN-NBG</coco:originalName>
                                        <coco:picture>X(01)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="VORGANGSART" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>VORGANGSART</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="VORGANGSART-DEF" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>VORGANGSART-DEF</coco:originalName>
                                                    <coco:picture>9(02)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="KZ-HERKUNFT" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>KZ-HERKUNFT</coco:originalName>
                                        <coco:picture>9(02)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MENGE-BEST-VE" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>MENGE-BEST-VE</coco:originalName>
                                        <coco:picture>9(07)V9(02)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="LOT-NR" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>LOT-NR</coco:originalName>
                                        <coco:picture>X(13)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="VK-M-ST-E" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>VK-M-ST-E</coco:originalName>
                                        <coco:picture>9(07)V9(02)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="EK-E" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>EK-E</coco:originalName>
                                        <coco:picture>9(07)V9(03)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="AP-E" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>AP-E</coco:originalName>
                                        <coco:picture>9(07)V9(03)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="FIL-VK-E" minOccurs="1" maxOccurs="1" type="xs:decimal">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>FIL-VK-E</coco:originalName>
                                        <coco:picture>9(07)V9(02)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="LADESEQUENZ" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>LADESEQUENZ</coco:originalName>
                                        <coco:picture>X(06)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="FILLER1" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:nameFiller/>
                                        <coco:picture>X(243)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>