ojc-core/encodersl/encoder-coco/test/data/JCAPS51/wapimsg.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="FILLER">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName xsi:nil="true"/>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MSGIO-FUNCTION-CODE" minOccurs="1" maxOccurs="1" type="xs:short">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>MSGIO-FUNCTION-CODE</coco:originalName>
                            <coco:picture>S9(04)</coco:picture>
                            <coco:usage>
                                <coco:binary/>
                            </coco:usage>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MSGIO-RETURN-CODE" minOccurs="1" maxOccurs="1" type="xs:short">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>MSGIO-RETURN-CODE</coco:originalName>
                            <coco:picture>S9(04)</coco:picture>
                            <coco:usage>
                                <coco:binary/>
                            </coco:usage>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MSGIO-EXPLANATION-CODE" minOccurs="1" maxOccurs="1" type="xs:short">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>MSGIO-EXPLANATION-CODE</coco:originalName>
                            <coco:picture>S9(04)</coco:picture>
                            <coco:usage>
                                <coco:binary/>
                            </coco:usage>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MSGIO-PARM-BLOCK-VERSION" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>MSGIO-PARM-BLOCK-VERSION</coco:originalName>
                            <coco:picture>X(02)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ACTUAL-LENGTH-SEND" minOccurs="0" maxOccurs="1" type="xs:int">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>ACTUAL-LENGTH-SEND</coco:originalName>
                            <coco:picture>S9(09)</coco:picture>
                            <coco:usage>
                                <coco:binary/>
                            </coco:usage>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MSGIO-ACTUAL-DATA-LENGTH" minOccurs="0" maxOccurs="1" type="xs:int">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>MSGIO-ACTUAL-DATA-LENGTH</coco:originalName>
                            <coco:redefine>ACTUAL-LENGTH-SEND</coco:redefine>
                            <coco:picture>S9(09)</coco:picture>
                            <coco:usage>
                                <coco:binary/>
                            </coco:usage>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ACTUAL-LENGTH-RECV" minOccurs="1" maxOccurs="1" type="xs:int">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>ACTUAL-LENGTH-RECV</coco:originalName>
                            <coco:picture>S9(09)</coco:picture>
                            <coco:usage>
                                <coco:binary/>
                            </coco:usage>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MSGIO-MAX-DATA-LENGTH" minOccurs="1" maxOccurs="1" type="xs:int">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>MSGIO-MAX-DATA-LENGTH</coco:originalName>
                            <coco:picture>S9(09)</coco:picture>
                            <coco:usage>
                                <coco:binary/>
                            </coco:usage>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MSGIO-THIS-SERVICE-ID" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>MSGIO-THIS-SERVICE-ID</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MSGIO-THIS-ROUTING" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>MSGIO-THIS-ROUTING</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MSGIO-THIS-APPL-NAME" minOccurs="1" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>MSGIO-THIS-APPL-NAME</coco:originalName>
                                                    <coco:picture>S9(09)</coco:picture>
                                                    <coco:usage>
                                                        <coco:binary/>
                                                    </coco:usage>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MSGIO-THIS-SERVICE-NAME" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>MSGIO-THIS-SERVICE-NAME</coco:originalName>
                                                    <coco:picture>S9(04)</coco:picture>
                                                    <coco:usage>
                                                        <coco:binary/>
                                                    </coco:usage>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MSGIO-THIS-SERVICE-VERS" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>MSGIO-THIS-SERVICE-VERS</coco:originalName>
                                                    <coco:picture>X(02)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MSGIO-THIS-NETWORK-ADDRESS" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>MSGIO-THIS-NETWORK-ADDRESS</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MSGIO-THIS-NODE-ID" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>MSGIO-THIS-NODE-ID</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="DOMAIN" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>DOMAIN</coco:originalName>
                                                                <coco:picture>S9(04)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:binary/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="STATION" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>STATION</coco:originalName>
                                                                <coco:picture>S9(04)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:binary/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MSGIO-THIS-PORT-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>MSGIO-THIS-PORT-ID</coco:originalName>
                                                    <coco:picture>X(10)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MSGIO-THIS-PROCESS-INFO" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>MSGIO-THIS-PROCESS-INFO</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MSGIO-THIS-LANGUAGE" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>MSGIO-THIS-LANGUAGE</coco:originalName>
                                                    <coco:picture>X</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MSGIO-PEER-SERVICE-ID" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>MSGIO-PEER-SERVICE-ID</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MSGIO-PEER-ROUTING" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>MSGIO-PEER-ROUTING</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MSGIO-PEER-APPL-NAME" minOccurs="1" maxOccurs="1" type="xs:int">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>MSGIO-PEER-APPL-NAME</coco:originalName>
                                                    <coco:picture>S9(09)</coco:picture>
                                                    <coco:usage>
                                                        <coco:binary/>
                                                    </coco:usage>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MSGIO-PEER-SERVICE-NAME" minOccurs="1" maxOccurs="1" type="xs:short">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>MSGIO-PEER-SERVICE-NAME</coco:originalName>
                                                    <coco:picture>S9(04)</coco:picture>
                                                    <coco:usage>
                                                        <coco:binary/>
                                                    </coco:usage>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="MSGIO-PEER-SERVICE-VERS" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>MSGIO-PEER-SERVICE-VERS</coco:originalName>
                                                    <coco:picture>X(02)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MSGIO-PEER-NETWORK-ADDRESS" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>MSGIO-PEER-NETWORK-ADDRESS</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MSGIO-PEER-NODE-ID" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>MSGIO-PEER-NODE-ID</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="DOMAIN" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>DOMAIN</coco:originalName>
                                                                <coco:picture>S9(04)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:binary/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="STATION" minOccurs="1" maxOccurs="1" type="xs:short">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>5</coco:level>
                                                                <coco:originalName>STATION</coco:originalName>
                                                                <coco:picture>S9(04)</coco:picture>
                                                                <coco:usage>
                                                                    <coco:binary/>
                                                                </coco:usage>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="MSGIO-PEER-PORT-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>MSGIO-PEER-PORT-ID</coco:originalName>
                                                    <coco:picture>X(10)</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="MSGIO-PEER-PROCESS-INFO" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>MSGIO-PEER-PROCESS-INFO</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MSGIO-PEER-LANGUAGE" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>4</coco:level>
                                                    <coco:originalName>MSGIO-PEER-LANGUAGE</coco:originalName>
                                                    <coco:picture>X</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="MSGIO-MSG-IDENTIFIER" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>MSGIO-MSG-IDENTIFIER</coco:originalName>
                            <coco:picture>X(24)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="APPL-MSG-ID" minOccurs="1" maxOccurs="1" type="xs:short">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>APPL-MSG-ID</coco:originalName>
                            <coco:picture>S9(04)</coco:picture>
                            <coco:usage>
                                <coco:binary/>
                            </coco:usage>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SYST-OR-APPL-MSG" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>SYST-OR-APPL-MSG</coco:originalName>
                            <coco:picture>X</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MSGIO-MSG-TYPE" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>MSGIO-MSG-TYPE</coco:originalName>
                            <coco:picture>X</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MSGIO-REPLY-REQUESTED" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>MSGIO-REPLY-REQUESTED</coco:originalName>
                            <coco:picture>X</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FILLER1" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:nameFiller/>
                            <coco:picture>X</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MSGIO-ENVIRONMENT" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>MSGIO-ENVIRONMENT</coco:originalName>
                            <coco:picture>X(02)</coco:picture>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MSGIO-TIMEOUT-INTERVAL" minOccurs="1" maxOccurs="1" type="xs:int">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>MSGIO-TIMEOUT-INTERVAL</coco:originalName>
                            <coco:picture>S9(09)</coco:picture>
                            <coco:usage>
                                <coco:binary/>
                            </coco:usage>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MSGIO-PRIORITY" minOccurs="1" maxOccurs="1" type="xs:short">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>MSGIO-PRIORITY</coco:originalName>
                            <coco:picture>S9(04)</coco:picture>
                            <coco:usage>
                                <coco:binary/>
                            </coco:usage>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MSGIO-APPL-STATUS" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>MSGIO-APPL-STATUS</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MSGIO-APPL-RETURN-CODE" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>MSGIO-APPL-RETURN-CODE</coco:originalName>
                                        <coco:picture>S9(04)</coco:picture>
                                        <coco:usage>
                                            <coco:binary/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MSGIO-APPL-EXPLANATION-CODE" minOccurs="0" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>MSGIO-APPL-EXPLANATION-CODE</coco:originalName>
                                        <coco:picture>S9(04)</coco:picture>
                                        <coco:usage>
                                            <coco:binary/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MSGIO-APPL-EXPLANATION-CODE-RD" minOccurs="0" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>MSGIO-APPL-EXPLANATION-CODE-RD</coco:originalName>
                                        <coco:redefine>MSGIO-APPL-EXPLANATION-CODE</coco:redefine>
                                        <coco:picture>X(2)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="EXPLAN-DATA" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>EXPLAN-DATA</coco:originalName>
                                        <coco:picture>X(04)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="SECUR" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>SECUR</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MSGIO-USER-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>MSGIO-USER-ID</coco:originalName>
                                        <coco:picture>X(08)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="USER-PW" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>USER-PW</coco:originalName>
                                        <coco:picture>X(08)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="TRANSLATION" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>2</coco:level>
                            <coco:originalName>TRANSLATION</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MAP-NAME" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>MAP-NAME</coco:originalName>
                                        <coco:picture>X(08)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="MAP-VERSION" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>3</coco:level>
                                        <coco:originalName>MAP-VERSION</coco:originalName>
                                        <coco:picture>X(02)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>