ojc-core/encodersl/encoder-coco/test/data/JCAPS51/ywclclr0.exp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:enc="urn:com.sun:encoder" xmlns:coco="urn:com.sun:encoder-coco-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xs:annotation>
        <xs:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="COBOL Copybook Encoder" namespace="urn:com.sun:encoder-coco-1.0" style="cocoencoder-1.0"/>
            <coco:cocoXsdBuilderVendor>SUNW</coco:cocoXsdBuilderVendor>
            <coco:cocoXsdBuilderVersion>${BUILDER_VERSION}</coco:cocoXsdBuilderVersion>
            <coco:copybookLocation>${COPYBOOK_LOCATION}</coco:copybookLocation>
            <coco:copybookCharEncoding>ASCII</coco:copybookCharEncoding>
            <coco:xsdLocation>${XSD_LOCATION}</coco:xsdLocation>
            <coco:ignoreContentBeyondCol72>true</coco:ignoreContentBeyondCol72>
            <coco:checkNamesForReservedWords>true</coco:checkNamesForReservedWords>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="FILLER">
        <xs:annotation>
            <xs:appinfo source="urn:com.sun:encoder">
                <enc:top>true</enc:top>
                <coco:level>1</coco:level>
                <coco:originalName xsi:nil="true"/>
                <coco:displayCharEncoding>ASCII</coco:displayCharEncoding>
                <coco:display1CharEncoding>ASCII</coco:display1CharEncoding>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="LG-LOG-PREFIX" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>LG-LOG-PREFIX</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="LG-B-A" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>LG-B-A</coco:originalName>
                                        <coco:picture>X</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="LG-LAST-UPD-DT" minOccurs="1" maxOccurs="1" type="xs:int">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>LG-LAST-UPD-DT</coco:originalName>
                                        <coco:picture>9(8)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="LG-TXN-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>LG-TXN-ID</coco:originalName>
                                        <coco:picture>X(4)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="LG-SUB-FUNCTION" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>LG-SUB-FUNCTION</coco:originalName>
                                        <coco:picture>X</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CLR-KEY" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>CLR-KEY</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CLR-PZ-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>CLR-PZ-ID</coco:originalName>
                                        <coco:picture>XX</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CLR-CI-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>CLR-CI-ID</coco:originalName>
                                        <coco:picture>XX</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CLR-REC-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>CLR-REC-ID</coco:originalName>
                                        <coco:picture>XX</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CLR-KEY1" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>CLR-KEY1</coco:originalName>
                                    </xs:appinfo>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="CLR-PA-KEY1" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>CLR-PA-KEY1</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CLR-ME-KEY1" minOccurs="1" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>CLR-ME-KEY1</coco:originalName>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="CLR-PA-GROUP" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>CLR-PA-GROUP</coco:originalName>
                                                                            <coco:picture>X(08)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="CLR-PA-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>CLR-PA-ID</coco:originalName>
                                                                            <coco:picture>X(09)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="CLR-PA-REL-NAME" minOccurs="1" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>CLR-PA-REL-NAME</coco:originalName>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="CLR-PA-REL" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>CLR-PA-REL</coco:originalName>
                                                                            <coco:picture>X</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                                <xs:element name="CLR-PA-ID-NAME" minOccurs="1" maxOccurs="1" type="xs:string">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>CLR-PA-ID-NAME</coco:originalName>
                                                                            <coco:picture>X(06)</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="CLR-SYS-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>CLR-SYS-ID</coco:originalName>
                                                    <coco:picture>X</coco:picture>
                                                </xs:appinfo>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="CLR-CL-KEY1" minOccurs="1" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:appinfo source="urn:com.sun:encoder">
                                                    <coco:level>15</coco:level>
                                                    <coco:originalName>CLR-CL-KEY1</coco:originalName>
                                                </xs:appinfo>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="CLR-CL-ID" minOccurs="1" maxOccurs="1" type="xs:string">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>CLR-CL-ID</coco:originalName>
                                                                <coco:picture>X(09)</coco:picture>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                    </xs:element>
                                                    <xs:element name="CLR-CL-GEN-X" minOccurs="1" maxOccurs="1">
                                                        <xs:annotation>
                                                            <xs:appinfo source="urn:com.sun:encoder">
                                                                <coco:level>20</coco:level>
                                                                <coco:originalName>CLR-CL-GEN-X</coco:originalName>
                                                            </xs:appinfo>
                                                        </xs:annotation>
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="CLR-CL-GEN" minOccurs="1" maxOccurs="1" type="xs:short">
                                                                    <xs:annotation>
                                                                        <xs:appinfo source="urn:com.sun:encoder">
                                                                            <coco:level>25</coco:level>
                                                                            <coco:originalName>CLR-CL-GEN</coco:originalName>
                                                                            <coco:picture>99</coco:picture>
                                                                        </xs:appinfo>
                                                                    </xs:annotation>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="CLR-KEY-FIL" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>CLR-KEY-FIL</coco:originalName>
                                        <coco:picture>XX</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CLR-ODO-CTRS" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>CLR-ODO-CTRS</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CLR-C-ODO-CTR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>CLR-C-ODO-CTR</coco:originalName>
                                        <coco:picture>S9(4)</coco:picture>
                                        <coco:usage>
                                            <coco:binary/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CLR-NFD-ODO-CTR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>CLR-NFD-ODO-CTR</coco:originalName>
                                        <coco:picture>S9(4)</coco:picture>
                                        <coco:usage>
                                            <coco:binary/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CLR-FILL-ODO-CTR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>CLR-FILL-ODO-CTR</coco:originalName>
                                        <coco:picture>S9(4)</coco:picture>
                                        <coco:usage>
                                            <coco:binary/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CLR-CUST-ODO-CTR" minOccurs="1" maxOccurs="1" type="xs:short">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>CLR-CUST-ODO-CTR</coco:originalName>
                                        <coco:picture>S9(4)</coco:picture>
                                        <coco:usage>
                                            <coco:binary/>
                                        </coco:usage>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CLR-FIXED-DATA" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>CLR-FIXED-DATA</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="FILLER1" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:nameFiller/>
                                        <coco:picture>X(38)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CLR-STATUS" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>CLR-STATUS</coco:originalName>
                                        <coco:picture>X(02)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="FILLER2" minOccurs="1" maxOccurs="1" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:nameFiller/>
                                        <coco:picture>X(530)</coco:picture>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CLR-C-INFO-G" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>CLR-C-INFO-G</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CLR-C-INFO" minOccurs="0" maxOccurs="3" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>CLR-C-INFO</coco:originalName>
                                        <coco:picture>X(102)</coco:picture>
                                        <coco:occursDependOn>
                                            <coco:topElement>FILLER</coco:topElement>
                                            <coco:path>CLR-ODO-CTRS/CLR-C-ODO-CTR</coco:path>
                                        </coco:occursDependOn>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CLR-NON-FIXED-DATA" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>CLR-NON-FIXED-DATA</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CLR-NFD-BYTE" minOccurs="0" maxOccurs="3262" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>CLR-NFD-BYTE</coco:originalName>
                                        <coco:picture>X</coco:picture>
                                        <coco:occursDependOn>
                                            <coco:topElement>FILLER</coco:topElement>
                                            <coco:path>CLR-ODO-CTRS/CLR-NFD-ODO-CTR</coco:path>
                                        </coco:occursDependOn>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CLR-FILL-AREA-G" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>CLR-FILL-AREA-G</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CLR-FILL-BYTE" minOccurs="0" maxOccurs="402" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>CLR-FILL-BYTE</coco:originalName>
                                        <coco:picture>X</coco:picture>
                                        <coco:occursDependOn>
                                            <coco:topElement>FILLER</coco:topElement>
                                            <coco:path>CLR-ODO-CTRS/CLR-FILL-ODO-CTR</coco:path>
                                        </coco:occursDependOn>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CLR-CUST-AREA-G" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:appinfo source="urn:com.sun:encoder">
                            <coco:level>5</coco:level>
                            <coco:originalName>CLR-CUST-AREA-G</coco:originalName>
                        </xs:appinfo>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CLR-CUST-BYTE" minOccurs="0" maxOccurs="100" type="xs:string">
                                <xs:annotation>
                                    <xs:appinfo source="urn:com.sun:encoder">
                                        <coco:level>10</coco:level>
                                        <coco:originalName>CLR-CUST-BYTE</coco:originalName>
                                        <coco:picture>X</coco:picture>
                                        <coco:occursDependOn>
                                            <coco:topElement>FILLER</coco:topElement>
                                            <coco:path>CLR-ODO-CTRS/CLR-CUST-ODO-CTR</coco:path>
                                        </coco:occursDependOn>
                                    </xs:appinfo>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>