driver-tests/bpelse/assign/AttrQTest/src/AttrSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://xml.netbeans.org/schema/AttrSchema"
    xmlns:tns="http://xml.netbeans.org/schema/AttrSchema"
    elementFormDefault="qualified" attributeFormDefault="qualified">
    <xsd:element name="AttrIntElem" type="xsd:int"></xsd:element>
    <xsd:element name="AttrStringElem" type="xsd:string"></xsd:element>
    <xsd:attribute name="intAttr" type="xsd:int"/>
</xsd:schema>