driver-tests/sqlse/derby/selectwrongparamvalviewJbi/src/jbiServiceUnits/selectwrongparamvalviewSQL/selectwrongparamvalviewSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="selectwrongparamvalviewSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="selectwrongparamvalviewRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="selectwrongparamvalviewResponse"><xsd:complexType><xsd:sequence><xsd:element name="CUSTOMER_NUM" type="xsd:int"/><xsd:element name="DISCOUNT_CODE" type="xsd:string"/><xsd:element name="ZIP" type="xsd:string"/><xsd:element name="NAME" type="xsd:string"/><xsd:element name="ADDR_LN1" type="xsd:string"/><xsd:element name="ADDR_LN2" type="xsd:string"/><xsd:element name="CITY" type="xsd:string"/><xsd:element name="STATE" type="xsd:string"/><xsd:element name="PHONE" type="xsd:string"/><xsd:element name="FAX" type="xsd:string"/><xsd:element name="EMAIL" type="xsd:string"/><xsd:element name="CREDIT_LIMIT" type="xsd:int"/><xsd:element name="LAST_SALE_DATE" type="xsd:string"/><xsd:element name="LAST_SALE_TIME" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="selectwrongparamvalviewRequest">
    <part name="selectwrongparamvalviewRequestPart" element="tns:selectwrongparamvalviewRequest"/>
  </message>
  <message name="selectwrongparamvalviewResponse">
    <part name="selectwrongparamvalviewResponsePart" element="tns:selectwrongparamvalviewResponse"/>
  </message>
  <portType name="selectwrongparamvalviewSQL_sqlsePortType">
    <operation name="selectwrongparamvalview">
      <input name="selectwrongparamvalviewRequest" message="tns:selectwrongparamvalviewRequest"/>
      <output name="selectwrongparamvalviewResponse" message="tns:selectwrongparamvalviewResponse"/>
    </operation>
  </portType>
  <binding name="selectwrongparamvalviewSQLBinding" type="tns:selectwrongparamvalviewSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="selectwrongparamvalview">
      <soap:operation style="document"/>
      <input name="selectwrongparamvalviewRequest">
        <soap:body use="literal"/>
      </input>
      <output name="selectwrongparamvalviewResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="selectwrongparamvalviewSQL_sqlseService">
    <port name="selectwrongparamvalviewSQL_sqlsePort" binding="tns:selectwrongparamvalviewSQLBinding">
      <soap:address location="http://localhost:18181/selectwrongparamvalviewSQL/selectwrongparamvalviewSQL/selectwrongparamvalviewSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="selectwrongparamvalviewSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="selectwrongparamvalviewSQL_myrole" portType="tns:selectwrongparamvalviewSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
