driver-tests/bpelse/faulthandling/FaultHandlingBpel/src/faulttestw3xC/FaultTestw3xD.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<definitions targetNamespace="http://stc.com/FaultTestw3xD"
    name="FaultTestw3xD"
    xmlns:tns="http://stc.com/FaultTestw3xD"
    xmlns:slnk1="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:tns0="http://stc.com/FaultTestw3xD"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns1="http://stc.com/FaultTestw3xD"
    xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/">
    <types>
        <xsd:schema targetNamespace="http://stc.com/FaultTestw3xD"
        elementFormDefault="qualified"
        xmlns:tns="http://stc.com/FaultTestw3xD"
        xmlns:slnk1="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
        xmlns:tns0="http://stc.com/Operation"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns1="http://stc.com/FaultTestw3xD"
        xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/">            
        <xsd:element name="item">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element type="xsd:string" name="retString"></xsd:element>        
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>      </xsd:schema>   
    </types>
    <message name="FaultTestw3xD">
        <part name="part"
        element="tns:item"></part>
    </message>
    <portType name="FaultTestw3xD">
        <operation name="w3d3">
            <input message="tns:FaultTestw3xD"></input>                
            <output message="tns:FaultTestw3xD"></output>    
        </operation>        
        <operation name="w3d4">
            <input message="tns:FaultTestw3xD"></input>    
            <output message="tns:FaultTestw3xD"></output>    
        </operation>        
        <operation name="w3d5">
            <input message="tns:FaultTestw3xD"></input>    
            <output message="tns:FaultTestw3xD"></output>    
        </operation>        
        <operation name="w3d6">
            <input message="tns:FaultTestw3xD"></input>    
            <output message="tns:FaultTestw3xD"></output>    
        </operation>        
        <operation name="w3d7">
            <input message="tns:FaultTestw3xD"></input>    
            <output message="tns:FaultTestw3xD"></output>    
        </operation>        
        <operation name="w3d8">
            <input message="tns:FaultTestw3xD"></input>    
            <output message="tns:FaultTestw3xD"></output>    
        </operation>        
        <operation name="w3d9">
            <input message="tns:FaultTestw3xD"></input>    
            <output message="tns:FaultTestw3xD"></output>    
        </operation>        
        <operation name="w3d10">
            <input message="tns:FaultTestw3xD"></input>    
            <output message="tns:FaultTestw3xD"></output>    
        </operation>        
        <operation name="w3d11">
            <input message="tns:FaultTestw3xD"></input>    
            <output message="tns:FaultTestw3xD"></output>    
        </operation>        
        <operation name="w3d12">
            <input message="tns:FaultTestw3xD"></input>    
            <output message="tns:FaultTestw3xD"></output>    
        </operation>        
        <operation name="w3d13">
            <input message="tns:FaultTestw3xD"></input>    
            <output message="tns:FaultTestw3xD"></output>    
        </operation>        
        <operation name="w3d14">
            <input message="tns:FaultTestw3xD"></input>    
            <output message="tns:FaultTestw3xD"></output>    
        </operation>        
        <operation name="w3d15">
            <input message="tns:FaultTestw3xD"></input>    
            <output message="tns:FaultTestw3xD"></output>    
        </operation>                
        <operation name="w3d16">
            <input message="tns:FaultTestw3xD"></input>    
            <output message="tns:FaultTestw3xD"></output>    
        </operation>                
    </portType>
    <binding name="Binding"
        type="tns:FaultTestw3xD">
        <soap:binding style="document"
        transport="http://schemas.xmlsoap.org/soap/http"/>        
        <operation name="w3d3">
            <soap:operation soapAction="w3d3"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                            
        </operation>        
        <operation name="w3d4">
            <soap:operation soapAction="w3d4"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3d5">
            <soap:operation soapAction="w3d5"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3d6">
            <soap:operation soapAction="w3d6"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3d7">
            <soap:operation soapAction="w3d7"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3d8">
            <soap:operation soapAction="w3d8"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3d9">
            <soap:operation soapAction="w3d9"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3d10">
            <soap:operation soapAction="w3d10"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3d11">
            <soap:operation soapAction="w3d11"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3d12">
            <soap:operation soapAction="w3d12"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3d13">
            <soap:operation soapAction="w3d13"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3d14">
            <soap:operation soapAction="w3d14"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3d15">
            <soap:operation soapAction="w3d15"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3d16">
            <soap:operation soapAction="w3d16"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
    </binding>
    <service name="FaultTestw3xDService">
        <port name="port"
            binding="tns:Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/FaultTestw3xD"/>
        </port>
    </service>    
    <plnk:partnerLinkType name="flinkb"
        xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="server"
        portType="tns:FaultTestw3xD"></plnk:role>
    </plnk:partnerLinkType>
</definitions>
