driver-tests/bpelse/faulthandling/FaultHandlingBpel/src/faulttestw3xC/FaultTestw3xG.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<definitions targetNamespace="http://stc.com/FaultTestw3xG"
    name="FaultTestw3xG"
    xmlns:tns="http://stc.com/FaultTestw3xG"
    xmlns:slnk1="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:tns0="http://stc.com/FaultTestw3xG"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns1="http://stc.com/FaultTestw3xG"
    xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/">
    <types>
        <xsd:schema targetNamespace="http://stc.com/FaultTestw3xG"
        elementFormDefault="qualified"
        xmlns:tns="http://stc.com/FaultTestw3xG"
        xmlns:slnk1="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
        xmlns:tns0="http://stc.com/Operation"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns1="http://stc.com/FaultTestw3xG"
        xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/">            
        <xsd:element name="item">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element type="xsd:string" name="retString"></xsd:element>        
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>      </xsd:schema>   
    </types>
    <message name="FaultTest">
        <part name="part"
        element="tns:item"></part>
    </message>
    <message name="extFaultTest">
        <part name="extpart"
        element="tns:item"></part>
    </message>
    <message name="FaultTestw3xG">
        <part name="part"
        element="tns:item"></part>
    </message>
    <portType name="FaultTestw3xG">
        <operation name="w3g3">
            <input message="tns:FaultTestw3xG"></input>                
            <output message="tns:FaultTestw3xG"></output>    
        </operation>        
        <operation name="w3g4">
            <input message="tns:FaultTestw3xG"></input>    
            <output message="tns:FaultTestw3xG"></output>    
        </operation>        
        <operation name="w3g5">
            <input message="tns:FaultTestw3xG"></input>    
            <output message="tns:FaultTestw3xG"></output>    
        </operation>        
        <operation name="w3g6">
            <input message="tns:FaultTestw3xG"></input>    
            <output message="tns:FaultTestw3xG"></output>    
        </operation>        
        <operation name="w3g7">
            <input message="tns:FaultTestw3xG"></input>    
            <output message="tns:FaultTestw3xG"></output>    
        </operation>        
        <operation name="w3g8">
            <input message="tns:FaultTestw3xG"></input>    
            <output message="tns:FaultTestw3xG"></output>    
        </operation>        
        <operation name="w3g9">
            <input message="tns:FaultTestw3xG"></input>    
            <output message="tns:FaultTestw3xG"></output>    
        </operation>        
        <operation name="w3g10">
            <input message="tns:FaultTestw3xG"></input>    
            <output message="tns:FaultTestw3xG"></output>    
        </operation>        
        <operation name="w3g11">
            <input message="tns:FaultTestw3xG"></input>    
            <output message="tns:FaultTestw3xG"></output>    
        </operation>        
        <operation name="w3g12">
            <input message="tns:FaultTestw3xG"></input>    
            <output message="tns:FaultTestw3xG"></output>    
        </operation>        
        <operation name="w3g13">
            <input message="tns:FaultTestw3xG"></input>    
            <output message="tns:FaultTestw3xG"></output>    
        </operation>        
        <operation name="w3g14">
            <input message="tns:FaultTestw3xG"></input>    
            <output message="tns:FaultTestw3xG"></output>    
        </operation>        
        <operation name="w3g15">
            <input message="tns:FaultTestw3xG"></input>    
            <output message="tns:FaultTestw3xG"></output>    
        </operation>                
        <operation name="w3g16">
            <input message="tns:FaultTestw3xG"></input>    
            <output message="tns:FaultTestw3xG"></output>    
        </operation>                
    </portType>
    <binding name="Binding"
        type="tns:FaultTestw3xG">
        <soap:binding style="document"
        transport="http://schemas.xmlsoap.org/soap/http"/>        
        <operation name="w3g3">
            <soap:operation soapAction="w3g3"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                            
        </operation>        
        <operation name="w3g4">
            <soap:operation soapAction="w3g4"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3g5">
            <soap:operation soapAction="w3g5"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3g6">
            <soap:operation soapAction="w3g6"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3g7">
            <soap:operation soapAction="w3g7"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3g8">
            <soap:operation soapAction="w3g8"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3g9">
            <soap:operation soapAction="w3g9"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3g10">
            <soap:operation soapAction="w3g10"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3g11">
            <soap:operation soapAction="w3g11"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3g12">
            <soap:operation soapAction="w3g12"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3g13">
            <soap:operation soapAction="w3g13"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3g14">
            <soap:operation soapAction="w3g14"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3g15">
            <soap:operation soapAction="w3g15"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3g16">
            <soap:operation soapAction="w3g16"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
    </binding>
    <service name="FaultTestw3xGService">
        <port name="port"
            binding="tns:Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/FaultTestw3xG"/>
        </port>
    </service>    
    <plnk:partnerLinkType name="flinkc"
        xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="server"
        portType="tns:FaultTestw3xG"></plnk:role>
    </plnk:partnerLinkType>
</definitions>
