driver-tests/bpelse/faulthandling/FaultHandlingBpel/src/faulttestw3xC/FaultTestw3xC.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<definitions targetNamespace="http://stc.com/FaultTestw3xC"
    name="FaultTestw3xC"
    xmlns:tns="http://stc.com/FaultTestw3xC"
    xmlns:slnk1="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:tns0="http://stc.com/FaultTestw3xC"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns1="http://stc.com/FaultTestw3xC"
    xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/">
    <types>
        <xsd:schema targetNamespace="http://stc.com/FaultTestw3xC"
        elementFormDefault="qualified"
        xmlns:tns="http://stc.com/FaultTestw3xC"
        xmlns:slnk1="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
        xmlns:tns0="http://stc.com/Operation"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns1="http://stc.com/FaultTestw3xC"
        xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/">            
        <xsd:element name="item">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element type="xsd:string" name="retString"></xsd:element>        
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>      </xsd:schema>   
    </types>
    <message name="FaultTestw3xC">
        <part name="part"
        element="tns:item"></part>
    </message>
    <portType name="FaultTestw3xC">
        <operation name="w3c3">
            <input message="tns:FaultTestw3xC"></input>                
            <output message="tns:FaultTestw3xC"></output>    
        </operation>        
        <operation name="w3c4">
            <input message="tns:FaultTestw3xC"></input>    
            <output message="tns:FaultTestw3xC"></output>    
        </operation>        
        <operation name="w3c5">
            <input message="tns:FaultTestw3xC"></input>    
            <output message="tns:FaultTestw3xC"></output>    
        </operation>        
        <operation name="w3c6">
            <input message="tns:FaultTestw3xC"></input>    
            <output message="tns:FaultTestw3xC"></output>    
        </operation>        
        <operation name="w3c7">
            <input message="tns:FaultTestw3xC"></input>    
            <output message="tns:FaultTestw3xC"></output>    
        </operation>        
        <operation name="w3c8">
            <input message="tns:FaultTestw3xC"></input>    
            <output message="tns:FaultTestw3xC"></output>    
        </operation>        
        <operation name="w3c9">
            <input message="tns:FaultTestw3xC"></input>    
            <output message="tns:FaultTestw3xC"></output>    
        </operation>        
        <operation name="w3c10">
            <input message="tns:FaultTestw3xC"></input>    
            <output message="tns:FaultTestw3xC"></output>    
        </operation>        
        <operation name="w3c11">
            <input message="tns:FaultTestw3xC"></input>    
            <output message="tns:FaultTestw3xC"></output>    
        </operation>        
        <operation name="w3c12">
            <input message="tns:FaultTestw3xC"></input>    
            <output message="tns:FaultTestw3xC"></output>    
        </operation>        
        <operation name="w3c13">
            <input message="tns:FaultTestw3xC"></input>    
            <output message="tns:FaultTestw3xC"></output>    
        </operation>        
        <operation name="w3c14">
            <input message="tns:FaultTestw3xC"></input>    
            <output message="tns:FaultTestw3xC"></output>    
        </operation>        
        <operation name="w3c15">
            <input message="tns:FaultTestw3xC"></input>    
            <output message="tns:FaultTestw3xC"></output>    
        </operation>                
        <operation name="w3c16">
            <input message="tns:FaultTestw3xC"></input>    
            <output message="tns:FaultTestw3xC"></output>    
        </operation>                
    </portType>
    <binding name="Binding"
        type="tns:FaultTestw3xC">
        <soap:binding style="document"
        transport="http://schemas.xmlsoap.org/soap/http"/>        
        <operation name="w3c3">
            <soap:operation soapAction="w3c3"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                            
        </operation>        
        <operation name="w3c4">
            <soap:operation soapAction="w3c4"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3c5">
            <soap:operation soapAction="w3c5"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3c6">
            <soap:operation soapAction="w3c6"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3c7">
            <soap:operation soapAction="w3c7"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3c8">
            <soap:operation soapAction="w3c8"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3c9">
            <soap:operation soapAction="w3c9"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3c10">
            <soap:operation soapAction="w3c10"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3c11">
            <soap:operation soapAction="w3c11"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3c12">
            <soap:operation soapAction="w3c12"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3c13">
            <soap:operation soapAction="w3c13"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3c14">
            <soap:operation soapAction="w3c14"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3c15">
            <soap:operation soapAction="w3c15"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
        <operation name="w3c16">
            <soap:operation soapAction="w3c16"/>
             <input>
                <soap:body use="literal"/>
            </input> 
            <output>
                <soap:body use="literal"/>
            </output>                           
        </operation>        
    </binding>
    <service name="FaultTestw3xCService">
        <port name="port"
            binding="tns:Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/FaultTestw3xC"/>
        </port>
    </service>    
    <plnk:partnerLinkType name="flink"
        xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="server"
        portType="tns:FaultTestw3xC"></plnk:role>
    </plnk:partnerLinkType>
</definitions>
