ojc-core/jmsbc/jmsbcimpl/test/test/jbi/jmsbc/integration/testcases/errorstrategy/JMS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="JMSOut" targetNamespace="http://j2ee.netbeans.org/wsdl/JMSOut"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:ns0="urn:test-types"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/JMSOut" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:jms="http://schemas.sun.com/jbi/wsdl-extensions/jms/">
    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:test-types" targetNamespace="urn:test-types">
            <xs:complexType name="Input">
             <xs:sequence>
              <xs:element name="param1" type="xs:string"/>
              <xs:element name="param2" type="xs:string"/>
             </xs:sequence>
            </xs:complexType>            
        </xs:schema>
    </types>
    <message name="JMSOutOperationRequest">
        <part name="part1" type="ns0:Input"/>
    </message>
    <portType name="JMSOutPortType">
        <operation name="JMSOutOperation">
            <input name="input1" message="tns:JMSOutOperationRequest"/>
        </operation>
    </portType>
    <binding name="JMSOutBinding" type="tns:JMSOutPortType">
        <jms:binding/>
        <operation name="JMSOutOperation">
            <jms:operation destination="SendQueue" destinationType="Queue"/>
            <input name="input1">
                <jms:message messageType="TextMessage" textPart="part1"/>
            </input>
        </operation>
    </binding>
    <service name="JMSOutService">
        <port name="JMSOutPort" binding="tns:JMSOutBinding">
            <jms:address connectionURL="mq://localhost:7676"/>
        </port>
    </service>
    <plnk:partnerLinkType name="JMSOut">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="JMSOutPortTypeRole" portType="tns:JMSOutPortType"/>
    </plnk:partnerLinkType>
</definitions>
