ojc-core/bpelse/system-test/test/com/sun/jbi/engine/bpel/jbiadaptor/test/persistence/bpels/simpleWait/deployedFolder/WaitSample.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WaitSample" targetNamespace="http://j2ee.netbeans.org/wsdl/WaitSample"
    xmlns:tns="http://j2ee.netbeans.org/wsdl/WaitSample"
    xmlns:ns1="http://j2ee.netbeans.org/wsdl/WaitSample/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/WaitSample/types">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="WaitSampleRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="WaitSampleResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="WaitSampleError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="WaitSamplePortType">
    <operation name="WaitSampleOperation">
      <input message="tns:WaitSampleRequest"/>
      <output message="tns:WaitSampleResponse"/>
      <fault message="tns:WaitSampleError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="WaitSampleBinding" type="tns:WaitSamplePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="WaitSampleOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="WaitSampleService">
    <port name="WaitSamplePort" binding="tns:WaitSampleBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <message name="requestMessage1">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="responseMessage">
        <part name="part1" type="xsd:string"/>
    </message>
    <portType name="waitServicePT">
        <operation name="waitOperation">
            <input name="input1" message="tns:requestMessage1"/>
            <output name="output1" message="tns:requestMessage1"/>
        </operation>
    </portType>
    <portType name="waitServicePartnerPT">
        <operation name="waitServicePartherOperation">
            <input name="input1" message="tns:responseMessage"/>
        </operation>
    </portType>
    <binding name="waitServiceBinding1" type="tns:waitServicePT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="waitOperation">
            <soap:operation soapAction="waitOperationSoapAction" style="document"/>
            <input name="input1">
                <soap:body use="literal"/>
            </input><output name="output1">
    <soap:body use="literal"/>
</output>
        </operation>
    </binding>
    <binding name="waitServicePartnerBinding1" type="tns:waitServicePartnerPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="waitServicePartherOperation">
            <soap:operation soapAction="waitPartnerSoapOperation" style="document"/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="waitService">
        <port name="waitServiceHTTPPort" binding="tns:waitServiceBinding1">
            <soap:address location="http://localhost:12345/waitService"/>
        </port>
    </service>
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="server" portType="tns:waitServicePT"/>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="partnerlinktype2">
        <plink:role name="partner1" portType="tns:waitServicePartnerPT"/>
    </plink:partnerLinkType>
</definitions>
