driver-tests/bpelse/eventHandlers/onAlarmJbi/src/jbiServiceUnits/onAlarm/EventHandler1.wsdl

<definitions targetNamespace="EventHandler3"
    name="EventHandler3"
    xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
    xmlns:tns="EventHandler3"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
             
   
    <plnk:partnerLinkType name="EventHandler3NormalServiceLinkType3"
        xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
        portType="tns:NormalOperationPortType3"></plnk:role>
    </plnk:partnerLinkType>    
  
    <types>
        <xsd:schema targetNamespace="EventHandler3"
            attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
            xmlns:tns="EventHandler3"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://schemas.xmlsoap.org/wsdl/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
            
            <xsd:element type="tns:EventHandler3Type"
            name="EventHandler3Element"></xsd:element>
                         
            <xsd:element type="tns:EventHandler3Type2"            
            name="EventHandler3Element2"></xsd:element>   
            
            <xsd:element type="tns:Invoke1childType"            
            name="Invoke1childElement"></xsd:element>
            
            <xsd:element name="item">
	                    <xsd:complexType>
	                        <xsd:sequence>
	                            <xsd:element name="value" type="xsd:decimal"/>
	                        </xsd:sequence>
	                    </xsd:complexType>
            </xsd:element>
            
            
            <xsd:complexType name="EventHandler3Type">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                    name="string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="Invoke1childType">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                    name="string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>            
            
            <xsd:complexType name="EventHandler3Type2">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                    name="string2"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>            
        </xsd:schema>
    </types>
    
    <message name="EventHandler3Message">
        <part name="EventHandler3Part"
        element="tns:EventHandler3Element"></part>
    </message>
    
    <message name="EventHandler3Message2">
        <part name="EventHandler3Part"
        element="tns:EventHandler3Element"></part>
    </message>
    
    <message name="EventHandler3Message3">
        <part name="EventHandler3Part"
        element="tns:item"></part>
    </message>    
    
    
    <message name="OnEventMessage">
        <part name="EventHandler3Part2"
        element="tns:EventHandler3Element2"></part>
    </message>
    
    <message name="Invoke1childMessage">
        <part name="Invoke1childPart"
        type="tns:Invoke1childType"></part>
    </message>
    
   
     <portType name="NormalOperationPortType3">
            <operation name="NormalOperation3">
            	<input message="tns:EventHandler3Message3"></input>
            	<output message="tns:EventHandler3Message3"></output>
            </operation>
     </portType>

    
    <binding name="NormalOperationPortTypeBinding3"
        type="tns:NormalOperationPortType3">
        <soap:binding style="document"
        transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="NormalOperation3">
            <soap:operation soapAction="NormalOperation3"/>
            <input>
                <soap:body parts="EventHandler3Part"
                use="literal"/>
            </input>
            <output>
                <soap:body parts="EventHandler3Part"
                use="literal"/>
            </output>
        </operation>
    </binding>
 
    <service name="EventHandler3Service">
        <port name="EventHandlerNormalPort3"
            binding="tns:NormalOperationPortTypeBinding3">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/EventHandlerNormal1Service3"/>
        </port>
    </service>
</definitions>
