driver-tests/sqlse/db2/SqlSE1181_DB2/UpdateWithFalseConFullSql/src/UpdateWithFalseConFullSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="UpdateWithFalseConFullSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="UpdateWithFalseConFullRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="UpdateWithFalseConFullResponse">
    <part name="UpdateWithFalseConFullResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="UpdateWithFalseConFullRequest">
    <part name="UpdateWithFalseConFullRequestPart" element="tns:UpdateWithFalseConFullRequest"/>
  </message>
  <portType name="UpdateWithFalseConFullSql_sqlsePortType">
    <operation name="UpdateWithFalseConFull">
      <input name="UpdateWithFalseConFullRequest" message="tns:UpdateWithFalseConFullRequest"/>
      <output name="UpdateWithFalseConFullResponse" message="tns:UpdateWithFalseConFullResponse"/>
    </operation>
  </portType>
  <binding name="UpdateWithFalseConFullSqlBinding" type="tns:UpdateWithFalseConFullSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="UpdateWithFalseConFull">
      <soap:operation/>
      <input name="UpdateWithFalseConFullRequest">
        <soap:body/>
      </input>
      <output name="UpdateWithFalseConFullResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="UpdateWithFalseConFullSql_sqlseService">
    <port name="UpdateWithFalseConFullSql_sqlsePort" binding="tns:UpdateWithFalseConFullSqlBinding">
      <soap:address location="http://localhost:18181/UpdateWithFalseConFullSql/UpdateWithFalseConFullSql/UpdateWithFalseConFullSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="UpdateWithFalseConFullSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="UpdateWithFalseConFullSql_myrole" portType="tns:UpdateWithFalseConFullSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
