ojc-core/component-common/bpelmodel/test/com/sun/bpel/model/ojcIssuesTest/237/Partners/DeneigementServiceService_xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. -->
<xs:schema xmlns:tns="http://www.utbm.fr/schema/GPSPointSchema" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           elementFormDefault="qualified" version="1.0" 
           targetNamespace="http://www.utbm.fr/schema/GPSPointSchema">
    
    <xs:complexType name="GPSPoint">
        <xs:sequence>
            <xs:element name="x" type="xs:double" default="0."></xs:element>
            <xs:element name="y" type="xs:double" default="0."></xs:element>
            <xs:element name="z" type="xs:double" default="0."></xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="EtatDeneig">
        <xs:sequence>
            <xs:element name="depart" type="tns:GPSPoint"></xs:element>
            <xs:element name="arrivee" type="tns:GPSPoint"></xs:element>
            <xs:element name="etat" type="xs:boolean"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>