ojc-core/component-common/bpelmodel/test/com/sun/bpel/model/ojcIssuesTest/237/Partners/DeneigementServiceService_xsd_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. -->
<xs:schema xmlns:tns="http://deneigement.utbm.fr/" 
           xmlns:ns1="http://www.utbm.fr/schema/GPSPointSchema" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           version="1.0" targetNamespace="http://deneigement.utbm.fr/">
    
    <xs:import namespace="http://www.utbm.fr/schema/GPSPointSchema" 
               schemaLocation="DeneigementServiceService_xsd_1.xsd"></xs:import>
    
    <xs:element name="getEtatDeneigement" type="tns:getEtatDeneigement"></xs:element>
    
    <xs:element name="getEtatDeneigementResponse" type="tns:getEtatDeneigementResponse"></xs:element>
    
    <xs:complexType name="getEtatDeneigement">
        <xs:sequence>
            <xs:element name="trajet" type="ns1:GPSPoint" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="getEtatDeneigementResponse">
        <xs:sequence>
            <xs:element name="return" type="ns1:EtatDeneig" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>