ojc-core/component-common/bpelmodel/test/com/sun/bpel/model/ojcIssuesTest/237/Partners/TrajetServiceService_xsd_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. -->
<xs:schema xmlns:tns="http://trajet.utbm.fr/" 
           xmlns:ns1="http://www.utbm.fr/schema/GPSPoint2Schema" 
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           version="1.0" targetNamespace="http://trajet.utbm.fr/">
    
    <xs:import namespace="http://www.utbm.fr/schema/GPSPoint2Schema" 
               schemaLocation="TrajetServiceService_xsd_1.xsd"></xs:import>
    
    <xs:element name="getTrajet" type="tns:getTrajet"></xs:element>
    
    <xs:element name="getTrajetResponse" type="tns:getTrajetResponse"></xs:element>
    
    <xs:complexType name="getTrajet">
        <xs:sequence>
            <xs:element name="depart" type="ns1:GPSPoint2" minOccurs="0"></xs:element>
            <xs:element name="arrivee" type="ns1:GPSPoint2" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="getTrajetResponse">
        <xs:sequence>
            <xs:element name="return" type="ns1:GPSPoint2" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>