driver-tests/sqlse/db2/SqlSE1177_DB2/DeleteWithOneParamFullSql/src/DeleteWithOneParamFullSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="DeleteWithOneParamFullSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="DeleteWithOneParamFullRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="DeleteWithOneParamFullResponse">
    <part name="DeleteWithOneParamFullResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="DeleteWithOneParamFullRequest">
    <part name="DeleteWithOneParamFullRequestPart" element="tns:DeleteWithOneParamFullRequest"/>
  </message>
  <portType name="DeleteWithOneParamFullSql_sqlsePortType">
    <operation name="DeleteWithOneParamFull">
      <input name="DeleteWithOneParamFullRequest" message="tns:DeleteWithOneParamFullRequest"/>
      <output name="DeleteWithOneParamFullResponse" message="tns:DeleteWithOneParamFullResponse"/>
    </operation>
  </portType>
  <binding name="DeleteWithOneParamFullSqlBinding" type="tns:DeleteWithOneParamFullSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="DeleteWithOneParamFull">
      <soap:operation/>
      <input name="DeleteWithOneParamFullRequest">
        <soap:body/>
      </input>
      <output name="DeleteWithOneParamFullResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="DeleteWithOneParamFullSql_sqlseService">
    <port name="DeleteWithOneParamFullSql_sqlsePort" binding="tns:DeleteWithOneParamFullSqlBinding">
      <soap:address location="http://localhost:18181/DeleteWithOneParamFullSql/DeleteWithOneParamFullSql/DeleteWithOneParamFullSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="DeleteWithOneParamFullSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="DeleteWithOneParamFullSql_myrole" portType="tns:DeleteWithOneParamFullSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
