driver-tests/bpelse/correlation/correlationBPEL/src/correlation/TestInvokeCorrelation/stockquote2.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<wsdl:definitions targetNamespace="http://stc.com/GetStockQuote"
                  xmlns:tns="http://stc.com/GetStockQuote"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema">
    <plink:partnerLinkType name="stockQuoteLinkType">
        <plink:role portType="tns:StockQuoteSoap"
                    name="stockquoteRole"></plink:role>
    </plink:partnerLinkType>
   
                            
    <wsdl:types>
        <s:schema targetNamespace="http://stc.com/GetStockQuote"
                  elementFormDefault="qualified"
                  xmlns:tns="http://stc.com/GetStockQuote"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema">
      
      
      
                <s:element name="GetQuoteResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="GetQuoteResult"
                                    type="s:string"></s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element type="s:string"
                       nillable="true"
                       name="string"></s:element>
            <s:element name="GetQuote">
                <s:complexType>
                    <s:sequence>
                        <s:element name="symbol"
                                    type="s:string"></s:element>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="GetQuoteSoapIn">
        <wsdl:part name="parameters"
                   element="tns:GetQuote"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetQuoteSoapOut">
        <wsdl:part name="parameters"
                   element="tns:GetQuoteResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetQuoteHttpGetIn">
        <wsdl:part name="symbol"
                   type="s:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetQuoteHttpGetOut">
        <wsdl:part name="Body"
                   element="tns:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetQuoteHttpPostIn">
        <wsdl:part name="symbol"
                   type="s:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetQuoteHttpPostOut">
        <wsdl:part name="Body"
                   element="tns:string"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="StockQuoteSoap">
        <wsdl:operation name="GetQuote">
            <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get Stock quote for a company Symbol</documentation>
            <wsdl:input message="tns:GetQuoteSoapIn"></wsdl:input>
            <wsdl:output message="tns:GetQuoteSoapOut"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="StockQuoteHttpGet">
        <wsdl:operation name="GetQuote">
            <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get Stock quote for a company Symbol</documentation>
            <wsdl:input message="tns:GetQuoteHttpGetIn"></wsdl:input>
            <wsdl:output message="tns:GetQuoteHttpGetOut"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="StockQuoteHttpPost">
        <wsdl:operation name="GetQuote">
            <documentation xmlns="http://schemas.xmlsoap.org/wsdl/">Get Stock quote for a company Symbol</documentation>
            <wsdl:input message="tns:GetQuoteHttpPostIn"></wsdl:input>
            <wsdl:output message="tns:GetQuoteHttpPostOut"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StockQuoteSoap"
                  type="tns:StockQuoteSoap">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetQuote">
            <soap:operation soapAction="GetQuote"
                            style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StockQuoteHttpGet"
                  type="tns:StockQuoteHttpGet">
        <http:binding verb="GET"></http:binding>
        <wsdl:operation name="GetQuote">
            <http:operation location="/GetQuote"></http:operation>
            <wsdl:input>
                <http:urlEncoded></http:urlEncoded>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"></mime:mimeXml>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StockQuoteHttpPost"
                  type="tns:StockQuoteHttpPost">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="GetQuote">
            <http:operation location="/GetQuote"></http:operation>
            <wsdl:input>
                <http:urlEncoded></http:urlEncoded>
                <mime:content type="application/x-www-form-urlencoded"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"></mime:mimeXml>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StockQuote">
        <wsdl:port name="StockQuoteSoap"
                   binding="tns:StockQuoteSoap">
            <soap:address location="http://localhost:${HttpDefaultPort}/stockquote"/>
        </wsdl:port>
        <wsdl:port name="StockQuoteHttpGet"
                   binding="tns:StockQuoteHttpGet">
            <soap:address location="http://localhost:${HttpDefaultPort}/stockquote"></soap:address>
            <http:address location="http://localhost:${HttpDefaultPort}/stockquote"></http:address>
        </wsdl:port>
        <wsdl:port name="StockQuoteHttpPost"
                   binding="tns:StockQuoteHttpPost">
            <soap:address location="http://localhost:${HttpDefaultPort}/stockquote"></soap:address>
            <http:address location="http://localhost:${HttpDefaultPort}/stockquote"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
