driver-tests/sqlse/derby/selectoneparamSQL/src/selectoneparamSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="selectoneparamSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="selectoneparamRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="selectoneparamResponse"><xsd:complexType><xsd:sequence><xsd:element name="CUSTOMER_NUM" type="xsd:int"/><xsd:element name="DISCOUNT_CODE" type="xsd:string"/><xsd:element name="ZIP" type="xsd:string"/><xsd:element name="NAME" type="xsd:string"/><xsd:element name="ADDR_LN1" type="xsd:string"/><xsd:element name="ADDR_LN2" type="xsd:string"/><xsd:element name="CITY" type="xsd:string"/><xsd:element name="STATE" type="xsd:string"/><xsd:element name="PHONE" type="xsd:string"/><xsd:element name="FAX" type="xsd:string"/><xsd:element name="EMAIL" type="xsd:string"/><xsd:element name="CREDIT_LIMIT" type="xsd:int"/><xsd:element name="LAST_SALE_DATE" type="xsd:string"/><xsd:element name="LAST_SALE_TIME" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="selectoneparamRequest">
    <part name="selectoneparamRequestPart" element="tns:selectoneparamRequest"/>
  </message>
  <message name="selectoneparamResponse">
    <part name="selectoneparamResponsePart" element="tns:selectoneparamResponse"/>
  </message>
  <portType name="selectoneparamSQL_sqlsePortType">
    <operation name="selectoneparam">
      <input name="selectoneparamRequest" message="tns:selectoneparamRequest"/>
      <output name="selectoneparamResponse" message="tns:selectoneparamResponse"/>
    </operation>
  </portType>
  <binding name="selectoneparamSQLBinding" type="tns:selectoneparamSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="selectoneparam">
      <soap:operation style="document"/>
      <input name="selectoneparamRequest">
        <soap:body use="literal"/>
      </input>
      <output name="selectoneparamResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="selectoneparamSQL_sqlseService">
    <port name="selectoneparamSQL_sqlsePort" binding="tns:selectoneparamSQLBinding">
      <soap:address location="http://localhost:18181/selectoneparamSQL/selectoneparamSQL/selectoneparamSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="selectoneparamSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="selectoneparamSQL_myrole" portType="tns:selectoneparamSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
