ojc-core/bpelse/system-test/test/com/sun/jbi/engine/bpel/jbiadaptor/test/persistence/bpels/ScopeTermination/WaitTerminationInProcess/deployedFolder/WaitTerminationInProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions 
    name="WaitTerminationInProcess" 
    targetNamespace="http://localhost/wsdl/WaitTerminationInProcess"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://localhost/wsdl/WaitTerminationInProcess"
    xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:bpws="http://docs.oasis-open.org/wsbpel/2.0/varprop">

    <types>
	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		    targetNamespace="http://localhost/wsdl/WaitTerminationInProcess"
		    xmlns:tns="http://localhost/wsdl/WaitTerminationInProcess"
		    elementFormDefault="qualified">

	    <xsd:complexType name="simpleProcess">
		<xsd:sequence>
		    <xsd:element name="paramA" type="xsd:string"/>
		</xsd:sequence>
	    </xsd:complexType>

	    <xsd:element name="typeA" type="tns:simpleProcess"/>
	</xsd:schema>
    </types>
    
    <message name="requestMessage">
        <part name="inputType" element="tns:typeA"/>
    </message>
    
    <message name="responseMessage">
        <part name="resultType" element="tns:typeA"/>
    </message>
    
    <portType name="portType1">
        <operation name="operation1">
            <input name="input1" message="tns:requestMessage"/>
            <output name="output1" message="tns:responseMessage"/>
        </operation>
    </portType>
    
    <binding name="binding1" type="tns:portType1">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="operation1">
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    
    <service name="service1">
        <port name="port1" binding="tns:binding1">
            <documentation/>
            <soap:address location="http://localhost:18181/WaitTerminationInProcess"/>
        </port>
    </service>

    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="partnerlinktyperole1" portType="tns:portType1"/>
    </plink:partnerLinkType>
</definitions>
