contrib-imola/corba-bc/integration-test/test-provider-array/provider-array-http-consumer/src/main/resources/EchoArray.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EchoArray" targetNamespace="urn:jbi4corba/test-provider-array" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:jbi4corba/test-provider-array" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:jbi4corba/test-provider-array" xmlns="urn:jbi4corba/test-provider-array" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:ns2="http://testproviderarray.test.jbi4corba.imolinfo.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="TypeDef_array.xsd"/>
            <xs:import namespace="http://testproviderarray.test.jbi4corba.imolinfo.it/" schemaLocation="TypeDef_testproviderarray.test.jbi4corba.imolinfo.it.xsd"/>
            <xs:element name="echoArrayBoolean">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="e" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayBooleanResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayChar">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="e" type="xs:unsignedShort"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayCharResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="return" type="xs:unsignedShort"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayComplexStruct">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="e" type="ns2:complexStruct"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayComplexStructResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="return" type="ns2:complexStruct"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayDouble">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="e" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayDoubleResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayFloat">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="e" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayFloatResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="return" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayLong">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="e" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayLongLong">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="e" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayLongLongResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayLongResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayOctet">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="e" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayOctetResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:base64Binary"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayShort">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="e" type="xs:short"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayShortResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="return" type="xs:short"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayString">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="e" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayStringResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="return" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayUnsignedLong">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="e" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayUnsignedLongLong">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="e" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayUnsignedLongLongResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="return" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayUnsignedLongResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayUnsignedShort">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="e" type="xs:short"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayUnsignedShortResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="return" type="xs:short"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayWChar">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="e" type="xs:unsignedShort"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayWCharResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="return" type="xs:unsignedShort"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayWString">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="e" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoArrayWStringResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="return" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoMatrixString">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="e" type="ns1:stringArray"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoMatrixStringResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="return" type="ns1:stringArray"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="echoArrayLongLongResponse">
        <wsdl:part name="parameters" element="tns:echoArrayLongLongResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayStringResponse">
        <wsdl:part name="parameters" element="tns:echoArrayStringResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayLongLong">
        <wsdl:part name="parameters" element="tns:echoArrayLongLong">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayCharResponse">
        <wsdl:part name="parameters" element="tns:echoArrayCharResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayLongResponse">
        <wsdl:part name="parameters" element="tns:echoArrayLongResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayDoubleResponse">
        <wsdl:part name="parameters" element="tns:echoArrayDoubleResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayWStringResponse">
        <wsdl:part name="parameters" element="tns:echoArrayWStringResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayBoolean">
        <wsdl:part name="parameters" element="tns:echoArrayBoolean">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayLong">
        <wsdl:part name="parameters" element="tns:echoArrayLong">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayShortResponse">
        <wsdl:part name="parameters" element="tns:echoArrayShortResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayComplexStructResponse">
        <wsdl:part name="parameters" element="tns:echoArrayComplexStructResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayUnsignedLong">
        <wsdl:part name="parameters" element="tns:echoArrayUnsignedLong">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayDouble">
        <wsdl:part name="parameters" element="tns:echoArrayDouble">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayUnsignedLongLong">
        <wsdl:part name="parameters" element="tns:echoArrayUnsignedLongLong">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayOctetResponse">
        <wsdl:part name="parameters" element="tns:echoArrayOctetResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayChar">
        <wsdl:part name="parameters" element="tns:echoArrayChar">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoMatrixStringResponse">
        <wsdl:part name="parameters" element="tns:echoMatrixStringResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayWCharResponse">
        <wsdl:part name="parameters" element="tns:echoArrayWCharResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayOctet">
        <wsdl:part name="parameters" element="tns:echoArrayOctet">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayWChar">
        <wsdl:part name="parameters" element="tns:echoArrayWChar">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayWString">
        <wsdl:part name="parameters" element="tns:echoArrayWString">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayShort">
        <wsdl:part name="parameters" element="tns:echoArrayShort">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayUnsignedShort">
        <wsdl:part name="parameters" element="tns:echoArrayUnsignedShort">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayUnsignedLongResponse">
        <wsdl:part name="parameters" element="tns:echoArrayUnsignedLongResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayString">
        <wsdl:part name="parameters" element="tns:echoArrayString">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayFloatResponse">
        <wsdl:part name="parameters" element="tns:echoArrayFloatResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoMatrixString">
        <wsdl:part name="parameters" element="tns:echoMatrixString">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayUnsignedLongLongResponse">
        <wsdl:part name="parameters" element="tns:echoArrayUnsignedLongLongResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayComplexStruct">
        <wsdl:part name="parameters" element="tns:echoArrayComplexStruct">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayBooleanResponse">
        <wsdl:part name="parameters" element="tns:echoArrayBooleanResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayUnsignedShortResponse">
        <wsdl:part name="parameters" element="tns:echoArrayUnsignedShortResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoArrayFloat">
        <wsdl:part name="parameters" element="tns:echoArrayFloat">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EchoArray">
        <wsdl:operation name="echoArrayChar">
            <wsdl:input name="echoArrayChar" message="tns:echoArrayChar">
            </wsdl:input>
            <wsdl:output name="echoArrayCharResponse" message="tns:echoArrayCharResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayWString">
            <wsdl:input name="echoArrayWString" message="tns:echoArrayWString">
            </wsdl:input>
            <wsdl:output name="echoArrayWStringResponse" message="tns:echoArrayWStringResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayString">
            <wsdl:input name="echoArrayString" message="tns:echoArrayString">
            </wsdl:input>
            <wsdl:output name="echoArrayStringResponse" message="tns:echoArrayStringResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayUnsignedShort">
            <wsdl:input name="echoArrayUnsignedShort" message="tns:echoArrayUnsignedShort">
            </wsdl:input>
            <wsdl:output name="echoArrayUnsignedShortResponse" message="tns:echoArrayUnsignedShortResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayFloat">
            <wsdl:input name="echoArrayFloat" message="tns:echoArrayFloat">
            </wsdl:input>
            <wsdl:output name="echoArrayFloatResponse" message="tns:echoArrayFloatResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoMatrixString">
            <wsdl:input name="echoMatrixString" message="tns:echoMatrixString">
            </wsdl:input>
            <wsdl:output name="echoMatrixStringResponse" message="tns:echoMatrixStringResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayBoolean">
            <wsdl:input name="echoArrayBoolean" message="tns:echoArrayBoolean">
            </wsdl:input>
            <wsdl:output name="echoArrayBooleanResponse" message="tns:echoArrayBooleanResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayOctet">
            <wsdl:input name="echoArrayOctet" message="tns:echoArrayOctet">
            </wsdl:input>
            <wsdl:output name="echoArrayOctetResponse" message="tns:echoArrayOctetResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayLongLong">
            <wsdl:input name="echoArrayLongLong" message="tns:echoArrayLongLong">
            </wsdl:input>
            <wsdl:output name="echoArrayLongLongResponse" message="tns:echoArrayLongLongResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayShort">
            <wsdl:input name="echoArrayShort" message="tns:echoArrayShort">
            </wsdl:input>
            <wsdl:output name="echoArrayShortResponse" message="tns:echoArrayShortResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayWChar">
            <wsdl:input name="echoArrayWChar" message="tns:echoArrayWChar">
            </wsdl:input>
            <wsdl:output name="echoArrayWCharResponse" message="tns:echoArrayWCharResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayComplexStruct">
            <wsdl:input name="echoArrayComplexStruct" message="tns:echoArrayComplexStruct">
            </wsdl:input>
            <wsdl:output name="echoArrayComplexStructResponse" message="tns:echoArrayComplexStructResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayLong">
            <wsdl:input name="echoArrayLong" message="tns:echoArrayLong">
            </wsdl:input>
            <wsdl:output name="echoArrayLongResponse" message="tns:echoArrayLongResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayUnsignedLongLong">
            <wsdl:input name="echoArrayUnsignedLongLong" message="tns:echoArrayUnsignedLongLong">
            </wsdl:input>
            <wsdl:output name="echoArrayUnsignedLongLongResponse" message="tns:echoArrayUnsignedLongLongResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayUnsignedLong">
            <wsdl:input name="echoArrayUnsignedLong" message="tns:echoArrayUnsignedLong">
            </wsdl:input>
            <wsdl:output name="echoArrayUnsignedLongResponse" message="tns:echoArrayUnsignedLongResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayDouble">
            <wsdl:input name="echoArrayDouble" message="tns:echoArrayDouble">
            </wsdl:input>
            <wsdl:output name="echoArrayDoubleResponse" message="tns:echoArrayDoubleResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EchoArrayCorbaBinding" type="tns:EchoArray">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="echoArrayChar">
            <soap:operation/>
            <wsdl:input name="echoArrayChar">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoArrayCharResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayWString">
            <soap:operation/>
            <wsdl:input name="echoArrayWString">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoArrayWStringResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayString">
            <soap:operation/>
            <wsdl:input name="echoArrayString">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoArrayStringResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayUnsignedShort">
            <soap:operation/>
            <wsdl:input name="echoArrayUnsignedShort">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoArrayUnsignedShortResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayFloat">
            <soap:operation/>
            <wsdl:input name="echoArrayFloat">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoArrayFloatResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoMatrixString">
            <soap:operation/>
            <wsdl:input name="echoMatrixString">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoMatrixStringResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayBoolean">
            <soap:operation/>
            <wsdl:input name="echoArrayBoolean">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoArrayBooleanResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayOctet">
            <soap:operation/>
            <wsdl:input name="echoArrayOctet">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoArrayOctetResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayLongLong">
            <soap:operation/>
            <wsdl:input name="echoArrayLongLong">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoArrayLongLongResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayShort">
            <soap:operation/>
            <wsdl:input name="echoArrayShort">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoArrayShortResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayWChar">
            <soap:operation/>
            <wsdl:input name="echoArrayWChar">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoArrayWCharResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayComplexStruct">
            <soap:operation/>
            <wsdl:input name="echoArrayComplexStruct">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoArrayComplexStructResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayLong">
            <soap:operation/>
            <wsdl:input name="echoArrayLong">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoArrayLongResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayUnsignedLongLong">
            <soap:operation/>
            <wsdl:input name="echoArrayUnsignedLongLong">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoArrayUnsignedLongLongResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayUnsignedLong">
            <soap:operation/>
            <wsdl:input name="echoArrayUnsignedLong">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoArrayUnsignedLongResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoArrayDouble">
            <soap:operation/>
            <wsdl:input name="echoArrayDouble">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoArrayDoubleResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EchoArray">
        <wsdl:port name="EchoArrayCorbaPort" binding="tns:EchoArrayCorbaBinding">
            <soap:address location="http://localhost:8192/Service/test-provider-array/"/>
        </wsdl:port>
    </wsdl:service>
    <plnk:partnerLinkType name="EchoArray">
        <plnk:role name="EchoArrayPortTypeRole" portType="tns:EchoArray"/>
    </plnk:partnerLinkType>
</wsdl:definitions>
