driver-tests/sqlse/sqlserver/Sqlse1172_SQL/InsertOneParamFullQualJbi/src/jbiServiceUnits/InsertOneParamFullQualSql/InsertOneParamFullQualSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="InsertOneParamFullQualSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="InsertOneParamFullQualRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/><xsd:element name="param2" type="xsd:string"/><xsd:element name="param3" type="xsd:int"/><xsd:element name="param4" type="xsd:string"/><xsd:element name="param5" type="xsd:double"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="InsertOneParamFullQualResponse">
    <part name="InsertOneParamFullQualResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="InsertOneParamFullQualRequest">
    <part name="InsertOneParamFullQualRequestPart" element="tns:InsertOneParamFullQualRequest"/>
  </message>
  <portType name="InsertOneParamFullQualSql_sqlsePortType">
    <operation name="InsertOneParamFullQual">
      <input name="InsertOneParamFullQualRequest" message="tns:InsertOneParamFullQualRequest"/>
      <output name="InsertOneParamFullQualResponse" message="tns:InsertOneParamFullQualResponse"/>
    </operation>
  </portType>
  <binding name="InsertOneParamFullQualSqlBinding" type="tns:InsertOneParamFullQualSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="InsertOneParamFullQual">
      <soap:operation/>
      <input name="InsertOneParamFullQualRequest">
        <soap:body/>
      </input>
      <output name="InsertOneParamFullQualResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="InsertOneParamFullQualSql_sqlseService">
    <port name="InsertOneParamFullQualSql_sqlsePort" binding="tns:InsertOneParamFullQualSqlBinding">
      <soap:address location="http://localhost:18181/InsertOneParamFullQualSql/InsertOneParamFullQualSql/InsertOneParamFullQualSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="InsertOneParamFullQualSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="InsertOneParamFullQualSql_myrole" portType="tns:InsertOneParamFullQualSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
