driver-tests/sqlse/db2/SqlSE1209_DB2/SelectWithXParTableJbi/src/jbiServiceUnits/SelectWithXParTableBpel/SelectWithXParTableSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SelectWithXParTableSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="SelectWithXParTableRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="SelectWithXParTableResponse"><xsd:complexType><xsd:sequence><xsd:element name="EMPID" type="xsd:int"/><xsd:element name="ENAME" type="xsd:string"/><xsd:element name="DEPTID" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="SelectWithXParTableRequest">
    <part name="SelectWithXParTableRequestPart" element="tns:SelectWithXParTableRequest"/>
  </message>
  <message name="SelectWithXParTableResponse">
    <part name="SelectWithXParTableResponsePart" element="tns:SelectWithXParTableResponse"/>
  </message>
  <portType name="SelectWithXParTableSql_sqlsePortType">
    <operation name="SelectWithXParTable">
      <input name="SelectWithXParTableRequest" message="tns:SelectWithXParTableRequest"/>
      <output name="SelectWithXParTableResponse" message="tns:SelectWithXParTableResponse"/>
    </operation>
  </portType>
  <binding name="SelectWithXParTableSqlBinding" type="tns:SelectWithXParTableSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SelectWithXParTable">
      <soap:operation/>
      <input name="SelectWithXParTableRequest">
        <soap:body/>
      </input>
      <output name="SelectWithXParTableResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="SelectWithXParTableSql_sqlseService">
    <port name="SelectWithXParTableSql_sqlsePort" binding="tns:SelectWithXParTableSqlBinding">
      <soap:address location="http://localhost:18181/SelectWithXParTableSql/SelectWithXParTableSql/SelectWithXParTableSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="SelectWithXParTableSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="SelectWithXParTableSql_myrole" portType="tns:SelectWithXParTableSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
