driver-tests/bpelse/dynamicpartnerlink/correlation/MatchingInstanceTwoCorrBPEL/src/rec_pick_correlate_any/RecPickCorrAnysubWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/RecPickCorrAnysubWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/RecPickCorrAnysubWSDL" name="RecPickCorrAnysubWSDL" xmlns:ns="http://xml.netbeans.org/schema/dataTypes.xsd" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:ns2="http://j2ee.netbeans.org/wsdl/RecPickCorrAnysubWSDL2">
    <wsdl:import location="RecPickCorrAnysubWSDL2.wsdl" namespace="http://j2ee.netbeans.org/wsdl/RecPickCorrAnysubWSDL2"/>
    <wsdl:types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/RecPickCorrAnysubWSDL">
            <xsd:import namespace="http://xml.netbeans.org/schema/dataTypes.xsd" schemaLocation="../dataTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RecPickCorrAnysubWSDLOperationRequest">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="RecPickCorrAnysubWSDLOperationRequest1">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="RecPickCorrAnysubWSDLOperationRequest2">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="RecPickCorrAnysubWSDLOperationRequest3">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="RecPickCorrAnysubWSDLOperationRequest4">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="RecPickCorrAnysubWSDLPickOperationRequest">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="RecPickCorrAnysubWSDLPickOperationReply">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:portType name="RecPickCorrAnysubWSDLPortType">
        <wsdl:operation name="RecPickCorrAnysubWSDLOperation">
            <wsdl:input name="input1" message="tns:RecPickCorrAnysubWSDLOperationRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="RecPickCorrAnysubWSDLPortType1">
        <wsdl:operation name="RecPickCorrAnysubWSDLOperation">
            <wsdl:input name="input1" message="tns:RecPickCorrAnysubWSDLOperationRequest1"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="RecPickCorrAnysubWSDLPortType2">
        <wsdl:operation name="RecPickCorrAnysubWSDLOperation">
            <wsdl:input name="input1" message="tns:RecPickCorrAnysubWSDLOperationRequest2"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="RecPickCorrAnysubWSDLPortType3">
        <wsdl:operation name="RecPickCorrAnysubWSDLOperation">
            <wsdl:input name="input1" message="tns:RecPickCorrAnysubWSDLOperationRequest3"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="RecPickCorrAnysubWSDLPortType4">
        <wsdl:operation name="RecPickCorrAnysubWSDLOperation">
            <wsdl:input name="input1" message="tns:RecPickCorrAnysubWSDLOperationRequest4"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="RecPickCorrAnysubWSDLPickPortType">
        <wsdl:operation name="RecPickCorrAnysubWSDLPickOperation">
            <wsdl:input name="input1" message="tns:RecPickCorrAnysubWSDLPickOperationRequest"/>
            <wsdl:output name="output1" message="tns:RecPickCorrAnysubWSDLPickOperationReply"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RecPickCorrAnysubWSDLBinding" type="tns:RecPickCorrAnysubWSDLPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RecPickCorrAnysubWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RecPickCorrAnysubWSDLService">
        <wsdl:port name="RecPickCorrAnysubWSDLPort" binding="tns:RecPickCorrAnysubWSDLBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/RecPickCorrAnysubWSDLService/RecPickCorrAnysubWSDLPort"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:binding name="RecPickCorrAnysubWSDLBinding1" type="tns:RecPickCorrAnysubWSDLPortType1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RecPickCorrAnysubWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RecPickCorrAnysubWSDLService1">
        <wsdl:port name="RecPickCorrAnysubWSDLPort1" binding="tns:RecPickCorrAnysubWSDLBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/RecPickCorrAnysubWSDLService/RecPickCorrAnysubWSDLPort1"/>
        </wsdl:port>
    </wsdl:service>    
    <wsdl:binding name="RecPickCorrAnysubWSDLBinding2" type="tns:RecPickCorrAnysubWSDLPortType2">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RecPickCorrAnysubWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RecPickCorrAnysubWSDLService2">
        <wsdl:port name="RecPickCorrAnysubWSDLPort2" binding="tns:RecPickCorrAnysubWSDLBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/RecPickCorrAnysubWSDLService/RecPickCorrAnysubWSDLPort2"/>
        </wsdl:port>
    </wsdl:service>  
    <wsdl:binding name="RecPickCorrAnysubWSDLBinding3" type="tns:RecPickCorrAnysubWSDLPortType3">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RecPickCorrAnysubWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RecPickCorrAnysubWSDLService3">
        <wsdl:port name="RecPickCorrAnysubWSDLPort3" binding="tns:RecPickCorrAnysubWSDLBinding3">
            <soap:address location="http://localhost:${HttpDefaultPort}/RecPickCorrAnysubWSDLService/RecPickCorrAnysubWSDLPort3"/>
        </wsdl:port>
    </wsdl:service>  
    <wsdl:binding name="RecPickCorrAnysubWSDLBinding4" type="tns:RecPickCorrAnysubWSDLPortType4">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RecPickCorrAnysubWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RecPickCorrAnysubWSDLService4">
        <wsdl:port name="RecPickCorrAnysubWSDLPort4" binding="tns:RecPickCorrAnysubWSDLBinding4">
            <soap:address location="http://localhost:${HttpDefaultPort}/RecPickCorrAnysubWSDLService/RecPickCorrAnysubWSDLPort4"/>
        </wsdl:port>
    </wsdl:service>  
    <wsdl:binding name="RecPickCorrAnysubWSDLPickBinding" type="tns:RecPickCorrAnysubWSDLPickPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RecPickCorrAnysubWSDLPickOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal"/>
            </wsdl:output>            
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RecPickCorrAnysubWSDLPickService">
        <wsdl:port name="RecPickCorrAnysubWSDLPickPort" binding="tns:RecPickCorrAnysubWSDLPickBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/RecPickCorrAnysubWSDLService/RecPickCorrAnysubWSDLPickPort"/>
        </wsdl:port>
    </wsdl:service>    
    <plnk:partnerLinkType name="RecPickCorrAnysubWSDLPartner">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="RecPickCorrAnysubWSDLPortTypeRole" portType="tns:RecPickCorrAnysubWSDLPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="RecPickCorrAnysubWSDLPartner1">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="RecPickCorrAnysubWSDLPortType1Role" portType="tns:RecPickCorrAnysubWSDLPortType1"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="RecPickCorrAnysubWSDLPartner2">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="RecPickCorrAnysubWSDLPortType2Role" portType="tns:RecPickCorrAnysubWSDLPortType2"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="RecPickCorrAnysubWSDLPartner3">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="RecPickCorrAnysubWSDLPortType3Role" portType="tns:RecPickCorrAnysubWSDLPortType3"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="RecPickCorrAnysubWSDLPartner4">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="RecPickCorrAnysubWSDLPortType4Role" portType="tns:RecPickCorrAnysubWSDLPortType4"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="RecPickCorrAnysubWSDLPartner5">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="RecPickCorrAnysubWSDLPickPortTypeRole" portType="tns:RecPickCorrAnysubWSDLPickPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="property1" type="xsd:int"/>
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:RecPickCorrAnysubWSDLOperationRequest" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:int</vprop:query>
    </vprop:propertyAlias> 
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:RecPickCorrAnysubWSDLOperationRequest1" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:int</vprop:query>
    </vprop:propertyAlias> 
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:RecPickCorrAnysubWSDLOperationRequest2" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:int</vprop:query>
    </vprop:propertyAlias>    
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:RecPickCorrAnysubWSDLOperationRequest3" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:int</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:RecPickCorrAnysubWSDLOperationRequest4" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:int</vprop:query>
    </vprop:propertyAlias>    
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:RecPickCorrAnysubWSDLPickOperationRequest" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:int</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:RecPickCorrAnysubWSDLPickOperationReply" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:int</vprop:query>
    </vprop:propertyAlias>    
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="ns2:RecPickCorrAnysubWSDL2OperationRequest" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:int</vprop:query>
    </vprop:propertyAlias> 
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="ns2:RecPickCorrAnysubWSDL2OperationReply" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:int</vprop:query>
    </vprop:propertyAlias> 
</definitions>
