driver-tests/sqlse/derby/selectoneparamviewfullqualJbi/src/jbiServiceUnits/selectoneparamviewfullqualSQL/selectoneparamviewfullqualSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="selectoneparamviewfullqualSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="selectoneparamfullqualRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="selectoneparamfullqualResponse"><xsd:complexType><xsd:sequence><xsd:element name="CUSTOMER_NUM" type="xsd:int"/><xsd:element name="DISCOUNT_CODE" type="xsd:string"/><xsd:element name="ZIP" type="xsd:string"/><xsd:element name="NAME" type="xsd:string"/><xsd:element name="ADDR_LN1" type="xsd:string"/><xsd:element name="ADDR_LN2" type="xsd:string"/><xsd:element name="CITY" type="xsd:string"/><xsd:element name="STATE" type="xsd:string"/><xsd:element name="PHONE" type="xsd:string"/><xsd:element name="FAX" type="xsd:string"/><xsd:element name="EMAIL" type="xsd:string"/><xsd:element name="CREDIT_LIMIT" type="xsd:int"/><xsd:element name="LAST_SALE_DATE" type="xsd:string"/><xsd:element name="LAST_SALE_TIME" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="selectoneparamfullqualResponse">
    <part name="selectoneparamfullqualResponsePart" element="tns:selectoneparamfullqualResponse"/>
  </message>
  <message name="selectoneparamfullqualRequest">
    <part name="selectoneparamfullqualRequestPart" element="tns:selectoneparamfullqualRequest"/>
  </message>
  <portType name="selectoneparamviewfullqualSQL_sqlsePortType">
    <operation name="selectoneparamfullqual">
      <input name="selectoneparamfullqualRequest" message="tns:selectoneparamfullqualRequest"/>
      <output name="selectoneparamfullqualResponse" message="tns:selectoneparamfullqualResponse"/>
    </operation>
  </portType>
  <binding name="selectoneparamviewfullqualSQLBinding" type="tns:selectoneparamviewfullqualSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="selectoneparamfullqual">
      <soap:operation style="document"/>
      <input name="selectoneparamfullqualRequest">
        <soap:body use="literal"/>
      </input>
      <output name="selectoneparamfullqualResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="selectoneparamviewfullqualSQL_sqlseService">
    <port name="selectoneparamviewfullqualSQL_sqlsePort" binding="tns:selectoneparamviewfullqualSQLBinding">
      <soap:address location="http://localhost:18181/selectoneparamviewfullqualSQL/selectoneparamviewfullqualSQL/selectoneparamviewfullqualSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="selectoneparamviewfullqualSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="selectoneparamviewfullqualSQL_myrole" portType="tns:selectoneparamviewfullqualSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
