ojc-core/jdbcbc/jdbcbcimpl/test/com/sun/jbi/jdbcbc/packaging/wsdls/echo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ns="http://xml.netbeans.org/examples/targetNS"
            targetNamespace="http://xml.netbeans.org/examples/targetNS"
            xmlns="http://xml.netbeans.org/examples/targetNS"
            elementFormDefault="qualified">

   <xsd:complexType name="echoType">
     <xsd:sequence>
       <xsd:element name="id"    type="xsd:string"/>
       <xsd:element name="name"    type="xsd:string"/>
     </xsd:sequence>
   </xsd:complexType>
   
   <xsd:element name="echo" type="ns:echoType" />
</xsd:schema>
