ojc-core/jdbcbc/jdbcbcimpl/test/com/sun/jbi/jdbcbc/packaging/wsdls/echo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="jdbcwsdl" targetNamespace="http://j2ee.netbeans.org/wsdl/jdbcbc" xmlns:tns="http://j2ee.netbeans.org/wsdl/jdbcbc" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jdbc="http://schemas.stc.com/jbi/wsdl-extensions/jdbc/" xmlns:ns="http://j2ee.netbeans.org/xsd/tableSchema" xmlns:plink="http://schemas.xmlsoap.org/ws/2004/03/partner-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://j2ee.netbeans.org/wsdl/jdbcbc">
            
	<xsd:import namespace="http://j2ee.netbeans.org/xsd/tableSchema" schemaLocation="echo.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="inputMsg">
    <part element="ns:echo" name="part"/>
  </wsdl:message>
  <wsdl:message name="outputMsg">
    <part element="ns:echo" name="part"/>
  </wsdl:message>
  <wsdl:portType name="jdbcPortType">
    <wsdl:operation name="insert">
      <wsdl:input name="inputInsert" message="tns:inputMsg"/>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input name="inputUpdate" message="tns:inputMsg"/>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input name="inputDelete" message="tns:inputMsg"/>
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input name="inputFind" message="tns:inputMsg"/>
      <wsdl:output name="outputFind" message="tns:outputMsg"/>
    </wsdl:operation>
    <wsdl:operation name="pollrecords">
      <wsdl:input name="inputPoll" message="tns:inputMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="binding" type="tns:jdbcPortType">
    <jdbc:binding xmlns:jdbc="http://schemas.stc.com/jbi/wsdl-extensions/jdbc/"/>
    <wsdl:operation name="insert">
    <jdbc:operation xmlns:jdbc="http://schemas.stc.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputInsert">
    <jdbc:input xmlns:jdbc="http://schemas.stc.com/jbi/wsdl-extensions/jdbc/" numberOfRecords="" operationType="insert" paramOrder="col2,col1" sql="insert into &quot;APP&quot;.&quot;echo&quot; (&quot;col2&quot;,&quot;col1&quot;) values (?,?)"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="update">
    <jdbc:operation xmlns:jdbc="http://schemas.stc.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputUpdate">
    <jdbc:input xmlns:jdbc="http://schemas.stc.com/jbi/wsdl-extensions/jdbc/" numberOfRecords="" operationType="update" PKName="" TableName="APP.echo" paramOrder="col2,col1" sql="update &quot;APP&quot;.&quot;echo&quot; set &quot;echo&quot;.&quot;col2&quot;  = ?,&quot;echo&quot;.&quot;col1&quot;  = ?"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="delete">
    <jdbc:operation xmlns:jdbc="http://schemas.stc.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputDelete">
    <jdbc:input xmlns:jdbc="http://schemas.stc.com/jbi/wsdl-extensions/jdbc/" numberOfRecords="" operationType="delete" TableName="APP.echo" PKName="" paramOrder="" sql="delete from &quot;APP&quot;.&quot;echo&quot;"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="find">
    <jdbc:operation xmlns:jdbc="http://schemas.stc.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputFind">
    <jdbc:input xmlns:jdbc="http://schemas.stc.com/jbi/wsdl-extensions/jdbc/" numberOfRecords="1" operationType="select" TableName="APP.echo" PKName="" paramOrder="" sql="select * from &quot;APP&quot;.&quot;echo&quot;"/>
      </wsdl:input>
      <wsdl:output name="outputFind">
    <jdbc:output xmlns:jdbc="http://schemas.stc.com/jbi/wsdl-extensions/jdbc/" returnPartName="part"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pollrecords">
    <jdbc:operation xmlns:jdbc="http://schemas.stc.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputPoll">
    <jdbc:input xmlns:jdbc="http://schemas.stc.com/jbi/wsdl-extensions/jdbc/" numberOfRecords="1" operationType="poll" MarkColumnName="" Transaction="" MarkColumnValue="" TableName="APP.echo" PKName="" paramOrder="" sql="select * from &quot;APP&quot;.&quot;echo&quot;"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="port" binding="tns:binding">
    <jdbc:address xmlns:jdbc="http://schemas.stc.com/jbi/wsdl-extensions/jdbc/" jndiName="jdbc/conpool"/>
    </wsdl:port>
  </wsdl:service>
    <plink:partnerLinkType xmlns:plink="http://schemas.xmlsoap.org/ws/2004/03/partner-link/" name="jdbcpartner">
        <plink:role name="jdbcPortTypeRole" portType="tns:jdbcPortType"/>
    </plink:partnerLinkType>
</wsdl:definitions>