driver-tests/bpelse/faulthandling/StandardFaultsJbi/src/jbiServiceUnits/StandardFaultsBpel/CorrelationViolation/ThrowFromPick/StandardFaultWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="StandardFaultWSDL" targetNamespace="http://j2ee.netbeans.org/wsdl/StandardFaultsBpel/CorrelationViolation/ThrowFromPick/StandardFaultWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://xml.netbeans.org/schema/StandardFaultsBpel/src/CorrelationViolation/XmlSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://j2ee.netbeans.org/wsdl/StandardFaultsBpel/CorrelationViolation/ThrowFromPick/StandardFaultWSDL" xmlns:ns1="http://xml.netbeans.org/schema/StandardFaultsBpel/src/CorrelationViolation/XmlSchema" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/StandardFaultsBpel/CorrelationViolation/ThrowFromPick/StandardFaultWSDL" xmlns:ns1="http://xml.netbeans.org/schema/StandardFaultsBpel/src/CorrelationViolation/XmlSchema">
            <xsd:import namespace="http://xml.netbeans.org/schema/StandardFaultsBpel/src/CorrelationViolation/XmlSchema" schemaLocation="../XMLSchema.xsd"/>
        </xsd:schema>
    </types>
    <message name="MessageRequest">
        <part name="Input" element="ns:Message"/>
    </message>
    <message name="MessageReply">
        <part name="Output" element="ns:Message"/>
    </message>
    <portType name="MainBPPortType">
        <wsdl:operation name="MainBPOperation">
            <wsdl:input name="input1" message="tns:MessageRequest"/>
            <wsdl:output name="output1" message="tns:MessageReply"/>
        </wsdl:operation>
    </portType>
    <portType name="MainBPOneWayPortType">
        <wsdl:operation name="MainBPOneWayOperation">
            <wsdl:input name="input1" message="tns:MessageReply"/>
        </wsdl:operation>
    </portType>
    <portType name="MainBPOneWay2Type">
        <wsdl:operation name="MainBPOneWay2Operation">
            <wsdl:input name="input1" message="tns:MessageReply"/>
        </wsdl:operation>
    </portType>
    <portType name="SFBPOneWayPortType">
        <wsdl:operation name="SFBPOneWayOperation">
            <wsdl:input name="input1" message="tns:MessageRequest"/>
        </wsdl:operation>
    </portType>
    <portType name="SFBPPortType">
        <wsdl:operation name="SFBPOperation">
            <wsdl:input name="input1" message="tns:MessageRequest"/>
            <wsdl:output name="output1" message="tns:MessageReply"/>
        </wsdl:operation>
    </portType>
    <binding name="MainBPBinding" type="tns:MainBPPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="MainBPOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <binding name="MainBPOneWayBinding" type="tns:MainBPOneWayPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="MainBPOneWayOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body/>
            </wsdl:input>
        </wsdl:operation>
    </binding>
    <binding name="MainBPOneWay2Binding" type="tns:MainBPOneWay2Type">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="MainBPOneWay2Operation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body/>
            </wsdl:input>
        </wsdl:operation>
    </binding>
    <binding name="SFBPOneWayBinding" type="tns:SFBPOneWayPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SFBPOneWayOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body/>
            </wsdl:input>
        </wsdl:operation>
    </binding>
    <binding name="SFBPBinding" type="tns:SFBPPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SFBPOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <service name="MainBPService">
        <wsdl:port name="MainBPPort" binding="tns:MainBPBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/StandardFaultsBpel/StandardFaultsBpel/CorrelationViolation/ThrowFromPick/MainBPService/MainBPPort"/>
        </wsdl:port>
    </service>
    <service name="MainBPOneWayService">
        <wsdl:port name="MainBPOneWayPort" binding="tns:MainBPOneWayBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/StandardFaultsBpel/StandardFaultsBpel/CorrelationViolation/ThrowFromPick/StandardFaultWSDL/MainBPOneWayPort"/>
        </wsdl:port>
    </service>
    <service name="MainBPOneWay2Service">
        <wsdl:port name="MainBPOneWay2Port" binding="tns:MainBPOneWay2Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/StandardFaultsBpel/StandardFaultsBpel/CorrelationViolation/ThrowFromPick/StandardFaultWSDL/MainBPOneWay2Port"/>
        </wsdl:port>
    </service>
    <service name="SFBPOneWayService">
        <wsdl:port name="SFBPOneWayPort" binding="tns:SFBPOneWayBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/StandardFaultsBpel/StandardFaultsBpel/CorrelationViolation/ThrowFromPick/StandardFaultWSDL/SFBPOneWayPort"/>
        </wsdl:port>
    </service>
    <service name="SFBPService">
        <wsdl:port name="SFBPPort" binding="tns:SFBPBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/StandardFaultsBpel/StandardFaultsBpel/CorrelationViolation/ThrowFromPick/StandardFaultWSDL/SFBPPort"/>
        </wsdl:port>
    </service>
    <plnk:partnerLinkType name="MainBP">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="MainBPPortTypeRole" portType="tns:MainBPPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="MainBPOneWay">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="MainBPOneWayPortTypeRole" portType="tns:MainBPOneWayPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="SFBP">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="SFBPPortTypeRole" portType="tns:SFBPPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="correlation1" type="xsd:string"/>
    <vprop:property name="correlation2" type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:correlation1" messageType="tns:MessageRequest" part="Input">
        <vprop:query>/Message/Id1</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:correlation1" messageType="tns:MessageReply" part="Output">
        <vprop:query>/Message/Id1</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:correlation2" messageType="tns:MessageRequest" part="Input">
        <vprop:query>/Message/Id2</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:correlation2" messageType="tns:MessageReply" part="Output">
        <vprop:query>/Message/Id2</vprop:query>
    </vprop:propertyAlias>
    <plnk:partnerLinkType name="MainBPOneWay2">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="MainBPOneWay2TypeRole" portType="tns:MainBPOneWay2Type"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="SFBPOneWay">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="SFBPOneWayPortTypeRole" portType="tns:SFBPOneWayPortType"/>
    </plnk:partnerLinkType>
</definitions>
