ojc-core/bpelse/system-test/test/com/sun/jbi/engine/bpel/jbiadaptor/test/failover/bpels/CorrelationSubBP/CorrSubBPBpel/src/DriverWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="DriverWSDLRIT39667" targetNamespace="http://j2ee.netbeans.org/wsdl/DriverWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/DriverWSDL" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:ns0="http://j2ee.netbeans.org/wsdl/Parent1WSDL" xmlns:ns1="http://j2ee.netbeans.org/wsdl/Parent2WSDL">
    <import namespace="http://j2ee.netbeans.org/wsdl/Parent1WSDL" location="Parent1WSDL.wsdl"/>
    <import namespace="http://j2ee.netbeans.org/wsdl/Parent2WSDL" location="Parent2WSDL.wsdl"/>
    <types/>
    <message name="DriverWSDLOperationRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="DriverWSDLOperationReply">
        <part name="part1" type="xsd:string"/>
    </message>
    <portType name="DriverWSDLPortType">
        <wsdl:operation name="DriverWSDLOperation">
            <wsdl:input name="input1" message="tns:DriverWSDLOperationRequest"/>
            <wsdl:output name="output1" message="tns:DriverWSDLOperationReply"/>
        </wsdl:operation>
    </portType>
    <portType name="Parent1ReplyPortType">
        <wsdl:operation name="Parent1ReplyOperation">
            <wsdl:input name="input1" message="tns:DriverWSDLOperationRequest"/>
        </wsdl:operation>
    </portType>
    <portType name="Parent2ReplyPortType">
        <wsdl:operation name="Parent2ReplyOperation">
            <wsdl:input name="input1" message="tns:DriverWSDLOperationRequest"/>
        </wsdl:operation>
    </portType>
    <binding name="DriverWSDLBinding" type="tns:DriverWSDLPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="DriverWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/DriverWSDL"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/DriverWSDL"/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <binding name="Parent1ReplyBinding" type="tns:Parent1ReplyPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <wsdl:operation name="Parent1ReplyOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/DriverWSDL"/>
            </wsdl:input>
        </wsdl:operation>
    </binding>
    <binding name="Parent2ReplyBinding" type="tns:Parent2ReplyPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <wsdl:operation name="Parent2ReplyOperation">
            <wsdl:input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/DriverWSDL"/>
            </wsdl:input>
        </wsdl:operation>
    </binding>
    <service name="DriverWSDLService">
        <wsdl:port name="DriverWSDLPort" binding="tns:DriverWSDLBinding">
            <soap:address location="http://localhost:18181/DriverWSDLService/DriverWSDLPort"/>
        </wsdl:port>
        <wsdl:port name="Parent1ReplyPort" binding="tns:Parent1ReplyBinding">
            <soap:address location="http://localhost:18181/CorrSubBPBpel/DriverWSDL/ParentReplyPort"/>
        </wsdl:port>
        <wsdl:port name="Parent2ReplyPort" binding="tns:Parent2ReplyBinding">
            <soap:address location="http://localhost:18181/CorrSubBPBpel/DriverWSDL/Parent2ReplyPort"/>
        </wsdl:port>
    </service>
    <plnk:partnerLinkType name="DriverWSDLRIT396671">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="DriverWSDLPortTypeRole" portType="tns:DriverWSDLPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="property1" type="xsd:string"/>

    <vprop:propertyAlias propertyName="tns:property1" messageType="ns0:Parent1WSDLOperationRequest" part="part1"/>
    <vprop:propertyAlias propertyName="tns:property1" messageType="ns1:Parent2WSDLOperationRequest" part="part1"/>
    <vprop:propertyAlias propertyName="tns:property1" messageType="tns:DriverWSDLOperationRequest" part="part1"/>

    <plnk:partnerLinkType name="ParentReplyPartnerLink">
        <plnk:role name="role1" portType="tns:DriverWSDLPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="DriverWSDLRIT3966712">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="Parent1ReplyPortTypeRole" portType="tns:Parent1ReplyPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="DriverWSDLRIT3966713">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="Parent2ReplyPortTypeRole" portType="tns:Parent2ReplyPortType"/>
    </plnk:partnerLinkType>
</definitions>
