driver-tests/bpelse/misc/MiscBpel/src/test7/test7.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:Test7TargetNamespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Test7Definition" targetNamespace="urn:Test7TargetNamespace">
    <types>
        <xsd:schema xmlns:ns1="urn:Test7TargetNamespace" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:Test7TargetNamespace">
            <xsd:element name="Test7Element" type="tns:Test7Type">
            </xsd:element>
            <xsd:complexType name="Test7Type">
                <xsd:sequence>
                    <xsd:element name="FromCountry" type="xsd:string"/>
                    <xsd:element name="ToCountry" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="Test7Message">
        <part element="tns:Test7Element" name="Test7Part"/>
    </message>
    <portType name="Test7PortType">
        <operation name="Test7Operation">
            <input message="tns:Test7Message"/>
            <output message="tns:Test7Message"/>
        </operation>
    </portType>
    <binding name="Test7Binding" type="tns:Test7PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Test7Operation">
            <soap:operation soapAction="Test7Operation"/>
            <input>
                <soap:body parts="Test7Part" use="literal"/>
            </input>
            <output>
                <soap:body parts="Test7Part" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="Test7Service">
        <port binding="tns:Test7Binding" name="Test7Port">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/Test7"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="Test7ServiceLinkType">
	<plnk:role name="Test7ServerRole" portType="tns:Test7PortType"/>
   </plnk:partnerLinkType>
</definitions>
