contrib-imola/ejb-bc/jbi4ejb/src/test/etc/wsdl/EchoService_Abstract_No_extensions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"        
    xmlns:tns="test-namespace"    
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"

    name="EchoService"
    targetNamespace="test-namespace">

  <wsdl:types>
    <xsd:schema targetNamespace="test-namespace"
                elementFormDefault="qualified"
                attributeFormDefault="qualified">

      <xsd:element name="echo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in0" type="xsd:string" nillable="true" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="echoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string" nillable="true" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="echoRequest">
    <wsdl:part element="tns:echo" name="parameters" />
  </wsdl:message>

  <wsdl:message name="echoResponse">
    <wsdl:part element="tns:echoResponse" name="parameters" />
  </wsdl:message>

  <wsdl:portType name="EchoServicePortType">
    <wsdl:operation name="echo">
      <wsdl:input message="tns:echoRequest" name="echoRequest" />
      <wsdl:output message="tns:echoResponse" name="echoResponse" />
    </wsdl:operation>
  </wsdl:portType>

</wsdl:definitions>