ojc-core/bpelse/system-test/test/com/sun/jbi/engine/bpel/jbiadaptor/test/persistence/bpels/IMAinWhile/ReceiveInWhile/deployedFolder/ReceiveInWhileWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ReceiveInWhileWSDL" targetNamespace="http://j2ee.netbeans.org/wsdl/ReceiveInWhileWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/ReceiveInWhileWSDL" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types/>
    <message name="ReceiveInWhileWSDLOperationRequest">
        <part name="inputString" type="xsd:string"/>
        <part name="correlatingID" type="xsd:string"/>
    </message>
    <message name="ResponseMessage">
        <part name="part1" type="xsd:string"/>
    </message>
    <portType name="ReceiveInWhileWSDLPortType">
        <operation name="ReceiveInWhileWSDLOperation">
            <input name="input1" message="tns:ReceiveInWhileWSDLOperationRequest"/>
        </operation>
    </portType>
    <portType name="correlatingPortType">
        <operation name="correlatingOperation">
            <input name="input1" message="tns:ReceiveInWhileWSDLOperationRequest"/>
        </operation>
    </portType>
    <portType name="ResponsePortType">
        <operation name="ResponseOperation">
            <input name="input1" message="tns:ResponseMessage"/>
        </operation>
    </portType>
    <binding name="ReceiveInWhileWSDLBinding" type="tns:ReceiveInWhileWSDLPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ReceiveInWhileWSDLOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/ReceiveInWhileWSDL"/>
            </input>
        </operation>
    </binding>
    <binding name="correlatingPortTypeBinding" type="tns:correlatingPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="correlatingOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/ReceiveInWhileWSDL"/>
            </input>
        </operation>
    </binding>
    <service name="ReceiveInWhileWSDLService">
        <port name="ReceiveInWhileWSDLPort" binding="tns:ReceiveInWhileWSDLBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/ReceiveInWhileWSDLService/ReceiveInWhileWSDLPort"/>
        </port>
    </service>
    <service name="correlatingPortTypeService">
        <port name="correlatingPort" binding="tns:correlatingPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/ReceiveInWhile/ReceiveInWhileWSDL/correlatingPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="ReceiveInWhileWSDL">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="ReceiveInWhileWSDLPortTypeRole" portType="tns:ReceiveInWhileWSDLPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="ReceiveInWhileWSDL3">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="correlatingPortTypeRole" portType="tns:correlatingPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="ReceiveInWhileWSDL4">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="ResponsePortTypeRole" portType="tns:ResponsePortType"/>
    </plnk:partnerLinkType>
</definitions>
