ojc-core/component-common/xmltransformer/test/data/test7.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by junxu (Web Services Choreography WG) --><xs:schema targetNamespace="urn:test3" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">	<xs:element name="root">		<xs:complexType>			<xs:sequence maxOccurs="10">				<xs:element name="e1" minOccurs="4" maxOccurs="4">					<xs:complexType>						<xs:sequence>							<xs:element name="A1" type="xs:string"/>							<xs:element name="A2" type="xs:string"/>							<xs:element name="A3" type="xs:string"/>						</xs:sequence>					</xs:complexType>				</xs:element>				<xs:element name="e2" minOccurs="4" maxOccurs="4">					<xs:complexType>						<xs:sequence>							<xs:element name="B1" type="xs:string"/>							<xs:element name="B2" type="xs:string"/>							<xs:element name="B3" type="xs:string"/>						</xs:sequence>					</xs:complexType>				</xs:element>				<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="11"/>				<xs:element name="e3" minOccurs="4" maxOccurs="4">					<xs:complexType>						<xs:sequence>							<xs:element name="C1" type="xs:string"/>							<xs:element name="C2" type="xs:string"/>							<xs:element name="C3" type="xs:string"/>						</xs:sequence>					</xs:complexType>				</xs:element>			</xs:sequence>		</xs:complexType>	</xs:element></xs:schema>