ojc-core/component-common/xmltransformer/test/data/test2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by junxu (Web Services Choreography WG) --><xs:schema targetNamespace="urn:test1" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">	<xs:element name="root">		<xs:complexType>			<xs:sequence maxOccurs="10">				<xs:element name="e1" type="xs:string" maxOccurs="5"/>				<xs:element name="e2" type="xs:string" maxOccurs="10"/>				<xs:element name="e3" type="xs:string" maxOccurs="20"/>			</xs:sequence>		</xs:complexType>	</xs:element></xs:schema>