driver-tests/bpelse/misc/MiscBpel/src/TestParkingLot1/ParkingLotManager.wsdl

<definitions targetNamespace="urn:ParkingLotManager/wsdl"
             name="ParkingLotManager"
             xmlns:tns="urn:ParkingLotManager/wsdl"
             xmlns:tns0="urn:ParkingLotManager/wsdl"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:ns2="urn:ParkingLotManager/types"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <schema targetNamespace="urn:ParkingLotManager/types"
                xmlns:tns="urn:ParkingLotManager/types"
                xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                xmlns="http://www.w3.org/2001/XMLSchema"
                xmlns:ns2="urn:ParkingLotManager/types"
                xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                             
                   <xsd:element type="ns2:reserveParkingSpot"
                         name="reserveParkingSpot"></xsd:element>
            <xsd:element type="ns2:isParkingAvailable"
                         name="isParkingAvailable"></xsd:element>
            <xsd:element type="ns2:reserveParkingSpotResponse"
                         name="reserveParkingSpotResponse"></xsd:element>
            <xsd:element type="ns2:isParkingAvailableResponse"
                         name="isParkingAvailableResponse"></xsd:element>
            <xsd:element type="ns2:SpotNotAvailableException"
                         name="SpotNotAvailableException"></xsd:element>
            <xsd:complexType name="reserveParkingSpot">
                <xsd:sequence>
                    <xsd:element type="xsd:int"
                                 name="int_1"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="isParkingAvailable">
                <xsd:sequence>
               </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="reserveParkingSpotResponse">
                <xsd:sequence></xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="isParkingAvailableResponse">
                <xsd:sequence>
                    <xsd:element type="xsd:boolean"
                                 name="result"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SpotNotAvailableException">
                <xsd:sequence></xsd:sequence>
            </xsd:complexType>
        </schema>
    </types>
    <message name="ParkingLotManagerSEI_isParkingAvailable">
        <part name="parameters"
              element="ns2:isParkingAvailable"></part>
    </message>
    <message name="ParkingLotManagerSEI_isParkingAvailableResponse">
        <part name="result1"
              element="ns2:isParkingAvailableResponse"></part>
    </message>
    <message name="ParkingLotManagerSEI_reserveParkingSpot">
        <part name="parameters"
              element="ns2:reserveParkingSpot"></part>
    </message>
    <message name="ParkingLotManagerSEI_reserveParkingSpotResponse">
        <part name="result"
              element="ns2:reserveParkingSpotResponse"></part>
    </message>
    <message name="SpotNotAvailableException">
        <part name="SpotNotAvailableException"
              element="ns2:SpotNotAvailableException"></part>
    </message>
    <portType name="ParkingLotManagerSEI">
        <operation name="isParkingAvailable">
            <input message="tns:ParkingLotManagerSEI_isParkingAvailable"></input>
            <output message="tns:ParkingLotManagerSEI_isParkingAvailableResponse"></output>
        </operation>
        <operation name="reserveParkingSpot">
            <input message="tns:ParkingLotManagerSEI_reserveParkingSpot"></input>
            <output message="tns:ParkingLotManagerSEI_reserveParkingSpotResponse"></output>
            <fault name="SpotNotAvailableException"
                   message="tns:SpotNotAvailableException"></fault>
        </operation>
    </portType>
    <binding name="ParkingLotManagerSEIBinding"
             type="tns:ParkingLotManagerSEI">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="isParkingAvailable">
            <soap:operation soapAction="callws"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="reserveParkingSpot">
            <soap:operation soapAction="parkingsearch"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SpotNotAvailableException">
                <soap:fault name="SpotNotAvailableException"
                            use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="ParkingLotManager">
        <port name="ParkingLotManagerSEIPort"
              binding="tns:ParkingLotManagerSEIBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/callws"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="SLT">
        <plnk:role name="ParkingLotSearchrole" portType="tns:ParkingLotManagerSEI"/>
    </plnk:partnerLinkType>
</definitions>
