driver-tests/httpsoapbc/HttpSoapBCTests/HttpSoapBCJbi/src/jbiServiceUnits/HttpSoapBCBpel/BindingsCombinationTest.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:BindingsCombinationTest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BindingsCombinationTestService" targetNamespace="urn:BindingsCombinationTest">
	<types>
		<xsd:schema xmlns:ns1="urn:BindingsCombinationTest" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:BindingsCombinationTest">
			<xsd:element name="helloObj" type="tns:helloObjType">
            </xsd:element>
			<xsd:complexType name="helloObjType">
				<xsd:sequence>
					<xsd:element name="string" type="xsd:string"/>
					<xsd:element name="nonNegativeInteger" type="xsd:nonNegativeInteger"/>
					<xsd:element name="byte" type="xsd:byte"/>
					<xsd:element name="short" type="xsd:short"/>
					<xsd:element name="int" type="xsd:int"/>
					<xsd:element name="long" type="xsd:long"/>
					<xsd:element name="negativeInteger" type="xsd:negativeInteger"/>
					<xsd:element name="dateTime" type="xsd:dateTime"/>
					<xsd:element name="nonPositiveInteger" type="xsd:nonPositiveInteger"/>
					<xsd:element name="duration" type="xsd:duration"/>
					<xsd:element name="ENTITIES" type="xsd:ENTITIES"/>
					<xsd:element name="double" type="xsd:double"/>
					<xsd:element name="ENTITY" type="xsd:ENTITY"/>
					<xsd:element name="float" type="xsd:float"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	
	<message name="HelloElemIF_sayHello">
		<part element="tns:helloObj" name="body"/>
	</message>
	<message name="HelloElemIF_sayHelloResponse">
		<part element="tns:helloObj" name="result"/>
	</message>
	<message name="HelloCTypeIF_sayHello">
		<part name="body" type="tns:helloObjType"/>
	</message>
	<message name="HelloCTypeIF_sayHelloResponse">
		<part name="result" type="tns:helloObjType"/>
	</message>
	<message name="HelloSTypeIF_sayHello">
		<part name="string" type="xsd:string"/>
	</message>
	<message name="HelloSTypeIF_sayHelloResponse">
		<part name="string" type="xsd:string"/>
	</message>
	
	<message name="HelloElemElemIF_sayHello">
		<part element="tns:helloObj" name="body1"/>
		<part element="tns:helloObj" name="body2"/>
	</message>
	<message name="HelloElemElemIF_sayHelloResponse">
		<part element="tns:helloObj" name="result1"/>
		<part element="tns:helloObj" name="result2"/>
	</message>
	<message name="HelloCTypeCTypeIF_sayHello">
		<part name="body1" type="tns:helloObjType"/>
		<part name="body2" type="tns:helloObjType"/>
	</message>
	<message name="HelloCTypeCTypeIF_sayHelloResponse">
		<part name="result1" type="tns:helloObjType"/>
		<part name="result2" type="tns:helloObjType"/>
	</message>
	<message name="HelloSTypeSTypeIF_sayHello">
		<part name="string1" type="xsd:string"/>
		<part name="string2" type="xsd:string"/>
	</message>
	<message name="HelloSTypeSTypeIF_sayHelloResponse">
		<part name="string1" type="xsd:string"/>
		<part name="string2" type="xsd:string"/>
	</message>
	
	<message name="HelloElemCTypeIF_sayHello">
		<part element="tns:helloObj" name="body1"/>
		<part name="body2" type="tns:helloObjType"/>
	</message>
	<message name="HelloElemCTypeIF_sayHelloResponse">
		<part element="tns:helloObj" name="result1"/>
		<part name="result2" type="tns:helloObjType"/>
	</message>
	<message name="HelloElemSTypeIF_sayHello">
		<part element="tns:helloObj" name="body1"/>
		<part name="string2" type="xsd:string"/>
	</message>
	<message name="HelloElemSTypeIF_sayHelloResponse">
		<part element="tns:helloObj" name="result1"/>
		<part name="string2" type="xsd:string"/>
	</message>
	<message name="HelloCTypeElemIF_sayHello">
		<part name="body1" type="tns:helloObjType"/>
		<part element="tns:helloObj" name="body2"/>
	</message>
	<message name="HelloCTypeElemIF_sayHelloResponse">
		<part name="result1" type="tns:helloObjType"/>
		<part element="tns:helloObj" name="result2"/>
	</message>
	<message name="HelloCTypeSTypeIF_sayHello">
		<part name="body1" type="tns:helloObjType"/>
		<part name="string2" type="xsd:string"/>
	</message>
	<message name="HelloCTypeSTypeIF_sayHelloResponse">
		<part name="result1" type="tns:helloObjType"/>
		<part name="string2" type="xsd:string"/>
	</message>
	<message name="HelloSTypeElemIF_sayHello">
		<part name="string1" type="xsd:string"/>
		<part element="tns:helloObj" name="body2"/>
	</message>
	<message name="HelloSTypeElemIF_sayHelloResponse">
		<part name="string1" type="xsd:string"/>
		<part element="tns:helloObj" name="result2"/>
	</message>
	<message name="HelloSTypeCTypeIF_sayHello">
		<part name="string1" type="xsd:string"/>
		<part name="body2" type="tns:helloObjType"/>
	</message>
	<message name="HelloSTypeCTypeIF_sayHelloResponse">
		<part name="string1" type="xsd:string"/>
		<part name="result2" type="tns:helloObjType"/>
	</message>
	
	<portType name="HelloCType2CTypeIF">
		<operation name="sayHello">
			<input message="tns:HelloCTypeIF_sayHello"/>
			<output message="tns:HelloCTypeIF_sayHelloResponse"/>
		</operation>
	</portType>
	<portType name="HelloElem2CTypeIF">
		<operation name="sayHello">
			<input message="tns:HelloElemIF_sayHello"/>
			<output message="tns:HelloCTypeIF_sayHelloResponse"/>
		</operation>
	</portType>
	<portType name="HelloSType2CTypeIF">
		<operation name="sayHello">
			<input message="tns:HelloSTypeIF_sayHello"/>
			<output message="tns:HelloCTypeIF_sayHelloResponse"/>
		</operation>
	</portType>
	<portType name="HelloCType2ElemIF">
		<operation name="sayHello">
			<input message="tns:HelloCTypeIF_sayHello"/>
			<output message="tns:HelloElemIF_sayHelloResponse"/>
		</operation>
	</portType>
	<portType name="HelloCType2STypeIF">
		<operation name="sayHello">
			<input message="tns:HelloCTypeIF_sayHello"/>
			<output message="tns:HelloSTypeIF_sayHelloResponse"/>
		</operation>
	</portType>
	
	<portType name="HelloCTypeCType2CTypeIF">
		<operation name="sayHello">
			<input message="tns:HelloCTypeCTypeIF_sayHello"/>
			<output message="tns:HelloCTypeIF_sayHelloResponse"/>
		</operation>
	</portType>
	<portType name="HelloElemElem2CTypeIF">
		<operation name="sayHello">
			<input message="tns:HelloElemElemIF_sayHello"/>
			<output message="tns:HelloCTypeIF_sayHelloResponse"/>
		</operation>
	</portType>
	<portType name="HelloSTypeSType2CTypeIF">
		<operation name="sayHello">
			<input message="tns:HelloSTypeSTypeIF_sayHello"/>
			<output message="tns:HelloCTypeIF_sayHelloResponse"/>
		</operation>
	</portType>
	
	<portType name="HelloCTypeElem2CTypeIF">
		<operation name="sayHello">
			<input message="tns:HelloCTypeElemIF_sayHello"/>
			<output message="tns:HelloCTypeIF_sayHelloResponse"/>
		</operation>
	</portType>
	<portType name="HelloCTypeSType2CTypeIF">
		<operation name="sayHello">
			<input message="tns:HelloCTypeSTypeIF_sayHello"/>
			<output message="tns:HelloCTypeIF_sayHelloResponse"/>
		</operation>
	</portType>
	<portType name="HelloElemCType2CTypeIF">
		<operation name="sayHello">
			<input message="tns:HelloElemCTypeIF_sayHello"/>
			<output message="tns:HelloCTypeIF_sayHelloResponse"/>
		</operation>
	</portType>
	<portType name="HelloElemSType2CTypeIF">
		<operation name="sayHello">
			<input message="tns:HelloElemSTypeIF_sayHello"/>
			<output message="tns:HelloCTypeIF_sayHelloResponse"/>
		</operation>
	</portType>
	<portType name="HelloSTypeElem2CTypeIF">
		<operation name="sayHello">
			<input message="tns:HelloSTypeElemIF_sayHello"/>
			<output message="tns:HelloCTypeIF_sayHelloResponse"/>
		</operation>
	</portType>
	<portType name="HelloSTypeCType2CTypeIF">
		<operation name="sayHello">
			<input message="tns:HelloSTypeCTypeIF_sayHello"/>
			<output message="tns:HelloCTypeIF_sayHelloResponse"/>
		</operation>
	</portType>
	
	<portType name="HelloCType2CTypeCTypeIF">
		<operation name="sayHello">
			<input message="tns:HelloCTypeIF_sayHello"/>
			<output message="tns:HelloCTypeCTypeIF_sayHelloResponse"/>
		</operation>
	</portType>
	<portType name="HelloCType2ElemElemIF">
		<operation name="sayHello">
			<input message="tns:HelloCTypeIF_sayHello"/>
			<output message="tns:HelloElemElemIF_sayHelloResponse"/>
		</operation>
	</portType>
	<portType name="HelloCType2STypeSTypeIF">
		<operation name="sayHello">
			<input message="tns:HelloCTypeIF_sayHello"/>
			<output message="tns:HelloSTypeSTypeIF_sayHelloResponse"/>
		</operation>
	</portType>
	
	<portType name="HelloCType2CTypeElemIF">
		<operation name="sayHello">
			<input message="tns:HelloCTypeIF_sayHello"/>
			<output message="tns:HelloCTypeElemIF_sayHelloResponse"/>
		</operation>
	</portType>
	<portType name="HelloCType2CTypeSTypeIF">
		<operation name="sayHello">
			<input message="tns:HelloCTypeIF_sayHello"/>
			<output message="tns:HelloCTypeSTypeIF_sayHelloResponse"/>
		</operation>
	</portType>
	<portType name="HelloCType2ElemCTypeIF">
		<operation name="sayHello">
			<input message="tns:HelloCTypeIF_sayHello"/>
			<output message="tns:HelloElemCTypeIF_sayHelloResponse"/>
		</operation>
	</portType>
	<portType name="HelloCType2ElemSTypeIF">
		<operation name="sayHello">
			<input message="tns:HelloCTypeIF_sayHello"/>
			<output message="tns:HelloElemSTypeIF_sayHelloResponse"/>
		</operation>
	</portType>
	<portType name="HelloCType2STypeElemIF">
		<operation name="sayHello">
			<input message="tns:HelloCTypeIF_sayHello"/>
			<output message="tns:HelloSTypeElemIF_sayHelloResponse"/>
		</operation>
	</portType>
	<portType name="HelloCType2STypeCTypeIF">
		<operation name="sayHello">
			<input message="tns:HelloCTypeIF_sayHello"/>
			<output message="tns:HelloSTypeCTypeIF_sayHelloResponse"/>
		</operation>
	</portType>
	
	<binding name="HelloDocCType2DocCTypeIFBinding" type="tns:HelloCType2CTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCCType2RPCCTypeIFBinding" type="tns:HelloCType2CTypeIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocElem2DocCTypeIFBinding" type="tns:HelloElem2CTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCElem2RPCCTypeIFBinding" type="tns:HelloElem2CTypeIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocSType2DocCTypeIFBinding" type="tns:HelloSType2CTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCSType2RPCCTypeIFBinding" type="tns:HelloSType2CTypeIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocCType2DocElemIFBinding" type="tns:HelloCType2ElemIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCCType2RPCElemIFBinding" type="tns:HelloCType2ElemIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocCType2DocSTypeIFBinding" type="tns:HelloCType2STypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCCType2RPCSTypeIFBinding" type="tns:HelloCType2STypeIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	
	<binding name="HelloDocCTypeCType2DocCTypeIFBinding" type="tns:HelloCTypeCType2CTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCCTypeCType2RPCCTypeIFBinding" type="tns:HelloCTypeCType2CTypeIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocElemElem2DocCTypeIFBinding" type="tns:HelloElemElem2CTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body parts="body1 body2" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCElemElem2RPCCTypeIFBinding" type="tns:HelloElemElem2CTypeIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body parts="body1 body2" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocSTypeSType2DocCTypeIFBinding" type="tns:HelloSTypeSType2CTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCSTypeSType2RPCCTypeIFBinding" type="tns:HelloSTypeSType2CTypeIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocCType2DocCTypeCTypeIFBinding" type="tns:HelloCType2CTypeCTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCCType2RPCCTypeCTypeIFBinding" type="tns:HelloCType2CTypeCTypeIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocCType2DocElemElemIFBinding" type="tns:HelloCType2ElemElemIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result1 result2" use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCCType2RPCElemElemIFBinding" type="tns:HelloCType2ElemElemIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result1 result2" use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocCType2DocSTypeSTypeIFBinding" type="tns:HelloCType2STypeSTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCCType2RPCSTypeSTypeIFBinding" type="tns:HelloCType2STypeSTypeIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	
	<binding name="HelloDocCTypeElem2DocCTypeIFBinding" type="tns:HelloCTypeElem2CTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocCTypeSType2DocCTypeIFBinding" type="tns:HelloCTypeSType2CTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCCTypeElem2RPCCTypeIFBinding" type="tns:HelloCTypeElem2CTypeIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCCTypeSType2RPCCTypeIFBinding" type="tns:HelloCTypeSType2CTypeIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocElemCType2DocCTypeIFBinding" type="tns:HelloElemCType2CTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocElemSType2DocCTypeIFBinding" type="tns:HelloElemSType2CTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCElemCType2RPCCTypeIFBinding" type="tns:HelloElemCType2CTypeIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCElemSType2RPCCTypeIFBinding" type="tns:HelloElemSType2CTypeIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocSTypeElem2DocCTypeIFBinding" type="tns:HelloSTypeElem2CTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocSTypeCType2DocCTypeIFBinding" type="tns:HelloSTypeCType2CTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCSTypeElem2RPCCTypeIFBinding" type="tns:HelloSTypeElem2CTypeIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCSTypeCType2RPCCTypeIFBinding" type="tns:HelloSTypeCType2CTypeIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocCType2DocCTypeElemIFBinding" type="tns:HelloCType2CTypeElemIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocCType2DocCTypeSTypeIFBinding" type="tns:HelloCType2CTypeSTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCCType2RPCCTypeElemIFBinding" type="tns:HelloCType2CTypeElemIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCCType2RPCCTypeSTypeIFBinding" type="tns:HelloCType2CTypeSTypeIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocCType2DocElemCTypeIFBinding" type="tns:HelloCType2ElemCTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocCType2DocElemSTypeIFBinding" type="tns:HelloCType2ElemSTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCCType2RPCElemCTypeIFBinding" type="tns:HelloCType2ElemCTypeIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCCType2RPCElemSTypeIFBinding" type="tns:HelloCType2ElemSTypeIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocCType2DocSTypeElemIFBinding" type="tns:HelloCType2STypeElemIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloDocCType2DocSTypeCTypeIFBinding" type="tns:HelloCType2STypeCTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCCType2RPCSTypeElemIFBinding" type="tns:HelloCType2STypeElemIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="HelloRPCCType2RPCSTypeCTypeIFBinding" type="tns:HelloCType2STypeCTypeIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sayHello">
			<soap:operation soapAction="sayHello"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	
	<service name="BindingsCombinationTestService">
		
		<port binding="tns:HelloDocCType2DocCTypeIFBinding" name="HelloDocCType2DocCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocCType2DocCType"/>
		</port>
		<port binding="tns:HelloRPCCType2RPCCTypeIFBinding" name="HelloRPCCType2RPCCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCCType2RPCCType"/>
		</port>
		<port binding="tns:HelloDocElem2DocCTypeIFBinding" name="HelloDocElem2DocCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocElem2DocCType"/>
		</port>
		<port binding="tns:HelloRPCElem2RPCCTypeIFBinding" name="HelloRPCElem2RPCCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCElem2RPCCType"/>
		</port>
		<port binding="tns:HelloDocSType2DocCTypeIFBinding" name="HelloDocSType2DocCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocSType2DocCType"/>
		</port>
		<port binding="tns:HelloRPCSType2RPCCTypeIFBinding" name="HelloRPCSType2RPCCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCSType2RPCCType"/>
		</port>
		
		<port binding="tns:HelloDocCType2DocElemIFBinding" name="HelloDocCType2DocElemIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocCType2DocElem"/>
		</port>
		<port binding="tns:HelloRPCCType2RPCElemIFBinding" name="HelloRPCCType2RPCElemIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCCType2RPCElem"/>
		</port>
		<port binding="tns:HelloDocCType2DocSTypeIFBinding" name="HelloDocCType2DocSTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocCType2DocSType"/>
		</port>
		<port binding="tns:HelloRPCCType2RPCSTypeIFBinding" name="HelloRPCCType2RPCSTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCCType2RPCSType"/>
		</port>
		
		<port binding="tns:HelloDocCTypeCType2DocCTypeIFBinding" name="HelloDocCTypeCType2DocCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocCTypeCType2DocCType"/>
		</port>
		<port binding="tns:HelloRPCCTypeCType2RPCCTypeIFBinding" name="HelloRPCCTypeCType2RPCCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCCTypeCType2RPCCType"/>
		</port>
		<port binding="tns:HelloDocElemElem2DocCTypeIFBinding" name="HelloDocElemElem2DocCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocElemElem2DocCType"/>
		</port>
		<port binding="tns:HelloRPCElemElem2RPCCTypeIFBinding" name="HelloRPCElemElem2RPCCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCElemElem2RPCCType"/>
		</port>
		<port binding="tns:HelloDocSTypeSType2DocCTypeIFBinding" name="HelloDocSTypeSType2DocCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocSTypeSType2DocCType"/>
		</port>
		<port binding="tns:HelloRPCSTypeSType2RPCCTypeIFBinding" name="HelloRPCSTypeSType2RPCCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCSTypeSType2RPCCType"/>
		</port>
		
		<port binding="tns:HelloDocCTypeElem2DocCTypeIFBinding" name="HelloDocCTypeElem2DocCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocCTypeElem2DocCType"/>
		</port>
		<port binding="tns:HelloDocCTypeSType2DocCTypeIFBinding" name="HelloDocCTypeSType2DocCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocCTypeSType2DocCType"/>
		</port>
		<port binding="tns:HelloRPCCTypeElem2RPCCTypeIFBinding" name="HelloRPCCTypeElem2RPCCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCCTypeElem2RPCCType"/>
		</port>
		<port binding="tns:HelloRPCCTypeSType2RPCCTypeIFBinding" name="HelloRPCCTypeSType2RPCCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCCTypeSType2RPCCType"/>
		</port>
		<port binding="tns:HelloDocElemCType2DocCTypeIFBinding" name="HelloDocElemCType2DocCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocElemCType2DocCType"/>
		</port>
		<port binding="tns:HelloDocElemSType2DocCTypeIFBinding" name="HelloDocElemSType2DocCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocElemSType2DocCType"/>
		</port>
		<port binding="tns:HelloRPCElemCType2RPCCTypeIFBinding" name="HelloRPCElemCType2RPCCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCElemCType2RPCCType"/>
		</port>
		<port binding="tns:HelloRPCElemSType2RPCCTypeIFBinding" name="HelloRPCElemSType2RPCCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCElemSType2RPCCType"/>
		</port>
		<port binding="tns:HelloDocSTypeElem2DocCTypeIFBinding" name="HelloDocSTypeElem2DocCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocSTypeElem2DocCType"/>
		</port>
		<port binding="tns:HelloDocSTypeCType2DocCTypeIFBinding" name="HelloDocSTypeCType2DocCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocSTypeCType2DocCType"/>
		</port>
		<port binding="tns:HelloRPCSTypeElem2RPCCTypeIFBinding" name="HelloRPCSTypeElem2RPCCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCSTypeElem2RPCCType"/>
		</port>
		<port binding="tns:HelloRPCSTypeCType2RPCCTypeIFBinding" name="HelloRPCSTypeCType2RPCCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCSTypeCType2RPCCType"/>
		</port>
		
		<port binding="tns:HelloDocCType2DocCTypeCTypeIFBinding" name="HelloDocCType2DocCTypeCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocCType2DocCTypeCType"/>
		</port>
		<port binding="tns:HelloRPCCType2RPCCTypeCTypeIFBinding" name="HelloRPCCType2RPCCTypeCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCCType2RPCCTypeCType"/>
		</port>
		<port binding="tns:HelloDocCType2DocElemElemIFBinding" name="HelloDocCType2DocElemElemIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocCType2DocElemElem"/>
		</port>
		<port binding="tns:HelloRPCCType2RPCElemElemIFBinding" name="HelloRPCCType2RPCElemElemIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCCType2RPCElemElem"/>
		</port>
		<port binding="tns:HelloDocCType2DocSTypeSTypeIFBinding" name="HelloDocCType2DocSTypeSTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocCType2DocSTypeSType"/>
		</port>
		<port binding="tns:HelloRPCCType2RPCSTypeSTypeIFBinding" name="HelloRPCCType2RPCSTypeSTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCCType2RPCSTypeSType"/>
		</port>
		
		<port binding="tns:HelloDocCType2DocCTypeElemIFBinding" name="HelloDocCType2DocCTypeElemIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocCType2DocCTypeElem"/>
		</port>
		<port binding="tns:HelloDocCType2DocCTypeSTypeIFBinding" name="HelloDocCType2DocCTypeSTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocCType2DocCTypeSType"/>
		</port>
		<port binding="tns:HelloRPCCType2RPCCTypeElemIFBinding" name="HelloRPCCType2RPCCTypeElemIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCCType2RPCCTypeElem"/>
		</port>
		<port binding="tns:HelloRPCCType2RPCCTypeSTypeIFBinding" name="HelloRPCCType2RPCCTypeSTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCCType2RPCCTypeSType"/>
		</port>
		<port binding="tns:HelloDocCType2DocElemCTypeIFBinding" name="HelloDocCType2DocElemCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocCType2DocElemCType"/>
		</port>
		<port binding="tns:HelloDocCType2DocElemSTypeIFBinding" name="HelloDocCType2DocElemSTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocCType2DocElemSType"/>
		</port>
		<port binding="tns:HelloRPCCType2RPCElemCTypeIFBinding" name="HelloRPCCType2RPCElemCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCCType2RPCElemCType"/>
		</port>
		<port binding="tns:HelloRPCCType2RPCElemSTypeIFBinding" name="HelloRPCCType2RPCElemSTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCCType2RPCElemSType"/>
		</port>
		<port binding="tns:HelloDocCType2DocSTypeElemIFBinding" name="HelloDocCType2DocSTypeElemIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocCType2DocSTypeElem"/>
		</port>
		<port binding="tns:HelloDocCType2DocSTypeCTypeIFBinding" name="HelloDocCType2DocSTypeCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationDocCType2DocSTypeCType"/>
		</port>
		<port binding="tns:HelloRPCCType2RPCSTypeElemIFBinding" name="HelloRPCCType2RPCSTypeElemIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCCType2RPCSTypeElem"/>
		</port>
		<port binding="tns:HelloRPCCType2RPCSTypeCTypeIFBinding" name="HelloRPCCType2RPCSTypeCTypeIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/CombinationRPCCType2RPCSTypeCType"/>
		</port>
	</service>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloCType2CTypeIFLink">
		
		<plnk:role name="HelloCType2CTypeIFRole" portType="tns:HelloCType2CTypeIF"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloElem2CTypeIFLink">
		<plnk:role name="HelloElem2CTypeIFRole" portType="tns:HelloElem2CTypeIF"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloSType2CTypeIFLink">
		<plnk:role name="HelloSType2CTypeIFRole" portType="tns:HelloSType2CTypeIF"/>
	</plnk:partnerLinkType>
	
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloCType2ElemIFLink">
		<plnk:role name="HelloCType2ElemIFRole" portType="tns:HelloCType2ElemIF"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloCType2STypeIFLink">
		<plnk:role name="HelloCType2STypeIFRole" portType="tns:HelloCType2STypeIF"/>
	</plnk:partnerLinkType>
	
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloCTypeCType2CTypeIFLink">
		<plnk:role name="HelloCTypeCType2CTypeIFRole" portType="tns:HelloCTypeCType2CTypeIF"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloElemElem2CTypeIFLink">
		<plnk:role name="HelloElemElem2CTypeIFRole" portType="tns:HelloElemElem2CTypeIF"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloSTypeSType2CTypeIFLink">
		<plnk:role name="HelloSTypeSType2CTypeIFRole" portType="tns:HelloSTypeSType2CTypeIF"/>
	</plnk:partnerLinkType>
	
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloCTypeElem2CTypeIFLink">
		<plnk:role name="HelloCTypeElem2CTypeIFRole" portType="tns:HelloCTypeElem2CTypeIF"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloCTypeSType2CTypeIFLink">
		<plnk:role name="HelloCTypeSType2CTypeIFRole" portType="tns:HelloCTypeSType2CTypeIF"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloElemCType2CTypeIFLink">
		<plnk:role name="HelloElemCType2CTypeIFRole" portType="tns:HelloElemCType2CTypeIF"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloElemSType2CTypeIFLink">
		<plnk:role name="HelloElemSType2CTypeIFRole" portType="tns:HelloElemSType2CTypeIF"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloSTypeElem2CTypeIFLink">
		<plnk:role name="HelloSTypeElem2CTypeIFRole" portType="tns:HelloSTypeElem2CTypeIF"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloSTypeCType2CTypeIFLink">
		<plnk:role name="HelloSTypeCType2CTypeIFRole" portType="tns:HelloSTypeCType2CTypeIF"/>
	</plnk:partnerLinkType>
	
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloCType2CTypeCTypeIFLink">
		<plnk:role name="HelloCType2CTypeCTypeIFRole" portType="tns:HelloCType2CTypeCTypeIF"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloCType2ElemElemIFLink">
		<plnk:role name="HelloCType2ElemElemIFRole" portType="tns:HelloCType2ElemElemIF"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloCType2STypeSTypeIFLink">
		<plnk:role name="HelloCType2STypeSTypeIFRole" portType="tns:HelloCType2STypeSTypeIF"/>
	</plnk:partnerLinkType>
	
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloCType2CTypeElemIFLink">
		<plnk:role name="HelloCType2CTypeElemIFRole" portType="tns:HelloCType2CTypeElemIF"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloCType2CTypeSTypeIFLink">
		<plnk:role name="HelloCType2CTypeSTypeIFRole" portType="tns:HelloCType2CTypeSTypeIF"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloCType2ElemCTypeIFLink">
		<plnk:role name="HelloCType2ElemCTypeIFRole" portType="tns:HelloCType2ElemCTypeIF"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloCType2ElemSTypeIFLink">
		<plnk:role name="HelloCType2ElemSTypeIFRole" portType="tns:HelloCType2ElemSTypeIF"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloCType2STypeElemIFLink">
		<plnk:role name="HelloCType2STypeElemIFRole" portType="tns:HelloCType2STypeElemIF"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloCType2STypeCTypeIFLink">
		<plnk:role name="HelloCType2STypeCTypeIFRole" portType="tns:HelloCType2STypeCTypeIF"/>
	</plnk:partnerLinkType>
</definitions>
