driver-tests/httpsoapbc/HttpSoapBCTests/HttpSoapBCJbi/src/jbiServiceUnits/HttpSoapBCBpel/MultiOp_UserTestCase2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.ardatis.com/ventouris/SeeBeyondService"
	xmlns:type="http://www.ardatis.com/ventouris/SeeBeyondService/type"
	xmlns:rsvztype="http://www.rsvz-inasti.fgov.be/schemas/B2B/Exchanges"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SeeBeyondService"
	targetNamespace="http://www.ardatis.com/ventouris/SeeBeyondService" xmlns="http://schemas.xmlsoap.org/wsdl/">

	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.ardatis.com/ventouris/SeeBeyondService/type"
			xmlns:tns="http://www.ardatis.com/ventouris/SeeBeyondService/type">

			<xsd:import namespace="http://www.rsvz-inasti.fgov.be/schemas/B2B/Exchanges"
				schemaLocation="B503_Affiliation.xsd" />
			<xsd:complexType name="GetHeaderType">
				<xsd:sequence>
					<xsd:element name="requestInitiatorID" type="xsd:string" />
					<xsd:element name="messageID" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:complexType name="SetStartProcessRequest">
				<xsd:sequence>
					<xsd:element name="dossierId" type="xsd:string" nillable="true" />
					<xsd:element name="affiliateId" type="xsd:string" nillable="true" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AffiliateResponse">
				<xsd:sequence />
			</xsd:complexType>
			<xsd:complexType name="RecoverRequest">
				<xsd:sequence>
					<xsd:element name="insz" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="RecoverResponse">
                <xsd:sequence></xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SetTaakVerwerktResponse">
				<xsd:sequence />
			</xsd:complexType>
			<xsd:element name="GetHeader"
				type="tns:GetHeaderType" />
			<xsd:element name="VentourisWSException">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="message" type="xsd:string"
							nillable="true" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="AffiliateResponse"
				type="tns:AffiliateResponse" />
			<xsd:element name="SetTaakVerwerktRequest"
				type="xsd:string" />
			<xsd:element name="SetTaakVerwerktResponse"
				type="tns:SetTaakVerwerktResponse" />
			<xsd:element name="SetStartProcessRequest" type="tns:SetStartProcessRequest"/>
			<xsd:element name="SetStartProcessResponse"
				type="xsd:string" />
		    <xsd:element name="CancelProcessRequest"
				type="xsd:string" />
			<xsd:element name="CancelProcessResponse"
				type="xsd:string" />
			<xsd:element name="RecoverRequest"
				type="tns:RecoverRequest" />
            <xsd:element name="RecoverResponse" type="tns:RecoverResponse"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RecoverRequest">
        <wsdl:part name="RecoverRequest"
                   element="type:RecoverRequest"/>
    </wsdl:message>
    <wsdl:message name="RecoverResponse">
        <wsdl:part name="RecoverResponse"
                   element="type:RecoverResponse"/>
    </wsdl:message>
    <wsdl:message name="Recover_VentourisWSException">
        <wsdl:part name="Recover_VentourisWSException"
                   element="type:VentourisWSException"/>
    </wsdl:message>
	<wsdl:message name="AffiliateRequest">
		<wsdl:part name="header" element="type:GetHeader"/>
		<wsdl:part name="AffiliateRequest"
			element="rsvztype:AffiliateRequest" />
	</wsdl:message>
	<wsdl:message name="AffiliateResponse">
		<wsdl:part name="AffiliateResponse"
			element="type:AffiliateResponse" />
	</wsdl:message>
	<wsdl:message name="Affiliate_VentourisWSException">
		<wsdl:part name="Affiliate_VentourisWSException"
			element="type:VentourisWSException" />
	</wsdl:message>
	<wsdl:message name="SetTaakVerwerktRequest">
		<wsdl:part name="SetTaakVerwerktRequest"
			element="type:SetTaakVerwerktRequest" />
	</wsdl:message>
	<wsdl:message name="SetTaakVerwerktResponse">
		<wsdl:part name="SetTaakVerwerktResponse"
			element="type:SetTaakVerwerktResponse" />
	</wsdl:message>
	<wsdl:message name="SetTaakVerwerkt_VentourisWSException">
		<wsdl:part name="SetTaakVerwerkt_VentourisWSException"
			element="type:VentourisWSException" />
	</wsdl:message>
	<wsdl:message name="SetStartProcessRequest">
		<wsdl:part name="SetStartProcessRequest"
			element="type:SetStartProcessRequest" />
	</wsdl:message>
	<wsdl:message name="SetStartProcessResponse">
		<wsdl:part name="SetStartProcessResponse"
			element="type:SetStartProcessResponse" />
	</wsdl:message>
	<wsdl:message name="SetStartProcess_VentourisWSException">
		<wsdl:part name="SetStartProcess_VentourisWSException"
			element="type:VentourisWSException" />
	</wsdl:message>
	<wsdl:message name="CancelProcessRequest">
		<wsdl:part name="header" element="type:GetHeader"/>
		<wsdl:part name="CancelProcessRequest"
			element="type:CancelProcessRequest" />
	</wsdl:message>
	<wsdl:message name="CancelProcessResponse">
		<wsdl:part name="CancelProcessResponse"
			element="type:CancelProcessResponse" />
	</wsdl:message>
	<wsdl:message name="CancelProcess_VentourisWSException">
		<wsdl:part name="CancelProcess_VentourisWSException"
			element="type:VentourisWSException" />
	</wsdl:message>
	<wsdl:portType name="SbynSEI">
		<wsdl:operation name="affiliate">
			<wsdl:input message="tns:AffiliateRequest" />
			<wsdl:output message="tns:AffiliateResponse" />
			<wsdl:fault name="Affiliate_VentourisWSException"
				message="tns:Affiliate_VentourisWSException" />
		</wsdl:operation>
		<wsdl:operation name="setStartProcess">
			<wsdl:input message="tns:SetStartProcessRequest" />
			<wsdl:output message="tns:SetStartProcessResponse" />
			<wsdl:fault name="SetStartProcess_VentourisWSException"
				message="tns:SetStartProcess_VentourisWSException" />
		</wsdl:operation>
		<wsdl:operation name="cancelProcess">
			<wsdl:input message="tns:CancelProcessRequest" />
			<wsdl:output message="tns:CancelProcessResponse" />
			<wsdl:fault name="CancelProcess_VentourisWSException"
				message="tns:CancelProcess_VentourisWSException" />
		</wsdl:operation>
		<wsdl:operation name="setTaakVerwerkt">
			<wsdl:input message="tns:SetTaakVerwerktRequest" />
			<wsdl:output message="tns:SetTaakVerwerktResponse" />
			<wsdl:fault name="SetTaakVerwerkt_VentourisWSException"
				message="tns:SetTaakVerwerkt_VentourisWSException" />
		</wsdl:operation>
		<wsdl:operation name="recover">
            <wsdl:input message="tns:RecoverRequest"/>
            <wsdl:output message="tns:RecoverResponse"/>
            <wsdl:fault name="Recover_VentourisWSException"
                        message="tns:Recover_VentourisWSException"/>
        </wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SbynBinding"
		type="tns:SbynSEI">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="affiliate">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header message="tns:AffiliateRequest" part="header" use="literal"/>
				<soap:body use="literal" parts="AffiliateRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="Affiliate_VentourisWSException">
				<soap:fault name="Affiliate_VentourisWSException"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setStartProcess">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SetStartProcess_VentourisWSException">
				<soap:fault name="SetStartProcess_VentourisWSException"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="cancelProcess">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:header message="tns:CancelProcessRequest" part="header" use="literal"/>
				<soap:body use="literal" parts="CancelProcessRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CancelProcess_VentourisWSException">
				<soap:fault name="CancelProcess_VentourisWSException"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setTaakVerwerkt">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="SetTaakVerwerkt_VentourisWSException">
				<soap:fault name="SetTaakVerwerkt_VentourisWSException"
					use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="recover">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Recover_VentourisWSException">
                <soap:fault name="Recover_VentourisWSException"
                            use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SbynSer">
		<wsdl:port name="SbynPort"
			binding="tns:SbynBinding">
			<soap:address location="http://localhost:${HttpDefaultPort}/SeeBeyondService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
