driver-tests/httpsoapbc/HttpSoapBCTests/HttpSoapBCJbi/src/jbiServiceUnits/HttpSoapBCBpel/multiOpTest.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:y="http://new.webservice.namespace" targetNamespace="http://new.webservice.namespace">
	<types>
		<xs:schema targetNamespace="http://new.webservice.namespace" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:y="http://new.webservice.namespace">
			<xs:element name="Elem1" type="y:CType1">
				<xs:annotation>
					<xs:documentation>Comment describing your root element</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:complexType name="CType1">
				<xs:sequence>
					<xs:element name="Field1_1" type="xs:string"/>
					<xs:element name="Field1_2" type="xs:int"/>
					<xs:element name="Field1_3" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="CType2">
				<xs:sequence>
					<xs:element name="Field2_1" type="xs:boolean"/>
					<xs:element name="Field2_2" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="Elem2" type="y:CType2"/>
		</xs:schema>
	</types>

	<message name="message1">
		<part element="y:Elem1" name="body"/>
	</message>
	<message name="message2">
		<part element="y:Elem2" name="body"/>
	</message>
	<message name="message3">
		<part name="body" type="y:CType2"/>
	</message>
	<message name="message4">
		<part name="body" type="xs:string"/>
	</message>
       
	<message name="message1Result">
		<part element="y:Elem1" name="result"/>
	</message>
	<message name="message2Result">
		<part element="y:Elem2" name="result"/>
	</message>
	<message name="message3Result">
		<part name="result" type="y:CType2"/>
	</message>
	<message name="message4Result">
		<part name="result" type="xs:string"/>
	</message>
        
        
	<portType name="MultiOpIF">
        	<operation name="operation1">
			<input message="y:message1"/>
			<output message="y:message1Result"/>
		</operation>
        	<operation name="operation2">
			<input message="y:message2"/>
			<output message="y:message2Result"/>
		</operation>
	</portType>

        
	<portType name="MultiOpDiffMsgElemElemIF">
        	<operation name="operation1">
			<input message="y:message1"/>
			<output message="y:message1Result"/>
		</operation>
        	<operation name="operation2">
			<input message="y:message2"/>
			<output message="y:message2Result"/>
		</operation>
	</portType>
                
	<portType name="MultiOpDiffMsgElemCTypeIF">
        	<operation name="operation1">
			<input message="y:message1"/>
			<output message="y:message1Result"/>
		</operation>
        	<operation name="operation2">
			<input message="y:message3"/>
			<output message="y:message3Result"/>
		</operation>
	</portType>
                        
        <portType name="MultiOpDiffMsgElemSTypeIF">
        	<operation name="operation1">
			<input message="y:message1"/>
			<output message="y:message1Result"/>
		</operation>
        	<operation name="operation2">
			<input message="y:message4"/>
			<output message="y:message4Result"/>
		</operation>
	</portType>        
         
	<portType name="MultiOpSameMsgElemElemIF">
        	<operation name="operation1">
			<input message="y:message1"/>
			<output message="y:message1Result"/>
		</operation>
        	<operation name="operation2">
			<input message="y:message1"/>
			<output message="y:message1Result"/>
		</operation>
	</portType>
        
                
	<binding name="MultiOpIFBinding" type="y:MultiOpIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="operation1">
			<soap:operation soapAction="http://www.seebeyond.com/com.stc.httpsoapbc#operation1"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
		<operation name="operation2">
			<soap:operation soapAction=""/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
        
                
	<binding name="MultiOpDiffMsgElemElemDiffActIFBinding" type="y:MultiOpDiffMsgElemElemIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="operation1">
			<soap:operation soapAction="http://www.seebeyond.com/com.stc.httpsoapbc#operation1"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
		<operation name="operation2">
			<soap:operation soapAction="http://www.seebeyond.com/com.stc.httpsoapbc#operation2"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
        
         
	<binding name="MultiOpSameMsgElemElemDiffActIFBinding" type="y:MultiOpSameMsgElemElemIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="operation1">
			<soap:operation soapAction="http://www.seebeyond.com/com.stc.httpsoapbc#operation1"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
		<operation name="operation2">
			<soap:operation soapAction="http://www.seebeyond.com/com.stc.httpsoapbc#operation2"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
                
                 
	<binding name="MultiOpSameMsgElemElemSameActIFBinding" type="y:MultiOpSameMsgElemElemIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="operation1">
			<soap:operation soapAction="http://www.seebeyond.com/com.stc.httpsoapbc#sameoperation"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
		<operation name="operation2">
			<soap:operation soapAction="http://www.seebeyond.com/com.stc.httpsoapbc#sameoperation"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
        
                 
	<binding name="MultiOpSameMsgElemElemNoActIFBinding" type="y:MultiOpSameMsgElemElemIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="operation1">
			<soap:operation soapAction=""/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
		<operation name="operation2">
			<soap:operation soapAction=""/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>

         
	<binding name="MultiOpDiffMsgElemElemSameActIFBinding" type="y:MultiOpDiffMsgElemElemIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="operation1">
			<soap:operation soapAction="http://www.seebeyond.com/com.stc.httpsoapbc#sameoperation"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
		<operation name="operation2">
			<soap:operation soapAction="http://www.seebeyond.com/com.stc.httpsoapbc#sameoperation"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
                
        
	<binding name="MultiOpDiffMsgElemCTypeSameActIFBinding" type="y:MultiOpDiffMsgElemCTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="operation1">
			<soap:operation soapAction="http://www.seebeyond.com/com.stc.httpsoapbc#sameoperation"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
		<operation name="operation2">
			<soap:operation soapAction="http://www.seebeyond.com/com.stc.httpsoapbc#sameoperation"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
        
         
	<binding name="MultiOpDiffMsgElemSTypeSameActIFBinding" type="y:MultiOpDiffMsgElemSTypeIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="operation1">
			<soap:operation soapAction="http://www.seebeyond.com/com.stc.httpsoapbc#sameoperation"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
		<operation name="operation2">
			<soap:operation soapAction="http://www.seebeyond.com/com.stc.httpsoapbc#sameoperation"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
        
                                
	<binding name="MultiOpDiffMsgElemElemNoActIFBinding" type="y:MultiOpDiffMsgElemElemIF">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="operation1">
			<soap:operation soapAction=""/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
		<operation name="operation2">
			<soap:operation soapAction=""/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>

                
	<binding name="MultiOpDiffMsgElemElemDiffActRPCIFBinding" type="y:MultiOpDiffMsgElemElemIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="operation1">
			<soap:operation soapAction="http://www.seebeyond.com/com.stc.httpsoapbc#operation1"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
		<operation name="operation2">
			<soap:operation soapAction="http://www.seebeyond.com/com.stc.httpsoapbc#operation2"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
        
         
	<binding name="MultiOpSameMsgElemElemDiffActRPCIFBinding" type="y:MultiOpSameMsgElemElemIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="operation1">
			<soap:operation soapAction="http://www.seebeyond.com/com.stc.httpsoapbc#operation1"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
		<operation name="operation2">
			<soap:operation soapAction="http://www.seebeyond.com/com.stc.httpsoapbc#operation2"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
        
                 
	<binding name="MultiOpSameMsgElemElemSameActRPCIFBinding" type="y:MultiOpSameMsgElemElemIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="operation1">
			<soap:operation soapAction="http://www.seebeyond.com/com.stc.httpsoapbc#sameoperation"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
		<operation name="operation2">
			<soap:operation soapAction="http://www.seebeyond.com/com.stc.httpsoapbc#sameoperation"/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>
        
                 
	<binding name="MultiOpSameMsgElemElemNoActRPCIFBinding" type="y:MultiOpSameMsgElemElemIF">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="operation1">
			<soap:operation soapAction=""/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
		<operation name="operation2">
			<soap:operation soapAction=""/>
			<input>
				<soap:body parts="body" use="literal"/>
			</input>
			<output>
				<soap:body parts="result" use="literal"/>
			</output>
		</operation>
	</binding>


	<service name="MultiOpTestService">
                         
		<port binding="y:MultiOpIFBinding" name="MultiOpIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/MultiOpTest"/>
		</port>
                        
		<port binding="y:MultiOpDiffMsgElemElemDiffActIFBinding" name="MultiOpDiffMsgElemElemDiffActIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/MultiOpDiffMsgElemElemDiffActTest"/>
		</port>
                                 
		<port binding="y:MultiOpSameMsgElemElemDiffActIFBinding" name="MultiOpSameMsgElemElemDiffActIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/MultiOpSameMsgElemElemDiffActTest"/>
		</port>
                         
		<port binding="y:MultiOpSameMsgElemElemSameActIFBinding" name="MultiOpSameMsgElemElemSameActIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/MultiOpSameMsgElemElemSameActTest"/>
		</port>
                                         
                <port binding="y:MultiOpSameMsgElemElemNoActIFBinding" name="MultiOpSameMsgElemElemNoActIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/MultiOpSameMsgElemElemNoActTest"/>
		</port>
                 
                <port binding="y:MultiOpDiffMsgElemElemSameActIFBinding" name="MultiOpDiffMsgElemElemSameActIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/MultiOpDiffMsgElemElemSameActTest"/>
		</port>
                
                <port binding="y:MultiOpDiffMsgElemCTypeSameActIFBinding" name="MultiOpDiffMsgElemCTypeSameActIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/MultiOpDiffMsgElemCTypeSameActTest"/>
		</port>
                 
                <port binding="y:MultiOpDiffMsgElemSTypeSameActIFBinding" name="MultiOpDiffMsgElemSTypeSameActIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/MultiOpDiffMsgElemSTypeSameActTest"/>
		</port>
                                        
                <port binding="y:MultiOpDiffMsgElemElemNoActIFBinding" name="MultiOpDiffMsgElemElemNoActIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/MultiOpDiffMsgElemElemNoActTest"/>
		</port>                        
                                        
                <port binding="y:MultiOpDiffMsgElemElemDiffActRPCIFBinding" name="MultiOpDiffMsgElemElemDiffActRPCIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/MultiOpDiffMsgElemElemDiffActRPCTest"/>
		</port>                        
                 
                <port binding="y:MultiOpSameMsgElemElemDiffActRPCIFBinding" name="MultiOpSameMsgElemElemDiffActRPCIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/MultiOpSameMsgElemElemDiffActRPCTest"/>
		</port>                        
                                         
                <port binding="y:MultiOpSameMsgElemElemSameActRPCIFBinding" name="MultiOpSameMsgElemElemSameActRPCIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/MultiOpSameMsgElemElemSameActRPCTest"/>
		</port>                        
                         
                <port binding="y:MultiOpSameMsgElemElemNoActRPCIFBinding" name="MultiOpSameMsgElemElemNoActRPCIFPort">
			<soap:address location="http://localhost:${HttpDefaultPort}/service/MultiOpSameMsgElemElemNoActRPCTest"/>
		</port>                        
	</service>

  <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="MultiOpIFServiceLink1">
    <plnk:role name="MultiOpIFRole" portType="y:MultiOpIF"/>
  </plnk:partnerLinkType>
              
  <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="MultiOpIFServiceLink2">
    
    <plnk:role name="MultiOpDiffMsgElemElemIFRole" portType="y:MultiOpDiffMsgElemElemIF"/>
  </plnk:partnerLinkType>

  <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="MultiOpIFServiceLink3">
            
    <plnk:role name="MultiOpDiffMsgElemCTypeIFRole" portType="y:MultiOpDiffMsgElemCTypeIF"/>
  </plnk:partnerLinkType>

  <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="MultiOpIFServiceLink4">
                    
    <plnk:role name="MultiOpDiffMsgElemSTypeIFRole" portType="y:MultiOpDiffMsgElemSTypeIF"/>
  </plnk:partnerLinkType>

  <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="MultiOpIFServiceLink5">
     
    <plnk:role name="MultiOpSameMsgElemElemIFRole" portType="y:MultiOpSameMsgElemElemIF"/>
  </plnk:partnerLinkType>
</definitions>
