driver-tests/bpelse/faulthandling/FaultHandlingBpel/src/LocalAccessToCatchVariable1/FS_LocalAccessToCatchVariable1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:FaultService/FS_LocalAccessToCatchVariable1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:FaultService/FS_LocalAccessToCatchVariable1" name="FS_LocalAccessToCatchVariable1">
	<types>
		<xsd:schema xmlns:ns1="urn:FaultService/FS_LocalAccessToCatchVariable1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:FaultService/FS_LocalAccessToCatchVariable1">
       			<xsd:complexType name="FaultType1">
       				<xsd:sequence>
     					<xsd:element minOccurs="1" maxOccurs="1" name="ChildElement1" type="xsd:string" />
      					<xsd:element minOccurs="1" maxOccurs="1" name="ChildElement2" type="xsd:double" />
       				</xsd:sequence>
       			</xsd:complexType>
      			<xsd:element name="FSElement" type="tns:FaultType1"/>       			
      			<xsd:element name="FSInput" type="xsd:string"/>
			<xsd:element name="FSOutput" type="xsd:string"/>
 		</xsd:schema>
	</types>
	<message name="FaultServiceRequest">
		<part name="parameters" element="tns:FSInput"/>
	</message>
	<message name="FaultServiceResponse">
		<part name="result" element="tns:FSOutput"/>
	</message>
	<message name="FaultServiceFaultResponse1">
		<part name="result" element="tns:FSElement"/>
	</message>
	<message name="FaultServiceFaultResponse2">
		<part name="result" type="tns:FaultType1"/>
	</message>	
	<message name="FaultServiceFaultResponse3">
		<part name="result" type="xsd:string"/>
	</message>
</definitions>
