ojc-core/jmsbc/jmsbcimpl/test/test/jbi/jmsbc/integration/testcases/syncreadandjmsreplyto/JMS-sync-read-2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="JMS" targetNamespace="http://j2ee.netbeans.org/wsdl/JMS"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/JMS" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:jms="http://schemas.sun.com/jbi/wsdl-extensions/jms/">
    <types/>
    <message name="JMSOperationOutRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="JMSOperationRequest"/>
    <message name="JMSOperationResponse">
        <part name="part1" type="xsd:string"/>
    </message>
    <portType name="JMSPortType">
        <operation name="JMSOperationOut">
            <input name="input1" message="tns:JMSOperationOutRequest"/>
        </operation>
        <operation name="JMSOperationRead">
            <input name="input2" message="tns:JMSOperationRequest"/>
            <output name="output1" message="tns:JMSOperationResponse"/>
        </operation>
    </portType>
    <binding name="JMSBinding" type="tns:JMSPortType">
        <jms:binding/>
        <operation name="JMSOperationOut">
            <jms:operation destination="ReadQueue" destinationType="Queue"/>
            <input name="input1">
                <jms:message messageType="TextMessage" textPart="part1"/>
            </input>
        </operation>
        <operation name="JMSOperationRead">
            <jms:operation verb="read" destination="ReadQueue" destinationType="Queue"/>
            <input name="input2"/>
            <output name="output1">
                <jms:message messageType="TextMessage" textPart="part1"/>
            </output>
        </operation>
    </binding>
    <service name="JMSService">
        <port name="JMSPort" binding="tns:JMSBinding">
            <jms:address connectionURL="jndi://" username="admin" password="adminadmin">
                <jms:jmsjcaOptions>
                    <![CDATA[
                        java.naming.factory.initial=com.stc.jms.jndispi.InitialContextFactory
                        java.naming.provider.url=stcms://localhost:18007
                        java.naming.security.principal=admin
                        java.naming.security.credentials=adminadmin
                        JMSJCA.TopicCF=connectionfactories/xatopicconnectionfactory
                        JMSJCA.QueueCF=connectionfactories/xaqueueconnectionfactory
                        JMSJCA.UnifiedCF=connectionfactories/xaconnectionfactory
                    ]]>
                </jms:jmsjcaOptions>
            </jms:address>
        </port>
    </service>
    <plnk:partnerLinkType name="JMS">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="JMSPortTypeRole" portType="tns:JMSPortType"/>
    </plnk:partnerLinkType>
</definitions>
