driver-tests/bpelse/assign/TypeHierarchy/src/schema/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 	targetNamespace="http://localhost/person"
                attributeFormDefault="unqualified"
                elementFormDefault="qualified"
	   	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	   	xmlns:tns="http://localhost/person" xmlns:ns0="http://xml.netbeans.org/examples/AddressNS">
    <xs:import schemaLocation="../schema/Address.xsd" namespace="http://xml.netbeans.org/examples/AddressNS"/>
    <xs:element name="person" type="tns:PersonType"/>
    <xs:complexType name="PersonType">
        <xs:sequence>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="address" type="ns0:AddressType"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
