driver-tests/sqlse/db2/SqlSE1111_DB2/InsertRowWithWrongNoValSql/src/InsertRowWithWrongNoValSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="InsertRowWithWrongNoValSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="InsertRowWithWrongNoValRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:string"/><xsd:element name="param2" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="InsertRowWithWrongNoValResponse">
    <part name="InsertRowWithWrongNoValResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="InsertRowWithWrongNoValRequest">
    <part name="InsertRowWithWrongNoValRequestPart" element="tns:InsertRowWithWrongNoValRequest"/>
  </message>
  <portType name="InsertRowWithWrongNoValSql_sqlsePortType">
    <operation name="InsertRowWithWrongNoVal">
      <input name="InsertRowWithWrongNoValRequest" message="tns:InsertRowWithWrongNoValRequest"/>
      <output name="InsertRowWithWrongNoValResponse" message="tns:InsertRowWithWrongNoValResponse"/>
    </operation>
  </portType>
  <binding name="InsertRowWithWrongNoValSqlBinding" type="tns:InsertRowWithWrongNoValSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="InsertRowWithWrongNoVal">
      <soap:operation/>
      <input name="InsertRowWithWrongNoValRequest">
        <soap:body/>
      </input>
      <output name="InsertRowWithWrongNoValResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="InsertRowWithWrongNoValSql_sqlseService">
    <port name="InsertRowWithWrongNoValSql_sqlsePort" binding="tns:InsertRowWithWrongNoValSqlBinding">
      <soap:address location="http://localhost:18181/InsertRowWithWrongNoValSql/InsertRowWithWrongNoValSql/InsertRowWithWrongNoValSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="InsertRowWithWrongNoValSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="InsertRowWithWrongNoValSql_myrole" portType="tns:InsertRowWithWrongNoValSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
