driver-tests/bpelse/eventHandlers/onAlarmJbi/src/jbiServiceUnits/onAlarm/onAlarmRepeatEveryOnly/receiveInOnAlarm/receiveInOnAlarmWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/receiveInOnAlarmWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/receiveInOnAlarmWSDL" name="receiveInOnAlarmWSDL" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types/>
    <message name="receiveInOnAlarmWSDLOperationRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="receiveInOnAlarmWSDLOperationReply">
        <part name="part1" type="xsd:string"/>
    </message>
    <portType name="receiveInOnAlarmWSDLPortType">
        <wsdl:operation name="receiveInOnAlarmWSDLOperation">
            <wsdl:input name="input1" message="tns:receiveInOnAlarmWSDLOperationRequest"/>
            <wsdl:output name="output1" message="tns:receiveInOnAlarmWSDLOperationReply"/>
        </wsdl:operation>
    </portType>
    <portType name="InvokePortType">
        <operation name="InvokeOperation">
            <input name="input1" message="tns:receiveInOnAlarmWSDLOperationRequest"/>
        </operation>
    </portType>
    <binding name="receiveInOnAlarmWSDLBinding" type="tns:receiveInOnAlarmWSDLPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="receiveInOnAlarmWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/receiveInOnAlarmWSDL"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/receiveInOnAlarmWSDL"/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <service name="receiveInOnAlarmWSDLService">
        <wsdl:port name="receiveInOnAlarmWSDLPort" binding="tns:receiveInOnAlarmWSDLBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/receiveInOnAlarmWSDLService/receiveInOnAlarmWSDLPort"/>
        </wsdl:port>
    </service>
    <plnk:partnerLinkType name="receiveInOnAlarmWSDL1">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="receiveInOnAlarmWSDLPortTypeRole" portType="tns:receiveInOnAlarmWSDLPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="InvokePartnerLinkType">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="InvokePortTypeRole" portType="tns:InvokePortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="property" type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:property" messageType="tns:receiveInOnAlarmWSDLOperationRequest" part="part1"/>
</definitions>
