ojc-core/bpelse/system-test/test/com/sun/jbi/engine/bpel/jbiadaptor/test/bpeldebugger/bpdebugger/forEach_seq3/forEachTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://stc.com/forEach_test" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="forEach_test" 
	targetNamespace="http://stc.com/forEach_test">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://stc.com/forEach_test">
            <xsd:element name="item">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="value" type="xsd:decimal"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="count">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="no" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>            
            <xsd:element name="fault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="message" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>            
        </xsd:schema>
    </types>
    <message name="forEach_seq1">
        <part element="tns:item" name="part"/>
    </message>
    <message name="forEach_fault">
        <part element="tns:fault" name="part"/>
    </message>
    <portType name="forEach_seq1">
        <operation name="calculate">
            <input message="tns:forEach_seq1"/>
            <output message="tns:forEach_seq1"/>
        </operation>
    </portType>
    <portType name="forEach_seq2">
        <operation name="calculate2">
            <input message="tns:forEach_seq1"/>
            <output message="tns:forEach_seq1"/>
        </operation>
    </portType>    
    <portType name="forEach_seq3">
        <operation name="calculate3">
            <input message="tns:forEach_seq1"/>
            <output message="tns:forEach_seq1"/>
        </operation>
    </portType>      
    <portType name="forEach_seq4">
        <operation name="calculate4">
            <input message="tns:forEach_seq1"/>
            <output message="tns:forEach_seq1"/>
        </operation>
    </portType> 
    <portType name="forEach_seq5">
        <operation name="calculate5">
            <input message="tns:forEach_seq1"/>
            <output message="tns:forEach_seq1"/>
        </operation>
    </portType>   
    
    <binding name="Binding_seq1" type="tns:forEach_seq1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="calculate">
            <soap:operation soapAction="calculate"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="Binding_seq2" type="tns:forEach_seq2">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="calculate2">
            <soap:operation soapAction="calculate2"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>    
    <binding name="Binding_seq3" type="tns:forEach_seq3">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="calculate3">
            <soap:operation soapAction="calculate3"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="Binding_seq4" type="tns:forEach_seq4">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="calculate4">
            <soap:operation soapAction="calculate4"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>    
    <binding name="Binding_seq5" type="tns:forEach_seq5">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="calculate5">
            <soap:operation soapAction="calculate5"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>     
    <service name="forEachService">
        <port binding="tns:Binding_seq1" name="forEach_seq1port">
            <soap:address location="http://localhost:12010/forEach_seq1"/>
        </port>
        <port binding="tns:Binding_seq2" name="forEach_seq2port">
            <soap:address location="http://localhost:12010/forEach_seq2"/>
        </port>    
        <port binding="tns:Binding_seq3" name="forEach_seq3port">
            <soap:address location="http://localhost:12010/forEach_seq3"/>
        </port> 
        <port binding="tns:Binding_seq4" name="forEach_seq4port">
            <soap:address location="http://localhost:12010/forEach_seq4"/>
        </port> 
        <port binding="tns:Binding_seq5" name="forEach_seq5port">
            <soap:address location="http://localhost:12010/forEach_seq5"/>
        </port>         
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="forEachLT_seq1">
        <plnk:role name="server" portType="tns:forEach_seq1"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="forEachLT_seq2">
        <plnk:role name="server" portType="tns:forEach_seq2"/>
    </plnk:partnerLinkType>  
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="forEachLT_seq3">
        <plnk:role name="server" portType="tns:forEach_seq3"/>
    </plnk:partnerLinkType>    
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="forEachLT_seq4">
        <plnk:role name="server" portType="tns:forEach_seq4"/>
    </plnk:partnerLinkType>   
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="forEachLT_seq5">
        <plnk:role name="server" portType="tns:forEach_seq5"/>
    </plnk:partnerLinkType>    
</definitions>
