driver-tests/jmsbc/JMSBCTests/JMSBCBpel/src/JMSInTest/JMSInTestReceive.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="JMSInTestReceive" targetNamespace="http://localhost/JMS/JMSInTestReceive"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://localhost/JMS/JMSInTestReceive"
    xmlns:jms="http://schemas.sun.com/jbi/wsdl-extensions/jms/"
    xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <types>
        <xsd:schema targetNamespace="http://localhost/JMS/JMSInTestReceive"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:tns="http://localhost/JMS/JMSInTestReceive">
            <xsd:element name="helloObj" type="tns:helloObjType"/>
            <xsd:complexType name="helloObjType">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                    <xsd:element name="nonNegativeInteger" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="byte" type="xsd:byte"/>
                    <xsd:element name="short" type="xsd:short"/>
                    <xsd:element name="int" type="xsd:int"/>
                    <xsd:element name="long" type="xsd:long"/>
                    <xsd:element name="negativeInteger" type="xsd:negativeInteger"/>
                    <xsd:element name="dateTime" type="xsd:dateTime"/>
                    <xsd:element name="nonPositiveInteger" type="xsd:nonPositiveInteger"/>
                    <xsd:element name="duration" type="xsd:duration"/>
                    <xsd:element name="ENTITIES" type="xsd:ENTITIES"/>
                    <xsd:element name="double" type="xsd:double"/>
                    <xsd:element name="ENTITY" type="xsd:ENTITY"/>
                    <xsd:element name="float" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
 
    <message name="messageJMS">
        <part element="tns:helloObj" name="partJMS"/>
    </message>
    <portType name="portTypeJMSIn">
        <operation name="operationJMSIn">
            <input message="tns:messageJMS" name="input"/>
        </operation>
    </portType>
    <binding name="bindingJMSIn" type="tns:portTypeJMSIn">
        <jms:binding/>
        <operation name="operationJMSIn">
            <jms:operation destination="InTestDestination" destinationType="Topic" transaction="NoTransaction" subscriptionDurability="NonDurable" />
            <input name="input">
                <jms:message messageType="TextMessage" textPart="partJMS">
                </jms:message>
            </input>
        </operation>
    </binding>
    <service name="serviceJMSIn">
        <port binding="tns:bindingJMSIn" name="portJMSIn">
            <jms:address connectionURL="mq://localhost:7676" username="admin" password="admin"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="JMSInSvcLinkType">
        <plnk:role name="JMSInServer" portType="tns:portTypeJMSIn"/>
    </plnk:partnerLinkType>

</definitions>
