driver-tests/iepse/IEPTimeBasedWindow/TimeBasedWindowApp/src/jbiasa/TimeBasedWindowApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="TimeBasedWindowApp"
             xmlns:tns="TimeBasedWindowApp" xmlns:ns="ContiguousOrderInput.ContiguousOrderInput_iep" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/" xmlns:ns1="NotificationStreamInput.NotificationStreamInput_iep" xmlns:ns2="TupleSerialCorrelationInput.TupleSerialCorrelationInput_iep" xmlns:ns3="DeleteStreamInput.DeleteStreamInput_iep" xmlns:ns4="TupleBasedAggregatorInput.TupleBasedAggregatorInput_iep" xmlns:ns5="StreamInputInput.StreamInputInput_iep" xmlns:ns6="StreamProjectionAndFilterInput.StreamProjectionAndFilterInput_iep" xmlns:ns7="TimeBasedAggregatorInput.TimeBasedAggregatorInput_iep" xmlns:ns8="RelationStreamInput.RelationStreamInput_iep" xmlns:ns9="InsertStreamInput.InsertStreamInput_iep">
    <import namespace="ContiguousOrderInput.ContiguousOrderInput_iep" location="../jbiServiceUnits/TimeBasedWindowIep/ContiguousOrderInput/ContiguousOrderInput.wsdl"/>
    <import namespace="NotificationStreamInput.NotificationStreamInput_iep" location="../jbiServiceUnits/TimeBasedWindowIep/NotificationStreamInput/NotificationStreamInput.wsdl"/>
    <import namespace="TupleSerialCorrelationInput.TupleSerialCorrelationInput_iep" location="../jbiServiceUnits/TimeBasedWindowIep/TupleSerialCorrelationInput/TupleSerialCorrelationInput.wsdl"/>
    <import namespace="DeleteStreamInput.DeleteStreamInput_iep" location="../jbiServiceUnits/TimeBasedWindowIep/DeleteStreamInput/DeleteStreamInput.wsdl"/>
    <import namespace="TupleBasedAggregatorInput.TupleBasedAggregatorInput_iep" location="../jbiServiceUnits/TimeBasedWindowIep/TupleBasedAggregatorInput/TupleBasedAggregatorInput.wsdl"/>
    <import namespace="StreamInputInput.StreamInputInput_iep" location="../jbiServiceUnits/TimeBasedWindowIep/StreamInputInput/StreamInputInput.wsdl"/>
    <import namespace="StreamProjectionAndFilterInput.StreamProjectionAndFilterInput_iep" location="../jbiServiceUnits/TimeBasedWindowIep/StreamProjectionAndFilterInput/StreamProjectionAndFilterInput.wsdl"/>
    <import namespace="TimeBasedAggregatorInput.TimeBasedAggregatorInput_iep" location="../jbiServiceUnits/TimeBasedWindowIep/TimeBasedAggregatorInput/TimeBasedAggregatorInput.wsdl"/>
    <import namespace="RelationStreamInput.RelationStreamInput_iep" location="../jbiServiceUnits/TimeBasedWindowIep/RelationStreamInput/RelationStreamInput.wsdl"/>
    <import namespace="InsertStreamInput.InsertStreamInput_iep" location="../jbiServiceUnits/TimeBasedWindowIep/InsertStreamInput/InsertStreamInput.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns:OutputPt_PassThroughOutput">
        <file:binding/>
        <operation name="PassThroughOutput">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="actual.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding3" type="ns1:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding4" type="ns1:OutputPt_StreamOutput0">
        <file:binding/>
        <operation name="StreamOutput0">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="actual.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding5" type="ns2:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding6" type="ns2:OutputPt_StreamOutput0">
        <file:binding/>
        <operation name="StreamOutput0">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="actual.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding7" type="ns3:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding8" type="ns3:OutputPt_StreamOutputEverySecond">
        <file:binding/>
        <operation name="StreamOutputEverySecond">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="OutputEverySecond.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding9" type="ns3:OutputPt_StreamOutput5Seconds">
        <file:binding/>
        <operation name="StreamOutput5Seconds">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="Output5Seconds.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding10" type="ns3:OutputPt_StreamOutputOneMinute">
        <file:binding/>
        <operation name="StreamOutputOneMinute">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="OutputOneMinute.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding11" type="ns4:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding13" type="ns5:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding12" type="ns4:OutputPt_StreamOutput0">
        <file:binding/>
        <operation name="StreamOutput0">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="actual.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding14" type="ns5:OutputPt_StreamOutput0">
        <file:binding/>
        <operation name="StreamOutput0">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="actual.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding15" type="ns6:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding16" type="ns6:OutputPt_StreamOutput0">
        <file:binding/>
        <operation name="StreamOutput0">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="actual.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding17" type="ns7:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding18" type="ns7:OutputPt_StreamOutput0">
        <file:binding/>
        <operation name="StreamOutput0">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="actual.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding19" type="ns8:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding20" type="ns8:OutputPt_StreamOutput0">
        <file:binding/>
        <operation name="StreamOutput0">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="actual.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding21" type="ns9:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding22" type="ns9:OutputPt_StreamOutput0">
        <file:binding/>
        <operation name="StreamOutput0">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="actual.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <service name="casaService1">
        <port name="contiguousOrderInput" binding="tns:casaBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/ContiguousOrderInput.ContiguousOrderInput_iep"/>
        </port>
    </service>
    <service name="casaService2">
        <port name="contiguousOrderOutput" binding="tns:casaBinding2">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTimeBasedWindow/TimeBasedWindowApp/test/ContiguousOrderInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService3">
        <port name="notificationStrInput" binding="tns:casaBinding3">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/NotificationStreamInput.NotificationStreamInput_iep"/>
        </port>
    </service>
    <service name="casaService4">
        <port name="notificationStrOutput" binding="tns:casaBinding4">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTimeBasedWindow/TimeBasedWindowApp/test/NotificationStreamInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService5">
        <port name="tupleSerialCorrInput" binding="tns:casaBinding5">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/TupleSerialCorrelationInput.TupleSerialCorrelationInput_iep"/>
        </port>
    </service>
    <service name="casaService6">
        <port name="tupleSerialCorrOutput" binding="tns:casaBinding6">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTimeBasedWindow/TimeBasedWindowApp/test/TupleSerialCorrelationInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService7">
        <port name="deleteStrInput" binding="tns:casaBinding7">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/DeleteStreamInput.DeleteStreamInput_iep"/>
        </port>
    </service>
    <service name="casaService8">
        <port name="deleteStrOutputEverySecond" binding="tns:casaBinding8">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTimeBasedWindow/TimeBasedWindowApp/test/DeleteStreamInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService9">
        <port name="deleteStrOutput5Seconds" binding="tns:casaBinding9">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTimeBasedWindow/TimeBasedWindowApp/test/DeleteStreamInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService10">
        <port name="deleteStrOutputOneMinute" binding="tns:casaBinding10">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTimeBasedWindow/TimeBasedWindowApp/test/DeleteStreamInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService11">
        <port name="tupleBasedAggInput" binding="tns:casaBinding11">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/TupleBasedAggregatorInput.TupleBasedAggregatorInput_iep"/>
        </port>
    </service>
    <service name="casaService12">
        <port name="tupleBasedAggOutput" binding="tns:casaBinding12">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTimeBasedWindow/TimeBasedWindowApp/test/TupleBasedAggregatorInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService13">
        <port name="streamInputInput" binding="tns:casaBinding13">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/StreamInputInput.StreamInputInput_iep"/>
        </port>
    </service>
    <service name="casaService14">
        <port name="streamInputInput" binding="tns:casaBinding14">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTimeBasedWindow/TimeBasedWindowApp/test/StreamInputInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService15">
        <port name="streamProjAndFilterInput" binding="tns:casaBinding15">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/StreamProjectionAndFilterInput.StreamProjectionAndFilterInput_iep"/>
        </port>
    </service>
    <service name="casaService16">
        <port name="streamProjAndFilterOutput" binding="tns:casaBinding16">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTimeBasedWindow/TimeBasedWindowApp/test/StreamProjectionAndFilterInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService17">
        <port name="timeBasedAggInput" binding="tns:casaBinding17">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/TimeBasedAggregatorInput.TimeBasedAggregatorInput_iep"/>
        </port>
    </service>
    <service name="casaService18">
        <port name="timeBasedAggOutput" binding="tns:casaBinding18">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTimeBasedWindow/TimeBasedWindowApp/test/TimeBasedAggregatorInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService19">
        <port name="relationStrInput" binding="tns:casaBinding19">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/RelationStreamInput.RelationStreamInput_iep"/>
        </port>
    </service>
    <service name="casaService20">
        <port name="relationStrOutput" binding="tns:casaBinding20">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTimeBasedWindow/TimeBasedWindowApp/test/RelationStreamInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService21">
        <port name="insertStrInput" binding="tns:casaBinding21">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/InsertStreamInput.InsertStreamInput_iep"/>
        </port>
    </service>
    <service name="casaService22">
        <port name="insertStrOutput" binding="tns:casaBinding22">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTimeBasedWindow/TimeBasedWindowApp/test/InsertStreamInput" lockName="filebc.lck" workArea="filebc-in-processing" seqName="filebc.seq"/>
        </port>
    </service>
</definitions>
