driver-tests/bpelse/repeatuntil/RepeatUntilBpel/src/RepeatUntilPerf10/RepeatUntilPerf10.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="test" targetNamespace="http://j2ee.netbeans.org/wsdl/test"
    xmlns:tns="http://j2ee.netbeans.org/wsdl/test"
    xmlns:ns1="http://j2ee.netbeans.org/wsdl/test/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/test/types">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="testRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="testResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="testError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="testPortType">
    <operation name="testOperation">
      <input message="tns:testRequest"/>
      <output message="tns:testResponse"/>
      <fault message="tns:testError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="testBinding" type="tns:testPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="testOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="testService">
    <port name="testPort" binding="tns:testBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <message name="message1">
        <part name="part1" type="xsd:int"/>
        <part name="repeat1" type="xsd:int"/>
        <part name="repeat2" type="xsd:int"/>
        <part name="repeat3" type="xsd:int"/>
        <part name="repeat4" type="xsd:int"/>
        <part name="repeat5" type="xsd:int"/>
        <part name="repeat6" type="xsd:int"/>
        <part name="repeat7" type="xsd:int"/>
        <part name="repeat8" type="xsd:int"/>
        <part name="repeat9" type="xsd:int"/>
        <part name="repeat10" type="xsd:int"/>
    </message>
    <portType name="portType12">
        <operation name="operation12">
            <input name="input1" message="tns:message1"/>
            <output name="output1" message="tns:message1"/>
        </operation>
    </portType>
    <binding name="binding12" type="tns:portType12">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="operation12">
            <input name="input1">
                <soap:body/>
            </input>
            <output name="output1">
                <soap:body/>
            </output>
        </operation>
    </binding>
    <service name="service12">
        <port name="port12" binding="tns:binding12">
            <soap:address location="http://localhost:${HttpDefaultPort}/RepeatUntilPerf10/service1"/>
        </port>
    </service>
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="partnerlinktyperole1" portType="tns:portType12"/>
    </plink:partnerLinkType>
</definitions>
