driver-tests/httpsoapbc/JavaEE_vs_BC/SoapOneWayOut_EJB/src/conf/xml-resources/web-services/EE_SoapTrigger4SoapOneWayOut/wsdl/SoapTrigger4SoapOneWayOut.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/SoapTrigger4SoapOneWayOut"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/SoapTrigger4SoapOneWayOut" name="SoapTrigger4SoapOneWayOut" xmlns:ns="http://xml.netbeans.org/schema/TypeSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/SoapTrigger4SoapOneWayOut">
            <xsd:import namespace="http://xml.netbeans.org/schema/TypeSchema" schemaLocation="TypeSchema.xsd"/>
        </xsd:schema>
    </types>
    <message name="SoapTrigger4SoapOneWayOutOperationRequest">
        <part name="part1" type="ns:requestType"/>
    </message>
    <message name="SoapTrigger4SoapOneWayOutOperationReply">
        <part name="part1" type="ns:responseType"/>
    </message>
    <portType name="SoapTrigger4SoapOneWayOutPortType">
        <wsdl:operation name="SoapTrigger4SoapOneWayOutOperation_Doc">
            <wsdl:input name="input1" message="tns:SoapTrigger4SoapOneWayOutOperationRequest"/>
            <wsdl:output name="output1" message="tns:SoapTrigger4SoapOneWayOutOperationReply"/>
        </wsdl:operation>
        <operation name="SoapTrigger4SoapOneWayOutOperation_RPC">
            <input name="input2" message="tns:SoapTrigger4SoapOneWayOutOperationRequest"/>
            <output name="output2" message="tns:SoapTrigger4SoapOneWayOutOperationReply"/>
        </operation>
        <operation name="SoapTrigger4SoapOneWayOutOperation_Encoded">
            <input name="input3" message="tns:SoapTrigger4SoapOneWayOutOperationRequest"/>
            <output name="output3" message="tns:SoapTrigger4SoapOneWayOutOperationReply"/>
        </operation>
    </portType>
    <binding name="SoapTrigger4SoapOneWayOutBinding" type="tns:SoapTrigger4SoapOneWayOutPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SoapTrigger4SoapOneWayOutOperation_Doc">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/SoapTrigger4SoapOneWayOut"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/SoapTrigger4SoapOneWayOut"/>
            </wsdl:output>
        </wsdl:operation>
        <operation name="SoapTrigger4SoapOneWayOutOperation_RPC">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/SoapTrigger4SoapOneWayOut"/>
            </input>
            <output name="output2">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/SoapTrigger4SoapOneWayOut"/>
            </output>
        </operation>
        <operation name="SoapTrigger4SoapOneWayOutOperation_Encoded">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/SoapTrigger4SoapOneWayOut"/>
            </input>
            <output name="output3">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/SoapTrigger4SoapOneWayOut"/>
            </output>
        </operation>
    </binding>
    <service name="SoapTrigger4SoapOneWayOutService">
        <wsdl:port name="SoapTrigger4SoapOneWayOutPort" binding="tns:SoapTrigger4SoapOneWayOutBinding">
            <soap:address location="http://localhost:18181/SoapTrigger4SoapOneWayOutService/SoapTrigger4SoapOneWayOutPort"/>
        </wsdl:port>
    </service>
    <plnk:partnerLinkType name="SoapTrigger4SoapOneWayOutPartner">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="SoapTrigger4SoapOneWayOutPortTypeRole" portType="tns:SoapTrigger4SoapOneWayOutPortType"/>
    </plnk:partnerLinkType>
</definitions>
