driver-tests/httpsoapbc/HttpBCTests/HttpBCBpel/src/InboundGetRequestReply/HttpGetUrlInOut.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/HttpGetUrlInOut"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/HttpGetUrlInOut" name="HttpGetUrlInOut" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">
    <types/>
    <message name="HttpGetUrlEncodedInOutOperationRequest">
        <part name="param1" type="xsd:string"/>
        <part name="param2" type="xsd:string"/>
        <part name="param3" type="xsd:string"/>
    </message>
    <message name="HttpGetUrlEncodedInOutOperationReply">
        <part name="result" type="xsd:string"/>
    </message>
    <message name="HttpGetUrlReplacementInOutOperationRequest">
        <part name="param1" type="xsd:string"/>
        <part name="param2" type="xsd:string"/>
        <part name="param3" type="xsd:string"/>
    </message>
    <message name="HttpGetUrlReplacementInOutOperationReply">
        <part name="result" type="xsd:string"/>
    </message>
    <portType name="HttpGetUrlInOutPortType">
        <wsdl:operation name="HttpGetUrlEncodedInOutOperation">
            <wsdl:input name="input1" message="tns:HttpGetUrlEncodedInOutOperationRequest"/>
            <wsdl:output name="output1" message="tns:HttpGetUrlEncodedInOutOperationReply"/>
        </wsdl:operation>
        <wsdl:operation name="HttpGetUrlReplacementInOutOperation">
            <wsdl:input name="input2" message="tns:HttpGetUrlReplacementInOutOperationRequest"/>
            <wsdl:output name="output2" message="tns:HttpGetUrlReplacementInOutOperationReply"/>
        </wsdl:operation>
    </portType>
    <binding name="HttpGetUrlInOutBinding" type="tns:HttpGetUrlInOutPortType">
        <http:binding verb="GET"/>
        <wsdl:operation name="HttpGetUrlEncodedInOutOperation">
            <http:operation location="inoutget"/>
            <wsdl:input name="input1">
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output name="output1"/>
        </wsdl:operation>
        <wsdl:operation name="HttpGetUrlReplacementInOutOperation">
            <http:operation location="inoutget/Foo=(param1)Bar(param2)Bar=(param3)"/>
            <wsdl:input name="input2">
                <http:urlReplacement/>
            </wsdl:input>
            <wsdl:output name="output2"/>
        </wsdl:operation>
    </binding>
    <service name="HttpGetUrlInOutService">
        <wsdl:port name="HttpGetUrlInOutPort" binding="tns:HttpGetUrlInOutBinding">
            <http:address location="http://localhost:${HttpDefaultPort}/HttpGetUrlInOutService/HttpGetUrlInOutPort"/>
        </wsdl:port>
    </service>
    <plnk:partnerLinkType name="HttpGetUrlEncodedInOut1">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="HttpGetUrlInOutPortTypeRole" portType="tns:HttpGetUrlInOutPortType"/>
    </plnk:partnerLinkType>
</definitions>
