contrib-imola/corba-bc/integration-test/test-consumer-primitives/consumer-primitives-jbi4corba-consumer/src/main/resources/EchoPrimitives.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:soap12="http://www.w3.org/2003/05/soap-envelope"
                  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
                  xmlns:tns="urn:jbi4corba/test-consumer-primitives"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:jbi4corba/test-consumer-primitives"
                  xmlns:imolacorba="uri://schemas.imola.it/jbi/wsdl-extensions/corba/" >

  <!--
  Types  
  -->
  
  <wsdl:types>
    <xsd:schema targetNamespace="urn:jbi4corba/test-consumer-primitives"
                elementFormDefault="qualified"
                attributeFormDefault="qualified">

    </xsd:schema>
  </wsdl:types>

  <!--
  Message - anySimpleType
  -->
  <!--wsdl:message name="echoAnySimpleTypeRequest">
    <wsdl:part name="echoAnySimpleTypeRequest" type="xsd:anySimpleType"/>
  </wsdl:message>
  <wsdl:message name="echoAnySimpleTypeResponse">
    <wsdl:part name="echoAnySimpleTypeResponse" type="xsd:anySimpleType"/>
  </wsdl:message-->

  <!--
  Message - integer
  
  <wsdl:message name="echoIntegerRequest">
    <wsdl:part name="echoIntegerRequest" type="xsd:integer"/>
  </wsdl:message>

  <wsdl:message name="echoIntegerResponse">
    <wsdl:part name="echoIntegerResponse" type="xsd:integer"/>
  </wsdl:message-->
  
  <!--
  Message - decimal
  
  <wsdl:message name="echoDecimalRequest">
    <wsdl:part name="echoDecimalRequest" type="xsd:decimal"/>
  </wsdl:message>

  <wsdl:message name="echoDecimalResponse">
    <wsdl:part name="echoDecimalResponse" type="xsd:decimal"/>
  </wsdl:message-->
  
  <!--
  Message - short
  -->
  <wsdl:message name="echoShortRequest">
    <wsdl:part name="echoShortRequest" type="xsd:short"/>
  </wsdl:message>

  <wsdl:message name="echoShortResponse">
    <wsdl:part name="echoShortResponse" type="xsd:short"/>
  </wsdl:message>
  
  <!--
  Message - byte
  -->
  <wsdl:message name="echoByteRequest">
    <wsdl:part name="echoByteRequest" type="xsd:byte"/>
  </wsdl:message>

  <wsdl:message name="echoByteResponse">
    <wsdl:part name="echoByteResponse" type="xsd:byte"/>
  </wsdl:message>
  
  <!--
  Message - long
  -->
  <wsdl:message name="echoLongRequest">
    <wsdl:part name="echoLongRequest" type="xsd:long"/>
  </wsdl:message>

  <wsdl:message name="echoLongResponse">
    <wsdl:part name="echoLongResponse" type="xsd:long"/>
  </wsdl:message>

  <!--
  Message - unsignedInt
  -->
  <wsdl:message name="echoUnsignedIntRequest">
    <wsdl:part name="echoUnsignedIntRequest" type="xsd:unsignedInt"/>
  </wsdl:message>

  <wsdl:message name="echoUnsignedIntResponse">
    <wsdl:part name="echoUnsignedIntResponse" type="xsd:unsignedInt"/>
  </wsdl:message>

  <!--
  Message - unsignedShort
  -->
  <wsdl:message name="echoUnsignedShortRequest">
    <wsdl:part name="echoUnsignedShortRequest" type="xsd:unsignedShort"/>
  </wsdl:message>

  <wsdl:message name="echoUnsignedShortResponse">
    <wsdl:part name="echoUnsignedShortResponse" type="xsd:unsignedShort"/>
  </wsdl:message>

  <!--
  Message - unsignedByte
  -->
  <wsdl:message name="echoUnsignedByteRequest">
    <wsdl:part name="echoUnsignedByteRequest" type="xsd:unsignedByte"/>
  </wsdl:message>

  <wsdl:message name="echoUnsignedByteResponse">
    <wsdl:part name="echoUnsignedByteResponse" type="xsd:unsignedByte"/>
  </wsdl:message>

  <!--
  Message - int
  -->
  <wsdl:message name="echoIntRequest">
    <wsdl:part name="echoIntRequest" type="xsd:int" />
  </wsdl:message>

  <wsdl:message name="echoIntResponse">
    <wsdl:part name="echoIntResponse" type="xsd:int"/>
  </wsdl:message>

  <!--
  Message - String
  -->
  <wsdl:message name="echoStringRequest">
    <wsdl:part name="echoStringRequest"  type="xsd:string" />
  </wsdl:message>

  <wsdl:message name="echoStringResponse">
    <wsdl:part name="echoStringResponse"  type="xsd:string" />
  </wsdl:message>

  <!--
  Message - normalizedString
  -->
  <wsdl:message name="echoNormalizedStringRequest">
    <wsdl:part name="echoNormalizedStringRequest" type="xsd:normalizedString" />
  </wsdl:message>

  <wsdl:message name="echoNormalizedStringResponse">
    <wsdl:part name="echoNormalizedStringResponse"  type="xsd:normalizedString" />
  </wsdl:message>

  <!--
  Message - token
  -->
  <wsdl:message name="echoTokenRequest">
    <wsdl:part type="xsd:token" name="echoTokenRequest" />
  </wsdl:message>

  <wsdl:message name="echoTokenResponse">
    <wsdl:part type="xsd:token" name="echoTokenResponse" />
  </wsdl:message>

  <!--
  Message - language
  -->
  <wsdl:message name="echoLanguageRequest">
    <wsdl:part type="xsd:language" name="echoLanguageRequest" />
  </wsdl:message>

  <wsdl:message name="echoLanguageResponse">
    <wsdl:part type="xsd:language" name="echoLanguageResponse" />
  </wsdl:message>

  <!--
  Message - Name
  -->
  <wsdl:message name="echoNameRequest">
    <wsdl:part type="xsd:Name" name="echoNameRequest" />
  </wsdl:message>

  <wsdl:message name="echoNameResponse">
    <wsdl:part type="xsd:Name" name="echoNameResponse" />
  </wsdl:message>

  <!--
  Message - NMTOKEN
  -->
  <wsdl:message name="echoNMTOKENRequest">
    <wsdl:part type="xsd:NMTOKEN" name="echoNMTOKENRequest" />
  </wsdl:message>

  <wsdl:message name="echoNMTOKENResponse">
    <wsdl:part type="xsd:NMTOKEN" name="echoNMTOKENResponse" />
  </wsdl:message>

  <!--
  Message - NCName
  -->
  <wsdl:message name="echoNCNameRequest">
    <wsdl:part type="xsd:NCName" name="echoNCNameRequest" />
  </wsdl:message>

  <wsdl:message name="echoNCNameResponse">
    <wsdl:part type="xsd:NCName" name="echoNCNameResponse" />
  </wsdl:message>

  <!--
  Message - ID
  -->
  <wsdl:message name="echoIDRequest">
    <wsdl:part type="xsd:ID" name="echoIDRequest" />
  </wsdl:message>

  <wsdl:message name="echoIDResponse">
    <wsdl:part type="xsd:ID" name="echoIDResponse" />
  </wsdl:message>

  <!--
  Message - ENTITY
  -->
  <wsdl:message name="echoENTITYRequest">
    <wsdl:part type="xsd:ENTITY" name="echoENTITYRequest" />
  </wsdl:message>

  <wsdl:message name="echoENTITYResponse">
    <wsdl:part type="xsd:ENTITY" name="echoENTITYResponse" />
  </wsdl:message>

  <!--
  Message - boolean
  -->
  <wsdl:message name="echoBooleanRequest">
    <wsdl:part type="xsd:boolean" name="echoBooleanRequest" />
  </wsdl:message>

  <wsdl:message name="echoBooleanResponse">
    <wsdl:part type="xsd:boolean" name="echoBooleanResponse" />
  </wsdl:message>

  <!--
  Message - float
  -->
  <wsdl:message name="echoFloatRequest">
    <wsdl:part type="xsd:float" name="echoFloatRequest" />
  </wsdl:message>

  <wsdl:message name="echoFloatResponse">
    <wsdl:part type="xsd:float" name="echoFloatResponse" />
  </wsdl:message>

  <!--
  Message - double
  -->
  <wsdl:message name="echoDoubleRequest">
    <wsdl:part type="xsd:double" name="echoDoubleRequest" />
  </wsdl:message>

  <wsdl:message name="echoDoubleResponse">
    <wsdl:part type="xsd:double" name="echoDoubleResponse" />
  </wsdl:message>

  <!--
  Message - anyURI
  -->
  <wsdl:message name="echoAnyURIRequest">
    <wsdl:part type="xsd:anyURI" name="echoAnyURIRequest" />
  </wsdl:message>

  <wsdl:message name="echoAnyURIResponse">
    <wsdl:part type="xsd:anyURI" name="echoAnyURIResponse" />
  </wsdl:message>


  <!--
  PortType
  -->
  <wsdl:portType name="EchoPrimitivesPortType">

    <!--
    PortType - anyType
    -->
    <!--wsdl:operation name="echoAnySimpleType">
      <wsdl:input  message="tns:echoAnySimpleTypeRequest"  name="echoAnySimpleTypeRequest" />
      <wsdl:output message="tns:echoAnySimpleTypeResponse" name="echoAnySimpleTypeResponse" />
    </wsdl:operation-->

    
    <!--
    PortType - integer
    
    <wsdl:operation name="echoInteger">
      <wsdl:input  message="tns:echoIntegerRequest"  name="echoIntegerRequest" />
      <wsdl:output message="tns:echoIntegerResponse" name="echoIntegerResponse" />
    </wsdl:operation-->
    
    <!--
    PortType - decimal
    
    <wsdl:operation name="echoDecimal">
      <wsdl:input  message="tns:echoDecimalRequest"  name="echoDecimalRequest" />
      <wsdl:output message="tns:echoDecimalResponse" name="echoDecimalResponse" />
    </wsdl:operation-->
    
    <!--
    PortType - short
    -->
    <wsdl:operation name="echoShort">
      <wsdl:input  message="tns:echoShortRequest"  name="echoShortRequest" />
      <wsdl:output message="tns:echoShortResponse" name="echoShortResponse" />
    </wsdl:operation>
    
    <!--
    PortType - byte
    -->
    <wsdl:operation name="echoByte">
      <wsdl:input  message="tns:echoByteRequest"  name="echoByteRequest" />
      <wsdl:output message="tns:echoByteResponse" name="echoByteResponse" />
    </wsdl:operation>
    
    <!--
    PortType - long
    -->
    <wsdl:operation name="echoLong">
      <wsdl:input  message="tns:echoLongRequest"  name="echoLongRequest" />
      <wsdl:output message="tns:echoLongResponse" name="echoLongResponse" />
    </wsdl:operation>

    <!--
    PortType - unsignedLong

    <wsdl:operation name="echoUnsignedLong">
      <wsdl:input  message="tns:echoUnsignedLongRequest"  name="echoUnsignedLongRequest" />
      <wsdl:output message="tns:echoUnsignedLongResponse" name="echoUnsignedLongResponse" />
    </wsdl:operation>
    -->

    <!--
    PortType - unsignedInt
	-->
    <wsdl:operation name="echoUnsignedInt">
      <wsdl:input  message="tns:echoUnsignedIntRequest"  name="echoUnsignedIntRequest" />
      <wsdl:output message="tns:echoUnsignedIntResponse" name="echoUnsignedIntResponse" />
    </wsdl:operation>

    <!--
    PortType - unsignedShort
	-->
    <wsdl:operation name="echoUnsignedShort">
      <wsdl:input  message="tns:echoUnsignedShortRequest"  name="echoUnsignedShortRequest" />
      <wsdl:output message="tns:echoUnsignedShortResponse" name="echoUnsignedShortResponse" />
    </wsdl:operation>

    <!--
    PortType - unsignedByte
	-->
    <wsdl:operation name="echoUnsignedByte">
      <wsdl:input  message="tns:echoUnsignedByteRequest"  name="echoUnsignedByteRequest" />
      <wsdl:output message="tns:echoUnsignedByteResponse" name="echoUnsignedByteResponse" />
    </wsdl:operation>

    <!--
    PortType - NonPositiveInteger

    <wsdl:operation name="echoNonPositiveInteger">
      <wsdl:input  message="tns:echoNonPositiveIntegerRequest"  name="echoNonPositiveIntegerRequest" />
      <wsdl:output message="tns:echoNonPositiveIntegerResponse" name="echoNonPositiveIntegerResponse" />
    </wsdl:operation>
	-->

    <!--
    PortType - positiveInteger

    <wsdl:operation name="echoPositiveInteger">
      <wsdl:input  message="tns:echoPositiveIntegerRequest"  name="echoPositiveIntegerRequest" />
      <wsdl:output message="tns:echoPositiveIntegerResponse" name="echoPositiveIntegerResponse" />
    </wsdl:operation>
    -->

    <!--
    PortType - NonNegativeInteger

    <wsdl:operation name="echoNonNegativeInteger">
      <wsdl:input  message="tns:echoNonNegativeIntegerRequest"  name="echoNonNegativeIntegerRequest" />
      <wsdl:output message="tns:echoNonNegativeIntegerResponse" name="echoNonNegativeIntegerResponse" />
    </wsdl:operation>
	-->

    <!--
    PortType - negativeInteger

    <wsdl:operation name="echoNegativeInteger">
      <wsdl:input  message="tns:echoNegativeIntegerRequest"  name="echoNegativeIntegerRequest" />
      <wsdl:output message="tns:echoNegativeIntegerResponse" name="echoNegativeIntegerResponse" />
    </wsdl:operation>
	-->

    <!--
    PortType - int
    -->
    <wsdl:operation name="echoInt">
      <wsdl:input  message="tns:echoIntRequest"  name="echoIntRequest" />
      <wsdl:output message="tns:echoIntResponse" name="echoIntResponse" />
    </wsdl:operation>

    <!--
    PortType - string
    -->
    <wsdl:operation name="echoString">
      <wsdl:input  message="tns:echoStringRequest"  name="echoStringRequest" />
      <wsdl:output message="tns:echoStringResponse" name="echoStringResponse" />
    </wsdl:operation>

    <!--
    PortType - NormalizedString
    -->
    <wsdl:operation name="echoNormalizedString">
      <wsdl:input  message="tns:echoNormalizedStringRequest"  name="echoNormalizedStringRequest" />
      <wsdl:output message="tns:echoNormalizedStringResponse" name="echoNormalizedStringResponse" />
    </wsdl:operation>

    <!--
    PortType - token
    -->
    <wsdl:operation name="echoToken">
      <wsdl:input  message="tns:echoTokenRequest"  name="echoTokenRequest" />
      <wsdl:output message="tns:echoTokenResponse" name="echoTokenResponse" />
    </wsdl:operation>

    <!--
    PortType - language
    -->
    <wsdl:operation name="echoLanguage">
      <wsdl:input  message="tns:echoLanguageRequest"  name="echoLanguageRequest" />
      <wsdl:output message="tns:echoLanguageResponse" name="echoLanguageResponse" />
    </wsdl:operation>

    <!--
    PortType - Name
    -->
    <wsdl:operation name="echoName">
      <wsdl:input  message="tns:echoNameRequest"  name="echoNameRequest" />
      <wsdl:output message="tns:echoNameResponse" name="echoNameResponse" />
    </wsdl:operation>

    <!--
    PortType - NMTOKEN
    -->
    <wsdl:operation name="echoNMTOKEN">
      <wsdl:input  message="tns:echoNMTOKENRequest"  name="echoNMTOKENRequest" />
      <wsdl:output message="tns:echoNMTOKENResponse" name="echoNMTOKENResponse" />
    </wsdl:operation>

    <!--
    PortType - NMTOKENS

    <wsdl:operation name="echoNMTOKENS">
      <wsdl:input  message="tns:echoNMTOKENSRequest"  name="echoNMTOKENSRequest" />
      <wsdl:output message="tns:echoNMTOKENSResponse" name="echoNMTOKENSResponse" />
    </wsdl:operation>
    -->

    <!--
    PortType - ID
    -->
    <wsdl:operation name="echoID">
      <wsdl:input  message="tns:echoIDRequest"  name="echoIDRequest" />
      <wsdl:output message="tns:echoIDResponse" name="echoIDResponse" />
    </wsdl:operation>

    <!--
    PortType - IDREF

    <wsdl:operation name="echoIDREF">
      <wsdl:input  message="tns:echoIDREFRequest"  name="echoIDREFRequest" />
      <wsdl:output message="tns:echoIDREFResponse" name="echoIDREFResponse" />
    </wsdl:operation>
    -->

    <!--
    PortType - IDREFS

    <wsdl:operation name="echoIDREFS">
      <wsdl:input  message="tns:echoIDREFSRequest"  name="echoIDREFSRequest" />
      <wsdl:output message="tns:echoIDREFSResponse" name="echoIDREFSResponse" />
    </wsdl:operation>
	-->

    <!--
    PortType - ENTITY
    -->
    <wsdl:operation name="echoENTITY">
      <wsdl:input  message="tns:echoENTITYRequest"  name="echoENTITYRequest" />
      <wsdl:output message="tns:echoENTITYResponse" name="echoENTITYResponse" />
    </wsdl:operation>

    <!--
    PortType - ENTITIES

    <wsdl:operation name="echoENTITIES">
      <wsdl:input  message="tns:echoENTITIESRequest"  name="echoENTITIESRequest" />
      <wsdl:output message="tns:echoENTITIESResponse" name="echoENTITIESResponse" />
    </wsdl:operation>
	-->

    <!--
    PortType - NCName
    -->
    <wsdl:operation name="echoNCName">
      <wsdl:input  message="tns:echoNCNameRequest"  name="echoNCNameRequest" />
      <wsdl:output message="tns:echoNCNameResponse" name="echoNCNameResponse" />
    </wsdl:operation>

    <!--
    PortType - boolean
    -->
    <wsdl:operation name="echoBoolean">
      <wsdl:input  message="tns:echoBooleanRequest"  name="echoBooleanRequest" />
      <wsdl:output message="tns:echoBooleanResponse" name="echoBooleanResponse" />
    </wsdl:operation>

    <!--
    PortType - float
    -->
    <wsdl:operation name="echoFloat">
      <wsdl:input  message="tns:echoFloatRequest"  name="echoFloatRequest" />
      <wsdl:output message="tns:echoFloatResponse" name="echoFloatResponse" />
    </wsdl:operation>

    <!--
    PortType - double
    -->
    <wsdl:operation name="echoDouble">
      <wsdl:input  message="tns:echoDoubleRequest"  name="echoDoubleRequest"  />
      <wsdl:output message="tns:echoDoubleResponse" name="echoDoubleResponse" />
    </wsdl:operation>

    <!--
    PortType - anyURI
    -->
    <wsdl:operation name="echoAnyURI">
      <wsdl:input  message="tns:echoAnyURIRequest"  name="echoAnyURIRequest"  />
      <wsdl:output message="tns:echoAnyURIResponse" name="echoAnyURIResponse" />
    </wsdl:operation>

  </wsdl:portType>



  <!--
  Binding
  -->
  <wsdl:binding name="EchoPrimitivesBinding"
                type="tns:EchoPrimitivesPortType">

    <!--
    Style
    -->

    <!--
    Operation - anyType
    -->
    <!--wsdl:operation name="echoAnySimpleType">

      <wsdlsoap:operation soapAction="echoAnySimpleType" />

      <wsdl:input name="echoAnySimpleTypeRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoAnySimpleTypeResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation-->


    <imolacorba:binding>
      <imolacorba:idl/>
    </imolacorba:binding>
    
    <!--
    Operation - integer
    
    <wsdl:operation name="echoInteger">

      <wsdl:input name="echoIntegerRequest"></wsdl:input>

      <wsdl:output name="echoIntegerResponse"></wsdl:output>

    </wsdl:operation-->
    
    <!--
    Operation - decimal
    
    <wsdl:operation name="echoDecimal">

      <wsdl:input name="echoDecimalRequest"></wsdl:input>

      <wsdl:output name="echoDecimalResponse"></wsdl:output>

    </wsdl:operation-->
    
    <!--
    Operation - short
    -->
    <wsdl:operation name="echoShort">

      <wsdl:input name="echoShortRequest"></wsdl:input>

      <wsdl:output name="echoShortResponse"></wsdl:output>

    </wsdl:operation>    
    
    <!--
    Operation - short
    -->
    <wsdl:operation name="echoByte">

      <wsdl:input name="echoByteRequest"></wsdl:input>

      <wsdl:output name="echoByteResponse"></wsdl:output>

    </wsdl:operation> 
    
    <!--
    Operation - long
    -->
    <wsdl:operation name="echoLong">

      <wsdl:input name="echoLongRequest"></wsdl:input>

      <wsdl:output name="echoLongResponse"></wsdl:output>

    </wsdl:operation>

    <!--
    Operation - unsignedInt
    -->
    <wsdl:operation name="echoUnsignedInt">

      <wsdl:input name="echoUnsignedIntRequest"></wsdl:input>

      <wsdl:output name="echoUnsignedIntResponse"></wsdl:output>

    </wsdl:operation>

    <!--
    Operation - unsignedShort
    -->
    <wsdl:operation name="echoUnsignedShort">

      <wsdl:input name="echoUnsignedShortRequest"></wsdl:input>

      <wsdl:output name="echoUnsignedShortResponse"></wsdl:output>

    </wsdl:operation>

    <!--
    Operation - unsignedByte
    -->
    <wsdl:operation name="echoUnsignedByte">

      <wsdl:input name="echoUnsignedByteRequest"></wsdl:input>

      <wsdl:output name="echoUnsignedByteResponse"></wsdl:output>

    </wsdl:operation>

    <!--
    Operation - int
    -->
    <wsdl:operation name="echoInt">

      <wsdl:input name="echoIntRequest"></wsdl:input>

      <wsdl:output name="echoIntResponse"></wsdl:output>

    </wsdl:operation>

    <!--
    Operation - string
    -->
    <wsdl:operation name="echoString">

      <wsdl:input name="echoStringRequest"></wsdl:input>

      <wsdl:output name="echoStringResponse"></wsdl:output>

    </wsdl:operation>

    <!--
    Operation - NormalizedString
    -->
    <wsdl:operation name="echoNormalizedString">

      <wsdl:input name="echoNormalizedStringRequest"></wsdl:input>

      <wsdl:output name="echoNormalizedStringResponse"></wsdl:output>

    </wsdl:operation>

    <!--
    Operation - token
    -->
    <wsdl:operation name="echoToken">

      <wsdl:input name="echoTokenRequest"></wsdl:input>

      <wsdl:output name="echoTokenResponse"></wsdl:output>

    </wsdl:operation>

    <!--
    Operation - language
    -->
    <wsdl:operation name="echoLanguage">

      <wsdl:input name="echoLanguageRequest"></wsdl:input>

      <wsdl:output name="echoLanguageResponse"></wsdl:output>

    </wsdl:operation>

    <!--
    Operation - Name
    -->
    <wsdl:operation name="echoName">

      <wsdl:input name="echoNameRequest"></wsdl:input>

      <wsdl:output name="echoNameResponse"></wsdl:output>

    </wsdl:operation>

    <!--
    Operation - NMTOKEN
    -->
    <wsdl:operation name="echoNMTOKEN">

      <wsdl:input name="echoNMTOKENRequest"></wsdl:input>

      <wsdl:output name="echoNMTOKENResponse"></wsdl:output>

    </wsdl:operation>

    <!--
    Operation - NCName
    -->
    <wsdl:operation name="echoNCName">

      <wsdl:input name="echoNCNameRequest"></wsdl:input>

      <wsdl:output name="echoNCNameResponse"></wsdl:output>

    </wsdl:operation>

    <!--
    Operation - ID
    -->
    <wsdl:operation name="echoID">

      <wsdl:input name="echoIDRequest"></wsdl:input>

      <wsdl:output name="echoIDResponse"></wsdl:output>

    </wsdl:operation>

    <!--
    Operation - ENTITY
    -->
    <wsdl:operation name="echoENTITY">

      <wsdl:input name="echoENTITYRequest"></wsdl:input>

      <wsdl:output name="echoENTITYResponse"></wsdl:output>

    </wsdl:operation>


    <!--
    Operation - boolean
    -->
    <wsdl:operation name="echoBoolean">

        <wsdl:input name="echoBooleanRequest"></wsdl:input>

        <wsdl:output name="echoBooleanResponse"></wsdl:output>
    </wsdl:operation>

    <!--
    Operation - float
    -->
    <wsdl:operation name="echoFloat">

        <wsdl:input name="echoFloatRequest"></wsdl:input>

        <wsdl:output name="echoFloatResponse"></wsdl:output>
    </wsdl:operation>

    <!--
    Operation - double
    -->
    <wsdl:operation name="echoDouble">

        <wsdl:input name="echoDoubleRequest"></wsdl:input>

        <wsdl:output name="echoDoubleResponse"></wsdl:output>
    </wsdl:operation>

    <!--
    Operation - anyURI
    -->
    <wsdl:operation name="echoAnyURI">

        <wsdl:input name="echoAnyURIRequest"></wsdl:input>

        <wsdl:output name="echoAnyURIResponse"></wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <!--
  Service
  -->
  <wsdl:service name="EchoPrimitives">
    <wsdl:port binding="tns:EchoPrimitivesBinding"
               name="EchoPrimitivesPort">
      <imolacorba:address name="EchoPrimitives" localizationType="NameService">
        <imolacorba:orb/>
      </imolacorba:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
