driver-tests/bpelse/assign/AssignBpel/src/IgnoreMissingFromData/schema1.xsd

<?xml version="1.0" encoding="windows-1252"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/assign/AssignBPEL/IgnoreMissingFromData/schema/schema1"
            xmlns:tns="http://xml.netbeans.org/assign/AssignBPEL/IgnoreMissingFromData/schema/schema1"
            elementFormDefault="qualified">
    <xsd:complexType name="Input">
        <xsd:sequence>
            <xsd:element name="Id" type="xsd:string"></xsd:element>
            <xsd:element name="Data" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
