driver-tests/sqlse/derby/updatemultiparamfullqualJbi/src/jbiServiceUnits/updatemultiparamfullqualSQL/updatemultiparamfullqualSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="updatemultiparamfullqualSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="updatemultiparamfullqualRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/><xsd:element name="param2" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="updatemultiparamfullqualResponse">
    <part name="updatemultiparamfullqualResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="updatemultiparamfullqualRequest">
    <part name="updatemultiparamfullqualRequestPart" element="tns:updatemultiparamfullqualRequest"/>
  </message>
  <portType name="updatemultiparamfullqualSQL_sqlsePortType">
    <operation name="updatemultiparamfullqual">
      <input name="updatemultiparamfullqualRequest" message="tns:updatemultiparamfullqualRequest"/>
      <output name="updatemultiparamfullqualResponse" message="tns:updatemultiparamfullqualResponse"/>
    </operation>
  </portType>
  <binding name="updatemultiparamfullqualSQLBinding" type="tns:updatemultiparamfullqualSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="updatemultiparamfullqual">
      <soap:operation style="document"/>
      <input name="updatemultiparamfullqualRequest">
        <soap:body use="literal"/>
      </input>
      <output name="updatemultiparamfullqualResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="updatemultiparamfullqualSQL_sqlseService">
    <port name="updatemultiparamfullqualSQL_sqlsePort" binding="tns:updatemultiparamfullqualSQLBinding">
      <soap:address location="http://localhost:18181/updatemultiparamfullqualSQL/updatemultiparamfullqualSQL/updatemultiparamfullqualSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="updatemultiparamfullqualSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="updatemultiparamfullqualSQL_myrole" portType="tns:updatemultiparamfullqualSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
