driver-tests/bpelse/correlation/ThreeCorrSetsBpel/src/MessageTypes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/MessageTypes"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/MessageTypes" name="MessageTypes" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/MessageTypes" xmlns:tns="http://j2ee.netbeans.org/wsdl/MessageTypes">
            <xsd:element name="CorrElement">
                <xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                    <xsd:sequence>
                        <xsd:element name="Id1" type="xsd:string"></xsd:element>
                        <xsd:element name="Id2" type="xsd:string"></xsd:element>
                        <xsd:element name="Id3" type="xsd:string"></xsd:element>
                        <xsd:element name="Id4" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="message1">
        <wsdl:part name="part1" element="tns:CorrElement"/>
    </message>
    <vprop:property name="property1" type="xsd:string"/>
    <vprop:property name="property2" type="xsd:string"/>
    <vprop:property name="property3" type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:property1" messageType="tns:message1" part="part1">
        <vprop:query>Id1</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property2" messageType="tns:message1" part="part1">
        <vprop:query>Id2</vprop:query>
    </vprop:propertyAlias>
        <vprop:propertyAlias propertyName="tns:property3" messageType="tns:message1" part="part1">
        <vprop:query>Id3</vprop:query>
    </vprop:propertyAlias>
</definitions>
