driver-tests/bpelse/assign/VariablePropertyTest/BooleanCopyJBI/src/jbiServiceUnits/BooleanCopy/simple.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/simple"
            xmlns:tns="http://xml.netbeans.org/schema/simple"
            elementFormDefault="qualified">
    <xsd:element name="itemElem" type="tns:ComplexType"/>
    <xsd:complexType name="ComplexType">
        <xsd:sequence>
            <xsd:element name="itemName" type="xsd:string"/>
            <xsd:element name="price" type="xsd:int"/>
            <xsd:element name="itemAvailable" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
