driver-tests/bpelse/misc/MiscBpel/src/EJBWebServiceTest/EjbWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:EchoEjb/wsdl" xmlns:ns2="urn:EchoEjb/types" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EchoEjb" targetNamespace="urn:EchoEjb/wsdl">
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:EchoEjb/types" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:EchoEjb/types">
      <complexType name="sayHello">
        <sequence>
          <element name="String_1" type="string" nillable="true"/></sequence></complexType>
      <complexType name="sayHelloResponse">
        <sequence>
          <element name="result" type="string" nillable="true"/></sequence></complexType>
      <element name="sayHello" type="tns:sayHello"/>
      <element name="sayHelloResponse" type="tns:sayHelloResponse"/></schema></types>
  <message name="EchoEjbSEI_sayHello">
    <part name="parameters" element="ns2:sayHello"/></message>
  <message name="EchoEjbSEI_sayHelloResponse">
    <part name="result" element="ns2:sayHelloResponse"/></message>
  <portType name="EchoEjbSEI">
    <operation name="sayHello">
      <input message="tns:EchoEjbSEI_sayHello"/>
      <output message="tns:EchoEjbSEI_sayHelloResponse"/></operation></portType>
  <binding name="EchoEjbSEIBinding" type="tns:EchoEjbSEI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="sayHello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output></operation></binding>
  <service name="EchoEjb">
    <port name="EchoEjbSEIPort" binding="tns:EchoEjbSEIBinding">
      <soap:address location="http://evisiondev.stc.com:28080/webservice/EchoEjb" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/></port></service></definitions>
