ojc-core/httpsoapbc/httpsoapbcimpl/test/com/sun/jbi/httpsoapbc/soap12/validator/HelloProxy.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions 
xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
name="HelloProxyService" 
targetNamespace="http://sample.sun.com/" 
xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:tns="http://sample.sun.com/" 
xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://sample.sun.com/" schemaLocation="HelloService.xsd">
            </xsd:import>
        </xsd:schema>
    </types>
    <message name="proxytest">
        <part name="parameters" element="tns:test">
        </part>
    </message>
    <message name="proxytestResponse">
        <part name="parameters" element="tns:testResponse">
        </part>
    </message>
    <message name="proxyaddNumbers">
        <part name="parameters" element="tns:addNumbers">
        </part>
    </message>
    <message name="proxyaddNumbersResponse">
        <part name="parameters" element="tns:addNumbersResponse">
        </part>
    </message>
    <message name="proxySampleException">
        <part name="fault" element="tns:SampleException">
        </part>
    </message>
    <message name="proxytest1">
        <part name="parameters" element="tns:test1">
        </part>
        <part name="myheader" element="tns:myheader">
        </part>
    </message>
    <message name="proxytest1Response">
        <part name="result" element="tns:test1Response">
        </part>
        <part name="myheader" element="tns:myheader">
        </part>
    </message>
    <message name="proxytest2">
        <part name="parameters" element="tns:test2">
        </part>
    </message>
    <message name="proxytest2Response">
        <part name="parameters" element="tns:test2Response">
        </part>
    </message>
    <message name="proxytest3">
        <part name="parameters" element="tns:test3">
        </part>
    </message>
    <message name="proxytest4">
        <part name="parameters" element="tns:test4">
        </part>
    </message>
    <message name="proxytest4Response">
        <part name="parameters" element="tns:test4Response">
        </part>
    </message>
    <portType name="HelloProxy">
        <operation name="test">
            <input message="tns:proxytest">
            </input>
            <output message="tns:proxytestResponse">
            </output>
        </operation>
        <operation name="addNumbers">
            <input message="tns:proxyaddNumbers">
            </input>
            <output message="tns:proxyaddNumbersResponse">
            </output>
            <fault message="tns:proxySampleException" name="SampleException">
            </fault>
        </operation>
        <operation name="test1" parameterOrder="parameters myheader">
            <input message="tns:proxytest1">
            </input>
            <output message="tns:proxytest1Response">
            </output>
            <fault message="tns:proxySampleException" name="SampleException">
            </fault>
        </operation>
        <operation name="test2">
            <input message="tns:proxytest2">
            </input>
            <output message="tns:proxytest2Response">
            </output>
            <fault message="tns:proxySampleException" name="SampleException">
            </fault>
        </operation>
        <operation name="test3">
            <input message="tns:proxytest3">
            </input>
        </operation>
        <operation name="test4">
            <input message="tns:proxytest4">
            </input>
            <output message="tns:proxytest4Response">
            </output>
        </operation>
    </portType>
    <binding name="HelloProxyPortBinding" type="tns:HelloProxy">
        <soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
        <operation name="test">
            <soap12:operation soapAction="hello/test"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
        <operation name="addNumbers">
            <soap12:operation soapAction=""/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="SampleException">
                <soap12:fault name="SampleException" use="literal"/>
            </fault>
        </operation>
        <operation name="test1">
            <soap12:operation soapAction="hello/test1"/>
            <input>
                <soap12:body use="literal" parts="parameters"/>
                <soap12:header message="tns:proxytest1" part="myheader" use="literal"/>
            </input>
            <output>
                <soap12:body use="literal" parts="result"/>
                <soap12:header message="tns:proxytest1Response" part="myheader" use="literal"/>
            </output>
            <fault name="SampleException">
                <soap12:fault name="SampleException" use="literal"/>
            </fault>
        </operation>
        <operation name="test2">
            <soap12:operation soapAction=""/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="SampleException">
                <soap12:fault name="SampleException" use="literal"/>
            </fault>
        </operation>
        <operation name="test3">
            <soap12:operation soapAction=""/>
            <input>
                <soap12:body use="literal"/>
            </input>
        </operation>
        <operation name="test4">
            <soap12:operation soapAction=""/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="HelloProxyService">
        <port name="HelloProxyPort" binding="tns:HelloProxyPortBinding">
            <soap12:address location="http://localhost:9080/HelloWS/HelloProxyService"/>
        </port>
    </service>
    <plink:partnerLinkType name="HelloProxyService">
        <plink:role name="HelloProxyRole" portType="tns:HelloProxy"/>
    </plink:partnerLinkType>
</definitions>