driver-tests/recovery/RecoveryTesting/JMSBased/BPELProject/src/JdbcInboundReliabilityTest1/JMSIn-JDBCIn.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="JMSIn-JDBCIn" targetNamespace="http://j2ee.netbeans.org/wsdl/JMSIn-JDBCIn" xmlns:tns="http://j2ee.netbeans.org/wsdl/JMSIn-JDBCIn" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" xmlns:ns="http://j2ee.netbeans.org/xsd/tableSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:jms="http://schemas.sun.com/jbi/wsdl-extensions/jms/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://j2ee.netbeans.org/wsdl/JMSIn-JDBCIn">
            
	<xsd:import namespace="http://j2ee.netbeans.org/xsd/tableSchema" schemaLocation="JMSMSGCOUNTER.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="outputMsg">
    <part element="ns:JMSMSGCOUNTER" name="part"/>
  </wsdl:message>
  <wsdl:message name="insertRetMsg">
    <wsdl:part name="part" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="inputMsg">
    <part element="ns:JMSMSGCOUNTER" name="part"/>
  </wsdl:message>
  <wsdl:message name="message_JMSIn">
        <part name="part_JMSIn"
              type="xsd:string"></part>
        <part name="IdProperty" type="xsd:long"/>              
    </wsdl:message>
    <wsdl:portType name="jdbcPortType">
    <wsdl:operation name="insert">
      <wsdl:input name="inputInsert" message="tns:inputMsg"/>
      <wsdl:output name="outputInsert" message="tns:insertRetMsg"/>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input name="inputUpdate" message="tns:inputMsg"/>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input name="inputDelete" message="tns:inputMsg"/>
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input name="inputFind" message="tns:inputMsg"/>
      <wsdl:output name="outputFind" message="tns:outputMsg"/>
    </wsdl:operation>
    <wsdl:operation name="pollrecords">
      <wsdl:input name="inputPoll" message="tns:inputMsg"/>
    </wsdl:operation>
  </wsdl:portType>
   <wsdl:portType name="portType_JMSIn">
        <wsdl:operation name="operation_JMSIn">
            <wsdl:input name="input"
                   message="tns:message_JMSIn"></wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
  <wsdl:binding name="binding" type="tns:jdbcPortType">
    <jdbc:binding xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
    <wsdl:operation name="insert">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputInsert">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="IDPROPERTY" PollMilliSeconds="5000" TableName="APP.JMSMSGCOUNTER" Transaction="NOTransaction" numberOfRecords="" operationType="insert" paramOrder="IDPROPERTY,JMSMSG" sql="insert into &quot;APP&quot;.&quot;JMSMSGCOUNTER&quot; (&quot;IDPROPERTY&quot;,&quot;JMSMSG&quot;) values (?,?)"/>
      </wsdl:input>
      <wsdl:output name="outputInsert">
    <jdbc:output xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" returnPartName="part"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputUpdate">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="IDPROPERTY" PollMilliSeconds="5000" TableName="APP.JMSMSGCOUNTER" Transaction="NOTransaction" numberOfRecords="" operationType="update" paramOrder="IDPROPERTY,JMSMSG" sql="update &quot;APP&quot;.&quot;JMSMSGCOUNTER&quot; set &quot;JMSMSGCOUNTER&quot;.&quot;IDPROPERTY&quot;  = ?,&quot;JMSMSGCOUNTER&quot;.&quot;JMSMSG&quot;  = ?"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="delete">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputDelete">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="IDPROPERTY" PollMilliSeconds="5000" TableName="APP.JMSMSGCOUNTER" Transaction="NOTransaction" numberOfRecords="" operationType="delete" paramOrder="" sql="delete from &quot;APP&quot;.&quot;JMSMSGCOUNTER&quot;"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="find">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputFind">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="IDPROPERTY" PollMilliSeconds="5000" TableName="APP.JMSMSGCOUNTER" Transaction="NOTransaction" numberOfRecords="" operationType="find" paramOrder="" sql="select &quot;IDPROPERTY&quot;,&quot;JMSMSG&quot; from &quot;APP&quot;.&quot;JMSMSGCOUNTER&quot;"/>
      </wsdl:input>
      <wsdl:output name="outputFind">
    <jdbc:output xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" returnPartName="part"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pollrecords">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputPoll">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="IDPROPERTY" PollMilliSeconds="15000" PollingPostProcessing="Delete" TableName="APP.JMSMSGCOUNTER" Transaction="XATransaction" numberOfRecords="" operationType="poll" paramOrder="" sql="select &quot;IDPROPERTY&quot;,&quot;JMSMSG&quot; from &quot;APP&quot;.&quot;JMSMSGCOUNTER&quot;"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
   <wsdl:binding name="binding_JMSIn"
             type="tns:portType_JMSIn">
        <jms:binding></jms:binding>
        <wsdl:operation name="operation_JMSIn">
            <jms:operation destinationType="Queue"
            		   maxConcurrentConsumers="1"
                           destination="ext_client_publish_JdbcInboundReliabilityTest1" 
                           transaction="XATransaction">
            </jms:operation>
            <wsdl:input name="input">
                <jms:message textPart="part_JMSIn"
                             messageType="TextMessage">
                <jms:properties>
                        <jms:property part="IdProperty" type="long" name="counter"></jms:property>
                </jms:properties>
                </jms:message>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
  <wsdl:service name="JMSIn-JDBCInService">
    <wsdl:port name="JMSIn-JDBCInPort" binding="tns:binding">
    <jdbc:address xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" jndiName="jdbc/__derbyXA"/>
    </wsdl:port>
  </wsdl:service>
   <wsdl:service name="service_JMSIn">
        <wsdl:port name="port_JMSIn"
              binding="tns:binding_JMSIn">
            <jms:address password="admin"
                         username="admin"
                         connectionURL="mq://localhost:20000" />
        </wsdl:port>
    </wsdl:service>
    <plink:partnerLinkType xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="jdbcpartner">
        <plink:role name="jdbcPortTypeRole" portType="tns:jdbcPortType"/>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="jmsPortTypeRole" portType="tns:portType_JMSIn"/>
    </plink:partnerLinkType>
    <vprop:property name="property1" type="xsd:long"/>
    <vprop:propertyAlias propertyName="tns:property1" messageType="tns:message_JMSIn" part="IdProperty"/>
    <vprop:propertyAlias propertyName="tns:property1" messageType="tns:inputMsg" part="part">
        <vprop:query>IDPROPERTY</vprop:query>
    </vprop:propertyAlias>
</wsdl:definitions>
