driver-tests/sqlse/derby/updateparambpelJbi/src/jbiServiceUnits/updateparamBPEL/EMP.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://j2ee.netbeans.org/xsd/tableSchema" xmlns="http://j2ee.netbeans.org/xsd/tableSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="EMP" type="EMP"></xsd:element>
    <xsd:complexType name="EMP">
      <xsd:sequence maxOccurs="unbounded">
        <xsd:element name="SAL" type="xsd:int"></xsd:element>
        <xsd:element name="DEPTNO" type="xsd:int"></xsd:element>
        <xsd:element name="ENAME" type="xsd:string"></xsd:element>
        <xsd:element name="ENO" type="xsd:int"></xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:schema>