driver-tests/smtpbc/SMTPBCTests/SMTPJavaEESEOutbound/src/conf/xml-resources/web-services/NewWebServiceFromWSDL/wsdl/TEST.xsd

<?xml version="1.0" encoding="UTF-8"?>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://j2ee.netbeans.org/xsd/tableSchema" xmlns="http://j2ee.netbeans.org/xsd/tableSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="TEST" type="TEST"></xsd:element>
    <xsd:complexType name="TEST">
      <xsd:sequence maxOccurs="unbounded">
        <xsd:element name="NAME" type="xsd:string"></xsd:element>
        <xsd:element name="ID" type="xsd:short"></xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:schema>