driver-tests/sqlse/derby/insertonevaloneparambpelSQL/src/insertonevaloneparambpelSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="insertonevaloneparambpelSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="insertonevaloneparamsqlRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/><xsd:element name="param2" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="insertonevaloneparamsqlResponse">
    <part name="insertonevaloneparamsqlResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="insertonevaloneparamsqlRequest">
    <part name="insertonevaloneparamsqlRequestPart" element="tns:insertonevaloneparamsqlRequest"/>
  </message>
  <portType name="insertonevaloneparambpelSQL_sqlsePortType">
    <operation name="insertonevaloneparamsql">
      <input name="insertonevaloneparamsqlRequest" message="tns:insertonevaloneparamsqlRequest"/>
      <output name="insertonevaloneparamsqlResponse" message="tns:insertonevaloneparamsqlResponse"/>
    </operation>
  </portType>
  <binding name="insertonevaloneparambpelSQLBinding" type="tns:insertonevaloneparambpelSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="insertonevaloneparamsql">
      <soap:operation style="document"/>
      <input name="insertonevaloneparamsqlRequest">
        <soap:body use="literal"/>
      </input>
      <output name="insertonevaloneparamsqlResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="insertonevaloneparambpelSQL_sqlseService">
    <port name="insertonevaloneparambpelSQL_sqlsePort" binding="tns:insertonevaloneparambpelSQLBinding">
      <soap:address location="http://localhost:18181/insertonevaloneparambpelSQL/insertonevaloneparambpelSQL/insertonevaloneparambpelSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="insertonevaloneparambpelSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="insertonevaloneparambpelSQL_myrole" portType="tns:insertonevaloneparambpelSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
