driver-tests/httpsoapbc/JavaEE_vs_BC/SoapOneWayIn_JBI/src/jbiasa/SoapFeeder4SoapOneWayIn.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/SoapFeeder4SoapOneWayIn"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/SoapFeeder4SoapOneWayIn" name="SoapFeeder4SoapOneWayIn" xmlns:ns="http://xml.netbeans.org/schema/TypeSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/SoapFeeder4SoapOneWayIn">
            <xsd:import namespace="http://xml.netbeans.org/schema/TypeSchema" schemaLocation="TypeSchema.xsd"/>
        </xsd:schema>
    </types>
    <message name="SoapFeeder4SoapOneWayInOperationRequest">
        <part name="part1" type="ns:requestType"/>
    </message>
    <message name="SoapFeeder4SoapOneWayInOperationReply">
        <part name="part1" type="ns:responseType"/>
    </message>
    <portType name="SoapFeeder4SoapOneWayInPortType">
        <wsdl:operation name="SoapFeeder4SoapOneWayInOperation_Doc">
            <wsdl:input name="input1" message="tns:SoapFeeder4SoapOneWayInOperationRequest"/>
            <wsdl:output name="output1" message="tns:SoapFeeder4SoapOneWayInOperationReply"/>
        </wsdl:operation>
        <operation name="SoapFeeder4SoapOneWayInOperation_RPC">
            <input name="input2" message="tns:SoapFeeder4SoapOneWayInOperationRequest"/>
            <output name="output2" message="tns:SoapFeeder4SoapOneWayInOperationReply"/>
        </operation>
        <operation name="SoapFeeder4SoapOneWayInOperation_Encoded">
            <input name="input3" message="tns:SoapFeeder4SoapOneWayInOperationRequest"/>
            <output name="output3" message="tns:SoapFeeder4SoapOneWayInOperationReply"/>
        </operation>
    </portType>
    <binding name="SoapFeeder4SoapOneWayInBinding" type="tns:SoapFeeder4SoapOneWayInPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SoapFeeder4SoapOneWayInOperation_Doc">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/SoapFeeder4SoapOneWayIn"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/SoapFeeder4SoapOneWayIn"/>
            </wsdl:output>
        </wsdl:operation>
        <operation name="SoapFeeder4SoapOneWayInOperation_RPC">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/SoapFeeder4SoapOneWayIn"/>
            </input>
            <output name="output2">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/SoapFeeder4SoapOneWayIn"/>
            </output>
        </operation>
        <operation name="SoapFeeder4SoapOneWayInOperation_Encoded">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/SoapFeeder4SoapOneWayIn"/>
            </input>
            <output name="output3">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/SoapFeeder4SoapOneWayIn"/>
            </output>
        </operation>
    </binding>
    <service name="SoapFeeder4SoapOneWayInService">
        <wsdl:port name="SoapFeeder4SoapOneWayInPort" binding="tns:SoapFeeder4SoapOneWayInBinding">
            <soap:address location="http://localhost:18181/SoapFeeder4SoapOneWayInService/SoapFeeder4SoapOneWayInPort"/>
        </wsdl:port>
    </service>
    <plnk:partnerLinkType name="SoapFeeder4SoapOneWayInPartner">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="SoapFeeder4SoapOneWayInPortTypeRole" portType="tns:SoapFeeder4SoapOneWayInPortType"/>
    </plnk:partnerLinkType>
</definitions>
