driver-tests/sqlse/db2/SqlSE1160_DB2/SelectTwoColViewFullJbi/src/jbiServiceUnits/SelectTwoColViewFullSql/SelectTwoColViewFullSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SelectTwoColViewFullSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="SelectTwoColViewFullRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="SelectTwoColViewFullResponse"><xsd:complexType><xsd:sequence><xsd:element name="EMPID" type="xsd:int"/><xsd:element name="ENAME" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="SelectTwoColViewFullResponse">
    <part name="SelectTwoColViewFullResponsePart" element="tns:SelectTwoColViewFullResponse"/>
  </message>
  <message name="SelectTwoColViewFullRequest">
    <part name="SelectTwoColViewFullRequestPart" element="tns:SelectTwoColViewFullRequest"/>
  </message>
  <portType name="SelectTwoColViewFullSql_sqlsePortType">
    <operation name="SelectTwoColViewFull">
      <input name="SelectTwoColViewFullRequest" message="tns:SelectTwoColViewFullRequest"/>
      <output name="SelectTwoColViewFullResponse" message="tns:SelectTwoColViewFullResponse"/>
    </operation>
  </portType>
  <binding name="SelectTwoColViewFullSqlBinding" type="tns:SelectTwoColViewFullSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SelectTwoColViewFull">
      <soap:operation/>
      <input name="SelectTwoColViewFullRequest">
        <soap:body/>
      </input>
      <output name="SelectTwoColViewFullResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="SelectTwoColViewFullSql_sqlseService">
    <port name="SelectTwoColViewFullSql_sqlsePort" binding="tns:SelectTwoColViewFullSqlBinding">
      <soap:address location="http://localhost:18181/SelectTwoColViewFullSql/SelectTwoColViewFullSql/SelectTwoColViewFullSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="SelectTwoColViewFullSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="SelectTwoColViewFullSql_myrole" portType="tns:SelectTwoColViewFullSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
