ojc-core/bpelse/bpeljbiadapter/samples/bpelse.wsdl

<!-- 
 # BEGIN_HEADER - DO NOT EDIT
 # 
 # The contents of this file are subject to the terms
 # of the Common Development and Distribution License
 # (the "License").  You may not use this file except
 # in compliance with the License.
 #
 # You can obtain a copy of the license at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # See the License for the specific language governing
 # permissions and limitations under the License.
 #
 # When distributing Covered Code, include this CDDL
 # HEADER in each file and include the License file at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # If applicable add the following below this CDDL HEADER,
 # with the fields enclosed by brackets "[]" replaced with
 # your own identifying information: Portions Copyright
 # [year] [name of copyright owner]
-->

<!-- 
 # @(#)bpelse.wsdl 
 #
 # Copyright 2004-2007 Sun Microsystems, Inc. All Rights Reserved.
 # 
 # END_HEADER - DO NOT EDIT
-->

<definitions targetNamespace="urn:Foo"
             name="MyHelloService"
             xmlns:tns="urn:Foo"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="urn:Foo"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:Foo"
                    xmlns:ns1="urn:Foo"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
            <xsd:element type="tns:helloObjType"
                         name="headerObj"></xsd:element>
            <xsd:element type="tns:helloObjType"
                         name="helloObj">
                <xsd:annotation>
                    <xsd:documentation></xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:complexType name="helloObjType">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                                 name="hello1"></xsd:element>
                    <xsd:element type="xsd:string"
                                 name="hello2"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="HelloIF_sayHello">
        <part name="body"
              element="tns:helloObj"/>
        <part name="header"
              element="tns:headerObj"/>
    </message>
    <message name="HelloIF_sayHelloResponse">
        <part name="result"
              element="tns:helloObj"/>
        <part name="header"
              element="tns:headerObj"/>
    </message>
    <portType name="HelloIF">
        <operation name="sayHello">
            <input message="tns:HelloIF_sayHello"/>
            <output message="tns:HelloIF_sayHelloResponse"/>
        </operation>
    </portType>
    <binding name="HelloIFBinding"
             type="tns:HelloIF">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sayHello">
            <soap:operation soapAction="sayHello"/>
            <input>
                <soap:body parts="body"
                           use="literal"/>
                <soap:header message="tns:HelloIF_sayHello"
                             part="header"
                             use="literal"></soap:header>
            </input>
            <output>
                <soap:body parts="result"
                           use="literal"/>
                <soap:header message="tns:HelloIF_sayHello"
                             part="header"
                             use="literal"></soap:header>
            </output>
        </operation>
    </binding>
    <service name="MyHelloService">
        <port name="HelloIFPort"
              binding="tns:HelloIFBinding">
            <soap:address location="http://ckuo-gx270:18001/Web_u0020_Services_u0020_Application1_Bu516022567/HelloIF"/>
        </port>
    </service>
</definitions>
