driver-tests/sqlse/db2/SqlSE1058_DB2/SelectAllRowsViewSql/src/SelectAllRowsViewSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SelectAllRowsViewSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="SelectAllRowsViewRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="SelectAllRowsViewResponse"><xsd:complexType><xsd:sequence><xsd:element name="EMPID" type="xsd:int"/><xsd:element name="ENAME" type="xsd:string"/><xsd:element name="DEPTID" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="SelectAllRowsViewRequest">
    <part name="SelectAllRowsViewRequestPart" element="tns:SelectAllRowsViewRequest"/>
  </message>
  <message name="SelectAllRowsViewResponse">
    <part name="SelectAllRowsViewResponsePart" element="tns:SelectAllRowsViewResponse"/>
  </message>
  <portType name="SelectAllRowsViewSql_sqlsePortType">
    <operation name="SelectAllRowsView">
      <input name="SelectAllRowsViewRequest" message="tns:SelectAllRowsViewRequest"/>
      <output name="SelectAllRowsViewResponse" message="tns:SelectAllRowsViewResponse"/>
    </operation>
  </portType>
  <binding name="SelectAllRowsViewSqlBinding" type="tns:SelectAllRowsViewSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SelectAllRowsView">
      <soap:operation/>
      <input name="SelectAllRowsViewRequest">
        <soap:body/>
      </input>
      <output name="SelectAllRowsViewResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="SelectAllRowsViewSql_sqlseService">
    <port name="SelectAllRowsViewSql_sqlsePort" binding="tns:SelectAllRowsViewSqlBinding">
      <soap:address location="http://localhost:18181/SelectAllRowsViewSql/SelectAllRowsViewSql/SelectAllRowsViewSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="SelectAllRowsViewSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="SelectAllRowsViewSql_myrole" portType="tns:SelectAllRowsViewSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
