driver-tests/bpelse/repeatuntil/RepeatUntilBpel/src/RepeatUntilwithTime/RepeatUntilwithTime.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="RepeatUntilNested1" targetNamespace="http://localhost/RepeatUntilBPEL/RepeatUntilNested1"
    xmlns:ns1="urn:WS/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost/RepeatUntilBPEL/RepeatUntilNested1" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://localhost/RepeatUntilBPEL/RepeatUntilNested1" xmlns:tns="http://localhost/RepeatUntilBPEL/RepeatUntilNested1">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="RepeatUntilNested1Request">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="RepeatUntilNested1Response">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="RepeatUntilNested1Error">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="RepeatUntilNested1PortType">
    <operation name="RepeatUntilNested1Operation">
      <input message="tns:RepeatUntilNested1Request"/>
      <output message="tns:RepeatUntilNested1Response"/>
      <fault message="tns:RepeatUntilNested1Error" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="RepeatUntilNested1Binding" type="tns:RepeatUntilNested1PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="RepeatUntilNested1Operation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="RepeatUntilNested1Service">
    <port name="RepeatUntilNested1Port" binding="tns:RepeatUntilNested1Binding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <message name="RptMessage1">
        <part name="part1" type="xsd:string"/>
        <part name="innerCnt" type="xsd:int"/>
        <part name="timer" type="xsd:time"/>
    </message>
    <portType name="RptTimePortType1">
        <operation name="operation12">
            <input name="input1" message="tns:RptMessage1"/>
            <output name="output1" message="tns:RptMessage1"/>
            <wsdl:fault name="fault1" message="tns:RptMessage1"/>
        </operation>
    </portType>
    <binding name="RptTimeBinding1" type="tns:RptTimePortType1">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="operation12">
        <input name="input1">
          <soap:body/>
        </input><output name="output1">
    <soap:body/>
</output>
            <fault name="fault1"/>
        </operation>
    </binding>
    <service name="RptTimeService1">
        <port name="RptTimePort1" binding="tns:RptTimeBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/RepeatUntillwithTime/RptTimeService1"/>
        </port>
    </service>
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="partnerlinktyperole1" portType="tns:RptTimePortType1"/>
    </plink:partnerLinkType>
</definitions>
