driver-tests/performance/JMSBased/benchmarks/iepse/mergedEcho/feeder2IEP/src/feeder2.wsdl

<definitions targetNamespace="feeder2_iep"
             xmlns:tns="feeder2_iep"
             xmlns:typens="feeder2_iep"
             xmlns:defns="feeder2_iep"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:jms="http://schemas.sun.com/jbi/wsdl-extensions/jms/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
    <xsd:schema targetNamespace="feeder2_iep" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="StreamInput0_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="message" type="xsd:string"/>
                    <xsd:element name="id" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamInput0Batch_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="StreamInput0_MsgObj" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                    <xsd:element name="message" type="xsd:string"/>
                    <xsd:element name="id" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
    </xsd:schema>
</types>

<message name="StreamInput0_Msg">
    <part name="input" element="typens:StreamInput0_MsgObj"/>
</message>
<message name="StreamInput0Batch_Msg">
    <part name="input" element="typens:StreamInput0Batch_MsgObj"/>
</message>

<portType name="InputPt">
    <operation name="StreamInput0">
        <input message="tns:StreamInput0_Msg"/>
    </operation>
    <operation name="StreamInput0Batch">
        <input message="tns:StreamInput0Batch_Msg"/>
    </operation>
</portType>

<plnk:partnerLinkType name="InputPlt" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "InputRn" portType="tns:InputPt"/>
</plnk:partnerLinkType>
<!-- input binding -->
<binding name="InputBinding"
         type="defns:InputPt">
    <jms:binding></jms:binding>
    <operation name="StreamInput0">
        <jms:operation destinationType="Queue"
                       maxConcurrentConsumers="32"
                       destination="iep_echo_benchmark_feeder2"
                       transaction="NoTransaction">
        </jms:operation>
        <input>
            <jms:message textPart="input"
                         messageType="TextMessage">
            </jms:message>
        </input>
    </operation>
</binding>
<service name="InputService">
    <port name="InputPort"
          binding="tns:InputBinding">
        <jms:address password="admin"
                     username="admin"
                     connectionURL="mq://localhost:2881" />
    </port>
</service>
</definitions>