ojc-core/bpelse/system-test/test/com/sun/jbi/engine/bpel/jbiadaptor/test/bpeldebugger/bpels/correlation/CorrelationRecInvOnMsg/deployedFolder/CorrelationInvoke.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CorrelationInvoke" targetNamespace="http://j2ee.netbeans.org/wsdl/CorrelationInvoke"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/CorrelationInvoke" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/CorrelationInvoke">
            <xsd:element name="myElement">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="myString" type="xsd:string"></xsd:element>
                        <xsd:element name="myInt" type="xsd:int"></xsd:element>
                        <xsd:element name="myID" type="xsd:ID"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="CorrelationInvokeOperationRequest1">
        <part name="part1" element="tns:myElement"/>
    </message>
    <message name="CorrelationInvokeOperationRequest2">
        <part name="part1" element="tns:myElement"/>
    </message>
    <message name="CorrelationInvokeOperationRequest3">
        <part name="part1" element="tns:myElement"/>
    </message>
    <message name="CorrelationInvokeOperationRequest4">
        <part name="part1" element="tns:myElement"/>
    </message>
    <portType name="CorrelationInvokePortType1">
        <operation name="CorrelationInvokeOperation1">
            <input name="input1" message="tns:CorrelationInvokeOperationRequest1"/>
        </operation>
    </portType>
    <portType name="CorrelationInvokePortType4">
        <operation name="CorrelationInvokeOperation4">
            <input name="input1" message="tns:CorrelationInvokeOperationRequest4"/>
        </operation>
    </portType>
    <portType name="CorrelationInvokePortType3">
        <operation name="CorrelationInvokeOperation3">
            <input name="input1" message="tns:CorrelationInvokeOperationRequest3"/>
        </operation>
    </portType>
    <portType name="CorrelationInvokePortType2">
        <operation name="CorrelationInvokeOperation2">
            <input name="input1" message="tns:CorrelationInvokeOperationRequest2"/>
            <output name="output1" message="tns:CorrelationInvokeOperationRequest2"/>
        </operation>
    </portType>
    <binding name="binding1" type="tns:CorrelationInvokePortType1">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CorrelationInvokeOperation1">
            <input name="input1">
                <soap:body parts="part1" use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="binding4" type="tns:CorrelationInvokePortType4">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CorrelationInvokeOperation4">
            <input name="input1">
                <soap:body parts="part1" use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="binding3" type="tns:CorrelationInvokePortType3">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CorrelationInvokeOperation3">
            <input name="input1"></input>
        </operation>
    </binding>
    <binding name="binding2" type="tns:CorrelationInvokePortType2">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CorrelationInvokeOperation2">
            <input name="input1">
                <soap:body parts="part1" use="literal"/>
            </input>
            <output name="output1">
                <soap:body parts="part1" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="service1">
        <port name="port1" binding="tns:binding1">
            <soap:address location="http://localhost:18181/CorrelationInvoke/CorrelationInvoke/port1"/>
        </port>
        <port name="port2" binding="tns:binding2">
            <soap:address location="http://localhost:18181/CorrelationInvoke/CorrelationInvoke/port2"/>
        </port>
        <port name="port3" binding="tns:binding3">
            <soap:address location="http://localhost:18181/CorrelationInvoke/CorrelationInvoke/port3"/>
        </port>
        <port name="port4" binding="tns:binding4">
            <soap:address location="http://localhost:18181/CorrelationInvoke/CorrelationInvoke/port4"/>
        </port>
    </service>
    <plink:partnerLinkType name="CorrelationInvokePartner1">
        <plink:role name="CorrelationInvokePortType1MyRole" portType="tns:CorrelationInvokePortType1"/>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="CorrelationInvokePartner2">
        <plink:role name="CorrelationInvokePortType2PartnerRole" portType="tns:CorrelationInvokePortType2"/>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="CorrelationInvokePartner3">
        <plink:role name="CorrelationInvokePortType3MyRole" portType="tns:CorrelationInvokePortType3"/>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="CorrelationInvokePartner4">
        <plink:role name="CorrelationInvokePortType4PartnerRole" portType="tns:CorrelationInvokePortType4"/>
    </plink:partnerLinkType>
    <vprop:property name="property1" type="xsd:string"/>
    <vprop:property name="property2" type="xsd:int"/>
    <vprop:property name="property3" type="xsd:ID"/>
    <vprop:property name="property4" type="xsd:int"/>
    <vprop:property name="property5" type="xsd:ID"/>
    <vprop:property name="property6" type="xsd:string"/>
    <vprop:property name="property7" type="xsd:ID"/>
    <vprop:property name="property8" type="xsd:string"/>
    <vprop:property name="property9" type="xsd:int"/>
    <vprop:property name="property10" type="xsd:string"/>
    <vprop:property name="property101" type="xsd:ID"/>
    <vprop:property name="property11" type="xsd:string"/>
    <vprop:property name="property111" type="xsd:int"/>
    <vprop:propertyAlias propertyName="tns:property1" messageType="tns:CorrelationInvokeOperationRequest1" part="part1">
        <vprop:query>/myElement/myString</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property1" messageType="tns:CorrelationInvokeOperationRequest2" part="part1">
        <vprop:query>/myElement/myString</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property1" messageType="tns:CorrelationInvokeOperationRequest3" part="part1">
        <vprop:query>/myElement/myString</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property2" messageType="tns:CorrelationInvokeOperationRequest2" part="part1">
        <vprop:query>/myElement/myInt</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property2" messageType="tns:CorrelationInvokeOperationRequest3" part="part1">
        <vprop:query>/myElement/myInt</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property3" messageType="tns:CorrelationInvokeOperationRequest2" part="part1">
        <vprop:query>/myElement/myID</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property3" messageType="tns:CorrelationInvokeOperationRequest3" part="part1">
        <vprop:query>/myElement/myID</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property4" messageType="tns:CorrelationInvokeOperationRequest2" part="part1">
        <vprop:query>/myElement/myInt</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property4" messageType="tns:CorrelationInvokeOperationRequest3" part="part1">
        <vprop:query>/myElement/myInt</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property5" messageType="tns:CorrelationInvokeOperationRequest2" part="part1">
        <vprop:query>/myElement/myID</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property5" messageType="tns:CorrelationInvokeOperationRequest3" part="part1">
        <vprop:query>/myElement/myID</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property6" messageType="tns:CorrelationInvokeOperationRequest2" part="part1">
        <vprop:query>/myElement/myString</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property6" messageType="tns:CorrelationInvokeOperationRequest3" part="part1">
        <vprop:query>/myElement/myString</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property7" messageType="tns:CorrelationInvokeOperationRequest2" part="part1">
        <vprop:query>/myElement/myID</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property7" messageType="tns:CorrelationInvokeOperationRequest3" part="part1">
        <vprop:query>/myElement/myID</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property8" messageType="tns:CorrelationInvokeOperationRequest3" part="part1">
        <vprop:query>/myElement/myString</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property8" messageType="tns:CorrelationInvokeOperationRequest4" part="part1">
        <vprop:query>/myElement/myString</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property9" messageType="tns:CorrelationInvokeOperationRequest3" part="part1">
        <vprop:query>/myElement/myInt</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property9" messageType="tns:CorrelationInvokeOperationRequest4" part="part1">
        <vprop:query>/myElement/myInt</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property10" messageType="tns:CorrelationInvokeOperationRequest4" part="part1">
        <vprop:query>/myElement/myString</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property101" messageType="tns:CorrelationInvokeOperationRequest4" part="part1">
        <vprop:query>/myElement/myID</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property11" messageType="tns:CorrelationInvokeOperationRequest4" part="part1">
        <vprop:query>/myElement/myString</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property111" messageType="tns:CorrelationInvokeOperationRequest4" part="part1">
        <vprop:query>/myElement/myInt</vprop:query>
    </vprop:propertyAlias>
</definitions>
