contrib-imola/corba-bc/integration-test/test-consumer-fromidl-complex-uniontypes/consumer-fromidl-complex-uniontypes-jbi4corba-provider/src/main/resources/EchoUnionTypes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EchoUnionTypes" 
    targetNamespace="urn:jbi4corba/test-consumer-fromidl-complex-uniontypes" 
    xmlns:tns="urn:jbi4corba/test-consumer-fromidl-complex-uniontypes" 
    xmlns:tns1="http://testconsumerfromidluniontypes.test.jbi4corba.imolinfo.it/" 
    xmlns:imolacorba="uri://schemas.imola.it/jbi/wsdl-extensions/corba/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://testconsumerfromidluniontypes.test.jbi4corba.imolinfo.it/" schemaLocation="EchoUnionTypes_test-consumerfromidl-uniontypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="echo9Response">
        <wsdl:part name="parameters" element="tns1:echo9Response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo3Response">
        <wsdl:part name="parameters" element="tns1:echo3Response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo8">
        <wsdl:part name="parameters" element="tns1:echo8">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo1">
        <wsdl:part name="parameters" element="tns1:echo1">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo6">
        <wsdl:part name="parameters" element="tns1:echo6">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo2">
        <wsdl:part name="parameters" element="tns1:echo2">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo7Response">
        <wsdl:part name="parameters" element="tns1:echo7Response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo7">
        <wsdl:part name="parameters" element="tns1:echo7">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo5Response">
        <wsdl:part name="parameters" element="tns1:echo5Response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo2Response">
        <wsdl:part name="parameters" element="tns1:echo2Response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo1Response">
        <wsdl:part name="parameters" element="tns1:echo1Response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo3">
        <wsdl:part name="parameters" element="tns1:echo3">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo4Response">
        <wsdl:part name="parameters" element="tns1:echo4Response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo9">
        <wsdl:part name="parameters" element="tns1:echo9">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo8Response">
        <wsdl:part name="parameters" element="tns1:echo8Response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="EchoUnionException">
        <wsdl:part name="EchoUnionException" element="tns1:EchoUnionException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo4">
        <wsdl:part name="parameters" element="tns1:echo4">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo6Response">
        <wsdl:part name="parameters" element="tns1:echo6Response">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo5">
        <wsdl:part name="parameters" element="tns1:echo5">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EchoUnionTypesPortType">
        <wsdl:operation name="echo8">
            <wsdl:input name="echo8" message="tns:echo8">
            </wsdl:input>
            <wsdl:output name="echo8Response" message="tns:echo8Response">
            </wsdl:output>
            <wsdl:fault name="EchoUnionException" message="tns:EchoUnionException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="echo1">
            <wsdl:input name="echo1" message="tns:echo1">
            </wsdl:input>
            <wsdl:output name="echo1Response" message="tns:echo1Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo3">
            <wsdl:input name="echo3" message="tns:echo3">
            </wsdl:input>
            <wsdl:output name="echo3Response" message="tns:echo3Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo6">
            <wsdl:input name="echo6" message="tns:echo6">
            </wsdl:input>
            <wsdl:output name="echo6Response" message="tns:echo6Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo9">
            <wsdl:input name="echo9" message="tns:echo9">
            </wsdl:input>
            <wsdl:output name="echo9Response" message="tns:echo9Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo2">
            <wsdl:input name="echo2" message="tns:echo2">
            </wsdl:input>
            <wsdl:output name="echo2Response" message="tns:echo2Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo7">
            <wsdl:input name="echo7" message="tns:echo7">
            </wsdl:input>
            <wsdl:output name="echo7Response" message="tns:echo7Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo4">
            <wsdl:input name="echo4" message="tns:echo4">
            </wsdl:input>
            <wsdl:output name="echo4Response" message="tns:echo4Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo5">
            <wsdl:input name="echo5" message="tns:echo5">
            </wsdl:input>
            <wsdl:output name="echo5Response" message="tns:echo5Response">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EchoUnionTypesCorbaBinding" type="tns:EchoUnionTypesPortType">
        <imolacorba:binding>
            <imolacorba:idl>
module it{
module imolinfo{
module jbi4corba{
module test{
module testconsumerfromidluniontypes{
	
	union TempUnion switch (short){
		case 1: long numeric;
		case 2: string alfanumeric;
		default: any two_format;
	};
	
	union FirstUnion switch (short){
		case 1: long numeric;
		case 2: string alfanumeric;
		case 3: TempUnion uni1;
		case 4: sequence &lt;TempUnion&gt; uni2;
		default: any two_format;
	};

	union SecondUnion switch (short){
		case 1: long numeric;
		case 2: string alfanumeric;
		default: any two_format;
	};

	union ThirdUnion switch (short) { 
		case 1: long primo; 
		case 2: short secondo; 
		case 3: sequence &lt;FirstUnion&gt; third;
		default: boolean altro; 
	}; 
	
	union ForthUnion switch (short) { 
		case 1: long primo; 
		case 2: short secondo; 
		case 3: FirstUnion third;
		default: boolean altro; 
	}; 
	
	struct ComplexStruct1 {
		boolean          fieldBoolean;
		char               fieldChar;
	        SecondUnion    fieldWChar;
	};
	
	// exception
        					exception EchoUnionException {
            					ThirdUnion reason;
            				};     
	typedef ComplexStruct1 ArrayComplexStruct1[2][3];
	
	interface EchoUnionTypes {
		string echo1(in ThirdUnion msg);
		ThirdUnion echo2(inout SecondUnion msg);
		ComplexStruct1 echo3(in string msg);
		string echo4(in ComplexStruct1 msg);
		string echo5(inout ComplexStruct1 msg);
		ComplexStruct1 echo6(in string msg);
		ArrayComplexStruct1 echo7(in string msg);
		SecondUnion echo8(in string msg)
		raises(EchoUnionException);
		string echo9(in ArrayComplexStruct1 msg);
		};
		
};};};};};
            </imolacorba:idl>
        </imolacorba:binding>
        <wsdl:operation name="echo8">
            <wsdl:input name="echo8">
            </wsdl:input>
            <wsdl:output name="echo8Response">
            </wsdl:output>
            <wsdl:fault name="EchoUnionException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="echo7">
            <wsdl:input name="echo7">
            </wsdl:input>
            <wsdl:output name="echo7Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo6">
            <wsdl:input name="echo6">
            </wsdl:input>
            <wsdl:output name="echo6Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo9">
            <wsdl:input name="echo9">
            </wsdl:input>
            <wsdl:output name="echo9Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo2">
            <wsdl:input name="echo2">
            </wsdl:input>
            <wsdl:output name="echo2Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo1">
            <wsdl:input name="echo1">
            </wsdl:input>
            <wsdl:output name="echo1Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo4">
            <wsdl:input name="echo4">
            </wsdl:input>
            <wsdl:output name="echo4Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo3">
            <wsdl:input name="echo3">
            </wsdl:input>
            <wsdl:output name="echo3Response">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo5">
            <wsdl:input name="echo5">
            </wsdl:input>
            <wsdl:output name="echo5Response">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EchoUnionTypes">
        <wsdl:port name="EchoUnionTypesCorbaPort" binding="tns:EchoUnionTypesCorbaBinding">
            <imolacorba:address name="EchoUnionTypes" localizationType="NameService">
                <imolacorba:orb>
                    <imolacorba:property name="org.omg.CORBA.ORBInitialPort" value="1050"/>
                    <imolacorba:property name="org.omg.CORBA.ORBClass" value="com.sun.corba.ee.impl.orb.ORBImpl"/>
                    <imolacorba:property name="org.omg.CORBA.ORBInitialHost" value="localhost"/>
                </imolacorba:orb>
            </imolacorba:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
