ojc-core/bpelse/system-test/test/com/sun/jbi/engine/bpel/jbiadaptor/test/persistence/bpels/ScopeTermination/FaultFromEH/deployedFolder/IOWSDL5.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="IOWSDL5" targetNamespace="http://j2ee.netbeans.org/wsdl/IOWSDL5"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://j2ee.netbeans.org/wsdl/IOWSDL5">
    <types/>
    <message name="IOWSDL5OperationRequest">
        <part name="InputPart" type="xsd:string"/>
    </message>
    <message name="IOWSDL5OperationReply">
        <part name="OutputPart" type="xsd:string"/>
    </message>
    <portType name="IOWSDL5PortType">
        <wsdl:operation name="IOWSDL5Operation">
            <wsdl:input name="input1" message="tns:IOWSDL5OperationRequest"/>
            <wsdl:output name="output1" message="tns:IOWSDL5OperationReply"/>
        </wsdl:operation>
    </portType>
    <portType name="OneWayPT1">
        <wsdl:operation name="OneWayOper">
            <wsdl:input name="input1" message="tns:IOWSDL5OperationRequest"/>
        </wsdl:operation>
    </portType>
    <binding name="IOWSDL5Binding" type="tns:IOWSDL5PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="IOWSDL5Operation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/IOWSDL5"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/IOWSDL5"/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <binding name="OneWayBinding1" type="tns:OneWayPT1">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="OneWayOper">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/IOWSDL5"/>
            </wsdl:input>
        </wsdl:operation>
    </binding>
    <service name="IOWSDL5Service">
        <wsdl:port name="IOWSDL5Port" binding="tns:IOWSDL5Binding">
            <soap:address location="http://localhost:18181/TerminationHandlerBpel/FaultFromEH/IOWSDL5Service/IOWSDL5Port"/>
        </wsdl:port>
    </service>
    <service name="OneWayService1">
        <wsdl:port name="OneWayPort1" binding="tns:OneWayBinding1">
            <soap:address location="http://localhost:18181/TerminationHandlerBpel/FaultFromEH/OneWayService1/OneWayPort1"/>
        </wsdl:port>
    </service>    
    <plnk:partnerLinkType name="IOWSDL5Plink">
        <plnk:role name="IOWSDL5PortTypeRole" portType="tns:IOWSDL5PortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="OneWayPLT1">
        <plnk:role name="OneWayPT1Role" portType="tns:OneWayPT1"/>
    </plnk:partnerLinkType>    
</definitions>
