driver-tests/bpelse/xsddatatypes/XSDDataTypesBpel/src/XSDVariable_SDT_Operations/MostDataType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="urn:MostDataType"
	    attributeFormDefault="unqualified"
            elementFormDefault="qualified"
	    xmlns:tns="urn:MostDataType"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://schemas.xmlsoap.org/wsdl/">

        <xsd:element name="item" type="tns:MostDataType"/>

        <xsd:complexType name="optionalStringType">
	    <xsd:sequence minOccurs="0">
		<xsd:element type="xsd:string" name="begin_string"/>
		<xsd:element type="xsd:string" name="end_string" minOccurs="0"/>
		<xsd:element type="xsd:string" name="repeat_string" minOccurs="0" maxOccurs="unbounded"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="optionalIntType">
	    <xsd:sequence minOccurs="0">
		<xsd:element type="xsd:int" name="start_int"/>
		<xsd:element type="xsd:int" name="end_int" minOccurs="0"/>
		<xsd:element type="xsd:int" name="repeat_int" minOccurs="0" maxOccurs="unbounded"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="optionalUseType">
	    <xsd:sequence minOccurs="0">
		<xsd:element type="tns:optionalStringType" name="boundary_string" minOccurs="0"/>
		<xsd:element type="tns:optionalIntType" name="boundary_int" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="URIDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:anyURI" name="xsd_anyURI"/>
		<xsd:element type="xsd:anyURI" name="optional_anyURI" minOccurs="0"  default="http://www.sun.com"/>
		<xsd:element type="xsd:anyURI" name="repeat_anyURI" minOccurs="0" maxOccurs="unbounded" default="http://www.sun.com"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="base64BinaryDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:base64Binary" name="xsd_base64Binary"/>
		<xsd:element type="xsd:base64Binary" name="optional_base64Binary" minOccurs="0" default="UjBsR09EbGhjZ0dTQUxNQUFBUUNBRU1tQ1p0dU1GUXhEUzhi"/>
		<xsd:element type="xsd:base64Binary" name="repeat_base64Binary" minOccurs="0" maxOccurs="unbounded" default="UjBsR09EbGhjZ0dTQUxNQUFBUUNBRU1tQ1p0dU1GUXhEUzhi"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="booleanDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:boolean" name="xsd_boolean"/>
		<xsd:element type="xsd:boolean" name="optional_boolean" minOccurs="0" default="false"/>
		<xsd:element type="xsd:boolean" name="repeat_boolean" minOccurs="0" maxOccurs="unbounded" default="false"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="byteDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:byte" name="xsd_byte"/>
		<xsd:element type="xsd:byte" name="optional_byte" minOccurs="0" default="100"/>
		<xsd:element type="xsd:byte" name="repeat_byte" minOccurs="0" maxOccurs="unbounded" default="100"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="dateDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:date" name="xsd_date"/>
		<xsd:element type="xsd:date" name="optional_date" minOccurs="0" default="2005-08-25"/>
		<xsd:element type="xsd:date" name="repeat_date" minOccurs="0" maxOccurs="unbounded" default="2005-08-25"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="dateTimeDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:dateTime" name="xsd_dateTime"/>
		<xsd:element type="xsd:dateTime" name="optional_dateTime" minOccurs="0" default="2005-08-25T16:00:00.0Z"/>
		<xsd:element type="xsd:dateTime" name="repeat_dateTime" minOccurs="0" maxOccurs="unbounded" default="2005-08-25T16:00:00.0Z"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="decimalDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:decimal" name="xsd_decimal"/>
		<xsd:element type="xsd:decimal" name="optional_decimal" minOccurs="0" default="10.00005"/>
		<xsd:element type="xsd:decimal" name="repeat_decimal" minOccurs="0" maxOccurs="unbounded" default="10.00005"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="doubleDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:double" name="xsd_double"/>
		<xsd:element type="xsd:double" name="optional_double" minOccurs="0" default="1.5E6"/>
		<xsd:element type="xsd:double" name="repeat_double" minOccurs="0" maxOccurs="unbounded" default="1.5E6"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="durationDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:duration" name="xsd_duration"/>
		<xsd:element type="xsd:duration" name="optional_duration" minOccurs="0" default="P2005Y8M25DT16H0M0S"/>
		<xsd:element type="xsd:duration" name="repeat_duration" minOccurs="0" maxOccurs="unbounded" default="P2005Y8M25DT16H0M0S"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="floatDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:float" name="xsd_float"/>
		<xsd:element type="xsd:float" name="optional_float" minOccurs="0" default="1.5E5"/>
		<xsd:element type="xsd:float" name="repeat_float" minOccurs="0" maxOccurs="unbounded" default="1.5E5"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="gDayDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:gDay" name="xsd_gDay"/>
		<xsd:element type="xsd:gDay" name="optional_gDay" minOccurs="0" default="---25"/>
		<xsd:element type="xsd:gDay" name="repeat_gDay" minOccurs="0" maxOccurs="unbounded" default="---25"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="gMonthDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:gMonth" name="xsd_gMonth"/>
		<xsd:element type="xsd:gMonth" name="optional_gMonth" minOccurs="0" default="--08"/>
		<xsd:element type="xsd:gMonth" name="repeat_gMonth" minOccurs="0" maxOccurs="unbounded" default="--08"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="gMonthDayDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:gMonthDay" name="xsd_gMonthDay"/>
		<xsd:element type="xsd:gMonthDay" name="optional_gMonthDay" minOccurs="0" default="--08-25"/>
		<xsd:element type="xsd:gMonthDay" name="repeat_gMonthDay" minOccurs="0" maxOccurs="unbounded" default="--08-25"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="gYearDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:gYear" name="xsd_gYear"/>
		<xsd:element type="xsd:gYear" name="optional_gYear" minOccurs="0" default="2005"/>
		<xsd:element type="xsd:gYear" name="repeat_gYear" minOccurs="0" maxOccurs="unbounded" default="2005"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="gYearMonthDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:gYearMonth" name="xsd_gYearMonth"/>
		<xsd:element type="xsd:gYearMonth" name="optional_gYearMonth" minOccurs="0" default="2005-08"/>
		<xsd:element type="xsd:gYearMonth" name="repeat_gYearMonth" minOccurs="0" maxOccurs="unbounded" default="2005-08"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="hexBinaryDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:hexBinary" name="xsd_hexBinary"/>
		<xsd:element type="xsd:hexBinary" name="optional_hexBinary" minOccurs="0" default="41394644363445313243"/>
		<xsd:element type="xsd:hexBinary" name="repeat_hexBinary" minOccurs="0" maxOccurs="unbounded" default="41394644363445313243"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="intDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:int" name="xsd_int"/>
		<xsd:element type="xsd:int" name="optional_int" minOccurs="0" default="10"/>
		<xsd:element type="xsd:int" name="repeat_int" minOccurs="0" maxOccurs="unbounded" default="10"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="integerDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:integer" name="xsd_integer"/>
		<xsd:element type="xsd:integer" name="optional_integer" minOccurs="0" default="100"/>
		<xsd:element type="xsd:integer" name="repeat_integer" minOccurs="0" maxOccurs="unbounded" default="100"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="languageDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:language" name="xsd_language"/>
		<xsd:element type="xsd:language" name="optional_language" minOccurs="0" default="en"/>
		<xsd:element type="xsd:language" name="repeat_language" minOccurs="0" maxOccurs="unbounded" default="en"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="longDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:long" name="xsd_long"/>
		<xsd:element type="xsd:long" name="optional_long" minOccurs="0" default="1000000000"/>
		<xsd:element type="xsd:long" name="repeat_long" minOccurs="0" maxOccurs="unbounded" default="1000000000"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NameDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:Name" name="xsd_Name"/>
		<xsd:element type="xsd:Name" name="optional_Name" minOccurs="0" default="UndefinedNameLength21"/>
		<xsd:element type="xsd:Name" name="repeat_Name" minOccurs="0" maxOccurs="unbounded" default="UndefinedNameLength21"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NCNameDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:NCName" name="xsd_NCName"/>
		<xsd:element type="xsd:NCName" name="optional_NCName" minOccurs="0" default="UndefinedNCNameLength23"/>
		<xsd:element type="xsd:NCName" name="repeat_NCName" minOccurs="0" maxOccurs="unbounded" default="UndefinedNCNameLength23"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="negativeIntegerDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:negativeInteger" name="xsd_negativeInteger"/>
		<xsd:element type="xsd:negativeInteger" name="optional_negativeInteger" minOccurs="0" default="-100"/>
		<xsd:element type="xsd:negativeInteger" name="repeat_negativeInteger" minOccurs="0" maxOccurs="unbounded" default="-100"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="normalizedStringDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:normalizedString" name="xsd_normalizedString"/>
		<xsd:element type="xsd:normalizedString" name="optional_normalizedString" minOccurs="0" default="Undefined_String_Length_26"/>
		<xsd:element type="xsd:normalizedString" name="repeat_normalizedString" minOccurs="0" maxOccurs="unbounded" default="Undefined_String_Length_26"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="positiveIntegerDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:positiveInteger" name="xsd_positiveInteger"/>
		<xsd:element type="xsd:positiveInteger" name="optional_positiveInteger" minOccurs="0" default="100"/>
		<xsd:element type="xsd:positiveInteger" name="repeat_positiveInteger" minOccurs="0" maxOccurs="unbounded" default="100"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="QNameDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:QName" name="xsd_QName"/>
		<xsd:element type="xsd:QName" name="optional_QName" minOccurs="0" default="tns:QNameLength17"/>
		<xsd:element type="xsd:QName" name="repeat_QName" minOccurs="0" maxOccurs="unbounded" default="tns:QNameLength17"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="shortDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:short" name="xsd_short"/>
		<xsd:element type="xsd:short" name="optional_short" minOccurs="0" default="1000"/>
		<xsd:element type="xsd:short" name="repeat_short" minOccurs="0" maxOccurs="unbounded" default="1000"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="stringDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:string" name="xsd_string"/>
		<xsd:element type="xsd:string" name="optional_string" minOccurs="0" default="Undefined String Length 26"/>
		<xsd:element type="xsd:string" name="repeat_string" minOccurs="0" maxOccurs="unbounded" default="Undefined String Length 26"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="timeDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:time" name="xsd_time"/>
		<xsd:element type="xsd:time" name="optional_time" minOccurs="0" default="16:00:00.000000"/>
		<xsd:element type="xsd:time" name="repeat_time" minOccurs="0" maxOccurs="unbounded" default="16:00:00.000000"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unsignedByteDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:unsignedByte" name="xsd_unsignedByte"/>
		<xsd:element type="xsd:unsignedByte" name="optional_unsignedByte" minOccurs="0" default="100"/>
		<xsd:element type="xsd:unsignedByte" name="repeat_unsignedByte" minOccurs="0" maxOccurs="unbounded" default="100"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unsignedIntDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:unsignedInt" name="xsd_unsignedInt"/>
		<xsd:element type="xsd:unsignedInt" name="optional_unsignedInt" minOccurs="0" default="100"/>
		<xsd:element type="xsd:unsignedInt" name="repeat_unsignedInt" minOccurs="0" maxOccurs="unbounded" default="100"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unsignedLongDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:unsignedLong" name="xsd_unsignedLong"/>
		<xsd:element type="xsd:unsignedLong" name="optional_unsignedLong" minOccurs="0" default="1000000000"/>
		<xsd:element type="xsd:unsignedLong" name="repeat_unsignedLong" minOccurs="0" maxOccurs="unbounded" default="1000000000"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="unsignedShortDataType">
	    <xsd:sequence minOccurs="0" maxOccurs="unbounded">
		<xsd:element type="xsd:unsignedShort" name="xsd_unsignedShort"/>
		<xsd:element type="xsd:unsignedShort" name="optional_unsignedShort" minOccurs="0" default="10000"/>
		<xsd:element type="xsd:unsignedShort" name="repeat_unsignedShort" minOccurs="0" maxOccurs="unbounded" default="10000"/>
		<xsd:element type="tns:optionalUseType" name="optional" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="MostDataType">
	    <xsd:sequence>
		<xsd:element type="tns:URIDataType" name="anyURI" minOccurs="0"/>
                <xsd:element type="tns:base64BinaryDataType" name="any_base64Binary" minOccurs="0"/>
                <xsd:element type="tns:booleanDataType" name="any_boolean" minOccurs="0"/>
                <xsd:element type="tns:byteDataType" name="any_byte" minOccurs="0"/>
                <xsd:element type="tns:dateDataType" name="any_date" minOccurs="0"/>
                <xsd:element type="tns:dateTimeDataType" name="any_dateTime" minOccurs="0"/>
                <xsd:element type="tns:decimalDataType" name="any_decimal" minOccurs="0"/>
                <xsd:element type="tns:doubleDataType" name="any_double" minOccurs="0"/>
                <xsd:element type="tns:durationDataType" name="any_duration" minOccurs="0"/>
                <xsd:element type="tns:floatDataType" name="any_float" minOccurs="0"/>
                <xsd:element type="tns:gDayDataType" name="any_gDay" minOccurs="0"/>
                <xsd:element type="tns:gMonthDataType" name="any_gMonth" minOccurs="0"/>
                <xsd:element type="tns:gMonthDayDataType" name="any_gMonthDay" minOccurs="0"/>
                <xsd:element type="tns:gYearDataType" name="any_gYear" minOccurs="0"/>
                <xsd:element type="tns:gYearMonthDataType" name="any_gYearMonth" minOccurs="0"/>
                <xsd:element type="tns:hexBinaryDataType" name="any_hexBinary" minOccurs="0"/>
                <xsd:element type="tns:intDataType" name="any_int" minOccurs="0"/>
                <xsd:element type="tns:integerDataType" name="any_integer" minOccurs="0"/>
                <xsd:element type="tns:languageDataType" name="any_language" minOccurs="0"/>
                <xsd:element type="tns:longDataType" name="any_long" minOccurs="0"/>
                <xsd:element type="tns:NameDataType" name="any_Name" minOccurs="0"/>
                <xsd:element type="tns:NCNameDataType" name="any_NCName" minOccurs="0"/>
                <xsd:element type="tns:negativeIntegerDataType" name="any_negativeInteger" minOccurs="0"/>
                <xsd:element type="tns:normalizedStringDataType" name="any_normalizedString" minOccurs="0"/>
                <xsd:element type="tns:positiveIntegerDataType" name="any_positiveInteger" minOccurs="0"/>
                <xsd:element type="tns:QNameDataType" name="any_QName" minOccurs="0"/>
                <xsd:element type="tns:shortDataType" name="any_short" minOccurs="0"/>
                <xsd:element type="tns:stringDataType" name="any_string" minOccurs="0"/>
                <xsd:element type="tns:timeDataType" name="any_time" minOccurs="0"/>
                <xsd:element type="tns:unsignedByteDataType" name="any_unsignedByte" minOccurs="0"/>
                <xsd:element type="tns:unsignedIntDataType" name="any_unsignedInt" minOccurs="0"/>
                <xsd:element type="tns:unsignedLongDataType" name="any_unsignedLong" minOccurs="0"/>
                <xsd:element type="tns:unsignedShortDataType" name="any_unsignedShort" minOccurs="0"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MandoratoryDataType">
	    <xsd:sequence>
		<xsd:element type="tns:URIDataType" name="anyURI"/>
                <xsd:element type="tns:base64BinaryDataType" name="any_base64Binary"/>
                <xsd:element type="tns:booleanDataType" name="any_boolean"/>
                <xsd:element type="tns:byteDataType" name="any_byte"/>
                <xsd:element type="tns:dateDataType" name="any_date"/>
                <xsd:element type="tns:dateTimeDataType" name="any_dateTime"/>
                <xsd:element type="tns:decimalDataType" name="any_decimal"/>
                <xsd:element type="tns:doubleDataType" name="any_double"/>
                <xsd:element type="tns:durationDataType" name="any_duration"/>
                <xsd:element type="tns:floatDataType" name="any_float"/>
                <xsd:element type="tns:gDayDataType" name="any_gDay"/>
                <xsd:element type="tns:gMonthDataType" name="any_gMonth"/>
                <xsd:element type="tns:gMonthDayDataType" name="any_gMonthDay"/>
                <xsd:element type="tns:gYearDataType" name="any_gYear"/>
                <xsd:element type="tns:gYearMonthDataType" name="any_gYearMonth"/>
                <xsd:element type="tns:hexBinaryDataType" name="any_hexBinary"/>
                <xsd:element type="tns:intDataType" name="any_int"/>
                <xsd:element type="tns:integerDataType" name="any_integer"/>
                <xsd:element type="tns:languageDataType" name="any_language"/>
                <xsd:element type="tns:longDataType" name="any_long"/>
                <xsd:element type="tns:NameDataType" name="any_Name"/>
                <xsd:element type="tns:NCNameDataType" name="any_NCName"/>
                <xsd:element type="tns:negativeIntegerDataType" name="any_negativeInteger"/>
                <xsd:element type="tns:normalizedStringDataType" name="any_normalizedString"/>
                <xsd:element type="tns:positiveIntegerDataType" name="any_positiveInteger"/>
                <xsd:element type="tns:QNameDataType" name="any_QName"/>
                <xsd:element type="tns:shortDataType" name="any_short"/>
                <xsd:element type="tns:stringDataType" name="any_string"/>
                <xsd:element type="tns:timeDataType" name="any_time"/>
                <xsd:element type="tns:unsignedByteDataType" name="any_unsignedByte"/>
                <xsd:element type="tns:unsignedIntDataType" name="any_unsignedInt"/>
                <xsd:element type="tns:unsignedLongDataType" name="any_unsignedLong"/>
                <xsd:element type="tns:unsignedShortDataType" name="any_unsignedShort"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RepeatDataType">
	    <xsd:sequence>
		<xsd:element type="tns:URIDataType" name="anyURI" maxOccurs="unbounded"/>
                <xsd:element type="tns:base64BinaryDataType" name="any_base64Binary" maxOccurs="unbounded"/>
                <xsd:element type="tns:booleanDataType" name="any_boolean" maxOccurs="unbounded"/>
                <xsd:element type="tns:byteDataType" name="any_byte" maxOccurs="unbounded"/>
                <xsd:element type="tns:dateDataType" name="any_date" maxOccurs="unbounded"/>
                <xsd:element type="tns:dateTimeDataType" name="any_dateTime" maxOccurs="unbounded"/>
                <xsd:element type="tns:decimalDataType" name="any_decimal" maxOccurs="unbounded"/>
                <xsd:element type="tns:doubleDataType" name="any_double" maxOccurs="unbounded"/>
                <xsd:element type="tns:durationDataType" name="any_duration" maxOccurs="unbounded"/>
                <xsd:element type="tns:floatDataType" name="any_float" maxOccurs="unbounded"/>
                <xsd:element type="tns:gDayDataType" name="any_gDay" maxOccurs="unbounded"/>
                <xsd:element type="tns:gMonthDataType" name="any_gMonth" maxOccurs="unbounded"/>
                <xsd:element type="tns:gMonthDayDataType" name="any_gMonthDay" maxOccurs="unbounded"/>
                <xsd:element type="tns:gYearDataType" name="any_gYear" maxOccurs="unbounded"/>
                <xsd:element type="tns:gYearMonthDataType" name="any_gYearMonth" maxOccurs="unbounded"/>
                <xsd:element type="tns:hexBinaryDataType" name="any_hexBinary" maxOccurs="unbounded"/>
                <xsd:element type="tns:intDataType" name="any_int" maxOccurs="unbounded"/>
                <xsd:element type="tns:integerDataType" name="any_integer" maxOccurs="unbounded"/>
                <xsd:element type="tns:languageDataType" name="any_language" maxOccurs="unbounded"/>
                <xsd:element type="tns:longDataType" name="any_long" maxOccurs="unbounded"/>
                <xsd:element type="tns:NameDataType" name="any_Name" maxOccurs="unbounded"/>
                <xsd:element type="tns:NCNameDataType" name="any_NCName" maxOccurs="unbounded"/>
                <xsd:element type="tns:negativeIntegerDataType" name="any_negativeInteger" maxOccurs="unbounded"/>
                <xsd:element type="tns:normalizedStringDataType" name="any_normalizedString" maxOccurs="unbounded"/>
                <xsd:element type="tns:positiveIntegerDataType" name="any_positiveInteger" maxOccurs="unbounded"/>
                <xsd:element type="tns:QNameDataType" name="any_QName" maxOccurs="unbounded"/>
                <xsd:element type="tns:shortDataType" name="any_short" maxOccurs="unbounded"/>
                <xsd:element type="tns:stringDataType" name="any_string" maxOccurs="unbounded"/>
                <xsd:element type="tns:timeDataType" name="any_time" maxOccurs="unbounded"/>
                <xsd:element type="tns:unsignedByteDataType" name="any_unsignedByte" maxOccurs="unbounded"/>
                <xsd:element type="tns:unsignedIntDataType" name="any_unsignedInt" maxOccurs="unbounded"/>
                <xsd:element type="tns:unsignedLongDataType" name="any_unsignedLong" maxOccurs="unbounded"/>
                <xsd:element type="tns:unsignedShortDataType" name="any_unsignedShort" maxOccurs="unbounded"/>
	    </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OptionalRepeatDataType">
	    <xsd:sequence>
		<xsd:element type="tns:URIDataType" name="anyURI" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:base64BinaryDataType" name="any_base64Binary" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:booleanDataType" name="any_boolean" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:byteDataType" name="any_byte" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:dateDataType" name="any_date" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:dateTimeDataType" name="any_dateTime" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:decimalDataType" name="any_decimal" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:doubleDataType" name="any_double" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:durationDataType" name="any_duration" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:floatDataType" name="any_float" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:gDayDataType" name="any_gDay" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:gMonthDataType" name="any_gMonth" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:gMonthDayDataType" name="any_gMonthDay" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:gYearDataType" name="any_gYear" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:gYearMonthDataType" name="any_gYearMonth" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:hexBinaryDataType" name="any_hexBinary" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:intDataType" name="any_int" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:integerDataType" name="any_integer" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:languageDataType" name="any_language" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:longDataType" name="any_long" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:NameDataType" name="any_Name" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:NCNameDataType" name="any_NCName" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:negativeIntegerDataType" name="any_negativeInteger" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:normalizedStringDataType" name="any_normalizedString" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:positiveIntegerDataType" name="any_positiveInteger" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:QNameDataType" name="any_QName" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:shortDataType" name="any_short" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:stringDataType" name="any_string" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:timeDataType" name="any_time" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:unsignedByteDataType" name="any_unsignedByte" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:unsignedIntDataType" name="any_unsignedInt" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:unsignedLongDataType" name="any_unsignedLong" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element type="tns:unsignedShortDataType" name="any_unsignedShort" minOccurs="0" maxOccurs="unbounded"/>
	    </xsd:sequence>
	</xsd:complexType>
    <xsd:element type="tns:MostDataType" name="MostDataPart"/>
    <xsd:element type="tns:MostDataType" name="OptionalDataPart"/>
    <xsd:element type="tns:MandoratoryDataType" name="MandoratoryDataPart"/>
    <xsd:element type="tns:RepeatDataType" name="RepeatDataPart"/>
    <xsd:element type="tns:OptionalRepeatDataType" name="OptionalRepeatDataPart"/>
    <xsd:element type="tns:URIDataType" name="anyURIPart"/>
    <xsd:element type="tns:base64BinaryDataType" name="base64BinaryPart"/>
    <xsd:element type="tns:booleanDataType" name="booleanPart"/>
    <xsd:element type="tns:byteDataType" name="bytePart"/>
    <xsd:element type="tns:dateDataType" name="datePart"/>
    <xsd:element type="tns:dateTimeDataType" name="dateTimePart"/>
    <xsd:element type="tns:decimalDataType" name="decimalPart"/>
    <xsd:element type="tns:doubleDataType" name="doublePart"/>
    <xsd:element type="tns:durationDataType" name="durationPart"/>
    <xsd:element type="tns:floatDataType" name="floatPart"/>
    <xsd:element type="tns:gDayDataType" name="gDayPart"/>
    <xsd:element type="tns:gMonthDataType" name="gMonthPart"/>
    <xsd:element type="tns:gMonthDayDataType" name="gMonthDayPart"/>
    <xsd:element type="tns:gYearDataType" name="gYearPart"/>
    <xsd:element type="tns:gYearMonthDataType" name="gYearMonthPart"/>
    <xsd:element type="tns:hexBinaryDataType" name="hexBinaryPart"/>
    <xsd:element type="tns:intDataType" name="intPart"/>
    <xsd:element type="tns:integerDataType" name="integerPart"/>
    <xsd:element type="tns:languageDataType" name="languagePart"/>
    <xsd:element type="tns:longDataType" name="longPart"/>
    <xsd:element type="tns:NameDataType" name="NamePart"/>
    <xsd:element type="tns:NCNameDataType" name="NCNamePart"/>
    <xsd:element type="tns:negativeIntegerDataType" name="negativeIntegerPart"/>
    <xsd:element type="tns:normalizedStringDataType" name="normalizedStringPart"/>
    <xsd:element type="tns:positiveIntegerDataType" name="positiveIntegerPart"/>
    <xsd:element type="tns:QNameDataType" name="QNamePart"/>
    <xsd:element type="tns:shortDataType" name="shortPart"/>
    <xsd:element type="tns:stringDataType" name="stringPart"/>
    <xsd:element type="tns:timeDataType" name="timePart"/>
    <xsd:element type="tns:unsignedByteDataType" name="unsignedBytePart"/>
    <xsd:element type="tns:unsignedIntDataType" name="unsignedIntPart"/>
    <xsd:element type="tns:unsignedLongDataType" name="unsignedLongPart"/>
    <xsd:element type="tns:unsignedShortDataType" name="unsignedShortPart"/>
</xsd:schema>