driver-tests/bpelse/scalability/Test2/ScalabilityTest2BP/src/MainProcessWSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is unknown. -->
<definitions targetNamespace="http://services/fm" name="AlarmIRPProxy" xmlns:tns="http://services/fm" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <import namespace="http://services/fm" location="Partners/AlarmIRP/AlarmIRPPortType.wsdl"/>
    <wsp:UsingPolicy/>
    <wsp:Policy wsu:Id="AlarmIRPPortTypePortBinding_getAlarmsBySeverity10x1k_WSAT_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <ns31:ATAlwaysCapability wsp:Optional="false" xmlns:ns31="http://schemas.xmlsoap.org/ws/2004/10/wsat"/>
                <ns32:ATAssertion ns33:Optional="true" wsp:Optional="true" xmlns:ns32="http://schemas.xmlsoap.org/ws/2004/10/wsat" xmlns:ns33="http://schemas.xmlsoap.org/ws/2002/12/policy"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="AlarmIRPPortTypePortBinding_getAlarmsBySeverity10000x1k_WSAT_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <ns37:ATAlwaysCapability wsp:Optional="false" xmlns:ns37="http://schemas.xmlsoap.org/ws/2004/10/wsat"/>
                <ns38:ATAssertion ns39:Optional="true" wsp:Optional="true" xmlns:ns39="http://schemas.xmlsoap.org/ws/2002/12/policy" xmlns:ns38="http://schemas.xmlsoap.org/ws/2004/10/wsat"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="AlarmIRPPortTypePortBinding_getAlarmsBySeverity1000x1k_WSAT_Policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <ns43:ATAlwaysCapability wsp:Optional="false" xmlns:ns43="http://schemas.xmlsoap.org/ws/2004/10/wsat"/>
                <ns44:ATAssertion ns45:Optional="true" wsp:Optional="true" xmlns:ns44="http://schemas.xmlsoap.org/ws/2004/10/wsat" xmlns:ns45="http://schemas.xmlsoap.org/ws/2002/12/policy"/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <types>
        <xsd:schema xmlns:tns="http://services/fm">
            <xsd:import namespace="http://services/fm" schemaLocation="Partners/AlarmIRP/AlarmIRPPortType_xsd_1.xsd"/>
        </xsd:schema>
    </types>
    <message name="subBPMessage">
        <part name="correlationIdPart" type="xsd:string"/>
        <part name="messagePart" type="xsd:string"/>
    </message>
    <message name="AlarmIRPProxyOperationRequest">
        <part name="part1" type="xsd:long"/>
    </message>
    <portType name="AlarmIRPProxyPortType">
        <operation name="getAlarmsBySeverity10x1k">
            <input message="tns:getAlarmsBySeverity10x1k"/>
        </operation>
        <operation name="getAlarmsBySeverity1000x1k">
            <input message="tns:getAlarmsBySeverity1000x1k"/>
        </operation>
        <operation name="getAlarmsBySeverity10000x1k">
            <input message="tns:getAlarmsBySeverity10000x1k"/>
        </operation>
    </portType>
    <portType name="SubBPRecvPortType1">
        <operation name="SubBPRecvOperation">
            <input name="input1" message="tns:subBPMessage"/>
        </operation>
    </portType>
    <binding name="AlarmIRPProxyPortTypePortBinding" type="tns:AlarmIRPProxyPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getAlarmsBySeverity10x1k">
            <wsp:PolicyReference URI="#AlarmIRPPortTypePortBinding_getAlarmsBySeverity10x1k_WSAT_Policy"/>
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="getAlarmsBySeverity1000x1k">
            <wsp:PolicyReference URI="#AlarmIRPPortTypePortBinding_getAlarmsBySeverity1000x1k_WSAT_Policy"/>
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="getAlarmsBySeverity10000x1k">
            <wsp:PolicyReference URI="#AlarmIRPPortTypePortBinding_getAlarmsBySeverity10000x1k_WSAT_Policy"/>
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="SubBPRecvPortType1Binding" type="tns:SubBPRecvPortType1">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SubBPRecvOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://services/fm"/>
            </input>
        </operation>
    </binding>
    <service name="AlarmIRPProxy">
        <port name="AlarmIRPProxyPortTypePort" binding="tns:AlarmIRPProxyPortTypePortBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/AlarmIRPProxy"/>
        </port>
    </service>
    <service name="SubBPRecvService">
        <port name="port1" binding="tns:SubBPRecvPortType1Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/AlarmIRPBpel2/AlarmIRPProxy/port1"/>
        </port>
    </service>

    <plnk:partnerLinkType name="AlarmIRPProxyLinkType">
        <plnk:role name="AlarmIRPProxyRole" portType="tns:AlarmIRPProxyPortType"/>
    </plnk:partnerLinkType>

    <plnk:partnerLinkType name="AlarmIRPProxy">
        <plnk:role name="SubBPRecvPortType1Role" portType="tns:SubBPRecvPortType1"/>
    </plnk:partnerLinkType>
    
    <plnk:partnerLinkType name="SubBPRecvPartnerlinkType">
        <plnk:role name="subBPRecvRole" portType="tns:SubBPRecvPortType1"/>
    </plnk:partnerLinkType>
    
    <vprop:property name="alarms10x1k" element="tns:getAlarmsBySeverity10x1k"/>
    <vprop:property name="response10x1k" element="tns:getAlarmsBySeverity10x1kResponse"/>
    <vprop:propertyAlias propertyName="tns:alarms10x1k" messageType="tns:getAlarmsBySeverity10x1k" part="parameters"/>
    <vprop:propertyAlias propertyName="tns:response10x1k" messageType="tns:getAlarmsBySeverity10x1kResponse" part="parameters"/>

    
    <vprop:property name="propertyName1" type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:propertyName1" messageType="tns:getAlarmsBySeverity10x1k" part="parameters">
        <vprop:query>correlationId</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:propertyName1" messageType="tns:getAlarmsBySeverity1000x1k" part="parameters">
        <vprop:query>correlationId</vprop:query>
    </vprop:propertyAlias>    
    <vprop:propertyAlias propertyName="tns:propertyName1" messageType="tns:getAlarmsBySeverity10000x1k" part="parameters">
        <vprop:query>correlationId</vprop:query>
    </vprop:propertyAlias>       
    <vprop:propertyAlias propertyName="tns:propertyName1" messageType="tns:subBPMessage" part="correlationIdPart"/>
</definitions>