driver-tests/sqlse/derby/selectfalsebpelJbi/src/jbiServiceUnits/selectfalseBPEL/selectfalsebpelSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="selectfalsebpelSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="selectfalsebpelRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:decimal"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="selectfalsebpelResponse"><xsd:complexType><xsd:sequence><xsd:element name="DISCOUNT_CODE" type="xsd:string"/><xsd:element name="RATE" type="xsd:decimal"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="selectfalsebpelRequest">
    <part name="selectfalsebpelRequestPart" element="tns:selectfalsebpelRequest"/>
  </message>
  <message name="selectfalsebpelResponse">
    <part name="selectfalsebpelResponsePart" element="tns:selectfalsebpelResponse"/>
  </message>
  <portType name="selectfalsebpelSQL_sqlsePortType">
    <operation name="selectfalsebpel">
      <input name="selectfalsebpelRequest" message="tns:selectfalsebpelRequest"/>
      <output name="selectfalsebpelResponse" message="tns:selectfalsebpelResponse"/>
    </operation>
  </portType>
  <binding name="selectfalsebpelSQLBinding" type="tns:selectfalsebpelSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="selectfalsebpel">
      <soap:operation style="document"/>
      <input name="selectfalsebpelRequest">
        <soap:body use="literal"/>
      </input>
      <output name="selectfalsebpelResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="selectfalsebpelSQL_sqlseService">
    <port name="selectfalsebpelSQL_sqlsePort" binding="tns:selectfalsebpelSQLBinding">
      <soap:address location="http://localhost:18181/selectfalsebpelSQL/selectfalsebpelSQL/selectfalsebpelSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="selectfalsebpelSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="selectfalsebpelSQL_myrole" portType="tns:selectfalsebpelSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
