driver-tests/sqlse/derby/selectwrongparamvalSQL/src/selectwrongparamvalSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="selectwrongparamvalSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="selectwrongparamvalRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="selectwrongparamvalResponse"><xsd:complexType><xsd:sequence><xsd:element name="CUSTOMER_NUM" type="xsd:int"/><xsd:element name="DISCOUNT_CODE" type="xsd:string"/><xsd:element name="ZIP" type="xsd:string"/><xsd:element name="NAME" type="xsd:string"/><xsd:element name="ADDR_LN1" type="xsd:string"/><xsd:element name="ADDR_LN2" type="xsd:string"/><xsd:element name="CITY" type="xsd:string"/><xsd:element name="STATE" type="xsd:string"/><xsd:element name="PHONE" type="xsd:string"/><xsd:element name="FAX" type="xsd:string"/><xsd:element name="EMAIL" type="xsd:string"/><xsd:element name="CREDIT_LIMIT" type="xsd:int"/><xsd:element name="LAST_SALE_DATE" type="xsd:string"/><xsd:element name="LAST_SALE_TIME" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="selectwrongparamvalResponse">
    <part name="selectwrongparamvalResponsePart" element="tns:selectwrongparamvalResponse"/>
  </message>
  <message name="selectwrongparamvalRequest">
    <part name="selectwrongparamvalRequestPart" element="tns:selectwrongparamvalRequest"/>
  </message>
  <portType name="selectwrongparamvalSQL_sqlsePortType">
    <operation name="selectwrongparamval">
      <input name="selectwrongparamvalRequest" message="tns:selectwrongparamvalRequest"/>
      <output name="selectwrongparamvalResponse" message="tns:selectwrongparamvalResponse"/>
    </operation>
  </portType>
  <binding name="selectwrongparamvalSQLBinding" type="tns:selectwrongparamvalSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="selectwrongparamval">
      <soap:operation style="document"/>
      <input name="selectwrongparamvalRequest">
        <soap:body use="literal"/>
      </input>
      <output name="selectwrongparamvalResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="selectwrongparamvalSQL_sqlseService">
    <port name="selectwrongparamvalSQL_sqlsePort" binding="tns:selectwrongparamvalSQLBinding">
      <soap:address location="http://localhost:18181/selectwrongparamvalSQL/selectwrongparamvalSQL/selectwrongparamvalSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="selectwrongparamvalSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="selectwrongparamvalSQL_myrole" portType="tns:selectwrongparamvalSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
