driver-tests/bpelse/flow/FlowBpel/src/FlowForEach/FlowForEach.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="FlowForEach" targetNamespace="http://j2ee.netbeans.org/wsdl/FlowForEach"
    xmlns:tns="http://j2ee.netbeans.org/wsdl/FlowForEach"
    xmlns:ns1="http://j2ee.netbeans.org/wsdl/FlowForEach/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/FlowForEach/types">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="FlowForEachRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="FlowForEachResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="FlowForEachError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="FlowForEachPortType">
    <operation name="FlowForEachOperation">
      <input message="tns:FlowForEachRequest"/>
      <output message="tns:FlowForEachResponse"/>
      <fault message="tns:FlowForEachError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="FlowForEachBinding" type="tns:FlowForEachPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="FlowForEachOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="FlowForEachService">
    <port name="FlowForEachPort" binding="tns:FlowForEachBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <message name="FlowForEachMessage">
        <part name="branch1" type="xsd:string"/>
        <part name="branch2" type="xsd:string"/>
        <part name="loops" type="xsd:int"/>
    </message>
    <portType name="FlowForEachPortType">
        <operation name="FlowForEachOperation">
            <input name="input1" message="tns:FlowForEachMessage"/>
            <output name="output1" message="tns:FlowForEachMessage"/>
        </operation>
    </portType>
    <binding name="FlowForEachBinding" type="tns:FlowForEachPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="FlowForEachOperation">
            <input name="input1">
                <soap:body/>
            </input>
            <output name="output1">
                <soap:body/>
            </output>
        </operation>
    </binding>
    <service name="FlowForEachService">
        <port name="FlowForEachPort" binding="tns:FlowForEachBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/FlowForEach"/>
        </port>
    </service>
    <plink:partnerLinkType name="FlowForEachPLT">
        <plink:role name="FlowForEachPLTRole" portType="tns:FlowForEachPortType"/>
    </plink:partnerLinkType>
</definitions>
