ojc-core/bpelse/bpelcore/test/com/sun/jbi/engine/bpel/core/test/modelparsing/bpel/correlation/invoke2/request-response-initiateyes/request-response-initiateyes_parent.wsdl

<definitions targetNamespace="request-response-initiateyesParent"
             name="request-response-initiateyesParent"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="request-response-initiateyesParent"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="request-response-initiateyesParentServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
                   portType="tns:request-response-initiateyesParentPortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="request-response-initiateyesParentServiceLinkType1"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
                   portType="tns:request-response-initiateyesParentPortType1"></plnk:role>
    </plnk:partnerLinkType>
    <vprop:property name="property"
                   type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:property"
                        messageType="tns:request-response-initiateyesParentMessage"
                        part="request-response-initiateyesParentPart">
            <vprop:query>/request-response-initiateyesParentElement/string</vprop:query>
    </vprop:propertyAlias> 
     <vprop:propertyAlias propertyName="tns:property"
                        messageType="tns:request-response-initiateyesParentMessage1"
                        part="request-response-initiateyesParentPart">
            <vprop:query>/request-response-initiateyesParentElement/string</vprop:query>
    </vprop:propertyAlias>
    
    <types>
        <xsd:schema targetNamespace="request-response-initiateyesParent"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
                    xmlns:tns="request-response-initiateyesParent"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
                    <xsd:element type="tns:request-response-initiateyesParentType"
                         name="request-response-initiateyesParentElement"></xsd:element>
            <xsd:complexType name="request-response-initiateyesParentType">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="request-response-initiateyesParentMessage">
        <part name="request-response-initiateyesParentPart"
              element="tns:request-response-initiateyesParentElement"></part>
    </message>
    <message name="request-response-initiateyesParentMessage1">
        <part name="request-response-initiateyesParentPart"
              element="tns:request-response-initiateyesParentElement"></part>
    </message>
    <portType name="request-response-initiateyesParentPortType">
        <operation name="request-response-initiateyesParentOperation">
            <input message="tns:request-response-initiateyesParentMessage"></input>
            <output message="tns:request-response-initiateyesParentMessage"></output>
        </operation>
    </portType>
    <portType name="request-response-initiateyesParentPortType1">
        <operation name="request-response-initiateyesParentOperation1">
            <input message="tns:request-response-initiateyesParentMessage1"></input>
        </operation>
    </portType>
    <binding name="request-response-initiateyesParentBinding"
             type="tns:request-response-initiateyesParentPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="request-response-initiateyesParentOperation">
            <soap:operation soapAction="request-response-initiateyesParentOperation"/>
            <input>
                <soap:body parts="request-response-initiateyesParentPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="request-response-initiateyesParentPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="request-response-initiateyesParentBinding1"
             type="tns:request-response-initiateyesParentPortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="request-response-initiateyesParentOperation1">
            <soap:operation soapAction="request-response-initiateyesParentOperation1"/>
            <input>
                <soap:body parts="request-response-initiateyesParentPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="request-response-initiateyesParentService">
        <port name="request-response-initiateyesParentPort"
              binding="tns:request-response-initiateyesParentBinding">
            <soap:address location="http://localhost:12100/service/request-response-initiateyesParentService"/>
        </port>
        <port name="request-response-initiateyesParentPort1"
              binding="tns:request-response-initiateyesParentBinding1">
            <soap:address location="http://localhost:12100/service/request-response-initiateyesParentService1"/>
        </port>
    </service>
</definitions>
