ojc-core/hl7bc/hl7bcimpl/src/com/sun/jbi/hl7bc/extservice/ack/schemas/hl7_26_xsd/fields.xsd

<?xml version ="1.0" encoding="UTF-8"?>
<!--
    v2.xml Message Definitions Version v2.6  - fields
    HL7® Version 2.6, © Health Level Seven, Inc.  All rights reserved.  HL7 and Health Level Seven are registered trademarks of Health Level Seven, Inc.
-->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:hl7-org:v2xml"
    xmlns:hl7="urn:com.sun:encoder-hl7-1.0"
    targetNamespace="urn:hl7-org:v2xml" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0">

    <!-- include datatypes definitions for version v2.6 -->
    <xsd:include schemaLocation="datatypes.xsd"/>

    <xsd:annotation>
        <xsd:appinfo source="urn:com.sun:encoder">
            <encoding xmlns="urn:com.sun:encoder" name="HL7 v2 Encoding" namespace="urn:com.sun:encoder-hl7-1.0" style="hl7encoder-1.0"/>
        </xsd:appinfo>
    </xsd:annotation>
    <!--
        FIELD ERR.1
    -->
    <xsd:attributeGroup name="ERR.1.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="24"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ELD"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Error Code and Location"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERR.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Error Code and Location</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>24</hl7:Item>
                <hl7:Type>ELD</hl7:Type>
                <hl7:LongName>Error Code and Location</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ELD">
                <xsd:attributeGroup ref="ERR.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="ERR.1" type="ERR.1.CONTENT"/>
    <!--
        FIELD ERR.2
    -->
    <xsd:attributeGroup name="ERR.2.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1812"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ERL"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Error Location"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERR.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Error Location</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1812</hl7:Item>
                <hl7:Type>ERL</hl7:Type>
                <hl7:LongName>Error Location</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ERL">
                <xsd:attributeGroup ref="ERR.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="ERR.2" type="ERR.2.CONTENT"/>
    <!--
        FIELD ERR.3
    -->
    <xsd:attributeGroup name="ERR.3.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1813"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="CWE"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70357"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="HL7 Error Code"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERR.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">HL7 Error Code</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1813</hl7:Item>
                <hl7:Type>CWE</hl7:Type>
                <hl7:Table>HL70357</hl7:Table>
                <hl7:LongName>HL7 Error Code</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="CWE">
                <xsd:attributeGroup ref="ERR.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="ERR.3" type="ERR.3.CONTENT"/>
    <!--
        FIELD ERR.4
    -->
    <xsd:attributeGroup name="ERR.4.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1814"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70516"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Severity"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERR.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Severity</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1814</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70516</hl7:Table>
                <hl7:LongName>Severity</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="ERR.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="ERR.4" type="ERR.4.CONTENT"/>
    <!--
        FIELD ERR.5
    -->
    <xsd:attributeGroup name="ERR.5.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1815"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="CWE"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70533"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Application Error Code"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERR.5.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Application Error Code</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1815</hl7:Item>
                <hl7:Type>CWE</hl7:Type>
                <hl7:Table>HL70533</hl7:Table>
                <hl7:LongName>Application Error Code</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="CWE">
                <xsd:attributeGroup ref="ERR.5.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="ERR.5" type="ERR.5.CONTENT"/>
    <!--
        FIELD ERR.6
    -->
    <xsd:attributeGroup name="ERR.6.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1816"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Application Error Parameter"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERR.6.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Application Error Parameter</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1816</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Application Error Parameter</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="ERR.6.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="ERR.6" type="ERR.6.CONTENT"/>
    <!--
        FIELD ERR.7
    -->
    <xsd:attributeGroup name="ERR.7.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1817"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="TX"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Diagnostic Information"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERR.7.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Diagnostic Information</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1817</hl7:Item>
                <hl7:Type>TX</hl7:Type>
                <hl7:LongName>Diagnostic Information</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="TX">
                <xsd:attributeGroup ref="ERR.7.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="ERR.7" type="ERR.7.CONTENT"/>
    <!--
        FIELD ERR.8
    -->
    <xsd:attributeGroup name="ERR.8.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1818"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="TX"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="User Message"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERR.8.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">User Message</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1818</hl7:Item>
                <hl7:Type>TX</hl7:Type>
                <hl7:LongName>User Message</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="TX">
                <xsd:attributeGroup ref="ERR.8.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="ERR.8" type="ERR.8.CONTENT"/>
    <!--
        FIELD ERR.9
    -->
    <xsd:attributeGroup name="ERR.9.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1819"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="IS"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70517"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Inform Person Indicator"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERR.9.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Inform Person Indicator</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1819</hl7:Item>
                <hl7:Type>IS</hl7:Type>
                <hl7:Table>HL70517</hl7:Table>
                <hl7:LongName>Inform Person Indicator</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="IS">
                <xsd:attributeGroup ref="ERR.9.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="ERR.9" type="ERR.9.CONTENT"/>
    <!--
        FIELD ERR.10
    -->
    <xsd:attributeGroup name="ERR.10.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1820"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="CWE"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70518"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Override Type"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERR.10.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Override Type</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1820</hl7:Item>
                <hl7:Type>CWE</hl7:Type>
                <hl7:Table>HL70518</hl7:Table>
                <hl7:LongName>Override Type</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="CWE">
                <xsd:attributeGroup ref="ERR.10.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="ERR.10" type="ERR.10.CONTENT"/>
    <!--
        FIELD ERR.11
    -->
    <xsd:attributeGroup name="ERR.11.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1821"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="CWE"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70519"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Override Reason Code"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERR.11.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Override Reason Code</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1821</hl7:Item>
                <hl7:Type>CWE</hl7:Type>
                <hl7:Table>HL70519</hl7:Table>
                <hl7:LongName>Override Reason Code</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="CWE">
                <xsd:attributeGroup ref="ERR.11.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="ERR.11" type="ERR.11.CONTENT"/>
    <!--
        FIELD ERR.12
    -->
    <xsd:attributeGroup name="ERR.12.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1822"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="XTN"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Help Desk Contact Point"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERR.12.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Help Desk Contact Point</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1822</hl7:Item>
                <hl7:Type>XTN</hl7:Type>
                <hl7:LongName>Help Desk Contact Point</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="XTN">
                <xsd:attributeGroup ref="ERR.12.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="ERR.12" type="ERR.12.CONTENT"/>
    <!--
        FIELD MSA.1
    -->
    <xsd:attributeGroup name="MSA.1.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="18"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70008"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Acknowledgment Code"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSA.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Acknowledgment Code</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>18</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70008</hl7:Table>
                <hl7:LongName>Acknowledgment Code</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSA.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSA.1" type="MSA.1.CONTENT"/>
    <!--
        FIELD MSA.2
    -->
    <xsd:attributeGroup name="MSA.2.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="10"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Message Control ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSA.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Message Control ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>10</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Message Control ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSA.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSA.2" type="MSA.2.CONTENT"/>
    <!--
        FIELD MSA.3
    -->
    <xsd:attributeGroup name="MSA.3.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="20"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Text Message"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSA.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Text Message</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>20</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Text Message</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSA.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSA.3" type="MSA.3.CONTENT"/>
    <!--
        FIELD MSA.4
    -->
    <xsd:attributeGroup name="MSA.4.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="21"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Expected Sequence Number"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSA.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Expected Sequence Number</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>21</hl7:Item>
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>Expected Sequence Number</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="MSA.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSA.4" type="MSA.4.CONTENT"/>
    <!--
        FIELD MSA.5
    -->
    <xsd:attributeGroup name="MSA.5.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="22"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="NUL"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Delayed Acknowledgment Type"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSA.5.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Delayed Acknowledgment Type</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>22</hl7:Item>
                <hl7:Type>NUL</hl7:Type>
                <hl7:LongName>Delayed Acknowledgment Type</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NUL">
                <xsd:attributeGroup ref="MSA.5.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSA.5" type="MSA.5.CONTENT"/>
    <!--
        FIELD MSA.6
    -->
    <xsd:attributeGroup name="MSA.6.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="23"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="CNE"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70357"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Error Condition"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSA.6.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Error Condition</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>23</hl7:Item>
                <hl7:Type>CNE</hl7:Type>
                <hl7:Table>HL70357</hl7:Table>
                <hl7:LongName>Error Condition</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="CNE">
                <xsd:attributeGroup ref="MSA.6.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="MSA.6" type="MSA.6.CONTENT"/>
    <!--
        FIELD MSA.7
    -->
    <xsd:attributeGroup name="MSA.7.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1827"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Message Waiting Number"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSA.7.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Message Waiting Number</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1827</hl7:Item>
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>Message Waiting Number</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="MSA.7.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSA.7" type="MSA.7.CONTENT"/>
    <!--
        FIELD MSA.8
    -->
    <xsd:attributeGroup name="MSA.8.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1828"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70520"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Message Waiting Priority"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSA.8.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Message Waiting Priority</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1828</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70520</hl7:Table>
                <hl7:LongName>Message Waiting Priority</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSA.8.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSA.8" type="MSA.8.CONTENT"/>
    <!--
        FIELD MSH.1
    -->
    <xsd:attributeGroup name="MSH.1.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Field Separator"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Field Separator</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Field Separator</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.1" type="MSH.1.CONTENT"/>
    <!--
        FIELD MSH.2
    -->
    <xsd:attributeGroup name="MSH.2.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="2"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Encoding Characters"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Encoding Characters</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>2</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Encoding Characters</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.2" type="MSH.2.CONTENT"/>
    <!--
        FIELD MSH.3
    -->
    <xsd:attributeGroup name="MSH.3.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="3"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="HD"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70361"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Sending Application"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Sending Application</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>3</hl7:Item>
                <hl7:Type>HD</hl7:Type>
                <hl7:Table>HL70361</hl7:Table>
                <hl7:LongName>Sending Application</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="HD">
                <xsd:attributeGroup ref="MSH.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="MSH.3" type="MSH.3.CONTENT"/>
    <!--
        FIELD MSH.4
    -->
    <xsd:attributeGroup name="MSH.4.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="4"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="HD"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70362"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Sending Facility"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Sending Facility</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>4</hl7:Item>
                <hl7:Type>HD</hl7:Type>
                <hl7:Table>HL70362</hl7:Table>
                <hl7:LongName>Sending Facility</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="HD">
                <xsd:attributeGroup ref="MSH.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="MSH.4" type="MSH.4.CONTENT"/>
    <!--
        FIELD MSH.5
    -->
    <xsd:attributeGroup name="MSH.5.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="5"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="HD"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70361"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Receiving Application"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.5.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Receiving Application</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>5</hl7:Item>
                <hl7:Type>HD</hl7:Type>
                <hl7:Table>HL70361</hl7:Table>
                <hl7:LongName>Receiving Application</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="HD">
                <xsd:attributeGroup ref="MSH.5.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="MSH.5" type="MSH.5.CONTENT"/>
    <!--
        FIELD MSH.6
    -->
    <xsd:attributeGroup name="MSH.6.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="6"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="HD"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70362"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Receiving Facility"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.6.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Receiving Facility</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>6</hl7:Item>
                <hl7:Type>HD</hl7:Type>
                <hl7:Table>HL70362</hl7:Table>
                <hl7:LongName>Receiving Facility</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="HD">
                <xsd:attributeGroup ref="MSH.6.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="MSH.6" type="MSH.6.CONTENT"/>
    <!--
        FIELD MSH.7
    -->
    <xsd:attributeGroup name="MSH.7.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="7"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="DTM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Date/Time of Message"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.7.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Date/Time of Message</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>7</hl7:Item>
                <hl7:Type>DTM</hl7:Type>
                <hl7:LongName>Date/Time of Message</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="DTM">
                <xsd:attributeGroup ref="MSH.7.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.7" type="MSH.7.CONTENT"/>
    <!--
        FIELD MSH.8
    -->
    <xsd:attributeGroup name="MSH.8.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="8"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Security"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.8.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Security</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>8</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Security</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.8.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.8" type="MSH.8.CONTENT"/>
    <!--
        FIELD MSH.9
    -->
    <xsd:attributeGroup name="MSH.9.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="9"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="MSG"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Message Type"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.9.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Message Type</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>9</hl7:Item>
                <hl7:Type>MSG</hl7:Type>
                <hl7:LongName>Message Type</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="MSG">
                <xsd:attributeGroup ref="MSH.9.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="MSH.9" type="MSH.9.CONTENT"/>
    <!--
        FIELD MSH.10
    -->
    <xsd:attributeGroup name="MSH.10.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="10"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Message Control ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.10.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Message Control ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>10</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Message Control ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.10.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.10" type="MSH.10.CONTENT"/>
    <!--
        FIELD MSH.11
    -->
    <xsd:attributeGroup name="MSH.11.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="11"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="PT"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Processing ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.11.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Processing ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>11</hl7:Item>
                <hl7:Type>PT</hl7:Type>
                <hl7:LongName>Processing ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="PT">
                <xsd:attributeGroup ref="MSH.11.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="MSH.11" type="MSH.11.CONTENT"/>
    <!--
        FIELD MSH.12
    -->
    <xsd:attributeGroup name="MSH.12.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="12"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="VID"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Version ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.12.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Version ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>12</hl7:Item>
                <hl7:Type>VID</hl7:Type>
                <hl7:LongName>Version ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="VID">
                <xsd:attributeGroup ref="MSH.12.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="MSH.12" type="MSH.12.CONTENT"/>
    <!--
        FIELD MSH.13
    -->
    <xsd:attributeGroup name="MSH.13.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="13"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Sequence Number"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.13.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Sequence Number</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>13</hl7:Item>
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>Sequence Number</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="MSH.13.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.13" type="MSH.13.CONTENT"/>
    <!--
        FIELD MSH.14
    -->
    <xsd:attributeGroup name="MSH.14.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="14"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Continuation Pointer"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.14.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Continuation Pointer</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>14</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Continuation Pointer</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="MSH.14.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.14" type="MSH.14.CONTENT"/>
    <!--
        FIELD MSH.15
    -->
    <xsd:attributeGroup name="MSH.15.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="15"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70155"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Accept Acknowledgment Type"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.15.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Accept Acknowledgment Type</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>15</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70155</hl7:Table>
                <hl7:LongName>Accept Acknowledgment Type</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSH.15.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.15" type="MSH.15.CONTENT"/>
    <!--
        FIELD MSH.16
    -->
    <xsd:attributeGroup name="MSH.16.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="16"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70155"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Application Acknowledgment Type"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.16.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Application Acknowledgment Type</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>16</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70155</hl7:Table>
                <hl7:LongName>Application Acknowledgment Type</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSH.16.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.16" type="MSH.16.CONTENT"/>
    <!--
        FIELD MSH.17
    -->
    <xsd:attributeGroup name="MSH.17.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="17"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70399"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Country Code"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.17.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Country Code</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>17</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70399</hl7:Table>
                <hl7:LongName>Country Code</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSH.17.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.17" type="MSH.17.CONTENT"/>
    <!--
        FIELD MSH.18
    -->
    <xsd:attributeGroup name="MSH.18.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="692"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70211"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Character Set"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.18.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Character Set</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>692</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70211</hl7:Table>
                <hl7:LongName>Character Set</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSH.18.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.18" type="MSH.18.CONTENT"/>
    <!--
        FIELD MSH.19
    -->
    <xsd:attributeGroup name="MSH.19.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="693"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="CWE"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Principal Language Of Message"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.19.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Principal Language Of Message</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>693</hl7:Item>
                <hl7:Type>CWE</hl7:Type>
                <hl7:LongName>Principal Language Of Message</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="CWE">
                <xsd:attributeGroup ref="MSH.19.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="MSH.19" type="MSH.19.CONTENT"/>
    <!--
        FIELD MSH.20
    -->
    <xsd:attributeGroup name="MSH.20.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1317"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70356"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Alternate Character Set Handling Scheme"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.20.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Alternate Character Set Handling Scheme</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1317</hl7:Item>
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70356</hl7:Table>
                <hl7:LongName>Alternate Character Set Handling Scheme</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSH.20.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSH.20" type="MSH.20.CONTENT"/>
    <!--
        FIELD MSH.21
    -->
    <xsd:attributeGroup name="MSH.21.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1598"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="EI"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Message Profile Identifier"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.21.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Message Profile Identifier</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1598</hl7:Item>
                <hl7:Type>EI</hl7:Type>
                <hl7:LongName>Message Profile Identifier</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="EI">
                <xsd:attributeGroup ref="MSH.21.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="MSH.21" type="MSH.21.CONTENT"/>
    <!--
        FIELD MSH.22
    -->
    <xsd:attributeGroup name="MSH.22.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1823"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="XON"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Sending Responsible Organization"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.22.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Sending Responsible Organization</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1823</hl7:Item>
                <hl7:Type>XON</hl7:Type>
                <hl7:LongName>Sending Responsible Organization</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="XON">
                <xsd:attributeGroup ref="MSH.22.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="MSH.22" type="MSH.22.CONTENT"/>
    <!--
        FIELD MSH.23
    -->
    <xsd:attributeGroup name="MSH.23.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1824"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="XON"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Receiving Responsible Organization"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.23.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Receiving Responsible Organization</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1824</hl7:Item>
                <hl7:Type>XON</hl7:Type>
                <hl7:LongName>Receiving Responsible Organization</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="XON">
                <xsd:attributeGroup ref="MSH.23.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="MSH.23" type="MSH.23.CONTENT"/>
    <!--
        FIELD MSH.24
    -->
    <xsd:attributeGroup name="MSH.24.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1825"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="HD"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Sending Network Address"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.24.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Sending Network Address</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1825</hl7:Item>
                <hl7:Type>HD</hl7:Type>
                <hl7:LongName>Sending Network Address</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="HD">
                <xsd:attributeGroup ref="MSH.24.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="MSH.24" type="MSH.24.CONTENT"/>
    <!--
        FIELD MSH.25
    -->
    <xsd:attributeGroup name="MSH.25.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1826"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="HD"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Receiving Network Address"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSH.25.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Receiving Network Address</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1826</hl7:Item>
                <hl7:Type>HD</hl7:Type>
                <hl7:LongName>Receiving Network Address</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="HD">
                <xsd:attributeGroup ref="MSH.25.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="MSH.25" type="MSH.25.CONTENT"/>
    <!--
        FIELD SFT.1
    -->
    <xsd:attributeGroup name="SFT.1.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1834"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="XON"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Software Vendor Organization"/>
    </xsd:attributeGroup>
    <xsd:complexType name="SFT.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Software Vendor Organization</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1834</hl7:Item>
                <hl7:Type>XON</hl7:Type>
                <hl7:LongName>Software Vendor Organization</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="XON">
                <xsd:attributeGroup ref="SFT.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="SFT.1" type="SFT.1.CONTENT"/>
    <!--
        FIELD SFT.2
    -->
    <xsd:attributeGroup name="SFT.2.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1835"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Software Certified Version or Release Number"/>
    </xsd:attributeGroup>
    <xsd:complexType name="SFT.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Software Certified Version or Release Number</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1835</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Software Certified Version or Release Number</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="SFT.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="SFT.2" type="SFT.2.CONTENT"/>
    <!--
        FIELD SFT.3
    -->
    <xsd:attributeGroup name="SFT.3.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1836"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Software Product Name"/>
    </xsd:attributeGroup>
    <xsd:complexType name="SFT.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Software Product Name</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1836</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Software Product Name</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="SFT.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="SFT.3" type="SFT.3.CONTENT"/>
    <!--
        FIELD SFT.4
    -->
    <xsd:attributeGroup name="SFT.4.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1837"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Software Binary ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="SFT.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Software Binary ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1837</hl7:Item>
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Software Binary ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="SFT.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="SFT.4" type="SFT.4.CONTENT"/>
    <!--
        FIELD SFT.5
    -->
    <xsd:attributeGroup name="SFT.5.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1838"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="TX"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Software Product Information"/>
    </xsd:attributeGroup>
    <xsd:complexType name="SFT.5.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Software Product Information</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1838</hl7:Item>
                <hl7:Type>TX</hl7:Type>
                <hl7:LongName>Software Product Information</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="TX">
                <xsd:attributeGroup ref="SFT.5.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="SFT.5" type="SFT.5.CONTENT"/>
    <!--
        FIELD SFT.6
    -->
    <xsd:attributeGroup name="SFT.6.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="1839"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="DTM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Software Install Date"/>
    </xsd:attributeGroup>
    <xsd:complexType name="SFT.6.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Software Install Date</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>1839</hl7:Item>
                <hl7:Type>DTM</hl7:Type>
                <hl7:LongName>Software Install Date</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="DTM">
                <xsd:attributeGroup ref="SFT.6.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="SFT.6" type="SFT.6.CONTENT"/>
    <!--
        FIELD UAC.1
    -->
    <xsd:attributeGroup name="UAC.1.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="2267"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="CWE"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70615"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="User Authentication Credential Type Code"/>
    </xsd:attributeGroup>
    <xsd:complexType name="UAC.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">User Authentication Credential Type Code</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>2267</hl7:Item>
                <hl7:Type>CWE</hl7:Type>
                <hl7:Table>HL70615</hl7:Table>
                <hl7:LongName>User Authentication Credential Type Code</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="CWE">
                <xsd:attributeGroup ref="UAC.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="UAC.1" type="UAC.1.CONTENT"/>
    <!--
        FIELD UAC.2
    -->
    <xsd:attributeGroup name="UAC.2.ATTRIBUTES">
        <xsd:attribute name="Item" type="xsd:string" fixed="2268"/>
        <xsd:attribute name="Type" type="xsd:string" fixed="ED"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="User Authentication Credential"/>
    </xsd:attributeGroup>
    <xsd:complexType name="UAC.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">User Authentication Credential</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Item>2268</hl7:Item>
                <hl7:Type>ED</hl7:Type>
                <hl7:LongName>User Authentication Credential</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ED">
                <xsd:attributeGroup ref="UAC.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="UAC.2" type="UAC.2.CONTENT"/>
</xsd:schema>
