ojc-core/bpelse/system-test/test/com/sun/jbi/engine/bpel/jbiadaptor/test/persistence/bpels/ScopeTermination/EHonEventScopeTerminationInScope/deployedFolder/EHonEventScopeTerminationInScope.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="EHonEventScopeTerminationInScope" targetNamespace="http://j2ee.netbeans.org/wsdl/EHonEventScopeTerminationInScope"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://j2ee.netbeans.org/wsdl/EHonEventScopeTerminationInScope" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types/>
    <message name="EHonEventScopeTerminationInScopeOperationRequest">
        <part name="InputPart" type="xsd:string"/>
    </message>
    <message name="EHonEventScopeTerminationInScopeOperationReply">
        <part name="OutputPart" type="xsd:string"/>
    </message>
    <portType name="EHonEventScopeTerminationInScopePortType">
        <wsdl:operation name="EHonEventScopeTerminationInScopeOperation">
            <wsdl:input name="input1" message="tns:EHonEventScopeTerminationInScopeOperationRequest"/>
            <wsdl:output name="output1" message="tns:EHonEventScopeTerminationInScopeOperationReply"/>
        </wsdl:operation>
    </portType>
    <portType name="EHOneWayInPortType">
        <operation name="EHOneWayInOperation">
            <input name="input1" message="tns:EHonEventScopeTerminationInScopeOperationRequest"/>
        </operation>
    </portType>
    <binding name="EHonEventScopeTerminationInScopeBinding" type="tns:EHonEventScopeTerminationInScopePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="EHonEventScopeTerminationInScopeOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/EHonEventScopeTerminationInScope"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/EHonEventScopeTerminationInScope"/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <binding name="EHOneWayInBinding" type="tns:EHOneWayInPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="EHOneWayInOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/EHonEventScopeTerminationInScope"/>
            </input>
        </operation>
    </binding>
    <service name="EHonEventScopeTerminationInScopeService">
        <wsdl:port name="EHonEventScopeTerminationInScopePort" binding="tns:EHonEventScopeTerminationInScopeBinding">
            <soap:address location="http://localhost:18181/ScopeTerminationBpel/EHonEventScopeTerminationInScope/EHonEventScopeTerminationInScopeService/EHonEventScopeTerminationInScopePort"/>
        </wsdl:port>
    </service>
    <service name="EHOneWayInService">
        <port name="EHOneWayInPort" binding="tns:EHOneWayInBinding">
            <soap:address location="http://localhost:18181/ScopeTerminationBpel/EHonEventScopeTerminationInScope/EHOneWayInService/EHOneWayInPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="EHonEventScopeTerminationInScopePlink">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="EHonEventScopeTerminationInScopePortTypeRole" portType="tns:EHonEventScopeTerminationInScopePortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="EHOneWayInPlink">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="EHOneWayInPortTypeRole" portType="tns:EHOneWayInPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="CorrelationVar" type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:CorrelationVar" messageType="tns:EHonEventScopeTerminationInScopeOperationRequest" part="InputPart"/>
</definitions>
