contrib-imola/corba-bc/integration-test/test-consumer-fromidl-complex-inout/consumer-fromidl-complex-inout-bpel-provider/src/main/resources/EchoComplexInOut.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
    xmlns:imolacorba="uri://schemas.imola.it/jbi/wsdl-extensions/corba/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:tns="urn:jbi4corba/test-consumer-fromidl-complex-inout" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
    name="EchoComplexInOut" 
    targetNamespace="urn:jbi4corba/test-consumer-fromidl-complex-inout">
        
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://testconsumerfromidlcomplexinout.test.jbi4corba.imolinfo.it/" xmlns:tns="urn:jbi4corba/test-consumer-fromidl-complex-inout" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:jbi4corba/test-consumer-fromidl-complex-inout">
            <xsd:import namespace="http://testconsumerfromidlcomplexinout.test.jbi4corba.imolinfo.it/"/>
            <xsd:element name="echoSequence">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="es" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSequenceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="return" type="xsd:int"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="es" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoValueTypeOfStruct">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="v" type="ns0:valueTypeOfStruct"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoValueTypeOfStructResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="ns0:valueTypeOfStruct"/>
                        <xsd:element minOccurs="0" name="v" type="ns0:valueTypeOfStruct"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoStruct">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="es" type="ns0:echoStruct"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoStructResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="ns0:echoStruct"/>
                        <xsd:element minOccurs="0" name="es" type="ns0:echoStruct"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoValueTypeOfValueType">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="v" type="ns0:valueTypeOfValueType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoValueTypeOfValueTypeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="ns0:valueTypeOfValueType"/>
                        <xsd:element minOccurs="0" name="v" type="ns0:valueTypeOfValueType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoStructOfStruct">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="v" type="ns0:structOfStruct"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoStructOfStructResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="ns0:structOfStruct"/>
                        <xsd:element minOccurs="0" name="v" type="ns0:structOfStruct"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoValueBoxedTypePrimitive">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="e" type="ns0:myLong"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoValueBoxedTypePrimitiveResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="ns0:myLong"/>
                        <xsd:element minOccurs="0" name="e" type="ns0:myLong"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoVTPrimiSeq">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="v" type="ns0:vtPrimiSeq"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoVTPrimiSeqResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="ns0:vtPrimiSeq"/>
                        <xsd:element minOccurs="0" name="v" type="ns0:vtPrimiSeq"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoVTPrimi">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="v" type="ns0:vtPrimi"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoVTPrimiResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="ns0:vtPrimi"/>
                        <xsd:element minOccurs="0" name="v" type="ns0:vtPrimi"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSequenceSeqEchoStruct">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="es" type="ns0:echoStruct"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSequenceSeqEchoStructResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns0:echoStruct"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="es" type="ns0:echoStruct"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSequenceValueType">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="es" type="ns0:mySequence"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSequenceValueTypeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="ns0:mySequence"/>
                        <xsd:element minOccurs="0" name="es" type="ns0:mySequence"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoValueType">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="e" type="ns0:echoVT"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoValueTypeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="ns0:echoVT"/>
                        <xsd:element minOccurs="0" name="e" type="ns0:echoVT"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSequenceSeqMySequence">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="es" type="ns0:mySequence"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoSequenceSeqMySequenceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns0:mySequence"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="es" type="ns0:mySequence"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoStructOfValuetype">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="v" type="ns0:structOfValuetype"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoStructOfValuetypeResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="ns0:structOfValuetype"/>
                        <xsd:element minOccurs="0" name="v" type="ns0:structOfValuetype"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="msg" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="msg" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoValueBoxedTypeComplex">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="e" type="ns0:mySequence"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoValueBoxedTypeComplexResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="ns0:mySequence"/>
                        <xsd:element minOccurs="0" name="e" type="ns0:mySequence"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://testconsumerfromidlcomplexinout.test.jbi4corba.imolinfo.it/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://testconsumerfromidlcomplexinout.test.jbi4corba.imolinfo.it/">
            <xs:complexType name="echoStruct">
                <xs:sequence>
                    <xs:element name="fieldBoolean" type="xs:boolean"/>
                    <xs:element name="fieldChar" type="xs:unsignedShort"/>
                    <xs:element name="fieldDouble" type="xs:double"/>
                    <xs:element name="fieldFloat" type="xs:float"/>
                    <xs:element name="fieldLong" type="xs:int"/>
                    <xs:element name="fieldLongLong" type="xs:long"/>
                    <xs:element name="fieldOctet" type="xs:byte"/>
                    <xs:element name="fieldShort" type="xs:short"/>
                    <xs:element minOccurs="0" name="fieldString" type="xs:string"/>
                    <xs:element name="fieldUnsignedLong" type="xs:int"/>
                    <xs:element name="fieldUnsignedLongLong" type="xs:long"/>
                    <xs:element name="fieldUnsignedShort" type="xs:short"/>
                    <xs:element name="fieldWChar" type="xs:unsignedShort"/>
                    <xs:element minOccurs="0" name="fieldWString" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="structOfValuetype">
                <xs:sequence>
                    <xs:element minOccurs="0" name="data" type="tns:vtPrimi"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="vtPrimi">
                <xs:sequence>
                    <xs:element name="fieldBoolean" type="xs:boolean"/>
                    <xs:element name="fieldChar" type="xs:unsignedShort"/>
                    <xs:element name="fieldDouble" type="xs:double"/>
                    <xs:element name="fieldFloat" type="xs:float"/>
                    <xs:element name="fieldLong" type="xs:int"/>
                    <xs:element name="fieldLongLong" type="xs:long"/>
                    <xs:element name="fieldOctet" type="xs:byte"/>
                    <xs:element name="fieldShort" type="xs:short"/>
                    <xs:element minOccurs="0" name="fieldString" type="xs:string"/>
                    <xs:element name="fieldUnsignedLong" type="xs:int"/>
                    <xs:element name="fieldUnsignedLongLong" type="xs:long"/>
                    <xs:element name="fieldUnsignedShort" type="xs:short"/>
                    <xs:element name="fieldWChar" type="xs:unsignedShort"/>
                    <xs:element minOccurs="0" name="fieldWString" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="echoVT">
                <xs:sequence>
                    <xs:element name="privateLong" type="xs:int"/>
                    <xs:element name="publicShort" type="xs:short"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="structOfStruct">
                <xs:sequence>
                    <xs:element minOccurs="0" name="internalStruct" type="tns:echoStruct"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="mySequence">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="valueTypeOfStruct">
                <xs:sequence>
                    <xs:element minOccurs="0" name="data" type="tns:echoStruct"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="vtPrimiSeq">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="tns:vtPrimi"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="valueTypeOfValueType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="data" type="tns:vtPrimi"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="myLong">
                <xs:sequence>
                    <xs:element name="data" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType final="#all" name="echoStructArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:echoStruct"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType final="#all" name="vtPrimiArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:vtPrimi"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType final="#all" name="mySequenceArray">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mySequence"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="echoStructOfValuetypeResponse">
        <wsdl:part name="parameters" element="tns:echoStructOfValuetypeResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueTypeResponse">
        <wsdl:part name="parameters" element="tns:echoValueTypeResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoStructOfStructResponse">
        <wsdl:part name="parameters" element="tns:echoStructOfStructResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSequenceSeqMySequenceResponse">
        <wsdl:part name="parameters" element="tns:echoSequenceSeqMySequenceResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueTypeOfValueType">
        <wsdl:part name="parameters" element="tns:echoValueTypeOfValueType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo">
        <wsdl:part name="parameters" element="tns:echo">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoStructResponse">
        <wsdl:part name="parameters" element="tns:echoStructResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoVTPrimiResponse">
        <wsdl:part name="parameters" element="tns:echoVTPrimiResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSequenceValueTypeResponse">
        <wsdl:part name="parameters" element="tns:echoSequenceValueTypeResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSequenceValueType">
        <wsdl:part name="parameters" element="tns:echoSequenceValueType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueBoxedTypePrimitive">
        <wsdl:part name="parameters" element="tns:echoValueBoxedTypePrimitive">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueBoxedTypePrimitiveResponse">
        <wsdl:part name="parameters" element="tns:echoValueBoxedTypePrimitiveResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoVTPrimiSeq">
        <wsdl:part name="parameters" element="tns:echoVTPrimiSeq">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoVTPrimi">
        <wsdl:part name="parameters" element="tns:echoVTPrimi">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoResponse">
        <wsdl:part name="parameters" element="tns:echoResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoStruct">
        <wsdl:part name="parameters" element="tns:echoStruct">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSequenceResponse">
        <wsdl:part name="parameters" element="tns:echoSequenceResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueBoxedTypeComplexResponse">
        <wsdl:part name="parameters" element="tns:echoValueBoxedTypeComplexResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueTypeOfStruct">
        <wsdl:part name="parameters" element="tns:echoValueTypeOfStruct">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueBoxedTypeComplex">
        <wsdl:part name="parameters" element="tns:echoValueBoxedTypeComplex">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueTypeOfValueTypeResponse">
        <wsdl:part name="parameters" element="tns:echoValueTypeOfValueTypeResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoVTPrimiSeqResponse">
        <wsdl:part name="parameters" element="tns:echoVTPrimiSeqResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoStructOfValuetype">
        <wsdl:part name="parameters" element="tns:echoStructOfValuetype">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoStructOfStruct">
        <wsdl:part name="parameters" element="tns:echoStructOfStruct">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSequenceSeqEchoStructResponse">
        <wsdl:part name="parameters" element="tns:echoSequenceSeqEchoStructResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSequenceSeqEchoStruct">
        <wsdl:part name="parameters" element="tns:echoSequenceSeqEchoStruct">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSequence">
        <wsdl:part name="parameters" element="tns:echoSequence">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoSequenceSeqMySequence">
        <wsdl:part name="parameters" element="tns:echoSequenceSeqMySequence">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueType">
        <wsdl:part name="parameters" element="tns:echoValueType">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoValueTypeOfStructResponse">
        <wsdl:part name="parameters" element="tns:echoValueTypeOfStructResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EchoComplexInOutPortType">
        <wsdl:operation name="echoSequence">
            <wsdl:input name="echoSequence" message="tns:echoSequence">
            </wsdl:input>
            <wsdl:output name="echoSequenceResponse" message="tns:echoSequenceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueTypeOfStruct">
            <wsdl:input name="echoValueTypeOfStruct" message="tns:echoValueTypeOfStruct">
            </wsdl:input>
            <wsdl:output name="echoValueTypeOfStructResponse" message="tns:echoValueTypeOfStructResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoStruct">
            <wsdl:input name="echoStruct" message="tns:echoStruct">
            </wsdl:input>
            <wsdl:output name="echoStructResponse" message="tns:echoStructResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueTypeOfValueType">
            <wsdl:input name="echoValueTypeOfValueType" message="tns:echoValueTypeOfValueType">
            </wsdl:input>
            <wsdl:output name="echoValueTypeOfValueTypeResponse" message="tns:echoValueTypeOfValueTypeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoStructOfStruct">
            <wsdl:input name="echoStructOfStruct" message="tns:echoStructOfStruct">
            </wsdl:input>
            <wsdl:output name="echoStructOfStructResponse" message="tns:echoStructOfStructResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueBoxedTypePrimitive">
            <wsdl:input name="echoValueBoxedTypePrimitive" message="tns:echoValueBoxedTypePrimitive">
            </wsdl:input>
            <wsdl:output name="echoValueBoxedTypePrimitiveResponse" message="tns:echoValueBoxedTypePrimitiveResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoVTPrimiSeq">
            <wsdl:input name="echoVTPrimiSeq" message="tns:echoVTPrimiSeq">
            </wsdl:input>
            <wsdl:output name="echoVTPrimiSeqResponse" message="tns:echoVTPrimiSeqResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoVTPrimi">
            <wsdl:input name="echoVTPrimi" message="tns:echoVTPrimi">
            </wsdl:input>
            <wsdl:output name="echoVTPrimiResponse" message="tns:echoVTPrimiResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSequenceSeqEchoStruct">
            <wsdl:input name="echoSequenceSeqEchoStruct" message="tns:echoSequenceSeqEchoStruct">
            </wsdl:input>
            <wsdl:output name="echoSequenceSeqEchoStructResponse" message="tns:echoSequenceSeqEchoStructResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSequenceValueType">
            <wsdl:input name="echoSequenceValueType" message="tns:echoSequenceValueType">
            </wsdl:input>
            <wsdl:output name="echoSequenceValueTypeResponse" message="tns:echoSequenceValueTypeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueType">
            <wsdl:input name="echoValueType" message="tns:echoValueType">
            </wsdl:input>
            <wsdl:output name="echoValueTypeResponse" message="tns:echoValueTypeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSequenceSeqMySequence">
            <wsdl:input name="echoSequenceSeqMySequence" message="tns:echoSequenceSeqMySequence">
            </wsdl:input>
            <wsdl:output name="echoSequenceSeqMySequenceResponse" message="tns:echoSequenceSeqMySequenceResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoStructOfValuetype">
            <wsdl:input name="echoStructOfValuetype" message="tns:echoStructOfValuetype">
            </wsdl:input>
            <wsdl:output name="echoStructOfValuetypeResponse" message="tns:echoStructOfValuetypeResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <wsdl:input name="echo" message="tns:echo">
            </wsdl:input>
            <wsdl:output name="echoResponse" message="tns:echoResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueBoxedTypeComplex">
            <wsdl:input name="echoValueBoxedTypeComplex" message="tns:echoValueBoxedTypeComplex">
            </wsdl:input>
            <wsdl:output name="echoValueBoxedTypeComplexResponse" message="tns:echoValueBoxedTypeComplexResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EchoComplexInOutCorbaBinding" type="tns:EchoComplexInOutPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="echoSequence">
            <soap:operation/>
            <wsdl:input name="echoSequence">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSequenceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueTypeOfStruct">
            <soap:operation/>
            <wsdl:input name="echoValueTypeOfStruct">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoValueTypeOfStructResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoStruct">
            <soap:operation/>
            <wsdl:input name="echoStruct">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoStructResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueTypeOfValueType">
            <soap:operation/>
            <wsdl:input name="echoValueTypeOfValueType">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoValueTypeOfValueTypeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoStructOfStruct">
            <soap:operation/>
            <wsdl:input name="echoStructOfStruct">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoStructOfStructResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueBoxedTypePrimitive">
            <soap:operation/>
            <wsdl:input name="echoValueBoxedTypePrimitive">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoValueBoxedTypePrimitiveResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoVTPrimiSeq">
            <soap:operation/>
            <wsdl:input name="echoVTPrimiSeq">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoVTPrimiSeqResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoVTPrimi">
            <soap:operation/>
            <wsdl:input name="echoVTPrimi">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoVTPrimiResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSequenceSeqEchoStruct">
            <soap:operation/>
            <wsdl:input name="echoSequenceSeqEchoStruct">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSequenceSeqEchoStructResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSequenceValueType">
            <soap:operation/>
            <wsdl:input name="echoSequenceValueType">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSequenceValueTypeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueType">
            <soap:operation/>
            <wsdl:input name="echoValueType">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoValueTypeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoSequenceSeqMySequence">
            <soap:operation/>
            <wsdl:input name="echoSequenceSeqMySequence">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoSequenceSeqMySequenceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoStructOfValuetype">
            <soap:operation/>
            <wsdl:input name="echoStructOfValuetype">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoStructOfValuetypeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echo">
            <soap:operation/>
            <wsdl:input name="echo">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="echoValueBoxedTypeComplex">
            <soap:operation/>
            <wsdl:input name="echoValueBoxedTypeComplex">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoValueBoxedTypeComplexResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EchoComplexInOut">
        <wsdl:port name="EchoComplexInOutCorbaPort" binding="tns:EchoComplexInOutCorbaBinding">
            <soap:address location="http://localhost:8192/Service/test-consumer-fromidl-complex-inout/" />
        </wsdl:port>
    </wsdl:service>
    <plnk:partnerLinkType name="echoComplexInOutProcess">
        <plnk:role name="echoComplexInOutProcess" portType="tns:EchoComplexInOutPortType"/>
    </plnk:partnerLinkType>

</wsdl:definitions>
