driver-tests/jmsbc/JMSBCTests/JMSBCJavaeeSETestEJBModule/src/conf/xml-resources/web-service-references/JMSOut/wsdl/OutToJMSBC.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/OutToJMSBC"
            xmlns:tns="http://xml.netbeans.org/schema/OutToJMSBC"
            elementFormDefault="qualified">
    <xsd:complexType name="OutputCType">
        <xsd:sequence>
            <xsd:element name="msg" type="xsd:string"></xsd:element>
            <xsd:element name="id" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="OutputElement" type="tns:OutputCType"></xsd:element>
</xsd:schema>
