driver-tests/jmsbc/OndemandRead/JMSOndemand/src/xxx.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/xxx"
            xmlns:tns="http://xml.netbeans.org/schema/xxx"
            elementFormDefault="qualified">
    <xsd:complexType name="x">
        <xsd:sequence>
            <xsd:element name="y" type="xsd:string"></xsd:element>
            <xsd:element name="z" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
