ojc-core/encodersl/xsdextension-custom/src/customencoder-sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 # BEGIN_HEADER - DO NOT EDIT
 # 
 # The contents of this file are subject to the terms
 # of the Common Development and Distribution License
 # (the "License").  You may not use this file except
 # in compliance with the License.
 #
 # You can obtain a copy of the license at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # See the License for the specific language governing
 # permissions and limitations under the License.
 #
 # When distributing Covered Code, include this CDDL
 # HEADER in each file and include the License file at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # If applicable add the following below this CDDL HEADER,
 # with the fields enclosed by brackets "[]" replaced with
 # your own identifying information: Portions Copyright
 # [year] [name of copyright owner]
-->

<!-- 
 # @(#)customencoder-sample.xsd 
 #
 # Copyright 2004-2007 Sun Microsystems, Inc. All Rights Reserved.
 # 
 # END_HEADER - DO NOT EDIT
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xml.netbeans.org/schema/ud1sample" targetNamespace="http://xml.netbeans.org/schema/ud1sample" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:appinfo xmlns="urn:com.sun:encoder" source="urn:com.sun:encoder">
			<encoding name="Custom Encoding" namespace="urn:com.sun:encoder-custom-1.0" style="customencoder-1.0"/>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element name="root">
		<xsd:annotation>
			<xsd:appinfo source="urn:com.sun:encoder">
				<top xmlns="urn:com.sun:encoder">true</top>
				<nodeProperties xmlns="urn:com.sun:encoder-custom-1.0">
					<nodeType>group</nodeType>
					<delimiterSet>
						<level>
							<delimiter>
								<kind>normal</kind>
								<precedence>10</precedence>
								<bytes>
									<constant>|</constant>
								</bytes>
								<optionalMode>never</optionalMode>
								<terminatorMode>never</terminatorMode>
							</delimiter>
						</level>
						<level>
							<delimiter>
								<kind>normal</kind>
								<precedence>10</precedence>
								<bytes>
									<constant>,</constant>
								</bytes>
								<optionalMode>never</optionalMode>
								<terminatorMode>never</terminatorMode>
							</delimiter>
						</level>
					</delimiterSet>
					<order>sequence</order>
				</nodeProperties>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="groupNode1">
					<xsd:annotation>
						<xsd:appinfo source="urn:com.sun:encoder">
							<nodeProperties xmlns="urn:com.sun:encoder-custom-1.0">
								<nodeType>group</nodeType>
								<order>sequence</order>
							</nodeProperties>
						</xsd:appinfo>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="element1">
								<xsd:annotation>
									<xsd:appinfo source="urn:com.sun:encoder">
										<nodeProperties xmlns="urn:com.sun:encoder-custom-1.0">
											<nodeType>delimited</nodeType>
											<order>sequence</order>
										</nodeProperties>
									</xsd:appinfo>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="delimField1" type="xsd:int">
											<xsd:annotation>
												<xsd:appinfo source="urn:com.sun:encoder">
													<nodeProperties xmlns="urn:com.sun:encoder-custom-1.0">
														<nodeType>delimited</nodeType>
													</nodeProperties>
												</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="delimField2" type="xsd:string">
											<xsd:annotation>
												<xsd:appinfo source="urn:com.sun:encoder">
													<nodeProperties xmlns="urn:com.sun:encoder-custom-1.0">
														<nodeType>delimited</nodeType>
													</nodeProperties>
												</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="element2">
								<xsd:annotation>
									<xsd:appinfo source="urn:com.sun:encoder">
										<nodeProperties xmlns="urn:com.sun:encoder-custom-1.0">
											<nodeType>delimited</nodeType>
											<order>sequence</order>
										</nodeProperties>
									</xsd:appinfo>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="fixedField1" type="xsd:string">
											<xsd:annotation>
												<xsd:appinfo source="urn:com.sun:encoder">
													<nodeProperties xmlns="urn:com.sun:encoder-custom-1.0">
														<nodeType>fixedLength</nodeType>
														<alignment>blind</alignment>
														<length>10</length>
													</nodeProperties>
												</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="fixedField2" type="xsd:string">
											<xsd:annotation>
												<xsd:appinfo source="urn:com.sun:encoder">
													<nodeProperties xmlns="urn:com.sun:encoder-custom-1.0">
														<nodeType>fixedLength</nodeType>
														<alignment>blind</alignment>
														<length>15</length>
													</nodeProperties>
												</xsd:appinfo>
											</xsd:annotation>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
