driver-tests/pojose/fault/ejbFault/src/conf/xml-resources/web-services/SimpleDocLitWS/wsdl/SimpleDocLiteral.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SimpleDocLiteral" targetNamespace="http://j2ee.netbeans.org/wsdl/caFaultTest/SimpleDocLiteral"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/caFaultTest/SimpleDocLiteral" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/caFaultTest/SimpleDocLiteral" xmlns:tns="http://j2ee.netbeans.org/wsdl/caFaultTest/SimpleDocLiteral">
            <xsd:element name="inMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="msg" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="outMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="msg" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="faultMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="msg" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="SimpleDocLiteralOperationRequest">
        <part name="part1" element="tns:inMessage"/>
    </message>
    <message name="SimpleDocLiteralOperationResponse">
        <part name="part1" element="tns:outMessage"/>
    </message>
    <message name="SimpleDocLiteralOperationFaultMessage1">
        <part name="part1" element="tns:faultMessage"/>
    </message>
    <portType name="SimpleDocLiteralPortType">
        <operation name="SimpleDocLiteralOperation">
            <input name="input1" message="tns:SimpleDocLiteralOperationRequest"/>
            <output name="output1" message="tns:SimpleDocLiteralOperationResponse"/>
            <fault name="fault1" message="tns:SimpleDocLiteralOperationFaultMessage1"/>
        </operation>
    </portType>
    <binding name="SimpleDocLiteralPortTypeBinding" type="tns:SimpleDocLiteralPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SimpleDocLiteralOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="SimpleDocLiteralService">
        <port name="SimpleDocLiteralPortTypeBindingPort" binding="tns:SimpleDocLiteralPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
    <plnk:partnerLinkType name="SimpleDocLiteral">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes.
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="SimpleDocLiteralPortTypeRole" portType="tns:SimpleDocLiteralPortType"/>
    </plnk:partnerLinkType>
</definitions>



