driver-tests/httpsoapbc/JavaEE_vs_BC/SoapReqReplyOut_EJB/src/conf/wsdl/EE_SoapReqReplyOutRPC/TypeSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/TypeSchema"
            xmlns:tns="http://xml.netbeans.org/schema/TypeSchema"
            elementFormDefault="qualified">
    <xsd:complexType name="requestType">
        <xsd:sequence>
            <xsd:element name="request" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="responseType">
        <xsd:sequence>
            <xsd:element name="response" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
