driver-tests/sqlse/db2/SqlSE1210_DB2/UpdateWithFalseConJbi/src/jbiServiceUnits/UpdateWithFalseConSql/UpdateWithFalseConSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="UpdateWithFalseConSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="UpdateWithFalseConRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="UpdateWithFalseConRequest">
    <part name="UpdateWithFalseConRequestPart" element="tns:UpdateWithFalseConRequest"/>
  </message>
  <message name="UpdateWithFalseConResponse">
    <part name="UpdateWithFalseConResponsePart" element="tns:numRowsEffected"/>
  </message>
  <portType name="UpdateWithFalseConSql_sqlsePortType">
    <operation name="UpdateWithFalseCon">
      <input name="UpdateWithFalseConRequest" message="tns:UpdateWithFalseConRequest"/>
      <output name="UpdateWithFalseConResponse" message="tns:UpdateWithFalseConResponse"/>
    </operation>
  </portType>
  <binding name="UpdateWithFalseConSqlBinding" type="tns:UpdateWithFalseConSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="UpdateWithFalseCon">
      <soap:operation/>
      <input name="UpdateWithFalseConRequest">
        <soap:body/>
      </input>
      <output name="UpdateWithFalseConResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="UpdateWithFalseConSql_sqlseService">
    <port name="UpdateWithFalseConSql_sqlsePort" binding="tns:UpdateWithFalseConSqlBinding">
      <soap:address location="http://localhost:18181/UpdateWithFalseConSql/UpdateWithFalseConSql/UpdateWithFalseConSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="UpdateWithFalseConSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="UpdateWithFalseConSql_myrole" portType="tns:UpdateWithFalseConSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
