contrib-imola/corba-bc/integration-test/test-consumer-fromidl-complex-fault/consumer-fromidl-complex-fault-jbi4corba-provider/src/main/resources/EchoFault_testconsumerfromidlfault.test.jbi4corba.imolinfo.it.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://testconsumerfromidlfault.test.jbi4corba.imolinfo.it/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://testconsumerfromidlfault.test.jbi4corba.imolinfo.it/">
    <xs:complexType name="echoStruct">
        <xs:sequence>
            <xs:element name="fieldBoolean" type="xs:boolean"/>
            <xs:element name="fieldChar" type="xs:unsignedShort"/>
            <xs:element name="fieldLong" type="xs:int"/>
            <xs:element minOccurs="0" name="fieldString" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
