contrib-imola/corba-bc/integration-test/test-consumer-fromidl-complex-fault/consumer-fromidl-complex-fault-jbi4corba-provider/src/main/resources/EchoFault_test-consumer-fromidl-fault.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://testconsumerfromidlfault.test.jbi4corba.imolinfo.it/" xmlns:tns="urn:jbi4corba/test-consumer-fromidl-complex-fault" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:jbi4corba/test-consumer-fromidl-complex-fault">
  <xsd:import namespace="http://testconsumerfromidlfault.test.jbi4corba.imolinfo.it/" schemaLocation="EchoFault_testconsumerfromidlfault.test.jbi4corba.imolinfo.it.xsd"/>
  <xsd:element name="EchoSimpleException" type="tns:EchoSimpleException"/>
    <xsd:complexType name="EchoSimpleException">
        <xsd:sequence>
            <xsd:element name="reason" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="EchoComplexException" type="tns:EchoComplexException"/>
    <xsd:complexType name="EchoComplexException">
        <xsd:sequence>
            <xsd:element name="reason" nillable="true" type="ns0:echoStruct"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="echo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="msg" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
