ojc-core/hl7bc/hl7bcimpl/src/com/sun/jbi/hl7bc/extservice/ack/schemas/hl7_23_xsd/datatypes.xsd

<?xml version ="1.0" encoding="UTF-8"?>
<!--
    v2.xml Message Definitions Version v2.3  - data types
    Copyright (C) Sun Microsystems. All rights reserved.
-->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:hl7-org:v2xml"
    xmlns:hl7="urn:com.sun:encoder-hl7-1.0"
    targetNamespace="urn:hl7-org:v2xml" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.0">

    <!--
        COMPOSITE DATATYPE CE
    -->
    <xsd:complexType name="CE">
        <xsd:sequence>
            <xsd:element ref="CE.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.3" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.4" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.5" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.6" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <!--
        COMPOSITE DATATYPE CM_ELD
    -->
    <xsd:complexType name="CM_ELD">
        <xsd:sequence>
            <xsd:element ref="CM_ELD.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CM_ELD.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CM_ELD.3" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CM_ELD.4" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
   <!--
        COMPOSITE DATATYPE CM_MSG
    -->
    <xsd:complexType name="CM_MSG">
        <xsd:sequence>
            <xsd:element ref="CM_MSG.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CM_MSG.2" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <!--
        COMPOSITE DATATYPE EI
    -->
    <xsd:complexType name="EI">
        <xsd:sequence>
            <xsd:element ref="EI.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="EI.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="EI.3" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="EI.4" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <!--
        COMPOSITE DATATYPE HD
    -->
    <xsd:complexType name="HD">
        <xsd:sequence>
            <xsd:element ref="HD.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="HD.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="HD.3" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--
        PRIMITIVE DATATYPE ID
    -->
    <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

      <!--
        PRIMITIVE DATATYPE IS
       -->
    <xsd:simpleType name="IS">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <!--
        PRIMITIVE DATATYPE NM
    -->
    <xsd:simpleType name="NM">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  
    <!--
        COMPOSITE DATATYPE PT
    -->
    <xsd:complexType name="PT">
        <xsd:sequence>
            <xsd:element ref="PT.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="PT.2" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
   
    <!--
        PRIMITIVE DATATYPE ST
    -->
    <xsd:simpleType name="ST">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
  
    <!--
        COMPOSITE DATATYPE TS
    -->
    <xsd:complexType name="TS">
        <xsd:sequence>
            <xsd:element ref="TS.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="TS.2" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
   <!--
        COMPONENT CE.1
    -->
    <xsd:attributeGroup name="CE.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="identifier"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">identifier</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:LongName>identifier</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="CE.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.1" type="CE.1.CONTENT"/>
    <!--
        COMPONENT CE.2
    -->
    <xsd:attributeGroup name="CE.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="text"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">text</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>text</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CE.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.2" type="CE.2.CONTENT"/>
    <!--
        COMPONENT CE.3
    -->
    <xsd:attributeGroup name="CE.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="name of coding system"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">name of coding system</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>name of coding system</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CE.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.3" type="CE.3.CONTENT"/>
    <!--
        COMPONENT CE.4
    -->
    <xsd:attributeGroup name="CE.4.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="alternate identifier"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">alternate identifier</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:LongName>alternate identifier</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="CE.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.4" type="CE.4.CONTENT"/>
    <!--
        COMPONENT CE.5
    -->
    <xsd:attributeGroup name="CE.5.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="alternate text"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.5.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">alternate text</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>alternate text</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CE.5.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.5" type="CE.5.CONTENT"/>
    <!--
        COMPONENT CE.6
    -->
    <xsd:attributeGroup name="CE.6.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="name of alternate coding system"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.6.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">name of alternate coding system</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>name of alternate coding system</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CE.6.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.6" type="CE.6.CONTENT"/>

     <!--
        COMPONENT CM_ELD.1
    -->
    <xsd:attributeGroup name="CM_ELD.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="segment ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CM_ELD.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">segment ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>segment ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CM_ELD.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_ELD.1" type="CM_ELD.1.CONTENT"/>
    <!--
        COMPONENT CM_ELD.2
    -->
    <xsd:attributeGroup name="CM_ELD.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="sequence"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CM_ELD.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">sequence</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>sequence</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="CM_ELD.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_ELD.2" type="CM_ELD.2.CONTENT"/>
    <!--
        COMPONENT CM_ELD.3
    -->
    <xsd:attributeGroup name="CM_ELD.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="field position"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CM_ELD.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">field position</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>field position</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="CM_ELD.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_ELD.3" type="CM_ELD.3.CONTENT"/>
    <!--
        COMPONENT CM_ELD.4
    -->
    <xsd:attributeGroup name="CM_ELD.4.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="CE"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="code identifying error"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CM_ELD.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">code identifying error</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>CE</hl7:Type>
                <hl7:LongName>code identifying error</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="CE">
                <xsd:attributeGroup ref="CM_ELD.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="CM_ELD.4" type="CM_ELD.4.CONTENT"/>
    
    <!--
        COMPONENT CM_MSG.1
    -->
    <xsd:attributeGroup name="CM_MSG.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="message type"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CM_MSG.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">message type</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:LongName>message type</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="CM_MSG.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_MSG.1" type="CM_MSG.1.CONTENT"/>
    <!--
        COMPONENT CM_MSG.2
    -->
    <xsd:attributeGroup name="CM_MSG.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="trigger event"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CM_MSG.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">trigger event</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:LongName>trigger event</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="CM_MSG.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CM_MSG.2" type="CM_MSG.2.CONTENT"/>

     <!--
        COMPONENT EI.1
    -->
    <xsd:attributeGroup name="EI.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="entity identifier"/>
    </xsd:attributeGroup>
    <xsd:complexType name="EI.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">entity identifier</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>entity identifier</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="EI.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="EI.1" type="EI.1.CONTENT"/>
    <!--
        COMPONENT EI.2
    -->
    <xsd:attributeGroup name="EI.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="IS"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="namespace ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="EI.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">namespace ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>IS</hl7:Type>
                <hl7:LongName>namespace ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="IS">
                <xsd:attributeGroup ref="EI.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="EI.2" type="EI.2.CONTENT"/>
    <!--
        COMPONENT EI.3
    -->
    <xsd:attributeGroup name="EI.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="universal ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="EI.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">universal ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>universal ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="EI.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="EI.3" type="EI.3.CONTENT"/>
    <!--
        COMPONENT EI.4
    -->
    <xsd:attributeGroup name="EI.4.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="universal ID type"/>
    </xsd:attributeGroup>
    <xsd:complexType name="EI.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">universal ID type</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:LongName>universal ID type</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="EI.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="EI.4" type="EI.4.CONTENT"/>
   
   <!--
        COMPONENT HD.1
    -->
    <xsd:attributeGroup name="HD.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="IS"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="namespace ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="HD.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">namespace ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>IS</hl7:Type>
                <hl7:LongName>namespace ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="IS">
                <xsd:attributeGroup ref="HD.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="HD.1" type="HD.1.CONTENT"/>
    <!--
        COMPONENT HD.2
    -->
    <xsd:attributeGroup name="HD.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="universal ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="HD.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">universal ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>universal ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="HD.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="HD.2" type="HD.2.CONTENT"/>
    <!--
        COMPONENT HD.3
    -->
    <xsd:attributeGroup name="HD.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="universal ID type"/>
    </xsd:attributeGroup>
    <xsd:complexType name="HD.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">universal ID type</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:LongName>universal ID type</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="HD.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="HD.3" type="HD.3.CONTENT"/>
  
    <!--
        COMPONENT PT.1
    -->
    <xsd:attributeGroup name="PT.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="processing ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="PT.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">processing ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>processing ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="PT.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PT.1" type="PT.1.CONTENT"/>
    <!--
        COMPONENT PT.2
    -->
    <xsd:attributeGroup name="PT.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="processing mode"/>
    </xsd:attributeGroup>
    <xsd:complexType name="PT.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">processing mode</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>processing mode</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="PT.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PT.2" type="PT.2.CONTENT"/>
    
    <!--
        COMPONENT TS.1
    -->
    <xsd:attributeGroup name="TS.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="time of an event"/>
    </xsd:attributeGroup>
    <xsd:complexType name="TS.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">time of an event</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>time of an event</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="TS.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TS.1" type="TS.1.CONTENT"/>
    <!--
        COMPONENT TS.2
    -->
    <xsd:attributeGroup name="TS.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="degree of precision"/>
    </xsd:attributeGroup>
    <xsd:complexType name="TS.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">degree of precision</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>degree of precision</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="TS.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TS.2" type="TS.2.CONTENT"/>
 </xsd:schema>
