driver-tests/sqlse/derby/selectwrongparamvalfullqualSQL/src/selectwrongparamvalfullqualSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="selectwrongparamvalfullqualSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="selectwrongparamvalfullqualRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="selectwrongparamvalfullqualResponse"><xsd:complexType><xsd:sequence><xsd:element name="ENO" type="xsd:int"/><xsd:element name="ENAME" type="xsd:string"/><xsd:element name="SAL" type="xsd:int"/><xsd:element name="DEPTNO" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="selectwrongparamvalfullqualRequest">
    <part name="selectwrongparamvalfullqualRequestPart" element="tns:selectwrongparamvalfullqualRequest"/>
  </message>
  <message name="selectwrongparamvalfullqualResponse">
    <part name="selectwrongparamvalfullqualResponsePart" element="tns:selectwrongparamvalfullqualResponse"/>
  </message>
  <portType name="selectwrongparamvalfullqualSQL_sqlsePortType">
    <operation name="selectwrongparamvalfullqual">
      <input name="selectwrongparamvalfullqualRequest" message="tns:selectwrongparamvalfullqualRequest"/>
      <output name="selectwrongparamvalfullqualResponse" message="tns:selectwrongparamvalfullqualResponse"/>
    </operation>
  </portType>
  <binding name="selectwrongparamvalfullqualSQLBinding" type="tns:selectwrongparamvalfullqualSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="selectwrongparamvalfullqual">
      <soap:operation style="document"/>
      <input name="selectwrongparamvalfullqualRequest">
        <soap:body use="literal"/>
      </input>
      <output name="selectwrongparamvalfullqualResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="selectwrongparamvalfullqualSQL_sqlseService">
    <port name="selectwrongparamvalfullqualSQL_sqlsePort" binding="tns:selectwrongparamvalfullqualSQLBinding">
      <soap:address location="http://localhost:18181/selectwrongparamvalfullqualSQL/selectwrongparamvalfullqualSQL/selectwrongparamvalfullqualSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="selectwrongparamvalfullqualSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="selectwrongparamvalfullqualSQL_myrole" portType="tns:selectwrongparamvalfullqualSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
