ojc-core/component-common/bpelmodel/test/com/sun/bpel/model/dupElementTest/case2/newWSDLDocumentLiteral.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="newWSDLDocumentLiteral" targetNamespace="http://j2ee.netbeans.org/wsdl/newWSDLDocumentLiteral"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/newWSDLDocumentLiteral" xmlns:ns="abc" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns1="http://xml.netbeans.org/schema/newXmlSchema">
    <types>
        <xsd:schema targetNamespace="abc" xmlns:tns1="abc" xmlns:def="http://xml.netbeans.org/schema/newXmlSchema">
            <xsd:import schemaLocation="newXmlSchema.xsd" namespace="http://xml.netbeans.org/schema/newXmlSchema"/>
            <xsd:element name="newElement" type="tns1:rpctypeA"/>
            <xsd:complexType name="rpctypeA">
                <xsd:sequence>
                    <xsd:element name="elementA" type="xsd:string"></xsd:element>
                    <xsd:element name="elementB" type="xsd:string"></xsd:element>
                    <xsd:element ref="def:elementA"/>
                </xsd:sequence>
            </xsd:complexType>            
        </xsd:schema>
    </types>
    <message name="newWSDLDocumentLiteralOperationRequest">
        <part name="part1" element="ns:newElement"/>
    </message>
    <message name="newWSDLDocumentLiteralOperationReply">
        <part name="part1" element="ns:newElement"/>
    </message>
    <portType name="newWSDLDocumentLiteralPortType">
        <operation name="newWSDLDocumentLiteralOperation">
            <input name="input1" message="tns:newWSDLDocumentLiteralOperationRequest"/>
            <output name="output1" message="tns:newWSDLDocumentLiteralOperationReply"/>
        </operation>
    </portType>
    <!-- partnerLinkType are automatically generated when a new portType is added. partnerLinkType are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
    <binding name="newWSDLDocumentLiteralBinding" type="tns:newWSDLDocumentLiteralPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="newWSDLDocumentLiteralOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="newWSDLDocumentLiteralService">
        <port name="newWSDLDocumentLiteralPort" binding="tns:newWSDLDocumentLiteralBinding">
            <soap:address location="http://localhost:18181/newWSDLDocumentLiteralService/newWSDLDocumentLiteralPort"/>
        </port>
    </service>
    <plink:partnerLinkType name="newWSDLDocumentLiteralPartner">
        <plink:role name="newWSDLDocumentLiteralPortTypeRole" portType="tns:newWSDLDocumentLiteralPortType"/>
    </plink:partnerLinkType>
    <plink:partnerLinkType xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/" name="DocumentLiteralPLT">
        <plink:role name="roleA" portType="tns:newWSDLDocumentLiteralPortType"/>
    </plink:partnerLinkType>
</definitions>
