driver-tests/iepse/IEPTableOutput/PreTableOutputIep/src/PreTableOutput/TimeBasedAggregator/TimeBasedAggregator.wsdl

<definitions targetNamespace="PreTableOutput.TimeBasedAggregator.TimeBasedAggregator_iep"
             xmlns:tns="PreTableOutput.TimeBasedAggregator.TimeBasedAggregator_iep"
             xmlns:typens="PreTableOutput.TimeBasedAggregator.TimeBasedAggregator_iep"
             xmlns:defns="PreTableOutput.TimeBasedAggregator.TimeBasedAggregator_iep"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
    <xsd:schema targetNamespace="PreTableOutput.TimeBasedAggregator.TimeBasedAggregator_iep" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="StreamInput0_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:int"/>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="price" type="xsd:double"/>
                    <xsd:element name="parentID" type="xsd:long"/>
                    <xsd:element name="orderTimeStamp" type="xsd:dateTime"/>
                    <xsd:element name="orderDate" type="xsd:date"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamInput0Batch_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="StreamInput0_MsgObj" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                    <xsd:element name="id" type="xsd:int"/>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="price" type="xsd:double"/>
                    <xsd:element name="parentID" type="xsd:long"/>
                    <xsd:element name="orderTimeStamp" type="xsd:dateTime"/>
                    <xsd:element name="orderDate" type="xsd:date"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamOutput0_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="price" type="xsd:double"/>
                   <xsd:element name="parentID" type="xsd:long"/>
                   <xsd:element name="id" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
    </xsd:schema>
</types>

<message name="StreamInput0_Msg">
    <part name="input" element="typens:StreamInput0_MsgObj"/>
</message>
<message name="StreamInput0Batch_Msg">
    <part name="input" element="typens:StreamInput0Batch_MsgObj"/>
</message>
<message name="StreamOutput0_Msg">
    <part name="output" element="typens:StreamOutput0_MsgObj"/>
</message>

<portType name="InputPt">
    <operation name="StreamInput0">
        <input message="tns:StreamInput0_Msg"/>
    </operation>
    <operation name="StreamInput0Batch">
        <input message="tns:StreamInput0Batch_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_StreamOutput0">
    <operation name="StreamOutput0">
        <input message="tns:StreamOutput0_Msg"/>
    </operation>
</portType>

<plnk:partnerLinkType name="InputPlt" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "InputRn" portType="tns:InputPt"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_StreamOutput0" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_StreamOutput0" portType="tns:OutputPt_StreamOutput0"/>
</plnk:partnerLinkType>
</definitions>
