driver-tests/sqlse/derby/deletefalsecondbpelSQL/src/deletefalsecondbpelSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="deletefalsecondbpelSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="deletefalsecondbpelRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="deletefalsecondbpelRequest">
    <part name="deletefalsecondbpelRequestPart" element="tns:deletefalsecondbpelRequest"/>
  </message>
  <message name="deletefalsecondbpelResponse">
    <part name="deletefalsecondbpelResponsePart" element="tns:numRowsEffected"/>
  </message>
  <portType name="deletefalsecondbpelSQL_sqlsePortType">
    <operation name="deletefalsecondbpel">
      <input name="deletefalsecondbpelRequest" message="tns:deletefalsecondbpelRequest"/>
      <output name="deletefalsecondbpelResponse" message="tns:deletefalsecondbpelResponse"/>
    </operation>
  </portType>
  <binding name="deletefalsecondbpelSQLBinding" type="tns:deletefalsecondbpelSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="deletefalsecondbpel">
      <soap:operation style="document"/>
      <input name="deletefalsecondbpelRequest">
        <soap:body use="literal"/>
      </input>
      <output name="deletefalsecondbpelResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="deletefalsecondbpelSQL_sqlseService">
    <port name="deletefalsecondbpelSQL_sqlsePort" binding="tns:deletefalsecondbpelSQLBinding">
      <soap:address location="http://localhost:18181/deletefalsecondbpelSQL/deletefalsecondbpelSQL/deletefalsecondbpelSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="deletefalsecondbpelSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="deletefalsecondbpelSQL_myrole" portType="tns:deletefalsecondbpelSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
