driver-tests/sqlse/db2/SqlSE1208_DB2/DeleteWithOneParamBpel/src/DeleteWithOneParamSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="DeleteWithOneParamSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="DeleteWithOneParamRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="DeleteWithOneParamRequest">
    <part name="DeleteWithOneParamRequestPart" element="tns:DeleteWithOneParamRequest"/>
  </message>
  <message name="DeleteWithOneParamResponse">
    <part name="DeleteWithOneParamResponsePart" element="tns:numRowsEffected"/>
  </message>
  <portType name="DeleteWithOneParamSql_sqlsePortType">
    <operation name="DeleteWithOneParam">
      <input name="DeleteWithOneParamRequest" message="tns:DeleteWithOneParamRequest"/>
      <output name="DeleteWithOneParamResponse" message="tns:DeleteWithOneParamResponse"/>
    </operation>
  </portType>
  <binding name="DeleteWithOneParamSqlBinding" type="tns:DeleteWithOneParamSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="DeleteWithOneParam">
      <soap:operation/>
      <input name="DeleteWithOneParamRequest">
        <soap:body/>
      </input>
      <output name="DeleteWithOneParamResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="DeleteWithOneParamSql_sqlseService">
    <port name="DeleteWithOneParamSql_sqlsePort" binding="tns:DeleteWithOneParamSqlBinding">
      <soap:address location="http://localhost:18181/DeleteWithOneParamSql/DeleteWithOneParamSql/DeleteWithOneParamSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="DeleteWithOneParamSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="DeleteWithOneParamSql_myrole" portType="tns:DeleteWithOneParamSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
