driver-tests/sqlse/sqlserver/Sqlse1606_SQL/SubQueryWrongJbi/src/jbiServiceUnits/SubQueryWrongSql/SubQueryWrongSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SubQueryWrongSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="SubQueryWrongRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="SubQueryWrongResponse"><xsd:complexType><xsd:sequence><xsd:element name="empid" type="xsd:int"/><xsd:element name="empname" type="xsd:string"/><xsd:element name="deptid" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="SubQueryWrongResponse">
    <part name="SubQueryWrongResponsePart" element="tns:SubQueryWrongResponse"/>
  </message>
  <message name="SubQueryWrongRequest">
    <part name="SubQueryWrongRequestPart" element="tns:SubQueryWrongRequest"/>
  </message>
  <portType name="SubQueryWrongSql_sqlsePortType">
    <operation name="SubQueryWrong">
      <input name="SubQueryWrongRequest" message="tns:SubQueryWrongRequest"/>
      <output name="SubQueryWrongResponse" message="tns:SubQueryWrongResponse"/>
    </operation>
  </portType>
  <binding name="SubQueryWrongSqlBinding" type="tns:SubQueryWrongSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SubQueryWrong">
      <soap:operation/>
      <input name="SubQueryWrongRequest">
        <soap:body/>
      </input>
      <output name="SubQueryWrongResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="SubQueryWrongSql_sqlseService">
    <port name="SubQueryWrongSql_sqlsePort" binding="tns:SubQueryWrongSqlBinding">
      <soap:address location="http://localhost:18181/SubQueryWrongSql/SubQueryWrongSql/SubQueryWrongSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="SubQueryWrongSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="SubQueryWrongSql_myrole" portType="tns:SubQueryWrongSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
