driver-tests/sqlse/derby/updatefalseBPEL/src/updatefalsebpelSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="updatefalsebpelSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="updatefalsebpelRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="updatefalsebpelRequest">
    <part name="updatefalsebpelRequestPart" element="tns:updatefalsebpelRequest"/>
  </message>
  <message name="updatefalsebpelResponse">
    <part name="updatefalsebpelResponsePart" element="tns:numRowsEffected"/>
  </message>
  <portType name="updatefalsebpelSQL_sqlsePortType">
    <operation name="updatefalsebpel">
      <input name="updatefalsebpelRequest" message="tns:updatefalsebpelRequest"/>
      <output name="updatefalsebpelResponse" message="tns:updatefalsebpelResponse"/>
    </operation>
  </portType>
  <binding name="updatefalsebpelSQLBinding" type="tns:updatefalsebpelSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="updatefalsebpel">
      <soap:operation style="document"/>
      <input name="updatefalsebpelRequest">
        <soap:body use="literal"/>
      </input>
      <output name="updatefalsebpelResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="updatefalsebpelSQL_sqlseService">
    <port name="updatefalsebpelSQL_sqlsePort" binding="tns:updatefalsebpelSQLBinding">
      <soap:address location="http://localhost:18181/updatefalsebpelSQL/updatefalsebpelSQL/updatefalsebpelSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="updatefalsebpelSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="updatefalsebpelSQL_myrole" portType="tns:updatefalsebpelSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
