ojc-core/encodersl/encoder-custom/test/data/c051.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xml.netbeans.org/schema/test" xmlns:enc="urn:com.sun:encoder" xmlns:urn="urn:com.sun:encoder-custom-1.0" targetNamespace="http://xml.netbeans.org/schema/test" elementFormDefault="qualified">
  <xsd:annotation>
    <xsd:appinfo source="urn:com.sun:encoder">
      <enc:encoding name="Custom Encoding" namespace="urn:com.sun:encoder-custom-1.0" style="customencoder-1.0"/>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="root">
    <xsd:annotation>
      <xsd:appinfo source="urn:com.sun:encoder">
        <urn:top xmlns:urn="urn:com.sun:encoder">true</urn:top>
        <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
          <urn:nodeType>group</urn:nodeType>
          <urn:delimiterSet>
            <urn:level>
              <urn:delimiter>
                <urn:kind>normal</urn:kind>
                <urn:precedence>11</urn:precedence>
                <urn:optionalMode>never</urn:optionalMode>
                <urn:terminatorMode>never</urn:terminatorMode>
                <urn:bytes>
                  <urn:constant>\r\n\r\n</urn:constant>
                </urn:bytes>
              </urn:delimiter>
            </urn:level>
          </urn:delimiterSet>
        </urn:nodeProperties>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="header">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="messageID" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>\r\n</urn:constant>
                            </urn:bytes>
                            <urn:beginBytes>
                              <urn:constant>Message-ID: </urn:constant>
                            </urn:beginBytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="date" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>\r\n</urn:constant>
                            </urn:bytes>
                            <urn:beginBytes>
                              <urn:constant>Date: </urn:constant>
                            </urn:beginBytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="from" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>\r\n</urn:constant>
                            </urn:bytes>
                            <urn:beginBytes>
                              <urn:constant>From: </urn:constant>
                            </urn:beginBytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="to">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>Subject: </urn:constant>
                            </urn:bytes>
                            <urn:beginBytes>
                              <urn:constant>To: </urn:constant>
                            </urn:beginBytes>
                          </urn:delimiter>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>11</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>\r\nSubject: </urn:constant>
                            </urn:bytes>
                            <urn:beginBytes>
                              <urn:constant>To: </urn:constant>
                            </urn:beginBytes>
                          </urn:delimiter>
                        </urn:level>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>,</urn:constant>
                            </urn:bytes>
                          </urn:delimiter>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>11</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>,\r\n</urn:constant>
                            </urn:bytes>
                          </urn:delimiter>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>12</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>,\r\n\t</urn:constant>
                            </urn:bytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="emailAddr" type="xsd:string" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="subject" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>\r\n</urn:constant>
                            </urn:bytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="cc" minOccurs="0">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>Mime-Version: </urn:constant>
                            </urn:bytes>
                            <urn:beginBytes>
                              <urn:constant>Cc: </urn:constant>
                            </urn:beginBytes>
                          </urn:delimiter>
                        </urn:level>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>,</urn:constant>
                            </urn:bytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="emailAddr" type="xsd:string" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="mimeVersion" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>\r\n</urn:constant>
                            </urn:bytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="contentType" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>\r\n</urn:constant>
                            </urn:bytes>
                            <urn:beginBytes>
                              <urn:constant>Content-Type: </urn:constant>
                            </urn:beginBytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="contentTransferEncoding" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>\r\n</urn:constant>
                            </urn:bytes>
                            <urn:beginBytes>
                              <urn:constant>Content-Transfer-Encoding: </urn:constant>
                            </urn:beginBytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="bcc" minOccurs="0">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>X-From: </urn:constant>
                            </urn:bytes>
                            <urn:beginBytes>
                              <urn:constant>Bcc: </urn:constant>
                            </urn:beginBytes>
                          </urn:delimiter>
                        </urn:level>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>,</urn:constant>
                            </urn:bytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="emailAddr" type="xsd:string" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="xFrom" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>\r\n</urn:constant>
                            </urn:bytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="xTo">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>\r\n</urn:constant>
                            </urn:bytes>
                            <urn:beginBytes>
                              <urn:constant>X-To: </urn:constant>
                            </urn:beginBytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="idGroup">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                          <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                            <urn:nodeType>group</urn:nodeType>
                            <urn:order>mixed</urn:order>
                          </urn:nodeProperties>
                        </xsd:appinfo>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="userID1" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder">
                                <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                  <urn:nodeType>delimited</urn:nodeType>
                                  <urn:delimiterSet>
                                    <urn:level>
                                      <urn:delimiter>
                                        <urn:kind>normal</urn:kind>
                                        <urn:precedence>10</urn:precedence>
                                        <urn:optionalMode>never</urn:optionalMode>
                                        <urn:terminatorMode>never</urn:terminatorMode>
                                        <urn:bytes>
                                          <urn:constant>', </urn:constant>
                                        </urn:bytes>
                                      </urn:delimiter>
                                    </urn:level>
                                  </urn:delimiterSet>
                                  <urn:match>'</urn:match>
                                  <urn:alignment>begin</urn:alignment>
                                </urn:nodeProperties>
                              </xsd:appinfo>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="userID2" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder">
                                <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                  <urn:nodeType>delimited</urn:nodeType>
                                  <urn:delimiterSet>
                                    <urn:level>
                                      <urn:delimiter>
                                        <urn:kind>normal</urn:kind>
                                        <urn:precedence>11</urn:precedence>
                                        <urn:optionalMode>never</urn:optionalMode>
                                        <urn:terminatorMode>never</urn:terminatorMode>
                                        <urn:bytes>
                                          <urn:constant>&gt;, </urn:constant>
                                        </urn:bytes>
                                      </urn:delimiter>
                                      <urn:delimiter>
                                        <urn:kind>normal</urn:kind>
                                        <urn:precedence>10</urn:precedence>
                                        <urn:optionalMode>never</urn:optionalMode>
                                        <urn:terminatorMode>favor</urn:terminatorMode>
                                        <urn:bytes>
                                          <urn:constant>&gt;</urn:constant>
                                        </urn:bytes>
                                      </urn:delimiter>
                                    </urn:level>
                                    <urn:level>
                                      <urn:delimiter>
                                        <urn:kind>normal</urn:kind>
                                        <urn:precedence>10</urn:precedence>
                                        <urn:optionalMode>never</urn:optionalMode>
                                        <urn:terminatorMode>favor</urn:terminatorMode>
                                        <urn:bytes>
                                          <urn:constant>&lt;</urn:constant>
                                        </urn:bytes>
                                      </urn:delimiter>
                                    </urn:level>
                                  </urn:delimiterSet>
                                  <urn:match>'</urn:match>
                                  <urn:alignment>begin</urn:alignment>
                                  <urn:noMatch>true</urn:noMatch>
                                </urn:nodeProperties>
                              </xsd:appinfo>
                            </xsd:annotation>
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="name" type="xsd:string">
                                  <xsd:annotation>
                                    <xsd:appinfo source="urn:com.sun:encoder">
                                      <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                        <urn:nodeType>delimited</urn:nodeType>
                                        <urn:match>'</urn:match>
                                        <urn:alignment>begin</urn:alignment>
                                        <urn:noMatch>true</urn:noMatch>
                                      </urn:nodeProperties>
                                    </xsd:appinfo>
                                  </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="info" type="xsd:string">
                                  <xsd:annotation>
                                    <xsd:appinfo source="urn:com.sun:encoder"/>
                                  </xsd:annotation>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="xCc">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>\r\n</urn:constant>
                            </urn:bytes>
                            <urn:beginBytes>
                              <urn:constant>X-Cc: </urn:constant>
                            </urn:beginBytes>
                          </urn:delimiter>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>\r\n</urn:constant>
                            </urn:bytes>
                            <urn:beginBytes>
                              <urn:constant>X-cc: </urn:constant>
                            </urn:beginBytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                      <urn:order>mixed</urn:order>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="idGroup">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                          <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                            <urn:nodeType>group</urn:nodeType>
                            <urn:order>mixed</urn:order>
                          </urn:nodeProperties>
                        </xsd:appinfo>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="userID1" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder">
                                <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                  <urn:nodeType>delimited</urn:nodeType>
                                  <urn:delimiterSet>
                                    <urn:level>
                                      <urn:delimiter>
                                        <urn:kind>normal</urn:kind>
                                        <urn:precedence>10</urn:precedence>
                                        <urn:optionalMode>never</urn:optionalMode>
                                        <urn:terminatorMode>never</urn:terminatorMode>
                                        <urn:bytes>
                                          <urn:constant>', </urn:constant>
                                        </urn:bytes>
                                      </urn:delimiter>
                                    </urn:level>
                                  </urn:delimiterSet>
                                  <urn:match>'</urn:match>
                                  <urn:alignment>begin</urn:alignment>
                                </urn:nodeProperties>
                              </xsd:appinfo>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="userID2" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder">
                                <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                  <urn:nodeType>delimited</urn:nodeType>
                                  <urn:delimiterSet>
                                    <urn:level>
                                      <urn:delimiter>
                                        <urn:kind>normal</urn:kind>
                                        <urn:precedence>11</urn:precedence>
                                        <urn:optionalMode>never</urn:optionalMode>
                                        <urn:terminatorMode>never</urn:terminatorMode>
                                        <urn:bytes>
                                          <urn:constant>&gt;, </urn:constant>
                                        </urn:bytes>
                                      </urn:delimiter>
                                      <urn:delimiter>
                                        <urn:kind>normal</urn:kind>
                                        <urn:precedence>10</urn:precedence>
                                        <urn:optionalMode>never</urn:optionalMode>
                                        <urn:terminatorMode>favor</urn:terminatorMode>
                                        <urn:bytes>
                                          <urn:constant>&gt;</urn:constant>
                                        </urn:bytes>
                                      </urn:delimiter>
                                    </urn:level>
                                    <urn:level>
                                      <urn:delimiter>
                                        <urn:kind>normal</urn:kind>
                                        <urn:precedence>10</urn:precedence>
                                        <urn:optionalMode>never</urn:optionalMode>
                                        <urn:terminatorMode>favor</urn:terminatorMode>
                                        <urn:bytes>
                                          <urn:constant>&lt;</urn:constant>
                                        </urn:bytes>
                                      </urn:delimiter>
                                    </urn:level>
                                  </urn:delimiterSet>
                                  <urn:match>'</urn:match>
                                  <urn:alignment>begin</urn:alignment>
                                  <urn:noMatch>true</urn:noMatch>
                                </urn:nodeProperties>
                              </xsd:appinfo>
                            </xsd:annotation>
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="name" type="xsd:string">
                                  <xsd:annotation>
                                    <xsd:appinfo source="urn:com.sun:encoder">
                                      <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                        <urn:nodeType>delimited</urn:nodeType>
                                        <urn:match>'</urn:match>
                                        <urn:alignment>begin</urn:alignment>
                                        <urn:noMatch>true</urn:noMatch>
                                      </urn:nodeProperties>
                                    </xsd:appinfo>
                                  </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="info" type="xsd:string">
                                  <xsd:annotation>
                                    <xsd:appinfo source="urn:com.sun:encoder"/>
                                  </xsd:annotation>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="xBcc">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>\r\n</urn:constant>
                            </urn:bytes>
                            <urn:beginBytes>
                              <urn:constant>X-Bcc: </urn:constant>
                            </urn:beginBytes>
                          </urn:delimiter>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>\r\n</urn:constant>
                            </urn:bytes>
                            <urn:beginBytes>
                              <urn:constant>X-bcc: </urn:constant>
                            </urn:beginBytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                      <urn:order>mixed</urn:order>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="idGroup">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                          <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                            <urn:nodeType>group</urn:nodeType>
                            <urn:order>mixed</urn:order>
                          </urn:nodeProperties>
                        </xsd:appinfo>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="userID1" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder">
                                <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                  <urn:nodeType>delimited</urn:nodeType>
                                  <urn:delimiterSet>
                                    <urn:level>
                                      <urn:delimiter>
                                        <urn:kind>normal</urn:kind>
                                        <urn:precedence>10</urn:precedence>
                                        <urn:optionalMode>never</urn:optionalMode>
                                        <urn:terminatorMode>never</urn:terminatorMode>
                                        <urn:bytes>
                                          <urn:constant>', </urn:constant>
                                        </urn:bytes>
                                      </urn:delimiter>
                                    </urn:level>
                                  </urn:delimiterSet>
                                  <urn:match>'</urn:match>
                                  <urn:alignment>begin</urn:alignment>
                                </urn:nodeProperties>
                              </xsd:appinfo>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="userID2" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder">
                                <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                  <urn:nodeType>delimited</urn:nodeType>
                                  <urn:delimiterSet>
                                    <urn:level>
                                      <urn:delimiter>
                                        <urn:kind>normal</urn:kind>
                                        <urn:precedence>11</urn:precedence>
                                        <urn:optionalMode>never</urn:optionalMode>
                                        <urn:terminatorMode>never</urn:terminatorMode>
                                        <urn:bytes>
                                          <urn:constant>&gt;, </urn:constant>
                                        </urn:bytes>
                                      </urn:delimiter>
                                      <urn:delimiter>
                                        <urn:kind>normal</urn:kind>
                                        <urn:precedence>10</urn:precedence>
                                        <urn:optionalMode>never</urn:optionalMode>
                                        <urn:terminatorMode>favor</urn:terminatorMode>
                                        <urn:bytes>
                                          <urn:constant>&gt;</urn:constant>
                                        </urn:bytes>
                                      </urn:delimiter>
                                    </urn:level>
                                    <urn:level>
                                      <urn:delimiter>
                                        <urn:kind>normal</urn:kind>
                                        <urn:precedence>10</urn:precedence>
                                        <urn:optionalMode>never</urn:optionalMode>
                                        <urn:terminatorMode>favor</urn:terminatorMode>
                                        <urn:bytes>
                                          <urn:constant>&lt;</urn:constant>
                                        </urn:bytes>
                                      </urn:delimiter>
                                    </urn:level>
                                  </urn:delimiterSet>
                                  <urn:match>'</urn:match>
                                  <urn:alignment>begin</urn:alignment>
                                  <urn:noMatch>true</urn:noMatch>
                                </urn:nodeProperties>
                              </xsd:appinfo>
                            </xsd:annotation>
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="name" type="xsd:string">
                                  <xsd:annotation>
                                    <xsd:appinfo source="urn:com.sun:encoder">
                                      <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                        <urn:nodeType>delimited</urn:nodeType>
                                        <urn:match>'</urn:match>
                                        <urn:alignment>begin</urn:alignment>
                                        <urn:noMatch>true</urn:noMatch>
                                      </urn:nodeProperties>
                                    </xsd:appinfo>
                                  </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="info" type="xsd:string">
                                  <xsd:annotation>
                                    <xsd:appinfo source="urn:com.sun:encoder"/>
                                  </xsd:annotation>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="xFolder">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>\r\n</urn:constant>
                            </urn:bytes>
                            <urn:beginBytes>
                              <urn:constant>X-Folder: </urn:constant>
                            </urn:beginBytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="folder" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                          <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                            <urn:nodeType>delimited</urn:nodeType>
                            <urn:delimiterSet>
                              <urn:level>
                                <urn:delimiter>
                                  <urn:kind>normal</urn:kind>
                                  <urn:precedence>10</urn:precedence>
                                  <urn:optionalMode>never</urn:optionalMode>
                                  <urn:terminatorMode>never</urn:terminatorMode>
                                  <urn:bytes>
                                    <urn:constant>,</urn:constant>
                                  </urn:bytes>
                                </urn:delimiter>
                              </urn:level>
                            </urn:delimiterSet>
                          </urn:nodeProperties>
                        </xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="xOrigin" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>\r\n</urn:constant>
                            </urn:bytes>
                            <urn:beginBytes>
                              <urn:constant>X-Origin: </urn:constant>
                            </urn:beginBytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="xFileName" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>\r\n</urn:constant>
                            </urn:bytes>
                            <urn:beginBytes>
                              <urn:constant>X-FileName: </urn:constant>
                            </urn:beginBytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="body" type="xsd:string">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
