ojc-core/encodersl/encoder-custom/test/data/c052.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xml.netbeans.org/schema/test" xmlns:enc="urn:com.sun:encoder" targetNamespace="http://xml.netbeans.org/schema/test" elementFormDefault="qualified">
  <xsd:annotation>
    <xsd:appinfo source="urn:com.sun:encoder">
      <enc:encoding name="Custom Encoding" namespace="urn:com.sun:encoder-custom-1.0" style="customencoder-1.0"/>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:simpleType name="TmedType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="35"/>
      <xsd:maxLength value="35"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="HEADType">
    <xsd:sequence>
      <xsd:element name="HEADId" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ctypalgo" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ccosys" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cdealn" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Rkontr" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Rvers" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cprodu" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Source" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Rundate" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Runtime" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DEALType">
    <xsd:sequence>
      <xsd:element name="DEALId" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>delimited</urn:nodeType>
              <urn:match>DEAL</urn:match>
              <urn:alignment>begin</urn:alignment>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ctypalgo" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ccosys" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cdealn" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Rkontr" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Rvers" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cbeen" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Targetsystem" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Rcifd" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Rprof" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cocomp" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cprodu" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ccorr" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Copera" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Dkontr" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Dregi" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Dureg" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Dvaldl" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Dmatdl" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cdealr" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cusrid" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Rtegp" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Rbrokr" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cwijze" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ccashfl" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cinfo" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cerror" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cmuhm" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bbedhm" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cmutm" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bbedtn" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cmualf" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cmt_intr" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bnot" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cbasis" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cbuss" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cintc" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cintb" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cintk" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cintt" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ckintr" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bbedtf" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bratsp" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bratfk" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bratnd" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bratfd" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Brati" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bfldev" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Dfcoup" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Camor" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cntwkr" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cffsrt" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reffid" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Nwde" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cmuwde" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bnomst" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Duitg" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Dterug" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Reffas" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Aeenhd" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bfixr" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cswfc" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cswter" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cfkrs_ref3" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cfkrs_ref_det3" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cloopt_fkrs" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Aopzeg" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ciber" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cswct" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cswie" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cswre" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ddatfix" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ddatspc" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cmubegfee" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bbegfee" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cmuendfee" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bendfee" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Coddfstcoup" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Lstregcoup" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Assetstartdate" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bcurrate" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bnxtrate" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bdragl" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Dbcurrateb" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Dbcurratee" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Dbnxtrateb" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Dbnxtratee" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Spotdate" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Spotrate" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PC_Cmualf_1" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PC_Cmualf_2" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PC_Cmualf_3" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PC_Cmualf_4" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Csirw" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ext_System" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ext_Reference" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CASHType">
    <xsd:sequence>
      <xsd:element name="CASHId" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>delimited</urn:nodeType>
              <urn:match>CASH</urn:match>
              <urn:alignment>begin</urn:alignment>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ccosys" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cdealn" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Rkontr" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Rvers" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cbeen" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Csrtbe" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Datbet" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ddateb" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ddatee" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cprodu" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cmualf" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bbetal" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Breken" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Brent" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Bfix" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cficre" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="INFOType">
    <xsd:sequence>
      <xsd:element name="INFOId" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>delimited</urn:nodeType>
              <urn:match>INFO</urn:match>
              <urn:alignment>begin</urn:alignment>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ccosys" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cdealn" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Rkontr" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Rvers" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Rseq" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Texin" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MEMOType">
    <xsd:sequence>
      <xsd:element name="MEMOId" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>delimited</urn:nodeType>
              <urn:match>MEMO</urn:match>
              <urn:alignment>begin</urn:alignment>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Rseq" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cmed" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Tmed" type="tns:TmedType">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:alignment>blind</urn:alignment>
              <urn:length>35</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TRLRType">
    <xsd:sequence>
      <xsd:element name="TRLRId" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>delimited</urn:nodeType>
              <urn:match>TRLR</urn:match>
              <urn:alignment>begin</urn:alignment>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Ccosys" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Cdealn" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Rkontr" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Rvers" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Nrec" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="root">
    <xsd:annotation>
      <xsd:appinfo source="urn:com.sun:encoder">
        <enc:top xmlns:enc="urn:com.sun:encoder">true</enc:top>
        <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
          <urn:nodeType>group</urn:nodeType>
          <urn:delimiterSet>
            <urn:level>
              <urn:delimiter>
                <urn:kind>normal</urn:kind>
                <urn:precedence>9</urn:precedence>
                <urn:optionalMode>never</urn:optionalMode>
                <urn:terminatorMode>never</urn:terminatorMode>
                <urn:bytes>
                  <urn:constant>;</urn:constant>
                </urn:bytes>
              </urn:delimiter>
            </urn:level>
            <urn:level>
              <urn:delimiter>
                <urn:kind>normal</urn:kind>
                <urn:precedence>9</urn:precedence>
                <urn:optionalMode>never</urn:optionalMode>
                <urn:terminatorMode>never</urn:terminatorMode>
                <urn:bytes>
                  <urn:constant>,</urn:constant>
                </urn:bytes>
              </urn:delimiter>
            </urn:level>
          </urn:delimiterSet>
        </urn:nodeProperties>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="HEADElement" type="tns:HEADType">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="DEALElement" type="tns:DEALType" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="CASHElement" type="tns:CASHType" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="INFOElement" type="tns:INFOType" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="MEMOElement" type="tns:MEMOType" minOccurs="0" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="TRLRElement" type="tns:TRLRType">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
