ojc-core/encodersl/encoder-custom/test/data/c056.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xml.netbeans.org/schema/test" xmlns:enc="urn:com.sun:encoder" xmlns:ns1="http://xml.netbeans.org/schema/test" targetNamespace="http://xml.netbeans.org/schema/test" elementFormDefault="qualified">
  <xsd:annotation>
    <xsd:appinfo source="urn:com.sun:encoder">
      <enc:encoding name="Custom Encoding" namespace="urn:com.sun:encoder-custom-1.0" style="customencoder-1.0"/>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="root">
    <xsd:annotation>
      <xsd:appinfo source="urn:com.sun:encoder">
        <urn:top xmlns:urn="urn:com.sun:encoder">true</urn:top>
        <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
          <urn:nodeType>group</urn:nodeType>
          <urn:delimiterSet>
            <urn:level>
              <urn:delimiter>
                <urn:kind>normal</urn:kind>
                <urn:precedence>10</urn:precedence>
                <urn:optionalMode>never</urn:optionalMode>
                <urn:terminatorMode>never</urn:terminatorMode>
                <urn:bytes>
                  <urn:constant>\n</urn:constant>
                </urn:bytes>
              </urn:delimiter>
            </urn:level>
            <urn:level>
              <urn:delimiter>
                <urn:kind>normal</urn:kind>
                <urn:precedence>10</urn:precedence>
                <urn:optionalMode>allow</urn:optionalMode>
                <urn:terminatorMode>allow</urn:terminatorMode>
                <urn:bytes>
                  <urn:constant> </urn:constant>
                </urn:bytes>
                <urn:skipLeading>true</urn:skipLeading>
                <urn:collapse>true</urn:collapse>
              </urn:delimiter>
            </urn:level>
          </urn:delimiterSet>
        </urn:nodeProperties>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="categoryTitles">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="categoryTitle" type="xsd:string" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="detailTitles">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="detailTitle" type="xsd:string" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="data">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="KernelThreadsState">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>group</urn:nodeType>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="threadsInRunQueue" type="xsd:int">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="threadsBlocked" type="xsd:int">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="swappedOutLWPs" type="xsd:int">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="MemoryState">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>group</urn:nodeType>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="swapSpaceInKbytes" type="xsd:long">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="freeSpaceInKbytes" type="xsd:long">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="pageState">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>group</urn:nodeType>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="pageReclaimed" type="xsd:long">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="minorFaults" type="xsd:long">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kilobytesPagedIn" type="xsd:long">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kilobytesPagedOut" type="xsd:long">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="kilobytesFreed" type="xsd:long">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="memoryShortfall" type="xsd:long">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="pagesScanned" type="xsd:long">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="diskState">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>group</urn:nodeType>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="disk1Operations" type="xsd:long">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="disk2Operations" type="xsd:long">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="disk3Operations" type="xsd:long">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="disk4Operations" type="xsd:long">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="faults">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>group</urn:nodeType>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="interrupts" type="xsd:long">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="systemCalls" type="xsd:long">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="cpuContextSwitches" type="xsd:long">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="cpuUsage">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>group</urn:nodeType>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="userTime" type="xsd:int">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="systemTime" type="xsd:int">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="idleTime" type="xsd:int">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
