ojc-core/encodersl/encoder-custom/test/data/c062.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/test"
            xmlns:tns="http://xml.netbeans.org/schema/test"
            elementFormDefault="qualified" xmlns:enc="urn:com.sun:encoder" xmlns:urn="urn:com.sun:encoder-custom-1.0">
  <xsd:annotation>
    <xsd:appinfo source="urn:com.sun:encoder">
      <enc:encoding name="Custom Encoding" namespace="urn:com.sun:encoder-custom-1.0" style="customencoder-1.0"/>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:complexType name="Detail" id="Detail">
    <xsd:sequence id="TOP">
      <xsd:element name="RECORD_TYPE" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:match>D</urn:match>
              <urn:alignment>exact</urn:alignment>
              <urn:length>1</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CUSTOMER_ID" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>10</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CLIENT_ID" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>15</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CLIENT_GROUP_ID" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>15</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CARDHOLDER_ID" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>18</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PERSON_CODE" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>3</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PATIENT_PIN_NUMBER" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>22</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NDC" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>11</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="METRIC_DEC_QUANTITY" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>11</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SUBMITTED_DAYS_SUPPLY" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>4</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PHARMACY_NABP" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>12</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DATE_FILLED" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>10</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RX_NUMBER" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>8</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NEW_REFILL" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>4</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DATE_SUBMITTED" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>8</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TIME_SUBMITTED" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>6</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TRANSACTION_STATUS" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>1</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CLAIM_REFERENCE_NUMBER" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>14</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="APPROVED_COPAY" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>10</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="APPROVED_INGREDIENT_COST" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>10</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="APPROVED_FEE" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>10</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="APPROVED_SALES_TAX" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>10</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PAYABLE_COPAY" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>10</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PAYABLE_INGREDIENT_COST" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>10</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PAYABLE_FEE" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>10</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PAYABLE_SALES_TAX" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>10</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AMT_APP_TO_PER_DED" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>10</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AMT_APP_TO_PER_MOP" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>10</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="AMT_APP_TO_PER_MAX" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>10</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ADJUSTMENT_TYPE" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>1</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BENEFIT_EFFECTIVE_DATE" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>8</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BENEFIT_TERMINATION_DATE" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>8</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DATA_EFFECTIVE_DATE" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>8</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DATA_TERMINATION_DATE" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>8</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PLAN_PAID_AMOUNT_SIGN" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>1</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PLAN_PAID_AMOUNT" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>10</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MEMBER_PAID_AMOUNT_SIGN" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>1</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MEMBER_PAID_AMOUNT" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>10</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MOP_PAID_AMOUNT_SIGN" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>1</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MOP_PAID_AMOUNT" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>10</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FACET_OUTCOME_CODE" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>1</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DRUG_SPEND_AMOUNT_SIGN" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>1</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DRUG_SPEND_AMOUNT" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>10</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ADJUSTMENT_DATE" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>8</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="REFERENCE_ID" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>12</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BENEFIT_CODE" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>10</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GENERIC_CODE" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>1</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Trailer">
    <xsd:sequence>
      <xsd:element name="RECORD_TYPE" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:match>T</urn:match>
              <urn:alignment>exact</urn:alignment>
              <urn:length>1</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PROCESSING_HEADER" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>50</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="START_DATE" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>8</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FILLER1" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>1</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="END_DATE" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>8</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FILLER2" type="xsd:string" minOccurs="0" maxOccurs="0">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>1</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TOTAL_RECORD_COUNT" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>9</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="START_TIME" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>6</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="END_TIME" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>6</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Header">
    <xsd:sequence>
      <xsd:element name="RECORD_TYPE" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:match>H</urn:match>
              <urn:alignment>exact</urn:alignment>
              <urn:length>1</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PROCESSING_HEADER" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>50</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="START_DATE" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>8</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FILLER1" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>1</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="END_DATE" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>8</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FILLER2" type="xsd:string" minOccurs="0" maxOccurs="0">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>1</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="START_TIME" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>6</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="END_TIME" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder">
            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
              <urn:nodeType>fixedLength</urn:nodeType>
              <urn:length>6</urn:length>
            </urn:nodeProperties>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="Detail">
    <xsd:sequence>
      <xsd:element name="Detail" type="tns:Detail">
        <xsd:annotation>
          <xsd:appinfo source="urn:com.sun:encoder"/>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="root">
    <xsd:annotation>
      <xsd:appinfo source="urn:com.sun:encoder">
        <urn:top xmlns:urn="urn:com.sun:encoder" xmlns:enc="urn:com.sun:encoder">true</urn:top>
        <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
          <urn:nodeType>group</urn:nodeType>
          <urn:delimiterSet>
            <urn:level>
              <urn:delimiter>
                <urn:kind>normal</urn:kind>
                <urn:precedence>10</urn:precedence>
                <urn:optionalMode>never</urn:optionalMode>
                <urn:terminatorMode>never</urn:terminatorMode>
                <urn:bytes>
                  <urn:constant>\r\n</urn:constant>
                </urn:bytes>
              </urn:delimiter>
            </urn:level>
          </urn:delimiterSet>
          <urn:order>sequence</urn:order>
        </urn:nodeProperties>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="header" form="qualified">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                <urn:nodeType>group</urn:nodeType>
                <urn:minOcc>1</urn:minOcc>
                <urn:maxOcc>1</urn:maxOcc>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="header" type="tns:Header">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                      <urn:nodeType>delimited</urn:nodeType>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="detail" maxOccurs="unbounded" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                <urn:nodeType>group</urn:nodeType>
                <urn:minOcc>1</urn:minOcc>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="detail" type="tns:Detail">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="trailer">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                <urn:nodeType>group</urn:nodeType>
                <urn:delimiterSet>
                  <urn:level>
                    <urn:delimiter>
                      <urn:kind>normal</urn:kind>
                      <urn:precedence>10</urn:precedence>
                      <urn:optionalMode>never</urn:optionalMode>
                      <urn:terminatorMode>never</urn:terminatorMode>
                      <urn:bytes>
                        <urn:constant>\n\r</urn:constant>
                      </urn:bytes>
                    </urn:delimiter>
                  </urn:level>
                </urn:delimiterSet>
                <urn:minOcc>1</urn:minOcc>
                <urn:maxOcc>1</urn:maxOcc>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="trailer" type="tns:Trailer">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
