ojc-core/encodersl/encoder-custom/test/data/c067.xsd


<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/test"
            xmlns:tns="http://xml.netbeans.org/schema/test"
            xmlns:enc="urn:com.sun:encoder"
            elementFormDefault="qualified">
    <xsd:annotation>
        <xsd:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="Custom Encoding" namespace="urn:com.sun:encoder-custom-1.0" style="customencoder-1.0"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:element name="root">
        <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <urn:top xmlns:urn="urn:com.sun:encoder" xmlns:enc="urn:com.sun:encoder">true</urn:top>
                <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                    <urn:nodeType>group</urn:nodeType>
                    <urn:delimiterSet>
                        <urn:level>
                            <urn:delimiter>
                                <urn:kind>normal</urn:kind>
                                <urn:precedence>10</urn:precedence>
                                <urn:optionalMode>never</urn:optionalMode>
                                <urn:terminatorMode>never</urn:terminatorMode>
                                <urn:bytes>
                                    <urn:constant>\n</urn:constant>
                                </urn:bytes>
                            </urn:delimiter>
                        </urn:level>
                        <urn:level>
                            <urn:delimiter>
                                <urn:kind>normal</urn:kind>
                                <urn:precedence>10</urn:precedence>
                                <urn:optionalMode>never</urn:optionalMode>
                                <urn:terminatorMode>force</urn:terminatorMode>
                                <urn:bytes>
                                    <urn:constant>;</urn:constant>
                                </urn:bytes>
                            </urn:delimiter>
                        </urn:level>
                    </urn:delimiterSet>
                </urn:nodeProperties>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name='header' type='tns:header'>
                    <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                <urn:nodeType>group</urn:nodeType>
                            </urn:nodeProperties>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs='0' name='detailList' type='tns:detailList'>
                    <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                <urn:nodeType>group</urn:nodeType>
                            </urn:nodeProperties>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs='0' name='deleteList' type='tns:deleteList'>
                    <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                <urn:nodeType>group</urn:nodeType>
                            </urn:nodeProperties>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element minOccurs='0' name='trailer' type='tns:trailer'>
                    <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                <urn:nodeType>group</urn:nodeType>
                            </urn:nodeProperties>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name='deleteList'>
        <xsd:sequence>
            <xsd:element minOccurs='0' name='definition' type='xsd:string'>
                <xsd:annotation>
                    <xsd:appinfo source="urn:com.sun:encoder">
                        <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                            <urn:nodeType>delimited</urn:nodeType>
                            <urn:match>#DEF;DELETE</urn:match>
                            <urn:alignment>begin</urn:alignment>
                        </urn:nodeProperties>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs='unbounded' minOccurs='0' name='deleteData' nillable='true' type='tns:deleteData'>
                <xsd:annotation>
                    <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name='deleteData'>
        <xsd:sequence>
            <xsd:element minOccurs='1' name='recordType' type='xsd:string'>
                <xsd:annotation>
                    <xsd:appinfo source="urn:com.sun:encoder">
                        <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                            <urn:nodeType>delimited</urn:nodeType>
                            <urn:match>DELETE</urn:match>
                            <urn:alignment>exact</urn:alignment>
                        </urn:nodeProperties>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs='0' name='custId' type='xsd:string'>
                <xsd:annotation>
                    <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name='detailList'>
        <xsd:sequence>
            <xsd:element minOccurs='0' name='definition' type='xsd:string'>
                <xsd:annotation>
                    <xsd:appinfo source="urn:com.sun:encoder">
                        <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                            <urn:nodeType>delimited</urn:nodeType>
                            <urn:match>#DEF;DATA</urn:match>
                            <urn:alignment>begin</urn:alignment>
                        </urn:nodeProperties>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element maxOccurs='unbounded' minOccurs='0' name='detailData' nillable='true' type='tns:data'>
                <xsd:annotation>
                    <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name='data'>
        <xsd:sequence>
            <xsd:element minOccurs='1' name='recordType' type='xsd:string'>
                <xsd:annotation>
                    <xsd:appinfo source="urn:com.sun:encoder">
                        <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                            <urn:nodeType>delimited</urn:nodeType>
                            <urn:match>DATA</urn:match>
                            <urn:alignment>exact</urn:alignment>
                        </urn:nodeProperties>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs='0' name='custId' type='xsd:string'>
                <xsd:annotation>
                    <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs='0' name='custName' type='xsd:string'>
                <xsd:annotation>
                    <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs='0' name='custAddress' type='xsd:string'>
                <xsd:annotation>
                    <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs='0' name='custCity' type='xsd:string'>
                <xsd:annotation>
                    <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs='0' name='custCountry' type='xsd:string'>
                <xsd:annotation>
                    <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
            </xsd:element>
            <xsd:element minOccurs='0' name='custPhone' type='xsd:string'>
                <xsd:annotation>
                    <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name='trailer'>
        <xsd:sequence>
            <xsd:element minOccurs='0' name='definition' type='xsd:string'>
                <xsd:annotation>
                    <xsd:appinfo source="urn:com.sun:encoder">
                        <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                            <urn:nodeType>delimited</urn:nodeType>
                            <urn:match>#END</urn:match>
                            <urn:alignment>begin</urn:alignment>
                        </urn:nodeProperties>
                    </xsd:appinfo>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name='header'>
        <xsd:sequence>
            <xsd:element minOccurs='0' name='fileInfo' type='xsd:string'>
                <xsd:annotation>
                    <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
