ojc-core/encodersl/encoder-custom/test/data/c081.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/test"
            xmlns:tns="http://xml.netbeans.org/schema/test"
            elementFormDefault="qualified" xmlns:enc="urn:com.sun:encoder">
    <xsd:annotation>
        <xsd:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="Custom Encoding" namespace="urn:com.sun:encoder-custom-1.0" style="customencoder-1.0"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:element name="root">
        <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <urn:top xmlns:urn="urn:com.sun:encoder" xmlns:enc="urn:com.sun:encoder">true</urn:top>
                <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                    <urn:nodeType>group</urn:nodeType>
                </urn:nodeProperties>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="item1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                                <urn:nodeType>delimited</urn:nodeType>
                                <urn:delimiterSet>
                                    <urn:level>
                                        <urn:delimiter>
                                            <urn:kind>normal</urn:kind>
                                            <urn:precedence>10</urn:precedence>
                                            <urn:optionalMode>never</urn:optionalMode>
                                            <urn:terminatorMode>never</urn:terminatorMode>
                                            <urn:bytes>
                                                <urn:constant>;</urn:constant>
                                            </urn:bytes>
                                        </urn:delimiter>
                                    </urn:level>
                                </urn:delimiterSet>
                            </urn:nodeProperties>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="item2" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                                <urn:nodeType>delimited</urn:nodeType>
                                <urn:delimiterSet>
                                    <urn:level>
                                        <urn:delimiter>
                                            <urn:kind>normal</urn:kind>
                                            <urn:precedence>10</urn:precedence>
                                            <urn:optionalMode>never</urn:optionalMode>
                                            <urn:terminatorMode>never</urn:terminatorMode>
                                            <urn:bytes>
                                                <urn:constant>;</urn:constant>
                                            </urn:bytes>
                                        </urn:delimiter>
                                    </urn:level>
                                </urn:delimiterSet>
                            </urn:nodeProperties>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="item3" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                                <urn:nodeType>delimited</urn:nodeType>
                                <urn:delimiterSet>
                                    <urn:level>
                                        <urn:delimiter>
                                            <urn:kind>normal</urn:kind>
                                            <urn:precedence>10</urn:precedence>
                                            <urn:optionalMode>never</urn:optionalMode>
                                            <urn:terminatorMode>never</urn:terminatorMode>
                                            <urn:bytes>
                                                <urn:constant>;</urn:constant>
                                            </urn:bytes>
                                        </urn:delimiter>
                                    </urn:level>
                                </urn:delimiterSet>
                            </urn:nodeProperties>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="item4" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"><urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                                <urn:nodeType>delimited</urn:nodeType>
                                <urn:delimiterSet>
                                    <urn:level>
                                        <urn:delimiter>
                                            <urn:kind>normal</urn:kind>
                                            <urn:precedence>10</urn:precedence>
                                            <urn:optionalMode>never</urn:optionalMode>
                                            <urn:terminatorMode>never</urn:terminatorMode>
                                            <urn:bytes>
                                                <urn:constant>;\n</urn:constant>
                                            </urn:bytes>
                                        </urn:delimiter>
                                    </urn:level>
                                </urn:delimiterSet>
                                <urn:alignment>blind</urn:alignment>
                            </urn:nodeProperties></xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="groups">
                    <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"><urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                                <urn:nodeType>group</urn:nodeType>
                                <urn:delimiterSet>
                                    <urn:level>
                                        <urn:delimiter>
                                            <urn:kind>normal</urn:kind>
                                            <urn:precedence>10</urn:precedence>
                                            <urn:optionalMode>never</urn:optionalMode>
                                            <urn:terminatorMode>never</urn:terminatorMode>
                                            <urn:bytes>
                                                <urn:constant>\n</urn:constant>
                                            </urn:bytes>
                                        </urn:delimiter>
                                    </urn:level>
                                    <urn:level>
                                        <urn:delimiter>
                                            <urn:kind>normal</urn:kind>
                                            <urn:precedence>10</urn:precedence>
                                            <urn:optionalMode>never</urn:optionalMode>
                                            <urn:terminatorMode>never</urn:terminatorMode>
                                            <urn:bytes>
                                                <urn:constant>;</urn:constant>
                                            </urn:bytes>
                                        </urn:delimiter>
                                    </urn:level>
                                </urn:delimiterSet>
                            </urn:nodeProperties></xsd:appinfo>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="group" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:appinfo source="urn:com.sun:encoder">
                                        <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                            <urn:nodeType>delimited</urn:nodeType>
                                        </urn:nodeProperties>
                                    </xsd:appinfo>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="groupitem1" type="xsd:string">
                                            <xsd:annotation>
                                                <xsd:appinfo source="urn:com.sun:encoder"/>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="groupitem2" type="xsd:string">
                                            <xsd:annotation>
                                                <xsd:appinfo source="urn:com.sun:encoder"/>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
