ojc-core/encodersl/encoder-custom/test/data/c084.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xml.netbeans.org/schema/test" xmlns:enc="urn:com.sun:encoder" targetNamespace="http://xml.netbeans.org/schema/test" elementFormDefault="qualified">
    <xsd:annotation>
        <xsd:appinfo source="urn:com.sun:encoder">
            <enc:encoding name="Custom Encoding" namespace="urn:com.sun:encoder-custom-1.0" style="customencoder-1.0"/>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:element name="elementA">
        <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <top xmlns="urn:com.sun:encoder" xmlns:enc="urn:com.sun:encoder">true</top>
                <nodeProperties xmlns="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                    <nodeType>group</nodeType>
                    <order>sequence</order>
                </nodeProperties>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="elementB" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                            <nodeProperties xmlns="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                                <nodeType>delimited</nodeType>
                                <delimiterSet>
                                    <level>
                                        <delimiter>
                                            <kind>normal</kind>
                                            <precedence>10</precedence>
                                            <optionalMode>never</optionalMode>
                                            <terminatorMode>never</terminatorMode>
                                            <bytes>
                                                <constant>\r\n</constant>
                                            </bytes>
                                            <beginBytes>
                                                <constant>elementB</constant>
                                            </beginBytes>
                                        </delimiter>
                                    </level>
                                </delimiterSet>
                                <order>sequence</order>
                            </nodeProperties>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="elementC" type="xsd:string">
                    <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                            <nodeProperties xmlns="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                                <nodeType>delimited</nodeType>
                                <delimiterSet>
                                    <level>
                                        <delimiter>
                                            <kind>normal</kind>
                                            <precedence>10</precedence>
                                            <optionalMode>never</optionalMode>
                                            <terminatorMode>never</terminatorMode>
                                            <bytes>
                                                <constant>\r\n</constant>
                                            </bytes>
                                            <beginBytes>
                                                <constant>elementC</constant>
                                            </beginBytes>
                                        </delimiter>
                                    </level>
                                </delimiterSet>
                                <order>sequence</order>
                            </nodeProperties>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="elementD" maxOccurs="unbounded">
                    <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                            <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                <urn:nodeType>group</urn:nodeType>
                            </urn:nodeProperties>
                        </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="elementE" type="xsd:string">
                                <xsd:annotation>
                                    <xsd:appinfo source="urn:com.sun:encoder">
                                        <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                            <urn:nodeType>delimited</urn:nodeType>
                                            <urn:delimiterSet>
                                                <urn:level>
                                                    <urn:delimiter>
                                                        <urn:kind>normal</urn:kind>
                                                        <urn:precedence>10</urn:precedence>
                                                        <urn:optionalMode>never</urn:optionalMode>
                                                        <urn:terminatorMode>never</urn:terminatorMode>
                                                        <urn:bytes>
                                                            <urn:constant>\r\n</urn:constant>
                                                        </urn:bytes>
                                                        <urn:beginBytes>
                                                            <urn:constant>elementE</urn:constant>
                                                        </urn:beginBytes>
                                                    </urn:delimiter>
                                                </urn:level>
                                            </urn:delimiterSet>
                                        </urn:nodeProperties>
                                    </xsd:appinfo>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element name="elementF" maxOccurs="unbounded">
                                <xsd:annotation>
                                    <xsd:appinfo source="urn:com.sun:encoder">
                                        <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                            <urn:nodeType>group</urn:nodeType>
                                        </urn:nodeProperties>
                                    </xsd:appinfo>
                                </xsd:annotation>
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="elementG" type="xsd:string" maxOccurs="unbounded">
                                            <xsd:annotation>
                                                <xsd:appinfo source="urn:com.sun:encoder">
                                                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                                        <urn:nodeType>delimited</urn:nodeType>
                                                        <urn:delimiterSet>
                                                            <urn:level>
                                                                <urn:delimiter>
                                                                    <urn:kind>normal</urn:kind>
                                                                    <urn:precedence>10</urn:precedence>
                                                                    <urn:optionalMode>never</urn:optionalMode>
                                                                    <urn:terminatorMode>never</urn:terminatorMode>
                                                                    <urn:bytes>
                                                                        <urn:constant>\r\n</urn:constant>
                                                                    </urn:bytes>
                                                                    <urn:beginBytes>
                                                                        <urn:constant>elementG</urn:constant>
                                                                    </urn:beginBytes>
                                                                </urn:delimiter>
                                                            </urn:level>
                                                        </urn:delimiterSet>
                                                    </urn:nodeProperties>
                                                </xsd:appinfo>
                                            </xsd:annotation>
                                        </xsd:element>
                                        <xsd:element name="elementH" type="xsd:string" maxOccurs="unbounded">
                                            <xsd:annotation>
                                                <xsd:appinfo source="urn:com.sun:encoder">
                                                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                                        <urn:nodeType>delimited</urn:nodeType>
                                                        <urn:delimiterSet>
                                                            <urn:level>
                                                                <urn:delimiter>
                                                                    <urn:kind>normal</urn:kind>
                                                                    <urn:precedence>10</urn:precedence>
                                                                    <urn:optionalMode>never</urn:optionalMode>
                                                                    <urn:terminatorMode>never</urn:terminatorMode>
                                                                    <urn:bytes>
                                                                        <urn:constant>\r\n</urn:constant>
                                                                    </urn:bytes>
                                                                    <urn:beginBytes>
                                                                        <urn:constant>elementH</urn:constant>
                                                                    </urn:beginBytes>
                                                                </urn:delimiter>
                                                            </urn:level>
                                                        </urn:delimiterSet>
                                                    </urn:nodeProperties>
                                                </xsd:appinfo>
                                            </xsd:annotation>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
