ojc-core/encodersl/encoder-custom/test/data/m004.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.netbeans.org/schema/customenc" xmlns:enc="urn:com.sun:encoder" xmlns:tns="http://xml.netbeans.org/schema/customenc" elementFormDefault="qualified">
  <xsd:annotation>
    <xsd:appinfo source="urn:com.sun:encoder">
      <enc:encoding name="Custom Encoding" namespace="urn:com.sun:encoder-custom-1.0" style="customencoder-1.0"/>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="Root">
    <xsd:annotation>
      <xsd:appinfo source="urn:com.sun:encoder">
        <urn:top xmlns:urn="urn:com.sun:encoder" xmlns:enc="urn:com.sun:encoder">true
        </urn:top>
        <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
          <urn:nodeType>group</urn:nodeType>
          <urn:delimiterSet>
            <urn:level>
              <urn:delimiter>
                <urn:kind>normal</urn:kind>
                <urn:precedence>10</urn:precedence>
                <urn:optionalMode>never</urn:optionalMode>
                <urn:terminatorMode>never</urn:terminatorMode>
                <urn:bytes>
                  <urn:constant>+</urn:constant>
                </urn:bytes>
              </urn:delimiter>
            </urn:level>
          </urn:delimiterSet>
        </urn:nodeProperties>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="abstract" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="assert" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="boolean" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="break" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="byte" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="case" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="catch" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="char" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="class" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="const" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="continue" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="default" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="do" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="double" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="else" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="enum" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="extends" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="final" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="finally" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="float" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="for" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="goto" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="if" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="implements" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="import" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="instanceof" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="int" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="interface" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="long" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="native" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="new" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="package" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="private" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="protected" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="public" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="return" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="short" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="static" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="strictfp" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="super" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="switch" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="synchronized" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="this" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="throw" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="throws" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="transient" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="try" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="void" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="volatile" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="while" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string"/>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
