ojc-core/encodersl/encoder-custom/test/data/m033.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.netbeans.org/schema/customenc" xmlns:enc="urn:com.sun:encoder" xmlns:tns="http://xml.netbeans.org/schema/customenc" elementFormDefault="qualified">
  <xsd:annotation>
    <xsd:appinfo source="urn:com.sun:encoder">
      <enc:encoding name="Custom Encoding" namespace="urn:com.sun:encoder-custom-1.0" style="customencoder-1.0"/>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="Root">
    <xsd:annotation>
      <xsd:appinfo source="urn:com.sun:encoder">
        <urn:top xmlns:urn="urn:com.sun:encoder" xmlns:enc="urn:com.sun:encoder">true
        </urn:top>
        <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
          <urn:nodeType>group</urn:nodeType>
        </urn:nodeProperties>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="long-name-00" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-01-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-02-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-03-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-04-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-05-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-06-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-07-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-08-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-09-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-10-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-11-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-12-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-13-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-14-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-15-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-16-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-17-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-18-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-19-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-20-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-21-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-22-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-23-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-24-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-25-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-26-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-27-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-28-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="long-name-29-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx-xxxxxxxxx" type="xsd:string" minOccurs="0">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>fixedLength</urn:nodeType>
                <urn:length>1</urn:length>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
