ojc-core/encodersl/encoder-custom/test/data/m107.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.netbeans.org/schema/customenc" xmlns:enc="urn:com.sun:encoder" xmlns:tns="http://xml.netbeans.org/schema/customenc" elementFormDefault="qualified">
  <xsd:annotation>
    <xsd:appinfo source="urn:com.sun:encoder">
      <enc:encoding name="Custom Encoding" namespace="urn:com.sun:encoder-custom-1.0" style="customencoder-1.0"/>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="Root">
    <xsd:annotation>
      <xsd:appinfo source="urn:com.sun:encoder">
        <urn:top xmlns:urn="urn:com.sun:encoder" xmlns:enc="urn:com.sun:encoder">true
        </urn:top>
        <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
          <urn:nodeType>group</urn:nodeType>
        </urn:nodeProperties>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Element1" minOccurs="1" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>delimited</urn:nodeType>
                <urn:delimiterSet>
                  <urn:level>
                    <urn:delimiter>
                      <urn:kind>normal</urn:kind>
                      <urn:precedence>11</urn:precedence>
                      <urn:optionalMode>never</urn:optionalMode>
                      <urn:terminatorMode>force</urn:terminatorMode>
                      <urn:bytes>
                        <urn:constant>$$</urn:constant>
                      </urn:bytes>
                    </urn:delimiter>
                  </urn:level>
                </urn:delimiterSet>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="field1" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>never</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>##</urn:constant>
                            </urn:bytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Element2" minOccurs="0">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>fixedLength</urn:nodeType>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="field2" type="xsd:string">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                          <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                            <urn:nodeType>delimited</urn:nodeType>
                            <urn:delimiterSet>
                              <urn:level>
                                <urn:delimiter>
                                  <urn:kind>normal</urn:kind>
                                  <urn:precedence>10</urn:precedence>
                                  <urn:optionalMode>never</urn:optionalMode>
                                  <urn:terminatorMode>never</urn:terminatorMode>
                                  <urn:bytes>
                                    <urn:constant>@@</urn:constant>
                                  </urn:bytes>
                                </urn:delimiter>
                              </urn:level>
                            </urn:delimiterSet>
                          </urn:nodeProperties>
                        </xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Element3" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                          <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                            <urn:nodeType>delimited</urn:nodeType>
                            <urn:delimiterSet>
                              <urn:level>
                                <urn:delimiter>
                                  <urn:kind>normal</urn:kind>
                                  <urn:precedence>10</urn:precedence>
                                  <urn:optionalMode>never</urn:optionalMode>
                                  <urn:terminatorMode>never</urn:terminatorMode>
                                  <urn:bytes>
                                    <urn:constant>@</urn:constant>
                                  </urn:bytes>
                                </urn:delimiter>
                              </urn:level>
                            </urn:delimiterSet>
                          </urn:nodeProperties>
                        </xsd:appinfo>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Element4" minOccurs="0">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder">
                                <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                  <urn:nodeType>delimited</urn:nodeType>
                                  <urn:delimiterSet>
                                    <urn:level>
                                      <urn:delimiter>
                                        <urn:kind>normal</urn:kind>
                                        <urn:precedence>11</urn:precedence>
                                        <urn:optionalMode>never</urn:optionalMode>
                                        <urn:terminatorMode>never</urn:terminatorMode>
                                        <urn:bytes>
                                          <urn:constant>!</urn:constant>
                                        </urn:bytes>
                                      </urn:delimiter>
                                    </urn:level>
                                  </urn:delimiterSet>
                                </urn:nodeProperties>
                              </xsd:appinfo>
                            </xsd:annotation>
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="field3" type="xsd:string">
                                  <xsd:annotation>
                                    <xsd:appinfo source="urn:com.sun:encoder">
                                      <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                        <urn:nodeType>fixedLength</urn:nodeType>
                                        <urn:length>7</urn:length>
                                      </urn:nodeProperties>
                                    </xsd:appinfo>
                                  </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="field4" minOccurs="0" type="xsd:string">
                                  <xsd:annotation>
                                    <xsd:appinfo source="urn:com.sun:encoder">
                                      <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                        <urn:nodeType>fixedLength</urn:nodeType>
                                        <urn:length>5</urn:length>
                                      </urn:nodeProperties>
                                    </xsd:appinfo>
                                  </xsd:annotation>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element name="field5" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder">
                                <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                                  <urn:nodeType>delimited</urn:nodeType>
                                  <urn:delimiterSet>
                                    <urn:level>
                                      <urn:delimiter>
                                        <urn:kind>normal</urn:kind>
                                        <urn:precedence>11</urn:precedence>
                                        <urn:optionalMode>never</urn:optionalMode>
                                        <urn:terminatorMode>never</urn:terminatorMode>
                                        <urn:bytes>
                                          <urn:constant>!</urn:constant>
                                        </urn:bytes>
                                      </urn:delimiter>
                                    </urn:level>
                                  </urn:delimiterSet>
                                </urn:nodeProperties>
                              </xsd:appinfo>
                            </xsd:annotation>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
