ojc-core/encodersl/encoder-custom/test/data/m165.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.netbeans.org/schema/customenc" xmlns:enc="urn:com.sun:encoder" xmlns:tns="http://xml.netbeans.org/schema/customenc" elementFormDefault="qualified">
  <xsd:annotation>
    <xsd:appinfo source="urn:com.sun:encoder">
      <enc:encoding name="Custom Encoding" namespace="urn:com.sun:encoder-custom-1.0" style="customencoder-1.0"/>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="Root">
    <xsd:annotation>
      <xsd:appinfo source="urn:com.sun:encoder">
        <urn:top xmlns:urn="urn:com.sun:encoder" xmlns:enc="urn:com.sun:encoder">true</urn:top>
        <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
          <urn:nodeType>group</urn:nodeType>
          <urn:delimiterSet>
            <urn:level>
              <urn:delimiter>
                <urn:kind>normal</urn:kind>
                <urn:precedence>10</urn:precedence>
                <urn:optionalMode>never</urn:optionalMode>
                <urn:terminatorMode>favor</urn:terminatorMode>
                <urn:bytes>
                  <urn:constant>\n</urn:constant>
                </urn:bytes>
              </urn:delimiter>
            </urn:level>
            <urn:level>
              <urn:delimiter>
                <urn:kind>normal</urn:kind>
                <urn:precedence>10</urn:precedence>
                <urn:optionalMode>never</urn:optionalMode>
                <urn:terminatorMode>never</urn:terminatorMode>
                <urn:bytes>
                  <urn:constant>,</urn:constant>
                </urn:bytes>
              </urn:delimiter>
            </urn:level>
          </urn:delimiterSet>
        </urn:nodeProperties>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Records" maxOccurs="unbounded">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder">
              <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                <urn:nodeType>group</urn:nodeType>
              </urn:nodeProperties>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:choice>
              <xsd:element name="Header" minOccurs="1">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                      <urn:nodeType>delimited</urn:nodeType>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ID_1" type="xsd:string">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                          <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                            <urn:nodeType>delimited</urn:nodeType>
                            <urn:match>01</urn:match>
                            <urn:alignment>exact</urn:alignment>
                          </urn:nodeProperties>
                        </xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SalesOrder_1" type="xsd:string">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Customer" type="xsd:string">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Store" type="xsd:string">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Total" type="xsd:string">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Detail" minOccurs="1">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                      <urn:nodeType>delimited</urn:nodeType>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ID_2" type="xsd:string">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                          <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                            <urn:nodeType>delimited</urn:nodeType>
                            <urn:match>02</urn:match>
                            <urn:alignment>exact</urn:alignment>
                          </urn:nodeProperties>
                        </xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SalesOrder_2" type="xsd:string">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Material" type="xsd:string">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Length" type="xsd:string">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="UnitOfMeasure" type="xsd:string">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Cancel" minOccurs="1">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                      <urn:nodeType>delimited</urn:nodeType>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ID_9" type="xsd:string">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                          <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                            <urn:nodeType>delimited</urn:nodeType>
                            <urn:match>09</urn:match>
                            <urn:alignment>exact</urn:alignment>
                          </urn:nodeProperties>
                        </xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SalesOrder_3" type="xsd:string">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Payment" minOccurs="1">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                      <urn:nodeType>delimited</urn:nodeType>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ID_3" type="xsd:string">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                          <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                            <urn:nodeType>delimited</urn:nodeType>
                            <urn:match>03</urn:match>
                            <urn:alignment>exact</urn:alignment>
                          </urn:nodeProperties>
                        </xsd:appinfo>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SalesOrder_9" type="xsd:string">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="Amount" type="xsd:string">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="PaymentMethod" type="xsd:string">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder"/>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:choice>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
