ojc-core/encodersl/encoder-custom/test/data/m169.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.netbeans.org/schema/customenc" xmlns:enc="urn:com.sun:encoder" xmlns:tns="http://xml.netbeans.org/schema/customenc" elementFormDefault="qualified">
  <xsd:annotation>
    <xsd:appinfo source="urn:com.sun:encoder">
      <enc:encoding name="Custom Encoding" namespace="urn:com.sun:encoder-custom-1.0" style="customencoder-1.0"/>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="Root">
    <xsd:annotation>
      <xsd:appinfo source="urn:com.sun:encoder"><urn:top xmlns:urn="urn:com.sun:encoder" xmlns:enc="urn:com.sun:encoder">true
        </urn:top><urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
          <urn:nodeType>group</urn:nodeType>
          <urn:delimiterSet>
            <urn:level>
              <urn:delimiter>
                <urn:kind>normal</urn:kind>
                <urn:precedence>10</urn:precedence>
                <urn:optionalMode>never</urn:optionalMode>
                <urn:terminatorMode>favor</urn:terminatorMode>
                <urn:bytes>
                  <urn:constant>\r\n</urn:constant>
                </urn:bytes>
              </urn:delimiter>
            </urn:level>
            <urn:level>
              <urn:delimiter>
                <urn:kind>normal</urn:kind>
                <urn:precedence>10</urn:precedence>
                <urn:optionalMode>never</urn:optionalMode>
                <urn:terminatorMode>favor</urn:terminatorMode>
                <urn:bytes>
                  <urn:constant>|</urn:constant>
                </urn:bytes>
              </urn:delimiter>
            </urn:level>
          </urn:delimiterSet>
        </urn:nodeProperties></xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" minOccurs="1">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="tag1" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:match>HEADER</urn:match>
                      <urn:alignment>exact</urn:alignment>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="data1" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="junk1" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Segment" minOccurs="1" maxOccurs="3">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Customer_Id" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Short_Name" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Long_Name" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Company_Registration_Number" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Credit_Rating" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Credit_Rating_Description_" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Tilde2">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>favor</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>~1</urn:constant>
                            </urn:bytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Record2" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                          <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                            <urn:nodeType>group</urn:nodeType>
                            <urn:delimiterSet>
                              <urn:level>
                                <urn:delimiter>
                                  <urn:kind>normal</urn:kind>
                                  <urn:precedence>10</urn:precedence>
                                  <urn:optionalMode>never</urn:optionalMode>
                                  <urn:terminatorMode>favor</urn:terminatorMode>
                                  <urn:bytes>
                                    <urn:constant>|</urn:constant>
                                  </urn:bytes>
                                </urn:delimiter>
                              </urn:level>
                            </urn:delimiterSet>
                          </urn:nodeProperties>
                        </xsd:appinfo>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Parent_Customer_Id" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Parent_Short_Name" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Parent_Long_Name" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Parent_Company_Registration_Number" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Parent_Credit_Rating" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Parent_Credit_Rating_Description" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Tilde3">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>favor</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>~1</urn:constant>
                            </urn:bytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Record3" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                          <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                            <urn:nodeType>group</urn:nodeType>
                            <urn:delimiterSet>
                              <urn:level>
                                <urn:delimiter>
                                  <urn:kind>normal</urn:kind>
                                  <urn:precedence>10</urn:precedence>
                                  <urn:optionalMode>never</urn:optionalMode>
                                  <urn:terminatorMode>favor</urn:terminatorMode>
                                  <urn:bytes>
                                    <urn:constant>|</urn:constant>
                                  </urn:bytes>
                                </urn:delimiter>
                              </urn:level>
                            </urn:delimiterSet>
                          </urn:nodeProperties>
                        </xsd:appinfo>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Top_Parent_Id" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Top_Parent_Short_Name" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Top_Parent_Long_Name" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Top_Parent_Company_Registration_Number" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Top_Parent_Credit_Rating" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Top_Parent_Credit_Rating_Description" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="ISDISMInd" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ISDISMParentInd" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Industrial_Code" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Industrial_Code_Description" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Institutional_Class_Code" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Institutional_Class_Description" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Subsidiary_Branch_Code" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Responsible_Department" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Tilde4">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>favor</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>~1</urn:constant>
                            </urn:bytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Record4" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                          <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                            <urn:nodeType>group</urn:nodeType>
                            <urn:delimiterSet>
                              <urn:level>
                                <urn:delimiter>
                                  <urn:kind>normal</urn:kind>
                                  <urn:precedence>10</urn:precedence>
                                  <urn:optionalMode>never</urn:optionalMode>
                                  <urn:terminatorMode>favor</urn:terminatorMode>
                                  <urn:bytes>
                                    <urn:constant>|</urn:constant>
                                  </urn:bytes>
                                </urn:delimiter>
                              </urn:level>
                            </urn:delimiterSet>
                          </urn:nodeProperties>
                        </xsd:appinfo>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Customer_Contact_Type" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Customer_Contact_Name" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Cpty_Country_Code" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Parent_Flag" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Review_Date" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Boe_Classification" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Corporate_Personal_Flag" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Swift_Address" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Security_Rating" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Financial_Year_End" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Risk_Cpty_Country_Code" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="AddressLine1" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="AddressLine2" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="AddressLine3" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="AddressLine4" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="Tilde5">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>favor</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>~1</urn:constant>
                            </urn:bytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Record5" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                          <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                            <urn:nodeType>group</urn:nodeType>
                            <urn:delimiterSet>
                              <urn:level>
                                <urn:delimiter>
                                  <urn:kind>normal</urn:kind>
                                  <urn:precedence>10</urn:precedence>
                                  <urn:optionalMode>never</urn:optionalMode>
                                  <urn:terminatorMode>favor</urn:terminatorMode>
                                  <urn:bytes>
                                    <urn:constant>|</urn:constant>
                                  </urn:bytes>
                                </urn:delimiter>
                              </urn:level>
                            </urn:delimiterSet>
                          </urn:nodeProperties>
                        </xsd:appinfo>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Trading_Limit_Product" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Trading_Limit_Approved" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Trading_Limit_Utilised" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Trading_Limit_Available" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Tilde6">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>favor</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>~1</urn:constant>
                            </urn:bytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Record6" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                          <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                            <urn:nodeType>group</urn:nodeType>
                            <urn:delimiterSet>
                              <urn:level>
                                <urn:delimiter>
                                  <urn:kind>normal</urn:kind>
                                  <urn:precedence>10</urn:precedence>
                                  <urn:optionalMode>never</urn:optionalMode>
                                  <urn:terminatorMode>favor</urn:terminatorMode>
                                  <urn:bytes>
                                    <urn:constant>|</urn:constant>
                                  </urn:bytes>
                                </urn:delimiter>
                              </urn:level>
                            </urn:delimiterSet>
                          </urn:nodeProperties>
                        </xsd:appinfo>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Primary_Limit_Product" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Primary_Limit_Approved" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Primary_Limit_Utilised" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Primary_Limit_Available" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Tilde7">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>favor</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>~1</urn:constant>
                            </urn:bytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Record7" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                          <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                            <urn:nodeType>group</urn:nodeType>
                            <urn:delimiterSet>
                              <urn:level>
                                <urn:delimiter>
                                  <urn:kind>normal</urn:kind>
                                  <urn:precedence>10</urn:precedence>
                                  <urn:optionalMode>never</urn:optionalMode>
                                  <urn:terminatorMode>favor</urn:terminatorMode>
                                  <urn:bytes>
                                    <urn:constant>|</urn:constant>
                                  </urn:bytes>
                                </urn:delimiter>
                              </urn:level>
                            </urn:delimiterSet>
                          </urn:nodeProperties>
                        </xsd:appinfo>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Contingent_Limit_Product" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Contingent_Limit_Approved" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Contingent_Limit_Utilised" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Contingent_Limit_Available" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="Tilde8">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:delimiterSet>
                        <urn:level>
                          <urn:delimiter>
                            <urn:kind>normal</urn:kind>
                            <urn:precedence>10</urn:precedence>
                            <urn:optionalMode>never</urn:optionalMode>
                            <urn:terminatorMode>favor</urn:terminatorMode>
                            <urn:bytes>
                              <urn:constant>~1</urn:constant>
                            </urn:bytes>
                          </urn:delimiter>
                        </urn:level>
                      </urn:delimiterSet>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Record8" maxOccurs="unbounded">
                      <xsd:annotation>
                        <xsd:appinfo source="urn:com.sun:encoder">
                          <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0">
                            <urn:nodeType>group</urn:nodeType>
                            <urn:delimiterSet>
                              <urn:level>
                                <urn:delimiter>
                                  <urn:kind>normal</urn:kind>
                                  <urn:precedence>10</urn:precedence>
                                  <urn:optionalMode>never</urn:optionalMode>
                                  <urn:terminatorMode>favor</urn:terminatorMode>
                                  <urn:bytes>
                                    <urn:constant>|</urn:constant>
                                  </urn:bytes>
                                </urn:delimiter>
                              </urn:level>
                            </urn:delimiterSet>
                          </urn:nodeProperties>
                        </xsd:appinfo>
                      </xsd:annotation>
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Source_System_Name" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                          <xsd:element name="Source_System_Id" type="xsd:string">
                            <xsd:annotation>
                              <xsd:appinfo source="urn:com.sun:encoder"/>
                            </xsd:annotation>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="junk" type="xsd:string" minOccurs="0">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="Trailer">
          <xsd:annotation>
            <xsd:appinfo source="urn:com.sun:encoder"/>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="tag9" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder">
                    <urn:nodeProperties xmlns:urn="urn:com.sun:encoder-custom-1.0" xmlns:enc="urn:com.sun:encoder">
                      <urn:nodeType>delimited</urn:nodeType>
                      <urn:match>TRAILER</urn:match>
                      <urn:alignment>exact</urn:alignment>
                    </urn:nodeProperties>
                  </xsd:appinfo>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="data9" type="xsd:string">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="junk9" type="xsd:string" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                  <xsd:appinfo source="urn:com.sun:encoder"/>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
