driver-tests/iepse/TestOperators/OperatorTests/src/InvokeStreamMain.wsdl

<definitions targetNamespace="InvokeStreamMain_iep"
             xmlns:tns="InvokeStreamMain_iep"
             xmlns:typens="InvokeStreamMain_iep"
             xmlns:defns="InvokeStreamMain_iep"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
    <xsd:schema targetNamespace="InvokeStreamMain_iep" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="StreamInput0_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="symbol" type="xsd:string"/>
                    <xsd:element name="price" type="xsd:double"/>
                    <xsd:element name="volume" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamInput0Batch_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="StreamInput0_MsgObj" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                    <xsd:element name="symbol" type="xsd:string"/>
                    <xsd:element name="price" type="xsd:double"/>
                    <xsd:element name="volume" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
    </xsd:schema>
</types>

<message name="StreamInput0_Msg">
    <part name="input" element="typens:StreamInput0_MsgObj"/>
</message>
<message name="StreamInput0Batch_Msg">
    <part name="input" element="typens:StreamInput0Batch_MsgObj"/>
</message>

<portType name="InputPt">
    <operation name="StreamInput0">
        <input message="tns:StreamInput0_Msg"/>
    </operation>
    <operation name="StreamInput0Batch">
        <input message="tns:StreamInput0Batch_Msg"/>
    </operation>
</portType>

<plnk:partnerLinkType name="InputPlt" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "InputRn" portType="tns:InputPt"/>
</plnk:partnerLinkType>
<!-- input binding -->
<binding name="InputBinding" type="defns:InputPt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="StreamInput0">
        <soap:operation soapAction="StreamInput0"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
    <operation name="StreamInput0Batch">
        <soap:operation soapAction="StreamInput0Batch"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<!-- input service -->
<service name="InputService">
    <port name="InputPort" binding="tns:InputBinding">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/InvokeStreamMain_iep"/>
    </port>
</service>
</definitions>
