driver-tests/bpelse/misc/MiscBpel/src/LodeStarServer/LodeStar.wsdl

<wsdl:definitions targetNamespace="http://lab201/heraldws/services/LodeStar"
                  xmlns:impl="http://lab201/heraldws/services/LodeStar"
                  xmlns:intf="http://lab201/heraldws/services/LodeStar"
                  xmlns:apachesoap="http://xml.apache.org/xml-soap"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <plink:partnerLinkType name="LodeStarPartnerLinkType">
        <plink:role portType="impl:LodeStar"
                    name="LodeStarPartnerLink"></plink:role>
    </plink:partnerLinkType>
    <wsdl:message name="validateXMLResponse">
        <wsdl:part name="validateXMLReturn"
                   type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateRequest">
        <wsdl:part name="message"
                   type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateXMLRequest">
        <wsdl:part name="message"
                   type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validateResponse">
        <wsdl:part name="validateReturn"
                   type="xsd:string"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="LodeStar">
        <wsdl:operation name="validate"
                        parameterOrder="message">
            <wsdl:input name="validateRequest"
                        message="impl:validateRequest"></wsdl:input>
            <wsdl:output name="validateResponse"
                         message="impl:validateResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateXML"
                        parameterOrder="message">
            <wsdl:input name="validateXMLRequest"
                        message="impl:validateXMLRequest"></wsdl:input>
            <wsdl:output name="validateXMLResponse"
                         message="impl:validateXMLResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LodeStarSoapBinding"
                  type="impl:LodeStar">
        <wsdlsoap:binding style="rpc"
                          transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="validate">
            <wsdlsoap:operation soapAction="validateOperation"/>
            <wsdl:input name="validateRequest">
                <wsdlsoap:body namespace="http://localhost/heraldws_services/LodeStar" parts="message" use="literal"/>
            </wsdl:input>
            <wsdl:output name="validateResponse">
                <wsdlsoap:body namespace="http://localhost/heraldws_services/LodeStar" parts="validateReturn" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validateXML">
            <wsdlsoap:operation soapAction="validateXMLOperation"/>
            <wsdl:input name="validateXMLRequest">
                <wsdlsoap:body namespace="http://localhost/heraldws_services/LodeStar" parts="message" use="literal"/>
            </wsdl:input>
            <wsdl:output name="validateXMLResponse">
                <wsdlsoap:body namespace="http://localhost/heraldws_services/LodeStar" parts="validateXMLReturn" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LodeStarService">
        <wsdl:port name="LodeStar"
                   binding="impl:LodeStarSoapBinding">
            <wsdlsoap:address location="http://localhost:${HttpDefaultPort}/heraldws_services/LodeStar"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
