driver-tests/recovery/RecoveryTesting/MQBCRelibility/MQBCRelibilityBpel/src/MqMsg.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/MqMsg"
            xmlns:tns="http://xml.netbeans.org/schema/MqMsg"
            elementFormDefault="qualified">
    <xsd:element name="MqMessage">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="TextMsgString" type="xsd:string"></xsd:element>
                <xsd:element name="IdProperty" type="xsd:long"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
