contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl/ConsumerXsd/CompositeApp12.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="CompositeApp12"
             xmlns:tns="CompositeApp12" xmlns:ns="http://AlarmIRPSystem.AlarmIRP" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <import namespace="http://AlarmIRPSystem.AlarmIRP" location="../jbiasa/AlarmIRP.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:AlarmIRP">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="acknowledge_alarms">
            <soap:operation/>
            <input name="acknowledge_alarms">
                <soap:body use="literal"/>
            </input>
            <output name="acknowledge_alarmsResponse">
                <soap:body use="literal"/>
            </output>
            <fault name="ParameterNotSupported">
                <soap:fault use="literal" name="ParameterNotSupported"/>
            </fault>
            <fault name="AcknowledgeAlarms">
                <soap:fault use="literal" name="AcknowledgeAlarms"/>
            </fault>
            <fault name="InvalidParameter">
                <soap:fault use="literal" name="InvalidParameter"/>
            </fault>
        </operation>
        <operation name="get_alarm_list">
            <soap:operation/>
            <input name="get_alarm_list">
                <soap:body use="literal"/>
            </input>
            <output name="get_alarm_listResponse">
                <soap:body use="literal"/>
            </output>
            <fault name="ParameterNotSupported">
                <soap:fault use="literal" name="ParameterNotSupported"/>
            </fault>
            <fault name="GetAlarmList">
                <soap:fault use="literal" name="GetAlarmList"/>
            </fault>
            <fault name="InvalidParameter">
                <soap:fault use="literal" name="InvalidParameter"/>
            </fault>
        </operation>
        <operation name="unacknowledge_alarms">
            <soap:operation/>
            <input name="unacknowledge_alarms">
                <soap:body use="literal"/>
            </input>
            <output name="unacknowledge_alarmsResponse">
                <soap:body use="literal"/>
            </output>
            <fault name="ParameterNotSupported">
                <soap:fault use="literal" name="ParameterNotSupported"/>
            </fault>
            <fault name="UnacknowledgeAlarms">
                <soap:fault use="literal" name="UnacknowledgeAlarms"/>
            </fault>
            <fault name="OperationNotSupported">
                <soap:fault use="literal" name="OperationNotSupported"/>
            </fault>
            <fault name="InvalidParameter">
                <soap:fault use="literal" name="InvalidParameter"/>
            </fault>
        </operation>
        <operation name="get_alarm_IRP_notification_profile">
            <soap:operation/>
            <input name="get_alarm_IRP_notification_profile">
                <soap:body use="literal"/>
            </input>
            <output name="get_alarm_IRP_notification_profileResponse">
                <soap:body use="literal"/>
            </output>
            <fault name="OperationNotSupported">
                <soap:fault use="literal" name="OperationNotSupported"/>
            </fault>
            <fault name="InvalidParameter">
                <soap:fault use="literal" name="InvalidParameter"/>
            </fault>
            <fault name="GetAlarmIRPNotificationProfile">
                <soap:fault use="literal" name="GetAlarmIRPNotificationProfile"/>
            </fault>
        </operation>
        <operation name="get_alarm_count">
            <soap:operation/>
            <input name="get_alarm_count">
                <soap:body use="literal"/>
            </input>
            <output name="get_alarm_countResponse">
                <soap:body use="literal"/>
            </output>
            <fault name="GetAlarmCount">
                <soap:fault use="literal" name="GetAlarmCount"/>
            </fault>
            <fault name="ParameterNotSupported">
                <soap:fault use="literal" name="ParameterNotSupported"/>
            </fault>
            <fault name="OperationNotSupported">
                <soap:fault use="literal" name="OperationNotSupported"/>
            </fault>
            <fault name="InvalidParameter">
                <soap:fault use="literal" name="InvalidParameter"/>
            </fault>
        </operation>
        <operation name="clear_alarms">
            <soap:operation/>
            <input name="clear_alarms">
                <soap:body use="literal"/>
            </input>
            <output name="clear_alarmsResponse">
                <soap:body use="literal"/>
            </output>
            <fault name="ClearAlarms">
                <soap:fault use="literal" name="ClearAlarms"/>
            </fault>
            <fault name="ParameterNotSupported">
                <soap:fault use="literal" name="ParameterNotSupported"/>
            </fault>
            <fault name="OperationNotSupported">
                <soap:fault use="literal" name="OperationNotSupported"/>
            </fault>
            <fault name="InvalidParameter">
                <soap:fault use="literal" name="InvalidParameter"/>
            </fault>
        </operation>
        <operation name="get_alarm_IRP_versions">
            <soap:operation/>
            <input name="get_alarm_IRP_versions">
                <soap:body use="literal"/>
            </input>
            <output name="get_alarm_IRP_versionsResponse">
                <soap:body use="literal"/>
            </output>
            <fault name="GetAlarmIRPVersions">
                <soap:fault use="literal" name="GetAlarmIRPVersions"/>
            </fault>
        </operation>
        <operation name="comment_alarms">
            <soap:operation/>
            <input name="comment_alarms">
                <soap:body use="literal"/>
            </input>
            <output name="comment_alarmsResponse">
                <soap:body use="literal"/>
            </output>
            <fault name="ParameterNotSupported">
                <soap:fault use="literal" name="ParameterNotSupported"/>
            </fault>
            <fault name="CommentAlarms">
                <soap:fault use="literal" name="CommentAlarms"/>
            </fault>
            <fault name="OperationNotSupported">
                <soap:fault use="literal" name="OperationNotSupported"/>
            </fault>
            <fault name="InvalidParameter">
                <soap:fault use="literal" name="InvalidParameter"/>
            </fault>
        </operation>
        <operation name="get_alarm_IRP_operations_profile">
            <soap:operation/>
            <input name="get_alarm_IRP_operations_profile">
                <soap:body use="literal"/>
            </input>
            <output name="get_alarm_IRP_operations_profileResponse">
                <soap:body use="literal"/>
            </output>
            <fault name="GetAlarmIRPOperationsProfile">
                <soap:fault use="literal" name="GetAlarmIRPOperationsProfile"/>
            </fault>
            <fault name="OperationNotSupported">
                <soap:fault use="literal" name="OperationNotSupported"/>
            </fault>
            <fault name="InvalidParameter">
                <soap:fault use="literal" name="InvalidParameter"/>
            </fault>
        </operation>
    </binding>
    <service name="casaService1">
        <port name="casaPort1" binding="tns:casaBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/casaService1/casaPort1"/>
        </port>
    </service>
</definitions>
