driver-tests/bpelse/WaitingRequestLifeSpan/WaitingRequestLifeSpan/src/onevent/wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="wsdl" targetNamespace="http://j2ee.netbeans.org/wsdl/requestlifespan/onevent/wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/requestlifespan/onevent/wsdl" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types/>
    <message name="operationRequest">
        <part name="input" type="xsd:string"/>
    </message>
    <message name="operationResponse">
        <part name="output" type="xsd:string"/>
    </message>
    <portType name="mainPortType">
        <operation name="mainOperation">
            <input name="input1" message="tns:operationRequest"/>
            <output name="output1" message="tns:operationResponse"/>
        </operation>
    </portType>
    <portType name="subPortType">
        <operation name="supOneOperation">
            <input name="input1" message="tns:operationRequest"/>
            <output name="output1" message="tns:operationResponse"/>
        </operation>
        <operation name="subTwoOperation">
            <input name="input2" message="tns:operationRequest"/>
        </operation>
    </portType>
    <binding name="mainBinding" type="tns:mainPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="mainOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/requestlifespan/onevent/wsdl"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/requestlifespan/onevent/wsdl"/>
            </output>
        </operation>
    </binding>
    <binding name="subBinding" type="tns:subPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="supOneOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body/>
            </input>
            <output name="output1">
                <soap:body/>
            </output>
        </operation>
        <operation name="subTwoOperation">
            <soap:operation/>
            <input name="input2">
                <soap:body/>
            </input>
        </operation>
    </binding>
    <service name="mainService">
        <port name="mainPort" binding="tns:mainBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/mainService/onevent/mainPort"/>
        </port>
    </service>
    <service name="subService">
        <port name="subBindingPort" binding="tns:subBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/subService/onevent/subBindingPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="main">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="mainPortTypeRole" portType="tns:mainPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="subOne">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="subPortTypeRole" portType="tns:subPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="corr" type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:corr" messageType="tns:operationRequest" part="input">
        <vprop:query></vprop:query>
    </vprop:propertyAlias>
</definitions>
