driver-tests/bpelse/assign/AssignJbi/src/jbiServiceUnits/AssignBpel/Assign/operation.wsdl

<definitions xmlns:tns="http://stc.com/Operation" xmlns:slnk1="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:tns0="http://stc.com/Operation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns1="http://stc.com/Operation" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" targetNamespace="http://stc.com/Operation" name="Operation">
    <types>
        <xsd:schema targetNamespace="http://stc.com/Operation" elementFormDefault="qualified" xmlns:tns="http://stc.com/Operation" xmlns:slnk1="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:tns0="http://stc.com/Operation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/">
            <xsd:element name="item">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:byte" name="byte0"/>
                        <xsd:element type="xsd:byte" name="byte1"/>
                        <xsd:element type="xsd:decimal" name="decimal0"/>
                        <xsd:element type="xsd:decimal" name="decimal1"/>
                        <xsd:element type="xsd:int" name="Int0"/>
                        <xsd:element type="xsd:int" name="Int1"/>
                        <xsd:element type="xsd:integer" name="Integer0"/>
                        <xsd:element type="xsd:integer" name="Integer1"/>                                                
                        <xsd:element type="xsd:long" name="Long0"/>
                        <xsd:element type="xsd:long" name="Long1"/>
                        <xsd:element type="xsd:string" name="String0"/>
                        <xsd:element type="xsd:string" name="String1"/>
                        <xsd:element type="xsd:short" name="Short0"/>
                        <xsd:element type="xsd:short" name="Short1"/>
                        <xsd:element type="xsd:boolean" name="Boolean0"/>
                        <xsd:element type="xsd:boolean" name="Boolean1"/>
                        <xsd:element type="xsd:byte" name="retByte"/>
                        <xsd:element type="xsd:decimal" name="retDecimal"/>
                        <xsd:element type="xsd:int" name="retInt"/>
                        <xsd:element type="xsd:integer" name="retInteger"/>
                        <xsd:element type="xsd:long" name="retLong"/>
                        <xsd:element type="xsd:string" name="retString"/>
                        <xsd:element type="xsd:short" name="retShort"/>
                        <xsd:element type="xsd:boolean" name="retBoolean"/>
                                                
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="Operation">
        <part name="part" element="tns:item"/>
    </message>
    <portType name="Operation">
        <operation name="AddBytesOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="AddDecimalOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="AddIntegerOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="AddIntOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="AddLongOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="AddShortOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="SubBytesOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="SubDecimalOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="SubIntegerOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="SubIntOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>                
        <operation name="SubLongOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="SubShortOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
                
        <operation name="DivBytesOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="DivDecimalOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="DivIntegerOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="DivIntOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>                
        <operation name="DivLongOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="DivShortOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="MultBytesOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="MultDecimalOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="MultIntegerOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="MultIntOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>                
        <operation name="MultLongOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="MultShortOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
            <operation name="ModDecimalOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="ModBytesOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="ModIntOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="ModIntegerOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="ModLongOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="ModShortOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="NegDecimalOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="NegBytesOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="NegIntegerOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="NegIntOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>                
        <operation name="NegLongOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="NegShortOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
                
               
        <operation name="OrBoolOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="AndBoolOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
                
        <operation name="EqualBytesOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="EqualDecimalOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="EqualIntegerOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="EqualIntOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="EqualLongOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="EqualShortOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>  
            
        <operation name="NotEqualBytesOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="NotEqualDecimalOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="NotEqualIntegerOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="NotEqualIntOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="NotEqualLongOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="NotEqualShortOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>           
               
        <operation name="LesserBytesOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="LesserDecimalOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="LesserIntegerOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="LesserIntOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="LesserLongOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="LesserShortOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>                    
                
        <operation name="LesserEqualBytesOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="LesserEqualDecimalOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="LesserEqualIntegerOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="LesserEqualIntOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="LesserEqualLongOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="LesserEqualShortOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>               
                
        <operation name="GreaterBytesOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="GreaterDecimalOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="GreaterIntegerOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="GreaterIntOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="GreaterLongOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="GreaterShortOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>  
                  
        <operation name="GreaterEqualBytesOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="GreaterEqualDecimalOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="GreaterEqualIntegerOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="GreaterEqualIntOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="GreaterEqualLongOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>
        <operation name="GreaterEqualShortOp">
            <input message="tns:Operation"/>
            <output message="tns:Operation"/>
        </operation>                    
                
    </portType>
    <binding name="Binding" type="tns:Operation">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="AddBytesOp"><soap:operation soapAction="AddBytesOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="AddDecimalOp"><soap:operation soapAction="AddDecimalOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="AddIntegerOp"><soap:operation soapAction="AddIntegerOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="AddIntOp"><soap:operation soapAction="AddIntOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="AddLongOp"><soap:operation soapAction="AddLongOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="AddShortOp"><soap:operation soapAction="AddShortOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="SubBytesOp"><soap:operation soapAction="SubBytesOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="SubDecimalOp"><soap:operation soapAction="SubDecimalOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="SubIntegerOp"><soap:operation soapAction="SubIntegerOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="SubIntOp"><soap:operation soapAction="SubIntOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="SubLongOp"><soap:operation soapAction="SubLongOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="SubShortOp"><soap:operation soapAction="SubShortOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="DivBytesOp"><soap:operation soapAction="DivBytesOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="DivDecimalOp"><soap:operation soapAction="DivDecimalOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="DivIntegerOp"><soap:operation soapAction="DivIntegerOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="DivIntOp"><soap:operation soapAction="DivIntOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="DivLongOp"><soap:operation soapAction="DivLongOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="DivShortOp"><soap:operation soapAction="DivShortOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="MultBytesOp"><soap:operation soapAction="MultBytesOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="MultDecimalOp"><soap:operation soapAction="MultDecimalOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="MultIntegerOp"><soap:operation soapAction="MultIntegerOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="MultIntOp"><soap:operation soapAction="MultIntOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="MultLongOp"><soap:operation soapAction="MultLongOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="MultShortOp"><soap:operation soapAction="MultShortOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="ModDecimalOp"><soap:operation soapAction="ModDecimalOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="ModBytesOp"><soap:operation soapAction="ModBytesOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="ModIntOp"><soap:operation soapAction="ModIntOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="ModIntegerOp"><soap:operation soapAction="ModIntegerOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="ModLongOp"><soap:operation soapAction="ModLongOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="ModShortOp"><soap:operation soapAction="ModShortOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="NegBytesOp"><soap:operation soapAction="NegBytesOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="NegDecimalOp"><soap:operation soapAction="NegDecimalOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="NegIntegerOp"><soap:operation soapAction="NegIntegerOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="NegIntOp"><soap:operation soapAction="NegIntOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="NegLongOp"><soap:operation soapAction="NegLongOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="NegShortOp"><soap:operation soapAction="NegShortOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="OrBoolOp"><soap:operation soapAction="OrBoolOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="AndBoolOp"><soap:operation soapAction="AndBoolOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="EqualBytesOp"><soap:operation soapAction="EqualBytesOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="EqualDecimalOp"><soap:operation soapAction="EqualDecimalOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="EqualIntegerOp"><soap:operation soapAction="EqualIntegerOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="EqualIntOp"><soap:operation soapAction="EqualIntOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="EqualLongOp"><soap:operation soapAction="EqualLongOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="EqualShortOp"><soap:operation soapAction="EqualShortOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="NotEqualBytesOp"><soap:operation soapAction="NotEqualBytesOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="NotEqualDecimalOp"><soap:operation soapAction="NotEqualDecimalOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="NotEqualIntegerOp"><soap:operation soapAction="NotEqualIntegerOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="NotEqualIntOp"><soap:operation soapAction="NotEqualIntOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="NotEqualLongOp"><soap:operation soapAction="NotEqualLongOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="NotEqualShortOp"><soap:operation soapAction="NotEqualShortOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="LesserBytesOp"><soap:operation soapAction="LesserBytesOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="LesserDecimalOp"><soap:operation soapAction="LesserDecimalOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="LesserIntegerOp"><soap:operation soapAction="LesserIntegerOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="LesserIntOp"><soap:operation soapAction="LesserIntOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="LesserLongOp"><soap:operation soapAction="LesserLongOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="LesserShortOp"><soap:operation soapAction="LesserShortOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="LesserEqualBytesOp"><soap:operation soapAction="LesserEqualBytesOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="LesserEqualDecimalOp"><soap:operation soapAction="LesserEqualDecimalOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="LesserEqualIntegerOp"><soap:operation soapAction="LesserEqualIntegerOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="LesserEqualIntOp"><soap:operation soapAction="LesserEqualIntOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="LesserEqualLongOp"><soap:operation soapAction="LesserEqualLongOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="LesserEqualShortOp"><soap:operation soapAction="LesserEqualShortOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="GreaterBytesOp"><soap:operation soapAction="GreaterBytesOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="GreaterDecimalOp"><soap:operation soapAction="GreaterDecimalOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="GreaterIntegerOp"><soap:operation soapAction="GreaterIntegerOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="GreaterIntOp"><soap:operation soapAction="GreaterIntOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="GreaterLongOp"><soap:operation soapAction="GreaterLongOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="GreaterShortOp"><soap:operation soapAction="GreaterShortOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="GreaterEqualBytesOp"><soap:operation soapAction="GreaterEqualBytesOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="GreaterEqualDecimalOp"><soap:operation soapAction="GreaterEqualDecimalOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="GreaterEqualIntegerOp"><soap:operation soapAction="GreaterEqualIntegerOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="GreaterEqualIntOp"><soap:operation soapAction="GreaterEqualIntOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="GreaterEqualLongOp"><soap:operation soapAction="GreaterEqualLongOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        <operation name="GreaterEqualShortOp"><soap:operation soapAction="GreaterEqualShortOp"/><input><soap:body use="literal"/></input><output><soap:body use="literal"/></output></operation>
        
    </binding>
    <service name="OperationService">
        <port name="port" binding="tns:Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/Operation"/>
        </port>
    </service>
    <plnk:partnerLinkType name="SLT" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="server" portType="tns:Operation"/>
    </plnk:partnerLinkType>
</definitions>
