driver-tests/bpelse/assign/AssignJbi/src/jbiServiceUnits/AssignBpel/Assign/QueryWithNamespace1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
		xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" 
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		name="QueryWithNamespace1Wsdl" 
		targetNamespace="http://sun.com/bpel/QueryWithNamespace1Wsdl"
		xmlns:tns="http://sun.com/bpel/QueryWithNamespace1Wsdl" xmlns:ns0="http://localhost/person">
    <types>
        <xsd:schema targetNamespace="http://sun.com/bpel/QueryWithNamespace1Wsdl" elementFormDefault="qualified">
		<xsd:element name="person">
		 <xsd:complexType>
		  <xsd:sequence>
		   <xsd:element name="name" type="xsd:string"/>
		   <xsd:element name="address" type="tns:addressType"/>
		  </xsd:sequence>
		 </xsd:complexType>
		</xsd:element>
		 <xsd:complexType name="addressType">
		  <xsd:sequence>
		   <xsd:element name="street" type="tns:addressType"/>
		   <xsd:element name="city" type="xsd:string"/>
		   <xsd:element name="state" type="xsd:string"/>
		   <xsd:element name="zip" type="xsd:string"/>
		  </xsd:sequence>
		 </xsd:complexType>		
        </xsd:schema>
    </types>
    <message name="message">
        <part element="tns:person" name="parameters"/>
    </message>
    <portType name="QueryWithNamespace1PortType">
        <operation name="operation1">
            <input message="tns:message"/>
            <output message="tns:message"/>
        </operation>
    </portType>
    <binding name="QueryWithNamespace1Binding" type="tns:QueryWithNamespace1PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="operation1">
            <soap:operation soapAction="operation1"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="QueryWithNamespace1Service">
        <port binding="tns:QueryWithNamespace1Binding" name="QueryWithNamespace1Port">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/QueryWithNamespace1"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="QueryWithNamespace1PLT">
        <plnk:role name="server" portType="tns:QueryWithNamespace1PortType"/>
    </plnk:partnerLinkType>
</definitions>
