ojc-core/execbc/execbcimpl/test/com/sun/jbi/execbc/packaging/wsdls/TestExec.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:exec="http://schemas.sun.com/jbi/wsdl-extensions/exec/" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:tns="urn:ExecTest" 
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             name="ExecInvokeService" 
             targetNamespace="urn:ExecTest">
    <types>
        <xsd:schema xmlns:ns1="urn:ExecTest" 
                    attributeFormDefault="unqualified" 
                    elementFormDefault="qualified" 
                    targetNamespace="urn:ExecTest">
            <xsd:element name="helloObj" type="tns:helloObjType">
            </xsd:element>
            <xsd:element name="status" type="xsd:string">
            </xsd:element>            
            <xsd:complexType name="helloObjType">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                    <xsd:element name="nonNegativeInteger" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="byte" type="xsd:byte"/>
                    <xsd:element name="short" type="xsd:short"/>
                    <xsd:element name="int" type="xsd:int"/>
                    <xsd:element name="long" type="xsd:long"/>
                    <xsd:element name="negativeInteger" type="xsd:negativeInteger"/>
                    <xsd:element name="dateTime" type="xsd:dateTime"/>
                    <xsd:element name="nonPositiveInteger" type="xsd:nonPositiveInteger"/>
                    <xsd:element name="duration" type="xsd:duration"/>
                    <xsd:element name="ENTITIES" type="xsd:ENTITIES"/>
                    <xsd:element name="double" type="xsd:double"/>
                    <xsd:element name="ENTITY" type="xsd:ENTITY"/>
                    <xsd:element name="float" type="xsd:float"/>
                    
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="HelloIF_sayHello">
        <part element="tns:helloObj" name="body"/>
    </message>
    <message name="HelloIF_sayHelloResponse">
        <part element="tns:status" name="result"/>
    </message>
    <portType name="HelloIF">
        <operation name="sayHello">
            <input message="tns:HelloIF_sayHello"/>
            <output message="tns:HelloIF_sayHelloResponse"/>
        </operation>
    </portType>
    <binding name="HelloIFBinding" type="tns:HelloIF">
        <exec:binding/>
        <operation name="sayHello">
            <exec:operation command="vmstat" pollingInterval="9999"/> 
            <input>
                <exec:message use="literal"/>
            </input>
            <output name="output">
                <exec:message use="encoded" encodingStyle="customencoder-1.0"/>
            </output>
        </operation>
    </binding>
    <service name="MyHelloService">
        <port binding="tns:HelloIFBinding" name="HelloIFPort">
            <exec:address hostName="localhost" userName="un1" password="abcde"/>
        </port>
    </service>
    
    <plnk:partnerLinkType xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/" name="HelloIFServiceLink">
	<plnk:role name="HelloIFRole" portType="HelloIF"/>
   </plnk:partnerLinkType>

</definitions>
