driver-tests/bpelse/blueprints/cmdLine/soa/bpel/BluePrint5/src/HotelReservation.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<definitions targetNamespace="http://localhost/BluePrint5/HotelReservation"
             name="HotelReservation"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="http://localhost/BluePrint5/HotelReservation"
             xmlns:ns0="http://localhost/BluePrint5/Reservation"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:ns="http://ReservationSystem.org/xsd/reserve"
             xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:res="http://localhost/BluePrint5/Reservation">
    <import location="Reservation.wsdl" namespace="http://localhost/BluePrint5/Reservation"/>
    <types>
        <xsd:schema targetNamespace="http://localhost/BluePrint5/HotelReservation">
            <xsd:import schemaLocation="reservaton.xsd" namespace="http://ReservationSystem.org/xsd/reserve"/>
        </xsd:schema>
    </types>    
    <message name="HotelReservation">
        <part name="reserveHotelPart"
              element="ns:reserve"></part>
    </message>
    <message name="HotelReservationStatus">
        <part name="status"
              element="ns:reserveStatus"></part>
    </message>
    <portType name="HotelReservationPortType">
        <operation name="reserveHotel">
            <input name="reserveMesg"
                   message="tns:HotelReservation"></input>
        </operation>
    </portType>
    <portType name="HotelStatusPortType">
        <operation name="sendHotelStatus">
            <input name="statusMesg"
                   message="tns:HotelReservationStatus"></input>
        </operation>
    </portType>
    <binding name="HotelReservationBinding"
             type="tns:HotelReservationPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="reserveHotel">
            <soap:operation style="document"/>
            <input name="reserveMesg">
                <soap:body parts="reserveHotelPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="HotelReservationStatusBinding"
             type="tns:HotelStatusPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sendHotelStatus">
            <soap:operation style="document"/>
            <input name="statusMesg">
                <soap:body parts="status"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="HotelService">
        <port name="HotelServicePort"
              binding="tns:HotelReservationBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/wsdl/HotelService/ServiceLocation"/>
        </port>
    </service>
    <service name="HotelStatusService">
        <port name="HotelStatusServicePort"
              binding="tns:HotelReservationStatusBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/wsdl/HotelStatusService/ServiceLocation"/>
        </port>
    </service>
    <plink:partnerLinkType name="HotelReservationPLinkType">
        <plink:role name="reservingRole"
                    portType="tns:HotelReservationPortType"></plink:role>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="HotelReservStatusPLinkType">
        <plink:role name="statusReceivingRole"
                    portType="tns:HotelStatusPortType"></plink:role>
    </plink:partnerLinkType>
    <vprop:propertyAlias part="status"
                        propertyName="res:reservationID"
                        messageType="tns:HotelReservationStatus">
        <vprop:query>/reserveStatus/reservationID</vprop:query>
    </vprop:propertyAlias>  
</definitions>
