driver-tests/sqlse/db2/SqlSE1110_DB2/InsertRowWithWrongTypeJbi/src/jbiServiceUnits/InsertRowWithWrongTypeSql/InsertRowWithWrongTypeSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="InsertRowWithWrongTypeSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="InsertRowWithWrongTypeRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="InsertRowWithWrongTypeRequest">
    <part name="InsertRowWithWrongTypeRequestPart" element="tns:InsertRowWithWrongTypeRequest"/>
  </message>
  <message name="InsertRowWithWrongTypeResponse">
    <part name="InsertRowWithWrongTypeResponsePart" element="tns:numRowsEffected"/>
  </message>
  <portType name="InsertRowWithWrongTypeSql_sqlsePortType">
    <operation name="InsertRowWithWrongType">
      <input name="InsertRowWithWrongTypeRequest" message="tns:InsertRowWithWrongTypeRequest"/>
      <output name="InsertRowWithWrongTypeResponse" message="tns:InsertRowWithWrongTypeResponse"/>
    </operation>
  </portType>
  <binding name="InsertRowWithWrongTypeSqlBinding" type="tns:InsertRowWithWrongTypeSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="InsertRowWithWrongType">
      <soap:operation/>
      <input name="InsertRowWithWrongTypeRequest">
        <soap:body/>
      </input>
      <output name="InsertRowWithWrongTypeResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="InsertRowWithWrongTypeSql_sqlseService">
    <port name="InsertRowWithWrongTypeSql_sqlsePort" binding="tns:InsertRowWithWrongTypeSqlBinding">
      <soap:address location="http://localhost:18181/InsertRowWithWrongTypeSql/InsertRowWithWrongTypeSql/InsertRowWithWrongTypeSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="InsertRowWithWrongTypeSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="InsertRowWithWrongTypeSql_myrole" portType="tns:InsertRowWithWrongTypeSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
