driver-tests/sqlse/derby/selectallSQL/src/selectallSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="selectallSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="selectallRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="selectallResponse"><xsd:complexType><xsd:sequence><xsd:element name="CUSTOMER_NUM" type="xsd:int"/><xsd:element name="DISCOUNT_CODE" type="xsd:string"/><xsd:element name="ZIP" type="xsd:string"/><xsd:element name="NAME" type="xsd:string"/><xsd:element name="ADDR_LN1" type="xsd:string"/><xsd:element name="ADDR_LN2" type="xsd:string"/><xsd:element name="CITY" type="xsd:string"/><xsd:element name="STATE" type="xsd:string"/><xsd:element name="PHONE" type="xsd:string"/><xsd:element name="FAX" type="xsd:string"/><xsd:element name="EMAIL" type="xsd:string"/><xsd:element name="CREDIT_LIMIT" type="xsd:int"/><xsd:element name="LAST_SALE_DATE" type="xsd:string"/><xsd:element name="LAST_SALE_TIME" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="selectallRequest">
    <part name="selectallRequestPart" element="tns:selectallRequest"/>
  </message>
  <message name="selectallResponse">
    <part name="selectallResponsePart" element="tns:selectallResponse"/>
  </message>
  <portType name="selectallSQL_sqlsePortType">
    <operation name="selectall">
      <input name="selectallRequest" message="tns:selectallRequest"/>
      <output name="selectallResponse" message="tns:selectallResponse"/>
    </operation>
  </portType>
  <binding name="selectallSQLBinding" type="tns:selectallSQL_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="selectall">
      <soap:operation/>
      <input name="selectallRequest">
        <soap:body/>
      </input>
      <output name="selectallResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="selectallSQL_sqlseService">
    <port name="selectallSQL_sqlsePort" binding="tns:selectallSQLBinding">
      <soap:address location="http://localhost:18181/selectallSQL/selectallSQL/selectallSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="selectallSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="selectallSQL_myrole" portType="tns:selectallSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
