contrib-fort/rules4jbi/data/assemblies/drools/http-su/invoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" version="1.0"
           targetNamespace="http://www.example.org/xml/ns/class"
           xmlns:tns="http://www.example.org/xml/ns/class"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="bill" type="tns:billType"/>

    <xs:complexType name="billType">
       <xs:sequence>
           <xs:element name="description" type="xs:string"/>
           <xs:element name="status" type="xs:string"/>
       </xs:sequence>
       <xs:attribute name="amount" type="xs:int" use="required"/>
    </xs:complexType>
</xs:schema>
