ojc-core/bpelse/system-test/test/com/sun/jbi/engine/bpel/jbiadaptor/test/persistence/bpels/flowWait/deployedFolder/FlowWithWait/FlowWithWait.wsdl

<?xml version="1.0" encoding="UTF-8"?>


<wsdl:definitions name="FlowWithWait"
             targetNamespace="http://www.mycomp.org/FlowWithWait"
             xmlns:tns="http://www.mycomp.org/FlowWithWait"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"                          
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:message name="message1">
        <wsdl:part name="branch1" type="xsd:string"/>
        <wsdl:part name="branch2" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="message2">
        <wsdl:part name="part1" type="xsd:string"/>
    </wsdl:message>
    <wsdl:portType name="FlowWithWaitPortType">
        <wsdl:operation name="FlowWithWaitOperation">
            <wsdl:input name="input1" message="tns:message1"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="FlowWithWaitResponsePortType">
        <wsdl:operation name="FlowWithWaitResponseOperation">
            <wsdl:input name="input1" message="tns:message2"/>
        </wsdl:operation>
    </wsdl:portType>

    <binding name="FlowWithWaitSoapBinding" type="tns:FlowWithWaitPortType">
            <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                <operation name="FlowWithWaitOperation">
                <soap:operation style="document"/>
                <input name="input1">
                     <soap:body/>
                </input>
                </operation>
    </binding>
    <wsdl:service name="FlowWithWaitService">
		<wsdl:port name="FlowWithWaitPortName" binding="tns:FlowWithWaitSoapBinding">                    
                     <soap:address location="http://localhost:18181/FlowWithWait"/>
		</wsdl:port>
        </wsdl:service>

	<plnk:partnerLinkType name="FlowWithWaitPartnerLinkType">
		<plnk:role name="FlowWithWaitProvider" portType="tns:FlowWithWaitPortType"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="FlowWithWaitResponsePartnerLinkType">
		<plnk:role name="FlowWithWaitResponseProvider" portType="tns:FlowWithWaitResponsePortType"/>
	</plnk:partnerLinkType>

    </wsdl:definitions>


 

 

 

 

 
