driver-tests/sapbc/SAPBCTests/SAPBCBpel/src/GenericIDocOut/echoGenericIDoc4x.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="echoGenericIDoc4x"
    targetNamespace="http://j2ee.netbeans.org/wsdl/echoGenericIDoc4x"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://j2ee.netbeans.org/wsdl/echoGenericIDoc4x"
    xmlns:n0="urn:sap-com:document:sap:rfc:functions:echoGenericIDoc4x"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
   <wsdl:types>
      <xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions:echoGenericIDoc4x" elementFormDefault="unqualified" attributeFormDefault="qualified" xmlns:tns="urn:sap-com:document:sap:rfc:functions">
         <xsd:simpleType name="char1">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char10">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="10"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char14">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="14"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char16">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="16"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char2">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="2"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char20">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="20"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char21">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="21"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char3">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="3"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char30">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="30"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char4">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="4"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char6">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="6"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char70">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="70"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="clnt3">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="3"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="date">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="10"/>
               <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="longchar1000">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="1000"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="numeric6">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="6"/>
               <xsd:pattern value="\d*"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="time">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="8"/>
               <xsd:pattern value="\d\d:\d\d:\d\d"/>
            </xsd:restriction>
         </xsd:simpleType>
      </xsd:schema>
      <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/echoGenericIDoc4x" elementFormDefault="unqualified" attributeFormDefault="qualified">
         <xsd:import namespace="urn:sap-com:document:sap:rfc:functions:echoGenericIDoc4x"/>
         <xsd:complexType name="EdiDc40">
            <xsd:sequence>
               <xsd:element name="Tabnam" type="n0:char10"/>
               <xsd:element name="Mandt" type="n0:clnt3"/>
               <xsd:element name="Docnum" type="n0:char16"/>
               <xsd:element name="Docrel" type="n0:char4"/>
               <xsd:element name="Status" type="n0:char2"/>
               <xsd:element name="Direct" type="n0:char1"/>
               <xsd:element name="Outmod" type="n0:char1"/>
               <xsd:element name="Exprss" type="n0:char1"/>
               <xsd:element name="Test" type="n0:char1"/>
               <xsd:element name="Idoctyp" type="n0:char30"/>
               <xsd:element name="Cimtyp" type="n0:char30"/>
               <xsd:element name="Mestyp" type="n0:char30"/>
               <xsd:element name="Mescod" type="n0:char3"/>
               <xsd:element name="Mesfct" type="n0:char3"/>
               <xsd:element name="Std" type="n0:char1"/>
               <xsd:element name="Stdvrs" type="n0:char6"/>
               <xsd:element name="Stdmes" type="n0:char6"/>
               <xsd:element name="Sndpor" type="n0:char10"/>
               <xsd:element name="Sndprt" type="n0:char2"/>
               <xsd:element name="Sndpfc" type="n0:char2"/>
               <xsd:element name="Sndprn" type="n0:char10"/>
               <xsd:element name="Sndsad" type="n0:char21"/>
               <xsd:element name="Sndlad" type="n0:char70"/>
               <xsd:element name="Rcvpor" type="n0:char10"/>
               <xsd:element name="Rcvprt" type="n0:char2"/>
               <xsd:element name="Rcvpfc" type="n0:char2"/>
               <xsd:element name="Rcvprn" type="n0:char10"/>
               <xsd:element name="Rcvsad" type="n0:char21"/>
               <xsd:element name="Rcvlad" type="n0:char70"/>
               <xsd:element name="Credat" type="n0:date"/>
               <xsd:element name="Cretim" type="n0:time"/>
               <xsd:element name="Refint" type="n0:char14"/>
               <xsd:element name="Refgrp" type="n0:char14"/>
               <xsd:element name="Refmes" type="n0:char14"/>
               <xsd:element name="Arckey" type="n0:char70"/>
               <xsd:element name="Serial" type="n0:char20"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="EdiDd40">
            <xsd:sequence>
               <xsd:element name="Segnam" type="n0:char30"/>
               <xsd:element name="Mandt" type="n0:clnt3"/>
               <xsd:element name="Docnum" type="n0:char16"/>
               <xsd:element name="Segnum" type="n0:char6"/>
               <xsd:element name="Psgnum" type="n0:numeric6"/>
               <xsd:element name="Hlevel" type="n0:char2"/>
               <xsd:element name="Sdata" type="n0:longchar1000"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TableOfediDc40">
            <xsd:sequence>
               <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="tns:EdiDc40"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TableOfediDd40">
            <xsd:sequence>
               <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="tns:EdiDd40"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="IdocInboundAsynchronous">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="IdocControlRec40" type="tns:TableOfediDc40"/>
                  <xsd:element name="IdocDataRec40" type="tns:TableOfediDd40"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="IdocInboundAsynchronousResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="IdocControlRec40" type="tns:TableOfediDc40"/>
                  <xsd:element name="IdocDataRec40" type="tns:TableOfediDd40"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
    <message name="echoGenericIDoc4xOperationRequest">
        <part name="IdocInboundAsynchronousRequest" element="tns:IdocInboundAsynchronous"/>
    </message>
    <message name="echoGenericIDoc4xOperationReply">
        <part name="IdocInboundAsynchronousResponse" element="tns:IdocInboundAsynchronousResponse"/>
    </message>
    <portType name="echoGenericIDoc4xPortType">
        <wsdl:operation name="echoGenericIDoc4xOperation">
            <wsdl:input name="input1" message="tns:echoGenericIDoc4xOperationRequest"/>
            <wsdl:output name="output1" message="tns:echoGenericIDoc4xOperationReply"/>
        </wsdl:operation>
    </portType>
    <binding name="Binding" type="tns:echoGenericIDoc4xPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="echoGenericIDoc4xOperation">
            <soap:operation soapAction="echoGenericIDoc4xOperation"/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <service name="echoService">
        <wsdl:port name="echoServicePortIDoc" binding="tns:Binding">
            <soap:address location="http://localhost:18181/SAPBCBpel/echoGenericIDoc4x/echoServicePortIDoc"/>
        </wsdl:port>
    </service>
    <plnk:partnerLinkType name="echoGenericIDoc4x1">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="echoGenericIDoc4xPortTypeRole" portType="tns:echoGenericIDoc4xPortType"/>
    </plnk:partnerLinkType>
</definitions>
