driver-tests/sapbc/SAPBCTests/SAPBCBpel/src/GenericIDocOut/Z_IDOCINBOUNDASYNC.EUC.wsdl

<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n0="urn:sap-com:document:sap:rfc:functions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sap="http://schemas.sun.com/jbi/wsdl-extensions/sap/">
   <wsdl:types>
      <xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions" elementFormDefault="unqualified" attributeFormDefault="qualified" xmlns:tns="urn:sap-com:document:sap:rfc:functions">
         <xsd:simpleType name="char1">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char10">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="10"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char14">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="14"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char16">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="16"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char2">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="2"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char20">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="20"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char21">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="21"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char3">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="3"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char30">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="30"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char4">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="4"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char6">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="6"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="char70">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="70"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="clnt3">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="3"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="date">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="10"/>
               <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="longchar1000">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="1000"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="numeric6">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="6"/>
               <xsd:pattern value="\d*"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="time">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="8"/>
               <xsd:pattern value="\d\d:\d\d:\d\d"/>
            </xsd:restriction>
         </xsd:simpleType>
      </xsd:schema>
      <xsd:schema targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" elementFormDefault="unqualified" attributeFormDefault="qualified">
         <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
         <xsd:complexType name="EdiDc40">
            <xsd:sequence>
               <xsd:element name="Tabnam" type="n0:char10"/>
               <xsd:element name="Mandt" type="n0:clnt3"/>
               <xsd:element name="Docnum" type="n0:char16"/>
               <xsd:element name="Docrel" type="n0:char4"/>
               <xsd:element name="Status" type="n0:char2"/>
               <xsd:element name="Direct" type="n0:char1"/>
               <xsd:element name="Outmod" type="n0:char1"/>
               <xsd:element name="Exprss" type="n0:char1"/>
               <xsd:element name="Test" type="n0:char1"/>
               <xsd:element name="Idoctyp" type="n0:char30"/>
               <xsd:element name="Cimtyp" type="n0:char30"/>
               <xsd:element name="Mestyp" type="n0:char30"/>
               <xsd:element name="Mescod" type="n0:char3"/>
               <xsd:element name="Mesfct" type="n0:char3"/>
               <xsd:element name="Std" type="n0:char1"/>
               <xsd:element name="Stdvrs" type="n0:char6"/>
               <xsd:element name="Stdmes" type="n0:char6"/>
               <xsd:element name="Sndpor" type="n0:char10"/>
               <xsd:element name="Sndprt" type="n0:char2"/>
               <xsd:element name="Sndpfc" type="n0:char2"/>
               <xsd:element name="Sndprn" type="n0:char10"/>
               <xsd:element name="Sndsad" type="n0:char21"/>
               <xsd:element name="Sndlad" type="n0:char70"/>
               <xsd:element name="Rcvpor" type="n0:char10"/>
               <xsd:element name="Rcvprt" type="n0:char2"/>
               <xsd:element name="Rcvpfc" type="n0:char2"/>
               <xsd:element name="Rcvprn" type="n0:char10"/>
               <xsd:element name="Rcvsad" type="n0:char21"/>
               <xsd:element name="Rcvlad" type="n0:char70"/>
               <xsd:element name="Credat" type="n0:date"/>
               <xsd:element name="Cretim" type="n0:time"/>
               <xsd:element name="Refint" type="n0:char14"/>
               <xsd:element name="Refgrp" type="n0:char14"/>
               <xsd:element name="Refmes" type="n0:char14"/>
               <xsd:element name="Arckey" type="n0:char70"/>
               <xsd:element name="Serial" type="n0:char20"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="EdiDd40">
            <xsd:sequence>
               <xsd:element name="Segnam" type="n0:char30"/>
               <xsd:element name="Mandt" type="n0:clnt3"/>
               <xsd:element name="Docnum" type="n0:char16"/>
               <xsd:element name="Segnum" type="n0:char6"/>
               <xsd:element name="Psgnum" type="n0:numeric6"/>
               <xsd:element name="Hlevel" type="n0:char2"/>
               <xsd:element name="Sdata" type="n0:longchar1000"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TableOfediDc40">
            <xsd:sequence>
               <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="tns:EdiDc40"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="TableOfediDd40">
            <xsd:sequence>
               <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="tns:EdiDd40"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="IdocInboundAsynchronous">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="IdocControlRec40" type="tns:TableOfediDc40"/>
                  <xsd:element name="IdocDataRec40" type="tns:TableOfediDd40"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="IdocInboundAsynchronousResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="IdocControlRec40" type="tns:TableOfediDc40"/>
                  <xsd:element name="IdocDataRec40" type="tns:TableOfediDd40"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="IdocInboundAsynchronous">
      <wsdl:part name="parameters" element="tns:IdocInboundAsynchronous"/>
   </wsdl:message>
   <wsdl:message name="IdocInboundAsynchronousResponse">
      <wsdl:part name="parameters" element="tns:IdocInboundAsynchronousResponse"/>
   </wsdl:message>
   <wsdl:portType name="Z_IDOCINBOUNDASYNC">
      <wsdl:operation name="IdocInboundAsynchronous">
         <wsdl:input name="IdocInboundAsynchronousRequest" message="tns:IdocInboundAsynchronous"/>
         <wsdl:output name="IdocInboundAsynchronousResponse" message="tns:IdocInboundAsynchronousResponse"/>
      </wsdl:operation>
   </wsdl:portType>
    <wsdl:binding name="Z_IDOCINBOUNDASYNCSAPBinding" type="tns:Z_IDOCINBOUNDASYNC">
        <sap:binding transactionalMode="Transactional" transactionIDVerificationDatabase="@tempdir@/AlaskaSAPTransactional.db"/>
        <wsdl:operation name="IdocInboundAsynchronous">
            <sap:fmoperation functionName="IDOC_INBOUND_ASYNCHRONOUS"/>
            <wsdl:input name="IdocInboundAsynchronousRequest">
                <sap:message/>
            </wsdl:input>
            <wsdl:output name="IdocInboundAsynchronousResponse">
                <sap:message/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Z_IDOCINBOUNDASYNCService">
        <wsdl:port name="Z_IDOCINBOUNDASYNCServicePort" binding="tns:Z_IDOCINBOUNDASYNCSAPBinding">
            <sap:address applicationServerHostname="sap50uni" clientNumber="800" systemNumber="00" systemID="EUC" user="${username}" password="${password}" language="EN" enableABAPDebugWindow="No" isSAPSystemUnicode="Yes" gatewayHostname="sap50uni" gatewayService="sapgw00">
                <sap:clientparams useLoadBalancing="No"/>
                <sap:serverparams programID=""/>
            </sap:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>