driver-tests/bpelse/dynamicpartnerlink/correlation/correlationBPEL/src/correlation/TravelReservationService/HotelReservationService.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ota="http://www.opentravel.org/OTA/2003/05" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.sun.com/javaone/05/HotelReservationService" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sun.com/javaone/05/HotelReservationService">

	<types>
		<xs:schema xmlns:air="http://www.sun.com/javaone/05/HotelReservationService" xmlns:s="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sun.com/javaone/05/HotelReservationService">
			<xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="OTA_TravelItinerary.xsd"/>
		</xs:schema>
	</types>
	
	<message name="ReserveHotelIn">
		<part element="ota:TravelItinerary" name="itinerary"/>
	</message>
	<message name="CancelHotelIn">
		<part element="ota:ItineraryRef" name="itinerary"/>
	</message>
	<message name="CancelHotelOut">
		<part element="ota:CancellationStatus" name="succeeded"/>
	</message>
	<message name="HotelReservedIn">
		<part element="ota:TravelItinerary" name="itinerary"/>
	</message>
	
	<portType name="HotelReservationPortType">
		<operation name="reserveHotel">
			<input message="tns:ReserveHotelIn"/>
		</operation>
		<operation name="cancelHotel">
			<input message="tns:CancelHotelIn"/>
			<output message="tns:CancelHotelOut"/>
		</operation>
	</portType>
		
	
	<portType name="HotelReservationCallbackPortType">
		<operation name="hotelReserved">
			<input message="tns:HotelReservedIn"/>
		</operation>
	</portType>	
		
	
	
	<binding name="HotelReservationSoapBinding" type="tns:HotelReservationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="reserveHotel">
			<soap:operation soapAction="http://www.sun.com/javaone/05/HotelReservationService/reserveHotel" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="cancelHotel">
			<soap:operation soapAction="http://www.sun.com/javaone/05/HotelReservationService/cancelHotel" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	
	<binding name="HotelReservationCallbackSoapBinding" type="tns:HotelReservationCallbackPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="hotelReserved">
			<soap:operation/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>				
	</binding>
	
	
	<service name="HotelReservationSoapService">
		<port binding="tns:HotelReservationSoapBinding" name="HotelReservationSoapHttpPort">
			<soap:address location="http://evisiondev.stc.com:28080/webservice/HotelReservationService"/>
		</port>
	</service>
	

	<plnk:partnerLinkType name="HotelReservationPartnerLinkType">
		<plnk:role name="HotelReservationServiceRole" portType="tns:HotelReservationPortType" />
		<plnk:role name="HotelReservationCallbackServiceRole" portType="tns:HotelReservationCallbackPortType" />
	</plnk:partnerLinkType>		
	
</definitions>
