driver-tests/bpelse/dynamicpartnerlink/correlation/correlationBPEL/src/correlation/TravelReservationService/VehicleReservationService.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ota="http://www.opentravel.org/OTA/2003/05" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.sun.com/javaone/05/VehicleReservationService" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sun.com/javaone/05/VehicleReservationService">

	<types>
		<xs:schema xmlns:air="http://www.sun.com/javaone/05/VehicleReservationService" xmlns:s="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sun.com/javaone/05/VehicleReservationService">
			<xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="OTA_TravelItinerary.xsd"/>
		</xs:schema>
	</types>
	
	<message name="ReserveVehicleIn">
		<part element="ota:TravelItinerary" name="itinerary"/>
	</message>
	<message name="CancelVehicleIn">
		<part element="ota:ItineraryRef" name="itinerary"/>
	</message>
	<message name="CancelVehicleOut">
		<part element="ota:CancellationStatus" name="succeeded"/>
	</message>
	<message name="VehicleReservedIn">
		<part element="ota:TravelItinerary" name="itinerary"/>
	</message>
	
	<portType name="VehicleReservationPortType">
		<operation name="reserveVehicle">
			<input message="tns:ReserveVehicleIn"/>
		</operation>
		<operation name="cancelVehicle">
			<input message="tns:CancelVehicleIn"/>
			<output message="tns:CancelVehicleOut"/>
		</operation>
	</portType>
	
	
	<portType name="VehicleReservationCallbackPortType">
		<operation name="vehicleReserved">
			<input message="tns:VehicleReservedIn"/>
		</operation>
	</portType>	
	
	<binding name="VehicleReservationSoapBinding" type="tns:VehicleReservationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="reserveVehicle">
			<soap:operation soapAction="http://www.sun.com/javaone/05/VehicleReservationService/reserveVehicle" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
		<operation name="cancelVehicle">
			<soap:operation soapAction="http://www.sun.com/javaone/05/VehicleReservationService/cancelVehicle" style="document"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>


	<binding name="VehicleReservationCallbackSoapBinding" type="tns:VehicleReservationCallbackPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="vehicleReserved">
			<soap:operation/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>				
	</binding>



	<service name="VehicleReservationSoapService">
		<port binding="tns:VehicleReservationSoapBinding" name="VehicleReservationSoapHttpPort">
			<soap:address location="http://evisiondev.stc.com:28080/webservice/VehicleReservationService"/>
		</port>
	</service>

	
	<plnk:partnerLinkType name="VehicleReservationPartnerLinkType">
		<plnk:role name="VehicleReservationServiceRole" portType="tns:VehicleReservationPortType"/>
		<plnk:role name="VehicleReservationCallbackServiceRole" portType="tns:VehicleReservationCallbackPortType"/>
	</plnk:partnerLinkType>	
	
	
</definitions>
