contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl-deploy/EchoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://it.imolinfo.jbi4corba.test.webservice.generator" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://it.imolinfo.jbi4corba.test.webservice.generator" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://it.imolinfo.jbi4corba.test.webservice.generator" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="echo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="echoRequest">
        <wsdl:part element="tns:echo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="echoResponse">
        <wsdl:part element="tns:echoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="EchoPortType">
        <wsdl:operation name="echo">
            <wsdl:input message="tns:echoRequest" name="echoRequest"/>
            <wsdl:output message="tns:echoResponse" name="echoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EchoHttpBinding" type="tns:EchoPortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="echo">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="echoRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Echo">
        <wsdl:port binding="tns:EchoHttpBinding" name="EchoHttpPort">
            <wsdlsoap:address location="http://localhost:8192/Service/EchoService/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
