driver-tests/bpelse/xslt/DoXslTransformBPEL/src/deepNode/grabPrice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="grabPrice" targetNamespace="http://j2ee.netbeans.org/wsdl/grabPrice"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://j2ee.netbeans.org/wsdl/grabPrice" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:ns1="http://docs.oasis-open.org/wsbpel/2.0/serviceref">

    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/grabPrice">
            <xsd:import namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing" schemaLocation="addressing.xsd"/>
            <xsd:import schemaLocation="http://docs.oasis-open.org/wsbpel/2.0/OS/serviceref/ws-bpel_serviceref.xsd" namespace="http://docs.oasis-open.org/wsbpel/2.0/serviceref"/>

            <xsd:element name="EndpointReference" type="wsa:EndpointReferenceType"/>
            <xsd:element name="price" type="xsd:string"/>
            <xsd:element name="product" type="xsd:string"></xsd:element>
            <xsd:element name="productInfo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:product"/>
                        <xsd:element ref="tns:EndpointReference"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="RestrictedServiceRefType">
                <xsd:complexContent>
                    <xsd:restriction xmlns:sref="http://docs.oasis-open.org/wsbpel/2.0/serviceref" base="ns1:ServiceRefType">
                        <xsd:sequence>
                            <xsd:element ref="tns:EndpointReference"/>
                        </xsd:sequence>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="grabPriceOperationRequest">
        <part name="part1" element="tns:productInfo"/>
    </message>
    <message name="grabPriceOperationResponse">
        <part name="part1" element="tns:price"/>
    </message>
    <portType name="grabPricePortType">
        <operation name="grabPriceOperation">
            <input name="input1" message="tns:grabPriceOperationRequest"/>
            <output name="output1" message="tns:grabPriceOperationResponse"/>
        </operation>
    </portType>
    <binding name="grabPriceBinding" type="tns:grabPricePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="grabPriceOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="grabPriceService">
        <port name="grabPricePort" binding="tns:grabPriceBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/grabPriceService/grabPricePort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="grabPrice">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="grabPricePortTypeRole" portType="tns:grabPricePortType"/>
    </plnk:partnerLinkType>
</definitions>
