driver-tests/bpelse/misc/MiscBpel/src/crmOneway/crmOneway.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:crmOneway" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OutOnlyService" targetNamespace="urn:crmOneway">
    <types>
        <xsd:schema xmlns:ns1="urn:crmOneway" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:crmOneway">
            <xsd:element name="helloObj" type="tns:helloObjType"/>
            <xsd:complexType name="helloObjType">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                    <xsd:element name="nonNegativeInteger" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="byte" type="xsd:byte"/>
                    <xsd:element name="short" type="xsd:short"/>
                    <xsd:element name="int" type="xsd:int"/>
                    <xsd:element name="long" type="xsd:long"/>
                    <xsd:element name="negativeInteger" type="xsd:negativeInteger"/>
                    <xsd:element name="dateTime" type="xsd:dateTime"/>
                    <xsd:element name="nonPositiveInteger" type="xsd:nonPositiveInteger"/>
                    <xsd:element name="duration" type="xsd:duration"/>
                    <xsd:element name="ENTITIES" type="xsd:ENTITIES"/>
                    <xsd:element name="double" type="xsd:double"/>
                    <xsd:element name="ENTITY" type="xsd:ENTITY"/>
                    <xsd:element name="float" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="HelloIF_sayHello">
        <part element="tns:helloObj" name="body"/>
    </message>
    <message name="HelloIF_sayHelloResponse">
        <part element="tns:helloObj" name="result"/>
    </message>
    <portType name="HelloIF">
        <operation name="sayHello">
            <input message="tns:HelloIF_sayHello"/>
            <output message="tns:HelloIF_sayHelloResponse"/>
        </operation>
    </portType>
    <portType name="crmOnewayIF">
        <operation name="sayHello">
            <input message="tns:HelloIF_sayHello"/>
        </operation>
    </portType>
    <binding name="HelloDocElem2DocElemIFBinding" type="tns:HelloIF">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sayHello">
            <soap:operation soapAction="sayHello"/>
            <input>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body parts="result" use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="crmOnewayIFBinding" type="tns:crmOnewayIF">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sayHello">
            <soap:operation soapAction="sayHello"/>
            <input>
                <soap:body parts="body" use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="crmOnewayBindingService">
        <port binding="tns:crmOnewayIFBinding" name="crmOnewayIFPort">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/crmOnewayTest"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloIFServiceLink">
        <plnk:role name="HelloIFRole" portType="tns:HelloIF"/>
        <plnk:role name="crmOnewayIFRole" portType="tns:crmOnewayIF"/>
    </plnk:partnerLinkType>
</definitions>
