contrib-imola/corba-bc/integration-test/test-consumer-fromidl-complex/consumer-fromidl-complex-bpel-provider/src/main/resources/EchoComplex.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EchoComplex" targetNamespace="urn:jbi4corba/test-consumer-fromidl-complex" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:jbi4corba/test-consumer-fromidl-complex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:jbi4corba/test-consumer-fromidl-complex" xmlns:ns1="http://testconsumerfromidlcomplex.test.jbi4corba.imolinfo.it/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:jbi4corba/test-consumer-fromidl-complex">
    <xs:import namespace="http://testconsumerfromidlcomplex.test.jbi4corba.imolinfo.it/"/>
    <xs:element name="echo">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="msg" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoExceptionNotThrown">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="es" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoExceptionNotThrownResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoExceptionThrown">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="es" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoExceptionThrownResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoSequence">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="es" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoSequenceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoSequenceSeqEchoStruct">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="es" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoSequenceSeqEchoStructResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoSequenceSeqMySequence">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="es" type="ns1:mySequence"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoSequenceSeqMySequenceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns1:mySequence"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoSequenceValueType">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="es" type="ns1:mySequence"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoSequenceValueTypeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:mySequence"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoStruct">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="es" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoStructOfStruct">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="v" type="ns1:structOfStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoStructOfStructResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:structOfStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoStructOfValuetype">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="v" type="ns1:structOfValuetype"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoStructOfValuetypeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:structOfValuetype"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoStructResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoVTPrimi">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="v" type="ns1:vtPrimi"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoVTPrimiResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:vtPrimi"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoVTPrimiSeq">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="v" type="ns1:vtPrimiSeq"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoVTPrimiSeqResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:vtPrimiSeq"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueBoxedTypeComplex">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="e" type="ns1:mySequence"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueBoxedTypeComplexResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:mySequence"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueBoxedTypePrimitive">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="e" type="ns1:myLong"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueBoxedTypePrimitiveResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:myLong"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueType">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="e" type="ns1:echoVT"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueTypeOfStruct">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="v" type="ns1:valueTypeOfStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueTypeOfStructResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:valueTypeOfStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueTypeOfValueType">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="v" type="ns1:valueTypeOfValueType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueTypeOfValueTypeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:valueTypeOfValueType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoValueTypeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:echoVT"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="EchoComplexException" type="EchoComplexException"/>
    <xs:complexType name="EchoComplexException">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="reason" type="ns1:echoStruct"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://testconsumerfromidlcomplex.test.jbi4corba.imolinfo.it/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://testconsumerfromidlcomplex.test.jbi4corba.imolinfo.it/">
    <xs:complexType name="mySequence">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="echoStruct">
        <xs:sequence>
            <xs:element name="fieldBoolean" type="xs:boolean"/>
            <xs:element name="fieldChar" type="xs:unsignedShort"/>
            <xs:element name="fieldWChar" type="xs:unsignedShort"/>
            <xs:element name="fieldOctet" type="xs:byte"/>
            <xs:element minOccurs="0" name="fieldString" type="xs:string"/>
            <xs:element minOccurs="0" name="fieldWString" type="xs:string"/>
            <xs:element name="fieldShort" type="xs:short"/>
            <xs:element name="fieldUnsignedShort" type="xs:short"/>
            <xs:element name="fieldLong" type="xs:int"/>
            <xs:element name="fieldUnsignedLong" type="xs:int"/>
            <xs:element name="fieldLongLong" type="xs:long"/>
            <xs:element name="fieldUnsignedLongLong" type="xs:long"/>
            <xs:element name="fieldFloat" type="xs:float"/>
            <xs:element name="fieldDouble" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="vtPrimi">
        <xs:sequence>
            <xs:element name="fieldBoolean" type="xs:boolean"/>
            <xs:element name="fieldChar" type="xs:unsignedShort"/>
            <xs:element name="fieldWChar" type="xs:unsignedShort"/>
            <xs:element name="fieldOctet" type="xs:byte"/>
            <xs:element minOccurs="0" name="fieldString" type="xs:string"/>
            <xs:element minOccurs="0" name="fieldWString" type="xs:string"/>
            <xs:element name="fieldShort" type="xs:short"/>
            <xs:element name="fieldUnsignedShort" type="xs:short"/>
            <xs:element name="fieldLong" type="xs:int"/>
            <xs:element name="fieldUnsignedLong" type="xs:int"/>
            <xs:element name="fieldLongLong" type="xs:long"/>
            <xs:element name="fieldUnsignedLongLong" type="xs:long"/>
            <xs:element name="fieldFloat" type="xs:float"/>
            <xs:element name="fieldDouble" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="myLong">
        <xs:sequence>
            <xs:element name="data" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="structOfStruct">
        <xs:sequence>
            <xs:element minOccurs="0" name="internalStruct" type="tns:echoStruct"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="valueTypeOfStruct">
        <xs:sequence>
            <xs:element minOccurs="0" name="data" type="tns:echoStruct"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="structOfValuetype">
        <xs:sequence>
            <xs:element minOccurs="0" name="data" type="tns:vtPrimi"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="valueTypeOfValueType">
        <xs:sequence>
            <xs:element minOccurs="0" name="data" type="tns:vtPrimi"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="vtPrimiSeq">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="tns:vtPrimi"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="echoVT">
        <xs:sequence>
            <xs:element name="publicShort" type="xs:short"/>
            <xs:element name="privateLong" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="echoStruct">
    <wsdl:part name="parameters" element="tns:echoStruct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequenceResponse">
    <wsdl:part name="parameters" element="tns:echoSequenceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoVTPrimiSeq">
    <wsdl:part name="parameters" element="tns:echoVTPrimiSeq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueBoxedTypePrimitiveResponse">
    <wsdl:part name="parameters" element="tns:echoValueBoxedTypePrimitiveResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoVTPrimi">
    <wsdl:part name="parameters" element="tns:echoVTPrimi">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part name="parameters" element="tns:echoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueTypeOfValueTypeResponse">
    <wsdl:part name="parameters" element="tns:echoValueTypeOfValueTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueBoxedTypeComplex">
    <wsdl:part name="parameters" element="tns:echoValueBoxedTypeComplex">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueBoxedTypeComplexResponse">
    <wsdl:part name="parameters" element="tns:echoValueBoxedTypeComplexResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueTypeOfStruct">
    <wsdl:part name="parameters" element="tns:echoValueTypeOfStruct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoStructOfValuetype">
    <wsdl:part name="parameters" element="tns:echoStructOfValuetype">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoVTPrimiSeqResponse">
    <wsdl:part name="parameters" element="tns:echoVTPrimiSeqResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequenceSeqEchoStructResponse">
    <wsdl:part name="parameters" element="tns:echoSequenceSeqEchoStructResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequenceSeqEchoStruct">
    <wsdl:part name="parameters" element="tns:echoSequenceSeqEchoStruct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoExceptionNotThrownResponse">
    <wsdl:part name="parameters" element="tns:echoExceptionNotThrownResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoStructOfStruct">
    <wsdl:part name="parameters" element="tns:echoStructOfStruct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequenceSeqMySequence">
    <wsdl:part name="parameters" element="tns:echoSequenceSeqMySequence">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequence">
    <wsdl:part name="parameters" element="tns:echoSequence">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueType">
    <wsdl:part name="parameters" element="tns:echoValueType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueTypeOfStructResponse">
    <wsdl:part name="parameters" element="tns:echoValueTypeOfStructResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EchoComplexException">
    <wsdl:part name="EchoComplexException" element="tns:EchoComplexException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueTypeResponse">
    <wsdl:part name="parameters" element="tns:echoValueTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoStructOfValuetypeResponse">
    <wsdl:part name="parameters" element="tns:echoStructOfValuetypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoExceptionThrown">
    <wsdl:part name="parameters" element="tns:echoExceptionThrown">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoStructOfStructResponse">
    <wsdl:part name="parameters" element="tns:echoStructOfStructResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueTypeOfValueType">
    <wsdl:part name="parameters" element="tns:echoValueTypeOfValueType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequenceSeqMySequenceResponse">
    <wsdl:part name="parameters" element="tns:echoSequenceSeqMySequenceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoExceptionNotThrown">
    <wsdl:part name="parameters" element="tns:echoExceptionNotThrown">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo">
    <wsdl:part name="parameters" element="tns:echo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequenceValueTypeResponse">
    <wsdl:part name="parameters" element="tns:echoSequenceValueTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueBoxedTypePrimitive">
    <wsdl:part name="parameters" element="tns:echoValueBoxedTypePrimitive">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequenceValueType">
    <wsdl:part name="parameters" element="tns:echoSequenceValueType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoStructResponse">
    <wsdl:part name="parameters" element="tns:echoStructResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoExceptionThrownResponse">
    <wsdl:part name="parameters" element="tns:echoExceptionThrownResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoVTPrimiResponse">
    <wsdl:part name="parameters" element="tns:echoVTPrimiResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EchoComplexPortType">
    <wsdl:operation name="echoSequenceSeqMySequence">
      <wsdl:input name="echoSequenceSeqMySequence" message="tns:echoSequenceSeqMySequence">
    </wsdl:input>
      <wsdl:output name="echoSequenceSeqMySequenceResponse" message="tns:echoSequenceSeqMySequenceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoSequenceSeqEchoStruct">
      <wsdl:input name="echoSequenceSeqEchoStruct" message="tns:echoSequenceSeqEchoStruct">
    </wsdl:input>
      <wsdl:output name="echoSequenceSeqEchoStructResponse" message="tns:echoSequenceSeqEchoStructResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoExceptionNotThrown">
      <wsdl:input name="echoExceptionNotThrown" message="tns:echoExceptionNotThrown">
    </wsdl:input>
      <wsdl:output name="echoExceptionNotThrownResponse" message="tns:echoExceptionNotThrownResponse">
    </wsdl:output>
      <wsdl:fault name="EchoComplexException" message="tns:EchoComplexException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="echoVTPrimi">
      <wsdl:input name="echoVTPrimi" message="tns:echoVTPrimi">
    </wsdl:input>
      <wsdl:output name="echoVTPrimiResponse" message="tns:echoVTPrimiResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoSequenceValueType">
      <wsdl:input name="echoSequenceValueType" message="tns:echoSequenceValueType">
    </wsdl:input>
      <wsdl:output name="echoSequenceValueTypeResponse" message="tns:echoSequenceValueTypeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoValueBoxedTypePrimitive">
      <wsdl:input name="echoValueBoxedTypePrimitive" message="tns:echoValueBoxedTypePrimitive">
    </wsdl:input>
      <wsdl:output name="echoValueBoxedTypePrimitiveResponse" message="tns:echoValueBoxedTypePrimitiveResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStruct">
      <wsdl:input name="echoStruct" message="tns:echoStruct">
    </wsdl:input>
      <wsdl:output name="echoStructResponse" message="tns:echoStructResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoSequence">
      <wsdl:input name="echoSequence" message="tns:echoSequence">
    </wsdl:input>
      <wsdl:output name="echoSequenceResponse" message="tns:echoSequenceResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStructOfStruct">
      <wsdl:input name="echoStructOfStruct" message="tns:echoStructOfStruct">
    </wsdl:input>
      <wsdl:output name="echoStructOfStructResponse" message="tns:echoStructOfStructResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoValueTypeOfStruct">
      <wsdl:input name="echoValueTypeOfStruct" message="tns:echoValueTypeOfStruct">
    </wsdl:input>
      <wsdl:output name="echoValueTypeOfStructResponse" message="tns:echoValueTypeOfStructResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStructOfValuetype">
      <wsdl:input name="echoStructOfValuetype" message="tns:echoStructOfValuetype">
    </wsdl:input>
      <wsdl:output name="echoStructOfValuetypeResponse" message="tns:echoStructOfValuetypeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoExceptionThrown">
      <wsdl:input name="echoExceptionThrown" message="tns:echoExceptionThrown">
    </wsdl:input>
      <wsdl:output name="echoExceptionThrownResponse" message="tns:echoExceptionThrownResponse">
    </wsdl:output>
      <wsdl:fault name="EchoComplexException" message="tns:EchoComplexException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="echoValueBoxedTypeComplex">
      <wsdl:input name="echoValueBoxedTypeComplex" message="tns:echoValueBoxedTypeComplex">
    </wsdl:input>
      <wsdl:output name="echoValueBoxedTypeComplexResponse" message="tns:echoValueBoxedTypeComplexResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoValueTypeOfValueType">
      <wsdl:input name="echoValueTypeOfValueType" message="tns:echoValueTypeOfValueType">
    </wsdl:input>
      <wsdl:output name="echoValueTypeOfValueTypeResponse" message="tns:echoValueTypeOfValueTypeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoVTPrimiSeq">
      <wsdl:input name="echoVTPrimiSeq" message="tns:echoVTPrimiSeq">
    </wsdl:input>
      <wsdl:output name="echoVTPrimiSeqResponse" message="tns:echoVTPrimiSeqResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoValueType">
      <wsdl:input name="echoValueType" message="tns:echoValueType">
    </wsdl:input>
      <wsdl:output name="echoValueTypeResponse" message="tns:echoValueTypeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo">
      <wsdl:input name="echo" message="tns:echo">
    </wsdl:input>
      <wsdl:output name="echoResponse" message="tns:echoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EchoComplexCorbaBinding" type="tns:EchoComplexPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="echoSequenceSeqEchoStruct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echoSequenceSeqEchoStruct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoSequenceSeqEchoStructResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoSequenceSeqMySequence">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echoSequenceSeqMySequence">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoSequenceSeqMySequenceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoExceptionNotThrown">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echoExceptionNotThrown">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoExceptionNotThrownResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EchoComplexException">
        <soap:fault name="EchoComplexException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="echoVTPrimi">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echoVTPrimi">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoVTPrimiResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoSequenceValueType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echoSequenceValueType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoSequenceValueTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoValueBoxedTypePrimitive">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echoValueBoxedTypePrimitive">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoValueBoxedTypePrimitiveResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoSequence">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echoSequence">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoSequenceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStruct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echoStruct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoStructResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStructOfStruct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echoStructOfStruct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoStructOfStructResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoValueTypeOfStruct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echoValueTypeOfStruct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoValueTypeOfStructResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStructOfValuetype">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echoStructOfValuetype">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoStructOfValuetypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoExceptionThrown">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echoExceptionThrown">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoExceptionThrownResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EchoComplexException">
        <soap:fault name="EchoComplexException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="echoValueBoxedTypeComplex">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echoValueBoxedTypeComplex">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoValueBoxedTypeComplexResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoValueTypeOfValueType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echoValueTypeOfValueType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoValueTypeOfValueTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoVTPrimiSeq">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echoVTPrimiSeq">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoVTPrimiSeqResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoValueType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echoValueType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoValueTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="echo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EchoComplex">
		<wsdl:port name="EchoComplexPort" binding="tns:EchoComplexCorbaBinding">
      <soap:address location="http://localhost:8192/Service/test-consumer-fromidl-complex/"/>
    </wsdl:port>
  </wsdl:service>
      <plnk:partnerLinkType name="echoComplexProcess">
        <plnk:role name="echoComplexProcess" portType="tns:EchoComplexPortType"/>
    </plnk:partnerLinkType>
</wsdl:definitions>
