driver-tests/bpelse/assign/CopyByValue/CopyByValueBpel/src/CopyTestWsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CopyTestWsdl" targetNamespace="http://j2ee.netbeans.org/wsdl/CopyTestWsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://j2ee.netbeans.org/wsdl/CopyTestWsdl" xmlns:ns0="http://enterprise.netbeans.org/bpel/TroubleTicketWrapper">
    <types>
        <xsd:schema  targetNamespace="http://j2ee.netbeans.org/wsdl/CopyTestWsdl">
            <xsd:complexType name="TestMessageType">
                <xsd:sequence>
                    <xsd:element name="TestElement" type="xsd:string"></xsd:element>
                    <xsd:element name="TestElement2" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="PartElement" type="tns:TestMessageType"></xsd:element>
        </xsd:schema>
    </types>
    <message name="CopyTestWsdlOperationMessage">
        <part name="part1" element="tns:PartElement"/>
    </message>
    <portType name="CopyByMessageWsdlPortType">
        <operation name="CopyByMessageWsdlOperation">
            <input name="input1" message="tns:CopyTestWsdlOperationMessage"/>
            <output name="output1" message="tns:CopyTestWsdlOperationMessage"/>
        </operation>
    </portType>
    <portType name="CopyByLeafWsdlPortType">
        <operation name="CopyByLeafWsdlOperation">
            <input name="input1" message="tns:CopyTestWsdlOperationMessage"/>
            <output name="output1" message="tns:CopyTestWsdlOperationMessage"/>
        </operation>
    </portType>
    <portType name="CopyByPartWsdlPortType">
        <operation name="CopyByPartWsdlOperation">
            <input name="input1" message="tns:CopyTestWsdlOperationMessage"/>
            <output name="output1" message="tns:CopyTestWsdlOperationMessage"/>
        </operation>
    </portType>
    <portType name="CopyXSDMessageWsdlPortType">
        <operation name="CopyXSDMessageWsdlOperation">
            <input name="input1" message="tns:CopyTestWsdlOperationMessage"/>
            <output name="output1" message="tns:CopyTestWsdlOperationMessage"/>
        </operation>
    </portType>
    <portType name="CopyByMessageWsdlPortType2">
        <operation name="CopyByMessageWsdlOperation2">
            <input name="input1" message="tns:CopyTestWsdlOperationMessage"/>
            <output name="output1" message="tns:CopyTestWsdlOperationMessage"/>
        </operation>
    </portType>
    <portType name="CopyByMessageInScopeWsdlPortType">
        <operation name="CopyByMessageInScopeWsdlOperation">
            <input name="input1" message="tns:CopyTestWsdlOperationMessage"/>
            <output name="output1" message="tns:CopyTestWsdlOperationMessage"/>
        </operation>
    </portType>
    <binding name="CopyByMessageWsdlBinding" type="tns:CopyByMessageWsdlPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CopyByMessageWsdlOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/CopyTestWsdl"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/CopyTestWsdl"/>
            </output>
        </operation>
    </binding>
    <binding name="CopyByLeafWsdlBinding" type="tns:CopyByLeafWsdlPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CopyByLeafWsdlOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/CopyTestWsdl"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/CopyTestWsdl"/>
            </output>
        </operation>
    </binding>
    <binding name="CopyByPartWsdlBinding" type="tns:CopyByPartWsdlPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CopyByPartWsdlOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/CopyTestWsdl"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/CopyTestWsdl"/>
            </output>
        </operation>
    </binding>
    <binding name="CopyXSDMessageWsdlBinding" type="tns:CopyXSDMessageWsdlPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CopyXSDMessageWsdlOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/CopyTestWsdl"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/CopyTestWsdl"/>
            </output>
        </operation>
    </binding>
    <binding name="CopyByMessageWsdlBinding2" type="tns:CopyByMessageWsdlPortType2">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CopyByMessageWsdlOperation2">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/CopyTestWsdl"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/CopyTestWsdl"/>
            </output>
        </operation>
    </binding>
    <binding name="CopyByMessageInScopeWsdlBinding" type="tns:CopyByMessageInScopeWsdlPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CopyByMessageInScopeWsdlOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/CopyTestWsdl"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/CopyTestWsdl"/>
            </output>
        </operation>
    </binding>
    <service name="CopyByMessageWsdlService">
        <port name="CopyByMessageWsdlPort" binding="tns:CopyByMessageWsdlBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/CopyTestWsdlService/CopyByMessageWsdlPort"/>
        </port>
    </service>
    <service name="CopyByLeafWsdlService">
        <port name="CopyByLeafWsdlPort" binding="tns:CopyByLeafWsdlBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/CopyTestWsdlService/CopyByLeafWsdlPort"/>
        </port>
    </service>
    <service name="CopyByPartWsdlService">
        <port name="CopyByPartWsdlPort" binding="tns:CopyByPartWsdlBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/CopyTestWsdlService/CopyByPartWsdlPort"/>
        </port>
    </service>
    <service name="CopyXSDMessageWsdlService">
        <port name="CopyXSDMessageWsdlPort" binding="tns:CopyXSDMessageWsdlBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/CopyTestWsdlService/CopyXSDMessageWsdlPort"/>
        </port>
    </service>
    <service name="CopyByMessageWsdlService2">
        <port name="CopyByMessageWsdlPort2" binding="tns:CopyByMessageWsdlBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/CopyTestWsdlService/CopyByMessageWsdlPort2"/>
        </port>
    </service>
    <service name="CopyByMessageInScopeWsdlService">
        <port name="CopyByMessageInScopeWsdlPort" binding="tns:CopyByMessageInScopeWsdlBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/CopyTestWsdlService/CopyByMessageInScopeWsdlPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="CopyByMessageWsdlPLT">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="CopyByMessagelPortTypeRole" portType="tns:CopyByMessageWsdlPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="CopyByLeafWsdlPLT">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="CopyByLeafPortTypeRole" portType="tns:CopyByLeafWsdlPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="CopyByPartPLT">
        <plnk:role name="CopyByPartWsdlPortTypeRole" portType="tns:CopyByPartWsdlPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="CopyXSDMessagePLT">
        <plnk:role name="CopyByPartWsdlPortTypeRole" portType="tns:CopyXSDMessageWsdlPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="CopyByMessageWsdlPLT2">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="CopyByMessagelPortTypeRole" portType="tns:CopyByMessageWsdlPortType2"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="CopyByMessageInScopeWsdlPLT">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="CopyByMessagelPortTypeRole" portType="tns:CopyByMessageInScopeWsdlPortType"/>
    </plnk:partnerLinkType>
</definitions>
