driver-tests/bpelse/eventHandlers/onAlarm/src/OnAlarmScopeLevelVar/subBP.wsdl

<?xml version="1.0" encoding="windows-1252"?>
<definitions name="subBP" targetNamespace="http://j2ee.netbeans.org/wsdl/subBP"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/subBP" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types/>
    <message name="subBPOperationRequest">
        <part name="part1" type="xsd:string"/>
        <part name="CallBackcorrelatingVal" type="xsd:string"/>
    </message>
    <message name="correlatesubBPOperationRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="callbackOperationRequest">
        <part name="CallBackcorrelatingVal" type="xsd:string"/>
        <part name="part2" type="xsd:int"/>
    </message>
    <portType name="subBPPortType">
        <operation name="subBPOperation">
            <input name="input1" message="tns:subBPOperationRequest"/>
        </operation>
    </portType>
    <portType name="correlatesubBPPortType">
        <operation name="correlatesubBPOperation">
            <input name="input1" message="tns:correlatesubBPOperationRequest"/>
        </operation>
    </portType>
    <portType name="callbackPortType">
        <operation name="callbackOperation">
            <input name="input1" message="tns:callbackOperationRequest"/>
        </operation>
    </portType>
    <binding name="subBPBinding" type="tns:subBPPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="subBPOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/subBP"/>
            </input>
        </operation>
    </binding>
    <service name="subBPService">
        <port name="subBPPort" binding="tns:subBPBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/subBPService/subBPPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="subBP">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="subBPPortTypeRole" portType="tns:subBPPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="subBP2">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="correlatesubBPPortTypeRole" portType="tns:correlatesubBPPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="subBP3">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="callbackPortTypeRole" portType="tns:callbackPortType"/>
    </plnk:partnerLinkType>
</definitions>
