driver-tests/sqlse/derby/selectoneparamfullqualJbi/src/jbiServiceUnits/selectoneparamfullqualSQL/selectoneparamfullqualSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="selectoneparamfullqualSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="selectoneparamfullqualRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="selectoneparamfullqualResponse"><xsd:complexType><xsd:sequence><xsd:element name="ENO" type="xsd:int"/><xsd:element name="ENAME" type="xsd:string"/><xsd:element name="SAL" type="xsd:int"/><xsd:element name="DEPTNO" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="selectoneparamfullqualResponse">
    <part name="selectoneparamfullqualResponsePart" element="tns:selectoneparamfullqualResponse"/>
  </message>
  <message name="selectoneparamfullqualRequest">
    <part name="selectoneparamfullqualRequestPart" element="tns:selectoneparamfullqualRequest"/>
  </message>
  <portType name="selectoneparamfullqualSQL_sqlsePortType">
    <operation name="selectoneparamfullqual">
      <input name="selectoneparamfullqualRequest" message="tns:selectoneparamfullqualRequest"/>
      <output name="selectoneparamfullqualResponse" message="tns:selectoneparamfullqualResponse"/>
    </operation>
  </portType>
  <binding name="selectoneparamfullqualSQLBinding" type="tns:selectoneparamfullqualSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="selectoneparamfullqual">
      <soap:operation style="document"/>
      <input name="selectoneparamfullqualRequest">
        <soap:body use="literal"/>
      </input>
      <output name="selectoneparamfullqualResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="selectoneparamfullqualSQL_sqlseService">
    <port name="selectoneparamfullqualSQL_sqlsePort" binding="tns:selectoneparamfullqualSQLBinding">
      <soap:address location="http://localhost:18181/selectoneparamfullqualSQL/selectoneparamfullqualSQL/selectoneparamfullqualSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="selectoneparamfullqualSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="selectoneparamfullqualSQL_myrole" portType="tns:selectoneparamfullqualSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
