driver-tests/ftpbc/JavaEE_vs_BC/GreeterGreeteeJavaEE/src/conf/xml-resources/web-services/FTPService/wsdl/ResponseMessageSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/ResponseMessageSchema"
            xmlns:tns="http://xml.netbeans.org/schema/ResponseMessageSchema"
            elementFormDefault="qualified">
    <xsd:complexType name="ResponseType">
        <xsd:sequence>
            <xsd:element name="responseElement" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RespMessage" type="tns:ResponseType"></xsd:element>
</xsd:schema>
