driver-tests/bpelse/while/WhileBpel/src/WhileWait/WhileWait.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WhileWait" targetNamespace="http://j2ee.netbeans.org/wsdl/WhileWait"
    xmlns:tns="http://j2ee.netbeans.org/wsdl/WhileWait"
    xmlns:ns1="urn:WS/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/WhileWait">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="WhileWaitRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="WhileWaitResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="WhileWaitError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="WhileWaitPortType">
    <operation name="WhileWaitOperation">
      <input message="tns:WhileWaitRequest"/>
      <output message="tns:WhileWaitResponse"/>
      <fault message="tns:WhileWaitError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="WhileWaitBinding" type="tns:WhileWaitPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="WhileWaitOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="WhileWaitService">
    <port name="WhileWaitPort" binding="tns:WhileWaitBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <message name="WhileWaitMessage">
        <part name="string" type="xsd:string"/>
        <part name="counter" type="xsd:int"/>
    </message>
    <portType name="WhileWaitPortType">
        <operation name="WhileWaitOperation">
            <input name="input1" message="tns:WhileWaitMessage"/>
            <output name="output1" message="tns:WhileWaitMessage"/>
        </operation>
    </portType>
    <binding name="WhileWaitBinding" type="tns:WhileWaitPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="WhileWaitOperation">
        <input name="input1">
          <soap:body/>
        </input><output name="output1">
    <soap:body/>
</output>
        </operation>
    </binding>
    <service name="WhileWaitService">
        <port name="WhileWaitPort" binding="tns:WhileWaitBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/WhileWait"/>
        </port>
    </service>
    <plink:partnerLinkType name="WhileWaitPartnerLinkType">
        <plink:role name="WhileWaitPartnerLinkTypeRole" portType="tns:WhileWaitPortType"/>
    </plink:partnerLinkType>
</definitions>
