driver-tests/bpelse/misc/MiscBpel/src/whileTest/echoWhile.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://stc.com/echoWhile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="flowTest" targetNamespace="http://stc.com/echoWhile">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://stc.com/echoWhile">
            
                <xsd:element name="item">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="value" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="testMsg">
        <part element="tns:item" name="part"/>
    </message>
    <message name="counter">
        <part name="counterPart" type="xsd:int"/>
    </message>
    <portType name="testwhilePort">
        <operation name="testwhileOperation">
            <input message="tns:testMsg"/>
            <output message="tns:testMsg"/>
        </operation>
    </portType>
    <binding name="Binding" type="tns:testwhilePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="testwhileOperation">
            <soap:operation soapAction="testwhileOperation"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="BPELechoWhileingService">
        <port binding="tns:Binding" name="port">
            <soap:address location="http://localhost:${HttpDefaultPort}/BPELechoWhileingService"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="SLT">
        <plnk:role name="echoWhileserver" portType="tns:testwhilePort"/>
    </plnk:partnerLinkType>
</definitions>
