driver-tests/sqlse/derby/deleteoneparamfullqualJbi/src/jbiServiceUnits/deleteoneparamfullqualSQL/deleteoneparamfullqualSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="deleteoneparamfullqualSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="deleteoneparamRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="deleteoneparamResponse">
    <part name="deleteoneparamResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="deleteoneparamRequest">
    <part name="deleteoneparamRequestPart" element="tns:deleteoneparamRequest"/>
  </message>
  <portType name="deleteoneparamfullqualSQL_sqlsePortType">
    <operation name="deleteoneparam">
      <input name="deleteoneparamRequest" message="tns:deleteoneparamRequest"/>
      <output name="deleteoneparamResponse" message="tns:deleteoneparamResponse"/>
    </operation>
  </portType>
  <binding name="deleteoneparamfullqualSQLBinding" type="tns:deleteoneparamfullqualSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="deleteoneparam">
      <soap:operation style="document"/>
      <input name="deleteoneparamRequest">
        <soap:body use="literal"/>
      </input>
      <output name="deleteoneparamResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="deleteoneparamfullqualSQL_sqlseService">
    <port name="deleteoneparamfullqualSQL_sqlsePort" binding="tns:deleteoneparamfullqualSQLBinding">
      <soap:address location="http://localhost:18181/deleteoneparamfullqualSQL/deleteoneparamfullqualSQL/deleteoneparamfullqualSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="deleteoneparamfullqualSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="deleteoneparamfullqualSQL_myrole" portType="tns:deleteoneparamfullqualSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
