driver-tests/sqlse/sqlserver/Sqlse1602_SQL/JoinQueryJbi/src/jbiServiceUnits/JoinQuerySql/JoinQuerySql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="JoinQuerySql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="JoinQueryRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="JoinQueryResponse"><xsd:complexType><xsd:sequence><xsd:element name="empid" type="xsd:int"/><xsd:element name="empname" type="xsd:string"/><xsd:element name="deptid" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="JoinQueryRequest">
    <part name="JoinQueryRequestPart" element="tns:JoinQueryRequest"/>
  </message>
  <message name="JoinQueryResponse">
    <part name="JoinQueryResponsePart" element="tns:JoinQueryResponse"/>
  </message>
  <portType name="JoinQuerySql_sqlsePortType">
    <operation name="JoinQuery">
      <input name="JoinQueryRequest" message="tns:JoinQueryRequest"/>
      <output name="JoinQueryResponse" message="tns:JoinQueryResponse"/>
    </operation>
  </portType>
  <binding name="JoinQuerySqlBinding" type="tns:JoinQuerySql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="JoinQuery">
      <soap:operation/>
      <input name="JoinQueryRequest">
        <soap:body/>
      </input>
      <output name="JoinQueryResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="JoinQuerySql_sqlseService">
    <port name="JoinQuerySql_sqlsePort" binding="tns:JoinQuerySqlBinding">
      <soap:address location="http://localhost:18181/JoinQuerySql/JoinQuerySql/JoinQuerySql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="JoinQuerySql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="JoinQuerySql_myrole" portType="tns:JoinQuerySql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
