driver-tests/bpelse/misc/MiscBpel/src/CrmOnewayOutonly/CrmOnewayOutonly.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:CrmOnewayOutonly" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OutOnlyService" targetNamespace="urn:CrmOnewayOutonly">
    <types>
        <xsd:schema xmlns:ns1="urn:CrmOnewayOutonly" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:CrmOnewayOutonly">
            
            
                    
            
                    
            
                    
            
                    <xsd:element name="helloObj" type="tns:helloObjType"/>
            <xsd:complexType name="helloObjType">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                    <xsd:element name="nonNegativeInteger" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="byte" type="xsd:byte"/>
                    <xsd:element name="short" type="xsd:short"/>
                    <xsd:element name="int" type="xsd:int"/>
                    <xsd:element name="long" type="xsd:long"/>
                    <xsd:element name="negativeInteger" type="xsd:negativeInteger"/>
                    <xsd:element name="dateTime" type="xsd:dateTime"/>
                    <xsd:element name="nonPositiveInteger" type="xsd:nonPositiveInteger"/>
                    <xsd:element name="duration" type="xsd:duration"/>
                    <xsd:element name="ENTITIES" type="xsd:ENTITIES"/>
                    <xsd:element name="double" type="xsd:double"/>
                    <xsd:element name="ENTITY" type="xsd:ENTITY"/>
                    <xsd:element name="float" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="HelloIF_sayHello">
        <part element="tns:helloObj" name="body"/>
    </message>
    <message name="HelloIF_sayHelloResponse">
        <part element="tns:helloObj" name="result"/>
    </message>
    <portType name="HelloIF">
        <operation name="sayHello">
            <input message="tns:HelloIF_sayHello"/>
            <output message="tns:HelloIF_sayHelloResponse"/>
        </operation>
    </portType>
    <portType name="CrmOnewayOutonlyIF">
        <operation name="sayHello">
            <input message="tns:HelloIF_sayHello"/>
        </operation>
    </portType>
    <portType name="CrmOnewayOutonlyIFsubBP">
        <operation name="sayHello">
            <input message="tns:HelloIF_sayHello"/>
        </operation>
    </portType>
    <binding name="HelloDocElem2DocElemIFBinding" type="tns:HelloIF">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sayHello">
            <soap:operation soapAction="sayHello"/>
            <input>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body parts="result" use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="CrmOnewayOutonlyIFBinding" type="tns:CrmOnewayOutonlyIF">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sayHello">
            <soap:operation soapAction="sayHello"/>
            <input>
                <soap:body parts="body" use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="CrmOnewayOutonlyIFBindingsubBP" type="tns:CrmOnewayOutonlyIFsubBP">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="sayHello">
            <soap:operation soapAction="sayHello"/>
            <input>
                <soap:body parts="body" use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="CrmOnewayOutonlyBindingService">
        <port binding="tns:CrmOnewayOutonlyIFBinding" name="CrmOnewayOutonlyIFPort">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/CrmOnewayOutonlyTest"/>
        </port>
        <port binding="tns:CrmOnewayOutonlyIFBindingsubBP" name="CrmOnewayOutonlyIFPortsubBP">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/CrmOnewayOutonlyTestsubBP"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloIFServiceLink">
        <plnk:role name="HelloIFRole" portType="tns:HelloIF"/>
        <plnk:role name="CrmOnewayOutonlyIFRole" portType="tns:CrmOnewayOutonlyIF"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloIFServiceLinkNew">
        <plnk:role name="CrmOnewayOutonlyIFRolesubBP" portType="tns:CrmOnewayOutonlyIFsubBP"/>
    </plnk:partnerLinkType>
</definitions>
