ojc-core/bpelse/system-test/test/com/sun/jbi/engine/bpel/jbiadaptor/test/persistence/bpels/Exit/ExitInEHOnMessage/deployedFolder/ExitInEH.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ExitInEH" targetNamespace="http://j2ee.netbeans.org/wsdl/ExitInEH"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://j2ee.netbeans.org/wsdl/ExitInEH" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types/>
    <message name="ExitInEHOperationRequest">
        <part name="InputPart" type="xsd:string"/>
    </message>
    <message name="ExitInEHOperationReply">
        <part name="OutputPart" type="xsd:string"/>
    </message>
    <portType name="ExitInEHPortType">
        <wsdl:operation name="ExitInEHOperation">
            <wsdl:input name="input1" message="tns:ExitInEHOperationRequest"/>
            <wsdl:output name="output1" message="tns:ExitInEHOperationReply"/>
        </wsdl:operation>
    </portType>
    <portType name="CorrelationPortType">
        <operation name="CorrelationOperation">
            <input name="input1" message="tns:ExitInEHOperationRequest"/>
        </operation>
    </portType>
    <binding name="ExitInEHBinding" type="tns:ExitInEHPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ExitInEHOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/ExitInEH"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/ExitInEH"/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <binding name="CorrelationPortTypeBinding" type="tns:CorrelationPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CorrelationOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/ExitInEH"/>
            </input>
        </operation>
    </binding>
    <service name="ExitInEHService">
        <wsdl:port name="ExitInEHPort" binding="tns:ExitInEHBinding">
            <soap:address location="http://localhost:18181/ExitBpel/ExitInEHService/ExitInEHPort"/>
        </wsdl:port>
    </service>
    <service name="CorrelationService">
        <port name="CorrelationPort" binding="tns:CorrelationPortTypeBinding">
            <soap:address location="http://localhost:18181/ExitBpel/ExitInEH/CorrelationPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="ExitInEHPlink">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="ExitInEHPortTypeRole" portType="tns:ExitInEHPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="CorrelationPlink">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="CorrelationPortTypeRole" portType="tns:CorrelationPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="CorrelationVar" type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:CorrelationVar" messageType="tns:ExitInEHOperationRequest" part="InputPart"/>
</definitions>
