ojc-core/bpelse/system-test/test/com/sun/jbi/engine/bpel/jbiadaptor/test/persistence/bpels/eventhandler/flowInEveHandler/deployedFolder/eventHandlerRecovery/FlowInEveHdlr.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="onEventBP" targetNamespace="http://j2ee.netbeans.org/wsdl/onEventBP"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://j2ee.netbeans.org/wsdl/onEventBP" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types/>
    <message name="onEventOperationRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="onEventOperationReply">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="onEventBPOperationRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <portType name="onEventPortType">
        <operation name="onEventOperation">
            <input name="input1" message="tns:onEventOperationRequest"/>
            <output name="output1" message="tns:onEventOperationReply"/>
        </operation>
    </portType>
    <portType name="onEventBPPortType2">
        <operation name="onEventBPOperation2">
            <input name="input1" message="tns:onEventBPOperationRequest"/>
        </operation>
    </portType>
    <binding name="onEventBPBinding" type="tns:onEventPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="onEventOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/onEventBP"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/onEventBP"/>
            </output>
        </operation>
    </binding>
    <service name="onEventBPService">
        <port name="onEventBPPort" binding="tns:onEventBPBinding">
            <soap:address location="http://localhost:18181/onEventBPService/onEventBPPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="onEventBP1">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="onEventPortTypeRole" portType="tns:onEventPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="onEventBP12">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="onEventBPPortType2Role" portType="tns:onEventBPPortType2"/>
    </plnk:partnerLinkType>
    <vprop:property name="property1" type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:property1" messageType="tns:onEventOperationRequest" part="part1"/>
    <vprop:propertyAlias propertyName="tns:property1" messageType="tns:onEventBPOperationRequest" part="part1"/>
</definitions>
