contrib-imola/ejb-bc/integration-test/test-simple/http-consumer-simple/src/main/resources/TestSessionRemote.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test14.imolinfo.it" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://test14.imolinfo.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://test14.imolinfo.it">
<xsd:element name="getBalance">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getBalanceResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>


  </wsdl:types>
  <wsdl:message name="getBalanceRequest">
    <wsdl:part name="parameters" element="tns:getBalance"/>
  </wsdl:message>
  <wsdl:message name="getBalanceResponse">
    <wsdl:part name="parameters" element="tns:getBalanceResponse"/>
  </wsdl:message>
  <wsdl:portType name="TestComplexSessionRemote">
    <wsdl:operation name="getBalance">
      <wsdl:input name="getBalanceRequest" message="tns:getBalanceRequest"/>
      <wsdl:output name="getBalanceResponse" message="tns:getBalanceResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestSessionRemoteBinding" type="tns:TestComplexSessionRemote">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBalance">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getBalanceRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBalanceResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestSessionRemote">
    <wsdl:port name="TestSessionRemotePort" binding="tns:TestSessionRemoteBinding">
      <wsdlsoap:address location="http://localhost:8192/services/TestSessionRemote/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
