ojc-core/component-common/bpelmodel/test/com/sun/bpel/model/catalogandcacheTest/Catalog2_Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/Catalog2_Schema"
            xmlns:tns="http://xml.netbeans.org/schema/Catalog2_Schema"
            elementFormDefault="qualified" xmlns:ns0="http://xml.netbeans.org/schema/Catalog1_Schema">
    <xsd:import schemaLocation="CatalogBpel1/Catalog1_Schema.xsd" namespace="http://xml.netbeans.org/schema/Catalog1_Schema"/>
    <xsd:complexType name="Catalog2_type">
        <xsd:sequence>
            <xsd:element name="catalog2_subelem1" type="xsd:string"></xsd:element>
            <xsd:element name="catalog2_subelem2" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="catalog2_use_catalog1_type" type="ns0:catalog1_type"></xsd:element>
    <xsd:element name="catalog2_root" type="tns:Catalog2_type"></xsd:element>
</xsd:schema>
