driver-tests/sqlse/derby/selectoneparamviewJbi/src/jbiServiceUnits/selectoneparamviewSQL/selectoneparamviewSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="selectoneparamviewSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="selectoneparamviewRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="selectoneparamviewResponse"><xsd:complexType><xsd:sequence><xsd:element name="CUSTOMER_NUM" type="xsd:int"/><xsd:element name="DISCOUNT_CODE" type="xsd:string"/><xsd:element name="ZIP" type="xsd:string"/><xsd:element name="NAME" type="xsd:string"/><xsd:element name="ADDR_LN1" type="xsd:string"/><xsd:element name="ADDR_LN2" type="xsd:string"/><xsd:element name="CITY" type="xsd:string"/><xsd:element name="STATE" type="xsd:string"/><xsd:element name="PHONE" type="xsd:string"/><xsd:element name="FAX" type="xsd:string"/><xsd:element name="EMAIL" type="xsd:string"/><xsd:element name="CREDIT_LIMIT" type="xsd:int"/><xsd:element name="LAST_SALE_DATE" type="xsd:string"/><xsd:element name="LAST_SALE_TIME" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="selectoneparamviewResponse">
    <part name="selectoneparamviewResponsePart" element="tns:selectoneparamviewResponse"/>
  </message>
  <message name="selectoneparamviewRequest">
    <part name="selectoneparamviewRequestPart" element="tns:selectoneparamviewRequest"/>
  </message>
  <portType name="selectoneparamviewSQL_sqlsePortType">
    <operation name="selectoneparamview">
      <input name="selectoneparamviewRequest" message="tns:selectoneparamviewRequest"/>
      <output name="selectoneparamviewResponse" message="tns:selectoneparamviewResponse"/>
    </operation>
  </portType>
  <binding name="selectoneparamviewSQLBinding" type="tns:selectoneparamviewSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="selectoneparamview">
      <soap:operation style="document"/>
      <input name="selectoneparamviewRequest">
        <soap:body use="literal"/>
      </input>
      <output name="selectoneparamviewResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="selectoneparamviewSQL_sqlseService">
    <port name="selectoneparamviewSQL_sqlsePort" binding="tns:selectoneparamviewSQLBinding">
      <soap:address location="http://localhost:18181/selectoneparamviewSQL/selectoneparamviewSQL/selectoneparamviewSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="selectoneparamviewSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="selectoneparamviewSQL_myrole" portType="tns:selectoneparamviewSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
