contrib-imola/ejb-bc/jbi4ejb/src/test/etc/test-sus/su-simple/TestSessionRemote.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://test14.imolinfo.it" xmlns:imolaejb="uri://schemas.imola.it/jbi/wsdl-extensions/ejb/" 
xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://test14.imolinfo.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://test14.imolinfo.it">
<xsd:element name="getBalance">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="getBalanceResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
  
  <wsdl:message name="getBalanceRequest">
    <wsdl:part name="parameters" element="tns:getBalance"/>
  </wsdl:message>
  <wsdl:message name="getBalanceResponse">
    <wsdl:part name="parameters" element="tns:getBalanceResponse"/>
  </wsdl:message>
  <wsdl:portType name="TestSessionRemote">
    <wsdl:operation name="getBalance">
      <wsdl:input name="getBalanceRequest" message="tns:getBalanceRequest"/>
      <wsdl:output name="getBalanceResponse" message="tns:getBalanceResponse"/>      
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestSessionRemoteBinding" type="tns:TestSessionRemote">
  
     <imolaejb:binding>
		<imolaejb:orb>
			<imolaejb:property name="org.omg.CORBA.ORBInitialPort" value="1050"/>
			<imolaejb:property name="org.omg.CORBA.ORBInitialHost" value="localhost"/>
		</imolaejb:orb>
	 </imolaejb:binding>
  
    <wsdl:operation name="getBalance">
      <wsdl:input name="getBalanceRequest"/>        
      <wsdl:output name="getBalanceResponse"/>
    </wsdl:operation>
    
  </wsdl:binding>
  <wsdl:service name="TestSessionRemote">
    <wsdl:port name="TestSessionRemotePort" binding="tns:TestSessionRemoteBinding">
      	<imolaejb:address name="corbaname:iiop:127.0.0.1:3700#ejb/TestSessionBean" localizationType="corbaname"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
