ojc-core/component-common/bpelmodel/test/com/sun/bpel/model/importFromHttpTest/NewWebServiceService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><xs:schema xmlns:tns="http://webservice/" xmlns:ns1="http://myothernamespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice/">

<xs:import namespace="http://myothernamespace" schemaLocation="http://localhost:13283/TestJavaWebservicec/NewWebServiceService?xsd=2"></xs:import>

<xs:element name="echoOperation" type="tns:echoOperation"></xs:element>

<xs:element name="echoOperationResponse" type="tns:echoOperationResponse"></xs:element>

<xs:complexType name="echoOperation">
<xs:sequence>
<xs:element name="firstparm" type="tns:newComplexTypeClass" minOccurs="0"></xs:element>
<xs:element name="secondparm" type="ns1:yetAnotherComplexClass" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="newComplexTypeClass">
<xs:sequence>
<xs:element name="myString" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="myStringArray" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="echoOperationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>