ojc-core/component-common/bpelmodel/test/com/sun/bpel/model/importFromHttpTest/NewWebServiceService.xsd_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.2-hudson-182-RC1. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://myothernamespace">

<xs:complexType name="yetAnotherComplexClass">
<xs:sequence>
<xs:element name="myString" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="myStringArray" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>