contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl/collection.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" 
                  xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" 
                  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" 
                  xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" 
                  xmlns:tns="http://consumercollection.test.jbi4corba.imolinfo.it" 
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                  targetNamespace="http://consumercollection.test.jbi4corba.imolinfo.it">

  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" 
                elementFormDefault="qualified" 
                targetNamespace="http://consumercollection.test.jbi4corba.imolinfo.it" 
                xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:complexType name="MyObject">
            <xsd:sequence>
                <xsd:element minOccurs="0" name="DInt" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:element name="echoVOPrimitive">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element maxOccurs="1" 
                                 minOccurs="1" 
                                 name="input" 
                                 nillable="true" 
                                 type="tns:MyObject"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="echoVOPrimitiveResponse">
            <xsd:complexType>
                <xsd:sequence><xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:MyObject"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </wsdl:types>
  <wsdl:message name="echoVOPrimitiveResponse">
    <wsdl:part element="tns:echoVOPrimitiveResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="echoVOPrimitiveRequest">
    <wsdl:part element="tns:echoVOPrimitive" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="EchoServicePortType">
    <wsdl:operation name="echoVOPrimitive">
      <wsdl:input message="tns:echoVOPrimitiveRequest" name="echoVOPrimitiveRequest"/>
      <wsdl:output message="tns:echoVOPrimitiveResponse" name="echoVOPrimitiveResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EchoServiceJBIBinding" type="tns:EchoServicePortType">
    <wsdlsoap:binding style="document" transport="http://java.sun.com/xml/ns/jbi/binding/service+engine"/>
    <wsdl:operation name="echoVOPrimitive">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="echoVOPrimitiveRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoVOPrimitiveResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EchoService">
    <wsdl:port binding="tns:EchoServiceJBIBinding" name="EchoServiceJBIPort">
      <wsdlsoap:address location="jbi://{http://consumercollection.test.jbi4corba.imolinfo.it}EchoService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
