contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl/EchoCrb106Consumer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:ns1="http://jiracrb106.jbi4corba.imolinfo.it" 
                  xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" 
                  xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" 
                  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" 
                  xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" 
                  xmlns:tns="urn:it.imolinfo.jbi4corba.jiracrb106" 
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                  targetNamespace="urn:it.imolinfo.jbi4corba.jiracrb106" xmlns="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
      <xsd:schema targetNamespace="urn:it.imolinfo.jbi4corba.jiracrb106"
                  elementFormDefault="qualified"
                  attributeFormDefault="qualified">

            <xsd:complexType name="TypeA">
              <xsd:sequence>
                <xsd:element name="dataString"  type="xsd:string"  nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataBoolean" type="xsd:boolean" nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataFloat"   type="xsd:float"   nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataDouble"  type="xsd:double"  nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataAnyURI"  type="xsd:anyURI"  nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataLong"    type="xsd:long"    nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataInt"     type="xsd:int"     nillable="false" minOccurs="1" maxOccurs="1" />

                <xsd:element name="dataNormalizedString"  type="xsd:normalizedString" nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataLanguage"          type="xsd:language"         nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataName"              type="xsd:Name"             nillable="false" minOccurs="1" maxOccurs="1" />

                <xsd:element name="dataNMTOKEN"  type="xsd:NMTOKEN"     nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataNCName"   type="xsd:NCName"      nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataID"       type="xsd:ID"          nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataENTITY"   type="xsd:ENTITY"      nillable="false" minOccurs="1" maxOccurs="1" />

                <xsd:element name="dataUInt"   type="xsd:unsignedInt"   nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataUShort" type="xsd:unsignedShort" nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataUByte"  type="xsd:unsignedByte"  nillable="false" minOccurs="1" maxOccurs="1" />

                <xsd:element name="dataTypeB"  type="tns:TypeB"  nillable="false" minOccurs="1" maxOccurs="1" />
              </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="TypeB">
              <xsd:sequence>
                <xsd:element name="dataString"  type="xsd:string"  nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataBoolean" type="xsd:boolean" nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataFloat"   type="xsd:float"   nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataDouble"  type="xsd:double"  nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataAnyURI"  type="xsd:anyURI"  nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataLong"    type="xsd:long"    nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataInt"     type="xsd:int"     nillable="false" minOccurs="1" maxOccurs="1" />

                <xsd:element name="dataNormalizedString"  type="xsd:normalizedString" nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataLanguage"          type="xsd:language"         nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataName"              type="xsd:Name"             nillable="false" minOccurs="1" maxOccurs="1" />

                <xsd:element name="dataNMTOKEN"  type="xsd:NMTOKEN"     nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataNCName"   type="xsd:NCName"      nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataID"       type="xsd:ID"          nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataENTITY"   type="xsd:ENTITY"      nillable="false" minOccurs="1" maxOccurs="1" />

                <xsd:element name="dataUInt"   type="xsd:unsignedInt"   nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataUShort" type="xsd:unsignedShort" nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataUByte"  type="xsd:unsignedByte"  nillable="false" minOccurs="1" maxOccurs="1" />

                <xsd:element name="dataTypeA"  type="tns:TypeA"  nillable="false" minOccurs="1" maxOccurs="1" />
              </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="TRequestA">
                  <xsd:complexType>
                    <xsd:sequence>
                          <xsd:element name="typeA"  type="tns:TypeA"  nillable="false" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                  </xsd:complexType>
            </xsd:element>
            <xsd:element name="TRequestB">
                  <xsd:complexType>
                    <xsd:sequence>
                          <xsd:element name="typeB"  type="tns:TypeB"  nillable="false" minOccurs="1" maxOccurs="1" />
                    </xsd:sequence>
                  </xsd:complexType>
            </xsd:element>

            <xsd:element name="TResponseAB">
                  <xsd:complexType>
                    <xsd:sequence>
                          <xsd:element name="typeA"  type="tns:TypeA"  minOccurs="0" />
                          <xsd:element name="typeB"  type="tns:TypeB"  minOccurs="0" />
                    </xsd:sequence>
                  </xsd:complexType>
            </xsd:element>

      </xsd:schema>
    </wsdl:types>

    <wsdl:message name="MRequestA">
      <wsdl:part element="tns:TRequestA" name="MRequestA" />
    </wsdl:message>
    <wsdl:message name="MRequestB">
      <wsdl:part element="tns:TRequestB" name="MRequestB" />
    </wsdl:message>

    <wsdl:message name="MRequestAB">
      <wsdl:part element="tns:TResponseAB" name="MRequestAB" />
    </wsdl:message>

  <!--
  PortType
  -->
  <wsdl:portType name="EchoCrb106ConsumerPortType">

    <wsdl:operation name="echoRequestA">
      <wsdl:input  message="tns:MRequestA"   name="echoRequestAIn" />
      <wsdl:output message="tns:MRequestAB"  name="echoRequestAOut" />
    </wsdl:operation>

    <wsdl:operation name="echoRequestB">
      <wsdl:input  message="tns:MRequestB"   name="echoRequestBIn" />
      <wsdl:output message="tns:MRequestAB"  name="echoRequestBOut" />
    </wsdl:operation>

  </wsdl:portType>

  <!--
  Binding
  -->
  <wsdl:binding name="EchoCrb106ConsumerHttpBinding" type="tns:EchoCrb106ConsumerPortType">
    <!--    Style    -->
    <wsdlsoap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="echoRequestA">
      <wsdlsoap:operation soapAction="echoRequestA" />
      <wsdl:input name="echoRequestAIn">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoRequestAOut">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="echoRequestB">
      <wsdlsoap:operation soapAction="echoRequestB" />
      <wsdl:input name="echoRequestBIn">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoRequestBOut">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <!--
  Service
  -->
  <wsdl:service name="EchoCrb106Consumer">
    <wsdl:port binding="tns:EchoCrb106ConsumerHttpBinding" name="EchoCrb106ConsumerHttpPort">

      <wsdlsoap:address location="http://localhost/services/EchoCrb106Consumer" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
