contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl/EchoSequence_expected.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ENDPOINT_NAME" targetNamespace="NAME_SPACE" xmlns:imolacorba="uri://schemas.imola.it/jbi/wsdl-extensions/corba/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="NAME_SPACE" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="NAME_SPACE" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:tns="NAME_SPACE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://jaxb.dev.java.net/array"/>
<xs:element name="barSeqLong">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="e" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="barSeqLongInOut">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="e" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="barSeqLongInOutResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="return" type="xs:string"/>
<xs:element maxOccurs="unbounded" name="e" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="barSeqLongResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="barSeqStr">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="str" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="barSeqStrInOut">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="str" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="barSeqStrInOutResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="return" type="xs:string"/>
<xs:element maxOccurs="unbounded" name="str" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="barSeqStrResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="barSeqStruct">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="seq" type="tns:echoStruct"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="barSeqStructResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="barSeqStructSeqLong">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="seq" type="tns:echoStruct"/>
<xs:element maxOccurs="unbounded" name="integ" type="xs:int"/>
<xs:element name="str2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="barSeqStructSeqLongResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="return" type="xs:string"/>
<xs:element name="str2" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="echoMatrix">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" name="e" type="ns1:stringArray"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="echoMatrixResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="echoStruct">
<xs:sequence>
<xs:element form="unqualified" name="fieldBoolean" type="xs:boolean"/>
<xs:element form="unqualified" name="fieldString" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://jaxb.dev.java.net/array" xmlns="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType final="#all" name="stringArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="barSeqStructSeqLongResponse">
    <wsdl:part name="parameters" element="tns:barSeqStructSeqLongResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="barSeqStrResponse">
    <wsdl:part name="parameters" element="tns:barSeqStrResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="barSeqStr">
    <wsdl:part name="parameters" element="tns:barSeqStr">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="barSeqStruct">
    <wsdl:part name="parameters" element="tns:barSeqStruct">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="barSeqLongResponse">
    <wsdl:part name="parameters" element="tns:barSeqLongResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="barSeqLong">
    <wsdl:part name="parameters" element="tns:barSeqLong">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="barSeqStructSeqLong">
    <wsdl:part name="parameters" element="tns:barSeqStructSeqLong">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="barSeqStrInOutResponse">
    <wsdl:part name="parameters" element="tns:barSeqStrInOutResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="barSeqLongInOut">
    <wsdl:part name="parameters" element="tns:barSeqLongInOut">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoMatrixResponse">
    <wsdl:part name="parameters" element="tns:echoMatrixResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="barSeqLongInOutResponse">
    <wsdl:part name="parameters" element="tns:barSeqLongInOutResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="barSeqStrInOut">
    <wsdl:part name="parameters" element="tns:barSeqStrInOut">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="barSeqStructResponse">
    <wsdl:part name="parameters" element="tns:barSeqStructResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoMatrix">
    <wsdl:part name="parameters" element="tns:echoMatrix">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ENDPOINT_NAME">
    <wsdl:operation name="echoMatrix">
      <wsdl:input name="echoMatrix" message="tns:echoMatrix">
    </wsdl:input>
      <wsdl:output name="echoMatrixResponse" message="tns:echoMatrixResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="barSeqStrInOut">
      <wsdl:input name="barSeqStrInOut" message="tns:barSeqStrInOut">
    </wsdl:input>
      <wsdl:output name="barSeqStrInOutResponse" message="tns:barSeqStrInOutResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="barSeqLong">
      <wsdl:input name="barSeqLong" message="tns:barSeqLong">
    </wsdl:input>
      <wsdl:output name="barSeqLongResponse" message="tns:barSeqLongResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="barSeqStructSeqLong">
      <wsdl:input name="barSeqStructSeqLong" message="tns:barSeqStructSeqLong">
    </wsdl:input>
      <wsdl:output name="barSeqStructSeqLongResponse" message="tns:barSeqStructSeqLongResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="barSeqStruct">
      <wsdl:input name="barSeqStruct" message="tns:barSeqStruct">
    </wsdl:input>
      <wsdl:output name="barSeqStructResponse" message="tns:barSeqStructResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="barSeqStr">
      <wsdl:input name="barSeqStr" message="tns:barSeqStr">
    </wsdl:input>
      <wsdl:output name="barSeqStrResponse" message="tns:barSeqStrResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="barSeqLongInOut">
      <wsdl:input name="barSeqLongInOut" message="tns:barSeqLongInOut">
    </wsdl:input>
      <wsdl:output name="barSeqLongInOutResponse" message="tns:barSeqLongInOutResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ENDPOINT_NAMECorbaBinding" type="tns:ENDPOINT_NAME">
<imolacorba:binding>
<imolacorba:idl root="true" filename="EchoSequence.idl" relativepath=".">
//IDL
module it{
	module imolinfo{
		module jbi4corba{
			module test{
				module webservice{
					module generator{
  					// struct
					  struct EchoStruct {
					    boolean            fieldBoolean;
					    string             fieldString;
					  };

    					typedef sequence&lt;long&gt; SeqLong;
    					typedef sequence&lt;string&gt; SeqString;  					
					typedef sequence&lt;EchoStruct&gt; SeqEchoStruct;
					typedef string MatrixString[3][3];


    					interface foo {
	            				string barSeqStr(in SeqString str);
        	    				string barSeqLong(in SeqLong e);
        	    				string barSeqStruct(in SeqEchoStruct seq);
        	    				string barSeqStructSeqLong(in SeqEchoStruct seq, in SeqLong integ, inout string str2);
        	    				string barSeqStrInOut(inout SeqString str);
        	    				string barSeqLongInOut(inout SeqLong e);
              //        string barSeqEchoStruct(in unsigned long howmany,inout SeqEchoStruct e);
 						string echoMatrix(in MatrixString e);
        			    };
					};
				};
			};
		};
	};
};
</imolacorba:idl>
</imolacorba:binding>
    <wsdl:operation name="echoMatrix">
      <wsdl:input name="echoMatrix">
      </wsdl:input>
      <wsdl:output name="echoMatrixResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="barSeqLong">
      <wsdl:input name="barSeqLong">
      </wsdl:input>
      <wsdl:output name="barSeqLongResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="barSeqStrInOut">
      <wsdl:input name="barSeqStrInOut">
      </wsdl:input>
      <wsdl:output name="barSeqStrInOutResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="barSeqStructSeqLong">
      <wsdl:input name="barSeqStructSeqLong">
      </wsdl:input>
      <wsdl:output name="barSeqStructSeqLongResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="barSeqStruct">
      <wsdl:input name="barSeqStruct">
      </wsdl:input>
      <wsdl:output name="barSeqStructResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="barSeqStr">
      <wsdl:input name="barSeqStr">
      </wsdl:input>
      <wsdl:output name="barSeqStrResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="barSeqLongInOut">
      <wsdl:input name="barSeqLongInOut">
      </wsdl:input>
      <wsdl:output name="barSeqLongInOutResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ENDPOINT_NAME">
    <wsdl:port name="ENDPOINT_NAMECorbaPort" binding="tns:ENDPOINT_NAMECorbaBinding">
<imolacorba:address name="CORBA_SERVICE_NAME" localizationType="NameService">
<imolacorba:orb>
<imolacorba:property name="quo" value="2"/>
<imolacorba:property name="qua" value=""/>
<imolacorba:property name="qui" value="1"/>
</imolacorba:orb>
</imolacorba:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>