contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl/EchoMultDyn_expected0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Echo" targetNamespace="http://it.imolinfo.jbi4corba.test.testechoMultdyn" xmlns:imolacorba="uri://schemas.imola.it/jbi/wsdl-extensions/corba/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://it.imolinfo.jbi4corba.test.testechoMultdyn" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://it.imolinfo.jbi4corba.test.testechoMultdyn" xmlns="http://it.imolinfo.jbi4corba.test.testechoMultdyn" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="echo">
<xs:complexType>
<xs:sequence>
<xs:element name="msg" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="echoResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="return" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://testechoMultdyn.test.jbi4corba.imolinfo.it/" xmlns:ns1="http://www.w3.org/2005/08/addressing" xmlns:tns="http://testechoMultdyn.test.jbi4corba.imolinfo.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="file:/C:/Imolinfo/WorkSpace/open-jbi-components/contrib-imola/corba-bc/jbi4corba/target/classes/xsdSchema/ws-addr.xsd"/>
<xs:complexType name="persona">
<xs:sequence>
<xs:element name="echopersona" type="ns1:EndpointReferenceType"/>
<xs:element name="nome" type="xs:string"/>
<xs:element name="cognome" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="echoStruct">
<xs:sequence>
<xs:element name="fieldEcho2" type="ns1:EndpointReferenceType"/>
<xs:element name="persona" type="tns:persona"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="echo">
    <wsdl:part name="parameters" element="tns:echo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part name="parameters" element="tns:echoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Echo">
    <wsdl:operation name="echo">
      <wsdl:input name="echo" message="tns:echo">
    </wsdl:input>
      <wsdl:output name="echoResponse" message="tns:echoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EchoCorbaBinding" type="tns:Echo">
<imolacorba:binding>
<imolacorba:idl root="true" filename="EchoMultipleWithDynInt.idl" relativepath=".">
//IDL
module it{
  module imolinfo{
    module jbi4corba{
      module test{
		module testechoMultdyn{

	

		interface Echo {
    		
			string echo(in string msg);

                 };
	
                // struct
                struct Persona {
                Echo            echopersona;
                string          nome;
                string          cognome;		
    
                };


                // struct
                struct EchoStruct {
                Echo            fieldEcho2;
                Persona         persona;	
        
                };


                interface Echo2{
    			Echo echo(in EchoStruct msg);
                };


};
};
};
};
};
</imolacorba:idl>
</imolacorba:binding>
    <wsdl:operation name="echo">
      <wsdl:input name="echo">
      </wsdl:input>
      <wsdl:output name="echoResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Echo">
    <wsdl:port name="EchoCorbaPort" binding="tns:EchoCorbaBinding">
<imolacorba:address name="Echo" localizationType="NameService">
<imolacorba:orb>
<imolacorba:property name="org.omg.CORBA.ORBInitialPort" value="1050"/>
<imolacorba:property name="org.omg.CORBA.ORBClass" value="com.sun.corba.ee.impl.orb.ORBImpl"/>
<imolacorba:property name="org.omg.CORBA.ORBInitialHost" value="localhost"/>
</imolacorba:orb>
</imolacorba:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
