contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl/EchoEnum.wsdl

<wsdl:definitions targetNamespace="it.imolinfo.jbi4corba.test.webservice.generator" xmlns:tns="it.imolinfo.jbi4corba.test.webservice.generator" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:ns1="http://generator.webservice.test.jbi4corba.imolinfo.it" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://generator.webservice.test.jbi4corba.imolinfo.it">
  
      <xsd:simpleType name="EchoComplexEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="E1"/>
          <xsd:enumeration value="E2"/>
          <xsd:enumeration value="E3"/>
        </xsd:restriction>
      </xsd:simpleType> 

    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="it.imolinfo.jbi4corba.test.webservice.generator">
      <xsd:import namespace="http://generator.webservice.test.jbi4corba.imolinfo.it"/>
      <xsd:element name="bar">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="e" nillable="true" type="ns1:EchoComplexEnum"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="barResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="barRequest">
    <wsdl:part name="parameters" element="tns:bar"/>
  </wsdl:message>
  <wsdl:message name="barResponse">
    <wsdl:part name="parameters" element="tns:barResponse"/>
  </wsdl:message>
  <wsdl:portType name="fooOperations">
    <wsdl:operation name="bar">
      <wsdl:input name="barRequest" message="tns:barRequest"/>
      <wsdl:output name="barResponse" message="tns:barResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="testEchoServiceCreationEnumHttpBinding" type="tns:fooOperations">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="bar">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="barRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="barResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="testEchoServiceCreationEnum">
    <wsdl:port name="testEchoServiceCreationEnumHttpPort" binding="tns:testEchoServiceCreationEnumHttpBinding">
      <wsdlsoap:address location="http://localhost/services/testEchoServiceCreationEnum"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
