contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl/foo_0_expected.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="foo" targetNamespace="http://it.imolinfo.jbi4corba.test.webservice.generator.it.imolinfo.jbi4corba.test.foo" xmlns:imolacorba="uri://schemas.imola.it/jbi/wsdl-extensions/corba/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://it.imolinfo.jbi4corba.test.webservice.generator.it.imolinfo.jbi4corba.test.foo" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://test.jbi4corba.imolinfo.it.generator.webservice.test.jbi4corba.imolinfo.it/" xmlns="http://test.jbi4corba.imolinfo.it.generator.webservice.test.jbi4corba.imolinfo.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:simpleType name="echoComplexEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="E1"/>
<xs:enumeration value="E2"/>
<xs:enumeration value="E3"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://jbi4corba.imolinfo.it.generator.webservice.test.jbi4corba.imolinfo.it/" xmlns="http://jbi4corba.imolinfo.it.generator.webservice.test.jbi4corba.imolinfo.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="echoMyStruct">
<xs:sequence>
<xs:element name="fieldBoolean" type="xs:boolean"/>
<xs:element name="fieldChar" type="xs:unsignedShort"/>
<xs:element name="fieldWChar" type="xs:unsignedShort"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="complexStruct">
<xs:sequence>
<xs:element name="fieldBoolean" type="xs:boolean"/>
<xs:element name="fieldChar" type="xs:unsignedShort"/>
<xs:element name="fieldWChar" type="xs:unsignedShort"/>
<xs:element name="fieldWString" type="xs:string"/>
<xs:element name="fieldShort" type="xs:short"/>
<xs:element name="fieldUnsignedShort" type="xs:short"/>
<xs:element name="fieldLong" type="xs:int"/>
<xs:element name="fieldUnsignedLong" type="xs:int"/>
<xs:element name="fieldLongLong" type="xs:long"/>
<xs:element name="fieldUnsignedLongLong" type="xs:long"/>
<xs:element name="fieldFloat" type="xs:float"/>
<xs:element name="fieldDouble" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://it.imolinfo.jbi4corba.test.webservice.generator.it.imolinfo.jbi4corba.test.foo" xmlns="http://it.imolinfo.jbi4corba.test.webservice.generator.it.imolinfo.jbi4corba.test.foo" xmlns:ns1="http://test.jbi4corba.imolinfo.it.generator.webservice.test.jbi4corba.imolinfo.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://test.jbi4corba.imolinfo.it.generator.webservice.test.jbi4corba.imolinfo.it/"/>
<xs:element name="echoEnum">
<xs:complexType>
<xs:sequence>
<xs:element name="e" type="ns1:echoComplexEnum"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="echoEnumResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="return" type="ns1:echoComplexEnum"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:simpleType name="echoComplexEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="E1"/>
<xs:enumeration value="E2"/>
<xs:enumeration value="E3"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://jbi4corba.imolinfo.it.test.jbi4corba.imolinfo.it.generator.webservice.test.jbi4corba.imolinfo.it/" xmlns="http://jbi4corba.imolinfo.it.test.jbi4corba.imolinfo.it.generator.webservice.test.jbi4corba.imolinfo.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="complexStruct">
<xs:sequence>
<xs:element name="fieldBoolean" type="xs:boolean"/>
<xs:element name="fieldChar" type="xs:unsignedShort"/>
<xs:element name="fieldWChar" type="xs:unsignedShort"/>
<xs:element name="fieldWString" type="xs:string"/>
<xs:element name="fieldShort" type="xs:short"/>
<xs:element name="fieldUnsignedShort" type="xs:short"/>
<xs:element name="fieldLong" type="xs:int"/>
<xs:element name="fieldUnsignedLong" type="xs:int"/>
<xs:element name="fieldLongLong" type="xs:long"/>
<xs:element name="fieldUnsignedLongLong" type="xs:long"/>
<xs:element name="fieldFloat" type="xs:float"/>
<xs:element name="fieldDouble" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="echoEnumResponse">
    <wsdl:part name="parameters" element="tns:echoEnumResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoEnum">
    <wsdl:part name="parameters" element="tns:echoEnum">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="foo">
    <wsdl:operation name="echoEnum">
      <wsdl:input name="echoEnum" message="tns:echoEnum">
    </wsdl:input>
      <wsdl:output name="echoEnumResponse" message="tns:echoEnumResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="fooCorbaBinding" type="tns:foo">
<imolacorba:binding>
<imolacorba:idl root="true" filename="TestInclude.idl" relativepath=".">
//IDL
module it{
module imolinfo{
module jbi4corba{
module test{
module webservice{
module generator{
	
	#include &quot;include1.idl&quot;
	#include &quot;include2.idl&quot;
	#include &quot;imola/include1.idl&quot;

	enum EchoComplexEnum {E1, E2, E3};

	interface foo {

		EchoComplexEnum echoEnum(in EchoComplexEnum e);

	};
};
};
};
};
};
};
</imolacorba:idl>
<imolacorba:idl root="false" filename="include2.idl" relativepath="">
module it{
module imolinfo{
module jbi4corba{
module test{


	#include &quot;include1.idl&quot;
	enum EchoComplexEnum {E1, E2, E3};

	interface foo {

		EchoComplexEnum echoEnum(in EchoComplexEnum e);

	};


};
};
};
};
</imolacorba:idl>
<imolacorba:idl root="false" filename="imola/include1.idl" relativepath="">
//idl modulo 1,2
module it{
module imolinfo{
module jbi4corba{
		
	
		// struct
  		struct echoMyStruct {
    		boolean            fieldBoolean;
    		char               fieldChar;
    		wchar              fieldWChar;

    		
  		};	

	      };
	};
};
</imolacorba:idl>
<imolacorba:idl root="false" filename="include1.idl" relativepath="">
//idl
module it{
module imolinfo{
module jbi4corba{
		
		// struct
  		struct ComplexStruct {
    		boolean            fieldBoolean;
    		char               fieldChar;
    		wchar              fieldWChar;
                wstring            fieldWString;
    		short              fieldShort;
    		unsigned short     fieldUnsignedShort;
    		long               fieldLong;
    		unsigned long      fieldUnsignedLong;
    		long long          fieldLongLong;
    		unsigned long long fieldUnsignedLongLong;
    		float              fieldFloat;
    		double             fieldDouble;

    		
  		};	

	      };
	};
};
</imolacorba:idl>
</imolacorba:binding>
    <wsdl:operation name="echoEnum">
      <wsdl:input name="echoEnum">
      </wsdl:input>
      <wsdl:output name="echoEnumResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="foo">
    <wsdl:port name="fooCorbaPort" binding="tns:fooCorbaBinding">
<imolacorba:address name="foo" localizationType="NameService">
<imolacorba:orb>
<imolacorba:property name="org.omg.CORBA.ORBInitialPort" value="1050"/>
<imolacorba:property name="org.omg.CORBA.ORBClass" value="com.sun.corba.ee.impl.orb.ORBImpl"/>
<imolacorba:property name="org.omg.CORBA.ORBInitialHost" value="localhost"/>
</imolacorba:orb>
</imolacorba:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
