contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl/IDLWithObject_expected.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IDLWithObject" targetNamespace="http://it.imolinfo.test.IDLWithObject" xmlns:imolacorba="uri://schemas.imola.it/jbi/wsdl-extensions/corba/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://it.imolinfo.test.IDLWithObject" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://jaxb.dev.java.net/array" xmlns="http://jaxb.dev.java.net/array" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType final="#all" name="decimalArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:decimal"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="longArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:long"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="stringArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="booleanArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="shortArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:short"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="unsignedShortArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:unsignedShort"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="doubleArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:double"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="intArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="floatArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="xs:float"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://it.imolinfo.test.IDLWithObject" xmlns="http://it.imolinfo.test.IDLWithObject" xmlns:ns1="http://www.w3.org/2005/08/addressing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="file:/C:/Imolinfo/WorkSpace/open-jbi-components/contrib-imola/corba-bc/jbi4corba/target/classes/xsdSchema/ws-addr.xsd"/>
<xs:element name="echo">
<xs:complexType>
<xs:sequence>
<xs:element name="msg" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="echoResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="return" type="ns1:EndpointReferenceType"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="echo">
    <wsdl:part name="parameters" element="tns:echo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part name="parameters" element="tns:echoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IDLWithObject">
    <wsdl:operation name="echo">
      <wsdl:input name="echo" message="tns:echo">
    </wsdl:input>
      <wsdl:output name="echoResponse" message="tns:echoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IDLWithObjectCorbaBinding" type="tns:IDLWithObject">
<imolacorba:binding>
<imolacorba:idl root="true" filename="IDLWithObject.idl" relativepath=".">
module it {
	module imolinfo {
               module test{
		
                	interface IDLWithObject {
                            Object echo(in string msg);
                    };

                };
      };
};
</imolacorba:idl>
</imolacorba:binding>
    <wsdl:operation name="echo">
      <wsdl:input name="echo">
      </wsdl:input>
      <wsdl:output name="echoResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IDLWithObject">
    <wsdl:port name="IDLWithObjectCorbaPort" binding="tns:IDLWithObjectCorbaBinding">
<imolacorba:address name="IDLWithObject" localizationType="NameService">
<imolacorba:orb>
<imolacorba:property name="org.omg.CORBA.ORBInitialPort" value="1050"/>
<imolacorba:property name="org.omg.CORBA.ORBClass" value="com.sun.corba.ee.impl.orb.ORBImpl"/>
<imolacorba:property name="org.omg.CORBA.ORBInitialHost" value="localhost"/>
</imolacorba:orb>
</imolacorba:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
