contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl/MultiModule.wsdl

 
<wsdl:definitions targetNamespace="it.imolinfo.jbi4corba.test.package1.package2" 
      xmlns:tns="it.imolinfo.jbi4corba.test.package1.package2" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:ns1="http://package1.test.jbi4corba.imolinfo.it" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="it.imolinfo.jbi4corba.test.package1.package2">
<xsd:import namespace="http://package1.test.jbi4corba.imolinfo.it"/>
<xsd:element name="echo">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="msg" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoStruct1">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="msg" nillable="true" type="ns1:Struct1"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoStruct1Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://package1.test.jbi4corba.imolinfo.it">
<xsd:complexType name="Struct1">
<xsd:sequence>
<xsd:element minOccurs="0" name="dataLong" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="echoResponse">
    <wsdl:part name="parameters" element="tns:echoResponse"/>
  </wsdl:message>
  <wsdl:message name="echoStruct1Response">
    <wsdl:part name="parameters" element="tns:echoStruct1Response"/>
  </wsdl:message>
  <wsdl:message name="echoStruct1Request">
    <wsdl:part name="parameters" element="tns:echoStruct1"/>
  </wsdl:message>
  <wsdl:message name="echoRequest">
    <wsdl:part name="parameters" element="tns:echo"/>
  </wsdl:message>
  <wsdl:portType name="EchoOperations">
    <wsdl:operation name="echo">
      <wsdl:input name="echoRequest" message="tns:echoRequest"/>
      <wsdl:output name="echoResponse" message="tns:echoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="echoStruct1">
      <wsdl:input name="echoStruct1Request" message="tns:echoStruct1Request"/>
      <wsdl:output name="echoStruct1Response" message="tns:echoStruct1Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="testMultiModuleServiceCreationHttpBinding" type="tns:EchoOperations">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="echo">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="echoRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStruct1">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="echoStruct1Request">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoStruct1Response">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="testMultiModuleServiceCreation">
    <wsdl:port name="testMultiModuleServiceCreationHttpPort" binding="tns:testMultiModuleServiceCreationHttpBinding">
      <wsdlsoap:address location="http://localhost/services/testMultiModuleServiceCreation"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>