contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl/xsd-SimpleTypeInComplexType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:soap12="http://www.w3.org/2003/05/soap-envelope"
    xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
    xmlns:tns="it.imolinfo.Jbi4Corba.test.webservice.generator"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"

    name="EchoService"
    targetNamespace="it.imolinfo.Jbi4Corba.test.webservice.generator">

  <wsdl:types>
    <xsd:schema targetNamespace="it.imolinfo.Jbi4Corba.test.webservice.generator"
                elementFormDefault="qualified"
                attributeFormDefault="qualified">

		<!-- SIMPLE TYPES -->
        <xsd:simpleType name="simpleAnySimpleType">
          <xsd:restriction base="xsd:anySimpleType"/>
        </xsd:simpleType>
        <xsd:simpleType name="simpleNormalizedString">
          <xsd:restriction base="xsd:normalizedString"/>
        </xsd:simpleType>
        <xsd:simpleType name="simpleToken">
          <xsd:restriction base="xsd:token"/>
        </xsd:simpleType>
        <xsd:simpleType name="simpleLanguage">
          <xsd:restriction base="xsd:language"/>
        </xsd:simpleType>
        <xsd:simpleType name="simpleName">
          <xsd:restriction base="xsd:Name"/>
        </xsd:simpleType>
        <xsd:simpleType name="simpleNMTOKEN">
          <xsd:restriction base="xsd:NMTOKEN"/>
        </xsd:simpleType>
        <xsd:simpleType name="simpleNCName">
          <xsd:restriction base="xsd:NCName"/>
        </xsd:simpleType>
        <xsd:simpleType name="simpleID">
          <xsd:restriction base="xsd:ID"/>
        </xsd:simpleType>
        <xsd:simpleType name="simpleENTITY">
          <xsd:restriction base="xsd:ENTITY"/>
        </xsd:simpleType>

        <xsd:simpleType name="simpleString">
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>

        <xsd:simpleType name="simpleUnsignedInt">
          <xsd:restriction base="xsd:unsignedInt"/>
        </xsd:simpleType>
        <xsd:simpleType name="simpleUnsignedShort">
          <xsd:restriction base="xsd:unsignedShort"/>
        </xsd:simpleType>
        <xsd:simpleType name="simpleUnsignedByte">
          <xsd:restriction base="xsd:unsignedByte"/>
        </xsd:simpleType>

		<xsd:simpleType name="simpleBoolean">
			<xsd:restriction base="xsd:boolean"/>
		</xsd:simpleType>
		<xsd:simpleType name="simpleFloat">
			<xsd:restriction base="xsd:float"/>
		</xsd:simpleType>
		<xsd:simpleType name="simpleDouble">
			<xsd:restriction base="xsd:double"/>
		</xsd:simpleType>
		<xsd:simpleType name="simpleAnyURI">
			<xsd:restriction base="xsd:anyURI"/>
		</xsd:simpleType>
		<xsd:simpleType name="simpleLong">
			<xsd:restriction base="xsd:long"/>
		</xsd:simpleType>
		<xsd:simpleType name="simpleInt">
			<xsd:restriction base="xsd:int"/>
		</xsd:simpleType>


		<!-- 
			Request and Response
		-->
      <xsd:element name="req">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dataString"   type="tns:simpleString"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataBoolean"  type="tns:simpleBoolean" nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataFloat"    type="tns:simpleFloat"   nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataDouble"   type="tns:simpleDouble"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataAnyURI"   type="tns:simpleAnyURI"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataLong"     type="tns:simpleLong"    nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataInt"      type="tns:simpleInt"     nillable="false" minOccurs="1" maxOccurs="1" />

            <xsd:element name="dataAnySimpleType"     type="tns:simpleAnySimpleType"    nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataNormalizedString"  type="tns:simpleNormalizedString" nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataLanguage"          type="tns:simpleLanguage"         nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataName"              type="tns:simpleName"             nillable="false" minOccurs="1" maxOccurs="1" />

            <xsd:element name="dataNMTOKEN"  type="tns:simpleNMTOKEN"     nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataNCName"   type="tns:simpleNCName"      nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataID"       type="tns:simpleID"          nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataENTITY"   type="tns:simpleENTITY"      nillable="false" minOccurs="1" maxOccurs="1" />

            <xsd:element name="dataUInt"   type="tns:simpleUnsignedInt"   nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataUShort" type="tns:simpleUnsignedShort" nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataUByte"  type="tns:simpleUnsignedByte"  nillable="false" minOccurs="1" maxOccurs="1" />

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="res">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dataString"  type="tns:simpleString"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataBoolean"  type="tns:simpleBoolean"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataFloat"  type="tns:simpleFloat"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataDouble"  type="tns:simpleDouble"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataAnyURI"  type="tns:simpleAnyURI"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataLong"  type="tns:simpleLong"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataInt"  type="tns:simpleInt"  nillable="false" minOccurs="1" maxOccurs="1" />

            <xsd:element name="dataAnySimpleType"     type="tns:simpleAnySimpleType"    nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataNormalizedString"  type="tns:simpleNormalizedString" nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataLanguage"          type="tns:simpleLanguage"         nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataName"              type="tns:simpleName"             nillable="false" minOccurs="1" maxOccurs="1" />

            <xsd:element name="dataNMTOKEN"  type="tns:simpleNMTOKEN"     nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataNCName"   type="tns:simpleNCName"      nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataID"       type="tns:simpleID"          nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataENTITY"   type="tns:simpleENTITY"      nillable="false" minOccurs="1" maxOccurs="1" />

            <xsd:element name="dataUInt"   type="tns:simpleUnsignedInt"   nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataUShort" type="tns:simpleUnsignedShort" nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataUByte"  type="tns:simpleUnsignedByte"  nillable="false" minOccurs="1" maxOccurs="1" />

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="echoRequest">
    <wsdl:part element="tns:req" name="parameters" />
  </wsdl:message>

  <wsdl:message name="echoResponse">
    <wsdl:part element="tns:res" name="parameters" />
  </wsdl:message>

  <wsdl:portType name="EchoServicePortType">

    <wsdl:operation name="echo">
      <wsdl:input message="tns:echoRequest" name="echoRequest" />
      <wsdl:output message="tns:echoResponse" name="echoResponse" />
    </wsdl:operation>

  </wsdl:portType>


  <wsdl:binding name="EchoServiceHttpBinding" type="tns:EchoServicePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="echo">
      <wsdlsoap:operation soapAction="fooAction" />
      <wsdl:input name="echoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="EchoService">
    <wsdl:port binding="tns:EchoServiceHttpBinding" name="EchoServiceHttpPort">
      <wsdlsoap:address location="http://localhost/services/EchoService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
