contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl/xsdComplexType-choice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" 
xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" 
xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" 
xmlns:tns="urn:it.imolinfo.Jbi4Corba.test.webservice.generator" 
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
name="EchoService" 
targetNamespace="urn:it.imolinfo.Jbi4Corba.test.webservice.generator">

	<wsdl:types>
		<xsd:schema 
			targetNamespace="urn:it.imolinfo.Jbi4Corba.test.webservice.generator" 
			elementFormDefault="qualified" 
			attributeFormDefault="qualified">

			<!--
			=============================================== ATOMIC
			-->
			<xsd:element name="E_1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="E_2">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="choiceStringReq">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element ref="tns:E_1"/>
						<xsd:element ref="tns:E_2"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="choiceStringRes">
				<xsd:complexType>
					<xsd:choice>
						<xsd:element ref="tns:E_1"/>
						<xsd:element ref="tns:E_2"/>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="echoChoiceStringReq">
		<wsdl:part name="parameters" element="tns:choiceStringReq"/>
	</wsdl:message>
	<wsdl:message name="echoChoiceStringRes">
		<wsdl:part name="parameters" element="tns:choiceStringRes"/>
	</wsdl:message>
	<wsdl:portType name="EchoServicePortType">
		<wsdl:operation name="echoChoiceString">
			<wsdl:input name="echoChoiceStringReq" message="tns:echoChoiceStringReq"/>
			<wsdl:output name="echoChoiceStringRes" message="tns:echoChoiceStringRes"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EchoServiceBinding" type="tns:EchoServicePortType">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="echoChoiceString">
			<wsdlsoap:operation soapAction="fooAction"/>
			<wsdl:input name="echoChoiceStringReq">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoChoiceStringRes">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EchoService">
		<wsdl:port name="EchoServiceHttpPort" binding="tns:EchoServiceBinding">
			<wsdlsoap:address location="http://localhost/services/EchoService"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
