contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl/xsdPrimitives.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:soap12="http://www.w3.org/2003/05/soap-envelope"
                  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
                  xmlns:tns="it.imolinfo.Jbi4Corba.test.webservice.generator"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="it.imolinfo.Jbi4Corba.test.webservice.generator">

  <!--
  Types  
  -->
  
  <wsdl:types>
    <xsd:schema targetNamespace="it.imolinfo.Jbi4Corba.test.webservice.generator"
                elementFormDefault="qualified"
                attributeFormDefault="qualified">


<xsd:element name="echoAnySimpleTypeRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoAnySimpleTypeResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>                
</xsd:element>

<xsd:element name="echoLongRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoLongResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>                
</xsd:element>

<xsd:element name="echoUnsignedIntRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoUnsignedIntResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>                
</xsd:element>

<xsd:element name="echoUnsignedShortRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoUnsignedShortResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>                
</xsd:element>

<xsd:element name="echoUnsignedByteRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoUnsignedByteResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>                
</xsd:element>

<xsd:element name="echoIntRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoIntResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>                
</xsd:element>

<xsd:element name="echoStringRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoStringResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>                
</xsd:element>

<xsd:element name="echoNormalizedStringRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:normalizedString"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoNormalizedStringResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:normalizedString"/>
</xsd:sequence>
</xsd:complexType>                
</xsd:element>

<xsd:element name="echoTokenRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:token"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoTokenResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:token"/>
</xsd:sequence>
</xsd:complexType>                
</xsd:element>

<xsd:element name="echoLanguageRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:language"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoLanguageResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:language"/>
</xsd:sequence>
</xsd:complexType>                
</xsd:element>


<xsd:element name="echoNameRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:Name"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoNameResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:Name"/>
</xsd:sequence>
</xsd:complexType>                
</xsd:element>

<xsd:element name="echoNMTOKENRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:NMTOKEN"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoNMTOKENResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:NMTOKEN"/>
</xsd:sequence>
</xsd:complexType>                
</xsd:element>

<xsd:element name="echoNCNameRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:NCName"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoNCNameResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:NCName"/>
</xsd:sequence>
</xsd:complexType>                
</xsd:element>

<xsd:element name="echoIDRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:ID"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoIDResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:ID"/>
</xsd:sequence>
</xsd:complexType>                
</xsd:element>

<xsd:element name="echoENTITYRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:ENTITY"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoENTITYResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:ENTITY"/>
</xsd:sequence>
</xsd:complexType>                
</xsd:element>

<xsd:element name="echoBooleanRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoBooleanResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>                
</xsd:element>

<xsd:element name="echoFloatRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:float"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoFloatResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:float"/>
</xsd:sequence>
</xsd:complexType>                
</xsd:element>

<xsd:element name="echoDoubleRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoDoubleResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>                
</xsd:element>

<xsd:element name="echoAnyURIRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:double"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoAnyURIResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:anyURI"/>
</xsd:sequence>
</xsd:complexType>                
</xsd:element>

    </xsd:schema>
  </wsdl:types>

  <!--
  Message - anySimpleType
  -->
  <wsdl:message name="echoAnySimpleTypeRequest">
    <wsdl:part name="parameters" element="tns:echoAnySimpleTypeRequest"/>
  </wsdl:message>
  <wsdl:message name="echoAnySimpleTypeResponse">
    <wsdl:part name="parameters" element="tns:echoAnySimpleTypeResponse"/>
  </wsdl:message>

  <!--
  Message - long
  -->
  <wsdl:message name="echoLongRequest">
    <wsdl:part name="parameters" element="tns:echoLongRequest"/>
  </wsdl:message>

  <wsdl:message name="echoLongResponse">
    <wsdl:part name="parameters" element="tns:echoLongResponse"/>
  </wsdl:message>

  <!--
  Message - unsignedLong

  <wsdl:message name="echoUnsignedLongRequest">
    <wsdl:part name="parameters" type="xsd:unsignedLong"/>
  </wsdl:message>
  -->

  <!--
  Message - unsignedInt
  -->
  <wsdl:message name="echoUnsignedIntRequest">
    <wsdl:part name="parameters" element="tns:echoUnsignedIntRequest"/>
  </wsdl:message>

  <wsdl:message name="echoUnsignedIntResponse">
    <wsdl:part name="parameters" element="tns:echoUnsignedIntResponse"/>
  </wsdl:message>

  <!--
  Message - unsignedShort
  -->
  <wsdl:message name="echoUnsignedShortRequest">
    <wsdl:part name="parameters" element="tns:echoUnsignedShortRequest"/>
  </wsdl:message>

  <wsdl:message name="echoUnsignedShortResponse">
    <wsdl:part name="parameters" element="tns:echoUnsignedShortResponse"/>
  </wsdl:message>

  <!--
  Message - unsignedByte
  -->
  <wsdl:message name="echoUnsignedByteRequest">
    <wsdl:part name="parameters" element="tns:echoUnsignedByteRequest"/>
  </wsdl:message>

  <wsdl:message name="echoUnsignedByteResponse">
    <wsdl:part name="parameters" element="tns:echoUnsignedByteResponse"/>
  </wsdl:message>

  <!--
  Message - nonPositiveInteger

  <wsdl:message name="echoNonPositiveIntegerRequest">
    <wsdl:part name="parameters" type="xsd:nonPositiveInteger"/>
  </wsdl:message>

  <wsdl:message name="echoNonPositiveIntegerResponse">
    <wsdl:part name="parameters" type="xsd:nonPositiveInteger"/>
  </wsdl:message>
  -->

  <!--
  Message - positiveInteger

  <wsdl:message name="echoPositiveIntegerRequest">
    <wsdl:part name="parameters" type="xsd:positiveInteger"/>
  </wsdl:message>

  <wsdl:message name="echoPositiveIntegerResponse">
    <wsdl:part name="parameters" type="xsd:positiveInteger"/>
  </wsdl:message>
  -->

  <!--
  Message - nonNegativeInteger

  <wsdl:message name="echoNonNegativeIntegerRequest">
    <wsdl:part name="parameters" type="xsd:nonNegativeInteger"/>
  </wsdl:message>

  <wsdl:message name="echoNonNegativeIntegerResponse">
    <wsdl:part name="parameters" type="xsd:nonNegativeInteger"/>
  </wsdl:message>
  -->

  <!--
  Message - negativeInteger

  <wsdl:message name="echoNegativeIntegerRequest">
    <wsdl:part name="parameters" type="xsd:negativeInteger"/>
  </wsdl:message>

  <wsdl:message name="echoNegativeIntegerResponse">
    <wsdl:part name="parameters" type="xsd:negativeInteger"/>
  </wsdl:message>
  -->

  <!--
  Message - int
  -->
  <wsdl:message name="echoIntRequest">
    <wsdl:part  name="parameters" element="tns:echoIntRequest"/>
  </wsdl:message>

  <wsdl:message name="echoIntResponse">
    <wsdl:part  name="parameters" element="tns:echoIntResponse"/>
  </wsdl:message>

  <!--
  Message - String
  -->
  <wsdl:message name="echoStringRequest">
    <wsdl:part  name="parameters" element="tns:echoStringRequest" />
  </wsdl:message>

  <wsdl:message name="echoStringResponse">
    <wsdl:part  name="parameters" element="tns:echoStringResponse"/>
  </wsdl:message>

  <!--
  Message - normalizedString
  -->
  <wsdl:message name="echoNormalizedStringRequest">
    <wsdl:part  name="parameters" element="tns:echoNormalizedStringRequest"/>
  </wsdl:message>

  <wsdl:message name="echoNormalizedStringResponse">
    <wsdl:part  name="parameters" element="tns:echoNormalizedStringResponse"/>
  </wsdl:message>

  <!--
  Message - token
  -->
  <wsdl:message name="echoTokenRequest">
    <wsdl:part  name="parameters" element="tns:echoTokenRequest"/>
  </wsdl:message>

  <wsdl:message name="echoTokenResponse">
    <wsdl:part  name="parameters" element="tns:echoTokenResponse"/>
  </wsdl:message>

  <!--
  Message - language
  -->
  <wsdl:message name="echoLanguageRequest">
    <wsdl:part name="parameters" element="tns:echoLanguageRequest"  />
  </wsdl:message>

  <wsdl:message name="echoLanguageResponse">
    <wsdl:part  name="parameters" element="tns:echoLanguageResponse" />
  </wsdl:message>

  <!--
  Message - Name
  -->
  <wsdl:message name="echoNameRequest">
    <wsdl:part name="parameters" element="tns:echoNameRequest" />
  </wsdl:message>

  <wsdl:message name="echoNameResponse">
    <wsdl:part  name="parameters" element="tns:echoNameResponse"/>
  </wsdl:message>

  <!--
  Message - NMTOKEN
  -->
  <wsdl:message name="echoNMTOKENRequest">
    <wsdl:part name="parameters" element="tns:echoNMTOKENRequest"  />
  </wsdl:message>

  <wsdl:message name="echoNMTOKENResponse">
    <wsdl:part name="parameters" element="tns:echoNMTOKENResponse" />
  </wsdl:message>

  <!--
  Message - NMTOKENS

  <wsdl:message name="echoNMTOKENSRequest">
    <wsdl:part type="xsd:NMTOKENS" name="parameters" />
  </wsdl:message>

  <wsdl:message name="echoNMTOKENSResponse">
    <wsdl:part type="xsd:NMTOKENS" name="parameters" />
  </wsdl:message>
  -->

  <!--
  Message - NCName
  -->
  <wsdl:message name="echoNCNameRequest">
    <wsdl:part name="parameters" element="tns:echoNCNameRequest"/>
  </wsdl:message>

  <wsdl:message name="echoNCNameResponse">
    <wsdl:part name="parameters" element="tns:echoNCNameResponse"/>
  </wsdl:message>

  <!--
  Message - ID
  -->
  <wsdl:message name="echoIDRequest">
    <wsdl:part name="parameters" element="tns:echoIDRequest" />
  </wsdl:message>

  <wsdl:message name="echoIDResponse">
    <wsdl:part name="parameters" element="tns:echoIDResponse"/>
  </wsdl:message>

  <!--
  Message - IDREF

  <wsdl:message name="echoIDREFRequest">
    <wsdl:part type="xsd:IDREF" name="parameters" />
  </wsdl:message>

  <wsdl:message name="echoIDREFResponse">
    <wsdl:part type="xsd:IDREF" name="parameters" />
  </wsdl:message>
  -->

  <!--
  Message - IDREFS

  <wsdl:message name="echoIDREFSRequest">
    <wsdl:part type="xsd:IDREFS" name="parameters" />
  </wsdl:message>

  <wsdl:message name="echoIDREFSResponse">
    <wsdl:part type="xsd:IDREFS" name="parameters" />
  </wsdl:message>
  -->

  <!--
  Message - ENTITY
  -->
  <wsdl:message name="echoENTITYRequest">
    <wsdl:part name="parameters" element="tns:echoENTITYRequest"  />
  </wsdl:message>

  <wsdl:message name="echoENTITYResponse">
    <wsdl:part name="parameters" element="tns:echoENTITYResponse"/>
  </wsdl:message>

  <!--
  Message - ENTITIES

  <wsdl:message name="echoENTITIESRequest">
    <wsdl:part type="xsd:ENTITIES" name="parameters" />
  </wsdl:message>

  <wsdl:message name="echoENTITIESResponse">
    <wsdl:part type="xsd:ENTITIES" name="parameters" />
  </wsdl:message>
  -->

  <!--
  Message - boolean
  -->
  <wsdl:message name="echoBooleanRequest">
    <wsdl:part name="parameters" element="tns:echoBooleanRequest"/>
  </wsdl:message>

  <wsdl:message name="echoBooleanResponse">
    <wsdl:part name="parameters" element="tns:echoBooleanResponse"/>
  </wsdl:message>

  <!--
  Message - float
  -->
  <wsdl:message name="echoFloatRequest">
    <wsdl:part name="parameters" element="tns:echoFloatRequest"/>
  </wsdl:message>

  <wsdl:message name="echoFloatResponse">
    <wsdl:part name="parameters" element="tns:echoFloatResponse"/>
  </wsdl:message>

  <!--
  Message - double
  -->
  <wsdl:message name="echoDoubleRequest">
    <wsdl:part name="parameters" element="tns:echoDoubleRequest"  />
  </wsdl:message>

  <wsdl:message name="echoDoubleResponse">
    <wsdl:part name="parameters" element="tns:echoDoubleResponse" />
  </wsdl:message>

  <!--
  Message - anyURI
  -->
  <wsdl:message name="echoAnyURIRequest">
    <wsdl:part  name="parameters" element="tns:echoAnyURIRequest"/>
  </wsdl:message>

  <wsdl:message name="echoAnyURIResponse">
    <wsdl:part name="parameters" element="tns:echoAnyURIResponse"/>
  </wsdl:message>


  <!--
  PortType
  -->
  <wsdl:portType name="EchoXsdPrimitivesServicePortType">

    <!--
    PortType - anyType
    -->
    <wsdl:operation name="echoAnySimpleType">
      <wsdl:input  message="tns:echoAnySimpleTypeRequest"  name="echoAnySimpleTypeRequest" />
      <wsdl:output message="tns:echoAnySimpleTypeResponse" name="echoAnySimpleTypeResponse" />
    </wsdl:operation>

    <!--
    PortType - long
    -->
    <wsdl:operation name="echoLong">
      <wsdl:input  message="tns:echoLongRequest"  name="echoLongRequest" />
      <wsdl:output message="tns:echoLongResponse" name="echoLongResponse" />
    </wsdl:operation>

    <!--
    PortType - unsignedLong

    <wsdl:operation name="echoUnsignedLong">
      <wsdl:input  message="tns:echoUnsignedLongRequest"  name="echoUnsignedLongRequest" />
      <wsdl:output message="tns:echoUnsignedLongResponse" name="echoUnsignedLongResponse" />
    </wsdl:operation>
    -->

    <!--
    PortType - unsignedInt
	-->
    <wsdl:operation name="echoUnsignedInt">
      <wsdl:input  message="tns:echoUnsignedIntRequest"  name="echoUnsignedIntRequest" />
      <wsdl:output message="tns:echoUnsignedIntResponse" name="echoUnsignedIntResponse" />
    </wsdl:operation>

    <!--
    PortType - unsignedShort
	-->
    <wsdl:operation name="echoUnsignedShort">
      <wsdl:input  message="tns:echoUnsignedShortRequest"  name="echoUnsignedShortRequest" />
      <wsdl:output message="tns:echoUnsignedShortResponse" name="echoUnsignedShortResponse" />
    </wsdl:operation>

    <!--
    PortType - unsignedByte
	-->
    <wsdl:operation name="echoUnsignedByte">
      <wsdl:input  message="tns:echoUnsignedByteRequest"  name="echoUnsignedByteRequest" />
      <wsdl:output message="tns:echoUnsignedByteResponse" name="echoUnsignedByteResponse" />
    </wsdl:operation>

    <!--
    PortType - NonPositiveInteger

    <wsdl:operation name="echoNonPositiveInteger">
      <wsdl:input  message="tns:echoNonPositiveIntegerRequest"  name="echoNonPositiveIntegerRequest" />
      <wsdl:output message="tns:echoNonPositiveIntegerResponse" name="echoNonPositiveIntegerResponse" />
    </wsdl:operation>
	-->

    <!--
    PortType - positiveInteger

    <wsdl:operation name="echoPositiveInteger">
      <wsdl:input  message="tns:echoPositiveIntegerRequest"  name="echoPositiveIntegerRequest" />
      <wsdl:output message="tns:echoPositiveIntegerResponse" name="echoPositiveIntegerResponse" />
    </wsdl:operation>
    -->

    <!--
    PortType - NonNegativeInteger

    <wsdl:operation name="echoNonNegativeInteger">
      <wsdl:input  message="tns:echoNonNegativeIntegerRequest"  name="echoNonNegativeIntegerRequest" />
      <wsdl:output message="tns:echoNonNegativeIntegerResponse" name="echoNonNegativeIntegerResponse" />
    </wsdl:operation>
	-->

    <!--
    PortType - negativeInteger

    <wsdl:operation name="echoNegativeInteger">
      <wsdl:input  message="tns:echoNegativeIntegerRequest"  name="echoNegativeIntegerRequest" />
      <wsdl:output message="tns:echoNegativeIntegerResponse" name="echoNegativeIntegerResponse" />
    </wsdl:operation>
	-->

    <!--
    PortType - int
    -->
    <wsdl:operation name="echoInt">
      <wsdl:input  message="tns:echoIntRequest"  name="echoIntRequest" />
      <wsdl:output message="tns:echoIntResponse" name="echoIntResponse" />
    </wsdl:operation>

    <!--
    PortType - string
    -->
    <wsdl:operation name="echoString">
      <wsdl:input  message="tns:echoStringRequest"  name="echoStringRequest" />
      <wsdl:output message="tns:echoStringResponse" name="echoStringResponse" />
    </wsdl:operation>

    <!--
    PortType - NormalizedString
    -->
    <wsdl:operation name="echoNormalizedString">
      <wsdl:input  message="tns:echoNormalizedStringRequest"  name="echoNormalizedStringRequest" />
      <wsdl:output message="tns:echoNormalizedStringResponse" name="echoNormalizedStringResponse" />
    </wsdl:operation>

    <!--
    PortType - token
    -->
    <wsdl:operation name="echoToken">
      <wsdl:input  message="tns:echoTokenRequest"  name="echoTokenRequest" />
      <wsdl:output message="tns:echoTokenResponse" name="echoTokenResponse" />
    </wsdl:operation>

    <!--
    PortType - language
    -->
    <wsdl:operation name="echoLanguage">
      <wsdl:input  message="tns:echoLanguageRequest"  name="echoLanguageRequest" />
      <wsdl:output message="tns:echoLanguageResponse" name="echoLanguageResponse" />
    </wsdl:operation>

    <!--
    PortType - Name
    -->
    <wsdl:operation name="echoName">
      <wsdl:input  message="tns:echoNameRequest"  name="echoNameRequest" />
      <wsdl:output message="tns:echoNameResponse" name="echoNameResponse" />
    </wsdl:operation>

    <!--
    PortType - NMTOKEN
    -->
    <wsdl:operation name="echoNMTOKEN">
      <wsdl:input  message="tns:echoNMTOKENRequest"  name="echoNMTOKENRequest" />
      <wsdl:output message="tns:echoNMTOKENResponse" name="echoNMTOKENResponse" />
    </wsdl:operation>

    <!--
    PortType - NMTOKENS

    <wsdl:operation name="echoNMTOKENS">
      <wsdl:input  message="tns:echoNMTOKENSRequest"  name="echoNMTOKENSRequest" />
      <wsdl:output message="tns:echoNMTOKENSResponse" name="echoNMTOKENSResponse" />
    </wsdl:operation>
    -->

    <!--
    PortType - ID
    -->
    <wsdl:operation name="echoID">
      <wsdl:input  message="tns:echoIDRequest"  name="echoIDRequest" />
      <wsdl:output message="tns:echoIDResponse" name="echoIDResponse" />
    </wsdl:operation>

    <!--
    PortType - IDREF

    <wsdl:operation name="echoIDREF">
      <wsdl:input  message="tns:echoIDREFRequest"  name="echoIDREFRequest" />
      <wsdl:output message="tns:echoIDREFResponse" name="echoIDREFResponse" />
    </wsdl:operation>
    -->

    <!--
    PortType - IDREFS

    <wsdl:operation name="echoIDREFS">
      <wsdl:input  message="tns:echoIDREFSRequest"  name="echoIDREFSRequest" />
      <wsdl:output message="tns:echoIDREFSResponse" name="echoIDREFSResponse" />
    </wsdl:operation>
	-->

    <!--
    PortType - ENTITY
    -->
    <wsdl:operation name="echoENTITY">
      <wsdl:input  message="tns:echoENTITYRequest"  name="echoENTITYRequest" />
      <wsdl:output message="tns:echoENTITYResponse" name="echoENTITYResponse" />
    </wsdl:operation>

    <!--
    PortType - ENTITIES

    <wsdl:operation name="echoENTITIES">
      <wsdl:input  message="tns:echoENTITIESRequest"  name="echoENTITIESRequest" />
      <wsdl:output message="tns:echoENTITIESResponse" name="echoENTITIESResponse" />
    </wsdl:operation>
	-->

    <!--
    PortType - NCName
    -->
    <wsdl:operation name="echoNCName">
      <wsdl:input  message="tns:echoNCNameRequest"  name="echoNCNameRequest" />
      <wsdl:output message="tns:echoNCNameResponse" name="echoNCNameResponse" />
    </wsdl:operation>

    <!--
    PortType - boolean
    -->
    <wsdl:operation name="echoBoolean">
      <wsdl:input  message="tns:echoBooleanRequest"  name="echoBooleanRequest" />
      <wsdl:output message="tns:echoBooleanResponse" name="echoBooleanResponse" />
    </wsdl:operation>

    <!--
    PortType - float
    -->
    <wsdl:operation name="echoFloat">
      <wsdl:input  message="tns:echoFloatRequest"  name="echoFloatRequest" />
      <wsdl:output message="tns:echoFloatResponse" name="echoFloatResponse" />
    </wsdl:operation>

    <!--
    PortType - double
    -->
    <wsdl:operation name="echoDouble">
      <wsdl:input  message="tns:echoDoubleRequest"  name="echoDoubleRequest"  />
      <wsdl:output message="tns:echoDoubleResponse" name="echoDoubleResponse" />
    </wsdl:operation>

    <!--
    PortType - anyURI
    -->
    <wsdl:operation name="echoAnyURI">
      <wsdl:input  message="tns:echoAnyURIRequest"  name="echoAnyURIRequest"  />
      <wsdl:output message="tns:echoAnyURIResponse" name="echoAnyURIResponse" />
    </wsdl:operation>

  </wsdl:portType>



  <!--
  Binding
  -->
  <wsdl:binding name="EchoXsdPrimitivesHttpBinding"
                type="tns:EchoXsdPrimitivesServicePortType">

    <!--
    Style
    -->
    <wsdlsoap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http" />

    <!--
    Operation - anyType
    -->
    <wsdl:operation name="echoAnySimpleType">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoAnySimpleTypeRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoAnySimpleTypeResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!--
    Operation - long
    -->
    <wsdl:operation name="echoLong">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoLongRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoLongResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!--
    Operation - unsignedLong

    <wsdl:operation name="echoUnsignedLong">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoUnsignedLongRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoUnsignedLongResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
	-->

    <!--
    Operation - unsignedInt
    -->
    <wsdl:operation name="echoUnsignedInt">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoUnsignedIntRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoUnsignedIntResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!--
    Operation - unsignedShort
    -->
    <wsdl:operation name="echoUnsignedShort">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoUnsignedShortRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoUnsignedShortResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!--
    Operation - unsignedByte
    -->
    <wsdl:operation name="echoUnsignedByte">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoUnsignedByteRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoUnsignedByteResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!--
    Operation - NonPositiveInteger

    <wsdl:operation name="echoNonPositiveInteger">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoNonPositiveIntegerRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoNonPositiveIntegerResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
	-->

    <!--
    Operation - positiveInteger

    <wsdl:operation name="echoPositiveInteger">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoPositiveIntegerRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoPositiveIntegerResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
	-->

    <!--
    Operation - NonNegativeInteger

    <wsdl:operation name="echoNonNegativeInteger">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoNonNegativeIntegerRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoNonNegativeIntegerResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
	-->

    <!--
    Operation - negativeInteger

    <wsdl:operation name="echoNegativeInteger">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoNegativeIntegerRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoNegativeIntegerResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
	-->

    <!--
    Operation - int
    -->
    <wsdl:operation name="echoInt">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoIntRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoIntResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!--
    Operation - string
    -->
    <wsdl:operation name="echoString">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoStringRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoStringResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!--
    Operation - NormalizedString
    -->
    <wsdl:operation name="echoNormalizedString">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoNormalizedStringRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoNormalizedStringResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!--
    Operation - token
    -->
    <wsdl:operation name="echoToken">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoTokenRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoTokenResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!--
    Operation - language
    -->
    <wsdl:operation name="echoLanguage">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoLanguageRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoLanguageResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!--
    Operation - Name
    -->
    <wsdl:operation name="echoName">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoNameRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoNameResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!--
    Operation - NMTOKEN
    -->
    <wsdl:operation name="echoNMTOKEN">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoNMTOKENRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoNMTOKENResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!--
    Operation - NMTOKENS

    <wsdl:operation name="echoNMTOKENS">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoNMTOKENSRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoNMTOKENSResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
    -->

    <!--
    Operation - NCName
    -->
    <wsdl:operation name="echoNCName">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoNCNameRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoNCNameResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!--
    Operation - ID
    -->
    <wsdl:operation name="echoID">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoIDRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoIDResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!--
    Operation - IDREF

    <wsdl:operation name="echoIDREF">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoIDREFRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoIDREFResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
	-->

    <!--
    Operation - IDREFS

    <wsdl:operation name="echoIDREFS">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoIDREFSRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoIDREFSResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
	-->

    <!--
    Operation - ENTITY
    -->
    <wsdl:operation name="echoENTITY">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoENTITYRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoENTITYResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>

    <!--
    Operation - ENTITIES

    <wsdl:operation name="echoENTITIES">

      <wsdlsoap:operation soapAction="fooAction" />

      <wsdl:input name="echoENTITIESRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>

      <wsdl:output name="echoENTITIESResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
    -->

    <!--
    Operation - boolean
    -->
    <wsdl:operation name="echoBoolean">
        <wsdlsoap:operation soapAction="fooAction" />

        <wsdl:input name="echoBooleanRequest">
            <wsdlsoap:body use="literal" />
        </wsdl:input>

        <wsdl:output name="echoBooleanResponse">
            <wsdlsoap:body use="literal" />
        </wsdl:output>
    </wsdl:operation>

    <!--
    Operation - float
    -->
    <wsdl:operation name="echoFloat">
        <wsdlsoap:operation soapAction="fooAction" />

        <wsdl:input name="echoFloatRequest">
            <wsdlsoap:body use="literal" />
        </wsdl:input>

        <wsdl:output name="echoFloatResponse">
            <wsdlsoap:body use="literal" />
        </wsdl:output>
    </wsdl:operation>

    <!--
    Operation - double
    -->
    <wsdl:operation name="echoDouble">
        <wsdlsoap:operation soapAction="fooAction" />

        <wsdl:input name="echoDoubleRequest">
            <wsdlsoap:body use="literal" />
        </wsdl:input>

        <wsdl:output name="echoDoubleResponse">
            <wsdlsoap:body use="literal" />
        </wsdl:output>
    </wsdl:operation>

    <!--
    Operation - anyURI
    -->
    <wsdl:operation name="echoAnyURI">
        <wsdlsoap:operation soapAction="fooAction" />

        <wsdl:input name="echoAnyURIRequest">
            <wsdlsoap:body use="literal" />
        </wsdl:input>

        <wsdl:output name="echoAnyURIResponse">
            <wsdlsoap:body use="literal" />
        </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <!--
  Service
  -->
  <wsdl:service name="EchoXsdPrimitives">
    <wsdl:port binding="tns:EchoXsdPrimitivesHttpBinding"
               name="EchoXsdPrimitivesHttpPort">

      <wsdlsoap:address location="http://localhost/services/EchoXsdPrimitives" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
