contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl/xsdSimpleType-union.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" 
xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" 
xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" 
xmlns:tns="urn:it.imolinfo.Jbi4Corba.test.webservice.generator" 
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
name="EchoService" 
targetNamespace="urn:it.imolinfo.Jbi4Corba.test.webservice.generator">

	<wsdl:types>
		<xsd:schema 
			targetNamespace="urn:it.imolinfo.Jbi4Corba.test.webservice.generator" 
			elementFormDefault="qualified" 
			attributeFormDefault="qualified">


			<!--
			=============================================== LIST
			-->

			<xsd:element name="simpleListStringRequest">
				<xsd:simpleType>
					<xsd:list itemType="xsd:string" />
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleListStringResponse">
				<xsd:simpleType>
					<xsd:list itemType="xsd:string" />
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleListBooleanRequest">
				<xsd:simpleType>
					<xsd:list itemType="xsd:boolean"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleListBooleanResponse">
				<xsd:simpleType>
					<xsd:list itemType="xsd:boolean"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleListFloatRequest">
				<xsd:simpleType>
					<xsd:list itemType="xsd:float"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleListFloatResponse">
				<xsd:simpleType>
					<xsd:list itemType="xsd:float"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleListDoubleRequest">
				<xsd:simpleType>
					<xsd:list itemType="xsd:double"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleListDoubleResponse">
				<xsd:simpleType>
					<xsd:list itemType="xsd:double"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleListAnyURIRequest">
				<xsd:simpleType>
					<xsd:list itemType="xsd:anyURI"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleListAnyURIResponse">
				<xsd:simpleType>
					<xsd:list itemType="xsd:anyURI"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleListLongRequest">
				<xsd:simpleType>
					<xsd:list itemType="xsd:long"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleListLongResponse">
				<xsd:simpleType>
					<xsd:list itemType="xsd:long"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleListIntRequest">
				<xsd:simpleType>
					<xsd:list itemType="xsd:int"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleListIntResponse">
				<xsd:simpleType>
					<xsd:list itemType="xsd:int"/>
				</xsd:simpleType>
			</xsd:element>


		</xsd:schema>
	</wsdl:types>



	<!--
	=============================================== LIST  - MESSAGE
	-->

	<wsdl:message name="echoSimpleListStringRequest">
		<wsdl:part name="parameters" element="tns:simpleListStringRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleListStringResponse">
		<wsdl:part name="parameters" element="tns:simpleListStringResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleListBooleanRequest">
		<wsdl:part name="parameters" element="tns:simpleListBooleanRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleListBooleanResponse">
		<wsdl:part name="parameters" element="tns:simpleListBooleanResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleListFloatRequest">
		<wsdl:part name="parameters" element="tns:simpleListFloatRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleListFloatResponse">
		<wsdl:part name="parameters" element="tns:simpleListFloatResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleListDoubleRequest">
		<wsdl:part name="parameters" element="tns:simpleListDoubleRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleListDoubleResponse">
		<wsdl:part name="parameters" element="tns:simpleListDoubleResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleListAnyURIRequest">
		<wsdl:part name="parameters" element="tns:simpleListAnyURIRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleListAnyURIResponse">
		<wsdl:part name="parameters" element="tns:simpleListAnyURIResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleListLongRequest">
		<wsdl:part name="parameters" element="tns:simpleListLongRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleListLongResponse">
		<wsdl:part name="parameters" element="tns:simpleListLongResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleListIntRequest">
		<wsdl:part name="parameters" element="tns:simpleListIntRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleListIntResponse">
		<wsdl:part name="parameters" element="tns:simpleListIntResponse"/>
	</wsdl:message>




	<wsdl:portType name="EchoServicePortType">

		<!--
		=============================================== LIST  - PORT TYPE
		-->

		<wsdl:operation name="echoSimpleListString">
			<wsdl:input name="echoSimpleListStringRequest" message="tns:echoSimpleListStringRequest"/>
			<wsdl:output name="echoSimpleListStringResponse" message="tns:echoSimpleListStringResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleListBoolean">
			<wsdl:input name="echoSimpleListBooleanRequest" message="tns:echoSimpleListBooleanRequest"/>
			<wsdl:output name="echoSimpleListBooleanResponse" message="tns:echoSimpleListBooleanResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleListFloat">
			<wsdl:input name="echoSimpleListFloatRequest" message="tns:echoSimpleListFloatRequest"/>
			<wsdl:output name="echoSimpleListFloatResponse" message="tns:echoSimpleListFloatResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleListDouble">
			<wsdl:input name="echoSimpleListDoubleRequest" message="tns:echoSimpleListDoubleRequest"/>
			<wsdl:output name="echoSimpleListDoubleResponse" message="tns:echoSimpleListDoubleResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleListAnyURI">
			<wsdl:input name="echoSimpleListAnyURIRequest" message="tns:echoSimpleListAnyURIRequest"/>
			<wsdl:output name="echoSimpleListAnyURIResponse" message="tns:echoSimpleListAnyURIResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleListLong">
			<wsdl:input name="echoSimpleListLongRequest" message="tns:echoSimpleListLongRequest"/>
			<wsdl:output name="echoSimpleListLongResponse" message="tns:echoSimpleListLongResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleListInt">
			<wsdl:input name="echoSimpleListIntRequest" message="tns:echoSimpleListIntRequest"/>
			<wsdl:output name="echoSimpleListIntResponse" message="tns:echoSimpleListIntResponse"/>
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="EchoServiceBinding" type="tns:EchoServicePortType">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>


		<!--
		=============================================== LIST  - BINDING
		-->

		<wsdl:operation name="echoSimpleListString">
			<wsdlsoap:operation soapAction="fooAction" />
			<wsdl:input name="echoSimpleListStringRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleListStringResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleListBoolean">
			<wsdlsoap:operation soapAction="fooAction" />
			<wsdl:input name="echoSimpleListBooleanRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleListBooleanResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleListFloat">
			<wsdlsoap:operation soapAction="fooAction" />
			<wsdl:input name="echoSimpleListFloatRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleListFloatResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleListDouble">
			<wsdlsoap:operation soapAction="fooAction" />
			<wsdl:input name="echoSimpleListDoubleRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleListDoubleResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleListAnyURI">
			<wsdlsoap:operation soapAction="fooAction" />
			<wsdl:input name="echoSimpleListAnyURIRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleListAnyURIResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleListLong">
			<wsdlsoap:operation soapAction="fooAction" />
			<wsdl:input name="echoSimpleListLongRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleListLongResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleListInt">
			<wsdlsoap:operation soapAction="fooAction" />
			<wsdl:input name="echoSimpleListIntRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleListIntResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>
	<wsdl:service name="EchoService">
		<wsdl:port name="EchoServiceHttpPort" binding="tns:EchoServiceBinding">
			<wsdlsoap:address location="http://localhost/services/EchoService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
