contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl/xsdSimpleType.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" 
xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" 
xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" 
xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" 
xmlns:tns="urn:it.imolinfo.Jbi4Corba.test.webservice.generator" 
xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
name="EchoService" 
targetNamespace="urn:it.imolinfo.Jbi4Corba.test.webservice.generator">

	<wsdl:types>
		<xsd:schema 
			targetNamespace="urn:it.imolinfo.Jbi4Corba.test.webservice.generator" 
			elementFormDefault="qualified" 
			attributeFormDefault="qualified">

			<!--
			=============================================== ATOMIC
			-->

			<xsd:element name="simpleStringRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleStringResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleBooleanRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:boolean"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleBooleanResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:boolean"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleFloatRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:float"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleFloatResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:float"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleDoubleRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleDoubleResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleAnyURIRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:anyURI"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleAnyURIResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:anyURI"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleLongRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleLongResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleIntRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleIntResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int"/>
				</xsd:simpleType>
			</xsd:element>


		</xsd:schema>
	</wsdl:types>


	<!--
	=============================================== ATOMIC  - MESSAGE
	-->

	<wsdl:message name="echoSimpleStringRequest">
		<wsdl:part name="parameters" element="tns:simpleStringRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleStringResponse">
		<wsdl:part name="parameters" element="tns:simpleStringResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleBooleanRequest">
		<wsdl:part name="parameters" element="tns:simpleBooleanRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleBooleanResponse">
		<wsdl:part name="parameters" element="tns:simpleBooleanResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleFloatRequest">
		<wsdl:part name="parameters" element="tns:simpleFloatRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleFloatResponse">
		<wsdl:part name="parameters" element="tns:simpleFloatResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleDoubleRequest">
		<wsdl:part name="parameters" element="tns:simpleDoubleRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleDoubleResponse">
		<wsdl:part name="parameters" element="tns:simpleDoubleResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleAnyURIRequest">
		<wsdl:part name="parameters" element="tns:simpleAnyURIRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleAnyURIResponse">
		<wsdl:part name="parameters" element="tns:simpleAnyURIResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleLongRequest">
		<wsdl:part name="parameters" element="tns:simpleLongRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleLongResponse">
		<wsdl:part name="parameters" element="tns:simpleLongResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleIntRequest">
		<wsdl:part name="parameters" element="tns:simpleIntRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleIntResponse">
		<wsdl:part name="parameters" element="tns:simpleIntResponse"/>
	</wsdl:message>


	<wsdl:portType name="EchoServicePortType">

		<!--
		=============================================== ATOMIC  - PORT TYPE
		-->

		<wsdl:operation name="echoSimpleString">
			<wsdl:input name="echoSimpleStringRequest" message="tns:echoSimpleStringRequest"/>
			<wsdl:output name="echoSimpleStringResponse" message="tns:echoSimpleStringResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleBoolean">
			<wsdl:input name="echoSimpleBooleanRequest" message="tns:echoSimpleBooleanRequest"/>
			<wsdl:output name="echoSimpleBooleanResponse" message="tns:echoSimpleBooleanResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleFloat">
			<wsdl:input name="echoSimpleFloatRequest" message="tns:echoSimpleFloatRequest"/>
			<wsdl:output name="echoSimpleFloatResponse" message="tns:echoSimpleFloatResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleDouble">
			<wsdl:input name="echoSimpleDoubleRequest" message="tns:echoSimpleDoubleRequest"/>
			<wsdl:output name="echoSimpleDoubleResponse" message="tns:echoSimpleDoubleResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleAnyURI">
			<wsdl:input name="echoSimpleAnyURIRequest" message="tns:echoSimpleAnyURIRequest"/>
			<wsdl:output name="echoSimpleAnyURIResponse" message="tns:echoSimpleAnyURIResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleLong">
			<wsdl:input name="echoSimpleLongRequest" message="tns:echoSimpleLongRequest"/>
			<wsdl:output name="echoSimpleLongResponse" message="tns:echoSimpleLongResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleInt">
			<wsdl:input name="echoSimpleIntRequest" message="tns:echoSimpleIntRequest"/>
			<wsdl:output name="echoSimpleIntResponse" message="tns:echoSimpleIntResponse"/>
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="EchoServiceBinding" type="tns:EchoServicePortType">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

		<!--
		=============================================== ATOMIC  - BINDING
		-->

		<wsdl:operation name="echoSimpleString">
			<wsdlsoap:operation soapAction="fooAction" />
			<wsdl:input name="echoSimpleStringRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleStringResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleBoolean">
			<wsdlsoap:operation soapAction="fooAction" />
			<wsdl:input name="echoSimpleBooleanRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleBooleanResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleFloat">
			<wsdlsoap:operation soapAction="fooAction" />
			<wsdl:input name="echoSimpleFloatRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleFloatResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleDouble">
			<wsdlsoap:operation soapAction="fooAction" />
			<wsdl:input name="echoSimpleDoubleRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleDoubleResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleAnyURI">
			<wsdlsoap:operation soapAction="fooAction" />
			<wsdl:input name="echoSimpleAnyURIRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleAnyURIResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleLong">
			<wsdlsoap:operation soapAction="fooAction" />
			<wsdl:input name="echoSimpleLongRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleLongResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleInt">
			<wsdlsoap:operation soapAction="fooAction" />
			<wsdl:input name="echoSimpleIntRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleIntResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>


	</wsdl:binding>
	<wsdl:service name="EchoService">
		<wsdl:port name="EchoServiceHttpPort" binding="tns:EchoServiceBinding">
			<wsdlsoap:address location="http://localhost/services/EchoService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
