contrib-imola/corba-bc/integration-test/test-consumer-primitives/consumer-primitives-http-consumer/src/main/resources/EchoPrimitives.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EchoPrimitives" targetNamespace="urn:jbi4corba/test-consumer-primitives" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:jbi4corba/test-consumer-primitives" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import namespace="urn:jbi4corba/test-consumer-primitives" schemaLocation="EchoPrimitives_test-consumer-primitives.xsd"/></xsd:schema>
  </wsdl:types>
  <wsdl:message name="echoLanguage">
    <wsdl:part name="parameters" element="tns:echoLanguage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoNCNameResponse">
    <wsdl:part name="parameters" element="tns:echoNCNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoTokenResponse">
    <wsdl:part name="parameters" element="tns:echoTokenResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoString">
    <wsdl:part name="parameters" element="tns:echoString">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoByte">
    <wsdl:part name="parameters" element="tns:echoByte">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoIntResponse">
    <wsdl:part name="parameters" element="tns:echoIntResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoUnsignedIntResponse">
    <wsdl:part name="parameters" element="tns:echoUnsignedIntResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoFloat">
    <wsdl:part name="parameters" element="tns:echoFloat">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoInt">
    <wsdl:part name="parameters" element="tns:echoInt">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoBoolean">
    <wsdl:part name="parameters" element="tns:echoBoolean">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoNMTOKENResponse">
    <wsdl:part name="parameters" element="tns:echoNMTOKENResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoENTITY">
    <wsdl:part name="parameters" element="tns:echoENTITY">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoLong">
    <wsdl:part name="parameters" element="tns:echoLong">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoBooleanResponse">
    <wsdl:part name="parameters" element="tns:echoBooleanResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoIDResponse">
    <wsdl:part name="parameters" element="tns:echoIDResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoLongResponse">
    <wsdl:part name="parameters" element="tns:echoLongResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoUnsignedShort">
    <wsdl:part name="parameters" element="tns:echoUnsignedShort">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoNameResponse">
    <wsdl:part name="parameters" element="tns:echoNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoUnsignedByte">
    <wsdl:part name="parameters" element="tns:echoUnsignedByte">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoAnyURIResponse">
    <wsdl:part name="parameters" element="tns:echoAnyURIResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoUnsignedByteResponse">
    <wsdl:part name="parameters" element="tns:echoUnsignedByteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoENTITYResponse">
    <wsdl:part name="parameters" element="tns:echoENTITYResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoID">
    <wsdl:part name="parameters" element="tns:echoID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoShort">
    <wsdl:part name="parameters" element="tns:echoShort">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoLanguageResponse">
    <wsdl:part name="parameters" element="tns:echoLanguageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoNormalizedString">
    <wsdl:part name="parameters" element="tns:echoNormalizedString">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoUnsignedShortResponse">
    <wsdl:part name="parameters" element="tns:echoUnsignedShortResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoNCName">
    <wsdl:part name="parameters" element="tns:echoNCName">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoShortResponse">
    <wsdl:part name="parameters" element="tns:echoShortResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoByteResponse">
    <wsdl:part name="parameters" element="tns:echoByteResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoDoubleResponse">
    <wsdl:part name="parameters" element="tns:echoDoubleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoToken">
    <wsdl:part name="parameters" element="tns:echoToken">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoAnyURI">
    <wsdl:part name="parameters" element="tns:echoAnyURI">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoStringResponse">
    <wsdl:part name="parameters" element="tns:echoStringResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoFloatResponse">
    <wsdl:part name="parameters" element="tns:echoFloatResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoNormalizedStringResponse">
    <wsdl:part name="parameters" element="tns:echoNormalizedStringResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoName">
    <wsdl:part name="parameters" element="tns:echoName">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoNMTOKEN">
    <wsdl:part name="parameters" element="tns:echoNMTOKEN">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoUnsignedInt">
    <wsdl:part name="parameters" element="tns:echoUnsignedInt">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoDouble">
    <wsdl:part name="parameters" element="tns:echoDouble">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EchoPrimitivesPortType">
    <wsdl:operation name="echoByte">
      <wsdl:input name="echoByte" message="tns:echoByte">
    </wsdl:input>
      <wsdl:output name="echoByteResponse" message="tns:echoByteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoUnsignedShort">
      <wsdl:input name="echoUnsignedShort" message="tns:echoUnsignedShort">
    </wsdl:input>
      <wsdl:output name="echoUnsignedShortResponse" message="tns:echoUnsignedShortResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoInt">
      <wsdl:input name="echoInt" message="tns:echoInt">
    </wsdl:input>
      <wsdl:output name="echoIntResponse" message="tns:echoIntResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoUnsignedByte">
      <wsdl:input name="echoUnsignedByte" message="tns:echoUnsignedByte">
    </wsdl:input>
      <wsdl:output name="echoUnsignedByteResponse" message="tns:echoUnsignedByteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoAnyURI">
      <wsdl:input name="echoAnyURI" message="tns:echoAnyURI">
    </wsdl:input>
      <wsdl:output name="echoAnyURIResponse" message="tns:echoAnyURIResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoID">
      <wsdl:input name="echoID" message="tns:echoID">
    </wsdl:input>
      <wsdl:output name="echoIDResponse" message="tns:echoIDResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoLong">
      <wsdl:input name="echoLong" message="tns:echoLong">
    </wsdl:input>
      <wsdl:output name="echoLongResponse" message="tns:echoLongResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoNormalizedString">
      <wsdl:input name="echoNormalizedString" message="tns:echoNormalizedString">
    </wsdl:input>
      <wsdl:output name="echoNormalizedStringResponse" message="tns:echoNormalizedStringResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoFloat">
      <wsdl:input name="echoFloat" message="tns:echoFloat">
    </wsdl:input>
      <wsdl:output name="echoFloatResponse" message="tns:echoFloatResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoNMTOKEN">
      <wsdl:input name="echoNMTOKEN" message="tns:echoNMTOKEN">
    </wsdl:input>
      <wsdl:output name="echoNMTOKENResponse" message="tns:echoNMTOKENResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoShort">
      <wsdl:input name="echoShort" message="tns:echoShort">
    </wsdl:input>
      <wsdl:output name="echoShortResponse" message="tns:echoShortResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoDouble">
      <wsdl:input name="echoDouble" message="tns:echoDouble">
    </wsdl:input>
      <wsdl:output name="echoDoubleResponse" message="tns:echoDoubleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoString">
      <wsdl:input name="echoString" message="tns:echoString">
    </wsdl:input>
      <wsdl:output name="echoStringResponse" message="tns:echoStringResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoUnsignedInt">
      <wsdl:input name="echoUnsignedInt" message="tns:echoUnsignedInt">
    </wsdl:input>
      <wsdl:output name="echoUnsignedIntResponse" message="tns:echoUnsignedIntResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoLanguage">
      <wsdl:input name="echoLanguage" message="tns:echoLanguage">
    </wsdl:input>
      <wsdl:output name="echoLanguageResponse" message="tns:echoLanguageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoBoolean">
      <wsdl:input name="echoBoolean" message="tns:echoBoolean">
    </wsdl:input>
      <wsdl:output name="echoBooleanResponse" message="tns:echoBooleanResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoNCName">
      <wsdl:input name="echoNCName" message="tns:echoNCName">
    </wsdl:input>
      <wsdl:output name="echoNCNameResponse" message="tns:echoNCNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoToken">
      <wsdl:input name="echoToken" message="tns:echoToken">
    </wsdl:input>
      <wsdl:output name="echoTokenResponse" message="tns:echoTokenResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoENTITY">
      <wsdl:input name="echoENTITY" message="tns:echoENTITY">
    </wsdl:input>
      <wsdl:output name="echoENTITYResponse" message="tns:echoENTITYResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoName">
      <wsdl:input name="echoName" message="tns:echoName">
    </wsdl:input>
      <wsdl:output name="echoNameResponse" message="tns:echoNameResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EchoPrimitivesCorbaBinding" type="tns:EchoPrimitivesPortType">

    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="echoByte">
      <soap:operation/>
      <wsdl:input name="echoByte">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoByteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoUnsignedShort">
      <soap:operation/>
      <wsdl:input name="echoUnsignedShort">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoUnsignedShortResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoInt">
      <soap:operation/>
      <wsdl:input name="echoInt">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoIntResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoAnyURI">
      <soap:operation/>
      <wsdl:input name="echoAnyURI">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoAnyURIResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoUnsignedByte">
      <soap:operation/>
      <wsdl:input name="echoUnsignedByte">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoUnsignedByteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoID">
      <soap:operation/>
      <wsdl:input name="echoID">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoIDResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoLong">
      <soap:operation/>
      <wsdl:input name="echoLong">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoLongResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoNormalizedString">
      <soap:operation/>
      <wsdl:input name="echoNormalizedString">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoNormalizedStringResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoFloat">
      <soap:operation/>
      <wsdl:input name="echoFloat">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoFloatResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoNMTOKEN">
      <soap:operation/>
      <wsdl:input name="echoNMTOKEN">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoNMTOKENResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoShort">
      <soap:operation/>
      <wsdl:input name="echoShort">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoShortResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoDouble">
      <soap:operation/>
      <wsdl:input name="echoDouble">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoDoubleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoString">
      <soap:operation/>
      <wsdl:input name="echoString">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoStringResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoUnsignedInt">
      <soap:operation/>
      <wsdl:input name="echoUnsignedInt">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoUnsignedIntResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoLanguage">
      <soap:operation/>
      <wsdl:input name="echoLanguage">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoLanguageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoBoolean">
      <soap:operation/>
      <wsdl:input name="echoBoolean">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoBooleanResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoNCName">
      <soap:operation/>
      <wsdl:input name="echoNCName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoNCNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoToken">
      <soap:operation/>
      <wsdl:input name="echoToken">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoTokenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoENTITY">
      <soap:operation/>
      <wsdl:input name="echoENTITY">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoENTITYResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoName">
      <soap:operation/>
      <wsdl:input name="echoName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EchoPrimitives">
    <wsdl:port name="EchoPrimitivesCorbaPort" binding="tns:EchoPrimitivesCorbaBinding">
      <soap:address location="http://localhost:8192/Service/test-consumer-primitives/"/>
    </wsdl:port>
  </wsdl:service>
<plnk:partnerLinkType name="EchoPrimitives">
<plnk:role name="EchoPrimitivesPortTypeRole" portType="tns:EchoPrimitivesPortType"/>
</plnk:partnerLinkType>
</wsdl:definitions>
