driver-tests/sqlse/derby/selectallfullqualJbi/src/jbiServiceUnits/selectallfullqualSQL/selectallfullqualSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="selectallfullqualSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="selectallfullqualRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="selectallfullqualResponse"><xsd:complexType><xsd:sequence><xsd:element name="ENO" type="xsd:int"/><xsd:element name="ENAME" type="xsd:string"/><xsd:element name="SAL" type="xsd:int"/><xsd:element name="DEPTNO" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="selectallfullqualResponse">
    <part name="selectallfullqualResponsePart" element="tns:selectallfullqualResponse"/>
  </message>
  <message name="selectallfullqualRequest">
    <part name="selectallfullqualRequestPart" element="tns:selectallfullqualRequest"/>
  </message>
  <portType name="selectallfullqualSQL_sqlsePortType">
    <operation name="selectallfullqual">
      <input name="selectallfullqualRequest" message="tns:selectallfullqualRequest"/>
      <output name="selectallfullqualResponse" message="tns:selectallfullqualResponse"/>
    </operation>
  </portType>
  <binding name="selectallfullqualSQLBinding" type="tns:selectallfullqualSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="selectallfullqual">
      <soap:operation style="document"/>
      <input name="selectallfullqualRequest">
        <soap:body use="literal"/>
      </input>
      <output name="selectallfullqualResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="selectallfullqualSQL_sqlseService">
    <port name="selectallfullqualSQL_sqlsePort" binding="tns:selectallfullqualSQLBinding">
      <soap:address location="http://localhost:18181/selectallfullqualSQL/selectallfullqualSQL/selectallfullqualSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="selectallfullqualSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="selectallfullqualSQL_myrole" portType="tns:selectallfullqualSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
