driver-tests/sqlse/derby/selectmultiparamJbi/src/jbiServiceUnits/selectmultiparamSQL/selectmultiparamSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="selectmultiparamSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="selectmultiparamRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/><xsd:element name="param2" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="selectmultiparamResponse"><xsd:complexType><xsd:sequence><xsd:element name="CUSTOMER_NUM" type="xsd:int"/><xsd:element name="DISCOUNT_CODE" type="xsd:string"/><xsd:element name="ZIP" type="xsd:string"/><xsd:element name="NAME" type="xsd:string"/><xsd:element name="ADDR_LN1" type="xsd:string"/><xsd:element name="ADDR_LN2" type="xsd:string"/><xsd:element name="CITY" type="xsd:string"/><xsd:element name="STATE" type="xsd:string"/><xsd:element name="PHONE" type="xsd:string"/><xsd:element name="FAX" type="xsd:string"/><xsd:element name="EMAIL" type="xsd:string"/><xsd:element name="CREDIT_LIMIT" type="xsd:int"/><xsd:element name="LAST_SALE_DATE" type="xsd:string"/><xsd:element name="LAST_SALE_TIME" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="selectmultiparamResponse">
    <part name="selectmultiparamResponsePart" element="tns:selectmultiparamResponse"/>
  </message>
  <message name="selectmultiparamRequest">
    <part name="selectmultiparamRequestPart" element="tns:selectmultiparamRequest"/>
  </message>
  <portType name="selectmultiparamSQL_sqlsePortType">
    <operation name="selectmultiparam">
      <input name="selectmultiparamRequest" message="tns:selectmultiparamRequest"/>
      <output name="selectmultiparamResponse" message="tns:selectmultiparamResponse"/>
    </operation>
  </portType>
  <binding name="selectmultiparamSQLBinding" type="tns:selectmultiparamSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="selectmultiparam">
      <soap:operation style="document"/>
      <input name="selectmultiparamRequest">
        <soap:body use="literal"/>
      </input>
      <output name="selectmultiparamResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="selectmultiparamSQL_sqlseService">
    <port name="selectmultiparamSQL_sqlsePort" binding="tns:selectmultiparamSQLBinding">
      <soap:address location="http://localhost:18181/selectmultiparamSQL/selectmultiparamSQL/selectmultiparamSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="selectmultiparamSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="selectmultiparamSQL_myrole" portType="tns:selectmultiparamSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
