driver-tests/bpelse/correlation/MatchingInstanceTwoCorrBPEL/src/rec_rec_correlate_any/RecRecCorrAnysubWSDL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/RecRecCorrAnysubWSDL"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/RecRecCorrAnysubWSDL" name="RecRecCorrAnysubWSDL" xmlns:ns="http://xml.netbeans.org/schema/dataTypes.xsd" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:ns2="http://j2ee.netbeans.org/wsdl/RecRecCorrAnysubWSDL2">
    <wsdl:import location="RecRecCorrAnysubWSDL2.wsdl" namespace="http://j2ee.netbeans.org/wsdl/RecRecCorrAnysubWSDL2"/>
    <wsdl:types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/RecRecCorrAnysubWSDL">
            <xsd:import namespace="http://xml.netbeans.org/schema/dataTypes.xsd" schemaLocation="../dataTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RecRecCorrAnysubWSDLOperationRequest">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="RecRecCorrAnysubWSDLOperationRequest1">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="RecRecCorrAnysubWSDLOperationRequest2">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="RecRecCorrAnysubWSDLOperationRequest3">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="RecRecCorrAnysubWSDLOperationRequest4">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="RecRecCorrAnysubWSDLPickOperationRequest">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="RecRecCorrAnysubWSDLPickOperationReply">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:portType name="RecRecCorrAnysubWSDLPortType">
        <wsdl:operation name="RecRecCorrAnysubWSDLOperation">
            <wsdl:input name="input1" message="tns:RecRecCorrAnysubWSDLOperationRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="RecRecCorrAnysubWSDLPortType1">
        <wsdl:operation name="RecRecCorrAnysubWSDLOperation">
            <wsdl:input name="input1" message="tns:RecRecCorrAnysubWSDLOperationRequest1"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="RecRecCorrAnysubWSDLPortType2">
        <wsdl:operation name="RecRecCorrAnysubWSDLOperation">
            <wsdl:input name="input1" message="tns:RecRecCorrAnysubWSDLOperationRequest2"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="RecRecCorrAnysubWSDLPortType3">
        <wsdl:operation name="RecRecCorrAnysubWSDLOperation">
            <wsdl:input name="input1" message="tns:RecRecCorrAnysubWSDLOperationRequest3"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="RecRecCorrAnysubWSDLPortType4">
        <wsdl:operation name="RecRecCorrAnysubWSDLOperation">
            <wsdl:input name="input1" message="tns:RecRecCorrAnysubWSDLOperationRequest4"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="RecRecCorrAnysubWSDLPickPortType">
        <wsdl:operation name="RecRecCorrAnysubWSDLPickOperation">
            <wsdl:input name="input1" message="tns:RecRecCorrAnysubWSDLPickOperationRequest"/>
            <wsdl:output name="output1" message="tns:RecRecCorrAnysubWSDLPickOperationReply"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RecRecCorrAnysubWSDLBinding" type="tns:RecRecCorrAnysubWSDLPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RecRecCorrAnysubWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RecRecCorrAnysubWSDLService">
        <wsdl:port name="RecRecCorrAnysubWSDLPort" binding="tns:RecRecCorrAnysubWSDLBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/RecRecCorrAnysubWSDLService/RecRecCorrAnysubWSDLPort"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:binding name="RecRecCorrAnysubWSDLBinding1" type="tns:RecRecCorrAnysubWSDLPortType1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RecRecCorrAnysubWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RecRecCorrAnysubWSDLService1">
        <wsdl:port name="RecRecCorrAnysubWSDLPort1" binding="tns:RecRecCorrAnysubWSDLBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/RecRecCorrAnysubWSDLService/RecRecCorrAnysubWSDLPort1"/>
        </wsdl:port>
    </wsdl:service>    
    <wsdl:binding name="RecRecCorrAnysubWSDLBinding2" type="tns:RecRecCorrAnysubWSDLPortType2">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RecRecCorrAnysubWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RecRecCorrAnysubWSDLService2">
        <wsdl:port name="RecRecCorrAnysubWSDLPort2" binding="tns:RecRecCorrAnysubWSDLBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/RecRecCorrAnysubWSDLService/RecRecCorrAnysubWSDLPort2"/>
        </wsdl:port>
    </wsdl:service>  
    <wsdl:binding name="RecRecCorrAnysubWSDLBinding3" type="tns:RecRecCorrAnysubWSDLPortType3">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RecRecCorrAnysubWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RecRecCorrAnysubWSDLService3">
        <wsdl:port name="RecRecCorrAnysubWSDLPort3" binding="tns:RecRecCorrAnysubWSDLBinding3">
            <soap:address location="http://localhost:${HttpDefaultPort}/RecRecCorrAnysubWSDLService/RecRecCorrAnysubWSDLPort3"/>
        </wsdl:port>
    </wsdl:service>  
    <wsdl:binding name="RecRecCorrAnysubWSDLBinding4" type="tns:RecRecCorrAnysubWSDLPortType4">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RecRecCorrAnysubWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RecRecCorrAnysubWSDLService4">
        <wsdl:port name="RecRecCorrAnysubWSDLPort4" binding="tns:RecRecCorrAnysubWSDLBinding4">
            <soap:address location="http://localhost:${HttpDefaultPort}/RecRecCorrAnysubWSDLService/RecRecCorrAnysubWSDLPort4"/>
        </wsdl:port>
    </wsdl:service>  
    <wsdl:binding name="RecRecCorrAnysubWSDLPickBinding" type="tns:RecRecCorrAnysubWSDLPickPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RecRecCorrAnysubWSDLPickOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal"/>
            </wsdl:output>            
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RecRecCorrAnysubWSDLPickService">
        <wsdl:port name="RecRecCorrAnysubWSDLPickPort" binding="tns:RecRecCorrAnysubWSDLPickBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/RecRecCorrAnysubWSDLService/RecRecCorrAnysubWSDLPickPort"/>
        </wsdl:port>
    </wsdl:service>    
    <plnk:partnerLinkType name="RecRecCorrAnysubWSDLPartner">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="RecRecCorrAnysubWSDLPortTypeRole" portType="tns:RecRecCorrAnysubWSDLPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="RecRecCorrAnysubWSDLPartner1">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="RecRecCorrAnysubWSDLPortType1Role" portType="tns:RecRecCorrAnysubWSDLPortType1"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="RecRecCorrAnysubWSDLPartner2">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="RecRecCorrAnysubWSDLPortType2Role" portType="tns:RecRecCorrAnysubWSDLPortType2"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="RecRecCorrAnysubWSDLPartner3">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="RecRecCorrAnysubWSDLPortType3Role" portType="tns:RecRecCorrAnysubWSDLPortType3"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="RecRecCorrAnysubWSDLPartner4">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="RecRecCorrAnysubWSDLPortType4Role" portType="tns:RecRecCorrAnysubWSDLPortType4"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="RecRecCorrAnysubWSDLPartner5">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="RecRecCorrAnysubWSDLPickPortTypeRole" portType="tns:RecRecCorrAnysubWSDLPickPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="property1" type="xsd:int"/>
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:RecRecCorrAnysubWSDLOperationRequest" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:int</vprop:query>
    </vprop:propertyAlias> 
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:RecRecCorrAnysubWSDLOperationRequest1" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:int</vprop:query>
    </vprop:propertyAlias> 
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:RecRecCorrAnysubWSDLOperationRequest2" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:int</vprop:query>
    </vprop:propertyAlias>    
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:RecRecCorrAnysubWSDLOperationRequest3" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:int</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:RecRecCorrAnysubWSDLOperationRequest4" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:int</vprop:query>
    </vprop:propertyAlias>    
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:RecRecCorrAnysubWSDLPickOperationRequest" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:int</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:RecRecCorrAnysubWSDLPickOperationReply" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:int</vprop:query>
    </vprop:propertyAlias>    
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="ns2:RecRecCorrAnysubWSDL2OperationRequest" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:int</vprop:query>
    </vprop:propertyAlias> 
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="ns2:RecRecCorrAnysubWSDL2OperationReply" part="part1">
        <vprop:query>/ns:helloObj/ns:recursive/ns:int</vprop:query>
    </vprop:propertyAlias> 
</definitions>
