ojc-core/hl7bc/hl7bcimpl/src/com/sun/jbi/hl7bc/extservice/ack/schemas/hl7_251_xsd/datatypes.xsd

<?xml version ="1.0" encoding="UTF-8"?>
<!--
    v2.xml Message Definitions Version v2.5.1  - data types
    HL7 Version 2.5.1,  Health Level Seven, Inc.  All rights reserved.  HL7 and Health Level Seven are registered trademarks of Health Level Seven, Inc.
-->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:hl7-org:v2xml"
    xmlns:hl7="urn:com.sun:encoder-hl7-1.0"
    targetNamespace="urn:hl7-org:v2xml">

    <xsd:complexType name="escapeType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="V" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <!--
        COMPOSITE DATATYPE CE
    -->
    <xsd:complexType name="CE">
        <xsd:sequence>
            <xsd:element ref="CE.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.3" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.4" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.5" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CE.6" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

     <!--
        COMPOSITE DATATYPE CWE
    -->
    <xsd:complexType name="CWE">
        <xsd:sequence>
            <xsd:element ref="CWE.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CWE.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CWE.3" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CWE.4" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CWE.5" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CWE.6" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CWE.7" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CWE.8" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CWE.9" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <!--
        COMPOSITE DATATYPE ELD
    -->
    <xsd:complexType name="ELD">
        <xsd:sequence>
            <xsd:element ref="ELD.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="ELD.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="ELD.3" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="ELD.4" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <!--
        COMPOSITE DATATYPE EI
    -->
    <xsd:complexType name="EI">
        <xsd:sequence>
            <xsd:element ref="EI.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="EI.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="EI.3" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="EI.4" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

      <!--
        COMPOSITE DATATYPE ERL
    -->
    <xsd:complexType name="ERL">
        <xsd:sequence>
            <xsd:element ref="ERL.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="ERL.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="ERL.3" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="ERL.4" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="ERL.5" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="ERL.6" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

     <!--
        COMPOSITE DATATYPE HD
    -->
    <xsd:complexType name="HD">
        <xsd:sequence>
            <xsd:element ref="HD.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="HD.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="HD.3" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

     <!--
        PRIMITIVE DATATYPE DTM
      -->
    <xsd:simpleType name="DTM">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

     <!--
        PRIMITIVE DATATYPE ID
    -->
    <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <!--
        PRIMITIVE DATATYPE IS
    -->
    <xsd:simpleType name="IS">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

     <!--
        COMPOSITE DATATYPE MSG
    -->
    <xsd:complexType name="MSG">
        <xsd:sequence>
            <xsd:element ref="MSG.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="MSG.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="MSG.3" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

     <!--
        PRIMITIVE DATATYPE NM
    -->
    <xsd:simpleType name="NM">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

     <!--
        PRIMITIVE DATATYPE NUL
    -->
    <xsd:simpleType name="NUL">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <!--
        COMPOSITE DATATYPE PT
    -->
    <xsd:complexType name="PT">
        <xsd:sequence>
            <xsd:element ref="PT.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="PT.2" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <!--
        PRIMITIVE DATATYPE ST
    -->
    <xsd:simpleType name="ST">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

     <!--
        COMPOSITE DATATYPE TS
    -->
    <xsd:complexType name="TS">
        <xsd:sequence>
            <xsd:element ref="TS.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="TS.2" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <!--
        PRIMITIVE DATATYPE TX
    -->
    <xsd:complexType name="TX" mixed="true">
        <xsd:sequence>
            <xsd:element name="escape" minOccurs="0" maxOccurs="unbounded" type="escapeType"/>
        </xsd:sequence>
    </xsd:complexType>

     <!--
        COMPOSITE DATATYPE VID
    -->
    <xsd:complexType name="VID">
        <xsd:sequence>
            <xsd:element ref="VID.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="VID.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="VID.3" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

     <!--
        COMPOSITE DATATYPE XON
    -->
    <xsd:complexType name="XON">
        <xsd:sequence>
            <xsd:element ref="XON.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XON.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XON.3" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XON.4" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XON.5" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XON.6" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XON.7" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XON.8" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XON.9" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XON.10" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <!--
        COMPOSITE DATATYPE XTN
    -->
    <xsd:complexType name="XTN">
        <xsd:sequence>
            <xsd:element ref="XTN.1" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XTN.2" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XTN.3" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XTN.4" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XTN.5" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XTN.6" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XTN.7" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XTN.8" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XTN.9" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XTN.10" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XTN.11" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="XTN.12" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>



    <!--
        COMPONENT CE.1
    -->
    <xsd:attributeGroup name="CE.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Identifier"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Identifier</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Identifier</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CE.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.1" type="CE.1.CONTENT"/>
    <!--
        COMPONENT CE.2
    -->
    <xsd:attributeGroup name="CE.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Text"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Text</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Text</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CE.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.2" type="CE.2.CONTENT"/>
    <!--
        COMPONENT CE.3
    -->
    <xsd:attributeGroup name="CE.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70396"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Name of Coding System"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Name of Coding System</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70396</hl7:Table>
                <hl7:LongName>Name of Coding System</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="CE.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.3" type="CE.3.CONTENT"/>
    <!--
        COMPONENT CE.4
    -->
    <xsd:attributeGroup name="CE.4.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Alternate Identifier"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Alternate Identifier</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Alternate Identifier</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CE.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.4" type="CE.4.CONTENT"/>
    <!--
        COMPONENT CE.5
    -->
    <xsd:attributeGroup name="CE.5.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Alternate Text"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.5.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Alternate Text</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Alternate Text</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CE.5.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.5" type="CE.5.CONTENT"/>
    <!--
        COMPONENT CE.6
    -->
    <xsd:attributeGroup name="CE.6.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70396"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Name of Alternate Coding System"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CE.6.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Name of Alternate Coding System</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70396</hl7:Table>
                <hl7:LongName>Name of Alternate Coding System</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="CE.6.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CE.6" type="CE.6.CONTENT"/>

     <!--
        COMPONENT CWE.1
    -->
    <xsd:attributeGroup name="CWE.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Identifier"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CWE.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Identifier</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Identifier</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CWE.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CWE.1" type="CWE.1.CONTENT"/>
    <!--
        COMPONENT CWE.2
    -->
    <xsd:attributeGroup name="CWE.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Text"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CWE.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Text</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Text</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CWE.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CWE.2" type="CWE.2.CONTENT"/>
    <!--
        COMPONENT CWE.3
    -->
    <xsd:attributeGroup name="CWE.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70396"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Name of Coding System"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CWE.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Name of Coding System</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70396</hl7:Table>
                <hl7:LongName>Name of Coding System</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="CWE.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CWE.3" type="CWE.3.CONTENT"/>
    <!--
        COMPONENT CWE.4
    -->
    <xsd:attributeGroup name="CWE.4.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Alternate Identifier"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CWE.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Alternate Identifier</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Alternate Identifier</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CWE.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CWE.4" type="CWE.4.CONTENT"/>
    <!--
        COMPONENT CWE.5
    -->
    <xsd:attributeGroup name="CWE.5.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Alternate Text"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CWE.5.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Alternate Text</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Alternate Text</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CWE.5.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CWE.5" type="CWE.5.CONTENT"/>
    <!--
        COMPONENT CWE.6
    -->
    <xsd:attributeGroup name="CWE.6.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70396"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Name of Alternate Coding System"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CWE.6.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Name of Alternate Coding System</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70396</hl7:Table>
                <hl7:LongName>Name of Alternate Coding System</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="CWE.6.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CWE.6" type="CWE.6.CONTENT"/>
    <!--
        COMPONENT CWE.7
    -->
    <xsd:attributeGroup name="CWE.7.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Coding System Version ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CWE.7.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Coding System Version ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Coding System Version ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CWE.7.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CWE.7" type="CWE.7.CONTENT"/>
    <!--
        COMPONENT CWE.8
    -->
    <xsd:attributeGroup name="CWE.8.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Alternate Coding System Version ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CWE.8.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Alternate Coding System Version ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Alternate Coding System Version ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CWE.8.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CWE.8" type="CWE.8.CONTENT"/>
    <!--
        COMPONENT CWE.9
    -->
    <xsd:attributeGroup name="CWE.9.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Original Text"/>
    </xsd:attributeGroup>
    <xsd:complexType name="CWE.9.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Original Text</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Original Text</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="CWE.9.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="CWE.9" type="CWE.9.CONTENT"/>

    <!--
        COMPONENT ELD.1
    -->
    <xsd:attributeGroup name="ELD.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Segment ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ELD.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Segment ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Segment ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="ELD.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="ELD.1" type="ELD.1.CONTENT"/>
    <!--
        COMPONENT ELD.2
    -->
    <xsd:attributeGroup name="ELD.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Segment Sequence"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ELD.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Segment Sequence</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>Segment Sequence</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="ELD.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="ELD.2" type="ELD.2.CONTENT"/>
    <!--
        COMPONENT ELD.3
    -->
    <xsd:attributeGroup name="ELD.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Field Position"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ELD.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Field Position</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>Field Position</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="ELD.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="ELD.3" type="ELD.3.CONTENT"/>
    <!--
        COMPONENT ELD.4
    -->
    <xsd:attributeGroup name="ELD.4.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="CE"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70357"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Code Identifying Error"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ELD.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Code Identifying Error</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>CE</hl7:Type>
                <hl7:Table>HL70357</hl7:Table>
                <hl7:LongName>Code Identifying Error</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="CE">
                <xsd:attributeGroup ref="ELD.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="ELD.4" type="ELD.4.CONTENT"/>

     <!--
        COMPONENT EI.1
    -->
    <xsd:attributeGroup name="EI.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Entity Identifier"/>
    </xsd:attributeGroup>
    <xsd:complexType name="EI.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Entity Identifier</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Entity Identifier</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="EI.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="EI.1" type="EI.1.CONTENT"/>
    <!--
        COMPONENT EI.2
    -->
    <xsd:attributeGroup name="EI.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="IS"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70363"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Namespace ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="EI.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Namespace ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>IS</hl7:Type>
                <hl7:Table>HL70363</hl7:Table>
                <hl7:LongName>Namespace ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="IS">
                <xsd:attributeGroup ref="EI.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="EI.2" type="EI.2.CONTENT"/>
    <!--
        COMPONENT EI.3
    -->
    <xsd:attributeGroup name="EI.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Universal ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="EI.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Universal ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Universal ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="EI.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="EI.3" type="EI.3.CONTENT"/>
    <!--
        COMPONENT EI.4
    -->
    <xsd:attributeGroup name="EI.4.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70301"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Universal ID Type"/>
    </xsd:attributeGroup>
    <xsd:complexType name="EI.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Universal ID Type</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70301</hl7:Table>
                <hl7:LongName>Universal ID Type</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="EI.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="EI.4" type="EI.4.CONTENT"/>

 <!--
        COMPONENT ERL.1
    -->
    <xsd:attributeGroup name="ERL.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Segment ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERL.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Segment ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Segment ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="ERL.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="ERL.1" type="ERL.1.CONTENT"/>
    <!--
        COMPONENT ERL.2
    -->
    <xsd:attributeGroup name="ERL.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Segment Sequence"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERL.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Segment Sequence</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>Segment Sequence</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="ERL.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="ERL.2" type="ERL.2.CONTENT"/>
    <!--
        COMPONENT ERL.3
    -->
    <xsd:attributeGroup name="ERL.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Field Position"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERL.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Field Position</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>Field Position</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="ERL.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="ERL.3" type="ERL.3.CONTENT"/>
  
    <!--
        COMPONENT ERL.4
    -->
    <xsd:attributeGroup name="ERL.4.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Field Repetition"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERL.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Field Repetition</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>Field Repetition</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="ERL.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="ERL.4" type="ERL.4.CONTENT"/>
    <!--
        COMPONENT ERL.5
    -->
    <xsd:attributeGroup name="ERL.5.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Component Number"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERL.5.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Component Number</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>Component Number</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="ERL.5.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="ERL.5" type="ERL.5.CONTENT"/>
    <!--
        COMPONENT ERL.6
    -->
    <xsd:attributeGroup name="ERL.6.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Sub-Component Number"/>
    </xsd:attributeGroup>
    <xsd:complexType name="ERL.6.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Sub-Component Number</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>Sub-Component Number</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="ERL.6.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="ERL.6" type="ERL.6.CONTENT"/>

     <!--
        COMPONENT HD.1
    -->
    <xsd:attributeGroup name="HD.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="IS"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70300"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Namespace ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="HD.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Namespace ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>IS</hl7:Type>
                <hl7:Table>HL70300</hl7:Table>
                <hl7:LongName>Namespace ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="IS">
                <xsd:attributeGroup ref="HD.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="HD.1" type="HD.1.CONTENT"/>
    <!--
        COMPONENT HD.2
    -->
    <xsd:attributeGroup name="HD.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Universal ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="HD.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Universal ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Universal ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="HD.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="HD.2" type="HD.2.CONTENT"/>
    <!--
        COMPONENT HD.3
    -->
    <xsd:attributeGroup name="HD.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70301"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Universal ID Type"/>
    </xsd:attributeGroup>
    <xsd:complexType name="HD.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Universal ID Type</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70301</hl7:Table>
                <hl7:LongName>Universal ID Type</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="HD.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="HD.3" type="HD.3.CONTENT"/>

    <!--
        COMPONENT MSG.1
    -->
    <xsd:attributeGroup name="MSG.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70076"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Message Code"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSG.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Message Code</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70076</hl7:Table>
                <hl7:LongName>Message Code</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSG.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSG.1" type="MSG.1.CONTENT"/>
    <!--
        COMPONENT MSG.2
    -->
    <xsd:attributeGroup name="MSG.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70003"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Trigger Event"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSG.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Trigger Event</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70003</hl7:Table>
                <hl7:LongName>Trigger Event</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSG.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSG.2" type="MSG.2.CONTENT"/>
    <!--
        COMPONENT MSG.3
    -->
    <xsd:attributeGroup name="MSG.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70354"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Message Structure"/>
    </xsd:attributeGroup>
    <xsd:complexType name="MSG.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Message Structure</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70354</hl7:Table>
                <hl7:LongName>Message Structure</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="MSG.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="MSG.3" type="MSG.3.CONTENT"/>

 <!--
        COMPONENT PT.1
    -->
    <xsd:attributeGroup name="PT.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70103"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Processing ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="PT.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Processing ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70103</hl7:Table>
                <hl7:LongName>Processing ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="PT.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PT.1" type="PT.1.CONTENT"/>
    <!--
        COMPONENT PT.2
    -->
    <xsd:attributeGroup name="PT.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70207"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Processing Mode"/>
    </xsd:attributeGroup>
    <xsd:complexType name="PT.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Processing Mode</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70207</hl7:Table>
                <hl7:LongName>Processing Mode</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="PT.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="PT.2" type="PT.2.CONTENT"/>	

     <!--
        COMPONENT TS.1
    -->
    <xsd:attributeGroup name="TS.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="DTM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Time"/>
    </xsd:attributeGroup>
    <xsd:complexType name="TS.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Time</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>DTM</hl7:Type>
                <hl7:LongName>Time</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="DTM">
                <xsd:attributeGroup ref="TS.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TS.1" type="TS.1.CONTENT"/>
    <!--
        COMPONENT TS.2
    -->
    <xsd:attributeGroup name="TS.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70529"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Degree of Precision"/>
    </xsd:attributeGroup>
    <xsd:complexType name="TS.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Degree of Precision</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70529</hl7:Table>
                <hl7:LongName>Degree of Precision</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="TS.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TS.2" type="TS.2.CONTENT"/>

     <!--
        COMPONENT VID.1
    -->
    <xsd:attributeGroup name="VID.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70104"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Version ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="VID.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Version ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70104</hl7:Table>
                <hl7:LongName>Version ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="VID.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="VID.1" type="VID.1.CONTENT"/>
    <!--
        COMPONENT VID.2
    -->
    <xsd:attributeGroup name="VID.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="CE"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70399"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Internationalization Code"/>
    </xsd:attributeGroup>
    <xsd:complexType name="VID.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Internationalization Code</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>CE</hl7:Type>
                <hl7:Table>HL70399</hl7:Table>
                <hl7:LongName>Internationalization Code</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="CE">
                <xsd:attributeGroup ref="VID.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="VID.2" type="VID.2.CONTENT"/>
    <!--
        COMPONENT VID.3
    -->
    <xsd:attributeGroup name="VID.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="CE"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="International Version ID"/>
    </xsd:attributeGroup>
    <xsd:complexType name="VID.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">International Version ID</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>CE</hl7:Type>
                <hl7:LongName>International Version ID</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="CE">
                <xsd:attributeGroup ref="VID.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="VID.3" type="VID.3.CONTENT"/>

     <!--
        COMPONENT XON.1
    -->
    <xsd:attributeGroup name="XON.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Organization Name"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XON.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Organization Name</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Organization Name</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="XON.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XON.1" type="XON.1.CONTENT"/>
    <!--
        COMPONENT XON.2
    -->
    <xsd:attributeGroup name="XON.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="IS"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70204"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Organization Name Type Code"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XON.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Organization Name Type Code</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>IS</hl7:Type>
                <hl7:Table>HL70204</hl7:Table>
                <hl7:LongName>Organization Name Type Code</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="IS">
                <xsd:attributeGroup ref="XON.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XON.2" type="XON.2.CONTENT"/>
    <!--
        COMPONENT XON.3
    -->
    <xsd:attributeGroup name="XON.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="ID Number"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XON.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">ID Number</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>ID Number</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="XON.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XON.3" type="XON.3.CONTENT"/>
    <!--
        COMPONENT XON.4
    -->
    <xsd:attributeGroup name="XON.4.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Check Digit"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XON.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Check Digit</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>Check Digit</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="XON.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XON.4" type="XON.4.CONTENT"/>
    <!--
        COMPONENT XON.5
    -->
    <xsd:attributeGroup name="XON.5.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70061"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Check Digit Scheme"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XON.5.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Check Digit Scheme</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70061</hl7:Table>
                <hl7:LongName>Check Digit Scheme</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="XON.5.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XON.5" type="XON.5.CONTENT"/>
    <!--
        COMPONENT XON.6
    -->
    <xsd:attributeGroup name="XON.6.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="HD"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70363"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Assigning Authority"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XON.6.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Assigning Authority</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>HD</hl7:Type>
                <hl7:Table>HL70363</hl7:Table>
                <hl7:LongName>Assigning Authority</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="HD">
                <xsd:attributeGroup ref="XON.6.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="XON.6" type="XON.6.CONTENT"/>
    <!--
        COMPONENT XON.7
    -->
    <xsd:attributeGroup name="XON.7.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70203"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Identifier Type Code"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XON.7.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Identifier Type Code</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70203</hl7:Table>
                <hl7:LongName>Identifier Type Code</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="XON.7.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XON.7" type="XON.7.CONTENT"/>
    <!--
        COMPONENT XON.8
    -->
    <xsd:attributeGroup name="XON.8.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="HD"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Assigning Facility"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XON.8.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Assigning Facility</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>HD</hl7:Type>
                <hl7:LongName>Assigning Facility</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="HD">
                <xsd:attributeGroup ref="XON.8.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="XON.8" type="XON.8.CONTENT"/>
    <!--
        COMPONENT XON.9
    -->
    <xsd:attributeGroup name="XON.9.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70465"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Name Representation Code"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XON.9.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Name Representation Code</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70465</hl7:Table>
                <hl7:LongName>Name Representation Code</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="XON.9.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XON.9" type="XON.9.CONTENT"/>
    <!--
        COMPONENT XON.10
    -->
    <xsd:attributeGroup name="XON.10.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Organization Identifier"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XON.10.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Organization Identifier</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Organization Identifier</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="XON.10.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XON.10" type="XON.10.CONTENT"/>
    <!--
        COMPONENT XTN.1
    -->
    <xsd:attributeGroup name="XTN.1.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Telephone Number"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XTN.1.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Telephone Number</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Telephone Number</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="XTN.1.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.1" type="XTN.1.CONTENT"/>
    <!--
        COMPONENT XTN.2
    -->
    <xsd:attributeGroup name="XTN.2.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70201"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Telecommunication Use Code"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XTN.2.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Telecommunication Use Code</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70201</hl7:Table>
                <hl7:LongName>Telecommunication Use Code</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="XTN.2.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.2" type="XTN.2.CONTENT"/>
    <!--
        COMPONENT XTN.3
    -->
    <xsd:attributeGroup name="XTN.3.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ID"/>
        <xsd:attribute name="Table" type="xsd:string" fixed="HL70202"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Telecommunication Equipment Type"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XTN.3.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Telecommunication Equipment Type</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ID</hl7:Type>
                <hl7:Table>HL70202</hl7:Table>
                <hl7:LongName>Telecommunication Equipment Type</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ID">
                <xsd:attributeGroup ref="XTN.3.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.3" type="XTN.3.CONTENT"/>
    <!--
        COMPONENT XTN.4
    -->
    <xsd:attributeGroup name="XTN.4.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Email Address"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XTN.4.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Email Address</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Email Address</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="XTN.4.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.4" type="XTN.4.CONTENT"/>
    <!--
        COMPONENT XTN.5
    -->
    <xsd:attributeGroup name="XTN.5.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Country Code"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XTN.5.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Country Code</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>Country Code</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="XTN.5.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.5" type="XTN.5.CONTENT"/>
    <!--
        COMPONENT XTN.6
    -->
    <xsd:attributeGroup name="XTN.6.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Area/City Code"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XTN.6.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Area/City Code</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>Area/City Code</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="XTN.6.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.6" type="XTN.6.CONTENT"/>
    <!--
        COMPONENT XTN.7
    -->
    <xsd:attributeGroup name="XTN.7.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Local Number"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XTN.7.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Local Number</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>Local Number</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="XTN.7.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.7" type="XTN.7.CONTENT"/>
    <!--
        COMPONENT XTN.8
    -->
    <xsd:attributeGroup name="XTN.8.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="NM"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Extension"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XTN.8.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Extension</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>NM</hl7:Type>
                <hl7:LongName>Extension</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="NM">
                <xsd:attributeGroup ref="XTN.8.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.8" type="XTN.8.CONTENT"/>
    <!--
        COMPONENT XTN.9
    -->
    <xsd:attributeGroup name="XTN.9.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Any Text"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XTN.9.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Any Text</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Any Text</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="XTN.9.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.9" type="XTN.9.CONTENT"/>
    <!--
        COMPONENT XTN.10
    -->
    <xsd:attributeGroup name="XTN.10.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Extension Prefix"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XTN.10.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Extension Prefix</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Extension Prefix</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="XTN.10.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.10" type="XTN.10.CONTENT"/>
    <!--
        COMPONENT XTN.11
    -->
    <xsd:attributeGroup name="XTN.11.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Speed Dial Code"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XTN.11.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Speed Dial Code</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Speed Dial Code</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="XTN.11.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.11" type="XTN.11.CONTENT"/>
    <!--
        COMPONENT XTN.12
    -->
    <xsd:attributeGroup name="XTN.12.ATTRIBUTES">
        <xsd:attribute name="Type" type="xsd:string" fixed="ST"/>
        <xsd:attribute name="LongName" type="xsd:string" fixed="Unformatted Telephone number"/>
    </xsd:attributeGroup>
    <xsd:complexType name="XTN.12.CONTENT">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">Unformatted Telephone number</xsd:documentation>
            <xsd:appinfo source="urn:com.sun:encoder">
                <hl7:Type>ST</hl7:Type>
                <hl7:LongName>Unformatted Telephone number</hl7:LongName>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="ST">
                <xsd:attributeGroup ref="XTN.12.ATTRIBUTES"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="XTN.12" type="XTN.12.CONTENT"/>
</xsd:schema>