driver-tests/bpelse/misc/MiscBpel/src/duplicateNSbpel/duplicateNSbpel.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:duplicateNSbpelTargetNamespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="duplicateNSbpelDefinition" targetNamespace="urn:duplicateNSbpelTargetNamespace">
    <types>
        <xsd:schema xmlns:ns1="urn:duplicateNSbpelTargetNamespace" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:duplicateNSbpelTargetNamespace">
            
                    
                    
                    
                    
                    <xsd:complexType name="duplicateNSbpelType">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="duplicateNSbpelMessage">
        <part name="duplicateNSbpelPart" type="tns:duplicateNSbpelType"/>
    </message>
    <portType name="duplicateNSbpelPortType">
        <operation name="duplicateNSbpelOperation">
            <input message="tns:duplicateNSbpelMessage"/>
            <output message="tns:duplicateNSbpelMessage"/>
        </operation>
        <operation name="duplicateNSbpelOperation1">
            <input message="tns:duplicateNSbpelMessage"/>
            <output message="tns:duplicateNSbpelMessage"/>
        </operation>
    </portType>
    <binding name="duplicateNSbpelBinding" type="tns:duplicateNSbpelPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="duplicateNSbpelOperation">
            <soap:operation soapAction="duplicateNSbpelOperation"/>
            <input>
                <soap:body parts="duplicateNSbpelPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="duplicateNSbpelPart" use="literal"/>
            </output>
        </operation>
        <operation name="duplicateNSbpelOperation1">
            <soap:operation soapAction="duplicateNSbpelOperation1"/>
            <input>
                <soap:body parts="duplicateNSbpelPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="duplicateNSbpelPart" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="duplicateNSbpelService">
        <port binding="tns:duplicateNSbpelBinding" name="duplicateNSbpelPort">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/duplicateNSbpel"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="duplicateNSbpelServiceLinkType">
        <plnk:role name="duplicateNSbpelServerRole" portType="tns:duplicateNSbpelPortType"/>
    </plnk:partnerLinkType>
</definitions>
