driver-tests/bpelse/misc/MiscBpel/src/duplicateNSbpel/duplNSsamePartnerL.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:duplNSsamePartnerLTargetNamespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="duplNSsamePartnerLDefinition" targetNamespace="urn:duplNSsamePartnerLTargetNamespace">
    <types>
        <xsd:schema xmlns:ns1="urn:duplNSsamePartnerLTargetNamespace" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:duplNSsamePartnerLTargetNamespace">
            
                    
                    
                    
                    
                    <xsd:complexType name="duplNSsamePartnerLType">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="duplNSsamePartnerLMessage">
        <part name="duplNSsamePartnerLPart" type="tns:duplNSsamePartnerLType"/>
    </message>
    <portType name="duplNSsamePartnerLPortType">
        <operation name="duplNSsamePartnerLOperation">
            <input message="tns:duplNSsamePartnerLMessage"/>
            <output message="tns:duplNSsamePartnerLMessage"/>
        </operation>
        <operation name="duplNSsamePartnerLOperation1">
            <input message="tns:duplNSsamePartnerLMessage"/>
            <output message="tns:duplNSsamePartnerLMessage"/>
        </operation>
    </portType>
    <binding name="duplNSsamePartnerLBinding" type="tns:duplNSsamePartnerLPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="duplNSsamePartnerLOperation">
            <soap:operation soapAction="duplNSsamePartnerLOperation"/>
            <input>
                <soap:body parts="duplNSsamePartnerLPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="duplNSsamePartnerLPart" use="literal"/>
            </output>
        </operation>
        <operation name="duplNSsamePartnerLOperation1">
            <soap:operation soapAction="duplNSsamePartnerLOperation1"/>
            <input>
                <soap:body parts="duplNSsamePartnerLPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="duplNSsamePartnerLPart" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="duplNSsamePartnerLService">
        <port binding="tns:duplNSsamePartnerLBinding" name="duplNSsamePartnerLPort">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/duplNSsamePartnerL"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="duplNSsamePartnerLServiceLinkType">
        <plnk:role name="duplNSsamePartnerLServerRole" portType="tns:duplNSsamePartnerLPortType"/>
    </plnk:partnerLinkType>
</definitions>
