driver-tests/bpelse/misc/MiscBpel/src/duplicateNSbpel/duplNS_samePrtnrL_sameOpr.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:duplNS_samePrtnrL_sameOpr_TargetNamespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="duplNS_samePrtnrL_sameOprDefinition" targetNamespace="urn:duplNS_samePrtnrL_sameOpr_TargetNamespace">
    <types>
        <xsd:schema xmlns:ns1="urn:duplNS_samePrtnrL_sameOpr_TargetNamespace" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:duplNS_samePrtnrL_sameOpr_TargetNamespace">
            
                    
                    
                    
                    
                    <xsd:complexType name="duplNS_samePrtnrL_sameOpr_Type">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="duplNS_samePrtnrL_sameOpr_Message">
        <part name="duplNS_samePrtnrL_sameOpr_Part" type="tns:duplNS_samePrtnrL_sameOpr_Type"/>
    </message>
    <portType name="duplNS_samePrtnrL_sameOpr_PortType">
        <operation name="duplNS_samePrtnrL_sameOpr_Operation">
            <input message="tns:duplNS_samePrtnrL_sameOpr_Message"/>
            <output message="tns:duplNS_samePrtnrL_sameOpr_Message"/>
        </operation>
        <operation name="duplNS_samePrtnrL_sameOpr_Operation1">
            <input message="tns:duplNS_samePrtnrL_sameOpr_Message"/>
            <output message="tns:duplNS_samePrtnrL_sameOpr_Message"/>
        </operation>
    </portType>
    <binding name="duplNS_samePrtnrL_sameOpr_Binding" type="tns:duplNS_samePrtnrL_sameOpr_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="duplNS_samePrtnrL_sameOpr_Operation">
            <soap:operation soapAction="duplNS_samePrtnrL_sameOpr_Operation"/>
            <input>
                <soap:body parts="duplNS_samePrtnrL_sameOpr_Part" use="literal"/>
            </input>
            <output>
                <soap:body parts="duplNS_samePrtnrL_sameOpr_Part" use="literal"/>
            </output>
        </operation>
        <operation name="duplNS_samePrtnrL_sameOpr_Operation1">
            <soap:operation soapAction="duplNS_samePrtnrL_sameOpr_Operation1"/>
            <input>
                <soap:body parts="duplNS_samePrtnrL_sameOpr_Part" use="literal"/>
            </input>
            <output>
                <soap:body parts="duplNS_samePrtnrL_sameOpr_Part" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="duplNS_samePrtnrL_sameOpr_Service">
        <port binding="tns:duplNS_samePrtnrL_sameOpr_Binding" name="duplNS_samePrtnrL_sameOpr_Port">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/duplNS_samePrtnrL_sameOpr"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="duplNS_samePrtnrL_sameOpr_ServiceLinkType">
        <plnk:role name="duplNS_samePrtnrL_sameOpr_ServerRole" portType="tns:duplNS_samePrtnrL_sameOpr_PortType"/>
    </plnk:partnerLinkType>
</definitions>
