contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl/xsd/AnyTypes_wsdl_expected_schema.xml

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="it.imolinfo.jbi4corba.test" xmlns:tns="http://test.jbi4corba.imolinfo.it/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://test.jbi4corba.imolinfo.it/">
<xs:import namespace="it.imolinfo.jbi4corba.test" schemaLocation="TypeDef_it.imolinfo.jbi4corba.test.xsd"/>
<xs:complexType name="complexStruct1">
<xs:sequence>
<xs:element name="fieldBoolean" type="xs:boolean"/>
<xs:element name="fieldChar" type="xs:unsignedShort"/>
<xs:element maxOccurs="unbounded" name="fieldAny" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TempUnion">
<xs:choice>
<xs:element name="two_format" type="xs:anyType"/>
<xs:element name="numeric" type="xs:int"/>
<xs:element name="alfanumeric" type="xs:string"/>
</xs:choice>
</xs:complexType>
<xs:complexType name="arrayOfAny">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="value" type="ns1:anyArray"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="complexStruct1Array">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:complexStruct1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="arrayOfAnyArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:arrayOfAny"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="TempUnionArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:TempUnion"/>
</xs:sequence>
</xs:complexType>
</xs:schema>