contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl/xsd/Echo_fault_expected_schema1.xml

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://fault.generator.webservice.test.jbi4corba.imolinfo.it/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://fault.generator.webservice.test.jbi4corba.imolinfo.it/">
<xs:complexType name="echoStruct">
<xs:sequence>
<xs:element name="fieldBoolean" type="xs:boolean"/>
<xs:element name="fieldChar" type="xs:unsignedShort"/>
<xs:element name="fieldString" type="xs:string"/>
<xs:element name="fieldLong" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="echoStructArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:echoStruct"/>
</xs:sequence>
</xs:complexType>
</xs:schema>