contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl/xsd/EchoMultDyn_schema_expected0.xml

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.w3.org/2005/08/addressing" xmlns:tns="http://testechoMultdyn.test.jbi4corba.imolinfo.it/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://testechoMultdyn.test.jbi4corba.imolinfo.it/">
<xs:import namespace="http://www.w3.org/2005/08/addressing" schemaLocation="ws-addr.xsd"/>
<xs:complexType name="echoStruct">
<xs:sequence>
<xs:element name="fieldEcho2" type="ns1:EndpointReferenceType"/>
<xs:element name="persona" type="tns:persona"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="persona">
<xs:sequence>
<xs:element name="echopersona" type="ns1:EndpointReferenceType"/>
<xs:element name="nome" type="xs:string"/>
<xs:element name="cognome" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="echoStructArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:echoStruct"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="personaArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:persona"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
