contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl/xsd/EchoWithMultiLevelIncludes_expected_schema0.xml

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://test1/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://test1/">
<xs:complexType name="echoStruct">
<xs:sequence>
<xs:element name="fieldBoolean" type="xs:boolean"/>
<xs:element name="fieldString" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="echoStructArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:echoStruct"/>
</xs:sequence>
</xs:complexType>
</xs:schema>