contrib-imola/corba-bc/jbi4corba/src/test/etc/wsdl/xsd/EchoWithMultiLevelIncludes_expected_schema1.xml

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://test1/" xmlns:tns="http://test2/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://test2/">
<xs:import namespace="http://test1/" schemaLocation="TypeDef_test1.xsd"/>
<xs:complexType name="someStruct">
<xs:sequence>
<xs:element name="someStruct" type="ns1:echoStruct"/>
<xs:element name="fieldBoolean" type="xs:boolean"/>
<xs:element name="fieldString" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="someStructArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:someStruct"/>
</xs:sequence>
</xs:complexType>
</xs:schema>