contrib-imola/cics-bc/integration-test/test-nested/su4/src/main/resources/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://nested.test.jbi4cics.imolinfo.it" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://nested.test.jbi4cics.imolinfo.it">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://nested.test.jbi4cics.imolinfo.it" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:complexType name="NestedOutputBean">
<xsd:sequence>
<xsd:element minOccurs="0" name="CA_RETCODE1" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="CA_RETCODE2" nillable="true" type="tns:CA_RETCODE2"/>
<xsd:element minOccurs="0" name="CA_RETCODE4" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CA_RETCODE2">
<xsd:sequence>
<xsd:element minOccurs="0" name="CA_RETCODE3" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="NestedOperation">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="tns:NestedOutputBean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="NestedOperationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="tns:NestedOutputBean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="NestedOperationRequest">
    <wsdl:part element="tns:NestedOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="NestedOperationResponse">
    <wsdl:part element="tns:NestedOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="NestedServicePortType">
    <wsdl:operation name="NestedOperation">
      <wsdl:input message="tns:NestedOperationRequest" name="NestedOperationRequest"/>
      <wsdl:output message="tns:NestedOperationResponse" name="NestedOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NestedServiceJBIPortBinding" type="tns:NestedServicePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NestedOperation">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="NestedOperationRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="NestedOperationResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NestedService">
    <wsdl:port binding="tns:NestedServiceJBIPortBinding" name="NestedServiceJBIPort">
      <wsdlsoap:address location="http://localhost:8192/Service/NestedService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>