driver-tests/bpelse/assign/AssignJbi/src/jbiServiceUnits/AssignBpel/Assign/schema/Employee.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/examples/EmployeeNS"
            xmlns:tns="http://xml.netbeans.org/examples/EmployeeNS"
            elementFormDefault="qualified"
            xmlns:ns0="http://xml.netbeans.org/examples/EmployeeInfoNS" 
            xmlns:ns1="http://xml.netbeans.org/examples/AddressNS" >
    <xsd:import namespace="http://xml.netbeans.org/examples/EmployeeInfoNS" schemaLocation="EmployeeInfo.xsd"/>
    <xsd:import namespace="http://xml.netbeans.org/examples/AddressNS" schemaLocation="Address.xsd"/>

	<xsd:element name="Employee">
    	<xsd:complexType>
	  	<xsd:sequence>
			<xsd:element name="person" type="ns0:EmployeeExtType"/>
			<xsd:element name="home" type="ns1:USAddress"/>
			<xsd:element name="work" type="ns1:USAddress" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="department" type="xsd:string"/>
	</xsd:complexType>
  	</xsd:element>

</xsd:schema>
