driver-tests/pojose/provider1/caEchos/src/jbiServiceUnits/caEchos.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="caEchos"
             xmlns:tns="caEchos" 
             xmlns:ns="http://tst.pojo.sun.com/EchoString2String/"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:ns1="http://tst.pojo.sun.com/EchoString2Void/"
             xmlns:ns2="http://tst.pojo.sun.com/EchoSource2Void/"
             xmlns:ns3="http://tst.pojo.sun.com/EchoSource2Source/"
             xmlns:ns4="http://tst.pojo.sun.com/EchoNode2Void/"
             xmlns:ns5="http://tst.pojo.sun.com/EchoNode2Node/"
             xmlns:ns5a="http://tst.pojo.sun.com/EchoDoc2Doc/"
             xmlns:ns6="http://tst.pojo.sun.com/EchoNM2Void/"
             xmlns:ns7="http://tst.pojo.sun.com/EchoNM2NM/"
             xmlns:ns8="http://tst.pojo.sun.com/EchoME2Void/"
             xmlns:ns9="http://tst.pojo.sun.com/EchoME2ME/">
    <import namespace="http://tst.pojo.sun.com/EchoString2String/" location="../jbiServiceUnits/jseEchos/com/sun/pojo/tst/EchoString2String.wsdl"/>
    <import namespace="http://tst.pojo.sun.com/EchoString2Void/" location="../jbiServiceUnits/jseEchos/com/sun/pojo/tst/EchoString2Void.wsdl"/>
    <import namespace="http://tst.pojo.sun.com/EchoSource2Void/" location="../jbiServiceUnits/jseEchos/com/sun/pojo/tst/EchoSource2Void.wsdl"/>
    <import namespace="http://tst.pojo.sun.com/EchoSource2Source/" location="../jbiServiceUnits/jseEchos/com/sun/pojo/tst/EchoSource2Source.wsdl"/>
    <import namespace="http://tst.pojo.sun.com/EchoNode2Void/" location="../jbiServiceUnits/jseEchos/com/sun/pojo/tst/EchoNode2Void.wsdl"/>
    <import namespace="http://tst.pojo.sun.com/EchoNode2Node/" location="../jbiServiceUnits/jseEchos/com/sun/pojo/tst/EchoNode2Node.wsdl"/>
    <import namespace="http://tst.pojo.sun.com/EchoDoc2Doc/" location="../jbiServiceUnits/jseEchos/com/sun/pojo/tst/EchoDoc2Doc.wsdl"/>
    <import namespace="http://tst.pojo.sun.com/EchoNM2Void/" location="../jbiServiceUnits/jseEchos/com/sun/pojo/tst/EchoNM2Void.wsdl"/>
    <import namespace="http://tst.pojo.sun.com/EchoNM2NM/" location="../jbiServiceUnits/jseEchos/com/sun/pojo/tst/EchoNM2NM.wsdl"/>
    <import namespace="http://tst.pojo.sun.com/EchoME2Void/" location="../jbiServiceUnits/jseEchos/com/sun/pojo/tst/EchoME2Void.wsdl"/>
    <import namespace="http://tst.pojo.sun.com/EchoME2ME/" location="../jbiServiceUnits/jseEchos/com/sun/pojo/tst/EchoME2ME.wsdl"/>
    <binding name="casaBinding2" type="ns:EchoString2StringInterface">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="EchoString2StringOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="caEchos"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="caEchos"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding3" type="ns1:EchoString2VoidInterface">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="EchoString2VoidOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="caEchos"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding4" type="ns2:EchoSource2VoidInterface">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="EchoSource2VoidOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="caEchos"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding5" type="ns3:EchoSource2SourceInterface">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="EchoSource2SourceOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="caEchos"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="caEchos"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding6" type="ns4:EchoNode2VoidInterface">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="EchoNode2VoidOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="caEchos"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding7" type="ns5:EchoNode2NodeInterface">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="EchoNode2NodeOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="caEchos"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="caEchos"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding7a" type="ns5a:EchoDoc2DocInterface">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="EchoDoc2DocOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="caEchos"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="caEchos"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding8" type="ns6:EchoNM2VoidInterface">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="EchoNM2VoidOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="caEchos"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding9" type="ns7:EchoNM2NMInterface">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="EchoNM2NMOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="caEchos"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="caEchos"/>
            </output>
        </operation>
    </binding>
    <binding name="casaBinding10" type="ns8:EchoME2VoidInterface">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="EchoME2VoidOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="caEchos"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding11" type="ns9:EchoME2MEInterface">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="EchoME2MEOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="caEchos"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="caEchos"/>
            </output>
        </operation>
    </binding>

    <service name="casaService2">
        <port name="str2strPort" binding="tns:casaBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/casaService2/casaPort2"/>
        </port>
    </service>
    <service name="casaService3">
        <port name="str2voidPort" binding="tns:casaBinding3">
            <soap:address location="http://localhost:${HttpDefaultPort}/casaService3/casaPort2"/>
        </port>
    </service>
    <service name="casaService4">
        <port name="src2voidPort" binding="tns:casaBinding4">
            <soap:address location="http://localhost:${HttpDefaultPort}/casaService4/casaPort2"/>
        </port>
    </service>
    <service name="casaService5">
        <port name="src2srcPort" binding="tns:casaBinding5">
            <soap:address location="http://localhost:${HttpDefaultPort}/casaService5/casaPort3"/>
        </port>
    </service>
    <service name="casaService6">
        <port name="node2voidPort" binding="tns:casaBinding6">
            <soap:address location="http://localhost:${HttpDefaultPort}/casaService6/casaPort4"/>
        </port>
    </service>
    <service name="casaService7">
        <port name="node2nodePort" binding="tns:casaBinding7">
            <soap:address location="http://localhost:${HttpDefaultPort}/casaService7/casaPort5"/>
        </port>
    </service>
    <service name="casaService7a">
        <port name="doc2docPort" binding="tns:casaBinding7a">
            <soap:address location="http://localhost:${HttpDefaultPort}/casaService7a/casaPort5a"/>
        </port>
    </service>

    <service name="casaService8">
        <port name="nm2voidPort" binding="tns:casaBinding8">
            <soap:address location="http://localhost:${HttpDefaultPort}/casaService8/casaPort6"/>
        </port>
    </service>
    <service name="casaService9">
        <port name="nm2nmPort" binding="tns:casaBinding9">
            <soap:address location="http://localhost:${HttpDefaultPort}/casaService9/casaPort7"/>
        </port>
    </service>
    <service name="casaService10">
        <port name="me2voidPort" binding="tns:casaBinding10">
            <soap:address location="http://localhost:${HttpDefaultPort}/casaService10/casaPort8"/>
        </port>
    </service>
    <service name="casaService11">
        <port name="me2mePort" binding="tns:casaBinding11">
            <soap:address location="http://localhost:${HttpDefaultPort}/casaService11/casaPort9"/>
        </port>
    </service>
</definitions>
