ojc-core/component-common/xmltransformer/test/data/Employee/mySchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 	targetNamespace="http://localhost/myXpathTest"
                attributeFormDefault="unqualified"
                elementFormDefault="qualified"
	   	xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="http://www.w3.org/2001/xml.xsd" />

  <xs:element name="birthdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="month" type="xs:string" />
        <xs:element name="day" type="xs:int" />
        <xs:element name="year" type="xs:int" />
      </xs:sequence>  
    </xs:complexType>
  </xs:element>

</xs:schema>
