driver-tests/httpsoapbc/SOAPAttachmentTests/HelloWithAttachmentTest/src/InboundInLinedOutboundAttch/InboundInLinedOutboundAttch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="InboundInLinedOutboundAttchworldWithAttachment"
    xmlns:types="http://example.org/mime/data/InboundInlined"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:tns="http://example.org/mime/InboundInlined"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    targetNamespace="http://example.org/mime/InboundInlined">

	<wsdl:types>
		<schema 
			xmlns="http://www.w3.org/2001/XMLSchema" 
			targetNamespace="http://example.org/mime/data/InboundInlined">
        <element name="Imagebody" type="xsd:base64Binary"/>
         <element name="body" type="xsd:string"/>
		</schema>

	</wsdl:types>

    <wsdl:message name="echoDataIn">
        <wsdl:part name="body" element="types:Imagebody"/>
    </wsdl:message>

    <wsdl:message name="echoDataOut">
        <wsdl:part name="replyBody" element="types:body"/>
        <wsdl:part name="image" type="xsd:base64Binary"/>
    </wsdl:message>

	<wsdl:portType name="InboundInLinedOutboundAttch">
            <!-- wsdl mime test with enableMTOMContent disabled(default) -->
            <wsdl:operation name="echoData">
                <wsdl:input name="input" message="tns:echoDataIn"/>
                <wsdl:output message="tns:echoDataOut"/>
            </wsdl:operation>
	</wsdl:portType>

        <wsdl:binding name="InboundInLinedOutboundAttchBinding" type="tns:InboundInLinedOutboundAttch">
            <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

            <wsdl:operation name="echoData">
                <soap:operation soapAction=""/>
                <wsdl:input name="input">
                    <soap:body use="literal"/>
                </wsdl:input>
                <wsdl:output>
                    <mime:multipartRelated>
                        <mime:part> 
                            <soap:body parts="replyBody" use="literal"/>
                        </mime:part>
                        <mime:part>
                            <mime:content part="image" type="image/jpeg"/>
                        </mime:part>
                    </mime:multipartRelated> 
                </wsdl:output>
            </wsdl:operation>

        </wsdl:binding>

	<wsdl:service name="InboundInLinedOutboundAttchService">
  		<wsdl:port name="InboundInLinedOutboundAttchPort" binding="tns:InboundInLinedOutboundAttchBinding">
    			<soap:address location="http://localhost:${HttpDefaultPort}/InboundInLinedOutboundAttchwithAttachment"/>
  		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>	