driver-tests/bpelse/correlation/correlationBPEL/src/correlation/onMessage/corrReplyOnMsgSimpleI7.wsdl

<definitions targetNamespace="urn:corrReplyOnMsgSimpleI7TargetNamespace"
             name="corrReplyOnMsgSimpleI7Definition"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="urn:corrReplyOnMsgSimpleI7TargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="corrReplyOnMsgSimpleI7ServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="corrReplyOnMsgSimpleI7ServerRole"
                   portType="tns:corrReplyOnMsgSimpleI7PortType"></plnk:role>
        <plnk:role name="corrReplyOnMsgSimpleI7ServerRole1"
                   portType="tns:corrReplyOnMsgSimpleI7PortType1"></plnk:role>
    </plnk:partnerLinkType>
    <vprop:property type="xsd:string"
                   name="propertyName1"></vprop:property>
    <vprop:propertyAlias part="corrReplyOnMsgSimpleI7Part"
                        propertyName="tns:propertyName1"
                        messageType="tns:corrReplyOnMsgSimpleI7Message">
        <vprop:query>string</vprop:query>
    </vprop:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:corrReplyOnMsgSimpleI7TargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:corrReplyOnMsgSimpleI7TargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:corrReplyOnMsgSimpleI7TargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

                    <xsd:complexType name="corrReplyOnMsgSimpleI7Type">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="corrReplyOnMsgSimpleI7Message">
        <part name="corrReplyOnMsgSimpleI7Part"
              type="tns:corrReplyOnMsgSimpleI7Type"></part>
    </message>
    <portType name="corrReplyOnMsgSimpleI7PortType">
        <operation name="corrReplyOnMsgSimpleI7Operation">
            <input message="tns:corrReplyOnMsgSimpleI7Message"></input>
            <output message="tns:corrReplyOnMsgSimpleI7Message"></output>
        </operation>
    </portType>
    <portType name="corrReplyOnMsgSimpleI7PortType1">
        <operation name="corrReplyOnMsgSimpleI7Operation1">
            <input message="tns:corrReplyOnMsgSimpleI7Message"></input>
        </operation>
    </portType>
    <binding name="corrReplyOnMsgSimpleI7Binding"
             type="tns:corrReplyOnMsgSimpleI7PortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrReplyOnMsgSimpleI7Operation">
            <soap:operation soapAction="corrReplyOnMsgSimpleI7Operation"/>
            <input>
                <soap:body parts="corrReplyOnMsgSimpleI7Part"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="corrReplyOnMsgSimpleI7Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="corrReplyOnMsgSimpleI7Binding1"
             type="tns:corrReplyOnMsgSimpleI7PortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrReplyOnMsgSimpleI7Operation1">
            <soap:operation soapAction="corrReplyOnMsgSimpleI7Operation1"/>
            <input>
                <soap:body parts="corrReplyOnMsgSimpleI7Part"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="corrReplyOnMsgSimpleI7Service">
        <port name="corrReplyOnMsgSimpleI7Port"
              binding="tns:corrReplyOnMsgSimpleI7Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrReplyOnMsgSimpleI7Port"/>
        </port>
        <port name="corrReplyOnMsgSimpleI7Port1"
              binding="tns:corrReplyOnMsgSimpleI7Binding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrReplyOnMsgSimpleI7Port1"/>
        </port>
    </service>
</definitions>
