driver-tests/jmsbc/i18n/JMSBCJbi/src/jbiServiceUnits/JMSBCBpel/JMSDeadLetterQTest/JMSDeadLetterQTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/JMSDeadLetterQTest"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/JMSDeadLetterQTest" name="JMSDeadLetterQTest" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ftp="http://schemas.sun.com/jbi/wsdl-extensions/ftp/" xmlns:jms="http://schemas.sun.com/jbi/wsdl-extensions/jms/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <wsdl:types/>
    <wsdl:message name="JMSDeadLetterQTestOperationRequest">
        <wsdl:part name="part1" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="JMSDeadLetterQTestCollectorRequest">
        <wsdl:part name="part1" type="xsd:string"/>        
        <wsdl:part name="originalDestNamePart" type="xsd:string"/>
    </wsdl:message>    
    <wsdl:message name="JMSDeadLetterQTestOperationTriggerRequest">
        <wsdl:part name="part1" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="JMSDeadLetterQTestOperationTriggerReply">
        <wsdl:part name="part1" type="xsd:string"/>
        <wsdl:part name="part2" type="xsd:string"/>
    </wsdl:message>
    <wsdl:portType name="JMSDeadLetterQTestSenderPortType">
        <wsdl:operation name="JMSDeadLetterQTestOperation">
            <wsdl:input name="input1" message="tns:JMSDeadLetterQTestOperationRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="JMSDeadLetterQCollectorPortType">
        <wsdl:operation name="JMSDeadLetterQTestOperation">
            <wsdl:input name="input1" message="tns:JMSDeadLetterQTestCollectorRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="JMSDeadLetterQTestReceiverPortType">
        <wsdl:operation name="JMSDeadLetterQTestOperation">
            <wsdl:input name="input1" message="tns:JMSDeadLetterQTestOperationRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="JMSDeadLetterQTestSoapTriggerPortType">
        <wsdl:operation name="JMSDeadLetterQTestTriggerOperation">
            <wsdl:input name="input1" message="tns:JMSDeadLetterQTestOperationTriggerRequest"/>
            <wsdl:output name="output1" message="tns:JMSDeadLetterQTestOperationTriggerReply"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="JMSDeadLetterQTestSenderBinding" type="tns:JMSDeadLetterQTestSenderPortType">
        <jms:binding/>
        <wsdl:operation name="JMSDeadLetterQTestOperation">
            <jms:operation destination="DeadLetterQTestDestination" destinationType="Queue"/>
            <wsdl:input name="input1">
                <jms:message messageType="TextMessage" textPart="part1" use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JMSDeadLetterQCollectorBinding" type="tns:JMSDeadLetterQCollectorPortType">
        <jms:binding/>
        <wsdl:operation name="JMSDeadLetterQTestOperation">
            <jms:operation destination="DeadLetterQTestDLQ" destinationType="Queue"/>
            <wsdl:input name="input1">
                <jms:message messageType="TextMessage" textPart="part1">
                    <jms:properties>
                        <jms:property name="JMS_Sun_JMSJCA_OriginalDestinationName" part="originalDestNamePart" type="string"/>
                    </jms:properties>
                </jms:message>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="JMSDeadLetterQTestReceiverBinding" type="tns:JMSDeadLetterQTestReceiverPortType">
        <jms:binding/>
        <wsdl:operation name="JMSDeadLetterQTestOperation">
            <jms:operation destination="DeadLetterQTestDestination" destinationType="Queue" redeliveryHandling="2:move(queue:DeadLetterQTestDLQ)"/>
            <wsdl:input name="input1">
                <jms:message messageType="MapMessage">
                    <jms:mapmessage>
                        <jms:mappart name="mapname1" part="part1" type="string"/>
                    </jms:mapmessage>
                </jms:message>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DeadLetterQTestSoapTriggerBinding" type="tns:JMSDeadLetterQTestSoapTriggerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="JMSDeadLetterQTestTriggerOperation">
            <soap:operation soapAction="soapActionTestJMSDeadLetterQ"/>
            <wsdl:input name="input1">
                <soap:body parts="part1" use="literal"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body parts="part1 part2" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="JMSDeadLetterQTestService">
        <wsdl:port name="JMSDeadLetterQTestSenderPort" binding="tns:JMSDeadLetterQTestSenderBinding">
            <jms:address connectionURL="mq://localhost:7676"/>
        </wsdl:port>
        <wsdl:port name="JMSDeadLetterQTestReceiverPort" binding="tns:JMSDeadLetterQTestReceiverBinding">
            <jms:address connectionURL="mq://localhost:7676"/>
        </wsdl:port>
        <wsdl:port name="JMSDeadLetterQTestCollectorPort" binding="tns:JMSDeadLetterQCollectorBinding">
            <jms:address connectionURL="mq://localhost:7676"/>
        </wsdl:port>
        <wsdl:port name="JMSDeadLetterQTestTriggerPort" binding="tns:DeadLetterQTestSoapTriggerBinding">
            <soap:address location="http://localhost:18181/JMSBCBpel/JMSDeadLetterQTest/JMSDeadLetterQTestTriggerPort"/>
        </wsdl:port>
    </wsdl:service>
    <plink:partnerLinkType name="JMSDeadLetterQTestSenderPartner">
        <!-- partnerLinkType are automatically generated when a new portType is added. partnerLinkType are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plink:role name="JMSDeadLetterQTestPortTypeRole" portType="tns:JMSDeadLetterQTestSenderPortType"/>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="JMSDeadLetterQTestCollecotrPartner">
        <!-- partnerLinkType are automatically generated when a new portType is added. partnerLinkType are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plink:role name="JMSDeadLetterQCollectorPortTypeRole" portType="tns:JMSDeadLetterQCollectorPortType"/>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="JMSDeadLetterQTestReceiverPartner">
        <!-- partnerLinkType are automatically generated when a new portType is added. partnerLinkType are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plink:role name="JMSDeadLetterQTestReceiverPortTypeRole" portType="tns:JMSDeadLetterQTestReceiverPortType"/>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="JMSDeadLetterQTestTriggerPartner">
        <!-- partnerLinkType are automatically generated when a new portType is added. partnerLinkType are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plink:role name="JMSDeadLetterQTestSoapTriggerPortTypeRole" portType="tns:JMSDeadLetterQTestSoapTriggerPortType"/>
    </plink:partnerLinkType>
    <vprop:property name="property1" type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:property1"
                        messageType="tns:JMSDeadLetterQTestOperationTriggerRequest"
                        part="part1">
        <vprop:query></vprop:query>
    </vprop:propertyAlias>    
    <vprop:propertyAlias propertyName="tns:property1"
                        messageType="tns:JMSDeadLetterQTestCollectorRequest"
                        part="part1">
        <vprop:query></vprop:query>
    </vprop:propertyAlias>    
</definitions>
