driver-tests/httpsoapbc/siebel/siebelContactQueryCompositeApp/src/jbiServiceUnits/siebelContactQueryBpel/SiebelContact.wsdl

<?Siebel-Property-Set EscapeNames="false"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:xsdLocal0="http://www.siebel.com/xml/Contact%20Interface"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 targetNamespace="http://siebel.com/asi/"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/asi/" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
><types
><xsd:schema
 elementFormDefault="qualified"
 xmlns:xsdLocal0="http://www.siebel.com/xml/Contact%20Interface"
 attributeFormDefault="unqualified"
 targetNamespace="http://www.siebel.com/xml/Contact%20Interface"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:n01="http://schemas.xmlsoap.org/soap/encoding/"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
>
    <xsd:import schemaLocation="encoding.xsd" namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
    <xsd:element
 name="ListOfContactInterface"
 type="xsdLocal0:ListOfContactInterface"
></xsd:element
><xsd:complexType
 name="ListOfContactInterfaceTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfContactInterface"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal0:ListOfContactInterface"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfContactInterface"
><xsd:sequence
><xsd:element
 name="Contact"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ArrayOfContact"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ArrayOfContact"
><xsd:complexContent
 mixed="false"
><xsd:restriction
 base="soapenc:Array"
><xsd:attribute
 aPrefix:arrayType="xsdLocal0:Contact[]"
 ref="soapenc:arrayType"
 xmlns:aPrefix="http://schemas.xmlsoap.org/wsdl/"
></xsd:attribute
></xsd:restriction
></xsd:complexContent
></xsd:complexType
><xsd:complexType
 name="Contact"
><xsd:sequence
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Alias"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Assistant"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="BirthDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CellularPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EmailAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FaxPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="HomePhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Income"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IncomeCurrencyCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IncomeExchangeDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="JobTitle"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Gender"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalTitle"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ManagerMiddleName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ManagerFirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ManagerId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ManagerIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ManagerLastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ManagerPrimaryOrganization"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ManagerUId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MiddleName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonUId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PreferredCommunications"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PreferredLanguageCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SocialSecurityNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Status"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SuppressAllCalls"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SuppressAllEmails"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SuppressAllMailings"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TimeZoneId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TimeZoneName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="WorkPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="WorkPhoneExtension"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListOfRelatedAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ListOfRelatedAccount"
></xsd:element
><xsd:element
 name="ListOfAlternatePhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ListOfAlternatePhone"
></xsd:element
><xsd:element
 name="ListOfCommunicationAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ListOfCommunicationAddress"
></xsd:element
><xsd:element
 name="ListOfRelatedSalesRep"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ListOfRelatedSalesRep"
></xsd:element
><xsd:element
 name="ListOfRelatedHouseholds"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ListOfRelatedHouseholds"
></xsd:element
><xsd:element
 name="ListOfRelatedOrganization"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ListOfRelatedOrganization"
></xsd:element
><xsd:element
 name="ListOfPersonalAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ListOfPersonalAddress"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfRelatedAccount"
><xsd:sequence
><xsd:element
 name="RelatedAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ArrayOfRelatedAccount"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ArrayOfRelatedAccount"
><xsd:complexContent
 mixed="false"
><xsd:restriction
 base="soapenc:Array"
><xsd:attribute
 aPrefix:arrayType="xsdLocal0:RelatedAccount[]"
 ref="soapenc:arrayType"
 xmlns:aPrefix="http://schemas.xmlsoap.org/wsdl/"
></xsd:attribute
></xsd:restriction
></xsd:complexContent
></xsd:complexType
><xsd:complexType
 name="RelatedAccount"
><xsd:sequence
><xsd:element
 name="Account"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountLocation"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountOrganization"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfAlternatePhone"
><xsd:sequence
><xsd:element
 name="AlternatePhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ArrayOfAlternatePhone"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ArrayOfAlternatePhone"
><xsd:complexContent
 mixed="false"
><xsd:restriction
 base="soapenc:Array"
><xsd:attribute
 aPrefix:arrayType="xsdLocal0:AlternatePhone[]"
 ref="soapenc:arrayType"
 xmlns:aPrefix="http://schemas.xmlsoap.org/wsdl/"
></xsd:attribute
></xsd:restriction
></xsd:complexContent
></xsd:complexType
><xsd:complexType
 name="AlternatePhone"
><xsd:sequence
><xsd:element
 name="AlternatePhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AlternatePhoneMediumType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AlternatePhoneName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfCommunicationAddress"
><xsd:sequence
><xsd:element
 name="CommunicationAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ArrayOfCommunicationAddress"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ArrayOfCommunicationAddress"
><xsd:complexContent
 mixed="false"
><xsd:restriction
 base="soapenc:Array"
><xsd:attribute
 aPrefix:arrayType="xsdLocal0:CommunicationAddress[]"
 ref="soapenc:arrayType"
 xmlns:aPrefix="http://schemas.xmlsoap.org/wsdl/"
></xsd:attribute
></xsd:restriction
></xsd:complexContent
></xsd:complexType
><xsd:complexType
 name="CommunicationAddress"
><xsd:sequence
><xsd:element
 name="AlternateEmailAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CommunicationAddressMediumType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CommunicationAddressName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfRelatedSalesRep"
><xsd:sequence
><xsd:element
 name="RelatedSalesRep"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ArrayOfRelatedSalesRep"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ArrayOfRelatedSalesRep"
><xsd:complexContent
 mixed="false"
><xsd:restriction
 base="soapenc:Array"
><xsd:attribute
 aPrefix:arrayType="xsdLocal0:RelatedSalesRep[]"
 ref="soapenc:arrayType"
 xmlns:aPrefix="http://schemas.xmlsoap.org/wsdl/"
></xsd:attribute
></xsd:restriction
></xsd:complexContent
></xsd:complexType
><xsd:complexType
 name="RelatedSalesRep"
><xsd:sequence
><xsd:element
 name="Position"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Login"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Division"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfRelatedHouseholds"
><xsd:sequence
><xsd:element
 name="RelatedHouseholds"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ArrayOfRelatedHouseholds"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ArrayOfRelatedHouseholds"
><xsd:complexContent
 mixed="false"
><xsd:restriction
 base="soapenc:Array"
><xsd:attribute
 aPrefix:arrayType="xsdLocal0:RelatedHouseholds[]"
 ref="soapenc:arrayType"
 xmlns:aPrefix="http://schemas.xmlsoap.org/wsdl/"
></xsd:attribute
></xsd:restriction
></xsd:complexContent
></xsd:complexType
><xsd:complexType
 name="RelatedHouseholds"
><xsd:sequence
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="HouseholdNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="HouseHoldName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfRelatedOrganization"
><xsd:sequence
><xsd:element
 name="RelatedOrganization"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ArrayOfRelatedOrganization"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ArrayOfRelatedOrganization"
><xsd:complexContent
 mixed="false"
><xsd:restriction
 base="soapenc:Array"
><xsd:attribute
 aPrefix:arrayType="xsdLocal0:RelatedOrganization[]"
 ref="soapenc:arrayType"
 xmlns:aPrefix="http://schemas.xmlsoap.org/wsdl/"
></xsd:attribute
></xsd:restriction
></xsd:complexContent
></xsd:complexType
><xsd:complexType
 name="RelatedOrganization"
><xsd:sequence
><xsd:element
 name="Organization"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfPersonalAddress"
><xsd:sequence
><xsd:element
 name="PersonalAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ArrayOfPersonalAddress"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ArrayOfPersonalAddress"
><xsd:complexContent
 mixed="false"
><xsd:restriction
 base="soapenc:Array"
><xsd:attribute
 aPrefix:arrayType="xsdLocal0:PersonalAddress[]"
 ref="soapenc:arrayType"
 xmlns:aPrefix="http://schemas.xmlsoap.org/wsdl/"
></xsd:attribute
></xsd:restriction
></xsd:complexContent
></xsd:complexType
><xsd:complexType
 name="PersonalAddress"
><xsd:sequence
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalCity"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalCountry"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalPostalCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalState"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalStreetAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PersonalStreetAddress2"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
></types
><message
 name="Siebel_spcContact_SiebelContactInsertOrUpdate_Input"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfContactInterfaceTopElmt"
></part
><part
 name="StatusObject"
 type="xsd:string"
></part
></message
><message
 name="Siebel_spcContact_SiebelContactInsertOrUpdate_Output"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfContactInterfaceTopElmt"
></part
></message
><message
 name="Siebel_spcContact_SiebelContactSynchronize_Input"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfContactInterfaceTopElmt"
></part
><part
 name="StatusObject"
 type="xsd:string"
></part
></message
><message
 name="Siebel_spcContact_SiebelContactSynchronize_Output"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfContactInterfaceTopElmt"
></part
></message
><message
 name="Siebel_spcContact_SiebelContactQueryById_Input"
><part
 name="PrimaryRowId"
 type="xsd:string"
></part
></message
><message
 name="Siebel_spcContact_SiebelContactQueryById_Output"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfContactInterfaceTopElmt"
></part
></message
><message
 name="Siebel_spcContact_SiebelContactQueryByExample_Input"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfContactInterfaceTopElmt"
></part
></message
><message
 name="Siebel_spcContact_SiebelContactQueryByExample_Output"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfContactInterfaceTopElmt"
></part
></message
><message
 name="Siebel_spcContact_SiebelContactUpdate_Input"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfContactInterfaceTopElmt"
></part
><part
 name="StatusObject"
 type="xsd:string"
></part
></message
><message
 name="Siebel_spcContact_SiebelContactUpdate_Output"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfContactInterfaceTopElmt"
></part
></message
><message
 name="Siebel_spcContact_SiebelContactInsert_Input"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfContactInterfaceTopElmt"
></part
><part
 name="StatusObject"
 type="xsd:string"
></part
></message
><message
 name="Siebel_spcContact_SiebelContactInsert_Output"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfContactInterfaceTopElmt"
></part
></message
><message
 name="Siebel_spcContact_SiebelContactDelete_Input"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfContactInterfaceTopElmt"
></part
><part
 name="StatusObject"
 type="xsd:string"
></part
></message
><message
 name="Siebel_spcContact_SiebelContactDelete_Output"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfContactInterfaceTopElmt"
></part
></message
><portType
 name="Default"
><operation
 name="SiebelContactInsertOrUpdate"
><input
 message="tns:Siebel_spcContact_SiebelContactInsertOrUpdate_Input"
></input
><output
 message="tns:Siebel_spcContact_SiebelContactInsertOrUpdate_Output"
></output
></operation
><operation
 name="SiebelContactSynchronize"
><input
 message="tns:Siebel_spcContact_SiebelContactSynchronize_Input"
></input
><output
 message="tns:Siebel_spcContact_SiebelContactSynchronize_Output"
></output
></operation
><operation
 name="SiebelContactQueryById"
><input
 message="tns:Siebel_spcContact_SiebelContactQueryById_Input"
></input
><output
 message="tns:Siebel_spcContact_SiebelContactQueryById_Output"
></output
></operation
><operation
 name="SiebelContactQueryByExample"
><input
 message="tns:Siebel_spcContact_SiebelContactQueryByExample_Input"
></input
><output
 message="tns:Siebel_spcContact_SiebelContactQueryByExample_Output"
></output
></operation
><operation
 name="SiebelContactUpdate"
><input
 message="tns:Siebel_spcContact_SiebelContactUpdate_Input"
></input
><output
 message="tns:Siebel_spcContact_SiebelContactUpdate_Output"
></output
></operation
><operation
 name="SiebelContactInsert"
><input
 message="tns:Siebel_spcContact_SiebelContactInsert_Input"
></input
><output
 message="tns:Siebel_spcContact_SiebelContactInsert_Output"
></output
></operation
><operation
 name="SiebelContactDelete"
><input
 message="tns:Siebel_spcContact_SiebelContactDelete_Input"
></input
><output
 message="tns:Siebel_spcContact_SiebelContactDelete_Output"
></output
></operation
></portType
><binding
 name="Default"
 type="tns:Default"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="rpc"
></soap:binding
><operation
 name="SiebelContactInsertOrUpdate"
><soap:operation
 soapAction="rpc/http://siebel.com/asi/:SiebelContactInsertOrUpdate"
></soap:operation
><input
><soap:body
 encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
 namespace="http://siebel.com/asi/"
 use="encoded"
></soap:body
></input
><output
><soap:body
 encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
 namespace="http://siebel.com/asi/"
 use="encoded"
></soap:body
></output
></operation
><operation
 name="SiebelContactSynchronize"
><soap:operation
 soapAction="rpc/http://siebel.com/asi/:SiebelContactSynchronize"
></soap:operation
><input
><soap:body
 encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
 namespace="http://siebel.com/asi/"
 use="encoded"
></soap:body
></input
><output
><soap:body
 encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
 namespace="http://siebel.com/asi/"
 use="encoded"
></soap:body
></output
></operation
><operation
 name="SiebelContactQueryById"
><soap:operation
 soapAction="rpc/http://siebel.com/asi/:SiebelContactQueryById"
></soap:operation
><input
><soap:body
 encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
 namespace="http://siebel.com/asi/"
 use="encoded"
></soap:body
></input
><output
><soap:body
 encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
 namespace="http://siebel.com/asi/"
 use="encoded"
></soap:body
></output
></operation
><operation
 name="SiebelContactQueryByExample"
><soap:operation
 soapAction="rpc/http://siebel.com/asi/:SiebelContactQueryByExample"
></soap:operation
><input
><soap:body
 encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
 namespace="http://siebel.com/asi/"
 use="encoded"
></soap:body
></input
><output
><soap:body
 encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
 namespace="http://siebel.com/asi/"
 use="encoded"
></soap:body
></output
></operation
><operation
 name="SiebelContactUpdate"
><soap:operation
 soapAction="rpc/http://siebel.com/asi/:SiebelContactUpdate"
></soap:operation
><input
><soap:body
 encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
 namespace="http://siebel.com/asi/"
 use="encoded"
></soap:body
></input
><output
><soap:body
 encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
 namespace="http://siebel.com/asi/"
 use="encoded"
></soap:body
></output
></operation
><operation
 name="SiebelContactInsert"
><soap:operation
 soapAction="rpc/http://siebel.com/asi/:SiebelContactInsert"
></soap:operation
><input
><soap:body
 encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
 namespace="http://siebel.com/asi/"
 use="encoded"
></soap:body
></input
><output
><soap:body
 encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
 namespace="http://siebel.com/asi/"
 use="encoded"
></soap:body
></output
></operation
><operation
 name="SiebelContactDelete"
><soap:operation
 soapAction="rpc/http://siebel.com/asi/:SiebelContactDelete"
></soap:operation
><input
><soap:body
 encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
 namespace="http://siebel.com/asi/"
 use="encoded"
></soap:body
></input
><output
><soap:body
 encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
 namespace="http://siebel.com/asi/"
 use="encoded"
></soap:body
></output
></operation
></binding
><service
 name="Siebel_spcContact"
><port
 binding="tns:Default"
 name="Default"
><soap:address
 location="http://pmdbbox5/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=sadmin&amp;Password=sadmin"
></soap:address
></port
></service
>
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="partnerlinktyperole1" portType="tns:Default"/>
    </plink:partnerLinkType>
</definitions
>
