contrib-other/camelse/examples/c2db/C2DBCamelJBIModule/src/sampledb.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="db" targetNamespace="http://j2ee.netbeans.org/wsdl/db/sample/person" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" xmlns:ns="http://j2ee.netbeans.org/xsd/tableSchema/db/sample/person" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://j2ee.netbeans.org/wsdl/db/sample/person">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/">
            <xsd:import namespace="http://j2ee.netbeans.org/xsd/tableSchema/db/sample/person" schemaLocation="PERSON.xsd"/>
	</xsd:schema>
  </wsdl:types>
  <wsdl:message name="outputMsg">
    <wsdl:part name="part" element="ns:PERSON"/>
  </wsdl:message>
  <wsdl:message name="insertRetMsg">
    <wsdl:part name="part" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="inputMsg">
    <wsdl:part name="part" element="ns:PERSON"/>
  </wsdl:message>
  <wsdl:portType name="jdbcPortType">
    <wsdl:operation name="insert">
      <wsdl:input name="inputInsert" message="tns:inputMsg"/>
      <wsdl:output name="outputInsert" message="tns:insertRetMsg"/>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input name="inputUpdate" message="tns:inputMsg"/>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input name="inputDelete" message="tns:inputMsg"/>
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input name="inputFind" message="tns:inputMsg"/>
      <wsdl:output name="outputFind" message="tns:outputMsg"/>
    </wsdl:operation>
    <wsdl:operation name="pollrecords">
      <wsdl:input name="inputPoll" message="tns:inputMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="binding" type="tns:jdbcPortType">
    <jdbc:binding xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
    <wsdl:operation name="insert">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputInsert">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="SSN" PollMilliSeconds="5000" PollingPostProcessing="MoveRow" TableName="PERSON" Transaction="NOTransaction" numberOfRecords="" operationType="insert" paramOrder="STATE,LAST_NAME,SSN,ZIPCODE,FIRST_NAME,CITY,STREET" sql="insert into PERSON (STATE,LAST_NAME,SSN,ZIPCODE,FIRST_NAME,CITY,STREET) values (?,?,?,?,?,?,?)"/>
      </wsdl:input>
      <wsdl:output name="outputInsert">
    <jdbc:output xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" returnPartName="part"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputUpdate">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="SSN" PollMilliSeconds="5000" PollingPostProcessing="MoveRow" TableName="PERSON" Transaction="NOTransaction" numberOfRecords="" operationType="update" paramOrder="STATE,LAST_NAME,SSN,ZIPCODE,FIRST_NAME,CITY,STREET" sql="update PERSON set STATE  = ?,LAST_NAME  = ?,SSN  = ?,ZIPCODE  = ?,FIRST_NAME  = ?,CITY  = ?,STREET  = ?"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="delete">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputDelete">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="SSN" PollMilliSeconds="5000" PollingPostProcessing="MoveRow" TableName="PERSON" Transaction="NOTransaction" numberOfRecords="" operationType="delete" paramOrder="" sql="delete from PERSON"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="find">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputFind">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="SSN" PollMilliSeconds="5000" PollingPostProcessing="MoveRow" TableName="PERSON" Transaction="NOTransaction" numberOfRecords="" operationType="find" paramOrder="" sql="select STATE,LAST_NAME,SSN,ZIPCODE,FIRST_NAME,CITY,STREET from PERSON"/>
      </wsdl:input>
      <wsdl:output name="outputFind">
    <jdbc:output xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" returnPartName="part"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="pollrecords">
    <jdbc:operation xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/"/>
      <wsdl:input name="inputPoll">
    <jdbc:input xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" MarkColumnName="" MarkColumnValue="" MoveRowToTableName="" PKName="SSN" PollMilliSeconds="5000" PollingPostProcessing="Delete" TableName="PERSON" Transaction="NOTransaction" numberOfRecords="" operationType="poll" paramOrder="" sql="select STATE,LAST_NAME,SSN,ZIPCODE,FIRST_NAME,CITY,STREET from PERSON"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="port" binding="tns:binding">
    <jdbc:address xmlns:jdbc="http://schemas.sun.com/jbi/wsdl-extensions/jdbc/" jndiName="jdbc/__defaultDS"/>
    </wsdl:port>
  </wsdl:service>
    <plink:partnerLinkType xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="jdbcpartner">
        <plink:role name="jdbcPortTypeRole" portType="tns:jdbcPortType"/>
    </plink:partnerLinkType>
</wsdl:definitions>
