driver-tests/iepse/IEPPartitionedWindow/PartitionedWindowBIep/src/TimeBasedAggregatorInput/TimeBasedAggregatorInput_1.wsdl

<definitions targetNamespace="TimeBasedAggregatorInput.TimeBasedAggregatorInput_1_iep"
             xmlns:tns="TimeBasedAggregatorInput.TimeBasedAggregatorInput_1_iep"
             xmlns:typens="TimeBasedAggregatorInput.TimeBasedAggregatorInput_1_iep"
             xmlns:defns="TimeBasedAggregatorInput.TimeBasedAggregatorInput_1_iep"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
    <xsd:schema targetNamespace="TimeBasedAggregatorInput.TimeBasedAggregatorInput_1_iep" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="StreamInputCensus_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="MiddleInit" type="xsd:string"/>
                    <xsd:element name="RegNum" type="xsd:int"/>
                    <xsd:element name="Income" type="xsd:double"/>
                    <xsd:element name="RegionNum" type="xsd:long"/>
                    <xsd:element name="SDate" type="xsd:date"/>
                    <xsd:element name="STime" type="xsd:string"/>
                    <xsd:element name="SUpdate" type="xsd:dateTime"/>
                    <xsd:element name="SDesc" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamInputCensusBatch_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="StreamInputCensus_MsgObj" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="MiddleInit" type="xsd:string"/>
                    <xsd:element name="RegNum" type="xsd:int"/>
                    <xsd:element name="Income" type="xsd:double"/>
                    <xsd:element name="RegionNum" type="xsd:long"/>
                    <xsd:element name="SDate" type="xsd:date"/>
                    <xsd:element name="STime" type="xsd:string"/>
                    <xsd:element name="SUpdate" type="xsd:dateTime"/>
                    <xsd:element name="SDesc" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamOutput0_1_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="LastName_groupBy" type="xsd:string"/>
                   <xsd:element name="RegNum_min" type="xsd:int"/>
                   <xsd:element name="RegNum_max" type="xsd:int"/>
                   <xsd:element name="RegNum_avg" type="xsd:int"/>
                   <xsd:element name="Income_min" type="xsd:double"/>
                   <xsd:element name="Income_max" type="xsd:double"/>
                   <xsd:element name="Income_avg" type="xsd:double"/>
                   <xsd:element name="RegionNum_avg" type="xsd:long"/>
                   <xsd:element name="SDate_min" type="xsd:date"/>
                   <xsd:element name="SDate_max" type="xsd:date"/>
                   <xsd:element name="count" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
    </xsd:schema>
</types>

<message name="StreamInputCensus_Msg">
    <part name="input" element="typens:StreamInputCensus_MsgObj"/>
</message>
<message name="StreamInputCensusBatch_Msg">
    <part name="input" element="typens:StreamInputCensusBatch_MsgObj"/>
</message>
<message name="StreamOutput0_1_Msg">
    <part name="output" element="typens:StreamOutput0_1_MsgObj"/>
</message>

<portType name="InputPt">
    <operation name="StreamInputCensus">
        <input message="tns:StreamInputCensus_Msg"/>
    </operation>
    <operation name="StreamInputCensusBatch">
        <input message="tns:StreamInputCensusBatch_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_StreamOutput0_1">
    <operation name="StreamOutput0_1">
        <input message="tns:StreamOutput0_1_Msg"/>
    </operation>
</portType>

<plnk:partnerLinkType name="InputPlt" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "InputRn" portType="tns:InputPt"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_StreamOutput0_1" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_StreamOutput0_1" portType="tns:OutputPt_StreamOutput0_1"/>
</plnk:partnerLinkType>
<!-- input binding -->
<binding name="InputBinding" type="defns:InputPt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="StreamInputCensus">
        <soap:operation soapAction="StreamInputCensus"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
    <operation name="StreamInputCensusBatch">
        <soap:operation soapAction="StreamInputCensusBatch"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<!-- input service -->
<service name="InputService">
    <port name="InputPort" binding="tns:InputBinding">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/TimeBasedAggregatorInput.TimeBasedAggregatorInput_1_iep"/>
    </port>
</service>

<!-- http output binding and service
<binding name="OutputBinding_StreamOutput0_1" type="defns:OutputPt_StreamOutput0_1">
    <operation name="StreamOutput0_1">
        <soap:operation soapAction="StreamOutput0_1"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<service name="OutputService_StreamOutput0_1">
    <port name="OutputPort_StreamOutput0_1" binding="tns:OutputBinding_StreamOutput0_1">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/TimeBasedAggregatorInput.TimeBasedAggregatorInput_1_iep_StreamOutput0_1_callee"/>
    </port>
</service>
 end of http output binding and service -->

<!-- file output binding and service -->
<binding name="OutputBinding_StreamOutput0_1" type="defns:OutputPt_StreamOutput0_1">
    <file:binding/>
    <operation name="StreamOutput0_1">
        <file:operation/>
        <input>
            <file:message fileName="StreamOutput0_1.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal"/>
        </input>
    </operation>
</binding>
<service name="OutputService_StreamOutput0_1">
    <port name="OutputPort_StreamOutput0_1" binding="tns:OutputBinding_StreamOutput0_1">
        <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPPartitionedWindow/PartitionedWindowBApp/test/TimeBasedAggregatorInput_1"/>
    </port>
</service>
<!-- end of file output binding and service -->
</definitions>
