contrib-imola/cics-bc/jbi4cics/src/test/etc/wsdl/EchoService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:soap12="http://www.w3.org/2003/05/soap-envelope"
    xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="it.imolinfo.Jbi4Cics.test.webservice.generator"

    name="EchoService"
    targetNamespace="it.imolinfo.Jbi4Cics.test.webservice.generator">

  <wsdl:types>
    <xsd:schema targetNamespace="it.imolinfo.Jbi4Cics.test.webservice.generator"
                elementFormDefault="qualified"
                attributeFormDefault="qualified">

      <xsd:element name="echo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in0" type="xsd:string" nillable="true" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="echoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string" nillable="true" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="echoRequest">
    <wsdl:part element="tns:echo" name="parameters" />
  </wsdl:message>

  <wsdl:message name="echoResponse">
    <wsdl:part element="tns:echoResponse" name="parameters" />
  </wsdl:message>

  <wsdl:portType name="EchoServicePortType">
    <wsdl:operation name="echo">
      <wsdl:input message="tns:echoRequest" name="echoRequest" />
      <wsdl:output message="tns:echoResponse" name="echoResponse" />
    </wsdl:operation>
  </wsdl:portType>


  <wsdl:binding name="EchoServiceHttpBinding" type="tns:EchoServicePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="echo">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="echoRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="EchoService">
    <wsdl:port binding="tns:EchoServiceHttpBinding" name="EchoServiceHttpPort">
      <wsdlsoap:address location="http://localhost/services/EchoService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>