contrib-imola/cics-bc/jbi4cics/src/test/etc/wsdl/it.imolinfo.iif.test.webservices.utils.generators.ProvaServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="it.imolinfo.iit" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="it.imolinfo.iit" xmlns:intf="it.imolinfo.iit" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://generators.utils.webservices.test.iif.imolinfo.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2RC2
Built on Nov 16, 2004 (12:19:44 EST)-->
 <wsdl:types>
  <schema targetNamespace="http://generators.utils.webservices.test.iif.imolinfo.it" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ProvaServiceBean">
    <sequence>
     <element name="CA_CICS_ABSTIME" nillable="true" type="xsd:decimal"/>
     <element name="CA_CURRENT_DATE" nillable="true" type="xsd:string"/>
     <element name="CA_CURRENT_TIME" nillable="true" type="xsd:string"/>
     <element name="CA_DATA" nillable="true" type="xsd:string"/>
     <element name="CA_ERROR_MESSAGE" nillable="true" type="xsd:string"/>
     <element name="CA_NUMBER_OF_ROWS" nillable="true" type="xsd:integer"/>
     <element name="CA_RETCODE" nillable="true" type="xsd:integer"/>
     <element name="CA_ROW_DATA" nillable="true" type="xsd:string"/>
     <element name="CA_ROW_NUMBER" nillable="true" type="xsd:integer"/>
     <element name="CA_ROW_NUM_AS_CHAR" nillable="true" type="xsd:string"/>
     <element name="CA_SWSECI1_COMMAREA" nillable="true" type="xsd:string"/>
     <element name="DFHCOMMAREA" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="provaOperationResponse">

      <wsdl:part name="provaOperationReturn" type="tns1:ProvaServiceBean"/>

   </wsdl:message>

   <wsdl:message name="provaOperationRequest">

      <wsdl:part name="in0" type="tns1:ProvaServiceBean"/>

   </wsdl:message>

   <wsdl:portType name="ProvaServiceService">

      <wsdl:operation name="provaOperation" parameterOrder="in0">

         <wsdl:input message="impl:provaOperationRequest" name="provaOperationRequest"/>

         <wsdl:output message="impl:provaOperationResponse" name="provaOperationResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProvaServiceSoapBinding" type="impl:ProvaServiceService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="provaOperation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="provaOperationRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="it.imolinfo.iit" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="provaOperationResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="it.imolinfo.iit" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProvaServiceServiceService">

      <wsdl:port binding="impl:ProvaServiceSoapBinding" name="ProvaService">

         <wsdlsoap:address location="http://localhost/services/ProvaService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
