contrib-imola/cics-bc/jbi4cics/src/test/etc/wsdl/ProvaCommarea2_expected.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<wsdl:definitions targetNamespace="SERVICE_NAME_SPACE" xmlns:tns="SERVICE_NAME_SPACE" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:imolacics="uri://schemas.imola.it/jbi/wsdl-extensions/cics/" xmlns:ns1="http://NAME.PACKAGE.SERVICE" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://NAME.PACKAGE.SERVICE" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:complexType name="OUTPUT_BEAN_NAME">
<xsd:sequence>
<xsd:element minOccurs="0" name="CA_RETCODE1" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="CA_RETCODE10" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="CA_RETCODE11" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="CA_RETCODE12" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="CA_RETCODE13" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="CA_RETCODE14" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="CA_RETCODE15" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="CA_RETCODE16" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="CA_RETCODE17" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="CA_RETCODE18" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="CA_RETCODE19" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="CA_RETCODE2" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="CA_RETCODE20" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="CA_RETCODE21" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="CA_RETCODE22" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="CA_RETCODE3" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="CA_RETCODE4" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="CA_RETCODE5" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="CA_RETCODE6" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="CA_RETCODE7" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="CA_RETCODE8" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="CA_RETCODE9" nillable="true" type="xsd:decimal"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="SERVICE_NAME_SPACE" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="OPERATION_NAME">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="ns1:OUTPUT_BEAN_NAME"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="OPERATION_NAMEResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="ns1:OUTPUT_BEAN_NAME"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="OPERATION_NAMERequest">
    <wsdl:part name="parameters" element="tns:OPERATION_NAME"/>
  </wsdl:message>
  <wsdl:message name="OPERATION_NAMEResponse">
    <wsdl:part name="parameters" element="tns:OPERATION_NAMEResponse"/>
  </wsdl:message>
  <wsdl:portType name="INTERFACE_NAME">
    <wsdl:operation name="OPERATION_NAME">
      <wsdl:input name="OPERATION_NAMERequest" message="tns:OPERATION_NAMERequest"/>
      <wsdl:output name="OPERATION_NAMEResponse" message="tns:OPERATION_NAMEResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SERVICE_NAMECicsBinding" type="tns:INTERFACE_NAME">
<imolacics:binding servicePackageName="SERVICE.PACKAGE.NAME" codePage="CP037">
<imolacics:copyCobol>02 CA-RETCODE1 PIC XXXXX        .
02 CA-RETCODE2 PIC AAAAA        .
02 CA-RETCODE3 PIC A(5)         .
02 CA-RETCODE4 PIC X(5)         .
02 CA-RETCODE5 PIC 99999        .
02 CA-RETCODE6 PIC 9(5)         .
02 CA-RETCODE7 PIC S99999       .
02 CA-RETCODE8 PIC S9(5)        .
02 CA-RETCODE9 PIC +99999       .
02 CA-RETCODE10 PIC +9(5)       .
02 CA-RETCODE11 PIC 99999V999   .
02 CA-RETCODE12 PIC 9(5)V999    .
02 CA-RETCODE13 PIC S99999V999  .
02 CA-RETCODE14 PIC S9(5)V999   .
02 CA-RETCODE15 PIC +99999V999  .
02 CA-RETCODE16 PIC +9(5)V999   .
02 CA-RETCODE17 PIC 99999V(3)   .
02 CA-RETCODE18 PIC 9(5)V(3)    .
02 CA-RETCODE19 PIC S99999V(3)  .
02 CA-RETCODE20 PIC S9(5)V(3)   .
02 CA-RETCODE21 PIC +99999V(3)  .
02 CA-RETCODE22 PIC +9(5)V(3)   .






</imolacics:copyCobol>
</imolacics:binding>
    <wsdl:operation name="OPERATION_NAME">
      <wsdl:input name="OPERATION_NAMERequest">
      </wsdl:input>
      <wsdl:output name="OPERATION_NAMEResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SERVICE_NAME">
    <wsdl:port name="SERVICE_NAMECicsPort" binding="tns:SERVICE_NAMECicsBinding">
<imolacics:address username="USERNAME" password="PASSWORD" connectionType="CICS" JNDIConnectionName="JNDI_CONNECTION_NAME" programName="PROGRAM_NAME" transactionName="TRANSACTION_NAME" tpn="true">
</imolacics:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
