contrib-imola/cics-bc/jbi4cics/src/test/etc/wsdl/ProvaVinci.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://generators.utils.webservices.test.iif.imolinfo.it" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="urn:it.imolinfo.iif.test.webservices.utils.generators" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:it.imolinfo.iif.test.webservices.utils.generators">
  <wsdl:types>
    <xsd:schema targetNamespace="http://generators.utils.webservices.test.iif.imolinfo.it" elementFormDefault="qualified" attributeFormDefault="qualified">
      <xsd:complexType name="ProvaVinciBean">
        <xsd:sequence>
          <xsd:element name="binStrlen" type="xsd:int" minOccurs="0" nillable="true" />
          <xsd:element name="compStrlen" type="xsd:decimal" minOccurs="0" nillable="true" />
          <xsd:element name="inputString" type="xsd:string" minOccurs="0" nillable="true" />
          <xsd:element name="plusZonedStrlen" type="xsd:decimal" minOccurs="0" nillable="true" />
          <xsd:element name="signedZonedStrlen" type="xsd:decimal" minOccurs="0" nillable="true" />
          <xsd:element name="strlen" type="xsd:decimal" minOccurs="0" nillable="true" />
          <xsd:element name="zonedStrlen" type="xsd:decimal" minOccurs="0" nillable="true" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema targetNamespace="urn:it.imolinfo.iif.test.webservices.utils.generators" elementFormDefault="qualified" attributeFormDefault="qualified">
      <xsd:element name="provaVinciOperation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in0" type="ns1:ProvaVinciBean" nillable="true" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="provaVinciOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="ns1:ProvaVinciBean" nillable="true" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="provaVinciOperationResponse">
    <wsdl:part element="tns:provaVinciOperationResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="provaVinciOperationRequest">
    <wsdl:part element="tns:provaVinciOperation" name="parameters" />
  </wsdl:message>
  <wsdl:portType name="ProvaVinciPortType">
    <wsdl:operation name="provaVinciOperation">
      <wsdl:input message="tns:provaVinciOperationRequest" name="provaVinciOperationRequest" />
      <wsdl:output message="tns:provaVinciOperationResponse" name="provaVinciOperationResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProvaVinciHttpBinding" type="tns:ProvaVinciPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="provaVinciOperation">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="provaVinciOperationRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="provaVinciOperationResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProvaVinci">
    <wsdl:port binding="tns:ProvaVinciHttpBinding" name="ProvaVinciHttpPort">
      <wsdlsoap:address location="http://localhost/services/ProvaVinci" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>

