contrib-imola/cics-bc/jbi4cics/src/test/etc/wsdl/TestDeployNoExt.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:it.imolinfo.jbi4cics.test.webservices.utils.generators" xmlns:tns="urn:it.imolinfo.jbi4cics.test.webservices.utils.generators" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:ns1="http://generators.utils.webservices.test.jbi4cics.imolinfo.it" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://generators.utils.webservices.test.jbi4cics.imolinfo.it">
<xsd:complexType name="ProvaEchoBean">
<xsd:sequence>
<xsd:element minOccurs="0" name="string" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="urn:it.imolinfo.jbi4cics.test.webservices.utils.generators">
<xsd:element name="provaEchoOperation">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="provaEchoOperationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="provaEchoOperationRequest">
    <wsdl:part name="parameters" element="tns:provaEchoOperation"/>
  </wsdl:message>
  <wsdl:message name="provaEchoOperationResponse">
    <wsdl:part name="parameters" element="tns:provaEchoOperationResponse"/>
  </wsdl:message>
  <wsdl:portType name="ProvaEchoPortType">
    <wsdl:operation name="provaEchoOperation">
      <wsdl:input name="provaEchoOperationRequest" message="tns:provaEchoOperationRequest"/>
      <wsdl:output name="provaEchoOperationResponse" message="tns:provaEchoOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProvaEchoHttpBinding" type="tns:ProvaEchoPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="provaEchoOperation">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="provaEchoOperationRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="provaEchoOperationResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProvaEcho">
    <wsdl:port name="ProvaEchoHttpPort" binding="tns:ProvaEchoHttpBinding">
      <wsdlsoap:address location="http://localhost/services/ProvaEcho"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>