driver-tests/bpelse/samples/EndToEndScenario/src/EndToEnd.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="EndToEnd" targetNamespace="http://j2ee.netbeans.org/wsdl/EndToEnd"
    xmlns:tns="http://j2ee.netbeans.org/wsdl/EndToEnd"
    xmlns:ns1="http://j2ee.netbeans.org/wsdl/EndToEnd/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://xml.netbeans.org/schema/EndToEnd" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/EndToEnd/types">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
    </xsd:schema>
    <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/EndToEnd">
      <xsd:import schemaLocation="EndToEnd.xsd" namespace="http://xml.netbeans.org/schema/EndToEnd"/>
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="EndToEndRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="EndToEndResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="EndToEndError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="EndToEndPortType">
    <operation name="EndToEndOperation">
      <input message="tns:EndToEndRequest"/>
      <output message="tns:EndToEndResponse"/>
      <fault message="tns:EndToEndError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="EndToEndBinding" type="tns:EndToEndPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="EndToEndOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="EndToEndService">
    <port name="EndToEndPort" binding="tns:EndToEndBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
  <message name="requestMessage">
    <part name="inputType" element="ns:typeA"/>
  </message>
  <message name="responseMessage">
    <part name="resultType" element="ns:typeA"/>
  </message>
  <portType name="E2EportType1">
    <operation name="E2Eoperation1">
      <input name="input1" message="tns:requestMessage"/>
      <output name="output1" message="tns:responseMessage"/>
    </operation>
  </portType>
  <binding name="E2Ebinding1" type="tns:E2EportType1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="E2Eoperation1">
      <input name="input1">
        <soap:body use="literal"/>
      </input>
      <output name="output1">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="E2Eservice1">
    <port name="E2Eport1" binding="tns:E2Ebinding1">
      <soap:address location="http://localhost:${HttpDefaultPort}/EndToEnd"/>
    </port>
  </service>
  <plink:partnerLinkType name="E2Epartnerlinktype1">
    <plink:role name="E2Epartnerlinktyperole1" portType="tns:E2EportType1"/>
  </plink:partnerLinkType>
</definitions>
