driver-tests/bpelse/systemicqualities/Redelivery/RedeliverWithSuspend/src/benchMark.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<definitions targetNamespace="http://localhost/MultiDepBpel/benchMark"
             name="benchMark"
             xmlns:tns="http://localhost/MultiDepBpel/benchMark"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:jms="http://schemas.sun.com/jbi/wsdl-extensions/jms/">
    <plnk:partnerLinkType name="benchMarkLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
                   portType="tns:benchMarkPortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="benchMarkSubBPLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
                   portType="tns:benchMarkSubBPPortType"></plnk:role>
    </plnk:partnerLinkType>

    <types>
        <xsd:schema targetNamespace="http://localhost/MultiDepBpel/benchMark"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
                    xmlns:tns="http://localhost/MultiDepBpel/benchMark"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <xsd:element type="tns:benchMarkType"  name="benchMarkElement"/>                    
            <xsd:complexType name="benchMarkType">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                    <xsd:element type="xsd:string"
                                 name="waitTime"></xsd:element>
                    <xsd:element type="xsd:string" name="payLoad" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="benchMarkMessage">
        <part name="benchMarkPart"
              element="tns:benchMarkElement"></part>
    </message>
    <portType name="benchMarkPortType">
        <operation name="benchMarkOperation1">
            <input message="tns:benchMarkMessage"></input>
            <output message="tns:benchMarkMessage"></output>
        </operation>
        <operation name="benchMarkOperation2">
            <input message="tns:benchMarkMessage"></input>
        </operation>
    </portType>
    <portType name="benchMarkSubBPPortType">
        <operation name="benchMarkSubBPOperation1">
            <input message="tns:benchMarkMessage"></input>
            <output message="tns:benchMarkMessage"></output>
            <fault name="subBPFault"
                   message="tns:benchMarkMessage"></fault>
        </operation>
    </portType>
    <portType name="QueuePT">
        <operation name="QueueOper">
            <input name="input1" message="tns:benchMarkMessage"/>
        </operation>
    </portType>
    <binding name="benchMarkBinding"
             type="tns:benchMarkPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="benchMarkOperation1">
            <soap:operation soapAction="benchMarkOperation1"/>
            <input>
                <soap:body parts="benchMarkPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="benchMarkPart"
                           use="literal"/>
            </output>
        </operation>
        <operation name="benchMarkOperation2">
            <soap:operation soapAction="benchMarkOperation2"/>
            <input>
                <soap:body parts="benchMarkPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="benchMarkSubBPBinding"
             type="tns:benchMarkSubBPPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="benchMarkSubBPOperation1">
            <soap:operation soapAction="benchMarkSubBPOperation1"/>
            <input>
                <soap:body parts="benchMarkPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="benchMarkPart"
                           use="literal"/>
            </output>
            <wsdl:fault name="subBPFault">
                <soap:fault name="subBPFault" use="literal"/>
            </wsdl:fault>
        </operation>
    </binding>
    <binding name="QueuePTBinding" type="tns:QueuePT">
        <jms:binding/>
        <operation name="QueueOper">
            <jms:operation destination="Queue1" destinationType="Queue"/>
            <input name="input1">
                <jms:message messageType="TextMessage" textPart="benchMarkPart"/>
            </input>
        </operation>
    </binding>
    <service name="benchMarkService">
        <port name="benchMarkPort"
              binding="tns:benchMarkBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/benchMark"/>
        </port>
    </service>
    <service name="benchMarkSubBPService">
        <port name="benchMarkPort"
              binding="tns:benchMarkSubBPBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/benchMarkSubBPService/InvokeHandler"/>
        </port>
    </service>
    <service name="QueueService">
        <port name="QueueServiceBindingPort" binding="tns:QueuePTBinding">
            <jms:address connectionURL="mq://localhost:7676"/>
        </port>
    </service>
    <slnk:partnerLinkType name="QueuePLT">
        <slnk:role name="QueuePTRole" portType="tns:QueuePT"/>
    </slnk:partnerLinkType>
</definitions>
