driver-tests/bpelse/repeatuntil/RepeatUntilBpel/src/RepeatUntilEmpty/RepeatUntilEmpty.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="RepeatUntilEmpty" targetNamespace="http://j2ee.netbeans.org/wsdl/RepeatUntilEmpty"
    xmlns:tns="http://j2ee.netbeans.org/wsdl/RepeatUntilEmpty"
    xmlns:ns1="urn:WS/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/RepeatUntilEmpty">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="RepeatUntilEmptyRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="RepeatUntilEmptyResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="RepeatUntilEmptyError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="RepeatUntilEmptyPortType">
    <operation name="RepeatUntilEmptyOperation">
      <input message="tns:RepeatUntilEmptyRequest"/>
      <output message="tns:RepeatUntilEmptyResponse"/>
      <fault message="tns:RepeatUntilEmptyError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="RepeatUntilEmptyBinding" type="tns:RepeatUntilEmptyPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="RepeatUntilEmptyOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="RepeatUntilEmptyService">
    <port name="RepeatUntilEmptyPort" binding="tns:RepeatUntilEmptyBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <message name="RptMessage">
        <part name="part1" type="xsd:string"/>
        <part name="part2" type="xsd:int"/>
        <part name="part3" type="xsd:decimal"/>
    </message>
    <portType name="MyPortType1">
        <operation name="RepeatUntilEmpty">
            <input name="input1" message="tns:RptMessage"/>
            <output name="output1" message="tns:RptMessage"/>
        </operation>
    </portType>
    <binding name="RepeatUntilEmptyBinding1" type="tns:MyPortType1">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="RepeatUntilEmpty">
        <input name="input1">
          <soap:body/>
        </input><output name="output1">
    <soap:body/>
</output>
        </operation>
    </binding>
    <service name="RepeatUntilEmptyService1">
        <port name="RepeatUntilEmptyPort1" binding="tns:RepeatUntilEmptyBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/RepeatUntilEmpty/RepeatUntilEmptyService"/>
        </port>
    </service>
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="partnerlinktyperole1" portType="tns:MyPortType1"/>
    </plink:partnerLinkType>
</definitions>
