driver-tests/bpelse/repeatuntil/RepeatUntilBpel/src/RepeatUntilwithReply/RepeatUntilwithReply.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="RepeatUntilwithReply" targetNamespace="http://localhost/RepeatUntilBpel/RepeatUntilwithReply"
    xmlns:ns1="urn:WS/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost/RepeatUntilBpel/RepeatUntilwithReply" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://localhost/RepeatUntilBpel/RepeatUntilwithReply" xmlns:tns="http://localhost/RepeatUntilBpel/RepeatUntilwithReply">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="RepeatUntilwithReplyRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="RepeatUntilwithReplyResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="RepeatUntilwithReplyError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="RepeatUntilwithReplyPortType">
    <operation name="RepeatUntilwithReplyOperation">
      <input message="tns:RepeatUntilwithReplyRequest"/>
      <output message="tns:RepeatUntilwithReplyResponse"/>
      <fault message="tns:RepeatUntilwithReplyError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="RepeatUntilwithReplyBinding" type="tns:RepeatUntilwithReplyPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="RepeatUntilwithReplyOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="RepeatUntilwithReplyService">
    <port name="RepeatUntilwithReplyPort" binding="tns:RepeatUntilwithReplyBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <message name="RptMessage1">
        <part name="part1" type="xsd:string"/>
        <part name="part2" type="xsd:int"/>
    </message>
    <portType name="RptPortType1">
        <operation name="operation1">
            <input name="input1" message="tns:RptMessage1"/>
            <output name="output1" message="tns:RptMessage1"/>
        </operation>
    </portType>
    <binding name="binding1" type="tns:RptPortType1">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="operation1">
        <input name="input1">
          <soap:body/>
        </input><output name="output1">
    <soap:body/>
</output>
        </operation>
    </binding>
    <service name="RepeatWithReplyService1">
        <port name="port1" binding="tns:binding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/RepeatUntilwithReply/RepeatWithReplyService1"/>
        </port>
    </service>
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="partnerlinktyperole1" portType="tns:RptPortType1"/>
    </plink:partnerLinkType>
</definitions>
