driver-tests/bpelse/misc/MiscBpel/src/builtinvariables/buildinvariables.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:BuiltInTypesTargetNamespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BuiltInTypesDefinition" targetNamespace="urn:BuiltInTypesTargetNamespace">
    <types>
        <xsd:schema xmlns:ns1="urn:BuiltInTypesTargetNamespace" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:BuiltInTypesTargetNamespace">
            <xsd:complexType name="XSDType">
                <xsd:sequence>
                    <xsd:element name="boolean" type="xsd:boolean"/>
                    <xsd:element name="base64Binary" type="xsd:base64Binary"/>
                    <xsd:element name="hexBinary" type="xsd:hexBinary"/>
                    <xsd:element name="anyURI" type="xsd:anyURI"/>
                    <xsd:element name="language" type="xsd:language"/>
                    <xsd:element name="normalizedString" type="xsd:normalizedString"/>
                    <xsd:element name="string" type="xsd:string"/>
                    <xsd:element name="token" type="xsd:token"/>
                    <xsd:element name="byte" type="xsd:byte"/>
                    <xsd:element name="decimal" type="xsd:decimal"/>
                    <xsd:element name="double" type="xsd:double"/>
                    <xsd:element name="float" type="xsd:float"/>
                    <xsd:element name="int" type="xsd:int"/>
                    <xsd:element name="integer" type="xsd:integer"/>
                    <xsd:element name="long" type="xsd:long"/>
                    <xsd:element name="negativeInteger" type="xsd:negativeInteger"/>
                    <xsd:element name="nonNegativeInteger" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="nonPositiveInteger" type="xsd:nonPositiveInteger"/>
                    <xsd:element name="positiveInteger" type="xsd:positiveInteger"/>
                    <xsd:element name="short" type="xsd:short"/>
                    <xsd:element name="unsignedByte" type="xsd:unsignedByte"/>
                    <xsd:element name="unsignedInt" type="xsd:unsignedInt"/>                    
                    <xsd:element name="unsignedLong" type="xsd:unsignedLong"/>
                    <xsd:element name="unsignedShort" type="xsd:unsignedShort"/>
                    <xsd:element name="date" type="xsd:date"/>
                    <xsd:element name="dateTime" type="xsd:dateTime"/>
                    <xsd:element name="duration" type="xsd:duration"/>
                    <xsd:element name="gDay" type="xsd:gDay"/>                    
                    <xsd:element name="gMonthDay" type="xsd:gMonthDay"/>
                    <xsd:element name="gYear" type="xsd:gYear"/>
                    <xsd:element name="gYearMonth" type="xsd:gYearMonth"/>
                    <xsd:element name="time" type="xsd:time"/>
                    <xsd:element name="Name" type="xsd:Name"/>
                    <xsd:element name="NCName" type="xsd:NCName"/>
                    <xsd:element name="NOTATION" type="xsd:NOTATION"/>
                    <xsd:element name="QName" type="xsd:QName"/>
                    <xsd:element name="ENTITIES" type="xsd:ENTITIES"/>
                    <xsd:element name="ENTITY" type="xsd:ENTITY"/>
                    <xsd:element name="ID" type="xsd:ID"/>
                    <xsd:element name="IDREF" type="xsd:IDREF"/>
                    <xsd:element name="IDREFS" type="xsd:IDREFS"/>
                    <xsd:element name="NMTOKEN" type="xsd:NMTOKEN"/>
                    <xsd:element name="NMTOKENS" type="xsd:NMTOKENS"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="BuiltInTypesMessage">
        <part name="BuiltInTypesPart" type="tns:XSDType"/>
    </message>
    <portType name="BuiltInTypesPortType">
        <operation name="BuiltInTypesOperation">
            <input message="tns:BuiltInTypesMessage"/>
            <output message="tns:BuiltInTypesMessage"/>
        </operation>        
    </portType>
    <binding name="BuiltInTypesBinding" type="tns:BuiltInTypesPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="BuiltInTypesOperation">
            <soap:operation soapAction="BuiltInTypesOperation"/>
            <input>
                <soap:body parts="BuiltInTypesPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="BuiltInTypesPart" use="literal"/>
            </output>
        </operation>        
    </binding>
    <service name="BuiltInTypesService">
        <port binding="tns:BuiltInTypesBinding" name="BuiltInTypesPort">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/BuiltInTypes"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="BuiltInTypesServiceLinkType">
        <plnk:role name="BuiltInTypesServerRole" portType="tns:BuiltInTypesPortType"/>
    </plnk:partnerLinkType>
</definitions>
