driver-tests/sqlse/derby/complexquerywrongSQL/src/complexquerywrongSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="complexquerywrongSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="complexwrongqueryRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="complexwrongqueryResponse"><xsd:complexType><xsd:sequence><xsd:element name="CITY" type="xsd:string"/><xsd:element name="CREDIT_LIMIT" type="xsd:int"/><xsd:element name="DISCOUNT_CODE" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="complexwrongqueryRequest">
    <part name="complexwrongqueryRequestPart" element="tns:complexwrongqueryRequest"/>
  </message>
  <message name="complexwrongqueryResponse">
    <part name="complexwrongqueryResponsePart" element="tns:complexwrongqueryResponse"/>
  </message>
  <portType name="complexquerywrongSQL_sqlsePortType">
    <operation name="complexwrongquery">
      <input name="complexwrongqueryRequest" message="tns:complexwrongqueryRequest"/>
      <output name="complexwrongqueryResponse" message="tns:complexwrongqueryResponse"/>
    </operation>
  </portType>
  <binding name="complexquerywrongSQLBinding" type="tns:complexquerywrongSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="complexwrongquery">
      <soap:operation style="document"/>
      <input name="complexwrongqueryRequest">
        <soap:body use="literal"/>
      </input>
      <output name="complexwrongqueryResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="complexquerywrongSQL_sqlseService">
    <port name="complexquerywrongSQL_sqlsePort" binding="tns:complexquerywrongSQLBinding">
      <soap:address location="http://localhost:18181/complexquerywrongSQL/complexquerywrongSQL/complexquerywrongSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="complexquerywrongSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="complexquerywrongSQL_myrole" portType="tns:complexquerywrongSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
