ojc-core/snmpbc/EndToEnd/EJBMonitors/xml-resources/web-service-references/StatsSvc2/wsdl/localhost_8080/StatsSvc2Service/StatsSvc2.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is unknown. --><xs:schema xmlns:tns="http://proceng2ejb.soabi.sun.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://proceng2ejb.soabi.sun.com/">

<xs:element name="getStats" type="tns:getStats"></xs:element>

<xs:element name="getStatsResponse" type="tns:getStatsResponse"></xs:element>

<xs:complexType name="getStats">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getStatsResponse">
<xs:sequence>
<xs:element name="return" type="tns:stats" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stats">
<xs:sequence>
<xs:element name="invokes" type="xs:int"></xs:element>
<xs:element name="items" type="xs:int"></xs:element>
<xs:element name="last" type="xs:long"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>