driver-tests/filebc/FileBCTests/FileBCJbi/src/jbiServiceUnits/FileBCBpel/MultipleBindingInOut/FileOutTest.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:FileOut" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileOutService" targetNamespace="urn:FileOut">
    <types>
        <xsd:schema xmlns:ns1="urn:FileOut" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:FileOut">
            <xsd:element name="helloObj" type="tns:helloObjType">
            </xsd:element>
            <xsd:element name="status" type="xsd:string">
            </xsd:element>            
            <xsd:complexType name="helloObjType">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                    <xsd:element name="nonNegativeInteger" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="byte" type="xsd:byte"/>
                    <xsd:element name="short" type="xsd:short"/>
                    <xsd:element name="int" type="xsd:int"/>
                    <xsd:element name="long" type="xsd:long"/>
                    <xsd:element name="negativeInteger" type="xsd:negativeInteger"/>
                    <xsd:element name="dateTime" type="xsd:dateTime"/>
                    <xsd:element name="nonPositiveInteger" type="xsd:nonPositiveInteger"/>
                    <xsd:element name="duration" type="xsd:duration"/>
                    <xsd:element name="ENTITIES" type="xsd:ENTITIES"/>
                    <xsd:element name="double" type="xsd:double"/>
                    <xsd:element name="ENTITY" type="xsd:ENTITY"/>
                    <xsd:element name="float" type="xsd:float"/>
                    
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="HelloIF_sayHello">
        <part element="tns:helloObj" name="body"/>
    </message>
    <message name="HelloIF_sayHelloResponse">
        <part element="tns:status" name="result"/>
    </message>
    <portType name="HelloIF">
        <operation name="sayHello">
            <input message="tns:HelloIF_sayHello"/>
        </operation>
    </portType>
    <binding name="HelloIFBinding" type="tns:HelloIF">
        <file:binding/>
        <operation name="sayHello">
            <file:operation/> 
            <input>
                <file:message use="literal" fileName="filebcwrite.txt" fileNameIsPattern="false" addEOL="false" multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <service name="MyHelloService">
        <port binding="tns:HelloIFBinding" name="HelloIFPort">
            <file:address fileDirectory="D:\\opt"/>
        </port>
    </service>
    
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="HelloIFServiceLink">
	<plnk:role name="HelloIFRole" portType="tns:HelloIF"/>
   </plnk:partnerLinkType>

</definitions>
