contrib-imola/corba-bc/jbi4corba/src/main/jbi/META-INF/componentConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://com.sun.jbi.component/schema/configuration"
            xmlns:tns="http://com.sun.jbi.component/schema/configuration"
            attributeFormDefault="unqualified"
            elementFormDefault="qualified">
    
    <xsd:element name="Configuration" 
                 type="tns:ConfigurationType"/>
    
    <xsd:complexType name="ConfigurationType">
        <xsd:sequence>
            <xsd:element type="tns:ThreadType" name="OutboundThreads">
            </xsd:element>
            
        </xsd:sequence>
        <xsd:attribute type="xsd:string" name="name"/>
    </xsd:complexType>
    
    <xsd:complexType name="ThreadType">
        <xsd:simpleContent>
            <xsd:extension base="tns:SimpleRestrictedThreadType">
                <xsd:attribute type="xsd:string" name="displayName"/>
                <xsd:attribute type="xsd:string" name="displayDescription"/>
                <xsd:attribute type="xsd:boolean" name="isPasswordField"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
     <xsd:simpleType name="SimpleRestrictedThreadType">
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="2147483647"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <!-- The Application Configuration Definition for corba BC -->
        <xsd:complexType name="ApplicationConfigurationsType">
            <xsd:attribute type="xsd:string" name="displayName"/>
            <xsd:attribute type="xsd:string" name="displayDescription"/>
            <xsd:attribute type="xsd:boolean" name="isPasswordField"/>
            <xsd:attribute type="xsd:boolean" name="isApplicationRestartRequired"/>
            <xsd:attribute type="xsd:boolean" name="isComponentRestartRequired"/>
            <xsd:attribute type="xsd:boolean" name="isServerRestartRequired"/>
            <xsd:sequence>
                <xsd:element type="tns:ConfigurationNameType" name="configurationName" />
                
                <xsd:element type="tns:LocalizationType" name="Localization_Type" />
                <xsd:element type="tns:AddressNameType" name="Name" />
                <xsd:element type="tns:ORBType" name="ORB" /> 
            </xsd:sequence>
        </xsd:complexType>
    
        <xsd:complexType name="ConfigurationNameType">
            <xsd:simpleContent>
                <xsd:extension base="tns:SimpleStringType">
                    
                    <xsd:attribute type="xsd:string" name="displayName"/>
                    <xsd:attribute type="xsd:string" name="displayDescription"/>
                    <xsd:attribute type="xsd:boolean" name="isPasswordField"/>
                    <xsd:attribute type="xsd:boolean" name="isRequiredField"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    
        
    
    <xsd:complexType name="LocalizationType">
                <xsd:simpleContent>
                    <xsd:extension base="tns:LocalizationTypeSimpleType">
                        
                        <xsd:attribute type="xsd:string" name="displayName"/>
                        <xsd:attribute type="xsd:string" name="displayDescription"/>
                        <xsd:attribute type="xsd:boolean" name="isPasswordField"/>
                        <xsd:attribute type="xsd:boolean" name="isRequiredField"/>
                    </xsd:extension>
                </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:simpleType name="LocalizationTypeSimpleType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="NameService"/>
            <xsd:enumeration value="corbaloc"/>
            <xsd:enumeration value="corbaname"/>
            <xsd:enumeration value="IOR"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:complexType name="AddressNameType">
                <xsd:simpleContent>
                    <xsd:extension base="tns:SimpleStringType">
                        
                        <xsd:attribute type="xsd:string" name="displayName"/>
                        <xsd:attribute type="xsd:string" name="displayDescription"/>
                        <xsd:attribute type="xsd:boolean" name="isPasswordField"/>
                        <xsd:attribute type="xsd:boolean" name="isRequiredField"/>
                    </xsd:extension>
                </xsd:simpleContent>
    </xsd:complexType>
    
    <xsd:complexType name="ORBType">
                <xsd:simpleContent>
                    <xsd:extension base="tns:SimpleStringType">
                        
                        <xsd:attribute type="xsd:string" name="displayName"/>
                        <xsd:attribute type="xsd:string" name="displayDescription"/>
                        <xsd:attribute type="xsd:boolean" name="isPasswordField"/>
                        <xsd:attribute type="xsd:boolean" name="isRequiredField"/>
                    </xsd:extension>
                </xsd:simpleContent>
    </xsd:complexType> 
    
    
</xsd:schema>

