driver-tests/bpelse/dynamicpartnerlink/correlation/correlationBPEL/src/correlation/invoke2/invoke_response_initiated/invoke_response_initiated_parent.wsdl

<definitions targetNamespace="invoke_response_initiatedParent"
             name="invoke_response_initiatedParent"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="invoke_response_initiatedParent"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="invoke_response_initiatedParentServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
                   portType="tns:invoke_response_initiatedParentPortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="invoke_response_initiatedParentServiceLinkType1"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
                   portType="tns:invoke_response_initiatedParentPortType1"></plnk:role>
    </plnk:partnerLinkType>
    <vprop:property name="property"
                   type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:property"
                        messageType="tns:invoke_response_initiatedParentMessage"
                        part="invoke_response_initiatedParentPart">
            <vprop:query>/invoke_response_initiatedParentElement/string</vprop:query>
    </vprop:propertyAlias> 
     <vprop:propertyAlias propertyName="tns:property"
                        messageType="tns:invoke_response_initiatedParentMessage1"
                        part="invoke_response_initiatedParentPart">
            <vprop:query>/invoke_response_initiatedParentElement/string</vprop:query>
    </vprop:propertyAlias>
    
    <types>
        <xsd:schema targetNamespace="invoke_response_initiatedParent"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
                    xmlns:tns="invoke_response_initiatedParent"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
                    <xsd:element type="tns:invoke_response_initiatedParentType"
                         name="invoke_response_initiatedParentElement"></xsd:element>
            <xsd:complexType name="invoke_response_initiatedParentType">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="invoke_response_initiatedParentMessage">
        <part name="invoke_response_initiatedParentPart"
              element="tns:invoke_response_initiatedParentElement"></part>
    </message>
    <message name="invoke_response_initiatedParentMessage1">
        <part name="invoke_response_initiatedParentPart"
              element="tns:invoke_response_initiatedParentElement"></part>
    </message>
    <portType name="invoke_response_initiatedParentPortType">
        <operation name="invoke_response_initiatedParentOperation">
            <input message="tns:invoke_response_initiatedParentMessage"></input>
            <output message="tns:invoke_response_initiatedParentMessage"></output>
        </operation>
    </portType>
    <portType name="invoke_response_initiatedParentPortType1">
        <operation name="invoke_response_initiatedParentOperation1">
            <input message="tns:invoke_response_initiatedParentMessage1"></input>
        </operation>
    </portType>
    <binding name="invoke_response_initiatedParentBinding"
             type="tns:invoke_response_initiatedParentPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="invoke_response_initiatedParentOperation">
            <soap:operation soapAction="invoke_response_initiatedParentOperation"/>
            <input>
                <soap:body parts="invoke_response_initiatedParentPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="invoke_response_initiatedParentPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="invoke_response_initiatedParentBinding1"
             type="tns:invoke_response_initiatedParentPortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="invoke_response_initiatedParentOperation1">
            <soap:operation soapAction="invoke_response_initiatedParentOperation1"/>
            <input>
                <soap:body parts="invoke_response_initiatedParentPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="invoke_response_initiatedParentService">
        <port name="invoke_response_initiatedParentPort"
              binding="tns:invoke_response_initiatedParentBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/invoke_response_initiatedParentService"/>
        </port>
        <port name="invoke_response_initiatedParentPort1"
              binding="tns:invoke_response_initiatedParentBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/invoke_response_initiatedParentService1"/>
        </port>
    </service>
</definitions>
