driver-tests/ftpbc/FTPBCTests/DownloadWithXSLTTransform/src/FTP_In_File_Out_Services.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/FTP_In_File_Out_Services"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/FTP_In_File_Out_Services" name="FTP_In_File_Out_Services" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ftp="http://schemas.sun.com/jbi/wsdl-extensions/ftp/" xmlns:ns="http://sun.com/UploadTest/EmplOutput" xmlns:ns1="http://sun.com/DownloadTest/EmplOutput" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/">
    <import namespace="http://sun.com/UploadTest/EmplOutput" location="EmployeeInput.xsd"/>
    <import namespace="http://sun.com/DownloadTest/EmplOutput" location="EmployeeOutput.xsd"/>
    <types/>
    <message name="FILE_OUT_MSG">
        <wsdl:part name="part1" element="ns1:EmployeeOutput"/>
    </message>
    <message name="FTP_IN_MSG">
        <wsdl:part name="part1" element="ns:EmployeeOutput"/>
    </message>
    <portType name="FILE_WRITE">
        <wsdl:operation name="FILE_WRITE_OP">
            <wsdl:input name="input1" message="tns:FILE_OUT_MSG"/>
        </wsdl:operation>
    </portType>
    <portType name="FTP_POLL">
        <wsdl:operation name="FTP_POLL_OP">
            <wsdl:input name="input1" message="tns:FTP_IN_MSG"/>
        </wsdl:operation>
    </portType>
    <binding name="FILE_OUT_BIND" type="tns:FILE_WRITE">
        <file:binding/>
        <wsdl:operation name="FILE_WRITE_OP">
            <file:operation/>
            <wsdl:input name="input1">
                <file:message use="literal" fileName="output%d.out" fileNameIsPattern="true"/>
            </wsdl:input>
        </wsdl:operation>
    </binding>
    <binding name="FTP_POLL_BIND" type="tns:FTP_POLL">
        <ftp:binding/>
        <wsdl:operation name="FTP_POLL_OP">
            <ftp:operation/>
            <wsdl:input name="input1">
                <ftp:message messageRepository="TEST_XSLT" use="literal" stage="true" protect="true" archive="true" messageCorrelate="false"/>
            </wsdl:input>
        </wsdl:operation>
    </binding>
    <service name="Remote2LocalService">
        <wsdl:port name="LocalPort" binding="tns:FILE_OUT_BIND">
            <file:address fileDirectory="${ojc-root}/driver-tests/ftpbc/FTPBCTests/UpXSLT_DownXSLT_CompApp/test/Up_Down_With_XSLT_Test/in_out"/>
        </wsdl:port>
        <wsdl:port name="RemotePort" binding="tns:FTP_POLL_BIND">
            <ftp:address url="ftp://${test_ftp_user}:${test_ftp_password}@${test_ftp_server_name}:${test_ftp_server_port}" useUserDefinedHeuristics="false" userDefDirListStyle="" userDefDirListHeuristics="" mode="BINARY" cmdChannelTimeout="45000" dataChannelTimeout="45000"/>
        </wsdl:port>
    </service>
    <plnk:partnerLinkType name="LocalFileServicesPartner">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="FILE_Out_PortTypeRole" portType="tns:FILE_WRITE"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="RemoteFTPServicePartner">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="FTP_In_PortTypeRole" portType="tns:FTP_POLL"/>
    </plnk:partnerLinkType>
</definitions>
