contrib-imola/corba-bc/integration-test/test-provider-complex-out/provider-complex-out-http-consumer/src/main/resources/EchoComplexOutHttp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EchoComplexOut" targetNamespace="http://it.imolinfo.jbi4corba.test.testprovidercomplexout.EchoComplexOut" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://it.imolinfo.jbi4corba.test.testprovidercomplexout.EchoComplexOut" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://it.imolinfo.jbi4corba.test.testprovidercomplexout.EchoComplexOut" xmlns="http://it.imolinfo.jbi4corba.test.testprovidercomplexout.EchoComplexOut" xmlns:ns1="http://testprovidercomplexout.test.jbi4corba.imolinfo.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://testprovidercomplexout.test.jbi4corba.imolinfo.it/" schemaLocation="TypeDef_testprovidercomplexout.test.jbi4corba.imolinfo.it.xsd"/>
   <xs:element name="echo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="input" type="ns1:echoStruct"/>
                <xs:element name="output" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="echoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="return" type="ns1:echoStruct"/>
                <xs:element name="output" type="ns1:echoStruct"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="echo">
    <wsdl:part name="parameters" element="tns:echo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part name="parameters" element="tns:echoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EchoComplexOut">
    <wsdl:operation name="echo">
      <wsdl:input name="echo" message="tns:echo">
    </wsdl:input>
      <wsdl:output name="echoResponse" message="tns:echoResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EchoComplexOutCorba1Binding" type="tns:EchoComplexOut">

    <wsdl:operation name="echo">
      <wsdl:input name="echo">
      </wsdl:input>
      <wsdl:output name="echoResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
    <wsdl:binding name="EchoComplexOutCorbaBinding" type="tns:EchoComplexOut">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="echo">
            <soap:operation/>
            <wsdl:input name="echo">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EchoComplexOut">
        <wsdl:port name="EchoComplexOutCorbaPort" binding="tns:EchoComplexOutCorbaBinding">
            <soap:address location="http://localhost:8192/Service/test-provider-complex-out/"/>
        </wsdl:port>
    </wsdl:service>
<plnk:partnerLinkType name="EchoComplexOut">
<plnk:role name="EchoComplexOutPortTypeRole" portType="tns:EchoComplexOut"/>
</plnk:partnerLinkType>
</wsdl:definitions>
