driver-tests/sqlse/derby/deletemultiparamSQL/src/deletemultiparamSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="deletemultiparamSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="deletemultiparamRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/><xsd:element name="param2" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="deletemultiparamRequest">
    <part name="deletemultiparamRequestPart" element="tns:deletemultiparamRequest"/>
  </message>
  <message name="deletemultiparamResponse">
    <part name="deletemultiparamResponsePart" element="tns:numRowsEffected"/>
  </message>
  <portType name="deletemultiparamSQL_sqlsePortType">
    <operation name="deletemultiparam">
      <input name="deletemultiparamRequest" message="tns:deletemultiparamRequest"/>
      <output name="deletemultiparamResponse" message="tns:deletemultiparamResponse"/>
    </operation>
  </portType>
  <binding name="deletemultiparamSQLBinding" type="tns:deletemultiparamSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="deletemultiparam">
      <soap:operation style="document"/>
      <input name="deletemultiparamRequest">
        <soap:body use="literal"/>
      </input>
      <output name="deletemultiparamResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="deletemultiparamSQL_sqlseService">
    <port name="deletemultiparamSQL_sqlsePort" binding="tns:deletemultiparamSQLBinding">
      <soap:address location="http://localhost:18181/deletemultiparamSQL/deletemultiparamSQL/deletemultiparamSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="deletemultiparamSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="deletemultiparamSQL_myrole" portType="tns:deletemultiparamSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
