driver-tests/bpelse/dynamicpartnerlink/DPL_OneWayCallbackBpelServiceBpel/src/AbstractOneWayService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="OneWayBpelService1" targetNamespace="http://j2ee.netbeans.org/wsdl/OneWayBpelService"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:tns="http://j2ee.netbeans.org/wsdl/OneWayBpelService">
    <types/>
    <message name="OneWayBpelServiceInOperationRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="OneWayBpelServiceOutOperationRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <portType name="OneWayBpelServiceInPortType">
        <operation name="OneWayBpelServiceInOperation">
            <input name="input1" message="tns:OneWayBpelServiceInOperationRequest"/>
        </operation>
    </portType>
    <portType name="OneWayBpelServiceOutPortType">
        <operation name="OneWayBpelServiceOutOperation">
            <input name="input1" message="tns:OneWayBpelServiceOutOperationRequest"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="OneWayBpelService1In">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="OneWayBpelService1InPortTypeRole" portType="tns:OneWayBpelServiceInPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="OneWayBpelService1Out">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="OneWayBpelService1OutPortTypeRole" portType="tns:OneWayBpelServiceOutPortType"/>
    </plnk:partnerLinkType>
</definitions>
