contrib-imola/corba-bc/integration-test/test-consumer-fault/consumer-fault-jbi4corba-provider/src/main/resources/EchoFault_test-consumer-fault.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://test_consumer_fault.jbi4corba/" xmlns:tns="urn:jbi4corba/test-consumer-fault" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:jbi4corba/test-consumer-fault">
  <xsd:import namespace="http://test_consumer_fault.jbi4corba/" schemaLocation="EchoFault_test_consumer_fault.jbi4corba.xsd"/>
    <xsd:element name="EchoExceptionSimpleEx" type="tns:EchoExceptionSimpleEx"/>
    <xsd:complexType name="EchoExceptionSimpleEx">
        <xsd:sequence>
            <xsd:element name="value" nillable="true" type="ns0:echoExceptionSimple"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="EchoExceptionComplexEx" type="tns:EchoExceptionComplexEx"/>
    <xsd:complexType name="EchoExceptionComplexEx">
        <xsd:sequence>
            <xsd:element name="value" nillable="true" type="ns0:echoExceptionComplex"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="echo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>