driver-tests/bpelse/correlation/correlationBPEL2/src/testJoinsAccrossInstances-bugster-6573863/parentWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="parentWS" targetNamespace="http://j2ee.netbeans.org/wsdl/parentWS"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/parentWS" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types/>
    <message name="parentWSOperationRequest">
        <part name="part1" type="xsd:string"/>
        <wsdl:part name="part2" type="xsd:string"/>
    </message>
    <message name="parentWSOperationReply">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="parentWSOperationRequest1">
        <part name="part1" type="xsd:string"/>
    </message>
    <portType name="parentWSPortType">
        <wsdl:operation name="parentWSOperation">
            <wsdl:input name="input1" message="tns:parentWSOperationRequest"/>
            <wsdl:output name="output1" message="tns:parentWSOperationReply"/>
        </wsdl:operation>
    </portType>
    <portType name="callBackToParent">
        <wsdl:operation name="callBackToParent">
            <wsdl:input name="input1" message="tns:parentWSOperationRequest1"/>
        </wsdl:operation>
    </portType>
    <binding name="parentWSBinding" type="tns:parentWSPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="parentWSOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/parentWS"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/parentWS"/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <service name="parentWSService">
        <wsdl:port name="parentWSPort" binding="tns:parentWSBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/parentWSService/parentWSPort"/>
        </wsdl:port>
    </service>
    <plnk:partnerLinkType name="parentWS1">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="parentWSPortTypeRole" portType="tns:parentWSPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="parentWS12">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="callBackToParentRole" portType="tns:callBackToParent"/>
    </plnk:partnerLinkType>
    <vprop:property name="parentCorr" type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:parentCorr" messageType="tns:parentWSOperationRequest" part="part2"/>
    <vprop:propertyAlias propertyName="tns:parentCorr" messageType="tns:parentWSOperationRequest1" part="part1"/>
</definitions>
