ojc-core/encodersl/xsdextension-hl7/src/hl7encoder-xsdextension.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 # BEGIN_HEADER - DO NOT EDIT
 # 
 # The contents of this file are subject to the terms
 # of the Common Development and Distribution License
 # (the "License").  You may not use this file except
 # in compliance with the License.
 #
 # You can obtain a copy of the license at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # See the License for the specific language governing
 # permissions and limitations under the License.
 #
 # When distributing Covered Code, include this CDDL
 # HEADER in each file and include the License file at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # If applicable add the following below this CDDL HEADER,
 # with the fields enclosed by brackets "[]" replaced with
 # your own identifying information: Portions Copyright
 # [year] [name of copyright owner]
-->
<!-- 
 # @(#)hl7encoder-xsdextension.xsd 
 #
 # Copyright 2004-2007 Sun Microsystems, Inc. All Rights Reserved.
 # 
 # END_HEADER - DO NOT EDIT
-->
<!-- edited with XMLSpy v2006 sp1 U (http://www.altova.com) by Jun Xu (SeeBeyond Technology Corp.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:com.sun:encoder-hl7-1.0" xmlns:ns1="urn:com.sun:encoder" targetNamespace="urn:com.sun:encoder-hl7-1.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="urn:com.sun:encoder" schemaLocation="../../xsdextension-fw/src/encoderfrmwk-xsdextension.xsd"/>
	<xs:complexType name="hl7Encoding">
		<xs:annotation>
			<xs:documentation>The complex type that governs the content used in appinfo that defines HL7 encoding settings</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ns1:encodingBase">
				<xs:sequence>
					<xs:element name="Item" type="xs:string" minOccurs="0"/>
					<xs:element name="Type" type="xs:string" minOccurs="0"/>
					<xs:element name="Table" type="xs:string" minOccurs="0"/>
					<xs:element name="LongName" type="xs:string" minOccurs="0"/>
					<xs:element name="RawMessageMode" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								If set to true in the appinfo block of a message being encoded or decoded,
								the message will be treated in "raw message" mode, meaning that only the
								MSH segment will be parsed, and the message itself will be passed along
								raw.
							</xs:documentation>
						</xs:annotation>
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:enumeration value="WHOLE_MESSAGE">
                                                            <xs:annotation>
                                                                <xs:documentation>
                                                                    Message will be passed as is to an element called "RawMessage"
                                                                </xs:documentation>
                                                            </xs:annotation>
                                                        </xs:enumeration>
                                                    </xs:restriction>
                                                </xs:simpleType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
