contrib-imola/corba-bc/jbi4corba/src/test/etc/sus/echo-su-consumer-multiple/EchoMultipleComplex_cons_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EchoComplex2" targetNamespace="http://it.imolinfo.jbi4corba.test.webservice.generator.echocomplex2" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:imolacorba="uri://schemas.imola.it/jbi/wsdl-extensions/corba/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://it.imolinfo.jbi4corba.test.webservice.generator.echocomplex2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://echocomplex.generator.webservice.test.jbi4corba.imolinfo.it/" xmlns:tns="http://echocomplex.generator.webservice.test.jbi4corba.imolinfo.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="vtPrimi">
<xs:sequence>
<xs:element name="fieldBoolean" type="xs:boolean"/>
<xs:element name="fieldChar" type="xs:unsignedShort"/>
<xs:element name="fieldDouble" type="xs:double"/>
<xs:element name="fieldFloat" type="xs:float"/>
<xs:element name="fieldLong" type="xs:int"/>
<xs:element name="fieldLongLong" type="xs:long"/>
<xs:element name="fieldOctet" type="xs:byte"/>
<xs:element name="fieldShort" type="xs:short"/>
<xs:element minOccurs="0" name="fieldString" type="xs:string"/>
<xs:element name="fieldUnsignedLong" type="xs:int"/>
<xs:element name="fieldUnsignedLongLong" type="xs:long"/>
<xs:element name="fieldUnsignedShort" type="xs:short"/>
<xs:element name="fieldWChar" type="xs:unsignedShort"/>
<xs:element minOccurs="0" name="fieldWString" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="echoVT">
<xs:sequence>
<xs:element name="privateLong" type="xs:int"/>
<xs:element name="publicShort" type="xs:short"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="echoStruct">
<xs:sequence>
<xs:element name="fieldBoolean" type="xs:boolean"/>
<xs:element name="fieldChar" type="xs:unsignedShort"/>
<xs:element name="fieldDouble" type="xs:double"/>
<xs:element name="fieldFloat" type="xs:float"/>
<xs:element name="fieldLong" type="xs:int"/>
<xs:element name="fieldLongLong" type="xs:long"/>
<xs:element name="fieldOctet" type="xs:byte"/>
<xs:element name="fieldShort" type="xs:short"/>
<xs:element minOccurs="0" name="fieldString" type="xs:string"/>
<xs:element name="fieldUnsignedLong" type="xs:int"/>
<xs:element name="fieldUnsignedLongLong" type="xs:long"/>
<xs:element name="fieldUnsignedShort" type="xs:short"/>
<xs:element name="fieldWChar" type="xs:unsignedShort"/>
<xs:element minOccurs="0" name="fieldWString" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="mySequence">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="myLong">
<xs:sequence>
<xs:element name="data" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="structOfValuetype">
<xs:sequence>
<xs:element minOccurs="0" name="data" type="tns:vtPrimi"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="valueTypeOfStruct">
<xs:sequence>
<xs:element minOccurs="0" name="data" type="tns:echoStruct"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="valueTypeOfValueType">
<xs:sequence>
<xs:element minOccurs="0" name="data" type="tns:vtPrimi"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="vtPrimiSeq">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="data" nillable="true" type="tns:vtPrimi"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="structOfStruct">
<xs:sequence>
<xs:element minOccurs="0" name="internalStruct" type="tns:echoStruct"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="echoStructArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:echoStruct"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="vtPrimiArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:vtPrimi"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="it.imolinfo.jbi4corba.test.webservice.generator.echocomplex2" xmlns:ns0="http://echocomplex.generator.webservice.test.jbi4corba.imolinfo.it/" xmlns:tns="it.imolinfo.jbi4corba.test.webservice.generator.echocomplex2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://echocomplex.generator.webservice.test.jbi4corba.imolinfo.it/"/>
<xsd:element name="EchoComplexException" type="tns:EchoComplexException"/>
<xsd:complexType name="EchoComplexException">
<xsd:sequence>
<xsd:element name="reason" nillable="true" type="ns0:echoStructArray"/>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="echoValueType2">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="e" type="ns0:echoVT"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoValueType2Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:echoVT"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoVTPrimi2">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="v" type="ns0:vtPrimi"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoVTPrimi2Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:vtPrimi"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoStructOfStruct2">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="v" type="ns0:structOfStruct"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoStructOfStruct2Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:structOfStruct"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoStruct2">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="es" type="ns0:echoStruct"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoStruct2Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:echoStruct"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoExceptionThrown2">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="es" type="ns0:echoStruct"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoExceptionThrown2Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:echoStruct"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoSequenceSeqEchoStruct2">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="es" type="ns0:echoStruct"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoSequenceSeqEchoStruct2Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns0:echoStruct"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoValueBoxedTypePrimitive2">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="e" type="ns0:myLong"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoValueBoxedTypePrimitive2Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:myLong"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoVTPrimiSeq2">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="v" type="ns0:vtPrimiSeq"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoVTPrimiSeq2Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:vtPrimiSeq"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoStructOfValuetype2">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="v" type="ns0:structOfValuetype"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoStructOfValuetype2Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:structOfValuetype"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echo2">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="msg" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echo2Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoValueBoxedTypeComplex2">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="e" type="ns0:mySequence"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoValueBoxedTypeComplex2Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:mySequence"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoExceptionNotThrown2">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="es" type="ns0:echoStruct"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoExceptionNotThrown2Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:echoStruct"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoSequenceValueType2">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="es" type="ns0:mySequence"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoSequenceValueType2Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:mySequence"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoValueTypeOfValueType2">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="v" type="ns0:valueTypeOfValueType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoValueTypeOfValueType2Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:valueTypeOfValueType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoSequence2">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="es" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoSequence2Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="return" type="xsd:int"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoSequenceSeqMySequence2">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="es" type="ns0:mySequence"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoSequenceSeqMySequence2Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns0:mySequence"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoValueTypeOfStruct2">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="v" type="ns0:valueTypeOfStruct"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="echoValueTypeOfStruct2Response">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:valueTypeOfStruct"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="echoValueBoxedTypePrimitive2">
    <wsdl:part name="parameters" element="tns:echoValueBoxedTypePrimitive2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequence2Response">
    <wsdl:part name="parameters" element="tns:echoSequence2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoExceptionNotThrown2Response">
    <wsdl:part name="parameters" element="tns:echoExceptionNotThrown2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueBoxedTypeComplex2Response">
    <wsdl:part name="parameters" element="tns:echoValueBoxedTypeComplex2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoStructOfStruct2Response">
    <wsdl:part name="parameters" element="tns:echoStructOfStruct2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequenceSeqMySequence2">
    <wsdl:part name="parameters" element="tns:echoSequenceSeqMySequence2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueBoxedTypeComplex2">
    <wsdl:part name="parameters" element="tns:echoValueBoxedTypeComplex2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueTypeOfStruct2">
    <wsdl:part name="parameters" element="tns:echoValueTypeOfStruct2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoVTPrimi2Response">
    <wsdl:part name="parameters" element="tns:echoVTPrimi2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoStructOfValuetype2Response">
    <wsdl:part name="parameters" element="tns:echoStructOfValuetype2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo2">
    <wsdl:part name="parameters" element="tns:echo2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequenceSeqEchoStruct2">
    <wsdl:part name="parameters" element="tns:echoSequenceSeqEchoStruct2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueTypeOfValueType2Response">
    <wsdl:part name="parameters" element="tns:echoValueTypeOfValueType2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoExceptionNotThrown2">
    <wsdl:part name="parameters" element="tns:echoExceptionNotThrown2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoStruct2Response">
    <wsdl:part name="parameters" element="tns:echoStruct2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoStruct2">
    <wsdl:part name="parameters" element="tns:echoStruct2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoStructOfValuetype2">
    <wsdl:part name="parameters" element="tns:echoStructOfValuetype2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueBoxedTypePrimitive2Response">
    <wsdl:part name="parameters" element="tns:echoValueBoxedTypePrimitive2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueTypeOfStruct2Response">
    <wsdl:part name="parameters" element="tns:echoValueTypeOfStruct2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequence2">
    <wsdl:part name="parameters" element="tns:echoSequence2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueTypeOfValueType2">
    <wsdl:part name="parameters" element="tns:echoValueTypeOfValueType2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequenceValueType2Response">
    <wsdl:part name="parameters" element="tns:echoSequenceValueType2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequenceSeqEchoStruct2Response">
    <wsdl:part name="parameters" element="tns:echoSequenceSeqEchoStruct2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueType2">
    <wsdl:part name="parameters" element="tns:echoValueType2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoValueType2Response">
    <wsdl:part name="parameters" element="tns:echoValueType2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo2Response">
    <wsdl:part name="parameters" element="tns:echo2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoExceptionThrown2">
    <wsdl:part name="parameters" element="tns:echoExceptionThrown2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoVTPrimiSeq2Response">
    <wsdl:part name="parameters" element="tns:echoVTPrimiSeq2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequenceValueType2">
    <wsdl:part name="parameters" element="tns:echoSequenceValueType2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoSequenceSeqMySequence2Response">
    <wsdl:part name="parameters" element="tns:echoSequenceSeqMySequence2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoVTPrimiSeq2">
    <wsdl:part name="parameters" element="tns:echoVTPrimiSeq2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoVTPrimi2">
    <wsdl:part name="parameters" element="tns:echoVTPrimi2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoExceptionThrown2Response">
    <wsdl:part name="parameters" element="tns:echoExceptionThrown2Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoStructOfStruct2">
    <wsdl:part name="parameters" element="tns:echoStructOfStruct2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EchoComplexException">
    <wsdl:part name="EchoComplexException" element="tns:EchoComplexException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EchoComplex2">
    <wsdl:operation name="echoValueType2">
      <wsdl:input name="echoValueType2" message="tns:echoValueType2">
    </wsdl:input>
      <wsdl:output name="echoValueType2Response" message="tns:echoValueType2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoVTPrimi2">
      <wsdl:input name="echoVTPrimi2" message="tns:echoVTPrimi2">
    </wsdl:input>
      <wsdl:output name="echoVTPrimi2Response" message="tns:echoVTPrimi2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStructOfStruct2">
      <wsdl:input name="echoStructOfStruct2" message="tns:echoStructOfStruct2">
    </wsdl:input>
      <wsdl:output name="echoStructOfStruct2Response" message="tns:echoStructOfStruct2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStruct2">
      <wsdl:input name="echoStruct2" message="tns:echoStruct2">
    </wsdl:input>
      <wsdl:output name="echoStruct2Response" message="tns:echoStruct2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoExceptionThrown2">
      <wsdl:input name="echoExceptionThrown2" message="tns:echoExceptionThrown2">
    </wsdl:input>
      <wsdl:output name="echoExceptionThrown2Response" message="tns:echoExceptionThrown2Response">
    </wsdl:output>
      <wsdl:fault name="EchoComplexException" message="tns:EchoComplexException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="echoSequenceSeqEchoStruct2">
      <wsdl:input name="echoSequenceSeqEchoStruct2" message="tns:echoSequenceSeqEchoStruct2">
    </wsdl:input>
      <wsdl:output name="echoSequenceSeqEchoStruct2Response" message="tns:echoSequenceSeqEchoStruct2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoValueBoxedTypePrimitive2">
      <wsdl:input name="echoValueBoxedTypePrimitive2" message="tns:echoValueBoxedTypePrimitive2">
    </wsdl:input>
      <wsdl:output name="echoValueBoxedTypePrimitive2Response" message="tns:echoValueBoxedTypePrimitive2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoVTPrimiSeq2">
      <wsdl:input name="echoVTPrimiSeq2" message="tns:echoVTPrimiSeq2">
    </wsdl:input>
      <wsdl:output name="echoVTPrimiSeq2Response" message="tns:echoVTPrimiSeq2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStructOfValuetype2">
      <wsdl:input name="echoStructOfValuetype2" message="tns:echoStructOfValuetype2">
    </wsdl:input>
      <wsdl:output name="echoStructOfValuetype2Response" message="tns:echoStructOfValuetype2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo2">
      <wsdl:input name="echo2" message="tns:echo2">
    </wsdl:input>
      <wsdl:output name="echo2Response" message="tns:echo2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoValueBoxedTypeComplex2">
      <wsdl:input name="echoValueBoxedTypeComplex2" message="tns:echoValueBoxedTypeComplex2">
    </wsdl:input>
      <wsdl:output name="echoValueBoxedTypeComplex2Response" message="tns:echoValueBoxedTypeComplex2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoExceptionNotThrown2">
      <wsdl:input name="echoExceptionNotThrown2" message="tns:echoExceptionNotThrown2">
    </wsdl:input>
      <wsdl:output name="echoExceptionNotThrown2Response" message="tns:echoExceptionNotThrown2Response">
    </wsdl:output>
      <wsdl:fault name="EchoComplexException" message="tns:EchoComplexException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="echoSequenceValueType2">
      <wsdl:input name="echoSequenceValueType2" message="tns:echoSequenceValueType2">
    </wsdl:input>
      <wsdl:output name="echoSequenceValueType2Response" message="tns:echoSequenceValueType2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoValueTypeOfValueType2">
      <wsdl:input name="echoValueTypeOfValueType2" message="tns:echoValueTypeOfValueType2">
    </wsdl:input>
      <wsdl:output name="echoValueTypeOfValueType2Response" message="tns:echoValueTypeOfValueType2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoSequence2">
      <wsdl:input name="echoSequence2" message="tns:echoSequence2">
    </wsdl:input>
      <wsdl:output name="echoSequence2Response" message="tns:echoSequence2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoSequenceSeqMySequence2">
      <wsdl:input name="echoSequenceSeqMySequence2" message="tns:echoSequenceSeqMySequence2">
    </wsdl:input>
      <wsdl:output name="echoSequenceSeqMySequence2Response" message="tns:echoSequenceSeqMySequence2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoValueTypeOfStruct2">
      <wsdl:input name="echoValueTypeOfStruct2" message="tns:echoValueTypeOfStruct2">
    </wsdl:input>
      <wsdl:output name="echoValueTypeOfStruct2Response" message="tns:echoValueTypeOfStruct2Response">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EchoComplex2CorbaBinding" type="tns:EchoComplex2">
<imolacorba:binding>
<imolacorba:idl>
//IDL
module it{
module imolinfo{
module jbi4corba{
module test{
module webservice{
module generator{
module echocomplex{

  // value type
  valuetype EchoVT {
    public  short publicShort;
    private long  privateLong;
  };

  // value type (boxed) - primitive
  valuetype MyLong {
    public long data;
  };
    
  // value type (boxed) - complex
  valuetype MySequence {
    public sequence&lt;long&gt; data;
  };

  // abstract value type
  // UNSUPPORTED : abstract valuetype AFoo {};
    

  // ===========================================================================
  // IDL Type            | Java type                  | Exceptions
  // ===========================================================================
  // boolean             | boolean                    |
  // char                | char                       | CORBA::DATA_CONVERSION
  // wchar               | char                       | CORBA::DATA_CONVERSION
  // octet               | byte                       |
  // ---------------------------------------------------------------------------
  // string              | String                     | CORBA::MARSHAL
  //                     |                            | CORBA::DATA_CONVERSION
  // ---------------------------------------------------------------------------
  // wstring             | String                     | CORBA::MARSHAL
  //                     |                            | CORBA::DATA_CONVERSION
  // ---------------------------------------------------------------------------
  // short               | short                      |
  // unsigned short      | short                      |
  // long                | int                        |
  // unsigned long       | int                        |
  // long long           | long                       |
  // unsigned long  long | long                       |
  // float               | float                      |
  // double              | double                     |
  // fixed               | java.math.BigDecimal       |CORBA::DATA_CONVERSION
  // ===========================================================================
  // long double         | not available at this time |
  // ===========================================================================

  // struct
  struct EchoStruct {
    boolean            fieldBoolean;
    char               fieldChar;
    wchar              fieldWChar;

    // http://jira.codehaus.org/browse/XFIRE-462
    octet              fieldOctet;

    string             fieldString;
    wstring            fieldWString;
    short              fieldShort;
    unsigned short     fieldUnsignedShort;
    long               fieldLong;
    unsigned long      fieldUnsignedLong;
    long long          fieldLongLong;
    unsigned long long fieldUnsignedLongLong;
    float              fieldFloat;
    double             fieldDouble;

    // UNSUPPORTED
    // The fixed IDL type is not supported by idlj
    // http://java.sun.com/j2se/1.4.2/docs/guide/rmi-iiop/toJavaPortableUG.html
    //fixed              fieldFixed;
  };
    
  // sequence + typedef
  typedef sequence&lt;long&gt; SeqLong;

  // sequence + typedef
  typedef sequence&lt;MySequence&gt; SeqMySequence;

  // sequence + typedef
  typedef sequence&lt;EchoStruct&gt; SeqEchoStruct;


  // exception
  exception EchoComplexException {
    SeqEchoStruct reason;
  };           				

  // enum
  // enum EchoComplexEnum {E1, E2, E3};

  // FIXME: array is unsupported
  // array
  //typedef long ArrayLong[10];

  // array of struct
  //typedef long ArrayOfEchoStruct[10];


  // StructOfStruct
  struct StructOfStruct {
    EchoStruct internalStruct;
  };

  // value type
  valuetype VTPrimi {
    public boolean            fieldBoolean;
    public char               fieldChar;
    public wchar              fieldWChar;

    // http://jira.codehaus.org/browse/XFIRE-462
    public octet              fieldOctet;

    public string             fieldString;
    public wstring            fieldWString;
    public short              fieldShort;
    public unsigned short     fieldUnsignedShort;
    public long               fieldLong;
    public unsigned long      fieldUnsignedLong;
    public long long          fieldLongLong;
    public unsigned long long fieldUnsignedLongLong;
    public float              fieldFloat;
    public double             fieldDouble;
  };

  valuetype VTPrimiSeq {
    public sequence&lt;VTPrimi&gt; data;
  };

  valuetype ValueTypeOfValueType {
    public VTPrimi data;
  };

  valuetype ValueTypeOfStruct {
    public EchoStruct data;
  };

  // StructOfStruct
  struct StructOfValuetype {
    VTPrimi data;
  };

  //==================================================
  //                                         INTERFACE
  //==================================================
  interface EchoComplex {
    string echo(in string msg);
    EchoVT echoValueType(in EchoVT e);
    MyLong echoValueBoxedTypePrimitive(in MyLong e);
    MySequence echoValueBoxedTypeComplex(in MySequence e);
    EchoStruct echoStruct(in EchoStruct es);
    SeqLong echoSequence(in SeqLong es);
    MySequence echoSequenceValueType(in MySequence es);
    SeqEchoStruct echoSequenceSeqEchoStruct(in SeqEchoStruct es);
    SeqMySequence echoSequenceSeqMySequence(in SeqMySequence es);
    EchoStruct echoExceptionThrown(in EchoStruct es) raises (EchoComplexException);

    EchoStruct echoExceptionNotThrown(in EchoStruct es) raises (EchoComplexException);

    //string echoEnum(in EchoComplexEnum e);

    // FIME: array is unsupported
    // string echoArray(in ArrayLong e);

    // UNSUPPORTED : string echoAbstractValueType(in AFoo n);

    StructOfStruct echoStructOfStruct(in StructOfStruct v);
    VTPrimi echoVTPrimi(in VTPrimi v);
    VTPrimiSeq echoVTPrimiSeq(in VTPrimiSeq v);
    ValueTypeOfValueType echoValueTypeOfValueType(in ValueTypeOfValueType v);
    ValueTypeOfStruct echoValueTypeOfStruct(in ValueTypeOfStruct v);
    StructOfValuetype echoStructOfValuetype(in StructOfValuetype v);
  };

  interface EchoComplex2 {
    string echo2(in string msg);
    EchoVT echoValueType2(in EchoVT e);
    MyLong echoValueBoxedTypePrimitive2(in MyLong e);
    MySequence echoValueBoxedTypeComplex2(in MySequence e);
    EchoStruct echoStruct2(in EchoStruct es);
    SeqLong echoSequence2(in SeqLong es);
    MySequence echoSequenceValueType2(in MySequence es);
    SeqEchoStruct echoSequenceSeqEchoStruct2(in SeqEchoStruct es);
    SeqMySequence echoSequenceSeqMySequence2(in SeqMySequence es);
    EchoStruct echoExceptionThrown2(in EchoStruct es) raises (EchoComplexException);

    EchoStruct echoExceptionNotThrown2(in EchoStruct es) raises (EchoComplexException);

    //string echoEnum(in EchoComplexEnum e);

    // FIME: array is unsupported
    // string echoArray(in ArrayLong e);

    // UNSUPPORTED : string echoAbstractValueType(in AFoo n);

    StructOfStruct echoStructOfStruct2(in StructOfStruct v);
    VTPrimi echoVTPrimi2(in VTPrimi v);
    VTPrimiSeq echoVTPrimiSeq2(in VTPrimiSeq v);
    ValueTypeOfValueType echoValueTypeOfValueType2(in ValueTypeOfValueType v);
    ValueTypeOfStruct echoValueTypeOfStruct2(in ValueTypeOfStruct v);
    StructOfValuetype echoStructOfValuetype2(in StructOfValuetype v);
  };
  
 
  

};
};
};
};
};
};
};
</imolacorba:idl>
</imolacorba:binding>
    <wsdl:operation name="echoVTPrimi2">
      <wsdl:input name="echoVTPrimi2">
      </wsdl:input>
      <wsdl:output name="echoVTPrimi2Response">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoValueType2">
      <wsdl:input name="echoValueType2">
      </wsdl:input>
      <wsdl:output name="echoValueType2Response">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStructOfStruct2">
      <wsdl:input name="echoStructOfStruct2">
      </wsdl:input>
      <wsdl:output name="echoStructOfStruct2Response">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoExceptionThrown2">
      <wsdl:input name="echoExceptionThrown2">
      </wsdl:input>
      <wsdl:output name="echoExceptionThrown2Response">
      </wsdl:output>
      <wsdl:fault name="EchoComplexException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="echoStruct2">
      <wsdl:input name="echoStruct2">
      </wsdl:input>
      <wsdl:output name="echoStruct2Response">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoSequenceSeqEchoStruct2">
      <wsdl:input name="echoSequenceSeqEchoStruct2">
      </wsdl:input>
      <wsdl:output name="echoSequenceSeqEchoStruct2Response">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoValueBoxedTypePrimitive2">
      <wsdl:input name="echoValueBoxedTypePrimitive2">
      </wsdl:input>
      <wsdl:output name="echoValueBoxedTypePrimitive2Response">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoVTPrimiSeq2">
      <wsdl:input name="echoVTPrimiSeq2">
      </wsdl:input>
      <wsdl:output name="echoVTPrimiSeq2Response">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoStructOfValuetype2">
      <wsdl:input name="echoStructOfValuetype2">
      </wsdl:input>
      <wsdl:output name="echoStructOfValuetype2Response">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echo2">
      <wsdl:input name="echo2">
      </wsdl:input>
      <wsdl:output name="echo2Response">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoValueBoxedTypeComplex2">
      <wsdl:input name="echoValueBoxedTypeComplex2">
      </wsdl:input>
      <wsdl:output name="echoValueBoxedTypeComplex2Response">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoExceptionNotThrown2">
      <wsdl:input name="echoExceptionNotThrown2">
      </wsdl:input>
      <wsdl:output name="echoExceptionNotThrown2Response">
      </wsdl:output>
      <wsdl:fault name="EchoComplexException">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="echoSequenceValueType2">
      <wsdl:input name="echoSequenceValueType2">
      </wsdl:input>
      <wsdl:output name="echoSequenceValueType2Response">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoValueTypeOfValueType2">
      <wsdl:input name="echoValueTypeOfValueType2">
      </wsdl:input>
      <wsdl:output name="echoValueTypeOfValueType2Response">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoSequence2">
      <wsdl:input name="echoSequence2">
      </wsdl:input>
      <wsdl:output name="echoSequence2Response">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoSequenceSeqMySequence2">
      <wsdl:input name="echoSequenceSeqMySequence2">
      </wsdl:input>
      <wsdl:output name="echoSequenceSeqMySequence2Response">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="echoValueTypeOfStruct2">
      <wsdl:input name="echoValueTypeOfStruct2">
      </wsdl:input>
      <wsdl:output name="echoValueTypeOfStruct2Response">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EchoComplex2">
    <wsdl:port name="EchoComplex2CorbaPort" binding="tns:EchoComplex2CorbaBinding">
<imolacorba:address name="CorbaUserProfile" localizationType="NameService">
<imolacorba:orb>
<imolacorba:property name="org.omg.CORBA.ORBInitialPort" value="1050"/>
<imolacorba:property name="org.omg.CORBA.ORBClass" value="com.sun.corba.ee.impl.orb.ORBImpl"/>
<imolacorba:property name="org.omg.CORBA.ORBInitialHost" value="localhost"/>
</imolacorba:orb>
</imolacorba:address>
    </wsdl:port>
  </wsdl:service>
<plnk:partnerLinkType name="EchoComplex2">
<plnk:role name="EchoComplex2PortTypeRole" portType="tns:EchoComplex2"/>
</plnk:partnerLinkType>
</wsdl:definitions>
