ojc-core/bpelse/system-test/test/com/sun/jbi/engine/bpel/jbiadaptor/test/persistence/bpels/eventhandler/VariablesDefinedInEH/deployedFolder/VariablesDefinedInEH/variablesInEH.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="variablesInEH" targetNamespace="http://j2ee.netbeans.org/wsdl/variablesInEH"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/variablesInEH" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types/>
    <message name="variablesInEHOperationRequest">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="variablesInEHOperationReply">
        <part name="part1" type="xsd:string"/>
    </message>
    <portType name="variablesInEHPortType">
        <operation name="variablesInEHOperation">
            <input name="input1" message="tns:variablesInEHOperationRequest"/>
            <output name="output1" message="tns:variablesInEHOperationReply"/>
        </operation>
    </portType>
    <portType name="onEventInvokePortType">
        <operation name="onEventInvokeOperation">
            <input name="input1" message="tns:variablesInEHOperationRequest"/>
        </operation>
    </portType>
    <portType name="DummyInvoke">
        <operation name="variablesInEHOperation">
            <input name="input1" message="tns:variablesInEHOperationRequest"/>
        </operation>
    </portType>
    <binding name="variablesInEHBinding" type="tns:variablesInEHPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="variablesInEHOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/variablesInEH"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/variablesInEH"/>
            </output>
        </operation>
    </binding>
    <service name="variablesInEHService">
        <port name="variablesInEHPort" binding="tns:variablesInEHBinding">
            <soap:address location="http://localhost:18181/variablesInEHService/variablesInEHPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="variablesInEH1">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="variablesInEHPortTypeRole" portType="tns:variablesInEHPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="variablesInEH12">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="onEventInvokePortTypeRole" portType="tns:onEventInvokePortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="property" type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:property" messageType="tns:variablesInEHOperationRequest" part="part1"/>
    <plnk:partnerLinkType name="variablesInEH13">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="DummyInvokeRole" portType="tns:DummyInvoke"/>
    </plnk:partnerLinkType>
</definitions>
