driver-tests/sqlse/db2/SqlSE1052_DB2/SelectOneParamTableSql/src/SelectOneParamTableSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SelectOneParamTableSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="SelectOneParamTableRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="SelectOneParamTableResponse"><xsd:complexType><xsd:sequence><xsd:element name="EMPID" type="xsd:int"/><xsd:element name="ENAME" type="xsd:string"/><xsd:element name="DEPTID" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="SelectOneParamTableRequest">
    <part name="SelectOneParamTableRequestPart" element="tns:SelectOneParamTableRequest"/>
  </message>
  <message name="SelectOneParamTableResponse">
    <part name="SelectOneParamTableResponsePart" element="tns:SelectOneParamTableResponse"/>
  </message>
  <portType name="SelectOneParamTableSql_sqlsePortType">
    <operation name="SelectOneParamTable">
      <input name="SelectOneParamTableRequest" message="tns:SelectOneParamTableRequest"/>
      <output name="SelectOneParamTableResponse" message="tns:SelectOneParamTableResponse"/>
    </operation>
  </portType>
  <binding name="SelectOneParamTableSqlBinding" type="tns:SelectOneParamTableSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SelectOneParamTable">
      <soap:operation/>
      <input name="SelectOneParamTableRequest">
        <soap:body/>
      </input>
      <output name="SelectOneParamTableResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="SelectOneParamTableSql_sqlseService">
    <port name="SelectOneParamTableSql_sqlsePort" binding="tns:SelectOneParamTableSqlBinding">
      <soap:address location="http://localhost:18181/SelectOneParamTableSql/SelectOneParamTableSql/SelectOneParamTableSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="SelectOneParamTableSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="SelectOneParamTableSql_myrole" portType="tns:SelectOneParamTableSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
