driver-tests/bpelse/dynamicpartnerlink/correlation/correlationBPEL/src/correlation/simpleCorrelation/simpleCorrelation1.wsdl

<definitions targetNamespace="urn:simpleCorrelation1TargetNamespace"
             name="simpleCorrelation1Definition"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="urn:simpleCorrelation1TargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="simpleCorrelation1ServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="simpleCorrelation1ServerRole"
                   portType="tns:simpleCorrelation1PortType"></plnk:role>
    </plnk:partnerLinkType>
    <vprop:property type="xsd:string"
                   name="propertyName1"></vprop:property>
    <vprop:property type="xsd:string"
                   name="propertyName2"></vprop:property>
    <vprop:propertyAlias part="simpleCorrelation1Part"
                        propertyName="tns:propertyName1"
                        messageType="tns:simpleCorrelation1Message">
        <vprop:query>string</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias part="simpleCorrelation1Part1"
                        propertyName="tns:propertyName2"
                        messageType="tns:simpleCorrelation1Message1">
        <vprop:query>string</vprop:query>
    </vprop:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:simpleCorrelation1TargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:simpleCorrelation1TargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:simpleCorrelation1TargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

                    <xsd:complexType name="simpleCorrelation1Type">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="simpleCorrelation1Message">
        <part name="simpleCorrelation1Part"
              type="tns:simpleCorrelation1Type"></part>
    </message>
    <message name="simpleCorrelation1Message1">
        <part name="simpleCorrelation1Part1"
              type="tns:simpleCorrelation1Type"></part>
    </message>
    <portType name="simpleCorrelation1PortType">
        <operation name="simpleCorrelation1Operation">
            <input message="tns:simpleCorrelation1Message"></input>
            <output message="tns:simpleCorrelation1Message"></output>
        </operation>
    </portType>
    <portType name="simpleCorrelation1PortType1">
        <operation name="simpleCorrelation1Operation1">
            <input message="tns:simpleCorrelation1Message1"></input>
        </operation>
    </portType>
    <binding name="simpleCorrelation1Binding"
             type="tns:simpleCorrelation1PortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="simpleCorrelation1Operation">
            <soap:operation soapAction="simpleCorrelation1Operation"/>
            <input>
                <soap:body parts="simpleCorrelation1Part"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="simpleCorrelation1Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="simpleCorrelation1Binding1"
             type="tns:simpleCorrelation1PortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="simpleCorrelation1Operation1">
            <soap:operation soapAction="simpleCorrelation1Operation1"/>
            <input>
                <soap:body parts="simpleCorrelation1Part1"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="simpleCorrelation1Service">
        <port name="simpleCorrelation1Port"
              binding="tns:simpleCorrelation1Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/simpleCorrelation1Port"/>
        </port>
        <port name="simpleCorrelation1Port1"
              binding="tns:simpleCorrelation1Binding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/simpleCorrelation1Port1"/>
        </port>
    </service>
</definitions>
