driver-tests/bpelse/correlation/CorrelationOnePropBPEL/src/Invoke_ReqResp/Pick_And_EveHdlr/Pick_And_EveHdlr.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/Pick_And_EveHdlr"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/Pick_And_EveHdlr" name="Pick_And_EveHdlr" xmlns:ns="http://xml.netbeans.org/schema/dataTypes.xsd" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/" xmlns:ns0="http://j2ee.netbeans.org/wsdl/Invoke_ReqRespsubBPWSDL">
    <wsdl:types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/Pick_And_EveHdlr">
            <xsd:import namespace="http://xml.netbeans.org/schema/dataTypes.xsd" schemaLocation="../../dataTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Pick_And_EveHdlrOperationRequest">
        <wsdl:part name="part" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="Pick_And_EveHdlrOperationRequest1">
        <wsdl:part name="part1" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:message name="Pick_And_EveHdlrOperationRequest2">
        <wsdl:part name="part" element="ns:helloObj"/>
    </wsdl:message>
    <wsdl:portType name="Pick_And_EveHdlrPortType">
        <wsdl:operation name="Pick_And_EveHdlrOperation">
            <wsdl:input name="input1" message="tns:Pick_And_EveHdlrOperationRequest"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="Pick_And_EveHdlrPortType1">
        <wsdl:operation name="Pick_And_EveHdlrOperation1">
            <wsdl:input name="input1" message="tns:Pick_And_EveHdlrOperationRequest1"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="Pick_And_EveHdlrPortType2">
        <wsdl:operation name="Pick_And_EveHdlrOperation2">
            <wsdl:input name="input1" message="tns:Pick_And_EveHdlrOperationRequest2"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Pick_And_EveHdlrBinding" type="tns:Pick_And_EveHdlrPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Pick_And_EveHdlrOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Pick_And_EveHdlrBinding1" type="tns:Pick_And_EveHdlrPortType1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Pick_And_EveHdlrOperation1">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Pick_And_EveHdlrBinding2" type="tns:Pick_And_EveHdlrPortType2">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Pick_And_EveHdlrOperation2">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>    
    <wsdl:service name="Pick_And_EveHdlrService">
        <wsdl:port name="Pick_And_EveHdlrPort" binding="tns:Pick_And_EveHdlrBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/Pick_And_EveHdlrService/Pick_And_EveHdlrPort"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="Pick_And_EveHdlrService1">
        <wsdl:port name="Pick_And_EveHdlrPort" binding="tns:Pick_And_EveHdlrBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/Pick_And_EveHdlrService/Pick_And_EveHdlrPort1"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:service name="Pick_And_EveHdlrService2">
        <wsdl:port name="Pick_And_EveHdlrPort" binding="tns:Pick_And_EveHdlrBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/Pick_And_EveHdlrService/Pick_And_EveHdlrPort2"/>
        </wsdl:port>
    </wsdl:service>    
    <plnk:partnerLinkType name="Pick_And_EveHdlrPartner">
        <!-- partnerLinkType are automatically generated when a new portType is added. partnerLinkType are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="Pick_And_EveHdlrPortTypeRole" portType="tns:Pick_And_EveHdlrPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="Pick_And_EveHdlrPartner1">
        <!-- partnerLinkType are automatically generated when a new portType is added. partnerLinkType are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="Pick_And_EveHdlrPortType1Role" portType="tns:Pick_And_EveHdlrPortType1"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="Pick_And_EveHdlrPartner2">
        <!-- partnerLinkType are automatically generated when a new portType is added. partnerLinkType are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="Pick_And_EveHdlrPortType2Role" portType="tns:Pick_And_EveHdlrPortType2"/>
    </plnk:partnerLinkType>
</definitions>
