driver-tests/bpelse/correlation/FlowAsStartActivity/src/FlowWith3receives/flowWith3Receives.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/flowWith3Receives"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/flowWith3Receives" name="flowWith3Receives" xmlns:ns="http://xml.netbeans.org/schema/Corr-Flow-inlineSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:ns1="http://xml.netbeans.org/schema/dataTypes.xsd">
    <wsdl:types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/flowWith3Receives">
            <xsd:import schemaLocation="../dataTypes.xsd" namespace="http://xml.netbeans.org/schema/dataTypes.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="flowWith3ReceivesOperationRequest">
        <wsdl:part name="part1" element="ns1:helloObj"/>
    </wsdl:message>
    <wsdl:message name="flowWith3ReceivesOperationReply">
        <wsdl:part name="part1" element="ns1:helloObj"/>
    </wsdl:message>
    <wsdl:message name="flowWith3ReceivesOperationRequest1">
        <wsdl:part name="part1" element="ns1:helloObj"/>
    </wsdl:message>
    <wsdl:message name="flowWith3ReceivesOperationRequest2">
        <wsdl:part name="part1" element="ns1:helloObj"/>
    </wsdl:message>
    <wsdl:portType name="flowWith3ReceivesPortType">
        <wsdl:operation name="flowWith3ReceivesOperation">
            <wsdl:input name="input1" message="tns:flowWith3ReceivesOperationRequest"/>
            <wsdl:output name="output1" message="tns:flowWith3ReceivesOperationReply"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="flowWith3ReceivesPortType1">
        <wsdl:operation name="flowWith3ReceivesOperation">
            <wsdl:input name="input1" message="tns:flowWith3ReceivesOperationRequest1"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="flowWith3ReceivesPortType2">
        <wsdl:operation name="flowWith3ReceivesOperation">
            <wsdl:input name="input1" message="tns:flowWith3ReceivesOperationRequest2"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="flowWith3ReceivesBinding" type="tns:flowWith3ReceivesPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="flowWith3ReceivesOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="flowWith3ReceivesService">
        <wsdl:port name="flowWith3ReceivesPort" binding="tns:flowWith3ReceivesBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/flowWith3ReceivesService/flowWith3ReceivesPort"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:binding name="flowWith3ReceivesBinding1" type="tns:flowWith3ReceivesPortType1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="flowWith3ReceivesOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="flowWith3ReceivesService1">
        <wsdl:port name="flowWith3ReceivesPort" binding="tns:flowWith3ReceivesBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/flowWith3ReceivesService/flowWith3ReceivesPort1"/>
        </wsdl:port>
    </wsdl:service> 
    <wsdl:binding name="flowWith3ReceivesBinding2" type="tns:flowWith3ReceivesPortType2">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="flowWith3ReceivesOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="flowWith3ReceivesService2">
        <wsdl:port name="flowWith3ReceivesPort" binding="tns:flowWith3ReceivesBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/flowWith3ReceivesService/flowWith3ReceivesPort2"/>
        </wsdl:port>
    </wsdl:service>    
    <plnk:partnerLinkType name="flowWith3ReceivesPartner">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="flowWith3ReceivesPortTypeRole" portType="tns:flowWith3ReceivesPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="flowWith3ReceivesPartner1">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="flowWith3ReceivesPortType1Role" portType="tns:flowWith3ReceivesPortType1"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="flowWith3ReceivesPartner2">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="flowWith3ReceivesPortType2Role" portType="tns:flowWith3ReceivesPortType2"/>
    </plnk:partnerLinkType>
    <vprop:property name="property1" type="xsd:int"/>
    <vprop:property name="property2" type="xsd:int"/>
    <vprop:property name="property3" type="xsd:int"/>

    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:flowWith3ReceivesOperationRequest" part="part1">
        <vprop:query>/ns1:helloObj/ns1:recursive/ns1:recursive/ns1:int</vprop:query>
    </vprop:propertyAlias> 
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:flowWith3ReceivesOperationRequest1" part="part1">
        <vprop:query>/ns1:helloObj/ns1:recursive/ns1:recursive/ns1:int</vprop:query>
    </vprop:propertyAlias> 
    <vprop:propertyAlias propertyName="tns:property1"
        messageType="tns:flowWith3ReceivesOperationRequest2" part="part1">
        <vprop:query>/ns1:helloObj/ns1:recursive/ns1:recursive/ns1:int</vprop:query>
    </vprop:propertyAlias>     

    <vprop:propertyAlias propertyName="tns:property2"
        messageType="tns:flowWith3ReceivesOperationRequest" part="part1">
        <vprop:query>/ns1:helloObj/ns1:recursive/ns1:int</vprop:query>
    </vprop:propertyAlias> 
    <vprop:propertyAlias propertyName="tns:property2"
        messageType="tns:flowWith3ReceivesOperationRequest1" part="part1">
        <vprop:query>/ns1:helloObj/ns1:recursive/ns1:int</vprop:query>
    </vprop:propertyAlias> 
    <vprop:propertyAlias propertyName="tns:property2"
        messageType="tns:flowWith3ReceivesOperationRequest2" part="part1">
        <vprop:query>/ns1:helloObj/ns1:recursive/ns1:int</vprop:query>
    </vprop:propertyAlias>    


    <vprop:propertyAlias propertyName="tns:property3"
        messageType="tns:flowWith3ReceivesOperationRequest" part="part1">
        <vprop:query>/ns1:helloObj/ns1:int</vprop:query>
    </vprop:propertyAlias> 
    <vprop:propertyAlias propertyName="tns:property3"
        messageType="tns:flowWith3ReceivesOperationRequest1" part="part1">
        <vprop:query>/ns1:helloObj/ns1:int</vprop:query>
    </vprop:propertyAlias> 
    <vprop:propertyAlias propertyName="tns:property3"
        messageType="tns:flowWith3ReceivesOperationRequest2" part="part1">
        <vprop:query>/ns1:helloObj/ns1:int</vprop:query>
    </vprop:propertyAlias>    
</definitions>
