contrib-imola/corba-bc/integration-test/test-consumer-fromidl-complex-enum/consumer-fromidl-complex-enum-jbi4corba-consumer/src/main/resources/EchoEnum.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EchoEnum" 
    targetNamespace="urn:jbi4corba/test-consumer-fromidl-complex-enum" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
    xmlns:imolacorba="uri://schemas.imola.it/jbi/wsdl-extensions/corba/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:tns="urn:jbi4corba/test-consumer-fromidl-complex-enum" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:jbi4corba/test-consumer-fromidl-complex-enum" xmlns="urn:jbi4corba/test-consumer-fromidl-complex-enum" xmlns:ns1="http://testconsumerfromidlenum.test.jbi4corba.imolinfo.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://testconsumerfromidlenum.test.jbi4corba.imolinfo.it/"/>
            <xs:element name="echoEnum">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="e" type="ns1:echoComplexEnum"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="echoEnumResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="ns1:echoComplexEnum"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
            xmlns="http://testconsumerfromidlenum.test.jbi4corba.imolinfo.it/" 
            attributeFormDefault="unqualified" 
            elementFormDefault="unqualified" 
            targetNamespace="http://testconsumerfromidlenum.test.jbi4corba.imolinfo.it/">
            <xs:simpleType name="echoComplexEnum">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="E1"/>
                    <xs:enumeration value="E2"/>
                    <xs:enumeration value="E3"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="echoEnumResponse">
        <wsdl:part name="parameters" element="tns:echoEnumResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoEnum">
        <wsdl:part name="parameters" element="tns:echoEnum">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EchoEnumPortType">
        <wsdl:operation name="echoEnum">
            <wsdl:input name="echoEnum" message="tns:echoEnum">
            </wsdl:input>
            <wsdl:output name="echoEnumResponse" message="tns:echoEnumResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EchoEnumCorbaBinding" type="tns:EchoEnumPortType">
        <imolacorba:binding>
            <imolacorba:idl>
//IDL
module it{
module imolinfo{
module jbi4corba{
module test{
module testconsumerfromidlenum{


	enum EchoComplexEnum {E1, E2, E3};

	interface foo {

		EchoComplexEnum echoEnum(in EchoComplexEnum e);

	};

};
};
};
};
};
            </imolacorba:idl>
        </imolacorba:binding>
        <wsdl:operation name="echoEnum">
            <wsdl:input name="echoEnum">
            </wsdl:input>
            <wsdl:output name="echoEnumResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EchoEnum">
        <wsdl:port name="EchoEnumPort" binding="tns:EchoEnumCorbaBinding">
            <imolacorba:address name="EchoEnum" localizationType="NameService">
                <imolacorba:orb>
                    <imolacorba:property name="org.omg.CORBA.ORBInitialPort" value="1050"/>
                    <imolacorba:property name="org.omg.CORBA.ORBClass" value="com.sun.corba.ee.impl.orb.ORBImpl"/>
                    <imolacorba:property name="org.omg.CORBA.ORBInitialHost" value="localhost"/>
                </imolacorba:orb>
            </imolacorba:address>
        </wsdl:port>
    </wsdl:service>
    <plnk:partnerLinkType name="EchoEnum">
        <plnk:role name="EchoEnumPortTypeRole" portType="tns:EchoEnumPortType"/>
    </plnk:partnerLinkType>
</wsdl:definitions>
