driver-tests/bpelse/MessageExchange/MessageExchangeBpel/src/ReceiveReplyInDiffScopes/ReceiveReplyInDiffScopes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReceiveReplyInDiffScopes" targetNamespace="http://localhost/ReceiveReplyInDiffScopes/ReceiveReplyInDiffScopes" xmlns:tns="http://localhost/ReceiveReplyInDiffScopes/ReceiveReplyInDiffScopes" xmlns:ns="http://xml.netbeans.org/schema/ReceiveReplyInDiffScopes" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <types>
	<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	            targetNamespace="http://xml.netbeans.org/schema/ReceiveReplyInDiffScopes"
	            xmlns:tns="http://xml.netbeans.org/schema/ReceiveReplyInDiffScopes"
	            elementFormDefault="qualified">
	    <xsd:complexType name="simpleProcess">
	        <xsd:sequence>
	            <xsd:element name="paramA" type="xsd:string"/>
	        </xsd:sequence>
	    </xsd:complexType>
	    <xsd:element name="typeA" type="tns:simpleProcess"/>
	</xsd:schema>
    </types>
    <message name="requestMessage">
        <part name="inputType" element="ns:typeA"/>
    </message>
    <message name="responseMessage">
        <part name="resultType" element="ns:typeA"/>
    </message>
    <portType name="portType1">
        <operation name="operation1">
            <input name="input1" message="tns:requestMessage"/>
            <output name="output1" message="tns:responseMessage"/>
        </operation>
    </portType>
    <binding name="binding1" type="tns:portType1">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="operation1">
        <input name="input1">
          <soap:body use="literal"/>
        </input>
        <output name="output1">
          <soap:body use="literal"/>
        </output>
        </operation>
    </binding>
    <service name="service1">
        <port name="port1" binding="tns:binding1">
            <documentation/>
            <soap:address location="http://localhost:${HttpDefaultPort}/ReceiveReplyInDiffScopes"/>
        </port>
    </service>
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="partnerlinktyperole1" portType="tns:portType1"/>
    </plink:partnerLinkType>
</definitions>
