driver-tests/bpelse/correlation/correlationBPEL/src/correlation/corrReplyRecC7.wsdl

<definitions targetNamespace="urn:corrReplyRecC7TargetNamespace"
             name="corrReplyRecC7Definition"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="urn:corrReplyRecC7TargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="corrReplyRecC7ServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="corrReplyRecC7ServerRole"
                   portType="tns:corrReplyRecC7PortType"></plnk:role>
        <plnk:role name="corrReplyRecC7ServerRole1"
                   portType="tns:corrReplyRecC7PortType1"></plnk:role>
    </plnk:partnerLinkType>
    <vprop:property type="xsd:string"
                   name="propertyName1"></vprop:property>
    <vprop:propertyAlias part="corrReplyRecC7Part"
                        propertyName="tns:propertyName1"
                        messageType="tns:corrReplyRecC7Message">
        <vprop:query>string</vprop:query>
    </vprop:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:corrReplyRecC7TargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:corrReplyRecC7TargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:corrReplyRecC7TargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

                    <xsd:complexType name="corrReplyRecC7Type">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="corrReplyRecC7Message">
        <part name="corrReplyRecC7Part"
              type="tns:corrReplyRecC7Type"></part>
    </message>
    <portType name="corrReplyRecC7PortType">
        <operation name="corrReplyRecC7Operation">
            <input message="tns:corrReplyRecC7Message"></input>
            <output message="tns:corrReplyRecC7Message"></output>
        </operation>
    </portType>
    <portType name="corrReplyRecC7PortType1">
        <operation name="corrReplyRecC7Operation1">
            <input message="tns:corrReplyRecC7Message"></input>
            <output message="tns:corrReplyRecC7Message"></output>
        </operation>
    </portType>
    <binding name="corrReplyRecC7Binding"
             type="tns:corrReplyRecC7PortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrReplyRecC7Operation">
            <soap:operation soapAction="corrReplyRecC7Operation"/>
            <input>
                <soap:body parts="corrReplyRecC7Part"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="corrReplyRecC7Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="corrReplyRecC7Binding1"
             type="tns:corrReplyRecC7PortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrReplyRecC7Operation1">
            <soap:operation soapAction="corrReplyRecC7Operation1"/>
            <input>
                <soap:body parts="corrReplyRecC7Part"
                           use="literal"/>
            </input>
     	    <output>
                <soap:body parts="corrReplyRecC7Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="corrReplyRecC7Service">
        <port name="corrReplyRecC7Port"
              binding="tns:corrReplyRecC7Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrReplyRecC7Port"/>
        </port>
        <port name="corrReplyRecC7Port1"
              binding="tns:corrReplyRecC7Binding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrReplyRecC7Port1"/>
        </port>
    </service>
</definitions>
