driver-tests/bpelse/correlation/correlationBPEL/src/correlation/corrReplyFlowW1H7.wsdl

<definitions targetNamespace="urn:corrReplyFlowW1H7TargetNamespace"
             name="corrReplyFlowW1H7Definition"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="urn:corrReplyFlowW1H7TargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="corrReplyFlowW1H7ServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="corrReplyFlowW1H7ServerRole"
                   portType="tns:corrReplyFlowW1H7PortType"></plnk:role>
        <plnk:role name="corrReplyFlowW1H7ServerRole1"
                   portType="tns:corrReplyFlowW1H7PortType1"></plnk:role>
    </plnk:partnerLinkType>
    <vprop:property type="xsd:string"
                   name="propertyName1"></vprop:property>
    <vprop:propertyAlias part="corrReplyFlowW1H7Part"
                        propertyName="tns:propertyName1"
                        messageType="tns:corrReplyFlowW1H7Message">
        <vprop:query>string</vprop:query>
    </vprop:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:corrReplyFlowW1H7TargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:corrReplyFlowW1H7TargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:corrReplyFlowW1H7TargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

                    <xsd:complexType name="corrReplyFlowW1H7Type">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="corrReplyFlowW1H7Message">
        <part name="corrReplyFlowW1H7Part"
              type="tns:corrReplyFlowW1H7Type"></part>
    </message>
    <portType name="corrReplyFlowW1H7PortType">
        <operation name="corrReplyFlowW1H7Operation">
            <input message="tns:corrReplyFlowW1H7Message"></input>
            <output message="tns:corrReplyFlowW1H7Message"></output>
        </operation>
    </portType>
    <portType name="corrReplyFlowW1H7PortType1">
        <operation name="corrReplyFlowW1H7Operation1">
            <input message="tns:corrReplyFlowW1H7Message"></input>
            <output message="tns:corrReplyFlowW1H7Message"></output>
        </operation>
    </portType>
    <binding name="corrReplyFlowW1H7Binding"
             type="tns:corrReplyFlowW1H7PortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrReplyFlowW1H7Operation">
            <soap:operation soapAction="corrReplyFlowW1H7Operation"/>
            <input>
                <soap:body parts="corrReplyFlowW1H7Part"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="corrReplyFlowW1H7Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="corrReplyFlowW1H7Binding1"
             type="tns:corrReplyFlowW1H7PortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrReplyFlowW1H7Operation1">
            <soap:operation soapAction="corrReplyFlowW1H7Operation1"/>
            <input>
                <soap:body parts="corrReplyFlowW1H7Part"
                           use="literal"/>
            </input>
             <output>
                <soap:body parts="corrReplyFlowW1H7Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="corrReplyFlowW1H7Service">
        <port name="corrReplyFlowW1H7Port"
              binding="tns:corrReplyFlowW1H7Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrReplyFlowW1H7Port"/>
        </port>
        <port name="corrReplyFlowW1H7Port1"
              binding="tns:corrReplyFlowW1H7Binding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrReplyFlowW1H7Port1"/>
        </port>
    </service>
</definitions>
