driver-tests/bpelse/correlation/correlationBPEL/src/correlation/corrInvRecW1D6_parent.wsdl

<definitions targetNamespace="CorrInvRecW1D6Parent"
             name="CorrInvRecW1D6Parent"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="CorrInvRecW1D6Parent"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="CorrInvRecW1D6ParentServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
                   portType="tns:CorrInvRecW1D6ParentPortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="CorrInvRecW1D6ParentServiceLinkType1"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
                   portType="tns:CorrInvRecW1D6ParentPortType1"></plnk:role>
    </plnk:partnerLinkType>
    <vprop:property name="property"
                   type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:property"
                        messageType="tns:CorrInvRecW1D6ParentMessage"
                        part="CorrInvRecW1D6ParentPart">
            <vprop:query>/CorrInvRecW1D6ParentElement/string</vprop:query>
    </vprop:propertyAlias>
     <vprop:propertyAlias propertyName="tns:property"
                        messageType="tns:CorrInvRecW1D6ParentMessage1"
                        part="CorrInvRecW1D6ParentPart">
            <vprop:query>/CorrInvRecW1D6ParentElement/string</vprop:query>
    </vprop:propertyAlias>
    <types>
        <xsd:schema targetNamespace="CorrInvRecW1D6Parent"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
                    xmlns:tns="CorrInvRecW1D6Parent"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
                    <xsd:element type="tns:CorrInvRecW1D6ParentType"
                         name="CorrInvRecW1D6ParentElement"></xsd:element>
            <xsd:complexType name="CorrInvRecW1D6ParentType">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="CorrInvRecW1D6ParentMessage">
        <part name="CorrInvRecW1D6ParentPart"
              element="tns:CorrInvRecW1D6ParentElement"></part>
    </message>
    <message name="CorrInvRecW1D6ParentMessage1">
        <part name="CorrInvRecW1D6ParentPart"
              element="tns:CorrInvRecW1D6ParentElement"></part>
    </message>
    <portType name="CorrInvRecW1D6ParentPortType">
        <operation name="CorrInvRecW1D6ParentOperation">
            <input message="tns:CorrInvRecW1D6ParentMessage"></input>
            <output message="tns:CorrInvRecW1D6ParentMessage"></output>
        </operation>
    </portType>
    <portType name="CorrInvRecW1D6ParentPortType1">
        <operation name="CorrInvRecW1D6ParentOperation1">
            <input message="tns:CorrInvRecW1D6ParentMessage1"></input>
        </operation>
    </portType>
    <binding name="CorrInvRecW1D6ParentBinding"
             type="tns:CorrInvRecW1D6ParentPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CorrInvRecW1D6ParentOperation">
            <soap:operation soapAction="CorrInvRecW1D6ParentOperation"/>
            <input>
                <soap:body parts="CorrInvRecW1D6ParentPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="CorrInvRecW1D6ParentPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="CorrInvRecW1D6ParentBinding1"
             type="tns:CorrInvRecW1D6ParentPortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CorrInvRecW1D6ParentOperation1">
            <soap:operation soapAction="CorrInvRecW1D6ParentOperation1"/>
            <input>
                <soap:body parts="CorrInvRecW1D6ParentPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="CorrInvRecW1D6ParentService">
        <port name="CorrInvRecW1D6ParentPort"
              binding="tns:CorrInvRecW1D6ParentBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/CorrInvRecW1D6ParentService"/>
        </port>
        <port name="CorrInvRecW1D6ParentPort1"
              binding="tns:CorrInvRecW1D6ParentBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/CorrInvRecW1D6ParentService1"/>
        </port>
    </service>
</definitions>
