driver-tests/bpelse/correlation/correlationBPEL/src/correlation/J7CorrReplyOnMsg.wsdl

<definitions targetNamespace="urn:corrReplyOnMsgTargetNamespace"
             name="corrReplyOnMsgDefinition"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="urn:corrReplyOnMsgTargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="corrReplyOnMsgServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="corrReplyOnMsgServerRole"
                   portType="tns:corrReplyOnMsgPortType"></plnk:role>
	<plnk:role name="corrReplyOnMsgServerRole1"
                   portType="tns:corrReplyOnMsgPortType1"></plnk:role>
    </plnk:partnerLinkType>
    <vprop:property type="xsd:string"
                   name="propertyName1"></vprop:property>
    <vprop:propertyAlias part="corrReplyOnMsgPart"
                        propertyName="tns:propertyName1"
                        messageType="tns:corrReplyOnMsgMessage">
        <vprop:query>string</vprop:query>
    </vprop:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:corrReplyOnMsgTargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:corrReplyOnMsgTargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:corrReplyOnMsgTargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

                    <xsd:complexType name="corrReplyOnMsgType">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="corrReplyOnMsgMessage">
        <part name="corrReplyOnMsgPart"
              type="tns:corrReplyOnMsgType"></part>
    </message>
    <portType name="corrReplyOnMsgPortType">
        <operation name="corrReplyOnMsgOperation">
            <input message="tns:corrReplyOnMsgMessage"></input>
            <output message="tns:corrReplyOnMsgMessage"></output>
        </operation>
    </portType>
    <portType name="corrReplyOnMsgPortType1">
        <operation name="corrReplyOnMsgOperation1">
            <input message="tns:corrReplyOnMsgMessage"></input>
            <output message="tns:corrReplyOnMsgMessage"></output>
        </operation>
    </portType>
    <binding name="corrReplyOnMsgBinding"
             type="tns:corrReplyOnMsgPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrReplyOnMsgOperation">
            <soap:operation soapAction="corrReplyOnMsgOperation"/>
            <input>
                <soap:body parts="corrReplyOnMsgPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="corrReplyOnMsgPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="corrReplyOnMsgBinding1"
             type="tns:corrReplyOnMsgPortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrReplyOnMsgOperation1">
            <soap:operation soapAction="corrReplyOnMsgOperation1"/>
            <input>
                <soap:body parts="corrReplyOnMsgPart"
                           use="literal"/>
            </input>
     	    <output>
                <soap:body parts="corrReplyOnMsgPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="corrReplyOnMsgService">
        <port name="corrReplyOnMsgPort"
              binding="tns:corrReplyOnMsgBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrReplyOnMsgPort"/>
        </port>
        <port name="corrReplyOnMsgPort1"
              binding="tns:corrReplyOnMsgBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrReplyOnMsgPort1"/>
        </port>
    </service>
</definitions>
