driver-tests/sqlse/derby/selectmultiparamfullqualJbi/src/jbiServiceUnits/selectmultiparamfullqualSQL/selectmultiparamfullqualSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="selectmultiparamfullqualSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="selectmultiparamfullqualRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/><xsd:element name="param2" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="selectmultiparamfullqualResponse"><xsd:complexType><xsd:sequence><xsd:element name="ENO" type="xsd:int"/><xsd:element name="ENAME" type="xsd:string"/><xsd:element name="SAL" type="xsd:int"/><xsd:element name="DEPTNO" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="selectmultiparamfullqualRequest">
    <part name="selectmultiparamfullqualRequestPart" element="tns:selectmultiparamfullqualRequest"/>
  </message>
  <message name="selectmultiparamfullqualResponse">
    <part name="selectmultiparamfullqualResponsePart" element="tns:selectmultiparamfullqualResponse"/>
  </message>
  <portType name="selectmultiparamfullqualSQL_sqlsePortType">
    <operation name="selectmultiparamfullqual">
      <input name="selectmultiparamfullqualRequest" message="tns:selectmultiparamfullqualRequest"/>
      <output name="selectmultiparamfullqualResponse" message="tns:selectmultiparamfullqualResponse"/>
    </operation>
  </portType>
  <binding name="selectmultiparamfullqualSQLBinding" type="tns:selectmultiparamfullqualSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="selectmultiparamfullqual">
      <soap:operation style="document"/>
      <input name="selectmultiparamfullqualRequest">
        <soap:body use="literal"/>
      </input>
      <output name="selectmultiparamfullqualResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="selectmultiparamfullqualSQL_sqlseService">
    <port name="selectmultiparamfullqualSQL_sqlsePort" binding="tns:selectmultiparamfullqualSQLBinding">
      <soap:address location="http://localhost:18181/selectmultiparamfullqualSQL/selectmultiparamfullqualSQL/selectmultiparamfullqualSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="selectmultiparamfullqualSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="selectmultiparamfullqualSQL_myrole" portType="tns:selectmultiparamfullqualSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
