driver-tests/bpelse/compensation/IterativeScopes/src/SimpleForEach/interfaceSimpleForEach.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="interfaceSimpleForEach" targetNamespace="http://j2ee.netbeans.org/wsdl/interfaceSimpleForEach"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/interfaceSimpleForEach" xmlns:ns0="http://xml.netbeans.org/schema/SimpleForEachSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://xml.netbeans.org/schema/SimpleForEachSchema" xmlns:tns1="http://xml.netbeans.org/schema/SimpleForEachSchema">
            <xsd:complexType name="forEachType">
                <xsd:sequence>
                    <xsd:element name="Iter1State" type="xsd:string" minOccurs="0"></xsd:element>
                    <xsd:element name="Iter2State" type="xsd:string" minOccurs="0"></xsd:element>
                    <xsd:element name="OutVar" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="inputType">
                <xsd:sequence>
                    <xsd:element name="iterCount" type="xsd:string"></xsd:element>
                    <xsd:element name="input" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="InMsg">
        <part name="InPart" type="ns0:inputType"/>
    </message>
    <message name="ReplyMsg">
        <part name="ReplyPart" type="ns0:forEachType"/>
    </message>
    <portType name="SimpleForEachPT">
        <operation name="SimpleForEachOper">
            <input name="input1" message="tns:InMsg"/>
            <output name="output1" message="tns:ReplyMsg"/>
        </operation>
    </portType>
    <binding name="SimpleForEachBinding" type="tns:SimpleForEachPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="SimpleForEachOper">
            <input name="input1">
                <soap:body parts="InPart" use="literal"/>
            </input>
            <output name="output1">
                <soap:body parts="ReplyPart" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="SimpleForEachService">
        <port name="simpleForEachPort" binding="tns:SimpleForEachBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/IterativeScopes/interfaceSimpleForEach/simpleForEachPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="initSimpleForEachPLT">
        <plnk:role name="SimpleForEachPTRole" portType="tns:SimpleForEachPT"/>
    </plnk:partnerLinkType>
</definitions>
