driver-tests/httpsoapbc/soap12/Invoke-Javaee-WS/HelloWS/test/HelloRpc.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions targetNamespace="http://sample.sun.com/" name="HelloRpc" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sample.sun.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://sample.sun.com/" schemaLocation="HelloRpc_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="test">
    <part name="parameter" type="xsd:string"/>
  </message>
  <message name="testResponse">
    <part name="testReturn" type="xsd:string"/>
  </message>
  <message name="test1">
    <part name="parameter" type="xsd:string"/>
    <part name="myheader" element="tns:myheader"/>
  </message>
  <message name="test1Response">
    <part name="return" type="xsd:string"/>
    <part name="myheader" element="tns:myheader"/>
  </message>
  <message name="SampleException">
    <part name="fault" element="tns:SampleException"/>
  </message>
  <message name="test2">
    <part name="parameter" type="xsd:string"/>
  </message>
  <message name="test2Response">
    <part name="return" type="xsd:string"/>
  </message>
  <portType name="HelloRpc">
    <operation name="test">
      <input message="tns:test"/>
      <output message="tns:testResponse"/>
    </operation>
    <operation name="test1" parameterOrder="myheader parameter">
      <input message="tns:test1"/>
      <output message="tns:test1Response"/>
      <fault message="tns:SampleException" name="SampleException"/>
    </operation>
    <operation name="test2">
      <input message="tns:test2"/>
      <output message="tns:test2Response"/>
      <fault message="tns:SampleException" name="SampleException"/>
    </operation>
  </portType>
  <binding name="HelloRpcPortBinding" type="tns:HelloRpc">
    <soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="rpc"/>
    <operation name="test">
      <soap12:operation soapAction="urn:test"/>
      <input>
        <soap12:body use="literal" namespace="http://sample.sun.com/"/>
      </input>
      <output>
        <soap12:body use="literal" namespace="http://sample.sun.com/"/>
      </output>
    </operation>
    <operation name="test1">
      <soap12:operation soapAction="hello/test1"/>
      <input>
        <soap12:body use="literal" parts="parameter" namespace="http://sample.sun.com/"/>
        <soap12:header message="tns:test1" part="myheader" use="literal"/>
      </input>
      <output>
        <soap12:body use="literal" parts="return" namespace="http://sample.sun.com/"/>
        <soap12:header message="tns:test1Response" part="myheader" use="literal"/>
      </output>
      <fault name="SampleException">
        <soap12:fault name="SampleException" use="literal"/>
      </fault>
    </operation>
    <operation name="test2">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal" namespace="http://sample.sun.com/"/>
      </input>
      <output>
        <soap12:body use="literal" namespace="http://sample.sun.com/"/>
      </output>
      <fault name="SampleException">
        <soap12:fault name="SampleException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="HelloRpc">
    <port name="HelloRpcPort" binding="tns:HelloRpcPortBinding">
      <soap12:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

