driver-tests/httpsoapbc/soap12/Invoke-Javaee-WS/HelloWS/test/HelloRpc_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://sample.sun.com/" xmlns:tns="http://sample.sun.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="SampleException" type="tns:SampleException"/>

  <xs:element name="myheader" nillable="true" type="xs:string"/>

  <xs:complexType name="SampleException">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

