driver-tests/httpsoapbc/soap12/Invoke-Javaee-WS/HelloWS/test/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions targetNamespace="http://sample.sun.com/" name="HelloService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sample.sun.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://sample.sun.com/" schemaLocation="HelloService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="test">
    <part name="parameters" element="tns:test"/>
  </message>
  <message name="testResponse">
    <part name="parameters" element="tns:testResponse"/>
  </message>
  <message name="test1">
    <part name="parameters" element="tns:test1"/>
    <part name="myheader" element="tns:myheader"/>
  </message>
  <message name="test1Response">
    <part name="result" element="tns:test1Response"/>
    <part name="myheader" element="tns:myheader"/>
  </message>
  <message name="SampleException">
    <part name="fault" element="tns:SampleException"/>
  </message>
  <message name="test2">
    <part name="parameters" element="tns:test2"/>
  </message>
  <message name="test2Response">
    <part name="parameters" element="tns:test2Response"/>
  </message>
  <message name="test3">
    <part name="parameters" element="tns:test3"/>
  </message>
  <message name="test4">
    <part name="parameters" element="tns:test4"/>
  </message>
  <message name="test4Response">
    <part name="parameters" element="tns:test4Response"/>
  </message>
  <message name="addNumbers">
    <part name="parameters" element="tns:addNumbers"/>
  </message>
  <message name="addNumbersResponse">
    <part name="parameters" element="tns:addNumbersResponse"/>
  </message>
  <portType name="Hello">
    <operation name="test">
      <input message="tns:test"/>
      <output message="tns:testResponse"/>
    </operation>
    <operation name="test1" parameterOrder="parameters myheader">
      <input message="tns:test1"/>
      <output message="tns:test1Response"/>
      <fault message="tns:SampleException" name="SampleException"/>
    </operation>
    <operation name="test2">
      <input message="tns:test2"/>
      <output message="tns:test2Response"/>
      <fault message="tns:SampleException" name="SampleException"/>
    </operation>
    <operation name="test3">
      <input message="tns:test3"/>
    </operation>
    <operation name="test4">
      <input message="tns:test4"/>
      <output message="tns:test4Response"/>
    </operation>
    <operation name="addNumbers">
      <input message="tns:addNumbers"/>
      <output message="tns:addNumbersResponse"/>
      <fault message="tns:SampleException" name="SampleException"/>
    </operation>
  </portType>
  <binding name="HelloPortBinding" type="tns:Hello">
    <soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
    <operation name="test">
      <soap12:operation soapAction="hello/test"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="test1">
      <soap12:operation soapAction="hello/test1"/>
      <input>
        <soap12:body use="literal" parts="parameters"/>
        <soap12:header message="tns:test1" part="myheader" use="literal"/>
      </input>
      <output>
        <soap12:body use="literal" parts="result"/>
        <soap12:header message="tns:test1Response" part="myheader" use="literal"/>
      </output>
      <fault name="SampleException">
        <soap12:fault name="SampleException" use="literal"/>
      </fault>
    </operation>
    <operation name="test2">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
      <fault name="SampleException">
        <soap12:fault name="SampleException" use="literal"/>
      </fault>
    </operation>
    <operation name="test3">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
    </operation>
    <operation name="test4">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="addNumbers">
      <soap12:operation soapAction=""/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
      <fault name="SampleException">
        <soap12:fault name="SampleException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="HelloService">
    <port name="HelloPort" binding="tns:HelloPortBinding">
      <soap12:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

