driver-tests/sqlse/derby/selectmultiparamviewJbi/src/jbiServiceUnits/selectmultiparamviewSQL/selectmultiparamviewSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="selectmultiparamviewSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="selectmultiparamviewRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/><xsd:element name="param2" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="selectmultiparamviewResponse"><xsd:complexType><xsd:sequence><xsd:element name="CUSTOMER_ID" type="xsd:int"/><xsd:element name="DISCOUNT_CODE" type="xsd:string"/><xsd:element name="ZIP" type="xsd:string"/><xsd:element name="NAME" type="xsd:string"/><xsd:element name="ADDRESSLINE1" type="xsd:string"/><xsd:element name="ADDRESSLINE2" type="xsd:string"/><xsd:element name="CITY" type="xsd:string"/><xsd:element name="STATE" type="xsd:string"/><xsd:element name="PHONE" type="xsd:string"/><xsd:element name="FAX" type="xsd:string"/><xsd:element name="EMAIL" type="xsd:string"/><xsd:element name="CREDIT_LIMIT" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="selectmultiparamviewResponse">
    <part name="selectmultiparamviewResponsePart" element="tns:selectmultiparamviewResponse"/>
  </message>
  <message name="selectmultiparamviewRequest">
    <part name="selectmultiparamviewRequestPart" element="tns:selectmultiparamviewRequest"/>
  </message>
  <portType name="selectmultiparamviewSQL_sqlsePortType">
    <operation name="selectmultiparamview">
      <input name="selectmultiparamviewRequest" message="tns:selectmultiparamviewRequest"/>
      <output name="selectmultiparamviewResponse" message="tns:selectmultiparamviewResponse"/>
    </operation>
  </portType>
  <binding name="selectmultiparamviewSQLBinding" type="tns:selectmultiparamviewSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="selectmultiparamview">
      <soap:operation style="document"/>
      <input name="selectmultiparamviewRequest">
        <soap:body use="literal"/>
      </input>
      <output name="selectmultiparamviewResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="selectmultiparamviewSQL_sqlseService">
    <port name="selectmultiparamviewSQL_sqlsePort" binding="tns:selectmultiparamviewSQLBinding">
      <soap:address location="http://localhost:18181/selectmultiparamviewSQL/selectmultiparamviewSQL/selectmultiparamviewSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="selectmultiparamviewSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="selectmultiparamviewSQL_myrole" portType="tns:selectmultiparamviewSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
