driver-tests/sqlse/derby/selectallviewSQL/src/selectallviewSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="selectallviewSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="selectallviewRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="selectallviewResponse"><xsd:complexType><xsd:sequence><xsd:element name="CUSTOMER_ID" type="xsd:int"/><xsd:element name="DISCOUNT_CODE" type="xsd:string"/><xsd:element name="ZIP" type="xsd:string"/><xsd:element name="NAME" type="xsd:string"/><xsd:element name="ADDRESSLINE1" type="xsd:string"/><xsd:element name="ADDRESSLINE2" type="xsd:string"/><xsd:element name="CITY" type="xsd:string"/><xsd:element name="STATE" type="xsd:string"/><xsd:element name="PHONE" type="xsd:string"/><xsd:element name="FAX" type="xsd:string"/><xsd:element name="EMAIL" type="xsd:string"/><xsd:element name="CREDIT_LIMIT" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="selectallviewRequest">
    <part name="selectallviewRequestPart" element="tns:selectallviewRequest"/>
  </message>
  <message name="selectallviewResponse">
    <part name="selectallviewResponsePart" element="tns:selectallviewResponse"/>
  </message>
  <portType name="selectallviewSQL_sqlsePortType">
    <operation name="selectallview">
      <input name="selectallviewRequest" message="tns:selectallviewRequest"/>
      <output name="selectallviewResponse" message="tns:selectallviewResponse"/>
    </operation>
  </portType>
  <binding name="selectallviewSQLBinding" type="tns:selectallviewSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="selectallview">
      <soap:operation style="document"/>
      <input name="selectallviewRequest">
        <soap:body use="literal"/>
      </input>
      <output name="selectallviewResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="selectallviewSQL_sqlseService">
    <port name="selectallviewSQL_sqlsePort" binding="tns:selectallviewSQLBinding">
      <soap:address location="http://localhost:18181/selectallviewSQL/selectallviewSQL/selectallviewSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="selectallviewSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="selectallviewSQL_myrole" portType="tns:selectallviewSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
