driver-tests/bpelse/repeatuntil/RepeatUntilBpel/src/RepeatUntilWithFlow/RepeatUntilWithFlow.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="RepeatUntilWithFlow" targetNamespace="http://j2ee.netbeans.org/wsdl/RepeatUntilWithFlow"
    xmlns:tns="http://j2ee.netbeans.org/wsdl/RepeatUntilWithFlow"
    xmlns:ns1="http://j2ee.netbeans.org/wsdl/RepeatUntilWithFlow/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/RepeatUntilWithFlow/types">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
      <xsd:element name="item">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="value"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="RepeatUntilWithFlowRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="RepeatUntilWithFlowResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="RepeatUntilWithFlowError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="RepeatUntilWithFlowPortType">
    <operation name="RepeatUntilWithFlowOperation">
      <input message="tns:RepeatUntilWithFlowRequest"/>
      <output message="tns:RepeatUntilWithFlowResponse"/>
      <fault message="tns:RepeatUntilWithFlowError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="RepeatUntilWithFlowBinding" type="tns:RepeatUntilWithFlowPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="RepeatUntilWithFlowOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="RepeatUntilWithFlowService">
    <port name="RepeatUntilWithFlowPort" binding="tns:RepeatUntilWithFlowBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <message name="testMsg">
        <part name="part1" element="ns1:item"/>
    </message>
    <portType name="repeatUntilWithFlowPT">
        <operation name="testRepeatUntilWithFlowOperation">
            <input name="input1" message="tns:testMsg"/>
            <output name="output1" message="tns:testMsg"/>
        </operation>
    </portType>
    <binding name="soapBinding" type="tns:repeatUntilWithFlowPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="testRepeatUntilWithFlowOperation">
            <soap:operation style="document" soapAction="testRepeatUntilWithFlowOperation"/>
            <input name="input1">
          <soap:body use="literal"/>
        </input><output name="output1">
    <soap:body use="literal"/>
</output>
        </operation>
    </binding>
    <service name="testRepeatUntilWithFlowService">
        <port name="port1" binding="tns:soapBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/testRepeatUntilWithFlowService"/>
        </port>
    </service>
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="serviceProvider" portType="tns:repeatUntilWithFlowPT"/>
    </plink:partnerLinkType>
</definitions>
