driver-tests/sqlse/db2/SqlSE1103_DB2/InsertOneRowWithParamTableJbi/src/jbiServiceUnits/InsertOneRowWithParamTableSql/InsertOneRowWithParamTableSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="InsertOneRowWithParamTableSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="InsertOneRowWithParamTableRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:string"/><xsd:element name="param2" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="InsertOneRowWithParamTableRequest">
    <part name="InsertOneRowWithParamTableRequestPart" element="tns:InsertOneRowWithParamTableRequest"/>
  </message>
  <message name="InsertOneRowWithParamTableResponse">
    <part name="InsertOneRowWithParamTableResponsePart" element="tns:numRowsEffected"/>
  </message>
  <portType name="InsertOneRowWithParamTableSql_sqlsePortType">
    <operation name="InsertOneRowWithParamTable">
      <input name="InsertOneRowWithParamTableRequest" message="tns:InsertOneRowWithParamTableRequest"/>
      <output name="InsertOneRowWithParamTableResponse" message="tns:InsertOneRowWithParamTableResponse"/>
    </operation>
  </portType>
  <binding name="InsertOneRowWithParamTableSqlBinding" type="tns:InsertOneRowWithParamTableSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="InsertOneRowWithParamTable">
      <soap:operation/>
      <input name="InsertOneRowWithParamTableRequest">
        <soap:body/>
      </input>
      <output name="InsertOneRowWithParamTableResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="InsertOneRowWithParamTableSql_sqlseService">
    <port name="InsertOneRowWithParamTableSql_sqlsePort" binding="tns:InsertOneRowWithParamTableSqlBinding">
      <soap:address location="http://localhost:18181/InsertOneRowWithParamTableSql/InsertOneRowWithParamTableSql/InsertOneRowWithParamTableSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="InsertOneRowWithParamTableSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="InsertOneRowWithParamTableSql_myrole" portType="tns:InsertOneRowWithParamTableSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
