contrib-imola/cics-bc/integration-test/test-vinci-wsdl/su2-wsdl/src/main/resources/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bean="http://vinci.test.jbi4cics.imolinfo.it" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://wsdl.vinci.test.jbi4cics.imolinfo.it" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://wsdl.vinci.test.jbi4cics.imolinfo.it">

<wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://vinci.test.jbi4cics.imolinfo.it">
<xsd:complexType name="InputOutputBean">
<xsd:sequence>
<xsd:element minOccurs="0" name="binStrlen" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="compStrlen" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="inputString" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="plusZonedStrlen" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="signedZonedStrlen" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="strlen" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="zonedStrlen" nillable="true" type="xsd:decimal"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://wsdl.vinci.test.jbi4cics.imolinfo.it">
<xsd:element name="vinciOperation">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="bean:InputOutputBean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="vinciOperationResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="bean:InputOutputBean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>

  </wsdl:types>
  <wsdl:message name="vinciOperationResponse">
    <wsdl:part element="tns:vinciOperationResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="vinciOperationRequest">
    <wsdl:part element="tns:vinciOperation" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="VinciServiceWSDLPortType">
    <wsdl:operation name="vinciOperation">
      <wsdl:input message="tns:vinciOperationRequest" name="vinciOperationRequest"/>
      <wsdl:output message="tns:vinciOperationResponse" name="vinciOperationResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VinciServiceCICSPortBinding" type="tns:VinciServiceWSDLPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="vinciOperation">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="vinciOperationRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="vinciOperationResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VinciService">
    <wsdl:port binding="tns:VinciServiceCICSPortBinding" name="VinciServiceCICSPort">
      <wsdlsoap:address location="http://localhost:8192/Service/WSDL/VinciService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>