driver-tests/sqlse/db2/SqlSE1063_DB2/SelectWrongParamValueTableJbi/src/jbiServiceUnits/SelectWrongParamValueTableSql/SelectWrongParamValueTableSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SelectWrongParamValueTableSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="SelectWrongParamValueTableRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="SelectWrongParamValueTableResponse"><xsd:complexType><xsd:sequence><xsd:element name="EMPID" type="xsd:int"/><xsd:element name="ENAME" type="xsd:string"/><xsd:element name="DEPTID" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="SelectWrongParamValueTableRequest">
    <part name="SelectWrongParamValueTableRequestPart" element="tns:SelectWrongParamValueTableRequest"/>
  </message>
  <message name="SelectWrongParamValueTableResponse">
    <part name="SelectWrongParamValueTableResponsePart" element="tns:SelectWrongParamValueTableResponse"/>
  </message>
  <portType name="SelectWrongParamValueTableSql_sqlsePortType">
    <operation name="SelectWrongParamValueTable">
      <input name="SelectWrongParamValueTableRequest" message="tns:SelectWrongParamValueTableRequest"/>
      <output name="SelectWrongParamValueTableResponse" message="tns:SelectWrongParamValueTableResponse"/>
    </operation>
  </portType>
  <binding name="SelectWrongParamValueTableSqlBinding" type="tns:SelectWrongParamValueTableSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SelectWrongParamValueTable">
      <soap:operation/>
      <input name="SelectWrongParamValueTableRequest">
        <soap:body/>
      </input>
      <output name="SelectWrongParamValueTableResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="SelectWrongParamValueTableSql_sqlseService">
    <port name="SelectWrongParamValueTableSql_sqlsePort" binding="tns:SelectWrongParamValueTableSqlBinding">
      <soap:address location="http://localhost:18181/SelectWrongParamValueTableSql/SelectWrongParamValueTableSql/SelectWrongParamValueTableSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="SelectWrongParamValueTableSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="SelectWrongParamValueTableSql_myrole" portType="tns:SelectWrongParamValueTableSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
