driver-tests/bpelse/dynamicpartnerlink/correlation/CorrelationOnePropBPEL/src/Invoke_EvntHandler2_InitNo/Parent.wsdl

<definitions targetNamespace="Invoke_EvntHandler2_Parent_WSDL_TNS"
             name="Invoke_EvntHandler2_Parent_WSDL"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="Invoke_EvntHandler2_Parent_WSDL_TNS"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns="http://xml.netbeans.org/schema/dataTypes.xsd">
               
    <plnk:partnerLinkType name="ParentServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
                   portType="tns:ParentPortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="ParentServiceLinkType1"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
                   portType="tns:ParentPortType1"></plnk:role>
    </plnk:partnerLinkType>
    <vprop:property name="property"
                   type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:property"
                        messageType="tns:ParentMessage"
                        part="ParentPart">
            <vprop:query>/ns:helloObj/ns:string</vprop:query>
    </vprop:propertyAlias>
    
    <types>
        <xsd:schema targetNamespace="Invoke_EvntHandler2_Parent_WSDL_TNS"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
                    xmlns:tns="Invoke_EvntHandler2_Parent_WSDL_TNS"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
                    xmlns:ns="http://xml.netbeans.org/schema/dataTypes.xsd">
            <xsd:import schemaLocation="../dataTypes.xsd" namespace="http://xml.netbeans.org/schema/dataTypes.xsd"/>
                       
            <xsd:element type="tns:ParentType"
                         name="ParentElement"></xsd:element>
            <xsd:complexType name="ParentType">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="ParentMessage">
        <part name="ParentPart" element="ns:helloObj"></part>
    </message>
    <message name="ParentMessage1">
        <part name="ParentPart" element="ns:helloObj"></part>
    </message>
    <portType name="ParentPortType">
        <operation name="ParentOperation">
            <input message="tns:ParentMessage"></input>
            <output message="tns:ParentMessage"></output>
        </operation>
    </portType>
    <portType name="ParentPortType1">
        <operation name="ParentOperation1">
            <input message="tns:ParentMessage1"></input>
            <output message="tns:ParentMessage1"></output>            
        </operation>
    </portType>
    <binding name="ParentBinding"
             type="tns:ParentPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ParentOperation">
            <soap:operation soapAction="ParentOperation"/>
            <input>
                <soap:body parts="ParentPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="ParentPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="ParentBinding1"
             type="tns:ParentPortType1">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ParentOperation1">
            <soap:operation soapAction="ParentOperation1"/>
            <input>
                <soap:body parts="ParentPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="ParentPart"
                           use="literal"/>
            </output>            
        </operation>
    </binding>
    <service name="ParentService">
        <port name="ParentPort"
              binding="tns:ParentBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/Invoke_EvntHandler2_Parent_Service"/>
        </port>
        <port name="ParentPort1"
              binding="tns:ParentBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/Invoke_EvntHandler2_Parent_Service1"/>
        </port>
    </service>
</definitions>
