driver-tests/httpsoapbc/siebel/siebelAccountCompositeAp/src/jbiServiceUnits/siebelAccountBpel/SiebelAccount.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:xsdLocal0="http://www.siebel.com/xml/Account%20Interface"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 targetNamespace="http://siebel.com/asi/"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/asi/" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
><types
><xsd:schema
 elementFormDefault="qualified"
 xmlns:xsdLocal0="http://www.siebel.com/xml/Account%20Interface"
 attributeFormDefault="unqualified"
 targetNamespace="http://www.siebel.com/xml/Account%20Interface"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfAccountInterface"
 type="xsdLocal0:ListOfAccountInterface"
></xsd:element
><xsd:complexType
 name="ListOfAccountInterfaceTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfAccountInterface"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal0:ListOfAccountInterface"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfAccountInterface"
><xsd:sequence
><xsd:element
 name="Account"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal0:Account"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Account"
><xsd:sequence
><xsd:element
 name="AccountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
><xsd:element
 name="AccountStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string24"
></xsd:element
><xsd:element
 name="Alias"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string50"
></xsd:element
><xsd:element
 name="AssignmentAreaCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string5"
></xsd:element
><xsd:element
 name="AssignmentCountryCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string5"
></xsd:element
><xsd:element
 name="CompetitorFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CreditAutoApprovalLimit"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CreditStatusDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CurrencyCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string15"
></xsd:element
><xsd:element
 name="DUNSNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string15"
></xsd:element
><xsd:element
 name="DomesticUltimateDUNS"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string15"
></xsd:element
><xsd:element
 name="NumberofEmployees"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Expertise"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
><xsd:element
 name="GlobalUltimateDUNS"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string15"
></xsd:element
><xsd:element
 name="HomePage"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string100"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
><xsd:element
 name="Location"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string50"
></xsd:element
><xsd:element
 name="MainFaxNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MainPhoneNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Name"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string100"
></xsd:element
><xsd:element
 name="POApprovedFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="POAutoApprovalCurrencyCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string20"
></xsd:element
><xsd:element
 name="POAutoApprovalDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="POAutoApprovalLimit"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ParentAccountId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ParentAccountIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
><xsd:element
 name="ParentAccountLocation"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string50"
></xsd:element
><xsd:element
 name="ParentAccountName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string100"
></xsd:element
><xsd:element
 name="ParentHQDUNS"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string15"
></xsd:element
><xsd:element
 name="PartnerFlag"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PriceList"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PriceListId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PriceListIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
><xsd:element
 name="PrimaryOrganization"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string100"
></xsd:element
><xsd:element
 name="SkipCreditCheck"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string255"
></xsd:element
><xsd:element
 name="VATregistrationnumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
><xsd:element
 name="ListOfBusinessAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ListOfBusinessAddress"
></xsd:element
><xsd:element
 name="ListOfRelatedSalesRep"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ListOfRelatedSalesRep"
></xsd:element
><xsd:element
 name="ListOfRelatedContact"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ListOfRelatedContact"
></xsd:element
><xsd:element
 name="ListOfRelatedOrganization"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ListOfRelatedOrganization"
></xsd:element
><xsd:element
 name="ListOfCreditProfile"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ListOfCreditProfile"
></xsd:element
><xsd:element
 name="ListOfRelatedIndustry"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:ListOfRelatedIndustry"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfBusinessAddress"
><xsd:sequence
><xsd:element
 name="BusinessAddress"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal0:BusinessAddress"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="BusinessAddress"
><xsd:sequence
><xsd:element
 name="AddressId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
><xsd:element
 name="AddressIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
><xsd:element
 name="City"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string50"
></xsd:element
><xsd:element
 name="Country"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string50"
></xsd:element
><xsd:element
 name="County"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string50"
></xsd:element
><xsd:element
 name="PostalCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
><xsd:element
 name="Province"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string50"
></xsd:element
><xsd:element
 name="State"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string10"
></xsd:element
><xsd:element
 name="StreetAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string200"
></xsd:element
><xsd:element
 name="StreetAddress2"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string100"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfRelatedSalesRep"
><xsd:sequence
><xsd:element
 name="RelatedSalesRep"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal0:RelatedSalesRep"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="RelatedSalesRep"
><xsd:sequence
><xsd:element
 name="Position"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string50"
></xsd:element
><xsd:element
 name="PositionId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
><xsd:element
 name="PositionIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
><xsd:element
 name="Login"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string50"
></xsd:element
><xsd:element
 name="Division"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string255"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfRelatedContact"
><xsd:sequence
><xsd:element
 name="RelatedContact"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal0:RelatedContact"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="RelatedContact"
><xsd:sequence
><xsd:element
 name="ContactId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
><xsd:element
 name="FirstName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string50"
></xsd:element
><xsd:element
 name="ContactIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
><xsd:element
 name="LastName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string50"
></xsd:element
><xsd:element
 name="MiddleName"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string50"
></xsd:element
><xsd:element
 name="PersonUId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string100"
></xsd:element
><xsd:element
 name="PrimaryOrganization"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string100"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfRelatedOrganization"
><xsd:sequence
><xsd:element
 name="RelatedOrganization"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal0:RelatedOrganization"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="RelatedOrganization"
><xsd:sequence
><xsd:element
 name="Organization"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string50"
></xsd:element
><xsd:element
 name="OrganizationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrganizationIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfCreditProfile"
><xsd:sequence
><xsd:element
 name="CreditProfile"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal0:CreditProfile"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="CreditProfile"
><xsd:sequence
><xsd:element
 name="CreditArea"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
><xsd:element
 name="CreditCurrencyCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string20"
></xsd:element
><xsd:element
 name="CreditLimit"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CreditProfileId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
><xsd:element
 name="CreditReportingGroup"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string50"
></xsd:element
><xsd:element
 name="CreditStatusCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
><xsd:element
 name="CreditStatusMessage"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string250"
></xsd:element
><xsd:element
 name="CreditUsed"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RiskCategoryCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
><xsd:element
 name="CreditAvailable"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CreditProfileIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfRelatedIndustry"
><xsd:sequence
><xsd:element
 name="RelatedIndustry"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal0:RelatedIndustry"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="RelatedIndustry"
><xsd:sequence
><xsd:element
 name="Industry"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string50"
></xsd:element
><xsd:element
 name="IndustryId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
><xsd:element
 name="IndustryIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
><xsd:element
 name="SICCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal0:string30"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:simpleType
 name="string250"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="250"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string50"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="50"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string24"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="24"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string10"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="10"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string255"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="255"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string15"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="15"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string30"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="30"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string5"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="5"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string200"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="200"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string100"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="100"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
><xsd:simpleType
 name="string20"
><xsd:restriction
 base="xsd:string"
><xsd:maxLength
 value="20"
></xsd:maxLength
></xsd:restriction
></xsd:simpleType
></xsd:schema
></types
><message
 name="Siebel_spcAccount_SiebelAccountInsert_Input"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfAccountInterfaceTopElmt"
></part
><part
 name="StatusObject"
 type="xsd:string"
></part
></message
><message
 name="Siebel_spcAccount_SiebelAccountInsert_Output"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfAccountInterfaceTopElmt"
></part
></message
><message
 name="Siebel_spcAccount_SiebelAccountQueryById_Input"
><part
 name="PrimaryRowId"
 type="xsd:string"
></part
></message
><message
 name="Siebel_spcAccount_SiebelAccountQueryById_Output"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfAccountInterfaceTopElmt"
></part
></message
><message
 name="Siebel_spcAccount_SiebelAccountUpdate_Input"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfAccountInterfaceTopElmt"
></part
><part
 name="StatusObject"
 type="xsd:string"
></part
></message
><message
 name="Siebel_spcAccount_SiebelAccountUpdate_Output"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfAccountInterfaceTopElmt"
></part
></message
><message
 name="Siebel_spcAccount_SiebelAccountQueryByExample_Input"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfAccountInterfaceTopElmt"
></part
></message
><message
 name="Siebel_spcAccount_SiebelAccountQueryByExample_Output"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfAccountInterfaceTopElmt"
></part
></message
><message
 name="Siebel_spcAccount_SiebelAccountInsertOrUpdate_Input"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfAccountInterfaceTopElmt"
></part
><part
 name="StatusObject"
 type="xsd:string"
></part
></message
><message
 name="Siebel_spcAccount_SiebelAccountInsertOrUpdate_Output"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfAccountInterfaceTopElmt"
></part
></message
><message
 name="Siebel_spcAccount_SiebelAccountSynchronize_Input"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfAccountInterfaceTopElmt"
></part
><part
 name="StatusObject"
 type="xsd:string"
></part
></message
><message
 name="Siebel_spcAccount_SiebelAccountSynchronize_Output"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfAccountInterfaceTopElmt"
></part
></message
><message
 name="Siebel_spcAccount_SiebelAccountDelete_Input"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfAccountInterfaceTopElmt"
></part
><part
 name="StatusObject"
 type="xsd:string"
></part
></message
><message
 name="Siebel_spcAccount_SiebelAccountDelete_Output"
><part
 name="SiebelMessage"
 type="xsdLocal0:ListOfAccountInterfaceTopElmt"
></part
></message
><portType
 name="Default"
><operation
 name="SiebelAccountInsert"
><input
 message="tns:Siebel_spcAccount_SiebelAccountInsert_Input"
></input
><output
 message="tns:Siebel_spcAccount_SiebelAccountInsert_Output"
></output
></operation
><operation
 name="SiebelAccountQueryById"
><input
 message="tns:Siebel_spcAccount_SiebelAccountQueryById_Input"
></input
><output
 message="tns:Siebel_spcAccount_SiebelAccountQueryById_Output"
></output
></operation
><operation
 name="SiebelAccountUpdate"
><input
 message="tns:Siebel_spcAccount_SiebelAccountUpdate_Input"
></input
><output
 message="tns:Siebel_spcAccount_SiebelAccountUpdate_Output"
></output
></operation
><operation
 name="SiebelAccountQueryByExample"
><input
 message="tns:Siebel_spcAccount_SiebelAccountQueryByExample_Input"
></input
><output
 message="tns:Siebel_spcAccount_SiebelAccountQueryByExample_Output"
></output
></operation
><operation
 name="SiebelAccountInsertOrUpdate"
><input
 message="tns:Siebel_spcAccount_SiebelAccountInsertOrUpdate_Input"
></input
><output
 message="tns:Siebel_spcAccount_SiebelAccountInsertOrUpdate_Output"
></output
></operation
><operation
 name="SiebelAccountSynchronize"
><input
 message="tns:Siebel_spcAccount_SiebelAccountSynchronize_Input"
></input
><output
 message="tns:Siebel_spcAccount_SiebelAccountSynchronize_Output"
></output
></operation
><operation
 name="SiebelAccountDelete"
><input
 message="tns:Siebel_spcAccount_SiebelAccountDelete_Input"
></input
><output
 message="tns:Siebel_spcAccount_SiebelAccountDelete_Output"
></output
></operation
></portType
><binding
 name="Default"
 type="tns:Default"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="rpc"
></soap:binding
><operation
 name="SiebelAccountInsert"
><soap:operation
 soapAction="rpc/http://siebel.com/asi/:SiebelAccountInsert"
></soap:operation
><input
><soap:body
 namespace="http://siebel.com/asi/"
 use="literal"
></soap:body
></input
><output
><soap:body
 namespace="http://siebel.com/asi/"
 use="literal"
></soap:body
></output
></operation
><operation
 name="SiebelAccountQueryById"
><soap:operation
 soapAction="rpc/http://siebel.com/asi/:SiebelAccountQueryById"
></soap:operation
><input
><soap:body
 namespace="http://siebel.com/asi/"
 use="literal"
></soap:body
></input
><output
><soap:body
 namespace="http://siebel.com/asi/"
 use="literal"
></soap:body
></output
></operation
><operation
 name="SiebelAccountUpdate"
><soap:operation
 soapAction="rpc/http://siebel.com/asi/:SiebelAccountUpdate"
></soap:operation
><input
><soap:body
 namespace="http://siebel.com/asi/"
 use="literal"
></soap:body
></input
><output
><soap:body
 namespace="http://siebel.com/asi/"
 use="literal"
></soap:body
></output
></operation
><operation
 name="SiebelAccountQueryByExample"
><soap:operation
 soapAction="rpc/http://siebel.com/asi/:SiebelAccountQueryByExample"
></soap:operation
><input
><soap:body
 namespace="http://siebel.com/asi/"
 use="literal"
></soap:body
></input
><output
><soap:body
 namespace="http://siebel.com/asi/"
 use="literal"
></soap:body
></output
></operation
><operation
 name="SiebelAccountInsertOrUpdate"
><soap:operation
 soapAction="rpc/http://siebel.com/asi/:SiebelAccountInsertOrUpdate"
></soap:operation
><input
><soap:body
 namespace="http://siebel.com/asi/"
 use="literal"
></soap:body
></input
><output
><soap:body
 namespace="http://siebel.com/asi/"
 use="literal"
></soap:body
></output
></operation
><operation
 name="SiebelAccountSynchronize"
><soap:operation
 soapAction="rpc/http://siebel.com/asi/:SiebelAccountSynchronize"
></soap:operation
><input
><soap:body
 namespace="http://siebel.com/asi/"
 use="literal"
></soap:body
></input
><output
><soap:body
 namespace="http://siebel.com/asi/"
 use="literal"
></soap:body
></output
></operation
><operation
 name="SiebelAccountDelete"
><soap:operation
 soapAction="rpc/http://siebel.com/asi/:SiebelAccountDelete"
></soap:operation
><input
><soap:body
 namespace="http://siebel.com/asi/"
 use="literal"
></soap:body
></input
><output
><soap:body
 namespace="http://siebel.com/asi/"
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="Siebel_spcAccount"
><port
 binding="tns:Default"
 name="Default"
><soap:address
 location="http://pmdbbox5/eai_enu/start.swe?SWEExtSource=WebService&amp;SWEExtCmd=Execute&amp;UserName=sadmin&amp;Password=sadmin"
></soap:address
></port
></service
>
    <plink:partnerLinkType name="SiebelAcccountpartnerlinktyperole1">
        <plink:role name="SiebelAccountpartnerlink" portType="tns:Default"/>
    </plink:partnerLinkType>
</definitions
>
