contrib-imola/cics-bc/integration-test/test-occurs-wsdl/su6-wsdl/src/main/resources/Service.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:bean="http://occurs.test.jbi4cics.imolinfo.it" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:tns="http://wsdl.occurs.test.jbi4cics.imolinfo.it" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://wsdl.occurs.test.jbi4cics.imolinfo.it">
  <wsdl:types>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified"  elementFormDefault="qualified" targetNamespace="http://occurs.test.jbi4cics.imolinfo.it">
<xsd:complexType name="OccursServiceOutputBean">
<xsd:sequence>
<xsd:element minOccurs="0" name="DFHCOMMAREA" nillable="true" type="bean:DFHCOMMAREA"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="DFHCOMMAREA">
<xsd:sequence>
<xsd:element minOccurs="0" name="CA_RETCODE" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="CA_SWSECI1_COMMAREA" nillable="true" type="bean:CA_SWSECI1_COMMAREA"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CA_SWSECI1_COMMAREA">
<xsd:sequence>
<xsd:element minOccurs="0" name="CA_CICS_ABSTIME" nillable="true" type="xsd:decimal"/>
<xsd:element minOccurs="0" name="CA_CURRENT_DATE" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="CA_CURRENT_TIME" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="CA_ERROR_MESSAGE" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="CA_NUMBER_OF_ROWS" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="CA_ROW_DATA" nillable="true" type="bean:ArrayOfCA_ROW_DATA"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfCA_ROW_DATA">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="CA_ROW_DATA" nillable="true" type="bean:CA_ROW_DATA"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="CA_ROW_DATA">
<xsd:sequence>
<xsd:element minOccurs="0" name="CA_DATA" nillable="true" type="xsd:string"/>
<xsd:element minOccurs="0" name="CA_ROW_NUMBER" nillable="true" type="xsd:int"/>
<xsd:element minOccurs="0" name="CA_ROW_NUM_AS_CHAR" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://wsdl.occurs.test.jbi4cics.imolinfo.it">
<xsd:element name="execute">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="bean:OccursServiceOutputBean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="executeResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="bean:OccursServiceOutputBean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>


  </wsdl:types>
  <wsdl:message name="executeResponse">
    <wsdl:part element="tns:executeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="executeRequest">
    <wsdl:part element="tns:execute" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="OccursServiceWSDLPortType">
    <wsdl:operation name="execute">
      <wsdl:input message="tns:executeRequest" name="executeRequest"/>
      <wsdl:output message="tns:executeResponse" name="executeResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OccursServiceCICSPortBinding" type="tns:OccursServiceWSDLPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="execute">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="executeRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="executeResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OccursService">
    <wsdl:port name="OccursServiceCICSPort" binding="tns:OccursServiceCICSPortBinding" >
      <wsdlsoap:address location="http://localhost:8192/Service/WSDL/OccursService/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>