driver-tests/bpelse/dynamicpartnerlink/correlation/correlationBPEL/src/correlation/corrRecOnMesgW1I4.wsdl

<definitions targetNamespace="urn:corrRecOnMesgW1I4TargetNamespace"
             name="corrRecOnMesgW1I4Definition"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="urn:corrRecOnMesgW1I4TargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="corrRecOnMesgW1I4ServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="corrRecOnMesgW1I4ServerRole"
                   portType="tns:corrRecOnMesgW1I4PortType"></plnk:role>
        <plnk:role name="corrRecOnMesgW1I4ServerRole1"
                   portType="tns:corrRecOnMesgW1I4PortType1"></plnk:role>
    </plnk:partnerLinkType>
    <vprop:property type="xsd:string"
                   name="propertyName1"></vprop:property>
    <vprop:propertyAlias part="corrRecOnMesgW1I4Part"
                        propertyName="tns:propertyName1"
                        messageType="tns:corrRecOnMesgW1I4Message">
        <vprop:query>string</vprop:query>
    </vprop:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:corrRecOnMesgW1I4TargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:corrRecOnMesgW1I4TargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:corrRecOnMesgW1I4TargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

                    <xsd:complexType name="corrRecOnMesgW1I4Type">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="corrRecOnMesgW1I4Message">
        <part name="corrRecOnMesgW1I4Part"
              type="tns:corrRecOnMesgW1I4Type"></part>
    </message>
    <portType name="corrRecOnMesgW1I4PortType">
        <operation name="corrRecOnMesgW1I4Operation">
            <input message="tns:corrRecOnMesgW1I4Message"></input>
            <output message="tns:corrRecOnMesgW1I4Message"></output>
        </operation>
    </portType>
    <portType name="corrRecOnMesgW1I4PortType1">
        <operation name="corrRecOnMesgW1I4Operation1">
            <input message="tns:corrRecOnMesgW1I4Message"></input>
        </operation>
    </portType>
    <binding name="corrRecOnMesgW1I4Binding"
             type="tns:corrRecOnMesgW1I4PortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrRecOnMesgW1I4Operation">
            <soap:operation soapAction="corrRecOnMesgW1I4Operation"/>
            <input>
                <soap:body parts="corrRecOnMesgW1I4Part"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="corrRecOnMesgW1I4Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="corrRecOnMesgW1I4Binding1"
             type="tns:corrRecOnMesgW1I4PortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrRecOnMesgW1I4Operation1">
            <soap:operation soapAction="corrRecOnMesgW1I4Operation1"/>
            <input>
                <soap:body parts="corrRecOnMesgW1I4Part"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="corrRecOnMesgW1I4Service">
        <port name="corrRecOnMesgW1I4Port"
              binding="tns:corrRecOnMesgW1I4Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrRecOnMesgW1I4Port"/>
        </port>
        <port name="corrRecOnMesgW1I4Port1"
              binding="tns:corrRecOnMesgW1I4Binding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrRecOnMesgW1I4Port1"/>
        </port>
    </service>
</definitions>
