driver-tests/bpelse/dynamicpartnerlink/correlation/correlationBPEL/src/correlation/corrRecRecFirstAct.wsdl

<definitions targetNamespace="urn:corrRecRecFirstActTargetNamespace"
             name="corrRecRecFirstActDefinition"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="urn:corrRecRecFirstActTargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="corrRecRecFirstActServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="corrRecRecFirstActServerRole"
                   portType="tns:corrRecRecFirstActPortType"></plnk:role>
        <plnk:role name="corrRecRecFirstActServerRole1"
                   portType="tns:corrRecRecFirstActPortType1"></plnk:role>
    </plnk:partnerLinkType>
    <vprop:property type="xsd:string"
                   name="propertyName1"></vprop:property>
    <vprop:propertyAlias part="corrRecRecFirstActPart"
                        propertyName="tns:propertyName1"
                        messageType="tns:corrRecRecFirstActMessage">
        <vprop:query>string</vprop:query>
    </vprop:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:corrRecRecFirstActTargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:corrRecRecFirstActTargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:corrRecRecFirstActTargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

                    <xsd:complexType name="corrRecRecFirstActType">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="corrRecRecFirstActMessage">
        <part name="corrRecRecFirstActPart"
              type="tns:corrRecRecFirstActType"></part>
    </message>
    <portType name="corrRecRecFirstActPortType">
        <operation name="corrRecRecFirstActOperation">
            <input message="tns:corrRecRecFirstActMessage"></input>
            <output message="tns:corrRecRecFirstActMessage"></output>
        </operation>
    </portType>
    <portType name="corrRecRecFirstActPortType1">
        <operation name="corrRecRecFirstActOperation1">
            <input message="tns:corrRecRecFirstActMessage"></input>
        </operation>
    </portType>
    <binding name="corrRecRecFirstActBinding"
             type="tns:corrRecRecFirstActPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrRecRecFirstActOperation">
            <soap:operation soapAction="corrRecRecFirstActOperation"/>
            <input>
                <soap:body parts="corrRecRecFirstActPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="corrRecRecFirstActPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="corrRecRecFirstActBinding1"
             type="tns:corrRecRecFirstActPortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrRecRecFirstActOperation1">
            <soap:operation soapAction="corrRecRecFirstActOperation1"/>
            <input>
                <soap:body parts="corrRecRecFirstActPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="corrRecRecFirstActService">
        <port name="corrRecRecFirstActPort"
              binding="tns:corrRecRecFirstActBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrRecRecFirstActPort"/>
        </port>
        <port name="corrRecRecFirstActPort1"
              binding="tns:corrRecRecFirstActBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrRecRecFirstActPort1"/>
        </port>
    </service>
</definitions>
