driver-tests/bpelse/dynamicpartnerlink/correlation/correlationBPEL/src/correlation/corrInvRec_parent.wsdl

<definitions targetNamespace="CorrInvRecParent"
             name="CorrInvRecParent"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="CorrInvRecParent"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="CorrInvRecParentServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
                   portType="tns:CorrInvRecParentPortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="CorrInvRecParentServiceLinkType1"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
                   portType="tns:CorrInvRecParentPortType1"></plnk:role>
    </plnk:partnerLinkType>
    <vprop:property name="property"
                   type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:property"
                        messageType="tns:CorrInvRecParentMessage"
                        part="CorrInvRecParentPart">
            <vprop:query>/CorrInvRecParentElement/string</vprop:query>
    </vprop:propertyAlias> 
     <vprop:propertyAlias propertyName="tns:property"
                        messageType="tns:CorrInvRecParentMessage1"
                        part="CorrInvRecParentPart">
            <vprop:query>/CorrInvRecParentElement/string</vprop:query>
    </vprop:propertyAlias>
    
    <types>
        <xsd:schema targetNamespace="CorrInvRecParent"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
                    xmlns:tns="CorrInvRecParent"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
                    <xsd:element type="tns:CorrInvRecParentType"
                         name="CorrInvRecParentElement"></xsd:element>
            <xsd:complexType name="CorrInvRecParentType">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="CorrInvRecParentMessage">
        <part name="CorrInvRecParentPart"
              element="tns:CorrInvRecParentElement"></part>
    </message>
    <message name="CorrInvRecParentMessage1">
        <part name="CorrInvRecParentPart"
              element="tns:CorrInvRecParentElement"></part>
    </message>
    <portType name="CorrInvRecParentPortType">
        <operation name="CorrInvRecParentOperation">
            <input message="tns:CorrInvRecParentMessage"></input>
            <output message="tns:CorrInvRecParentMessage"></output>
        </operation>
    </portType>
    <portType name="CorrInvRecParentPortType1">
        <operation name="CorrInvRecParentOperation1">
            <input message="tns:CorrInvRecParentMessage1"></input>
        </operation>
    </portType>
    <binding name="CorrInvRecParentBinding"
             type="tns:CorrInvRecParentPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CorrInvRecParentOperation">
            <soap:operation soapAction="CorrInvRecParentOperation"/>
            <input>
                <soap:body parts="CorrInvRecParentPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="CorrInvRecParentPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="CorrInvRecParentBinding1"
             type="tns:CorrInvRecParentPortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CorrInvRecParentOperation1">
            <soap:operation soapAction="CorrInvRecParentOperation1"/>
            <input>
                <soap:body parts="CorrInvRecParentPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="CorrInvRecParentService">
        <port name="CorrInvRecParentPort"
              binding="tns:CorrInvRecParentBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/CorrInvRecParentService"/>
        </port>
        <port name="CorrInvRecParentPort1"
              binding="tns:CorrInvRecParentBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/CorrInvRecParentService1"/>
        </port>
    </service>
</definitions>
