driver-tests/bpelse/dynamicpartnerlink/correlation/correlationBPEL/src/correlation/corrOnMesgFlowW1G5.wsdl

<definitions targetNamespace="urn:corrOnMesgFlowW1G5TargetNamespace"
             name="corrOnMesgFlowW1G5Definition"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="urn:corrOnMesgFlowW1G5TargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="corrOnMesgFlowW1G5ServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="corrOnMesgFlowW1G5ServerRole"
                   portType="tns:corrOnMesgFlowW1G5PortType"></plnk:role>
        <plnk:role name="corrOnMesgFlowW1G5ServerRole1"
                   portType="tns:corrOnMesgFlowW1G5PortType1"></plnk:role>
    </plnk:partnerLinkType>
    <vprop:property type="xsd:string"
                   name="propertyName1"></vprop:property>
    <vprop:propertyAlias part="corrOnMesgFlowW1G5Part"
                        propertyName="tns:propertyName1"
                        messageType="tns:corrOnMesgFlowW1G5Message">
        <vprop:query>string</vprop:query>
    </vprop:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:corrOnMesgFlowW1G5TargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:corrOnMesgFlowW1G5TargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:corrOnMesgFlowW1G5TargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

                    <xsd:complexType name="corrOnMesgFlowW1G5Type">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="corrOnMesgFlowW1G5Message">
        <part name="corrOnMesgFlowW1G5Part"
              type="tns:corrOnMesgFlowW1G5Type"></part>
    </message>
    <portType name="corrOnMesgFlowW1G5PortType">
        <operation name="corrOnMesgFlowW1G5Operation">
            <input message="tns:corrOnMesgFlowW1G5Message"></input>
            <output message="tns:corrOnMesgFlowW1G5Message"></output>
        </operation>
    </portType>
    <portType name="corrOnMesgFlowW1G5PortType1">
        <operation name="corrOnMesgFlowW1G5Operation1">
            <input message="tns:corrOnMesgFlowW1G5Message"></input>
        </operation>
    </portType>
    <binding name="corrOnMesgFlowW1G5Binding"
             type="tns:corrOnMesgFlowW1G5PortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrOnMesgFlowW1G5Operation">
            <soap:operation soapAction="corrOnMesgFlowW1G5Operation"/>
            <input>
                <soap:body parts="corrOnMesgFlowW1G5Part"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="corrOnMesgFlowW1G5Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="corrOnMesgFlowW1G5Binding1"
             type="tns:corrOnMesgFlowW1G5PortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrOnMesgFlowW1G5Operation1">
            <soap:operation soapAction="corrOnMesgFlowW1G5Operation1"/>
            <input>
                <soap:body parts="corrOnMesgFlowW1G5Part"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="corrOnMesgFlowW1G5Service">
        <port name="corrOnMesgFlowW1G5Port"
              binding="tns:corrOnMesgFlowW1G5Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrOnMesgFlowW1G5Port"/>
        </port>
        <port name="corrOnMesgFlowW1G5Port1"
              binding="tns:corrOnMesgFlowW1G5Binding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrOnMesgFlowW1G5Port1"/>
        </port>
    </service>
</definitions>
