driver-tests/bpelse/dynamicpartnerlink/correlation/correlationBPEL/src/correlation/corrReplyFlowG7.wsdl

<definitions targetNamespace="urn:corrReplyFlowG7TargetNamespace"
             name="corrReplyFlowG7Definition"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="urn:corrReplyFlowG7TargetNamespace"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="corrReplyFlowG7ServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="corrReplyFlowG7ServerRole"
                   portType="tns:corrReplyFlowG7PortType"></plnk:role>
        <plnk:role name="corrReplyFlowG7ServerRole1"
                   portType="tns:corrReplyFlowG7PortType1"></plnk:role>
    </plnk:partnerLinkType>
    <vprop:property type="xsd:string"
                   name="propertyName1"></vprop:property>
    <vprop:propertyAlias part="corrReplyFlowG7Part"
                        propertyName="tns:propertyName1"
                        messageType="tns:corrReplyFlowG7Message">
        <vprop:query>string</vprop:query>
    </vprop:propertyAlias>
    <types>
        <xsd:schema targetNamespace="urn:corrReplyFlowG7TargetNamespace"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="urn:corrReplyFlowG7TargetNamespace"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2002/07/business-process/"
                    xmlns:ns1="urn:corrReplyFlowG7TargetNamespace"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:ns="change this to valid namespace"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

                    <xsd:complexType name="corrReplyFlowG7Type">
                        <xsd:sequence>
                        <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="corrReplyFlowG7Message">
        <part name="corrReplyFlowG7Part"
              type="tns:corrReplyFlowG7Type"></part>
    </message>
    <portType name="corrReplyFlowG7PortType">
        <operation name="corrReplyFlowG7Operation">
            <input message="tns:corrReplyFlowG7Message"></input>
            <output message="tns:corrReplyFlowG7Message"></output>
        </operation>
    </portType>
    <portType name="corrReplyFlowG7PortType1">
        <operation name="corrReplyFlowG7Operation1">
            <input message="tns:corrReplyFlowG7Message"></input>
            <output message="tns:corrReplyFlowG7Message"></output>
        </operation>
    </portType>
    <binding name="corrReplyFlowG7Binding"
             type="tns:corrReplyFlowG7PortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrReplyFlowG7Operation">
            <soap:operation soapAction="corrReplyFlowG7Operation"/>
            <input>
                <soap:body parts="corrReplyFlowG7Part"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="corrReplyFlowG7Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="corrReplyFlowG7Binding1"
             type="tns:corrReplyFlowG7PortType1">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="corrReplyFlowG7Operation1">
            <soap:operation soapAction="corrReplyFlowG7Operation1"/>
            <input>
                <soap:body parts="corrReplyFlowG7Part"
                           use="literal"/>
            </input>
             <output>
                <soap:body parts="corrReplyFlowG7Part"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="corrReplyFlowG7Service">
        <port name="corrReplyFlowG7Port"
              binding="tns:corrReplyFlowG7Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrReplyFlowG7Port"/>
        </port>
        <port name="corrReplyFlowG7Port1"
              binding="tns:corrReplyFlowG7Binding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/corrReplyFlowG7Port1"/>
        </port>
    </service>
</definitions>
