driver-tests/sqlse/sqlserver/Sqlse1202_SQL/SelectMultipleSql/src/SelectMultipleSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SelectMultipleSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="SelectMultipleRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="SelectMultipleResponse"><xsd:complexType><xsd:sequence><xsd:element name="empid" type="xsd:int"/><xsd:element name="empname" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="SelectMultipleResponse">
    <part name="SelectMultipleResponsePart" element="tns:SelectMultipleResponse"/>
  </message>
  <message name="SelectMultipleRequest">
    <part name="SelectMultipleRequestPart" element="tns:SelectMultipleRequest"/>
  </message>
  <portType name="SelectMultipleSql_sqlsePortType">
    <operation name="SelectMultiple">
      <input name="SelectMultipleRequest" message="tns:SelectMultipleRequest"/>
      <output name="SelectMultipleResponse" message="tns:SelectMultipleResponse"/>
    </operation>
  </portType>
  <binding name="SelectMultipleSqlBinding" type="tns:SelectMultipleSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SelectMultiple">
      <soap:operation/>
      <input name="SelectMultipleRequest">
        <soap:body/>
      </input>
      <output name="SelectMultipleResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="SelectMultipleSql_sqlseService">
    <port name="SelectMultipleSql_sqlsePort" binding="tns:SelectMultipleSqlBinding">
      <soap:address location="http://localhost:18181/SelectMultipleSql/SelectMultipleSql/SelectMultipleSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="SelectMultipleSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="SelectMultipleSql_myrole" portType="tns:SelectMultipleSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
