driver-tests/iepse/IEPRelationStream/RelationStreamBApp/src/jbiServiceUnits/RelationStreamBIep/GapWindowInput/GapWindowInput.wsdl

<definitions targetNamespace="GapWindowInput.GapWindowInput_iep"
             xmlns:tns="GapWindowInput.GapWindowInput_iep"
             xmlns:typens="GapWindowInput.GapWindowInput_iep"
             xmlns:defns="GapWindowInput.GapWindowInput_iep"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
    <xsd:schema targetNamespace="GapWindowInput.GapWindowInput_iep" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="StreamInput1_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="MID" type="xsd:int"/>
                    <xsd:element name="RegNum" type="xsd:int"/>
                    <xsd:element name="Income" type="xsd:double"/>
                    <xsd:element name="RegionNum" type="xsd:long"/>
                    <xsd:element name="SDate" type="xsd:date"/>
                    <xsd:element name="STime" type="xsd:string"/>
                    <xsd:element name="SUpdate" type="xsd:dateTime"/>
                    <xsd:element name="SDesc" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamInput1Batch_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="StreamInput1_MsgObj" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="MID" type="xsd:int"/>
                    <xsd:element name="RegNum" type="xsd:int"/>
                    <xsd:element name="Income" type="xsd:double"/>
                    <xsd:element name="RegionNum" type="xsd:long"/>
                    <xsd:element name="SDate" type="xsd:date"/>
                    <xsd:element name="STime" type="xsd:string"/>
                    <xsd:element name="SUpdate" type="xsd:dateTime"/>
                    <xsd:element name="SDesc" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamInput2_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="MID" type="xsd:int"/>
                    <xsd:element name="RegNum" type="xsd:int"/>
                    <xsd:element name="Income" type="xsd:double"/>
                    <xsd:element name="RegionNum" type="xsd:long"/>
                    <xsd:element name="SDate" type="xsd:date"/>
                    <xsd:element name="STime" type="xsd:string"/>
                    <xsd:element name="SUpdate" type="xsd:dateTime"/>
                    <xsd:element name="SDesc" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamInput2Batch_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="StreamInput2_MsgObj" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="MID" type="xsd:int"/>
                    <xsd:element name="RegNum" type="xsd:int"/>
                    <xsd:element name="Income" type="xsd:double"/>
                    <xsd:element name="RegionNum" type="xsd:long"/>
                    <xsd:element name="SDate" type="xsd:date"/>
                    <xsd:element name="STime" type="xsd:string"/>
                    <xsd:element name="SUpdate" type="xsd:dateTime"/>
                    <xsd:element name="SDesc" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamInput3_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="MID" type="xsd:int"/>
                    <xsd:element name="RegNum" type="xsd:int"/>
                    <xsd:element name="Income" type="xsd:double"/>
                    <xsd:element name="RegionNum" type="xsd:long"/>
                    <xsd:element name="SDate" type="xsd:date"/>
                    <xsd:element name="STime" type="xsd:string"/>
                    <xsd:element name="SUpdate" type="xsd:dateTime"/>
                    <xsd:element name="SDesc" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamInput3Batch_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="StreamInput3_MsgObj" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="MID" type="xsd:int"/>
                    <xsd:element name="RegNum" type="xsd:int"/>
                    <xsd:element name="Income" type="xsd:double"/>
                    <xsd:element name="RegionNum" type="xsd:long"/>
                    <xsd:element name="SDate" type="xsd:date"/>
                    <xsd:element name="STime" type="xsd:string"/>
                    <xsd:element name="SUpdate" type="xsd:dateTime"/>
                    <xsd:element name="SDesc" type="xsd:int"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamOutput0_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="LastName" type="xsd:string"/>
                   <xsd:element name="MID" type="xsd:int"/>
                   <xsd:element name="SDesc" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamOutput1_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="LastName" type="xsd:string"/>
                   <xsd:element name="MID" type="xsd:int"/>
                   <xsd:element name="SDesc" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamOutput2_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="LastName" type="xsd:string"/>
                   <xsd:element name="MID" type="xsd:int"/>
                   <xsd:element name="SDesc" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="RelationOutput0_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="LastName" type="xsd:string"/>
                   <xsd:element name="MID" type="xsd:int"/>
                   <xsd:element name="SDesc" type="xsd:int"/>
                   <xsd:element name="SeqId" type="xsd:string"/>
                   <xsd:element name="Tag" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="RelationOutput1_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="LastName" type="xsd:string"/>
                   <xsd:element name="MID" type="xsd:int"/>
                   <xsd:element name="SDesc" type="xsd:int"/>
                   <xsd:element name="SeqId" type="xsd:string"/>
                   <xsd:element name="Tag" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
    </xsd:schema>
</types>

<message name="StreamInput1_Msg">
    <part name="input" element="typens:StreamInput1_MsgObj"/>
</message>
<message name="StreamInput1Batch_Msg">
    <part name="input" element="typens:StreamInput1Batch_MsgObj"/>
</message>
<message name="StreamInput2_Msg">
    <part name="input" element="typens:StreamInput2_MsgObj"/>
</message>
<message name="StreamInput2Batch_Msg">
    <part name="input" element="typens:StreamInput2Batch_MsgObj"/>
</message>
<message name="StreamInput3_Msg">
    <part name="input" element="typens:StreamInput3_MsgObj"/>
</message>
<message name="StreamInput3Batch_Msg">
    <part name="input" element="typens:StreamInput3Batch_MsgObj"/>
</message>
<message name="StreamOutput0_Msg">
    <part name="output" element="typens:StreamOutput0_MsgObj"/>
</message>
<message name="StreamOutput1_Msg">
    <part name="output" element="typens:StreamOutput1_MsgObj"/>
</message>
<message name="StreamOutput2_Msg">
    <part name="output" element="typens:StreamOutput2_MsgObj"/>
</message>
<message name="RelationOutput0_Msg">
    <part name="output" element="typens:RelationOutput0_MsgObj"/>
</message>
<message name="RelationOutput1_Msg">
    <part name="output" element="typens:RelationOutput1_MsgObj"/>
</message>

<portType name="InputPt">
    <operation name="StreamInput1">
        <input message="tns:StreamInput1_Msg"/>
    </operation>
    <operation name="StreamInput1Batch">
        <input message="tns:StreamInput1Batch_Msg"/>
    </operation>
    <operation name="StreamInput2">
        <input message="tns:StreamInput2_Msg"/>
    </operation>
    <operation name="StreamInput2Batch">
        <input message="tns:StreamInput2Batch_Msg"/>
    </operation>
    <operation name="StreamInput3">
        <input message="tns:StreamInput3_Msg"/>
    </operation>
    <operation name="StreamInput3Batch">
        <input message="tns:StreamInput3Batch_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_StreamOutput0">
    <operation name="StreamOutput0">
        <input message="tns:StreamOutput0_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_StreamOutput1">
    <operation name="StreamOutput1">
        <input message="tns:StreamOutput1_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_StreamOutput2">
    <operation name="StreamOutput2">
        <input message="tns:StreamOutput2_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_RelationOutput0">
    <operation name="RelationOutput0">
        <input message="tns:RelationOutput0_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_RelationOutput1">
    <operation name="RelationOutput1">
        <input message="tns:RelationOutput1_Msg"/>
    </operation>
</portType>

<plnk:partnerLinkType name="InputPlt" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "InputRn" portType="tns:InputPt"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_StreamOutput0" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_StreamOutput0" portType="tns:OutputPt_StreamOutput0"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_StreamOutput1" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_StreamOutput1" portType="tns:OutputPt_StreamOutput1"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_StreamOutput2" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_StreamOutput2" portType="tns:OutputPt_StreamOutput2"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_RelationOutput0" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_RelationOutput0" portType="tns:OutputPt_RelationOutput0"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_RelationOutput1" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_RelationOutput1" portType="tns:OutputPt_RelationOutput1"/>
</plnk:partnerLinkType>
<!-- input binding -->
<binding name="InputBinding" type="defns:InputPt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="StreamInput1">
        <soap:operation soapAction="StreamInput1"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
    <operation name="StreamInput1Batch">
        <soap:operation soapAction="StreamInput1Batch"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
    <operation name="StreamInput2">
        <soap:operation soapAction="StreamInput2"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
    <operation name="StreamInput2Batch">
        <soap:operation soapAction="StreamInput2Batch"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
    <operation name="StreamInput3">
        <soap:operation soapAction="StreamInput3"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
    <operation name="StreamInput3Batch">
        <soap:operation soapAction="StreamInput3Batch"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<!-- input service -->
<service name="InputService">
    <port name="InputPort" binding="tns:InputBinding">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/GapWindowInput.GapWindowInput_iep"/>
    </port>
</service>

<!-- http output binding and service
<binding name="OutputBinding_StreamOutput0" type="defns:OutputPt_StreamOutput0">
    <operation name="StreamOutput0">
        <soap:operation soapAction="StreamOutput0"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_StreamOutput1" type="defns:OutputPt_StreamOutput1">
    <operation name="StreamOutput1">
        <soap:operation soapAction="StreamOutput1"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_StreamOutput2" type="defns:OutputPt_StreamOutput2">
    <operation name="StreamOutput2">
        <soap:operation soapAction="StreamOutput2"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_RelationOutput0" type="defns:OutputPt_RelationOutput0">
    <operation name="RelationOutput0">
        <soap:operation soapAction="RelationOutput0"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_RelationOutput1" type="defns:OutputPt_RelationOutput1">
    <operation name="RelationOutput1">
        <soap:operation soapAction="RelationOutput1"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<service name="OutputService_StreamOutput0">
    <port name="OutputPort_StreamOutput0" binding="tns:OutputBinding_StreamOutput0">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/GapWindowInput.GapWindowInput_iep_StreamOutput0_callee"/>
    </port>
</service>
<service name="OutputService_StreamOutput1">
    <port name="OutputPort_StreamOutput1" binding="tns:OutputBinding_StreamOutput1">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/GapWindowInput.GapWindowInput_iep_StreamOutput1_callee"/>
    </port>
</service>
<service name="OutputService_StreamOutput2">
    <port name="OutputPort_StreamOutput2" binding="tns:OutputBinding_StreamOutput2">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/GapWindowInput.GapWindowInput_iep_StreamOutput2_callee"/>
    </port>
</service>
<service name="OutputService_RelationOutput0">
    <port name="OutputPort_RelationOutput0" binding="tns:OutputBinding_RelationOutput0">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/GapWindowInput.GapWindowInput_iep_RelationOutput0_callee"/>
    </port>
</service>
<service name="OutputService_RelationOutput1">
    <port name="OutputPort_RelationOutput1" binding="tns:OutputBinding_RelationOutput1">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/GapWindowInput.GapWindowInput_iep_RelationOutput1_callee"/>
    </port>
</service>
 end of http output binding and service -->

<!-- file output binding and service -->
<binding name="OutputBinding_StreamOutput0" type="defns:OutputPt_StreamOutput0">
    <file:binding/>
    <operation name="StreamOutput0">
        <file:operation/>
        <input>
            <file:message fileName="StreamOutput0.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_StreamOutput1" type="defns:OutputPt_StreamOutput1">
    <file:binding/>
    <operation name="StreamOutput1">
        <file:operation/>
        <input>
            <file:message fileName="StreamOutput1.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_StreamOutput2" type="defns:OutputPt_StreamOutput2">
    <file:binding/>
    <operation name="StreamOutput2">
        <file:operation/>
        <input>
            <file:message fileName="StreamOutput2.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_RelationOutput0" type="defns:OutputPt_RelationOutput0">
    <file:binding/>
    <operation name="RelationOutput0">
        <file:operation/>
        <input>
            <file:message fileName="RelationOutput0.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_RelationOutput1" type="defns:OutputPt_RelationOutput1">
    <file:binding/>
    <operation name="RelationOutput1">
        <file:operation/>
        <input>
            <file:message fileName="RelationOutput1.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal"/>
        </input>
    </operation>
</binding>
<service name="OutputService_StreamOutput0">
    <port name="OutputPort_StreamOutput0" binding="tns:OutputBinding_StreamOutput0">
        <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPRelationStream/RelationStreamBApp/test/GapWindowInput"/>
    </port>
</service>
<service name="OutputService_StreamOutput1">
    <port name="OutputPort_StreamOutput1" binding="tns:OutputBinding_StreamOutput1">
        <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPRelationStream/RelationStreamBApp/test/GapWindowInput"/>
    </port>
</service>
<service name="OutputService_StreamOutput2">
    <port name="OutputPort_StreamOutput2" binding="tns:OutputBinding_StreamOutput2">
        <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPRelationStream/RelationStreamBApp/test/GapWindowInput"/>
    </port>
</service>
<service name="OutputService_RelationOutput0">
    <port name="OutputPort_RelationOutput0" binding="tns:OutputBinding_RelationOutput0">
        <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPRelationStream/RelationStreamBApp/test/GapWindowInput"/>
    </port>
</service>
<service name="OutputService_RelationOutput1">
    <port name="OutputPort_RelationOutput1" binding="tns:OutputBinding_RelationOutput1">
        <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPRelationStream/RelationStreamBApp/test/GapWindowInput"/>
    </port>
</service>
<!-- end of file output binding and service -->
</definitions>
