driver-tests/bpelse/misc/MiscBpel/src/scopedVarTest/scopedVar3.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:scopedVar3TargetNamespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="scopedVar3Definition" targetNamespace="urn:scopedVar3TargetNamespace">
    <types>
        <xsd:schema xmlns:ns1="urn:scopedVar3TargetNamespace" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:scopedVar3TargetNamespace">
            <xsd:complexType name="scopedVar3Type">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="scopedVar3Message">
        <part name="scopedVar3Part" type="tns:scopedVar3Type"/>
    </message>
    <portType name="scopedVar3PortType">
        <operation name="scopedVar3Operation">
            <input message="tns:scopedVar3Message"/>
            <output message="tns:scopedVar3Message"/>
        </operation>
    </portType>
    <portType name="scopedVar3_1PortType">
        <operation name="scopedVar3_1Operation">
            <input message="tns:scopedVar3Message"/>
            <output message="tns:scopedVar3Message"/>
        </operation>
    </portType>
    <portType name="scopedVar3_2PortType">
        <operation name="scopedVar3_2Operation">
            <input message="tns:scopedVar3Message"/>
            <output message="tns:scopedVar3Message"/>
        </operation>
    </portType>        
    <binding name="scopedVar3Binding" type="tns:scopedVar3PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="scopedVar3Operation">
            <soap:operation soapAction="scopedVar3Operation"/>
            <input>
                <soap:body parts="scopedVar3Part" use="literal"/>
            </input>
            <output>
                <soap:body parts="scopedVar3Part" use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="scopedVar3_1Binding" type="tns:scopedVar3_1PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="scopedVar3_1Operation">
            <soap:operation soapAction="scopedVar3_1Operation"/>
            <input>
                <soap:body parts="scopedVar3Part" use="literal"/>
            </input>
            <output>
                <soap:body parts="scopedVar3Part" use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="scopedVar3_2Binding" type="tns:scopedVar3_2PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="scopedVar3_2Operation">
            <soap:operation soapAction="scopedVar3_2Operation"/>
            <input>
                <soap:body parts="scopedVar3Part" use="literal"/>
            </input>
            <output>
                <soap:body parts="scopedVar3Part" use="literal"/>
            </output>
        </operation>
    </binding>        
    <service name="scopedVar3Service">
        <port binding="tns:scopedVar3Binding" name="scopedVar3Port">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/scopedVar3"/>
        </port>
    </service>
    <service name="scopedVar3_1Service">
        <port binding="tns:scopedVar3_1Binding" name="scopedVar3_1Port">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/scopedVar3_1"/>
        </port>
    </service>    
    <service name="scopedVar3_2Service">
        <port binding="tns:scopedVar3_2Binding" name="scopedVar3_2Port">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/scopedVar3_2"/>
        </port>
    </service>    
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="scopedVar3ServiceLinkType">
	<plnk:role name="scopedVar3ServerRole" portType="tns:scopedVar3PortType"/>
   </plnk:partnerLinkType>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="scopedVar3_1ServiceLinkType">
	<plnk:role name="scopedVar3_1ServerRole" portType="tns:scopedVar3_1PortType"/>
   </plnk:partnerLinkType>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="scopedVar3_2ServiceLinkType">
	<plnk:role name="scopedVar3_2ServerRole" portType="tns:scopedVar3_2PortType"/>
   </plnk:partnerLinkType>      
</definitions>
