driver-tests/bpelse/repeatuntil/RepeatUntilBpel/src/RepeatUntilwithInvoke/RepeatUntilwithInvoke.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="RepeatUntilwithInvoke" targetNamespace="http://j2ee.netbeans.org/wsdl/RepeatUntilwithInvoke"
    xmlns:tns="http://j2ee.netbeans.org/wsdl/RepeatUntilwithInvoke"
    xmlns:ns1="http://j2ee.netbeans.org/wsdl/RepeatUntilwithInvoke/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/RepeatUntilwithInvoke/types">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="RepeatUntilwithInvokeRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="RepeatUntilwithInvokeResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="RepeatUntilwithInvokeError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="RepeatUntilwithInvokePortType">
    <operation name="RepeatUntilwithInvokeOperation">
      <input message="tns:RepeatUntilwithInvokeRequest"/>
      <output message="tns:RepeatUntilwithInvokeResponse"/>
      <fault message="tns:RepeatUntilwithInvokeError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="RepeatUntilwithInvokeBinding" type="tns:RepeatUntilwithInvokePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="RepeatUntilwithInvokeOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="RepeatUntilwithInvokeService">
    <port name="RepeatUntilwithInvokePort" binding="tns:RepeatUntilwithInvokeBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <message name="RptMessage1">
        <part name="Name" type="xsd:string"/>
        <part name="counter" type="xsd:int"/>
    </message>
    <portType name="portType1">
        <operation name="operation1">
            <input name="input1" message="tns:RptMessage1"/>
            <output name="output1" message="tns:RptMessage1"/>
        </operation>
    </portType>
    <binding name="binding1" type="tns:portType1">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="operation1">
            <input name="input1">
                <soap:body/>
            </input>
            <output name="output1">
                <soap:body/>
            </output>
        </operation>
    </binding>
    <service name="service1">
        <port name="port1" binding="tns:binding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/RepeatUntilwithInvoke/Service1"/>
        </port>
    </service>
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="partnerlinktyperole1" portType="tns:portType1"/>
    </plink:partnerLinkType>
</definitions>
