ojc-core/bpelse/system-test/test/com/sun/jbi/engine/bpel/jbiadaptor/test/persistence/bpels/Exit/ExitInScopeTerminateOnAlarm/deployedFolder/IOWSDL18.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="IOWSDL18" targetNamespace="http://j2ee.netbeans.org/wsdl/IOWSDL18"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://j2ee.netbeans.org/wsdl/IOWSDL18" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types/>
    <message name="IOWSDL18OperationRequest">
        <part name="InputPart" type="xsd:string"/>
    </message>
    <message name="IOWSDL18OperationReply">
        <part name="OutputPart" type="xsd:string"/>
    </message>
    <message name="MainBPOneWayRequest">
        <wsdl:part name="InputPart" type="xsd:string"/>
    </message>
    <portType name="IOWSDL18PortType">
        <wsdl:operation name="IOWSDL18Operation">
            <wsdl:input name="input1" message="tns:IOWSDL18OperationRequest"/>
            <wsdl:output name="output1" message="tns:IOWSDL18OperationReply"/>
        </wsdl:operation>
    </portType>
    <portType name="MainBPOneWayWSDLPortType">
        <wsdl:operation name="MainBPOneWayWSDLOperation">
            <wsdl:input name="input1" message="tns:MainBPOneWayRequest"/>
        </wsdl:operation>
    </portType>
    <binding name="IOWSDL18Binding" type="tns:IOWSDL18PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="IOWSDL18Operation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/IOWSDL18"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/IOWSDL18"/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <binding name="MainBPOneWayBinding" type="tns:MainBPOneWayWSDLPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="MainBPOneWayWSDLOperation">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/IOWSDL18"/>
            </wsdl:input>
        </wsdl:operation>
    </binding>
    <service name="IOWSDL18Service">
        <wsdl:port name="IOWSDL18Port" binding="tns:IOWSDL18Binding">
            <soap:address location="http://localhost:18181/TerminationHandlerBpel/ExitInScopeTerminateOnAlarm/IOWSDL18Service/IOWSDL18Port"/>
        </wsdl:port>
    </service>
    <service name="MainBPOneWayService">
        <wsdl:port name="MainBPOneWayPort" binding="tns:MainBPOneWayBinding">
            <soap:address location="http://localhost:18181/TerminationHandlerBpel/ExitInScopeTerminateOnAlarm/IOWSDL18/MainBPOneWayPort"/>
        </wsdl:port>
    </service>
    <plnk:partnerLinkType name="MainBPIOPLink">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="IOWSDL18PortTypeRole" portType="tns:IOWSDL18PortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="MainBPOneWayPLink">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="MainBPOneWayWSDLPortTypeRole" portType="tns:MainBPOneWayWSDLPortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="CorrelationVariable" type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:CorrelationVariable" messageType="tns:IOWSDL18OperationRequest" part="InputPart"/>
    <vprop:propertyAlias propertyName="tns:CorrelationVariable" messageType="tns:MainBPOneWayRequest" part="InputPart"/>
</definitions>
