contrib-imola/corba-bc/integration-test/test-provider-crb106/provider-crb106-http-consumer-single/src/main/resources/EchoCrb106Single.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EchoCrb106Single" targetNamespace="urn:jbi4corba/test-provider-crb106" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:jbi4corba/test-provider-crb106" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:jbi4corba/test-provider-crb106" xmlns="urn:jbi4corba/test-provider-crb106" xmlns:ns1="http://testprovidercrb106.test.jbi4corba.imolinfo.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="http://testprovidercrb106.test.jbi4corba.imolinfo.it/" schemaLocation="TypeDef_testprovidercrb106.test.jbi4corba.imolinfo.it.xsd"/>
    <xs:element name="methodA">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="a" type="ns1:valueTypeA"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="methodAResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:structAB"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="methodB">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="a" type="ns1:valueTypeA"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="methodBResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="return" type="ns1:structAB"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="methodB">
    <wsdl:part name="parameters" element="tns:methodB">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="methodAResponse">
    <wsdl:part name="parameters" element="tns:methodAResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="methodBResponse">
    <wsdl:part name="parameters" element="tns:methodBResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="methodA">
    <wsdl:part name="parameters" element="tns:methodA">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EchoCrb106Single">
    <wsdl:operation name="methodB">
      <wsdl:input name="methodB" message="tns:methodB">
    </wsdl:input>
      <wsdl:output name="methodBResponse" message="tns:methodBResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="methodA">
      <wsdl:input name="methodA" message="tns:methodA">
    </wsdl:input>
      <wsdl:output name="methodAResponse" message="tns:methodAResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EchoCrb106SingleCorbaBinding" type="tns:EchoCrb106Single">

    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="methodB">
      <soap:operation/>
      <wsdl:input name="methodB">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="methodBResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="methodA">
      <soap:operation/>
      <wsdl:input name="methodA">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="methodAResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EchoCrb106Single">
    <wsdl:port name="EchoCrb106SingleCorbaPort" binding="tns:EchoCrb106SingleCorbaBinding">

      <soap:address location="http://localhost:8192/Service/test-provider-crb106/EchoCrb106SingleService/"/>
    </wsdl:port>
  </wsdl:service>
<plnk:partnerLinkType name="EchoCrb106Single">
<plnk:role name="EchoCrb106SinglePortTypeRole" portType="tns:EchoCrb106Single"/>
</plnk:partnerLinkType>
</wsdl:definitions>
