driver-tests/jmsbc/i18n/JMSBCBpel/src/JMSHeadersTest/JMSHeadersTest.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<definitions targetNamespace="http://localhost/bpel/JMSHeadersTest"
             name="JMSHeadersTest"
             xmlns:tns="http://localhost/bpel/JMSHeadersTest"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:jms="http://schemas.sun.com/jbi/wsdl-extensions/jms/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <plink:partnerLinkType name="JMSHeadersTestRequestReplyLnkType">
        <plink:role name="roleJMSHeadersTestTrigger"
                    portType="tns:portTypeRequestReply"></plink:role>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="JMSHeadersTestOutLnkType">
        <plink:role name="roleJMSHeadersTestSender"
                    portType="tns:portTypeOneWayOut"></plink:role>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="JMSHeadersTestInLnkType">
        <plink:role name="roleJMSHeadersTestReceiver"
                    portType="tns:portTypeOneWayIn"></plink:role>
    </plink:partnerLinkType>
    <vprop:property name="propJMSHeadersName1"
                   type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:propJMSHeadersName1"
                        messageType="tns:messageRequestReply"
                        part="partReqReply">
        <vprop:query>correlationID</vprop:query>
    </vprop:propertyAlias>
    <vprop:propertyAlias propertyName="tns:propJMSHeadersName1"
                        messageType="tns:messageOneWayIn"
                        part="partCorrelationID">
        <vprop:query></vprop:query>
    </vprop:propertyAlias>    
    <types>
        <xsd:schema targetNamespace="http://localhost/bpel/JMSHeadersTest"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="http://localhost/bpel/JMSHeadersTest"
                    xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
                    xmlns:ns1="http://localhost/bpel/JMSHeadersTest"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:jms="http://schemas.sun.com/jbi/wsdl-extensions/jms/">
            
                    <xsd:complexType name="RequestReplyType">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                                 name="correlationID"></xsd:element>
                    <xsd:element type="xsd:string"
                                 name="deliveryMode"></xsd:element>
                    <xsd:element type="xsd:int"
                                 name="priority"></xsd:element>
                    <xsd:element type="xsd:string"
                                 name="type"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="messageRequestReply">
        <part name="partReqReply"
              type="tns:RequestReplyType"></part>
    </message>
    <message name="messageOneWayOut">
        <part name="partCorrelationID"
              type="xsd:string"></part>
        <part name="partPriority"
              type="xsd:int"></part>
        <part name="partType"
              type="xsd:string"></part>
        <part name="partBody"
              type="xsd:string"></part>
    </message>
    <message name="messageOneWayIn">
        <part name="partCorrelationID"
              type="xsd:string"></part>
        <part name="partDeliveryMode"
              type="xsd:string"></part>
        <part name="partPriority"
              type="xsd:int"></part>
        <part name="partType"
              type="xsd:string"></part>
        <part name="partBody"
              type="xsd:string"></part>
    </message>
    <portType name="portTypeRequestReply">
        <operation name="operationRequestReply">
            <input name="input"
                   message="tns:messageRequestReply"></input>
            <output name="output"
                    message="tns:messageRequestReply"></output>
        </operation>
    </portType>
    <portType name="portTypeOneWayOut">
        <operation name="operationOneWayOut">
            <input name="input"
                   message="tns:messageOneWayOut"></input>
        </operation>
    </portType>
    <portType name="portTypeOneWayIn">
        <operation name="operationOneWayIn">
            <input name="input"
                   message="tns:messageOneWayIn"></input>
        </operation>
    </portType>
    <binding name="bindingHttpRequestReply"
             type="tns:portTypeRequestReply">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="operationRequestReply">
            <soap:operation soapAction="soapActionJMSHeadersTest"/>
            <input name="input">
                <soap:body parts="partReqReply"
                           use="literal"/>
            </input>
            <output name="output">
                <soap:body parts="partReqReply"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="bindingJMSOneWayOut"
             type="tns:portTypeOneWayOut">
        <jms:binding></jms:binding>
        <operation name="operationOneWayOut">
            <jms:operation destination="HeadersTestDestination" destinationType="Topic" transaction="NoTransaction" deliveryMode="NON_PERSISTENT" disableMessageTimeStamp="true" disableMessageID="true" priority="4" />
            <input name="input">
                <jms:message messageType="TextMessage" textPart="partBody" correlationIdPart="partCorrelationID" priorityPart="partPriority" typePart="partType" />
            </input>
        </operation>
    </binding>
    <binding name="bindingJMSOneWayIn"
             type="tns:portTypeOneWayIn">
        <jms:binding></jms:binding>
        <operation name="operationOneWayIn">
            <jms:operation destination="HeadersTestDestination" destinationType="Topic" transaction="NoTransaction" subscriptionDurability="NonDurable" />
            <input name="input">
                <jms:message messageType="TextMessage" textPart="partBody" deliveryModePart="partDeliveryMode" correlationIdPart="partCorrelationID" priorityPart="partPriority" typePart="partType" />
            </input>
        </operation>
    </binding>
    <service name="serviceJMSHeadersTest">
        <port name="portJMSHeadersTestTrigger"
              binding="tns:bindingHttpRequestReply">
            <soap:address location="http://localhost:12100/service/testJMSHeaders"/>
        </port>
        <port name="portJMSHeadersTestSend"
              binding="tns:bindingJMSOneWayOut">
            <jms:address connectionURL="mq://localhost:7676" username="admin" password="admin"/>
        </port>
        <port name="portJMSHeadersTestRecv"
              binding="tns:bindingJMSOneWayIn">
            <jms:address connectionURL="mq://localhost:7676" username="admin" password="admin"/>
        </port>
    </service>
</definitions>
