driver-tests/jmsbc/i18n/JMSBCJbi/src/jbiServiceUnits/JMSBCBpel/JMSInTestMsgSelector/FileOutWriter.wsdl

<definitions targetNamespace="http://localhost/JMS/JMSInTestMsgSelector/FileOutWriter"
             name="FileOutWriter"
             xmlns:tns3="http://localhost/JMS/JMSInTestMsgSelector/FileOutWriter"
             xmlns:tns="http://localhost/JMS/JMSInTestMsgSelector/FileOutWriter"
             xmlns:slnk1="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns:slink="http://schemas.xmlsoap.org/ws/2002/07/service-link/"
             xmlns:tns0="http://localhost/JMS/JMSInTestMsgSelector/FileOutWriter"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns2="http://localhost/JMS/JMSInTestMsgSelector/FileOutWriter"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns1="http://localhost/JMS/JMSInTestMsgSelector/FileOutWriter"
             xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link">
    <types>
        <xsd:schema targetNamespace="http://localhost/JMS/JMSInTestMsgSelector/FileOutWriter"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:tns="http://localhost/JMS/JMSInTestMsgSelector/FileOutWriter"
                    xmlns:slink="http://schemas.xmlsoap.org/ws/2002/07/service-link/"
                    xmlns:ns1="http://localhost/JMS/JMSInTestMsgSelector/FileOutWriter"
                    xmlns:tns0="http://localhost/JMS/JMSInTestMsgSelector/FileOutWriter"
                    xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:tns2="http://localhost/JMS/JMSInTestMsgSelector/FileOutWriter"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:tns1="http://localhost/JMS/JMSInTestMsgSelector/FileOutWriter"
                    xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/">




















                    <xsd:element type="tns2:helloObjType"
                         name="helloObj"></xsd:element>
            <xsd:complexType name="helloObjType">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                    <xsd:element type="xsd:nonNegativeInteger"
                                 name="nonNegativeInteger"></xsd:element>
                    <xsd:element type="xsd:byte"
                                 name="byte"></xsd:element>
                    <xsd:element type="xsd:short"
                                 name="short"></xsd:element>
                    <xsd:element type="xsd:int"
                                 name="int"></xsd:element>
                    <xsd:element type="xsd:long"
                                 name="long"></xsd:element>
                    <xsd:element type="xsd:negativeInteger"
                                 name="negativeInteger"></xsd:element>
                    <xsd:element type="xsd:dateTime"
                                 name="dateTime"></xsd:element>
                    <xsd:element type="xsd:nonPositiveInteger"
                                 name="nonPositiveInteger"></xsd:element>
                    <xsd:element type="xsd:duration"
                                 name="duration"></xsd:element>
                    <xsd:element type="xsd:ENTITIES"
                                 name="ENTITIES"></xsd:element>
                    <xsd:element type="xsd:double"
                                 name="double"></xsd:element>
                    <xsd:element type="xsd:ENTITY"
                                 name="ENTITY"></xsd:element>
                    <xsd:element type="xsd:float"
                                 name="float"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="messageFileOut">
        <part name="partFileOut"
              element="tns:helloObj"></part>
    </message>
    <portType name="portTypeFileOut">
        <operation name="operationWriteFile">
            <input name="input"
                   message="tns:messageFileOut"></input>
        </operation>
    </portType>
    <binding name="bindingFileOut"
             type="tns:portTypeFileOut">
        <file:binding></file:binding>
        <operation name="operationWriteFile">
            <file:operation></file:operation>
            <input name="input">
                <file:message use="literal" addEOL="false"
                            multipleRecordsPerFile="false" fileName="Output.xml"></file:message>
            </input>
        </operation>
    </binding>
    <service name="serviceFileOut">
        <port name="portFileOut"
              binding="tns:bindingFileOut">
            <file:address fileDirectory="@drivertest_dir@/jmsbc/JMSBCTests/JMSBCJbi/test/JMSInTestMsgSelector_Feed/testrunoutput"></file:address>
        </port>
    </service>
    <plnk:partnerLinkType name="FileOutLNK"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="FileOutClient"
                   portType="tns:portTypeFileOut"></plnk:role>
    </plnk:partnerLinkType>
</definitions>
