driver-tests/bpelse/repeatuntil/RepeatUntilBpel/src/RepeatUntilSingle/RepeatUntilSingle.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="RepeatUntilSingle" targetNamespace="http://localhost/RepeatUntilBPEL/RepeatUntilSingle"
    xmlns:ns1="urn:WS/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost/RepeatUntilBPEL/RepeatUntilSingle" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://localhost/RepeatUntilBPEL/RepeatUntilSingle" xmlns:tns="http://localhost/RepeatUntilBPEL/RepeatUntilSingle">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="RepeatUntilSingleRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="RepeatUntilSingleResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="RepeatUntilSingleError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="RepeatUntilSinglePortType">
    <operation name="RepeatUntilSingleOperation">
      <input message="tns:RepeatUntilSingleRequest"/>
      <output message="tns:RepeatUntilSingleResponse"/>
      <fault message="tns:RepeatUntilSingleError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="RepeatUntilSingleBinding" type="tns:RepeatUntilSinglePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="RepeatUntilSingleOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="RepeatUntilSingleService">
    <port name="RepeatUntilSinglePort" binding="tns:RepeatUntilSingleBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <message name="RptMessage1">
        <part name="part1" type="xsd:string"/>
        <part name="part2" type="xsd:int"/>
    </message>
    <portType name="RptPortType1">
        <operation name="operation1">
            <input name="input1" message="tns:RptMessage1"/>
            <output name="output1" message="tns:RptMessage1"/>
        </operation>
    </portType>
    <binding name="RptBinding1" type="tns:RptPortType1">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="operation1">
        <input name="input1">
          <soap:body/>
        </input><output name="output1">
    <soap:body/>
</output>
        </operation>
    </binding>
    <service name="RptSingleService1">
        <port name="RptSinglePort1" binding="tns:RptBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/RepeatUntilsingle/RptSingleService1"/>
        </port>
    </service>
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="partnerlinktyperole1" portType="tns:RptPortType1"/>
    </plink:partnerLinkType>
</definitions>
