contrib-imola/corba-bc/integration-test/test-consumer-complex/consumer-complex-bpel-provider/src/main/resources/EchoComplex.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/"
                  xmlns:soap12="http://www.w3.org/2003/05/soap-envelope"
                  xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding"
                  xmlns:plink="http://schemas.xmlsoap.org/ws/2004/03/partner-link/"
                  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
                  xmlns:tns="urn:jbi4corba/test-consumer-complex"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:jbi4corba/test-consumer-complex">

  <!--
  Types
  -->
  <wsdl:types>
    <xsd:schema targetNamespace="urn:jbi4corba/test-consumer-complex"
                elementFormDefault="qualified"
                attributeFormDefault="qualified">

      <xsd:element name="TReqSeq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dataString"  type="xsd:string"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataBoolean" type="xsd:boolean" nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataFloat"   type="xsd:float"   nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataDouble"  type="xsd:double"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataAnyURI"  type="xsd:anyURI"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataLong"    type="xsd:long"    nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataInt"     type="xsd:int"     nillable="false" minOccurs="1" maxOccurs="1" />

            <xsd:element name="dataNormalizedString"  type="xsd:normalizedString" nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataLanguage"          type="xsd:language"         nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataName"              type="xsd:Name"             nillable="false" minOccurs="1" maxOccurs="1" />

            <xsd:element name="dataNMTOKEN"  type="xsd:NMTOKEN"     nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataNCName"   type="xsd:NCName"      nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataID"       type="xsd:ID"          nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataENTITY"   type="xsd:ENTITY"      nillable="false" minOccurs="1" maxOccurs="1" />

            <xsd:element name="dataUInt"   type="xsd:unsignedInt"   nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataUShort" type="xsd:unsignedShort" nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataUByte"  type="xsd:unsignedByte"  nillable="false" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="TResSeq">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dataString"  type="xsd:string"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataBoolean" type="xsd:boolean" nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataFloat"   type="xsd:float"   nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataDouble"  type="xsd:double"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataAnyURI"  type="xsd:anyURI"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataLong"    type="xsd:long"    nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataInt"     type="xsd:int"     nillable="false" minOccurs="1" maxOccurs="1" />

            <xsd:element name="dataNormalizedString"  type="xsd:normalizedString" nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataLanguage"          type="xsd:language"         nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataName"              type="xsd:Name"             nillable="false" minOccurs="1" maxOccurs="1" />

            <xsd:element name="dataNMTOKEN"  type="xsd:NMTOKEN"     nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataNCName"   type="xsd:NCName"      nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataID"       type="xsd:ID"          nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataENTITY"   type="xsd:ENTITY"      nillable="false" minOccurs="1" maxOccurs="1" />

            <xsd:element name="dataUInt"   type="xsd:unsignedInt"   nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataUShort" type="xsd:unsignedShort" nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataUByte"  type="xsd:unsignedByte"  nillable="false" minOccurs="1" maxOccurs="1" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

			<!--
            The element 'all' allow the presence of a set of unordered elements.
            In this case the elements must have maxOccurs and minOccurs = {0|1}
            -->

			<xsd:element name="TReqAll">
            <xsd:complexType>
            	<xsd:all>
                    <xsd:element name="dataString"  type="xsd:string"  nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataBoolean" type="xsd:boolean" nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataFloat"   type="xsd:float"   nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataDouble"  type="xsd:double"  nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataAnyURI"  type="xsd:anyURI"  nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataLong"    type="xsd:long"    nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataInt"     type="xsd:int"     nillable="false" minOccurs="1" maxOccurs="1" />

                    <xsd:element name="dataNormalizedString"  type="xsd:normalizedString" nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataLanguage"          type="xsd:language"         nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataName"              type="xsd:Name"             nillable="false" minOccurs="1" maxOccurs="1" />

                    <xsd:element name="dataNMTOKEN"  type="xsd:NMTOKEN"     nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataNCName"   type="xsd:NCName"      nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataID"       type="xsd:ID"          nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataENTITY"   type="xsd:ENTITY"      nillable="false" minOccurs="1" maxOccurs="1" />

                    <xsd:element name="dataUInt"   type="xsd:unsignedInt"   nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataUShort" type="xsd:unsignedShort" nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataUByte"  type="xsd:unsignedByte"  nillable="false" minOccurs="1" maxOccurs="1" />
            	</xsd:all>
            </xsd:complexType>
			</xsd:element>

			<xsd:element name="TResAll">
            <xsd:complexType>
            	<xsd:all>
                    <xsd:element name="dataString"  type="xsd:string"  nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataBoolean" type="xsd:boolean" nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataFloat"   type="xsd:float"   nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataDouble"  type="xsd:double"  nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataAnyURI"  type="xsd:anyURI"  nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataLong"    type="xsd:long"    nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataInt"     type="xsd:int"     nillable="false" minOccurs="1" maxOccurs="1" />

                    <xsd:element name="dataNormalizedString"  type="xsd:normalizedString" nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataLanguage"          type="xsd:language"         nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataName"              type="xsd:Name"             nillable="false" minOccurs="1" maxOccurs="1" />

                    <xsd:element name="dataNMTOKEN"  type="xsd:NMTOKEN"     nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataNCName"   type="xsd:NCName"      nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataID"       type="xsd:ID"          nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataENTITY"   type="xsd:ENTITY"      nillable="false" minOccurs="1" maxOccurs="1" />

                    <xsd:element name="dataUInt"   type="xsd:unsignedInt"   nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataUShort" type="xsd:unsignedShort" nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataUByte"  type="xsd:unsignedByte"  nillable="false" minOccurs="1" maxOccurs="1" />
            	</xsd:all>
            </xsd:complexType>
			</xsd:element>

			<!-- GROUP -->
			<xsd:group name="MyGroup">
            	<xsd:all>
                    <xsd:element name="dataString"  type="xsd:string"  nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataBoolean" type="xsd:boolean" nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataFloat"   type="xsd:float"   nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataDouble"  type="xsd:double"  nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataAnyURI"  type="xsd:anyURI"  nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataLong"    type="xsd:long"    nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataInt"     type="xsd:int"     nillable="false" minOccurs="1" maxOccurs="1" />

                    <xsd:element name="dataNormalizedString"  type="xsd:normalizedString" nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataLanguage"          type="xsd:language"         nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataName"              type="xsd:Name"             nillable="false" minOccurs="1" maxOccurs="1" />

                    <xsd:element name="dataNMTOKEN"  type="xsd:NMTOKEN"     nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataNCName"   type="xsd:NCName"      nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataID"       type="xsd:ID"          nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataENTITY"   type="xsd:ENTITY"      nillable="false" minOccurs="1" maxOccurs="1" />

                    <xsd:element name="dataUInt"   type="xsd:unsignedInt"   nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataUShort" type="xsd:unsignedShort" nillable="false" minOccurs="1" maxOccurs="1" />
                    <xsd:element name="dataUByte"  type="xsd:unsignedByte"  nillable="false" minOccurs="1" maxOccurs="1" />
            	</xsd:all>
			</xsd:group>

			<xsd:element name="TReqGroup">
				<xsd:complexType>
					<xsd:group ref="tns:MyGroup"/>
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="TResGroup">
				<xsd:complexType>
					<xsd:group ref="tns:MyGroup"/>
				</xsd:complexType>
			</xsd:element>

			 <!-- Complex In Complex -->

			<xsd:complexType name="dComplex">
			  <xsd:sequence>
                <xsd:element name="dataString"  type="xsd:string"  nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataBoolean" type="xsd:boolean" nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataFloat"   type="xsd:float"   nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataDouble"  type="xsd:double"  nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataAnyURI"  type="xsd:anyURI"  nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataLong"    type="xsd:long"    nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataInt"     type="xsd:int"     nillable="false" minOccurs="1" maxOccurs="1" />

                <xsd:element name="dataNormalizedString"  type="xsd:normalizedString" nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataLanguage"          type="xsd:language"         nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataName"              type="xsd:Name"             nillable="false" minOccurs="1" maxOccurs="1" />

                <xsd:element name="dataNMTOKEN"  type="xsd:NMTOKEN"     nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataNCName"   type="xsd:NCName"      nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataID"       type="xsd:ID"          nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataENTITY"   type="xsd:ENTITY"      nillable="false" minOccurs="1" maxOccurs="1" />

                <xsd:element name="dataUInt"   type="xsd:unsignedInt"   nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataUShort" type="xsd:unsignedShort" nillable="false" minOccurs="1" maxOccurs="1" />
                <xsd:element name="dataUByte"  type="xsd:unsignedByte"  nillable="false" minOccurs="1" maxOccurs="1" />
			  </xsd:sequence>
			</xsd:complexType>

		  <xsd:element name="TReqCC">
			<xsd:complexType>
			  <xsd:sequence>
				<xsd:element name="dataComplex"  type="tns:dComplex"  nillable="false" minOccurs="1" maxOccurs="1" />
			  </xsd:sequence>
			</xsd:complexType>
		  </xsd:element>
		  <xsd:element name="TResCC">
			<xsd:complexType>
			  <xsd:sequence>
				<xsd:element name="dataComplex"  type="tns:dComplex"  nillable="false" minOccurs="1" maxOccurs="1" />
			  </xsd:sequence>
			</xsd:complexType>
		  </xsd:element>

		<!-- Simple In Complex ( SC ) -->
		<!--
        <xsd:simpleType name="simpleAnySimpleType">
          <xsd:restriction base="xsd:anySimpleType"/>
        </xsd:simpleType>
        -->
        <xsd:simpleType name="simpleNormalizedString">
          <xsd:restriction base="xsd:normalizedString"/>
        </xsd:simpleType>
        <xsd:simpleType name="simpleToken">
          <xsd:restriction base="xsd:token"/>
        </xsd:simpleType>
        <xsd:simpleType name="simpleLanguage">
          <xsd:restriction base="xsd:language"/>
        </xsd:simpleType>
        <xsd:simpleType name="simpleName">
          <xsd:restriction base="xsd:Name"/>
        </xsd:simpleType>
        <xsd:simpleType name="simpleNMTOKEN">
          <xsd:restriction base="xsd:NMTOKEN"/>
        </xsd:simpleType>
        <xsd:simpleType name="simpleNCName">
          <xsd:restriction base="xsd:NCName"/>
        </xsd:simpleType>
        <xsd:simpleType name="simpleID">
          <xsd:restriction base="xsd:ID"/>
        </xsd:simpleType>
        <xsd:simpleType name="simpleENTITY">
          <xsd:restriction base="xsd:ENTITY"/>
        </xsd:simpleType>

        <xsd:simpleType name="simpleString">
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>

        <xsd:simpleType name="simpleUnsignedInt">
          <xsd:restriction base="xsd:unsignedInt"/>
        </xsd:simpleType>
        <xsd:simpleType name="simpleUnsignedShort">
          <xsd:restriction base="xsd:unsignedShort"/>
        </xsd:simpleType>
        <xsd:simpleType name="simpleUnsignedByte">
          <xsd:restriction base="xsd:unsignedByte"/>
        </xsd:simpleType>

		<xsd:simpleType name="simpleBoolean">
			<xsd:restriction base="xsd:boolean"/>
		</xsd:simpleType>
		<xsd:simpleType name="simpleFloat">
			<xsd:restriction base="xsd:float"/>
		</xsd:simpleType>
		<xsd:simpleType name="simpleDouble">
			<xsd:restriction base="xsd:double"/>
		</xsd:simpleType>
		<xsd:simpleType name="simpleAnyURI">
			<xsd:restriction base="xsd:anyURI"/>
		</xsd:simpleType>
		<xsd:simpleType name="simpleLong">
			<xsd:restriction base="xsd:long"/>
		</xsd:simpleType>
		<xsd:simpleType name="simpleInt">
			<xsd:restriction base="xsd:int"/>
		</xsd:simpleType>

      <xsd:element name="TReqSC">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dataString"  type="tns:simpleString"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataBoolean"  type="tns:simpleBoolean"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataFloat"  type="tns:simpleFloat"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataDouble"  type="tns:simpleDouble"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataAnyURI"  type="tns:simpleAnyURI"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataLong"  type="tns:simpleLong"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataInt"  type="tns:simpleInt"  nillable="false" minOccurs="1" maxOccurs="1" />

            <xsd:element name="dataToken"             type="tns:simpleToken"            nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataNormalizedString"  type="tns:simpleNormalizedString" nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataLanguage"          type="tns:simpleLanguage"         nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataName"              type="tns:simpleName"             nillable="false" minOccurs="1" maxOccurs="1" />

            <xsd:element name="dataNMTOKEN"  type="tns:simpleNMTOKEN"     nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataNCName"   type="tns:simpleNCName"      nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataID"       type="tns:simpleID"          nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataENTITY"   type="tns:simpleENTITY"      nillable="false" minOccurs="1" maxOccurs="1" />

            <xsd:element name="dataUInt"   type="tns:simpleUnsignedInt"   nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataUShort" type="tns:simpleUnsignedShort" nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataUByte"  type="tns:simpleUnsignedByte"  nillable="false" minOccurs="1" maxOccurs="1" />

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TResSC">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="dataString"  type="tns:simpleString"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataBoolean"  type="tns:simpleBoolean"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataFloat"  type="tns:simpleFloat"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataDouble"  type="tns:simpleDouble"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataAnyURI"  type="tns:simpleAnyURI"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataLong"  type="tns:simpleLong"  nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataInt"  type="tns:simpleInt"  nillable="false" minOccurs="1" maxOccurs="1" />

            <xsd:element name="dataToken"             type="tns:simpleToken"            nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataNormalizedString"  type="tns:simpleNormalizedString" nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataLanguage"          type="tns:simpleLanguage"         nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataName"              type="tns:simpleName"             nillable="false" minOccurs="1" maxOccurs="1" />

            <xsd:element name="dataNMTOKEN"  type="tns:simpleNMTOKEN"     nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataNCName"   type="tns:simpleNCName"      nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataID"       type="tns:simpleID"          nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataENTITY"   type="tns:simpleENTITY"      nillable="false" minOccurs="1" maxOccurs="1" />

            <xsd:element name="dataUInt"   type="tns:simpleUnsignedInt"   nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataUShort" type="tns:simpleUnsignedShort" nillable="false" minOccurs="1" maxOccurs="1" />
            <xsd:element name="dataUByte"  type="tns:simpleUnsignedByte"  nillable="false" minOccurs="1" maxOccurs="1" />

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>


      <!--
      ============================================ Simple/Atomic - types
      -->

			<xsd:element name="simpleNormalizedStringRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleNormalizedStringResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:normalizedString"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleTokenRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleTokenResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleLanguageRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:language"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleLanguageResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:language"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleNameRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:Name"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleNameResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:Name"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleNMTOKENRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN"/>
				</xsd:simpleType>
			</xsd:element>
                        <!--<xsd:element name="simpleAnySimpleTypeResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:anySimpleType"/>
				</xsd:simpleType>
			</xsd:element>-->
			<xsd:element name="simpleNMTOKENResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NMTOKEN"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleNCNameRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NCName"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleNCNameResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:NCName"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleIDRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:ID"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleIDResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:ID"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleENTITYRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:ENTITY"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleENTITYResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:ENTITY"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleUIntRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedInt"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleUIntResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedInt"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleUShortRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedShort"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleUShortResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedShort"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleUByteRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedByte"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleUByteResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedByte"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleStringRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleStringResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleBooleanRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:boolean"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleBooleanResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:boolean"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleFloatRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:float"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleFloatResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:float"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleDoubleRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleDoubleResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:double"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleAnyURIRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:anyURI"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleAnyURIResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:anyURI"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleLongRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleLongResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:long"/>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="simpleIntRequest">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int"/>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="simpleIntResponse">
				<xsd:simpleType>
					<xsd:restriction base="xsd:int"/>
				</xsd:simpleType>
			</xsd:element>


    </xsd:schema>
  </wsdl:types>

  <!-- Seq -->
  <wsdl:message name="MReqSeq">
    <wsdl:part element="tns:TReqSeq" name="MReqSeq" />
  </wsdl:message>
  <wsdl:message name="MResSeq">
    <wsdl:part element="tns:TResSeq" name="MResSeq" />
  </wsdl:message>

  <!-- All -->
  <wsdl:message name="MReqAll">
		<wsdl:part name="MReqAll" element="tns:TReqAll"/>
  </wsdl:message>
  <wsdl:message name="MResAll">
		<wsdl:part name="MResAll" element="tns:TResAll"/>
  </wsdl:message>

  <!-- Group -->
  <wsdl:message name="MReqGroup">
	<wsdl:part name="MReqGroup" element="tns:TReqGroup"/>
  </wsdl:message>
  <wsdl:message name="MResGroup">
	<wsdl:part name="MResGroup" element="tns:TResGroup"/>
  </wsdl:message>

  <!-- Complex In Complex ( CC ) -->
  <wsdl:message name="MReqCC">
    <wsdl:part element="tns:TReqCC" name="MReqCC" />
  </wsdl:message>
  <wsdl:message name="MResCC">
    <wsdl:part element="tns:TResCC" name="MResCC" />
  </wsdl:message>

  <!-- Simple In Complex ( SC ) -->
  <wsdl:message name="MReqSC">
    <wsdl:part element="tns:TReqSC" name="MReqSC" />
  </wsdl:message>
  <wsdl:message name="MResSC">
    <wsdl:part element="tns:TResSC" name="MResSC" />
  </wsdl:message>


  <!--
  ============================================ Simple/Atomic
  -->

	<wsdl:message name="echoSimpleNormalizedStringRequest">
		<wsdl:part name="echoSimpleNormalizedStringRequest" element="tns:simpleNormalizedStringRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleNormalizedStringResponse">
		<wsdl:part name="echoSimpleNormalizedStringResponse" element="tns:simpleNormalizedStringResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleTokenRequest">
		<wsdl:part name="echoSimpleTokenRequest" element="tns:simpleTokenRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleTokenResponse">
		<wsdl:part name="echoSimpleTokenResponse" element="tns:simpleTokenResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleLanguageRequest">
		<wsdl:part name="echoSimpleLanguageRequest" element="tns:simpleLanguageRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleLanguageResponse">
		<wsdl:part name="echoSimpleLanguageResponse" element="tns:simpleLanguageResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleNameRequest">
		<wsdl:part name="echoSimpleNameRequest" element="tns:simpleNameRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleNameResponse">
		<wsdl:part name="echoSimpleNameResponse" element="tns:simpleNameResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleNMTOKENRequest">
		<wsdl:part name="echoSimpleNMTOKENRequest" element="tns:simpleNMTOKENRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleNMTOKENResponse">
		<wsdl:part name="echoSimpleNMTOKENResponse" element="tns:simpleNMTOKENResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleNCNameRequest">
		<wsdl:part name="echoSimpleNCNameRequest" element="tns:simpleNCNameRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleNCNameResponse">
		<wsdl:part name="echoSimpleNCNameResponse" element="tns:simpleNCNameResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleIDRequest">
		<wsdl:part name="echoSimpleIDRequest" element="tns:simpleIDRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleIDResponse">
		<wsdl:part name="echoSimpleIDResponse" element="tns:simpleIDResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleENTITYRequest">
		<wsdl:part name="echoSimpleENTITYRequest" element="tns:simpleENTITYRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleENTITYResponse">
		<wsdl:part name="echoSimpleENTITYResponse" element="tns:simpleENTITYResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleUIntRequest">
		<wsdl:part name="echoSimpleUIntRequest" element="tns:simpleUIntRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleUIntResponse">
		<wsdl:part name="echoSimpleUIntResponse" element="tns:simpleUIntResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleUShortRequest">
		<wsdl:part name="echoSimpleStringRequest" element="tns:simpleUShortRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleUShortResponse">
		<wsdl:part name="echoSimpleUShortResponse" element="tns:simpleUShortResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleUByteRequest">
		<wsdl:part name="echoSimpleUByteRequest" element="tns:simpleUByteRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleUByteResponse">
		<wsdl:part name="echoSimpleUByteResponse" element="tns:simpleUByteResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleStringRequest">
		<wsdl:part name="echoSimpleStringRequest" element="tns:simpleStringRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleStringResponse">
		<wsdl:part name="echoSimpleStringResponse" element="tns:simpleStringResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleBooleanRequest">
		<wsdl:part name="echoSimpleBooleanRequest" element="tns:simpleBooleanRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleBooleanResponse">
		<wsdl:part name="echoSimpleBooleanResponse" element="tns:simpleBooleanResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleFloatRequest">
		<wsdl:part name="echoSimpleFloatRequest" element="tns:simpleFloatRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleFloatResponse">
		<wsdl:part name="echoSimpleFloatResponse" element="tns:simpleFloatResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleDoubleRequest">
		<wsdl:part name="echoSimpleDoubleRequest" element="tns:simpleDoubleRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleDoubleResponse">
		<wsdl:part name="echoSimpleDoubleResponse" element="tns:simpleDoubleResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleAnyURIRequest">
		<wsdl:part name="echoSimpleAnyURIRequest" element="tns:simpleAnyURIRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleAnyURIResponse">
		<wsdl:part name="echoSimpleAnyURIResponse" element="tns:simpleAnyURIResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleLongRequest">
		<wsdl:part name="echoSimpleLongRequest" element="tns:simpleLongRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleLongResponse">
		<wsdl:part name="echoSimpleLongResponse" element="tns:simpleLongResponse"/>
	</wsdl:message>

	<wsdl:message name="echoSimpleIntRequest">
		<wsdl:part name="echoSimpleIntRequest" element="tns:simpleIntRequest"/>
	</wsdl:message>
	<wsdl:message name="echoSimpleIntResponse">
		<wsdl:part name="echoSimpleIntResponse" element="tns:simpleIntResponse"/>
	</wsdl:message>



  <!--
  PortType
  -->
  <wsdl:portType name="EchoComplexPortType">

    <!-- Seq -->
    <wsdl:operation name="echoSeq">
      <wsdl:input message="tns:MReqSeq" name="echoSeqIn" />
      <wsdl:output message="tns:MResSeq" name="echoSeqOut" />
    </wsdl:operation>

    <!-- All -->
	<wsdl:operation name="echoAll">
		<wsdl:input name="echoAllIn" message="tns:MReqAll"/>
		<wsdl:output name="echoAllOut" message="tns:MResAll"/>
	</wsdl:operation>

    <!-- Group -->
	<wsdl:operation name="echoGroup">
		<wsdl:input name="echoGroupIn" message="tns:MReqGroup"/>
		<wsdl:output name="echoGroupOut" message="tns:MResGroup"/>
	</wsdl:operation>

    <!-- Complex In Complex ( CC ) -->
    <wsdl:operation name="echoCC">
      <wsdl:input name="echoCCIn" message="tns:MReqCC" />
      <wsdl:output name="echoCCOut" message="tns:MResCC"/>
    </wsdl:operation>

    <!-- Simple In Complex ( SC ) -->
    <wsdl:operation name="echoSC">
      <wsdl:input name="echoSCIn" message="tns:MReqSC" />
      <wsdl:output name="echoSCOut" message="tns:MResSC"/>
    </wsdl:operation>


    <!--
    ============================================ Simple/Atomic
    -->

		<wsdl:operation name="echoSimpleNormalizedString">
			<wsdl:input name="echoSimpleNormalizedStringRequest" message="tns:echoSimpleNormalizedStringRequest"/>
			<wsdl:output name="echoSimpleNormalizedStringResponse" message="tns:echoSimpleNormalizedStringResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleToken">
			<wsdl:input name="echoSimpleTokenRequest" message="tns:echoSimpleTokenRequest"/>
			<wsdl:output name="echoSimpleTokenResponse" message="tns:echoSimpleTokenResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleLanguage">
			<wsdl:input name="echoSimpleLanguageRequest" message="tns:echoSimpleLanguageRequest"/>
			<wsdl:output name="echoSimpleLanguageResponse" message="tns:echoSimpleLanguageResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleName">
			<wsdl:input name="echoSimpleNameRequest" message="tns:echoSimpleNameRequest"/>
			<wsdl:output name="echoSimpleNameResponse" message="tns:echoSimpleNameResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleNMTOKEN">
			<wsdl:input name="echoSimpleNMTOKENRequest" message="tns:echoSimpleNMTOKENRequest"/>
			<wsdl:output name="echoSimpleNMTOKENResponse" message="tns:echoSimpleNMTOKENResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleNCName">
			<wsdl:input name="echoSimpleNCNameRequest" message="tns:echoSimpleNCNameRequest"/>
			<wsdl:output name="echoSimpleNCNameResponse" message="tns:echoSimpleNCNameResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleID">
			<wsdl:input name="echoSimpleIDRequest" message="tns:echoSimpleIDRequest"/>
			<wsdl:output name="echoSimpleIDResponse" message="tns:echoSimpleIDResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleENTITY">
			<wsdl:input name="echoSimpleENTITYRequest" message="tns:echoSimpleENTITYRequest"/>
			<wsdl:output name="echoSimpleENTITYResponse" message="tns:echoSimpleENTITYResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleUInt">
			<wsdl:input name="echoSimpleUIntRequest" message="tns:echoSimpleUIntRequest"/>
			<wsdl:output name="echoSimpleUIntResponse" message="tns:echoSimpleUIntResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleUShort">
			<wsdl:input name="echoSimpleUShortRequest" message="tns:echoSimpleUShortRequest"/>
			<wsdl:output name="echoSimpleUShortResponse" message="tns:echoSimpleUShortResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleUByte">
			<wsdl:input name="echoSimpleUByteRequest" message="tns:echoSimpleUByteRequest"/>
			<wsdl:output name="echoSimpleUByteResponse" message="tns:echoSimpleUByteResponse"/>
		</wsdl:operation>


        <!-- *** -->

		<wsdl:operation name="echoSimpleString">
			<wsdl:input name="echoSimpleStringRequest" message="tns:echoSimpleStringRequest"/>
			<wsdl:output name="echoSimpleStringResponse" message="tns:echoSimpleStringResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleBoolean">
			<wsdl:input name="echoSimpleBooleanRequest" message="tns:echoSimpleBooleanRequest"/>
			<wsdl:output name="echoSimpleBooleanResponse" message="tns:echoSimpleBooleanResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleFloat">
			<wsdl:input name="echoSimpleFloatRequest" message="tns:echoSimpleFloatRequest"/>
			<wsdl:output name="echoSimpleFloatResponse" message="tns:echoSimpleFloatResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleDouble">
			<wsdl:input name="echoSimpleDoubleRequest" message="tns:echoSimpleDoubleRequest"/>
			<wsdl:output name="echoSimpleDoubleResponse" message="tns:echoSimpleDoubleResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleAnyURI">
			<wsdl:input name="echoSimpleAnyURIRequest" message="tns:echoSimpleAnyURIRequest"/>
			<wsdl:output name="echoSimpleAnyURIResponse" message="tns:echoSimpleAnyURIResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleLong">
			<wsdl:input name="echoSimpleLongRequest" message="tns:echoSimpleLongRequest"/>
			<wsdl:output name="echoSimpleLongResponse" message="tns:echoSimpleLongResponse"/>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleInt">
			<wsdl:input name="echoSimpleIntRequest" message="tns:echoSimpleIntRequest"/>
			<wsdl:output name="echoSimpleIntResponse" message="tns:echoSimpleIntResponse"/>
		</wsdl:operation>


  </wsdl:portType>



  <!--
  Binding
  -->
  <wsdl:binding name="EchoComplexBinding" type="tns:EchoComplexPortType">
    <!--    Style    -->
    <wsdlsoap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http" />

    <!-- Seq -->
    <wsdl:operation name="echoSeq">
      <wsdlsoap:operation soapAction="echoSeq" />
      <wsdl:input name="echoSeqIn">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="echoSeqOut">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <!-- All -->
	<wsdl:operation name="echoAll">
		<wsdlsoap:operation soapAction="echoAll"/>
		<wsdl:input name="echoAllIn">
			<wsdlsoap:body use="literal"/>
		</wsdl:input>
		<wsdl:output name="echoAllOut">
			<wsdlsoap:body use="literal"/>
		</wsdl:output>
	</wsdl:operation>

	<!-- GROUP -->
	<wsdl:operation name="echoGroup">
		<wsdlsoap:operation soapAction="echoGroup"/>
		<wsdl:input name="echoGroupIn">
			<wsdlsoap:body use="literal"/>
		</wsdl:input>
		<wsdl:output name="echoGroupOut">
			<wsdlsoap:body use="literal"/>
		</wsdl:output>
	</wsdl:operation>

	<!-- Complex In Complex ( CC ) -->
    <wsdl:operation name="echoCC">
        <wsdlsoap:operation soapAction="echoCC" />
        <wsdl:input name="echoCCIn">
            <wsdlsoap:body use="literal" />
        </wsdl:input>
        <wsdl:output name="echoCCOut">
            <wsdlsoap:body use="literal" />
        </wsdl:output>
    </wsdl:operation>

    <!-- Simple In Complex ( SC ) -->
	<wsdl:operation name="echoSC">
	  <wsdlsoap:operation soapAction="echoSC" />
	  <wsdl:input name="echoSCIn">
		<wsdlsoap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="echoSCOut">
		<wsdlsoap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>

    <!--
    ============================================ Simple/Atomic
    -->

		<wsdl:operation name="echoSimpleNormalizedString">
			<wsdlsoap:operation soapAction="echoSimpleNormalizedString" />
			<wsdl:input name="echoSimpleNormalizedStringRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleNormalizedStringResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleToken">
			<wsdlsoap:operation soapAction="echoSimpleToken" />
			<wsdl:input name="echoSimpleTokenRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleTokenResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleLanguage">
			<wsdlsoap:operation soapAction="echoSimpleLanguage" />
			<wsdl:input name="echoSimpleLanguageRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleLanguageResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleName">
			<wsdlsoap:operation soapAction="echoSimpleName" />
			<wsdl:input name="echoSimpleNameRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleNameResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleNMTOKEN">
			<wsdlsoap:operation soapAction="echoSimpleNMTOKEN" />
			<wsdl:input name="echoSimpleNMTOKENRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleNMTOKENResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleNCName">
			<wsdlsoap:operation soapAction="echoSimpleNCName" />
			<wsdl:input name="echoSimpleNCNameRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleNCNameResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleID">
			<wsdlsoap:operation soapAction="echoSimpleID" />
			<wsdl:input name="echoSimpleIDRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleIDResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleENTITY">
			<wsdlsoap:operation soapAction="echoSimpleENTITY" />
			<wsdl:input name="echoSimpleENTITYRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleENTITYResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleUInt">
			<wsdlsoap:operation soapAction="echoSimpleUInt" />
			<wsdl:input name="echoSimpleUIntRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleUIntResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleUShort">
			<wsdlsoap:operation soapAction="echoSimpleUShort" />
			<wsdl:input name="echoSimpleUShortRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleUShortResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleUByte">
			<wsdlsoap:operation soapAction="echoSimpleUByte" />
			<wsdl:input name="echoSimpleUByteRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleUByteResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>


    <!-- *** -->
		<wsdl:operation name="echoSimpleString">
			<wsdlsoap:operation soapAction="echoSimpleString" />
			<wsdl:input name="echoSimpleStringRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleStringResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleBoolean">
			<wsdlsoap:operation soapAction="echoSimpleBoolean" />
			<wsdl:input name="echoSimpleBooleanRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleBooleanResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleFloat">
			<wsdlsoap:operation soapAction="echoSimpleFloat" />
			<wsdl:input name="echoSimpleFloatRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleFloatResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleDouble">
			<wsdlsoap:operation soapAction="echoSimpleDouble" />
			<wsdl:input name="echoSimpleDoubleRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleDoubleResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleAnyURI">
			<wsdlsoap:operation soapAction="echoSimpleAnyURI" />
			<wsdl:input name="echoSimpleAnyURIRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleAnyURIResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleLong">
			<wsdlsoap:operation soapAction="echoSimpleLong" />
			<wsdl:input name="echoSimpleLongRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleLongResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="echoSimpleInt">
			<wsdlsoap:operation soapAction="echoSimpleInt" />
			<wsdl:input name="echoSimpleIntRequest">
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoSimpleIntResponse">
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>

  </wsdl:binding>

  <!--
  Service
  -->
  <wsdl:service name="EchoComplex">
    <wsdl:port binding="tns:EchoComplexBinding" name="EchoComplexPort">

      <wsdlsoap:address location="http://localhost:8192/services/EchoComplex" />
    </wsdl:port>
  </wsdl:service>


  <!--
  PartnerLink
  -->
  <plnk:partnerLinkType name="echoComplexProcess">
        <plnk:role name="echoComplexProcess" portType="tns:EchoComplexPortType"/>
  </plnk:partnerLinkType>

</wsdl:definitions>
