driver-tests/sqlse/db2/SqlSE1213_DB2/DeleteWithFalseConJbi/src/jbiServiceUnits/DeleteWithFalseConSql/DeleteWithFalseConSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="DeleteWithFalseConSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="DeleteWithFalseConRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="DeleteWithFalseConResponse">
    <part name="DeleteWithFalseConResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="DeleteWithFalseConRequest">
    <part name="DeleteWithFalseConRequestPart" element="tns:DeleteWithFalseConRequest"/>
  </message>
  <portType name="DeleteWithFalseConSql_sqlsePortType">
    <operation name="DeleteWithFalseCon">
      <input name="DeleteWithFalseConRequest" message="tns:DeleteWithFalseConRequest"/>
      <output name="DeleteWithFalseConResponse" message="tns:DeleteWithFalseConResponse"/>
    </operation>
  </portType>
  <binding name="DeleteWithFalseConSqlBinding" type="tns:DeleteWithFalseConSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="DeleteWithFalseCon">
      <soap:operation/>
      <input name="DeleteWithFalseConRequest">
        <soap:body/>
      </input>
      <output name="DeleteWithFalseConResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="DeleteWithFalseConSql_sqlseService">
    <port name="DeleteWithFalseConSql_sqlsePort" binding="tns:DeleteWithFalseConSqlBinding">
      <soap:address location="http://localhost:18181/DeleteWithFalseConSql/DeleteWithFalseConSql/DeleteWithFalseConSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="DeleteWithFalseConSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="DeleteWithFalseConSql_myrole" portType="tns:DeleteWithFalseConSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
