ojc-core/bpelse/system-test/test/com/sun/jbi/engine/bpel/jbiadaptor/test/persistence/bpels/compensation/compensatescopesinflow/deployedFolder/FlowBasedInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="FlowBasedInterface" targetNamespace="http://j2ee.netbeans.org/wsdl/FlowBasedInterface"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/FlowBasedInterface" xmlns:ns0="FlowBasedSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="FlowBasedSchema" xmlns:tns1="FlowBasedSchema">
            <xsd:complexType name="FlowType">
                <xsd:sequence>
                    <xsd:element name="Scope1Var" type="xsd:string"></xsd:element>
                    <xsd:element name="Scope2Var" type="xsd:string"></xsd:element>
                    <xsd:element name="Scope3Var" type="xsd:string"></xsd:element>
                    <xsd:element name="OutVar" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="InMesg">
        <part name="InPart" type="xsd:string"/>
    </message>
    <message name="RepMsg">
        <part name="RepPart" type="ns0:FlowType"/>
    </message>
    <portType name="CompScopeInFlowPT">
        <operation name="CompScopeInFlowOper">
            <input name="input1" message="tns:InMesg"/>
        </operation>
    </portType>
    <portType name="OneWayPT">
        <operation name="OneWayOper">
            <input name="input1" message="tns:InMesg"/>
        </operation>
    </portType>
    <portType name="FinalInvPT">
        <operation name="FinalInvOper">
            <input name="input1" message="tns:RepMsg"/>
        </operation>
    </portType>    
    <binding name="compScopeInFlowBinding" type="tns:CompScopeInFlowPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CompScopeInFlowOper">
            <input name="input1">
                <soap:body parts="InPart" use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="OneWayBinding" type="tns:OneWayPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="OneWayOper">
            <input name="input1">
                <soap:body parts="InPart" use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="FinalInvBinding" type="tns:FinalInvPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="FinalInvOper">
            <input name="input1">
                <soap:body parts="RepPart" use="literal"/>
            </input>
        </operation>
    </binding>    
    <service name="compScopeInFlowService">
        <port name="compScopeInFlowServPort" binding="tns:compScopeInFlowBinding">
            <soap:address location="http://localhost:18181/NestedScope/FlowBasedInterface/compScopeInFlowServPort"/>
        </port>
    </service>
    <service name="OneWayService">
        <port name="OneWayServPort" binding="tns:OneWayBinding">
            <soap:address location="http://localhost:18181/NestedScope/FlowBasedInterface/OneWayServPort"/>
        </port>
    </service>
    <service name="FinalInvService">
        <port name="FinalInvServPort" binding="tns:FinalInvBinding">
            <soap:address location="http://localhost:18181/NestedScope/FlowBasedInterface/FinalInvServPort"/>
        </port>
    </service>    
    <plnk:partnerLinkType name="CompScopeInFlowPLT">
        <plnk:role name="CompScopeInFlowPTRole" portType="tns:CompScopeInFlowPT"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="OneWayPLT">
        <plnk:role name="OneWayPTRole" portType="tns:OneWayPT"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="FinalInvPLT">
        <plnk:role name="FinalInvPTRole" portType="tns:FinalInvPT"/>
    </plnk:partnerLinkType>
</definitions>
