driver-tests/sqlse/db2/SqlSE1153_DB2/SelectTwoColTableFullJbi/src/jbiServiceUnits/SelectTwoColTableFullSql/SelectTwoColTableFullSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SelectTwoColTableFullSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="SelectTwoColTableFullRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="SelectTwoColTableFullResponse"><xsd:complexType><xsd:sequence><xsd:element name="EMPID" type="xsd:int"/><xsd:element name="ENAME" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="SelectTwoColTableFullResponse">
    <part name="SelectTwoColTableFullResponsePart" element="tns:SelectTwoColTableFullResponse"/>
  </message>
  <message name="SelectTwoColTableFullRequest">
    <part name="SelectTwoColTableFullRequestPart" element="tns:SelectTwoColTableFullRequest"/>
  </message>
  <portType name="SelectTwoColTableFullSql_sqlsePortType">
    <operation name="SelectTwoColTableFull">
      <input name="SelectTwoColTableFullRequest" message="tns:SelectTwoColTableFullRequest"/>
      <output name="SelectTwoColTableFullResponse" message="tns:SelectTwoColTableFullResponse"/>
    </operation>
  </portType>
  <binding name="SelectTwoColTableFullSqlBinding" type="tns:SelectTwoColTableFullSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SelectTwoColTableFull">
      <soap:operation/>
      <input name="SelectTwoColTableFullRequest">
        <soap:body/>
      </input>
      <output name="SelectTwoColTableFullResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="SelectTwoColTableFullSql_sqlseService">
    <port name="SelectTwoColTableFullSql_sqlsePort" binding="tns:SelectTwoColTableFullSqlBinding">
      <soap:address location="http://localhost:18181/SelectTwoColTableFullSql/SelectTwoColTableFullSql/SelectTwoColTableFullSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="SelectTwoColTableFullSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="SelectTwoColTableFullSql_myrole" portType="tns:SelectTwoColTableFullSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
