driver-tests/httpsoapbc/JavaEE_vs_BC/SoapReqReplyOut_EJB/src/conf/wsdl/EE_SoapTrigger4SoapRepReplyOut/SoapTrigger4SoapRepReplyOut.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/SoapTrigger4SoapRepReplyOut"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/SoapTrigger4SoapRepReplyOut" name="SoapTrigger4SoapRepReplyOut" xmlns:ns="http://xml.netbeans.org/schema/TypeSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/SoapTrigger4SoapRepReplyOut">
            <xsd:import namespace="http://xml.netbeans.org/schema/TypeSchema" schemaLocation="TypeSchema.xsd"/>
        </xsd:schema>
    </types>
    <message name="SoapTrigger4SoapRepReplyOutOperationRequest">
        <part name="part1" type="ns:requestType"/>
    </message>
    <message name="SoapTrigger4SoapRepReplyOutOperationReply">
        <part name="part1" type="ns:responseType"/>
    </message>
    <portType name="SoapTrigger4SoapRepReplyOutPortType">
        <wsdl:operation name="SoapTrigger4SoapRepReplyOutOperation_Doc">
            <wsdl:input name="input1" message="tns:SoapTrigger4SoapRepReplyOutOperationRequest"/>
            <wsdl:output name="output1" message="tns:SoapTrigger4SoapRepReplyOutOperationReply"/>
        </wsdl:operation>
        <operation name="SoapTrigger4SoapRepReplyOutOperation_RPC">
            <input name="input1" message="tns:SoapTrigger4SoapRepReplyOutOperationRequest"/>
            <output name="output1" message="tns:SoapTrigger4SoapRepReplyOutOperationReply"/>
        </operation>
        <operation name="SoapTrigger4SoapRepReplyOutOperation_Encoded">
            <input name="input1" message="tns:SoapTrigger4SoapRepReplyOutOperationRequest"/>
            <output name="output1" message="tns:SoapTrigger4SoapRepReplyOutOperationReply"/>
        </operation>
    </portType>
    <binding name="SoapTrigger4SoapRepReplyOutBinding" type="tns:SoapTrigger4SoapRepReplyOutPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SoapTrigger4SoapRepReplyOutOperation_Doc">
            <soap:operation/>
            <wsdl:input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/SoapTrigger4SoapRepReplyOut"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/SoapTrigger4SoapRepReplyOut"/>
            </wsdl:output>
        </wsdl:operation>
        <operation name="SoapTrigger4SoapRepReplyOutOperation_RPC">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/SoapTrigger4SoapRepReplyOut"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/SoapTrigger4SoapRepReplyOut"/>
            </output>
        </operation>
        <operation name="SoapTrigger4SoapRepReplyOutOperation_Encoded">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/SoapTrigger4SoapRepReplyOut"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/SoapTrigger4SoapRepReplyOut"/>
            </output>
        </operation>
    </binding>
    <service name="SoapTrigger4SoapRepReplyOutService">
        <wsdl:port name="SoapTrigger4SoapRepReplyOutPort" binding="tns:SoapTrigger4SoapRepReplyOutBinding">
            <soap:address location="http://localhost:18181/SoapTrigger4SoapRepReplyOutService/SoapTrigger4SoapRepReplyOutPort"/>
        </wsdl:port>
    </service>
    <plnk:partnerLinkType name="SoapTrigger4SoapRepReplyOutPartner">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="SoapTrigger4SoapRepReplyOutPortTypeRole" portType="tns:SoapTrigger4SoapRepReplyOutPortType"/>
    </plnk:partnerLinkType>
</definitions>
