driver-tests/sqlse/derby/insertwrongtypefullqualSQL/src/insertwrongtypefullqualSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="insertwrongtypefullqualSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="insertwrongtypefullqualRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/><xsd:element name="param2" type="xsd:string"/><xsd:element name="param3" type="xsd:int"/><xsd:element name="param4" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="insertwrongtypefullqualRequest">
    <part name="insertwrongtypefullqualRequestPart" element="tns:insertwrongtypefullqualRequest"/>
  </message>
  <message name="insertwrongtypefullqualResponse">
    <part name="insertwrongtypefullqualResponsePart" element="tns:numRowsEffected"/>
  </message>
  <portType name="insertwrongtypefullqualSQL_sqlsePortType">
    <operation name="insertwrongtypefullqual">
      <input name="insertwrongtypefullqualRequest" message="tns:insertwrongtypefullqualRequest"/>
      <output name="insertwrongtypefullqualResponse" message="tns:insertwrongtypefullqualResponse"/>
    </operation>
  </portType>
  <binding name="insertwrongtypefullqualSQLBinding" type="tns:insertwrongtypefullqualSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="insertwrongtypefullqual">
      <soap:operation style="document"/>
      <input name="insertwrongtypefullqualRequest">
        <soap:body use="literal"/>
      </input>
      <output name="insertwrongtypefullqualResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="insertwrongtypefullqualSQL_sqlseService">
    <port name="insertwrongtypefullqualSQL_sqlsePort" binding="tns:insertwrongtypefullqualSQLBinding">
      <soap:address location="http://localhost:18181/insertwrongtypefullqualSQL/insertwrongtypefullqualSQL/insertwrongtypefullqualSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="insertwrongtypefullqualSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="insertwrongtypefullqualSQL_myrole" portType="tns:insertwrongtypefullqualSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
