driver-tests/bpelse/dynamicpartnerlink/correlation/ThreeCorrSetsBpel/src/AllMessagingActvitiesOneCorr/AllMessagingActvitiesOneCorr_PTypes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://j2ee.netbeans.org/wsdl/AllMessagingActvitiesOneCorr_PTypes"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/AllMessagingActvitiesOneCorr_PTypes" name="AllMessagingActvitiesOneCorr_PTypes" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:ns0="http://xml.netbeans.org/schema/DataTypes" xmlns:ns1="http://j2ee.netbeans.org/wsdl/AllMessagingActvitiesOneCorr" xmlns:ns2="http://j2ee.netbeans.org/wsdl/AllMessagingActvitiesOneCorr_Driver" xmlns:ns3="http://j2ee.netbeans.org/wsdl/MessageTypes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <import location="../MessageTypes.wsdl" namespace="http://j2ee.netbeans.org/wsdl/MessageTypes"/>
    <types></types>
    <portType name="AllMessagingActvitiesOneCorr_PTypesPortType">
        <wsdl:operation name="AllMessagingActvitiesOneCorr_PTypesOperation">
            <wsdl:input name="input1" message="ns3:message1"/>
        </wsdl:operation>
        <wsdl:operation name="AllMessagingActvitiesOneCorr_PTypesOperation1">
            <wsdl:input name="input2" message="ns3:message1"/>
        </wsdl:operation>
        <wsdl:operation name="AllMessagingActvitiesOneCorr_PTypesOperation2">
            <wsdl:input name="input3" message="ns3:message1"/>
        </wsdl:operation>
    </portType>
    <portType name="AllMessagingActvitiesOneCorr_PTypesPortType1">
        <wsdl:operation name="AllMessagingActvitiesOneCorr_PTypesOperation">
            <wsdl:input name="input1" message="ns3:message1"/>
        </wsdl:operation>
    </portType>
    <portType name="AllMessagingActvitiesOneCorr_PTypesPortType2">
        <wsdl:operation name="AllMessagingActvitiesOneCorr_PTypesOperation">
            <wsdl:input name="input1" message="ns3:message1"/>
            <wsdl:output name="output1" message="ns3:message1"/>
        </wsdl:operation>
    </portType>
    <binding name="binding1" type="tns:AllMessagingActvitiesOneCorr_PTypesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="AllMessagingActvitiesOneCorr_PTypesOperation">
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="AllMessagingActvitiesOneCorr_PTypesOperation1">
            <wsdl:input name="input2">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="AllMessagingActvitiesOneCorr_PTypesOperation2">
            <wsdl:input name="input3">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </binding>
    <binding name="binding2" type="tns:AllMessagingActvitiesOneCorr_PTypesPortType1">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AllMessagingActvitiesOneCorr_PTypesOperation">
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </binding>
    <binding name="binding3" type="tns:AllMessagingActvitiesOneCorr_PTypesPortType2">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="AllMessagingActvitiesOneCorr_PTypesOperation">
            <wsdl:input name="input1">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <service name="service1">
        <wsdl:port name="port1" binding="tns:binding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/ThreeCorrSetsBpel/AllMessagingActvitiesOneCorr_PTypes/port1"/>
        </wsdl:port>
        <wsdl:port name="port2" binding="tns:binding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/ThreeCorrSetsBpel/AllMessagingActvitiesOneCorr_PTypes/port2"/>
        </wsdl:port>
        <wsdl:port name="port3" binding="tns:binding3">
            <soap:address location="http://localhost:${HttpDefaultPort}/ThreeCorrSetsBpel/AllMessagingActvitiesOneCorr_PTypes/port3"/>
        </wsdl:port>
    </service>
    <plnk:partnerLinkType name="AllMessagingActvitiesOneCorr_PTypesPartner">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="AllMessagingActvitiesOneCorr_PTypesPortTypeRole" portType="tns:AllMessagingActvitiesOneCorr_PTypesPortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="AllMessagingActvitiesOneCorr_PTypesPartner1">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="AllMessagingActvitiesOneCorr_PTypesPortType1Role" portType="tns:AllMessagingActvitiesOneCorr_PTypesPortType1"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="AllMessagingActvitiesOneCorr_PTypesPartner2">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="AllMessagingActvitiesOneCorr_PTypesPortType2Role" portType="tns:AllMessagingActvitiesOneCorr_PTypesPortType2"/>
    </plnk:partnerLinkType>
</definitions>
