driver-tests/bpelse/correlation/correlationJBI/src/bindingComponentASA/correlation/invoke2/Invoke2parent.wsdl

<definitions targetNamespace="invoke2parent"
             name="invoke2parent"
             xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
             xmlns:tns="invoke2parent"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
    <plnk:partnerLinkType name="invoke2parentServiceLinkType"
                          xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="Server"
                   portType="tns:invoke2parentPortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="invoke2parentServiceLinkType1"
                          xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="Server"
                   portType="tns:invoke2parentPortType1"></plnk:role>
    </plnk:partnerLinkType>
    <bpws:property name="property"
                   type="xsd:string"/>
    <bpws:propertyAlias propertyName="tns:property"
                        messageType="tns:invoke2parentMessage"
                        part="invoke2parentPart">
            <bpws:query>/invoke2parentElement/string</bpws:query>
    </bpws:propertyAlias>
    <bpws:property name="property1"
                   type="xsd:string"/>
    <bpws:propertyAlias propertyName="tns:property1"
                        messageType="tns:invoke2parentMessage1"
                        part="invoke2parentPart">
            <bpws:query>/invoke2parentElement/string</bpws:query>
    </bpws:propertyAlias>
    <types>
        <xsd:schema targetNamespace="invoke2parent"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:bpws="http://schemas.xmlsoap.org/ws/2004/03/business-process/"
                    xmlns:tns="invoke2parent"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
                    <xsd:element type="tns:invoke2parentType"
                         name="invoke2parentElement"></xsd:element>
            <xsd:complexType name="invoke2parentType">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="invoke2parentMessage">
        <part name="invoke2parentPart"
              element="tns:invoke2parentElement"></part>
    </message>
    <message name="invoke2parentMessage1">
        <part name="invoke2parentPart"
              element="tns:invoke2parentElement"></part>
    </message>
    <portType name="invoke2parentPortType">
        <operation name="invoke2parentOperation">
            <input message="tns:invoke2parentMessage"></input>
            <output message="tns:invoke2parentMessage"></output>
        </operation>
    </portType>
    <portType name="invoke2parentPortType1">
        <operation name="invoke2parentOperation1">
            <input message="tns:invoke2parentMessage1"></input>
        </operation>
    </portType>
    <binding name="invoke2parentBinding"
             type="tns:invoke2parentPortType">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="invoke2parentOperation">
            <soap:operation soapAction="invoke2parentOperation"/>
            <input>
                <soap:body parts="invoke2parentPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="invoke2parentPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="invoke2parentBinding1"
             type="tns:invoke2parentPortType1">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="invoke2parentOperation1">
            <soap:operation soapAction="invoke2parentOperation1"/>
            <input>
                <soap:body parts="invoke2parentPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="invoke2parentService">
        <port name="invoke2parentPort"
              binding="tns:invoke2parentBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/invoke2parentService"/>
        </port>
        <port name="invoke2parentPort1"
              binding="tns:invoke2parentBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/invoke2parentService1"/>
        </port>
    </service>
</definitions>