driver-tests/sqlse/db2/SqlSE1151_DB2/SelectAllRowsTableFullSql/src/SelectAllRowsTableFullSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SelectAllRowsTableFullSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="SelectAllRowsTableFullRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="SelectAllRowsTableFullResponse"><xsd:complexType><xsd:sequence><xsd:element name="EMPID" type="xsd:int"/><xsd:element name="ENAME" type="xsd:string"/><xsd:element name="DEPTID" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="SelectAllRowsTableFullResponse">
    <part name="SelectAllRowsTableFullResponsePart" element="tns:SelectAllRowsTableFullResponse"/>
  </message>
  <message name="SelectAllRowsTableFullRequest">
    <part name="SelectAllRowsTableFullRequestPart" element="tns:SelectAllRowsTableFullRequest"/>
  </message>
  <portType name="SelectAllRowsTableFullSql_sqlsePortType">
    <operation name="SelectAllRowsTableFull">
      <input name="SelectAllRowsTableFullRequest" message="tns:SelectAllRowsTableFullRequest"/>
      <output name="SelectAllRowsTableFullResponse" message="tns:SelectAllRowsTableFullResponse"/>
    </operation>
  </portType>
  <binding name="SelectAllRowsTableFullSqlBinding" type="tns:SelectAllRowsTableFullSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SelectAllRowsTableFull">
      <soap:operation/>
      <input name="SelectAllRowsTableFullRequest">
        <soap:body/>
      </input>
      <output name="SelectAllRowsTableFullResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="SelectAllRowsTableFullSql_sqlseService">
    <port name="SelectAllRowsTableFullSql_sqlsePort" binding="tns:SelectAllRowsTableFullSqlBinding">
      <soap:address location="http://localhost:18181/SelectAllRowsTableFullSql/SelectAllRowsTableFullSql/SelectAllRowsTableFullSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="SelectAllRowsTableFullSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="SelectAllRowsTableFullSql_myrole" portType="tns:SelectAllRowsTableFullSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
