driver-tests/sqlse/db2/SqlSE1172_DB2/InsertOneValOneParamTableFullJbi/src/jbiServiceUnits/InsertOneValOneParamTableFullSql/InsertOneValOneParamTableFullSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="InsertOneValOneParamTableFullSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="InsertOneValOneParamTableFullRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="InsertOneValOneParamTableFullResponse">
    <part name="InsertOneValOneParamTableFullResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="InsertOneValOneParamTableFullRequest">
    <part name="InsertOneValOneParamTableFullRequestPart" element="tns:InsertOneValOneParamTableFullRequest"/>
  </message>
  <portType name="InsertOneValOneParamTableFullSql_sqlsePortType">
    <operation name="InsertOneValOneParamTableFull">
      <input name="InsertOneValOneParamTableFullRequest" message="tns:InsertOneValOneParamTableFullRequest"/>
      <output name="InsertOneValOneParamTableFullResponse" message="tns:InsertOneValOneParamTableFullResponse"/>
    </operation>
  </portType>
  <binding name="InsertOneValOneParamTableFullSqlBinding" type="tns:InsertOneValOneParamTableFullSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="InsertOneValOneParamTableFull">
      <soap:operation/>
      <input name="InsertOneValOneParamTableFullRequest">
        <soap:body/>
      </input>
      <output name="InsertOneValOneParamTableFullResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="InsertOneValOneParamTableFullSql_sqlseService">
    <port name="InsertOneValOneParamTableFullSql_sqlsePort" binding="tns:InsertOneValOneParamTableFullSqlBinding">
      <soap:address location="http://localhost:18181/InsertOneValOneParamTableFullSql/InsertOneValOneParamTableFullSql/InsertOneValOneParamTableFullSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="InsertOneValOneParamTableFullSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="InsertOneValOneParamTableFullSql_myrole" portType="tns:InsertOneValOneParamTableFullSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
