contrib-imola/corba-bc/integration-test/test-consumer-fromidl-complex-fault/consumer-fromidl-complex-fault-http-consumer/src/main/resources/EchoFault.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:jbi4corba/test-consumer-fromidl-complex-fault" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="EchoFault" targetNamespace="urn:jbi4corba/test-consumer-fromidl-complex-fault">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://testconsumerfromidlfault.test.jbi4corba.imolinfo.it/" xmlns="http://testconsumerfromidlfault.test.jbi4corba.imolinfo.it/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="echoStruct">
                <xs:sequence>
                    <xs:element name="fieldBoolean" type="xs:boolean"/>
                    <xs:element name="fieldChar" type="xs:unsignedShort"/>
                    <xs:element minOccurs="0" name="fieldString" type="xs:string"/>					
                    <xs:element name="fieldLong" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:jbi4corba/test-consumer-fromidl-complex-fault" xmlns:ns0="http://testconsumerfromidlfault.test.jbi4corba.imolinfo.it/" xmlns:tns="urn:jbi4corba/test-consumer-fromidl-complex-fault" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://testconsumerfromidlfault.test.jbi4corba.imolinfo.it/"/>
            <xsd:element name="EchoSimpleException" type="tns:EchoSimpleException"/>
            <xsd:complexType name="EchoSimpleException">
                <xsd:sequence>
                    <xsd:element name="reason" nillable="true" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="EchoComplexException" type="tns:EchoComplexException"/>
            <xsd:complexType name="EchoComplexException">
                <xsd:sequence>
                    <xsd:element name="reason" nillable="true" type="ns0:echoStruct"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="echo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="msg" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="echoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="return" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="EchoComplexException">
        <wsdl:part name="EchoComplexException" element="tns:EchoComplexException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="EchoSimpleException">
        <wsdl:part name="EchoSimpleException" element="tns:EchoSimpleException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echo">
        <wsdl:part name="parameters" element="tns:echo">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="echoResponse">
        <wsdl:part name="parameters" element="tns:echoResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EchoFaultOperations">
        <wsdl:operation name="echo">
            <wsdl:input name="echo" message="tns:echo">
            </wsdl:input>
            <wsdl:output name="echoResponse" message="tns:echoResponse">
            </wsdl:output>
            <wsdl:fault name="EchoComplexException" message="tns:EchoComplexException">
            </wsdl:fault>
            <wsdl:fault name="EchoSimpleException" message="tns:EchoSimpleException">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EchoFaultOperationsCorbaBinding" type="tns:EchoFaultOperations">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="echo">
            <soap:operation/>
            <wsdl:input name="echo">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="echoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="EchoComplexException">
                <soap:fault name="EchoComplexException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="EchoSimpleException">
                <soap:fault name="EchoSimpleException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EchoFault">
        <wsdl:port name="EchoFaultOperationsCorbaPort" binding="tns:EchoFaultOperationsCorbaBinding">
            <soap:address location="http://localhost:8192/Service/test-consumer-fromidl-complex-fault/" />
        </wsdl:port>
    </wsdl:service>
    <plnk:partnerLinkType name="EchoFaultOperations">
        <plnk:role name="EchoFaultOperationsPortTypeRole" portType="tns:EchoFaultOperations"/>
    </plnk:partnerLinkType>
</wsdl:definitions>
