ojc-core/bpelse/bpelcore/test/com/sun/jbi/engine/bpel/core/test/modelparsing/bpel/correlation/invoke2/request-response-initiateno/request-response-initiateno-parent.wsdl

<definitions targetNamespace="request-response-initiateno-parent"
             name="request-response-initiateno-parent"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:tns="request-response-initiateno-parent"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:partnerLinkType name="request-response-initiateno-parentServiceLinkType"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
                   portType="tns:request-response-initiateno-parentPortType"></plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="request-response-initiateno-parentServiceLinkType1"
                          xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="Server"
                   portType="tns:request-response-initiateno-parentPortType1"></plnk:role>
    </plnk:partnerLinkType>
    <vprop:property name="property"
                   type="xsd:string"/>
    <vprop:propertyAlias propertyName="tns:property"
                        messageType="tns:request-response-initiateno-parentMessage"
                        part="request-response-initiateno-parentPart">
            <vprop:query>/request-response-initiateno-parentElement/string</vprop:query>
    </vprop:propertyAlias>
    <types>
        <xsd:schema targetNamespace="request-response-initiateno-parent"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified"
                    xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
                    xmlns:tns="request-response-initiateno-parent"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:slnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
                    <xsd:element type="tns:request-response-initiateno-parentType"
                         name="request-response-initiateno-parentElement"></xsd:element>
            <xsd:complexType name="request-response-initiateno-parentType">
                <xsd:sequence>
                    <xsd:element type="xsd:string"
                                 name="string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="request-response-initiateno-parentMessage">
        <part name="request-response-initiateno-parentPart"
              element="tns:request-response-initiateno-parentElement"></part>
    </message>
    <message name="request-response-initiateno-parentMessage1">
        <part name="request-response-initiateno-parentPart"
              element="tns:request-response-initiateno-parentElement"></part>
    </message>
    <portType name="request-response-initiateno-parentPortType">
        <operation name="request-response-initiateno-parentOperation">
            <input message="tns:request-response-initiateno-parentMessage"></input>
            <output message="tns:request-response-initiateno-parentMessage"></output>
        </operation>
    </portType>
    <portType name="request-response-initiateno-parentPortType1">
        <operation name="request-response-initiateno-parentOperation1">
            <input message="tns:request-response-initiateno-parentMessage1"></input>
        </operation>
    </portType>
    <binding name="request-response-initiateno-parentBinding"
             type="tns:request-response-initiateno-parentPortType">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="request-response-initiateno-parentOperation">
            <soap:operation soapAction="request-response-initiateno-parentOperation"/>
            <input>
                <soap:body parts="request-response-initiateno-parentPart"
                           use="literal"/>
            </input>
            <output>
                <soap:body parts="request-response-initiateno-parentPart"
                           use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="request-response-initiateno-parentBinding1"
             type="tns:request-response-initiateno-parentPortType1">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="request-response-initiateno-parentOperation1">
            <soap:operation soapAction="request-response-initiateno-parentOperation1"/>
            <input>
                <soap:body parts="request-response-initiateno-parentPart"
                           use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="request-response-initiateno-parentService">
        <port name="request-response-initiateno-parentPort"
              binding="tns:request-response-initiateno-parentBinding">
            <soap:address location="http://localhost:12100/service/request-response-initiateno-parentService"/>
        </port>
        <port name="request-response-initiateno-parentPort1"
              binding="tns:request-response-initiateno-parentBinding1">
            <soap:address location="http://localhost:12100/service/request-response-initiateno-parentService1"/>
        </port>
    </service>
</definitions>
