driver-tests/iepse/IEPTupleSerialCorrelation/TupleSerialCorrelationApp/src/jbiasa/TupleSerialCorrelationApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="TupleSerialCorrelationApp"
             xmlns:tns="TupleSerialCorrelationApp" xmlns:ns="ContiguousOrderInput.ContiguousOrderInput_iep" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/" xmlns:ns1="NotificationStreamInput.NotificationStreamInput_iep" xmlns:ns2="DeleteStreamInput.DeleteStreamInput_iep" xmlns:ns3="StreamInputInput.StreamInputInput_iep" xmlns:ns4="InsertStreamInput.InsertStreamInput_iep" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns5="RelationStreamInput.RelationStreamInput_iep" xmlns:ns6="TupleBasedAggregatorInput.TupleBasedAggregatorInput_iep" xmlns:ns7="StreamProjectionAndFilterInput.StreamProjectionAndFilterInput_iep" xmlns:ns8="TimeBasedAggregatorInput.TimeBasedAggregatorInput_iep" xmlns:ns9="TupleSerialCorrelationInput.TupleSerialCorrelationInput_iep">
    <import namespace="ContiguousOrderInput.ContiguousOrderInput_iep" location="../jbiServiceUnits/TupleSerialCorrelationIep/ContiguousOrderInput/ContiguousOrderInput.wsdl"/>
    <import namespace="NotificationStreamInput.NotificationStreamInput_iep" location="../jbiServiceUnits/TupleSerialCorrelationIep/NotificationStreamInput/NotificationStreamInput.wsdl"/>
    <import namespace="DeleteStreamInput.DeleteStreamInput_iep" location="../jbiServiceUnits/TupleSerialCorrelationIep/DeleteStreamInput/DeleteStreamInput.wsdl"/>
    <import namespace="StreamInputInput.StreamInputInput_iep" location="../jbiServiceUnits/TupleSerialCorrelationIep/StreamInputInput/StreamInputInput.wsdl"/>
    <import namespace="InsertStreamInput.InsertStreamInput_iep" location="../jbiServiceUnits/TupleSerialCorrelationIep/InsertStreamInput/InsertStreamInput.wsdl"/>
    <import namespace="RelationStreamInput.RelationStreamInput_iep" location="../jbiServiceUnits/TupleSerialCorrelationIep/RelationStreamInput/RelationStreamInput.wsdl"/>
    <import namespace="TupleBasedAggregatorInput.TupleBasedAggregatorInput_iep" location="../jbiServiceUnits/TupleSerialCorrelationIep/TupleBasedAggregatorInput/TupleBasedAggregatorInput.wsdl"/>
    <import namespace="StreamProjectionAndFilterInput.StreamProjectionAndFilterInput_iep" location="../jbiServiceUnits/TupleSerialCorrelationIep/StreamProjectionAndFilterInput/StreamProjectionAndFilterInput.wsdl"/>
    <import namespace="TimeBasedAggregatorInput.TimeBasedAggregatorInput_iep" location="../jbiServiceUnits/TupleSerialCorrelationIep/TimeBasedAggregatorInput/TimeBasedAggregatorInput.wsdl"/>
    <import namespace="TupleSerialCorrelationInput.TupleSerialCorrelationInput_iep" location="../jbiServiceUnits/TupleSerialCorrelationIep/TupleSerialCorrelationInput/TupleSerialCorrelationInput.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:OutputPt_PassThroughOutput">
        <file:binding/>
        <operation name="PassThroughOutput">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="PassThroughOutput.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding4" type="ns1:OutputPt_PassThroughOutput">
        <file:binding/>
        <operation name="PassThroughOutput">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="PassThroughOutput.txt"  
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding6" type="ns3:OutputPt_PassThroughOutput">
        <file:binding/>
        <operation name="PassThroughOutput">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="PassThroughOutput.txt"  
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding5" type="ns5:OutputPt_PassThroughOutput">
        <file:binding/>
        <operation name="PassThroughOutput">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="PassThroughOutput.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding11" type="ns:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding8" type="ns4:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding10" type="ns1:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding9" type="ns5:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding13" type="ns3:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding3" type="ns4:OutputPt_PassThroughOutput">
        <file:binding/>
        <operation name="PassThroughOutput">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="PassThroughOutput.txt" fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true" />
            </input>
        </operation>
    </binding>
    <binding name="casaBinding12" type="ns2:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding14" type="ns2:OutputPt_HalfSchemaSend5thOutput">
        <file:binding/>
        <operation name="HalfSchemaSend5thOutput">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="HalfSchemaSend5thOutput.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true" />
            </input>
        </operation>
    </binding>
    <binding name="casaBinding15" type="ns2:OutputPt_TripleEventSizeOutput">
        <file:binding/>
        <operation name="TripleEventSizeOutput">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="TripleEventSizeOutput.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding16" type="ns2:OutputPt_HalfSchemaDoubleSend3rdOutput">
        <file:binding/>
        <operation name="HalfSchemaDoubleSend3rdOutput">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="HalfSchemaDoubleSend3rdOutput.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding18" type="ns6:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding22" type="ns6:OutputPt_PassThroughOutput">
        <file:binding/>
        <operation name="PassThroughOutput">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="PassThroughOutput.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding7" type="ns7:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding17" type="ns8:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding19" type="ns9:OutputPt_PassThroughOutput">
        <file:binding/>
        <operation name="PassThroughOutput">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="PassThroughOutput.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding20" type="ns7:OutputPt_PassThroughOutput">
        <file:binding/>
        <operation name="PassThroughOutput">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="PassThroughOutput.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding21" type="ns8:OutputPt_PassThroughOutput">
        <file:binding/>
        <operation name="PassThroughOutput">
            <file:operation/>
            <input>
                <file:message use="literal" fileName="PassThroughOutput.txt" 
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns9:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="casaService1">
        <port name="contigOrderOutput" binding="tns:casaBinding1">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTupleSerialCorrelation/TupleSerialCorrelationApp/test/ContiguousOrderInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService3">
        <port name="insertStrOutput" binding="tns:casaBinding3">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTupleSerialCorrelation/TupleSerialCorrelationApp/test/InsertStreamInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService4">
        <port name="notStrOutput" binding="tns:casaBinding4">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTupleSerialCorrelation/TupleSerialCorrelationApp/test/NotificationStreamInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService5">
        <port name="relStrOutput" binding="tns:casaBinding5">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTupleSerialCorrelation/TupleSerialCorrelationApp/test/RelationStreamInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService6">
        <port name="strInputOutput" binding="tns:casaBinding6">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTupleSerialCorrelation/TupleSerialCorrelationApp/test/StreamInputInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService8">
        <port name="insertStrInput" binding="tns:casaBinding8">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/InsertStreamInput.InsertStreamInput_iep"/>
        </port>
    </service>
    <service name="casaService9">
        <port name="relStrInput" binding="tns:casaBinding9">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/RelationStreamInput.RelationStreamInput_iep"/>
        </port>
    </service>
    <service name="casaService10">
        <port name="notStrInput" binding="tns:casaBinding10">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/NotificationStreamInput.NotificationStreamInput_iep"/>
        </port>
    </service>
    <service name="casaService11">
        <port name="contigOrdInput" binding="tns:casaBinding11">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/ContiguousOrderInput.ContiguousOrderInput_iep"/>
        </port>
    </service>
    <service name="casaService12">
        <port name="deleteStrInput" binding="tns:casaBinding12">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/DeleteStreamInput.DeleteStreamInput_iep"/>
        </port>
    </service>
    <service name="casaService13">
        <port name="strInputInput" binding="tns:casaBinding13">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/StreamInputInput.StreamInputInput_iep"/>
        </port>
    </service>
    <service name="casaService14">
        <port name="deleteStrOutputHalf5th" binding="tns:casaBinding14">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTupleSerialCorrelation/TupleSerialCorrelationApp/test/DeleteStreamInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService15">
        <port name="deleteStrOutputTriple" binding="tns:casaBinding15">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTupleSerialCorrelation/TupleSerialCorrelationApp/test/DeleteStreamInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService16">
        <port name="deleteStrOutputHalfDouble3rd" binding="tns:casaBinding16">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTupleSerialCorrelation/TupleSerialCorrelationApp/test/DeleteStreamInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService2">
        <port name="tupleSerialCorrInput" binding="tns:casaBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/TupleSerialCorrelationInput.TupleSerialCorrelationInput_iep"/>
        </port>
    </service>
    <service name="casaService7">
        <port name="streamProjAndFilterInput" binding="tns:casaBinding7">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/StreamProjectionAndFilterInput.StreamProjectionAndFilterInput_iep"/>
        </port>
    </service>
    <service name="casaService17">
        <port name="timeBasedAggInput" binding="tns:casaBinding17">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/TimeBasedAggregatorInput.TimeBasedAggregatorInput_iep"/>
        </port>
    </service>
    <service name="casaService18">
        <port name="tupleBasedAggInput" binding="tns:casaBinding18">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/TupleBasedAggregatorInput.TupleBasedAggregatorInput_iep"/>
        </port>
    </service>
    <service name="casaService19">
        <port name="tupleSerialCorrOutput" binding="tns:casaBinding19">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTupleSerialCorrelation/TupleSerialCorrelationApp/test/TupleSerialCorrelationInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService20">
        <port name="streamProjAndFilterOutput" binding="tns:casaBinding20">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTupleSerialCorrelation/TupleSerialCorrelationApp/test/StreamProjectionAndFilterInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService21">
        <port name="timeBasedAggOutput" binding="tns:casaBinding21">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTupleSerialCorrelation/TupleSerialCorrelationApp/test/TimeBasedAggregatorInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
    <service name="casaService22">
        <port name="tupleBasedAggOutput" binding="tns:casaBinding22">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPTupleSerialCorrelation/TupleSerialCorrelationApp/test/TupleBasedAggregatorInput" lockName="filebc.lck" workArea="filebc_tmp" seqName="filebc.seq"/>
        </port>
    </service>
</definitions>
