driver-tests/bpelse/scenarios/CandidateSelection/SelectionProcess/src/process.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="process" targetNamespace="http://j2ee.netbeans.org/wsdl/process"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://j2ee.netbeans.org/wsdl/process" 
    xmlns:ns1="http://xml.netbeans.org/schema/candidate" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/process">
            <xsd:import schemaLocation="candidate.xsd" namespace="http://xml.netbeans.org/schema/candidate"/>
            <xsd:element name="candidates">
                <xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                    <xsd:sequence>
                        <xsd:element ref="ns1:candidate" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="CandidateList">
        <wsdl:part name="listpart" element="tns:candidates"/>
    </message>
    <message name="CandidateInfo">
        <wsdl:part name="infopart" element="ns1:candidate"/>
    </message>
    <message name="SelectionResult">
        <wsdl:part name="resultpart" type="xsd:boolean"/>
    </message>
    <portType name="CandidateList">
        <wsdl:operation name="CandidateListOper">
            <wsdl:input name="input1" message="tns:CandidateList"/>
        </wsdl:operation>
    </portType>
    <portType name="SelectionPT">
        <wsdl:operation name="SelectionOper">
            <wsdl:input name="input1" message="tns:CandidateInfo"/>
            <wsdl:output name="output1" message="tns:SelectionResult"/>
        </wsdl:operation>
    </portType>
    <binding name="CandidateListBinding" type="tns:CandidateList">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="CandidateListOper">
            <wsdl:input name="input1">
                <soap:body parts="listpart" use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </binding>
    <binding name="SelectionBinding" type="tns:SelectionPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="SelectionOper">
            <wsdl:input name="input1">
                <soap:body parts="infopart" use="literal"/>
            </wsdl:input>
            <wsdl:output name="output1">
                <soap:body parts="resultpart" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </binding>
    <service name="CandidateListServ">
        <wsdl:port name="CandidateListPort" binding="tns:CandidateListBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/SelectionProcess/process/CandidateListPort"/>
        </wsdl:port>
    </service>
    <service name="SelectionServ">
        <wsdl:port name="SelectionPort" binding="tns:SelectionBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/SelectionProcess/process/SelectionPort"/>
        </wsdl:port>
    </service>
    <plnk:partnerLinkType name="ListProcessorPLT">
        <plnk:role name="CandidateListRole" portType="tns:CandidateList"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="SelectionProcessorPLT">
        <plnk:role name="SelectionPTRole" portType="tns:SelectionPT"/>
    </plnk:partnerLinkType>
</definitions>
