contrib-imola/corba-bc/integration-test/test-provider-typedef-any/provider-typedef-any-http-consumer/src/main/resources/EchoComplexTypeDefAny.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EchoComplexTypeDefAny"
	targetNamespace="http://it.imolinfo.jbi4corba.test.webservice.generator.echocomplex.typedefany.EchoComplexTypeDefAny"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://it.imolinfo.jbi4corba.test.webservice.generator.echocomplex.typedefany.EchoComplexTypeDefAny"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://jaxb.dev.java.net/array" xmlns:tns="http://typedefany.echocomplex.generator.webservice.test.jbi4corba.imolinfo.it/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://typedefany.echocomplex.generator.webservice.test.jbi4corba.imolinfo.it/">
<xs:import namespace="http://jaxb.dev.java.net/array" schemaLocation="TypeDef_array.xsd"/>
<xs:complexType name="echoStruct">
<xs:sequence>
<xs:element name="fieldBoolean" type="xs:boolean"/>
<xs:element name="fieldChar" type="xs:unsignedShort"/>
<xs:element name="fieldWChar" type="xs:unsignedShort"/>
<xs:element name="fieldOctet" type="xs:byte"/>
<xs:element name="fieldString" type="xs:string"/>
<xs:element name="fieldWString" type="xs:string"/>
<xs:element name="fieldShort" type="xs:short"/>
<xs:element name="fieldUnsignedShort" type="xs:short"/>
<xs:element name="fieldLong" type="xs:int"/>
<xs:element name="fieldUnsignedLong" type="xs:int"/>
<xs:element name="fieldLongLong" type="xs:long"/>
<xs:element name="fieldUnsignedLongLong" type="xs:long"/>
<xs:element name="fieldFloat" type="xs:float"/>
<xs:element name="fieldDouble" type="xs:double"/>
<xs:element name="fieldAny" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="myunsignedlongArr">
<xs:list itemType="xs:int"/>
</xs:simpleType>
<xs:simpleType name="mybooleanArr">
<xs:list itemType="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="echoStructSeq">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="value" type="tns:echoStruct"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="mylonglongSeq">
<xs:list itemType="xs:long"/>
</xs:simpleType>
<xs:complexType name="myValueTypeOfStruct">
<xs:complexContent>
<xs:extension base="tns:valueTypeOfStruct">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="valueTypeOfStruct">
<xs:sequence>
<xs:element name="data" type="tns:echoStruct"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="mywstringArr">
<xs:list itemType="xs:string"/>
</xs:simpleType>
<xs:complexType name="myEchoVT">
<xs:complexContent>
<xs:extension base="tns:echoVT">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="echoVT">
<xs:sequence>
<xs:element name="publicShort" type="xs:short"/>
<xs:element name="privateLong" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="vtPrimiSeq">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="data" type="tns:vtPrimi"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="vtPrimi">
<xs:sequence>
<xs:element name="fieldBoolean" type="xs:boolean"/>
<xs:element name="fieldChar" type="xs:unsignedShort"/>
<xs:element name="fieldWChar" type="xs:unsignedShort"/>
<xs:element name="fieldOctet" type="xs:byte"/>
<xs:element name="fieldString" type="xs:string"/>
<xs:element name="fieldWString" type="xs:string"/>
<xs:element name="fieldShort" type="xs:short"/>
<xs:element name="fieldUnsignedShort" type="xs:short"/>
<xs:element name="fieldLong" type="xs:int"/>
<xs:element name="fieldUnsignedLong" type="xs:int"/>
<xs:element name="fieldLongLong" type="xs:long"/>
<xs:element name="fieldUnsignedLongLong" type="xs:long"/>
<xs:element name="fieldFloat" type="xs:float"/>
<xs:element name="fieldDouble" type="xs:double"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="mywchar">
<xs:restriction base="xs:unsignedShort"/>
</xs:simpleType>
<xs:complexType name="myAny">
<xs:sequence>
<xs:element minOccurs="0" name="value" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="mybooleanSeq">
<xs:list itemType="xs:boolean"/>
</xs:simpleType>
<xs:complexType name="myEchoStruct">
<xs:complexContent>
<xs:extension base="tns:echoStruct">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:simpleType name="myshortArr">
<xs:list itemType="xs:short"/>
</xs:simpleType>
<xs:simpleType name="myintArr">
<xs:list itemType="xs:int"/>
</xs:simpleType>
<xs:simpleType name="myshortSeq">
<xs:list itemType="xs:short"/>
</xs:simpleType>
<xs:complexType name="echoStructArr">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="value" type="tns:echoStruct"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="mydoubleArr">
<xs:list itemType="xs:double"/>
</xs:simpleType>
<xs:simpleType name="mydouble">
<xs:restriction base="xs:double"/>
</xs:simpleType>
<xs:simpleType name="myunsignedlongSeq">
<xs:list itemType="xs:int"/>
</xs:simpleType>
<xs:complexType name="myStructOfStruct">
<xs:complexContent>
<xs:extension base="tns:structOfStruct">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="structOfStruct">
<xs:sequence>
<xs:element name="internalStruct" type="tns:echoStruct"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="myStructOfValuetype">
<xs:complexContent>
<xs:extension base="tns:structOfValuetype">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="structOfValuetype">
<xs:sequence>
<xs:element name="data" type="tns:vtPrimi"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="myunsignedshortSeq">
<xs:list itemType="xs:short"/>
</xs:simpleType>
<xs:simpleType name="myunsignedshortArr">
<xs:list itemType="xs:short"/>
</xs:simpleType>
<xs:simpleType name="mywcharArr">
<xs:list itemType="xs:unsignedShort"/>
</xs:simpleType>
<xs:simpleType name="mywstringSeq">
<xs:list itemType="xs:string"/>
</xs:simpleType>
<xs:simpleType name="mylong">
<xs:restriction base="xs:int"/>
</xs:simpleType>
<xs:simpleType name="myfloat">
<xs:restriction base="xs:float"/>
</xs:simpleType>
<xs:complexType name="myValueTypeOfValueType">
<xs:complexContent>
<xs:extension base="tns:valueTypeOfValueType">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:complexType name="valueTypeOfValueType">
<xs:sequence>
<xs:element name="data" type="tns:vtPrimi"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="myshort">
<xs:restriction base="xs:short"/>
</xs:simpleType>
<xs:simpleType name="mywstring">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:complexType name="mySequenceSeq">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="value" type="tns:mySequence"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="mySequence">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="data" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="echoStructMatrix">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="value" type="tns:echoStructArray"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="myint">
<xs:restriction base="xs:int"/>
</xs:simpleType>
<xs:simpleType name="myunsignedshort">
<xs:restriction base="xs:short"/>
</xs:simpleType>
<xs:complexType name="matrixString">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="value" type="ns1:stringArray"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="mylonglongArr">
<xs:list itemType="xs:long"/>
</xs:simpleType>
<xs:complexType name="echoVTSeq">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="value" type="tns:echoVT"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="matrixLong">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="value" type="ns1:intArray"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="myVTPrimiSeq">
<xs:complexContent>
<xs:extension base="tns:vtPrimiSeq">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:simpleType name="myunsignedlonglongArr">
<xs:list itemType="xs:long"/>
</xs:simpleType>
<xs:simpleType name="mystringSeq">
<xs:list itemType="xs:string"/>
</xs:simpleType>
<xs:simpleType name="mylonglong">
<xs:restriction base="xs:long"/>
</xs:simpleType>
<xs:complexType name="myVTPrimi">
<xs:complexContent>
<xs:extension base="tns:vtPrimi">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>
<xs:simpleType name="mychar">
<xs:restriction base="xs:unsignedShort"/>
</xs:simpleType>
<xs:simpleType name="myintSeq">
<xs:list itemType="xs:int"/>
</xs:simpleType>
<xs:simpleType name="myunsignedlonglongSeq">
<xs:list itemType="xs:long"/>
</xs:simpleType>
<xs:simpleType name="mydoubleSeq">
<xs:list itemType="xs:double"/>
</xs:simpleType>
<xs:simpleType name="mycharSeq">
<xs:list itemType="xs:unsignedShort"/>
</xs:simpleType>
<xs:simpleType name="myfloatArr">
<xs:list itemType="xs:float"/>
</xs:simpleType>
<xs:simpleType name="mywcharSeq">
<xs:list itemType="xs:unsignedShort"/>
</xs:simpleType>
<xs:simpleType name="mylongArr">
<xs:list itemType="xs:int"/>
</xs:simpleType>
<xs:simpleType name="myunsignedlong">
<xs:restriction base="xs:int"/>
</xs:simpleType>
<xs:complexType name="echoVTArr">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="value" type="tns:echoVT"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="mystringArr">
<xs:list itemType="xs:string"/>
</xs:simpleType>
<xs:simpleType name="myboolean">
<xs:restriction base="xs:boolean"/>
</xs:simpleType>
<xs:simpleType name="mycharArr">
<xs:list itemType="xs:unsignedShort"/>
</xs:simpleType>
<xs:simpleType name="myunsignedlonglong">
<xs:restriction base="xs:long"/>
</xs:simpleType>
<xs:complexType name="myintSeqOfSeq">
<xs:sequence>
<xs:element maxOccurs="unbounded" name="value" type="ns1:intArray"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="myfloatSeq">
<xs:list itemType="xs:float"/>
</xs:simpleType>
<xs:simpleType name="mystring">
<xs:restriction base="xs:string"/>
</xs:simpleType>
<xs:complexType final="#all" name="echoStructArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:echoStruct"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myunsignedlongArrArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myunsignedlongArr"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mybooleanArrArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mybooleanArr"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myEchoVTArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myEchoVT"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myshortArrArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myshortArr"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myintArrArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myintArr"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="echoStructArrArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:echoStructArr"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mydoubleArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mydouble"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myunsignedlongSeqArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myunsignedlongSeq"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myStructOfStructArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myStructOfStruct"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myStructOfValuetypeArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myStructOfValuetype"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="structOfStructArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:structOfStruct"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myunsignedshortArrArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myunsignedshortArr"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mywcharArrArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mywcharArr"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mywstringSeqArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mywstringSeq"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myValueTypeOfValueTypeArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myValueTypeOfValueType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mywstringArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mywstring"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="echoStructMatrixArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:echoStructMatrix"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="matrixStringArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:matrixString"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mylonglongArrArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mylonglongArr"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myintArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myint"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mybooleanSeqArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mybooleanSeq"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mySequenceSeqArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mySequenceSeq"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mystringSeqArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mystringSeq"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mylonglongArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mylonglong"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mylonglongSeqArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mylonglongSeq"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mycharArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mychar"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="valueTypeOfValueTypeArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:valueTypeOfValueType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myintSeqArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myintSeq"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="echoStructSeqArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:echoStructSeq"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mySequenceArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mySequence"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mycharSeqArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mycharSeq"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mylongArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mylong"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myVTPrimiArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myVTPrimi"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myfloatArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myfloat"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myunsignedshortArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myunsignedshort"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="echoVTSeqArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:echoVTSeq"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mywcharSeqArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mywcharSeq"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="vtPrimiArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:vtPrimi"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="echoVTArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:echoVT"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="valueTypeOfStructArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:valueTypeOfStruct"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myAnyArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myAny"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myunsignedlonglongArrArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myunsignedlonglongArr"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="echoVTArrArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:echoVTArr"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mystringArrArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mystringArr"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mydoubleSeqArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mydoubleSeq"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myfloatArrArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myfloatArr"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myEchoStructArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myEchoStruct"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myshortArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myshort"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mylongArrArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mylongArr"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="structOfValuetypeArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:structOfValuetype"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mywstringArrArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mywstringArr"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myunsignedlongArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myunsignedlong"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="vtPrimiSeqArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:vtPrimiSeq"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="matrixLongArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:matrixLong"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mycharArrArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mycharArr"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mydoubleArrArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mydoubleArr"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myValueTypeOfStructArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myValueTypeOfStruct"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myintSeqOfSeqArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myintSeqOfSeq"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myunsignedshortSeqArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myunsignedshortSeq"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myunsignedlonglongSeqArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myunsignedlonglongSeq"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myunsignedlonglongArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myunsignedlonglong"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myshortSeqArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myshortSeq"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myVTPrimiSeqArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myVTPrimiSeq"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mystringArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mystring"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="myfloatSeqArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myfloatSeq"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mybooleanArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:myboolean"/>
</xs:sequence>
</xs:complexType>
<xs:complexType final="#all" name="mywcharArray">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:mywchar"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://typedefany.echocomplex.generator.webservice.test.jbi4corba.imolinfo.it/"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://typedefany.echocomplex.generator.webservice.test.jbi4corba.imolinfo.it/">
			<xs:complexType name="vtPrimiSeq">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="data" type="tns:vtPrimi" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="vtPrimi">
				<xs:sequence>
					<xs:element name="fieldBoolean" type="xs:boolean" />
					<xs:element name="fieldChar" type="xs:unsignedShort" />
					<xs:element name="fieldWChar" type="xs:unsignedShort" />
					<xs:element name="fieldOctet" type="xs:byte" />
					<xs:element name="fieldString" type="xs:string" />
					<xs:element name="fieldWString" type="xs:string" />
					<xs:element name="fieldShort" type="xs:short" />
					<xs:element name="fieldUnsignedShort" type="xs:short" />
					<xs:element name="fieldLong" type="xs:int" />
					<xs:element name="fieldUnsignedLong" type="xs:int" />
					<xs:element name="fieldLongLong" type="xs:long" />
					<xs:element name="fieldUnsignedLongLong" type="xs:long" />
					<xs:element name="fieldFloat" type="xs:float" />
					<xs:element name="fieldDouble" type="xs:double" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="valueTypeOfValueType">
				<xs:sequence>
					<xs:element name="data" type="tns:vtPrimi" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="echoVT">
				<xs:sequence>
					<xs:element name="publicShort" type="xs:short" />
					<xs:element name="privateLong" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="structOfValuetype">
				<xs:sequence>
					<xs:element name="data" type="tns:vtPrimi" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="mySequence">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="data" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="structOfStruct">
				<xs:sequence>
					<xs:element name="internalStruct" type="tns:echoStruct" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="echoStruct">
				<xs:sequence>
					<xs:element name="fieldBoolean" type="xs:boolean" />
					<xs:element name="fieldChar" type="xs:unsignedShort" />
					<xs:element name="fieldWChar" type="xs:unsignedShort" />
					<xs:element name="fieldOctet" type="xs:byte" />
					<xs:element name="fieldString" type="xs:string" />
					<xs:element name="fieldWString" type="xs:string" />
					<xs:element name="fieldShort" type="xs:short" />
					<xs:element name="fieldUnsignedShort" type="xs:short" />
					<xs:element name="fieldLong" type="xs:int" />
					<xs:element name="fieldUnsignedLong" type="xs:int" />
					<xs:element name="fieldLongLong" type="xs:long" />
					<xs:element name="fieldUnsignedLongLong" type="xs:long" />
					<xs:element name="fieldFloat" type="xs:float" />
					<xs:element name="fieldDouble" type="xs:double" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="valueTypeOfStruct">
				<xs:sequence>
					<xs:element name="data" type="tns:echoStruct" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="vtPrimiSeqArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="tns:vtPrimiSeq" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="echoVTArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="tns:echoVT" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="structOfValuetypeArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="tns:structOfValuetype" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="structOfStructArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="tns:structOfStruct" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="mySequenceArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="tns:mySequence" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="echoStructArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="tns:echoStruct" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="valueTypeOfStructArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="tns:valueTypeOfStruct" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="vtPrimiArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="tns:vtPrimi" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="valueTypeOfValueTypeArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="tns:valueTypeOfValueType" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://jaxb.dev.java.net/array" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://jaxb.dev.java.net/array">
			<xs:complexType final="#all" name="stringArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="stringArrayArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="tns:stringArray" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="shortArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="xs:short" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="decimalArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="xs:decimal" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="doubleArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="xs:double" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="unsignedShortArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="xs:unsignedShort" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="floatArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="xs:float" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="booleanArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="longArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType final="#all" name="intArray">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="item"
						nillable="true" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="qualified"
			targetNamespace="http://it.imolinfo.jbi4corba.test.webservice.generator.echocomplex.typedefany.EchoComplexTypeDefAny"
			xmlns="http://it.imolinfo.jbi4corba.test.webservice.generator.echocomplex.typedefany.EchoComplexTypeDefAny"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="echo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="msg" type="xs:anyType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="echoResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:anyType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="echoinout">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="msg" type="xs:anyType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="echoinoutResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return" type="xs:string" />
						<xs:element name="msg" type="xs:anyType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="echo">
		<wsdl:part name="parameters" element="tns:echo">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="echoResponse">
		<wsdl:part name="parameters" element="tns:echoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="echoinout">
		<wsdl:part name="parameters" element="tns:echoinout">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="echoinoutResponse">
		<wsdl:part name="parameters" element="tns:echoinoutResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="EchoComplexTypeDefAny">
		<wsdl:operation name="echoinout">
			<wsdl:input name="echoinout" message="tns:echoinout">
			</wsdl:input>
			<wsdl:output name="echoinoutResponse" message="tns:echoinoutResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="echo">
			<wsdl:input name="echo" message="tns:echo">
			</wsdl:input>
			<wsdl:output name="echoResponse" message="tns:echoResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="EchoComplexTypeDefAnyCorbaBinding"
		type="tns:EchoComplexTypeDefAny">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="echoinout">
			<wsdl:input name="echoinout">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="echoinoutResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="echo">
			<wsdl:input name="echo">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="echoResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="EchoComplexTypeDefAny">
		<wsdl:port name="EchoComplexTypeDefAnyCorbaPort" binding="tns:EchoComplexTypeDefAnyCorbaBinding">
			<soap:address
				location="http://localhost:8192/Service/test-provider-typedef-any/" />
		</wsdl:port>
	</wsdl:service>
	<plnk:partnerLinkType name="EchoComplexTypeDefAny">
		<plnk:role name="EchoComplexTypeDefAnyPortTypeRole"
			portType="tns:EchoComplexTypeDefAny" />
	</plnk:partnerLinkType>
</wsdl:definitions>
