contrib-imola/corba-bc/integration-test/test-consumer-fault/consumer-fault-http-consumer/src/main/resources/EchoFault.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="EchoFault" targetNamespace="urn:jbi4corba/test-consumer-fault" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:jbi4corba/test-consumer-fault" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://test_consumer_fault.jbi4corba/" xmlns:tns="http://test_consumer_fault.jbi4corba/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="echoSimpleException">
        <xs:sequence>
            <xs:element minOccurs="0" name="reason" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="echoExceptionSimple">
        <xs:sequence>
            <xs:element minOccurs="0" name="echoSimpleException" type="tns:echoSimpleException"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="echoStruct">
        <xs:sequence>
            <xs:element name="fieldBoolean" type="xs:boolean"/>
            <xs:element name="fieldChar" type="xs:int"/>
            <xs:element name="fieldLong" type="xs:int"/>
            <xs:element minOccurs="0" name="fieldString" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="echoComplexException">
        <xs:sequence>
            <xs:element minOccurs="0" name="reason" type="tns:echoStruct"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="echoExceptionComplex">
        <xs:sequence>
            <xs:element minOccurs="0" name="echoComplexException" type="tns:echoComplexException"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:jbi4corba/test-consumer-fault" xmlns:ns0="http://test_consumer_fault.jbi4corba/" xmlns:tns="urn:jbi4corba/test-consumer-fault" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:import namespace="http://test_consumer_fault.jbi4corba/"/>
    <xsd:element name="EchoExceptionSimpleEx" type="tns:EchoExceptionSimpleEx"/>
    <xsd:complexType name="EchoExceptionSimpleEx">
        <xsd:sequence>
            <xsd:element name="value" nillable="true" type="ns0:echoExceptionSimple"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="EchoExceptionComplexEx" type="tns:EchoExceptionComplexEx"/>
    <xsd:complexType name="EchoExceptionComplexEx">
        <xsd:sequence>
            <xsd:element name="value" nillable="true" type="ns0:echoExceptionComplex"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="echo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="EchoExceptionSimpleEx">
    <wsdl:part name="EchoExceptionSimpleEx" element="tns:EchoExceptionSimpleEx">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="EchoExceptionComplexEx">
    <wsdl:part name="EchoExceptionComplexEx" element="tns:EchoExceptionComplexEx">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echo">
    <wsdl:part name="parameters" element="tns:echo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="echoResponse">
    <wsdl:part name="parameters" element="tns:echoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EchoFaultPortType">
    <wsdl:operation name="echo">
      <wsdl:input name="echo" message="tns:echo">
    </wsdl:input>
      <wsdl:output name="echoResponse" message="tns:echoResponse">
    </wsdl:output>
      <wsdl:fault name="EchoExceptionSimpleEx" message="tns:EchoExceptionSimpleEx">
    </wsdl:fault>
      <wsdl:fault name="EchoExceptionComplexEx" message="tns:EchoExceptionComplexEx">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EchoFaultCorbaBinding" type="tns:EchoFaultPortType">

    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="echo">
      <soap:operation/>
      <wsdl:input name="echo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="echoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="EchoExceptionSimpleEx">
        <soap:fault name="EchoExceptionSimpleEx" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="EchoExceptionComplexEx">
        <soap:fault name="EchoExceptionComplexEx" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EchoFault">
    <wsdl:port name="EchoFaultCorbaPort" binding="tns:EchoFaultCorbaBinding">

      <soap:address location="http://localhost:8192/Service/test-consumer-fault/"/>
    </wsdl:port>
  </wsdl:service>
<plnk:partnerLinkType name="EchoFault">
<plnk:role name="EchoFaultPortTypeRole" portType="tns:EchoFaultPortType"/>
</plnk:partnerLinkType>
</wsdl:definitions>
