driver-tests/httpsoapbc/security/InvokeSAPCompApp1/src/jbiServiceUnits/InvokeSAP/Z_FlightWSD_EUC_SAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" 
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
                  xmlns="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                  xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
                  xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" 
                  xmlns:sap="http://schemas.sun.com/jbi/wsdl-extensions/sap/" 
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" 
                  xmlns:mysp="http://sun.com/ws/httpbc/security/BasicauthSecurityPolicy"
                  xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
                    xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" 
                    targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" 
                    elementFormDefault="unqualified" 
                    attributeFormDefault="qualified" 
                    xmlns:n0="urn:sap-com:document:sap:rfc:functions">
            <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" schemaLocation="./sapBasicTypes.xsd" /> 
            <xsd:complexType name="Bapisflava"> 
                <xsd:sequence>
                    <xsd:element name="Economax" type="xsd:int" /> 
                    <xsd:element name="Econofree" type="xsd:int" /> 
                    <xsd:element name="Businmax" type="xsd:int" /> 
                    <xsd:element name="Businfree" type="xsd:int" /> 
                    <xsd:element name="Firstmax" type="xsd:int" /> 
                    <xsd:element name="Firstfree" type="xsd:int" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapiret2">
                <xsd:sequence>
                    <xsd:element name="Type" type="n0:char1" /> 
                    <xsd:element name="Id" type="n0:char20" /> 
                    <xsd:element name="Number" type="n0:numeric3" /> 
                    <xsd:element name="Message" type="n0:char220" /> 
                    <xsd:element name="Logno" type="n0:char20" /> 
                    <xsd:element name="Logmsgno" type="n0:numeric6" /> 
                    <xsd:element name="Messagev1" type="n0:char50" /> 
                    <xsd:element name="Messagev2" type="n0:char50" /> 
                    <xsd:element name="Messagev3" type="n0:char50" /> 
                    <xsd:element name="Messagev4" type="n0:char50" /> 
                    <xsd:element name="Parameter" type="n0:char32" /> 
                    <xsd:element name="Row" type="xsd:int" /> 
                    <xsd:element name="Field" type="n0:char30" /> 
                    <xsd:element name="System" type="n0:char10" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapiparex">
                <xsd:sequence>
                    <xsd:element name="Structure" type="n0:char30" /> 
                    <xsd:element name="Valuepart1" type="n0:char240" /> 
                    <xsd:element name="Valuepart2" type="n0:char240" /> 
                    <xsd:element name="Valuepart3" type="n0:char240" /> 
                    <xsd:element name="Valuepart4" type="n0:char240" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapisfladd">
                <xsd:sequence>
                    <xsd:element name="Flighttime" type="xsd:int" /> 
                    <xsd:element name="Distance" type="n0:quantum9.4" /> 
                    <xsd:element name="Unit" type="n0:unit3" /> 
                    <xsd:element name="Unitiso" type="n0:char3" /> 
                    <xsd:element name="Planetype" type="n0:char10" /> 
                    <xsd:element name="Flighttype" type="n0:char1" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapisfldat">
                <xsd:sequence>
                    <xsd:element name="Airlineid" type="n0:char3" /> 
                    <xsd:element name="Airline" type="n0:char20" /> 
                    <xsd:element name="Connectid" type="n0:numeric4" /> 
                    <xsd:element name="Flightdate" type="n0:date" /> 
                    <xsd:element name="Airportfr" type="n0:char3" /> 
                    <xsd:element name="Cityfrom" type="n0:char20" /> 
                    <xsd:element name="Airportto" type="n0:char3" /> 
                    <xsd:element name="Cityto" type="n0:char20" /> 
                    <xsd:element name="Deptime" type="n0:time" /> 
                    <xsd:element name="Arrtime" type="n0:time" /> 
                    <xsd:element name="Arrdate" type="n0:date" /> 
                    <xsd:element name="Price" type="n0:decimal23.4" /> 
                    <xsd:element name="Curr" type="n0:cuky5" /> 
                    <xsd:element name="Curriso" type="n0:char3" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapisfldra">
                <xsd:sequence>
                    <xsd:element name="Sign" type="n0:char1" /> 
                    <xsd:element name="Option" type="n0:char2" /> 
                    <xsd:element name="Low" type="n0:date" /> 
                    <xsd:element name="High" type="n0:date" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapisfldst">
                <xsd:sequence>
                    <xsd:element name="Airportid" type="n0:char3" /> 
                    <xsd:element name="City" type="n0:char20" /> 
                    <xsd:element name="Countr" type="n0:char3" /> 
                    <xsd:element name="Countriso" type="n0:char2" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapisflrep">
                <xsd:sequence>
                    <xsd:element name="Airlineid" type="n0:char3" /> 
                    <xsd:element name="Connectid" type="n0:numeric4" /> 
                    <xsd:element name="Flightdate" type="n0:date" /> 
                    <xsd:element name="Price" type="n0:decimal23.4" /> 
                    <xsd:element name="Curr" type="n0:cuky5" /> 
                    <xsd:element name="CurrIso" type="n0:char3" /> 
                    <xsd:element name="Planetype" type="n0:char10" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfbapiret2">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="tns:Bapiret2" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfbapiparex">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="tns:Bapiparex" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfbapisfldra">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="tns:Bapisfldra" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfbapisfldat">
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="tns:Bapisfldat" /> 
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="FlightCheckAvailibility">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="AirlineID" type="n0:char3" /> 
                        <xsd:element name="ConnectionID" type="n0:numeric4" /> 
                        <xsd:element name="FlightDate" type="n0:date" /> 
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="FlightCheckAvailibilityResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Availibility" type="tns:Bapisflava" /> 
                        <xsd:element name="Return" type="tns:TableOfbapiret2" /> 
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="FlightGetDetail">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="AirlineID" type="n0:char3" /> 
                        <xsd:element name="ConnectionID" type="n0:numeric4" /> 
                        <xsd:element name="ExtensionIn" minOccurs="0" type="tns:TableOfbapiparex" /> 
                        <xsd:element name="FlightDate" type="n0:date" /> 
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="FlightGetDetailResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="AdditionalInfo" type="tns:Bapisfladd" /> 
                        <xsd:element name="Availibility" type="tns:Bapisflava" /> 
                        <xsd:element name="ExtensionOut" type="tns:TableOfbapiparex" /> 
                        <xsd:element name="FlightData" type="tns:Bapisfldat" /> 
                        <xsd:element name="Return" type="tns:TableOfbapiret2" /> 
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="FlightGetList">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Airline" minOccurs="0" type="n0:char3" /> 
                        <xsd:element name="DateRange" minOccurs="0" type="tns:TableOfbapisfldra" /> 
                        <xsd:element name="DestinationFrom" minOccurs="0" type="tns:Bapisfldst" /> 
                        <xsd:element name="DestinationTo" minOccurs="0" type="tns:Bapisfldst" /> 
                        <xsd:element name="ExtensionIn" minOccurs="0" type="tns:TableOfbapiparex" /> 
                        <xsd:element name="MaxRows" minOccurs="0" type="xsd:int" /> 
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="FlightGetListResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ExtensionOut" type="tns:TableOfbapiparex" /> 
                        <xsd:element name="FlightList" type="tns:TableOfbapisfldat" /> 
                        <xsd:element name="Return" type="tns:TableOfbapiret2" /> 
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="FlightSaveReplica">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ExtensionIn" minOccurs="0" type="tns:TableOfbapiparex" /> 
                        <xsd:element name="FlightData" type="tns:Bapisflrep" /> 
                        <xsd:element name="TestRun" minOccurs="0" type="n0:char1" /> 
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="FlightSaveReplicaResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Return" type="tns:TableOfbapiret2" /> 
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="FlightGetDetail">
        <wsdl:part name="parameters" element="tns:FlightGetDetail" /> 
    </wsdl:message>
    <wsdl:message name="FlightGetDetailResponse">
        <wsdl:part name="parameters" element="tns:FlightGetDetailResponse" /> 
    </wsdl:message>
    <wsdl:portType name="Z_FlightWSD">
        <wsdl:operation name="FlightGetDetail">
            <wsdl:input message="tns:FlightGetDetail" /> 
            <wsdl:output message="tns:FlightGetDetailResponse" /> 
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Z_FlightWSDSAPBinding" type="tns:Z_FlightWSD">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="FlightGetDetail">
            <wsdl:input name="FlightGetDetailRequest">
                <soap:body parts="parameters"/>
            </wsdl:input>
            <wsdl:output name="FlightGetDetailResponse">
                <soap:body parts="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Z_FlightWSDService">
        <wsdl:port name="Z_FlightWSDSAPBindingPort" binding="tns:Z_FlightWSDSAPBinding">
            <soap:address location="http://sap50uni.stc.com:8000/sap/bc/srt/rfc/sap/Z_FlightWSD_BA?sap-client=800"/>
                    <wsp:PolicyReference URI="#HttpBasicAuthBindingBindingPolicy"/>
        </wsdl:port>
    </wsdl:service>
    <wsp:Policy wsu:Id="HttpBasicAuthBindingBindingPolicy">
        <mysp:MustSupportBasicAuthentication>true</mysp:MustSupportBasicAuthentication>
        <mysp:UsernameToken mysp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
           <wsp:Policy>
                <sp:WssUsernameToken10>PS1</sp:WssUsernameToken10>
                <sp:WssPassword>ONLY4RD</sp:WssPassword>
           </wsp:Policy>
      </mysp:UsernameToken>
    </wsp:Policy>
    <plink:partnerLinkType name="myPartnerLink">
        <plink:role name="myPartnerRole" portType="tns:Z_FlightWSD"/>
    </plink:partnerLinkType>
</wsdl:definitions>
