driver-tests/jmsbc/JMSBCTests/JMSBCXAjavaeeInOnlyTestEjbModule/src/java/JMSBCjavaeeXAInOnlyTest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/JMSBCjavaeeXAInOnlyTest"
            xmlns:tns="http://xml.netbeans.org/schema/JMSBCjavaeeXAInOnlyTest"
            elementFormDefault="qualified">
        <xsd:complexType name="AComplexType">
            <xsd:sequence>
                  <xsd:element name="msg" type="xsd:string"></xsd:element>
                  <xsd:element name="corrId" type="xsd:int"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:element name="message" type="tns:AComplexType"></xsd:element>
</xsd:schema>
