contrib-imola/corba-bc/integration-test/test-consumer-fault/consumer-fault-bpel-provider/src/main/resources/EchoFault.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions targetNamespace="urn:jbi4corba/test-consumer-fault" 
             xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:plink="http://schemas.xmlsoap.org/ws/2004/03/partner-link/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:tns="urn:jbi4corba/test-consumer-fault" 
             xmlns:ns="urn:jbi4corba/test-consumer-fault" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="urn:jbi4corba/test-consumer-fault" 
                    elementFormDefault="qualified" attributeFormDefault="qualified" 
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
            <xsd:element name="echo"><xsd:complexType><xsd:sequence><xsd:element name="in0" type="xsd:string" nillable="true" minOccurs="1" maxOccurs="1"/></xsd:sequence></xsd:complexType></xsd:element>
            <xsd:element name="echoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="out" type="xsd:string" nillable="true" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="echoStruct">
                <xsd:sequence>
                    <xsd:element name="fieldBoolean" type="xsd:boolean"/>
                    <xsd:element name="fieldChar" type="xsd:unsignedShort"/>
                    <xsd:element name="fieldLong" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="fieldString" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
    <xsd:element name="EchoComplexException" type="tns:EchoComplexException"/>
    <xsd:complexType name="EchoComplexException">
        <xsd:sequence>
            <xsd:element name="reason" nillable="true" type="tns:echoStruct"/>
        </xsd:sequence>
    </xsd:complexType>
            <xsd:element name="EchoSimpleException">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="reason" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    
    
    <wsdl:message name="echo">
        <wsdl:part element="tns:echo" name="parameters" />
    </wsdl:message>
    
    <message name="echoResponse">
        <part element="tns:echoResponse" name="parameters"/>
    </message>
    <message name="EchoExceptionSimple">
        <part name="parameters" element="tns:EchoSimpleException"/>
    </message>
    <message name="EchoExceptionComplex">
        <part name="parameters" element="tns:EchoComplexException"/>
    </message>
    <portType name="EchoFaultPortType">
        <operation name="echo">
            <input message="tns:echo" name="echo"/>
            <output message="tns:echoResponse" name="echoResponse"/>
            <fault name="EchoSimpleFault" message="tns:EchoExceptionSimple"/>
            <fault name="EchoComplexFault" message="tns:EchoExceptionComplex"/>
        </operation>
    </portType>
    
    <binding name="EchoFaultBinding" type="tns:EchoFaultPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="echo">
            <soap:operation/>
            <input name="echo">
                <soap:body use="literal"/>
            </input>
            <output name="echoResponse">
                <soap:body use="literal"/>
            </output>
            <fault name="EchoSimpleFault">
                <soap:fault name="EchoSimpleFault" use="literal"/>
            </fault>
            <fault name="EchoComplexFault">
                <soap:fault name="EchoComplexFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    
    <service name="EchoFault">
        <port binding="tns:EchoFaultBinding" name="EchoFaultPort">
            <soap:address location="http://localhost:8192/services/EchoFault"/>
        </port>
    </service>
</definitions>

