driver-tests/bpelse/faulthandling/FaultHandlingBpel/src/bpelfaultCatch/bpelfaultCatch.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="urn:bpelfaultCatchTargetNamespace" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    name="bpelfaultCatchDefinition" 
    targetNamespace="urn:bpelfaultCatchTargetNamespace">
    <types>
        <xsd:schema xmlns:ns1="urn:bpelfaultCatchTargetNamespace" 
            attributeFormDefault="unqualified" elementFormDefault="qualified" 
            targetNamespace="urn:bpelfaultCatchTargetNamespace">
            <xsd:element name="bpelfaultCatchElement" type="tns:bpelfaultCatchType"/>
            <xsd:complexType name="bpelfaultCatchType">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                    <xsd:element name="nonNegativeInteger" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="byte" type="xsd:byte"/>
                    <xsd:element name="short" type="xsd:short"/>
                    <xsd:element name="int" type="xsd:int"/>
                    <xsd:element name="long" type="xsd:long"/>
                    <xsd:element name="negativeInteger" type="xsd:negativeInteger"/>
                    <xsd:element name="dateTime" type="xsd:dateTime"/>
                    <xsd:element name="nonPositiveInteger" type="xsd:nonPositiveInteger"/>
                    <xsd:element name="duration" type="xsd:duration"/>
                    <xsd:element name="ENTITIES" type="xsd:ENTITIES"/>
                    <xsd:element name="double" type="xsd:double"/>
                    <xsd:element name="ENTITY" type="xsd:ENTITY"/>
                    <xsd:element name="float" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="bpelfaultCatchMessage">
        <part element="tns:bpelfaultCatchElement" name="bpelfaultCatchPart"/>
    </message>
    <portType name="bpelfaultCatchPortType">
        <operation name="bpelfaultCatchOperation">
            <input message="tns:bpelfaultCatchMessage"/>
            <output message="tns:bpelfaultCatchMessage"/>
            <fault message="tns:bpelfaultCatchMessage" name="Fault"/>
        </operation>
    </portType>
    <binding name="bpelfaultCatchBinding" type="tns:bpelfaultCatchPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="bpelfaultCatchOperation">
            <soap:operation soapAction="bpelfaultCatchOperation"/>
            <input>
                <soap:body parts="bpelfaultCatchPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="bpelfaultCatchPart" use="literal"/>
            </output>
            <fault name="Fault">
		<soap:fault name="Fault" use="literal"/>
	    </fault>			            
        </operation>
    </binding>
    <service name="bpelfaultCatchService">
        <port binding="tns:bpelfaultCatchBinding" name="bpelfaultCatchPort">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/bpelfaultCatch"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="bpelfaultCatchServiceLinkType">
        <plnk:role name="bpelfaultCatchServerRole" portType="tns:bpelfaultCatchPortType"/>
    </plnk:partnerLinkType>
</definitions>
