driver-tests/bpelse/faulthandling/FaultHandlingBpel/src/bpelfaultCatch/subBPThrowsFault.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tns="urn:subBPThrowsFaultTargetNamespace" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    name="subBPThrowsFaultDefinition" 
    targetNamespace="urn:subBPThrowsFaultTargetNamespace">
    <types>
        <xsd:schema xmlns:ns1="urn:subBPThrowsFaultTargetNamespace" 
            attributeFormDefault="unqualified" elementFormDefault="qualified" 
            targetNamespace="urn:subBPThrowsFaultTargetNamespace">
            <xsd:element name="subBPThrowsFaultElement" type="tns:subBPThrowsFaultType"/>
            <xsd:complexType name="subBPThrowsFaultType">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                    <xsd:element name="nonNegativeInteger" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="byte" type="xsd:byte"/>
                    <xsd:element name="short" type="xsd:short"/>
                    <xsd:element name="int" type="xsd:int"/>
                    <xsd:element name="long" type="xsd:long"/>
                    <xsd:element name="negativeInteger" type="xsd:negativeInteger"/>
                    <xsd:element name="dateTime" type="xsd:dateTime"/>
                    <xsd:element name="nonPositiveInteger" type="xsd:nonPositiveInteger"/>
                    <xsd:element name="duration" type="xsd:duration"/>
                    <xsd:element name="ENTITIES" type="xsd:ENTITIES"/>
                    <xsd:element name="double" type="xsd:double"/>
                    <xsd:element name="ENTITY" type="xsd:ENTITY"/>
                    <xsd:element name="float" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="subBPThrowsFaultMessage">
        <part element="tns:subBPThrowsFaultElement" name="subBPThrowsFaultPart"/>
    </message>
    <portType name="subBPThrowsFaultPortType">
        <operation name="subBPThrowsFaultOperation">
            <input message="tns:subBPThrowsFaultMessage"/>
            <output message="tns:subBPThrowsFaultMessage"/>
            <fault message="tns:subBPThrowsFaultMessage" name="Fault"/>
        </operation>
    </portType>
    <binding name="subBPThrowsFaultBinding" type="tns:subBPThrowsFaultPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="subBPThrowsFaultOperation">
            <soap:operation soapAction="subBPThrowsFaultOperation"/>
            <input>
                <soap:body parts="subBPThrowsFaultPart" use="literal"/>
            </input>
            <output>
                <soap:body parts="subBPThrowsFaultPart" use="literal"/>
            </output>
            <fault name="Fault">
		<soap:fault name="Fault" use="literal"/>
	    </fault>			                        
        </operation>
    </binding>
    <service name="subBPThrowsFaultService">
        <port binding="tns:subBPThrowsFaultBinding" name="subBPThrowsFaultPort">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/subBPThrowsFault"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="subBPThrowsFaultServiceLinkType">
        <plnk:role name="subBPThrowsFaultServerRole" portType="tns:subBPThrowsFaultPortType"/>
    </plnk:partnerLinkType>
</definitions>
