driver-tests/performance/JMSBased/benchmarks/jmsbc/echo/JMSBC2JMSBCPerfJbi/JMSBCPerf/JMSPerfMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/JMSPerfMessage"
            xmlns:tns="http://xml.netbeans.org/schema/JMSPerfMessage"
            elementFormDefault="qualified">
    <xsd:complexType name="MessageCT">
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string"></xsd:element>
            <xsd:element name="id" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Message" type="tns:MessageCT"></xsd:element>
</xsd:schema>
