driver-tests/performance/JMSBased/benchmarks/iepse/mergedEcho/iep/src/test.wsdl

<definitions targetNamespace="test_iep"
             xmlns:tns="test_iep"
             xmlns:typens="test_iep"
             xmlns:defns="test_iep"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:jms="http://schemas.sun.com/jbi/wsdl-extensions/jms/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
    <xsd:schema targetNamespace="test_iep" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="StreamOutput0_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="message" type="xsd:string"/>
                   <xsd:element name="id" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
    </xsd:schema>
</types>

<message name="StreamOutput0_Msg">
    <part name="output" element="typens:StreamOutput0_MsgObj"/>
</message>

<portType name="OutputPt_StreamOutput0">
    <operation name="StreamOutput0">
        <input message="tns:StreamOutput0_Msg"/>
    </operation>
</portType>

<plnk:partnerLinkType name="OutputPlt_StreamOutput0" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_StreamOutput0" portType="tns:OutputPt_StreamOutput0"/>
</plnk:partnerLinkType>

<binding name="OutputBinding_StreamOutput0"
         type="defns:OutputPt_StreamOutput0">
    <jms:binding></jms:binding>
    <operation name="StreamOutput0">
        <jms:operation deliveryMode="NON_PERSISTENT"
                       disableMessageTimeStamp="true"
                       disableMessageID="true"
                       transaction="NoTransaction"
                       destinationType="Queue"
                       destination="iep_echo_benchmark_consume"/>
        <input>
            <jms:message messageType="TextMessage"
                         textPart="output">
            </jms:message>
        </input>
    </operation>
</binding>
<service name="OutputService_StreamOutput0">
    <port name="OutputPort_StreamOutput0"
          binding="tns:OutputBinding_StreamOutput0">
        <jms:address password="admin"
                     username="admin"
                     connectionURL="mq://localhost:7676" />
    </port>
</service>
</definitions>
