driver-tests/bpelse/assign/AssignBpel/src/BooleanTest/BooleanTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="BooleanTest" targetNamespace="http://j2ee.netbeans.org/wsdl/BooleanTest"
    xmlns:tns="http://j2ee.netbeans.org/wsdl/BooleanTest"
    xmlns:ns1="urn:WS/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/BooleanTest">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
        <xsd:element name="booleanElement" type="xsd:boolean"></xsd:element>
        <xsd:complexType name="booleanComplexType">
            <xsd:sequence>
                <xsd:element name="booleanElement" type="xsd:boolean"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="BooleanTestRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="BooleanTestResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="BooleanTestError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="BooleanTestPortType">
    <operation name="BooleanTestOperation">
      <input message="tns:BooleanTestRequest"/>
      <output message="tns:BooleanTestResponse"/>
      <fault message="tns:BooleanTestError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="BooleanTestBinding" type="tns:BooleanTestPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="BooleanTestOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="BooleanTestService">
    <port name="BooleanTestPort" binding="tns:BooleanTestBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <message name="RequestMessage">
        <part name="booleanString" type="xsd:string"/>
        <part name="input1" type="xsd:boolean"/>
        <part name="input2" element="tns:booleanElement"/>
        <part name="input3" type="tns:booleanComplexType"/>
    </message>
    <message name="ResponseMessage">
        <part name="output1" type="xsd:boolean"/>
        <part name="output2" type="xsd:boolean"/>
        <part name="output3" type="xsd:boolean"/>
        <part name="output4" type="xsd:boolean"/>
        <part name="output5" type="xsd:boolean"/>
        <part name="output6" type="xsd:boolean"/>
    </message>
    <portType name="AssignAndPortType1">
        <operation name="BooleanTesteration1">
            <input name="input1" message="tns:RequestMessage"/>
            <output name="output1" message="tns:ResponseMessage"/>
        </operation>
    </portType>
    <binding name="AssignAndBinding1" type="tns:AssignAndPortType1">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="BooleanTesteration1">
        <input name="input1">
          <soap:body/>
        </input><output name="output1">
    <soap:body/>
</output>
        </operation>
    </binding>
    <service name="AssignAndService1">
        <port name="AssignAndPort1" binding="tns:AssignAndBinding1">
            <soap:address location="http://localhost:${HttpDefaultPort}/BooleanTest"/>
        </port>
    </service>
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="AssignAndPartnerlinktyperole1" portType="tns:AssignAndPortType1"/>
    </plink:partnerLinkType>
</definitions>
