driver-tests/iepse/tests/iep/src/iepRelationOutput.wsdl

<definitions targetNamespace="iepRelationOutput_iep"
             xmlns:tns="iepRelationOutput_iep"
             xmlns:typens="iepRelationOutput_iep"
             xmlns:defns="iepRelationOutput_iep"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
    <xsd:schema targetNamespace="iepRelationOutput_iep" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="StreamInput0_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="value" type="xsd:double"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamInput0Batch_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="StreamInput0_MsgObj" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="name" type="xsd:string"/>
                                <xsd:element name="value" type="xsd:double"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="RelationOutput0_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="name" type="xsd:string"/>
                   <xsd:element name="value" type="xsd:double"/>
                   <xsd:element name="SeqId" type="xsd:string"/>
                   <xsd:element name="Tag" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
    </xsd:schema>
</types>

<message name="StreamInput0_Msg">
    <part name="input" element="typens:StreamInput0_MsgObj"/>
</message>
<message name="StreamInput0Batch_Msg">
    <part name="input" element="typens:StreamInput0Batch_MsgObj"/>
</message>
<message name="RelationOutput0_Msg">
    <part name="output" element="typens:RelationOutput0_MsgObj"/>
</message>

<portType name="InputPt">
    <operation name="StreamInput0">
        <input message="tns:StreamInput0_Msg"/>
    </operation>
    <operation name="StreamInput0Batch">
        <input message="tns:StreamInput0Batch_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_RelationOutput0">
    <operation name="RelationOutput0">
        <input message="tns:RelationOutput0_Msg"/>
    </operation>
</portType>

<plnk:partnerLinkType name="InputPlt" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "InputRn" portType="tns:InputPt"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_RelationOutput0" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_RelationOutput0" portType="tns:OutputPt_RelationOutput0"/>
</plnk:partnerLinkType>
<!-- input binding -->
<binding name="InputBinding" type="defns:InputPt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="StreamInput0">
        <soap:operation soapAction="StreamInput0"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
    <operation name="StreamInput0Batch">
        <soap:operation soapAction="StreamInput0Batch"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<!-- output binding -->
<binding name="OutputBinding_RelationOutput0" type="defns:OutputPt_RelationOutput0">
    <file:binding/>
    <operation name="RelationOutput0">
        <file:operation/>
        <input>
            <file:message fileName="actual.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal">
            </file:message>
        </input>
    </operation>
</binding>

<!-- The service name and the tns represent my service ID QName -->
<!-- input service -->
<service name="InputService">
    <port name="InputPort" binding="tns:InputBinding">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/iepRelationOutput_iep"/>
    </port>
</service>
<!-- output service -->
<service name="OutputService_RelationOutput0">
    <port name="OutputPort_RelationOutput0" binding="tns:OutputBinding_RelationOutput0">
        <file:address fileDirectory="${ojc-root}/driver-tests/iepse/tests/jbi/test/iepRelationOutput"/>
    </port>
</service>
</definitions>
