ojc-core/bpelse/system-test/test/com/sun/jbi/engine/bpel/jbiadaptor/test/persistence/bpels/InovkeWithError/TwoWayError/deployedFolder/InvokeErrorME.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="InvokeErrorME" targetNamespace="http://j2ee.netbeans.org/wsdl/InvokeErrorME"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/InvokeErrorME" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types/>
    <message name="message1">
        <part name="part1" type="xsd:string"/>
    </message>
    <message name="InvokeErrorMEOperationResponse">
        <part name="part1" type="xsd:string"/>
    </message>
    <portType name="receivePortType">
        <operation name="receiveOper">
            <input name="input1" message="tns:message1"/>
        </operation>
    </portType>
    <portType name="InvokeTestReplyPT">
        <operation name="InvokeTestReplyPTOper">
            <input name="input1" message="tns:message1"/>
        </operation>
    </portType>
    <portType name="OneWayMEErrorPT">
        <operation name="OneWayMEErrorPTOper">
            <input name="input1" message="tns:message1"/>
        </operation>
    </portType>
    <portType name="TwoWayMEErrorPT">
        <operation name="TwoWayMEErrorPTOper">
            <input name="input1" message="tns:message1"/>
            <output name="output1" message="tns:message1"/>
        </operation>
    </portType>
    <binding name="receivePortTypeBinding" type="tns:receivePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="receiveOper">
            <soap:operation style="rpc"/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/InvokeErrorME" parts="part1"/>
            </input>
        </operation>
    </binding>
    <binding name="InvokeTestReplyPTBinding" type="tns:InvokeTestReplyPT">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="InvokeTestReplyPTOper">
            <soap:operation style="rpc"/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/InvokeErrorME" parts="part1"/>
            </input>
        </operation>
    </binding>
    <binding name="OneWayMEErrorPTBinding" type="tns:OneWayMEErrorPT">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="OneWayMEErrorPTOper">
            <soap:operation style="rpc"/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/InvokeErrorME" parts="part1"/>
            </input>
        </operation>
    </binding>
    <binding name="TwoWayMEErrorPTBinding" type="tns:TwoWayMEErrorPT">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="TwoWayMEErrorPTOper">
            <soap:operation style="rpc"/>
            <input name="input1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/InvokeErrorME" parts="part1"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://j2ee.netbeans.org/wsdl/InvokeErrorME" parts="part1"/>
            </output>
        </operation>
    </binding>
    <service name="receivePTService">
        <port name="receivePTServicePort" binding="tns:receivePortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/receivePTService/receivePTServicePort"/>
        </port>
    </service>
    <service name="InvokeTestReplyService">
        <port name="InvokeTestReplyServicePort" binding="tns:InvokeTestReplyPTBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/InvokeTestReplyService/InvokeTestReplyServicePort"/>
        </port>
    </service>
    <service name="OneWayErrorService">
        <port name="OneWayErrorServicePort" binding="tns:OneWayMEErrorPTBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/OneWayErrorService/OneWayErrorServicePort"/>
        </port>
    </service>
    <service name="TwoWayErrorService">
        <port name="TwoWayErrorServicePort" binding="tns:TwoWayMEErrorPTBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/TwoWayErrorService/TwoWayErrorServicePort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="ReceivePLT">
        <plnk:role name="receivePortTypeRole" portType="tns:receivePortType"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="InvokeTestReplyPLT">
        <plnk:role name="InvokeTestReplyPTRole" portType="tns:InvokeTestReplyPT"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="OneWayMEErrorPLT">
        <plnk:role name="OneWayMEErrorPTRole" portType="tns:OneWayMEErrorPT"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="TwoWayMEErrorPLT">
        <plnk:role name="TwoWayMEErrorPTRole" portType="tns:TwoWayMEErrorPT"/>
    </plnk:partnerLinkType>
</definitions>
