contrib-fort/rules4jbi/data/assemblies/jess/http-su/customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" version="1.0"
           targetNamespace="http://www.example.org/xml/ns/package-info.java"
           xmlns:tns="http://www.example.org/xml/ns/package-info.java"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
               
    <xs:element name="customer" type="tns:customerType"/>

    <xs:complexType name="customerType">
       <xs:sequence>
           <xs:element name="name" type="xs:string"/>
           <xs:element name="creditLimit" type="xs:int"/>
       </xs:sequence>
    </xs:complexType>
</xs:schema>
