driver-tests/bpelse/compensation/NestedScopeJBI/src/jbiServiceUnits/NestedScope/DefaultCompensation_Rethrow/ScopeInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ScopeInterface" targetNamespace="http://j2ee.netbeans.org/wsdl/ScopeInterface"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/ScopeInterface" 
    xmlns:ns0="http://xml.netbeans.org/schema/ScopesInterfaceSchema" 
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://xml.netbeans.org/schema/ScopesInterfaceSchema" xmlns:tns1="http://xml.netbeans.org/schema/ScopesInterfaceSchema">
            <xsd:element name="StrElem" type="xsd:string"></xsd:element>
        </xsd:schema>
    </types>
    <message name="InputMsg">
        <part name="InputPart" element="ns0:StrElem"/>
    </message>
    <portType name="InboundPT">
        <operation name="InboundOper">
            <input name="input1" message="tns:InputMsg"/>
            <output name="output1" message="tns:InputMsg"/>
        </operation>
    </portType>
    <portType name="OneWayPT">
        <operation name="OneWayOper">
            <input name="input1" message="tns:InputMsg"/>
        </operation>
    </portType>
    <binding name="InboundBinding" type="tns:InboundPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="InboundOper">
            <input name="input1">
                <soap:body parts="InputPart" use="literal"/>
            </input>
            <output name="output1">
                <soap:body parts="InputPart" use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="OneWayBinding" type="tns:OneWayPT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="OneWayOper">
            <input name="input1">
                <soap:body parts="InputPart" use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="InboundService">
        <port name="InboundServPort" binding="tns:InboundBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/TestScopeProj/ScopeInterface/InboundServPort"/>
        </port>
    </service>
    <service name="OneWayService">
        <port name="OneWayServPort" binding="tns:OneWayBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/TestScopeProj/ScopeInterface/OneWayServPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="InboundPLT">
        <plnk:role name="InboundPTRole" portType="tns:InboundPT"/>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="OneWayPLT">
        <plnk:role name="OneWayPTRole" portType="tns:OneWayPT"/>
    </plnk:partnerLinkType>
</definitions>
