driver-tests/sqlse/derby/updateoneparamfullqualSQL/src/updateoneparamfullqualSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="updateoneparamfullqualSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="updateoneparamfullqualRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="updateoneparamfullqualResponse">
    <part name="updateoneparamfullqualResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="updateoneparamfullqualRequest">
    <part name="updateoneparamfullqualRequestPart" element="tns:updateoneparamfullqualRequest"/>
  </message>
  <portType name="updateoneparamfullqualSQL_sqlsePortType">
    <operation name="updateoneparamfullqual">
      <input name="updateoneparamfullqualRequest" message="tns:updateoneparamfullqualRequest"/>
      <output name="updateoneparamfullqualResponse" message="tns:updateoneparamfullqualResponse"/>
    </operation>
  </portType>
  <binding name="updateoneparamfullqualSQLBinding" type="tns:updateoneparamfullqualSQL_sqlsePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="updateoneparamfullqual">
      <soap:operation style="document"/>
      <input name="updateoneparamfullqualRequest">
        <soap:body use="literal"/>
      </input>
      <output name="updateoneparamfullqualResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="updateoneparamfullqualSQL_sqlseService">
    <port name="updateoneparamfullqualSQL_sqlsePort" binding="tns:updateoneparamfullqualSQLBinding">
      <soap:address location="http://localhost:18181/updateoneparamfullqualSQL/updateoneparamfullqualSQL/updateoneparamfullqualSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="updateoneparamfullqualSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="updateoneparamfullqualSQL_myrole" portType="tns:updateoneparamfullqualSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
