ojc-core/component-common/wsdl4jext/test/data/catalogandcache/_dependent/CatalogBpel1/src/Catalog1_WSDefinition.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Catalog1_WSDefinition" targetNamespace="http://j2ee.netbeans.org/wsdl/Catalog1_WSDefinition"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://j2ee.netbeans.org/wsdl/Catalog1_WSDefinition" xmlns:ns="http://xml.netbeans.org/schema/Catalog1_Schema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <types>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/Catalog1_WSDefinition">
            <xsd:import namespace="http://xml.netbeans.org/schema/Catalog1_Schema" schemaLocation="Catalog1_Schema.xsd"/>
        </xsd:schema>
        <xsd:schema targetNamespace="http://j2ee.netbeans.org/wsdl/Catalog1_WSDefinition_inlineschema" xmlns:tns1="http://j2ee.netbeans.org/wsdl/Catalog1_WSDefinition_inlineschema">
            <xsd:element name="catalog1_inline_root">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="catalog1_inline_subelem1" type="xsd:string"></xsd:element>
                        <xsd:element name="catalog1_inline_subelem2" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="Catalog1_WSDefinitionOperationRequest">
        <part name="part1" element="ns:catalog1_root"/>
    </message>
    <message name="Catalog1_WSDefinitionOperationResponse">
        <part name="part1" element="ns:catalog1_root"/>
    </message>
    <portType name="Catalog1_WSDefinitionPortType">
        <operation name="Catalog1_WSDefinitionOperation">
            <input name="input1" message="tns:Catalog1_WSDefinitionOperationRequest"/>
            <output name="output1" message="tns:Catalog1_WSDefinitionOperationResponse"/>
        </operation>
    </portType>
    <binding name="Catalog1_WSDefinitionBinding" type="tns:Catalog1_WSDefinitionPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Catalog1_WSDefinitionOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="Catalog1_WSDefinitionService">
        <port name="Catalog1_WSDefinitionPort" binding="tns:Catalog1_WSDefinitionBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/Catalog1_WSDefinitionService/Catalog1_WSDefinitionPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="Catalog1_WSDefinition">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="Catalog1_WSDefinitionPortTypeRole" portType="tns:Catalog1_WSDefinitionPortType"/>
    </plnk:partnerLinkType>
</definitions>
