ojc-core/component-common/wsdl4jext/test/data/catalogandcache/_dependent/CatalogBpel1/src/Catalog1_Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/Catalog1_Schema"
            xmlns:tns="http://xml.netbeans.org/schema/Catalog1_Schema"
            elementFormDefault="qualified">
    <xsd:complexType name="catalog1_type">
        <xsd:sequence>
            <xsd:element name="catalog1_subelem1" type="xsd:string"></xsd:element>
            <xsd:element name="catalog1_subelem2" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="catalog1_root" type="tns:catalog1_type"></xsd:element>
</xsd:schema>
