driver-tests/bpelse/repeatuntil/RepeatUntilBpel/src/RepeatUntilBasicTest/RepeatUntilBasicTest.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="RepeatUntilBasicTest" targetNamespace="http://localhost/RepeatUntilBPEL/RepeatUntilBasicTest"
    xmlns:ns1="urn:WS/types"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://localhost/RepeatUntilBPEL/RepeatUntilBasicTest" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

  <!-- Type definitions -->
  <types>
    <xsd:schema targetNamespace="http://localhost/RepeatUntilBPEL/RepeatUntilBasicTest" xmlns:tns="http://localhost/RepeatUntilBPEL/RepeatUntilBasicTest">
    <!-- TODO: type XML schema elements and types here, e.g.: -->
      <!--
      <xsd:element name="id" type="xsd:string"/>
      <xsd:element name="item" type="ns1:ItemType"/>
      <xsd:complexType name="ItemType">
        <xsd:sequence>
          <xsd:element ref="ns1:id"/>
          <xsd:element name="productName" type="xsd:string"/>
          <xsd:element name="price" type="xsd:double"/>
          <xsd:element name="quantity" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="error" type="xsd:string"/>
      -->
    </xsd:schema>
  </types>

  <!-- Message definitions -->
  <!-- TODO: write one or more messages here, e.g.: -->
  <!--
  <message name ="RepeatUntilBasicTestRequest">
    <part name="id" element="ns1:id"/>
  </message>

  <message name ="RepeatUntilBasicTestResponse">
    <part name="item" element="ns1:item"/>
  </message>
  
  <message name ="RepeatUntilBasicTestError">
    <part name="error" element="ns1:error"/>
  </message>
  -->

  <!-- Port type definitions -->
  <!-- TODO: write one or more port types here (usually just one), e.g.: -->
  <!--
  <portType name="RepeatUntilBasicTestPortType">
    <operation name="RepeatUntilBasicTestOperation">
      <input message="tns:RepeatUntilBasicTestRequest"/>
      <output message="tns:RepeatUntilBasicTestResponse"/>
      <fault message="tns:RepeatUntilBasicTestError" name="error"/>
    </operation>
  </portType>
  -->

  <!-- Binding definitions -->
  <!-- TODO: write one or more bindings here (usually just one), e.g.: -->
  <!--
  <binding name="RepeatUntilBasicTestBinding" type="tns:RepeatUntilBasicTestPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="RepeatUntilBasicTestOperation">
      <soap:operation soapAction="REPLACE_WITH_ACTION_URL"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="error">
        <soap:fault name="error" use="literal"/>
      </fault>
    </operation>
  </binding>
  -->

  <!-- Service and Port (network address) definitions -->
  <!-- TODO: write one or more service elements here (usually just one), e.g.: -->
  <!--
  <service name="RepeatUntilBasicTestService">
    <port name="RepeatUntilBasicTestPort" binding="tns:RepeatUntilBasicTestBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_WEB_SERVICE_URL"/>
    </port>
  </service>
  -->
    <message name="RepeatMsg">
        <part name="Name" type="xsd:string"/>
        <part name="Count" type="xsd:int"/>
    </message>
    <portType name="MyPortType1">
        <operation name="RepeatOperation1">
            <input name="input1" message="tns:RepeatMsg"/>
            <output name="output1" message="tns:RepeatMsg"/>
        </operation>
    </portType>
    <binding name="RepeatOperation" type="tns:MyPortType1">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="RepeatOperation1">
        <input name="input1">
          <soap:body/>
        </input><output name="output1">
    <soap:body/>
</output>
        </operation>
    </binding>
    <service name="RepeatUntilBasicTestService">
        <port name="RepeatUntilBasicTestServicePort" binding="tns:RepeatOperation">
            <soap:address location="http://localhost:${HttpDefaultPort}/RepeatUntilBasicTest/RepeatUntilBasicTestService"/>
        </port>
    </service>
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="RepeatUntilBasicTestProvider" portType="tns:MyPortType1"/>
    </plink:partnerLinkType>
</definitions>
