driver-tests/sqlse/db2/SqlSE1060_DB2/SelectMultiParamViewSql/src/SelectMultiParamViewSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SelectMultiParamViewSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="SelectMultiParamViewRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/><xsd:element name="param2" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="SelectMultiParamViewResponse"><xsd:complexType><xsd:sequence><xsd:element name="EMPID" type="xsd:int"/><xsd:element name="ENAME" type="xsd:string"/><xsd:element name="DEPTID" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="SelectMultiParamViewResponse">
    <part name="SelectMultiParamViewResponsePart" element="tns:SelectMultiParamViewResponse"/>
  </message>
  <message name="SelectMultiParamViewRequest">
    <part name="SelectMultiParamViewRequestPart" element="tns:SelectMultiParamViewRequest"/>
  </message>
  <portType name="SelectMultiParamViewSql_sqlsePortType">
    <operation name="SelectMultiParamView">
      <input name="SelectMultiParamViewRequest" message="tns:SelectMultiParamViewRequest"/>
      <output name="SelectMultiParamViewResponse" message="tns:SelectMultiParamViewResponse"/>
    </operation>
  </portType>
  <binding name="SelectMultiParamViewSqlBinding" type="tns:SelectMultiParamViewSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SelectMultiParamView">
      <soap:operation/>
      <input name="SelectMultiParamViewRequest">
        <soap:body/>
      </input>
      <output name="SelectMultiParamViewResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="SelectMultiParamViewSql_sqlseService">
    <port name="SelectMultiParamViewSql_sqlsePort" binding="tns:SelectMultiParamViewSqlBinding">
      <soap:address location="http://localhost:18181/SelectMultiParamViewSql/SelectMultiParamViewSql/SelectMultiParamViewSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="SelectMultiParamViewSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="SelectMultiParamViewSql_myrole" portType="tns:SelectMultiParamViewSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
