driver-tests/sqlse/db2/SqlSE1066_DB2/SelectWrongParamValueViewSql/src/SelectWrongParamValueViewSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SelectWrongParamValueViewSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="SelectWrongParamValueViewRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="SelectWrongParamValueViewResponse"><xsd:complexType><xsd:sequence><xsd:element name="EMPID" type="xsd:int"/><xsd:element name="ENAME" type="xsd:string"/><xsd:element name="DEPTID" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="SelectWrongParamValueViewResponse">
    <part name="SelectWrongParamValueViewResponsePart" element="tns:SelectWrongParamValueViewResponse"/>
  </message>
  <message name="SelectWrongParamValueViewRequest">
    <part name="SelectWrongParamValueViewRequestPart" element="tns:SelectWrongParamValueViewRequest"/>
  </message>
  <portType name="SelectWrongParamValueViewSql_sqlsePortType">
    <operation name="SelectWrongParamValueView">
      <input name="SelectWrongParamValueViewRequest" message="tns:SelectWrongParamValueViewRequest"/>
      <output name="SelectWrongParamValueViewResponse" message="tns:SelectWrongParamValueViewResponse"/>
    </operation>
  </portType>
  <binding name="SelectWrongParamValueViewSqlBinding" type="tns:SelectWrongParamValueViewSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SelectWrongParamValueView">
      <soap:operation/>
      <input name="SelectWrongParamValueViewRequest">
        <soap:body/>
      </input>
      <output name="SelectWrongParamValueViewResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="SelectWrongParamValueViewSql_sqlseService">
    <port name="SelectWrongParamValueViewSql_sqlsePort" binding="tns:SelectWrongParamValueViewSqlBinding">
      <soap:address location="http://localhost:18181/SelectWrongParamValueViewSql/SelectWrongParamValueViewSql/SelectWrongParamValueViewSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="SelectWrongParamValueViewSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="SelectWrongParamValueViewSql_myrole" portType="tns:SelectWrongParamValueViewSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
