ojc-core/bpelse/system-test/test/com/sun/jbi/engine/bpel/jbiadaptor/test/persistence/bpels/correlation/FlowCorrelationPickStart/deployedFolder/CorrelationFlow.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CorrelationFlow" 
             targetNamespace="http://enterprise.netbeans.org/wsdl/CorrelationFlow"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:mytype="urn:CorrFlowTNS"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:tns="http://enterprise.netbeans.org/wsdl/CorrelationFlow" 
             xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
             xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
             xmlns:ns0="urn:CorrFlowTNS">

	<vprop:property type="xsd:string" name="property01"/>
	<vprop:property type="xsd:string" name="property02"/>
	<vprop:property type="xsd:string" name="property03"/>
	<vprop:property type="xsd:string" name="property04"/>
	<vprop:property type="xsd:string" name="property05"/>
	<vprop:property type="xsd:string" name="property06"/>
	<vprop:property type="xsd:string" name="property07"/>
	<vprop:property type="xsd:string" name="property08"/>
	<vprop:property type="xsd:string" name="property09"/>
	<vprop:property type="xsd:string" name="property10"/>
	<vprop:property type="xsd:string" name="property11"/>
	<vprop:property type="xsd:string" name="property12"/>


        <!-- Pick1, cSet03 -->
	<vprop:propertyAlias part="flowData1" propertyName="tns:property03" messageType="tns:CorrFlowInputMsg1">
		<vprop:query>ns0:foo/ns0:bar/ns0:baz</vprop:query>
	</vprop:propertyAlias>
	<!-- Pick1, cSet06 -->
	<vprop:propertyAlias part="flowData1" propertyName="tns:property06" messageType="tns:CorrFlowInputMsg1">
		<vprop:query>ns0:foo/ns0:abc</vprop:query>
	</vprop:propertyAlias>
	<!-- Pick1, cSet08 -->
	<vprop:propertyAlias part="flowData1" propertyName="tns:property08" messageType="tns:CorrFlowInputMsg1">
		<vprop:query>ns0:foo/ns0:def</vprop:query>
	</vprop:propertyAlias>
	<!-- Pick1, cSet012 -->
	<vprop:propertyAlias part="flowData1" propertyName="tns:property12" messageType="tns:CorrFlowInputMsg1">
		<vprop:query>ns0:foo/ns0:ghi</vprop:query>
	</vprop:propertyAlias>
	<!-- Pick2, cSet01 -->
	<vprop:propertyAlias part="flowData2" propertyName="tns:property01" messageType="tns:CorrFlowInputMsg2">
		<vprop:query>ns0:foo/ns0:bar/ns0:baz</vprop:query>
	</vprop:propertyAlias>
	<!-- Pick2, cSet02 -->
	<vprop:propertyAlias part="flowData2" propertyName="tns:property02" messageType="tns:CorrFlowInputMsg2">
		<vprop:query>ns0:foo/ns0:abc</vprop:query>
	</vprop:propertyAlias>
	<!-- Pick2, cSet03 -->
	<vprop:propertyAlias part="flowData2" propertyName="tns:property03" messageType="tns:CorrFlowInputMsg2">
		<vprop:query>ns0:foo/ns0:def</vprop:query>
	</vprop:propertyAlias>
	<!-- Pick2, cSet04 -->
	<vprop:propertyAlias part="flowData2" propertyName="tns:property04" messageType="tns:CorrFlowInputMsg2">
		<vprop:query>ns0:foo/ns0:ghi</vprop:query>
	</vprop:propertyAlias>
	<!-- Pick2, cSet08 -->
	<vprop:propertyAlias part="data2" propertyName="tns:property08" messageType="tns:CorrFlowInputMsg2">
            <vprop:query/>
        </vprop:propertyAlias>
	<!-- Pick3, cSet01 -->
	<vprop:propertyAlias part="flowData3" propertyName="tns:property01" messageType="tns:CorrFlowInputMsg3">
		<vprop:query>ns0:foo/ns0:bar/ns0:baz</vprop:query>
	</vprop:propertyAlias>
	<!-- Pick3, cSet05 -->
	<vprop:propertyAlias part="flowData3" propertyName="tns:property05" messageType="tns:CorrFlowInputMsg3">
		<vprop:query>ns0:foo/ns0:abc</vprop:query>
	</vprop:propertyAlias>
	<!-- Pick3, cSet06 -->
	<vprop:propertyAlias part="flowData3" propertyName="tns:property06" messageType="tns:CorrFlowInputMsg3">
		<vprop:query>ns0:foo/ns0:def</vprop:query>
	</vprop:propertyAlias>
	<!-- Pick3, cSet07 -->
	<vprop:propertyAlias part="flowData3" propertyName="tns:property07" messageType="tns:CorrFlowInputMsg3">
		<vprop:query>ns0:foo/ns0:ghi</vprop:query>
	</vprop:propertyAlias>
	<!-- Pick3, cSet08 -->
	<vprop:propertyAlias part="data3" propertyName="tns:property08" messageType="tns:CorrFlowInputMsg3">
            <vprop:query/>
        </vprop:propertyAlias>
    <!-- Pick4a + Pick4b, cSet03 -->
	<vprop:propertyAlias part="flowData4" propertyName="tns:property03" messageType="tns:CorrFlowInputMsg4">
		<vprop:query>ns0:foo/ns0:bar/ns0:baz</vprop:query>
	</vprop:propertyAlias>
	<!-- Pick4a + Pick4b, cSet09 -->
	<vprop:propertyAlias part="flowData4" propertyName="tns:property09" messageType="tns:CorrFlowInputMsg4">
		<vprop:query>ns0:foo/ns0:abc</vprop:query>
	</vprop:propertyAlias>
	<!-- Pick4a, cSet10 -->
	<vprop:propertyAlias part="flowData4" propertyName="tns:property10" messageType="tns:CorrFlowInputMsg4">
		<vprop:query>ns0:foo/ns0:def</vprop:query>
	</vprop:propertyAlias>
	<!-- Pick4a + Pick4b, cSet12 -->
	<vprop:propertyAlias part="flowData4" propertyName="tns:property12" messageType="tns:CorrFlowInputMsg4">
		<vprop:query>ns0:foo/ns0:ghi</vprop:query>
	</vprop:propertyAlias>
	<!-- Pick4b, cSet11 -->
	<vprop:propertyAlias part="flowData4" propertyName="tns:property11" messageType="tns:CorrFlowInputMsg4">
		<vprop:query>ns0:foo/ns0:def</vprop:query>
	</vprop:propertyAlias>
	<!-- Invoke property aliases -->
	<vprop:propertyAlias part="data2" propertyName="tns:property01" messageType="tns:CorrFlowInvokeMsg"/>
	<vprop:propertyAlias part="data3" propertyName="tns:property02" messageType="tns:CorrFlowInvokeMsg"/>
	<vprop:propertyAlias part="data1" propertyName="tns:property03" messageType="tns:CorrFlowInvokeMsg"/>
	<vprop:propertyAlias part="data5" propertyName="tns:property04" messageType="tns:CorrFlowInvokeMsg"/>
	<vprop:propertyAlias part="data3" propertyName="tns:property05" messageType="tns:CorrFlowInvokeMsg"/>
	<vprop:propertyAlias part="data3" propertyName="tns:property06" messageType="tns:CorrFlowInvokeMsg"/>
	<vprop:propertyAlias part="data5" propertyName="tns:property07" messageType="tns:CorrFlowInvokeMsg"/>
	<vprop:propertyAlias part="data4" propertyName="tns:property08" messageType="tns:CorrFlowInvokeMsg"/>
	<vprop:propertyAlias part="data3" propertyName="tns:property09" messageType="tns:CorrFlowInvokeMsg"/>
	<vprop:propertyAlias part="data4" propertyName="tns:property10" messageType="tns:CorrFlowInvokeMsg"/>
	<vprop:propertyAlias part="data4" propertyName="tns:property11" messageType="tns:CorrFlowInvokeMsg"/>
	<vprop:propertyAlias part="data5" propertyName="tns:property12" messageType="tns:CorrFlowInvokeMsg"/>
					
	<types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
					xmlns:tns="urn:CorrFlowTNS"
                	targetNamespace="urn:CorrFlowTNS"
					attributeFormDefault="unqualified"
					elementFormDefault="qualified">
			<xsd:complexType name="CorrFlowComplexType">
				<xsd:sequence>
					<xsd:element name="foo">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="bar">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="baz" type="xsd:string"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="abc" type="xsd:string"/>
                                                                <xsd:element name="def" type="xsd:string"/>
                                                                <xsd:element name="ghi" type="xsd:string"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>

    <message name="CorrFlowInputMsg1">
        <part name="flowData1" type="mytype:CorrFlowComplexType"/>
    </message>
    <message name="CorrFlowInputMsg2">
        <part name="flowData2" type="mytype:CorrFlowComplexType"/>
        <part name="data2" type="xsd:string"/>
    </message>
    <message name="CorrFlowInputMsg3">
        <part name="flowData3" type="mytype:CorrFlowComplexType"/>
        <part name="data3" type="xsd:string"/>
    </message>
    <message name="CorrFlowInputMsg4">
        <part name="flowData4" type="mytype:CorrFlowComplexType"/>
    </message>
    <message name="CorrFlowInvokeMsg">
        <part name="data1" type="xsd:string"/>
        <part name="data2" type="xsd:string"/>
        <part name="data3" type="xsd:string"/>
        <part name="data4" type="xsd:string"/>
        <part name="data5" type="xsd:string"/>
    </message>

    <portType name="CorrFlowPortType1">
        <operation name="CorrFlowOperation1">
            <input name="input1" message="tns:CorrFlowInputMsg1"/>
        </operation>
    </portType>    <portType name="CorrFlowPortType2">
        <operation name="CorrFlowOperation2">
            <input name="input2" message="tns:CorrFlowInputMsg2"/>
        </operation>
    </portType>
    <portType name="CorrFlowPortType3">
        <operation name="CorrFlowOperation3">
            <input name="input3" message="tns:CorrFlowInputMsg3"/>
        </operation>
    </portType>
    <portType name="CorrFlowPortType4a">
        <operation name="CorrFlowOperation4a">
            <input name="input4a" message="tns:CorrFlowInputMsg4"/>
        </operation>
    </portType>
    <portType name="CorrFlowPortType4b">
        <operation name="CorrFlowOperation4b">
            <input name="input4b" message="tns:CorrFlowInputMsg4"/>
        </operation>
    </portType>
    <portType name="InvokePortType">
        <operation name="CorrFlowInvokeOp">
            <input name="input5" message="tns:CorrFlowInvokeMsg"/>
        </operation>
    </portType>

    <binding name="CorrFlowBinding1" type="tns:CorrFlowPortType1">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CorrFlowOperation1">
            <input name="input1"><soap:body/></input>
        </operation>
    </binding>
    <binding name="CorrFlowBinding2" type="tns:CorrFlowPortType2">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CorrFlowOperation2">
            <input name="input2"><soap:body/></input>
        </operation>
    </binding>
    <binding name="CorrFlowBinding3" type="tns:CorrFlowPortType3">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CorrFlowOperation3">
            <input name="input3"><soap:body/></input>
        </operation>
    </binding>
    <binding name="CorrFlowBinding4a" type="tns:CorrFlowPortType4a">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CorrFlowOperation4a">
            <input name="input4a"><soap:body/></input>
        </operation>
    </binding>
    <binding name="CorrFlowBinding4b" type="tns:CorrFlowPortType4b">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CorrFlowOperation4b">
            <input name="input4b"><soap:body/></input>
        </operation>
    </binding>
    <binding name="InvokeBinding" type="tns:InvokePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CorrFlowInvokeOp">
            <input name="input5"><soap:body/></input>
        </operation>
    </binding>

    <service name="CorrFlowService">
        <port name="CorrFlowPort1" binding="tns:CorrFlowBinding1">
            <soap:address location="http://localhost:20000/CorrFlow1"/>
        </port>
        <port name="CorrFlowPort2" binding="tns:CorrFlowBinding2">
            <soap:address location="http://localhost:20000/CorrFlow2"/>
        </port>
        <port name="CorrFlowPort3" binding="tns:CorrFlowBinding3">
            <soap:address location="http://localhost:20000/CorrFlow3"/>
        </port>
        <port name="CorrFlowPort4a" binding="tns:CorrFlowBinding4a">
            <soap:address location="http://localhost:20000/CorrFlow4a"/>
        </port>
        <port name="CorrFlowPort4b" binding="tns:CorrFlowBinding4b">
            <soap:address location="http://localhost:20000/CorrFlow4b"/>
        </port>
        <port name="InvokePort" binding="tns:InvokeBinding">
            <soap:address location="http://localhost:20001/CorrFlowInvoke"/>
        </port>
    </service>

    <plink:partnerLinkType name="CorrFlowPartnerLinkType1">
        <plink:role name="CorrFlowPLTRole1" portType="tns:CorrFlowPortType1"/>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="CorrFlowPartnerLinkType2">
        <plink:role name="CorrFlowPLTRole2" portType="tns:CorrFlowPortType2"/>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="CorrFlowPartnerLinkType3">
        <plink:role name="CorrFlowPLTRole3" portType="tns:CorrFlowPortType3"/>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="CorrFlowPartnerLinkType4a">
        <plink:role name="CorrFlowPLTRole4a" portType="tns:CorrFlowPortType4a"/>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="CorrFlowPartnerLinkType4b">
        <plink:role name="CorrFlowPLTRole4b" portType="tns:CorrFlowPortType4b"/>
    </plink:partnerLinkType>
    <plink:partnerLinkType name="CorrFlowInvokePLT">
        <plink:role name="CorrFlowInvokeRole" portType="tns:InvokePortType"/>
    </plink:partnerLinkType>
</definitions>
