contrib-imola/corba-bc/integration-test/test-consumer-complex/consumer-complex-jbi4corba-provider/src/main/resources/EchoComplex_test-consumer-complex.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://test_consumer_complex.jbi4corba/" xmlns:tns="urn:jbi4corba/test-consumer-complex" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:jbi4corba/test-consumer-complex">
    <xsd:import namespace="http://test_consumer_complex.jbi4corba/" schemaLocation="EchoComplex_test_consumer_complex.jbi4corba.xsd"/>
    <xsd:element name="echoSimpleToken">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleTokenResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoAll">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="arg0" type="ns0:tReqAll"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoAllResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="ns0:tResAll"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleUByte">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="arg0" type="xsd:short"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleUByteResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="return" type="xsd:short"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleLanguage">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleLanguageResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleNMTOKEN">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleNMTOKENResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleNCName">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleNCNameResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleAnyURI">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleAnyURIResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSC">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="arg0" type="ns0:tReqSC"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSCResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="ns0:tResSC"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleENTITY">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleENTITYResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSeq">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="arg0" type="ns0:tReqSeq"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSeqResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="ns0:tResSeq"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleUShort">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="arg0" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleUShortResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="return" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleID">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleIDResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleLong">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="arg0" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleLongResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="return" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoCC">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="arg0" type="ns0:tReqCC"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoCCResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="ns0:tResCC"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoGroup">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="arg0" type="ns0:tReqGroup"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoGroupResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="ns0:tResGroup"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleInt">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="arg0" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleIntResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="return" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleFloat">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="arg0" type="xsd:float"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleFloatResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="return" type="xsd:float"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleUInt">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="arg0" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleUIntResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="return" type="xsd:long"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleString">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleStringResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleBoolean">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="arg0" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleBooleanResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="return" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleDouble">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="arg0" type="xsd:double"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleDoubleResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="return" type="xsd:double"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleName">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleNameResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleNormalizedString">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="arg0" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="echoSimpleNormalizedStringResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element minOccurs="0" name="return" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>