contrib-imola/corba-bc/integration-test/test-consumer-complex/consumer-complex-jbi4corba-provider/src/main/resources/EchoComplex_test_consumer_complex.jbi4corba.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://test_consumer_complex.jbi4corba/" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://test_consumer_complex.jbi4corba/">
    <xs:complexType name="tReqGroup">
        <xs:sequence>
            <xs:element minOccurs="0" name="dataAnyURI" type="xs:string"/>
            <xs:element name="dataBoolean" type="xs:boolean"/>
            <xs:element name="dataDouble" type="xs:double"/>
            <xs:element minOccurs="0" name="dataENTITY" type="xs:string"/>
            <xs:element name="dataFloat" type="xs:float"/>
            <xs:element minOccurs="0" name="dataID" type="xs:string"/>
            <xs:element name="dataInt" type="xs:int"/>
            <xs:element minOccurs="0" name="dataLanguage" type="xs:string"/>
            <xs:element name="dataLong" type="xs:long"/>
            <xs:element minOccurs="0" name="dataNCName" type="xs:string"/>
            <xs:element minOccurs="0" name="dataNMTOKEN" type="xs:string"/>
            <xs:element minOccurs="0" name="dataName" type="xs:string"/>
            <xs:element minOccurs="0" name="dataNormalizedString" type="xs:string"/>
            <xs:element minOccurs="0" name="dataString" type="xs:string"/>
            <xs:element name="dataUByte" type="xs:short"/>
            <xs:element name="dataUInt" type="xs:long"/>
            <xs:element name="dataUShort" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tReqSeq">
        <xs:sequence>
            <xs:element minOccurs="0" name="dataAnyURI" type="xs:string"/>
            <xs:element name="dataBoolean" type="xs:boolean"/>
            <xs:element name="dataDouble" type="xs:double"/>
            <xs:element minOccurs="0" name="dataENTITY" type="xs:string"/>
            <xs:element name="dataFloat" type="xs:float"/>
            <xs:element minOccurs="0" name="dataID" type="xs:string"/>
            <xs:element name="dataInt" type="xs:int"/>
            <xs:element minOccurs="0" name="dataLanguage" type="xs:string"/>
            <xs:element name="dataLong" type="xs:long"/>
            <xs:element minOccurs="0" name="dataNCName" type="xs:string"/>
            <xs:element minOccurs="0" name="dataNMTOKEN" type="xs:string"/>
            <xs:element minOccurs="0" name="dataName" type="xs:string"/>
            <xs:element minOccurs="0" name="dataNormalizedString" type="xs:string"/>
            <xs:element minOccurs="0" name="dataString" type="xs:string"/>
            <xs:element name="dataUByte" type="xs:short"/>
            <xs:element name="dataUInt" type="xs:long"/>
            <xs:element name="dataUShort" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tResAll">
        <xs:sequence>
            <xs:element minOccurs="0" name="dataAnyURI" type="xs:string"/>
            <xs:element name="dataBoolean" type="xs:boolean"/>
            <xs:element name="dataDouble" type="xs:double"/>
            <xs:element minOccurs="0" name="dataENTITY" type="xs:string"/>
            <xs:element name="dataFloat" type="xs:float"/>
            <xs:element minOccurs="0" name="dataID" type="xs:string"/>
            <xs:element name="dataInt" type="xs:int"/>
            <xs:element minOccurs="0" name="dataLanguage" type="xs:string"/>
            <xs:element name="dataLong" type="xs:long"/>
            <xs:element minOccurs="0" name="dataNCName" type="xs:string"/>
            <xs:element minOccurs="0" name="dataNMTOKEN" type="xs:string"/>
            <xs:element minOccurs="0" name="dataName" type="xs:string"/>
            <xs:element minOccurs="0" name="dataNormalizedString" type="xs:string"/>
            <xs:element minOccurs="0" name="dataString" type="xs:string"/>
            <xs:element name="dataUByte" type="xs:short"/>
            <xs:element name="dataUInt" type="xs:long"/>
            <xs:element name="dataUShort" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tResSC">
        <xs:sequence>
            <xs:element minOccurs="0" name="dataAnyURI" type="xs:string"/>
            <xs:element name="dataBoolean" type="xs:boolean"/>
            <xs:element name="dataDouble" type="xs:double"/>
            <xs:element minOccurs="0" name="dataENTITY" type="xs:string"/>
            <xs:element name="dataFloat" type="xs:float"/>
            <xs:element minOccurs="0" name="dataID" type="xs:string"/>
            <xs:element name="dataInt" type="xs:int"/>
            <xs:element minOccurs="0" name="dataLanguage" type="xs:string"/>
            <xs:element name="dataLong" type="xs:long"/>
            <xs:element minOccurs="0" name="dataNCName" type="xs:string"/>
            <xs:element minOccurs="0" name="dataNMTOKEN" type="xs:string"/>
            <xs:element minOccurs="0" name="dataName" type="xs:string"/>
            <xs:element minOccurs="0" name="dataNormalizedString" type="xs:string"/>
            <xs:element minOccurs="0" name="dataString" type="xs:string"/>
            <xs:element minOccurs="0" name="dataToken" type="xs:string"/>
            <xs:element name="dataUByte" type="xs:short"/>
            <xs:element name="dataUInt" type="xs:long"/>
            <xs:element name="dataUShort" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="dComplex">
        <xs:sequence>
            <xs:element minOccurs="0" name="dataAnyURI" type="xs:string"/>
            <xs:element name="dataBoolean" type="xs:boolean"/>
            <xs:element name="dataDouble" type="xs:double"/>
            <xs:element minOccurs="0" name="dataENTITY" type="xs:string"/>
            <xs:element name="dataFloat" type="xs:float"/>
            <xs:element minOccurs="0" name="dataID" type="xs:string"/>
            <xs:element name="dataInt" type="xs:int"/>
            <xs:element minOccurs="0" name="dataLanguage" type="xs:string"/>
            <xs:element name="dataLong" type="xs:long"/>
            <xs:element minOccurs="0" name="dataNCName" type="xs:string"/>
            <xs:element minOccurs="0" name="dataNMTOKEN" type="xs:string"/>
            <xs:element minOccurs="0" name="dataName" type="xs:string"/>
            <xs:element minOccurs="0" name="dataNormalizedString" type="xs:string"/>
            <xs:element minOccurs="0" name="dataString" type="xs:string"/>
            <xs:element name="dataUByte" type="xs:short"/>
            <xs:element name="dataUInt" type="xs:long"/>
            <xs:element name="dataUShort" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tReqSC">
        <xs:sequence>
            <xs:element minOccurs="0" name="dataAnyURI" type="xs:string"/>
            <xs:element name="dataBoolean" type="xs:boolean"/>
            <xs:element name="dataDouble" type="xs:double"/>
            <xs:element minOccurs="0" name="dataENTITY" type="xs:string"/>
            <xs:element name="dataFloat" type="xs:float"/>
            <xs:element minOccurs="0" name="dataID" type="xs:string"/>
            <xs:element name="dataInt" type="xs:int"/>
            <xs:element minOccurs="0" name="dataLanguage" type="xs:string"/>
            <xs:element name="dataLong" type="xs:long"/>
            <xs:element minOccurs="0" name="dataNCName" type="xs:string"/>
            <xs:element minOccurs="0" name="dataNMTOKEN" type="xs:string"/>
            <xs:element minOccurs="0" name="dataName" type="xs:string"/>
            <xs:element minOccurs="0" name="dataNormalizedString" type="xs:string"/>
            <xs:element minOccurs="0" name="dataString" type="xs:string"/>
            <xs:element minOccurs="0" name="dataToken" type="xs:string"/>
            <xs:element name="dataUByte" type="xs:short"/>
            <xs:element name="dataUInt" type="xs:long"/>
            <xs:element name="dataUShort" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tReqAll">
        <xs:sequence>
            <xs:element minOccurs="0" name="dataAnyURI" type="xs:string"/>
            <xs:element name="dataBoolean" type="xs:boolean"/>
            <xs:element name="dataDouble" type="xs:double"/>
            <xs:element minOccurs="0" name="dataENTITY" type="xs:string"/>
            <xs:element name="dataFloat" type="xs:float"/>
            <xs:element minOccurs="0" name="dataID" type="xs:string"/>
            <xs:element name="dataInt" type="xs:int"/>
            <xs:element minOccurs="0" name="dataLanguage" type="xs:string"/>
            <xs:element name="dataLong" type="xs:long"/>
            <xs:element minOccurs="0" name="dataNCName" type="xs:string"/>
            <xs:element minOccurs="0" name="dataNMTOKEN" type="xs:string"/>
            <xs:element minOccurs="0" name="dataName" type="xs:string"/>
            <xs:element minOccurs="0" name="dataNormalizedString" type="xs:string"/>
            <xs:element minOccurs="0" name="dataString" type="xs:string"/>
            <xs:element name="dataUByte" type="xs:short"/>
            <xs:element name="dataUInt" type="xs:long"/>
            <xs:element name="dataUShort" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tResGroup">
        <xs:sequence>
            <xs:element minOccurs="0" name="dataAnyURI" type="xs:string"/>
            <xs:element name="dataBoolean" type="xs:boolean"/>
            <xs:element name="dataDouble" type="xs:double"/>
            <xs:element minOccurs="0" name="dataENTITY" type="xs:string"/>
            <xs:element name="dataFloat" type="xs:float"/>
            <xs:element minOccurs="0" name="dataID" type="xs:string"/>
            <xs:element name="dataInt" type="xs:int"/>
            <xs:element minOccurs="0" name="dataLanguage" type="xs:string"/>
            <xs:element name="dataLong" type="xs:long"/>
            <xs:element minOccurs="0" name="dataNCName" type="xs:string"/>
            <xs:element minOccurs="0" name="dataNMTOKEN" type="xs:string"/>
            <xs:element minOccurs="0" name="dataName" type="xs:string"/>
            <xs:element minOccurs="0" name="dataNormalizedString" type="xs:string"/>
            <xs:element minOccurs="0" name="dataString" type="xs:string"/>
            <xs:element name="dataUByte" type="xs:short"/>
            <xs:element name="dataUInt" type="xs:long"/>
            <xs:element name="dataUShort" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tResCC">
        <xs:sequence>
            <xs:element minOccurs="0" name="dataComplex" type="tns:dComplex"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tReqCC">
        <xs:sequence>
            <xs:element minOccurs="0" name="dataComplex" type="tns:dComplex"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tResSeq">
        <xs:sequence>
            <xs:element minOccurs="0" name="dataAnyURI" type="xs:string"/>
            <xs:element name="dataBoolean" type="xs:boolean"/>
            <xs:element name="dataDouble" type="xs:double"/>
            <xs:element minOccurs="0" name="dataENTITY" type="xs:string"/>
            <xs:element name="dataFloat" type="xs:float"/>
            <xs:element minOccurs="0" name="dataID" type="xs:string"/>
            <xs:element name="dataInt" type="xs:int"/>
            <xs:element minOccurs="0" name="dataLanguage" type="xs:string"/>
            <xs:element name="dataLong" type="xs:long"/>
            <xs:element minOccurs="0" name="dataNCName" type="xs:string"/>
            <xs:element minOccurs="0" name="dataNMTOKEN" type="xs:string"/>
            <xs:element minOccurs="0" name="dataName" type="xs:string"/>
            <xs:element minOccurs="0" name="dataNormalizedString" type="xs:string"/>
            <xs:element minOccurs="0" name="dataString" type="xs:string"/>
            <xs:element name="dataUByte" type="xs:short"/>
            <xs:element name="dataUInt" type="xs:long"/>
            <xs:element name="dataUShort" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>