driver-tests/bpelse/faulthandling/FaultHandlingBpel/src/faulttest/faulttest.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<definitions targetNamespace="http://stc.com/FaultTest"
    name="FaultTest"
    xmlns:tns="http://stc.com/FaultTest"
    xmlns:slnk1="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:tns0="http://stc.com/FaultTest"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns1="http://stc.com/FaultTest"
    xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/">
    <types>
        <xsd:schema targetNamespace="http://stc.com/FaultTest"
        elementFormDefault="qualified"
        xmlns:tns="http://stc.com/FaultTest"
        xmlns:slnk1="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
        xmlns:tns0="http://stc.com/Operation"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns1="http://stc.com/FaultTest"
        xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/">
            
        <xsd:element name="item">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element type="xsd:string" name="retString"></xsd:element>
        
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>      </xsd:schema>   
    </types>
    <message name="FaultTest">
        <part name="part"
        element="tns:item"></part>
    </message>
    <message name="extFaultTest">
        <part name="extpart"
        element="tns:item"></part>
    </message>
    <portType name="FaultTest">
        <operation name="InOutOp">
            <input message="tns:FaultTest"></input>
            <output message="tns:FaultTest"></output>
        </operation>
        <operation name="w1xC">
            <input message="tns:FaultTest"></input>
            <output message="tns:FaultTest"></output>            
        </operation>
        <operation name="w1xD">
            <input message="tns:FaultTest"></input>
            <output message="tns:FaultTest"></output>            
        </operation>
        <operation name="w1xG">
            <input message="tns:FaultTest"></input>
            <output message="tns:FaultTest"></output>            
        </operation>
        <operation name="w2xC">
            <input message="tns:FaultTest"></input>
            <output message="tns:FaultTest"></output>            
        </operation>
        <operation name="w2xD">
            <input message="tns:FaultTest"></input>
            <output message="tns:FaultTest"></output>            
        </operation>
        <operation name="w2xG">
            <input message="tns:FaultTest"></input>
            <output message="tns:FaultTest"></output>            
        </operation>

    </portType>
    <binding name="Binding"
        type="tns:FaultTest">
        <soap:binding style="document"
        transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="InOutOp">
            <soap:operation soapAction="InOutOp"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="w1xC">
            <soap:operation soapAction="w1xC"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>        
        <operation name="w1xD">
            <soap:operation soapAction="w1xD"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="w1xG">
            <soap:operation soapAction="w1xG"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="w2xC">
            <soap:operation soapAction="w2xC"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>            
        </operation>
        <operation name="w2xD">
            <soap:operation soapAction="w2xD"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="w2xG">
            <soap:operation soapAction="w2xG"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="FaultTestService">
        <port name="port"
            binding="tns:Binding">
            <soap:address location="http://localhost:${HttpDefaultPort}/FaultTest"/>
        </port>
    </service>
    <plnk:partnerLinkType name="SLT"
        xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="server"
        portType="tns:FaultTest"></plnk:role>
    </plnk:partnerLinkType>
</definitions>
