driver-tests/jmsbc/JMSBCTests/JMSBCJavaeeSETestEJBModule/src/java/InFromJMSBC.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/InFromJMSBC"
            xmlns:tns="http://xml.netbeans.org/schema/InFromJMSBC"
            elementFormDefault="qualified">
    <xsd:complexType name="InputCType">
        <xsd:sequence>
            <xsd:element name="msg" type="xsd:string"></xsd:element>
            <xsd:element name="id" type="xsd:int"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="InputElement" type="tns:InputCType"></xsd:element>
</xsd:schema>
