driver-tests/bpelse/assign/AssignSelectionFailure/src/MessageType.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/MessageType"
            xmlns:tns="http://xml.netbeans.org/schema/MessageType"
            elementFormDefault="qualified">
    <xsd:element name="xsdMessage">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Element1" type="xsd:string"></xsd:element>
                <xsd:element name="Element2" type="xsd:string"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
