driver-tests/sqlse/db2/SqlSE1158_DB2/SelectAllRowsViewFullSql/src/SelectAllRowsViewFullSql.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SelectAllRowsViewFullSql" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="SelectAllRowsViewFullRequest"><xsd:complexType><xsd:sequence/></xsd:complexType></xsd:element><xsd:element name="SelectAllRowsViewFullResponse"><xsd:complexType><xsd:sequence><xsd:element name="EMPID" type="xsd:int"/><xsd:element name="ENAME" type="xsd:string"/><xsd:element name="DEPTID" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>
  </types>
  <message name="SelectAllRowsViewFullRequest">
    <part name="SelectAllRowsViewFullRequestPart" element="tns:SelectAllRowsViewFullRequest"/>
  </message>
  <message name="SelectAllRowsViewFullResponse">
    <part name="SelectAllRowsViewFullResponsePart" element="tns:SelectAllRowsViewFullResponse"/>
  </message>
  <portType name="SelectAllRowsViewFullSql_sqlsePortType">
    <operation name="SelectAllRowsViewFull">
      <input name="SelectAllRowsViewFullRequest" message="tns:SelectAllRowsViewFullRequest"/>
      <output name="SelectAllRowsViewFullResponse" message="tns:SelectAllRowsViewFullResponse"/>
    </operation>
  </portType>
  <binding name="SelectAllRowsViewFullSqlBinding" type="tns:SelectAllRowsViewFullSql_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SelectAllRowsViewFull">
      <soap:operation/>
      <input name="SelectAllRowsViewFullRequest">
        <soap:body/>
      </input>
      <output name="SelectAllRowsViewFullResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="SelectAllRowsViewFullSql_sqlseService">
    <port name="SelectAllRowsViewFullSql_sqlsePort" binding="tns:SelectAllRowsViewFullSqlBinding">
      <soap:address location="http://localhost:18181/SelectAllRowsViewFullSql/SelectAllRowsViewFullSql/SelectAllRowsViewFullSql_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="SelectAllRowsViewFullSql_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="SelectAllRowsViewFullSql_myrole" portType="tns:SelectAllRowsViewFullSql_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
