driver-tests/iepse/IEPPartitionedWindow/PartitionedWindowIep/src/DeleteStreamInput/DeleteStreamInput.wsdl

<definitions targetNamespace="DeleteStreamInput.DeleteStreamInput_iep"
             xmlns:tns="DeleteStreamInput.DeleteStreamInput_iep"
             xmlns:typens="DeleteStreamInput.DeleteStreamInput_iep"
             xmlns:defns="DeleteStreamInput.DeleteStreamInput_iep"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
    <xsd:schema targetNamespace="DeleteStreamInput.DeleteStreamInput_iep" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="StreamInputCensus_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="MiddleInit" type="xsd:string"/>
                    <xsd:element name="Age" type="xsd:int"/>
                    <xsd:element name="Income" type="xsd:double"/>
                    <xsd:element name="RegionNum" type="xsd:long"/>
                    <xsd:element name="BirthDate" type="xsd:date"/>
                    <xsd:element name="BirthTime" type="xsd:string"/>
                    <xsd:element name="LastUpdate" type="xsd:dateTime"/>
                    <xsd:element name="SDesc" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="StreamInputCensusBatch_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="StreamInputCensus_MsgObj" minOccurs="0" maxOccurs="unbounded">
                        <xsd:complexType>
                            <xsd:sequence>
                    <xsd:element name="LastName" type="xsd:string"/>
                    <xsd:element name="MiddleInit" type="xsd:string"/>
                    <xsd:element name="Age" type="xsd:int"/>
                    <xsd:element name="Income" type="xsd:double"/>
                    <xsd:element name="RegionNum" type="xsd:long"/>
                    <xsd:element name="BirthDate" type="xsd:date"/>
                    <xsd:element name="BirthTime" type="xsd:string"/>
                    <xsd:element name="LastUpdate" type="xsd:dateTime"/>
                    <xsd:element name="SDesc" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="RelationOutput1_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="LastName" type="xsd:string"/>
                   <xsd:element name="MiddleInit" type="xsd:string"/>
                   <xsd:element name="Age" type="xsd:int"/>
                   <xsd:element name="Income" type="xsd:double"/>
                   <xsd:element name="RegionNum" type="xsd:long"/>
                   <xsd:element name="BirthDate" type="xsd:date"/>
                   <xsd:element name="BirthTime" type="xsd:string"/>
                   <xsd:element name="LastUpdate" type="xsd:dateTime"/>
                   <xsd:element name="SDesc" type="xsd:string"/>
                   <xsd:element name="SeqId" type="xsd:string"/>
                   <xsd:element name="Tag" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="RelationOutput2_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="LastName" type="xsd:string"/>
                   <xsd:element name="MiddleInit" type="xsd:string"/>
                   <xsd:element name="Age" type="xsd:int"/>
                   <xsd:element name="Income" type="xsd:double"/>
                   <xsd:element name="RegionNum" type="xsd:long"/>
                   <xsd:element name="BirthDate" type="xsd:date"/>
                   <xsd:element name="BirthTime" type="xsd:string"/>
                   <xsd:element name="LastUpdate" type="xsd:dateTime"/>
                   <xsd:element name="SDesc" type="xsd:string"/>
                   <xsd:element name="SeqId" type="xsd:string"/>
                   <xsd:element name="Tag" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="RelationOutput3_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="LastName" type="xsd:string"/>
                   <xsd:element name="MiddleInit" type="xsd:string"/>
                   <xsd:element name="Age" type="xsd:int"/>
                   <xsd:element name="Income" type="xsd:double"/>
                   <xsd:element name="RegionNum" type="xsd:long"/>
                   <xsd:element name="BirthDate" type="xsd:date"/>
                   <xsd:element name="BirthTime" type="xsd:string"/>
                   <xsd:element name="LastUpdate" type="xsd:dateTime"/>
                   <xsd:element name="SDesc" type="xsd:string"/>
                   <xsd:element name="SeqId" type="xsd:string"/>
                   <xsd:element name="Tag" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="RelationOutput4_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="LastName" type="xsd:string"/>
                   <xsd:element name="MiddleInit" type="xsd:string"/>
                   <xsd:element name="Age" type="xsd:int"/>
                   <xsd:element name="Income" type="xsd:double"/>
                   <xsd:element name="RegionNum" type="xsd:long"/>
                   <xsd:element name="BirthDate" type="xsd:date"/>
                   <xsd:element name="BirthTime" type="xsd:string"/>
                   <xsd:element name="LastUpdate" type="xsd:dateTime"/>
                   <xsd:element name="SDesc" type="xsd:string"/>
                   <xsd:element name="SeqId" type="xsd:string"/>
                   <xsd:element name="Tag" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="RelationOutput5_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="LastName" type="xsd:string"/>
                   <xsd:element name="MiddleInit" type="xsd:string"/>
                   <xsd:element name="Age" type="xsd:int"/>
                   <xsd:element name="Income" type="xsd:double"/>
                   <xsd:element name="RegionNum" type="xsd:long"/>
                   <xsd:element name="BirthDate" type="xsd:date"/>
                   <xsd:element name="BirthTime" type="xsd:string"/>
                   <xsd:element name="LastUpdate" type="xsd:dateTime"/>
                   <xsd:element name="SDesc" type="xsd:string"/>
                   <xsd:element name="SeqId" type="xsd:string"/>
                   <xsd:element name="Tag" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="RelationOutput6_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="LastName" type="xsd:string"/>
                   <xsd:element name="MiddleInit" type="xsd:string"/>
                   <xsd:element name="Age" type="xsd:int"/>
                   <xsd:element name="Income" type="xsd:double"/>
                   <xsd:element name="RegionNum" type="xsd:long"/>
                   <xsd:element name="BirthDate" type="xsd:date"/>
                   <xsd:element name="BirthTime" type="xsd:string"/>
                   <xsd:element name="LastUpdate" type="xsd:dateTime"/>
                   <xsd:element name="SDesc" type="xsd:string"/>
                   <xsd:element name="SeqId" type="xsd:string"/>
                   <xsd:element name="Tag" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="RelationOutput7_MsgObj">
            <xsd:complexType>
                <xsd:sequence>
                   <xsd:element name="LastName" type="xsd:string"/>
                   <xsd:element name="MiddleInit" type="xsd:string"/>
                   <xsd:element name="Age" type="xsd:int"/>
                   <xsd:element name="Income" type="xsd:double"/>
                   <xsd:element name="RegionNum" type="xsd:long"/>
                   <xsd:element name="BirthDate" type="xsd:date"/>
                   <xsd:element name="BirthTime" type="xsd:string"/>
                   <xsd:element name="LastUpdate" type="xsd:dateTime"/>
                   <xsd:element name="SDesc" type="xsd:string"/>
                   <xsd:element name="SeqId" type="xsd:string"/>
                   <xsd:element name="Tag" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
    </xsd:schema>
</types>

<message name="StreamInputCensus_Msg">
    <part name="input" element="typens:StreamInputCensus_MsgObj"/>
</message>
<message name="StreamInputCensusBatch_Msg">
    <part name="input" element="typens:StreamInputCensusBatch_MsgObj"/>
</message>
<message name="RelationOutput1_Msg">
    <part name="output" element="typens:RelationOutput1_MsgObj"/>
</message>
<message name="RelationOutput2_Msg">
    <part name="output" element="typens:RelationOutput2_MsgObj"/>
</message>
<message name="RelationOutput3_Msg">
    <part name="output" element="typens:RelationOutput3_MsgObj"/>
</message>
<message name="RelationOutput4_Msg">
    <part name="output" element="typens:RelationOutput4_MsgObj"/>
</message>
<message name="RelationOutput5_Msg">
    <part name="output" element="typens:RelationOutput5_MsgObj"/>
</message>
<message name="RelationOutput6_Msg">
    <part name="output" element="typens:RelationOutput6_MsgObj"/>
</message>
<message name="RelationOutput7_Msg">
    <part name="output" element="typens:RelationOutput7_MsgObj"/>
</message>

<portType name="InputPt">
    <operation name="StreamInputCensus">
        <input message="tns:StreamInputCensus_Msg"/>
    </operation>
    <operation name="StreamInputCensusBatch">
        <input message="tns:StreamInputCensusBatch_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_RelationOutput1">
    <operation name="RelationOutput1">
        <input message="tns:RelationOutput1_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_RelationOutput2">
    <operation name="RelationOutput2">
        <input message="tns:RelationOutput2_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_RelationOutput3">
    <operation name="RelationOutput3">
        <input message="tns:RelationOutput3_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_RelationOutput4">
    <operation name="RelationOutput4">
        <input message="tns:RelationOutput4_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_RelationOutput5">
    <operation name="RelationOutput5">
        <input message="tns:RelationOutput5_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_RelationOutput6">
    <operation name="RelationOutput6">
        <input message="tns:RelationOutput6_Msg"/>
    </operation>
</portType>
<portType name="OutputPt_RelationOutput7">
    <operation name="RelationOutput7">
        <input message="tns:RelationOutput7_Msg"/>
    </operation>
</portType>

<plnk:partnerLinkType name="InputPlt" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "InputRn" portType="tns:InputPt"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_RelationOutput1" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_RelationOutput1" portType="tns:OutputPt_RelationOutput1"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_RelationOutput2" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_RelationOutput2" portType="tns:OutputPt_RelationOutput2"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_RelationOutput3" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_RelationOutput3" portType="tns:OutputPt_RelationOutput3"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_RelationOutput4" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_RelationOutput4" portType="tns:OutputPt_RelationOutput4"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_RelationOutput5" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_RelationOutput5" portType="tns:OutputPt_RelationOutput5"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_RelationOutput6" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_RelationOutput6" portType="tns:OutputPt_RelationOutput6"/>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="OutputPlt_RelationOutput7" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    <plnk:role name = "OutputRn_RelationOutput7" portType="tns:OutputPt_RelationOutput7"/>
</plnk:partnerLinkType>
<!-- input binding -->
<binding name="InputBinding" type="defns:InputPt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="StreamInputCensus">
        <soap:operation soapAction="StreamInputCensus"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
    <operation name="StreamInputCensusBatch">
        <soap:operation soapAction="StreamInputCensusBatch"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<!-- input service -->
<service name="InputService">
    <port name="InputPort" binding="tns:InputBinding">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/DeleteStreamInput.DeleteStreamInput_iep"/>
    </port>
</service>

<!-- http output binding and service
<binding name="OutputBinding_RelationOutput1" type="defns:OutputPt_RelationOutput1">
    <operation name="RelationOutput1">
        <soap:operation soapAction="RelationOutput1"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_RelationOutput2" type="defns:OutputPt_RelationOutput2">
    <operation name="RelationOutput2">
        <soap:operation soapAction="RelationOutput2"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_RelationOutput3" type="defns:OutputPt_RelationOutput3">
    <operation name="RelationOutput3">
        <soap:operation soapAction="RelationOutput3"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_RelationOutput4" type="defns:OutputPt_RelationOutput4">
    <operation name="RelationOutput4">
        <soap:operation soapAction="RelationOutput4"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_RelationOutput5" type="defns:OutputPt_RelationOutput5">
    <operation name="RelationOutput5">
        <soap:operation soapAction="RelationOutput5"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_RelationOutput6" type="defns:OutputPt_RelationOutput6">
    <operation name="RelationOutput6">
        <soap:operation soapAction="RelationOutput6"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_RelationOutput7" type="defns:OutputPt_RelationOutput7">
    <operation name="RelationOutput7">
        <soap:operation soapAction="RelationOutput7"/>
        <input>
            <soap:body use="literal"/>
        </input>
    </operation>
</binding>
<service name="OutputService_RelationOutput1">
    <port name="OutputPort_RelationOutput1" binding="tns:OutputBinding_RelationOutput1">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/DeleteStreamInput.DeleteStreamInput_iep_RelationOutput1_callee"/>
    </port>
</service>
<service name="OutputService_RelationOutput2">
    <port name="OutputPort_RelationOutput2" binding="tns:OutputBinding_RelationOutput2">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/DeleteStreamInput.DeleteStreamInput_iep_RelationOutput2_callee"/>
    </port>
</service>
<service name="OutputService_RelationOutput3">
    <port name="OutputPort_RelationOutput3" binding="tns:OutputBinding_RelationOutput3">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/DeleteStreamInput.DeleteStreamInput_iep_RelationOutput3_callee"/>
    </port>
</service>
<service name="OutputService_RelationOutput4">
    <port name="OutputPort_RelationOutput4" binding="tns:OutputBinding_RelationOutput4">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/DeleteStreamInput.DeleteStreamInput_iep_RelationOutput4_callee"/>
    </port>
</service>
<service name="OutputService_RelationOutput5">
    <port name="OutputPort_RelationOutput5" binding="tns:OutputBinding_RelationOutput5">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/DeleteStreamInput.DeleteStreamInput_iep_RelationOutput5_callee"/>
    </port>
</service>
<service name="OutputService_RelationOutput6">
    <port name="OutputPort_RelationOutput6" binding="tns:OutputBinding_RelationOutput6">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/DeleteStreamInput.DeleteStreamInput_iep_RelationOutput6_callee"/>
    </port>
</service>
<service name="OutputService_RelationOutput7">
    <port name="OutputPort_RelationOutput7" binding="tns:OutputBinding_RelationOutput7">
        <soap:address location="http://localhost:${HttpDefaultPort}/service/DeleteStreamInput.DeleteStreamInput_iep_RelationOutput7_callee"/>
    </port>
</service>
 end of http output binding and service -->

<!-- file output binding and service -->
<binding name="OutputBinding_RelationOutput1" type="defns:OutputPt_RelationOutput1">
    <file:binding/>
    <operation name="RelationOutput1">
        <file:operation/>
        <input>
            <file:message fileName="RelationOutput1.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_RelationOutput2" type="defns:OutputPt_RelationOutput2">
    <file:binding/>
    <operation name="RelationOutput2">
        <file:operation/>
        <input>
            <file:message fileName="RelationOutput2.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_RelationOutput3" type="defns:OutputPt_RelationOutput3">
    <file:binding/>
    <operation name="RelationOutput3">
        <file:operation/>
        <input>
            <file:message fileName="RelationOutput3.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_RelationOutput4" type="defns:OutputPt_RelationOutput4">
    <file:binding/>
    <operation name="RelationOutput4">
        <file:operation/>
        <input>
            <file:message fileName="RelationOutput4.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_RelationOutput5" type="defns:OutputPt_RelationOutput5">
    <file:binding/>
    <operation name="RelationOutput5">
        <file:operation/>
        <input>
            <file:message fileName="RelationOutput5.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_RelationOutput6" type="defns:OutputPt_RelationOutput6">
    <file:binding/>
    <operation name="RelationOutput6">
        <file:operation/>
        <input>
            <file:message fileName="RelationOutput6.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal"/>
        </input>
    </operation>
</binding>
<binding name="OutputBinding_RelationOutput7" type="defns:OutputPt_RelationOutput7">
    <file:binding/>
    <operation name="RelationOutput7">
        <file:operation/>
        <input>
            <file:message fileName="RelationOutput7.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal"/>
        </input>
    </operation>
</binding>
<service name="OutputService_RelationOutput1">
    <port name="OutputPort_RelationOutput1" binding="tns:OutputBinding_RelationOutput1">
        <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPPartitionedWindow/PartitionedWindowApp/test/DeleteStreamInput"/>
    </port>
</service>
<service name="OutputService_RelationOutput2">
    <port name="OutputPort_RelationOutput2" binding="tns:OutputBinding_RelationOutput2">
        <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPPartitionedWindow/PartitionedWindowApp/test/DeleteStreamInput"/>
    </port>
</service>
<service name="OutputService_RelationOutput3">
    <port name="OutputPort_RelationOutput3" binding="tns:OutputBinding_RelationOutput3">
        <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPPartitionedWindow/PartitionedWindowApp/test/DeleteStreamInput"/>
    </port>
</service>
<service name="OutputService_RelationOutput4">
    <port name="OutputPort_RelationOutput4" binding="tns:OutputBinding_RelationOutput4">
        <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPPartitionedWindow/PartitionedWindowApp/test/DeleteStreamInput"/>
    </port>
</service>
<service name="OutputService_RelationOutput5">
    <port name="OutputPort_RelationOutput5" binding="tns:OutputBinding_RelationOutput5">
        <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPPartitionedWindow/PartitionedWindowApp/test/DeleteStreamInput"/>
    </port>
</service>
<service name="OutputService_RelationOutput6">
    <port name="OutputPort_RelationOutput6" binding="tns:OutputBinding_RelationOutput6">
        <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPPartitionedWindow/PartitionedWindowApp/test/DeleteStreamInput"/>
    </port>
</service>
<service name="OutputService_RelationOutput7">
    <port name="OutputPort_RelationOutput7" binding="tns:OutputBinding_RelationOutput7">
        <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPPartitionedWindow/PartitionedWindowApp/test/DeleteStreamInput"/>
    </port>
</service>
<!-- end of file output binding and service -->
</definitions>
