driver-tests/bpelse/CAPSIntegration/BPtoJCDEAP/prjPfizerSupplyChainEAP_BPEL_JMS_2/src/Partners/jcdLoadBuiltInManu/jcdLoadBuiltInManu.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="prjPfizerSupplyChainEAP_CAPS_prjLoadTracker_TechnicalSvcs_OTDs_Custom_jcdLoadBuiltInManu" targetNamespace="urn:stc:egate:jce:prjPfizerSupplyChainEAP_CAPS_prjLoadTracker_TechnicalSvcs_OTDs_Custom_jcdLoadBuiltInManu" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:stc:egate:jce:prjPfizerSupplyChainEAP_CAPS_prjLoadTracker_TechnicalSvcs_OTDs_Custom_jcdLoadBuiltInManu" xmlns:inMsg="http://xml.netbeans.org/schema/pfizer/OTDLoadAttributes" xmlns:errMsg="urn:stc:egate:jce:JavaException" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:outMsg="http://xml.netbeans.org/schema/pfizer/OTDLoadAttributes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://xml.netbeans.org/schema/pfizer/OTDLoadAttributes">
  <types>
    <xs:schema elementFormDefault="qualified" id="UID-26000000-87FFFC8F180100-8199A732-01" targetNamespace="urn:stc:egate:jce:JavaException" xmlns="urn:stc:egate:jce:JavaException" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:element name="JavaException" type="JavaExceptionType"/>
            <xs:complexType name="JavaExceptionType">
                <xs:sequence>
                    <xs:element name="Type" type="xs:string"/>
                    <xs:element name="Message" type="xs:string"/>
                    <xs:element name="Trace" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    <xsd:schema targetNamespace="urn:stc:egate:jce:prjPfizerSupplyChainEAP_CAPS_prjLoadTracker_TechnicalSvcs_OTDs_Custom_jcdLoadBuiltInManu">
      <xsd:import schemaLocation="../../Partners/jcdLoadBuiltInManu/LOAD_ATTRIBUTES.xsd" namespace="http://xml.netbeans.org/schema/pfizer/OTDLoadAttributes"/>
    </xsd:schema>
  </types>
  <message name="JavaExceptionMessage">
    <part name="FaultDetails" element="errMsg:JavaException"/>
  </message>
  <message name="Input">
    <part name="Body" element="inMsg:LOAD_ATTRIBUTES"/>
  </message>
  <message name="Output">
    <part name="Body" element="inMsg:LOAD_ATTRIBUTE_REPLY"/>
  </message>
  <portType name="ExecutePortType">
    <operation name="invoke">
      <input name="Input" message="tns:Input"/>
      <output name="Output" message="tns:Output"/>
      <fault name="JavaException" message="tns:JavaExceptionMessage"/>
    </operation>
  </portType>
  <binding name="ExecutePortTypeBinding" type="tns:ExecutePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="invoke">
      <soap:operation soapAction="urn:stc:egate:jce:prjPfizerSupplyChainEAP_CAPS_prjLoadTracker_TechnicalSvcs_OTDs_Custom:jcdLoadBuiltInManuWSDL:invoke" style="document"/>
      <input name="Input">
        <soap:body parts="Body" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:stc:egate:jce:prjPfizerSupplyChainEAP_CAPS_prjLoadTracker_TechnicalSvcs_OTDs_Custom:jcdLoadBuiltInManuWSDL"/>
      </input>
      <output name="Output">
        <soap:body parts="Body" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:stc:egate:jce:prjPfizerSupplyChainEAP_CAPS_prjLoadTracker_TechnicalSvcs_OTDs_Custom:jcdLoadBuiltInManuWSDL"/>
      </output>
      <fault name="JavaException">
        <soap:fault name="JavaException" use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:stc:egate:jce:prjPfizerSupplyChainEAP_CAPS_prjLoadTracker_TechnicalSvcs_OTDs_Custom:jcdLoadBuiltInManuWSDL"/>
      </fault>
    </operation>
  </binding>
  <service name="prjPfizerSupplyChainEAP_CAPS_prjLoadTracker_TechnicalSvcs_OTDs_Custom_jcdLoadBuiltInManuService">
    <port name="ExecutePortType" binding="tns:ExecutePortTypeBinding">
      <soap:address location="http://localhost:${HttpDefaultPort}/prjPfizerSupplyChainEAP_CAPS_prjLoadTracker_TechnicalSvcs_OTDs_Custom_jcdLoadBuiltInManuService/ExecutePortType"/>
    </port>
  </service>
</definitions>
