driver-tests/sqlse/derby/updateoneparamJbi/src/jbiServiceUnits/updateoneparamSQL/updateoneparamSQL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="updateoneparamSQL" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:tns="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://com.sun.jbi/sqlse/sqlseengine" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="updateoneparamRequest"><xsd:complexType><xsd:sequence><xsd:element name="param1" type="xsd:int"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="numRowsEffected" type="xsd:int"/></xsd:schema>
  </types>
  <message name="updateoneparamResponse">
    <part name="updateoneparamResponsePart" element="tns:numRowsEffected"/>
  </message>
  <message name="updateoneparamRequest">
    <part name="updateoneparamRequestPart" element="tns:updateoneparamRequest"/>
  </message>
  <portType name="updateoneparamSQL_sqlsePortType">
    <operation name="updateoneparam">
      <input name="updateoneparamRequest" message="tns:updateoneparamRequest"/>
      <output name="updateoneparamResponse" message="tns:updateoneparamResponse"/>
    </operation>
  </portType>
  <binding name="updateoneparamSQLBinding" type="tns:updateoneparamSQL_sqlsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="updateoneparam">
      <soap:operation/>
      <input name="updateoneparamRequest">
        <soap:body/>
      </input>
      <output name="updateoneparamResponse">
        <soap:body/>
      </output>
    </operation>
  </binding>
  <service name="updateoneparamSQL_sqlseService">
    <port name="updateoneparamSQL_sqlsePort" binding="tns:updateoneparamSQLBinding">
      <soap:address location="http://localhost:18181/updateoneparamSQL/updateoneparamSQL/updateoneparamSQL_sqlsePort"/>
    </port>
  </service>
    <plink:partnerLinkType name="updateoneparamSQL_sqlsePartnerLinkType" xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plink:role name="updateoneparamSQL_myrole" portType="tns:updateoneparamSQL_sqlsePortType"/>
    </plink:partnerLinkType>
</definitions>
