driver-tests/ftpbc/JavaEE_vs_BC/GreeterGreeteeJavaEE/src/conf/xml-resources/web-services/LocalFileService/wsdl/RequestMessageSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/RequestMessageSchema"
            xmlns:tns="http://xml.netbeans.org/schema/RequestMessageSchema"
            elementFormDefault="qualified">
    <xsd:complexType name="RequestType">
        <xsd:sequence>
            <xsd:element name="requestElement" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ReqMessage" type="tns:RequestType"></xsd:element>
</xsd:schema>
