driver-tests/iepse/IEPUnionAll/UnionAllCApp/src/jbiasa/UnionAllCApp.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  This file is auto-generated by CASA. 
  Edit its content manually may cause unrecoverable errors.
-->

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="UnionAllCApp"
             xmlns:tns="UnionAllCApp" xmlns:ns="RelationAggregatorInputSimple.test_iep" xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="RelationAggregatorInputRelationStreamOut.test_iep">
    <import namespace="RelationAggregatorInputSimple.test_iep" location="../jbiServiceUnits/UnionAllCIep/RelationAggregatorInputSimple/test.wsdl"/>
    <import namespace="RelationAggregatorInputRelationStreamOut.test_iep" location="../jbiServiceUnits/UnionAllCIep/RelationAggregatorInputRelationStreamOut/test.wsdl"/>
    <portType name="dummyCasaPortType"/>
    <binding name="casaBinding1" type="ns:OutputPt_StreamOutput0">
        <file:binding/>
        <operation name="StreamOutput0">
            <file:operation />
            <input>
                <file:message fileName="actual.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding2" type="ns:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput1">
            <soap:operation soapAction="StreamInput1"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput1Batch">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding3" type="ns1:OutputPt_StreamOutput0">
        <file:binding/>
        <operation name="StreamOutput0">
            <file:operation />
            <input>
                <file:message fileName="actual.txt"
                    fileNameIsPattern="false"
                    addEOL="false"
                    multipleRecordsPerFile="true"
                    use="literal"/>
            </input>
        </operation>
    </binding>
    <binding name="casaBinding4" type="ns1:InputPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="StreamInput0">
            <soap:operation soapAction="StreamInput0"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput0Batch">
            <soap:operation soapAction="StreamInput0Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput1">
            <soap:operation soapAction="StreamInput1"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="StreamInput1Batch">
            <soap:operation soapAction="StreamInput1Batch"/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="casaService1">
        <port name="casaPort1" binding="tns:casaBinding1">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPUnionAll/UnionAllCApp/test/RelationAggregatorInputSimple" />
        </port>
    </service>
    <service name="casaService2">
        <port name="casaPort2" binding="tns:casaBinding2">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/UnionAllCApp/RelationAggregatorInputSimple.test_iep"/>
        </port>
    </service>
    <service name="casaService3">
        <port name="casaPort3" binding="tns:casaBinding3">
            <file:address fileDirectory="${ojc-root}/driver-tests/iepse/IEPUnionAll/UnionAllCApp/test/RelationAggregatorInputRelationStreamOut" />
        </port>
    </service>
    <service name="casaService4">
        <port name="casaPort4" binding="tns:casaBinding4">
            <soap:address location="http://localhost:${HttpDefaultPort}/service/UnionAllCApp/RelationAggregatorInputRelationStreamOut.test_iep"/>
        </port>
    </service>
</definitions>
